[2015-08-20 13:08] samreid opened #293 "Investigate the google closure compiler"
At a Boulder JavaScript meetup yesterday, one of the lightning talkers suggested swapping out the uglify2 minifier for the google closure compiler.

I tried it and noticed the following:
(1) (Helpful?) Warning messages that indicated missing JSDoc entries, unreachable code, suspicious code, etc:

[code]

(2) Using these parameters `--language_in=ECMASCRIPT5 --compilation_level=ADVANCED` the minifi

[2015-08-20 13:14] samreid commented on #290
Yes, I think it has generally been a good idea to move initialization of data structures to the plugins that use them.

[2015-08-20 13:54] pixelzoom commented on #288
Hmmm. I must've been searching is something other than *.js, sorry about that.  Closing.

[2015-08-20 14:07] pixelzoom opened #294 "chipper/bin/ scripts may run with stale data files"
pull-all.sh should start by pulling chipper, so that it has the latest active-repos file.

[2015-08-20 14:13] pixelzoom commented on #294
This appears to be a general problem with (all?) chipper/bin/ scripts that read active-repos or active-runnables.

(1) Pull chipper automatically. someone may not appreciate the pull.

(2) `git status` chipper and error out if you're not up to date (with a possible `--force` flag?)

(3) Leave as is.

[2015-08-20 14:20] pixelzoom opened #295 "support optional input filename for grunt-all.sh"
Use cases:

(1) I want to run `grunt-all.sh lint` to verify that all lintable repositories are passing. The grunt-all.sh script reads chipper/data/active-runnables, which doesn't include may common-code repos. What I'd really like is `grunt-all.sh -repos /myPath/chipper/data/active-repos lint`

(2) I want to run `grunt-all.sh build` for a set of sims. My workaround now is to hack active-runnables

[2015-08-20 14:25] #290 closed

[2015-08-20 14:30] pixelzoom commented on #290
Reopening. I realized that I didn't test for the case where no media plugins are called, and therefore `global.phet.chipper.licenseEntries` is never initialized.  I don't believe this currently happens. But it would cause afterRequirejsBuild.js to fail an assertion.

[2015-08-20 14:39] pixelzoom commented on #290
Case handled.  Closing again.

[2015-08-20 14:46] #289 closed

[2015-08-20 14:49] pixelzoom commented on #288
Reopening. There are still some things I'm not clear about.

[2015-08-20 14:51] pixelzoom commented on #288
Here's the code in beforeRequirejsBuild.js:

`global.phet.chipper.getCacheBusterArgs = global.phet.chipper.getCacheBusterArgs || function() { return ''; };`

When would `global.phet.chipper.getCacheBusterArgs` already be defined? Why isn't it simply this?:

`global.phet.chipper.getCacheBusterArgs = function() { return ''; };`

[2015-08-20 14:52] pixelzoom commented on #288
Would it be OK to move this to the global initialization that takes place in Gruntfile.js? I.e.:

[code]

[2015-08-20 15:01] pixelzoom commented on #281
`global.phet.localesToBuild` no longer exists, replaced by `buildConfig.locales`.

[2015-08-20 15:02] jonathanolson commented on #288
Probably. If in build-mode, it should presumably always return the empty string.

[2015-08-20 15:02] pixelzoom opened #296 "initialize and document all globals in one place?"
We currently set some globals at the top of Gruntfile.js, like this:

[code]

How about consolidating all initialization and documentation here? E.g.:

[code]

[2015-08-20 15:07] pixelzoom commented on #288
Verified that `global.phet.chipper.getCacheBusterArgs` is `undefined` in beforeRequirejsBuild.js.  So I'm going to simplify it and move it to global initialization as described in #296.

[2015-08-20 15:10] pixelzoom commented on #296
I went ahead and did this, didn't see any down side. @samreid please review.

[2015-08-20 15:10] pixelzoom commented on #288
Moved to global initialization block in Gruntfile.js. @jonathanolson please review.

[2015-08-20 15:12] pixelzoom commented on #291
As the result of the above-mentioned issues, beforeRequirejsBuild.js has been reduced to:

`grunt.log.debug( 'Building simulation: ' + name + ' ' + version );`

I think we can live without this, so I'm going to disappear beforeRequirejsBuild.js.

[2015-08-20 15:16] #291 closed

[2015-08-20 15:43] samreid commented on #285
@jonathanolson's suggestion sounds like worth investigation.  But we should also discuss whether to use fs.read or grunt.file and whether to use the sync or async versions.

[2015-08-20 16:31] pcj commented on #293
A few comments:

* Use `--compilation_level=SIMPLE` to optimize without making code-breaking changes.

* Changing from uglifyjs to closure-compiler only for the purpose of making your code smaller is probably not worth it.  IMHO you should consider it if: (1) you want static typing, (2) you want to use the closure javascript library.

* The closure compiler only knows about types if you tell it wh

[2015-08-20 17:31] pixelzoom commented on #295
Done. Will mention this at dev meeting so that all developers are aware of it.

[2015-08-20 17:32] pixelzoom commented on #295
usage: `grunt-all.sh [-f fileOfRepoNames] [gruntTask]`

[2015-08-20 17:49] pixelzoom commented on #232
No objections at dev meeting.

[2015-08-20 17:52] pixelzoom commented on #281
Dev meeting consensus: OK to move under `global.phet.chipper`.

[2015-08-20 17:53] pixelzoom commented on #282
8/20/15 meeting consensus: Move into tasks/functions.

[2015-08-20 17:54] pixelzoom commented on #284
8/20/15 consensus is leave as is. Closing.

[2015-08-20 17:54] #284 closed

[2015-08-20 17:57] pixelzoom commented on #285
8/20/15 dev meeting: I'll investigate moving to `grunt.file`.

[2015-08-20 18:05] pixelzoom commented on #285
build-server uses global.fs because it doesn't have grunt.
common uses global.js because it needs to run in both requirejs and build modes.

Consensus at 8/20/15 dev meeting:
• Convert to `grunt.file` where we have access to grunt.
• Use `global.fs` where we don't to grunt.
• Remove antipattern identified in https://github.com/phetsims/chipper/issues/285#issuecomment-132839296 where possible (incl

[2015-08-20 18:06] pixelzoom commented on #287
We can't move this to beforeRequirejsBuild.js because it doesn't exist anymore.

[2015-08-20 18:07] pixelzoom commented on #287
8/20/15 dev consensus: Up to me.

[2015-08-20 18:08] pixelzoom commented on #292
Consensus at 8/20/15 dev meeting: Sounds like a good idea, I'll go for it.

[2015-08-20 18:11] #248 closed

[2015-08-20 18:17] pixelzoom commented on #293
8/20/15 dev meeting notes:

Possible advantages:

• better type checking
• better error checking
• faster downloads (smaller minified code)
• faster running code

Possible disadvantages:

• might require moving away from RequireJS, which would require major code changes
• slower build times (unless you keep the JVM running)

[2015-08-20 18:23] pixelzoom commented on #293
-1 using this.

[2015-08-20 18:25] samreid commented on #293
@jonathanolson said that the closure compiler would likely have difficulty in dealing with our dynamically generated properties or methods.

[2015-08-20 18:26] samreid commented on #293
Consensus from meeting: We decided not to pursue this at the moment.

[2015-08-20 18:26] #293 closed

[2015-08-20 18:32] pixelzoom commented on #294
Leaving as is, you have been warned.

[2015-08-20 18:32] #294 closed

[2015-08-20 19:05] pixelzoom commented on #116
I'm going to take a stab at this.

[2015-08-20 19:23] pixelzoom opened #297 "buggy call to deploySimulation"
I ran across this while working on #282.

In Gruntfile.js, I see 2 calls to `deploySimulation`:

[code]

The second call looks buggy. In deploySimulaton.js, the second parameter is documented as:

`@param {boolean} devDeploy deploy to development server instead of production if true`

[2015-08-20 19:24] pixelzoom commented on #297
And in fact the 2nd arg is immediately converted to a boolean in deploySimulaton.js:

`41 devDeploy = !!devDeploy; // cast to boolean`

[2015-08-20 19:28] pixelzoom opened #298 "deploy-production should deploy to both dev and production"
Perhaps I'm missing it, but I don't see where this is happening.  This task is implemented in deploySimulation.js, and it seems to deploy to dev *or* production (not both), based on `--deployDev`.  It should be both in all cases.

[2015-08-20 19:44] pixelzoom commented on #282
This bit of option processing will (necessarily) continue to live in Gruntfile.js:

[code]

[2015-08-20 19:53] pixelzoom opened #299 "missing --buildServer in help descriptions"
checkoutShas.js reads `grunt.option( 'buildServer' )`, but there is no indication of this in the help descriptions for tasks `checkout-shas` and `checkout-master`.

[2015-08-20 19:58] pixelzoom commented on #299
For these tasks, `--buildServer` is reserved for use by build-server, and shouldn't be used by other clients. So I've documented it as such, and will not add `--buildServer` to the help for these tasks.

There's a semantic overloading problem here: `--buildServer` has 2 different meanings. For task deploy-dev, it mean "run the deploy on the build server". For tasks checkout-shas andcheckout-master

[2015-08-20 20:02] pixelzoom commented on #282
The final options to address are related to deploySimulation.js. Waiting to do those until https://github.com/phetsims/chipper/issues/297 is addressed.

[2015-08-20 20:13] jbphet commented on #279
I've looked through the code and I think @pixelzoom's detective work makes sense.  The commits look reasonable, and I searched the code and found no occurrences of phetLocale, and the usages of the work 'locale' seem reasonable.  I also did a build with ```es,en``` specified as locales and it succeeded.  Looks good, closing.

[2015-08-20 20:13] #279 closed

[2015-08-20 20:14] pixelzoom commented on #281
Done. Since this was a string replace, I'm not going to have anyone review it. Closing.

[2015-08-20 20:14] #281 closed

[2015-08-20 20:22] pixelzoom commented on #285
Evaluation of what needs to be done...

Places where 'fs' can be replaced with 'grunt.file':
• 19 occurrences in chipper/js/grunt

Places where `grunt.file.exists` needs to be replaced with `grunt.file` method of "open file and handle error":
• 12 occurrences in chipper/js/grunt

Places where 'fs.existsFileSync` needs to be replaced with 'fs' method of "open file and handle error":
• 18 occurrence

[2015-08-20 22:53] pixelzoom opened #300 "global.fs in Gruntfile.js"
Address this in Gruntfile.js:

[code]

Either make it go away (unlikely, since code that needs it runs in requirejs mode), or move it to `global.phet.chipper.fs`.

[2015-08-20 22:54] pixelzoom commented on #300
Related to https://github.com/phetsims/chipper/issues/285

[2015-08-20 22:56] pixelzoom opened #301 "factor getGruntConfig out of getBuildConfig"
Creating the grunt config is a large chunk of getBuildConfig. And it's only need in Gruntfile.js, to call `grunt.initConfig`.  So it makes sense to factor this out into a separate getGruntConfig.js file.

[2015-08-20 23:09] pixelzoom commented on #301
Related to #232 (abstraction for build options).

[2015-08-20 23:10] pixelzoom commented on #301
getBuildConfig was getting too big, and the grunt config seemed a bit out of place. I like this much better. Assigning to @samreid for review/comment. If it looks ok, please close.

[2015-08-20 23:17] pixelzoom commented on #270
@jbphet Note that this workaround is now modifying the `version` field in buildConfig, whose fields are all documented as being `@public (read-only)`.  See getBuildConfig.js.  So this workaround has been less desirable.

[2015-08-20 23:28] pixelzoom commented on #270
I moved this workaround to getBuildConfig.js, so that it's not modifying a read-only field.

[2015-08-20 23:51] pixelzoom opened #302 "support a default value for simTitleStringKey in package.json"
This boilerplate entry appears in most package.json files:

`"simTitleStringKey": "REPO/repo.name"`

Specific example:

`"simTitleStringKey": "ACID_BASE_SOLUTIONS/acid-base-solutions.name"`

Two things here:

(1) Instead of repeating this in every package.json, can we simply default it to "REPO/repo.name"? And if any sim deviates from this pattern, then it can include a package.json entry. We alre

[2015-08-20 23:55] pixelzoom commented on #302
Here's the 1-line implementation of this that would go in getBuildConfig.js:

`buildConfig.simTitleStringKey = packageJSON.phet.simTitleStringKey ||
  ( buildConfig.requirejsNamespace + '/' + buildConfig.name + '.name';`

[2015-08-21 00:01] pixelzoom commented on #302
Skype:
[8/20/15, 5:59:26 PM] Sam Reid: sounds good to me, it will make exceptions to the rule more obvious

[2015-08-21 00:29] pixelzoom commented on #302
There are 4 exceptions to the "REPO/repo.name" pattern:

friction
ohms-law
resistance-in-a-wire
wave-on-a-string

[2015-08-21 00:34] pixelzoom commented on #295
Reopening. This made it impossible to pass through grunt options, e.g. `grunt-all.sh build --lint=false`.

[2015-08-21 00:35] pixelzoom commented on #255
Another suggestion for improvement... Do lint as a separate step (including common repos), then do `build --lint=false`.  Lint is expensive, and we're linting the same files over and over.

[2015-08-21 00:37] pixelzoom commented on #302
balloons-and-static-electricity is also nonstandard:
`"simTitleStringKey": "balloons.name"`

[2015-08-21 00:39] pixelzoom commented on #287
I'm going to leave this as is.

[2015-08-21 00:39] #287 closed

[2015-08-21 01:00] pixelzoom commented on #232
All build and plugin code is now using information supplied by getBuildConfig.js.

build-server.js is still reading package.json and build-local.json directly. And perhaps it should continue to do so. It doesn't have access to grunt, which is required by getBuildConfig.js. And in the case of build-local.json, it has its own set of fields that it's interested in that are not related to the build pr

[2015-08-21 01:04] pixelzoom commented on #232
deployDev and deploySimulation are also reading build-local.json directly, for these fields:

devUsername
devDeployServer
devDeployPath
buildServerAuthorizationCode
productionServerName
productionServerURL

Options, from most to least work:

(1) Create a new abstraction, e.g. getDeployCong.js
(2) Add these field to getBuildConfig.js
(3) Leave as is

@aaronsamuel137 you opinion?

[2015-08-21 01:14] pixelzoom commented on #302
All sims verified to build with `grunt.sh build`.

Change announced to Google Groups at https://groups.google.com/forum/#!topic/developing-interactive-simulations-in-html5/NEEtIEIVD0w.

Closing.

[2015-08-21 01:14] #302 closed

[2015-08-21 05:12] samreid commented on #255
Another suggestion for improvement: aggregate the results at the top in a readout like "22/31" (successes/attempts)

[2015-08-21 14:26] aaronsamuel137 commented on #297
Good catch @pixelzoom. This bug was a remnant from a past version where the server name was passed instead of a boolean.

Assigning to @pixelzoom for review.

[2015-08-21 14:56] aaronsamuel137 commented on #299
I've removed the build-server option from deploy-dev since it doesn't seem necessary. There is no reason why people would want to deploy dev from the build server instead of locally, and the build server already copies to spot on deploys anyway.

Assigning to @pixelzoom for review.

[2015-08-21 14:58] aaronsamuel137 commented on #298
Good point. I've removed the --deployDev option as it seems unnecessary. Also renamed deploySimulation to deployProduction.

deployProduction now calls deployDev as one of its first steps.

Assigning to @pixelzoom for review.

[2015-08-21 15:04] aaronsamuel137 commented on #232
I would agree that (1) is the best option, with (3) being my second choice. Feel free to assign to me if you'd like me to take care of this.

[2015-08-21 17:12] pixelzoom commented on #298
Skype:

[8/21/15, 11:09:01 AM] Aaron Davis: I renamed it to deployProduction
[8/21/15, 11:09:21 AM] Aaron Davis: seemed like a better name to contrast deployDev
[8/21/15, 11:09:23 AM] Chris Malley: Ah.
[8/21/15, 11:09:57 AM] Chris Malley: Instead of calling deployDev inside deployProduction, how about changing the grunt task callback to:
[8/21/15, 11:09:58 AM] Chris Malley: function() {
  deployDe

[2015-08-21 17:14] pixelzoom commented on #282
deploySimulation (now deployProduction) options were handled in https://github.com/phetsims/chipper/issues/298. So this is done.  Closing.

[2015-08-21 17:14] #282 closed

[2015-08-21 17:15] pixelzoom commented on #295
Let me know if this is affecting anyone other than me, and I'll revert.

[2015-08-21 17:15] pixelzoom commented on #297
:+1: Closing.

[2015-08-21 17:15] #297 closed

[2015-08-21 17:16] pixelzoom commented on #299
:+1: Closing.

[2015-08-21 17:16] #299 closed

[2015-08-21 17:19] samreid commented on #295
To me, the grunt options are more important than the -f files option, but I rarely use this (once every couple of weeks)?

[2015-08-21 17:26] pixelzoom commented on #285
Looking at the anti-pattern recommendation... I realize that *in general* there can be a race condition. But that's highly unlikely to be the case with any files that we're reading.

The pattern we're using now is:

[code]

and `grunt` output looks like this:

[code]

Handling the read/open error would look like this:

[code]

and `grunt` output looks like this:

[code]

Interestingly, not handlin

[2015-08-21 17:26] pixelzoom commented on #285
So... I'm inclined to forgo the error checking since (a) the code is more compact and (b) the end result is the same.

I'd like feedback from @samreid and @jonathanolson before proceeding.

[2015-08-21 17:32] pixelzoom commented on #285
Does the anti-pattern recommendation also apply for optional files?

Eg, should we read build-local.json like this:

[code]

Or like this?

[code]

[2015-08-21 17:38] aaronsamuel137 commented on #298
Implemented the suggestion above. Assigning to @pixelzoom for review.

[2015-08-21 17:38] pixelzoom commented on #285
Skype:

[8/21/15, 11:35:49 AM] Sam Reid: Your proposed approach sounds great for required files.
[8/21/15, 11:36:39 AM] Chris Malley: Many grunt.file.read are already using that pattern (e.g.  build/repo.min.js in afterRequirejsBuild.js line 197)
[8/21/15, 11:36:54 AM] Sam Reid: anything else I should comment on?
[8/21/15, 11:37:01 AM] Chris Malley: preference on pattern for optional files?
[8/21/

[2015-08-21 17:52] pixelzoom commented on #285
Accidentally deleted changes to getBuildConfig.js in https://github.com/phetsims/chipper/commit/156bdafe4bbd2439cb7b2fe4013aee0befc795a2, will fix momentarily.

[2015-08-21 18:31] pixelzoom opened #303 "deployProduction.js method of determining repo name"
deployProduction.js gets the repository name like this:

[code]

`package.json` is read elsewhere in this file. Whey not skip the platform-specific code and just use `pkg.name`?

[2015-08-21 18:35] pixelzoom commented on #303
@aaronsamuel137 I did this, along with some change related to #285. Please review and see what you think.

[2015-08-21 18:42] pixelzoom opened #304 "verification of build directory in generateThumbnails.js"
In generateThumbnails.js:

[code]

This doesn't handle the case where 'build' exists, but is not a directory.  In that case, this should bail. See `grunt.file.isDir`.

[2015-08-21 18:54] pixelzoom commented on #285
Here's an interesting case, in the `clean` task. I tried this:

[code]

And this prints a warning:

[code]

Personally, I don't want to see this warning.  So I'm going to do revert to this:

[code]

[2015-08-21 19:10] pixelzoom opened #305 "why are string files read with 'utf8' encoding?"
Related to #285 (replacing fs with grunt.file)...

In afterRequirejsBuild.js, we had this:

`var fileContents = JSON.parse( fs.readFileSync( stringsFilename, 'utf8' ) );`

which I replaced with:

`var fileContents = grunt.file.readJSON( stringsFilename, { encoding: 'utf8' } );`

I'm not clear on why the strings files needs to be read with a specific encoding.  @jonathanolson can you clarify?

[2015-08-21 19:28] pixelzoom commented on #300
I moved global.js to global.phet.chipper.fs, and documented why it's necessary.  @samreid does this look acceptable? If so, please close.

[2015-08-21 19:36] pixelzoom opened #306 "remove grunt.file.exists from reportThirdParty.js"
Broken out from #285...

Where possible, remove grunt.file.exists from reportThirdParty.js.

I started to do this, but was unsure about what was going on in a few places.  For example:

[code]

I'm unclear why this check is necessary, because this file is never used.

[2015-08-21 19:38] pixelzoom opened #307 "replace fs with grunt.file in createMipmap.js"
Broken out from #285...

I'm not familiar with `fs.createReadStream`, so didn't know what the proper replacement is.

Assigning to the original author, @jonathanolson.

[2015-08-21 19:44] pixelzoom opened #308 "replace grunt.file.exists in reportMedia.js?"
Broken out from #285...

I started to do this, but it looked like this might be a case where is appropriate to use `grunt.file.exists`.

Assigning to @samreid for a second opinion.

[2015-08-21 19:48] pixelzoom commented on #285
Work completed, remaining issues broken out into separate GitHub issues (see immediately above).

js/build-server/ still uses `fs` because it doesn't have access to grunt.

js/common/ still uses `fs` because it needs to run in both build and requirejs modes. It gets `fs` via `global.phet.chipper.fs`.

Remaining usages of `grunt.file.exists` in createSim.js, generateThumbnails.js, getBuildConfig.js

[2015-08-21 19:49] pixelzoom commented on #285
You can search for "fs." and "grunt.file.exists" to see remaining use sites.

[2015-08-21 19:50] pixelzoom commented on #298
:+1: Closing.

[2015-08-21 19:50] #298 closed

[2015-08-21 19:51] pixelzoom opened #309 "encapsulate deploy-related config in getDeployConfig.js"
Broken out of #232.  This would be similar to getBuildConfig.js, but for deploy tasks.

[2015-08-21 19:51] pixelzoom commented on #232
Let's do (3), create getDeployConfig.js.  Broken out into https://github.com/phetsims/chipper/issues/309.

[2015-08-21 19:54] pixelzoom commented on #232
All work is done here.

Build configuration is encapsulated in getBuildConfig.js.
Grunt configuration is encapsulated in getGruntConfig.js.
Deploy configuration will be implemented in getDeployConfig.js (see #309).

@samreid Since you reviewed previous passes, would you mind taking a quick look?

[2015-08-21 19:57] pixelzoom commented on #295
I backed out the -f option processing. I'll take another look at this later (low priority). In the meantime, hack `active-runnables`.

[2015-08-21 20:00] pixelzoom commented on #309
One difference from getBuildConfig.js is that getDeployCong.js doesn't have access to grunt. So it must use 'fs' to read config files, and it won't be reading `grunt.option`.

[2015-08-21 20:01] pixelzoom commented on #309
getDeployCong.js will be used by:

build-server.js
deployDey.js
deployProduction.js

[2015-08-21 20:09] pixelzoom commented on #309
Read from package.json:

[code]

Read from build-locale.json:

[code]

[2015-08-21 20:42] pixelzoom commented on #309
@aaronsamuel137 I made a good start on this, but (if you don't mind) I'm going to ask you to take it from here.  I wrote getDeployConfig.js, integrated it into deployDev.js and deployProductions.js, and tested `grunt deploy-dev --test`.

Here's what remains to be done:

• Test `grunt deploy-production`. I didn't see a test mode for this, and wasn't sure if it was safe (or ready) to use.

• Integra

[2015-08-21 20:54] pixelzoom commented on #292
Looks like the big chunks of stuff are (in no particular order):

* build mipmaps
* create string map
* populate sim template
* create html files (for 1 or more locales)
* create dependencies.json

[2015-08-21 20:59] pixelzoom commented on #295
Instead of a command line argument, I'll investigating reading from stdin, then defaulting to active-runnables.  See http://superuser.com/questions/747884/how-to-write-a-script-that-accepts-input-from-a-file-or-from-stdin.

This would read `active-runnables`:

`% grunt-all.sh lint`

This would read stdin:

`% cat myRepoList | grunt-all.sh lint`

or:

`% grunt-all.sh lint < myRepoList`

[2015-08-22 01:00] jonathanolson commented on #307
I don't think there's an equivalent Grunt function for providing a Node.js Stream from a file.

If it's really important, I can probably load the file through Grunt, and then create a Stream object from the data. Any particular reason this additional complexity would be worth it?

[2015-08-22 01:03] jonathanolson commented on #305
In Node.js, it meant fs.readFileSync returned a string, not a Buffer (generally).

It looks like utf8 is the grunt.file default encoding, so we should be able to drop those sections.

[2015-08-22 01:03] jonathanolson commented on #305
Assign back to me if I should do this, I don't have as much current testing experience to tell if it would break anything.

[2015-08-22 21:07] pixelzoom commented on #307
Dev meeting consensus (https://github.com/phetsims/chipper/issues/285#issuecomment-133100520) was to replace fs with grunt.file where possible. That's been done for everything except createMipmap.js. Up to you if you want this source file to be different. If that's what you decide, please document why in the source.

[2015-08-22 21:09] pixelzoom commented on #305
OK, I'll investigate removing the 'utf' encoding from grunt.file.readJSON.

[2015-08-24 14:38] aaronsamuel137 commented on #303
Looks good, thanks for doing this! Closing.

[2015-08-24 14:38] #303 closed

[2015-08-24 14:45] pixelzoom commented on #303
Note that I did the same thing to deployDev.sh as part of #309.

[2015-08-24 15:04] pixelzoom commented on #305
`fs.readFile` and `fs.readFileSync` default to `encoding:null`, so we'll need to leave 'utf8' for those (I guess).

Inspecting all calls to `fs.readFile` and `fs.readFileSync`... I see that createMipmap.js calls `fs.readFile` without specifying 'utf8'.  That doesn't seem to be causing problems, just thought I'd note it.  @jonathanolson if that's OK, feel free to close this issue.

[2015-08-24 15:50] pixelzoom commented on #116
This is interesting in createSim.js:

[code]

This is equivalent to `str.replace( substring, replacement )`, the default behavior of `replace`.

[2015-08-24 15:58] samreid commented on #116
My bad, wasn't familiar with String.prototype.replace.  From the doc:

So I think we could use this for both `replaceAllString` and `replaceOneString`.

[2015-08-24 16:01] pixelzoom commented on #116
I think it's worth having replaceAll:

[code]

[2015-08-24 16:07] samreid opened #310 "Provide a different copyright statement for non-phet brands"
When building a simulation with a non-phet brand, the copyright header in the html reads like so: I built an "adapted-from-phet hooke's law":

[code]

For custom brands and non-phet brands, we should have different statements here.

[2015-08-24 16:11] jonathanolson commented on #305
Since it uses the Node.js Buffer object, not the string, from the documentation for fs.readFile:

[2015-08-24 16:16] pixelzoom commented on #270
Hmmm... I thought this workaround was isolated in one place, but apparently not. I see this in afterRequirejsBuild.js:

[code]

@jbphet If the version was modified in buildConfig, why is it necessary to replace it here again?  This code is probably doing nothing, since buildConfig.version already contains '-together'.

[2015-08-24 16:21] pixelzoom opened #311 "build fails with '--locales=en'"
[code]

There appears to be a lack of checking for 'en' when processing the set of locales. The string file for 'en' lives in the sim repository, while the other strings live in babel.

[2015-08-24 16:22] pixelzoom commented on #311
This fails too:

[code]

[2015-08-24 16:25] pixelzoom commented on #270
I removed the workaround from afterRequirejsBuild.js, then tested with:

`grunt --brand=phet-io`

The output filenames look correct:

[code]

So this workaround is unnecessary in afterRequirejsBuild.js, and I've deleted it.

[2015-08-24 16:25] samreid commented on #232
I looked through the above 5 change sets, and the implementation & usage of getBuildConfig and getGruntConfig and all looks good.  I just committed one change for phet style (not sure if related to this issue) and added a missing `@param` annotation.  Closing.

[2015-08-24 16:25] #232 closed

[2015-08-24 16:27] jbphet commented on #270
In response to @pixelzoom's question above, I believe one location was for altering the name of the file produced, and the other was for altering the version information that appears in the about dialog and on the tab.

[2015-08-24 16:29] jbphet commented on #270
The build process has evolved a ton since this renaming thing was initially created, so it is very possible that both are no longer needed, but we should verify that both the file name and the reported version information are correct after the code removal @pixelzoom mentions above.

[2015-08-24 16:36] #305 closed

[2015-08-24 16:36] pixelzoom commented on #116
Done. @samreid please review.

[2015-08-24 16:52] pixelzoom commented on #311
Hmmm... `grunt --locales=en` succeeds:

[2015-08-24 16:59] samreid opened #312 "Can we use string.prototype.trim instead of ChipperStringUtils.trimWhitespace?"
While reviewing #116 I saw this code in ChipperStringUtils.js:

[code]

It is used in afterRequirejsBuild.js like so:

[code]

Can we just use String.prototype.trim instead?  If not, it should be documented what trimWhitespace does that trim does not do.

[2015-08-24 17:00] pixelzoom opened #313 "how to handle missing string files for a build?"
Missing string files (sim-specific or common) for a locale currently result in an error.

Sim-specific example:

[code]

Common-code example:

[code]

These should probably be warnings instead of fatal errors.

[2015-08-24 17:02] samreid opened #314 "Factor out requirejs/node declaration code"
While reviewing #116 I noticed ChipperStringUtils.js contains this code:

[code]

This code is also duplicated in 4 other files.  I recommend to factor out as much of this as possible.

[2015-08-24 17:05] samreid opened #315 "reportThirdParty defines a new endsWith function"
While reviewing #116 I noticed reportThirdParty.js defines:

[code]

I think this could just use string.prototype.endsWith function instead.

[2015-08-24 17:07] samreid commented on #116
ChipperStringUtils.js looks great, thanks for creating it.  I created 5 related issues that I noticed during my review.  This issue is good to close.

[2015-08-24 17:07] #116 closed

[2015-08-24 17:17] pixelzoom commented on #314
Looks straightforward. Suggestions on what to call this?

[2015-08-24 17:19] pixelzoom commented on #315
If not `string.prototype.endsWith`, then this should be moved to ChipperStringUtils.js.

[2015-08-24 17:20] samreid commented on #314
Brainstorming, my favorite is at the top of the list:

declareModule
createModule
exportModule

[2015-08-24 17:43] samreid opened #316 "MAIN_INLINE_JAVASCRIPT odd in Bending Light"
Built version fails

Before this chipper commit, Bending Light builds and launches fine
6bb4a35b44d5b4025bbe2cd9cb7f779620a3c76a

After that commit, it has this error:

[2015-08-24 17:51] samreid commented on #316
After changing uglify2 to none, I got a different error:

[2015-08-24 17:53] pixelzoom commented on #310
This is handled in afterRequirejsBuild.js, search for "htmlHeader =".

[2015-08-24 17:53] samreid commented on #316
This string is ending up in lodash (!)

[code]

[2015-08-24 17:54] pixelzoom commented on #270
I've done nothing to the original workaround, other than to relocate it to getBuildConfig.js.

[2015-08-24 18:02] pixelzoom commented on #316
Skype:

[8/24/15, 11:25:23 AM] Chris Malley: Looks related to ChipperStringUtils.replaceAll.
[8/24/15, 11:25:52 AM] Chris Malley: or maybe not...
[8/24/15, 11:25:53 AM] Chris Malley:     replaceAll: function( str, find, replaceWith ) {
      return str.replace( new RegExp( find.replace( /[-\/\\^$*+?.()|[\]{}]/g, '\\$&' ), 'g' ), replaceWith );
    },
[8/24/15, 11:26:00 AM] Sam Reid: I think it is

[2015-08-24 18:07] pixelzoom commented on #316
I rolled back the ChipperStringUtils changes in afterRequirejsBuild.js and the problem went away. So definitely related to switching to `html.replace`.

[2015-08-24 18:08] pixelzoom commented on #316
Makes me a little nervous about all of the other `replaceFirst` calls that were changed to `html.replace`.

[2015-08-24 18:23] pixelzoom commented on #316
Until we have time to figure this out, I've reverted to defining ChipperStringUtils.replaceFirst and using it where `str.replace` was substituted in #6bb4a35.

[2015-08-24 18:26] pixelzoom commented on #316
With all other sites using ChipperStringUtils.replaceFirst, I can reproduce the problem by changing afterRequirejsBuild.js line 229 to this:

`html = html.replace( 'MAIN_INLINE_JAVASCRIPT', '<script type="text/javascript">' + mainInlineJavascript + '</script>' );`

[2015-08-24 18:44] pixelzoom commented on #314
Chicken-&-egg problem. This code is used to declare a module in .js files that need to be usable in both requirejs and build modes (all of which are IIFE, and live in chipper/js/common/)  If this code is factored out, then how to require it?

[2015-08-24 18:46] pixelzoom commented on #312
Test in browser console looks promising:

[code]

[2015-08-24 18:54] pixelzoom commented on #312
Here's how I tested:
1.  `grunt` before making the change,
2. cp build/dependencies.json dependences.save
2. change trimWhitespace to trim
3. `grunt`
4. `diff dependences.save build/dependences.json`

The only difference was the time in the "comment" field:
[code]

[2015-08-24 18:55] samreid commented on #312
Looks good, thanks. Closing.

[2015-08-24 18:55] #312 closed

[2015-08-24 19:05] pixelzoom commented on #313
Converted to a warning in afterRequirejsBuild.js.

Code path was:

`var fileContents = grunt.file.readJSON( stringsFilename );`

New code path:

[code]

Tested with same scenarios as above:

[code]
% cd beers-law-lab
% grunt --locales=en,es
...
Running "after-requirejs-build" task

Done, without errors.
%
[code]

[2015-08-24 19:11] pixelzoom commented on #309
@aaronsamuel137 If you could also flesh out this documentation in the header comment, that would be great. Thanks.

[code]

[2015-08-24 19:20] pixelzoom commented on #311
The first case (`grunt --brand=phet-io --locales=en,es`) was addressed by changing errors to warnings for missing string files, see https://github.com/phetsims/chipper/issues/313.

The second case (`grunt --brand=phet-io --locales=es,fr`) is caused by the fact that there must be an entry for the fallback ('en') locale in the string map.  So getBuildConfig.js needs to automatically add 'en' to loca

[2015-08-24 19:40] pixelzoom commented on #311
Missing string files are now treated as warnings (#313) and the fallback locale ('en') is added to buildConfig.locales in all situations.

Closing.

[2015-08-24 19:40] #311 closed

[2015-08-24 19:41] samreid commented on #314
Does `var x = require('somepath');` work for both requirejs and node?

[2015-08-24 19:43] samreid commented on #314
I also saw a similar pattern but different implementation in mipmapDownscale.js, so by my new count this pattern appears in 7 places (including one outside of common, in data/)

[2015-08-24 19:51] pixelzoom commented on #314
Not until the code that we're factoring out has been executed.

[2015-08-24 20:12] samreid commented on #314
What about assigning a global at startup?  Then instead of:

[code]

it would be:

[code]

Would that properly read from global/window depending on the circumstance?

[2015-08-24 20:21] pixelzoom commented on #314
Something like this?

In Gruntfile.js:

[code]

And in initialize-globals.js?

[code]

[2015-08-24 20:29] pixelzoom commented on #314
Hmmm... `phet.chipper.declareModule( moduleName );` doesn't work in build mode.

`>> ReferenceError: phet is not defined`

[2015-08-24 20:35] pixelzoom commented on #314
Works OK in requirejs mode. I haven't been able to make this work in build mode.

[2015-08-24 20:40] pixelzoom commented on #314
Ah... Not working in build mode because chipper/js/common code is IIFE and is executed before global.phet.chipper is initialized. Duh.

So we'd have to partially initialize global.phet.chipper before the module require statements in Gruntfile.js.  Does that sound OK?

[2015-08-24 21:44] pixelzoom commented on #314
This will need to be put before `// modules` in Gruntfile.js:

[code]

And the single-statement `global.phet` assignment on line 48 of Gruntfile.js will need to be changed to multiple lines:

[code]

.. all globals with doc, of course.

I don't like the look of this global initialization nearly as much, or the fact that it's split up (after I spent a lot of time unifying it.) By if we have to...

[2015-08-24 21:48] pixelzoom commented on #314
@samreid Does this look like a reasonable tradeoff?

[2015-08-24 21:48] samreid commented on #314
I'll review the options and make a recommendation within a few days.

[2015-08-24 21:57] pixelzoom opened #317 "is 'clean' task necessary?"
See `dir` and `keepBuildDir` options at:
 https://github.com/jrburke/r.js/blob/master/build/example.build.js.

It looks like if we set these, then `requirejs:build` will automatically clean (and create if necessary) the output directory.

[2015-08-24 21:58] pixelzoom commented on #317
Ie, add this to `getGruntConfig.js`:

[code]

[2015-08-24 21:58] jbphet commented on #270
I just tested a phet-io build of the Concentration simulation, and the ```<title>``` tag does indeed end up being set to ```‪Concentration‬ 1.2.0-together.6``` (which is good), but the About dialog and the tab title show the version as 1.2.0-dev.6 (which is not so good).  When searching through the source code of the built version I am seeing the string 1.2.0-dev.6, so I think the part where @pixe

[2015-08-24 21:59] pixelzoom commented on #317
Other places in the code hard-coded to 'build' could then read 'dir' from the grunt config.

[2015-08-25 00:15] pixelzoom commented on #270
Ah, I see what's going on here. At runtime, the sim is reading package.json, which does not get updated when buildConfig.version is updated.  So after the html template is filled in, there's an additional search-and-replace occurring.  I'll restore the workaround in afterRequirejsBuild.js and note that there are 2 parts to the workaround.

[2015-08-25 00:17] pixelzoom commented on #270
`<title>` tag in html file now contains 'together', as does the About dialog and browser tab/window title.

[2015-08-25 00:20] pixelzoom commented on #270
Btw... This workaround never addressed the version identifier that's in the html file for testing iframes (e.g. concentration_en-iframe.html).

[2015-08-25 00:30] pixelzoom commented on #310
Recommended to move the HTML header text to chipper/build.json, where it can be loaded by brand.

[2015-08-25 00:39] pixelzoom opened #318 "is Rosetta using files created by build?"
createHTMLFiles.js (factored out of afterRequirejsBuild.js) contains this chunk of code:

[code]

This creates a file like `john-travoltage_string-map.json`.

@jbphet or @aaronsamuel137, is Rosetta using this file?

[2015-08-25 01:16] samreid commented on #314
My suggestion:

Put this at the top of each file that needs it:

[code]

ChipperConstants.js can use something like:

[code]

Files that need jsdoc for method declarations can do something like:

[code]

This makes it clear what is copied across files and will help us be consistent between files.  But I don't feel too strongly about any of this and am open to other suggestions.

[2015-08-25 01:25] pixelzoom commented on #314
Copy the code in each file that needs it? That's what we have now, albeit not as 1 function.

What's wrong with the proposal in https://github.com/phetsims/chipper/issues/314#issuecomment-134365013 and https://github.com/phetsims/chipper/issues/314#issuecomment-134389349, other than the fact that the definition of globals in Gruntfile.js will be a little less pretty?

[2015-08-25 03:13] samreid commented on #314
Sure, I'm happy with https://github.com/phetsims/chipper/issues/314#issuecomment-134365013

We could probably solve this with something like _.extend?

[2015-08-25 03:20] pixelzoom commented on #314
Excellent idea.

[2015-08-25 03:21] samreid commented on #314
Another possibility would be to leave chipper declaration as it is and create a separate global not under the chipper namespace:

global.declareModule = ...

or

global.phet.declareModule = ...

Not strongly for or against this but just want to make sure you considered it.

[2015-08-25 03:24] pixelzoom commented on #292
afterRequirejsBuild.js has been factored out into the following files:

[code]

Each of these is a well-encapsulated step in the 'after-requirejs-build' task, which is asynchronous.

From the doc in afterRequirejsBuild.js, here's how these steps fit together:

[code]

[2015-08-25 03:35] pixelzoom commented on #292
One other "factored out" file that I forgot to mention is getStringMap.js. It creates the map that allows us to lookup a string by locale + key.  It is a synchronous function used in the createHTMLFiles.js step.

I tested a dozen sims in requirejs and build modes, and I didn't see any issues.

[2015-08-25 03:42] pixelzoom commented on #314
Yes, I considered attaching the global elsewhere. But since I recently spent a significant amount of time moving everything under global.phet.chipper, it feels wrong.

[2015-08-25 03:45] samreid commented on #292
It is confusing for createDependenciesJSON.js to call createMipmapsJavaScript() and for createMipmapsJavaScript.js to call createHTMLFiles.  I understand this was an incremental refactor and a step in a good direction, but I would recommend to go even further and use a different pattern to simplify and modularize these tasks.  One possibility would be to use callback functions, like so:

Change:
[

[2015-08-25 03:46] samreid commented on #292
One edit: the createDependenciesJSON doesn't need to know anything about the `done`, so it would be like this:

[code]

[2015-08-25 03:50] pixelzoom commented on #292
According to the doc for `grunt.task.current.async` (http://gruntjs.com/api/inside-tasks#this.async), it tells grunt that the task is asynchronous, and instructs grunt to wait.  And when the task is completed, the handle returned by `grunt.task.current.async` needs to be called to tell grunt that the task has completed. So my understanding (and experience) is that `grunt.task.current.async` needs

[2015-08-25 03:58] pixelzoom commented on #292
Ah, I see what you're saying.

What you're describing is similar to the original structure that I implemented.  It looked nice in afterRequirejsBuild.js, like:

`createDependenciesJSON( grunt, buildConfig, createMipmapsJavaScript, done );`

And in createDependenciesJSON.js:

[code]

But I encountered a couple of problems:

(1) createMipmapsJavaScript.js would need to know about createHTMLFiles.js,

[2015-08-25 03:58] samreid commented on #292
Yes, you still have to call done when everything cascading from afterRequirejsBuild is complete, but createDependenciesJSON doesn't need to know anything about it.

[2015-08-25 04:01] pixelzoom commented on #292
Oh wait... I get it. Yeah, let me try that. Thanks.

[2015-08-25 04:15] pixelzoom commented on #292
Thanks for the suggestion @samreid. I like this much better, in afterRequirejsBuild.js:

[code]

[2015-08-25 04:36] samreid commented on #292
This is looking much better, thanks @pixelzoom.  One improvement you could make from here is to omit extraneous parameters (in this case grunt and buildconfig) from the callbacks:

[code]

[2015-08-25 04:43] pixelzoom commented on #292
I'm not entirely convinced that it's an improvement, but done.

[2015-08-25 04:48] pixelzoom commented on #292
I think I'm done with this. @samreid since you've looked around already, would you mind reviewing?

[2015-08-25 05:05] samreid commented on #292
Sure, I'll review but it may be several days before I get to it.

[2015-08-25 05:09] pixelzoom commented on #318
Also wondering about this bit in createHTMLFiles.js. Is repo_STRING_TEMPLATE.html used by Rosetta?

[code]

[2015-08-25 05:14] pixelzoom commented on #292
At your leisure.

[2015-08-25 14:39] aaronsamuel137 commented on #318
Neither of those files are currently being used by Rosetta

[2015-08-25 15:20] jbphet commented on #318
Yes, what @aaronsamuel137 said.  Rosetta looks at the actual simulation to determine which strings need to be translated, not the string map file.  Does this fully answer your question @pixelzoom?

[2015-08-25 15:46] pixelzoom commented on #318
Does anyone (@jbphet @aaronsamuel137 @jonathanolson @samreid) know who added the code that creates those files, and whether it's OK to delete that code?

[2015-08-25 15:48] pixelzoom commented on #310
Question for developer meeting: Should we move the HTML header text to chipper/build.json? The alternative is a hard-coded switch on all phet brand names ('phet', 'phet-io', 'adapted-from-phet').

[2015-08-25 16:01] samreid commented on #310
Move it to the brand itself?

[2015-08-25 16:20] pixelzoom commented on #310
Move it to the brand's hash in chipper/build.json.  Eg:

[code]

Note the `{0}` for filling in the current year.

[2015-08-25 16:28] pixelzoom commented on #310
What do we the header to read if it's a non-phet brand?

[2015-08-25 16:39] pixelzoom commented on #310
Dev meeting consensus:  To proceed, we need @ariel-phet or @kathy-phet to tell us:

What should the copyright header read for non-phet brands? (e.g., "my-company")
Should it default to the 'phet' brand header, blank, something else?
Should the custom brand be able to specify its own html header?

[2015-08-25 16:41] pixelzoom commented on #318
8/25/15 dev meeting: Vestigial code, delete it.

[2015-08-25 17:04] pixelzoom opened #319 "enforce convention for simTitleStringKey"
8/25/15 dev meeting consensus:

We're not sure how Rosetta and chipper will behave if a repository has no string file of its own.

We’ll make all sims follow the naming convention for simTitleStringKey (REPO/repo.name), no exceptions in package.json. All sims will therefore have a string file with at least one entry (REPO/repo.name).

These sims will need to be adjusted:

balloons-and-static-elect

[2015-08-25 17:15] jonathanolson opened #320 "[build-server] Should the build-server be set up as a linux service?"
Right now, lots of things (like yotta's server and build-server) use nohup to run. When there are server restarts (happens occasionally), they need to be manually restarted.

Having OIT set these up with an init script would remove the need to remember to restart them.

Review for https://github.com/phetsims/chipper/issues/141

[2015-08-25 17:47] jonathanolson opened #321 "[build-server] locales query parameter"
It's noted in the documentation that:
[code]
and at first I wondered if it was comma-separated (like the grunt --locales option). Then saw:
[code]
and it looks like it's (probably) a JSON string array, e.g. [ 'en', 'es' ], but URLencoded. Is that correct, and could it be documented?

Review: https://github.com/phetsims/chipper/issues/141

[2015-08-25 17:47] #318 closed

[2015-08-25 17:53] pixelzoom commented on #321
Should this use the same format as the chipper grunt option?  From getBuildConfig.js:

[code]

[2015-08-25 17:55] jonathanolson commented on #321
It looks like it uses ```'grunt build --brand=phet --lint=false --locales=' + locales.toString()```

[2015-08-25 18:05] pixelzoom commented on #321
In general, it's not a good idea to rely on the behavior of `toString` for any non-integral type. In this case `toString` for an array just happens to put them in the desired (comma-separated) format. (And yes, I realize that some doc will say things like "The returned string will separate the elements in the array with commas.")

[2015-08-25 18:15] pixelzoom commented on #319
@jbphet Thanks for the offer to fix the babel files. But it was easier for me to just do it (global string replace) than to describe what to do.  That commit is https://github.com/phetsims/babel/commit/17afa02f1aa93979c435b99f1c588031d723d884.

If you don't mind, I will ask you to review.

[2015-08-25 18:41] pixelzoom commented on #317
Hmmm... With the above additions to grunt config:

[code]

Looks like the build directory was not removed, since file 'foo' still exists.  The other files all have newer timestamps, indicating that they were replaced.

[2015-08-25 18:42] pixelzoom commented on #317
Doc for keepBuildDir says:

[code]

[2015-08-25 18:46] pixelzoom commented on #317
Ah... I had the option in the wrong place in the grunt config.  Putting them in the correct place, I get:

[code]

[2015-08-25 18:49] pixelzoom commented on #317
Tried a couple of other things. This feels like a rathole.  So I think we'll just stick with the 'clean' task and close this issue.

[2015-08-25 18:49] #317 closed

[2015-08-25 18:51] pixelzoom opened #322 "build directory name is duplicated"
The build directory name (./build) is duplicated 12 times in chipper/js/grunt code. Should be factored out into ChipperConstants.

Low priority.

[2015-08-25 18:53] pixelzoom commented on #322
'dependences.json' also duplicated multiple times.

[2015-08-25 19:20] pixelzoom commented on #319
This change was announced to the Google Group at https://groups.google.com/d/msg/developing-interactive-simulations-in-html5/NEEtIEIVD0w/Ij4B1VpBBQAJ

[2015-08-25 22:00] jbphet commented on #319
Thanks @pixelzoom for doing this.  It all looks good to me.  I also updated and verified that the Friction sim builds, which it does, and verified that the name appears correctly on the browser tab and in the about dialog, which it does.  Closing.

[2015-08-25 22:00] #319 closed

[2015-08-25 22:42] jbphet commented on #270
I changed the workaround to use -phet-io instead of -together, so that version look like ```1.1.0-phet-io.6```.  I tested this and found that the title and the information in the about dialog appears as expected.

I'm not too concerned about the iframe issue that @pixelzoom raises in the previous comment, but if he feels it should be followed up on, it would be best to log a separate issue.

This

[2015-08-25 22:56] pixelzoom commented on #270
:+1: Closing.

[2015-08-26 01:57] samreid commented on #316
I don't have time to look into this, so I'm going to unassign it.  Anyone else feel free to go for it.

[2015-08-26 16:09] pixelzoom commented on #316
I'll self assign, but low priority.

[2015-08-26 16:56] pixelzoom opened #323 "report-third-party task is broken"
Something is amiss with grunt option processing for the 'report-third-party' task.  And the behavior is different depending on the order of options.  E.g.:

[code]

...versus:

[code]

[2015-08-26 16:58] pixelzoom commented on #323
In the first example above, no html files are copied to the input dir.

In the second example above, html files *are* copied to the input dir.

[2015-08-26 17:00] pixelzoom commented on #323
My bad in both examples. `--output` is supposed to be a file, not a directory.

But this doesn't explain why the order of options results in different behavior.

[2015-08-26 17:03] pixelzoom commented on #323
This example works:

`grunt report-third-party --input=/Users/cmalley/Downloads/html --output=/Users/cmalley/Downloads/out.md --active-runnables`

These 2 examples have identical option args, but different order, and they fail:

[code]

[2015-08-26 17:06] pixelzoom commented on #323
So... report-third-party task is working. But only when the order of options is the same as the order of `grunt.option` calls in reportThirdParty.js`.  Is that expected behavior from grunt?

[2015-08-26 19:35] aaronsamuel137 commented on #321
Changed to a comma separated list. Also gave deploy-production a --locales option.

Assigning to @jonathanolson for review.

[2015-08-26 20:34] samreid commented on #292
Now that the actual implementation of the file is:

[code]

can we remove the jsdoc that says:

[code]

[2015-08-26 20:39] samreid commented on #292
This line refers to a nonexistent file:

[code]

[2015-08-26 20:43] samreid commented on #292
[code]
should be changed to:

[code]

Shadowing variables with different variables that happen to have the same value is a code smell and it is simpler without the shadowing variables. The implementation of `createMipmapsJavaScript` will need to be updated accordingly.

[2015-08-26 20:47] samreid commented on #292
Do you want to revise these comments?  Seems a bit obvious that the callback invokes the next step.  Why describe it above? etc.

[code]

If I were documenting it, I may have written something like:

[2015-08-26 20:49] pixelzoom commented on #292
Internal doc revised for afterRequirejsBuild.js (both the file header and the `createDependenciesJSON` cal.

Doc for @param buildConfig also fixed.

[2015-08-26 20:50] samreid commented on #292
I wasn't sure why the callbacks are named `nextStep`.  Each module shouldn't have to know whether or not there is a next step--it only needs to send out a notification when its work is complete.  I have seen others call these something like `callback` or (less frequently) `finished`.

[2015-08-26 20:52] pixelzoom commented on #292
There's also a bug on line 63 of createMipmapJavaScript.js.

`nextStep( dependencies, mipmapsJavaScript );`

should be:

`nextStep( grunt, buildConfig, dependencies, mipmapsJavaScript );`

[2015-08-26 20:52] samreid commented on #292
Not necessarily something that must be changed, but I noticed that some of the JSDoc is formatted like:

[code]

instead of
[code]
or even
[code]

Is this just a style preference?  No big deal, I'm just curious.

[2015-08-26 20:54] pixelzoom commented on #292
It was called `nextStep` when data was being (e.g. `dependencies`) propogated.  I'll change it when I've implemented your suggestion above of removing params related to propagation, and propagate via closure variables.

[2015-08-26 20:55] pixelzoom commented on #292
This part:

[code]

... was repeated in each step's .js file.  And my style is to break documentation into logical paragraphs, rather than have one run-on paragraph.

[2015-08-26 20:55] samreid commented on #292
I think we decided to get rid of the shadowing variables.  Together with my recommendation above in https://github.com/phetsims/chipper/issues/292#issuecomment-135165287, this should become:

[code]

[2015-08-26 21:01] pixelzoom commented on #292
Right... This line is buggy:

`nextStep( grunt, buildConfig, '' )`

[2015-08-26 21:06] pixelzoom commented on #292
All of the above suggestions (except https://github.com/phetsims/chipper/issues/292#issuecomment-135167392) have been pushed.  Tested with john-travoltage in build mode.

[2015-08-26 21:19] samreid commented on #292
Looks great, nice work.

[2015-08-26 21:19] #292 closed

[2015-08-26 21:24] samreid commented on #296
The old version had:
[code]

The new version has:
[code]

Was this intentional?  Will it have any negative ramifications?  I don't think so, but thought I should ask.  Everything else looks good.

[2015-08-26 21:24] samreid commented on #300
Looks great, thanks.

[2015-08-26 21:24] #300 closed

[2015-08-26 21:26] samreid commented on #301
Looks good, thanks.  Closing.

[2015-08-26 21:26] #301 closed

[2015-08-26 21:52] samreid commented on #315
I tried running this in node:

[code]

and it told me:

So let's move to ChipperStringUtils.js

[2015-08-26 22:11] samreid commented on #315
Fixed above, closing.

[2015-08-26 22:11] #315 closed

[2015-08-26 22:18] samreid commented on #306
We are no longer including the full license text in the reportThirdParty, so I think that line can be removed now.

[2015-08-26 22:19] samreid commented on #306
I ran the report before and after removing the suspicious line and the contents of the resultant md file were identical.

[2015-08-26 22:20] samreid commented on #306
Fixed above, closing.

[2015-08-26 22:20] #306 closed

[2015-08-26 22:22] samreid commented on #308
These 3 usages are OK with me.

[2015-08-27 16:12] pixelzoom commented on #296
I verified that `global.phet.chipper.getCacheBusterArgs` was undefined at the point where the old version lived. See https://github.com/phetsims/chipper/issues/288#issuecomment-133043596.  So

`global.phet.chipper.getCacheBusterArgs = undefined || function() { return ''; };`

was replaced with

`getCacheBusterArgs: function() { return ''; },`

[2015-08-27 16:13] pixelzoom commented on #315
FYI... sting.endsWith is new in ES6, https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/endsWith

[2015-08-27 16:15] pixelzoom commented on #308
Ok, closing.

[2015-08-27 16:15] #308 closed

[2015-08-27 16:24] pixelzoom commented on #314
I tried moving the definition of `global.phet.chipper.declareModule` before the module `require` statements that use it. But that global was still undefined in the modules that require it.  The `require` statements are `var` assignments. Perhaps they are being automatically hoisted, so that they are actually being called before the global assignment.

[2015-08-27 16:35] pixelzoom commented on #314
According to http://www.w3schools.com/js/js_hoisting.asp ...  JavaScript hoists declarations, but not initializations.  So I would expect the declarations of the module vars to be hoisted, but not their initializations (the `require` calls).

[2015-08-27 16:51] pixelzoom opened #324 "rename createMipmapsJavaScript.js?"
When I factored createMipmapsJavaScript.js out of afterRequirejsBuild.js (#292), I named it based on the internal variable that was used in afterRequirejsBuild.js.  There was something like:

`var mipmapsJavascript = ...;`

This is somewhat misnamed, because what's actually created is an HTML tag.
If there are no mipmaps loaded, the tag is a comment:
`''`.

If mipmaps are loaded, it's a script tag

[2015-08-27 17:11] pixelzoom opened #325 "sim template cleanup"
We might want to tidy up the tokens in sim.html (the simulation template) and their replacement in createHTMLFiles.js.

Many (but not all) of the tokens are prefixed with "PHET_", and that seems like a good convention. And tokens seem misnamed or have unnecessarily verbose names.

So... recommended changes:

old | new
------- | -------
PHET_PROJECT | PHET_REPOSITORY
THIRD_PARTY_LICENSE_ENTRIES | P

[2015-08-27 18:03] pixelzoom commented on #310
Discuss at 8/27/15 interoperability meeting.

[2015-08-27 18:21] pixelzoom commented on #323
@aaronsamuel137 suggested trying `--active-runnables=true`, grunt may be expecting an option value.

[2015-08-27 18:21] pixelzoom commented on #324
Consensus: Feel free to rename.

[2015-08-27 18:27] pixelzoom commented on #325
Consensus:
• Ok to rename template tokens, possibly more verbose OK.
• Leave it as `window.phet.chipper.project`

[2015-08-27 18:36] pixelzoom opened #326 "bogus brand global?"
We suspect that this is wrong/vestigial in initialize-globals.js:

`window.phet.chipper.brand = phet.chipper.getQueryParameter( 'brand' ) || 'adapted-from-phet';`

The brand is actually determined by Brand.id, and which Brand is loaded/included is specified via config.js.

This global needs to be correct for Google analytics.

[2015-08-27 19:24] pixelzoom opened #327 "HTML encode strings replaced in sim.html"
When replacing the SIM_TITLE token in sim.html, the title needs to be HTML encoded.

In sim.html:

`<title>SIM_TITLE</title>`

And in createHTMLFile.js:

[code]

And related, this is duplicated:

`stringMap[ locale ][ buildConfig.simTitleStringKey ] + ' ' + buildConfig.version`

[2015-08-27 19:29] pixelzoom opened #328 "replace locale-independent tokens once"
Tokens in sim.html that are independent of locale can be replaced once, outside of the `for` loop that creates locale-specific html files.

For example, these 3 statements could be done once before entering the loop:

[code]

[2015-08-27 19:36] pixelzoom commented on #327
Hmmm... It's not just SIM_TITLE, there are other places where string should be HTML encoded before replacing token in sim.html.  Eg, HTML_HEADER.

[2015-08-27 19:41] pixelzoom commented on #327
HTML_HEADER doesn't need to be escaped. Just SIM_TITLE and OG_TITLE.

[2015-08-27 19:41] jbphet commented on #310
@kathy-phet is going to talk to the TTO people and get back to us about us.

[2015-08-27 20:58] pixelzoom commented on #325
I added 'PHET_' prefix to all token in sim.html, and changed a few names.  Mostly I left the verbose names intact.  Tested with `grunt --locales=ar,es`

Closing. If anyone wants to review, please do so.

[2015-08-27 20:58] #325 closed

[2015-08-27 20:58] pixelzoom commented on #324
I'm going to leave this as is.

[2015-08-27 20:58] #324 closed

[2015-08-27 21:03] pixelzoom commented on #323
It's is indeed necessary to specify a value for boolean options, e.g. `--active-runnables=true`.  I updated the help description for the active-runnables option to report-third-party task.

[2015-08-27 21:03] #323 closed

[2015-08-27 21:14] pixelzoom commented on #327
I added support for this using node-html-encoder (https://github.com/minchenkov/node-html-encoder).

Encoded example from a build of john-travoltage_en.html:

[code]

@jonathanolson would you mind reviewing?

[2015-08-27 21:16] pixelzoom commented on #328
This involved:
• added tokens to sim.html, all of which are prefixed with 'OG_'
• replace tokens in createHTMLFiles.js

I'm not quite clear on how to test this. Something about sharing it on my Facebook page, which I'd prefer not to do. @aaronsamuel137 would you mind reviewing and testing that it has the desired result?

[2015-08-27 21:17] pixelzoom commented on #326
`window.phet.chipper.brand` is indeed bogus. I did a build with `grunt --brand=phet`.  Ran the built version, then here's what I see in the console:

[code]

[2015-08-27 21:27] pixelzoom commented on #326
We also don't want to be able to run a version that was built for a specific brand to be run as another brand. The proper Brand.js file won't be bundled, etc.

[2015-08-27 21:32] pixelzoom commented on #326
2 changes to fix this:

(1) Set `window.phet.chipper.brand` in the built html file.  This involved adding a new 'PHET_BRAND' token to sim.html.

(2) In initialize-globals.js, use `window.phet.chipper.brand` if it's already set. Ie:

 `window.phet.chipper.brand = window.phet.chipper.brand || phet.chipper.getQueryParameter( 'brand' ) || 'adapted-from-phet';`

If running a built version, `window.phet

[2015-08-27 21:34] pixelzoom commented on #328
Did this, tested with john-travoltage. Closing.

[2015-08-27 21:34] #328 closed

[2015-08-28 16:16] aaronsamuel137 opened #329 "nb locale looks weird in LocaleInfo.js"
Noticed by @phet-steele when testing rosetta:

[code]

I'm guessing the name should be something like "Norwegian Bokmal", but I'm not totally sure. As the file warns not to modify directly, I am going to assigning this to @jonathanolson.

[2015-08-31 15:35] aaronsamuel137 opened #330 "Empty strings in babel are built into sim instead of falling back to English"
See https://github.com/phetsims/rosetta/issues/46

I tried to address this previously by adding an empty check on string.js:

[code]

However, this hasn't addressed the issue. Looks like we really need the check here in getStringMap.js:

[code]

[2015-08-31 15:40] aaronsamuel137 commented on #330
Are you up for reviewing my changes here @pixelzoom? Just added one line of code some comments.

[2015-08-31 15:41] pixelzoom commented on #330
I'll take a look. Self assigned.

[2015-08-31 15:53] pixelzoom commented on #330
Skype discussion:

[8/31/15, 9:45:55 AM] Chris Malley: Related to this change in getStringMap.js:
[code]
[8/31/15, 9:46:46 AM] Chris Malley: I think it would better to not add the directional format escapes to empty strings in strings.js, so that the above is a >0 test and doesn't rely on the fact that the directional escapes exist.  I see no reason to escape a non-existent value.
[8/31/15, 9:47:1

[2015-08-31 15:53] pixelzoom commented on #330
@jonathanolson Can you please comment on the above?

[2015-08-31 15:56] aaronsamuel137 opened #331 "Misleading comments in string.js"
When trying to resolve #330, I noticed some odd comments that confused me and sent me looking in the wrong direction (around line 100):

[code]

I'm guessing it should be something like this:

[code]

But I am not totally sure since I am not too familiar with this code. Not sure who to assign this too.

[2015-08-31 15:58] pixelzoom opened #332 "duplication of direction formatting for strings"
The policy is to add directional format characters to all strings. That policy is duplicated in 2 places.  That is a maintenance issues, as demonstrated while working on #330.

In strings.js, called for requirejs mode:

[code]

In getStringMap.js, called in build mode:

[code]

Ideally this policy should be encapsulated in 1 source file.

[2015-08-31 15:59] pixelzoom commented on #332
Related to #330, so I'll assign this to @aaronsamuel137 too.

[2015-08-31 15:59] pixelzoom commented on #330
I've created a new issue for the duplication for direction formatting code: https://github.com/phetsims/chipper/issues/332

[2015-08-31 16:07] jonathanolson commented on #330
I am 100% fine with NOT adding escapes to empty strings. This should be changed in the 2 places escapes are added.

And I'm worried that empty strings would fall back. Molecule Shapes has empty strings in the main translation. Why wouldn't a translator be able to use an empty string for something they don't want to appear?

[2015-08-31 16:48] aaronsamuel137 commented on #330
Added an empty check so empty strings don't get embedding marks. Assigning to @pixelzoom for review.

[2015-08-31 16:48] aaronsamuel137 commented on #332
Moved to addDirectionalFormatting.js. Assigning to @pixelzoom for review.

[2015-08-31 17:06] pixelzoom opened #333 "chem symbols should not be translatable"
Molecules and Light makes chemical symbols translatable.  Eg in the strings.json file:

[code]

In (all?) other chem sims, we decided that chemical symbols were *not* translatable. For example, Molecule Shapes, Acid-Base Solutions, Balancing Chemical Equations, Rectant Products and Leftovers, ph Scale,... none of these sims allows translating of chem symbols.

This issue should be addressed for S2

[2015-08-31 17:13] pixelzoom commented on #333
Wrong repo, moved to https://github.com/phetsims/molecules-and-light/issues/124.

[2015-08-31 17:13] #333 closed

[2015-08-31 17:17] pixelzoom commented on #332
Perhaps better to add this to ChipperStringUtils, rather than creating another .js file?

[2015-08-31 17:21] pixelzoom commented on #332
I think it would also be preferable to have `addDirectionalFormatting` return a modified string, rather than modifying its arguments.

[2015-08-31 17:23] pixelzoom commented on #332
Also more general to take a {string}, rather than stringData as the first parameter.

Ie:

[code]

[2015-08-31 17:31] aaronsamuel137 commented on #332
I've made these changes, assigning to @pixelzoom for review.

[2015-08-31 18:34] aaronsamuel137 commented on #309
I've integrated this into the build server and added documentation. I also moved the optional email configuration fields to getDeployConfig.

Assigning to @pixelzoom for review.

[2015-08-31 18:45] aaronsamuel137 commented on #304
Assigning to @pixelzoom for review.

[2015-08-31 18:49] pixelzoom commented on #304
:+1: Closing.

[2015-08-31 18:49] #304 closed

[2015-08-31 18:50] pixelzoom commented on #332
Inspected change set, looks good, closing.

[2015-08-31 18:50] #332 closed

[2015-08-31 18:50] pixelzoom commented on #330
:+1: Closing.

[2015-08-31 18:50] #330 closed

[2015-08-31 18:54] pixelzoom commented on #309
Question about `emailFrom`.  It's not clear from the doc why I'd want to use this. Is this similar to a "reply to" address? If so, maybe rename it `emailReplyTo`. Or document it better.

[2015-09-01 01:12] samreid opened #334 "Add anchors to the third-party readme file"
So that links like https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md#bending-light can open up right at the sim.  Also, not sure if things should be restructured since code libs are used across repos and reported in a different place than images/audio.  I'm putting this at low priority for now and not assigning it (others feel free to disagree about priority).

[2015-09-01 03:06] jonathanolson commented on #288
Looks good.

[2015-09-01 03:06] #288 closed

[2015-09-01 03:14] jonathanolson commented on #187
Looks good, thanks.

[2015-09-01 03:14] #187 closed

[2015-09-01 03:25] jonathanolson commented on #277
Looks like almond is used so that we don't have to provide a full require.js. Running with "almond: false" gives:
[code]

Documented in place, let me know if there's anythign else to do.

[2015-09-01 03:28] #277 closed

[2015-09-01 13:52] pixelzoom commented on #277
Reopening.

@jonathanolson Any reason why you changed `almond:true` to `almond:false`?  This looks like a bug. It causes the built html file to fail with `Uncaught ReferenceError: define is not defined`.

[2015-09-01 14:18] aaronsamuel137 commented on #309
Decided to remove emailFrom altogether since it is really not necessary. All emails are just sent from phethelp@colorado.edu now. It really makes no difference where they are sent from, since they are only going to be sent to phet developers and never replied to.

Assigning to @pixelzoom for review.

[2015-09-01 15:01] jonathanolson commented on #277
Yup, was my mistake. Sorry!

[2015-09-01 15:29] pixelzoom commented on #309
I'm still confused. If all emails are sent from phethelp@colorado.edu, what are `emailUsername` and `emailPassword` used for?  Some doc is probably in order.

A couple of typos:

[2015-09-01 15:57] aaronsamuel137 commented on #309
Updated the docs and fixed typos. Assigning to @pixelzoom for review.

[2015-09-01 16:00] pixelzoom commented on #309
:+1: Closing.

[2015-09-01 16:00] #309 closed

[2015-09-01 16:31] jonathanolson commented on #321
Looks good, thanks.

[2015-09-01 16:31] #321 closed

[2015-09-01 21:44] pixelzoom commented on #316
No plans to work on this in the near future, so unassigning for now.

[2015-09-01 21:44] pixelzoom commented on #314
No plans to work on this in the near future, so unassigning for now.

[2015-09-01 21:44] pixelzoom commented on #295
No plans to work on this in the near future, so unassigning for now.

[2015-09-02 19:20] #45 closed

[2015-09-03 15:37] jonathanolson opened #335 "Production deploy failure"
On OS X, on campus (no VPN needed), I'm getting the following error:
[code]

[2015-09-03 16:50] aaronsamuel137 commented on #335
Looks like the reason for this failure was out of date repos on figaro. Needed to pull perennial (needed by newer versions of build-server) and chipper and npm install in both.

I went ahead and deployed MS 1.1.1 while debugging this. Take a look on the live site and make sure it all looks right.

I guess this raises the issue of how to keep the phet repos up to date on figaro in a more automated

[2015-09-03 16:53] aaronsamuel137 commented on #165
Working fine. Closing

[2015-09-03 16:53] #165 closed

[2015-09-03 16:55] aaronsamuel137 commented on #320
Sent an email to OIT about this with a init script I want them to try. Waiting to hear back.

[2015-09-03 18:56] aaronsamuel137 commented on #335
Should be fixed. Closing

[2015-09-03 18:56] #335 closed

[2015-09-04 15:29] samreid commented on #296
This seems good, since chipper won't need anything for the cache buster args--it is for the browser requirejs non-built version.  Closing.

[2015-09-04 15:29] #296 closed

[2015-09-04 16:40] pixelzoom opened #336 "applying 'stringTest' query parameter to patterns is problematic"
Noted while investigating an i18n layout issue in https://github.com/phetsims/hookes-law/issues/22, where this issue is cause false reports of layout issues, and possibly masking legitimate issues.

The `stringTest` query parameter is used to specify a string to use for i18n layout testing, or with `stringTest=double` it doubles the length of each string.

This is problematic when applied to Messa

[2015-09-04 20:21] pixelzoom commented on #331
I'll have a look.

[2015-09-04 20:22] pixelzoom commented on #331
Doc was indeed wrong and confusing.  Fixed, closing.

[2015-09-04 20:22] #331 closed

[2015-09-04 20:23] pixelzoom commented on #329
Looks identically weird in Rosetta's combo box.

[2015-09-04 20:24] pixelzoom commented on #327
@jonathanolson Raising priority of this for review. We don't want this to be wrong in sims that we're redeploying.

[2015-09-04 20:26] pixelzoom commented on #313
@jbphet poke.

[2015-09-04 20:27] pixelzoom commented on #285
@aaronsamuel137 poke.

[2015-09-04 20:28] pixelzoom commented on #275
Should this be addressed before redeploy? Sounds like it could result in smaller html file.

[2015-09-04 20:29] pixelzoom commented on #166
This looks like it should be verified before deploying sims.  Assigned to @jbphet since 7/8.

[2015-09-04 20:30] pixelzoom commented on #166
Ah... This is just together-specific licensing that was missing. So does not apply to S2015R.

[2015-09-04 23:16] jonathanolson commented on #275
Tested, and mipmap still works (and seems like it isn't included anymore).

[2015-09-04 23:16] #275 closed

[2015-09-04 23:21] jonathanolson commented on #327
Tested a few cases and reviewed the code. Looks good to me.

[2015-09-04 23:21] #327 closed

[2015-09-05 15:32] aaronsamuel137 commented on #329
Yep, the combo box pulls directly from this file, that's how the issue was noticed.

[2015-09-05 21:54] pixelzoom commented on #336
In https://github.com/phetsims/hookes-law/issues/22#issuecomment-137892025, @samreid said:

[2015-09-06 18:08] aaronsamuel137 commented on #285
Changes look good to me.

One question: Did we decide that we want to remove all cases of the deprecated method fs.existsSync()? There are still 5 uses in build-server and 1 use in getLicenseEntry. I can take care of these if that is the consensus.

[2015-09-08 16:36] pixelzoom commented on #336
9/8/15 dev meeting:

• Use long-string test as a discovery tool to see if there are any obvious problems.
• Recommend that we don't require passing long-string test as part of regression testing.

@ariel-phet Does that seem like a reasonable approach?

[2015-09-08 19:07] pixelzoom commented on #285
As mentioned in https://github.com/phetsims/chipper/issues/285#issuecomment-133541852 above... #306, #307 and #308 were broken out as separate issues to address cases where use of `fs` is questionable. The other uses of `fs` (as described in that comment) seem acceptable to me - and I don't know how you'd remove `fs` from build-server and chipper/common, because they don't have access to `grunt`.

[2015-09-08 19:46] aaronsamuel137 commented on #285
All uses of fs seem acceptable to me, I was particularly wondering about the method existsSync(), since we had discussed removing this pattern and replacing it with the open, catch and fallback pattern https://github.com/phetsims/chipper/issues/285#issuecomment-133506741.

I couldn't quite decipher from the comments above if we had reached a definite consensus on this.

[2015-09-08 20:00] pixelzoom commented on #285
Ah... Ok, now I understand what you're asking.  Yeah, probably worth getting rid of fs.existsSync, since it's deprecated.

`fs.readFileSync( 'foo' )` without a try/catch will fail with:

`>> Error: ENOENT, no such file or directory 'foo'`

So for required files (no fallback), I'd be OK with removing the `fs.existsSync` call, and just letting it fail with that error message.

For files where there

[2015-09-08 20:04] pixelzoom opened #337 "replace fs.existsSync in build-server.js"
Factored this issue out of https://github.com/phetsims/chipper/issues/285#issuecomment-138683623...

Replace uses of deprecated `fs.existsSync` in buildServer.js.

For cases where there is no fallback and reading the file should fail, simply remove the `fs.existsSync` call.

For cases where there is a fallback, use this pattern:

[code]

[2015-09-08 20:05] pixelzoom commented on #285
I handled getLicenseEntry.js, and moved the build-server.js work to https://github.com/phetsims/chipper/issues/337.

Since @aaronsamuel137 said other changes looked good, I'll go ahead and close this issue.

[2015-09-08 20:05] #285 closed

[2015-09-08 20:51] pixelzoom opened #338 "redundant entry for "jsondiffpatch-0.1.31.js"?"
Here's the current entry in build.json for phet-io:

[code]

Since licenseKeys is (I believe) automatically populated with entries from preload, I believe specifying "jsondiffpatch-0.1.31.js" in licenseKeys is redundant, since it's also in preload.

[2015-09-08 20:52] pixelzoom commented on #338
In getBuildConfig.js

[code]

So yes, licenseKeys is automatically populated with any entries from preload.

[2015-09-08 20:57] pixelzoom commented on #338
I removed the redundant entry, then did:

[code]

The build succeeded, and an entry for "jsondiffpatch-0.1.31.js" appear is the output html file's ` window.phet.chipper.thirdPartyLicenseEntries` script.

Closing.

[2015-09-08 20:57] #338 closed

[2015-09-08 22:27] pixelzoom opened #339 "make test-server.js independent of where it's started"
test-server.js currently contains code like this:

[code]
... which requires you to cd into chipper/test-server/ in order to run it.

It would be very easy (and convenient) to make this independent of where it's executed by using `__dirname`, which is the name of the directory that the currently-executing script resides in (see https://nodejs.org/docs/latest/api/globals.html#globals_dirname).

For

[2015-09-08 22:50] pixelzoom commented on #339
test-server is now independent of location, as described above.  At startup, it now prints both the port and root directory.

I tested running with an absolute path:

[code]

With a relative path:

[code]

And from chipper/test-server/:

[code]

My active-runnables file contained 2 sims: acid-base-solutions, area-builder.  All tests completed successfully (3 green boxes) in all of the above scenar

[2015-09-09 14:53] aaronsamuel137 commented on #337
I've updated these usages in build-server. There is one case where I really needed to just check if a file exists, even though there is no need to read it, so I wrote a custom "exists" method using fs.statSync(), which was recommended in the node.js documentation as something to use instead of fs.exists.

I've tested the new code on phet-dev, and seems to be working.

Assigning to @pixelzoom for r

[2015-09-09 16:24] pixelzoom commented on #337
Looks good, closing.

[2015-09-09 16:24] #337 closed

[2015-09-09 16:48] jbphet commented on #339
Commits look good, and I tested it from within chipper/test-server and from my git root dir and both worked on Windows.  Nicely done @pixelzoom - thanks.  Closing.

[2015-09-09 16:48] #339 closed

[2015-09-09 17:24] ariel-phet commented on #336
Seems reasonable to me

[2015-09-09 17:59] aaronsamuel137 commented on #329
Another issue with this file: Avestan should be rtl not ltr.

@jonathanolson, why is there a warning not to modify this file? Is it okay to change these two things?

[2015-09-09 18:58] pixelzoom commented on #336
Great. Closing.

[2015-09-09 19:23] ariel-phet commented on #336
Reopening - Seems we should mention at developer meeting just to make sure everyone is on the same page.

[2015-09-09 20:44] jonathanolson commented on #329
There is a warning since it was generated from the Java version.

It may be best for the future to make changes directly to it, and never auto-generate it again.

[2015-09-09 20:44] jonathanolson commented on #329
Added developer-meeting tag to discuss how this file should be handled.

[2015-09-09 22:28] pixelzoom commented on #336
@ariel-phet We discussed it at Tuesday's developer meeting (see https://github.com/phetsims/chipper/issues/336#issuecomment-138624037), and it was still open mainly to make sure you were OK with the decision.  But if you want to discuss it again, that's fine.

[2015-09-10 18:20] pixelzoom commented on #329
This pertains to localInfo.js, not LocalInfo.js.

@jonathanolson proposed:

Consensus was that this sounds good.  @aaronsamuel137 will remove the "auto-generated" doc, and rename LocalInfo.js to getLocalInfo.js.

[2015-09-10 18:25] pixelzoom commented on #336
Reviewed at 9/10/15 dev meeting. Everyone's on the same page. Closing.

[2015-09-10 18:25] #336 closed

[2015-09-10 18:58] aaronsamuel137 commented on #329
Updated localInfo.js in chipper.

Regarding changing the name of LocaleInfo.js in rosetta, this file currently exports 3 methods, it is not just a single method getLocalnfo. In that case, is it still advisable to change it?

[2015-09-10 19:15] pixelzoom opened #340 "change repo.name convention to repo.title"
Change this in chipper and throughout sims.  Do it for S2105R.

[2015-09-10 20:53] aaronsamuel137 commented on #340
There is a line in rosetta that looks for repo.name which will need to be changed. This is how Rosetta looks up that sim title to display (i.e. Concentration Strings). See routes.js line 292.

[2015-09-10 21:21] pixelzoom commented on #329
I'd like to hear from other developers (@jonathanolson?), because I'm not as familiar with the common patterns for node.  But my inclination would be add bundle everything in one object literal, then export that object literal (see for example ChipperConstants).

[2015-09-10 21:22] pixelzoom commented on #329
... and in that case, LocalInfo.js would be an appropriate name.

[2015-09-10 22:32] pixelzoom commented on #340
It's also hardcoded into build-server.js, line 352:

`simTitleKey = simName + '.name';`

[2015-09-11 00:04] pixelzoom commented on #340
https://github.com/phetsims/chipper/commit/83709494db922cafd8c9d32d1441f188bc588469 was also involved in this issue, and incorrectly labeled in its commit message.

[2015-09-11 00:06] pixelzoom commented on #340
Changes completed.  I verified that all sims build using `grunt-all.sh`.

I also made the changes identified above in rosetta and build-server. @aaronsamuel137 could you please verify that I didn't mess anything up?  Thanks.

[2015-09-11 00:12] pixelzoom commented on #340
This is a breaking change, so I announced to the Google Group:
https://groups.google.com/forum/#!topic/developing-interactive-simulations-in-html5/fhnBcrUbAVs

[2015-09-11 05:27] samreid commented on #326
The change sets above look great.  I tested the following configurations and saw the correct behavior noted below:
non-built + phet => phet
non-built + adapted-from-phet => adapted-from-phet
built --brand=phet + phet => phet
built --brand=phet + adapted-from-phet => phet

Closing.

[2015-09-11 05:27] #326 closed

[2015-09-11 14:59] aaronsamuel137 commented on #340
A few potential issues here:

1. Looks like molecule-shapes already had a string with the key "molecule-shapes.title", with value "Model", so now it has 2 strings with the same key. Not sure if other sims are in the same boat, just happened to notice this because it is in Rosetta and suddenly had the header "Model Strings".

2. This will require republishing of any sims (like molecule-shapes) that

[2015-09-11 15:14] aaronsamuel137 commented on #340
Regarding the rosetta issue, looks like it is solvable by extracting the correct sha from the source code. I'll create a new issue for this in rosetta.

[2015-09-11 16:58] pixelzoom commented on #340
I fixed the issue in molecules-shapes. It has this entry for the "Model" screen name, which seems a little wrong:

[code]

I changed both screen names to use the "screen." key convention, so they now look like this:

[code]

Tested in both molecule-shapes and molecule-shapes-basics.

[2015-09-14 20:10] samreid commented on #235
ESLint 1.4.0 was released recently, with support for cached results which will improve speed significantly (linting only occurs on files that have changed since last time of lint).  Come to think of it, this may even be a speed improvement over our jshint process.  So my concerns regarding performance are significantly allayed.

[2015-09-16 18:58] pixelzoom opened #341 "support subdirectories for media files"
In function-builder, I have a large number of image files, which I want to organize like this:

[code]

I discovered that this is currently not supported by images.js and mipmap.js.  For example, this require statement:

`var disappearImage = require( 'mipmap!FUNCTION_BUILDER/functions/disappear.png' );`

results in this error:

[code]

The offending code in images.js is at line 27:

[code]

The c

[2015-09-16 19:11] pixelzoom commented on #341
Fixed and tested audio.js, image.js and mipmap.js.

Using function-builder... Tested the build process with a subdirectory in images/, and verified that it behaves as expected. Tested the resulting built html file to verify that it runs.

Tested a few other sims with various media types in requirejs mode, no problems encountered.

@jonathanolson would you mind reviewing this? The commit above is p

[2015-09-16 19:25] pixelzoom commented on #341
Looks like reportUnusedMedia.js needs fixing too. Back to me.

[2015-09-16 19:36] pixelzoom commented on #341
reportUnusedMedia.js is fixed. There was support here for subdirectories, but it was apparently untested, because it was broken.

Back to @jonathanolson.

[2015-09-17 04:36] jonathanolson commented on #341
Looks good to me.

[2015-09-17 04:36] #341 closed

[2015-09-18 15:43] aaronsamuel137 commented on #340
I added a fallback for .name in build server and republished sims for the rosetta beta test.

Molecule Shapes will need to be republished on the live site in order to work properly with rosetta. (It will almost work as is, but will show up as "Model Strings" instead of "Molecules Shapes Strings")

Anything else to do here?

[2015-09-18 15:56] aaronsamuel137 commented on #329
I did a little googling around about this, and didn't see a consistent best practice here. I decided for this file that putting all the exports in an object literal seems a little nicer.

Assigning to @pixelzoom for review.

[2015-09-18 20:39] pixelzoom commented on #340
Wondering why the fallback is needed for Rosetta?  Is it a permanent fallback, or something that you're planning to remove?

[2015-09-18 22:32] aaronsamuel137 commented on #340
I guess it is unnecessary once all the MS is republished, so I can remove it then.

[2015-09-19 22:28] pixelzoom commented on #340
OK.  I'll leave it up to as to whether to leave this issue open until then, or to just add a TODO item to the source code.

[2015-09-21 17:12] pixelzoom commented on #329
LocalInfo.js looks good. 'nb' locale now shows up as ""Norwegian Bokmal" in Rosetta combo box.

Closing.

[2015-09-21 17:12] #329 closed

[2015-09-24 05:02] jonathanolson opened #342 "[build-server] Assumptions about future chipper behavior/structure"
Right now it seems build-server and perennial are going to be run from the latest (stable) master. Once it checks out the SHAs needed for the build (which should be done from perennial, will have an issue for that soon), it will proceed to do the following actions:
1. grunt build ...
2. grunt generate-thumbnails

I'd prefer there to be one task that handles all of this, something like:
1. grunt bu

[2015-09-24 05:06] jonathanolson opened #343 "[build-server] Alternative deployment support"
I'd either cut the commented out spot SCP code, or (preferably) implement https://github.com/phetsims/chipper/issues/145. We may long-term want build-server parameters that are able to note what should be done with the build simulation. Some options:
1. Do what it does now (create/update directory under htdocs with built simulation)
2. SCP to spot, skipping .htaccess/XML/notifying server/rosetta c

[2015-09-24 05:10] jonathanolson opened #344 "[build-server] Top-level documentation updates"
Discrepancies I noted from the "What the Build Server Does" section:
- Note that perennial is pulled after chipper is pulled
- A note that perennial "grunt checkout-master-all" is done on failure would help
- Note about rosetta potential commit on new sims
- Note sim-only "git checkout sha" after the checkout-shas
- Update "grunt build" docs with ideally how it is used (it includes the brand optio

[2015-09-24 05:14] jonathanolson opened #345 "[build-server] Consider separate location for build-server's chipper"
Correct me if I'm wrong, but I only see one location where chipper code is stored. It seems the build-server is run from /data/share/phet/phet-repos/chipper, and then it checks out older code SHAs to build older sims.

If there's an segfault or something in build-server while chipper is on an old SHA, presumably an OLD out-dated version of the build-server would be launched when it is started (!!!

[2015-09-24 05:14] jonathanolson commented on #345
Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 05:14] jonathanolson commented on #344
Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 05:14] jonathanolson commented on #343
Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 05:14] jonathanolson commented on #342
Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 05:15] jonathanolson opened #346 "[build-server] Recommend renaming cloneMissingRepos"
The pulling of chipper/perennial is also included, and threw me off a bit when reviewing.

Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 05:17] jonathanolson opened #347 "[build-server] npm install for chipper/others"
I haven't seen a place where chipper has "npm install" (only the sim directory).

If dependencies are added (like the stuff for generating thumbnails), lack of "npm install" would cause a build failure, so I recommend it getting added.

[2015-09-24 05:17] jonathanolson commented on #347
Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 05:19] jonathanolson opened #348 "[build-server] Ordering of npm install"
The current npm install on the sim directory is done after the previous task checked out master. This is a problem if the older SHA for chipper/the sim had different dependencies specified in the package.json.

I'd recommend only doing "npm install" after we are on the SHAs we want to build.

Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 05:21] jonathanolson opened #349 "[build-server] checkout-shas handling"
Right now build-server relies on "grunt checkout-shas" from master chipper, NOT perennial. I'd recommend switching this to use perennial (since it's also required to do so that we can check out the chipper SHA and THEN npm install for https://github.com/phetsims/chipper/issues/348).

Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 05:22] jonathanolson opened #350 "[build-server] Why skip lint?"
I have a slight preference for not skipping the linting process in the build server, even though it will cause things to take a bit longer. It seems best to catch the grunt errors if they somehow crept through.

Thoughts?

Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 05:24] jonathanolson opened #351 "[build-server] Lodash version"
It looks like the build-server is requiring the specific sherpa version. Is there an advantage of that over doing:
[code]

Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 05:27] jonathanolson opened #352 "[build-server] Initial logging"
1. The defaultOptions for -h or --help are never used.
2. Probably not an issue, but if --silent is passed in, it will still spit out console errors if you added an unrecognized option, or if you provided a help option.
3. console.error should be used on an unrecognized option, so it goes to stderr.
4. It's probably worthy of a log line if the "configure email server" conditional fails, triggering

[2015-09-24 05:29] jonathanolson opened #353 "[build-server] 'server' var shadowed"
"var server" is used on the initialization for the email server, BUT THEN in the task queue is shadowed with another "var server" in the closure that deals with the server we are deploying to.

I'd recommend renaming so this shadowing of the outer "server" isn't present.

Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 05:31] jonathanolson opened #354 "[build-server] Potentially send SHAs in failed build email?"
Sending SHAs in a failed build email might help debugging for developers who don't know where the build server log is (so they can reproduce on their own maybe?)

Also, where will the emails be set to send to (what is the emailTo value?)

Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 05:32] jonathanolson opened #355 "[build-server] Templates?"
I see express.js "template" code:
[code]
but I don't see any /html/views folder or template usage. Is this vestigial?

Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 05:37] jonathanolson opened #356 "[build-server] Safety of query parameters"
First of all, it sounds safest to apply decodeURIComponent to all of the query parameters.

Second, there is query-parameter-derived information being passed as fragments to exec commands:
- simTitle, (in git commit message)
- repoName, (in git pull)
- repos[ simName ].sha (in git checkout)
- simName/version (in cp)

For this reason, I'd prefer some additional checking of the format of query param

[2015-09-24 05:39] jonathanolson opened #357 "[build-server] Version regex"
The version regular expression looks like it will fail for a few patterns that have more than single-digit numbers for all slots:
- "1.1.10" will be silently truncated to "1.1.1"
- "1.10.0" will fail to match at all
- "10.0.0" will be silently truncated to "0.0.0"

I'd recommend making the version regex handle multiple digits AND force it to start matching at the start of the string, AND force it

[2015-09-24 05:40] jonathanolson opened #358 "[build-server] Sim title key fallbacks"
It looks like simTitleStringKey is now required in package.json, so I would highly prefer if the fallbacks (simname.title and simname.name) be removed from the build-server.

Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 05:45] jonathanolson opened #359 "[build-server] simTitle intialization"
createTranslationsXML is currently creating simTitle, which is used later in addToRosetta. I'd prefer this would be more explicit, so that createTranslationsXML would call a callback including the simTitle e.g.:
[code]
then have the callback put it in a closure:
[code]
and pass it to the function that needs it:
[code]

That makes it very explicit that it's unsafe to reorder those two (I know it's

[2015-09-24 05:50] jonathanolson opened #360 "[build-server] Locales included in XML"
It currently seems like a locale is not included in the XML file if it has no sim-specific babel's master OR if the HTML file isn't present in the versioned directory after copying.

It seems safe, since it prevents unpublished locales from being listed AND handles removal of translations from the website if the sim-specific translation file was removed from babel (while not removing the runnable

[2015-09-24 05:52] jonathanolson opened #361 "[build-server] Code duplication"
There's some duplication of the code to create XML that should be cleaned up (branch based on whether we need to fall back to an English title):
[code]
Having some "simTitle with fallback applied" var should be sufficient.

Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 05:53] jonathanolson opened #362 "[build-server] Process for updating .htaccess files?"
Since the build-server overwrites .htaccess files, what is the process if we need to add things to the .htaccess files? Would probably require restarting the build-server after pulling changes, and THEN manually making the changes?

Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 05:55] jonathanolson opened #363 "[build-server] Download .htaccess files"
I don't see anything sim-specific or version-specific at all in them. Can the rewrite info be included in the main (other) .htaccess files, OR could we just have this in one .htaccess file at HTML_SIMS_DIRECTORY?

Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 05:56] jonathanolson opened #364 "[build-server] addToRosetta with changed English sim title"
Not sure how much of an issue it would be, but if a published sim has a slight change to its English title, the build-server won't update rosetta's simInfoArray.json (since the entry for the sim already exists).

Is this worth a fix?

Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 06:03] jonathanolson opened #365 "[build-server] Rosetta push/pull handling of merge conflicts"
It seems right now all it will do is log a warning if addToRosetta fails due to merge conflicts since it uses execWithoutAbort (it will continue on with the build).

The unlikely but serious failure:
1. Push fails when network/GitHub is down
2. Someone reformats simInfoArray.json before the next time the same sim is built
3. Merge Conflict

The more likely but less serious:
1. Push fails when netw

[2015-09-24 06:07] jonathanolson opened #366 "[build-server] Potentially verify checked out SHAs"
Any thoughts on whether it would be worth it to verify that the checked out SHAs match what we should be building? With writing out dependences.json from the SHAs passed in, it might be very difficult to track down bugs if somehow (unlikely) a sim is built with incorrect SHAs. It might be easy to check by creating another dependencies.json file and comparing (if the original written one from write

[2015-09-24 06:12] jonathanolson opened #367 "[build-server] pullMaster"
pullMaster uses an async pattern to execute the pulls in parallel, however if 2 or more of those pulls fail, the exec() calls from all of the failures will call parallel (or multiple) "grunt checkout-master-all" and WILL call taskCallback multiple times. Calling taskCallback multiple times seems bad, and hopefully doesn't skip ahead in the queue.

Maybe use execWithoutAbort (but have execWithoutAb

[2015-09-24 06:13] jonathanolson opened #368 "[build-server] Consolidate permissions bitmask constant"
436 (0664) is specified multiple times, and it would be nice to have it isolated into a global constant with documentation about it in just one place (presumably we always want just one permissions bitmask, and wouldn't vary them independently in the future).

Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 06:15] jonathanolson opened #369 "[build-server] What to do if project synchronization fails"
Since the synchronization only happens if it's a local request (according to website code), should we send a failure email if the project synchronization fails? This might happen on 'deleted' translations, as noted in https://github.com/phetsims/chipper/issues/360.

Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 06:18] jonathanolson opened #370 "[build-server] dependencies.json created twice?"
As noted briefly in https://github.com/phetsims/chipper/issues/366, it seems dependencies.json is first created from the SHAs sent to us, but then it might be overwritten by the build process (since that also outputs dependencies.json?).

Also, the repos object is modified (deleting the comment), which we may not want to do. I think dependencies.json is first written BEFORE the repos object is mod

[2015-09-24 06:20] jonathanolson opened #371 "[build-server] Does writeDependenciesFile failure stall the task queue?"
I noticed that if the writeFile for writeDependenciesFile fails, you return a winston.log( .. ). This prevents taskCallback from being called, which my intuition would say it stalls the task queue, preventing any further tasks from being processed.

Is that correct?

Review: https://github.com/phetsims/chipper/issues/141

[2015-09-24 06:22] jonathanolson commented on #345
Also as a potential consequence of this, should build-server be moved to a separate repo (since it's effectively handled somewhat independently?)

Adding developer-meeting tag to discuss (unfortunately after I filled the chipper issues page with review issues, sorry).

[2015-09-24 06:27] jonathanolson commented on #141
Review completed. In great shape overall, comment level is perfect, and it has way better error handling than anything we've had for Java/Flash.

Some issues that could affect the build-server the most:
- Separate location for build-server, and possibly separate repo: https://github.com/phetsims/chipper/issues/345
- Alternative deployment support: https://github.com/phetsims/chipper/issues/343
- A

[2015-09-24 14:39] aaronsamuel137 commented on #343
I've spent some time wrestling with this issue of spot deploys. It would be fairly easy to have build server deploy to spot at the same time as it does production deploys, but it comes with extra complications. We'll need to: make sure the permissions are right, make sure we're not overwriting files that we don't want to be, consider the case of translations, etc.

I guess I am fuzzy on what the s

[2015-09-24 14:44] aaronsamuel137 commented on #345
I think it's a good idea to move it. Maybe to perennial? Or to it's own repository.

[2015-09-24 14:45] aaronsamuel137 commented on #342
Seems like a good idea to me.

[2015-09-24 15:01] aaronsamuel137 commented on #371
That's correct, good catch. I've fixed this. Assigning to @jonathanolson for review.

[2015-09-24 15:02] pixelzoom commented on #350
+1 for not skipping lint.  Skipping lint should be done only if `--lint=false`.

[2015-09-24 15:03] pixelzoom commented on #351
+1 for `require( 'lodash-node' )`.

[2015-09-24 15:04] pixelzoom commented on #353
+1 for renaming.

[2015-09-24 15:08] pixelzoom commented on #358
`simTitleStringKey` is no longer specifiable in package.json, see https://github.com/phetsims/chipper/issues/340/.  All sims must conform to the repo.title convention, which is not a fallback.  The fallback is repo.name, which I understand will be removed once we've republished all sims that used that convention.

@jonathanolson ok to close?

[2015-09-24 15:10] aaronsamuel137 commented on #350
I'm fine to not skip lint. It will just a little longer and I was assuming it would've already been done if we got to this point. But I guess it would be an extra safe guard in case something has gone wrong with the build.

Regarding @pixelzoom's comment, I am not sure I follow. Currently, build server uses --lint=false.

[2015-09-24 15:11] pixelzoom commented on #368
If this is factored out, please refer to it as the `umask` (not bitmask) so that we know what it applied to by its name.

[2015-09-24 15:15] aaronsamuel137 commented on #351
No advantage, just followed the pattern of using sherpa that I saw elsewhere in our code.

However it looks like lodash-node is depricated, so maybe we should use just lodash instead.

https://www.npmjs.com/package/lodash-node

[2015-09-24 15:15] pixelzoom commented on #350
It was unclear whether this was issue was referring to linting the build-server code itself (during deploy of the build-server) or build-server skipping lint when building sims.   My comment about `--lint=false` was meant to indicate that anytime anything is built, it should also be linted, and lint should only be skipped if explicitly requested.

[2015-09-24 15:24] aaronsamuel137 commented on #368
Factored out as UMASK.

Assigning to @jonathanolson for review.

[2015-09-24 15:27] jonathanolson commented on #368
Looks good, thanks.

[2015-09-24 15:27] #368 closed

[2015-09-24 15:29] jonathanolson commented on #351
If it's available now, 'lodash' or 'lodash-compat' would be preferred over 'lodash-node'.

[2015-09-24 15:35] jonathanolson commented on #358
Ah sorry, saw the following and assumed (didn't realize that it was essentially removed, but still had a property of the same name):
[code]

So then build-server shouldn't try to access it.

Sounds best to make changes to the sims where this is the case, and remove it from build-server, right?

[2015-09-24 15:36] jonathanolson commented on #371
Looks good, thanks.

[2015-09-24 15:36] #371 closed

[2015-09-24 15:36] aaronsamuel137 commented on #351
Using lodash package. Assigning to @jonathanolson for review.

[2015-09-24 15:40] jonathanolson commented on #345
I'm fine with either option. Would we ever want to have checked out SHAs be different for perennial and the build-server?

[2015-09-24 15:45] jonathanolson commented on #343
There was one point where building on Windows and building on OS X / Linux resulted in different behavior of the sim (one failed to have a CR LF, so had issues loading offline on IE). Having RCs go through the exact same build setup that production deployments do will ensure we will catch errors that would be seen from production deployments. Additionally if there is some configuration issue with

[2015-09-24 15:45] jonathanolson commented on #351
Looks good, thanks.

[2015-09-24 15:45] #351 closed

[2015-09-24 16:50] aaronsamuel137 commented on #350
Removed --lint=false.

Assigning to @jonathanolson for review.

[2015-09-24 16:56] aaronsamuel137 commented on #345
I don't think so. The idea of perennial is that it should always be on master, which I think should be true of build-server as well.

[2015-09-24 17:00] jonathanolson commented on #350
Looks good, thanks.

[2015-09-24 17:00] #350 closed

[2015-09-24 18:14] pixelzoom commented on #358
I renamed in all sims in master. I'm not sure when why the fallback is needed. @aaronsamuel137 can you comment?

[2015-09-25 15:12] aaronsamuel137 commented on #370
dependencies.json is created once for internal use by the build server, and once in the build itself. It is not overwritten because it is created in two different places.

The build server creates this file so it can call grunt checkout-shas, which needs to be done before the actual build. Does this make sense? Anything you think should be changed here.

[2015-09-25 15:13] aaronsamuel137 commented on #370
I've made this change.

[2015-09-25 15:13] aaronsamuel137 commented on #370
Assigning to @jonathanolson for review.

[2015-09-25 15:24] aaronsamuel137 commented on #358
Fallback no longer needed if we are doing maintenance releases of all sims published before the .title change.

Removed the fallback and the searching of package.json for the simTitleKey.

Assigning to @jonathanolson for review.

[2015-09-25 15:30] aaronsamuel137 commented on #361
Removed the code duplication and a log statement that didn't seem that important. Assigning to @jonathanolson for review.

[2015-09-25 15:34] aaronsamuel137 commented on #360
That is correct. Perhaps we could think of a way of handling this from build-server? Not sure how though, unless we create an API for doing so. Any thoughts?

[2015-09-25 15:45] aaronsamuel137 commented on #359
Not sure if I followed exactly what you were suggesting, but I made an attempt at it. Assigning to @jonathanolson for review.

[2015-09-25 16:06] aaronsamuel137 commented on #369
Added email on synchronization failure. Assigning to @jonathanolson for review.

[2015-09-25 16:32] aaronsamuel137 commented on #367
Implemented this. Assigning to @jonathanolson for review.

[2015-09-25 16:39] aaronsamuel137 commented on #366
No it isn't, build-server writes it to it's own temporary build directory in writeDependenciesFile, and during the build it is written in the sim directory's build dir.

Not sure how this would happen unless grunt checkout-shas did the wrong thing. Are you suggesting this a test for grunt checkout-shas?

[2015-09-25 16:47] aaronsamuel137 commented on #365
The reason I used execWithoutAbort is because technically the git push will "fail" if there are no changes made, which happens all the time if you are deploying a translation and not a totally new sim.

Though it looks like the check ```if ( simInfoArrayString !== contents ) {``` should handle this case, so maybe it is safe to use exec here instead. I might have added this check after I used execW

[2015-09-25 16:48] aaronsamuel137 commented on #365
Forgot to reference the issue, here is the commit: f1e98e68dec90e8866ecb02359f6045fbd3b1eb8

[2015-09-25 16:56] aaronsamuel137 commented on #365
On second thought, I decided to go with execWithoutAbort and send and email for now. Assigning to @jonathanolson for review.

[2015-09-25 17:01] aaronsamuel137 commented on #364
I think changes to the English title will actually create updates. Here is the code:

[code]

The title and url are updated every time if the sim already exists in the array. Does that seem right to you or is there something I am missing here?

[2015-09-25 17:11] aaronsamuel137 commented on #363
Good point. I've combined the .htaccess files. That way build-server takes care of it instead of having to manually create the file in HTML_SIMS_DIRECTORY. Did a little testing on phet-dev and seemed to work as expected combined.

Assigning to @jonathanolson for review.

[2015-09-25 17:13] aaronsamuel137 commented on #362
Yep, that's what it would require. Or you could restart build-server and rebuild sims, but that seems like it would take longer.

We could think about making an "updateHtaccess" API for build server if this need ever arises.

[2015-09-25 17:42] aaronsamuel137 commented on #357
I've updated this regex. I had to move a few things around to get this to work, so that abortBuild can be called if the version is bad.

Assigning to @jonathanolson for review.

[2015-09-25 20:19] aaronsamuel137 commented on #356
Added validation for query params. Assigning to @jonathanolson for review.

[2015-09-25 20:20] aaronsamuel137 commented on #356
Here's another commit where I added some return statements after abortBuild calls... might be a better way to do this. 34533224da7c32fd476ea5b22a18127e1b664a22

[2015-09-25 20:25] aaronsamuel137 commented on #355
Good catch. I've removed this and updated the comment. Assigning to @jonathanolson for review.

[2015-09-25 20:30] aaronsamuel137 commented on #353
I renamed both of these vars so they have more descriptive names now too. Assigning to @jonathanolson for review.

[2015-09-28 15:29] aaronsamuel137 commented on #352
I've addressed numbers 3 and 4. Regarding 1, -h and --help need to be in default options, otherwise it will say "unrecognized option" if you try to use them.

Also, in practice the only option that is used is --verbose. When run as an init script, the logging is set up to go to rosetta.log by default. Do you think it is worth is to leave these options in place, or remove them? They are mostly just

[2015-09-28 15:55] aaronsamuel137 commented on #349
Use perennial for check-out shas and tested on phet-dev. Assigning to @jonathanolson for review.

[2015-09-28 15:59] aaronsamuel137 commented on #348
Moved npm install after checkout-shas. Assigning to @jonathanolson for review.

[2015-09-28 16:06] jonathanolson commented on #352
--help is always nice to have. up to you for the others.

[2015-09-28 16:42] aaronsamuel137 commented on #346
Decided just to remove this method and put the steps in the build sequence. Assigning to @jonathanolson for review.

[2015-09-28 16:46] aaronsamuel137 commented on #343
If we give build-server an rc-deploy option, should we have it do a commit and push like grunt deploy-dev does? Or just the deployment to spot?

[2015-09-28 16:48] aaronsamuel137 commented on #340
Removed from build-server. Closing

[2015-09-28 16:48] #340 closed

[2015-09-28 17:00] aaronsamuel137 commented on #354
I've made this change to the default fail email.

Right now this is configured in build-local.json. Currently, it just sends an email to me, but I can add others if they'd like.

Assigning to @jonathanolson for review.

[2015-09-28 17:03] aaronsamuel137 commented on #352
Decided to remove silent and logFile, since in practice we are handling these cases differently.

Assigning to @jonathanolson for review.

[2015-09-28 17:45] aaronsamuel137 commented on #342
This is actually an SR2015 issue, since it will require sims to have grunt build-for-server in chipper.

[2015-09-28 17:48] aaronsamuel137 commented on #342
It will require redeploying and maybe re-testing? Or we could just patch sims with the latest chipper?

Any opinions on whether or not we should do this?

[2015-09-28 18:10] pixelzoom commented on #342
By "in chipper", do you mean in the snapshot of chipper indicated by dependencies.json?

[2015-09-28 18:18] aaronsamuel137 commented on #342
Yes, I do. build-server will fail trying to run ```grunt build-for-server``` if ```build-for-server``` doesn't exist as a grunt task in that snapshot of chipper.

[2015-09-28 18:27] pixelzoom commented on #342
This is going to be a recurring problem as we add more responsibilities to the build tools. Currently, we are planning to use old build tools to maintain old versions of products. I sounds like that is a flawed plan.

[2015-09-29 17:19] pixelzoom commented on #342
9/29/15 dev meeting:
• we've only redeployed 1 sim (Molecules Shapes, which requires redeploy anyway), so let's get this in now
• use new process only for sims that have been redeployed (S2015R)
• old process for maintenance release still works for English, if we need to patch an old sim

[2015-09-29 17:25] pixelzoom commented on #345
9/29/15 dev meeting:
• new repo for build-server, or move it to perennial? consensus: move to perennial

[2015-09-29 21:16] aaronsamuel137 commented on #342
I've finished the work on this issue. Assigning to @jonathanolson for review.

[2015-09-29 21:16] aaronsamuel137 commented on #342
Here's the commit for convenience (so you don't have to search above between the comments): https://github.com/phetsims/chipper/commit/f5c3986cea110068b27dd17a94de523cc6dcbc36

[2015-09-30 16:58] samreid commented on #235
I've been enjoying the IDEA jshint plugin and noticed it has a similar ESLint plugin.  It would be very nice to catch ESLint issues in the IDE while coding.

Thinking about how to approach ESLint--we wouldn't have to immediately bail on jshint and jump ship to ESLint, we could add an eslint phase to our existing process that only checks for specific things (that we miss with jshint).

I just saw a

[2015-09-30 17:24] aaronsamuel137 commented on #345
Moved to perennial. Assigning to @jonathanolson for review.

[2015-09-30 17:28] aaronsamuel137 commented on #347
Added npm install for chipper and perennial. Assigning to @jonathanolson for review.

[2015-09-30 19:03] aaronsamuel137 commented on #344
Updated the docs, and will probably update once more after addressing #343.

[2015-09-30 19:04] aaronsamuel137 commented on #320
I've worked with OIT to set this up. Closing.

[2015-09-30 19:04] #320 closed

[2015-10-01 15:49] jonathanolson commented on #347
Looks good, thanks.

[2015-10-01 15:49] #347 closed

[2015-10-01 15:50] jonathanolson commented on #370
Looks good, thanks!

[2015-10-01 15:50] #370 closed

[2015-10-01 15:50] jonathanolson commented on #369
Looks good, thanks!

[2015-10-01 15:50] #369 closed

[2015-10-01 15:51] jonathanolson commented on #342
Looks good, thanks!

[2015-10-01 15:51] #342 closed

[2015-10-01 15:53] jonathanolson commented on #343
That could potentially be left in client-side code? Probably easiest to keep the build-server checking out shas, not having to push to branches that are fully developer controlled.

[2015-10-01 15:54] jonathanolson commented on #345
Looks good, thanks!

[2015-10-01 15:54] #345 closed

[2015-10-01 15:54] jonathanolson commented on #346
Looks good, thanks!

[2015-10-01 15:54] #346 closed

[2015-10-01 15:55] jonathanolson commented on #348
Looks good, thanks!

[2015-10-01 15:55] #348 closed

[2015-10-01 15:55] jonathanolson commented on #349
Looks good, thanks!

[2015-10-01 15:55] #349 closed

[2015-10-01 15:56] jonathanolson commented on #352
Sounds good.

[2015-10-01 15:56] #352 closed

[2015-10-01 15:56] jonathanolson commented on #353
Looks good, thanks!

[2015-10-01 15:56] #353 closed

[2015-10-01 15:58] jonathanolson commented on #354
Feel free to add me if possible?

[2015-10-01 15:58] jonathanolson commented on #355
Sounds good, thanks.

[2015-10-01 15:58] #355 closed

[2015-10-01 16:02] jonathanolson commented on #357
Sweet, didn't learn about the non-capturing parenthesis "(?:" until now! Will need to rewrite a few things to use that in the future.

Looks good, thanks.

[2015-10-01 16:02] #357 closed

[2015-10-01 16:04] jonathanolson commented on #356
Looks good, thanks!

[2015-10-01 16:04] #356 closed

[2015-10-01 16:09] jonathanolson commented on #367
[code]

If there is an error, it calls abortBuild() and callback()? Would we only want to call abortBuild(), so we stop processing the failed task?

Otherwise, looks good to me.

[2015-10-01 16:11] jonathanolson commented on #366
I guess I was thinking if checkout-shas managed to silently fail, but that seems unlikely. Have you tested to see what happens if checkout-shas has a git command fail, or if it runs into an error condition before that?

[2015-10-01 16:12] aaronsamuel137 commented on #343
Great! I just added an build server parameter 'option', which can be set to 'rc' to do a spot deploy. We can change these names if you can think of better ones. I used 'option' instead of a boolean in case we want to add an another option later.

Do you think we should commit and push on the client side as part of grunt deploy-rc, or leave it up to the developer to do this?

[2015-10-01 16:12] jonathanolson commented on #365
Looks good, thanks.

[2015-10-01 16:12] #365 closed

[2015-10-01 16:15] jonathanolson commented on #364
Sorry, I must have mis-read the code, sorry!

[2015-10-01 16:15] #364 closed

[2015-10-01 16:15] jonathanolson commented on #363
Looks good, thanks.

[2015-10-01 16:15] #363 closed

[2015-10-01 16:16] jonathanolson commented on #362
Ok, can't think of a better way. Thanks.

[2015-10-01 16:16] #362 closed

[2015-10-01 16:16] jonathanolson commented on #361
Looks good, thanks.

[2015-10-01 16:16] #361 closed

[2015-10-01 16:17] jonathanolson commented on #360
Up to you if you want to have a "remove-missing-locales" task, where it checks what is in babel and cleans the HTML sim directory.

I'd probably opt to not worry about it though.

[2015-10-01 16:18] jonathanolson commented on #359
Looks good, thanks!

[2015-10-01 16:18] #359 closed

[2015-10-01 16:20] aaronsamuel137 commented on #366
If checkout-shas fails, the build will fail and abort as expected. I accidentally tested this today by creating an rc branch for chains locally and not pushing it. Build server tried to checkout the sha, but it didn't exist since it was never pushed to github. "git checkout [sha]" failed, and the build failed and sent an email.

I guess it could fail in another way? but not sure how. Anything else

[2015-10-01 16:22] jonathanolson commented on #358
Looks good, thanks!

[2015-10-01 16:22] #358 closed

[2015-10-01 16:29] aaronsamuel137 commented on #360
Not worrying about it for now sounds good. Closing

[2015-10-01 16:29] #360 closed

[2015-10-01 16:29] aaronsamuel137 commented on #366
Assigning to @jonathanolson

[2015-10-01 16:33] aaronsamuel137 commented on #367
Good catch, that was supposed to have an else block. Assigning to @jonathanolson for review

[2015-10-01 17:26] aaronsamuel137 commented on #343
Added commitAndPush here. Assigning to @jonathanolson for review.

[2015-10-01 18:16] samreid commented on #235
@jbphet @jonathanolson say ok to investigate ESLint as an add-on step as long as it doesn't slow down the build.

[2015-10-01 18:17] pixelzoom opened #372 "factor out JSHint options"
At 10/1/15 developer meeting, @samreid demonstrated JSHint support in IntelliJ IDEA. He had to copy the contents of jshintOptions.js (JSHint config options) to a separate file in order to load it into IDEA.   Investigate factoring this out so that it can be used by both jshintOptions.js and IDEA.

Low priority.

[2015-10-01 18:21] samreid commented on #235
Assigned to myself (low priority) to take a look and see how this would impact our toolchain.

[2015-10-01 18:57] aaronsamuel137 commented on #344
Finished docs. Assigning to @jonathanolson for review.

[2015-10-01 20:41] jonathanolson commented on #344
Looks good, thanks!

[2015-10-01 20:41] #344 closed

[2015-10-02 05:40] jonathanolson commented on #343
Looks good, thanks.

[2015-10-02 05:40] #343 closed

[2015-10-02 05:40] jonathanolson commented on #367
Looks good, thanks.

[2015-10-02 05:40] #367 closed

[2015-10-02 05:41] jonathanolson commented on #366
Nope, should be good. Thanks for the answers!

[2015-10-02 05:41] #366 closed

[2015-10-02 15:02] samreid commented on #372
I was going to dig into this, but converting to to JSON would mean leaving all of our nice comments behind (or using a clumsy way to turn the comments into JSON data).  @pixelzoom please advise.

[2015-10-02 17:58] aaronsamuel137 commented on #163
deploy-dev has been redone with commandline scp, and seems to work. Closing. Feel free to reopen if it isn't working for you.

[2015-10-02 17:58] #163 closed

[2015-10-02 20:08] samreid commented on #235
Testing for ESLint performance, using 3 eslint tasks in bending-light I see:

time grunt lint-all // 14.358s
time grunt eslint-all // 14.634s (first time)
time grunt eslint-all // 1.886s (second time, with cache)

After introducing an error into one file (3 missing ;):
time grunt eslint-all // 1.928s
time grunt lint-all // 14.072s

So a cached eslint with a small number of modified files takes abo

[2015-10-02 20:12] samreid commented on #235
I'm elated at the idea of a linting step that takes 2 seconds instead of 14 seconds.  Elated enough to abandon jshint completely and replace it with eslint?  Perhaps.

[2015-10-02 20:15] samreid commented on #235
Guess who wouldn't have to deal with `grunt --lint=false` anymore.  This guy:
![image](https://cloud.githubusercontent.com/assets/679486/10256660/f25211fe-690f-11e5-89a0-98df9e3d7346.png)

[2015-10-02 20:21] samreid commented on #235
Checking for the cost (in time) of adding a cached eslint step to our existing process (default grunt, which includes jshint+requirejs+etc)

with eslint: 51.014s
without eslint: 51.344s

So it looks like the time added by a cached eslint is in the noise.

[2015-10-02 20:30] samreid commented on #235
For reference, here are the default eslinting rules our code doesn't follow:

[code]

[2015-10-02 20:31] samreid commented on #235
I don't want to spend much time on this without getting a +1 from other devs, but I do want to commit my changes so that we can easily continue if we decide to.

[2015-10-02 20:38] samreid commented on #235
I posted this in the google group:

https://groups.google.com/forum/#!forum/developing-interactive-simulations-in-html5

I'm investigating ESLint support in chipper as part of https://github.com/phetsims/chipper/issues/235 .  The package.json got 2 new dependencies, so developers and build processes will likely have to run `npm install` from chipper before the next build.

Please report any issues

[2015-10-02 21:28] samreid commented on #235
To get my eslint rule sealegs, I'm writing a rule that checks that each file has a copyright statement.  Here are some typos/errors I'm seeing (and fixing):

// Copyright 2002-2014, University of Colorado Boulder Boulder
// Copyright 2002-2014, University of Colorado
/*
 * Copyright 2002-2014, University of Colorado Boulder
 */
etc.

[2015-10-02 21:33] samreid commented on #235
Writing my own rule and applying it was a very positive experience.  However, I'm unable to get IDEA to use my dynamic rules in its checking.  It shows this error:
![image](https://cloud.githubusercontent.com/assets/679486/10258374/df07b666-691a-11e5-9fdb-384669014452.png)

[2015-10-02 21:39] samreid commented on #235
Moving from "additional rules directory" to the options seems to have fixed this:
`--rulesdir /Users/samreid/github/chipper/eslint/rules`

[2015-10-02 21:44] samreid commented on #235
Our style guide directs us to use single quotes.
![image](https://cloud.githubusercontent.com/assets/679486/10258546/637b952e-691c-11e5-9a7c-3e9957c75887.png)

However, eslint reports 100 occurrences of double quotes (when doing lint-all from bending-light).
[code]

I spot checked these errors and they look legit.  The quotes rule reportedly has a fix option, so I'm going to give it a go.

[2015-10-02 21:48] pixelzoom commented on #372
As noted in the first comment, "low priority". I don't have time (or interest) to work on this, and was merely the scribe for the dev meeting.

[2015-10-02 21:52] samreid commented on #235
I used eslint's autofix to automatically fix all of the incorrect quotes.  I spot checked and it looked like all of the fixes were good. I launched Bending Light and it seemed to run properly.  So I committed (above).

[2015-10-02 21:55] pixelzoom commented on #372
Also wondering why you're working on this when we've also been discussing moving to ESLint?

[2015-10-02 22:15] samreid commented on #372
Since it was your idea to move the file to json, I thought you might want to (a) be alerted to the issue about the comments and why it would not be straightforward to move to json and (b) maybe have a solution to that problem.  Indeed this issue remains at low priority and may be abandoned if we also abandon jshint.  Unassigning.

[2015-10-02 22:28] pixelzoom commented on #372
My observation at the meeting was that it having the JSHint config duplicated in 2 places wasn't desirable. I seem to recall that a number of us proposed moving to JSON simultaneously.

I agree that preserving the comments is desirable. If IDEA requires the options in JSON format, then I don't have another solution to propose. Perhaps one of the other developers has a proposal?

[2015-10-02 22:44] samreid commented on #235
After fixes above, it seems like we are satisfying almost all of the recommended linting rules with eslint: http://eslint.org/docs/rules/
![image](https://cloud.githubusercontent.com/assets/679486/10259356/57c42400-6924-11e5-891b-e73bf49a7bc9.png)

The rules we aren't satisfying are:
* Empty block statements
* Redundant double negation in an if statement condition
* Unexpected constant condition

[2015-10-03 03:59] samreid commented on #235
require-jsdoc reports 155 functions with missing jsdoc.  We may want to add that documentation!

[2015-10-03 04:57] samreid commented on #235
To take eslint for a test drive, you must do the following:
pull-all.sh
cd chipper
npm install

then add this line to your simulation package.json/devDependencies:
"grunt-eslint": "~17.2.0",

then do these commands
cd my-simulation
grunt eslint

The eslint task will lint the sim *and* its dependencies.  In the future eslint should become part of the standard grunt.

[2015-10-03 22:05] samreid commented on #235
I'm going to take a break from this issue and wait for feedback from other developers.  If we decide to proceed with eslint, we will need better documentation in .eslintrc and to decide on the set of rules we need.

At this point in time, my recommendation is to abandon jshint and make eslint a part of the standard build.  But I feel like we need consensus before this kind of change.  So I'll tag

[2015-10-04 04:16] jonathanolson commented on #235
The increase in time sounds amazing - does this mean if you run grunt from one repo, it speeds it up in another? Or just linting one repo only speeds up that repo in the future? Either way, excited for that.

### Unexpected constant condition
For "Unexpected constant condition", one usage is basically:
[code]
whereas putting the condition check in the while loop causes duplication (performance los

[2015-10-04 04:37] samreid commented on #235
The default is to create a cache file in each repo, but there is the option to specify a cache file, in which case I think results might be shareable.  We would have to test it.

It looks like a for loop is a possible replacement for while(true):

[code]

I will make a note to look into the other issues in the future.

[2015-10-04 18:45] pixelzoom commented on #235
Does IDEA have any support for ESLint, along the lines of what was being pursued in https://github.com/phetsims/chipper/issues/372?

[2015-10-05 14:57] aaronsamuel137 commented on #235
Took it for a test drive in GAO. Found a few issues not caught by jshint, such as double quotes and incorrect copyright statements. Seems useful to me. And the speedup is great!

+1 for moving forward with it.

[2015-10-05 15:02] samreid commented on #235
Yes, support seems basically equivalent and it does support custom rules.  I had to specify the custom rules directory like described in this comment https://github.com/phetsims/chipper/issues/235#issuecomment-145161202

Here's a picture of IDEA highlighting a bogus copyright statement (with a custom rule I wrote):

![image](https://cloud.githubusercontent.com/assets/679486/10284142/c3665594-6b3f-

[2015-10-05 22:00] pixelzoom commented on #235
"Empty block" errors can also be suppressed by putting a comment in the block, something like this:

[code]

Similar for try/catch.

[2015-10-05 22:02] pixelzoom commented on #235
I took ESLint for a test drive. +1 for moving forward with it, if we're willing to spend the time to do a `grunt-all.sh eslint` and clean everything up.

[2015-10-06 00:00] jonathanolson commented on #235
Wouldn't the pattern be:
[code]
since getNextValue() needs to be called on the value before the isNextValueAcceptable check? This duplicates the getNextValue() call. Alternatively:
[code]
but that looks way more complicated to me.

[2015-10-06 02:25] samreid commented on #235
Yes, it looks like you are correct.  One option would be to use code comment directives to turn off eslint features where we know we want to go outside one of the rules.

It may also work to put:
var t=true;
while(t){}...

I'm not sure how important the `Unexpected constant condition` rule truly is though.

[2015-10-06 02:27] samreid commented on #235
Yes, that sounds like a good condition.

When @pixelzoom and @aaronsamuel137 said ok to move forward with it, does that mean ok to delete all of our jshint support?

[2015-10-06 02:49] pixelzoom commented on #235
Might want to run "grunt-all.sh eslint" and clean everything up before deleting jshint support, in case anything major is encountered in during that exercise.

[2015-10-06 16:57] samreid commented on #235
@samreid should add .eslintcache to the .gitignore

[2015-10-06 19:39] samreid commented on #235
It looks like the eslint defaults are enforcing LF rather than CR or CRLF.  I'm only seeing a few sims not using this standard (such as sugar and salt solutions), so I'll update them.

[2015-10-06 19:49] samreid commented on #235
I sent @phetsims/ashrafsharf this email:

Hi Ashraf,

We are switching from jshint to eslint and one of the rules we want to enforce is that the line endings are LF instead of CRLF.  I fixed them in sugar and salt solutions and will fix them in gene expression basics next, but wanted to notify you about this change. Can you work with your team to make sure it is doing LF in the future?

See https:

[2015-10-06 20:10] pixelzoom commented on #235
@samreid Question about ESLint caching... If the options to ESLint are changed, is it smart enough to invalidate the caches?

[2015-10-06 20:15] samreid commented on #235
Changing the rules in .eslintrc => caches invalidated
Changing the command-line style options in gruntConfig => caches *not* invalidated

[2015-10-06 20:29] samreid commented on #235
isotopes and atomic mass is giving this odd message:

[code]

[2015-10-06 20:34] pixelzoom commented on #235
Looks like ` "grunt-eslint": "~17.2.0"` was added to package.json for all sims, but not for other (common-code) repos.  Just a reminder that they need to be eslintable too.

[2015-10-06 20:36] pixelzoom commented on #235
Looks like some common-code repos do have `"grunt-eslint": "~17.2.0"` (e.g. axon) while others don't (e.g. scenery-phet, sun).

[2015-10-06 20:48] samreid commented on #235
After the above commits `grunt-all.sh eslint` is now passing.

[2015-10-06 20:56] pixelzoom commented on #235
[code]

[2015-10-06 21:08] pixelzoom commented on #235
I had apparently picked up a transient version of chipper that had "auto-fix changes" turned on for ESLint, and it had changed a bunch of file, so my `pull-all.sh` was failing.  Revert changes, pulled latest chipper, and everything looks good.

[2015-10-06 21:23] samreid opened #373 "Kite, dot and scenery cannot run grunt eslint"
From #235 kite, dot, scenery have their own grunt files and hence cannot run `grunt eslint`.  We should fix this somehow.

[2015-10-06 21:49] samreid commented on #235
I changed grunt-all to use active-repos instead of active-runnables and went through a build to make sure all appropriate repos have eslint, and are linting properly.  Optics lab is still an exception (as it was for jshint), but unless I have made a manual error, everything else is good to go.

Next steps:
1. Integrate eslint into the main build process
2. Get rid of jshint
3. add .gitignore for t

[2015-10-06 21:50] samreid opened #374 "Next steps for ESLint"
From https://github.com/phetsims/chipper/issues/235#issuecomment-146011594

Next steps:
- [x] Integrate eslint into the main build process
- [x] Get rid of jshint
- [x] add .gitignore for the .eslint cache files
- [x] check through to see if there are other prebuilt rules we want/need
- [x] add documentation to the eslint files in chipper
- [x] generate a new 3rd party licenses document

[2015-10-06 21:51] samreid commented on #235
New issue created above, I'll close this one.

[2015-10-06 21:51] #235 closed

[2015-10-07 01:20] samreid commented on #374
I wrote this to our google group:

Moments ago I pushed a change to chipper so that it will use ESLint rather than JSHint for its linting process.  This has a good chance of identifying new lint issues, since our ESLint is catching issues that our JSHint let slide, such as using single quotes, LF vs CRFL, etc.

Please take it for a test drive and report any problems.

Best Regards,
Sam

[2015-10-07 01:21] samreid commented on #374
I also realized that other groups using PhET software probably don't want to have to use the PhET copyright statement.  Not sure how to generalize this.

[2015-10-07 01:41] samreid commented on #373
I'm seeing this kind of config in the grunt files:

[code]

Can @jonathanolson look into adding the desired grunt tasks to kite, dot, scenery?  If you don't have time let me know and I'll try to figure it out.

[2015-10-07 01:44] samreid commented on #373
This also relates to the qunit tests--they will need to know how to run the new lint, I supposed. I noticed this for phet-core.

[2015-10-07 01:45] samreid commented on #373
I'm seeing these files:
phet-core/tests/qunit/afterJSHintOptions.js
phet-core/tests/qunit/beforeJSHintOptions.js

That will probably need to be renamed after jshint is gone.

[2015-10-07 01:46] samreid opened #375 "Some test code not being linted"
During #373 I noticed that some repos have test code that is not linted.  For example:
github/phet-core/tests/qunit

[2015-10-07 01:48] samreid commented on #373
qunit has qhint for running jshint during qunit tests.  I don't know how we will do this with eslint.  @jonathanolson can we discuss it?

[2015-10-07 01:49] samreid commented on #373
I'm going to leave qhint and jshint in sherpa/ until @jonathanolson & I figure out a plan for the tests.

[2015-10-07 01:50] samreid commented on #373
axon is in the same boat here

[2015-10-07 01:50] samreid commented on #373
and build a molecule

[2015-10-07 02:05] samreid commented on #374
I removed as much jshint reference as possible, aside from the issue of scenery/dot/kite/axon and their gruntfiles and qhint tests.  So I'll check the checkbox above, and leave those repos to be done in #373

[2015-10-07 03:16] samreid commented on #374
I would love to get the valid-jsdoc task running, but acid-base-solutions shows this many errors:

[code]

[2015-10-07 03:18] pixelzoom commented on #374
Curious about what JSdoc errors are. Are the all the same type of error? Something specific to PhET's use of JSdoc?

[2015-10-07 03:19] pixelzoom commented on #374
Curious about what the JSdoc errors are. Are they all the same type of error? Something specific to PhET's (mis)use of JSdoc?

[2015-10-07 05:46] samreid commented on #374
Mostly
Missing JSDoc parameter description for ...

and
Missing JSDoc @returns for function

Some:
Expected JSDoc for 'x' but found 'callback'

Some
syntax error

[2015-10-07 05:46] samreid commented on #374
You can add this line to your .eslintrc if you want to see all 1368 issues:
"valid-jsdoc": 2

[2015-10-07 06:18] samreid commented on #374
See related issue https://github.com/phetsims/scenery-phet/issues/193

[2015-10-07 06:21] samreid opened #376 "Enforcing 120 max columns"
Our style guides says:

However, when I run ESLint with:

[code]

We have 1543 line length problems reported for acid-base-solutions and its dependencies.  It would be great to have this rule enabled so that we can guarantee that all new code will be <=120 columns.  However, there would be a large up front price of fixing these pre-existing problems if we want to use this in our default rule set.

[2015-10-07 06:43] samreid commented on #376
By the way, I ran this on all-sims (which includes transitive dependencies) and the result was:

[code]

This doesn't include a few repos that aren't included, such as together.js.

[2015-10-07 07:14] samreid opened #377 "Ensure require statements match"
One custom rule we've needed is to check that the lhs and rhs of a require statement match.  I put together a quick rule in ESLint and saw offenders like these:

![image](https://cloud.githubusercontent.com/assets/679486/10331196/9b6bbd5c-6c90-11e5-9f8b-27dd51c38c63.png)

We should bring this rule to production and solve the issues it discovers.

[2015-10-07 15:12] aaronsamuel137 commented on #376
Looking at this in GAO, I noticed that some of the offending lines are require statements, for instance:

[code]

[2015-10-07 15:15] aaronsamuel137 commented on #376
Also, with regard to fixing lines such as this:

[code]

Is there a convention for moving each option to its own line vs putting the whole string of options on the next line?

So this:

[code]

vs:

[code]

[2015-10-07 15:35] samreid commented on #377
I committed the rule and addressed issues it caught.  I also added a whitelist, but it may be even better to  just flag aberrant lines with // eslint-disable-line require-statement-match

[2015-10-07 15:55] samreid commented on #377
I decided to bail on the whitelist and go with the comment above.

[2015-10-07 16:08] pixelzoom commented on #376
My 2¢: I'm not too concerned about strictly enforcing the 120-column guideline. When I run into the odd comment that's a little too long, I just reformat it and push. And if there's a chronic problem (like acid-base-solutions), it should be kicked back in code review.  That said... If it's the chronic offenders are few, then perhaps have ESLint auto-fix them.  If it's widespread, perhaps omit the

[2015-10-07 16:09] pixelzoom commented on #376
Re @aaronsamuel137 question about option...  My preference is:

[code]

[2015-10-07 16:10] pixelzoom commented on #376
Re `require` statements that exceed 120 columns... I would prefer not to line-break those.

[2015-10-07 16:16] pixelzoom commented on #377
Looks good to me. +1 for the "comment" approach.

[2015-10-07 16:20] pixelzoom commented on #376
I took this for a test drive. `copyright.js` (the ESLint copyright rule) is failing, which is funny in a tragic sort of way.  So I guess maybe we should address this.

[2015-10-07 16:30] samreid commented on #376
The report of "We have 1543 line length problems reported for acid-base-solutions and its dependencies." includes scenery/dot/kite/joist/etc--it is not necessarily about acid-base solutions.

One option would be to turn on the max-len rule once during code review for new sims and address issues by hand.

[2015-10-07 16:35] pixelzoom commented on #376
After inspecting a random selection of the errors (with my columns set correctly in IDEA :), I guess I'm not too concerned about this.  I'd be fine with using ESLint to check it during code review, and fixing errors on a case-by-case basis.  If there are cases where readability is improved by exceeding the line-limit by a char or two, then I'd be inclined to leave those alone.

[2015-10-07 16:38] jonathanolson commented on #376
I'm not concerned about strict adherence to 120 chars.

[2015-10-07 16:40] jbphet commented on #376
Me neither - I see it as a guideline to be followed in most cases, but one that can and should be broken if adhering to it makes the code less clear.

[2015-10-07 16:48] pixelzoom commented on #374
I took this rule for a test drive, with acid-base-solutions.

The majority of the errors are in common code repos, not in acid-base-solutions. That's a little disconcerting. It indicates that common-code doc is not up to speed with PhET development guidelines.  I'd like to see JSdoc for *all* PhET common code brought up to standards. I realize that this will be time consuming - particularly for sc

[2015-10-07 16:51] pixelzoom commented on #376
I said:

But that doesn't address common code. And I don't want to have to address common-code errors of this type during code review of a sim.

[2015-10-07 20:27] samreid commented on #372
JSHint has been removed from our toolchain.  ESLint doesn't suffer from the problem--we can point directly to the .eslintrc file from IDEA.  Closing.

[2015-10-07 20:27] #372 closed

[2015-10-07 20:46] samreid opened #378 "Copyright rule shouldn't apply to all groups developing with PhET"
From #374

@jessegreenberg & @samreid suggested to check for the existence of the .phet directory during parse--that will tell us if the copyright rule should be obeyed.

[2015-10-07 22:19] pixelzoom commented on #378
How about using the copyright rule only for repositories in active-repos? or active-runnables?

[2015-10-08 00:36] jessegreenberg opened #379 "Handle CRLF linebreaks"
Part of #374, ESLint will throw an error for CRLF linebreaks, which is troublesome for Windows.  We want consistent line breaks for builds without enforcing LF EOL characters in the local working tree.

[2015-10-08 00:44] jessegreenberg commented on #379
My recommendation is that Windows users set ```core.autocrlf = true```.  Under this setting, git will normalize LF EOL characters to CRLF on checkout and normalize CRLF to LF EOL on commit.

This should ensure that remote repositories have consistency with linebreak characters, and build-server should be used for consistency with builds.

CRLF can then be used locally in Windows so the "linebreak-

[2015-10-08 01:17] samreid opened #380 "LF/CRLF Line break issues"
During https://github.com/phetsims/chipper/issues/235#issuecomment-145975044 I added an ESLint rule that required LF line endings.  I checked and observed that about 80% of our code was matching this convention, and many of the exceptions were in code created by @phetsims/ashrafsharf (oddly, about half of the files in @phetsims/ashrafsharf repos were LF and the other half were CRLF.  I manually ch

[2015-10-08 01:19] samreid commented on #235
One more answer to this question:

It appears if you change the *.js code of a rule definition, it does *not* invalidate caches.

[2015-10-08 15:40] jessegreenberg commented on #379
This issue and #380 are duplicates, closing this one and moving my thoughts over there.

[2015-10-08 15:40] #379 closed

[2015-10-08 16:34] pixelzoom commented on #235
We could add support for deleting caches to the build process. But you can delete all caches like this:

[code]

[2015-10-08 16:42] samreid commented on #235
I also added a grunt command line argument --disable-eslint-cache which you can be used for iterating on rules.

[2015-10-08 16:47] pixelzoom commented on #235
Does --disable-eslint-cache delete caches? Or just turn off caching. If the latter, that doesn't solve the problem.  If a rule's code is change, the caches need to be deleted.

[2015-10-08 16:48] samreid commented on #235
It just disables it for the current run, the cache is not deleted.

[2015-10-08 17:13] AshrafSharf commented on #235
@samreid  please let me know what is the resolution on this? I am using windows machine.
Would setting the idea config or git global config solve the problem?

[2015-10-08 17:19] jessegreenberg commented on #380
For reference, here is some documentation for the various core.autocrlf settings from http://stackoverflow.com/questions/3206843/how-line-ending-conversions-work-with-git-core-autocrlf-between-different-operat:

**core.autocrlf = true**
 - Text files checked-out from the repository will have LF EOL characters normalized to CRLF in your working tree.
 - Text files in your working tree with CRLF EOL

[2015-10-08 17:20] samreid commented on #235
@AshrafSharf we have removed the line ending rule from the linting rules and will be discussing the issue shortly in #380

[2015-10-08 17:58] jbphet commented on #376
Consensus in 10/8/2015 dev meeting
+ won't be enforced by ESLint
+ for code review, we will turn this on and flag egregious violations, use ```grunt lint``` to avoid linting common code files

[2015-10-08 17:58] #376 closed

[2015-10-08 18:10] pixelzoom commented on #380
createHTMLFiles does this when populating sim.html:

[code]

[2015-10-08 18:11] samreid commented on #380
Consensus: We will remove the lint rule

[2015-10-08 18:13] samreid commented on #380
Removed above.  Next step is for @jbphet to discuss with @phetsims/ashrafsharf about why some of his files are committed as CRLF and not others.  It could be nice to have LF committed for consistency, but not critical.

[2015-10-08 21:18] jbphet commented on #380
I sent the following to @phetsims/ashrafsharf in an email:

[2015-10-08 21:23] jbphet commented on #380
I think we've taken care of everything for this issue.  Windows users will continue to have ```core.autocrlf``` set to ```true```, since that has generally worked to far.  The only downside of this is that sims built on Windows will not be a binary match for sims built on OSX or Linux, but that doesn't seem to be a big deal since we are now using the build server for consistent builds when deployi

[2015-10-08 21:23] #380 closed

[2015-10-08 21:37] pixelzoom opened #381 "add a query parameter for long string test"
We have "stringTest=double" for doubling all strings.  It would nice to have "stringTest=long" to generate a consistent test for exceptionally-long strings, instead of having to type something like "stringTest=SomeVeryLongStringThatIsLikelyToBreakSomething".

[2015-10-08 21:40] pixelzoom commented on #381
I added this test and updated the code_review_checklist.md.

The string that's used is `'12345678901234567890123456789012345678901234567890'` (50 chars).

Randomly assigning to @jbphet to review.

[2015-10-09 20:14] jbphet commented on #269
Just tried it again to do a dev deploy, and the symptom still exists.

[2015-10-09 23:25] jonathanolson commented on #374
The npm install'ed node_modules take up about another 2GB total after switching to ESLint, since it seems to have a lot of dependencies, and I've been having sporadic npm install failures.

Is it possible to set up eslint so the npm install for it is only needed in chipper?

[2015-10-10 02:34] jonathanolson opened #382 "Abnormal build failure"
Building sugar-and-salt-solutions:

[code]

Running with --verbose didn't really give hints, it happens during or after inclusion of almond.

Fails in this part of r.js (trying to get substring):
[code]

"npm list" outputs the following:
[code]

I'll try npm install a few times to see if that fixes it. Right now it will fail (only for this sim) every build.

[2015-10-10 03:05] jonathanolson commented on #382
Wiping node_modules and npm install on chipper/sim doesn't help.

It also is present on Win7, OS X and Linux, so I highly doubt it's specific to my current setup.

I'm curious if there's some slightly-different require statement, or something that looks related to require.js that it isn't expecting.

[2015-10-10 07:35] jonathanolson commented on #373
As noted in the commits, I removed the browser-based linting from the unit tests. I'll plan on doing console lint tests AND browser unit tests for those repos.

I also updated them to point to eslint for their linting needs, and verified that the dot/kite/scenery builds are functional.

Anything else to do here?

[2015-10-10 16:19] pixelzoom commented on #374
I also experienced some `npm install` failures. The problem cleared up after I did `rm -rf */node_modules` and ran `grunt-all.sh eslint`.  But it would be nice to investigate setting things up so that eslint (and other build-specific dependencies) are only needed in chipper.

[2015-10-11 01:01] samreid opened #383 "Make it so we only need npm install in chipper"
Currently we must npm install in every single simulation directory, which takes time and hard drive space.  @jonathanolson pointed out that with ESLint, the space requirement is much higher.  It would be great if we could make things so we just need to have node_modules and npm install in chipper and not in every simulation directory.  I thought there would be another issue for this in chipper but

[2015-10-11 01:03] samreid commented on #383
@jonathanolson notes from #374

[2015-10-11 01:04] samreid commented on #383
Skype text about this topic:

[10/9/15, 9:13:27 PM] Sam Reid: we could get rid of “npm install” for each simulation, centralize in chipper.
[10/9/15, 9:13:31 PM] Sam Reid: cd chipper
[10/9/15, 9:13:44 PM] Sam Reid: grunt build-a-molecule
[10/9/15, 9:13:48 PM] Jonathan Olson: that sounds great
[10/9/15, 9:14:01 PM] Jonathan Olson: or something like that
[10/9/15, 9:14:05 PM] Sam Reid: grunt —projec

[2015-10-11 01:44] samreid commented on #383
I experimented with this a little and it seems it would be feasible using the following approach:

create a new script in chipper/bin named chip.sh:

[code]

Modify getBuildConfig.js by adding this if statement:
[code]

Modify the references to "build/" and BUILD_DIR, etc to point to the one in the specified project.

With the changes above, I did:
cd bending-light
chip.sh --lint=false

(The --lin

[2015-10-12 03:11] samreid commented on #383
+1 another benefit will be that we no longer need to maintain "exclude this directory" settings for the node_modules everywhere.

[2015-10-12 16:14] aaronsamuel137 commented on #269
I tested this with @jessegreenberg when testing grunt deploy-rc (which uses the same code to commit and push). It seemed to work for him just fine on Windows, so perhaps there is something specific to your configuration?

I can look at it with you after meetings on Thursday if you'd like. I'm not sure where to start if I can't reproduce it.

[2015-10-12 16:17] jbphet commented on #269
I haven't updated node or my global grunt package for a while.  I'll try that and see if the issue goes away.

[2015-10-12 16:20] pixelzoom commented on #269
What version of git are you running?

[2015-10-12 17:37] jbphet commented on #269
After updating node, grunt, and git, the deploy-dev works without locking up the shell.  Closing.

[2015-10-12 17:37] #269 closed

[2015-10-12 18:47] pixelzoom opened #384 "build process identifies README.md as "unused images file""
In function-builder, I added README.md files in the images subdirectories to describe how the image files were exported from the .ai asset file.  This causes reportUnusedMedia.js to complain that the README.md files are unused images.  For example:

[code]

This should be fixed. The easiest would be to change line 40 of reportUnusedMedia.js from this:

```if ( filename !== 'license.json' ) {```

t

[2015-10-12 18:51] pixelzoom commented on #384
I implemented the above proposed fix.

[2015-10-12 19:01] samreid commented on #384
Yes, I think this fix is good.

[2015-10-12 19:01] #384 closed

[2015-10-13 15:11] samreid commented on #383
I ran into disk space issues during grunt-all.sh and when I rm'ed all node_modules, it reclaimed 1.5GB, so this is a lower bound for the disk space requirement (maybe I didn't get all npm installs).

[2015-10-13 15:17] samreid opened #385 "Common code repos should pass eslint:valid-jsdoc"
In https://github.com/phetsims/chipper/issues/374#issuecomment-146259372 @pixelzoom said:

I took this rule for a test drive, with acid-base-solutions.

The majority of the errors are in common code repos, not in acid-base-solutions. That's a little disconcerting. It indicates that common-code doc is not up to speed with PhET development guidelines.  I'd like to see JSdoc for *all* PhET common cod

[2015-10-13 15:20] samreid commented on #378
So this could load active-repos as a text file, then check parent directories recursively all the way back to /, and if any directory name matched any line in active-repos, then apply the rule?

[2015-10-13 15:27] pixelzoom commented on #378
That sounds much more complicated than needed. I believe that all it needs to do is check `buildConfig.name`, and if it's in active-repos, activate the copyright rule for that repo and all of its dependencies.

[2015-10-13 15:34] samreid commented on #373
I tested that qunit doesn't run lint tests and that grunt-lint works for kite.  Thanks, closing.

[2015-10-13 15:34] #373 closed

[2015-10-13 16:38] pixelzoom opened #386 "add query parameter for RTL string test"
In https://github.com/phetsims/tasks/issues/375#issuecomment-147529885, we identified the need to test sims with right-to-left (RTL) strings.

Add support for `stringTest=rtl`, which will replace all strings with an RTL string.

Preferences on which RTL string to use?

[2015-10-13 17:10] jonathanolson commented on #383
See http://stackoverflow.com/questions/14742553/npm-local-install-package-to-custom-location possibly?

[2015-10-13 17:12] samreid commented on #383
@jonathanolson reported problems using npm install and would like to proceed with a solution like this sometime.

@jonathanolson asks: is there a way you can tell node to look somewhere else for node_modules?

@pixelzoom says you could do npm install -g and make all of the things global?

@samreid says what about simlinks?
  @aaronsamuel137 thinks this might work

@pixelzoom found node_path enviro

[2015-10-13 17:12] pixelzoom commented on #383
Investigate using NODE_PATH to point to chpper/node_modules.

[2015-10-13 17:22] pixelzoom commented on #386
@jonathanolson any preference on a specific string to use for this?

[2015-10-13 17:23] pixelzoom commented on #386
@jonathanolson any preference on a specific string to use for this? Something that will adequately test the RTL capabilities of a sim.

[2015-10-13 17:40] pixelzoom commented on #386
I pushed support for 'stringTest=rtl'.  Until we decide on an appropriate string, it uses 'TBD'.

[2015-10-13 18:22] samreid commented on #383
I tried both:
NODE_PATH=~/github/chipper/node_modules/
and
NODE_PATH=~/github/chipper/

and did npm install in chipper, but not function builder, and each time I saw
Fatal error: Unable to find local grunt.

[2015-10-13 18:41] pixelzoom commented on #383
Try installing grunt globally?

[2015-10-13 18:43] pixelzoom commented on #386
@jbphet commented in Skype:

I verified. Closing.

[2015-10-13 18:43] #386 closed

[2015-10-13 18:44] pixelzoom commented on #386
For the benefit of testers... If RTL is working properly, then the part of the string in parentheses should be on the left, like this:

![screenshot_36](https://cloud.githubusercontent.com/assets/3046552/10464647/18108dda-71a8-11e5-80d4-4fa2b2a03327.png)

[2015-10-13 18:44] pixelzoom commented on #386
@ariel-phet FYI... We now have an RTL string test.

[2015-10-13 19:32] pixelzoom opened #387 "show commits for all dependencies since a specified date"
Since we're trying to publish sims while simultaneously changing common code... It would be nice to have an easy way to determine what has changed since a specified date and time.

For example, Molarity 1.2.0-rc.1 was published on 2015-01-10 15:52.  The next RC version needs to use master of all repos, due to critical bug fixes.  But what else has changed since then?  I'd like to be able to do som

[2015-10-13 19:37] pixelzoom commented on #387
I added grant task `commits-since`, and it works like I described above.

Here's how to get the complete list of commits for Molarity since 1.2.0-rc.1 was published:

[code]

[code]

Kind of frightening that I'll be pulling in 168 common-code changes when I publish the next RC version of Molarity.

[2015-10-13 19:41] pixelzoom commented on #387
Since is self-contained and doesn't affect other parts of the builder process, I'm going to go ahead and close this issue. If anyone would like to review, go for it.

[2015-10-13 19:41] #387 closed

[2015-10-14 18:30] samreid opened #388 "Shape.rect, Shape.ellipse should not be called with `new`"
During https://github.com/phetsims/bending-light/issues/251 code review for bending light, I turned on an eslint rule that helped me catch new calls to lowercase things, and it demonstrated that we are calling new Shape.rect(), new Shape,ellipse() in many places.  I ran a search for `new Shape.` across all our repos and saw 23 occurrences across sims such as area-builder, balancing-act, plinko-pro

[2015-10-14 20:11] pixelzoom commented on #388
What is the eslint rule that you turned on?

[2015-10-14 20:12] samreid commented on #388
I believe it is

[code]

which is commented out at the moment.

[2015-10-14 20:16] pixelzoom commented on #388
This is chipper.

[2015-10-14 20:21] samreid commented on #388
You are right, my apologies.  If others think query-replace "new Shape." with "Shape." will work sufficiently well, I can do that query replace, spot test and close the issue.

[2015-10-14 20:21] pixelzoom commented on #388
Here's a screenshot showing which specific files this problem occurs in.  I recommend that each developer take care of fixing cases that they created.

![screenshot_79](https://cloud.githubusercontent.com/assets/3046552/10496583/c256c378-727e-11e5-8df7-87e12d5aaf63.png)

[2015-10-14 20:22] pixelzoom commented on #388
... or as @samreid suggest, do a global replace of 'new Shape.' with 'Shape.'.

[2015-10-14 20:23] pixelzoom commented on #388
+1 for global replace. But that's mainly because there's no code affected that's used by any of my sims :)

[2015-10-14 20:29] samreid commented on #388
Reassigning to @samreid.  @samreid, do you have time to do the global replace that @pixelzoom suggested and spot test a few sims?

[2015-10-14 20:29] samreid commented on #388
Sure, I'll take a look.

[2015-10-14 20:49] pixelzoom commented on #388
I'm afraid I can't take credit for this suggestion. It was @samreid's idea in https://github.com/phetsims/chipper/issues/388#issuecomment-148183842.

[2015-10-15 19:14] samreid opened #389 "Pass query parameters through to the iframe"
@ariel-phet had an idea to pass the outer query parameters through to the iframe, to make it easy to use features like ?profiler, ?ea, ?stringTest, etc within the iframe version.

[2015-10-15 19:33] samreid commented on #389
Fixed above, newly deployed versions should have the iframe query parameters pass through.  This won't compromise release-candidates in progress because the commit is isolated to the iframe-test.  This should be tested on a few more browsers before closing.

[2015-10-15 19:45] samreid commented on #389
Seems good on os x firefox and os x safari as well as os x chrome. My only question was about whether I got the attributes right for scrolling.  I did it like so:

[code]

I'm fuzzy on what is an attribute vs setAttribute.  @jonathanolson can you make sure I got scrolling and allowFullScreen right?

[2015-10-16 15:32] samreid opened #390 "Variables should be declared on one line with a separate ‘var’ in front of each."
While I was working on the code review for bending light, I saw one of the style guidelines is:

We can now check for this using eslint's one-var rule.  I tested running grunt eslint using the "one-var" rule and saw 42 problems (when ran from bending-light).  I am inclined to add this as an eslint rule.

Sims can opt-out of this rule by commenting it out temporarily, but the better long term solut

[2015-10-16 15:33] samreid commented on #390
@pixelzoom has published molarity and an RC for hookes-law, so I'm going to proceed with these changes in master.

[2015-10-16 15:33] samreid commented on #390
@jbphet I recall you were going to publish some RCs soon.  We should be in touch about whether this issue will hamper your efforts.

[2015-10-16 15:36] samreid commented on #390
Actually after yesterday's conversation, I'm still a bit unsure whether our common code master libs are "frozen" :ice_cream: Perhaps we should discuss it before I commit 42 fixes across various repos.  @jonathanolson @jbphet @pixelzoom @aaronsamuel137 @jessegreenberg please discuss below or we can discuss at next developer meeting.

[2015-10-16 15:38] samreid commented on #390
Here's the lint rule we could add:

[code]

And here are the known issues it points out:

[code]

[2015-10-16 19:38] pixelzoom commented on #390
@samreid said:

I believe that we were considering using the shas from molarity to publish other sims.  One flaw in that strategy will be if a sim requires a repo that molarity did not (e.g., vegas, vibe,...)

Expressed as a shell script (untested) the strategy would be:

[code]

[2015-10-16 19:41] jonathanolson commented on #389
Seems preferable to create the iframe as before (in HTML), and just set the 'src' attribute in JS. But you should be able to set attributes (```frame.src = ```) or use setAttribute (```frame.setAttribute( 'src', ... )```).

[2015-10-16 20:24] samreid commented on #389
That sounds much better @jonathanolson, I'll put it on my todo list.

[2015-10-20 16:24] jbphet commented on #390
Consensus from 10/20/2015 meeting is to turn on this lint rule and start fixing the issues.  @samreid will fix initially and turn on the rule once the issue has been fixed everywhere in the code base.

[2015-10-20 19:28] jonathanolson commented on #383
I'm trying out a potential solution that uses global installations, and uses symbolic links.

[code]

[2015-10-21 14:26] pixelzoom commented on #383
I'm not a fan of symlinks in general, they are frequently misused. But I'll try to keep an open mind :)

[2015-10-21 20:59] samreid commented on #383
Not planning to investigate this at the moment, unassigning.

[2015-10-21 21:01] samreid commented on #377
This rule is integrated into our .eslintrc and used for development now, I don't know of any failures.  Closing.

[2015-10-21 21:01] #377 closed

[2015-10-22 00:26] samreid commented on #378
I'm not sure how to implement the previous suggestion--the .eslintrc is not selected on a file-by-file basis.  On the other hand, no groups have complained about this so far, so perhaps it can be lowered in priority.  I'll unassign.  If @pixelzoom @jbphet @jonathanolson @aaronsamuel137 or @jessegreenberg thinks this is more important to do soon, let me know and I'll reassign it.

[2015-10-22 00:28] samreid commented on #374
I think everything in this issue is completed or moved elsewhere, closing.

[2015-10-22 00:28] #374 closed

[2015-10-22 00:35] samreid commented on #388
Just to clarify what should be done here before starting.

@samreid said:

@pixelzoom said:

It is unclear which is the preferred approach:
[code]

I also noticed some method don't have static adapters like that, for example arcPoint can be called on a shape instance but not on Shape.  @jonathanolson can you comment on what is preferable here?

[2015-10-22 00:59] samreid commented on #389
Fixed as prescribed and tested that it still works well.  Closing.

[2015-10-22 00:59] #389 closed

[2015-10-22 04:13] jonathanolson opened #391 "[test-server] Support detecting infinite loops in a running sim, and move on"
Right now automated testing gets stuck when this happens, preventing effective testing unless we manually identify when it happens and temporarily remove it from the runnables list.

See https://github.com/phetsims/states-of-matter/issues/110 as an example.

[2015-10-22 04:21] jonathanolson commented on #388
I'd recommend:
[code]

Generally I'd only use the rect() instance method if one Shape is going to include multiple rectangles (which is possible).

[2015-10-22 05:23] samreid opened #392 "Keep the development tree clean of build artifacts"
Whether using IDEA, Sublime or something else, the presence of the node_modules, build directories and .eslintcache files requires extra time and effort to deal with (whether excluding them from searches, or dealing with false positives during searches) and generally, extra "clutter" in our development tree.

It may be possible to move all of these "build artifacts" to an external directory which

[2015-10-22 05:31] samreid commented on #388
Above I replaced `new Shape.` with `Shape.`.  I visually inspected each site and saw that the changes looked correct (and it wasn't using a broader Shape API), and I spot tested Balancing Act and Capacitor Lab and didn't see any issues.  I'll close, but if someone wants to reopen and review, please be my guest.

[2015-10-22 05:31] #388 closed

[2015-10-22 14:12] pixelzoom commented on #378
Self assigning, I'll hav a look at this.

[2015-10-22 16:02] jonathanolson commented on #392
Tagged for developer meeting so we can discuss whether this would be OK with everyone.

[2015-10-22 17:19] jonathanolson opened #393 "Add build flag to skip mangling/uglify"
It should be possible to skip mangling names (but still run the sim through uglify), OR to skip uglify completely. Both are options I've needed to use for debugging in the last week (multiple times).

@samreid, @pixelzoom, @jbphet, @aaronsamuel137, @jessegreenberg, any objections or preferences on flag names?

I was thinking --no-mangle and --no-uglify.

[2015-10-22 18:29] samreid commented on #392
At the developer meeting, consensus was that moving node_modules and .eslintcache would be nice but not completely necessary.  We probably want to leave the build/ directory where it is, since there is some overhead to doing so (updating deploy tools, build server, etc.)

[2015-10-22 18:30] samreid commented on #392
@jonathanolson said he would like to look into moving the .eslintcache files.

[2015-10-22 18:38] jonathanolson commented on #393
--no-mangle will also beautify the code for readability.

[2015-10-23 00:58] samreid commented on #390
I addressed a number of these issues yesterday, will commit shortly.  Still to do:

* half of the repos
* add the rule to chipper
* run fuzz tests to make sure nothing was disturbed

[2015-10-23 17:41] aaronsamuel137 commented on #354
Added you to the email list. Anyone else want to be added?

People can also add themselves by logging in to figaro as phet-admin and adding their email to ~/.phet/build-local.json. This raises the question of where should we store phet-admin credentials, etc.

I'll mark for developer meeting so we can discuss. Should be brief.

[2015-10-23 17:42] aaronsamuel137 commented on #145
grunt deploy-rc works and has been tested. Closing

[2015-10-23 17:42] #145 closed

[2015-10-24 03:38] jonathanolson commented on #393
@samreid, can you review/close?

[2015-10-24 22:02] samreid commented on #393
The code review looks good, I still need to test each option on the command line.  The only thing I noticed during the code review is an inconsistency between how these options are named:
[code]

--lint=false was decided upon several months ago (with precedent from query parameters like ?webgl=false), --no-mangle & --no-uglify were decided upon recently.  We should choose a convention here and sti

[2015-10-24 22:08] samreid commented on #393
--no-mangle and --no-uglify outputs look great, so all that is left here is to decide on whether to change the names.  I'll flag for developer-meeting in case we cannot decide before then.

[2015-10-25 03:13] jonathanolson commented on #393
I'm ok with --no-mangle or --mangle:false (same for uglify), I'll leave it up to others.

[2015-10-25 23:20] pixelzoom commented on #393
+1 for `--mangle=false` and `--uglify=false`.

[2015-10-26 02:32] samreid commented on #390
Fixed all known issues and committed above.  Last step here is for me to run fuzzer tests and make sure no syntactic errors were accidentally introduced.

[2015-10-26 04:30] samreid commented on #390
grunt-all lint succeeds for everything.  I am seeing these issues reported in the requirejs fuzz tester:

[code]

None of them seem directly attributable to the changes in this issue, but I'll leave this issue open until those items are fixed or reported elsewhere.

[2015-10-26 15:30] samreid commented on #393
I like `--uglify=false` style because it matches the convention & style of other arguments passed to grunt.

[2015-10-26 15:54] jbphet commented on #393
Another +1 for `--mangle=false` and `--uglify=false`.

[2015-10-26 15:55] aaronsamuel137 commented on #393
I like ```--mangle=false``` and ```--uglify=false``` too.

[2015-10-26 15:57] jbphet commented on #390
The beaker issue is known and has a fix waiting on a branch - I just didn't want to mess with the upcoming release for this sim.  The SOM issue is also known and is due to some recent changes in Scenery.  Both should be fixed today.

[2015-10-26 16:19] jonathanolson commented on #393
Sounds like a consensus, removing developer-meeting tag and assigning to myself.

[2015-10-26 16:43] jonathanolson commented on #393
Made the change, tested all 3 options. I presume it gets cast somehow to the boolean false value, as other usages tested for equality?

[2015-10-26 17:05] samreid commented on #393
What do you think about simplifying
[code]
to read
[code]

I wasn't sure if there is a simpler way to do this?

Same for beautify.

[2015-10-26 17:13] samreid commented on #390
OK I think all issues are tracked elsewhere.  I created an issue for https://github.com/phetsims/states-of-matter/issues/111 before reading @jbphet message, sorry if it is duplicate!

I also found that common code repos weren't hit by grunt-all lint, so I will still need to do dot/kite/scenery/axon/etc.  I've removed the rule from chipper for now.

[2015-10-26 17:58] samreid commented on #390
OK I fixed common code issues and re-enabled the rule.  Last step is to do one last requirejs fuzz test and make sure nothing was disrupted.

[2015-10-26 17:59] samreid commented on #390
I should also mention that grunt-all.sh lint-all is passing for all sims now, with the new var rule.

[2015-10-26 18:38] samreid commented on #390
Requirejs fuzz tests complete, no new issues discovered.  Closing.

[2015-10-26 18:38] #390 closed

[2015-10-27 02:18] jonathanolson commented on #393
Sounds good, was just in auto-replace mode.

[2015-10-27 02:21] samreid commented on #101
I skimmed through all of the sim package.json files and it looks like `devDependencies` contains `"uglify-js": "~2.4.0"` in each of them.  So can we use `var uglify = require( 'uglify-js' );` now?

[2015-10-27 02:23] samreid commented on #101
By the way, the line will read:

[code]

to avoid being reported as a name mismatch for eslint.  @jonathanolson can you comment?

[2015-10-27 02:25] jonathanolson commented on #393
Done (and fixed ternaries where not needed).

[2015-10-27 02:27] jonathanolson commented on #101
Sounds like it's needed, can't think of a better way.

[2015-10-27 02:29] samreid commented on #101
Sorry to be confusing, I was asking if we can switch from
[code]
to
[code]

now?

[2015-10-27 02:32] jonathanolson commented on #101
Sorry!

I'm fine with chipper controlling the versions of those libraries (since it's the one that uses them, not the sim repo). Sounds fine with me, and it should be removed from the package.json files in the sim repos.

[2015-10-27 02:35] samreid commented on #101
In this Feb 13 comment you reported a build error when using `require('uglify-js')` if the sim package.json doesn't contain a reference to uglify: https://github.com/phetsims/chipper/issues/101#issuecomment-74338310

Is that still a problem?  If not, why not?

[2015-10-27 02:53] jonathanolson commented on #101
No idea, probably still a problem (sorry, thought you were asking if I was fine with that approach).

If the chipper and sim package.json request different versions, how do we handle that?

[2015-10-27 05:14] samreid commented on #101
I don't understand why chipper and $sim have their own node_modules.  When is a package such as uglify used from one and not the other?  Or we can just assume that they both have equal versions or are otherwise compatible?

[2015-10-27 14:57] samreid commented on #393
Change set looks correct, closing.

[2015-10-27 14:57] #393 closed

[2015-10-27 16:11] jonathanolson commented on #101
As a hold-over due to our non-standard way of running grunt? It's likely that some chipper node_modules are unused.

[2015-10-27 16:11] #354 closed

[2015-10-27 16:37] samreid commented on #101
I'm not really sure what best for this issue (or even possible in general).  Perhaps good for N=2 developers to collaborate on.  I'll unassign until then.

[2015-10-27 19:30] jonathanolson commented on #392
Not particularly easy to patch. There's already an issue for fixing the cache overwriting and having a global cache, commented: https://github.com/eslint/eslint/issues/4241#issuecomment-151617995.

I'd recommend waiting for ESLint support for that. Holding off on more implementation or investigation for now.

[2015-10-27 20:20] pixelzoom commented on #378
Investigated what I proposed in https://github.com/phetsims/chipper/issues/378#issuecomment-147750286, indeed not possible.

We're discussing the PhET copyright rule. But this issue is more general - the group using chipper may have different (or no :) coding standards, and may therefore want to configure ESLint differently.

How about if we add these grunt options?

`--eslintrc=<file>` : file tha

[2015-10-27 20:33] pixelzoom opened #394 "what is the correct copyright rule for ESLint?"
From chipper/eslint/rules/copyright.js, the PhET copyright rule for ESLint:

[code]

This code will need to be modified once a year. Can we use a regular expression here?

[2015-10-27 20:34] pixelzoom commented on #394
@samreid Wondering why you hard-coded this. Did you investigate using a regular expression here and run into problems?

[2015-10-27 20:40] samreid commented on #394
I'm unfamiliar with regex, this seemed fast/simple/clear/maintainable at the time.  If you recommend something else, go for it (or reassign to me and I will google for enough regex-kung-fu to solve this).

Also, if you go for a regex, let's use one that doesn't permit dates from the future.  When I turned this rule on I actually saw Copyright claims that extended beyond the year 20,000 AD.

[2015-10-27 21:10] pixelzoom commented on #394
Here's the regular expression. It guarantees that the second year is >=2010, and won't require maintenance until 2100:

[code]

Assigning to @samreid for review.

[2015-10-27 21:20] samreid commented on #394
The regex rule that was added permits dates from the future.  https://github.com/phetsims/chipper/issues/394#issuecomment-151637196 said:

Are you recommending that we permit dates from the future?  Why not use `new Date().getFullYear()` or dates up until `new Date().getFullYear()`?

[2015-10-27 21:36] pixelzoom commented on #394
Because it's nontrivial to write a regex verifying that the second year in the copyright is between `2002` and `new Date().getFullYear()`.  It's not as simple as `'[2002-2015]'`. I'm not going to spend time on that.  Let me know if you think editing copyright.js once a year is a better solution, and I'll revert.

[2015-10-27 21:40] pixelzoom commented on #394
Btw... The years that I saw that were in the future were something like `20135`, which looked like someone tried to copy-paste-modify a comment line and blew it.

[2015-10-27 21:42] pixelzoom commented on #394
Btw... The years that I saw that were in the future were something like `20135`, which looked like someone tried to copy-paste-modify a `2013` comment line and blew it.  And I think the more common problems are (1) copy-pasting older copyright comments without modifying them, and (2) not having a variable year in the IDEA copyright config. Testing for a date between 2002 and today won't catch eith

[2015-10-27 21:46] samreid commented on #394
What about just checking that the copyright statement is an exact match for:

[code]

Won't that solve both of the problems (1) and (2) you described?  And it would only require a query-replace + commit once a year?

[2015-10-27 21:49] pixelzoom commented on #394
I don't understand.  Are you proposing that all copyright statements must match the current year? That would require us to update all source files once a year.

I'm also wondering about why 2002 is the first year. The first date is supposed to be the date when the artifact came into existence.  None of the source code for HTML5 sims existed in 2002.  And I would expect source files to have various

[2015-10-27 22:00] pixelzoom commented on #394
Technically, the copyright configuration in IntelliJ IDEA should be:

`Copyright $today.year, University of Colorado Boulder`

eg:

`Copyright 2015, University of Colorado Boulder`

This is the copyright that is inserted for a new source file, and indicates the date that the file was created (i.e., first copyright).  When the file is modified, its copyright should be updated to a date range, where

[2015-10-27 22:04] pixelzoom commented on #378
Unassigning. My recommendation is above.

[2015-10-27 22:11] pixelzoom commented on #394
I've reverted changes to copyright.js.  After looking at this more closely, my opinion is that PhET's approach to copyright comments is generally incorrect (see above).  So I'm going to bow out of this.

[2015-10-27 22:23] samreid commented on #394
In 2011, we were approved by our legal counsel to put 2002-NOW as the date range.  However, @pixelzoom and I are concerned that this may not be legally accurate.  Should we discuss with @kathy-phet?  It could take 2-4 hours to correctly check for the cases of single date vs date range and make sure the years are not too far in the past and not in the future, or we can continue with what we have no

[2015-10-27 22:35] pixelzoom commented on #394
In the email thread on legal counsel that @samreid forward to me, this link from UC Berkeley was cited as "an excellent summary of best practices for posting copyright notices in software":

http://ipira.berkeley.edu/software-copyright-notice-and-disclaimer

It says:

The Berkley reference says:

...

While I’m not a lawyer, I would interpret “first published” as “first pushed to GitHub”, since th

[2015-10-27 22:37] pixelzoom commented on #394
In the email thread on legal counsel that @samreid forward to me, this link from UC Berkeley was cited as "an excellent summary of best practices for posting copyright notices in software":

http://ipira.berkeley.edu/software-copyright-notice-and-disclaimer

It says:

The Berkley reference says:

...

While I’m not a lawyer, I would interpret “first published” as “first pushed to GitHub”, since th

[2015-10-28 03:44] samreid commented on #394
Noted in conversation with @pixelzoom--creating and updating new files would be a much smaller task than dealing with the thousands of pre-existing files.

[2015-10-28 20:31] samreid commented on #394
My recommendation: let's discuss/decide at a developer meeting what we prefer as a development team, then take our recommendation to @ariel-phet and @kathy-phet.

[2015-10-29 14:50] aaronsamuel137 commented on #141
Review was completed awhile ago. Closing

[2015-10-29 14:50] #141 closed

[2015-10-29 14:58] aaronsamuel137 commented on #87
All of the issues here seem to be smoothed out now. Closing

[2015-10-29 14:58] #87 closed

[2015-10-29 19:32] pixelzoom opened #395 "how to support changes to common code in RC process?"
Lessons learned from S2015R, and thoughts on how to modify PhET’s SCM process to support maintenance/fixes to common code.

Notes from 10/29/15 dev meeting:

SR: CM said: “This will require a change to common code, so the next RC will need to use master of all repos.”  In my opinion, this is one of the problems we should try to surmount.  Most of the changes we want to make to a simulation are due

[2015-10-29 20:16] pixelzoom commented on #394
Discussed at 10/29/15 dev meeting. Deferred for discussion with @kathy-phet at next status meeting.

[2015-10-29 20:25] pixelzoom commented on #394
My recommendations:

(1) For new source files, follow the UC Berkeley recommendation for first-published year. Use this IntelliJ IDEA template when a source file is first created:

`Copyright $today.year, University of Colorado Boulder`

(2) For modified source files, follow the UC Berkeley recommendation. Manually modify the copyright comment to include a date range when the source file is modifi

[2015-10-29 20:31] pixelzoom commented on #394
My recommendations:

(1) For new source files, follow the UC Berkeley recommendation for first-published year. Use this IntelliJ IDEA template when a source file is first created:

`Copyright $today.year, University of Colorado Boulder`

E.g.:

`// Copyright 2015, University of Colorado Boulder`

(2) For modified source files, follow the UC Berkeley recommendation. Manually modify the copyright co

[2015-10-29 21:06] pixelzoom commented on #382
I see the same error when attempting to build sugar-and-salt-solutions.

[2015-10-29 21:06] pixelzoom commented on #381
Review didn't happen, but this is being used in RC testing without any reported problems. Closing.

[2015-10-29 21:06] #381 closed

[2015-10-29 21:09] pixelzoom commented on #197
@samreid Since we've moved to ESLint, can we close this issue?

[2015-10-29 21:10] pixelzoom commented on #195
Since we've moved to ESLint and you wrote the require-statement-match.js rule, can this issue be closed?

[2015-10-29 21:10] pixelzoom commented on #144
@aaronsamuel137 is this done?

[2015-10-29 21:12] pixelzoom commented on #129
Related to https://github.com/phetsims/chipper/issues/394 ... If the format of the copyright comment changes, then `simula-rasa` and task `create-sim` should also be changed.

[2015-10-29 21:18] pixelzoom commented on #58
`grunt pull-all` ceased to exist awhile ago. `pull-all.sh` took its place.  So I've re-titled this issue.

If you really wanted to parallelize the `git pull` commands in `pull-all.sh`, you could do so by forking (i.e., backgrounding) them.

[2015-10-29 21:20] pixelzoom commented on #42
I'm going to close this. If someone wants source maps in the future, we'll create a new issue.

[2015-10-29 21:20] #42 closed

[2015-10-29 21:33] aaronsamuel137 commented on #144
Yep. It's been used by multiple people, so I think it is safe to close this issue.

[2015-10-29 21:33] #144 closed

[2015-10-30 03:47] jonathanolson commented on #63
Generating these files with the proper meta tags would prevent bugs like https://github.com/phetsims/gravity-force-lab/issues/39

[2015-10-30 04:44] samreid commented on #58
I haven't had any problems with pull-all.sh lately, can I close this issue?

[2015-10-30 04:49] jonathanolson commented on #58
pull-all.sh is fast enough on OS X/Linux for me where NOT being parallel is an advantage (for easy debugging if one pull goes wrong).

Pulling with Intellij/command line on Windows is much more painful, and I don't think it's going to help much.

[2015-10-30 14:47] samreid commented on #394
@pixelzoom recommendations above generally sound good.  Some minor modifications:

The Berkeley link says:

I've seen this described as entering a year for each time a file is changed, and collapsing adjacent years with a dash, such as "2000, 2003, 2005-2006", see http://stackoverflow.com/questions/3487007/when-to-update-the-year-in-open-source-copyright-notice

It seems simple enough to update th

[2015-10-30 15:25] samreid opened #396 "Prevent naming mismatches when using the string plugin"
During the Bending Light code review, @jessegreenberg pointed out several lines in Bending Light where there was a mismatch between the string key and the var declared in the require statement.  For instance:

[code]

and
[code]

I wrote a eslint rule that requires the the following to be true: `varName+'String' === keyName`.

Here is the code for the rule:

[code]

[2015-10-30 15:29] samreid commented on #396
Here are the 12 issues pointed out for Bending Light using this rule:

[code]

[2015-10-30 15:30] samreid commented on #396
Here are the 6 problems pointed out for hookes-law using this rule:

[code]

[2015-10-30 15:31] samreid commented on #396
@pixelzoom note the componentsSpring that snuck in amongst the other strings in this file:

[code]

[2015-10-30 15:32] samreid commented on #396
@pixelzoom @jessegreenberg @jonathanolson @jbphet @aaronsamuel137 should we adopt this rule or some variant of it into our standard eslint rules, or into a phase of our code reviews?  Feedback appreciated in the thread, but I will mark for next developer meeting in case we do not discuss it before then.

[2015-10-30 15:35] samreid commented on #195
Yes, we added our own rule for this in ESLint, closing.

[2015-10-30 15:35] #195 closed

[2015-10-30 15:36] samreid commented on #197
Yes, thanks! Closing.

[2015-10-30 15:36] #197 closed

[2015-10-30 15:45] aaronsamuel137 commented on #396
I tend to follow this convention for all strings except the sim title and the pattern strings, which each seem to have their own unique conventions. We could add these cases into the eslint rule (or ignore them), or change our convention to be more consistent everywhere.

[2015-10-30 16:26] pixelzoom commented on #58
Performance of pull-all.sh has never been a problem for me either.  Closing.

[2015-10-30 16:26] #58 closed

[2015-10-30 16:30] jonathanolson commented on #396
I don't have any objections to adding this as a rule.

[2015-10-30 16:35] pixelzoom commented on #394
Not a fan of this format. I think it's less common and unnecessary. Is "collapsing adjacent years" something you made up? Hashing out the syntax (and getting it right in practice) seems like unnecessary work. Why is "2000, 2003, 2005-2006" preferable to "2000, 2003, 2005, 2006"? How do I know that "2000-2002" effectively means "2000, 2001, 2002"?   Frankly, I'll be amazed if we remember to update

[2015-10-30 16:46] pixelzoom commented on #396
A strong -1 for this rule.  Here are some (imo) valid exceptions:

In main.js:

`var simTitle = require( 'string!FUNCTION_BUILDER/function-builder.title' );`

In Screen subtypes:

`var screenTitle = require( 'string!FUNCTION_BUILDER/screen.patterns' );`

For patterns (especially those ported from Java, where we used '.' separator):

`var pattern_0challenge_1max = require( 'string!VEGAS/pattern.0ch

[2015-10-30 16:46] samreid commented on #394
No, it's from the link I referenced.

If it can be completed in less than X minutes, it seems worthwhile.  My X is somewhere around 30 minutes.

[2015-10-30 16:47] samreid commented on #396
What about adapting this rule so it only checks keys with no underscores or dots?

[2015-10-30 16:58] pixelzoom commented on #396
-1 for the proposed exception. It won't catch this example, which is identical to the case reported in https://github.com/phetsims/chipper/issues/396#issuecomment-152556979 for hookes-law ('Spring' vs 'String'):

`var metersSpring = require( 'string!SCENERY_PHET/SomeComponent.meters' );

Also -1 for supporting both of these:

[code]

If we're going to have a rule, let's first discuss the conventio

[2015-10-30 17:00] pixelzoom commented on #396
Also note that this example from https://github.com/phetsims/chipper/issues/396#issue-114291677 violates PhET naming conventions for var names (use camel case, not underscores):

`var c_units = require( 'string!BENDING_LIGHT/c_units' );`

[2015-10-31 01:11] samreid opened #397 "Make .eslintcache files ignoreable"
Searching across multiple directories in IDEA is great, but we can't exclude the .eslintcache files from searches, and I often need to search across multiple file types (json + js and sometimes md or html or others)j  One possibility would be to write a filename pattern that hits what I need but skips .eslintcache files, but that could make it too easy to miss search results (if we forgot a suffix

[2015-10-31 01:17] samreid commented on #397
This may be solved by using cacheLocation as described in https://github.com/eslint/eslint/issues/4241

[2015-10-31 01:19] samreid commented on #397
Oh it looks like that change in eslint was just made 2 days ago.  No idea when it will get released.  But it would be a good solution to our problem.

[2015-10-31 01:21] samreid commented on #397
Looks it was just released today.  Things sure move fast around here:
http://eslint.org/blog/2015/10/eslint-v1.8.0-released/

[2015-10-31 01:24] samreid commented on #397
Looks like grunt-eslint is still 2 weeks old at 17.3.1.  Do we need to wait for a new one of these in order to get the new eslint?

[2015-10-31 01:35] samreid commented on #397
Above I made it so that all of the eslintcache files will be located under chipper/eslint/cache, which can be easily ignored.  @jbphet @jonathanolson @jessegreenberg @pixelzoom @aaronsamuel137 please feel free to remove any .eslintcache clutter files you have.  Note this uses an option that is deprecated in eslint 1.8 and will be removed in 2.0.  Hopefully by then a new grunt-eslint can save us.

[2015-10-31 01:37] samreid commented on #392
In #397 I moved all of the .eslintcache files, see that thread for comments and description.

[2015-10-31 01:39] samreid commented on #392
Also, @jonathanolson this same strategy could be used to create a separate cache file for lint vs lint-all.  If we can detect which of "eslint:allFiles" or "eslint:repoFiles" is being run, this would be trivial.

[2015-10-31 14:46] pixelzoom commented on #397
Reopening. Shouldn't .eslintcache also be removed from all .gitignore files?

[2015-10-31 14:53] pixelzoom commented on #397
There seems to be a problem with this approach.  I did `grunt lint-all` for hookes-law, and I see `chipper/eslint/cache/hookes-law.eslintcache` was created, and it appears to contain the cache results for its dependencies. How are the cached results for common repos accessed when linting other repos?  With the previous approach, I only needed to lint (for example) scenery once.  This was a signifi

[2015-10-31 15:03] pixelzoom commented on #397
I inspected my old .eslintcache files (e.g., hookes-law/.eslintcache) and they also contain results for dependencies.  So I guess I was mistaken about how caching worked, and common repos are being repeatedly linted.  Perhaps we should investigate how to make this repeated linting unnecessary?

[2015-11-02 18:23] samreid commented on #395
There are several related problems here.  I'll restrict my proposals to the specific problem instance, which seems most prevalent at the moment:
(a) Given a single published sim, with given shas and a required minimal change in one of the common dependencies, how to create the new version of the simulation?

Note: this does not address the related problems:
(b) how to deploy a small common code ch

[2015-11-02 18:25] samreid commented on #396
`c_units` was fixed & standardized in https://github.com/phetsims/bending-light/commit/e9bfc0ce0f22a9a1575355939342d8a6b4010296

[2015-11-02 18:34] samreid commented on #396
@pixelzoom said:

I couldn't tell from context whether you were recommending against a rule here.  The reason I was recommending a rule here is to relieve the burden from the code reviewe and to catch typos/misspellings/inconsistencies.

Rule Proposal 1 "camel casing": Use a rule like this: `varName = keyName.toCamelCase()+'String'`.  Here are examples it would produce:

[code]

[2015-11-02 18:38] pixelzoom commented on #396
That looks like a little more than just came casing. You're taking the string key, removing some chars (hypen, dot,...), camel casing what's let, then appending "String".   As enumerated in https://github.com/phetsims/chipper/issues/396#issuecomment-152583394, I think there are useful cases that violate that convention.

[2015-11-02 18:43] pixelzoom commented on #396
... but if the rest of the team doesn't think those cases are useful (there has been no comment on them), then I'm ok with having them changed.

[2015-11-02 18:44] samreid commented on #396
Yes, I should have clarified that dots and dashes would count as delimiters in creating the camel case version (makes sense because they cannot appear in var names).  I see the list of cases where you believe it is useful violate the convention, but no description of *why* it is useful to break the convention.

[2015-11-02 18:58] pixelzoom commented on #396
https://github.com/phetsims/chipper/issues/396#issuecomment-152583394 edited to indicate how the exceptions are useful.

[2015-11-03 14:05] samreid commented on #396
Can you elaborate on this?  What does this mean?  Why do we have to change Java string keys?

[2015-11-03 14:47] pixelzoom commented on #396
Change to "Useful so that we don't have to change Java string keys to remove punctuation."  This is moot if the convention is to simply remove punctuation ('.', '_',..)

[2015-11-03 17:07] jbphet commented on #394
We need to discuss with Kathy at the 11/5/2015 dev meeting.  We'll start with the recommendation shown in comment https://github.com/phetsims/chipper/issues/394#issuecomment-152309608 above.

[2015-11-03 17:24] jbphet commented on #396
We're going forward with this rule, no exceptions for underscores and such, and @samreid is going to give it a shot and will attempt to clean up the code.  He can assign issues as necessary if the cleanup requires input from original sim developer/liaison.  If this looks like way too much work when he gets into it, we will revisit.

[2015-11-03 17:24] pixelzoom opened #398 "ESLint rule for image var names"
Similar to what was done for the string plugin. Same naming convention.

[2015-11-03 17:25] pixelzoom commented on #396
Similar issue for images, https://github.com/phetsims/chipper/issues/398.

[2015-11-03 18:10] samreid commented on #394
Here's the quote from Kathy Dessau:

On 1/6/2011 12:13 PM, Kathryn L Dessau wrote:

[2015-11-03 21:09] jbphet commented on #395
It seems to me like we are running into issues right now because we have two competing goals:

1.  Publish sims with relatively new code that allows them to be translated
1.  Continue making progress of new features (phet-io and accessibility) that require significant modifications to common code

This is a new situation for us, since until recently we've been focused primarily on producing sims.

[2015-11-03 22:45] samreid commented on #395
@jbphet to clarify your proposal... It sounds like you are saying (a) We bundle all common code into a single library, including scenery, vegas, vibe, nitro, etc... and give that a version number and branch name across all repos.  You are not saying (b) each common repo is versioned independently, such as scenery-0.2.1 and vibe-1.0.1, etc.  Did I understand that correctly?

[2015-11-03 23:11] samreid commented on #396
I pushed the rule above, but it is not yet enabled until pointed to in .eslintrc.

[2015-11-03 23:27] samreid commented on #396
With camel casing as defined in the above commit, we get this full report for grunt-all lint:

[code]

[2015-11-03 23:29] samreid commented on #396
Will other developers @jbphet @pixelzoom @aaronsamuel137 @jessegreenberg @jonathanolson please take a few minutes to spot review the key/desiredVar examples from above to make sure everything is as desired?  It would be best to do this only once. One case where it was unclear how to camel case was when numbers appear.  Right now it works like this (with a lowercase y):

[code]

[2015-11-03 23:46] pixelzoom commented on #396
I reviewed a random sample of https://github.com/phetsims/chipper/issues/396#issuecomment-153522589, looks good to me.  And I'll be happy to update my sims.

[2015-11-03 23:48] pixelzoom commented on #396
Ah, just read about this https://github.com/phetsims/chipper/issues/396#issuecomment-153523289:

`key=pattern.0yourBest, desiredVar=pattern0yourBestString`

That's unfortunate, because it's not camel case, and will probably cause continual problems.

[2015-11-03 23:49] pixelzoom commented on #396
Ah, just read about this https://github.com/phetsims/chipper/issues/396#issuecomment-153523289:

`key=pattern.0yourBest, desiredVar=pattern0yourBestString`

That's unfortunate, because it's not camel case, and will probably cause continual problems. Recommended to try to resolve this.

[2015-11-03 23:58] samreid commented on #396
Are you advocating for a capital Y in the desiredVarName in this example?  If so, We could change my camelCase method to do that.

[2015-11-04 00:02] pixelzoom commented on #396
Yes. `key=pattern.0yourBest -> var pattern0YourBestString`.  In function `camelCase`, iterate over the chars in the var name, and `toUpperCase` any letters are preceded by a number.

[2015-11-04 00:05] pixelzoom commented on #396
To clarify... Camel case for var names is: the first word begins with a lowercase letter, all subsequent words begin with uppercase.

[2015-11-04 00:05] pixelzoom commented on #396
To clarify... Camel case for var names is: the first word begins with a lowercase letter, all subsequent words begin with uppercase.  In `pattern0yourBestString`, the word `your` violates this convention.

[2015-11-04 00:20] pixelzoom commented on #396
Here's another problematic case, from graphing-lines:

[code]

[2015-11-04 00:26] pixelzoom commented on #396
I updated a few of my sims, ignoring "pattern" strings for now.

[2015-11-04 19:18] samreid opened #399 "Bad extension of options"
In https://github.com/phetsims/scenery-phet/issues/200 @pixelzoom pointed out this problem:

Here's the problem:

[code]

Now if someone accidentally uses `options` instead of `this.options` in the constructor, they may get the wrong value.  The preferred approach (in general) is:

[code]

After reviewing https://github.com/phetsims/scenery-phet/issues/200 I identified 11 more occurrences across o

[2015-11-04 19:45] samreid commented on #397
Let's keep track of what gets linted in the following example, assuming starting with an empty cache
[code]

etc. In my opinion this addresses the common cases of repeated linting sufficiently well and it is not worth the effort and complexity to create a separate lint command and cache file for each dependency.

[2015-11-04 20:47] samreid commented on #396
I fixed the camel casing rule in the above commit to make words after number be uppercase.

[2015-11-04 21:43] pixelzoom commented on #399
+1 to fix.

[2015-11-04 21:45] pixelzoom commented on #399
I see 23 occurrences of `this.options = _.extend`, see screenshot below.

![screenshot_90](https://cloud.githubusercontent.com/assets/3046552/10952980/ae01b7ea-8302-11e5-9c51-e7de394588e5.png)

[2015-11-04 21:46] pixelzoom commented on #399
Ah, sorry, should ignore pesky `node_modules` in above search.