[2022-07-23 15:40] samreid commented on #1286
@zepumph and I discussed whether lint should be in perennial or chipper.  In https://github.com/phetsims/chipper/issues/1286#issuecomment-1189827644 I recommended moving it to perennial, but there are many other lint files (rules, configurations) that will remain in chipper or in sim-specific directories.  @zepumph and I discussed that we may need to run lint on a maintenance SHA (perennial-alias)

[2022-07-23 16:42] samreid commented on #1286
In my working copy, I

* reverted many commits.  In the reverts, lint and showCommandLineProgress returned to chipper
* added process.cwd to lint so the cache can be shared
* only show the lint progress bar when there are N>1 repos

Things seem to be working on my local copy, so I'm ready to push.  But I suspect problems will be discovered on CT or in review.  So I'll keep my eyes peeled for next

[2022-07-23 16:57] samreid commented on #1286
I reviewed this issue and it seems all review comments have been addressed.  `grunt lint` `grunt lint-everything` work well.  However, `grunt` doesn't fail a build on bad lint.  I'll fix that momentarily.

[2022-07-23 16:59] samreid commented on #1286
OK `grunt` now fails on a bad lint.  I think this issue is ready for review and close.  Next steps will be in https://github.com/phetsims/perennial/issues/278 and https://github.com/phetsims/chipper/issues/1289.

[2022-07-23 17:12] samreid commented on #1286
Aqua may want to suppress the progress bar:

<img width="1181" alt="image" src="https://user-images.githubusercontent.com/679486/180615573-4bdd6ab8-23d0-47e2-bf07-35a641ceab77.png">

[2022-07-23 17:15] samreid commented on #1286
I committed a short-term-band-aid fix to require --show-progress-bar in `grunt lint-everything` since I didn't have time to have aqua override that and pull aqua on bayes.

[2022-07-23 18:05] samreid commented on #1286
The commit above will need to be applied at all call sites of lint.

[2022-07-23 23:49] samreid commented on #1289
I added a cache layer for lint by repo.  Another layer for the lint-all (hashing by repos.join('|')) did not provide any additional speed boost, so right now it is just per repo.

[2022-07-24 01:36] samreid commented on #1289
I added a script that runs precommit hooks on all repos with uncommitted changes.  Success results are cached so they will be speedy on re-runs and when doing actual precommits as part of commit.

[2022-07-25 14:16] samreid commented on #1266
A note that in https://github.com/phetsims/phet-core/issues/108 we discussed a "one stop shop" for combining options.  It isn't fully flexible, but it may have ideas about how to check for duplicate field names.

[2022-07-25 15:46] zepumph commented on #1286
I'm sorry this is way too late, but here is the patch you asked for on Friday:

<details>

[code]

[2022-07-25 17:25] jbphet commented on #1276
The change to rosetta looks perfectly reasonable to me.  Unassigning.

[2022-07-25 19:03] oliver-phet commented on #1290
Assigning to @jonathanolson since he is the responsible dev for Chipper.

[2022-07-25 22:12] marlitas commented on #1282
Have not seen this error come up on CT since the above fix commits. Closing.

[2022-07-25 22:12] #1282 closed

[2022-07-26 20:08] zepumph commented on #1286
re: https://github.com/phetsims/chipper/issues/1286#issuecomment-1193157599

I didn't like the idea of opting into the progress bar, because I think most won't use it in that case, so above I added an opt out for aqua. I'll restart the services now to test. What do you think?

[2022-07-26 20:26] zepumph opened #1291 "Webstorm-only bug: `Attempt to assign to const or readonly variable`"
When using IProperty, I found that my Webstorm was unable to parse where the `value` setter comes from. When I press "go to declaration" (ctrl + b), it gives me a list of IProperty and IReadOnlyProperty, as if it could be possible that `set value` is in IReadOnlyProperty`. Then it gives the error "Attempt to assign to const or readonly variable". TSC and lint passes though.

This patch does not so

[2022-07-26 20:28] zepumph commented on #1291
@samreid will you please review this. I'm unsure if you had been able to reproduce this on your copy of webstorm. I'll note that @jessegreenberg was unable to, but I could. He was able to reproduce the part though where ctrl + B showed both the IReadOnlyProperty declaration of `value` (getter only) as well as the setter in `IProperty`.

[2022-07-26 20:36] zepumph commented on #1291
I experienced this on 2022.1 but am currently on 2022.2. @jessegreenberg was on 2022.1 for our call but just updated to 2022.2 and still doesn't see the problem (before pulling my change above).

[2022-07-26 20:38] chrisklus commented on #1291
Patch is working for me, thank you very much!

[2022-07-26 22:48] zepumph commented on #1291
Tagging @Luisav1 because I believe she had this exact issue that she brought to dev meeting last week. It should be fixed!

[2022-07-26 22:55] samreid commented on #1286
Sounds good, I agree lint-everything should default to `showProgressBar: true`, and also think `lint`ing one repo should have `showProgressBar: false`.

[2022-07-26 23:00] Luisav1 commented on #1291
Thanks @zepumph! This is the issue I had but the patch fixed it now too.

[2022-07-26 23:29] samreid commented on #1227
This seems just right for now.  If it has false positives/negatives in the future we could consider a formal lint rule that checks the parse tree.

[2022-07-26 23:29] #1227 closed

[2022-07-26 23:55] samreid opened #1292 "Evaluate GitHub Copilot"
GitHub Copilot sent me an invite and I got a chance to try it out this morning (June 25, 2022). It’s an AI-powered code completion engine by Microsoft.  I’m very stunned at how well it is working.  I don’t know how/whether we would leverage it practically, but as a novelty or proof of concept, it seems incredible.  I tested it twice by running the following experiments in Mean: Share and balance.

[2022-07-26 23:57] samreid commented on #1292
https://user-images.githubusercontent.com/679486/181131985-bebe071a-2d3e-4dc0-ae66-9423e5c852e1.mov

[2022-07-27 00:05] samreid commented on #1292
I just wrote:

[code]

And it made this:

[code]

Then I asked it to write:

[code]

And it produced this:

[code]

[2022-07-27 00:46] samreid commented on #1292
I cannot explain how shocked I am at these outputs.  In Circuit Construction Kit, I asked:

[code]

And it correctly returned:

[code]

And when I tried to trick it by saying it could not cross Wires, it did this:

[code]

Also, correct.  I requested a short time for Thursday's status meeting to share a demo.

I also want to clarify I have not yet had an opportunity to use this in practice.

[2022-07-27 21:30] jonathanolson commented on #1290
So... should I move `altAccelerationUnits` from energy-skate-park to the common query parameters?

[2022-07-28 16:48] samreid commented on #1292
I shared a demo with the team today and we looked at several demos.  @emily-phet mentioned Clayton Lewis has interest and expertise in this area.  I don't plan any more work for this issue, closing.

[2022-07-28 16:48] #1292 closed

[2022-07-28 16:58] zepumph commented on #1286
Looks great. Thanks!

[2022-07-28 16:58] #1286 closed

[2022-07-28 18:03] samreid opened #1293 "Update documentation about precommit hooks, precommit-hook-changed-repos and commit workflow"
Today, @kathy-phet asked me to update documentation about precommit-hook-changed-repos and that commit process.

* SR/MK: PSA: New caching strategy for super speed pre commit hooks. Thanks SR!
* Caching is super fast, and automatically set up in all linting and pre commit hooks.
* We also have two new scripts for your use:
* absolute-tsc uses the cache layer for type checking
* precommit-hook-chan

[2022-07-28 18:44] jonathanolson commented on #1287
Additionally, this should be put into the TypeScript conventions document (e.g. prefer a good name, otherwise prefer T...)

[2022-07-28 18:46] zepumph commented on #1253
Results from chipAway:
 - [ ] phet-io: @zepumph 2 errors in 2 files.
 - [ ] scenery-phet: @pixelzoom 11 errors in 2 files.
 - [ ] tandem: @zepumph 5 errors in 2 files.

[2022-07-28 19:03] zepumph commented on #1288
[code]

[2022-07-28 19:09] zepumph commented on #1288
Tagging the last time we talked about explicit-function-return-type:

https://github.com/phetsims/chipper/issues/1215

[2022-07-28 19:15] jessegreenberg commented on #1288
Discussed today - We would like to have return types for functions and methods but we do not want explicit return types for anonymous functions. Last time we tested https://typescript-eslint.io/rules/explicit-function-return-type/ we identified that the rule could not distinguish between functions and anonymous functions. But I will try briefly try options.

If the built-in rule doesn't work out I

[2022-07-29 00:05] zepumph commented on #1253
All that is left is KeyboardHelpSection classes, see https://github.com/phetsims/scenery-phet/issues/762. These have been individually disabled and marked with TODOs in that issue. To be handled soon. I turned the rule on and all are passing. Closing.

[2022-08-01 19:09] samreid opened #1294 "absolute-tsc not providing links in Windows/IntelliJ"
@marlitas indicated that @jbphet reported absolute-tsc not providing links in Windows/IntelliJ.

We were wondering if you did this step?

[code]

If so, please reassign to me for further evaluation.

[2022-08-01 20:39] samreid commented on #1293
I updated the docs, @marlitas can you please review?

[2022-08-01 20:41] samreid commented on #1087
See changes in https://github.com/phetsims/phet-io-sim-specific/issues/4 where we also needed a custom tsconfig for another repo.

[2022-08-01 20:57] samreid commented on #1289
Everything here seems to be working nicely. We made a public service announcement during last Thursday's developer meeting. I believe this issue is ready to close.

[2022-08-01 21:18] marlitas commented on #1293
@samreid the new language looks good.

I saw you removed the bullet point `- Check lint and tsc separately by running "grunt lint" or "tsc" in a sim repo.`, but it doesn't seem like the new info you provided addresses that bullet point. Should we add info referring to `grunt lint` and `tsc` or should that stay out of this document?

[2022-08-02 05:05] samreid commented on #1094
`merge` has types matching the lodash definition which seems suitable enough for now.  I cleaned up the documentation, and ready to close.

[2022-08-02 05:05] #1094 closed

[2022-08-02 05:10] samreid commented on #1291
I temporarily reverted the fix commit, and navigated to several sites that specified `.value = ...` in *.ts code.  They all seemed to navigate correctly on my system.  Still, the proposed commit seems a good way to pair the getters and setters, so it seems good to me.  Anything else to discuss here?

[2022-08-02 05:25] samreid commented on #1272
I'm wondering if an easier intermediate step would be to use our existing transpiler interface and convert chipper/perennial code to TypeScript and just invoke it like `node ../chipper/dist/` etc.  We could potentially have our own alias that forwards calls, like: `tsnode ./myscript.ts`. But we would probably at least want to get decent sourcemaps.  And changing a fundamental part of our toolchain

[2022-08-02 05:33] samreid commented on #1278
Thanks for the recommendation. This will sound like a backtrack, but I feel the best way forward for this issue is to support windows paths on windows.  The main reason I normalized out the paths was to make text searching for substrings like 'my/path/element` trivial, but perhaps that should be the part this is abstracted instead of having to remember to call Transpiler.joinPath or forwardSlashif

[2022-08-02 13:25] zepumph commented on #1278
Yes, it makes sense! Good luck.

[2022-08-02 13:29] #1291 closed

[2022-08-02 15:46] jbphet commented on #1294
Ah, thanks, I definitely missed that step.  I just added it, and the links are now clickable.  Thanks @samreid!  Closing.

[2022-08-02 15:46] #1294 closed

[2022-08-03 04:16] samreid commented on #1190
The proposal sounds reasonable and seems to be working well, so I committed it.  Ready for test/spot check.

[2022-08-03 04:22] samreid commented on #1293
I removed those details since the precommit hooks include lint and tsc, so I thought it would be simplest to just have one entry point.  Particularly since this section is about precommit hooks.  But I'm not opposed to mentioning `grunt lint` or `tsc` (or more appropriately absolute-tsc?) here or elsewhere.

[2022-08-03 04:26] samreid commented on #1184
We now use `silent: true`, closing.

[2022-08-03 04:26] #1184 closed

[2022-08-03 14:39] samreid commented on #1235
I tried the same patch and saw WebStorm report an error, and lint reported this error:

[code]

So I think this issue can be closed, please reopen if there is more to do.

[2022-08-03 14:39] #1235 closed

[2022-08-03 14:47] samreid commented on #1268
I'm not planning more time for this until we schedule a sprint or collaboration.  Unassigning for now.

[2022-08-03 16:20] samreid opened #1295 "How should we access private methods for unit tests?"
In https://github.com/phetsims/axon/issues/403, @zepumph said:

and

However, @marlitas reported another solution to this problem which is described in https://stackoverflow.com/questions/35987055/how-to-write-unit-testing-for-angular-typescript-for-private-methods-with-jasm and https://github.com/microsoft/TypeScript/issues/19335

We tested this in Mean: Share and Balance and it seemed reasonable

[2022-08-03 19:34] samreid commented on #1209
Likely fixed by https://github.com/phetsims/chipper/issues/1273, closing.

[2022-08-03 19:34] #1209 closed

[2022-08-03 21:34] arouinfar opened #1296 "Increase size of Activity Log in a11y view"
The Activity log of Responsive Descriptions only displays the five most recent alerts.
<img width="468" alt="image" src="https://user-images.githubusercontent.com/8419308/182715087-ce0fa0f5-1071-4bb4-8c99-15fb6c860e66.png">

This is a relatively low number and makes things difficult when reviewing the descriptions in the a11y view. Would it be possible to increase the maximum number of displayed r

[2022-08-03 23:09] samreid commented on #1157
It feels unfortunate that there is so much copy/paste across all the README.md files.  Would be nice to centralize as much as possible, and each sim can just provide information specific to itself.

[2022-08-03 23:13] jessegreenberg commented on #1296
OK, changed with the above commits and regenerated all a11y views. To summarize the changes:
- Doubled the number of alerts in the log.
- Increased the min height of the activity log
- Added a "Clear Log" button that will clear all alerts in the log when you press it.

@arouinfar can you please review how this looks?

[2022-08-04 04:31] samreid commented on #1272
Here's a simpler change set that accomplishes the same thing.

<details>

[code]

</details>

Do that, then rename chipper/Gruntfile.js to Gruntfile.ts and run `grunt` or `grunt lint` from mean-share-and-balance.  The only thing failing for that part is WebStorm can't find a lint configuration:

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/679486/182763550-f40d8f86-

[2022-08-04 04:43] samreid commented on #1221
No longer necessary now that we don't use project references, closing.

[2022-08-04 04:43] #1221 closed

[2022-08-04 04:50] samreid commented on #1278
As I was prototyping https://github.com/phetsims/chipper/issues/1272 it was very convenient to be able to search for substrings in paths like `includes('../chipper/')` so now I am less sure what's best.

[2022-08-04 17:28] jessegreenberg opened #1297 "lint --fix option isn't working"
@marlitas noticed this and announced on slack:

The error from running grunt lint on @marlitas machine was

We tried to get more info about the error with

And saw that "failure" is printed. The `event` here is undefined. We tried this with a few different lint rules that were documented as fixable and none of them would fix.

[2022-08-04 18:09] zepumph commented on #1266
We want this, but no one has time for it currently. Marking as an epic to be discussed in future quarterly goals.

[2022-08-04 18:13] zepumph commented on #1270
The dev team thinks that this is a big bummer, and we'd like to proceed with a jetbrains issue. We @jessegreenberg  on the case!

![image](https://user-images.githubusercontent.com/6856943/182921532-d6b686d2-eda6-4032-a86a-7c5c6a26b910.png)

[2022-08-04 21:29] AgustinVallejo commented on #1252
Changed the last `EmptyObjectTypes` in optionize.ts for just `object`

[2022-08-04 21:29] #1252 closed

[2022-08-04 23:38] jessegreenberg commented on #1270
Before making an issue for jetbrains I wanted to try a test case in a more simple project and found that WebStorm does support this:
![image](https://user-images.githubusercontent.com/6396244/182972403-9bafa552-22f1-47bc-85ac-373108b4b5b4.png)

Here is the basic project structure I made:
<details>

![image](https://user-images.githubusercontent.com/6396244/182972796-84c818cb-b1c8-46dc-8945-0bd1ce3

[2022-08-05 15:13] jessegreenberg commented on #1270
I believe this problem is the same as https://youtrack.jetbrains.com/issue/WEB-54951, which also prevents us from auto-import on code completion when importing across repos. When I added package.jsons under scenery/ and project/ in my demo importing, built-in types broke (as did auto-import on tab completion).

[2022-08-05 16:26] marlitas commented on #1297
Did a little more investigation on this today:

- I tried running eslint directly from chipper's `node_modules` while referencing the path of a specific file to fix:
`./node_modules/.bin/eslint  --fix /Users/marlitas/my_code/PhET/phetsims/scenery/js/overlays/IOverlay.ts`

- At first this gave me the error:
`ESLint couldn't find the plugin "@typescript-eslint/eslint-plugin".`

- So I ran an `npm in

[2022-08-05 21:58] zepumph commented on #1297
Thanks for the report @marlitas.

@marlitas and I took a look together, and after I drove us down deep and dark spaces, we realized that it was a simple bug fix in lint.js where we weren't passing the fix option through.

Closing

[2022-08-05 21:58] #1297 closed

[2022-08-08 12:49] samreid commented on #1270
There is also a similar paper trail in https://github.com/phetsims/chipper/issues/1166 and https://github.com/phetsims/chipper/issues/1172 which lead to https://youtrack.jetbrains.com/issue/WEB-54083#focus=Comments-27-5665822.0-0

[2022-08-08 15:01] jessegreenberg commented on #1270
Thanks! Yes I think it is the same problem. Auto imports for Node/Text/Image all work great under scenery/.

[2022-08-08 15:37] jessegreenberg commented on #1172
I am pretty sure this is the same issue and would be fixed by https://github.com/phetsims/chipper/issues/1166, a report to jetbrains was submitted there.

[2022-08-08 18:29] samreid commented on #1266
The proposal in https://github.com/phetsims/chipper/issues/1266#issuecomment-1158028197 works correctly to make sure there is no overlap in the keys. That pattern can be extended to accept more type parameters:

[code]

However, using this implementation impacts the readability at usage sites.  For instance:

[code]

becomes:
[code]

(I would prefer a more succinct name but went with the one menti

[2022-08-08 20:11] samreid opened #1298 "Streamline the install process for automated headless testing via puppeteer/playwright"
From https://github.com/phetsims/chipper/issues/1273 one of the pain points is that each time we switch SHAs to a different puppeteer version, there is a long cycle to download the new version of chromium (70MB or so).  Deno solves the problem by caching.  Puppeteer may have a strategy for caching chromiums as well.  This would help on maintenance releases which swap SHAs a lot.

[2022-08-08 20:14] samreid opened #1299 "Run WebGL code in headless testing"
From https://github.com/phetsims/chipper/issues/1273, when webgl is not available, the sim runs with limited capabilities.  This limits how much our automated headless testing (puppeteer/playwright) can do.  We would like to see if puppeteer or playwright can run WebGL code, particularly on our linux server bayes (which I do not know whether it has a dedicated graphics card).

[2022-08-08 20:15] samreid commented on #1273
The quarterly goal of improving stability was accomplished through a bugfix in https://github.com/phetsims/aqua/issues/150#issuecomment-1183367017.  The remaining work is lower priority and I have moved it to separate issues (currently unassigned), which can be investigated at our discretion.  Closing.

[2022-08-08 20:15] #1273 closed

[2022-08-08 20:16] marlitas commented on #1280
The consistent-type-definitions rule has been turned on, and set to prefer 'type'. Fixes have been applied. Closing.

[2022-08-08 20:16] #1280 closed

[2022-08-08 21:22] samreid commented on #1278
The commit adds Transpiler.join, would you like to review?  Was mostly straightforward with the more complex usage in `getTargetPath` -- does that seem OK?

[2022-08-08 21:34] samreid commented on #1195
How about adding an option to `node js/scripts/transpile.js` that specifies additional watch directories?  Like:

[code]

I'd like feedback before working on this.  @pixelzoom and @zepumph does this sound like the right path?

[2022-08-08 21:54] arouinfar commented on #1296
@jessegreenberg this is amazing! It really improves the experience of reviewing responsive descriptions in Greenhouse Effect, and likely in other sims too.

[2022-08-08 21:59] jessegreenberg commented on #1296
Excellent, thanks @arouinfar! @zepumph would you like to review this? You did a significant amount of the layout work for the a11y view so I thought it would be good for you to at least be aware of this change. Important commits are
https://github.com/phetsims/chipper/commit/d61f4879814cf0e69e6ead9427f8396bcf3dd0cc
https://github.com/phetsims/chipper/commit/c6f3db661af558eebecdb90a889b349e94f9265b

[2022-08-08 22:33] zepumph commented on #1296
I love it! While I was reviewing, I found a lot of margin around the edges, and thought it would be nice to clean up some CSS. Feel free to close on my account.

[2022-08-08 22:42] zepumph commented on #1278
Looks great! Thanks.

[2022-08-08 22:45] zepumph commented on #1195
Yes. I think a `--repos` option makes sense, but instead of using paths, let's have it just be repos.

`node js/scripts/transpile.js --watch --repos=my-new-sim,my-other-sim`

[2022-08-08 23:07] #1278 closed

[2022-08-08 23:25] samreid commented on #1277
I added a rule that seemed to match with our conventions, `@typescript-eslint/explicit-module-boundary-types` but couldn't figure it out for mixins so it is disabled on those lines.

[2022-08-08 23:43] samreid commented on #1195
Implemented and tested on a fake repo.  It seemed to work as expected on startup and during watch.  Ready for review.

[2022-08-09 16:36] zepumph commented on #1195
* see https://github.com/phetsims/chipper/commit/02a981a9b9d9e2183831dcaf639b5c2468afabfc#r80748337

For a second. I thought that it would be better and simpler to combine the activeRepos and provided-additional repos into a single list, but then I realized that activeRepos is reloaded from time to time during the watch. If that is an accurate assessment. Please feel free to close.

[2022-08-09 16:37] zepumph commented on #1195
Oh! One more thing. do we ever want to exclude intersection between activeRepos and repos, just to avoid extra work and potential confusion?

[2022-08-09 16:45] mattpen commented on #1243
This happened again today.  Updated manual steps to fix are in https://github.com/phetsims/chipper/issues/1243#issuecomment-1116376924.  This takes me about an hour to fix every time it happens, it would be nice if we could maintenance release a fix.

[2022-08-09 20:40] marlitas commented on #1287
@AgustinVallejo and I also found:
- [ ] IOverlay
- [ ] IInputListener

[2022-08-09 21:43] zepumph opened #1300 "Trouble with CacheLayer on windows"
@samreid and I were pairing and found that my cache layer was pretty much never hitting the cache successfully.

[2022-08-09 21:45] zepumph commented on #1300
Changes we made:

1. Ignore directories, which have different ending paths in windows and mac
2. Throw an error in the exit handler instead of supressing it.
3. ignore the build directories
4. Run chipper scripts from chipper cwd, not perennial.

Caching is now often hitting on my end. Thanks @samreid for spending this time with me on this!

[2022-08-09 21:45] #1300 closed

[2022-08-09 22:46] zepumph commented on #1190
Excellent!

[2022-08-09 22:46] #1190 closed

[2022-08-10 01:52] jessegreenberg commented on #1296
It looks nice, thanks! Closing.

[2022-08-10 01:52] #1296 closed

[2022-08-10 15:20] zepumph opened #1301 "Is there a faster way to check the working copy status of all repos?"
In precommit-hook-multi.js we run these two git commands on every repo:

`git update-index --refresh`
`git diff-index --quiet HEAD --`

The commands themselves are really really fast, when we Promise.all on each `execute` call, it only takes 20 ms to resolve. The issue is in spinning up 2n child processes. I found that each command (of 2) takes between 1.1 and 1.2 seconds to execute:

[code]

@sam

[2022-08-10 15:25] zepumph commented on #1301
I looked at https://stackoverflow.com/questions/35004492/node-child-process-spawn-multiple-commands and saw that by passing in "shell:true" to execute, you can use `&&`, so that is just a single command per repo. This line takes between 1700 and 2000ms. An improvement, but not too much (I guess it takes more to run a command from a new shell).

[code]

[2022-08-10 15:33] jessegreenberg commented on #1166
Over slack @mattpen said that dependencies can be installed from github with npm and package.json. I wonder if WebStorm can use this info to better support auto imports. https://www.pluralsight.com/guides/install-npm-packages-from-gitgithub

If not from github, you can specify local dependencies in package.json like this https://stackoverflow.com/questions/15806241/how-to-specify-local-modules-as-

[2022-08-10 15:48] zepumph commented on #1301
Here was a commit that uses child_process.exec instead of spawn (from execute), trying to see if it is something from execute that we are doing. It isn't. I still was getting ~1600 and greater spin up time. Sometimes it was even 3seconds or so (perhaps a weird way git caches these?)

[code]

[2022-08-10 16:10] zepumph commented on #1301
Ok. What I really found was that the overhead is in running these two git commands. I was able to pull some minor savings (my best guess is between 300-500ms by combing two child processes into a single command (which requires exec instead of spawn), but it was no where near the amount of speed increase as this patch below. I really wanted to convince myself that we didn't need to reindex each tim

[2022-08-10 17:26] samreid commented on #1301
It seems reasonable to have intermittent false positives if they are all in the direction of testing too much instead of too little.  We could also add another script/utility that does the update-index when a false positive is observed.  I'll commit the change above and let's go from there.

[2022-08-10 18:05] marlitas commented on #1293
Tsc documentation updated in on-boarding doc based on developer feedback from 8/4/22.
Closing.

[2022-08-10 18:05] #1293 closed

[2022-08-10 19:16] zepumph commented on #1301
I was worried for a second with the following thought: If it can have a false positive when rolling back, couldn't it also have a false negative when applying a patch?

To test this, I reproduced the false positive, and added a few more steps to find that it did in fact detect the changes from the patch when applying them:

* delete a line of code from a file
* Run the script and see that the scri

[2022-08-10 20:06] samreid commented on #1301
Sounds good, thanks!  Closing.

[2022-08-11 03:52] samreid opened #1302 "Make it possible to switch locales in a running sim"
As @arouinfar mentioned in https://github.com/phetsims/joist/issues/744#issuecomment-1197440891, we would like the simulation to be able to switch languages from within the sim.

And in https://github.com/phetsims/studio/issues/192#issuecomment-730570376, where @kathy-phet also said:

This came up during https://github.com/phetsims/studio/issues/268 where @zepumph and I discovered that the locale

[2022-08-11 15:27] 7dir opened #1303 "where is phet-io-wrapper?"
Fail to build sim
[code]

[2022-08-11 15:34] jessegreenberg commented on #1288
Option `allowExpressions: true` catches declared functions but allows anonymous functions.

<details>

![image](https://user-images.githubusercontent.com/6396244/184170058-66a54ff4-0b71-45db-a7f2-e49ad2939d82.png)

</details>

`explicit-function-return-type` with `allowExpressions: true` has 754 errors on master but the rule does not support auto-fix.

Maybe it would be quick enough to implement a

[2022-08-11 16:12] zepumph commented on #1283
All looks correct and excellent. I also wanted to say that I have not noticed any readability concerns with in-lining type imports or exports. I also like the documentation in eslintrc. Ready to close!

[2022-08-11 17:41] samreid commented on #1272
From today's dev meeting:

SR: OK if we start allowing *.ts in chipper?  Context is https://github.com/phetsims/chipper/issues/1272

Grunt would still work but for scripts that use *.ts you would have to launch from node chipper/dist/js/chipper/myscript.js
Stack traces wouldn’t line up in this version
Or should we wait for sprint/quarterly goal?
Transpiler would remain in 100% *.js so there is no

[2022-08-11 18:11] jessegreenberg commented on #1295
@marlitas shows using square bracket notation to access private fields and methods in unit tests. `distributeWater` is a private method.
[code]

This is better than a `@ts-ignore` because the ignore could mask other problems. And this is better than changing the API just for testing.

We like it! And will continue to use it in testing files.

@marlitas and @samreid mentioned a lint rule to disallo

[2022-08-11 20:10] zepumph commented on #1295
Ok. I was able to successfully add this dot-notation lint rule for typescript and javascript. I also added overrides so that we are ignoring it it *Tests and *tests files. I then went through ts-ignores in test files and updated private member access to use bracket notation. @marlitas will you please give a review/spot check?

[2022-08-11 20:10] zepumph commented on #1295
I noticed that dot-notation was already turned on for javascript, I just added it for typescript and the overrides to remove it for test files.

[2022-08-11 20:32] marlitas commented on #1295
@zepumph looks good.

I didn't see any changes for updating the member access in the corresponding class, not sure if any previously using dot notation needed to be updated to `private` from `public` at their declaration.

If not, all looks good to me. Back to @zepumph

[2022-08-11 21:31] zepumph commented on #1295
Ahh of course, ya know, the whole reason we did this work! I searched for many things like:

"(tests)"
"for tests"
/public.*tests/

and some others. Can you find any more?

[2022-08-12 02:31] samreid commented on #1272
Would it be OK for chipper typescript code to import files from phet-core?  Uh-oh, that will interfere with grunt’s need to transpile imports to require().

In slack, @zepumph responded:

[2022-08-12 05:35] samreid commented on #1272
To me, it would seem reasonable that chipper could use code from phet-core (which doesn't have any external dependencies).

The hack above detected code in chipper and automatically converted require statements to import statements (in chipper files).  If using files from other repos, this heuristic won't work anymore, and we shouldn't output 2 variants of each files (with imports vs requires).

S

[2022-08-12 15:49] samreid commented on #1272
@marlitas and I reviewed the proposal above, and it seems promising.  We would like to test on windows before committing it to master.

[2022-08-12 16:15] samreid commented on #1279
@marlitas and I enabled the rule in the commits. We found that for `readonly` properties, TypeScript infers the type to equal the value, like

[code]

So we had to annotate these cases like

[code]

Still, it seemed like an improvement, so we made the changes (mostly in mixins) and committed.  Closing.

[2022-08-12 17:46] jessegreenberg commented on #1288
I was mistaken in https://github.com/phetsims/chipper/issues/1288#issuecomment-1198536600, we want to allow return type inference for anonymous functions AND functions of a variable declaration. The built-in rule `explicit-function-return-type` does not support this. But it should be easy to catch function declarations with our custom `explicit-method-return-type` rule and probably even use the au

[2022-08-12 18:17] jessegreenberg commented on #1288
`explicit-function-return-type` now has support for requiring return types on function declarations with an auto fix. Commits following this comment apply the auto fixes. Ill skim through them to make sure they seem right.

[2022-08-12 20:33] jessegreenberg commented on #1288
Function declarations now require return types. There was still a question about whether function defined in variable declarations also need to have return types annotations:

Searching for these functions with explicit-function-return-type. Most examples look like
https://github.com/phetsims/tambo/blob/9db69bcaefbecf0e347eca6d9a6bf66ae8720005/js/soundManager.ts#L242-L248
https://github.com/phetsi

[2022-08-12 22:28] samreid commented on #1272
We reviewed the proposed implementation with @zepumph and tested on Windows.  It seemed to have reasonable operational behavior on Windows (low overhead for the spawn), but @zepumph expressed concern about maintaining the grunt layer.  I don't like the grunt layer at all but argued that it may be low enough cost to maintain until we are ready to break backward compatibility in our maintenance step

[2022-08-13 02:23] jonathanolson opened #1304 "branch: stringProperties"
See https://github.com/phetsims/chipper/issues/1302

[2022-08-13 02:30] jonathanolson commented on #1302
Not done, but committed some progress (Molecule Shapes sim-specific is completely dynamic now, a lot of Gravity and Orbits is, but need to work on some details and some common interface).

phetioValidation=false is needed for now, due to overrides file errors like:
[code]

Example is http://localhost/studio/?sim=molecule-shapes&phetioWrapperDebug=true&phetioElementsDisplay=all&loadExtraLocales=es,

[2022-08-13 03:22] samreid commented on #1195
I considered the following ideas:

* Use _.uniq before processing transpileAll
* asserting that activeRepos don't overlap with --repos
* Creating a new list that combined activeRepos with repos, and updating it when activeRepos updated.

None of these seemed worth it to me, feel free to disagree, I'm happy to implement whichever is best.

[2022-08-13 03:32] samreid commented on #1164
This is covered by:

[code]

Closing.

[2022-08-13 03:32] #1164 closed

[2022-08-13 03:36] samreid commented on #1220
I checked https://phet.colorado.edu/sims/html/geometric-optics/latest/geometric-optics_en.html?debugger and saw that the source was minified and there was no sourcemap, which I believe is the intended behavior.  Closing.

[2022-08-13 03:40] jonathanolson commented on #1302
Added a VERY rough-draft locale switcher in the navbar for demo-ing, see https://bayes.colorado.edu/dev/olsonjb/locale-test.html

[2022-08-13 03:51] samreid commented on #1087
We no longer need to generate tsconfig files, so I removed that part.  It is ok for different repos to have different structures. We can note that in tsconfig.  Closing.

[2022-08-13 03:51] #1087 closed

[2022-08-13 03:53] samreid commented on #1302
That draft looks really amazing, nice work!

[2022-08-13 17:43] jonathanolson commented on #1302
Includes some layout/helper improvements that I'll port to master in the commits above.

[2022-08-13 21:31] jonathanolson commented on #1302
Gravity and Orbits sim-specific stuff complete, demo: https://bayes.colorado.edu/dev/olsonjb/locale-test2.html

PhetMenu and related things is what's remaining (PhetMenu needs... a layout rework). Most of the code is pretty good quality. Some annoyances that we don't have a "derived-style" Property we can pass to `textProperty` (it needs an `IProperty`), so I had to create some things that behaved

[2022-08-13 23:21] samreid commented on #1302
I checked out the branches, launched Gravity and Orbits in studio with `?loadExtraLocales=en,es,ja,ar` and `&phetioDebug=false` and was able to use studio to customize the text in English and Spanish.  Then after pressing "Test", I was able to see both translated strings in the loaded sim. This is working really well.  The lag in showing so many elements under strings.en wasn't very severe for me,

[2022-08-13 23:41] samreid commented on #1176
I added a message to the template and it can be published when https://github.com/phetsims/chipper/issues/1157 proceeds.  Closing.

[2022-08-13 23:41] #1176 closed

[2022-08-15 03:04] jonathanolson commented on #1302
Made the PhetMenu fully dynamic above (we'll probably want that dynamic layout and code simplification, even if we're not keeping other code)

[2022-08-15 03:05] jonathanolson commented on #1302
Yes, I wasn't sure what to do. Tandems have a very restricted set of characters, and string keys don't, so coming up with a good mapping (or... better studio interface?) would be needed.

[2022-08-15 03:51] jonathanolson commented on #1302
Our string detection system doesn't like `joistStrings.projectorModeProperty.link( ... )`, it treats the `link` as included in the string name.

[2022-08-15 04:04] jonathanolson commented on #1302
I tossed the about/preferences/update dialogs into dynamic layout + dynamic strings above. This should cover all visible strings in GAO/MS demos.

Demos:
Gravity and Orbits: https://bayes.colorado.edu/dev/olsonjb/locale-test3.html
Molecule Shapes: https://bayes.colorado.edu/dev/olsonjb/locale-test4.html

[2022-08-15 14:23] samreid commented on #1191
It seems this is up for the dev team to decide how to proceed.  My recommendation is to leave the rule "off", that is, allow developers to use any form of parameter properties as needed.

[2022-08-15 14:39] samreid commented on #1157
In discussion with @marlitas, we concluded that the advantages of individual readme files outweighs the disadvantages.  But it does seem best to `npm install` perennial so I added that to the PhET Development Overview.  So when I regenerate the README files it will mostly have changes from https://github.com/phetsims/chipper/issues/1176

[2022-08-15 14:43] zepumph commented on #1288
@samreid, that was the decision we made in https://github.com/phetsims/chipper/issues/1215. Then we reopened the discussion to add more potential cases in this issue, with private "helper" functions that aren't used in the public API. The example in the initial issue comment here is a great example that we decided at dev meeting was worth adding to the lint rule. Do you feel differently?

[2022-08-15 14:43] zepumph commented on #1288
@jessegreenberg, can we start with just `function(){}` annotation?

[2022-08-15 15:19] samreid commented on #1157
We also observed that several package.jsons have superfluous eslint rule overrides which are leading to HTML file changes on `grunt update`.  We are correcting those as we identify them, and will make a larger issue to review all overrides.

[2022-08-15 15:30] samreid opened #1305 "Identify extraneous or incorrect eslint overrides"
From https://github.com/phetsims/chipper/issues/1157, @marlitas and I identified that many package.jsons have incorrect eslint rule overrides.  Rules that have been enabled in chipper should not be re-enabled in package.jsons (and vice-versa).

Also note that we corrected some in https://github.com/phetsims/chipper/issues/1157 since it was overlapping with `grunt update` overwriting html files.

[2022-08-15 15:33] samreid commented on #1157
@marlitas and I updated all the readmes as described in the preceding comments.  @pixelzoom would you like to review?

[2022-08-15 15:52] samreid opened #1306 "precommit-hook-multi truncates errors"
While working on https://github.com/phetsims/chipper/issues/1305, @marlitas and I observed 2x in a row that precommit-hook-multi truncates errors like so:

[code]

[2022-08-15 16:08] samreid commented on #1305
@marlitas and I updated all of the incorrect or inconsistent eslint overrides.  For dot/kite/scenery, we also removed the `"no-simple-type-checking-assertions": "off"` rules because of the team consensus in the typescript conventions doc:

Committing shortly

[2022-08-15 16:10] samreid commented on #1305
@marlitas and I co-reviewed it, and it seems good to commit.  Heads up to @jonathanolson about the changes in kite, dot, scenery.

Closing.

[2022-08-15 16:10] #1305 closed

[2022-08-15 16:16] samreid commented on #1306
This was easy to replicate by enabling `@typescript-eslint/no-unnecessary-condition` and triggering a change in one scenery file, then running the script.

[2022-08-15 16:33] jessegreenberg commented on #1288
Functions like the one in the initial issue comment require a return type after https://github.com/phetsims/chipper/issues/1288#issuecomment-1213387205.  But the remaining question was whether we also want to require a return type for functions assigned to a variable declaration like the examples at the bottom of https://github.com/phetsims/chipper/issues/1288#issuecomment-1213492354. These are no

[2022-08-15 17:05] samreid commented on #1306
@marlitas and I wrote this variation, but still saw truncation in webstorm:

<details>

[code]

<details>

[2022-08-16 02:34] samreid commented on #1279
@jonathanolson discovered that this was failing out widthSizable mixin behavior.  So he will be committing reverts for this.  After he does so, we should add comments that this pattern is incompatible with our mixin strategy and the rule should remain disabled.

[2022-08-16 03:10] samreid commented on #1279
I updated the docs to indicate this rule is incompatible with the way we use mixins and it should remain off.  Heads up to @marlitas, and closing.

[2022-08-16 03:10] #1279 closed

[2022-08-16 12:42] samreid commented on #1306
With the patch above, there is truncation in WebStorm but no truncation from the terminal. I changed the WebStorm console buffer size following these instructions, but it had no impact on when the data was truncated:
https://stackoverflow.com/questions/11763996/output-window-of-intellij-idea-cuts-output

[2022-08-16 16:16] samreid commented on #1306
* We saw differences in the string length when `'stylish'` was used but not when `'compact'` was used.  This was only in WebStorm, there was no different in the string length from terminal.  This was independent of any output (even when not console.logging anything).
* We saw the same trouble with console.log and process.stdout.write
* We tried batching substrings and saw the same problem
* When w

[2022-08-16 16:38] samreid opened #1307 "Allow sim/phet-io originated creation of internationalizable strings that do not appear in rosetta"
From https://github.com/phetsims/chipper/issues/1302, @kathy-phet said:

* Situations in which we have a special text field for PhET-iO that isn't in the PhET-brand sim and thus doesn't have a translatable string.
* Example is the Element or Vertex label in CCK
* Proposal would be to have a parallel sort of approach where each of these labels has a dynamicProperty PhET-iO Element name, and then th

[2022-08-16 16:38] samreid commented on #1307
Also a heads up to @jonathanolson and @zepumph about this request.

[2022-08-16 18:07] marlitas commented on #1295
Looked through and changes look great. I tried searching some other random forms of "test", "testing", "/private.*test/", and I couldn't find anything, or think of any better search phrases. Sending back to @zepumph!

[2022-08-16 18:16] kathy-phet commented on #1307
One thought is that these text properties are added - like the a11y properties are now - to the internationalizable strings, so they have the exact same interface as regular translator strings, but they are flagged in a way that they do not show up in babble - like the a11y strings don't show up there now.

[2022-08-16 18:41] zepumph commented on #1302
@samreid and I worked on improving the look of the phetioIDs by using camelCase and splitting on `-` instead of `,`. There was one problem I ran into when we moved to commit: In SOM there is a string key called `Solid` and `solid`, so the camelCasing of those two overlap and cause an error.

https://github.com/phetsims/states-of-matter/blob/274528b93182eda8923cbed369925896c8ea4e31/states-of-matter

[2022-08-16 19:25] #1295 closed

[2022-08-16 20:13] samreid commented on #1302
@zepumph and I considered that we can bump and index in cases like this, so it would be solid2StringProperty.

[2022-08-16 20:39] zepumph commented on #1302
Assigning @samreid to work on that!

[2022-08-16 21:11] zepumph commented on #1307
I think it would be helpful to understand this more. Can you point me this in code and or studio?

[2022-08-16 21:12] zepumph commented on #1195
No need. Thanks for doing this. @pixelzoom anything else?

[2022-08-16 21:17] samreid commented on #1307
For instance, drag out a resistor, then look for `circuitConstructionKitDc.introScreen.model.circuit.vertexGroup.vertex_0.labelTextProperty` in the studio tree.

[2022-08-16 21:31] kathy-phet commented on #1307
Yep - its in a phet-io group ...
![image](https://user-images.githubusercontent.com/5096804/184988817-2d2cece9-27c3-40bf-83f7-5b54cf156e26.png)

[2022-08-16 23:17] samreid commented on #1307
This patch creates new properties beneath the labelTextProperty:

<details>

[code]

</details>

It looks like this:

<img width="756" alt="image" src="https://user-images.githubusercontent.com/679486/185001092-4cef91c1-862c-4686-81f6-0ccda9f4c684.png">

This works well in state--customized per-language strings appear correctly in "Preview"
However:

* I had to populate all locales since it appear

[2022-08-16 23:35] samreid commented on #1307
What if the english translation was the empty string `''`?  Would translators know that they should translate it as `''`?  Or could we have a heuristic that empty strings do not appear in rosetta?

[2022-08-17 04:33] kathy-phet commented on #1307
I think we can do what we need on the rosetta side - that seems like a solvable issue since we already solved it for a11y strings. The question I was wondering was does a dynamic property approach (one string - and then lightweight translation strings) work with phet-io group?

[2022-08-18 15:59] zepumph commented on #1302
Still to do from PhET-iO meeting today:

- [ ] Overrides files deleted textProperty featured. Likely they should be changed to featuring the model
- [ ] Apply the above patch about renaming the tandem structure in https://github.com/phetsims/chipper/issues/1302#issuecomment-1217010895
- [ ] Do we NEED to add jsondiffpatch to our sim code?
- [ ] Customizing translated strings that aren't rosetta i1

[2022-08-18 18:18] chrisklus commented on #1266
From 8/18/22 dev meeting:

We ran out of time for this and will bring it back next week when @pixelzoom is back.

[2022-08-18 18:25] zepumph commented on #668
This issue is out of date now. These strings are in main strings files.

[2022-08-18 18:25] #668 closed

[2022-08-18 21:01] zepumph commented on #1302
We discussed more in PhET-iO meeting, and also discussed further with @samreid and @jonathanolson for a bit after. @jonathanolson and I decided on the following steps after a lengthy discussion. This implementation (to prototype before next design meeting for feedback), covers all design concerns we heard today while being general, modular, and simple enough to warrant an initial pass before check

[2022-08-18 21:21] zepumph commented on #1307
OVer in https://github.com/phetsims/chipper/issues/1302, @jonathanolson will prototype changes to our general dynamic strings pattern that should support this nicely. TBD on exact implementation/api to be used here in Vertex, but it will be available soon!

[2022-08-18 23:05] zepumph commented on #1302
Above completes https://github.com/phetsims/chipper/issues/1302#issuecomment-1217010895. @jonathanolson please review and feel free to simplify.

[2022-08-19 14:29] samreid commented on #1191
During https://github.com/phetsims/studio/issues/272 I saw a good candidate for using parameter properties, so I committed it and referenced above.

Pros: Reduce boilerplate and duplication. Clear what is happening. Parameter value, property declaration and assignment no longer have to be split up into 3 separate places.
Cons: Multiple ways to declare class properties may make it harder to skim/se

[2022-08-19 16:28] samreid commented on #1272
I committed the patch above.  I also realized this means the transpiler process needs to be running for `clean` to work, so we will need to abandon and rethink this approach or transpile chipper on startup.  I realized this because of

* clients that clone phet sims and want to develop them.  But in the readme file it does say to start the transpiler before it says you can run grunt (though the co

[2022-08-19 19:09] jonathanolson commented on #1302
I believe the work above has mainly been completed, but I'd like to pair with a more experienced phet-io developer to get the "dynamically created strings" to work nicely.

Did not do this. TinyOverrideProperty has an `isOverridden`, and the chains of overridden Properties end up being much cleaner.

Added (so now other languages can be used in the fallback order).

This was not needed, unless I'm

[2022-08-19 19:21] zepumph commented on #1302
This won't be needed until you add state from a dynamically created string. Because at that point it is just arbitrary state key ordering that determines if the stringsStateProperty is set first, or if the (for example) circuit vertex is created first (then creating its label string Property). There won't be a case for this until https://github.com/phetsims/chipper/issues/1307.

[2022-08-19 21:36] samreid commented on #1302
I tried using LocalizedString in Vertex.ts like so:

[code]

Then:
* launch studio
* drag out a resistor
* navigate to the leftmost vertex node (via autoselect)
* navigate to the corresponding vertex model element
* set the text. ====> observe that it updates in all languages, nice!
* change locale to swedish
* set the text to something else
* switch back and forth between english and swedish, and

[2022-08-20 02:58] samreid commented on #1302
I believe @zepumph understood this error case when he described how we would solve it with CouldNotYetDeserializeError.  I have a working prototype that seems to be working well.

[2022-08-20 03:01] samreid commented on #1302
I committed that improvement, and testing customized multi-language strings on dynamic Vertex elements seems to be working well.  Some ideas for next steps:

- [ ] Should `LocalizedString` register itself with `getStringModule.localizedStrings`? And unregister on dispose?
- [ ] getStringModule may benefit from TypeScript

[2022-08-22 16:09] samreid commented on #1272
Lots of red in CT from the commits above:

[code]

[2022-08-22 16:31] samreid commented on #1272
@marlitas and I saw that a package.json in a nested directory like chipper/js/phet-build-script did not seem to be respected.  We cannot change chipper/package.json since there is a lot of `require` code.  We could output to *.mjs but that will require changes to Transpiler.js in 2 places.  First, in the place that looks up the corresponding chipper/dist path, and second in `pruneStaleDistFiles`.

[2022-08-22 17:11] samreid commented on #1302
I restored support for stringTest query parameter, @jonathanolson I added mapString in 2 places but not sure if it was needed in:

[code]

Please review.

[2022-08-22 17:15] pixelzoom commented on #1157
Spot checked a few README.md files.  Looks good. Closing.

[2022-08-22 17:15] #1157 closed

[2022-08-22 17:50] pixelzoom opened #1308 "Hundreds of 404 errors for string files in Studio."
Related to https://github.com/phetsims/chipper/issues/1302 ... There are hundreds of 404 errors when attempting to load any sim into Studio.

To reproduce, go to phetmarks, choose any PhET-iO-instrumented sim, choose mode "studio", press "Launch" button.

For example:

[code]

[2022-08-22 17:51] pixelzoom commented on #1308
In Slack, @samreid said:

[2022-08-22 18:05] marlitas commented on #1287
changed the prefix for all instances I could find. @AgustinVallejo can you double check that there are no remaining I types that need to be changed to T? If we're all good I think we can close!

[2022-08-22 18:08] pixelzoom commented on #1195
Looks good. Nice doc in transpile.js and https://github.com/phetsims/phet-info/blob/master/doc/phet-development-overview.md#creating-a-new-sim.

Closing.

[2022-08-22 18:08] #1195 closed

[2022-08-22 18:24] jonathanolson commented on #1308
That would be the plan, and it would presumably need a rosetta change (and seems a bit fragile). Thoughts on whether that would be worth avoiding the 404s?

Alternatively, couldn't we just... create a bunch of empty files, one for every locale/repo? @samreid thoughts on this?

[2022-08-22 18:25] jonathanolson commented on #1302
The change above to fix stringTest looks good.

[2022-08-22 18:34] pixelzoom commented on #1308
I think avoiding the 404 errors is important.  They could result in someone missing important errors. I'm certainly not going to scroll back to the beginning of that console output to see if any important errors preceeded the 404 errors.

[2022-08-22 18:50] samreid commented on #1308
Interesting plan, maybe we should check with @jbphet and @liammulh to see if that would have ramifications for rosetta?

[2022-08-22 18:56] liammulh commented on #1308
I don't understand why creating empty files that Rosetta presumably wouldn't be fetching would negatively affect Rosetta.

I'd like to understand this further, but I'm not on PhET hours right now.

[2022-08-23 17:57] samreid commented on #1308
@zepumph also reported that loading some 1500 404s on the state wrapper was causing timeout errors, we speculated that loading that many non-404s may have the same problem?  But we would have to solve that to support 100% i18n anyways, so maybe we should start there?

[2022-08-23 17:58] liammulh commented on #1308
Can we discuss this in dev meeting?

[2022-08-23 18:38] zepumph commented on #1307
Removing hold. ready for review. I'll assign.

[2022-08-23 18:38] zepumph commented on #1307
"Most of the work is over in https://github.com/phetsims/chipper/issues/1302"

- A great man named Sam.

[2022-08-23 18:55] zepumph opened #1309 "Remove stringModule.get()"
Over in #1302 @samreid and I were surprised to find 0 usages of the `get()` function is added to the output of getStringModule.

It looks like when needed, we are just using array bracket accessor notation (`ratioAndProportionStrings.something['0MyKey']).

[2022-08-23 19:23] zepumph commented on #1309
Implemented above and all sims were run and passed. @jonathanolson does this seem reasonable to you? @samreid and I like the change and simplification.

[2022-08-23 20:10] samreid commented on #1302
@zepumph pointed out that studio can be used to cycle through all the locales for testing.  Great!

[2022-08-23 20:35] samreid commented on #1302
All known work complete or moved to side issues.  @zepumph will review the implementation.  Thanks!

[2022-08-24 01:05] samreid commented on #1308
I wrote this script to test creating all the locale files:

[code]

Running it, I observed the following:
* It creates 16.762 files in babel.
* Launching gravity and orbits with ?locales=* launches very fast with no 404s (I couldn't tell without measuring timing whether it was faster than with the 404s).
* We would need to regenerate more files after (a) adding another locale or (b) adding another

[2022-08-24 01:20] samreid commented on #1308
My network panel for GAO with the strings:

<img width="787" alt="image" src="https://user-images.githubusercontent.com/679486/186296441-d14ef512-6857-4660-ab2e-8a6a5124d747.png">

and reverting to the 404s:

<img width="791" alt="image" src="https://user-images.githubusercontent.com/679486/186296554-e9d110f5-d47c-4f17-9e71-ddfbcc0f2ae6.png">

So maybe the 200s are a little faster than the 404s?

[2022-08-24 02:26] samreid commented on #1272
I was interested to hear that deno will support importing from the npm ecosystem within the next few months.  That will make it a lot easier to move in that direction. https://deno.com/blog/changes#compatibility-with-node-and-npm

[2022-08-24 18:01] marlitas opened #1310 "String Property suffix convention"
While investigating https://github.com/phetsims/mean-share-and-balance/issues/99, @samreid and I noticed that `meanShareAndBalanceStrings.numberOfCupsProperty` was a bit confusing.

At first glance `numberOfCupsProperty` appears to be a number property, but is actually a string property. We are not sure if calling it from `meanShareAndBalanceStrings` is clear enough while glancing through code tha

[2022-08-24 20:12] samreid commented on #1308
- [ ] I also noticed the list of strings is very different in built mode:

<img width="1151" alt="image" src="https://user-images.githubusercontent.com/679486/186514043-f0ac8ea7-4ef6-4eef-b5f0-084c40fa1146.png">

and unbuilt mode:

<img width="1127" alt="image" src="https://user-images.githubusercontent.com/679486/186514102-b27cfea1-fdbd-44df-8629-042b929f5b66.png">

This will make testing more di

[2022-08-24 20:19] samreid commented on #1308
This problem is making it take 35 seconds to launch one sim on phettest:

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/679486/186515315-bc1bb36f-7e4c-49bc-aedb-677880746b59.png">

Also discovered by @Nancy-Salpepi in https://github.com/phetsims/gravity-and-orbits/issues/434#issuecomment-1226147158

[2022-08-24 22:19] zepumph commented on #1310
Totally fine with me! Let's do it.

[2022-08-25 00:48] samreid commented on #1310
Do we want to go one step further and change the strings to have a `String` suffix?  So instead of:

`gravityAndOrbitsStrings.age` it would be `gravityAndOrbitsStrings.ageString`?  But to me that feels unnecessary.  So now I'm wondering why we would suffix `Property<string>` but not `string`?  Maybe more important for `Property<string>` because:

[code]

[2022-08-25 02:54] samreid commented on #1271
I think the splitting on simVersion case is like so:

[code]

[2022-08-25 03:02] samreid commented on #1271
It is getting webpacked down to:

[code]

Which (with parentheses) formats as:

[code]

Which seems OK to me!

@zepumph do you remember more about the problem?  Want to investigate more?  Want to close the issue?

[2022-08-25 03:05] samreid commented on #1240
I don't plan to work on this issue further at the moment.  Not sure whether to close or self-unassign.  Leaning toward "close", but anyone please reopen for any reason.

[2022-08-25 03:13] samreid commented on #1192
I feel the existing solution is going ok, it is nice to sometimes be able to omit, require, etc.  So I think we need that flexibility in creating the provided options.  We also benefitted from EmptySelfOptions which streamlines the pattern a bit.  Combining all the types at the top into one thing doesn't seem a whole lot different than specifying them at the optionize call site.  I'm ok to self-as

[2022-08-25 17:33] samreid commented on #1288
Today we discussed https://github.com/phetsims/chipper/issues/1288#issuecomment-1198524562 and asked if it would be ok if the `:number` return type was missing?

@pixelzoom and @zepumph agreed that would be OK.  This seems to be the team consensus.

@pixelzoom argues that this issue is at a good point, and we don't need to add more requirements.  We are at the point of diminishing returns.

@zepum

[2022-08-25 18:02] samreid commented on #1310
At today's dev meeting:

@jonathanolson says we are already getting it from a strings object, so it doesn't need the `String` suffix.
@samreid: But it's difficult to search for the actual `numberOfCupsProperty` where it is really the number.
@pixelzoom: If it was a parameter, I would name it `numberOfCupsStringProperty`.
@jonathanolson: But do we need the verbosity?
@pixelzoom: We do not need to r

[2022-08-25 18:21] samreid commented on #1308
From today's dev meeting:

@kathy-phet thinks creating these files eagerly is problematic.
@pixelzoom asks if you can detect the existence of a file before requesting it.
@mjkauzmann and @jonathanolson report that does not exist.  It cannot be try/caught.

@jonathanolson says: When rosetta makes a change.  We just bundle them into one conglomerate string file per that has everything for that repo.

[2022-08-25 18:26] jessegreenberg commented on #1288
To summarize the above from dev meeting today we agreed that examples mentioned in https://github.com/phetsims/chipper/issues/1288#issuecomment-1213492354 do not need a return type. That syntax is most often used in local declarations and not in public APIs so a return type does not need to be explicit. This is ready to close.

[2022-08-25 18:26] #1288 closed

[2022-08-25 20:36] zepumph commented on #1240
Up until 3 days ago this patter was completely unsolved. We had no way for optionize to know that a nested key was provided. Then I experiemented with @jessegreenberg with a new pattern that I would like feedback on. The main forces that brought me to this code is that Typescript cannot mutate the type of a variable once it is declared, so I wanted the right type to begin with (instead of what we

[2022-08-25 20:38] zepumph commented on #1271
I remember writing this note specifically because we only ran into the bugginess in a corner case that seemed awkward and scary. I (of course), don't remember what the actual case was! I do not wish to spend more time on this personally.

[2022-08-25 20:51] #1271 closed

[2022-08-26 02:09] samreid commented on #1240
I think that's the way of the future. I want to test drive it in some cases.  I don't use nested options too much in my sim-specific code but I should find something.

[2022-08-26 02:24] samreid commented on #1240
Also, I tried to apply this pattern in CCK but got this far before I found that it does not flag excess properties:

<details>

[code]

</details>

[2022-08-26 16:34] pixelzoom opened #1311 "'Y' in general.strings.joist.a11Y looks like a typo"
While looking through Studio tree and inspecting API changes created by `grunt generate-phet-io-api`, I noticed phetioIDs that contain `general.strings.joist.a11Y`.   Note the capital 'Y' in `a11Y'.  That sure looks like a typo.  But's it's likely the result of this line in getStringModule.ts

While `a11Y` is argueably correct camel casing, is it OK?

[2022-08-26 16:36] pixelzoom commented on #1311
Slack:

[Michael Kauzmann](https://app.slack.com/team/U6DFWDG1Z)
:house_with_garden:  [1 minute ago](https://phetsims.slack.com/archives/C6HPE0J91/p1661531695771779?thread_ts=1661530725.024389&cid=C6HPE0J91)
My first preference would be to leave it. Otherwise can we just hard code lowercase a11y as an exception to lodash camelcase?

[Chris Malley](https://app.slack.com/team/U6EMFARV2)
  [< 1 minut

[2022-08-26 16:37] zepumph commented on #1311
@samreid and I decided that it was OK after discussion last week in #1302. It is camel case, technically.

Let's just change it.

[2022-08-26 16:56] zepumph commented on #1311
Hows that?

[2022-08-26 18:09] zepumph opened #1312 "Infinite loop when setting fallback locales"
To reproduce the bug:

* Go to studio
* set `fallbackLocalesProperty` to `["es", "en"]`.
* Go to localization tab and select spanish.

[2022-08-26 19:10] zepumph opened #1313 "Make `// eslint-disable-line` bad text when no rule is provided"
@samreid and I just found 2 cases where an `//eslint-disable-line` was hiding a real problem in the code. Can we prevent this from creating more technical debt?

Problems:

Should have a return type but was being hidden:
https://github.com/phetsims/axon/blob/56a3d733eb7cd1dbba328f7d6e8796d3b4623e2f/js/TinyProperty.ts#L171

Should not return any:
https://github.com/phetsims/axon/blob/6ad1413c68e5b4

[2022-08-26 19:23] samreid commented on #1313
I fixed the easy part.

[2022-08-26 20:03] samreid commented on #1313
I'll be deleting `unlinkAttribute` next.

[2022-08-26 20:22] samreid commented on #1313
Fixed, closing.

[2022-08-26 20:27] zepumph commented on #1313
This issue was meant to be a place to discuss a general rule that we shouldn't be able to have `// eslint-disable-line` allowed, and that instead we should have to specify the exact rules that are disabled. There are currently 300 usages of `eslint-disable-line$` and 0 usages of `eslint-disable-next-line$`. I would recommend removing or adding the specific lint rule to all of them, and I bet that

[2022-08-26 21:17] zepumph commented on #1063
This query parameter is working very well! We can make more issues if we want to further improve it.

[2022-08-26 21:17] #1063 closed

[2022-08-27 03:01] samreid commented on #1272
In experimenting with chipping away at this, I've considered that:

* Maintaining the overhead of `grunt` adapters would be unfortunate. (@zepumph described this eloquently)
* If we know we don't want the overhead (complexity) of grunt adapters in the long run, we may wish to save time in the long run by thinking about the best long term goal, which will involve 2 parts:

### the API of how we run

[2022-08-27 03:45] samreid commented on #1277
There are about 30 remaining rules that are marked as `TODO` about enabling the rule or investigating it more.  About a dozen of those rules have autofix.  I've been chipping away at this but am ready to bring back to dev meeting for check-in and to see how we want to divide the remaining work.

[2022-08-27 04:33] samreid commented on #1141
We introduced StateType type parameter in https://github.com/phetsims/chipper/issues/1253, closing.

[2022-08-27 04:33] #1141 closed

[2022-08-27 19:54] kathy-phet commented on #1311
Thank you for fixing it. :)

[2022-08-27 20:55] pixelzoom opened #1314 "`naturalSelectionStrings.*Property.value` is a build error"
In https://github.com/phetsims/natural-selection/issues/319, I had to undo a whole bunch of work in Natural Selection, because calling `naturalSelectionStrings.addMutationsProperty.value` (for example) is a build error. All Properties in *Strings.ts are of type `TReadOnlyProperty<string>`, which includes get and get value() in its API.  Why this is an error? Why is it not flagged until build?!?  A

[2022-08-27 21:08] samreid commented on #1314
It thinks “value” is a nested string key.  The workaround is to put `const m = naturalSelectionString.addMutationsProperty` on a separate line, then you can link to `m`.  Someone at dev meeting proposed a long term fix, I think it’s assigned to
@jonathanolson.

[2022-08-27 21:08] pixelzoom commented on #1314
Thanks. I’ll wait for the longterm fix.

[2022-08-27 21:09] samreid commented on #1314
The general problem is described in https://github.com/phetsims/mean-share-and-balance/issues/99, assigned to @jonathanolson

[2022-08-27 21:48] pixelzoom opened #1315 "Proportions graph shows incorrect "start" count."
There seems to be a bug in the Proportions graph, present in master and the published version 1.4.3.

When the Population history looks like this:

<img width="626" alt="screenshot_1828" src="https://user-images.githubusercontent.com/3046552/187049045-97fed4b2-36b2-4e2b-b6d5-40b875a95351.png">

There Proportions for each generation look like this. Note that the start and end counts are the same in

[2022-08-27 21:51] pixelzoom commented on #1315
Oh wait... Nevermind, this is correct behavior when no environmental factors are enabled.

[2022-08-27 21:51] #1315 closed

[2022-08-27 22:16] samreid commented on #1172
This week WebStorm got even worse importing *.ts from *.ts.  I'm at version WebStorm 2022.2.1.  Still, this bug has been reported and our team is aware of the problem so I think this issue can be closed.

[2022-08-27 22:16] #1172 closed

[2022-08-27 22:18] samreid commented on #1154
We switched to a non-project references approach that has been working great.  Closing.

[2022-08-27 22:18] #1154 closed

[2022-08-28 15:06] samreid opened #1316 "Make it easier to switch locales during development or QA testing"
During https://github.com/phetsims/circuit-construction-kit-dc/issues/199 and related to https://github.com/phetsims/natural-selection/issues/319#issuecomment-1226082140 and https://github.com/phetsims/chipper/issues/1302, during development we would like a better way to switch languages to test.  It is difficult to show the preferences dialog to switch, or to run with studio to find the localePro

[2022-08-28 15:14] samreid commented on #1316
Implemented in the commits.  The docs for `?stringTest` say:

[code]

@pixelzoom can you please review?
* Please test the functionality
* Review the commits
* Do you think this should be under `?stringTest` query parameters, or a separate key?

[2022-08-29 00:38] samreid opened #1317 "Update to TypeScript 4.8"
TypeScript 4.8 was released.  The release notes are https://devblogs.microsoft.com/typescript/announcing-typescript-4-8/, and it would be good to update.

[2022-08-29 01:17] samreid commented on #1317
Also a note to upgrade eslint and its parser:

[code]

[2022-08-29 14:32] pixelzoom commented on #1311
👍🏻 closing

[2022-08-29 14:32] #1311 closed

[2022-08-29 16:22] pixelzoom commented on #1316
This is very nice.  I especially like that I can run with a couple of locale, like `?stringTest= keyboardShortcutLocaleSwitcher&locales=en,ar,de`, and cycle through them.

I don't see any problems.

I think I'd rather have a flag that's separate from `stringTest`, and certainly a shorter name.  Maybe `?localeSwitcher` ?

[2022-08-29 17:06] pixelzoom opened #1318 "Add an option to generate only `TReadOnlyProperty<string>` instances in Strings.ts file"
Strings.ts files (like naturalSelectionStrings.ts) currently contain both `string` and `TReadOnlyProperty<string>` instances for backward compatibility.

In https://github.com/phetsims/natural-selection/issues/319, I'm adding support for dynamic text to Natural Selection.  Part of that process is to change from using `string` instances to `TReadOnlyProperty<string>` instances.   To verify that I h

[2022-08-29 17:25] pixelzoom commented on #1314
My workaround in natural-selection ProportionsBarNode.js:

[code]

[2022-08-29 17:36] chrisklus commented on #1275
I reviewed the update commit in comparison with the stack overflow thread and all is looking good to me. I believe these changes have been working well for everyone on the team after updating WebStorm. Back to @samreid to close if all set here.

[2022-08-29 18:32] chrisklus commented on #1276
Changes in MAS look great, thanks @samreid. Assuming this is all set to close but I'll check with @samreid since you opened the issue.

[2022-08-29 18:55] samreid commented on #1276
Thanks, closing.

[2022-08-29 18:55] #1276 closed

[2022-08-29 18:55] samreid commented on #1275
Thanks, closing.

[2022-08-29 18:55] #1275 closed

[2022-08-29 19:06] samreid commented on #1316
I moved it out of `?stringTest`, but after prototyping with `?localeSwitcher` I changed it to `?localeKeyboardSwitcher` in case we want `localeSwitcher` to mean something else (like automatic locale switching?) in the future.

Back to @pixelzoom, please close if all is well.

[2022-08-30 01:57] pixelzoom opened #1319 "How to test dynamic locale in sims that have no translations?"
I've been adding support to various sims for dynamic locale.  Those sims have been published, so translations exist.  How do we test sims that have not been translated, and have no translations? What support is needed?

geometric-optics-basics is an immediate example, included in https://github.com/orgs/phetsims/projects/44.  Luckily, only its title is specific to that sim, and everything else com

[2022-08-30 02:05] pixelzoom commented on #1316
Looking good.

Yes, ...

- [ ] PSA to dev team
- [ ] add `localeKeyboardSwitcher` to phetmarks

I also keep forgetting to run with `locales=*` or some subset of locales. I guess I'll get used to adding that, and when I see "en" printed to the console repeatedly it reminds me :)

[2022-08-30 05:07] samreid commented on #1316
I added it to phetmarks and it looks like so:

<img width="465" alt="image" src="https://user-images.githubusercontent.com/679486/187353832-a972cce0-c6f0-454e-b6be-008420c439c0.png">

I'll label for Status meeting PSA, since it seems good for QA and other team members to be aware of as well.

[2022-08-30 13:59] pixelzoom commented on #1316
How about also adding this to phetmarks for 'studio' mode? I'm doing most of my work in Studio these days, and it would be nice not to have to manually add the query parameters, or resort to changing `localeProperty` in Studio.

[2022-08-30 15:12] samreid commented on #1317
@kathy-phet added:

[2022-08-30 15:24] samreid commented on #1317
I updated typescript and its dependencies in the commit.  The new lint version caught a few issues which I addressed.  I tested a few lint rules from the command line and in the IDE. Everything seems OK.  I'll notify dev-public to pull chipper and `npm update`, then this issue can be closed.

[2022-08-30 15:25] samreid commented on #1317
I sent this message to slack dev-public

[2022-08-30 15:26] #1317 closed

[2022-08-30 17:03] samreid commented on #1316
In the commits, we renamed the query string and pass it through to all phet-io wrappers.

However, not all phet-io wrappers forward their key events to sims (including studio), so this doesn't work at the moment.  I tried:

[code]

But then you cannot use ctrl +/- to zoom in and out on the studio frame.  @zepumph and/or @jessegreenberg can you please advise?

[2022-08-30 19:02] samreid commented on #1316
@zepumph said we can forward the key commands if the query parameter is on.  See keyboardEventForwarding.

[2022-08-30 19:04] zepumph commented on #1316
For the exact same code snippet decontextualized, see https://stackoverflow.com/questions/45457271/forward-a-keydown-event-from-the-parent-window-to-an-iframe-that-contains-reveal

[2022-08-31 17:08] zepumph commented on #1316
Assigning to myself because I see some trouble in global event listeners.

[2022-08-31 17:31] zepumph commented on #1316
Ok. Committed above. In general I think it is nicer to have a single place where all global keyboard listeners are added (globalKeyStateTracker). This feels a bit more prudent to me.

[2022-08-31 17:42] jonathanolson commented on #1312
Should be handled above. @zepumph can you verify?

[2022-08-31 18:10] zepumph commented on #1312
Looks great, thanks!

[2022-08-31 18:10] #1312 closed

[2022-08-31 20:25] jonathanolson commented on #1314
Should be fixed above for common usages. @pixelzoom can you verify?

Also, I'd like to note that there are some degenerate examples that the current method will fail on, notably:

[code]

We'd need to remove our "error on something that looks like a string but isn't found" since there's no good way to filter these out (without looking for array indices, any method/property that can be on a string,

[2022-08-31 20:26] jonathanolson commented on #1309
Added a commit above that removed a `.get(` part of getStringMap related to this.

[2022-08-31 20:27] jonathanolson commented on #1309
Commit above looks good to me, thanks!

[2022-08-31 20:27] #1309 closed

[2022-08-31 22:27] samreid commented on #1316
Thanks, it seems like it is working well.  I also added an adapter that initializes it in phet-io wrappers when you have `keyboardLocaleSwitcher` set.  It works in studio and screenshot wrapper, but not the state wrapper because it doesn't use launchSim.  @zepumph can you please review?

[2022-08-31 23:39] jbphet commented on #1308
@liammulh and I discussed this in our collaboration meeting today.  We're in agreement that having a dummy locale file for every possible locale would be problematic, and I think it would get way worse if and when we expand the list of languages we use, which is probably inevitable, since we've already talked about moving from ISO 639-1 to ISO 639-3.

We came up with an alternative approach to the

[2022-09-01 00:10] samreid commented on #1308
A locales file sounds reasonable to me and preferable to a conglomerate file.  But I wonder if we can skip this step by relying on everyone's http-server to output a file listing?  For instance, if I navigate to: http://localhost/main/babel/gravity-and-orbits/, I see

<img width="616" alt="image" src="https://user-images.githubusercontent.com/679486/187806027-eaf7d3dc-7481-4fc0-95f8-0dbdfb9bb93a.p

[2022-09-01 00:25] liammulh commented on #1308
That would only work if the local copy of babel is current. But I think it would be reasonable if every developer keeps their copy of babel current.

One of the reasons JB and I liked the idea of having a `{repo}-locales.json` file in babel for each repo is that it could be useful in other scenarios.

[2022-09-01 00:49] samreid commented on #1308
@liammulh and I discussed that it "may" work to use the directory listing, but if even one phet developer or server machine doesn't output a compatible directory listing, then we would need the JSON file.

I tested loading https://bayes.colorado.edu/continuous-testing/ct-snapshots/1661987918125/babel from a recent snapshot and was met with this error:

<img width="895" alt="image" src="https://use

[2022-09-01 00:53] samreid commented on #1308
I measured that my gravity and orbits launches English about 1800ms. Loading locales=* takes 2600ms.  That number will go down once we have `${sim}-locales.json` but the question is how much further it would go down if we conglomerate all locales into one file `${sim}-all-translations-bundled-into-one-file.json`.

[2022-09-01 01:19] liammulh commented on #1308
At this point it seems like the two options are:

1. I continue writing the code that generates the conglomerate files. This might make loading sims faster. The disadvantages are: (a) we would be maintaining a duplicate set of data in babel, and (b) it would take up more of my already limited time to spend on PhET.
2. I write a module in rosetta that makes the `{sim}-locales.json` files. Loading s

[2022-09-01 04:50] kathy-phet commented on #1308
If I'm following, I recommend just the locales - at least for this stage to get it all working. If it is a pain point and too slow to load later, then we can think about speeding it up.

You only load with locale=* when you want to test with multiple languages. Most development would still be loading in English only so slow down is under very specific circumstances.

Liam can continue on Rosetta,

[2022-09-01 16:39] jonathanolson commented on #1319
`phet.chipper.setAllStrings( '...' )` and studio have been the most useful for me, although I've also manually adjusted strings phet-brand with `phet.someSim.someSimStrings.someStringProperty.value = '...'`.

[2022-09-01 16:40] jonathanolson commented on #1318
Seems like a good feature to me!

[2022-09-01 17:14] zepumph commented on #1316
I believe I got everything set. It works in the state wrapper now, and could work in multi, or the unsupported mirror inputs and input-record-and-playback if we just added that function. Doesn't matter too much to me. Please review and fee free to close.

[2022-09-01 18:29] jbphet commented on #1318
Approved to move forward in today's dev meeting.

[2022-09-01 19:56] zepumph commented on #1316
ctrl + shift + i is a very important shortcut for me (to open the dev tools) in chrome. So I made sure that we didn't have any other modifier keys presetn in addition to having ctrl.

[2022-09-01 21:12] pixelzoom commented on #1314
👍🏻 Confirmed by doing a build of natural-selection with things like `naturalSelectionStrings.valuePercentStringProperty.value` in the code. Closing.

[2022-09-01 21:12] #1314 closed

[2022-09-01 21:43] samreid commented on #1316
The changes look great, thanks!  Closing.

[2022-09-01 21:43] #1316 closed

[2022-09-02 17:56] jonathanolson commented on #1318
Implemented above (with the proposed name). Is there a good place to document this feature? Do we want to change the name at all?

Marking for dev discussion.

[2022-09-02 19:57] samreid opened #1320 "Add a script to facilitate imports in WebStorm/IntelliJ"
Discovered in https://github.com/phetsims/circuit-construction-kit-dc/issues/199 and related to https://github.com/phetsims/chipper/issues/1172.

In slack, @jessegreenberg, @jonathanolson and I discussed:

Did we used to have a script that implemented auto-imports?

Maybe see if there is something in our IDE sublime folder?

Right, thanks! JO wrote a python plugin for imports https://github.com/ph

[2022-09-02 21:13] jessegreenberg commented on #1270
The script from https://github.com/phetsims/chipper/issues/1320 can be used to get around this problem.

[2022-09-03 15:55] pixelzoom opened #1321 "main.js vs {{repo}}-main.js"
Noted while fixing a bug in axon's main.js.

The PhET naming convention is {{repo}}-main.js.  Why do axon, dot, kit, phetcommon, and scenery all have files named main.js?

Assigning to the creators of the main.js files.

[2022-09-03 17:28] jonathanolson commented on #1321
Because they're used to include files in standalone builds, or for the things like the playgrounds.

e.g. because scenery/js/filters/GaussianBlur is mentioned from its main file, it will show up in the `grunt` build of scenery.

[2022-09-03 17:37] samreid commented on #1321
The main files such as axon/main.js seem well-documented

[code]

I do not feel it has to follow the same policy of the main nomenclature for a runnable repo, since it is a different kid of entry point. (Not a runnable sim).

[2022-09-03 20:19] samreid commented on #1166
I added a script that would likely help here: https://github.com/phetsims/chipper/issues/1320

[2022-09-03 20:22] samreid commented on #1320
For those that want to try this tool, use it with this configuration so it knows which file you are working on:

![image](https://user-images.githubusercontent.com/679486/188286585-6630040a-5cbe-49ae-bf3b-a5d0d0afa0a1.png)

Then wire up to a key command.  For me, it is CMD+SHIFT+P.

Then to import something:
CMD+SHIFT+P
Autocomplete or command for import
CMD+SHIFT+P

I've used it several times and

[2022-09-03 20:30] samreid commented on #1216
This code has been working nicely for a while and I think this issue can be closed without further review.  Closing.

[2022-09-03 20:30] #1216 closed

[2022-09-03 21:33] pixelzoom commented on #1321
👍🏻 closing

[2022-09-03 21:33] #1321 closed

[2022-09-05 02:07] pixelzoom commented on #1318
Works great. Added to geometric-optics, geometric-optics-basics, molecule-polarity, ph-scale-basics.

[2022-09-05 02:13] pixelzoom commented on #1318
Some things for discussion at dev meeting...

* Going forward, PhET wants `supportDynamicLocale: true` to be the default.  Should it be the default now, and put ``supportDynamicLocale: false` in package.json for repos that need static strings generated?

* How/when do we remove static strings from *Strings.ts in common-code repos?

* Do we need a CRC item? Something like "Don't use static strings

[2022-09-05 16:48] samreid commented on #1284
We had a very productive TypeScript sprint this quarter, closing.

[2022-09-05 16:48] #1284 closed

[2022-09-06 22:10] samreid opened #1322 "Running lint with brands=adapted-from-phet: Error: No files matching '../phet-io-sim-specific' were found."
[code]

Discovered in https://github.com/phetsims/chipper/issues/1303

[2022-09-06 22:32] zepumph commented on #1302
Review:

* It looks like all commits from stringProperties branches have been merged to master. Can we please delete the branches and close the issues?
* Here is the list of new Properties related to i18n. Should we move these under an i18n folder? `joist/js/i18n/*`?

  	        fallbackLocalesProperty
  	        isLeftOrRightProperty
  	        localeOrderProperty
  	        localeProperty

* Ple

[2022-09-06 22:32] zepumph commented on #1307
Review done in https://github.com/phetsims/chipper/issues/1302#issuecomment-1238718059. Closing

[2022-09-06 22:32] #1307 closed

[2022-09-07 01:41] samreid commented on #1244
This was broken again:

[code]

[2022-09-07 01:45] samreid commented on #1244
Maybe we should also try the approach in https://github.com/phetsims/chipper/issues/1244#issuecomment-1120111008 ?

[2022-09-07 01:46] samreid commented on #1303
I fixed this as well as 2 downstream problems.  `grunt --brands=adapted-from-phet` seems to be working on my side now.
 @7dir thanks for reporting it, would you like to pull all changes and test again?

[2022-09-07 15:48] samreid commented on #1303
This issue does appear resolved, so I will close it for now.  But @7dir please feel free to comment or repoen if the problem persists.

[2022-09-07 15:48] #1303 closed

[2022-09-07 15:49] samreid commented on #1322
To accomplish this, I factored out a `getBrands` function.  Can this be reviewed please?  Should be quick. @zepumph are you available for this?

[2022-09-07 21:48] 7dir commented on #1303
Yeah! Thanks!

So I`d glone all repos.

My own script

[code]

then

[code]

`perennial-alias` is missing too but all works

[code]

[2022-09-07 23:03] zepumph opened #1323 "Update browserify list in transpile"
Currently we have:

https://browsersl.ist/#q=%3E+0.5%25%2C+safari+10-11%2C+Firefox+ESR%2C+not+IE+11%2C+ios_saf+11

I recommend:

https://browsersl.ist/#q=%3E+0.25%25%2C+not+dead

It increases our coverage from 89% to 92.5% and removes some very outdated, hard coded browser versions.

We don't have to change our IE11 logic, we can still have

`> 0.25%, not dead, not IE 11` or `> 0.25%, not dead, IE

[2022-09-07 23:04] zepumph commented on #1323
Discovered while debugging https://github.com/phetsims/ratio-and-proportion/issues/508 with @samreid.

[2022-09-08 00:50] samreid commented on #1322
CT issue:

[code]

[2022-09-08 03:45] samreid commented on #1272
Deno 1.25 was released with initial support for importing node modules.  I tested it out on lodash like so:

[code]

and it correctly outputted:

I tested it on

[code]

with this .eslintrc

[code]

And it correctly outputted:

/Users/samreid/apache-document-root/main/tempo/src/fakefile.js
  1:14  error  Strings must use doublequote  quotes

✖ 1 problem (1 error, 0 warnings)
  1 error and 0 warnin

[2022-09-08 03:50] samreid commented on #1272
Summary:

* The goal is to support TypeScript and import statements to elevate the quality and consistency in our chipper/perennial code
* `grunt` prevents us from being able to use `import` statements--it is locked to using `require`.  This also prevents us from being able to import code like `optionize`, `IntentionalAny`, etc.
* We established an adapter layer that will let us port one grunt com

[2022-09-08 04:05] samreid commented on #1112
In the "Investigate Deno" issue https://github.com/phetsims/chipper/issues/1272, we saw that Deno automatically manages dependencies without needing `npm install` or `npm update`.  That issue also proposes that we would get rid of `grunt` and `grunt-cli` so we wouldn't need `npm install` or `node_modules` in each sim repo.  But that step would require maintenance releasing every sim with new build

[2022-09-08 13:42] samreid opened #1324 "Make type checking lint rules faster - Part II"
This is an offshoot of https://github.com/phetsims/chipper/issues/1238, but that issue was getting too long so I created a new issue.

I observed a staggering 55 second precommit hook yesterday and wanted to double check on performance. Reading https://typescript-eslint.io/docs/linting/troubleshooting, I decided to try:

[code]

In doing so, I saw the time go from 22 seconds down to 7 seconds:

[c

[2022-09-08 15:35] samreid commented on #1324
With the smaller, faster config, I tried triggering a type-checking lint rule and a non-type-checking lint rule, and I saw that both were correctly caught (in gravity-and-orbits).  Next I'm running lint-everything to see if this works for every repo.

[2022-09-08 15:55] jonathanolson commented on #1318
That sounds good to me.

It's tricky to inspect all the package.jsons for flags in load-unbuilt-strings (but possible). Is it bad to be lazy and remove that once we have handled all sims?

Sounds good to me.

[2022-09-08 17:25] jonathanolson commented on #1191
Dev meeting: agreed to leave as-is, no lint rule, devs can use either.

[2022-09-08 17:26] samreid commented on #1191
@zepumph volunteered to update the docs.

[2022-09-08 17:31] #1191 closed

[2022-09-08 17:32] samreid commented on #1266
At today's meeting, we also discussed that this would probably be opt-in on demand, not something we would recommend or advocate everywhere.  Subteam will build an implementation that we can use on a case by case basis.

[2022-09-08 17:35] jonathanolson commented on #1313
Dev meeting: this sounds valuable, initial work should proceed to see if it needs to be a chip-away issue.

[2022-09-08 18:13] jonathanolson commented on #1318
Dev meeting: we'll move forward with changing the default, and will notify the Google group.

I'll also add a code-review item of "If this sim has been converted to dynamic locale, this flag shouldn't be in package.json"

[2022-09-08 18:34] zepumph commented on #1319
I trust @jonathanolson on whatever he would like to implement. My main hopes are that it is easy to get back to a test case where you witnessed a bug. If there is a "random strings" mode, then perhaps being able to copy that into a query string to relaunch would be ideal.

I also like the idea of using the same string test values/modes we already have, but cycling through them dynamically.

[2022-09-08 18:39] pixelzoom commented on #1319
+1

[2022-09-08 19:45] samreid commented on #1324
In the commits, I got a speedup by about 2x by removing extraneous includes.  But this meant I needed to list things specifically in the tsconfig/all/tsconfig.json.

[2022-09-08 19:52] samreid commented on #1324
@jessegreenberg can you please review?

[2022-09-08 20:06] samreid commented on #1313
For a process, I would recommend using a regex to detect all `// eslint-disable-line` that ends there (maybe it is a `$`), query-replace them all with the empty string.  Run lint-everything in WebStorm popup window so you can tap on links to visit each case, then add-back the line with the specific rule that is failing there.

[2022-09-08 21:25] samreid commented on #946
Current patch for outputting TODOs with an issue:

<details>

[code]

</details>

Results after sort and deduplication:

<details>

[code]

</details>

[2022-09-08 21:30] samreid commented on #1220
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-08 21:30] samreid commented on #1289
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-08 21:36] samreid commented on #946
I reopened the issues that still have TODOs in the code.

[2022-09-08 21:53] zepumph commented on #1322
Looks great, thanks!

[2022-09-08 21:53] #1322 closed

[2022-09-09 00:20] samreid commented on #1289
Fixed, closing.

[2022-09-09 00:20] #1289 closed

[2022-09-09 01:10] samreid commented on #1220
I'm promoting the TODO to a comment here:

        // MK: perhaps it is a moot point, but maybe the sourcemap can help us in that case too, have you looked at
        // MK: what it does when testing a built stack? Do we have a sourcemap included in the built version? Perhaps we should?

I'm wondering if our "debug" version should be fully minified, but with assertions and correct sourcemaps?  @ze

[2022-09-09 15:28] jessegreenberg opened #1325 "Should pre-commit hooks compare PhET-iO APIs?"
I often forget about checking for breaking changes and commit changes that break CT or interrupt other devs. I think it would be helpful for pre-commit hooks to check apis. This would add some time to commit hooks, my machine takes ~1.5 minutes to `grunt compare-phet-io-apis for every sim in perennial/data/phet-io-api-stable. That almost doubles the time. But we need to be in the habit of doing th

[2022-09-09 15:31] jessegreenberg commented on #1324
Nice, that is a big improvement! I will be out of office for a few days but will try to review soon.

[2022-09-09 16:02] samreid commented on #1325
I agree that would be helpful for our current process with the main drawback being the time to regenerate the API each time.  But I also started brainstorming notes in https://github.com/phetsims/phet-io/issues/1876#issuecomment-1241380330 about the fact that we may not want to continue with checking in API files all the time anyways, if we can move toward a more migration-oriented approach.  Then

[2022-09-09 17:44] samreid opened #1326 "ESLint cache not invalidated when tsconfig or plugins change"
We saw this on CTQ

[code]

@zepumph and I traced the problem to the fact that tsconfig changes not invalidating the eslint built-in cache.  That is, after tsconfig changes, ESLint doesn't know so it recalls its last error list instead of re-running linting.

@zepumph and I agreed to include the tsconfig into the cache name, so that changes to the tsconfig will invalidate the cache.  I'm also thro

[2022-09-09 17:50] samreid commented on #1326
Fixed in the commit, @zepumph would you like to review?

[2022-09-09 18:57] zepumph commented on #1308
Oops, sorry I didn't see this until just now. I have a strong preference towards option (1). It seems to be just as easy, comes with the same drawbacks as the other (that it can get out of date as new translations come in), and will greatly decrease the number of requests that come in to loading unbuilt sims. I have felt the hit of having all the requests for strings files in the past month now, a

[2022-09-09 22:33] liammulh commented on #1308
Okay, @zepumph, @samreid, @jbphet I've written a simple script https://github.com/phetsims/chipper/blob/master/js/scripts/make-conglomerate-string-files.js. If anyone would like to review it and make suggestions, I think now would be a good time for that.

[2022-09-09 22:54] zepumph commented on #1326
It is excellent! Thanks for doing this.

[2022-09-09 23:02] zepumph commented on #1220
I feel like we purposefully test the built version as seen in production. It wouldn't be enough of a benefit to test the debug version just to see good stack traces. I recommend closing without changes. You?

[2022-09-09 23:09] samreid commented on #1308
I'll review and work on the load-unbuilt-strings part.

[2022-09-09 23:30] samreid commented on #1308
I build a prototype that loads the conglomerates, and I compared the timing for startup on bending light (in seconds):

With all the 404
2.27
2.12
2.20

Loading conglomerates
1.77
1.80
1.88

[2022-09-10 13:54] mattpen commented on #1243
This happened again last night.  I followed the steps in __, but there were additional errors (see below).  I'm not quite sure how to fix these, so I wasn't able to get the build working.  I restarted the build-server but number play is likely to keep failing.

Can we please prioritize handling this in a sub group, @samreid @jonathanolson @mjkauzmann?

[code]

[2022-09-10 17:52] liammulh commented on #1308
@samreid, can I add English strings to the conglomerate?

[2022-09-10 17:58] mattpen opened #1327 "Build Error: ENOENT: no such file or directory, open '../chipper/dist/js/phet-io-wrappers/common/js/Client.js'"
[code]

An `iw` translation failure for build-a-nucleus occurred today. I had deleted chipper/dist earlier in the day for https://github.com/phetsims/chipper/issues/1243#issuecomment-1242734368, I wonder if that could be related?

[2022-09-10 19:14] samreid commented on #1327
Looks related to https://github.com/phetsims/chipper/issues/1303

[2022-09-10 19:43] samreid commented on #1327
I published a maintenance release that fixes https://github.com/phetsims/chipper/issues/1303 and the RC and production build succeeded.  Not sure how to re-trigger the iw translation, @mattpen can you please advise?

[2022-09-10 19:58] samreid commented on #1308
I suspect it will be clearest to add the English strings to the conglomerate.  But we will need to be careful to make sure the watch process regenerates the conglomerate file when the sim en strings change. Right now it would only need to watch babel/.  Not sure if that is an undue amount of complexity.  Also, do we want to leave the mode where just loading locale=en (the default for PhET brand) l

[2022-09-10 21:59] #1220 closed

[2022-09-10 21:59] #1326 closed

[2022-09-11 16:27] mattpen commented on #1327
It looks like no translation re-trigger is needed, as the production build rebuilds all translations. The `iw` file and database entry are now both present on phet-server2. Closing.

[2022-09-11 16:27] #1327 closed

[2022-09-12 16:05] samreid commented on #1308
I wrote to slack dev-public:

[2022-09-12 17:35] samreid commented on #1308
In testing, @marlitas and I observed that the first contentful paint on phettest/gravity-and-orbits occurred at about 23 seconds.

[2022-09-12 19:15] jessegreenberg commented on #1324
Lint is working well for me after this change, I tried linting everything without cache. Type checking lint rules work great.

Reporting my results on Windows - before these changes (chipper at 2a475c94191876a8888830f094e19139b9d9798d) I see lint taking ~30 seconds. On master lint is taking ~20 seconds. It is faster!

I see individual files added to https://github.com/phetsims/chipper/commit/944c4

[2022-09-12 20:08] jonathanolson commented on #1266
PSA for developers: We've added `ExclusiveIntersection<A, B, [C], [D]>` (and helper types like `WithRequired<A, keys>`, `WithOptional<A, keys>`, so this can be used to ensure there is no overlap of keys.

The normal pattern would be to turn:

[code]
to
[code]

We've also found a case that has some tradeoffs, and we're curious what's best. A good example where overriding of an option makes sense is

[2022-09-12 20:15] samreid commented on #1112
@jonathanolson and I discussed this today, and talked about:

* Deno maintenance releases may be a reasonable long term vision, but would be prohibitively expensive to migrate everything to Deno in the short term
* For the "one checkout for each release branch" strategy, that still sounds plausible but would require significant changes to the maintenance release process.  That should run on develo

[2022-09-12 20:19] jessegreenberg commented on #1325
OK, thanks for commenting! I tried for a while to use `execute` to run `grunt compare-phet-io-api` for repos with stable apis but for some reason could not get `execute` to work with `grunt`. I am starting to see diminishing returns from this so I will let it go. And it also sounds like there may be some process changes coming related to this so Ill close.

[2022-09-12 20:32] jonathanolson commented on #1112
I'll work on parallel checkouts for the maintenance release process, we'll wait on the build-server based on how that goes (as it seems higher consequence and also involves a lot of people and coordination), and we'll both look into speeding up the build in the future.

[2022-09-12 22:39] pixelzoom opened #1328 "Odd message printed by 'grunt modulify'"
When I run `grunt modulify`, I see a new message:

[code]

I see 2 JS files in this repo: Gruntfile.js and beers-law-lab-phet-io-overrides.js, neither of which should be deleted or converted to TS.

What is a "TS repo"?

And what is the point? I can't tell from the commit message where this was introduced: 1fd0f9207c04e0c4e90856750846d3b047578c2c

[2022-09-13 01:21] jonathanolson commented on #1323
I'm fine if this changes to something closer to our supported platforms. No particular relevant-for-now reason we have those hard-coded.

[2022-09-13 03:44] samreid commented on #1328
It looks like this was introduced in https://github.com/phetsims/chipper/commit/13f5fa5a71e52ba5563a365da28c760bc70901a7 during https://github.com/phetsims/simula-rasa/issues/26.  @chrisklus and/or @marlitas can you please take a look?

[2022-09-13 14:08] #1304 closed

[2022-09-13 14:09] jonathanolson commented on #1302
Branches deleted.

[2022-09-13 14:40] jonathanolson commented on #1302
Looking at the implementation and usages, I don't see how that's true, thoughts?

[2022-09-13 14:41] jonathanolson commented on #1302
I have a preference for all the exact locales first, then fallbacks (since `ar` could have translations that might not be understood by someone who knwos `ar_MA` and `es`)

[2022-09-13 14:41] jonathanolson commented on #1302
@zepumph can you review the above and my commits? I believe I've handled or responded to everything.

[2022-09-13 16:15] zepumph commented on #1323
Great, thanks!

[2022-09-13 17:16] zepumph commented on #1302
Can you please say a sentence about why we were using jsondiffpatch, even though we didn't end up going with that strategy?

Makes a lot of sense.

I like the documentation! Thanks again for all this awesome work. What progress for PhET's codebase! Fee free to close.

[2022-09-13 17:36] samreid commented on #1308
@zepumph and I discussed the problems above and agree it is confusing to jam strings into the "transpile typescript" process.  Maybe one day that watch process will be more general, and able to do things like string files, mipmaps, sounds, etc.  But right now it is just typescript-centric.  To that end, we recommend checking in the strings artifacts into each sim repo, in `${sim}/strings/` directo

[2022-09-13 22:20] pixelzoom commented on #1319
This issue blocks further work on https://github.com/phetsims/models-of-the-hydrogen-atom/issues/39.  MOTHA is a new sim with no translations, so I can't identify layout problems, or prevent new problems.

[2022-09-14 00:13] samreid commented on #1302
I don't think the remaining questions are blocking RC's for Gravity and Orbits, so I'll update this on the project board.

[2022-09-14 14:53] jonathanolson commented on #1302
In a case where we had a large JSON structure of "original string state" and "string state after", it was useful to diff the entire structure. Later once we had each LocalizedString with its individual knowledge, that wasn't necessary.

[2022-09-14 14:53] #1302 closed

[2022-09-14 15:14] samreid commented on #1325
@zepumph and @pixelzoom and I discussed this yesterday, I'd like to self-assign for consideration.

[2022-09-14 22:29] marlitas commented on #1328
From my understanding this error is claiming that there is a javascript Strings file in a repo that has been converted to typescript (and should therefore be a typescript file).

This error message was triggered by a change @chrisklus and I introduced in one of the string comparisons in `Modulify.ts`. We accidentally changed a `.js` suffix to a `.ts` suffix. I reversed that and all should be worki

[2022-09-15 03:31] #1310 closed

[2022-09-15 16:13] liammulh commented on #1308
@samreid, @zepumph, is there anything else you need from me and @jbphet?

[2022-09-15 16:29] samreid commented on #1308
One more recommendation beyond the preceding commits: I think we should have one "babel/unbuilt-conglomerate-strings" directory so there is a single shutoff valve for excluding from the IDE.

[2022-09-15 16:31] liammulh commented on #1308
Thank you, @samreid!

[2022-09-15 17:21] samreid commented on #1308
Current working copy changes from discussion with @zepumph

<details>

[code]

</details>

[2022-09-15 18:21] zepumph commented on #1266
PSA occurred during dev meeting.

So it looks like the pattern like `NodeOptions & PickRequired<NodeOptions, 'tandem'>` is deprecated, and instead we will us `WithRequired`. In the future we will most likely want to change these usages.

We will try these types out and see how we like them!

[2022-09-15 18:21] #1266 closed

[2022-09-15 21:54] pixelzoom opened #1329 "QueryStringMachineSchema type error in phet-type.d.ts"
This 'array' query parameter is failing type-checking in EqualityExplorerQueryParameters:

[code]

The error is related to `defaultValue`, and is:

In phet-types.d.ts, the definition of QueryStringMachine's 'array' type is:

[code]

... so it's expecting `defaultValue` to be an array.

But in QueryStringMachine.js, `null` is a valid value for `defaultValue`:

[code]

So should the definition of `d

[2022-09-15 22:00] pixelzoom commented on #1329
I changed phet-types.d.ts as I suggested above. @samreid please review.

[2022-09-15 22:01] pixelzoom commented on #1328
👍🏻 closing.

[2022-09-15 22:01] #1328 closed

[2022-09-15 22:22] jbphet commented on #1308
@liammulh and I just did some testing on ox-dev.  We used the Density sim as our test case, since the version for this sim on the PhET-iO Latest Deploys page (at https://ox-dev.colorado.edu/?wicket:bookmarkablePage=:edu.colorado.phet.website.admin.AdminPhetioDeploy&&) matches that of the one that is deployed on ox-dev.  The version was 1.0.1.

The test procedure was to translate the Density sim in

[2022-09-15 22:31] samreid commented on #1308
Was this comment intended for the other issue?

[2022-09-16 02:07] samreid commented on #1308
There is a new step in our process to generate conglomerate translation files from babel.  `grunt generate-development-strings` in a repo will create that conglomerate file.  Run on all repos via:

[code]

This is not run in grunt update because it affects dependencies and outputs files outside of the repo.

This only affects the unbuilt strings, and prevents the 404s we have seen recently.

[2022-09-16 02:20] samreid commented on #1308
I'd like to request code review of the changes. The review should include (but not be limited to) the following:

* read the last several comments to understand the decisions and tradeoffs
* run a few unbuilt sims with ?locales=*
* run a few unbuilt sims with ?locales=en,es,ar (or your choice here)
* run a few unbuilt sims without any locale query parameters
* Review the changes in chipper/js/grun

[2022-09-19 16:52] mattpen opened #1330 "Build Failure: error while loading shared libraries: libXss.so.1"
A failure for a translations of states-of-matter-basics in `om` failed last night with this error:

[code]

@marlitas @samreid  and I worked on this problem.  The solution was to install `libXScrnSaver` with `dnf` on phet-server2, which provided the missing library.

[2022-09-19 16:52] #1330 closed

[2022-09-19 21:01] oliver-phet commented on #1199
Original user hasn't replied, closing for now.

[2022-09-19 21:01] #1199 closed

[2022-09-20 01:33] jonathanolson commented on #1243
Do we have a better option than just clearing chipper/dist? It seems like we might need to do that, and sim builds will take a bit longer.

[2022-09-20 16:51] marlitas opened #1331 "Adding reportUnusedDisableDirectives to eslint"
@samreid and I would like to add `reportUnusedDisableDirectives` to chipper eslint. This has an auto-fix and will implement changes across all repos that have a `// eslint-disable-line` that is not needed. The auto-fix will delete all usages.

The documentation can be found here: https://eslint.org/docs/latest/user-guide/configuring/rules#report-unused-eslint-disable-comments

@samreid came across

[2022-09-20 16:54] marlitas commented on #1313
Patch for unicorn plugin that will provide the functionality to flag `// eslint-disable-line` with no rule specified.

<details>

[code]
</details>

[2022-09-20 21:36] marlitas commented on #1331
I attempted to apply this directive by using `grunt lint-everything --fix --disable-cache`. This did indeed remove many instances of `// eslint-disable-line`, but not all of them were unused.

For example, in the below code snippet it reports `// eslint-disable-line bad-sim-text` as unused, however when that disable is removed eslint flags the line for `bad-sim-text`

[code]

I am holding off on f

[2022-09-21 20:26] samreid commented on #1324
The errors will be loud and clear.  If lint discovers a typescript file that is not covered by the tsconfig, it will report it like this.  I renamed ArithmeticModel.js => ArithmeticModel.ts and ran lint.  It said:

[code]

I feel comfortable leaving tsconfig somewhat sparse where possible, and we can add patterns as we proceed.  Sound OK?

[2022-09-21 21:08] samreid commented on #1331
For reference, the disable cache option is `--disable-eslint-cache`.  But that may not have affected the results here.  I'll take a closer look.

[2022-09-22 03:58] samreid commented on #1329
I don't think that code is referring to the defaultValue.  It doesn't seem that array elements should be nullable.  How about this patch?

<details>

[code]

</details>

[2022-09-22 13:31] pixelzoom commented on #1329
Regardless of where it's handled, 'array' currently supports `defaultValue: null`.  Addressing that is the subject of https://github.com/phetsims/query-string-machine/issues/43, not this issue.   So is the change to phet-types.d.ts OK for now?

[2022-09-22 13:33] pixelzoom commented on #1329
This is probably where `defaultValue: null` is allowed.  QueryStringMachine.js line 805:

[code]

[2022-09-22 17:37] jonathanolson opened #1332 "Adjust HTML language attribute"
We should be setting the `lang` attribute on the HTML element. Should assess whether this is maintenance-release-worthy. We won't mess with the `lang` attribute on the PDOM.

Notes from dev meeting:

[code]

[2022-09-22 18:14] samreid commented on #1325
From today's meeting:

* ✓JB: At the moment I’m writing this, I just addressed a CT error related to the phet-io API, see https://github.com/phetsims/sun/issues/790.  There are a number of similar failures for other sims on CT at the moment.  Can we take a moment to review what the phet-io API is, why we need it, and what we developers are supposed to do to keep it from getting outdated and causin

[2022-09-22 18:30] pixelzoom commented on #1325
I don't agree with the decision to turn off CT testing of APIs.  And I find it strange that you've made that decision without consulting the person (me) who is responsible for the majority of the sims in the current batch release https://github.com/orgs/phetsims/projects/44.   It's easy for developers who aren't trying to get things ready for this release to save "I don't care about API changes".

[2022-09-22 18:49] samreid commented on #1325
We discussed this further with @pixelzoom @kathy-phet @jonathanolson and @arouinfar.  We agreed to:

* Leave testing enabled
* See if we can get a fast-enough precommit hook
* Improve education for the team about the API files and how to deal with them.

[2022-09-22 19:28] samreid commented on #1325
Also, designers will need to be able to regenerate API files since they develop the overrides, like in https://github.com/phetsims/gravity-and-orbits/issues/440

[2022-09-22 19:36] arouinfar commented on #1325
@samreid can you provide more information? I do not use my local development environment to make commits. I do it directly through the GitHub web interface.

[2022-09-22 21:33] samreid commented on #1325
I added pre-commit hooks that test to make sure there was no change to the PhET-iO API file for any repo that depends on the repo.  If there is any change, the pre-commit hook will fail and the developer will need to check why the API has changed.  If it is a desirable change and the developer has already regenerated the API file, the pre-commit hook will pass.

On my Macbook air M1, testing one r

[2022-09-23 19:35] jessegreenberg commented on #1324
That seems very clear to me. OK thanks! Closing.

[2022-09-23 19:35] #1324 closed

[2022-09-26 13:28] mattpen commented on #1243
This happened again for the `ms` locale yesterday.

I'm not sure, if that's what is needed I can add that to the build server.  From what I understand that will make maintenance releases significantly longer.  I recall @samreid saying something about not using the tsc cache in master? Maybe arithmetic just needs a maintenance release with an updated chipper sha?

[2022-09-26 13:51] mattpen opened #1333 "Build Error: sh: patch-package: command not found"
[code]

This was a new error that popped up this weekend for GEE in Italian.  I was unable to reproduce the problem locally or on the build server by running `npm prune && npm update` in chipper at the above sha.  I retriggered the translation and it worked successfully.  I'll investigate further if the error reoccurs.

[2022-09-26 17:18] samreid commented on #1243
I reached out on slack to schedule a collaboration meeting.

[2022-09-26 17:22] samreid commented on #1329
Got it, updating types sounds good for now, thanks!

[2022-09-26 20:52] #1329 closed

[2022-09-27 02:58] samreid commented on #1308
Summarizing recommended work from above:

- [ ] Rename _generated to _generated_conglomerate or _generated_composite_strings
- [ ] What didn't seem to work well was changing the fallback locale, then changing the locale. This didn't seem to behave as I would expect. Do we really need to enabled our phet-io users to set a different fallback locale?
- [ ] There was no help text added. There probably

[2022-09-27 03:24] samreid commented on #1308
There are actually several repos with no translations.  For instance "twixt". This process creates an empty conglomerate file which can be loaded alongside the files that do have translations.  I will document it as such.

[2022-09-27 04:19] samreid commented on #1331
This seems like a good issue for collaboration.

[2022-09-27 16:39] samreid commented on #1243
@mattpen @chrisklus and I were unable to reproduce this problem on the build server, even trying several sim/sim build combinations.  So we made a maintenance release for number play 1.4 which avoids type checking in that chipper sha.  Local testing seems OK.  Closing until the problem recurs.

[2022-09-27 16:39] #1243 closed

[2022-09-27 20:10] samreid opened #1334 "Docker container for streamlining setup for 3rd party developers"
From slack, I asked:

@pixelzoom said:

I replied:

@liammulh said:

@pixelzoom said:

I said:

@liammulh said:

@samreid said:

* Install git
* Install node
* Install npm
* After installing, run npm config set save false and npm config set package-lock false so that package-lock.json files are not created.
* Install grunt cli
* Start your own HTTP server
* Clone perennial
* Clone missing repos
*

[2022-09-27 21:36] samreid opened #1335 "Lint rule that variables for axon Property instances end in Property suffix"
From https://github.com/phetsims/joist/issues/856, we are interested in a type-aware lint rule that Property variables should end with a Property suffix.  @jessegreenberg recently indicated that he has expertise our lint subsystem, can you please estimate whether this would be an easy or difficult task?

[2022-09-28 03:20] samreid opened #1336 "Provide a streamlined experience for getting started with PhET Code"
As described in https://github.com/phetsims/chipper/issues/1334#issue-1388308689, there is a nontrivial process to get started using PhET code. Brainstorming some ideas about how to improve that:

* work on chipping away at each individual rule in that list
* produce a nightly build containing all of the PhET common code libraries and assets, service from a CDN that is easy to use
* produce an onl

[2022-09-28 14:56] samreid commented on #1287
@AgustinVallejo can this issue be closed?

[2022-09-28 14:59] samreid commented on #1270
@jessegreenberg can this be removed from the project board?

[2022-09-28 15:20] AgustinVallejo commented on #1287
It can!

[2022-09-28 15:53] #1287 closed

[2022-09-29 14:18] mattpen opened #1337 "Build Error: unsupported locale: zh_HK"
Some sims will need to be patched to add the zh_HK locale as it is currently missing.  This is affecting translations for all locales, as the _all.html file cannot be created.  Known sims that are affected include arithmetic, color-vision, and acid-base-solutions.

<details>

<summary>Error Details</summary>

[code]

[2022-09-29 14:45] samreid commented on #1337
@mattpen and I are collaborating.  So far we have:

[code]

Here are the branches identified here:

[code]

[2022-09-29 14:57] samreid commented on #1337
Release Candidate links

acid-base-solutions 1.2 (https://github.com/phetsims/chipper/issues/1337)

- [ ] [acid-base-solutions 1.2.27-rc.1](https://phet-dev.colorado.edu/html/acid-base-solutions/1.2.27-rc.1/acid-base-solutions_en.html)

arithmetic 1.0 (https://github.com/phetsims/chipper/issues/1337)

- [ ] [arithmetic 1.0.27-rc.1](https://phet-dev.colorado.edu/html/arithmetic/1.0.27-rc.1/arithmet

[2022-09-29 15:03] samreid commented on #1337
@mattpen and I realized too late that we had not completed the `Maintenance.checkBranchStatus()` step.  But we didn't see any problems in the RCs above and we are hoping for the best.

[2022-09-29 15:36] samreid commented on #1337
@mattpen and I finished the production release, and opened 2 side issues for other problems we discovered.  We also updated documentation.

[2022-09-29 15:37] samreid commented on #1337
We spot checked the production versions, and everything seems good. Nice work @mattpen, thanks.  Closing.

[2022-09-29 15:37] #1337 closed

[2022-09-29 18:00] liammulh commented on #1325
See meeting notes for Sept. 29.

[2022-09-29 18:41] liammulh opened #1338 "Chip away for TS ESLint rule `@typescript-eslint/no-base-to-string`"
From https://github.com/phetsims/chipper/issues/1277.  Results from chipAway:
 - [x] equality-explorer: @pixelzoom 12 errors in 5 files.
 - [x] joist: @zepumph 1 errors in 1 files.
 - [x] scenery-phet: @pixelzoom 5 errors in 3 files
 - [ ] scenery: @jonathanolson 12 errors in 3 files.
 - [x] studio: @chrisklus 3 errors in 2 files.
 - [x] sun: @jbphet 1 errors in 1 files.
 - [x] tandem: @zepumph 1

[2022-09-29 18:42] liammulh commented on #1338
Assigning responsible devs, but this can probably be done without sim-specific knowledge.

[2022-09-29 18:50] pixelzoom commented on #1325
@liammulh are these the "meeting notes" that you're referring to? In the [PhET Developer Meeting 2022](https://docs.google.com/document/d/1bAPEP1iUxQRuCSLHkrwjAH-948kB-sBN3hCC54g-8dc/edit?pli=1) doc?

* CM: Let’s leave the CT tests for API files enabled, and empower the team to deal with it accordingly.
  * SR: 5 more seconds OK?
    * 5 more seconds for pre-commit hook
    * batch is ~15 seconds

[2022-09-29 18:53] liammulh commented on #1325
Yes, thank you, @pixelzoom.

[2022-09-29 18:55] pixelzoom commented on #1338
For the benefit of other assignees who were not a the dev meeting where this was apparently discussed...

This rule is documented at https://typescript-eslint.io/rules/no-base-to-string/.  It says:

I'm not sure how lint determines if the info is "useful", but I guess I'll see what cases need to be addressed for my sims.

This rule is currently "off" in chipper/eslint/rules/.eslintrc.  You'll need

[2022-09-29 19:45] jbphet commented on #1281
I've assigned myself to this, and will work with @AgustinVallejo to make sure that we have captured the information above in our TypeScript standards doc(s).

[2022-09-29 20:15] pixelzoom commented on #1338
This rule was a royal pain for abstract classes in equality-explorer. See above commits.

[2022-09-29 20:15] pixelzoom commented on #1338
This rule was a royal pain for abstract classes in equality-explorer. See above commits.

[2022-09-29 20:32] pixelzoom commented on #1338
I took care of scenery-phet.  But there's a voicing bug that was exposed by this rule, and @jessegreenberg will need to address it: https://github.com/phetsims/scenery-phet/issues/772

[2022-09-29 20:37] pixelzoom commented on #1338
@jbphet I took care of sun.

[2022-10-03 15:46] pixelzoom opened #1339 "Inconsistent specification of sim-specific features in package.json"
I'm seeing this pattern in package.json files:

[code]

I'm not sure about  "supportsOutputJS", but the other 3 properties are definitely sim-specific features. Why are some under "simFeatures", while others (like "supportsDynamicLocale") are not?

I stumbled across this problem while trying to add `"supportsDynamicLocale": true` to a package.json.  I added it to "simFeatures", it didn't work, and

[2022-10-03 15:52] pixelzoom commented on #1339
It looks like @zepumph renamed “features” to “simFeatures”, but I can’t tell who originally added it. I’m guessing it was someone on the a11y team, since it seems to be mostly (all?) a11y features. There are other properties, like “colorProfiles”, that are clearly sim-specific features and not under “simFeatures”.   Adding to the Dev Meeting project board.

[2022-10-03 15:56] pixelzoom commented on #1339
I'm not 100% certain, but it looks like @zepumph added "simFeatures" (originally named "features") to package.json for https://github.com/phetsims/chipper/issues/1031.

@zepumph what was the purpose of adding the "simFeatures" property? Should other properties be relocated to be consistent?  Or should features under "simFeatures" be moved up a level, and "simFeatures" deleted?

[2022-10-03 18:21] zepumph commented on #1339
My opinion would be to have the runtime-specific features of the simulation itself be housed in simFeatures. There are an ever growing number, and it has simplified the package files in my opinion. @jonathanolson can we move supportsDynamicLocale into simFeatures?

supportsOutputJS has nothing to do with the features of the runtime, but instead about the source code. It is not a good candidate for

[2022-10-03 23:30] pixelzoom commented on #1339
What other features should be moved into simFeatures? colorProfiles? Anything else?

[2022-10-04 02:58] zepumph commented on #1338
I took care of the last ones I found, and turned on the rule. Closing

[2022-10-04 02:58] #1338 closed

[2022-10-04 13:03] samreid commented on #1046
We have embraced TypeScript and are using it where appropriate, I think this issue can be closed.

[2022-10-04 13:35] pixelzoom commented on #1046
Reopening.

Having this issue open reminds us that there's still work to be done.  Current ts-status (below) shows "60% complete" for common code.  And as I'm converting sims to TypeScript, I'm (too frequently) encountering common code that I need that have not been converted.  twixt is 0% converted. axon is only 65% converted.

So before closing this issue, I suggest that we should evaluate as a

[2022-10-04 13:38] pixelzoom commented on #1046
Reopening.  I agree that we've made progress, but we're certainly not done migrating common code.  There are many more places where Typescript is appropriate that are still JavaScript.

Having this issue open reminds us that there's still work to be done.  Current ts-status (below) shows "60% complete" for common code.  And as I'm converting sims to TypeScript, I'm (too frequently) encountering co

[2022-10-04 16:02] zepumph commented on #1325
@samreid there is no one assigned to this and it is "done" in the dev meeting project board. What is next here? Is https://github.com/phetsims/perennial/commit/6c0647099b364dcc1d9fb862282d858ea780e707 our tactic for "fast-enough" pre-commit hooks? That will not scale. If we close now we will just need to discuss this again in some months or years. What about a list of sims that is pruned that we u

[2022-10-04 16:09] pixelzoom commented on #1325
Just a note that this has been working nicely for me.  It's caught a couple of inadvertent API changes that I made.  And it has not had a noticeable impact on my commit times.

[2022-10-04 22:33] zepumph commented on #1240
Hmm, strange. I do seem to be getting the excess property checking:

[code]

[2022-10-04 23:37] jbphet commented on #1308
Mostly the responses seem fine.  Two questions.

First, this is what fallbackLocalesProperty looks like in Studio.  The documentation doesn't seem to match what I'm seeing.  This might be because I'm in the unbuilt mode, and feel free to let me know if so, but the docs say, "The list MUST end in 'en'", but it doesn't which seems potentially confusing to users.

![image](https://user-images.githubu

[2022-10-05 14:22] jessegreenberg commented on #1270
Yea, and I think we can close it because this can be collapsed into https://github.com/phetsims/chipper/issues/1166. It is caused by the same WebStorm problem.

[2022-10-05 14:22] #1270 closed

[2022-10-05 14:23] jessegreenberg commented on #1335
Cool, I suspect this would be quick and we can use a lot from explicit-method-return-type.js.

[2022-10-06 15:53] #793 closed

[2022-10-06 16:24] jonathanolson commented on #1339
Yes definitely! I was unaware of simFeatures. colorProfiles seems like it works also.

[2022-10-07 03:18] samreid commented on #1325
In https://github.com/phetsims/sun/issues/790#issuecomment-1268696241 @zepumph said:

[2022-10-07 03:30] samreid commented on #1308
For the npm update, I added that to the documentation in this commit: https://github.com/phetsims/chipper/commit/ca7595f0836d7626b8535e86c29837c33135bb69.  Is that sufficient?  I don't think our grunt tasks should typically run npm operations (aside from perennial maintenance tasks).

Regarding fallbackLocalesProperty, I agree it looks problematic.  @jonathanolson can you please comment on that as

[2022-10-07 03:43] samreid commented on #1240
I am seeing the excess property checking in both examples above.  Nice!  Not sure what was failing before.  So should we document and share the new pattern with the team?

[code]

[2022-10-10 17:29] jbphet commented on #1308
@samreid said:

That's fine my me, thanks for the clarification.  It makes sense to me that we shouldn't actively run npm install, since that could end up chewing up a lot of disk space.

Unassigning myself, leaving it assigned to @jonathanolson to respond to the question above.

[2022-10-10 20:09] jessegreenberg commented on #1335
This patch works well for property declarations. I need to shift focus for now but this can be continued by adding visitor functions for other nodes such as `VariableDeclaration`.

<details>

[code]

</details>

[2022-10-10 20:18] samreid commented on #1325
I'm glad the list has more complete coverage at the moment while we are making lots of common code changes, in the future when the list takes too long to check everything then we can introduce a pruned list.  But I also feel one day we should do more comprehensive timing testing of the precommit hooks and make sure our time is being spent wisely.

[2022-10-10 21:34] zepumph commented on #1325
That is all fine and good, but doesn't really get to the bottom of if it was acceptable to remove the sims in https://github.com/phetsims/perennial/commit/6c0647099b364dcc1d9fb862282d858ea780e707 from our list. Are EFAC and SOM acceptable to have API changes because they haven't been published in a year and may not be for another year? That seems like a hard sell to the person that will have to do

[2022-10-10 21:52] samreid commented on #1325
That decision was made during the developer meeting and I'm surprised to see it was not well-documented in the notes.  We removed EFAC and SOM because they were not in the "forward migration" channel of the spreadsheet.  Sun was removed because of https://github.com/phetsims/scenery-phet/issues/439.  I think density was removed since it hasn't had a phet-io release yet, but if I were the lead dev,

[2022-10-10 22:05] zepumph commented on #1325
I am sorry I wasn't able to attend that meeting, because it likely would have cleared up much of this confusion on my end. Thanks for your patience.

Density has been released, and the "Batch release" was originally only to add Studio support for setting mystery blocks in that sim (oh how time has changed that).

Part of my frustration is that with your amazing CacheLayer implementation, I had ~2

[2022-10-10 22:14] samreid commented on #1325
Perhaps a dev meeting for check-in or scheduling a subteam is the next step?  But not sure if that topic should be "should we prune the PhET-iO APIs listed in the precommit checks" or "how can we improve the precommit hook developer experience??

[2022-10-10 22:53] jonathanolson commented on #1308
fallbackLocales definitely should NOT require containing the fallback locale. It can be empty and works great when empty. I suggest correcting the documentation added in https://github.com/phetsims/joist/commit/9a8016528bc5a135509e9746b236d27a9d5a4496.

[2022-10-11 04:15] samreid commented on #1335
Nice, here is a chip-away report from that rule so far, I'll take a look at the @samreid ones:

Results from chipAway:
 - [ ] axon: @samreid 8 errors in 5 files.
 - [ ] bending-light: @samreid 2 errors in 1 files.
 - [ ] build-a-nucleus: @Luisav1, @chrisklus 1 errors in 1 files.
 - [ ] chipper: @jonathanolson 1 errors in 1 files.
 - [ ] circuit-construction-kit-common: @samreid 4 errors in 3 files

[2022-10-11 04:19] samreid commented on #1335
On second thought, I don't think this is ready for chip-away.  It is checking the string for the right hand side, and therefore catching sites like:

[code]

[2022-10-11 04:37] samreid commented on #1335
This patch helps refine the results, but I think I still need to improve the regex a bit:

<details>

[code]

</details>

[2022-10-11 15:03] samreid opened #1340 "Should precommit-hook-multi output an aqua link?"
While working on https://github.com/phetsims/sun/issues/798 I considered it may be nice to have precommit-hook-multi output an aqua link.  I experimented with this patch:

[code]

Possible future improvements:
* Relies on my local configuration for port and path
* What if a common repo changes, should it output dependencies?  Maybe output a link with dependencies and one without?
* How often will

[2022-10-11 15:21] zepumph commented on #1335
Yes both my results were false positives, I'd like to take a bit more of a look.

[2022-10-11 15:28] jessegreenberg commented on #1335
Thanks! https://github.com/phetsims/chipper/issues/1335#issuecomment-1273760111 was definitely a work in progress, not ready for full use.

[2022-10-11 17:14] zepumph commented on #1308
- [ ] I recommend reverting https://github.com/phetsims/joist/commit/7b1411bbca7957e4fcef63db43214278100760ee, as the fallbackLocalesProperty is basically entirely a PhET-iO Property for specifying a particular fallback over the "phet" implementation of the fallback algorithm.

[2022-10-11 19:50] zepumph commented on #1308
All is ready here, and final behavior of the fallbackLocalesProperty will be solidified in https://github.com/phetsims/phet-io/issues/1893. Thanks all!

[2022-10-11 19:50] #1308 closed

[2022-10-11 20:06] zepumph opened #1341 "Lint Everything should report errors as it goes"
Without a cache + type checking rules, linting all repos can take minutes, it would be nice, and easy to report errors per repo as it goes. I discovered this over the course of the last few months, but really felt it just not working on https://github.com/phetsims/chipper/issues/1335. I also mentioned it to @samreid and he potentially agreed (I kinda can't remember).

[2022-10-11 21:07] zepumph commented on #1335
I was satisfied with the safety and simplicity of the regex above, so I felt good enough to commit! It found 20 errors. 10 were easy in scenery-phet. I'll post the current list, and maybe take a stab at a couple more if they are easy

Results from chipAway:
 - [ ] build-a-nucleus: @Luisav1, @chrisklus 1 errors in 1 files.
 - [ ] circuit-construction-kit-common: @samreid 2 errors in 1 files.
 - [ ]

[2022-10-11 21:30] zepumph commented on #1335
The lint rule has been enabled. Here are the worst parts about it:

* If a supertype declares a `color: TColor`, and a subtype makes that `color: ColorProperty`.
* If you have a vestigial name for a string, and it is now a TReadOnlyProperty (`name: TReadOnlyProperty`).

Neither of these were so gross that I didn't plow forward, but please review and let me know what/if you recommend any other acti

[2022-10-11 22:27] jessegreenberg commented on #1335
Excellent, thanks! So far this rule just looks for `PropertyDefinition` nodes in the AST, we will probably want to include others so that this catches more than class variables.

[2022-10-12 02:45] samreid commented on #1335
This patch additionally catches variable declarations.  I inspected half a dozen occurrences and they all seemed appropriate to fix.

<details>

[code]

</details>

Here is the corresponding chip-away:

Results from chipAway:
 - [ ] axon: @samreid 6 errors in 3 files.
 - [ ] bending-light: @samreid 1 errors in 1 files.
 - [ ] center-and-variability: @samreid, @chrisklus 1 errors in 1 files.
 - [ ]

[2022-10-12 03:02] samreid commented on #1335
Updated patch that allows PROPERTY suffix for outer constants (fixes some of the cases identified above):

<details>

[code]

</details>

[2022-10-12 03:08] samreid commented on #1341
I tested the code and observed it worked well.  I confirmed `--chip-away` still worked well.  I confirmed the precedence order in `options.inProgressErrorLogging && totalWarnings + totalErrors > 0`. I think this issue can be closed. Nice work.

[2022-10-12 03:27] pixelzoom commented on #1335
For anyone else who might be trying to make sense of this issue... The rule in chipper/eslint/.eslintrc.js is (I think):

[code]

[2022-10-12 03:29] pixelzoom commented on #1335
In https://github.com/phetsims/chipper/issues/1335#issuecomment-1275510852, I'm listed as responsible for 6 errors in geometric-optics.  I'm not finding any errors, and I see no evidence that they were fixed.  Can someone please clarify?

[2022-10-12 03:38] samreid commented on #1335
I regenerated the chip-away with the improved patch 3 comments back in case there were other occurrences with PROPERTY

Results from chipAway:
 - [ ] axon: @samreid 1 errors in 1 files.
 - [ ] chipper: @jonathanolson 1 errors in 1 files.
 - [ ] geometric-optics: @pixelzoom 5 errors in 3 files.
 - [ ] greenhouse-effect: @jbphet 1 errors in 1 files.
 - [ ] joist: @zepumph 10 errors in 3 files.
 - [

[2022-10-12 03:41] samreid commented on #1335
Here are the results from geometric optics:

[code]

[2022-10-12 13:33] #1341 closed

[2022-10-12 15:03] zepumph commented on #1335
Make sure to run with `--disable-eslint-cache`. Our cache hits are very very strong when editing our lint rules.

[2022-10-13 17:22] jessegreenberg commented on #1335
That patch is great @samreid, thanks! I just applied it and fixed some obvious cases.

I disabled the rule for now so it will be easier to commit and chip away for the team or modify the rule.

I thought of a couple more places where it would be nice to enforce `Property` suffix - members of a type alias and keys of an object (like CAVColors.ts). For "keys of an object" I added

<details>

[code]

[2022-10-13 17:42] zepumph commented on #1335
Yeah, I think the TColor and TPaint pieces of options into scenery are a deal breaker for adding this check to object literal fields. Is it possible to write that block to only cover the type declarations?

[2022-10-13 17:55] zepumph commented on #1335
Lint rule is back on! Great updates, and thanks for committing @jessegreenberg.

[2022-10-13 18:16] matthew-blackman commented on #1046
A subteam will go through the remaining files and decide on which ones to prioritize for TS conversion. Will be done during Oct 20-27 sprint (Common Code Week).

[2022-10-13 18:28] zepumph opened #1342 "pre-commit-hooks should keep a log for diagnostics"
From https://github.com/phetsims/chipper/issues/1325 today, we should investigate logging output from pre-commit hooks to help us analyze timing and problems, and to make improvements. Assigning @samreid and ME.

[2022-10-13 18:39] matthew-blackman commented on #1325
@samreid will revisit the caching of files, especially PhET-IO API files. We are discussing the idea of a log of the time it takes to run precommit hooks. https://github.com/phetsims/chipper/issues/1342

In keeping a pruned list, we would want to prioritize 3 or 4 stable PhET-IO sims that include full coverage of common code components used in PhET-IO sims.

[2022-10-13 18:41] zepumph commented on #1325
- [ ] We want to further investigate how the api generation caching works. We can improve this to mostly optimize across sharing results when committing to many repos in the same commit.

[2022-10-13 19:03] jessegreenberg commented on #1335
Excellent, thanks @zepumph. There were a few remaining problems on CT related to the new catch for `TSTypeAliasDeclaration`, i commented that out until we can fix them.

[2022-10-13 22:02] jessegreenberg commented on #1335
I fixed most of what remained but couldn't finish and re-enable the rule. There are just a few more in density-buoyancy-common that I didn't feel comfortable changing because of PhET-iO usages that I didn't know how to verify.

[code]

But they look like good places to change.

I also think the brand changes I made should be reviewed, @samreid would you mind reviewing that as well as the current r

[2022-10-13 22:44] jessegreenberg commented on #1342
So far I have been logging my pre-commit-hooks output by saving the output in my bash alias for it.

[2022-10-14 00:51] samreid commented on #1339
This commit had at least one problem, seen in https://github.com/phetsims/density/commit/07a3118d4fdbed1c59ad2d6a56d5a9fa91f96a9f?diff=split

The JSON came out like:

[code]
and the unbuilt sim fails with:

I'm not sure if other sims are affected.

[2022-10-14 00:56] samreid commented on #1339
I ran `grunt update` for density, and it seemed to help.

[2022-10-14 01:00] samreid commented on #1335
Looks great, thanks.  The brand changes seemed good (with the corresponding joist change), and I felt confident making the changes in density.  Heads up to @jonathanolson to be aware of that.  Everything seemed good, so I enabled the lint rule.  @jessegreenberg do we need to visit any other AST nodes, or can this issue be closed?

[2022-10-14 03:51] samreid commented on #1342
Let's also add output from other parts of the tooling, so we can track how long builds are taking, etc.

If we go with plaintext, it could look like:

[code]

If we want JSON, it could look like:

[code]

Or we would probably want subtasks in an array
[code]

Plain text sounds easier to stream to it and more human-readable, but JSON sounds more machine readable-friendly.  Not clear what's more imp

[2022-10-14 03:56] samreid commented on #1342
We should also consider how we want to look at these logs.  Is it more like:

* When a developer feels something is slow, they manually inspect the logs to see if there is a new problem or an outlier, and ask other developers what kinds of timing they are getting

or

* Once a month, all devs share all their log files and we run a script to data visualize hot spots across the team.

[2022-10-14 14:12] jessegreenberg commented on #1335
Great, thanks! I think the rule is complete. Closing.

[2022-10-14 14:12] #1335 closed

[2022-10-14 14:31] samreid commented on #1342
I'm planning to work on this issue today

[2022-10-14 15:09] samreid commented on #1342
@jessegreenberg said on slack:

I am fine with always on. Maybe save to chipper/data? Infinitely nested sub-tasks sounds more complicated but might help optimize if we decide that is necessary.

[2022-10-14 20:58] jbphet opened #1343 "Should translations fall back to English string values for zero-length locale-specific strings?"
In https://github.com/phetsims/beers-law-lab/issues/291, @pixelzoom identified a case where a translated version of a sim is essentially broken because a translator initially submitted a value for a string and then subsequently submitted a blank field.  This set the value of the string to `""` in the translated strings file.  Rosetta allows this, for better or worse.  After some investigation, I t

[2022-10-14 20:58] jbphet commented on #1343
I'm assigning several people with knowledge and recent experience on strings.  They should unassign and reassign as they see fit.

[2022-10-14 21:15] jonathanolson commented on #1343
I can imagine cases where blank strings are correct and desirable, it sounds best NOT to fall back. Perhaps we should annotate places where blank strings are allowed? Or just fix translations?

[2022-10-14 21:33] samreid commented on #1343
In the examples given in https://github.com/phetsims/beers-law-lab/issues/291, it seems like blank translations seem undesirable (balancing act gift labels and beers law lab formula label percent and units).  So I feel rosetta should not allow blank strings generally.  If we see cases where blanking out a string is desirable, perhaps we can annotate it as such.  Falling back to english for empty s

[2022-10-14 21:35] samreid commented on #1342
Some more considerations for this log:

* Perhaps we should use a format that allows us to stream to the file (unlike JSON).
* Should we use imperative style `startTask('name')` `endTask()` or functional `wrapTask( ()=>{})`?  The latter seems more robust and less error-prone but also more verbose.

[2022-10-14 21:59] zepumph commented on #1343
Seems smartest to start at rosetta, disallow this, and see who complains, then if we need to add support, we can in our sims.

If we need to add support, my guess would be to have this in the new string metadata with a key like "allowBlankValue" or "allowBlankTranslation".

[2022-10-15 18:25] samreid commented on #1342
Here's an improved patch:

<details>

[code]
</details>

However, this strategy is incompatible with early exit (like process.exit) or even throwing errors, so we may need a different strategy.  Or maybe try/catch the task?

[2022-10-16 05:08] samreid commented on #1342
Current status:

<details>

[code]

</details>

[2022-10-16 16:42] samreid commented on #1342
Remaining work and questions for the reviewer:

- [ ] Should we make it possible/easy to interleave other console.log output during builds?
- [ ] Do we want to output this to console.log during a build?
- [ ] Do we need cleanup or log rotation phases on any servers, build-server, ct, phettest or dev machines?
- [ ] Will `grunt default` and `build` steps need to flush the write stream?
- [ ] How to

[2022-10-17 21:36] samreid commented on #1325
I switched to per-repo caching.  It made things simpler and seems to be working well. I tested by running `node ../chipper/js/scripts/hook-pre-commit.js --console` in gravity-and-orbits, then again in sun, and saw that sun no longer needed to test gravity-and-orbits with its batch.  It seems the next step is discussion of pruned lists.

[2022-10-18 00:04] DianaTavares commented on #1343
For Spanish, I never had the necessity of zero-length strings. I think that the best is not allowing it.

[2022-10-18 15:53] marlitas commented on #1331
This is what is causing the interference: https://github.com/phetsims/chipper/issues/1224#issuecomment-1121456413

[2022-10-18 16:09] marlitas commented on #1331
Patch:
<details>

[code]

</details>

[2022-10-18 19:25] marlitas commented on #1331
Completed in the above commits. @samreid would you like to review and close if all looks good?

[2022-10-19 12:56] pixelzoom commented on #1331
After reading the reference, I’m not clear on what `reportUnusedDisableDirectives` does. After reading this chipper issue, I’m not clear on the motivation for enabling it, or why/when it is valuable to PhET.  Can you please clarify?

[2022-10-19 13:44] pixelzoom commented on #1331
In Slack#dev-public, @samreid replied:

[2022-10-19 13:50] pixelzoom commented on #1331
In Slack#dev-public, I was confused about why `no-simple-type-checking-assertions` was removed in some cases, like https://github.com/phetsims/scenery-phet/commit/523d872ba90a883b4de5a3cf8b825d8314564acd, but still necessary in other cases, like equality-explorer ConstantTermCreator.ts.  @samreid replied:

... and:

[2022-10-19 14:17] samreid opened #1344 "no-simple-type-checking-assertions doesn't allow assertion messages"
Discovered in https://github.com/phetsims/chipper/issues/1331, some disable directives were removed because the lint rule no-simple-type-checking-assertions doesn't correctly flag assertions with a message string.

[2022-10-19 14:17] samreid commented on #1331
Let's deal with the regex problem in the side issue https://github.com/phetsims/chipper/issues/1344

[2022-10-20 03:15] samreid commented on #1344
@marlitas volunteered to take the next steps.

[2022-10-20 15:07] marlitas commented on #1344
@samreid and @jonathanolson I left a couple of TODO's regarding assertion situations I or @chrisklus were unsure how to handle.

@samreid your TODO's can be found in DOM.ts & Input.ts
@jonathanolson  your TODO can be found in Node.ts

I also referenced the wrong issue when pushing these changes. The commits can be found here: https://github.com/phetsims/mean-share-and-balance/issues/102 Sorry abou

[2022-10-20 16:47] samreid opened #1345 "Provide and maintain stable versions of common libraries"
For our open source community, and related to the POSE grant, one of the main pain points in improving our open source support (and potentially also for PhET developers and maintenance releases) will be making providing and maintaining stable versions of the code.

The main problem is that clients accessing PhET code on master are subject to breaking changes, which are documented in https://groups

[2022-10-20 18:37] pixelzoom commented on #1345
To make it feasible/scalable to create/test/maintain stable versions of common libraries, I think PhET will also need to reduce the number of common libraries, by combining them into a smaller number of libraries (but NOT a mon repo).   And I think that consolidation should be one of the first steps.

[2022-10-20 18:38] pixelzoom commented on #1345
To make it feasible/scalable to create/test/maintain stable versions of common libraries, I think PhET needs to reduce the number of common libraries, by combining them into a smaller number of libraries (but NOT a mon repo).   And I think that consolidation should be one of the first steps -- certainly _before_ creating 1.0 branches of existing repos, as is proposed above.

[2022-10-20 18:44] samreid opened #1346 "Combine/reduce some common code libraries."
From an idea by @pixelzoom in https://github.com/phetsims/chipper/issues/1345#issuecomment-1285981809

I do not think this is necessary--it doesn't matter too much whether we have N or N+M libraries (as long as N>1), we will still need multi-repo tooling.  But I agree some ones could be combined.  I'll paste the common repos here and we can brainstorm what should be combined.  This list from build

[2022-10-20 18:49] pixelzoom commented on #1346
Agreed that it's not technically necessary for tooling.  It is mostly-definitely necessary in order to make the cost feasible. PhET cannot afford release processes for 21 common-code libraries.  If there are that many libraries, we will never get them releases in a reasonable amount of time, with any kind of regularity, or at a cost that the project can bear.

[2022-10-20 19:15] samreid commented on #1346
Any comments on the combos/reductions proposed above?

[2022-10-20 19:24] pixelzoom commented on #1346
I'm not clear on what you're asking. Are you asking how I would combine the existing common-code repos?

[2022-10-20 19:27] samreid commented on #1346
Here are some proposals from the top comment.  Do they sound good to you? Do you want to add to them?

* utterance-queue could be integrated into scenery.
* assert could be streamlined into phet-core
* eliminate phetcommon
* phetmarks may not need to be maintained in the same way as standard dependenices

[2022-10-20 19:45] pixelzoom commented on #1346
Off the top of my head....

phet-core (or another name, if you prefer) becomes most of the libraries that are required (not optional) to create PhET sims, with the exception of libraries that PhET would like to be useful outside of PhET sims (scenery, dot, kit, sun,...)  So the consolidation is something like:
* phet-core = axon + brand + joist + phet-core + phetcommon + query-string-machine + sce

[2022-10-20 20:06] pixelzoom commented on #1346
I also think that private libraries (PhET-iO) should be included in this plan.  There's value in versioning them too, and it's perhaps even more important for a commerical product like PhET-iO.

[2022-10-21 19:00] samreid commented on #1346
I can see the value in combining brand into joist.  I feel assert could move into phet-core.

To me, axon seems like a standalone library like we want dot or kite to be, competing with the data layers defined by Backbone, Ember or Knockout.

query-string-machine seems like a useful standalone library that may be good to keep independent.

But I also feel that many of the cons for monorepos identif

[2022-10-23 00:31] samreid opened #1347 "Open GitHub Discussions for the Organization"
For the POSE grant project, we have been discussing the best way to support community discussions.  We currently have the Google Group https://groups.google.com/g/developing-interactive-simulations-in-html5 and have discussed starting a discord channel.  Another option would be to enable the "Discussions" feature in select GitHub repos.  For instance, as I type this comment, chipper shows a "Discu

[2022-10-23 00:36] samreid commented on #1347
Some advantages of GitHub Discussions:

* More closely integrated with our open source projects
* Better code example highlighting
* Categories
* Upvoting
* Looks more modern/well-designed
* Indicates whether questions have been answered or not

Disadvantages
* Cost to move (maybe that is minimal).
* Time to decide on which repos to enable, community guidelines, moderation, etc.
* Commenters need

[2022-10-23 15:38] pixelzoom commented on #1347
You didn't mention the ongoing cost to manage it.  GitHub Discussions will only be effective if PhET intends to incur the cost to respond to discussions in a timely and "public facing" manner.  And before enabling GitHub Discussions, there should be a discussion about what that means, who will manage it, etc.

[2022-10-23 15:39] pixelzoom commented on #1347
You didn't mention the upfront cost to develop processes, or the ongoing cost to manage discussion.  GitHub Discussions will only be effective if PhET intends to incur the cost to respond to discussions in a timely and "public facing" manner.  And before enabling GitHub Discussions, there should be a discussion about what that means, who will manage it, etc.

[2022-10-23 19:04] pixelzoom opened #1348 "`@typescript-eslint/member-delimiter-style` is not catching all missing semicolons."
Re this lint rule in chipper/eslint/rules/.eslintrc.js:

[code]

I'm wondering if there is a problem with it.  For example:

In Vector2.ts, this definition of `Vector2StateObject` is missing a semicolon after the last field (`y`), but this specific formatting of the code was not triggering the lint rule:

[code]

Without changing the definition, this formatting of `Vector2StateObject` does trigger

[2022-10-23 19:44] pixelzoom opened #1349 "`readonly` modifier is often missing."
Somewhat related to https://github.com/phetsims/tandem/issues/278 ...

There is a disturbing number of places where the `readonly` modifier is missing for static constants. For example in Tandem.ts, all of these should be `readonly`:

[code]

I've also been encountering this problem frequently for non-static properties.

Two things for discussion developer meeting:

(1) PSA about the importance of

[2022-10-24 19:05] jbphet commented on #1343
I'm fine with the idea of not allowing zero-length strings, but that doesn't really answer the question of how the system should handle cases where translators delete previously translated strings using Rosetta.  Should Rosetta disallow this?  That doesn't seem correct to me, since they may essentially be saying "I just want to use the English string, and don't need a translation after all".  I th

[2022-10-24 21:24] samreid commented on #1345
Today @jonathanolson and @AgustinVallejo discussed with me and @zepumph about creating a new repo "phet-lib" which would be used to build a bundle which could be used for the scenery layout demos and other sandbox examples.  I referred to this issue, since it overlaps a bit.

[2022-10-25 02:27] samreid commented on #1345
In my opinion, merging some repos does not fundamentally change the nature of the problem. It does not give us atomic commits.  It does not change the scripting/tooling we would need. Yes, we incrementally decrease the number of repos/commits/merges/changelogs/dependencies, but we lose modularity and modular GitHub issue tracking and have to pay an up-front merge cost.

I recommend that the next t

[2022-10-25 02:32] samreid commented on #1346
If we merge axon, brand, joist, tambo, etc into phet-core, then the GitHub issues for that repo are going to be very messy--we would want labels to keep track of which is which.  Like a phet-core label "type: axon". Kind of like we had in Unfuddle which didn't work very well.  It seems preferable to keep all of the tambo issues in the tambo repo.

[2022-10-25 02:33] samreid commented on #1346
I wrote some other comments in https://github.com/phetsims/chipper/issues/1345#issuecomment-1289891785 about combining repos:

[2022-10-26 01:46] samreid commented on #1348
According to https://github.com/typescript-eslint/typescript-eslint/blob/main/packages/eslint-plugin/docs/rules/member-delimiter-style.md, the default options are:

[code]

Would you like to change singleline.requrieLast to `true`?

[2022-10-26 03:31] pixelzoom commented on #1348
I guess I don't feel too strongly about it.  Changing to this:

[code]

... results in 116 errors for `grunt lint-everything`, which appear to be fixable with `--fix`.

I've put this on the dev meeting board, to see how other devs feel about it.

[2022-10-26 03:34] pixelzoom commented on #1348
On second thought, I don't think this is worth discussing. Leave it as is. Closing.

[2022-10-26 03:34] #1348 closed

[2022-10-26 05:07] samreid commented on #1344
I believe all 4 of those assertions should remain.  They are testing corner cases that are difficult to guarantee with the type system.

[2022-10-26 05:12] samreid commented on #1340
This hasn't been a concern lately.  Self-unassigning for now.

[2022-10-26 05:16] samreid commented on #1347
Maybe https://github.com/phetsims/phet-lib or https://github.com/phetsims/phet-info would be good places to centralize discussion.

[2022-10-26 15:03] samreid commented on #1253
Fixed a lint error in preceding commits, @jonathanolson FYI

[2022-10-26 16:30] marlitas commented on #1344
Great. I will remove the Todos and mark ready for review.

[2022-10-26 21:55] marlitas commented on #1344
TODOs removed. @samreid this is ready for your review. Feel free to close if all looks good.

[2022-10-27 00:31] samreid commented on #1342
This is at a good checkpoint for Dev Meeting PSA.

[2022-10-27 15:43] samreid commented on #1342
This doesn't support multiple thread access very well, CT snapshots look like this:

[code]

[2022-10-27 15:44] samreid commented on #1342
Looks like log rotation is not critical on CT for this file.  Each snapshot log file was not too big, and they disappear with each snapshot.

[2022-10-27 18:11] jessegreenberg commented on #1343
10/27/22 dev meeting

@jbphet summarized the problem: Where some translators are removing translations and putting blank strings in. We used to have fallback behavior where it would use the English string. Now it it uses an empty string. I believe the intent of the translator was to fall back to the English string NOT put in an empty string. We need to decide how to handle this.
CM: Why did rosett

[2022-10-27 18:14] samreid commented on #1342
I shared a PSA today. @kathy-phet asked @AgustinVallejo to review.  Please see the checkboxes above for questions.

[2022-10-27 18:26] jessegreenberg commented on #1342
@samreid showed a demo of logs in perennial-alias/logs/phet-timing-log.txt. You can see how long processes take. It reports timing for several processes like tsc, lint, and grunt tasks.

There is documentation in the phet-timing-log about this and how to print output in real time.

@zepumph: How should we use this tool? I often have commit hooks that take longer than 100 seconds. What is an accept

[2022-10-27 21:12] jbphet commented on #1343
We discussed this issue in Design Meeting today and considered several options, such as preventing the submission of blank values for previously translated strings, and using `null` to indicate untranslated values.  In the end, we concluded that using zero-length strings and keeping them in the babel files is probably the best approach, since this retains the history of each string's translation.

[2022-10-28 20:21] samreid commented on #1323
This commit increases the heap size of Geometric Optic Basics Built PhET brand from 38.1MB to 58.7MB.  Startup time feels a little slower too.

[2022-10-28 20:37] samreid commented on #1323
`> 0.43%, last 2 versions, Firefox ESR, not dead` report 90% and still gives us the smaller size

[2022-10-28 20:40] samreid commented on #1323
According to https://browsersl.ist/#q=defaults,

So maybe `defaults` sounds good?

[2022-10-28 21:34] zepumph commented on #1323
Seems reasonable to me!

[2022-10-28 21:43] samreid commented on #1323
OK pushed.  Confirmed the build size is lower.  @zepumph or @jonathanolson can you please spot check?

By the way, here is my binary search that led here:

[code]

[2022-10-28 23:37] jonathanolson commented on #1323
Looks good to me, can we confirm that this is working on all of our supported platforms?

[2022-10-29 00:26] samreid commented on #1323
Perhaps an upcoming RC test will help us verify this is OK.  @KatieWoe can you please be aware of this issue for the next round of QA testing?

[2022-10-29 15:25] samreid opened #1350 "Improve precommit hook development experience"
From https://github.com/phetsims/chipper/issues/1342#issuecomment-1293907234 which came from https://github.com/phetsims/chipper/issues/1325, we would like to improve the precommit hook process.

@zepumph: How should we use this tool? I often have commit hooks that take longer than 100 seconds. What is an acceptable amount of time?
@zepumph - sometimes to get around commit hook timing I commit loc

[2022-10-29 15:25] samreid commented on #1342
I opened https://github.com/phetsims/chipper/issues/1350 about improving the precommit hook developer experience.  This issue can remain specific to the timing logging.

[2022-10-31 02:54] samreid opened #1351 "Third party developers cannot run lint rules or absolute-tsc on new sims"
From https://github.com/phetsims/simula-rasa/issues/28, lint rules and absolute-tsc do not run on new sims.  Lint point to the all/tsconfig.json for type checking rules.

[2022-10-31 02:59] samreid commented on #1350
I used that feature this week to search for the break in https://github.com/phetsims/chipper/issues/1323#issuecomment-1295494831.  Only one of the dozen samples was broken, which was great and made it easy to trace the problem.

[2022-10-31 03:08] samreid commented on #1344
Looks good, thanks!  Closing.

[2022-10-31 03:08] #1344 closed

[2022-10-31 19:55] pixelzoom commented on #1323
@KatieWoe asked:

Part of this issue was memory footprint. So you want to make sure that sims are not using significantly more memory than the were on previous memory tests.    For example, see https://github.com/phetsims/scenery-phet/issues/769#issuecomment-1295233125, which is where I reported this (and is for some reason not referenced in this issue.)

I have no idea what you should look for in

[2022-10-31 20:11] samreid commented on #1323
I feel it’s unblocked and testing can happen during GO:B dev test.

[2022-10-31 20:49] pixelzoom commented on #1323
@samreid and I looked at this issue on Zoom.  There's a serious problem here. None of the changes that have been made to transpile.js `browesers` result in builds that match the [system requirements on the PhET website](https://phet.colorado.edu/en/help-center/running-sims).  And for quite some time, PhET has likely been building an publishing sims that won't run on the advertised "supported platf

[2022-10-31 21:45] kathy-phet commented on #1323
I'm not sure I am following the scope of this issue. I'll connect with @samreid tomorrow to check in on this.

[2022-11-01 03:06] samreid commented on #1323
For example, here are the discrepancies for Mac Safari versions.

| Platform | Requirements  | GAO RC 1.6 Test Matrix | Target Pre-Sept | Target Post-Sept | Target defaults |
| ------------- | ------------- | ------------- | ------------- | ------------- | ------------- |
| Safari  | 13+  | 16  | 10,11,15.6  | 13.1+ |   15.6+ |

Our requirements say we support Safari 13+.  But before September 202

[2022-11-01 12:54] kathy-phet commented on #1323
This seems to match our system requirements. @samreid - does this increase the heapsize? defaults, iOS>= 13, safari>=13
Coverage =92.8%

[2022-11-01 14:37] KatieWoe commented on #1323
Now that iPadOS 16 and MacOS 13 are released, we discussed dropping the oldest supported iOS and MacOS, which I believe were iOS 13 and MacOS 10.13. If we still are dropping those then Safari 14 would be the oldest supported.

[2022-11-01 16:24] marlitas commented on #1323
Coverage =92.8%

@samreid and I looked at this, and including safari>=13 does not increase our heap size.

We used this browser configuration in transpile.js:
[code]

[2022-11-01 17:19] samreid commented on #1323
My hope is that "defaults" will solve that for us, if we are OK with its numbers.  So many good things said about defaults in https://github.com/phetsims/chipper/issues/1323#issuecomment-1295444767

[2022-11-01 17:38] kathy-phet commented on #1323
Let's go with this to unblock for now ..
const browsers = [
    'defaults',
    'safari >= 13',
    'iOS >= 13'
  ];

This matches what we say on the website.

[2022-11-01 17:39] kathy-phet commented on #1323
@samreid - You can make an issue to consider supported browsers, and potentially update to supported systems. This requires making a change in our website language to match what "defaults" has. And should be communicated to our client partners as well.

[2022-11-01 17:57] kathy-phet commented on #1323
@pixelzoom - With this change, (marla committed above), does it make sense to rebuild the dev tests for GOB?

[2022-11-01 18:32] oliver-phet commented on #1323
Last 30 days (3,872,563 Safari users):
*Total does not = 100% because of strange browser versions (i.e. "Safari 13609.3.5.1.5")

Safari 7+ | 320 | 0.008%
-- | -- | --
Safari 8+ | 80 | 0.002%
Safari 9+ | 900 | 0.023%
Safari 10+ | 2357 | 0.061%
Safari 11+ | 3028 | 0.079%
Safari 12+ | 57981 | 1.504%
Safari 13+ | 52747 | 1.368%
Safari 14+ | 316834 | 8.218%
Safari 15+ | 2613689 | 67.795%
Safari 16+ | 6

[2022-11-01 18:58] kathy-phet commented on #1323
Thanks, Oliver. @samreid - defaults don't include all versions of Safari 14 , so we should not be using just defaults imo.

@marlitas - Your commit looks like it updated with the safari and iOS needs.

Any reason I cannot close this issue?

[2022-11-01 19:56] pixelzoom commented on #1323
@kathy-phet your call. If you'd like to cancel the current dev test, please note in https://github.com/phetsims/qa/issues/847.

The dev version was built when transpiler.ts was configured for "default".   Because it's a dev version, there's no release branch to patch, and we'll pick up the transpiler.ts on the next dev version, or when we create the first RC.

[2022-11-02 00:00] kathy-phet commented on #1323
@pixelzoom - Looks like we don't test those browsers in a dev test anyways, so no need to redo the dev.

I'm going to close this issue. @samreid @marlitas - reopen if you see a reason.

[2022-11-02 21:25] samreid commented on #1347
At today's conference, we discussed enabling GitHub discussions.  We could start with it in one repo like phet-info to learn about it and get used to it, but ultimately enable it for every repo.  Google group and phethelp questions would be redirected to phet-info discussions.  Great docs and 60-second movie about it here: https://docs.github.com/en/discussions

[2022-11-03 22:07] zepumph commented on #1234
Note that we are now building phet-io-wrappers as part of the phet-io build too, so we may start to see this issue with phet-io-wrappers too.

[2022-11-05 14:49] pixelzoom commented on #1319
This is impacting more than sims that have no translations. In many math sims, symbols are translatable,  but are seldom (or possibly never) translated.   So after adding support for dynamic locale, I'm spending a lot of time pressing Ctrl-i, trying to cycle through a translation that may have translated a specific math symbol, and often finding none -- which mean not testing adequately.  That als

[2022-11-08 15:11] zepumph commented on #1343
Just noting here that this showed up in the keyboard help dialog in a confusing way in https://github.com/phetsims/scenery-phet/issues/786. Not sure why a translator wanted to remove content from a key icon. Any, I marked that issue as on hold, looping it into this work.

[2022-11-08 16:07] samreid commented on #1331
#1344 was fixed, @marlitas and I spot checked the functionality.  Closing.  @pixelzoom please reopen or create a side issue if there are more questions or problems.

[2022-11-08 16:07] #1331 closed

[2022-11-08 19:49] jbphet commented on #1343
@jonathanolson asked:

I'm not certain that I understand your question, but I think you're asking if the same behavior, i.e. falling back to the English string value, should apply for the sim titles.  Rosetta does not treat the sim titles any differently from other strings, so I think the answer is yes.  If there is some reason that Rosetta *should* treat this as a special case, that is certainly

[2022-11-09 00:54] jonathanolson commented on #1343
Self-assigned so I can see how that's working. There might be cases where we'll need to handle the title on the build side.

[2022-11-09 16:30] samreid commented on #1350
Some strategies, brainstorming and paper trail from discussions with @marlitas and @zepumph yesterday:

OK to commit broken code locally, then use a pre-push hook to make sure everything is consistent before pushing.  How would that help people that basically push every commit? Would we change our workflow? What about checking out broken code by date or bisect?

Commit broken code locally, then sq

[2022-11-09 20:04] jbphet opened #1352 "Consider not instrumenting a11y strings"
A11y string, i.e. those used for description, are currently showing up in Studio, meaning that they are instrumented.  Here is a screenshot from Greenhouse Effect:

![image](https://user-images.githubusercontent.com/3082831/200929138-4e709b76-d228-4f95-acb4-c980a745caa7.png)

This seems a bit odd, so I asked about it on Slack.  The dialog is below, but the summary is that we should consider not in

[2022-11-09 20:06] jbphet commented on #1352
@arouinfar wanted to make sure that we are talking about description strings here, and not *all* strings that relate to accessibility.  The rule of thumb should be that if a string shows up in the translation utility, it should show up in Studio.

[2022-11-09 22:54] zepumph commented on #1350
<details>

[code]

[2022-11-10 00:01] samreid commented on #1350
I switched to Promise.all, and tested with `echo $?`, and with early failing, and error messages.  Everything seems to be working OK except for the nesting of the phet-timing-log, which now looks like this:

[code]

[2022-11-10 00:07] samreid commented on #1350
OK I also fixed the depth.  Looks like this now:

[code]

This issue is ready for review.

[2022-11-10 17:01] samreid commented on #1242
This has been a good discussion, and I agree we should not transition to a monorepo.  There are side issues related to other levels of consolidation, and other issues about dealing with the atomicity of commits, and versioning common code repos together.  Closing.

[2022-11-10 17:03] pixelzoom commented on #1350
Slack#developer:

Chris Malley
 [Today at 12:44 AM](https://phetsims.slack.com/archives/G6E0RA1T2/p1668066255825999)
I noticed that there were some changes to git hooks today. When I encounter errors, I’m now seeing duplicate errors in WebStorm console, for example see below.  Is it possible that something is being run twice?

/Users/cmalley/PhET/GitHub/natural-selection/js/common/view/NaturalSele

[2022-11-10 18:45] samreid commented on #1319
Patch from dev meeting:

<details>

[code]

</details>

@pixelzoom said that design is reasonable and better than we have now.  @marlitas and @samreid volunteered to bring it to production and add it to the QA handbook.

[2022-11-10 18:51] jbphet commented on #1319
We discuss this during the 11/10/2022 dev meeting, and @samreid created a quick demo that seemed like a reasonable next step.  He and @marlitas will implement it.  One of the requirements will be to make it reproducible when using random values.  Once this is implemented, it will be assigned to @pixelzoom for testing and review.

[2022-11-10 21:29] samreid commented on #1352
What is the rule for whether a string appears in the translation utility?

[2022-11-10 22:12] pixelzoom commented on #1323
Reopening. We had a design meeting on 11/10/2022 where some important decisions were made.

* macOS 10.13 will be dropped from System Requirements. @KatieWoe will make an issue to update the PhET website.
* We'll leave transpile.js the way it currently is.
* We will sometime has older platforms in transpile.js that are not advertised in System Requirements on the PhET website.
* We should never re

[2022-11-10 22:13] pixelzoom commented on #1323
Reopening. We had a design meeting on 11/10/2022 where some important decisions were made.

macOS 10.13 will be dropped from System Requirements. @KatieWoe will make an issue to update the PhET website.
We'll leave transpile.js the way it currently is.
We will sometime has older platforms in transpile.js that are not advertised in System Requirements on the PhET website.
We should never remove pla

[2022-11-10 23:16] zepumph commented on #1352
I don't really understand how @jbphet is doing this currently for greenhouse (which is what was suggested during PhET-iO meeting today), but can we do it generally and opt out of everying under a11y?

[code]

[2022-11-11 17:06] samreid commented on #1319
Today @marlitas and I wrote a working draft for this and it seems to be working well.  The key commands are described in initialize-globals:

stringTest=dynamic:

adds global hotkey listeners to change the strings.
  right arrow - doubles a string, like string = string+string
  left arrow - halves a string
  up arrow - cycles to next stride in random word list
  down arrow - cycles to previous str

[2022-11-11 17:13] pixelzoom commented on #1319
Reminder to document the final solution in the QA Book, and notify @KatieWoe.

[2022-11-11 17:22] kathy-phet commented on #1323
@pixelzoom - I didn't think this was for Babel? I thought browserify was broader - back converting code to support use of newer js patterns.

[2022-11-11 17:27] pixelzoom commented on #1323
The format for the `browsers` list is indeed broader, see the link I provided in the comment (https://babeljs.io) which states:

transpiler.js is more specific. It passes the `browsers` list to babel.  Line 39:

[code]

[2022-11-11 17:30] pixelzoom commented on #1323
Also note the documentation of transpiler.js at line 4:

[code]

So I'm going to close this. Reopen if you have more questions.

[2022-11-11 17:30] #1323 closed

[2022-11-11 18:14] samreid commented on #1323
Babel is a 3rd party open source library which transpiles code versions, not to be confused with phetsims/babel which contains our sim translations.

[2022-11-11 22:38] pixelzoom commented on #1319
Some problems with this commit https://github.com/phetsims/joist/commit/2663d3d300561728ac3b398a9beccb9e3044dbb8

(1) `function setStride` is defined inside the event listener. So every time we get an event, we're reallocating this function. It should be moved outside the listener.

(2) The are 5 `if` statements, and no `else`.  So all 5 `if` expression are evaluated for every event.  Use `if else

[2022-11-11 22:44] pixelzoom commented on #1319
Some thing that I reported in Slack#dev-public:

(1) If you press left arrow enough times, it results in an empty string, which it probably should not do — there should be a minimum length of 1.  And then pressing right arrow has no affect, because doubling an empty string results in an empty string.

(2) This approach is apparently chopping up pattern strings, with some very strange (and not very

[2022-11-13 00:12] samreid opened #1353 "Investigate GitHub Codespaces"
On November 10, 2022 GitHub introduced public, free Codespaces, see https://www.infoworld.com/article/3679948/github-codespaces-freely-available-to-all-github-users.html. This would be even better than https://github.com/phetsims/chipper/issues/1334.  We should investigate.

[2022-11-13 15:17] samreid opened #1354 "Speed up TypeScript transpilation using SWC"
Related to https://github.com/phetsims/chipper/issues/1156, SWC purports to have a significantly faster transpilation time for converting TypeScript => JavaScript.  We currently use babel for this step.  They claim:

And it is used by many projects such as Deno.

This could significantly improve developer experience on Windows, which has been observed to have a much slower transpilation time than

[2022-11-14 03:35] marlitas commented on #1319
Strings will no longer empty, however the quirky halving is a bit trickier. There are directional codes embedded in the string and I need to figure out how to properly strip these out. My regex explorations have so far only succeeded in stripping out the first code at the beginning of the string and not the one at the end. I'm hoping @jbphet will be able to help me figure this one out.

[2022-11-15 18:48] jbphet opened #1355 "Consider using isolates instead of embeddings to handle mixed-direction strings"
While working on an issue related to the testing of dynamic strings (https://github.com/phetsims/chipper/issues/1319), I came across the following information on a [page that describes the RLE unicode character](https://unicode-explorer.com/c/202B#:~:text=The%20%22RIGHT%2DTO%2DLEFT,be%20treated%20as%20directionally%20distinct.):

I know we've run into some problems with embeddings, and I'm wonderi

[2022-11-15 19:37] zepumph commented on #1240
Steps for this issue:

* Create an example in WilderOptionsPatterns (or maybe use one already there) to see that nested optionize calls works well.
* Looks through usages of `\wOptions: \{` in sun and scenery-phet to see if we would want use this is some of those spots to gain more type safety. Looking elsewhere seems good, but there are more than 1000 usages on the project, so we may just want to

[2022-11-15 20:21] zepumph commented on #1240
I have been doing a bit more exploring around this feature. Here is what I've found:

1. All usages found with `fjdksalfjdskl` are not solved by this pattern because they require multiple options calls, since some options are used by defaults to other options (for example `Tandem` for nested components, or see Slider.ts).
2. Ideally this would get rid of all usages of `optionize.*StrictOmit<.*Opti

[2022-11-15 21:36] samreid opened #1356 "Can we speed up type checking by using project references "lite"?"
From https://github.com/phetsims/chipper/issues/1350, there are many referenced issues about type checking in https://github.com/phetsims/chipper/issues/1350#issuecomment-1309022839.  We used to use very fine project references and were surprised to see that things sped up when converting to the monolithic approach. But maybe we should investigate a coarse approach, where there is one "module" for

[2022-11-16 00:47] jbphet commented on #1352
@samreid asked:

A string appears in the translation utility if it is used in the built version of the sim and is not a sub-key of the `a11y` key.

@zepumph said:

I'm not doing anything particular for Greenhouse Effect, I'm just observing that the strings are showing up in Studio, so yes, I think we should generally opt out of instrumenting all a11y strings.  The patch above looks reasonable and

[2022-11-16 03:46] marlitas commented on #1319
With some help from @jbphet (Thanks!), I was able to remove directional unicode from the strings. Halving should now behave properly.

[2022-11-17 04:54] samreid commented on #1354
This patch using swc still took 98683ms

<details>

[code]

</details>

[2022-11-17 19:08] samreid commented on #1355
Nov 17 2022 Dev meeting:

@kathy-phet can you please add some specific examples, that depict the problems?  And make a rough time investment about how difficult/complex to switch over.

@jonathanolson and @jbphet agreed to take a look.  Thanks!

[2022-11-17 20:51] jbphet commented on #1355
Here are two examples from the currently live version of Build a Molecule (v1.0.6).

Persian (locale = fa):

![image](https://user-images.githubusercontent.com/3082831/202555937-83bb4030-e5ea-409a-91d2-31951325430b.png)

Moroccan Arabic (locale = ar_MA):

![image](https://user-images.githubusercontent.com/3082831/202555721-4870c1dc-33d9-4ebd-9cea-f0802825947d.png)

In both of these examples, the c

[2022-11-17 20:55] jbphet commented on #1355
Here is a related issue about this problem in BAM specifically.  I'm putting it here to make sure these two are linked: https://github.com/phetsims/build-a-molecule/issues/220.

[2022-11-17 21:19] jbphet opened #1357 "Should we use ppb instead of ppm for some of the concentration values?"
As of this writing, the concentration display looks like this:

![image](https://user-images.githubusercontent.com/3082831/202560704-170430e0-e886-45f2-a60d-8597dd8d3166.png)

During the 11/16/2022 design meeting Mark N pointed out that using ppm for the CH<sub>4</sub> and the N<sub>2</sub>O concentrations is pretty unconventional, and it's more common to see these described in ppb (parts per bill

[2022-11-17 22:08] jonathanolson commented on #1044
Reopening, likely I'll need to maintenance patch this in.

[2022-11-18 00:15] samreid commented on #1354
I discovered this outputs code that is not compatible with out string discovery. Builds were failing with

[code]

[2022-11-18 00:19] pixelzoom commented on #1319
Unassigning. Let me know when this is ready for another review or test-drive.

[2022-11-18 14:53] samreid commented on #1350
Not sure what else to do about this issue at the moment, @zepumph or @AgustinVallejo do you recommend further changes?  Want to meet again?  Check in with dev team?

[2022-11-18 18:13] samreid opened #1358 "Out of memory error during type checking"
@jbphet reported:

`tsc-absolute` is failing with the message

We also saw the same problem with `tsc` (without tsc-absolute).

<details>

[code]

</details>

[2022-11-18 19:05] samreid commented on #1354
Performance test on my Windows.  3m22s to do a full transpile using babel.

[2022-11-18 19:07] jbphet commented on #1358
@samreid, @marlitas, and I are trying some things to see if we can figure out why I'm experiencing the problem and they are not.  I'm the only one on Windows, so that might be related.  Here are some things that we've learned:

- I had a newer version of Node JS - version 18.12.0 - so I downgraded to the version that @samreid had, which was 16.13.1.  I tried running `absolute-tsc.js` from IntelliJ

[2022-11-18 19:13] samreid commented on #1358
To set the max old space size for every time `export NODE_OPTIONS=--max_old_space_size=4096`.  Self-unassigning.

[2022-11-18 19:29] jbphet commented on #1358
In Windows, I used the Setting app to add `NODE_OPTIONS` as an environment variable and set the value to `--max_old_space_size=4096`.  After restarting IntelliJ, I'm now able to use `absolute-tsc` again without it crashing.

I'll unassign everyone and mark it for discussion at the next dev meeting as a PSA.

[2022-11-18 21:11] samreid commented on #1352
I committed a proposed fix, @jbphet can you please review?

[2022-11-18 21:22] samreid commented on #1356
Project references requires changing ` "noEmit": true` to ` "noEmit": false`. When I did that, I also changed to `"emitDeclarationOnly": true,`.  However, now there are `Found 9842 errors in 68 files.` for all our mixins, like:

[code]

[2022-11-18 22:01] samreid commented on #1356
In process investigation:

<details>

[code]

</details>

[2022-11-18 22:23] samreid commented on #1356
More progress:

<details>

[code]

</details>

[2022-11-19 03:09] samreid commented on #1301
I'm always getting false positives, so I made it always update the index.  But should we only update the index for repos that detect changes, to identify false positives?

[2022-11-19 14:12] samreid commented on #1301
I switched to a 2-phase process, where only the repos with changes detected are scanned for false positives.  This speeds things up. I left in console logging to help us understand when this guards us, since it is difficult to trigger this problem reliably.  I tried the instructions above but for some reason it wasn't triggering the false positive.

[2022-11-21 19:39] AgustinVallejo commented on #1350
No comments from me! I think it's ready for dev team

[2022-11-21 21:57] jbphet commented on #1352
I just tested out the change using the master version of greenhouse-effect, and while all the sim-specific a11y strings appear to be gone, the common-code ones are still there.  Please have a look at the screenshot below.  Looking at the code change, I can see why this is the case.  @samreid - I'm thinking that *all* a11y strings should be removed.  Do you agree?

![image](https://user-images.gith

[2022-11-22 00:42] zepumph commented on #1352
Sorry I let this slide, but @jbphet's comment is exactly why I recommend leaving it general, and NOT including the sim name. Something like `.a11y.` will cover all repos.

[2022-11-22 00:52] zepumph commented on #1350
I think it would be awesome to meet again together in the next week or two, and perhaps work on another part of the speed up potential. Running things in parallel is working well for me so far, but I haven't made many commits in the last week, so I would like more data still.

[2022-11-22 03:34] samreid commented on #1352
I removed the rest of the a11y strings based on @zepumph recommendation, @jbphet can you please review?

[2022-11-22 18:07] marlitas commented on #1356
We did progress and next need to create types for mixins:

<details>

[code]
</details>

[2022-11-22 21:48] jbphet commented on #1352
The commits look good, and I checked the behavior using Greenhouse Effect in Studio and didn't see any a11y strings.  Thanks.

I now better understand the need for generality, though I'm still a bit concerned that there could be a legitimate string with ".a11y." in it that *isn't* part of the subset of accessibility strings.  I suppose that's pretty unlikely, so I'm cool with not worrying about it

[2022-11-22 21:48] #1352 closed

[2022-11-23 00:13] pixelzoom commented on #1350
Can we please get the duplicate error messages fixed, reported 12 days ago in https://github.com/phetsims/chipper/issues/1350#issuecomment-1310608107?  It's not only annoying, but it's actually making me miss errors.

[2022-11-23 00:15] pixelzoom opened #1359 "Precommit hooks print duplicate error message."
Reported in https://github.com/phetsims/chipper/issues/1350#issuecomment-1310608107 12 days ago. It's partially fixed but still some problems.

Slack#developer:

@pixelzoom:
I noticed that there were some changes to git hooks today. When I encounter errors, I’m now seeing duplicate errors in WebStorm console, for example see below.  Is it possible that something is being run twice?

/Users/cmalley

[2022-11-23 00:18] kathy-phet commented on #1359
@pixelzoom - It looks like @samreid posted a commit to address this issue, but maybe it is not working for you?

[2022-11-23 00:45] pixelzoom commented on #1359
Compare to what I see when running tsc directly.  1 error, 1 message.

[code]

[2022-11-23 00:59] kathy-phet commented on #1359
OK - I fixed the summary above saying partially fixed. @samreid and @zepumph can take another look next week, after the holiday.

[2022-11-23 03:21] samreid commented on #1359
I saw this as well--it seems tsc has a self-printing phase, so the prior fix only fixed other tasks.  I'll take a look at tsc now.

[2022-11-23 03:32] samreid commented on #1359
OK I pushed a fix and it seems better in my testing, @pixelzoom can you please verify?  Please close if all is well.

[2022-11-23 17:08] pixelzoom commented on #1359
Fix tested, much nicer output.  For the example above, I now see:

[code]

Thanks. Closing.

[2022-11-23 17:08] #1359 closed

[2022-11-23 17:16] pixelzoom opened #1360 "`optionize<ProvidedOptions, SelfOptions>` is buggy"
The 2-parameter form of `optionize` seems to have a serious problem.  It's not detecting when defaults are provided for required options.  For example, in gas-properties CollisionCounter.ts:

[code]

In this example, the fields in SelfOptions have accidentally been specified as required, and I've provided default values in the first arg to optionize. With 3-parameters to `optionize`, the default v

[2022-11-24 03:28] jonathanolson commented on #1018
Reopening, since old checkouts are trying to access perennial. Will need to maintenance release to fix.

[2022-11-25 02:42] jonathanolson opened #1361 "build-a-nucleus 1.0 TSC failures"
[code]

It might be running with whatever the system level TSC is. @samreid any thoughts?

I'm going to work around this by a cast in the maintenance release.

[2022-11-25 19:00] zepumph commented on #1350
I added a calendar meeting for 12/9 for 1 hour. Let's touch base then.

[2022-11-25 20:55] zepumph commented on #1301
Ok. I believe that what you are saying is a more nuanced definition of "false positive" in which we look at all stale, un-updated diff-index results, and then update-index on them to ensure they are still correct.

Isn't this only half of the issue though? Couldn't we also be getting false negatives with this approach, in which diff-index returns no changes, and thus it isn't in the list to update

[2022-11-25 21:36] zepumph commented on #1360
At first glance I see that this feature isn't inherently broken, as I can trigger an error with this patch in our wilder examples:

[code]

It looks like in your case, specifying the parent options Type solves things. That said, looking into optionize and the implementation of `HalfOptions`, parent options defaults to `object`, so `Partial<object>` is likely blowing away much of the good logic tha

[2022-11-28 03:42] marlitas commented on #1319
Here's a very messy patch for my own uses to work around pattern strings.

<details>

[code]

</details>

[2022-11-28 17:44] samreid commented on #1361
UPDATE: @marlitas and I investigated further and saw that the package.json used: `"typescript": "^4.7.4",`.  However, running a rm -rf node_modules and a fresh npm install gets 4.9.3.  So it seems the problem was from the caret.  We think it would increase consistency across our team if we get rid of all the carets and tildes.  But we also discussed that is maybe what package-lock.json is supposed

[2022-11-28 17:58] samreid opened #1362 "How do we guarantee that each devs are using the same version of node_modules?"
Today @marlitas and I investigated https://github.com/phetsims/chipper/issues/1361 and were shocked to discover that `npm prune` and `npm install` gave a very different version (4.7.4) than `rm -rf node_modules` and `npm install` (4.9.3).  This led to a major difference in behavior in https://github.com/phetsims/chipper/issues/1361 and we would like to discuss how to get consistent versions across

[2022-11-28 18:02] samreid commented on #1362
Closing as a duplicate of https://github.com/phetsims/chipper/issues/114

[2022-11-28 18:02] #1362 closed

[2022-11-28 18:03] samreid commented on #114
Comments from https://github.com/phetsims/chipper/issues/1362

Today @marlitas and I investigated https://github.com/phetsims/chipper/issues/1361 and were shocked to discover that `npm prune` and `npm install` gave a very different version (4.7.4) than `rm -rf node_modules` and `npm install` (4.9.3).  This led to a major difference in behavior in https://github.com/phetsims/chipper/issues/1361 and

[2022-11-28 21:33] samreid commented on #1018
Sounds like @jonathanolson is on the case for this maintenance fix, so I've updated the assignees.

[2022-11-29 14:01] samreid commented on #1360
I like the idea of using `Record<never,never>`, but I am still able to trigger a case where type checking passes but it shouldn't in this patch:

<details>

[code]

</details>

Note that making one of those options required catches the type error, but making both required fails to catch the type error.

I'll open an issue in chipper about adding a "this should fail type checking" harness.

[2022-11-29 14:05] samreid opened #1363 "Use @ts-expect-error instead of @ts-ignore"
From https://github.com/phetsims/chipper/issues/1360 @zepumph said:

We can probably add a new source root or pattern that can be:
* excluded by the IDE
* excluded by our primary tsconfig coverage
* have a separate tsconfig
* add process entry points (scripts or mains)
* also check during a grunt build probably
* add coverage on CT

We could have used this several times before, but also it seems l

[2022-11-29 17:04] samreid opened #1364 "Upgrade to TypeScript 4.9"
TypeScript 4.9 was recently released and it would be good to upgrade to use it.

[2022-11-29 17:16] samreid commented on #1364
@marlitas and I observed new type errors caught by 4.9.3.  One was introduced in 331833d8ce02ee5db30cfafc537362887ad53288 when the RewardDialog star node options were moved to be nested, but RewardDialog defaults weren't updated at the same time.

We'll push a correction.

[2022-11-29 17:25] samreid commented on #1364
We messaged slack dev-public:

Closing.

[2022-11-29 23:28] jonathanolson commented on #1361
Using `~` looks better here, since it wouldn't bump the minor version. It makes sense to bump maintenance versions in case there is a security update. It seems critical to move off of `^` for typescript in particular, I'll maintenance release that.

[2022-11-30 16:40] samreid commented on #1301
You are right, I had been focusing on the false positives since they waste time.  False negatives take no time at all so weren't worrying me, but they should be worrisome because they would allow you to commit code without passing tests.  So I removed the guard and just refresh the index every time.  It was fast enough now that we know it is necessary. Please review and close if all is well.

[2022-11-30 18:22] zepumph commented on #1301
Perfect thanks

[2022-11-30 18:22] #1301 closed

[2022-11-30 18:28] zepumph commented on #1363
That sounds like quite a nuisance. In my  mind it could be something that would work in our qunit system, or it wouldn't be worth it. Perhaps worth some investigation though. I'm glad to be assigned.

[2022-11-30 18:33] zepumph commented on #1363
Oh. My. Goodness. They already thought of this.

https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-9.html#-ts-expect-error-comments

Used above. Would you like us to PSA about this in dev meeting?