[2013-05-13 15:24] samreid opened #1 "build.sh errors under cygwin"
I thought I'd try running build.sh under Cygwin.  Here are the results:

[code]

Perhaps the line endings `\r` are not compatible with Win?  I'll investigate.

[2013-05-13 16:27] samreid opened #2 "npm errors with package.json"
I am on OSX 10.8.3.

npm install fails for beers-law-lab with this error

[code]

[2013-05-13 19:56] samreid opened #3 "Make i18n work with chipper build"
Apparently almond only supports one require.config call:
https://github.com/jrburke/almond

But we could still use query parameter locale loading + almond if we add a step to the build process that:
1. Strips out the update-locale.js call from the html page
2. Adds config:{locale:'DUMMY_STRING'} to the config.js file
3. runs the normal build process
4. Replaces 'DUMMY_STRING' with `window.phetcomm

[2013-05-13 20:57] #2 closed, assigned to samreid

[2013-05-14 04:31] pixelzoom opened #4 "consolidate redundant version info"
Version id must currently be entered in both version.js and package.json.  And you must handle incrementing it manually in both places.  A next step would be to generate version.js from package.json.

[2013-05-14 19:59] #1 closed, assigned to samreid

[2013-05-14 20:01] samreid opened #5 "build.sh fails under windows bash"
Running under Windows 8 git bash with this version

[code]

gives this error

[code]

[2013-05-20 21:18] jbphet opened #6 "scp problems with deploy-dev.sh"
I found an issue with a deployment (forgot to include sounds as a resource), so I fixed it locally and re-ran the deployment script without updating the version number.  It ended up copying the build dir as a subdir to the deployment dir instead of overwriting the existing deployment.

BTW, CM has looked at this issue and is aware of it.  We tried a quick fix, but that caused other issues.

[2013-05-31 23:12] #5 closed, assigned to nobody

[2013-06-04 03:33] pixelzoom opened #7 "build.sh requires use of double quotes in html file"
build.sh is currently able to fix up the main html file only if you use double quotes. It would be nice if it supported both double and single quotes.

[2013-06-09 02:47] samreid opened #8 "Create a script to help identify new strings"
As we are porting simulations, we are also doing some redesign and introducing some new strings.  This means that we will only have partial translations for sims with new strings.  We need a way of identifying which combinations of sims/languages are missing strings.

[2013-06-14 15:03] #8 closed, assigned to nobody

[2013-06-14 15:04] pixelzoom opened #9 "port shell scripts to JS"
chipper/bin contains shell scripts, written for expediency in Phase 1.  Look at porting some or all of these to JS.   Decide whether to target node or grunt.

[2013-06-18 21:32] pixelzoom opened #10 "identify and remove unused require "imports""

[2013-06-19 00:27] samreid opened #11 "Add splash screen"
Rather than copying the splash screen file in all of our simulations, it makes sense to add it during the build step.  I am currently solving this by adding a base-64 <img> tag during a final 'sed' step, but this is inline and 30,000 characters long.  I looked into moving it to a separate file but my sed/bash kung fu is not strong and I was considering doing this when we move from bash to node.  B

[2013-06-20 19:46] #11 closed, assigned to nobody

[2013-06-21 14:47] samreid opened #12 "Concat and minify all lib/ dependencies"
Our current build process involves deploying a lot of un-minified files in lib/ which will generate extra HTTP requests.  We should concatenate them all and minify.

[2013-06-25 16:07] samreid opened #13 "Add support for building Box2D simulations"
We would like to use Box2D as the dynamics engine for https://github.com/phetsims/john-travoltage and possibly other sims in the future, but chipper jshint fails with these errors:

[code]

[2013-07-18 16:48] pixelzoom opened #14 "build.sh fails because --gruntfile option is broken"
Reported by @samreid.

% build.sh
= Building forces-and-motion-basics 0.0.0-43
= Cleaning ./build
= Creating minified script
grunt-cli: The grunt command line interface. (v0.1.9)

Fatal error: Unable to find local grunt.

If you're seeing this message, either a Gruntfile wasn't found or grunt
hasn't been installed locally to your project. For more information about
installing and configuring grunt

[2013-07-26 22:17] #12 closed, assigned to nobody

[2013-08-02 10:55] samreid opened #15 "Record the chipper sha"
At a meeting yesterday, we discussed adding the SHA for chipper (though it is not a formal sim dependency) so that historical/branched builds can be reproduced.

[2013-08-03 22:38] #15 closed, assigned to pixelzoom

[2013-08-06 22:26] jonathanolson opened #16 "We should have a meta-viewport in the finished HTML"
On mobile devices, the innerWidth/innerHeight depend a lot on the viewport setting. We may be able to get better performance by using something like:

[code]

We should make sure this is set and tested for phase 1

[2013-08-07 06:05] #16 closed, assigned to jonathanolson

[2013-08-20 20:35] samreid opened #17 "Load scripts in the <body> instead of the <head>"
@jonathanolson and I saw some problems like https://github.com/phetsims/forces-and-motion-basics/issues/31 and https://github.com/phetsims/forces-and-motion-basics/issues/17 that might be related to script load order.  @jonathanolson recommended putting the scripts to be the last thing in <body> instead of in <head> to resolve the order issue and make the page load faster.  He said this is unlikel

[2013-08-20 20:40] #17 closed, assigned to nobody

[2013-08-24 04:36] jonathanolson opened #18 "Consider creating source maps"
I added this in the branch https://github.com/phetsims/chipper/tree/source- (accidentally named source- instead of source-maps, sorry).

It creates a 13 MB source map for Molarity, which may be an issue. But look how nice it is to debug (I created an error in the console, not caused by the sim):

![testing-source-maps](https://f.cloud.github.com/assets/480878/1020159/a63e0856-0c76-11e3-9d00-fd82ea

[2013-08-24 04:41] jonathanolson opened #19 "Phase out mergejs in favor of our own concatenation/minification"
It's doing fairly simple concatenation (can be done in node.js/grunt), which should be easy to replace.

But more importantly, it's using the web API for the Closure Compiler, which:
- may disappear or change API in the future, breaking our build process
- is slow, since it calls out to the internet (local closure compiler is faster)
- only uses the WHITESPACE_ONLY optimization level. we want SIMP

[2013-08-28 06:12] jonathanolson opened #20 "Create i18nized versions, replace sim titles with translated titles"
Right now title is left as &nbsp;

[2013-08-28 06:12] jonathanolson opened #21 "Handle screenshots in build process, warn/error if it doesn't exist"

[2013-08-28 06:13] jonathanolson opened #22 "Add a "deployment" flag"
Notable benefits would be hard errors instead of warnings for lack of changes.txt, screenshots, etc., so that we won't miss anything.

[2013-08-28 06:20] #7 closed, assigned to nobody

[2013-08-28 06:20] #20 closed, assigned to jonathanolson

[2013-08-28 06:30] jonathanolson opened #23 "Single HTML file sim builds in the single-file branch"
I've made changes to chipper and joist in the "single-file" branch to support JS/images/etc. all in the HTML file (solves many problems, including offline support, installer ripping, and making sim downloads easier). I've also made tweaks to Molarity and FAMB in their 'single-file' branches to be compatible. It consists of adding a stump Gruntfile, and adding a few new dependencies and an image li

[2013-09-03 16:30] jonathanolson opened #24 "Include dependencies.json info in single-file HTML"

[2013-09-05 01:37] jonathanolson opened #25 "Don't include PxLoader* in single-file build HTML"
It's just not necessary.

[2013-09-09 20:54] samreid opened #26 "cache buster config args shouldn't be deployed"
I checked two simulations on figaro and noticed that the requirejs config cache buster args got deployed with the sim.  I think this means the sims will be non-cacheable by the browser.  Let's discuss.  Perhaps we should add a deployment step (manual or automated) that strips the cache buster?

[2013-09-09 21:24] #26 closed, assigned to nobody

[2013-09-18 20:50] samreid opened #27 "Comply with licensing terms for 3rd party dependencies"
We have been discussing adding license terms to our deployed HTML to comply with licensing terms.  It is not 100% certain what is necessary for compliance.  For instance, MIT says: The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.  However, many downloaded JS files licensed with JS do not contain the permission notice.  O

[2013-09-19 07:03] jonathanolson opened #28 "AST rewriting to strip assertions and other info"
Current docs for ast/chipperRewrite.js (only integrated into single-file branch's build):

[code]

[2013-09-23 16:00] samreid opened #29 "Make it possible to load images from different projects without copying them"
Currently we have to make a deep copy of images to load them in different projects.  For example, the reset all buttons are copied in every project now.  We would like to factor them out, possibly with a requirejs plugin.  The solution that we use should also apply to audio.

[2013-09-25 16:46] samreid opened #30 "Licensing Info"
This ticket is to report on the status of licensing:

PhET HTML5 Simulations use several open source 3rd party libraries.  We have performed the following tasks to comply with the licensing terms:

1. In the published HTML or JavaScript file(s), license headers for each dependency are included.  This provides the following information:
    a. Which 3rd party libraries are included in the compiled

[2013-09-26 19:32] pixelzoom opened #31 "lint'ing should be based on dependencies"
@jonathanolson reported: linting of optional dependencies (BLL for concentration, nitroglycerin for it and BAM, etc.)

This is because the list of repos to lint is currently hardcoded in chipper's Gruntfile.

Until we have time to address this, we'll just add all repos to chipper's Gruntfile.

[2013-09-27 15:15] samreid opened #32 "Determine which 3rd-party licenses should be included in the HTML deliverable"
Base64binary license annotation is added to all html files, even though base64binary is not used in all projects.  Can we automatically identify which sims use that, perhaps through requirejs dependency resolution?  Or add the file as a package.json preload dependency?

[2013-10-03 00:21] samreid opened #33 "Make sure all dependencies captured in dependencies.json"
dependencies.json is created based solely on the phetlibs in the package.json, which could be inaccurate (out of sync with the config.js file).  How can we make sure we capture all of the dependencies accurately without any (or while minimizing) false positives?

[2013-10-04 18:01] pixelzoom opened #34 "revise clean-strings.sh to work with new strings plugin"
clean-strings.sh is still assuming that strings are organized as they were for the requirejs i18n plugin.  revise to look in the new 'strings' directory.

[2013-10-08 00:30] pixelzoom opened #35 "remove debug output from string.js"
Lots of debug output printed to console, looks like these 5 lines for each string loaded:

found url: js/../../beers-law-lab/js/solution?1381192104622 string.js?1381192104622:52
found urlwithout query: js/../../beers-law-lab/js/solution string.js?1381192104622:53
found urlwithoutString: js/../../beers-law-lab/js string.js?1381192104622:54
string path: js/../../beers-law-lab/js/../strings/beers-law

[2013-10-08 00:31] pixelzoom opened #36 "add English fallback to string.js"
Skype 10/7/13:

JB: Hey, should the plugin fall back to English versions for untranslated strings?  Doesn't seem to be doing that in OL.

SR: fallbacks not implemented yet

[2013-10-08 14:58] #35 closed, assigned to samreid

[2013-10-08 15:53] #13 closed, assigned to nobody

[2013-10-09 05:23] #25 closed, assigned to nobody

[2013-10-09 05:25] samreid opened #37 "Simplify and unify image and audio paths"
[code]

With a similar change for audio.  The change is to make it easier to import things, and to make it more symmetrical with the way we load strings.

[2013-10-09 14:31] #27 closed, assigned to samreid

[2013-10-09 21:05] #37 closed, assigned to nobody

[2013-10-11 19:42] #36 closed, assigned to samreid

[2013-10-11 19:52] samreid opened #38 "Isolate strings into a new script"
Instead of inlining strings on a one-by-one basis, create a block of strings which can be inserted in a script tag at the top of the HTML file.  This will allow us to run the build step once and use a small postprocessing step to create all of the language-specific HTML files.  It may also make it easier to supply new translation files to a compiled HTML file in the future.

[2013-10-12 20:40] samreid opened #39 "Build process currently requires 'strings' directory to exist"
Build process currently requires 'strings' directory to exist

[code]

[2013-10-12 20:50] samreid opened #40 "When generating a locale-specific HTML, add a window.phetLocale"
When generating a locale-specific HTML, add a window.phetLocale

[2013-10-13 02:51] #40 closed, assigned to samreid

[2013-10-13 21:25] #14 closed, assigned to pixelzoom

[2013-10-13 21:26] #28 closed, assigned to jonathanolson

[2013-10-13 21:26] #23 closed, assigned to jonathanolson

[2013-10-13 21:30] #19 closed, assigned to jonathanolson

[2013-10-14 22:16] samreid opened #41 "Put all locale code into one script instead of 3 scripts."
Currently the locale generation code is being put into 3 generated script tags like so:

[code]

@jonathanolson suggested to coalesce them.

[2013-10-14 22:23] #38 closed, assigned to samreid

[2013-10-15 16:41] pixelzoom opened #42 "source maps are broken"
JO is not sure why they are broken.

Consider disabling creation of source maps until this is fixed, so that we're not publishing broken source maps.

[2013-10-15 16:42] #18 closed, assigned to jonathanolson

[2013-10-16 10:00] jonathanolson opened #43 "Locale filenames differ from our other sims"
In Java/Flash, we would have sim_zh_CN.ext, whereas we have sim_zh-cn.ext in HTML.

It would make my life easier if things were consistent, but we can discuss good reasons for change.

[2013-10-16 16:20] #43 closed, assigned to samreid

[2013-10-18 02:07] jonathanolson opened #44 "String plugin should use cache buster urlArgs"
See the image plugin for reference. Inconvenient to clear iOS Safari cache just to see string changes.

[2013-10-18 02:08] jonathanolson opened #45 "Audio plugin should use cache buster urlArgs"
The requested URLs should contain '?' + config.urlArgs

[2013-10-22 00:10] jonathanolson opened #46 "Solution for determining sim require.js namespace and title key"
We should be able to determine 'MOLARITY' or 'BAM' for a sim, and the name of its string key (BAM/build-a-molecule.name), and potentially standardize on a format for sim title string keys (and probably screen string keys too?) while considering backwards compatibility with Java/Flash strings for old sims.

Chipper needs to be able to determine the string, so it can place it in the built HTML.

[2013-10-29 16:12] pixelzoom opened #47 "make image plugin synchronous?"
Consider changing the 'image' plugin to make sure the image is present before returning.

Deferred until Phase 3. In the meantime, don't reference an imported image before a type's constructor is called.

[2013-10-31 02:02] #29 closed, assigned to nobody

[2013-11-05 18:26] pixelzoom opened #48 "make checkout-shas ignore the sim repo"
We currently have to do this when publishing out of a branch:
1. git checkout <branch-id>
2. grunt checkout-shas
3. git checkout <branch-id>

We wouldn't need to do step 3 if checkout-shas ignored the sim repo.

[2013-11-05 19:36] samreid opened #49 "During a build for a translated version of the sim, output missing (or all) strings"
During a build for a translated version of the sim, output missing strings in a format that can be delivered to authors.  Or provide all strings so they can all be edited.

[2013-11-05 21:09] #39 closed, assigned to samreid

[2013-11-06 23:00] #46 closed, assigned to jonathanolson

[2013-12-06 19:04] jonathanolson opened #50 "Add flag to Google Analytics message when run embedded"
Probably investigating frame-busting code to detect whether we are in a frame should be done - then we'll either need to trigger a different URL for Google Analytics, or we need to set an extra variable so that we can track this sort of thing.

[2013-12-10 04:55] pixelzoom opened #51 "lint task skips dependencies on other sims"
The chipper lint task is skipping dependencies on the sims. For example, ph-scale-basics is dependent on phet-scale, which is listed in phetLibs in package.json. But ph-scale is not checked when 'grunt lint' is run for ph-scale-basics.

Until this is fixed, the workaround is to manually lint all of your dependencies on other sims before doing a build.

[2014-01-03 18:50] olleicua opened #52 "is there a repo that contains all of these repos?"
According to the README:

[code]

Are there instructions somewhere for cloning all of the dependencies?

[2014-01-06 04:42] #51 closed, assigned to jonathanolson

[2014-01-07 02:27] samreid opened #53 "Investigate image compression utilities such as PNGCrush"
I saw some image compression utilities that may be worth evaluation, such as PNG compressiors like PNGCrush.  How much download size can be spared?  Will much quality be lost?  How much will it complicate our build/delivery process?

[2014-01-08 03:39] samreid opened #54 "I noticed an HTML file a few days ago where all of the copyright headers were broken"
I noticed an HTML file a few days ago where all of the copyright headers were broken, needs investigation.

[2014-01-09 06:11] samreid opened #55 "Update devDependencies for all sims"
I updated sherpa libs in https://github.com/phetsims/sherpa/issues/1 but perhaps we should also update the devDependencies for each sim.  Here are the current versions as coded in ph-scale-basics (a recent sim), with comments for the latest available version.

  "devDependencies": {
    "grunt": "~0.4.1",//0.4.2
    "grunt-requirejs": "~0.4.0",//UP TO DATE
    "grunt-contrib-jshint": "~0.6.4", //0

[2014-02-14 06:36] samreid opened #56 "Add a task/script that clones all git dependencies for a sim"
As mentioned in #52 it is nontrivial to check out a simulation and all of its dependencies.  Let's create a task/script that clones the dependencies as specified in the package.json file for a simulation.  If created as a grunt task, it will need to have the following 3 dependencies already checked out: the simulation, sherpa and chipper.

[2014-02-24 18:45] samreid opened #57 "Investigate bower"
At last week's workshop, it was suggested that we investigate bower to make it easy to check out all of our code (on a sim-by-sim basis).  We should take a look.  This could supercede our own script in #56 and use #52 as an "all-sims" repo.

I think a user should be able to check out a single simulation and all its dependencies (without checking out all of the phet code or even all of the phet com

[2014-03-24 14:34] samreid opened #58 "Speed up pull-all.sh?"
On my development machine, chipper/bin/pull-all.sh takes 2 minutes and IDEA pull all takes 38 seconds.  Could it work any faster if it was parallelized?  Would it be safe to run in parallel?

[2014-03-24 22:28] #3 closed, assigned to jonathanolson

[2014-03-24 22:57] #57 closed, assigned to nobody

[2014-04-18 23:54] pixelzoom opened #59 "'grunt checkout-shas --tomaster=true' moves brand to 'master'"
To publish a sim, you typically do 'grunt checkout-shas', which sets your working copy to the shas indicated in dependencies.json.  After publication, you set your working copy back to master by doing 'grunt checkout-shas --tomaster=true'.

Since we've added the 'brand' repo, there's a fly in the ointment. We generally want to be using the 'phet' branch of brand. But the above process sets it to m

[2014-04-24 22:47] jbphet opened #60 "Add an HTML file with sim embedded in iframe to the build products"
In order to easily test whether iframe embedding works for our simulations, we should publish an html file with the simulation that does this embedding.

[2014-04-25 01:03] #60 closed, assigned to nobody

[2014-04-28 17:27] pixelzoom opened #61 "strings are being cached"
Add 'cache buster args' to string.js, similar to what's done at line 39 of image.js.

[2014-04-28 17:31] #61 closed, assigned to nobody

[2014-04-29 02:21] #44 closed, assigned to jonathanolson

[2014-05-27 22:57] pixelzoom opened #62 "add Gruntfile for all common-code repos"
It's a bit annoying that you can't go to a common-code repo and do 'grunt lint' to check that it passes jshint. You have to go to a sim repo, type 'grunt lint-common', then wait for all common-code repos to be checked.

So we should add a Gruntfile to common-code repos that facilitates (at a minimum) 'grunt lint'.

Suggestions for other things that should be in the common-code Gruntfile?

[2014-05-28 14:40] samreid opened #63 "Automatically generate development-mode html files"
Right now we are copy/pasting and maintaining a lot of html files for sims that are launched in requirejs development mode.  Perhaps at some point we should automate the creation/maintenance of those files so if we need to make changes we can do it in a central point.

[2014-05-29 03:43] jonathanolson opened #64 "Upgrade to Node > v0.8"
Looks like https://github.com/isaacs/minimatch/issues/35 is giving us problems, ran into "npm install" failures on Win/Mac tonight:

[code]

I'd recommend updating node.js or copying over node_modules from a previously-working repo's directory for now. (I have 0.10.28 now).

[2014-05-29 04:33] jonathanolson opened #65 "References break with newer require.js versions"
It seems that if there is a single '/../' after the require.js namespace, it isn't respected, with the latest require.js (2.1.13 from npm). It worked with 2.1.8.

SR initially identified this, and I've applied fixes for kite's parser (was included outside of js/).

[2014-06-12 13:37] #54 closed, assigned to nobody

[2014-07-08 22:22] aaronsamuel137 opened #66 "server argument for deploy-dev"
For some reason I was given permission to deploy to rintintin@colorado.edu instead of spot (I think its an alias since deploying works as expected).

Should we change deploy-dev to take another command line argument for server that defaults to spot?

I don't mind manually changing the server in deploy-dev on my local copy, but I wanted to create an issue in case other new people end up in the same

[2014-07-09 17:26] #66 closed, assigned to nobody

[2014-07-30 07:02] jessegreenberg opened #67 "Fatal Error on git SHA attempt"
While testing grunt on my machine with @samreid we ran into the following error:

Fatal error: ERROR on git SHA attempt: code: ENOENT, signal: undefined with stderr:

where nothing is listed after stderr.  This happened on first run of grunt after installation with npm.  Our temporary git work-around was to comment out all content in nextDependency() and simply call done().

[2014-09-15 16:05] pixelzoom opened #68 "remove minimal-ui from sim.html"
chipper's sim.html template specifies the 'minimal-ui' viewport property. Here's the tag:

[code]

The minimal-ui property was Safari-specific and has been deprecated by Apple (removed in iOS8). Safari 7.0.6 (for example) prints this to the console for all PhET sims:

I recommend that we remove the minimal-ui property.

[2014-09-15 16:12] #68 closed, assigned to pixelzoom

[2014-09-15 16:31] samreid opened #69 "Remove minimal-ui from other projects"
In #68 we removed 'minimal-ui' from the primary chipper template, but it should also be removed from simula-rasa and other sims that declare it in the requriejs html.  I'll do so shortly.

[2014-09-15 16:32] #69 closed, assigned to nobody

[2014-09-24 17:49] jonathanolson opened #70 "Invalid UTF-8 in built files is causing issues in EPUB readers"
Seen warnings in IE before due to this, but I can't find the original issue. Notably:
![ie-utf-failure](https://cloud.githubusercontent.com/assets/480878/4392770/c2c7d352-4411-11e4-8d1a-3ff5faf67a3c.png)

After our build process, the following in Lodash:

[code]

gets turned into:
![lodash-hex](https://cloud.githubusercontent.com/assets/480878/4392742/8b80ac5c-4411-11e4-9cbc-09a5a993d6e8.png)

Not

[2014-09-24 18:24] #70 closed, assigned to jonathanolson

[2014-09-26 22:47] samreid opened #71 "Sims fail to launch about 1/2 the time in RequireJS mode on iOS 8.0.2"
Sims fail to launch in RequireJS mode on iOS 8.0.2.  Noticed this for ESPB, it never gets past the splash screen.  Cannot tether until the new OSX is out (or could use a beta).

Current workaround: try launching your sim multiple times.  Or use a compiled version (I haven't seen the issue there yet).

[2014-10-13 20:40] samreid opened #72 "Add a query parameter to double the strings for i18n testing"
Something I often do during testing in change string.js to double the length of each string, for instance the phrase "Reset All" would become "Reset All:Reset All".  This is a good rule of thumb for handling longer strings for when the sim is translated.  This also tests to see that all strings have been translated-- if you see any strings that appear as a single, they have not been loaded dynamic

[2014-10-29 18:47] samreid opened #73 "Clone active repos fails"
I've tried using the chipper/bin/clone-active-repos.sh, but it fails with this error:

[code]

Can we switch this to use https:// urls instead?  It may fix the problem.

[2014-11-04 19:55] #73 closed, assigned to aaronsamuel137

[2014-11-18 17:51] samreid opened #74 "Get rid of version.js"
We should make it so that the package.json version is the only place the version is located, and becomes accessible to the JS code at runtime.

[2014-11-18 18:08] pixelzoom opened #75 "ensure that dependencies.json gets checked in"
Nothing in the build-&-deploy process ensures that dependencies.json gets checked in. You must remember to do so manually. And it's critical to have that file in order to do a maintenance release (grunt checkout-shas).  The current workaround is to get dependencies.json from spot:dev/html/ if you forgot to check it in.

[2014-12-18 22:48] oliver-phet opened #76 "Out-of-date check for downloaded HTML5 sims"
Currently, if a user runs a .jar file of a sim they downloaded and we have published an update to that sim, the sim will check to see if there is a more recent version available and prompt the user.

We would like this behavior added to HTML5 downloaded sims.

[2015-01-01 23:47] pixelzoom commented on #76
This feature request has little to do with chipper, so it has been relocated to https://github.com/phetsims/joist/issues/189. Closing.

[2015-01-01 23:47] #76 closed

[2015-01-06 18:59] pixelzoom opened #77 "grunt checkout-master"
After doing a deploy from a branch, you need to type this to get all your repos back to master:

It's usually a few months between when I need to do this. And I sometimes (ok, often) get tripped up by the fact that the convention for multi-word arguments is inconsistent ('checkout-shas' vs 'tomaster'). It's also odd to have a 'checkout shas' command where an arg basically says 'ignore the shas'.

[2015-01-06 19:01] pixelzoom commented on #67
@jessegreenberg what is the status of this? Is it still a problem?

[2015-01-06 20:54] pixelzoom commented on #62
All common repos (except scenery, dot, kite) now support 'grunt lint'.

Assigning to @jonathanolson to add support for scenery, dot and kite.

[2015-01-06 21:03] pixelzoom commented on #62
I also didn't do these repos: arch, assert, blast, brand, chronicle, dodecadog, lingo, phet-info, share, shred, together.  Which of these should have a Gruntfile + package.json?

[2015-01-06 21:30] pixelzoom opened #78 "rename grunt tasks for jshint"
In Gruntfile.js, we currently have:

grunt.registerTask( 'lint-common', 'lint all of the common js files', [ 'jshint:commonFiles' ] );
grunt.registerTask( 'lint', 'lint the sim code and the common code', [ 'lint-sim', 'lint-common' ] );

Questions:

(1) Now that we can run this from common-code repositories, 'lint-sim' seems a little wrong. Suggestions on a better name? lint-self? lint-this? lint-

[2015-01-06 21:34] pixelzoom commented on #78
I think there's a bug in lint-common. If do 'lint-common' on a repo that has lint problems, it should report nothing. But it seems to be checking all dependent repos, then checking the 'self' repo.  So there's some work being duplicated in both lint-common and lint (which uses lint-common).

[2015-01-06 21:38] pixelzoom commented on #78
Indeed, there is a bug with how commonFiles is created. It reads phetLibs, but doesn't filter out the current repo name. Here's the code, chipper.Gruntfile line 124:

[code]

[2015-01-07 17:56] samreid commented on #77
I agree `grunt checkout-master` would be much nicer!

[2015-01-07 18:00] samreid commented on #78
Perhaps `lint-project`?  I'm also okay with `lint-self`.

[2015-01-07 18:31] pixelzoom opened #79 "why do sim repos need to be added to both active-sims and active-repos?"
Every sim repo that is in active-sims is also in active-repos, and it seems that this will always be the case.  (If I'm missing something, please describe an exception.) Assuming that this is the case, why do sims have to be included in both files?  It's a tiny bit of hassle, and one more place to introduce human error.

[2015-01-07 19:27] jonathanolson commented on #79
Definitely changeable, but the current reasons are:

1. So that utilities that operate on all repos that should be checked out don't have to combine multiple files and sort.

2. We've added stub repos that can't be built in the past (see bending-light right now), and are only added to active-sims when they can be built (but we still want to update all repos and pull changes).

[2015-01-07 19:35] jonathanolson commented on #62
I'm confused by the request, 'grunt lint' is already available for scenery/kite/dot. Can you clarify?

[2015-01-07 19:43] pixelzoom commented on #62
I said:

@jonathanolson said:

So I took that to mean that 'grunt lint' was not supported by scenery/dot/kite. If the functionality is there, then by all means, close this issue.

[2015-01-07 19:48] jonathanolson commented on #62
'grunt lint-common' isn't supported yet in scenery/kite/dot, is that the part that is desired?

[2015-01-07 20:23] pixelzoom commented on #62
'grunt lint' is sufficient for common-code repos.

[2015-01-07 21:48] jonathanolson commented on #62
Since 'grunt lint' is supported by scenery/kite/dot and the above comment:

I'm closing the issue.

[2015-01-09 16:41] samreid commented on #62
Reopening since I don't think we addressed @pixelzoom question:

[2015-01-10 07:40] jessegreenberg commented on #67
This was never officially resolved, but it is no longer an issue for me since I received a new machine.  I don't know of anyone else experiencing this problem.  Sorry, perhaps I should have closed this a while ago.  Thanks for checking in.

[2015-01-10 08:30] samreid commented on #67
Since we haven't seen this problem elsewhere, I recommend we close the issue.  We can reopen if it occurs again.

[2015-01-10 08:30] #67 closed

[2015-01-12 22:24] pixelzoom commented on #10
It's been almost 19 months since this work was done. It hasn't been reviewed, but I'm going to close it since I'm confident that the issue is addressed.

[2015-01-12 22:24] #10 closed

[2015-01-12 22:25] pixelzoom commented on #22
What is a "deployment" flag?  Do you mean "this is a public version"?  Why do we need a flag, why isn't the version number sufficient? (i.e., it has no dev number).

[2015-01-12 22:26] pixelzoom commented on #24
Are you suggesting that dependency.json should be embedded in the deliverable HTML file?

[2015-01-12 22:27] pixelzoom commented on #30
What work remains to be done on this issue? Or can this be closed?

[2015-01-12 22:29] pixelzoom commented on #31
I don't see any dependencies listed in chipper's Gruntfile, and it is in fact parsing dependencies out of package.json.  So I'm closing this issue, since I believe that it has been resolved.  Feel free to reopen if that's not the case.

[2015-01-12 22:29] #31 closed

[2015-01-12 22:31] pixelzoom commented on #32
It looks like this is begin done by the generateLicenseInfo task in chipper.Gruntfile. It appears to be reading dependencies from package.json.  If I've interpreted that correctly, please close this issue.

[2015-01-12 22:33] pixelzoom commented on #34
clean-strings.sh no longer exists, closing.

[2015-01-12 22:33] #34 closed

[2015-01-13 02:40] samreid commented on #24
I think that is what @jonathanolson was suggesting--that way the dependencies.json cannot get "lost" or separated from the html file it describes.  We may also want to write a tool that can read the dependencies.json file out of an HTML file.

[2015-01-13 02:40] samreid commented on #30
I guess this was a "for your information" issue--looks safe to close.

[2015-01-13 02:40] #30 closed

[2015-01-13 02:44] samreid commented on #32
I'm seeing these lines in the chipper Gruntfile.js

[code]

So this still appears to be a problem.

[2015-01-15 19:32] pixelzoom commented on #77
I did a bit of cleanup, and added a `checkout-master` task. Assigning to @samreid to review.

[2015-01-15 19:38] pixelzoom commented on #59
@samreid Methinks that this is no longer an issue, since we are using a private brand repo, and 3rd parties are using a public brand repo.  Is that correct?

[2015-01-15 19:40] pixelzoom opened #80 "bug in lint-common task"
`grunt lint-common` is supposed to lint a repo's dependencies. But it appears to be also linting the repo itself. There is a bug with how variable commonFiles is created. It reads phetLibs, but doesn't filter out the current repo name. Here's the code, chipper.Gruntfile line 124:

[code]

[2015-01-15 20:01] pixelzoom commented on #78
Now that we can lint common code repos independently of sims, `lint common` seems like something we can drop. How about if we collapse to these 2 tasks? :

`grunt lint`: lints only the current repo

`grunt lint-all`: lints the current repo and all of its dependencies

During daily development, we'll typically be doing `grunt lint`.  `grunt build` will do `'lint-all`, and we may want to check that

[2015-01-15 21:05] samreid commented on #59
Well, brand also has a new 'adapted-from-phet' branch, I think we have that problem again.

[2015-01-15 21:22] pixelzoom opened #81 "collision between query parameters and string keys"
While working on https://github.com/phetsims/molecule-polarity/issues/5 and https://github.com/phetsims/molecule-polarity/issues/7, I encountered some odd behavior. Molecule Polarity has 2 global options, presented to the user as 'dipole direction' and 'surface color'.  Since all global options should be settable via query parameters, it makes sense that those query parameters should be named 'dip

[2015-01-15 21:26] pixelzoom commented on #81
@samreid @jbphet @jonathanolson Where is this feature (overriding strings via query parameters) currently being used?

[2015-01-16 01:31] pixelzoom commented on #59
Why is adapted-from-phet in brand? I thought it was a private repo. Is the plan to make it visible to some people?

[2015-01-16 04:18] samreid commented on #81
The only use case for overriding strings with query parameter is https://github.com/phetsims/lingo/blob/master/lingo_en.html, you can test it at http://localhost:[your-port-here]/lingo/lingo_en.html

[2015-01-16 06:26] samreid commented on #78
Sounds great, I agree with `grunt lint` only linting the repo, and `grunt lint-all` linting the repo and its dependencies.

[2015-01-16 06:26] jonathanolson commented on #78
The proposal sounds fine.

[2015-01-16 17:51] pixelzoom commented on #78
Change completed. PhET and 3rd-party developers notified via email.  Since this was a trivial change, I'm going to close this issue. Feel free to review.

[2015-01-16 17:51] #78 closed

[2015-01-16 19:14] pixelzoom commented on #81
Changes:

Overriding strings is now done via a single 'strings' query parameter, whose format is JSON that is identical to string.json files.

string.js reads the 'strings' query parameter, parses its JSON value, then uses these values to override strings.

lingo has been modified to use the 'strings' query parameter. (I also did some misc cleanup and generalization, so that lingo doesn't have a h

[2015-01-16 19:15] pixelzoom commented on #81
@jbphet please be aware of these changes when you're working on rosetta. If you're planning to specify translated strings via query parameters, you'll need to do so via this new method.

[2015-01-16 19:17] jbphet commented on #81
Got it, thanks.

[2015-01-16 19:26] pixelzoom opened #82 "why does string.js look for '?' in string keys?"
Here's the code in question:

[code]

Under what circumstances would there be a '?' in a string key?

[2015-01-16 19:29] pixelzoom opened #83 "string.js contains code specific to BAM and WOAS"
Here's the code in question:

[code]

Given the fundamental nature of this plugin, having sim-specific code in here is bad. The projects noted above should be changed to follow the proper convention.

[2015-01-16 20:23] pixelzoom commented on #83
I create sim-specific issues for BAM and WOAS. When those are resolved, we can remove this bit of sim-specific code.

[2015-01-16 21:10] pixelzoom commented on #81
@jonathanolson commented via Skype:
[1/16/15, 12:50:49 PM] Jonathan Olson: How do we do JSON-like strings entries via a query parameter without using commas?
[1/16/15, 2:03:25 PM] Jonathan Olson: Commas, slashes and colons are reserved in query components, so we've been trying to avoid using those. See http://stackoverflow.com/questions/2366260/whats-valid-and-whats-not-in-a-uri-query

I replied:

[2015-01-16 21:27] pixelzoom commented on #81
Concern about URI reserved characters has been addressed by using encodeURIComponent to create the 'strings' parameter value, and decodeURIComponent to the value in strings.js.

[2015-01-16 21:27] pixelzoom commented on #81
More Skype discussion with @jonathanolson:

[1/16/15, 2:23:25 PM] Jonathan Olson:  can write it in the issue, but what do people think about:
?string%21MOLECULE_SHAPES%2Foptions.showOuterLonePairs=50&.....
[1/16/15, 2:23:41 PM] Jonathan Olson: decodes to string!MOLECULE_SHAPES/options.showOuterLonePairs=50
[1/16/15, 2:24:14 PM] Jonathan Olson: or is it preferred to have string overrides done in on

[2015-01-16 21:38] pixelzoom commented on #83
phetsims/wave-on-a-string#103 (change WOAS to WAVE_ON_A_STRING) was completed, so I removed 'WOAS'-specific code from string.js.

[2015-01-17 00:04] pixelzoom commented on #83
All sim-specific code has now been removed. Closing.

[2015-01-17 00:04] #83 closed

[2015-01-19 02:55] samreid commented on #59
All brand repos are public.  We are making "adapted from PhET" available to groups that are making minimal modifications to PhET sims.  See https://github.com/phetsims/brand/issues/1

[2015-01-19 04:30] samreid commented on #82
I tested several sims and haven't seen any ? in any of the `name` parameters.  Perhaps it is safe to remove this, since we have a convention that our string keys won't have a question mark in them.

[2015-01-19 04:34] samreid commented on #81
I tried prefixing a query parameter in arch (changing it from ?log to ?phet.arch.log) and I quite liked that.  Perhaps strings should be similarly prefixed?  Something like phet.chipper.strings?  Would make searching easier and reduce the risk of other stringy parameter collision in the future.

[2015-01-19 05:02] samreid opened #84 "window is not defined during build"
[code]

:point_right:

[code]

Perhaps due to changes in npm install dependencies?

[2015-01-19 05:12] samreid commented on #84
Nope, I'm seeing this in older projects (with stale node_modules) as well.

[2015-01-19 05:14] samreid commented on #84
This bug was introduced in 80de24ce458b735436262beab92a81e9e31485e2 when `queryParameterStrings` popped out of the `if ( !config.isBuild ) {` statement.  `window` is only defined for a browser session.

[2015-01-19 05:16] samreid commented on #84
Fixed above, reassigning to @pixelzoom for review.

[2015-01-19 05:26] samreid commented on #77
I did a bit more cleanup above.  Note that projectName parameter was previously broken (so the sim itself was going to a certain sha--not sure if we want that generally).  Reassigning to @pixelzoom for review.

[2015-01-19 18:51] pixelzoom commented on #84
Ah... So that's what the comments "Browser version first" and "For compiler time" (sic) mean? Methinks that needs to be documented better.  Am I'm still not entered clean what the difference is between the 'then' and 'else' blocks. @samreid can you please take a stab at clarifying?

[2015-01-19 19:07] pixelzoom commented on #82
Test for '?' in string keys removed. Closing.

[2015-01-19 19:07] #82 closed

[2015-01-19 19:13] pixelzoom opened #85 "cleanup documentation in string.js plugin"
I'm guessing that string.js conforms to some API, which should be identified in the comment block at the top of the file.

These public functions and their parameters could also benefit from documentation:

[code]

These comments are not at all clear:

These are also a couple of places where if-then-else statements have blank lines before the else. This is not recommended. Better to move the else

[2015-01-19 19:16] pixelzoom commented on #84
Moved documentation issue to https://github.com/phetsims/chipper/issues/85. Closing.

[2015-01-19 19:16] #84 closed

[2015-01-19 19:27] pixelzoom commented on #59
I thought the point of having a separate GitHub account and repo (phetbrand/brand) was to keep PhET logos, etc. out of phetsims/brand.  But now I see PhET logos in the 'adapted-from-phet' branch of phetsims/brand.  If you're going to do that, then why not just move phetbrand/brand to a 'phet' branch of phetsims/brand?

[2015-01-19 19:39] pixelzoom commented on #77
@samreid your commit made it impossible to do `grunt checkout-shas --tomaster=true`. I don't think that's what you intended, since `grunt --help` still describes that as an option.   If you want to get rid of the 'tomaster' option, I'm OK with that, but the doc for the 'checkout-shas' task need to be updated.  And everyone (including 3rd-party developers) needs to be informed of that change.

[2015-01-19 19:47] pixelzoom commented on #77
Let's get rid of the `tomaster` options, I've updated the help for `checkout-shas` to reflect this. There's really no reason to support that options, it complicates the code, and `checkout-master` is more convenient.  If you agree, please notify the other developers and 3rd parties.

I also did a little bit of additional cleanup, as noted in the above commits.

[2015-01-20 02:05] pixelzoom commented on #80
Since we got rid of `grunt lint-common` in #78, this is no longer an issue. Closing.

[2015-01-20 02:05] #80 closed

[2015-01-20 02:47] samreid commented on #81
I tested latest lingo and checked the format for the query strings and everything looks good.  Thanks for updating lingo @pixelzoom!

The only outstanding issue I'm aware of is whether we should change ?strings to ?phet.chipper.strings.  Let's discuss it.

[2015-01-20 07:00] jonathanolson commented on #81
I have a slight preference to just use ?strings (things like ```?phet.scenery.ea&phet.scenery.sceneryLog=Instance&phet.scenery.sceneryStringLog``` instead of ```?ea&sceneryLog=Instance&sceneryStringLog``` starts getting long if we apply it consistently.

If we pull in a library that checks query strings for something we're not namespacing, we may regret not changing earlier.

[2015-01-20 14:21] samreid commented on #59
Based on discussion with @kathy-phet & @ariel-phet the goal was to have successively higher hurdles from "unbranded" to "adapted" to "full PhET logos & branding".  I do not know whether this goal has been met.  Let's discuss this strategy at the next developer meeting (I've added it to the agenda).

[2015-01-20 14:23] samreid commented on #77
Yes, I did intend to remove it, just forgot to remove the --help documentation entry.  I'll review and notify collaborators.

[2015-01-20 14:30] samreid commented on #77
I sent this email to our collaborators:

https://docs.google.com/document/d/1odXkliRagq0zuf1_NdOtQ2BrkC9hwlISnPi2y-dKdrk/edit#bookmark=id.4fiykhwy31vk

grunt checkout-shas --tomaster=true

grunt checkout-master

https://github.com/phetsims/chipper/issues/77#issuecomment-70548725

[2015-01-20 14:37] samreid opened #86 "Fix filenames"
In #77 we discussed the naming of files.  @samreid renamed checkout-shas.js to checkoutShas.js since it is a file.  @pixelzoom renamed it back to checkout-shas.js to make it consistent with the other files.  To be consistent with our other projects we should name all of those auxiliary function files as camel-cased.

[2015-01-20 14:42] samreid commented on #86
Renamed above so that filenames match var usage (as we do for our simulations), reassigning to @pixelzoom for review.

[2015-01-20 14:50] samreid commented on #77
Finished review, just made 2 minor doc fixes above.  Everything else looks good, closing.

[2015-01-20 14:50] #77 closed

[2015-01-20 16:11] samreid commented on #85
Fixed above, reassigning to @pixelzoom for review.

[2015-01-20 16:13] samreid commented on #81
Good point @jonathanolson.  Also, at the OER summit conference, we discovered that iframe embedding is particularly effective for putting sims into other content, even if it means doubly-nested iframes (though not tested on many platforms).  So perhaps it is safe to assume PhET gets a frame all to itself and won't collide with other query parameters.

[2015-01-20 16:31] samreid commented on #85
Snuck in one other improvement above.

[2015-01-20 16:39] pixelzoom commented on #86
I don't see any discussion of file names in #77, and I missed the fact that you renamed checkoutShas (wasn't mentioned in the commit message or any comment).  Camelcase for the .js files is fine. Any reason why we don't use camelcase for the grunt task names too?  This issue claims that "it's typical for task names to use camel case" (but I couldn't verify that claim): https://github.com/stephenha

[2015-01-20 16:40] pixelzoom commented on #85
Looks awesome. Closing.

[2015-01-20 16:40] #85 closed

[2015-01-20 16:43] samreid commented on #86
I don't feel too strongly about this--perhaps good to hear from other developers.  I'll add it to today's meeting agenda.

[2015-01-20 16:43] pixelzoom commented on #81
How does a sim being in an iFrame prevent it from colliding with a query parameter that one of its dependencies uses?

[2015-01-20 16:46] samreid commented on #81
It doesn't protect it from collisions with PhET Sim dependencies.  But it does prevent collision with other sims that embed PhET simulations as an iframe dependency.

Since we get to choose our own dependencies this may be safe enough.

[2015-01-20 17:59] pixelzoom commented on #81
At 1/20/15 dev meeting, we decided to name the query parameter 'strings'.

[2015-01-20 17:59] #81 closed

[2015-01-20 18:16] pixelzoom commented on #86
1/20/15 developer meeting consensus: use camel case for source files, use hyphens for task names. That (coincidentally :) means no changes, so closing this issue.

[2015-01-20 18:16] #86 closed

[2015-01-29 18:43] pixelzoom commented on #75
Rather than handle this in `grunt build`, I modified deploy-dev.sh to add/commit/push dependencies.json. So it gets changed only when you actually do a deploy. (Eventually, I'd like to see deploy-dev.sh replaced by a grunt task, but that's another issue.)

Assigning to @samreid to review, since he's been the only commenter on this issue.

[2015-01-29 18:53] pixelzoom commented on #64
@jonathanolson is this still an issue?

[2015-01-29 18:54] pixelzoom commented on #65
@jonathanolson is this still an issue?

[2015-01-29 18:55] pixelzoom commented on #62
@samreid, I think you created the majority of the repos that don't have a Gruntfile + package.json, so perhaps you can answer the question. Which of these need attention?  arch, assert, blast, brand, chronicle, dodecadog, lingo, phet-info, share, shred, together.

[2015-01-29 19:04] pixelzoom opened #87 "grunt tasks for deploying sims"
We currently have a bash script (deploy-dev.sh) for doing dev deployment. And production deployment is done by manually setting up directories on the server and manually scp'ing files.  It would be nice to have these grunt tasks:

deploy-dev: builds and deploys a sim to spot

deploy-prod: builds and deploys a sim to both spot and figaro

[2015-01-29 19:05] pixelzoom commented on #79
Sounds like not worth the effort to change. I guess we'll just have to remember to keep adding sims to both files. Closing.

[2015-01-29 19:05] #79 closed

[2015-01-29 19:05] pixelzoom commented on #71
@samreid is this still an issue?

[2015-01-30 07:09] samreid commented on #75
The change sets look good.  Let's take it for a test drive.  I ran grunt then deploy-dev. Here is a commit from the deploy-dev:

https://github.com/phetsims/forces-and-motion-basics/commit/26b3ad32b1d59c9d80a7d6ea8f2e66c7f5df8836

I compared the contents of the dependencies.json in github to the one on the server and they were identical.  So everything seems great here.

The one minor issue to dis

[2015-01-30 18:14] #75 closed

[2015-01-30 22:41] pixelzoom opened #88 "sim.html creates an unnecessary global"
Code in question, from sim.html:

[code]

window.phetStringOverrides is used only in the closure, it doesn't need to be a global. Should be using an IIFE with phetStringOverrides as a local var.

[2015-01-30 23:29] pixelzoom commented on #88
Tested with requirejs and built versions of Acid-Base Solutions.  Assigning to @jonathanolson for review.

[2015-01-30 23:51] jonathanolson commented on #88
Looks good. I presume window.phetStrings => window.phet.strings will happen in another issue, closing.

[2015-01-30 23:51] #88 closed

[2015-01-31 19:10] jonathanolson commented on #65
I'd classify it as a "known issue" with require.js where we shouldn't use /../.

[2015-01-31 19:10] #65 closed

[2015-01-31 19:10] jonathanolson commented on #64
Not still an issue.

[2015-01-31 19:10] #64 closed

[2015-02-01 05:51] samreid commented on #62
arch, chronicle, dodecadog, phet-info, share & together do not follow the same requirejs/module pattern as our normal sims, so should not have Gruntfile+package.json (though we may want a way to jshint them and a few other features).  Blast should get these, though.

[2015-02-01 05:53] samreid commented on #62
It looks like Gruntfile and package.json already exist for blast--what is the issue specifically?

[2015-02-01 05:54] samreid commented on #71
I haven't seen this problem for a while, will reopen if rediscovered.

[2015-02-01 05:54] #71 closed

[2015-02-05 02:43] samreid opened #89 "assert not found"
86f31c341e8d72d58b6e371099fdaeafd86dd01c introduced asserts, but I am now getting this exception running a built version:

<exception>: ReferenceError: assert is not defined
message: "assert is not defined"

This is high priority since it means no built sims can be launched until this is fixed.

[2015-02-05 02:44] samreid commented on #89
I've commented out the offending line until we can investigate this further.

[2015-02-05 05:06] jonathanolson opened #90 "window.phetLocale references are breaking"
I believe this was created by chipper, investigating.

[2015-02-05 05:08] jonathanolson commented on #90
Looks like https://github.com/phetsims/chipper/commit/a7da724089d9d299ebe9fe6bbc5871a0d220f9c8 made the change.

We'll presumably now need to access it with:
[code]
since it doesn't look like we have that namespace when running in require.js dev mode.

[2015-02-05 05:20] jonathanolson commented on #90
Should be fixed up now.

[2015-02-05 05:20] #90 closed

[2015-02-05 05:31] jonathanolson commented on #89
Two things:
1. I can't reproduce the problem when uncommenting the line, at least with Molecule Shapes
2. The assertion is not at all needed unless you set window.phet.chipper.strings to something that evaluates to false but can have something assigned to it (e.g. an empty string!).

Since setting window.phet.chipper.strings.get will almost assuredly fail with a hard exception whenever the asserti

[2015-02-05 17:45] pixelzoom commented on #89
I can't reproduce either. What sim are you running?

And I'm wondering why assert is not defined. It should be loaded before this piece of code, where PRELOAD_INLINE_JAVASCRIPT is in the html file.

But if you don't want to investigate further, I agree with @jonathanolson's comment above, ok to remove the assertion.

[2015-02-05 19:53] jonathanolson opened #91 "Remove Google Analytics code for when 3rd party creates a sim"
Decision at the meeting was to keep it in for "adapted by" versions, but presumably we want to flag those in a way we can determine.

[2015-02-06 04:51] samreid commented on #89
Steps to reproduce:
0. uncomment the assert lines in sim template
1. cd forces-and-motion-basics
2. grunt
3. open the built version

receive `<exception>: ReferenceError: assert is not defined`

Trying the same instructions for rpal:  no problem.  Perhaps something buggy with forces-and-motion-basics preload order??

[2015-02-06 04:52] samreid commented on #89
I noticed rpal/package.json has phetLibs: assert  AND preload: ../assert/js/assert.js

Is one of those incorrect?

[2015-02-06 04:57] samreid commented on #89
I found that fpaf was missing an assert.js preload.  After adding it, everything worked properly.  So I decided to resurrect the assert since it helped us find problems like this.  Reassigned to @pixelzoom to discuss the question in the above comment:

[2015-02-06 17:43] pixelzoom commented on #89
dependencies.json is generated from phetLibs in package.json.  And we most certainly want the sha for the `assert` repo in dependencies.json.  So any sim that's *not* including assert in phetLibs is in error.

[2015-02-06 18:47] pixelzoom commented on #62
The issue is that we've been adding Gruntfile to common-code repos so that we can joshing them independently of sims. Some of the grunt tasks (e.g., build) are obviously not appropriate for common-code repos, just don't use those tasks.

So my evaluation is that any repo that has a js/ directory should be jshint-able, and should therefore have a Gruntfile. That includes arch, chronicle, dodecadog,

[2015-02-06 18:51] pixelzoom commented on #62
Case in point... I added Gruntfile to arch, and discovered that it fails jshint.

[2015-02-06 19:02] pixelzoom commented on #62
I added Gruntfile.js and package.json to arch, chronicle, dodecadog, share & together. All of these repos currently fail `grunt lint` (issue created for each repo.)

For arch, chronicle and together, the license is unspecified in the LICENSE file. So I put this in package.json:

@samreid please review.

[2015-02-06 19:24] pixelzoom commented on #62
Also added to phetbrand/brand.

[2015-02-06 19:27] pixelzoom commented on #62
In https://github.com/phetsims/phetcommon/issues/23, we decided to consolidate 'check' scripts into initialize-globals.js and relocate under chipper.  Recommend to put initialize-globals.js under chipper/js, move requirejs-plugins under chipper/js, and add Gruntfile.js and package.json to chipper top-level. Otherwise we can't `grunt lint` any of the JS source in chipper.

[2015-02-06 19:28] pixelzoom commented on #62
We also have grunt tasks (.js) under chipper/grunt that should be lintable.

[2015-02-06 19:45] pixelzoom opened #92 "chipper should be lint-able"
This issue was moved out of https://github.com/phetsims/chipper/issues/62.

chipper contains JS code, and we currently have no build support for linting it. The JS code includes:

• chipper/requirejs-plugins/ -  A quick look at these files shows that they will fail lint. (Hence the 'bug' label for this issue.) Some files are missing 'use strict'.  And there may be other issues that we don't know a

[2015-02-06 19:46] pixelzoom commented on #62
chipper linting issue is moved to https://github.com/phetsims/chipper/issues/92.  So if the other repos look OK, feel free to close this issue.

[2015-02-06 19:50] pixelzoom opened #93 "doc question in audio.js and image.js"
audio.js and image.js both contain this code:

[code]

Is this comment incorrect?  If the path were relative to the sim directory, then it would be `../chipper`.  Perhaps this means relative to the sim's `js/` directory?

Assigning to @samreid because he added the comment.

[2015-02-07 01:58] samreid commented on #89
I think the problem here is solved.  And thanks to the assert statement we will identify sims missing the assert preload.  If we want to make sure all package.json have assert entries for SHAs, perhaps that should be addressed during development of the automatic file generation.

[2015-02-07 01:58] #89 closed

[2015-02-10 21:11] pixelzoom commented on #92
@samreid @jonathanolson @jbphet Does anyone mind if I move all chipper JavaScript files under chipper/js, so that it will be lint-able?

[2015-02-10 21:24] samreid commented on #92
Are you planning to change the *-config.js files for each simulation?  They currently reference: paths like `../../chipper/requirejs-plugins/image`.  Also, have you checked that we have the capability to make all of our chipper JS files lint-free?  There may be external constraints that could make it difficult.

[2015-02-11 05:41] samreid commented on #92
I agree we should try to move things under chipper/js, keeping the directory structure as much as possible.  For instance we will have:

chipper/js/requirejs-plugins/
chipper/js/grunt/
etc.

Like I mentioned above, this will affect all config files, and it is worth briefly checking (by copy/paste to the js directory) that our other js files will have a chance of passing hint.  @pixelzoom feel free

[2015-02-11 05:45] #93 closed

[2015-02-11 05:53] samreid commented on #52
We have created documentation for developers on how to check out and use the libraries:
http://bit.ly/phet-development-overview

Closing.

[2015-02-11 05:53] #52 closed

[2015-02-11 05:56] samreid opened #94 "Add a script that iterates over all active-repos and runs grunt on each"
@jonathanolson provided an awesome "test all sims" feature in:
http://localhost:PORT/joist/tests/test-sims.html

I am wondering if we already have or can create something similar for running grunt on each of our active repos?  Maybe someone with bash kung-fu can tell me an easy way to do this?  @jonathanolson or @pixelzoom do we already have something like this?  Or is it easy to create one?

Once

[2015-02-11 06:07] samreid commented on #94
@jonathanolson said:

[2015-02-11 06:08] samreid commented on #94
@jonathanolson also said he is interested in making the multi-sim tester able to test built sims.

[2015-02-11 06:14] jonathanolson commented on #92
Curiously due to https://github.com/phetsims/build-a-molecule/issues/71, BAM is now linting chipper files under js/. Does it make sense for all sims to have chipper in their dependencies like that?

[2015-02-11 22:05] pixelzoom commented on #92
@samreid asked:

No, I haven't.  But if it's not possible to make some chipper code conform to PhET's jshint standards, I think it would be preferable to specifically disabled warnings (e.g. `/* jshint -W034 */`) rather than skip linting of foundation code.

@jonathanolson asked:

chipper should be lint-able independently of sims or other repos.

[2015-02-11 22:16] pixelzoom commented on #92
@samreid asked:

Yes. Move chipper/requirejs-plugins to chipper/js/requirejs-plugins, and change all sim *-config.js to reflect the new location.

Also proposing to move chipper/grunt to chipper/js/grunt. Then fix paths in chipper/js/grunt/Gruntfile.js, and in all sim top-level Gruntfile.js.

[2015-02-11 22:25] pixelzoom opened #95 "string.js uses eval and fails lint"
string.js fails with this jshint error:

[code]

Is it wise to be using eval?...

Tested by changing line 147 of chipper/grunt/Gruntfile.js to:

then running `grunt lint`.

[2015-02-11 22:26] pixelzoom opened #96 "loadFileAsDataURI.js fails lint"
Tested by changing line 147 of chipper/grunt/Gruntfile.js to:

then running `grunt lint`.

[code]

[2015-02-11 22:30] pixelzoom opened #97 "chipper/grunt/*.js fails lint"
Tested by changing line 147 of chipper/grunt/Gruntfile.js to:

then running `grunt lint`.

[code]

[2015-02-11 22:32] pixelzoom commented on #92
See #95, #96 and #97 for current lint errors in chipper.

[2015-02-11 22:57] pixelzoom opened #98 "treatment of Node fs (File System) module"
Node `fs` (File System) module is sometimes defined, sometimes not. Sometimes referred to as `fs`, sometimes referred to as `global.fs`.  Recommended to handle this consistently, in a manner that passes jshint.

Specifically...

In chipper/grunt/Gruntfile:

[code]

In chipper/grunt/pullAll, it's defined again:

[code]

In chipper/grunt/createSim, it's not defined and causes a lint error (fs undefi

[2015-02-11 22:58] pixelzoom commented on #98
Any reason we can't define `fs` in all files that use it, like this:

[code]

and refer to it everywhere as `fs` ?

[2015-02-11 23:00] pixelzoom commented on #98
Proposal:

(1) Remove this from Gruntfile.js:

[code]

(2) Define `fs` in all files that use it, like this:

[code]

(3) Refer to it everywhere as `fs`.

[2015-02-11 23:21] pixelzoom commented on #95
@jonathanolson said on Skype:

[2015-02-11 23:33] pixelzoom opened #99 "loadFileAsDataURI is duplicated in Gruntfile.js"
Figure out how to load loadFileAsDataURI .js so the duplicate code in Gruntfile.js can be deleted.

[2015-02-11 23:38] pixelzoom opened #100 "address requirejs definition in Gruntfile.js"
From Gruntfile.js:

[code]

[2015-02-11 23:39] pixelzoom opened #101 "Gruntfile is importing from node_modules (eek!)"
From Gruntfile.js:

[code]

[2015-02-11 23:42] jonathanolson commented on #95
Looks like a workaround for JSON.parse when it isn't available. We should instead import the equivalent instead of eval.

[2015-02-11 23:45] jonathanolson commented on #98
It's only used for the Node.js (grunt compile) usage for string plugins, so a top-level ```require( 'fs' )``` is likely to cause failures when executed in the browser (especially since 'fs' won't already be defined and would trigger a compilation error before executing the require).

[2015-02-11 23:48] jonathanolson commented on #101
Agreed as scary, I remember briefly not figuring out a way to share chipper's node_modules. It would be nice to only require "npm install" in chipper, instead of everywhere.

[2015-02-11 23:48] pixelzoom commented on #95
Is there an echo in here? :)

[2015-02-11 23:49] jonathanolson commented on #95
Wow, for some reason I didn't see that note. Definitely an echo.

[2015-02-11 23:51] pixelzoom commented on #96
Fixed and tested various lint issues. And according to https://docs.nodejitsu.com/articles/advanced/buffers/how-to-use-buffers, it should be "new Buffer".

Closing, feel free to review if anyone is inclined.

[2015-02-11 23:51] #96 closed

[2015-02-11 23:54] pixelzoom commented on #98
New proposal:

(1) Define `fs` in non-plugin code:
[code]

(2) Refer to it as `global.fs` in all plugin code.

[2015-02-12 00:11] jonathanolson commented on #98
Sounds acceptable to me.

[2015-02-12 00:18] pixelzoom commented on #97
Down to 2 lint errors. Some questions about these...

Where is '_' being defined before this?
[code]

requirejs is defined but not used anywhere in Gruntfile.js. This is also the subject of #100. Is this vestigial? Or is it actually doing something? If it's doing something, does it need to be assigned to requirejs?
[code]

[2015-02-12 00:34] pixelzoom commented on #97
All lint errors fixed. Closing.

[2015-02-12 00:34] #97 closed

[2015-02-12 00:35] pixelzoom commented on #100
This code was vestigial. Deleted, closing.

[2015-02-12 00:35] #100 closed

[2015-02-12 00:45] pixelzoom commented on #98
Handled in #97. Closing.

[2015-02-12 00:45] #98 closed

[2015-02-12 00:47] pixelzoom commented on #95
What is an equivalent that we can import?

[2015-02-12 00:48] pixelzoom commented on #95
Or is it possible the JSON is in fact always defined, and the eval fallback is unnecessary?

[2015-02-12 00:58] pixelzoom commented on #95
The very same code path that's using this 'var parse' fallback is also doing an explicit call to JSON.parse. So this appears to be unnecessary.  And it runs fine as JSON.parse in both requirejs and build modes.

[2015-02-12 00:59] pixelzoom commented on #95
Removed in https://github.com/phetsims/chipper/commit/6da061128b2ad895a7bc7caa5ecbed80609b97b5. Closing.

[2015-02-12 00:59] #95 closed

[2015-02-12 01:19] pixelzoom commented on #92
Additional JS code discovered in chipper/ast/, and it looks like 3rd-party code that should be in sherpa. On Skype, @jonathanolson said:

[2/11/15, 6:15:33 PM] Jonathan Olson: easier to wipe it out
[2/11/15, 6:15:46 PM] Jonathan Olson: If I need to refer to it in the future, I can check back in revision history (it was an alternative way to stripping out logging/assertions)

[2015-02-12 01:50] pixelzoom commented on #92
Reorganization completed.  Assign to @jonathanolson to review.

[2015-02-12 03:13] jonathanolson commented on #92
Now looks good, closing. Thanks for taking care of it!

[2015-02-12 21:09] samreid commented on #62
No time at the moment to review this, @jonathanolson or @jbphet please feel free to take a look if you wish.

[2015-02-12 21:25] pixelzoom commented on #62
I'm just going to close this. It's been a week or so, and no problems have been reported.

[2015-02-12 21:25] #62 closed

[2015-02-13 21:06] pixelzoom opened #102 "clean up sharing of licenseText between grunt tasks"
This is in chipper.Gruntfile.js.

Task generateLicenseInfo sets licenseText using a closure.

[code]

And then licenseText is used by task simAfterRequirejs (without checking if it's undefined).

The Grunt FAQ has a section on sharing parameters across tasks, see http://gruntjs.com/frequently-asked-questions#how-can-i-share-parameters-across-multiple-tasks.  Using a global or config might be the b

[2015-02-13 21:07] pixelzoom opened #103 "//TODO: finish!"
chipper.Gruntfile.js has this TODO item, added by @jonathanolson in 59c5553.

@jonathanolson can you please clarify what needs to be finished?

[2015-02-13 21:10] pixelzoom commented on #102
The current approach was implemented by @samreid in 4d7c8dd.

[2015-02-13 21:13] #103 closed

[2015-02-13 21:14] jonathanolson commented on #103
Was vestigial, at that commit point it was not fully working. It is working now.

[2015-02-13 21:14] pixelzoom opened #104 "use pkg.license when composing HTML header"
chipper.Gruntfile has this TODO:

[code]

Is there any reason why we need can't use `pkg.license`, instead of hardcoding the license here? That would work for anything that we're building. And `license` is a standard property in nom's package.json.

[2015-02-13 21:23] pixelzoom commented on #104
I took care of this, tested with beers-law-lab build.  The header looks as expected:

[code]

Closing.

[2015-02-13 21:23] #104 closed

[2015-02-13 21:31] pixelzoom opened #105 "verification of required package.json files is missing"
Grunt file requires the presence of various properties (some specific to PhET) in package.json. It reads package.json and confirms the existence of properties here:
[code]

But this is incomplete. It also requires `preload` and `simTitleStringKey`.  Adding `simTitleStringKey` to the above is problematic; it's used in a sim-specific task, is not defined in package.json for common-code repos, and wo

[2015-02-13 21:35] pixelzoom commented on #105
`preload` is also absent from (all?) non-sim package.json.

[2015-02-13 21:46] jonathanolson commented on #105
That is expected, we don't build common repositories like we build sims.

If we want to use the same Gruntfile for handling lots of common-repo tasks, we'll probably need to separate sim-repo-specific code under a check/flag.

[2015-02-13 21:54] pixelzoom opened #106 "remove irrelevant properties from package.json for common-code repos"
`preload` is one. check if there are others (like simTitleStringKey).

[2015-02-13 21:54] pixelzoom commented on #105
Yes, I realize its supposed to be missing.  But in fact, it's not. There are many common-code repos that have preload in package.json. https://github.com/phetsims/chipper/issues/106

[2015-02-13 21:55] pixelzoom commented on #105
All required package.json properties are now verified. Those that are sim-specific are verified only in sim-specific tasks. Closing.

[2015-02-13 21:55] #105 closed

[2015-02-13 22:12] pixelzoom commented on #106
I did this for all common-code repos, but put the wrong issue tag in the commit message.

The only common-code repos that still have `preload` are those that have an associated demo (which can be built like a sim.)

Closing.

[2015-02-13 22:12] #106 closed

[2015-02-13 22:14] pixelzoom commented on #102
I'd also like to see the more complicated grunt tasks moved to external.js files, as has been done with checkoutShas.js. That would discourage using closures to pass information.  And it would make it easier to assemble a Gruntfile for common-code repos that doesn't contain sim-specific tasks.

[2015-02-13 22:18] pixelzoom commented on #101
Is node_modules the only place where we can get uglify?  Why can't we do `require( 'uglify-js' )`, like we're doing for `assert` and `fs`?

[2015-02-13 22:20] jonathanolson commented on #101
uglify-js isn't a built-in node.js API like ```fs``` or ```assert```, so it needs to be installed somewhere (```npm install```)

[2015-02-13 22:22] pixelzoom commented on #101
Replacing this:

with this:

seems to work just fine. What am I missing?...

[2015-02-13 22:22] jonathanolson commented on #101
Not sure, let me check on my end.

[2015-02-13 22:27] jonathanolson commented on #101
If we replace it with ```require( 'uglify-js' )```, I have to have npm-installed both chipper and the sim. Without chipper node_modules:
[code]
without the sim node_modules:
[code]

[2015-02-13 22:28] jonathanolson commented on #101
And our development overview just mentions ```npm install``` on the sim only.

[2015-02-13 22:31] pixelzoom commented on #101
Could we put uglify-js in sherpa, and load it from there like we're doing for lodash?

[2015-02-13 22:32] pixelzoom commented on #101
Btw... I'd also be fine with requiring `npm-install` for both chipper and sim repo.

[2015-02-13 22:45] pixelzoom commented on #101
Note that jshint is being loaded like this, and doesn't require `npm-install` for chipper:

Why can't we do the same for uglify-js?

[2015-02-13 22:47] pixelzoom commented on #101
Ah, sorry, that's loading jshintOptions.js. Never mind...

[2015-02-13 22:50] jonathanolson commented on #101
If you want to look into putting an npm package into sherpa and getting the require() to work out nicely, it's up to you. If we do put npm dependencies in sherpa, I'd recommend doing all of the following so we can run builds without an npm install of any kind:
[code]

I don't anticipate that being clean in any way, since they all have sub-dependencies.

[2015-02-13 22:51] jonathanolson commented on #101
Or would it make sense to just have npm-install for chipper?

[2015-02-13 22:52] pixelzoom opened #107 "preload and phetLibs are parsed multiple times"
This appears 3 times in Gruntfile:

This appears 4 times in Gruntfile:

Why not create these arrays once?

[2015-02-13 22:52] jonathanolson commented on #107
Sounds great to just have them once.

[2015-02-13 23:02] pixelzoom commented on #107
If we have them just once, we'll need to be careful that we don't modify them (which some use sites are currently doing.)

[2015-02-13 23:08] pixelzoom commented on #107
On second thought... If we want to move long grunt task to .js files, it might be better to leave this alone, so we don't have to have global arrays.

[2015-02-13 23:10] pixelzoom opened #108 "move long grunt tasks to .js files"
Gruntfile is getting a little large. It would be nice to move the larger grunt tasks to .js files, as was done for checkoutShas.js, et. al.  This would also discourage passing information between tasks via closures (see #102).

[2015-02-13 23:19] jonathanolson commented on #101
Also on that note, it would solve a lot of my disk-space woes if we only had to npm-install for chipper. node_modules takes a lot of disk space if you have one for every simulation.

[2015-02-14 03:52] samreid commented on #101
That sounds very desirable if it is technically feasible.  So many node_modules directories I keep having to add to "exclude" lists at the moment :(

[2015-02-14 20:41] pixelzoom commented on #101
+1 for investigating "chipper only" npm-install.

[2015-02-23 23:02] pixelzoom opened #109 "new location of Gruntfile.js breaks ability to use checkout-shas"
I ran into this while investigating https://github.com/phetsims/balancing-act/issues/40.

The typical process for doing work on an RC branch of a sim is:
1. Check out the sim branch (e.g., balancing-act '1.0').
2. Run `grunt checkout-shas` to get the correct versions of all dependencies.

Here's what happens:

[code]

`grunt checkout-shas` fails because `../chipper/grunt/Gruntfile.js` moved to `..

[2015-02-24 00:11] jonathanolson commented on #109
It seems that it's the reference in the sim's gruntfile to the chipper gruntfile that is the issue. This would be resolved if from chipper we said "grunt checkout-shas sim-name", no?

[2015-02-24 00:21] pixelzoom commented on #109
Not sure what you're proposing. `grunt checkout-shas` does not recognize any additional arguments. And  `grunt` reads ./Gruntfile.js unless invoked with -f (which I recall had problems).

[2015-02-24 00:22] jonathanolson commented on #109
If you go to a sim dir and run "grunt checkout-shas" like it is now, yes, no arguments. If you go to chipper as proposed and run "grunt checkout-shas" there, it needs to know what sim you are talking about.

[2015-02-24 00:24] jonathanolson commented on #109
(Then when run from chipper, it doesn't break when you check out different sim shas, since it doesn't need the reference from the sim's gruntfile)

[2015-02-24 00:31] pixelzoom commented on #109
I still don't see how that solves the problem. You need a specific version of chipper to build the sim, as specified in dependencies.json.  But you need that specific version of chipper to checkout chipper itself.

[2015-02-24 02:17] jonathanolson commented on #109
This seems quite false to me. I believe you're saying that the way we have things set up currently, you need a specific sim version that matches the chipper version to checkout the chipper version.

By tossing the need for the sim's gruntfile to point properly to the chipper one, chipper master (HEAD) should be able to check out any chipper version. I'd be happy to make the modifications to do thi

[2015-02-24 03:50] jonathanolson opened #110 "Move parts of initialize-globals to Joist"
There are some parts (notably enabling assertions, iframe comminucation bits and checking if the sim is a production sim) that would be better served by moving to Joist.

Scenery/Kite/Dot would likely to rely on initialize-globals for their config files, but this is impossible due to the sim-initialization-specific parts contained, along with other notes (see https://github.com/phetsims/scenery/is

[2015-02-24 17:25] pixelzoom commented on #48
This was done, can't find the issue.

[2015-02-24 17:25] #48 closed

[2015-02-24 17:26] pixelzoom commented on #74
Related to https://github.com/phetsims/chipper/issues/4

[2015-02-24 17:29] pixelzoom commented on #33
At 2/24/15 dev meeting, @jonathanolson said:

[2015-02-24 17:47] pixelzoom opened #111 "mipmap plugin"
From 2/24/15 dev meeting:

Create a mipmap plugin, with option to specify how many levels to generate. What it returns should work with scenery.Image.

Some possible syntaxes (we should look at other "standards" for plugin syntax):

[code]

[2015-02-24 18:24] pixelzoom commented on #109
2/25/2015 dev meeting notes:

SR: sounds good to me
JB: tag published versions, eg ‘1.0.1’
grunt checkout reactants-products-and-leftovers master
grunt checkout reactants-products-and-leftovers <branch>
grunt checkout reactants-products-and-leftovers <tag>
grunt checkout reactants-products-and-leftovers <sha>
http://phet.colorado.edu/sims/html/molarity/1.0.0/shas.txt
Consensus: defer until we need

[2015-02-24 19:46] jonathanolson commented on #111
There seem to be two require.js plugins embedding extra options in the require statements (most accept global options via the config file, which is probably unsuitable):
https://github.com/millermedeiros/requirejs-plugins uses requires like:
goog!visualization,1,packages:[corechart,geochart]
https://github.com/gamtiq/amd-proc-plugin uses requires like:
proc!json!some/folder/data.json!value^path.to

[2015-02-24 19:51] pixelzoom commented on #111
+1

[2015-02-24 20:06] samreid commented on #111
Looks good @jonathanolson

[2015-02-26 19:39] #99 closed

[2015-02-26 19:42] jonathanolson opened #112 "window.phetImages should be changed to use window.phet namespace"
It's used in Joist and our image/mipmap plugins to ensure all images are loaded before we launch the simulation.

[2015-02-26 22:27] aaronsamuel137 opened #113 "new grunt task for creating thumbnail and screenshot images"
I am thinking of adding a new grunt task to chipper's Gruntfile. My plan is to call it image-resize.

It relies on a grunt plugin called grunt-image-resize (https://github.com/excellenteasy/grunt-image-resize) and having imagemagick installed on your computer. I think it would require changing all of the package.json files to include:

[code]

Running grunt image-resize would create two downscaled

[2015-02-27 00:17] jonathanolson commented on #113
I've worked to make it so native dependencies aren't required so far in the build, since it makes the process to get started much more complicated. Instead of just saying:

node.js, git and then install grunt-cli (using npm)

it would be:

node.js, git, grunt-cli, decide between (and install) MinGW / Cygwin (which is a much more complicated process on windows), set up the package and get executabl

[2015-02-27 00:58] jonathanolson commented on #111
Chrome desktop for Balancing Act require.js: 2 seconds. With all mipmapped: 2.5 seconds. With buildCompatible mipmaps: 7 seconds.

Firefox desktop for Balancing Act require.js: 4 seconds. With all mipmapped: 4 seconds. WIth buildCompatible mipmaps: 5 seconds.

Basically, Firefox is much faster at manipulating pixel data, but slower at other things.

Will have data on built versions soon.

[2015-02-27 21:02] samreid commented on #113
I agree with @jonathanolson

[2015-02-27 22:45] pixelzoom commented on #113
+1

[2015-02-28 19:35] aaronsamuel137 commented on #113
Sounds good. I agree that having an external dependency is a bad idea. I can go ahead and implement with lwip if that seems like a good idea to everyone. Let's discuss details during the next dev meeting.

[2015-02-28 20:43] jonathanolson commented on #111
Implementation and documentation complete. @samreid or @pixelzoom, let me know if you would like to review.

[2015-02-28 21:18] pixelzoom commented on #111
Self assigned, I'll take a peek sometime next week.

[2015-03-01 01:08] jonathanolson commented on #113
Sounds good to discuss. Also I saw lwip after just a few seconds of Googling, I'm not saying it's the specific one we should use (but looks like something promising).

[2015-03-01 15:41] samreid commented on #72
@aaronsamuel137 do you have time to investigate this?

[2015-03-01 20:00] aaronsamuel137 commented on #72
OK I've given this a shot. It seems to work both in requirejs mode and after being built. And I've eliminated some of the duplicate code. Assigning to @samreid for review.

[2015-03-01 21:33] samreid commented on #72
@aaronsamuel137 this looks pretty great, nice work!  In my review, I noticed that mapString is defined as a global function (both in mapString.js and when inlined into the html), is that correct?  If true, could it be either made non-global (preferable) or namespaced under phet.chipper or equivalent?

[2015-03-01 22:24] aaronsamuel137 commented on #72
Good point. I have made it non-global in require-js mode and namespaced it under window.phet.chipper.mapStrings in build mode. Assigning to @samreid for review.

[2015-03-02 04:14] samreid commented on #72
Thanks, this is good.  The other thing I noticed is that it looks like it is using Function.toString in order to get the source code into the html in this line:

[code]
Since I am unfamiliar with Function.toString, I'm not sure if the behavior is normalized across platforms, and guaranteed not to change in the future.  Is there a specification that guarantees Function.toString will be safe everywh

[2015-03-02 04:19] samreid commented on #72
MDN report Function.toString is a standard and supplied on all of the platforms they report for.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/toString

Perhaps this is OK?  But I'm curious if you can think of other ways to get the source to the RequireJS mode and to the HTML without duplicating it.  If not, then we can stick with Function.toString.

[2015-03-02 04:35] samreid commented on #111
Thank you @pixelzoom

[2015-03-02 16:26] jonathanolson commented on #72
It sounds like it makes sense to preload that file instead of toString()ing it?

[2015-03-02 16:42] samreid commented on #72
Perhaps add it to initializeGlobals.js?

[2015-03-02 16:48] jonathanolson commented on #92
Linting build-a-molecule (includes chipper in dependencies) or chipper is still the only way to catch failures (at least for the js/requirejs-plugins/), as linting other sims skips over lint failures for those files.

I'd presume we would want to catch these when running 'lint-all' in sims? Reopening.

[2015-03-02 16:49] samreid commented on #72
moving it to initializeGlobals sounds like a good plan to me, thanks @jonathanolson.

[2015-03-02 17:18] aaronsamuel137 commented on #72
I've moved to mapString to initialize-globals, which eliminates the need to toString(). Assigning to @samreid for review.

[2015-03-02 19:08] pixelzoom commented on #92
Many (most?) sims omit `chipper` from `phetLibs` in package.json, assuming that it is automatically added. But this is not the case.`chipper` is automatically added to phetLibs by some grunt tasks. Eg, for the `simAfterRequirejs` task in Grunfile.js:

[code]

It's not currently added for the lint-related tasks.

Options:
(1) Require all sims to add chipper to package.json
(2) Automatically add chi

[2015-03-02 19:27] jonathanolson commented on #92
I still prefer having chipper included in the dependencies, since we could use that dependency list in the future to automatically check out all repos needed (or other tasks of a similar nature). ("chipper IS a dependency").

[2015-03-02 19:55] pixelzoom commented on #92
@jonathanolson wrote:

Unclear (to me anyway) what you're saying. It is included in dependencies, albeit automatically and only in some cases, and is automatically added to dependencies.json. Are you saying you prefer to have it explicitly included in `phetLibs`?

Proposal: Remove special treatment of chipper from Gruntfile, require it to be specified in package.json `phetLibs`.

[2015-03-02 19:56] jonathanolson commented on #92
I prefer it explicitly in phetLibs.

[2015-03-02 21:53] jonathanolson opened #114 "Pin npm-installed dependency versions"
Right now, npm installing at different times will change how our build process works, and may cause changes in how sims are built.

We should figure out a way of using https://docs.npmjs.com/cli/shrinkwrap so that this does not happen.

As noted in Skype:

I just "npm installed", and I got grunt 0.4.5 (published May 2014) which itself got eventemitter 0.4.14 (published June 2014), BECAUSE grunt's

[2015-03-02 22:31] jonathanolson opened #115 "Clean up and document async callbacks and processes in Gruntfile"
It's quite messy.

[2015-03-02 22:33] pixelzoom commented on #115
Related issues:
https://github.com/phetsims/chipper/issues/108
https://github.com/phetsims/chipper/issues/107
https://github.com/phetsims/chipper/issues/102

[2015-03-03 00:49] pixelzoom commented on #72
One of the options for the `stringTest` query parameter is `empty`, which sets all strings to ''.  I understand the described use of this - to identify strings that haven't been localized. But in practice it is causing runtime errors (specifically with layout code), and assertion failures when combined with the `ea` query parameter. To demonstrate the failures, try it with states-of-matter.  So I

[2015-03-03 04:13] samreid commented on #72
I am already getting ?ea exceptions in states of matter basics without a stringTest query parameter:

[code]

When I tried FAMB with ?ea&stringTest=empty and didn't see any layout assertions.  Still, I think this feature can be emulated with ?stringTest=%20 so I am OK to drop stringTest=empty.

[2015-03-03 04:17] samreid commented on #72
I removed stringTest=empty above, and added documentation.  I'm looking for a better name than `mapString` for this function.  If anyone has ideas, please let me know.

[2015-03-03 15:56] jbphet commented on #72
The assertion that you were seeing for SOM is unrelated to strings, see https://github.com/phetsims/states-of-matter/issues/52.  The issue should now be resolved.

[2015-03-03 16:08] pixelzoom commented on #72
@samreid wrote:

You wouldn't see them with 'ea', since the sim was failing immediately on startup (due to a sim-specific bug apparently).  Layout asserts were occurring in the 3rd screen - they were complaining that some aspect of scenery.Rectangle was NaN.

[2015-03-03 16:38] jonathanolson commented on #111
Balancing Act, loaded from what is presumably a cached version with the iPad 3:
No mipmaps: ~5 seconds, 1,498,473 bytes
All mipmaps, default levels (0-4): ~5.5 seconds, 2,039,949 bytes
No images (won't run): 1,014,433 bytes

[2015-03-03 16:39] jonathanolson commented on #111
Above comment was typed in 3 days ago, and I forgot to hit "Comment".

[2015-03-04 02:41] aaronsamuel137 commented on #113
I looked into implementing this with the jimp module. It seems to work as expected half of the time, but the other half it just creates an empty image file. I haven't found any explainable reason why this might be, so I have made an issue in the jimp repo. I'll put this on hold for a bit until I hear back.

[2015-03-04 18:48] samreid commented on #72
I finished looking at mapString and its usage sites, and everything seems good. Nice work @aaronsamuel137, closing.

[2015-03-04 18:48] #72 closed

[2015-03-05 00:22] pixelzoom commented on #92
This is done. chipper was added to phetLibs in all package.json, and special handling of chipper was removed from chipper/js/grunt/Gruntfle.js.

[2015-03-05 00:22] #92 closed

[2015-03-09 23:34] pixelzoom commented on #111
Looks good. Very nice documentation. Closing.

[2015-03-09 23:34] #111 closed

[2015-03-10 15:21] pixelzoom opened #116 "string utilities needed"
There are several similar implementations of string replacement in chipper:

[code]

And there is also string replacement in other repos, for example:

[code]

So it seems like we need to extract out of an API for common string-replacement functions.

[2015-03-12 04:14] samreid opened #117 "preload and phetLibs should be multiple entries rather than a space delimited string"
Preload and phetLibs lines are too long to manage as a single space delimited string.  For instance, here is a current preload line (weighing in at 300+ columns):

[code]

Having these entries be so far off the page with no option that I am aware of for line breaks within json, (see http://stackoverflow.com/questions/2392766/multiline-strings-in-json ) makes it difficult to read and understand wha

[2015-03-12 15:10] jonathanolson commented on #117
Sounds good to me.

[2015-03-12 16:07] pixelzoom commented on #117
Questions:

What doe you mean by "multiple entries"? Do you mean duplicate "phetLibs" and "preload" keys?

Rather than multiple keys, why not change these values to string arrays, so that they can be split across multiple lines? That would also eliminate the need to be doing ` pkg.preload.split( ' ' )` over and over. And would be a much easier change to make across build tools.

[2015-03-12 16:09] samreid commented on #117
No.  The entries are the individual path or library elements in each of the phetLibs and preload strings.  For instance, in the "preload" example 2 comments above, there are 11 preload entries.

Yes, that was the first option I suggested when I said "Instead preload and phetLibs should use arrays ..."

[2015-03-12 16:13] pixelzoom commented on #117
+1 for arrays of {string}.

[2015-03-12 16:14] pixelzoom commented on #117
@samreid you said:

I'm familiar with the build tools usages. Where are phetLibs and preload used in sims?  Just trying to get a feel for whether I want to volunteer to do this :)

[2015-03-12 16:15] samreid commented on #117
This only means changing the package.json files.

[2015-03-12 16:15] pixelzoom commented on #117
Everyone OK with arrays of {string} for phetLibs and preloads? If so, I'll take care of this.

[2015-03-12 16:17] samreid commented on #117
Before diving in to do all of them, can you prepare an example from a single simulation's package.json so we can take a look, test it in our IDE formatter, etc and make sure we are happy with everything?

[2015-03-12 16:18] pixelzoom commented on #117
Example:

[code]

[2015-03-12 16:21] pixelzoom commented on #117
I may also move simTitleStringKey and license closer to the top of package.json, perhaps immediate after version.

[2015-03-12 16:23] samreid commented on #117
This looks great and my formatter loves it.

+1 for moving `simTitleStringKey` and `license` closer to the top of package.json

Let's get +1 from other developers before moving forward.

[2015-03-12 16:24] pixelzoom commented on #117
@jonathanolson @jbphet @aaronsamuel137 please cast your vote.

[2015-03-12 16:40] aaronsamuel137 commented on #117
+1 for arrays of {string}
+1 for moving ```simTitleStringKey``` and ```license``` closer to the top.

[2015-03-12 16:42] samreid commented on #117
Perhaps before & after making this kind of change, we should post to https://groups.google.com/forum/#!forum/developing-interactive-simulations-in-html5 since all people developing with PhET will have to update their chipper when they update their sim code.

[2015-03-12 16:45] pixelzoom opened #118 "clean up generation of dependencies.json"
Entries in dependencies.json are currently in reverse order of phetLibs in package.json, because of this line in function `nextDependency` of Gruntfile:

[2015-03-12 17:26] jbphet commented on #117
+1 for both (using arrays of strings, moving license and simTitleStringKey towards the top).

[2015-03-12 20:20] pixelzoom commented on #117
Changes completed, build-server run to check for breakage, notification posted to Google Group.  Closing.

[2015-03-13 04:51] samreid commented on #117
Did this break jshint:allFiles?  I observed:

[code]

[2015-03-13 14:35] aaronsamuel137 commented on #117
jshint:allFiles seems to be working as expected for me.

[2015-03-13 14:44] pixelzoom commented on #117
I'll have a look.

[2015-03-13 14:55] pixelzoom commented on #117
Seems to be working fine for me. @samreid are you on master? Your output indicates `created license info for 6 dependencies`, mine shows `10 dependencies`.

[code]

[2015-03-13 21:11] samreid commented on #117
It is working for me again, not sure what went wrong before.

[code]

[2015-03-13 21:11] #117 closed

[2015-03-18 21:05] pixelzoom commented on #118
@jonathanolson a question...

This bit of code below is from chipper/js/grunt/Gruntfile.js (line 477). It deals with adding the "comment" field to dependencies.json (the final field added) and writing the file.  It seems out of place in function `postMipmapLoad`.  Is there any reason why it can't live with the rest of the code that generates dependencies.json, in function `nextDependency`?

[code]

[2015-03-20 03:16] jonathanolson commented on #118
No reason, committed the change to put the dependency logic back in a better order.

[2015-03-20 19:03] pixelzoom commented on #118
Thanks @jonathanolson.

[2015-03-20 19:44] pixelzoom commented on #118
dependencies.json is now more human readable. The "comment" is at the top of the file, and the fields are in the same order as phetLib. I also added a check to prevent duplicate field (including "comment").

Closing, feel free to review if anyone is so inclined.

[2015-03-20 19:44] #118 closed

[2015-03-23 01:32] samreid commented on #41
No plans to work on this at the moment, unassigning.

[2015-03-23 19:26] pixelzoom commented on #56
This was pulled out of Gruntfile.js into cloneDependencies.js, and renamed 'clone-dependencies'.

There was some question about whether this task is now vestigial.  @samreid and @jonathanolson said they don't use it.  How about you @jbphet ?

[2015-03-23 21:31] pixelzoom commented on #102
Other tasks were sharing via global.phet (string, localesToBuild, mipmapsToBuild, ...) so I changed generateLicenseInfo to share via global.phet.licenseText.

[2015-03-23 21:31] #102 closed

[2015-03-23 23:40] pixelzoom commented on #108
This is done. All tasks are now in separate .js files, and any sharing is done via global.phet. Gruntfile.js consists of configuration initialization and registration of tasks.

I tested with a few sims, including one that uses mipmap (molecules-and-light).

Anyone want to do a quick review?

[2015-03-23 23:41] pixelzoom commented on #107
Since phetLibs and preload were converted to string arrays, this is no longer an issue. Closing.

[2015-03-23 23:41] #107 closed

[2015-03-23 23:44] pixelzoom commented on #116
afterRequirejsBuild has a couple of other general string utilities: trimWhitespace, padString

[2015-03-23 23:45] pixelzoom commented on #115
After tasks were broken out into .js files, this doesn't feel like it's an issue. Closing.

[2015-03-23 23:45] #115 closed

[2015-03-24 14:38] pixelzoom commented on #6
This will eventually be rewritten as a grunt task (see https://github.com/phetsims/chipper/issues/87), so there are no plans to fix this issue.  Closing.

[2015-03-24 14:38] #6 closed

[2015-03-24 16:18] pixelzoom commented on #113
@aaronsamuel137's work is currently in the "jimp" branch of chipper.

[2015-03-24 17:08] pixelzoom commented on #108
No one time to review, so I'll close this. If any problems occur, please create a new issue.

[2015-03-24 17:08] #108 closed

[2015-03-24 17:33] pixelzoom opened #119 "errors building locale-specific HTML files"
This was the case before doing the Gruntfile overhaul in #108.

`grunt --all-locales true`, for example, results in a lot of errors during the 'requirejs:build' task. Here's the console output for example-sim:

[code]

Note that some of these files are example-sim, some are joist. And the same files are mentioned multiple times.

The build does continue and finishes, there are locale-specific HTML

[2015-03-24 17:34] pixelzoom commented on #119
I see the problem... In task beforeRequirejsBuild, global.phet.localesToBuild is set. For example-sim, its value is [ 'README', 'en', 'fr' ]. The 'README' is the culprit.  Looks like example-sim (and many other repos) have a README.txt file in theirs strings/ directory. The build task assumes that there's nothing in the directory but JSON string files.

[2015-03-24 17:34] pixelzoom commented on #119
The README.txt files originated with simula-rasa. The build task should be smart enough to ignore non-string files, but I don't have time to do that now. So I will delete the README.txt files from simula-rasa and all other sim repos.

[2015-03-24 17:37] pixelzoom commented on #119
OK, that go rid of the error messages related to "README".  Now we just have error messages related to joist.  I guess because the sim has string files for 'en' and 'fr', it's expecting that joist (and other common-code repos?) will also.  I don't think that's a correct expectation.

[2015-03-24 18:04] pixelzoom commented on #119
I tried another sim (beers-law-lab) and it complains about both scenery-phet and joist files, then fails with SyntaxError:

[code]

[2015-03-24 18:08] pixelzoom commented on #119
I'm stumped, not sure what's going on here. Guessing that fallback to English isn't happening properly for common-code strings.

[2015-03-25 14:52] samreid commented on #108
The new Gruntfile.js looks great, nice work @pixelzoom

[2015-03-25 16:41] aaronsamuel137 commented on #113
Jimp branch has been merged to master. The task: ```grunt generate-thumbnails``` will generate two thumbnails: [project name]-128.png (128x84) and [project-name]-600.png (600x394).

There is bug with Jimp that sometimes causes an empty image to be written. @samreid and I looked at this and determined that the bug has been fixed in current master, but has not yet been published to npm. There is an

[2015-03-25 18:59] pixelzoom commented on #108
Thanks @samreid.

[2015-03-25 19:28] pixelzoom commented on #113
@aaronsamuel137 In generateThumbNails, you're disabling a jshint warning:

[code]

Could you please (1) indicate why the warning is being disabled, and (2) turn it back on at the end of the relevant code (otherwise it stays off any may mask legitimate problems.)

Also please add @author to generateThumbNails.js.

[2015-03-25 19:32] pixelzoom commented on #113
I moved registration of the 3 thumbnail tasks to the "Utility" section, which is things that you run manually when you need them,  Things in "Primary" section are part of the primary 'build' task.

[2015-03-25 21:41] aaronsamuel137 commented on #113
I've made these updates. Assigning to @pixelzoom for review.

[2015-03-25 22:19] pixelzoom commented on #113
Whoops, not sure I should have closed this issue. The changes that @aaronsamuel137 asked me to review look great.  But I'm not sure it there's other work to be done.  @aaronsamuel137 if you're done, feel free to close this.

[2015-03-26 23:06] pixelzoom opened #120 "create-sim task generates erroneous README.md"
createSim.js currently generating an erroneous README.md, for example:

[code]

We should either cease generating the README.md in this taks, or run the `generate-unpublished-README` task.

[2015-03-26 23:12] pixelzoom opened #121 "pattern for processing input events"
EnergyLine appears to be attempting to do something with the mouse:

[code]

You'll want to investigate adding an InputListener to your Node, via addInputListener. Examples are in the Scenery documentation, or search for addInputListener in other sim code.  You'll also be dealing with the more general "pointer", which works for desktop and mobile devices, and supports multitouch. "Mouse" is a desk

[2015-03-27 01:31] samreid commented on #121
Is this in the right repo @pixelzoom ?

[2015-03-27 06:03] pixelzoom commented on #121
Whoops, wrong repo. Moved to https://github.com/alecmartin/quantum-bound-states/issues/32.

[2015-03-27 06:03] #121 closed

[2015-03-27 18:28] pixelzoom opened #122 "remove 'overwrite' option to create-sim grunt task"
We decide to remove the 'overwrite' option from the 'create-sim' grunt task.  Here's the Skype discussion:

[3/27/15, 11:59:58 AM] Chris Malley: question about create-sim grunt task... it currently bails if it finds a file that exists and --overwrite=true wasn't specified.  this doesn't seem very useful, because the repo can be in some weird state.  is this ever used in practice? or would it be be

[2015-03-27 18:46] pixelzoom commented on #122
After removing the 'overwrite' option, I immediate found that having to manually remove the dir during debugging is a pain.  So I added a 'clean' option which deletes the dir, and documented that's it's intended to be used during debugging.

[2015-03-27 19:00] #122 closed

[2015-03-27 19:13] pixelzoom commented on #120
No way to easily generate the correct README.md, since you have to do so in the new repo directory. So for now 'create-sim' prints a reminder:

[2015-03-27 19:16] pixelzoom opened #123 "create-sim task tries to coerce sim title from repo name"
The create-sim task attempts to coerce the sim title from the repo name via string replacement. For example:

`circuit-construction-kit` -> 'Circuit Construction Kit'

This works in many cases, but falls apart for "Basics" sims, e.g.:

`circuit-construction-kit-basics` -> 'Circuit Construction Kit Basics'

...where the title should be 'Circuit Construction Kit: Basics'

Add an (optional) --title o

[2015-03-27 19:22] pixelzoom commented on #123
Done, closing.

[2015-03-27 19:22] #123 closed

[2015-03-27 20:30] pixelzoom opened #124 "clean up locale-related options to 'build' task"
Current options, as documented in beforeRequirejsBuild.js:

[code]

[2015-03-27 20:31] pixelzoom commented on #124
Done. Here are the revised options, as documented in beforeRequirejsBuild.js:

[code]

[2015-03-27 20:35] #124 closed

[2015-03-27 20:46] pixelzoom opened #125 "use one approach for logging in grunt tasks"
Some of the grunt tasks use `grunt.log.writeln`, some use `console.log`, and some use both (!).  We should probably standardize on `grunt.log.writeln`.

[2015-03-29 04:10] jonathanolson commented on #125
So presumably if code can also run in the browser, it shouldn't have console.log. I'm fine with the ```grunt.log.writeln```.

[2015-03-29 16:55] aaronsamuel137 commented on #120
Shouldn't this say "grunt generate-unpublished-README"?

[2015-03-30 14:55] pixelzoom commented on #120
@aaronsamuel137 good catch, I'll fix it.

[2015-03-30 16:35] pixelzoom commented on #125
`grunt.log.writeln` is now used for all logging in grunt tasks.  Closing.

[2015-03-30 16:35] #125 closed

[2015-03-30 16:43] pixelzoom commented on #120
Typo corrected.

I'm going to leave it like this for now. That is, after running create-sim, you have to run generate-unpublished-README.  If someone else wants to automatically generate the README as part of the create-sim task, please open a new issue and go for it.

[2015-03-30 16:43] #120 closed

[2015-03-30 16:46] pixelzoom commented on #119
@samreid or @jonathanolson, any idea what might be wrong here?  The SyntaxError in https://github.com/phetsims/chipper/issues/119#issuecomment-85624127 doesn't point to the problem for me, perhaps it does for you.

[2015-03-30 18:45] pixelzoom commented on #113
@aaronsamuel137 you merged the 'jimp' branch into master.  Is there any reason to keep the 'jimp' branch, or can it be deleted?

[2015-03-30 20:00] aaronsamuel137 commented on #113
No reason to keep it. I just deleted it.

[2015-03-30 22:19] pixelzoom commented on #113
@aaronsamuel137 If you haven't done so already, highly recommend to announce the new dependency to the Google Group, instructions to `npm install`, etc. I got bitten by it, so has the student team working on quantum-bound-states.  I'm guessing one of the 3rd-party developers will hit it too.

[2015-03-31 00:38] jonathanolson commented on #119
No errors for me on Linux or Windows. Only trying to build English in concentration/beers-law-lab.

Windows (SHAs from 30 mins ago):
[code]

Linux (fresh pull, ignoring linting errors in beers-law-lab):
[code]

[2015-03-31 01:01] pixelzoom commented on #119
@jonathanolson Options to 'build' were changed, see https://github.com/phetsims/chipper/issues/124, and Skype announcement last Friday.  So what you are testing about is no different than `grunt`.

[2015-03-31 01:02] pixelzoom commented on #119
You'll want to try `grunt --locales=*` to build all locales.  (Lint issues in BLL is fixed, btw.)

[2015-03-31 02:48] pixelzoom opened #126 "branch: arch"
chipper has an `arch` branch.  Can it be deleted? Or is it serving some purpose?

[2015-03-31 03:40] samreid commented on #126
@jbphet created the only commit in that branch, so I will let him comment.

[2015-03-31 04:01] aaronsamuel137 commented on #113
Good point, thanks for the reminder. I have posted to the google group.

[2015-03-31 04:54] jonathanolson commented on #119
Stack trace:
[code]

It looks like this failure initially occurs after attempting to load JOIST/Dialog, even though AboutDialog is listed. However removing the string declarations in AboutDialog causes OptionsDialog to be the one to trigger the error first.

The code eval()'ed for AboutDialog:

[code]

and for Dialog:

[code]

It's also worth noting that during normal builds, NONE of those evals a

[2015-03-31 04:55] jonathanolson commented on #119
Also probably important for debugging, it's occurring in r.js for require.js 2.1.13.

[2015-03-31 05:02] jonathanolson commented on #119
Going to bail on this for now. Manually editing the r.js file under node_modules has been the most helpful, with node-inspector being the second-most useful (stepping through errors after running node-debug causes timeouts for the 'env' module unfortunately).

[2015-03-31 16:36] pixelzoom commented on #119
@jonathanolson thanks for taking a look. I'm also going to bail on this for now, defer until we address build issues for publishing translations.

[2015-03-31 20:12] pixelzoom opened #127 "branch: stem-audio"
Looks like this branch was created by @jbphet circa October 2013.  Please describe or delete.

[2015-04-01 17:11] jbphet commented on #127
This branch was used to test some approaches for loading audio files.  The changes were merged into master, so the branch has been deleted.  Closing.

[2015-04-01 17:11] #127 closed

[2015-04-05 17:44] aaronsamuel137 opened #128 "Build process with new sim pages"
Currently, in order to download html5 sims, we are relying on a .htaccess file in the sim directory on the server:

[code]

This file looks for a ?download query parameter and forces the browser to download the file instead of opening it. It is only needed in the case of browsers that don't support the new html5 "download" attribute.

Right now, there is a bit of a manual process when deploying ht

[2015-04-05 17:52] pixelzoom commented on #128
The entire "production deploy" process is currently manual.  We've been deferring work on this until we address deploying translations.

[2015-04-09 17:05] pixelzoom opened #129 "`grunt create-sim` doesn't adjust copyright date"
simula-rasa (sim template) has .js files with this copyright header:

`// Copyright 2002-2014, University of Colorado Boulder`

When running `grunt create-sim`, we end up with .js files that have the out-of-date header.  createSim.js should be modified to replace the copyright with a current version.

A workaround that would work for the remainder of 2015 is update all .js source files to:

`// Co

[2015-04-09 17:07] pixelzoom commented on #129
Similar copyright in the .html file.

[2015-04-09 17:10] pixelzoom commented on #129
Until this is fixed... I update the copyright to 2015 throughout simula-rasa, so that we're not continuing to create bogus files.

[2015-04-20 18:50] samreid opened #130 "Add a grunt task to build a together.js sim"
Documentation for how to do so manually currently resides in:
https://github.com/phetsims/together/blob/master/doc/publishing-a-sim.md

[2015-04-20 18:51] samreid commented on #130
Step 1 is:

Instead, we should automatically append the package.json preload entries with the required files.

[2015-04-21 09:12] jonathanolson commented on #94
all-build.sh current works. The sim tester (mentioned above) can also run with build-server.js to automatically build and test built versions of every sim.

Is anything else needed?

[2015-04-21 09:20] jonathanolson commented on #119
This was resolved by just recording which strings we'll need to handle while the string plugin is running, and then loading the files in the main build process (which is simpler overall). It's also Babel-compatible (working with Chains/Cadenas), fails on missing English strings, notifies about missing non-English (Babel) string files, and also ensures that all string repo dependencies are listed i

[2015-04-21 15:27] samreid commented on #94
Works great, thanks!  Closing.

[2015-04-21 15:27] #94 closed

[2015-04-21 20:18] pixelzoom commented on #119
Reassigning to @jonathanolson. Fails when specific locales are requested.

% cd chains
% grunt --locales=es
...
Fatal error: Cannot read property 'CHAINS/plainString' of undefined
%

[2015-04-21 22:15] jonathanolson commented on #119
Fixed in changes, it looks like non-English builds still need access to English strings (that aren't fallbacks).

[2015-04-21 22:19] pixelzoom commented on #119
Verified, closing.

[2015-04-21 22:19] #119 closed

[2015-04-22 19:11] jbphet commented on #130
implemented, assigning to @samreid to review

[2015-04-22 19:18] pixelzoom commented on #130
This documentation was added in `grunt.registerTask( 'build',...)`:

This is insufficient, it doesn't describe what it does. See the other examples directly above it.

[2015-04-22 19:20] pixelzoom commented on #130
The assertions below were added to js/grunt/Gruntfile.js. These don't belong in Gruntfile.js.  They belong in the grunt task (.js file) that requires them.

[code]

[2015-04-22 19:21] pixelzoom commented on #130
This block of code was added to js/grunt/Gruntfile.js. It doesn't belong in Gruntfile.js.  It belongs in the grunt task (.js file) that handles the 'together' option.

[code]

[2015-04-22 19:25] pixelzoom commented on #130
This block of code was added to js/grunt/Gruntfile.js. It doesn't belong in Gruntfile.js.  It belongs in afterRequirejsBuild.js, which is where the preloads are injected into the HTML file.

[code]

[2015-04-22 19:26] samreid commented on #130
Well, some of the additional packages have 3rd party license info that needs to get added, so I think this list should be augmented before that step.

[2015-04-22 19:29] pixelzoom commented on #130
To be clear... Gruntfile.js is supposed to be a lightweight container for registering tasks, and I spent a huge amount of time making it so.  It is not supposed to do the lifting.  'together' is irrelevant to many of the other tasks registered, and should be handled in the grunt task (.js) where it is relevant.  If 3rd party licenses need to be augmented, then do so in the appropriate grunt task (

[2015-04-22 19:31] pixelzoom commented on #130
License text is assembled in generateLicenseText.js.  It would be appropriate to check grunt.option( 'together' ) there, then augment the license text as needed.

[2015-04-22 19:32] samreid commented on #130
Sounds good, thanks!

[2015-04-22 19:33] pixelzoom commented on #130
Or create a new grunt task (set-preload?) that augments pkg.preload and add it as an addition step here:

[code]

[2015-04-22 19:34] pixelzoom commented on #130
Or if you think there will be more things required for together, call the new task something with 'together' in the name.

[2015-04-22 19:35] samreid commented on #130
Yes, it will be a suite of several files, so I don't recommend set-preload.

[2015-04-22 20:16] jbphet commented on #130
I've added the brief description of the --together option and fixed a problem with its operation.  I'm a bit reluctant to do the rest of the refactoring until I can work with @pixelzoom on it, lest we go through another round of this.  I'll work with him when he's available to get this into an acceptable state.  Assigning to myself.

[2015-04-23 13:57] pixelzoom opened #131 "modify Java build tools to generate new format of HTML string files"
... as reported in https://github.com/phetsims/babel/issues/3#issuecomment-95499258. Assigning to @jonathanolson since reported the invalidness and is therefore familiar with how it was invalid.

[2015-04-23 13:58] pixelzoom commented on #131
XMLToProperties likely has the same problem.

Both of these files are in chipper/java/.

[2015-04-23 14:02] pixelzoom opened #132 "change build tools to migrate Java translations to babel"
PropertiesToJSON and XMLToJSON live in chipper/grunt/, and they are used to migrate Java translations to HTML5 sims. They currently migrate to the strings/ directory in the sim's repo.  They should be changed to migrate to the sim's directory in babel.

Assigning to @jonathanolson, since it may be easy to address this while doing https://github.com/phetsims/chipper/issues/131.

[2015-04-23 16:18] jonathanolson commented on #131
There were tab chars (0x09) in strings (probably automated, should be fixed how we encode), extra last comma (probably manually caused, just one sim) and missing comma (probably manually caused).

If we're using it for more, I'd make sure that it warns or strips non-space whitespace in string values.

[2015-04-23 18:57] samreid commented on #130
Today @pixelzoom volunteered to factor out preload files (common and together).

[2015-04-23 19:06] pixelzoom commented on #131
Actually... We need to modify PropertiesToJSON and XMLToJSON to generate the new JSON format for our HTML5 string files.   So changing the title of this issue.

[2015-04-23 19:07] pixelzoom commented on #131
@samreid suggested that we run the current PropertiesToJSON and XMLToJSON *now* on all Java and Flash sims, and process the output with the script that @jonathanolson wrote.

[2015-04-23 19:13] pixelzoom commented on #130
Consensus at 4/23/15 developer meeting:

• Remove common preloads out of package.json for all sim.
• Specify only sim-specific preloads in package.json for sims.
• Create something like getPreload.js that gets the list of preloads.  It adds common preloads first, then sim-specific preloads (as specified in package.json), then (if --together option is specified) adds together preloads.
• Call getPr

[2015-04-23 19:15] pixelzoom opened #133 "some grunt tasks shouldn't be tasks"
generateLicenseText should be a utility function that's called where needed. It's not something that would be invoked as a task, and all it currently does is set a global (global.phet.licenseText).

[2015-04-23 19:16] pixelzoom opened #134 "make shell scripts runnable from anywhere"
print-missing-repos.sh has an example of how to determine where the working directory is.

[code]

[2015-04-23 19:28] pixelzoom opened #135 "include dependencies.json in built html file"
... and display in Troubleshooting dialog?

[2015-04-23 19:48] pixelzoom commented on #130
Looks like the common preloads are:

[code]

Is everyone OK with all sims having to use the same versions for the common preloads?

[2015-04-23 19:53] pixelzoom commented on #130
The development html files for sims have a different order of preloads than package.json.  For example:

[code]

I'm going to change the order of the common preloads, so that all sherpa stuff is loaded first. That is:

[code]

[2015-04-27 17:32] pixelzoom commented on #134
Done. I'm assuming that this approach didn't break anything, since (presumably) print-missing-repos.sh was working after @jonathanolson's changes above.

@ariel-phet It would be good to have you test whichever scripts you use, to make sure this didn't break anything.

[2015-04-27 17:34] pixelzoom commented on #134
Scripts that were not appropriate to change:

checkout-branch.sh
deploy-dev.sh
working-snapshot.sh

[2015-04-27 17:44] ariel-phet commented on #134
@pixelzoom - the scripts I use seem to be working fine if from my main directory I use something like

chipper/bin/script-name.sh

[2015-04-27 17:52] pixelzoom opened #136 "delete checkout-branch.sh?"
Does anyone use chipper/bin/checkout-branch.sh? It looks vestigial.

[2015-04-27 17:53] pixelzoom commented on #136
[4/27/15, 11:42:32 AM] Chris Malley: Does anyone use chipper/bin/checkout-branch.sh? It looks vestigial.
[4/27/15, 11:45:44 AM] John Blanco: I use it on occasion out of habit, though I probably shouldn't.  You can blow it away if you like and force me to adapt.
[4/27/15, 11:46:34 AM] Chris Malley: What are you trying to accomplish with checkout-branch.sh? Seems like it doesn't work too well since

[2015-04-27 17:53] pixelzoom opened #137 "delete working-snapshot.sh?"
What is chipper/bin/working-snapshot.sh?  Wondering if it's vestigial.  Created by @jonathanolson.

[2015-04-27 17:54] pixelzoom opened #138 "rename all-build.sh?"
Comment in all-build.sh by @jonathanolson

[code]

I see no build.sh script.  Can we rename?

[2015-04-27 17:55] pixelzoom commented on #134
@ariel-phet The point of this issue is that they should be runnable from any directory. Is that working for you?

[2015-04-27 17:56] pixelzoom commented on #134
You'll need to have chipper/bin/ in your shell's PATH variable.

[2015-04-27 17:57] pixelzoom commented on #136
[4/27/15, 11:56:39 AM] John Blanco: I use it to get back to master on everything after doing a bunch of branch work.  I know that I can use grunt checkout-master, but that only gets dependencies, so I use this one if I want to get everything back to master.

[2015-04-27 18:15] ariel-phet commented on #134
Created the .bashrc file with the PATH modification you gave. All works nicely now!

[2015-04-27 20:44] #134 closed

[2015-04-27 21:21] pixelzoom commented on #133
before-requirejs-build and after-requirejs-build probably shouldn't be registered as grunt tasks either, since they are not intended to be run standalone.

[2015-04-28 01:01] jonathanolson commented on #133
The problem is that the require.js step of the build isn't meant to be standalone, but it is its own grunt task.

We need things done before and after that task is run, although I totally agree that having them as tasks seems wrong with how we have been handling tasks.

We could think of certain tasks as 'steps' in a parent task instead?

[2015-04-28 01:03] jonathanolson commented on #136
I generally only deal with common code branches, I'll defer to @pixelzoom and @jbphet.

[2015-04-28 01:04] jonathanolson commented on #138
Yes, that sounds fine with me. @jbphet @samreid or @aaronsamuel137, any objections?

[2015-04-28 01:09] jonathanolson commented on #137
Its purpose was for common-code repos (dot/kite/scenery). When they were broken by other common changes, it took a lot of time to track down (since I couldn't bisect across ~8 repos), so I found it easier to take snapshots of my repos when they were working, and when I came across a break, I could identify all of the common code commits that could have caused the break.

Things have been much more

[2015-04-28 01:16] aaronsamuel137 commented on #138
Fine with me.

[2015-04-28 01:17] samreid commented on #137
I recommend deletion, but don't feel too strongly about it.

[2015-04-28 14:04] pixelzoom commented on #138
[4/27/15, 11:41:45 AM] Chris Malley: I see no build.sh. Can we rename?
[4/27/15, 12:16:10 PM] Jonathan Olson: Yes

[2015-04-28 14:06] pixelzoom commented on #137
I'll add @jonathanolson's description (above) to the code doc, let him decide whether to delete it since he's the sole user.  In it's current state, I really had no idea what it's purpose was or how to use it.

[2015-04-28 14:39] pixelzoom commented on #138
Renamed to build-all.sh.  Closing.

[2015-04-28 14:43] pixelzoom commented on #137
Additional documentation added. Assigned to @jonathanolson to decide whether to keep or delete.

[2015-04-28 14:46] pixelzoom commented on #133
So should I put on this issue, and write getPreloads (https://github.com/phetsims/chipper/issues/130) as a grunt task that provides a "return value" by setting a global?

[2015-04-28 16:11] pixelzoom commented on #138
It looks like build-all.sh was meant to be capable of running any grunt task for all sims. Here's the relevant source line:

`grunt $1  # run the build`

This is passing the first command-line arg to grunt.  A couple of problems:

1. It should be passing all command-line args to grunt (i.e., $*).

2. It should be named something like `grunt-all.sh` because it doesn't necessarily do a build. For ex

[2015-04-28 16:12] pixelzoom commented on #138
It's also silently ignoring sims that are in active-sim but missing from the current working copy. I'll make it print a warning.

[2015-04-28 17:03] samreid commented on #133
Can it be done as a function instead of a grunt task?  That seems more maintainable.

[2015-04-28 17:29] pixelzoom commented on #130
Work completed.

The new task is `set-preload`, implemented in setPreload.js. It modifies pkg.preload, and encapsulates common- and together-specific preloads.  The preload field in package.json is now used to specify only sim-specific preloads.   When the preloads are assembled, they are assemble in this order: common, sim-specific, together.

Common preloads were removed from all package.json fi

[2015-04-28 17:39] pixelzoom commented on #130
Assigning to @jbphet to review, since he did the initial work on adding together preloads.

[2015-04-28 18:03] pixelzoom commented on #138
Done, closing.

[2015-04-28 18:03] #138 closed

[2015-04-28 18:06] pixelzoom commented on #133
set-preload is now also a grunt task, see #130.  So add it to the list of things that are questionable as tasks.

I'm going to unassign and defer this issue.

[2015-04-30 17:00] jonathanolson commented on #137
Will opt to delete to keep things tidy. Haven't been using it lately.

[2015-04-30 17:02] #137 closed

[2015-04-30 18:57] pixelzoom commented on #4
At 4/30/15 dev meeting, it sounds like @jonathanolson is working on this.

[2015-04-30 18:58] pixelzoom commented on #74
Duplicate of #4, @jonathanolson is working on this.

[2015-04-30 18:58] #74 closed

[2015-04-30 19:00] pixelzoom commented on #21
@jonathanolson Did @aaronsamuel137 address this via the generate-thumbnails grunt task?

[2015-04-30 19:04] pixelzoom commented on #135
At 4/30/14 dev meeting, it looks like @jonathanolson has been working on this. So assigning to him.

[2015-04-30 19:06] pixelzoom commented on #113
@aaronsamuel137 is there anything else to do for this issue?

[2015-04-30 19:08] pixelzoom commented on #32
Lots of changes to chipper since this was last visited.  @samreid is this still an issue?

[2015-04-30 20:29] aaronsamuel137 commented on #113
This is basically done. We'll just need to update the version number for jimp in package.json once the new version of Jimp is deployed. See: https://github.com/oliver-moran/jimp/issues/16#issuecomment-97595029.

[2015-04-30 21:01] aaronsamuel137 opened #139 "Create a new grunt task to write an XML file for website translation deployment"
We need a new grunt task in chipper for writing an XML file to the build directory. This file tells the website which translations exist for a sim. It should have the following form:

[code]

The file name should be [repository name].xml. So in this case, ```molecules-and-light.xml```

### Steps

1. Determine what locales exist. I'm not sure the best way to do this, either scan the build directory

[2015-05-01 21:02] jonathanolson commented on #139
Chipper currently determines locale list as: "en" + every locale for a file of the format babel/<repo>/<repo>-strings_<locale>.json.

I.e. the list of locales is everything in babel and English.

[2015-05-03 01:22] samreid commented on #32
Yes, the lines 2 comments above still exist in modern chipper.  Couldn't those files be added to the new preload files @pixelzoom added recently?  Why are they handled separately?  Also, one issue here is that base64binary.js is being included in every sim, not just vibe sims.

[2015-05-03 15:13] aaronsamuel137 commented on #113
Jimp has been updated, closing.

[2015-05-03 15:13] #113 closed

[2015-05-03 20:21] pixelzoom commented on #32
No, because these files are not being preloaded in the HTML deliverable. These are libraries that are not included in the deliverable.  But apparently their licensing info needs to be included. (I'm not totally clear on why that's the case.)

Perhaps we need something for licenses that is similar to preloads.  That is, a list of "common" licenses that need to be included in every sim, and a field

[2015-05-05 16:26] pixelzoom commented on #32
Discussed with @jonathanolson. These "dependencies" are all things that are used to build the HTML deliverable, they are not delivered.  If there's some requirement to include the license info for things used to build, then there should be many more of these (grunt, npm, jshint, uglify,...)  Unless including these is meeting some legal requirement, I recommend not including licenses for things tha

[2015-05-06 00:44] samreid commented on #32
I see how https://github.com/phetsims/vibe/issues/15 could get us away from including base64binary, but I think all sims are using font awesome and hence require attribution provided by this line:

[code]

Also, doesn't some almond code get delivered?  Or is it all part of the build process and not in the deliverable?

[2015-05-06 05:05] jonathanolson commented on #32
We set ```almond: true``` in the require.js grunt task, it includes its own version of it. Definitely doesn't use the one in sherpa.

If we're adding info for almond, we should be adding info for many other libraries and code that get included or partially included by the build.

[2015-05-07 00:25] bereaphysics opened #140 "phet.chipper.locale doesn't exist in the requireJS version"
CanvasWarningNode relies on the existence of phet.chipper.locale

[code]

[2015-05-07 15:49] jonathanolson commented on #4
Should be done now.

[2015-05-07 15:49] #4 closed

[2015-05-07 18:17] pixelzoom commented on #32
5/7/2015 developer meeting:
• I'll create something similar to set-preload for licenses. There will be a common licenses required by all sims.
• @jbphet will investigate phetsims/vibe#15, whether base64binary.js is really needed

[2015-05-08 03:36] pixelzoom commented on #32
base64binary.js was removed from vibe in https://github.com/phetsims/vibe/issues/15, and was also removed from generateLicenseText.js by @jbphet in https://github.com/phetsims/chipper/commit/792c4be95d723113c29066c709ac65fda1e0142e

[2015-05-08 18:51] pixelzoom commented on #32
Changes complete.

Summary:

• generateLicenseText.js was renamed to setLicenseText.js, and the grunt task is now set-license-text. I renamed it because it sets global.phet.licenseText.

• As it did before, this task identifies 3rd-party libraries by looking at preload paths, and pulling out the ones that are coming from sherpa.

• Licenses that are not preloads and are required by all sims are en

[2015-05-08 18:54] pixelzoom commented on #32
So now that the build process aspect of this has been cleaned up, we can get back to the original topic of this issue - which 3rd-party licenses need to be included?  Clearly anything that is preloaded needs to be included, or anything sim-specific specific in package.json `licenseKeys` field.

Here's the "common" set that's currently specified in setLicenseText.js:

[code]

What else?

[2015-05-08 19:13] pixelzoom commented on #135
@jonathanolson is this done? I see what looks like dependencies.json in the built HTML file.

[2015-05-08 19:14] pixelzoom commented on #130
This seems to be working OK, and people are too busy to review. So closing.

[2015-05-08 19:15] pixelzoom commented on #56
@jbphet Do you use `grunt clone-dependencies` ?

[2015-05-08 19:24] pixelzoom commented on #55
I deleted esprima and escodegen from all package.json.  Closing.

[2015-05-08 19:24] #55 closed

[2015-05-08 19:25] pixelzoom commented on #49
Do we really need this now that we're close to having a translation UI?

[2015-05-08 19:26] pixelzoom commented on #47
Closing this because (a) it's been open a long time, (b) it's unlikely to ever happen, and (c) the current image plugin has been working fine.

[2015-05-08 19:26] #47 closed

[2015-05-08 19:27] pixelzoom commented on #21
@jonathanolson Did @aaronsamuel137 address this via the generate-thumbnails grunt task ( #113) ?

[2015-05-08 19:27] pixelzoom commented on #22
@jonathanolson please clarify.

[2015-05-08 19:28] pixelzoom commented on #24
Duplicate of #135, closing.

[2015-05-08 19:28] #24 closed

[2015-05-08 19:30] pixelzoom commented on #41
Where does the code in question live?

[2015-05-08 19:32] pixelzoom commented on #9
The only remaining script that makes sense to convert to a grunt task is deploy-dev.sh. That work is covered by https://github.com/phetsims/chipper/issues/87.  So closing this issue.

[2015-05-08 19:32] #9 closed

[2015-05-08 19:34] pixelzoom commented on #133
Note: generateLicenseText is now setLicenseText.

[2015-05-08 20:24] pixelzoom commented on #32
pegjs is a good example. It's a tool that was used to generate KITE.svgPath.js, not something we're delivering.  If we need to include it, then why don't we need to include licenses for everything in our toolchain?

[2015-05-09 09:16] samreid commented on #32
KITE/parser/svgPath.js is delivered with our simulations (included by Shape.js), and svgPath.js contains code like:

[code]

pegjs/lib/compiler/passes/generate-javascript.js contains this code
[code]

We are not redistributing all of pegjs in its entirety, but we are distributing code generated by pegjs and containing pegjs code (not necessarily restricted to the small function above).  I cannot f

[2015-05-09 09:21] samreid commented on #130
Thanks for working on this.  I haven't taken it for a test drive yet but am looking forward to doing so.  I also wanted to point out that the chipper together builder may have to change if/when we move forward with https://github.com/phetsims/together/issues/108 (using requirejs instead of preload for loading critical parts of together).

[2015-05-09 09:23] samreid commented on #49
As long as the functionality to report on missing strings is being handled somewhere else, this issue can be closed.  I'm not familiar enough with the internationalization project to know whether this is the case.

[2015-05-09 19:21] samreid commented on #130
@jbphet does the documentation at together/doc/publishing-a-sim.md need to be updated to reflect the changes here?  I'm just wondering how to publish a together sim based on the changes you and @pixelzoom made here.

[2015-05-11 15:43] jbphet commented on #130
We're doing another round of mods to this based on a discussion from last week's developer meeting.  We've decide to build both -dev and -together versions when the --together flag is specified.  @pixelzoom has volunteered to do the initial round of implementation for this.  Once that's in place, then yes, the docs should be updated.

[2015-05-11 17:25] pixelzoom commented on #49
Missing strings will appear as empty fields in the translation UI.  Do you think we need something more, to alter either the translator or PhET to missing strings?  If so, please describe how it fits into PhET's processes.

[2015-05-11 17:27] pixelzoom commented on #49
Btw... We never had anything like this for Java/Flash sims, and never (afaik) felt like we needed it.  Good translators are generally motivated to provide thorough translations.  And the new HTML5 translation UI will not allow a translation to be submitted if it doesn't have some major percentage (I don't recall the number) of strings translated.

[2015-05-12 04:42] jonathanolson commented on #22
It would be beneficial to have two modes:
1) development build (for testing built versions, dev versions, etc.). Does NOT fail on missing screenshots (not made yet), or other items.
2) production build (meant for website). Fails on anything that we wouldn't want deployed.

[2015-05-12 04:44] jonathanolson commented on #21
Just built making-tens, did NOT see a warning about missing screenshots (I just created the repo earlier today, no screenshots).

[2015-05-12 04:45] jonathanolson commented on #135
Yes, it's done. Closing.

[2015-05-12 04:45] #135 closed

[2015-05-12 04:58] jonathanolson commented on #140
Added phet.joist.sim.locale, since phet.chipper.locale seems unclean to set when not being built by chipper.

[2015-05-12 04:58] #140 closed

[2015-05-12 05:36] samreid commented on #49
Good points.  That sounds sufficient to me, we can always revisit if it becomes a problem in practice.  Closing.

[2015-05-12 05:36] #49 closed

[2015-05-12 15:55] jonathanolson opened #141 "Build and deployment server"
Input: a list of repo dependencies and the SHAs that they should be at, and list of locales to build
Probably should include where to publish (dev? production?)

Step 1: Checkout repos with SHAs (if necessary), npm install (if necessary)
Step 2: Build the specified locales
Step 3: Upload the built files to the desired server(s)
Step 4: Notify said servers (websites) that they were deployed

The re

[2015-05-13 19:19] pixelzoom commented on #32
I can't do anything about this without some guidance from PhET management and/or legal.  In what cases does a 3rd-party license need to be embedded in the HTML deliverable for a PhET simulation? Assigning to @ariel-phet to get an answer.

[2015-05-16 16:03] pixelzoom commented on #126
@jbphet Can this branch be deleted?

[2015-05-16 16:06] pixelzoom commented on #101
This bit of code was moved from Gruntfile.js to afterRequirejsBuild.js. Updated issue title to reflect this.

[2015-05-16 16:07] pixelzoom commented on #33
Thoughts on how we could generate config.js from the package.json? We need config.js when running in development mode, so it doesn't seem like something we can defer until build.

[2015-05-16 16:14] pixelzoom commented on #21
You need to manually run `grunt generate-thumbnails` to generate thumbnails.

So I guess we need to add a warning/error somewhere in the build process. I don't want to see a warning every time I do a dev build, because this will desensitize me to the warning.  So it seems like an error would be appropriate for a production build.  Shall we look at the version id, and if it's major.minor.0, require

[2015-05-16 20:44] jonathanolson commented on #33
We can have a node script that should be run after updating package.json, which creates/updates <sim>_en.html and js/<sim>-config.js.

[2015-05-16 20:45] jonathanolson commented on #21
Sounds good.

[2015-05-19 16:37] pixelzoom opened #142 "move common phetLibs to build.json"
The package.json files for sims have a lot of duplication for the phetLibs field. Consider moving the common libs (required by every sim) to build.json, and specify only the sim-specific phetLibs in package.json.

[2015-05-19 16:40] pixelzoom commented on #32
This issue should be resolved before PhET starts redeploying sims.

[2015-05-19 18:17] aaronsamuel137 commented on #141
@jonathanolson, are imaging a queue here so that only one deploy can be happening at a time? It seems like we can't run them in parallel since different shas will need to be checked out for each deploy request.

[2015-05-19 18:50] jonathanolson commented on #141
Yes, that is what I was imagining.

[2015-05-19 19:30] pixelzoom commented on #142
Looks like the common (required) set of phetLibs is:

[code]

vegas, vibe, and nitroglycerin are optional.  And sims would specific themselves and any dependent repos.  For example, phet-scale-basics/package.json would have this entry for phetLibs:

[code]

[2015-05-19 19:34] pixelzoom commented on #142
I like how this is looking. Much easier to see what is specific to the sim, and much easier to add a repository required by all sims.

[2015-05-19 19:35] pixelzoom commented on #142
The one downside is that phetLibs in package.json no longer matches the set of paths in config.js. But that is supposed to be addressed in https://github.com/phetsims/chipper/issues/33.

[2015-05-19 19:37] pixelzoom commented on #56
@jbphet Do you use `grunt clone-dependencies` ?  If not, I'm going to delete it.

[2015-05-19 19:51] pixelzoom commented on #142
Common phetLibs have been moved to chipper/build.json.  phetLibs in package.json now specifies only sim-specific dependencies (similar to preload and licenseKeys fields).  All package.json files have been modified accordingly.

To verify, inspect the diff for these files:

chipper/build.json
chipper/js/Gruntfile.js
phet-scale-basics/package.json (as an example, similar changes for all sim package.

[2015-05-19 22:25] aaronsamuel137 commented on #142
Looks good to me. Closing

[2015-05-19 22:25] #142 closed

[2015-05-19 22:40] pixelzoom commented on #56
Skype thread:
[5/19/15, 1:37:40 PM] Chris Malley: Do you use `grunt clone-dependencies` ?
[5/19/15, 4:37:06 PM] John Blanco: Nope. I use grunt checkout-shas, but not clone-dependencies.

[2015-05-19 22:41] #56 closed

[2015-05-20 18:05] pixelzoom commented on #142
This change was announced in the Google Group at https://groups.google.com/forum/?fromgroups#!topic/developing-interactive-simulations-in-html5/JZLARg5DblY

[2015-05-21 19:02] samreid commented on #126
The sh file was for deploying arch builds to simian.  Simian and arch are no longer used for our together projects, so I deleted the branch.  If needed for anything, it can be easily resurrected from 4c670e710fcbc79e878a7377c1a5677e8cf6329d .  Leaving assigned to @jbphet to make sure we did not need that script.

[2015-05-21 19:08] pixelzoom commented on #41
@samreid Can you point me to where this code is?

[2015-05-22 01:32] jonathanolson commented on #41
Looks like this is just from the sim template. We could save a few bytes by moving adjacent scripts into just one script tag. I don't have a strong preference for whether this should be done or not (note I think it's only 2 scripts now).

[2015-05-22 12:49] samreid commented on #41
The sim template chipper/templates/sim.html is currently:

[code]

Would something like this work?  (I have joined all the content from the various script tags).

[code]

We would obviously need to test this.  We should also make sure that each entry has its own semicolons, just in case.

Also, should this block start with a 'use strict'?

[2015-05-22 13:47] jonathanolson commented on #41
Can you outline the advantages? My intuition is that it would need to finish downloading the entire file before starting JS execution, whereas if it is split into multiple script tags, it can start executing earlier (and thus faster load), however that may be inaccurate.

We should at least make sure this change wouldn't cause a regression in startup time,

[2015-05-23 02:14] jonathanolson commented on #132
Taking care of https://github.com/phetsims/chipper/issues/131 (just had to write proper encoding for converting locales), so I'll be using plinko-probability for the Flash conversion and states-of-mattter for the Java conversion.

[2015-05-23 02:49] jonathanolson commented on #131
Gists of files to be changed/added, since SVN on my side corrupted itself after Unfuddle failed on PROPFIND requests:
PhetLocales.java: https://gist.github.com/jonathanolson/826e7643db328fe59e59
ExportPhetcommonLocales.java: https://gist.github.com/jonathanolson/e2d2101dfe3fc3dafee9
JavaScriptUtils.java: https://gist.github.com/jonathanolson/ebb7612575534ffc86cd
PropertiesToRequireJSI18n.java: htt

[2015-05-23 02:51] jonathanolson commented on #132
Done with https://github.com/phetsims/chipper/issues/131#issuecomment-104822458, will wait until I can commit before closing.

[2015-05-24 01:27] pixelzoom commented on #131
@jonathanolson wrote:

Why do they need to be committed to SVN? I thought that all relevant Java tools had been moved to chipper/java/.

[2015-05-26 18:06] jonathanolson commented on #131
I was unaware of that, particularly since they are still checked into SVN.

[2015-05-26 18:07] jonathanolson commented on #131
(Still assigned to me, I'll fix when I handle something similar in chipper again).

[2015-05-26 18:18] pixelzoom commented on #131
I don't know of any reason why they shouldn't be deleted from SVN.  You might ask @samreid if there's any reason why he didn't delete them from SVN after he migrated them to GitHub.

[2015-05-26 19:13] pixelzoom commented on #21
Give all of the other stuff going on, this feels like a low-priority issue that we can live with for awhile. So I'm going to un-assign this, and revisit when we address another batch of build issues.

[2015-05-27 00:05] samreid commented on #41
I am not sure of the tradeoffs, indeed the final sentence in the issue description is:

I suspect that any overhead incurred by having separate `<script>` tags would be minimal, and that running the preload code ASAP could save a little time, if that is actually happening.

I suspect that tweaks we make here won't make much difference in terms of startup time *or* readability.  However, it should

[2015-05-28 01:11] jonathanolson commented on #41
Also to note for testing, it's worth artificially restricting bandwidth for the test, and we would probably want to test multiple browsers.

[2015-05-28 17:57] pixelzoom commented on #32
See dev meeting notes at https://github.com/phetsims/sherpa/issues/22#issuecomment-106523323.

The decision by @kathy-phet is to include licenses only for libs whose code ends up in the html deliverable.

[2015-05-29 17:07] aaronsamuel137 opened #143 "build server needs to pull master before checking out shas"
We need to make sure that the repositories cloned on the build server are up to date before running ```grunt checkout-shas```. The simplest way to do this is probably to write a function that calls

[code]

for every repo in dependencies.json.

This work should be done in build-server.js in chipper.

Assigning to @zepumph. Let me know if you have questions.

[2015-05-29 17:12] aaronsamuel137 opened #144 "write grunt deploy-production task"
We discussed this during translation meeting on 5/28/15.

This simplest option is to have a task ```grunt deploy-production``` that is run after ```grunt build```. The deploy production task would then look in build/dependencies.json to find the correct version and shas to send to the build server to build and deploy.

[2015-05-29 17:17] aaronsamuel137 opened #145 "build-server should be able to deploy rc versions to spot"
Discussed at 5/28/15 translation meeting.

[2015-05-29 19:53] aaronsamuel137 opened #146 "build server should check if version directory exists and mkdir if not"
build-server.js currently fails if the version directory doesn't exist. We need to add another step before trying to copy the files to check if the version directory exists and if not, run mkdir.

See this part of the code to see where the files are trying to be copied to:

[code]

Assigning to @zepumph

[2015-05-29 20:50] aaronsamuel137 commented on #145
@zepumph feel free to work on this if you run out of things to do. No rush, just want you to have work available if you are wanting it.

Basically, we will need to use scp to copy the files to another server instead of just cp if the server name is different from the host server. We host our rc versions on spot.colorado.edu (or rintintin.colorado.edu) instead of simian or figaro.

You can see code

[2015-05-29 21:33] pixelzoom commented on #32
The general question has been answered.  So now we need to make sure the proper entries are in sherpa/info.json, chipper/build.json and sim package.json.  I'm going to address that in phetsims/sherpa#22.

Closing.

[2015-05-29 21:33] #32 closed

[2015-05-30 03:39] pixelzoom opened #147 "fix obtuse error for missing phetLib dependency"
Worked with @jbphet today on this error for building atomic-interactions:

This occurs at line 92 of afterRequirejsBuild.js, and it means that the repository was omitted from phetLibs.  I'm going to fix the error message to say:

[2015-05-30 03:40] #147 closed

[2015-05-30 16:08] aaronsamuel137 commented on #146
Looks ok, but fails with the following message when running on the server:

[code]

I would recommend using a similar pattern as is already used in this file instead of executing bash commands directly:

[code]

You can also use fs.existsSync() for a version of exists() that runs synchronously.

If you do end up using the same pattern, it is a good idea to refactor the code into reusable method th

[2015-05-30 16:15] aaronsamuel137 commented on #143
Seems to work well over all, but not very error resistant if repos contains any keys that are not actually directories. Might be good to have a check in here to make sure the directory exists. You could use fs.existsSync() .

The main issue here is the whole build will fail if this fails. In fact the server will get stuck because "finished()" won't be called enough times for the callback to be cal

[2015-06-02 19:07] pixelzoom opened #148 "is license header in html deliverable accurate/sufficient?"
This header gets inserted into the HTML5 file:

[code]

It says "GPLv3", but that is typically only the sim-specific code, and common code is licensed under The MIT License.  Should this header be ammended?

[2015-06-02 19:08] pixelzoom opened #149 "copyright in html deliverable is incorrect"
Here's the header that's inserted in the html deliverable. The copyright is stale.

[code]

[2015-06-02 21:58] samreid commented on #148
It was my understanding that the minified simulation HTML file was to be licensed as GPLv3 or Creative Commons Attribution (see https://phet.colorado.edu/en/about/licensing ).  Yes, it is true that we also license common code libraries such as Scenery as MIT, but when they get bundled into the sim we license *that snapshot* as GPLv3/CCA.

Do we need to update the header to include CCA?  That is a

[2015-06-04 23:19] zepumph commented on #146
@aaronsamuel137 What do you think?

[2015-06-04 23:19] zepumph commented on #143
@aaronsamuel137 What do you think?

[2015-06-04 23:32] pixelzoom commented on #146
Out of curiosity... What does build server do if the directory already exists? Does it stop? If not, how do we know that we're not accidentally overwriting something because someone forgot to update the sim version number?

[2015-06-05 03:20] aaronsamuel137 commented on #146
At this point the build server will overwrite. I am imaging a code review process where we flesh out things like this before we run this on our production server.

[2015-06-08 17:58] pixelzoom commented on #149
afterRequirejsBuild.js, line 206.

Before:
[code]

After:
[code]

Closing this issue. Feel free to review if anyone wants to.

[2015-06-08 17:58] #149 closed

[2015-06-08 18:01] pixelzoom commented on #148
Assigning to @ariel-phet to bring this up with @kathy-phet.

[2015-06-09 15:08] aaronsamuel137 commented on #143
There is a bug here. Your code:

[code]

Won't work because of some interesting characteristics about Javascript. Basically, the var repoName will always be the last item of the object when it is used in the anonymous function passed to exists(). I encourage you to read up about this here: http://robertnyman.com/2008/10/09/explaining-javascript-scope-and-closures/

For now I have fixed some of the

[2015-06-09 15:17] aaronsamuel137 commented on #146
Looks pretty good for now. Closing

[2015-06-09 15:17] #146 closed

[2015-06-09 20:19] pixelzoom opened #150 "licensing URL for HTML5 sims?"
HTML deliverables have this comment header (for example), generated by afterRequirejsBuild.js, circa line 205.

[code]

Does the URL http://phet.colorado.edu/en/about/licensing pertain to HTML5 sims? For example, it has language like this:

... which doesn't mention the HTML5 executables.

Is this URL correct? Does the webpage need to be updated? Is there a different URL for HTML5 sims?

[2015-06-09 20:27] pixelzoom opened #151 "format of dependencies.json vs 3rd-party license info in html deliverable"
Third-party dependencies appear as an HTML comment near the top of the html deliverable, for example:

[code]

dependencies.json info appears in the html deliverable (and much later in the file) as a script that assigns to window.phet.chipper.dependencies, for example:

[code]

Should be done the same way?
Which way is preferred?
Should they be co-located in the file?
For @jonathanolson: Is there

[2015-06-09 20:28] pixelzoom commented on #151
If we assigned 3rd-party license to a global, then they could potentially be shown in the About dialog in the future.

[2015-06-09 20:46] pixelzoom commented on #151
@samreid and I decided to go for it, and added 3rd-party licenses to window.phet.chipper.thirdPartyLicenses.

[2015-06-09 20:51] pixelzoom opened #152 "revisions related to setLicenseText.js"
In light of https://github.com/phetsims/chipper/issues/151, setLicenseText is now creating an object literal.
Rename:

setLicenseText.js -> setThirdPartyLicenses.js
global.phet.licenseText -> global.phet.thirdPartyLicenses

Handle JSON.stringify of global.phet.licenseText in afterRequirejsBuild, at the point where it needs to be turned into a string.

[2015-06-09 21:30] pixelzoom opened #153 "empty script in html deliverable"
In the html deliverable, there is an empty script immediately after the splash img tag:

[code]

[2015-06-09 21:34] pixelzoom opened #154 "inspect contents of html deliverable"
To make sure that there's no unexpected 3rd-party code in html deliverables, it might be worth taking some time to inspect the contents.  Load an html file into a beautifier such as http://jsbeautifier.org and scroll through it. (If you're on a Mac, just drag the html file from the Finder into the beautifier's window.)

[2015-06-09 21:38] pixelzoom commented on #151
This was a rathole.  We decided to move more of the structure of the script into sim.html, so it's easier to see what's going on.  Ie, the template now determines the ordering of the script, like this:

[code]

... and the uppercase tokens are replaced by afterRequirejsBuild.js.

We also decided to put the things that are likely to be read by humans towards the top of the HTML file. This entire sc

[2015-06-09 21:40] pixelzoom commented on #151
Btw... We considered a nested assignment, like this:

[code]

... but decide that it was easier to search for the globals in the form checked into sim.html.

[2015-06-09 22:09] ariel-phet commented on #150
This should be the url:

http://phet.colorado.edu/en/html-terms-privacy-and-licensing

That is the url that is linked in published sims like Balancing Act

[2015-06-09 22:11] ariel-phet commented on #150
BTW - the only way to get to that url obviously is currently from an HTML5 sim.

[2015-06-09 22:20] pixelzoom commented on #150
Fixed, closing.

[2015-06-09 22:20] #150 closed

[2015-06-10 14:40] jonathanolson commented on #151
Yes, it's the basic "sim was built with these SHAs", since that can vary from translation to translation.

Changes look great, thanks!

[2015-06-10 17:18] samreid commented on #151
I have a few questions--can you check the formatting of your answer above @jonathanolson since it looks like your response got bundled into the question?  Also, why did you want this to be accessible at runtime via a variable rather than just something that can be parsed out of the file.  Do you intend to read those values across the iframe API or something?

[2015-06-10 19:28] jonathanolson commented on #151
It actually does read those runtime right now so it can report SHAs to the "Report a problem..." link.

[2015-06-10 20:33] pixelzoom commented on #153
Immediately after the splash in sim.html is the PRELOAD_INLINE_JAVASCRIPT token.  And here's how it's replaced in afterRequirejsBuild:

[code]

'\x0B' is the vertical tabulation (VT) character, and I don't see anything else added to preloadBlocks. So presumably this is responsible for the empty script.   Looks like this was added by @jonathanolson so assigning to him for comment.

[2015-06-10 21:05] jonathanolson commented on #153
Which sim were you building? After the splash, that's not the next line, it's this:
[code]

So I presume you built a sim with no mipmaps, and I would expect an empty script block?

[2015-06-10 21:26] pixelzoom commented on #153
Ah, indeed, it's the PHET_MIPMAPS block. If that's optional, then perhaps the script start/end tags shouldn't be in sim.html?

[2015-06-10 21:32] jonathanolson commented on #153
I'm fine if it done the way you describe, so it's only added if it is needed.

[2015-06-10 22:12] #143 closed

[2015-06-11 17:19] samreid commented on #151
Ah, understood, thanks. Closing.

[2015-06-11 17:19] #151 closed

[2015-06-15 15:40] pixelzoom commented on #153
The PHET_MIPMAPS_JAVASCRIPT token had to be replaced with something. Could have replaced it with an empty string, but then someone would be wondering why there was a blank line in the html deliverable. So if there are no mipmaps, I replaced the token with `''`.

Assigning to @jonathanolson to review.

[2015-06-15 15:45] jonathanolson commented on #153
Looks good, thanks!

[2015-06-15 15:45] #153 closed

[2015-06-15 15:51] pixelzoom commented on #152
Work completed. Assigning to @samreid to take a quick look, since he worked on the overhaul of 3rd-party license stuff with me.

[2015-06-15 16:58] samreid commented on #152
Change set looks good, and like we discussed previously.  Nice work, closing.

[2015-06-15 16:58] #152 closed

[2015-06-16 21:34] pixelzoom commented on #148
Still waiting on feedback from @ariel-phet and @kathy-phet on this.  This is a prerequisite to moving forward with "Summer 2015 redeploy".

[2015-06-16 21:54] ariel-phet commented on #148
@pixelzoom please bring up at status meeting, I cannot answer this question

[2015-06-16 21:58] pixelzoom opened #155 "odd comment in sim.html"
Here's the bit in questions:

[code]

When looking at sim.html, PHET_STRINGS makes sense. But there are 2 problems:

1. afterRequirejsBuild.js does string replacement on PHET_STRINGS. Luckily it only replaces the first occurrence, and luckily the first occurrence is the one that we want to replace. But it seems like a bad idea to have a replacement token occurring twice in a template.

2. When ins

[2015-06-16 22:00] pixelzoom commented on #155
Looks like I added this comment, so I'm going to remove it.

Closing. If anyone objects, please reopen.

[2015-06-16 22:00] #155 closed

[2015-06-16 22:07] pixelzoom commented on #154
I inspected the content of the html deliverable, and didn't see anything obviously amiss.  But I should note that the token MAIN_INLINE_JAVASCRIPT is replaced with the output of the `requirejs:build` task. That is a huge amount of stuff, and looks like mostly PhET-specific code. But it's quite possible that I missed something that the `requirejs:build` task adds to that.

Does anyone else want to

[2015-06-16 22:11] kathy-phet commented on #148
Hi Chris,

Please modify this header to read as follows for the Regular PhET sims. And add trademark statement.

Copyright 2002-2015, Regents of the University of Colorado
PhET Interactive Simulations, University of Colorado Boulder
This file is licensed under Creative Commons Attribution 4.0
For alternate source code licensing, see https://github.com/phetsims
http://phet.colorado.edu/en/licensing

[2015-06-16 22:17] pixelzoom commented on #148
A different header for interoperable sims? Ugh, that's not currently supported. The header is a static part of the template. @kathy-phet is this a requirement?

We just change the licensing link because it was pointing to the Java/Flash license page. I believe that the correct link is http://phet.colorado.edu/en/html-terms-privacy-and-licensing. @aaronsamuel137  and @kathy-phet please take a look

[2015-06-16 22:26] aaronsamuel137 commented on #148
http://phet.colorado.edu/en/html-terms-privacy-and-licensing is the current link, but it will be changed to http://phet.colorado.edu/en/licensing/html in the near future. The old link will redirect, so it should be fine to leave it as is. I can make a note to myself to update the link in chipper master when I address https://github.com/phetsims/website/issues/80

[2015-06-16 22:26] kathy-phet commented on #148
I'm open to suggestions, but separate headers seems to make the most sense to me. These two files are not licensed the same way, and the headers will make that apparent.

If we have the same header, I do not see how it can include the specific license and would just have to have a link for information. Then people would have to know which they were using - a regular sim or an interoperable sim.

[2015-06-16 22:29] pixelzoom commented on #148
@kathy-phet I modified the formatting of your comment https://github.com/phetsims/chipper/issues/148#issuecomment-112579271 because it was difficult to differentiate between your comments and what you wanted in the html file. Please review to make sure I got it correct.

I'm also not clear on a couple of other things:

1. URL for alternate source code licensing

Why do you want this URL? I see no

[2015-06-16 22:41] pixelzoom opened #156 "support different copyright/license headers in the html deliverable"
In https://github.com/phetsims/chipper/issues/148#issuecomment-112588453, @kathy-phet requested different headers for "Regular" vs "Interoperable" sims.  Here's what's involved:

• Resolve https://github.com/phetsims/chipper/issues/148 so that we know what the header text is supposed to be.
• In afterRequirejsBuild.js, modify the assignment to `var htmlHeader`, based on `grunt.option( 'together' )

[2015-06-16 22:48] kathy-phet commented on #148
Yes, you have it correct .

re (1): I listed the main github page because they can find the source code from there. Alternatively we could direct them to Aaron's new link:
http://phet.colorado.edu/en/licensing/html

re (2): I wasn't going to include the trademark statement in the Interoperable Sim, because the license agreement for the Interoperable Sims will almost certainly include a trademark a

[2015-06-17 22:11] aaronsamuel137 commented on #145
This is mostly working at this point. There is still an unknown issue I've run into while testing - sometimes the scp call just hangs indefinitely instead of returning success or error.

[2015-06-18 16:51] samreid commented on #154
Some things I noticed that I didn't recognize:

[code]

StringUtils contained some things I didn't recognize:

[code]

I saw lots of language names in the _en file, why are these here and is it costing us much kb?
[code]

some accessibility stuff is still in the compiled output
[code]

[2015-06-18 19:08] pixelzoom commented on #154
@jonathanolson comments on the above things that @samreid identified:

`s.canvasPNGOutput = ...` is from features.js

`function R() { ...` is part of svgPathParser

`function he(t) {...` is part of lodash

 language names in the _en file: This is chipper/js/data/localInfo.js.  Used in the string plug-in in requirejs mode. Don't need to be in built version, but gets included because there's a requi

[2015-06-18 19:09] pixelzoom commented on #154
6/18/15 meeting: Close this.

[2015-06-18 19:09] #154 closed

[2015-06-22 16:28] pixelzoom opened #157 "input to FontAwesomeToScenery has changed"
For some other issue, @samreid replaced `sherpa/lib/font-awesome.txt` with `fontawesome-webfont-3.0.2.svg`. Two problems:

(1) This documentation in `FontAwesomeToScenery` is now incorrect:

[code]

(2) We can't run FontAwesomeToScenery because the input file format is now XML instead of what is described in the doc.

[2015-06-23 01:18] samreid opened #158 "Add a grunt build step that checks that sherpa licenses are in good shape."
In order to make sure the 3rd party licenses are complete, we should check (a) that every 3rd party file has an entry in third-party-licenses.json and (b) every entry in third-party-licenses.json has an associated file and (c) that all required fields are provide in the JSON file.

I'm advocating for this to be part of chipper so that (a) it can run automatically as part of a build and (b) it will

[2015-06-23 02:05] samreid commented on #158
Note that this task is very similar to the task of reporting on other 3rd party assets such as images & audio: https://github.com/phetsims/tasks/issues/274

[2015-06-23 02:06] samreid commented on #157
I updated the docs to indicate that the filename has changed and that a manual step is required for preprocessing before running FontAwesomeToScenery.  @pixelzoom can you review?

[2015-06-23 02:06] samreid commented on #157
Note: the reason for the filename & contents change was to match what appears in the Font Awesome distribution.

[2015-06-23 17:35] pixelzoom commented on #157
Doc is still incorrect:

This file does not exist.

[2015-06-23 17:42] samreid commented on #157
Updated docs above, please review.

[2015-06-23 17:53] pixelzoom commented on #157
Reopening, I noticed something else. @samreid the default path is:

I realize that this is specific to your host, but that path no longer exists in Unfuddle SVN.  I'm fine with leaving this as is, but you'll have to either deal with it now or in the future.  And it may serve as a false clue to other developers about where the file might be found.

[2015-06-23 18:06] aaronsamuel137 opened #159 "Code review for deployDev.js"
Code review of port of deploy-dev.sh to grunt.

Also added the ability to mkdir and create the .htaccess file. The file is js/grunt/deplotDev.js.

We'll need to update the deploy procedure in phet-info once this has been tested and code reviewed.

[2015-06-23 18:19] pixelzoom commented on #159
I committed to get to this sometime Monday, 6/29/15, sooner if possible.

[2015-06-23 20:20] samreid commented on #157
We should change this path to be a required path.  I don't have time to do so at the moment, so will unassign for now.

[2015-06-23 22:56] samreid opened #160 "Remove excess console output during grunt tasks"
During a normal grunt task, I see this:

[code]

Can we get rid of:

and

and

and

assert,axon,babel,bending-light,brand,chipper,dot,joist,kite,phet-core,phetcommon,scenery,scenery-phet,sherpa,sun

Why not go even further and remove everything except for the `Running _ task` markers?  Assigned to @pixelzoom for discussion.

[2015-06-24 15:39] samreid opened #161 "AquaRadioButtons in trig-lab have ceased functioning"
@dubson reported:

Using bisection by date, I tracked down the troublesome commit to https://github.com/phetsims/chipper/commit/a282938be9077a980309b1330b9084e5e6c95e08

I'll take a look and see if I can figure out what is happening here.

[2015-06-24 15:43] samreid commented on #161
The significant change is in the string plugin:

[code]

became

[code]

It looks like unicode start/end characters are being added now for LTR strings as well as for RTL strings.  So I suspect that logic code in trig lab is doing === comparisons on internationalized strings to determine whether to show the sin/cos/tan and degree/radian. This will be a problem since those strings will be different

[2015-06-24 15:46] samreid commented on #161
I moved this issue to trig-lab, linked above.  Closing this one.

[2015-06-24 15:46] #161 closed

[2015-06-24 15:49] dubson commented on #161
Hi Sam,
Thanks!!
Yes, my code contains comparisons like graph === ‘cos’   but how can the String ‘cos’ get confused with my internationalized string for ‘cos’ which is

var cosStr = require( 'string!TRIG_LAB/cos' );

?

-mike

From: Sam Reid [mailto:notifications@github.com]
Sent: Wednesday, June 24, 2015 9:43 AM
To: phetsims/chipper
Cc: Michael A Dubson
Subject: Re: [chipper] AquaRadioButtons in

[2015-06-24 15:51] samreid commented on #161
Let's discuss it over here: https://github.com/phetsims/trig-lab/issues/4

[2015-06-24 17:11] jonathanolson commented on #160
We could consider very concise console output, but then log most things to a logfile.

[2015-06-24 17:39] samreid opened #162 "Generate sim-specific 3rd party licensing reports"
While @aaronsamuel137 & I were working on https://github.com/phetsims/sherpa/issues/22 we discussed a strategy for handling the licensing report as well as integrating the licensing information into each simulation.

1. Create a new grunt task that generates a simulation-specific licensing report.  This will look at the dependencies in package.json as well as the common dependencies to determine w

[2015-06-24 18:01] ariel-phet commented on #162
I definitely would like to make sure that as we redeploy we address any images/audio, and just make sure they are owned by PhET. That just seems to be a much better long term solution, and avoids any future hassles with image/audio. So that can be taken care of on a sim by sim basis, and does not need to be part of the above plan and/or scripts.

Overall, what you are proposing seems reasonable to

[2015-06-24 18:01] jonathanolson commented on #162
Sounds good to me. I assumed there already was sim-specific licensing lists handled in chipper?

[2015-06-25 14:07] pixelzoom commented on #160
Most of that output is useful primarily for debugging. How about if we add a `--debug` option to grunt tasks?

[2015-06-25 14:10] pixelzoom commented on #160
Looks like --debug is already used grunt.  Eg:

[code]

[2015-06-25 14:19] pixelzoom commented on #160
In https://github.com/phetsims/chipper/commit/b94125e8f8a7d18686ebfcc98ac569fa0c150d45, I changed `grunt.log.writeln` to `grunt.log.debug` for debugging output.  I did this only for grunt tasks that are related to the "build" task.

Here it is without `--debug`:

[code]

[2015-06-25 14:23] pixelzoom commented on #160
Here's the output with `--debug`.  The debug lines are automatically prefixed with `[D]`, and in my console they appear in purple.  Grunt adds very little of its own debug output.  This looks great to me. If we want to differentiate between verbose and non-verbose debug output, we could change some of this to use `grunt.log.verbose.debug`, which will only be printed when `--debug` and `--verbose`

[2015-06-25 14:23] pixelzoom commented on #160
Back to @samreid for comment.

[2015-06-25 14:30] pixelzoom commented on #160
I looked for a way to suppress the `Running "XXX" task` messages. Most people recommend this duck punch: `grunt.log.header = function() {}`.

[2015-06-25 15:21] pixelzoom commented on #159
General problem with all error handling in this task...

(1) When an error occurs, there is no "error recovery" code, and the task is allowed to continue. All of the errors in this task are non-recoverable, so the task should exit immediate on error.

(2) Error messages should be logged either using grunt.log.error, or by using `throw Error`. The latter will stop the task.

[2015-06-25 15:24] pixelzoom commented on #159
Credentials are currently expected to be in `chipper/credentials.json`.  This makes it likely that someone will accidentally check them in.  A better place is $HOME/.phet/credentials.json. Also not sure that credentials.json is the best name for this file.

The server name is split up between 2 files:

Gruntfile, line 184: `deployDev( grunt, grunt.option( 'serverName' ) || 'spot' );`
deployDev, li

[2015-06-25 15:25] pixelzoom commented on #159
The comment about server name also applies to the deploySimulation task.

[2015-06-25 15:26] pixelzoom commented on #159
Also for security reasons, recommended to put this path in preferences files:

`var DEV_DIRECTORY = '/htdocs/physics/phet/dev/html/';`

[2015-06-25 15:27] pixelzoom commented on #159
Assigning back to @aaronsamuel137 to discuss/address issues.

[2015-06-25 15:30] pixelzoom commented on #159
Btw... There is precedence for using $HOME/.phet to store preferences.  For Java/Flash sims:

[code]

[2015-06-25 16:18] jonathanolson commented on #159
Just curious about how this is a security risk?

+1

[2015-06-25 16:22] pixelzoom commented on #159
I guess it's not a security risk per se. But why would you want to make it easier for someone to know where the files are on the server?

[2015-06-25 16:28] pixelzoom commented on #159
There should be something like this at the top of the task:

[code]

[2015-06-25 16:29] jonathanolson commented on #159
It's already pretty public information. Indexed by Google, this issue pointing out the path is indexed by Google, and I don't think anyone would likely need to review that code to identify where we deploy dev builds.

I'm fine with either approach, just was curious.

[2015-06-25 16:31] pixelzoom commented on #159
Another reason to factor out the server path is generalization. If you're going to factor out the server name, then why would you hardcode the server path? Very unlikely that a different server would have the same deploy path.

[2015-06-25 16:37] jonathanolson commented on #159
It's likely we'd want everyone to switch to the new server if we switch. Then it's easier to make 1 change in chipper code, instead of making everyone update their private config files on every development computer.

[2015-06-25 18:06] samreid commented on #148
Assigned to @samreid to see if anything else needs to be done before Summer 2015 redeploys.  The interoperable text may be moved to a separate, lower-priority issue.

[2015-06-25 19:52] samreid commented on #148
I asked @kathy-phet about these phrases at the end of the primary license header:

She said that the first link is about GPL/MIT/etc for the original code.
The second link is more for an overview of the licensing.

She said I could suggest text revisions if necessary.

[2015-06-25 23:38] samreid commented on #148
At the moment I am focusing on the license header for the phet.colorado.edu simulations--we can handle the together.js interoperable simulations license header as a separate, lower priority issue.

I have made the following changes and will commit them shortly for review and discussion:

To be explicit about all of the changes, I will provide the top of the HTML file from http://www.colorado.edu/p

[2015-06-25 23:42] samreid commented on #148
Committed changes above, I also tested that hooke's-law builds, lints and runs properly with the modifications.  @jonathanolson or @pixelzoom please let me know if you recommend running any other sanity tests to make sure nothing else was disturbed.  Reassigning to @kathy-phet to review and discuss as described in https://github.com/phetsims/chipper/issues/148#issuecomment-115431097

[2015-06-26 03:14] kathy-phet commented on #148
Hi Sam, I reviewed the text. Looks good. Please add a comma after "promotional,".
Thanks, K

[2015-06-26 03:39] samreid commented on #148
I added a comma after "promotional" in the commit above.  Reassigning to @jonathanolson to respond to the two questions I raised for him above.  Here for convenience:

[2015-06-26 04:49] jonathanolson commented on #148
That's generally fine, but I recall there's a small (256-512 bytes?) chunk of the top of the file browsers search for certain meta attributes (I think particularly charset).

Some quick googling brought up https://zoompf.com/blog/2009/12/browser-performance-issues-with-charsets, which notes Firefox checks first 2048 bytes and assumes latin-1 (we use utf-8).

I can't think of anything else.

[2015-06-26 05:07] samreid commented on #148
Thanks for pointing out that issue @jonathanolson, I'll move this comment after the head, like so:

[code]

(Keeping this in the head in previous versions was causing odd indenting).

I have tested the above by linting, building and launching hookes-law and everything seemed ok.  Will commit shortly.

[2015-06-26 05:08] samreid commented on #148
Committed as described above.   I'll create a separate issue for the together license information, in the together repository, and close this issue.

[2015-06-26 05:08] #148 closed

[2015-06-30 18:36] aaronsamuel137 commented on #159
I've made these changes. I decided to give and option to put preferences.devDeployServer and preferences.devDeployPath, but default these to spot and the hardcoded path if they aren't in the preferences file.

Assigning to @pixelzoom for review.

[2015-06-30 20:45] pixelzoom commented on #159
Looks great.  A few notes...

I fixed one general issue: constants were not being used consistently for file and directory names.  See commit above.

A new npm dependency has apparently been introduced. I had to run `npm install` in chipper. You might want to advertise that when this work is completed.

In build-local.json, I recommend changing `userName` and `userPassword` to `devUsername` and `d

[2015-06-30 21:10] aaronsamuel137 commented on #159
Fixed the names. @pixelzoom, are you up for testing this with hookes-law next time you need to deploy dev?

[2015-06-30 21:14] pixelzoom commented on #159
Yep, I'll try to remember to test for the next hookes-law dev version.  Assigning to me.

[2015-07-02 18:04] samreid commented on #160
I feel like those are an acceptable level of granularity and am ok leaving them in.

[2015-07-02 18:10] samreid commented on #160
This output is looking much better, I'm happy with the --debug and sans debug output.  Closing.

[2015-07-03 16:56] pixelzoom commented on #159
I use `grunt deploy-dev` to deploy Hooke's Law 1.0.0-dev.23 and it worked great.

One request: deploy-dev.sh prints the URL for deployed sim, and that's super convenient for quickly navigating to the deployed sim, pasting the URL into emails, etc.  Could you add that to this grunt task? For example, deploy-dev.sh would have printed:

`deployed:" http://www.colorado.edu/physics/phet/dev/html/hookes

[2015-07-06 14:58] aaronsamuel137 commented on #159
I've added added this log message. Assigning to @pixelzoom for review. If it looks good to you I'll go ahead and update the deploy dev documentation in phet-info.

[2015-07-06 15:06] pixelzoom commented on #159
Looks good. You can also delete deploy-dev.sh.

[2015-07-06 15:43] aaronsamuel137 commented on #159
Deleted deploy-dev in 3a4ef0e457b5ca250fa541b64b3d9500b24449b6 (forgot to reference this issue).

Updated https://github.com/phetsims/phet-info/blob/master/sim_deployment.md and sent an email to developers. Assigning to @pixelzoom for review. Feel free to close if it looks good to you.

[2015-07-06 16:24] pixelzoom commented on #159
Visually inspected, looks good.  Nice job, closing.

[2015-07-06 16:24] #159 closed

[2015-07-06 16:54] samreid opened #163 ""grunt deploy-dev" fails"
I was testing out the new `grunt deploy-dev` from https://github.com/phetsims/chipper/issues/159 and am running into this error:

Here is my full transcript:

[code]

What do you think the problem may be?

[2015-07-06 17:00] pixelzoom commented on #163
Did you run `npm install` in chipper?

[2015-07-06 17:06] aaronsamuel137 commented on #163
What OS are you using? There is an issue I just discovered with Windows where the path is set wrong, not sure if this is related or not.

[2015-07-06 17:19] aaronsamuel137 commented on #163
You can also try logging credentialsObject.path and let me know what the output is.

[2015-07-06 17:20] samreid commented on #163
Yes, see my transcript above:
[code]

I'm running OS X Yosemite 10.10.2 and my npm version is 1.4.28

[code]

[2015-07-06 17:22] samreid commented on #163
Here is my credentialsObject:

[code]

[2015-07-06 17:22] samreid commented on #163
Perhaps I need to bump up the version number, since 1.0.0-dev.6 already exists?

[2015-07-06 17:26] samreid opened #164 "grunt bump-version is broken, perhaps it can be deleted"
grunt bump-version is broken.  And possibly it is no longer needed since we have consolidated the version info into a single file.  Perhaps we should delete it, can I get a +1 from somebody?

[2015-07-06 17:27] samreid commented on #163
I tried using grunt bump-version and it appears broken, see https://github.com/phetsims/chipper/issues/164, I'll do it manually instead.

[2015-07-06 17:29] samreid commented on #163
After updating the version, this problem disappeared.  Can @aaronsamuel137 detect this error condition and provide a helpful console message, since it is likely to happen again?

[2015-07-06 17:34] pixelzoom commented on #164
+1

[2015-07-06 17:35] samreid commented on #164
I'm on it.

[2015-07-06 17:36] pixelzoom commented on #164
bump-verison has probably been broken since version.js went away.

[2015-07-06 17:38] samreid commented on #164
I removed it above and ran a test grunt to see that things still worked properly.  Closing.

[2015-07-06 17:38] #164 closed

[2015-07-06 18:03] samreid commented on #162
If it is not too much effort, scripts to report on images & audio may still be useful to help us (a) understand what still needs to be re-created by PhET or (b) to handle any images/audio that PhET does not re-create.  @ariel-phet said we probably will stick with font-awesome artwork for the time being.

I am unfamiliar with recent work done in chipper/js/grunt/setThirdPartyLicenses.js, so not sur

[2015-07-06 18:09] aaronsamuel137 commented on #163
Looks like there is a pull request in scp2 already to address this issue: https://github.com/spmjs/node-scp2/pull/32. Perhaps I can add a try catch in our code as a workaround for now.

[2015-07-06 18:09] pixelzoom commented on #162
If you're asking if there is a way to include 3rd-party licenses that are sim-specific and not indicated in chipper/build.json... The answer is yes.  Use the "licenseKeys" field in package.json, format is identical to build.json.   Sim-speciific licenses are added on line 64 of setThirdPartyLicenses.js:

[code]

[2015-07-06 18:11] pixelzoom commented on #162
Btw... A sim-specific library doesn't need to be noted in pkg.licenseKeys if it's already specified in pkg.preload.

[2015-07-08 16:41] aaronsamuel137 opened #165 "Build-server should email developer(s) on build fail"

[2015-07-08 18:04] samreid commented on #156
We are reworking the way branding is done, and "interoperable" is currently one of the brands.  Once the build tools are using the build-local.json to determine the brand, we could also use that flag to determine the text to show in the header.  I'm inclined to address the branding issues before proceeding on this.

[2015-07-08 18:27] pixelzoom commented on #156
+1 for changing the grunt option name (if that's what you mean :). The current `--together` flag should be changed to `--brand=interoperable`.

[2015-07-08 21:47] samreid commented on #156
I like the idea of being able to specify brand using query parameters for requirejs mode, and being able to use build-local.json *or* command line args to specify it for the build.

[2015-07-08 21:54] pixelzoom commented on #156
... where command line overrides build-local.json for builds.

[2015-07-09 02:55] samreid commented on #156
https://github.com/phetsims/brand/issues/11 is the issue that would be good to complete either before or in conjunction with this issue.  Also, this issue is not critical for production deploys, but will be necessary for interoperable deploys.

[2015-07-09 03:07] samreid opened #166 "Together license keys not added"
While looking at setThirdPartyLicenses.js, I saw this code:

[code]

The last line doesn't mutate the licenseKeys, for example see:

[code]

So this was broken for prior deploys and will need to be fixed.

[2015-07-09 03:09] samreid commented on #166
Fixed above, reassigning to @jbphet to see if any deployed or delivered files need to be patched.

[2015-07-09 17:28] aaronsamuel137 commented on #165
I have added this to both Rosetta and build-server. Still needs testing.

[2015-07-10 21:17] pixelzoom opened #167 "updateThirdPartyLicensesMD.js is broken"
... which also breaks the build task:

[code]

[2015-07-10 21:18] pixelzoom commented on #167
Fixed. Assigned to @samreid to verify.

[2015-07-10 22:53] samreid commented on #167
My bad, I was shortcutting with `grunt build-no-lint`, will try to be more thorough next time.  Thanks for identifying and fixing, closing.

[2015-07-10 22:54] #167 closed

[2015-07-13 18:52] aaronsamuel137 opened #168 "Build server should update .htaccess file on build"
The .htaccess file that determines which directory is mapped to "latest" needs to be updated to the version of the sim that is currently being built.

[2015-07-13 23:17] pixelzoom opened #169 "should common-code repos with demo apps be included in active-sims?"
I frequently use grunt-all.sh to test that changes don't affect the ability to build sims.  That script (and others) read the active-sims file, which currently includes only simulations in active development.  I've tried to run 3 demo apps for common-code repos recently (sun, vegas, scenery-phet) and found them all broken, with the same error.  So perhaps we should add common-code repos with demo

[2015-07-13 23:19] pixelzoom commented on #169
Example of the problems I've recently encountered:

https://github.com/phetsims/scenery-phet/issues/172
https://github.com/phetsims/sun/issues/193
https://github.com/phetsims/vegas/issues/45

[2015-07-13 23:27] ariel-phet commented on #169
@pixelzoom - any downside to including these repos?

[2015-07-13 23:32] pixelzoom commented on #169
No downside other than the semantic glitch that common-code demo apps are not sims, and will in a file named active-sims.

[2015-07-13 23:47] aaronsamuel137 commented on #169
Actually, there is a downside to this. Currently, the way Rosetta identifies a sim repo vs a common code repo uses active-sims. So I'd recommend against adding these repos to active-sims unless you can suggest another way for Rosetta to distinguish.

[2015-07-13 23:55] aaronsamuel137 commented on #168
Implemented. Closing

[2015-07-13 23:55] #168 closed

[2015-07-13 23:56] aaronsamuel137 commented on #141
I think version 1 of build server is ready for code review. Assigning to @jonathanolson for review.

[2015-07-14 01:04] samreid commented on #160
Every simulation just picked up this additional text to every build (this is the tail of a grunt):

/Users/samreid/github/hookes-law/build/hookes-law.min.js
Uncompressed size: 2047518 bytes.
Compressed size: 173482 bytes gzipped. (757533 bytes minified)

Running "after-requirejs-build" task
mipmapped /Users/samreid/github/brand/js/../images/logo.png to level 4 with quality: 98
level 0 (PNG 273x108

[2015-07-14 01:09] samreid commented on #169
What will go wrong if Rosetta identifies a common code repo as an active sim?  Could we just hard-code a list in rosetta (custom logic) that knows to skip the common code repos?

[2015-07-14 03:17] jonathanolson commented on #169
That sounds like having three lists, instead of just active-repos and active-sims.

It still feels weird to me the way we make our common repos into "sims". Would it be weird to have a single demo sim?

[2015-07-14 03:35] jonathanolson commented on #160
grunt.log.debug didn't work out of the box (not defined in Node.js), and global.grunt was undefined. If I did require( 'grunt' ), grunt.log.debug output didn't show up.

I've had to resort to passing in the logging function (which seems pretty unclean for code in general). @samreid, can you see if there's a better way of doing this, and review?

[2015-07-14 15:43] aaronsamuel137 commented on #169
All of those common strings will appear under the "Sim Strings" section instead of the "Common Strings" section, and therefore the user will not get the warning that changing common strings will effect every translation. Also it would probably confusing to a user.

Yes, this would be another option, we'd just have to remember to update the list if we create a new common repo.

[2015-07-14 15:52] pixelzoom commented on #169
@jonathanolson said:

I agree, let's not pervert the semantics of active-sims (which I mentioned as a drawback).

[2015-07-14 17:29] pixelzoom commented on #169
7/14/15 dev meeting, we decided to create a new file named `active-runnables` that contains all repos that have something that runs using the PhET framework.

[2015-07-14 17:31] pixelzoom commented on #169
Some scripts and automated testing should be changed to use `active-runnables` instead of `active-sims`.

[2015-07-14 17:31] samreid commented on #169
I’ll take a look at this after the meeting, and reassign to someone to double check.

[2015-07-14 18:56] samreid commented on #169
I created active-runnables above and updated the scripts to use it where appropriate (specifically, everywhere except rosetta).

I'm testing with http://localhost:8080/chipper/tests/test-sims.html?loadOnly and it seems like the new repos are being tested properly.

I also tested that the new repos are hit by grunt-all.sh.

Some minor issues: I wasn't sure about projectile-motion. I added it to act

[2015-07-14 19:26] pixelzoom commented on #169
I'll take a look.

[2015-07-14 19:34] pixelzoom commented on #169
Inspected and ran a few tests. Looks great. Closing.

[2015-07-14 19:34] #169 closed

[2015-07-14 19:37] pixelzoom commented on #169
Litmus built fine for me. Are you up to date?

Reported vibe build failure in https://github.com/phetsims/vibe/issues/16.

[2015-07-14 23:10] aaronsamuel137 commented on #128
This was added in build-server. Closing

[2015-07-14 23:10] #128 closed

[2015-07-15 14:17] samreid commented on #160
I believe the convention for chipper code called from grunt is to pass the grunt instance.  For example afterRequirejsBuild.js starts like:

[code]

Would that work for the mipmapper?

[2015-07-15 16:24] pixelzoom commented on #160
I only see the mipmap output when running `grunt -d`.

[2015-07-15 17:16] jonathanolson commented on #160
Is there any advantage to doing that as opposed to passing just the log function (so that it isn't dependent on grunt itself?)

[2015-07-15 17:28] samreid commented on #160
The main advantages of passing the grunt:

1) consistency with pre-exising code
2) it is obvious what grunt.log.debug is doing, less obvious what logFunction(...) would do
3) what if you need to add a grunt.log.error call (or any other grunt functionality)?  Then would you introduce a new parameter, or switch to passing the grunt?

Main advantages of passing a minimal log function instead of the g

[2015-07-15 18:21] jonathanolson commented on #160
It seems like if we ever want to be open to the possibility of mipmapping in a non-grunt context (e.g. server that can mipmap images on the fly), it's beneficial to have it not depend on grunt.

I however can't particularly think of a realistic scenario other than "we're not using grunt for builds anymore".

I'll leave it up to you, no strong preferences.

[2015-07-15 18:29] samreid commented on #160
Let's see if @jbphet or @pixelzoom can cast a deciding vote (no rush).

[2015-07-16 05:27] samreid opened #170 "Require projectURL for licenses"
https://github.com/phetsims/sherpa/issues/48 was being caused by a missing projectURL in stats.  We should add code to check for the existence of the projectURL and fail if it is missing.

[2015-07-16 05:29] samreid commented on #170
I added a check above.  I tested removing projectURL temporarily and observing that hookes-law failed to build.  Adding the projectURL back in caused hookes-law to lint and build properly.   Anybody want to review this small change set? @jbphet @jonathanolson @aaronsamuel137 @pixelzoom ?

[2015-07-16 05:35] samreid commented on #170
I decided notes should be required as well (committed above), and tested grunt + launch for hookes-law.

[2015-07-16 16:38] pixelzoom commented on #170
Sounds ok to make projectURL and notes required fields.  Changes look good. Closing.

[2015-07-16 16:40] #170 closed

[2015-07-16 17:06] samreid commented on #158
Chipper now checks for license metadata as it creates the HTML file and errors out if something is not found.  Closing.

[2015-07-16 17:06] #158 closed

[2015-07-16 17:26] pixelzoom commented on #160
As I said in https://github.com/phetsims/chipper/issues/160#issuecomment-121667826:

So I'm confused about why this is an issue.

[2015-07-16 19:42] pixelzoom commented on #160
7/16/15 dev meeting consensus: Pass in `grunt`, to be consistent with other chipper code.

[2015-07-16 21:40] samreid commented on #169
My litmus is building now.

[2015-07-17 17:27] #160 closed

[2015-07-20 19:43] samreid commented on #59
This can be closed after https://github.com/phetsims/brand/issues/11 is completed.

[2015-07-20 22:53] samreid opened #171 "Licensing issues for images/audio during build"
1. The build should fail if any image/audio/mipmap is not attributed in the license.txt file, or if the attribution is not compatible with PhET's licenses
2. The build output should include a statement of 3rd party image/audio/mipmap files and their source & license.

This came up during https://github.com/phetsims/tasks/issues/274 where I discovered that many published projects do not have accept

[2015-07-20 22:55] samreid commented on #171
This should be done through the requirejs plugins so that we can recursively find all 3rd party images/audio through requirejs dependencies.

Bonus points if we can additionally get this to work in requirejs (dynamic) mode.

[2015-07-20 22:56] samreid commented on #171
Building plugin tools won't allow us to check the inverse question: "are there any images/audio files that are check in but not used by the simulation"--we will need additional support for that.

[2015-07-21 16:35] samreid commented on #171
This code should run from the image.js plugin *and* from the gruntfile, but I'm not sure how to do that since requirejs plugins load requirejs `define` style dependencies and gruntfile loads module.exports node style dependencies.

[2015-07-21 16:44] samreid commented on #171
Or maybe we should just run this from the plugins and focus on writing an aggregator task to make it easy to generate multi-sim reports.

[2015-07-21 16:46] samreid commented on #171
It looks like loadFileAsDataURI has an example of requirejs+node compatible loading:

[code]

[2015-07-21 18:24] samreid commented on #171
@jonathanolson suggested only enabling the license checks when building the phet-branded version, or when enabled from the command line.  Sounds good to me.

[2015-07-21 18:26] samreid commented on #171
The brand issue overlaps with this work item: https://github.com/phetsims/brand/issues/11

[2015-07-21 18:43] samreid opened #172 "Report which images/audio for a simulation were *not* used"
After a requirejs build and all dependencies have been traversed, we should search for which images/audio have *not* been used and error/warn the developer so things can get cleaned up.

[2015-07-21 19:04] samreid opened #173 "Should we fail a build if AI file is accidentally missing?"
We could introduce a build step what verifies that AI files exist for each PNG file, and fails if it is missing _or_ not explicitly annotated as to why it is not needed.

[2015-07-21 19:07] samreid commented on #171
Using an in-development image plugin + `grunt-all.sh build-no-lint` I found 81 Error: NOT ANNOTATED IN FILE errors.

[2015-07-21 22:25] samreid opened #174 "Speed up license.json processing through caching"
Determine how much time is being spent in processing the same license.txt many times and determine whether we should cache.

[2015-07-21 22:57] samreid commented on #172
This list is not necessarily complete, but running `grunt licenseTXTReport` and comparing the output to the `grunt-all.sh build-no-lint` with plugin checks enabled shows the following problematic images that are not used in the sims:

NOT ANNOTATED IN FILE: /Users/samreid/github/capacitor-lab-basics/images/closeButton.png
NOT ANNOTATED IN FILE: /Users/samreid/github/capacitor-lab-basics/images/pro

[2015-07-21 23:01] samreid commented on #171
I'm going to split out item (2) from the issues description into a new issue.

[2015-07-21 23:04] samreid opened #175 "Provide attribution for 3rd party images/audio in the compiled HTML file"
From #171: The build output should include a statement of 3rd party image/audio/mipmap files and their source & license.

For some 3rd parties such as NASA, this is important to be in concordance with their terms, but we should be doing it for every 3rd party resource.

[2015-07-22 02:52] samreid opened #176 "Don't check license.json entries when building as non-phet brands"
@jonathanolson suggested in #171 that we should not require simulations to have license attributions in the license.txt files when building with a 3rd-party brand (such as a non-phet brand).

[2015-07-22 02:55] samreid commented on #171
I'm going to commit intermediate progress for this issue as a good check point.  I confirmed that hookes-law `grunt` succeeds and runs.  I'm not that excited about passing the duplicated string 'OK' for the success case, but I think this will get resolved in #175

[2015-07-22 02:57] samreid opened #177 "Check license.json entries during the require.js mode when brand==='phet'"
From #171:

[2015-07-22 02:59] samreid commented on #171
I committed the fix for (1) above, which fails the build if image/audio/mipmap is not attributed with an acceptable attribution.  I believe all other work is being tracked in separate issues, so I'll close this one.

[2015-07-22 02:59] #171 closed

[2015-07-22 03:00] samreid opened #178 "Review of new licensing code"
After

- [x] #162
- [x] #170
- [x] #171
- [x] #172
- [x] #174
- [x] #175
- [x] #179
- [x] #180
- [x] #181
- [x] #182
- [x] #183
- [x] #185
- [x] #186
- [x] #188
- [x] #189
- [x] #191
- [x] #193

are completed, this entire suite of work should be reviewed.

Note that #184 and #187 and #194 are still under discussion.

[2015-07-22 03:06] samreid commented on #171
I posted this on the google group:

As part of work in https://github.com/phetsims/chipper/issues/171 I have introduced a new requirement for building simulations with grunt.  Each image and audio file must have a license.txt file in its directly with a description of the file.  If the license.txt file or the image/audio file description is missing or does not provide a compatible license, then gr

[2015-07-22 03:07] samreid commented on #172
@jbphet @jonathanolson @pixelzoom @aaronsamuel137 @jessegreenberg should we fail the build if there are unused image/audio files in the simulation directory?

[2015-07-22 03:21] samreid opened #179 "Create stricter rules for license.txt parsing"
Currently license parsing is just a string search.  For instance:

license=this used to be public domain but isn't anymore

would result in a classification of "public domain" because it contains that text.  We will either need a better system or to be very careful about the text in our license.txt files.

[2015-07-22 03:41] samreid opened #180 "Unify image/audio and code treatment for 3rd party licensing"
Currently images/audio are treated completely differently than code for 3rd party licensing, from metadata for attribution to how it appears in the HTML file.  Can/should we unify them?  Ideally yes, but how much effort/complexity will it require?

[2015-07-22 04:10] samreid commented on #175
I've got this working in my working copy.  Here's an example of the output for gravity-and-orbits:

[code]

I'm including the name since it should be unique (otherwise different images with the same name would have collisions).

I'm putting this output directly beneath the 3rd party code licenses.

Having trouble deciding what to name this.  It is currently for non-code assets, such as images and

[2015-07-22 04:14] samreid commented on #175
I tested with grunt for hookes-law and didn't see any lint or build errors.  By the way, the output for a simulation without any 3rd party images or audio such as hookes-law looks like this:

[code]

Since lint+grunt are passing, I'll commit shortly.

[2015-07-22 04:16] samreid commented on #175
I pushed the changes above.  We could take additional steps to beautify the output if we decide it is necessary but at least we are reporting on these licenses now.

[2015-07-22 04:20] samreid commented on #178
I'm wondering if I should have used a milestone instead of label for these related issues.......

[2015-07-22 14:50] samreid opened #181 "Convert license.txt to JSON"
From https://github.com/phetsims/tasks/issues/274, @pixelzoom suggested converting license.txt to JSON:

Design (15+ hours)
1. Replace license.txt with license.json
2. Define the fields in license.json, which are required/optional, etc.
3. Require a license field for 3rd-party resources

File conversion (10-20 hours)
4. Convert all existing license.txt files to license.json (shell script).
5. Revi

[2015-07-22 14:52] samreid opened #182 "Identify orphaned entries in the license.txt/JSON files"
Some license.txt files (which may be moving to JSON) may have entries that are unused.  We should identify them and eliminate them.  Perhaps part of the build process would check for this and fail on errors.

See https://github.com/phetsims/chipper/issues/181
See https://github.com/phetsims/tasks/issues/274

[2015-07-22 14:57] samreid commented on #162
At a previous meeting, @kathy-phet pointed out that it is impractical to own all images/audio and that we will need a process for managing 3rd party images/audio.

[2015-07-22 15:00] samreid commented on #181
If we choose a style of JSON that matches the 3rd party code contributions, it will be a good step toward #180 unifying code/art 3rd party support.

[2015-07-22 15:05] samreid commented on #179
#181 would help with this quite a bit

[2015-07-22 15:30] samreid commented on #181
I'll have to switch to another task for a bit, but thought I'd leave some notes here.  For converting txt=>json, I was writing Java code in AnnotationParser.java (from our svn) like so:

[code]

Obviously we'll need to add a bit more code here :smiley:

[2015-07-22 16:46] samreid opened #183 "global not found when running in requirejs mode"
When running in requirejs mode, the classifyLicenseForFile is still running, and throwing `global not found` error.

[2015-07-22 16:46] samreid commented on #183
I applied a small band-aid above but this will need more attention.

[2015-07-22 18:14] jonathanolson commented on #172
If it's phet-branded, sounds good to me (but allow --force).

[2015-07-23 16:31] samreid commented on #181
Incremental progress in https://phet.unfuddle.com/a#/projects/9404/repositories/23262/commit?commit=74402

[2015-07-23 19:16] samreid opened #184 "Make sure license.txt/license.json doesn't fail builds if --force is set"
Make sure license.txt/license.json doesn't fail builds if --force is set.  A suggestion from @jonathanolson

[2015-07-23 19:20] samreid commented on #172
Consensus from developer meeting: always print warnings.  This way we can check in all of the artwork when we receive it and still be able to build without --force.

[2015-07-23 19:43] samreid commented on #181
I'm going to temporarily disable the plugin license.txt requirements while I am incrementally porting TXT => JSON

[2015-07-24 03:17] samreid commented on #181
To maintain history, it looks like I will need to do this as a 2-step process, converting the contents of the file before changing the filename.

I'll also want to make sure the process for handling the JSON works well before getting too far so I can make sure we won't require systemic changes after this batch conversion.

[2015-07-24 04:37] samreid commented on #181
After I'm done here, I should double check the projectURL and text fields for 3rd party images & audio.

[2015-07-24 05:33] samreid commented on #181
I've finished converting license.txt to license.json.  A summary of what was done:

Reused JSON schema from the 3rd party code contributions, so they will match.  For example, here is an annotated public domain image:

[code]

and here is an annotated PhET image:

[code]

The text states the copyright, if any.
The projectURL is where the image/audio was obtained from.  If it is a PhET image/audio,

[2015-07-24 13:34] samreid commented on #181
I ran grunt-all.sh build-no-lint and saw related errors in:

john travoltage
making-tens
build-a-molecule