[2016-09-23 19:32] samreid commented on #478
Perhaps an option to loop, so it can be used for continuous integration?

[2016-09-23 19:34] pixelzoom commented on #478
Looks good. But isn't the current default `testTask=fuzzMouse` (not `none`)?

[2016-09-23 19:58] jonathanolson commented on #478
Yes, I'm proposing changing the default, as we'll already need to change most links to the test-server to add thinks like ?ea.

[2016-09-23 20:00] jonathanolson commented on #478
Sounds like nice features to add, should we create separate issues for those? Or is aqua going to be the thing for continuous integration?

[2016-09-23 20:07] samreid commented on #478
Aqua will just be one part, please see https://github.com/phetsims/aqua/issues/2

[2016-09-23 22:26] samreid commented on #445
Summary: grunt has been updated to ~1.0.0, grunt-requirejs is gone, npm prune has been added to build-server, maintenance releases have checked out ok.  I'll close this issue, if subsequent problems arise, please open a new issue and reference this one.

[2016-09-23 22:26] #445 closed

[2016-09-23 22:48] samreid commented on #478
@jonathanolson the proposal sounds good.

[2016-09-24 02:45] samreid opened #494 "Centralize grunt?"
Today when I updated grunt in #445, I had to visit many package.json files and update them.      Then I had to iterate across many sim directories and npm prune and npm install.  While it is rare for us to update package.json or grunt, or change systemwide like grunt-requirejs (though it may happen again), I realized there is an alternate paradigm that may be nice.  Imagine if builds were all done

[2016-09-24 02:49] samreid commented on #478
One more note about how this work relates to aqua.  The test wrapper proposed in https://github.com/phetsims/chipper/issues/478#issuecomment-249282054 could be used by aqua as one of its browser test pages (or possibly its primary test page).

[2016-09-24 02:51] samreid commented on #481
@mattpen and I made a lot of progress on this, I am not sure where it is at.  @mattpen what remains to be done here?

[2016-09-24 03:44] mattpen commented on #481
I tested a production deploy of both phet and phet-io branded sims to ox-dev tonight.  The phet branded sim can be seen here: https://ox-dev.colorado.edu/sims/html/faradays-law/latest/faradays-law_en.html (albeit with a phet-io version string).  The phet-io brand can be checked via ssh at `phet-server-dev:/data/web/static/phet-io/sims/faradays-law`.  The apache directives to display phet-io-dev.co

[2016-09-24 03:47] samreid commented on #481
That seems like something we want to do anyways.  When will it be ready and does it require OIT intervention?

I like the process of testing things on phet-dev first, but if it will be too long before it is ready we can go straight to production.  There are no "update notification" or disturbances for our clients if we deploy extra phet-io things onto phet-server, so that seems like it would be OK

[2016-09-24 03:50] mattpen commented on #481
I can get it ready in 3-4 hours, I can work on it this weekend if you'd like to have it working before testing in production.

It does not require any intervention by OIT (unless they incorrectly assigned the IP address for phet-io-dev), but it might require some help from @phetsims/mark-morlino.

[2016-09-24 04:24] mattpen commented on #481
@samreid - I'm still working out a few details, but you can see the deployed files in a browser at https://128.138.129.31/sims/faradays-law/.  This requires a VPN connection.

[2016-09-24 17:00] samreid commented on #481
Looks great, I don't see any trouble there.  The wrappers need ?launchLocalVersion unless using the version on phet-io.colorado.edu, in order to test them.  Perhaps we should come up with a better way of doing that, but all else seems good.

[2016-09-24 17:01] samreid commented on #481
@mattpen So is the next step to test a production deploy?

[2016-09-24 17:20] samreid opened #495 "Update grunt-eslint"
19.0.0 was updated recently, with the following fixes:
- added maxWarnings option
- don't log newline when no output
- updated eslint to ^3.0.0
- don't error out when there are no files to lint

The new lint started catching issues like "unreachable code" and "Unexpected control character(s) in regular expression"

[2016-09-24 19:08] samreid commented on #495
I've updated all package.json locally, and running npm install and grunt lint-all to catch errors.  If all is well, I'll commit everything.  Afterwards, developers will need pull and `npm install` for each simulation, and update their local ESLint to latest (3.0.0 series).

[2016-09-24 19:44] samreid commented on #495
OK lint is looking good everywhere, catching only errors that should be caught.  I checked that the new lint is still using our custom rules.  Committing shortly.

[2016-09-24 19:53] samreid commented on #495
OK all changes are pushed:

Developers will need pull and `npm install` for each simulation, and update their local ESLint to latest (3.0.0 series).

@jonathanolson can you npm install everywhere on phet-server?

[2016-09-25 03:45] samreid commented on #490
OK I restored the blank lines, closing.

[2016-09-25 03:45] #490 closed

[2016-09-25 03:46] samreid opened #496 "Cleaner parse in test-sims"
in https://github.com/phetsims/chipper/issues/490#issuecomment-248969312 @pixelzoom said:

Regarding test-sims.js... This would be cleaner, and doesn't require a function:

[code]

E.g. in console:

[code]

Either way is fine with me, but since I closed #490 I thought I'd track this separately.  @pixelzoom go for it if you wish.

[2016-09-25 22:19] samreid opened #497 "How much can we reduce startup time by avoiding pre-parse?"
For instance, using https://github.com/nolanlawson/optimize-js will allow us to avoid parsing JS twice in most browsers (by skipping the pre-parse phase for IIFEs) .  It would be trivial to add an optimize-js step to our chipper build--we should see if it statistically significantly improves our startup times.

[2016-09-26 03:55] samreid commented on #497
I took this for a quick test drive.  Here's my "branch" of createHTMLFiles.js

[code]
I also instrumented the sims to compute startup time by adding a line to the top of the sim.html template and the bottom of Sim.js constructor.

Results:
# Chrome
NOPT console open
2032
2075
1964
1960
1887
1891
1955
1948
1931
1903

OPT console open
1783
1786
1791
1780
1798
1808
1782
1784
1766
1760

170ms faster o

[2016-09-26 15:42] samreid commented on #489
I instrumented the proposed code with the following console.log statements:

[code]

And observed this output during a FAMB build:

[code]

That seems correct.  I'll also try removing something from phetlibs to make sure it errors out.

I removed sherpa and got this error:
[code]

All seems well, closing.

[2016-09-26 15:42] #489 closed

[2016-09-26 15:53] samreid opened #498 "simTitleStringKey looks incorrect"
While testing https://github.com/phetsims/phet-io/issues/641 I added this line to deployDev.js

[code]
and I saw this entry for a phet-io build for faradays-law.
[code]

I'm unfamiliar with this part of the build process.  Assigned to developer meeting so we can take a look, decide if it needs fixing, and decide on an assignee.

[2016-09-26 16:25] samreid commented on #493
Fixed in above commits, closing.

[2016-09-26 16:25] #493 closed

[2016-09-26 16:49] mattpen commented on #481
The dev domain name is working now https://phet-io-dev.colorado.edu/sims/, although we are missing a cert, so you'll have to tell your browser to ignore the SSL error.

I think a good next step would be to deploy a rosetta translation to the tests babel branch using ox-dev.colorado.edu, to make sure that rosetta still works after our changes.  I'll work on this tonight.

[2016-09-26 17:45] pixelzoom commented on #496
Done.

I first verified that the algorithm yields identical results by temporarily adding this:

[code]

After making the change, I tested by running test-server.html.

Everything looked OK, so closing. @samreid take a peek if you wish.

[2016-09-26 17:45] #496 closed

[2016-09-26 18:01] samreid commented on #496
I tested the regex in the console, seems OK.

[2016-09-26 19:15] samreid opened #499 "Script should run synchronously"
From https://github.com/phetsims/scenery/issues/567

I tried adding a build-js task to build scenery and include it in a sample HTML file (test.html in scenery's chipper branch).  However, when the test.html starts up, window.scenery is undefined until after one setTimeout.  This is caused by the asychronous e(['']) being used instead of the synchronous e('').  https://github.com/requirejs/almond/

[2016-09-26 19:16] samreid commented on #499
I committed the change above, @jonathanolson or @andrewadare or @pixelzoom do you have time to review?

[2016-09-26 19:32] pixelzoom commented on #499
Sorry, I don't have time to look at this one.

[2016-09-26 22:20] andrewadare commented on #499
@samreid There's not much to review here; if you tested it and it works, I'm not sure how exactly I can be of assistance. The new source looks fine to me, although I'm not sure whether the generated code should be following the PhET formatting guidelines (space padding in parens).

[2016-09-26 22:29] samreid commented on #499
Perhaps do a build with and without it on a different project (using --uglify=false) and make sure they differ as prescribed, and double check that something builds and runs nicely?

I do not know whether wrap or uglify goes first.  In either case, the code is intended for build, so would be embedded in HTML.

[2016-09-27 14:57] andrewadare commented on #499
Here's a build of CLB diffed between e6236b6 and today's master:
[code]

So it looks like the square brackets made it in correctly.

Both versions run locally without any problems.

[2016-09-27 15:21] samreid commented on #499
Thanks @andrewadare, closing.

[2016-09-27 15:21] #499 closed

[2016-09-27 16:11] samreid opened #500 "SyntaxError: Use of const in strict mode."
Yesterday @jonathanolson identified that one of our new dependencies requires a newer node/npm than the one he previously had.

Here are my npm/node versions which are known to work:
[code]

Here are @jonathanolson node/npm versions which are known to not work:
[code]

Here is our transcript:

[9/26/16, 12:33:15 PM] Jonathan Olson: btw, am I missing some lint commits from dot/kite related to extra

[2016-09-27 16:12] samreid commented on #500
In the above thread, @jonathanolson and I concluded that the next step would be to see if a newer version of npm and node would solve the problem.  I haven't heard from @jonathanolson about whether that was confirmed.

[2016-09-27 16:13] samreid commented on #500
@phet-steele reported:

[code]

[2016-09-27 16:14] samreid commented on #500
I'm unaware how to log in to the test-server or where on its hard drive things are located.  @jonathanolson can you help?

[2016-09-27 16:16] samreid commented on #500
I emailed the developer list:

[2016-09-27 16:21] samreid commented on #500
I also emailed:

Also, build-server and test-server will need to be updated as well.

Jon, can you update test-server?  Also are credentials written somewhere so that in the future I could take care of that?

Matt or John, can you update build-server?

Best Regards,
Sam

[2016-09-27 19:34] jonathanolson commented on #500
Updated node/npm on phettest:
[code]
Should be able to do ```sudo n stable``` and ```sudo npm install -g npm``` to update if necessary in the future.

[2016-09-27 21:07] mattpen commented on #481
From phetsims/phet-io#638:

[2016-09-27 21:09] mattpen commented on #481
@samreid - somehow that path is being interpreted as relative on phet-io-dev.  I did another deploy after the fix and it is launching correctly without the ?launchLocalVersion parameter.  See https://phet-io-dev.colorado.edu/sims/beers-law-lab/1.5.0-phetio.4/protected/wrappers/lab-book/lab-book.html?sim=beers-law-lab.

I would suspect that this may be because Apache thinks that phet-io.colorado.ed

[2016-09-27 21:16] samreid commented on #500
I'll assign to @mattpen to make sure the build servers ox and ox-dev are up-to date.

[2016-09-27 22:15] jonathanolson commented on #478
@pixelzoom, any other recommendations (and is the new default ok), or should I proceed with implementing the changes?

[2016-09-27 22:33] jonathanolson commented on #500
The above works on OSX also.

[2016-09-28 03:50] mattpen commented on #500
[code]

node/npm were updated on phet-server and phet-server-dev tonight, and I restarted rosetta and build-server afterwards without error.  The servers were previously running node v0.10.X, but v4.X.X should be backwards compatible.

[2016-09-28 03:50] #500 closed

[2016-09-28 04:01] samreid commented on #478
Should we move these test pages to aqua (which is dedicated to testing), or leave them here in chipper?  Issue management may be simpler if we move away from chipper.

[2016-09-28 04:13] jonathanolson commented on #478
Moving to aqua sounds nice to me.

[2016-09-28 19:43] pixelzoom commented on #496
@jonathanolson reported on Skype:

[9/28/16, 1:35:57 PM] Jonathan Olson: It's trying to build acid-base-solutions area-builder area-model-multiplication arithmetic atomic-interactions balancing-act balancing-chemical-equations balloons-and-static-electricity beaker beers-law-lab bending-light blast build-a-molecule build-an-atom calculus-grapher capacitor-lab-basics chains charges-and-fields circu

[2016-09-28 19:48] samreid opened #501 "Change npm install to npm update"
`npm install` suffered from problems that were cured by `npm update`.  @mattpen @jbphet and I are all mystified about *how* this solved the problem, but we verified that `npm update` has the correct behavior across a variety of cases.

I'm seeing 37 occurrences of `npm install` across our repos, and there may be more across our documentation like bit.ly/phet-development-overview

We need to assign

[2016-09-28 20:24] samreid opened #502 "Move test services to aqua"
In https://github.com/phetsims/chipper/issues/478#issuecomment-250067404 @samreid and @jonathanolson agreed that the test services currently in chipper should move to aqua.  I can start on this but may need @jonathanolson help if updates to phettest.colorado.edu are necessary.

[2016-09-28 21:53] pixelzoom commented on #498
Is this issue specific to faradays-law, or do you see similar results with other sim repos?

[2016-09-28 21:56] pixelzoom commented on #498
Based on this in getDeployConfig.js:

[code]

I would expect the entry to be:

[code]

[2016-09-28 21:56] pixelzoom commented on #498
deployConfig.requirejsNamespace is obtained from `phet.requirejsNamespace` in package.json.

[2016-09-28 21:57] pixelzoom commented on #498
deployConfig.requirejsNamespace is obtained from phet.requirejsNamespace in package.json.  faradays-law/package.json looks OK, so perhaps this is a general issue.

[2016-09-28 22:03] pixelzoom commented on #498
Looks like this field should be added to the definition of `deployConfig` on line 54 of getDeployConfig.js

[code]

And should probably add an assert somewhere in this file, since (I believe) `phet.requirejsNamespace` is a required field in package.json:

[code]

[2016-09-28 22:07] pixelzoom commented on #498
If the assertion causes problems for non-runnables, then we could do this, as in getBuildConfig.js:

[code]

[2016-09-28 22:09] pixelzoom commented on #498
Also need to update doc at top of getDeployConfig.js (line 110) to indicate that `phet.requirejsNamespace` is a required field.

[2016-09-29 00:29] pixelzoom commented on #498
Removing developer-meeting label, since I think there's enough information above to fix this.  @samreid if you can verify that this is not sim-specific, I'll be happy to fix it.

[2016-09-29 00:50] pixelzoom commented on #497
@samreid wrote:

Then why bother discussing this at developer meeting? Interested developers are (hopefully) watching this repository to stay informed on issues like this.  If they're not, then c'est la vie.

[2016-09-29 01:48] samreid commented on #497
I guess I'd like to mark this issue as "perhaps worth more investigation if we ever target Android", should I create a label for that?

[2016-09-29 02:09] samreid commented on #498
It is happening for function builder:

[code]

Hence it seems general.

[2016-09-29 03:36] samreid commented on #484
Unassigning until November based on discussion in https://github.com/phetsims/special-ops/issues/40

[2016-09-29 04:45] mattpen commented on #481
@samreid - I deployed a phetio version of FB to phet-server tonight - https://phet-io.colorado.edu/sims/function-builder/1.1.0-phetio.4/function-builder_en-phetio.html.  It is unable to launch wrappers because it is dependent on an old version of chipper that still included `/phet-io/` in the path.  Should I fix this manually, or do you foresee this being a common occurrence that we should handle

[2016-09-29 05:40] mattpen commented on #481
I added a rewrite rule that redirects all requests to /sims/SIM/VERSION/phet-io/* to /sims/SIM/VERSION/*.  It appears to be working for function builder, see https://phet-io.colorado.edu/sims/function-builder/1.1.0-phetio.4/protected/wrappers/instance-proxies/instance-proxies.html

[2016-09-29 13:46] samreid commented on #481
Can you help me understand the problem?  In what way was function builder dependent on an old version of chipper?  Was using release-candidate SHAs or something?

Wouldn't that break links we have already given to customers for historical versions that do use the phet-io/ paths?

[2016-09-29 15:40] mattpen commented on #481
No, as these historical links are all in the /0.1/ directory, which the rewrite rule would not match.  This problem is addressed further in phetsims/phet-io-website#80.

Function builder is using the following SHA for chipper:
[code]
This sha is from before the phet-io subdirectory was modified for PhETIOAppUtils.

[2016-09-29 15:57] pixelzoom commented on #497
I don't think we need a label that's quite that specific :)  Up to you whether to keep this open as "deferred", or close and reopen if Android ever becomes relevant.

[2016-09-29 17:00] mattpen commented on #491
This was fixed in phetsims/phet-io#638

[2016-09-29 17:00] #491 closed

[2016-09-29 17:04] pixelzoom commented on #498
OK, thanks, I'll take care of this.

[2016-09-29 17:16] pixelzoom commented on #498
Fixed in above commit.

To test, I added this to the end of getDeployConfig.js:

[code]

Here's the output with a couple of sims:

[code]

Back to @samreid for review.

[2016-09-29 17:23] jonathanolson commented on #501
Additionally, searching for npm usage (not just 'npm install') sounds important, e.g. maintenance.js:
[code]

[2016-09-29 17:26] jonathanolson commented on #494
This sounds amazing.

Yup, perennial would need to detect which build style would be needed, and do very different things.

Don't really know yet whether it would be worth it.

[2016-09-29 17:54] jessegreenberg opened #503 "Remove sim version from HTML page title"
At 9/29/16 developer meeting we discussed removing the sim version from the HTML page title.

SR: It’s OK with me to remove it.
AP: I also support removing this unless it is necessary
CM: OK with me. But recommended to check with KP.
JO: I'm fine for it to be removed
JB: +1 for removal, but let’s not go back and do maintenance releases to implement it on currently published sims, let’s just do it

[2016-09-29 18:28] samreid commented on #494
@jonathanolson pointed out that if we can no longer run `grunt` from sim directories it could complicate the build process.  Then he also said we could have grunt stubs that invoke chipper.

[2016-09-29 18:30] samreid commented on #494
@jonathanolson and @samreid are approved to investigate this at medium or medium-low priority.

[2016-09-29 18:32] samreid commented on #501
@zepumph volunteered to investigate this.  Ping @jonathanolson @jbphet @samreid or @mattpen if you have any questions about this.

[2016-09-29 18:33] samreid commented on #501
For background information, read the man pages as well as http://stackoverflow.com/questions/12478679/npm-install-vs-update-whats-the-difference and try out npm install and update and rm -rf node_modules on a few things.

[2016-09-29 21:22] samreid commented on #497
I labeled for android and will unassign.

[2016-09-29 21:29] samreid commented on #501
There is also a google doc at http://bit.ly/phet-development-overview that you should put on your list to update.

[2016-09-30 02:11] samreid commented on #481
We should start using new SHAs for new phet-io releases, so that the chipper build process (among other things) will be correct.

I'm not sure what other feedback to give on this issue, if any.  Are there any open questions?  Anything else to do?

[2016-09-30 03:11] samreid commented on #494
@jonathanolson can we make an appointment to look into this?  I'm interested in investigating it, but lack knowledge and experience in perennial, build-server and chipper as they pertain to node_modules.

[2016-09-30 03:14] samreid commented on #498
Question: how come this issue did not appear in any other symptoms?  Is `simTitleStringKey` really being used?  If so, what for?  Why did have an undefined prefix not cause trouble?  Does it need a prefix?

[2016-09-30 04:20] mattpen commented on #457
This issue is stale, removing assignment.

[2016-09-30 18:13] pixelzoom commented on #498
All good questions.

[2016-09-30 18:36] samreid opened #504 "If --brand=phet-io then version must contain "phetio" string"
Perhaps add something like this to afterRequireJSBuild.js:

[code]

If you are trying to deploy a phet-io branded sim, but the string "phetio" is not in the version name, then there will be dire consequences (publishing to phet.colorado.edu as new production version).

[2016-09-30 18:39] samreid commented on #504
Fixed above and will be tested shortly.

[2016-09-30 18:46] samreid commented on #504
Tested for phet and phet-io, working nicely, closing.

[2016-09-30 18:46] #504 closed

[2016-10-01 00:33] samreid commented on #498
I'm trying to understand how simTitleStringKey is created and used, and I'm a bit over my head.  It looks like it was introduced in 7d2cc1f5e8ac7399f143b2b0476dafcc9cfdec60 and usages were expounded upon in 728ef60e7b58a39a7acef1a062b3be41930ad107.  Both commits are from @pixelzoom, when you have time can you help investigate?  If the key or its prefix is not necessary, perhaps it should be remove

[2016-10-01 00:54] pixelzoom commented on #498
`simTitleStringKey` is definitely required in package, and in buildConfig, because createHTMLFiles.js uses it to lookup the sim's title:

```var simTitle = stringMap.en[ buildConfig.simTitleStringKey ];```

Not sure how (or whether) it's used in deployConfig. I'll take a closer a look on Monday.

[2016-10-01 01:18] pixelzoom commented on #498
getDeployConfig.js was created in https://github.com/phetsims/chipper/issues/309#issuecomment-133546102, "similar to getBuildConfig.js, but for deploy tasks".

Doing a search across all PhET files (all file types), I see only `buildConfig.simTitleStringKey` being used, and `deployConfig.simTitleStringKey` appears to be unused.  So I believe that it's safe to remove `simTitleStringKey` from getDepl

[2016-10-01 01:30] samreid commented on #498
I removed `simTitleStringKey` from getDeployConfig.js and tested grunt, it seemed OK.  I'll commit changes so I can test deploy-rc with --dryRun

[2016-10-01 01:30] samreid commented on #498
grunt deploy-rc --dryRun also seems OK.  @pixelzoom do you want to do anything else for this issue?

[2016-10-01 17:41] samreid commented on #502
It seems this work should coordinate with #478, @jonathanolson can you take care of it or let me know when a good time to work on it is?

[2016-10-03 15:34] zepumph commented on #501
In correlation with a dev discussion we decided to remove  chipper/bin/npm-install-all.sh. This is mainly because no one used it or knew it existed. I attached that to this issue.

[2016-10-03 15:35] pixelzoom commented on #498
Nothing else that I can think of. Closing.

[2016-10-03 15:35] #498 closed

[2016-10-03 15:45] zepumph commented on #501
Other commits regarding this change:
dot: 6df9bbf492b6110caf47457c9056dca97cd625a8
all-sims: 17a7699fad7fb8e39ff1aee6ea4d7406cf1981f5
kite: b61bda003d6a93f4841c39c8db7904f6163df5f3
perennial: e921f9e7e37991bad3eef4c36141d599e575b1f1
phetmarks: d76927343ed946b01fc821f0e27948c88349745a
scenery: 9c434709b5140e779f6a1af238709458677ffe43
sherpa: cbdbe169a663def55301b07a4497c068b5f25dbf
simula-rasa: 43e

[2016-10-04 04:05] pixelzoom opened #505 "script to identify vestigial repositories in working copy"
It would be nice to have a script that identifies vestigial repositories in your working copy.  I have a couple different machines that I work on, and with the renaming of repositories, it's easy to end up with cruft in my working copy (and IDEA VCS list).

[2016-10-04 04:35] pixelzoom commented on #505
I created script print-vestigial.sh, which prints a list of files that are siblings of chipper and are not in active-repos.  Example output, from the working directory on my MacPro:

[code]

[2016-10-04 04:35] #505 closed

[2016-10-04 04:37] pixelzoom commented on #505
Btw... There may be some files identified (e.g. GitHub.iml) that you don't want to blast. It's up to you to know that.

[2016-10-04 14:55] zepumph commented on #501
Now the only `npm install` commands left in the project are when someone wants to specifically install a single package. see phet-info\ide\sublime-text\eslint-and-sublime-text.md for an example. Passing this one off to @samreid to review for closing.

[2016-10-04 16:26] samreid opened #506 "Grunt not working if phetio is in the version name"

[2016-10-04 16:27] samreid commented on #506
@phet-steele this should be fixed for now, can you pull and re-test?

[2016-10-04 16:31] jessegreenberg commented on #472
In balloons-and-static-electricity, I have been trying a new type that handles sending new content to the aria-live elements.  This type could easily handle hiding/unhiding of the content to fix the issue mentioned in https://github.com/phetsims/chipper/issues/472#issuecomment-241538758.

[2016-10-04 16:35] zepumph commented on #501
I also have updated http://bit.ly/phet-development-overview document to the same specifications as above, keeping npm install if it regards a specific package to be installed

[2016-10-04 17:33] jessegreenberg commented on #472
I will do this tonight during quieter hours to avoid conflicts with team commits.

[2016-10-04 18:03] phet-steele commented on #506
@samreid, all sims built successfully. Thank you.

[2016-10-04 19:00] mattpen commented on #481
The issue with conflicting SHAs was resolved here: phetsims/phet-io-website#80

[2016-10-04 19:00] #481 closed

[2016-10-05 03:10] #506 closed

[2016-10-05 03:11] samreid opened #507 "grunt and grunt --brand=phet-io cannot succeed for the same codebase"
Discovered in https://github.com/phetsims/chipper/issues/506 `grunt` and `grunt --brand=phet-io` cannot both succeed for the same codebase because chipper is now checking that version names match our style (phet-io builds must have the string `phetio` in the version name).  This will cause complications for automated testing.

@andrewadare @mattpen @zepumph any ideas about how to deal with this?

[2016-10-05 14:03] samreid commented on #501
I skimmed through all occurrences of npm and the changes look good, thanks @zepumph, closing.

[2016-10-05 14:03] #501 closed

[2016-10-06 06:19] jonathanolson commented on #495
I believe @jbphet or @mattpen may have taken care of this in the 'npm update' task?

[2016-10-06 06:45] jonathanolson commented on #502
I'll be able to handle this and update phettest.colorado.edu.

[2016-10-06 06:46] jonathanolson commented on #494
@samreid sounds good, let me know on Skype. Thurs/Fri open.

[2016-10-06 19:17] jonathanolson commented on #478
@pixelzoom, can you see if the documentation (at aqua/test-server/README.md) should be improved, and see if the changes look good?

I've updated phettest.colorado.edu to the latest version.

[2016-10-06 19:17] jonathanolson commented on #502
Moved to aqua, bumped handling on phettest.colorado.edu to point to the new version (with new query parameters).

[2016-10-06 19:17] #502 closed

[2016-10-06 21:27] jbphet commented on #495
With the recent modifications, the build server should pull master and run ```npm prune``` and ```npm update``` for chipper, perennial, and the sim that is being built at the beginning of the build process.  So, unless I'm missing something, I don't think any manual steps should be needed.  Back to @samreid to say whether he thinks that the manual update really *is* required for some reason.

[2016-10-07 17:09] pixelzoom commented on #478
I read through (looks great), but didn't test drive the instructions. One minor edit in https://github.com/phetsims/aqua/commit/f44cf7deb0cfda30dff5f0f4d8e7f912d25dd18a.

Back to @jonathanolson. Feel free to close if there's nothing left to do.

[2016-10-07 17:23] jonathanolson commented on #478
Thanks!

[2016-10-07 17:23] #478 closed

[2016-10-07 19:29] samreid commented on #495
My mistake, I think I was referring to test-server, and I believe @jonathanolson has already taken care of that.

[2016-10-07 19:29] #495 closed

[2016-10-07 20:11] jonathanolson commented on #464
It looks like this is now documented:
[code]

Is that sufficient?

[2016-10-08 02:50] samreid commented on #494
@jonathanolson I haven't had time for this in the last several days.  Feel free to investigate asychronously if you wish and I'll do the same, or perhaps our times will match up in the coming weeks.

[2016-10-08 13:34] pixelzoom commented on #464
👍 Closing.

[2016-10-08 13:34] #464 closed

[2016-10-11 19:59] jessegreenberg commented on #503
In status meeting 10/6/16, @kathy-phet agreed that it was OK to remove the sim version from the page title.

@pixelzoom volunteered to investigate doing this in a developer meeting, so assigning to him.  @pixelzoom if I can help at all, please let me know.

[2016-10-12 05:47] mattpen commented on #507
@samreid - I'm not able to recreate the problem from #506, if I run `grunt` with phetio in the version it succeeds.  Has this problem already been fixed somewhere?

Are we doing any automated testing on phet-io builds yet?  The reverse does not work (running `grunt --brand=phet-io` without phetio in the version).  This could be possibly be solved by moving [this assert](https://github.com/phetsims

[2016-10-12 15:22] samreid commented on #507
Are you using a stale chipper (from dependencies.json)?  When I added phetio to the version name in forces-and-motion-basics/package.json in master and ran grunt, I saw the following:

~/github/forces-and-motion-basics$ grunt
Running "eslint:allFiles" (eslint) task

Running "clean" task

Running "requirejs-build" task
Warning: phet versions cannot be named like phet-io versions Use --force to cont

[2016-10-12 23:52] jonathanolson opened #508 "for-each.sh seems to break apart quoted arguments"
The following:
[code]
on Git bash (Windows 7) resulted in the following errors:
[code]
as if it was running
[code]

@pixelzoom, is the ability to handle quoted arguments expected, or did I incorrectly try to use the script?

[2016-10-13 18:39] jonathanolson opened #509 "Add simname_all.html that includes string data for all locales"
Uses locale query parameter to select on startup. See https://github.com/phetsims/phet-app/issues/234

[2016-10-14 02:43] mattpen commented on #507
@samreid - My grunt task wasn't failing because the brand was `'adapted-from-phet'`, I think because I do not have a `"brand"` entry in `build-local.json`.  Would it be acceptable to run the automated testing with this brand?  Then the assertion in [requirejsBuild.js:25](https://github.com/phetsims/chipper/blob/master/js/grunt/requirejsBuild.js#L25) would not fail.

[2016-10-14 03:30] samreid commented on #507
It would be best if we could run the automated tests for all 3 supported brands, phet, adapted-from-phet and phet-io.  Until then, it seems like a good idea to keep "phetio" version names out of master and continue testing phet brand on master.  This assertion will help us keep master clean.

[2016-10-14 15:23] pixelzoom commented on #508
Works fine with UNIX bash, e.g.:

[code]

So it's likely a problem with Git-bash or Windows.  I don't use either, so you'll need to debug.

[2016-10-14 15:56] jonathanolson commented on #508
I'll look into it.

Additionally, I was curious about other examples, as
[code]
Has the same output as
[code]

[2016-10-14 16:46] pixelzoom commented on #503
This is handled in createHTMLFiles.js.  In addition to the browser title, the version number appears in 2 other places inside the .html file deliverable:

(1) Meta data tags for OpenGraph protocol, e.g.:

[code]

(2) A comment related to copyright and licensing. E.g.:

[code]

@ariel-phet Do you want either of these occurrences deleted, or just the version number in the browser window title?

[2016-10-14 16:49] pixelzoom commented on #503
One more...

(3) The browser window title for the iframe test, e.g. "Function Builder 1.0.0.dev.2 iframe test".

[2016-10-14 16:52] pixelzoom commented on #503
Note to self, relevant lines in createHTMLFiles.js:

[code]

[2016-10-14 18:15] jonathanolson commented on #508
Yup, appears to be broken on OS X:
[code]

[2016-10-14 18:19] jonathanolson commented on #508
Fix applied above. @pixelzoom, can you confirm/review?

[2016-10-14 18:49] mattpen commented on #507
Could we possibly add a process to create a transient package.json object during automated testing for each brand?  Or add --version as an command line option to grunt?

[2016-10-14 19:10] ariel-phet commented on #503
@pixelzoom this should definitely be removed in (1) and (3) -- we don't want the version showing up in facebook posts.

(2) seems appropriate as the version number WILL appear in the about dialog, so it seems to make sense in the internal licensing, so I would say keep that. I don't see that interfering with any a11y case.

[2016-10-14 22:28] jonathanolson commented on #509
The chipper-built phet.chipper.strings was changed to the format of getStringMap, and it includes all needed locales. Moved up setting phet.chipper.locale to initialize-globals, so that Google Analytics will report properly.

Assigning to @jbphet for review, and to make sure this doesn't cause problems for Rosetta.

[2016-10-17 13:48] pixelzoom commented on #508
👍 Closing.

[2016-10-17 13:48] #508 closed

[2016-10-17 14:07] pixelzoom commented on #503
There's also some code in Sim.js that needs to be changed. This bit sets the browser window title:

[code]

[2016-10-17 14:24] pixelzoom opened #510 "problems with how browser window title is set"
There are multiple problems with how the `<title>` tag is set for sim HTML files.  Noted while working on https://github.com/phetsims/chipper/issues/503.

## built html files

chipper/templates/sim.html contains this line:

[code]

`SIM_TITLE` is replaced like this in createHTMLFiles.js:

[code]

Sim.js has this bit of code, which does the same thing as the above (and is problematic, as noted by t

[2016-10-17 14:27] pixelzoom commented on #510
@samreid @jonathanolson Do you see any problem with the above recommendations?

[2016-10-17 14:28] pixelzoom commented on #503
Work on this is completed. Related issue identified and tracked in #510.

@jessegreenberg Would you mind reviewing?

[2016-10-17 14:32] pixelzoom commented on #510
Above I recommended:

There will be a significant amount of work required to get the sim title. What do you think of just inserting the repository name, so that (e.g.) "function-builder" is the title for the development HTML file?

[2016-10-17 16:46] jonathanolson commented on #510
Presumably it would just be
[code]
that could be somewhat factored out?

Overall, I agree with (1) and (2) now that we don't add dynamic information to the title (e.g. no version numbers, brand information, etc.)

[2016-10-18 04:49] samreid commented on #510
I'm 26 issues behind and it may be a while before I can look into this one.  Though I do agree with steps (1) and (2) above, and I like @jonathanolson suggestion to have the correct text in requirejs mode.

[2016-10-18 13:22] pixelzoom commented on #510
Agreed that this should do the job:

But when called in generateDevelopmentHTML.js, it currently returns an empty string map.  So there's a problem somewhere, and that's going to take time to investigate.

[2016-10-18 13:40] pixelzoom commented on #510
The string map is empty because `global.phet.chipper.strings` is `{}` when called from generateDevelopmentHTML.js. So getStringMap returns an empty map for each locale.

[2016-10-18 13:50] pixelzoom commented on #510
In order to get the sim title, `global.phet.chipper.strings` needs to be populated, which requires the `string.js` plugin to run in build mode, which requires the `requirejs-build` task to run.  That's a lot of heavyweight stuff just to get the sim title for the development HTML file. And figuring out how to run the string plugin separately from `requirejs-build` is a serious time investment.  So

[2016-10-18 14:10] pixelzoom opened #511 "template files use different conventions for placeholders"
Noted while working on https://github.com/phetsims/chipper/issues/510.

Tokens within the html templates are replaced by grunt tasks.

In sim.html and sim-iframe.html, the tokens are all uppercase, e.g.:

[code]

In sim-development.html, the tokens begin and end with curly braces, e.g.:

[code]

Should the same convention be used in all templates? Which convention?

[2016-10-18 14:32] pixelzoom commented on #510
All development html files have been regenerated using `grunt-all.sh generate-development-html`.

I tested a couple of builds to confirm that title is correct in built sims after removing code from Sim.js.

@jonathanolson Would you please review?

[2016-10-18 19:33] jessegreenberg commented on #472
Accessibility content has been added to all simulations via the grunt task.  Closing.

[2016-10-18 19:33] #472 closed

[2016-10-18 20:14] jbphet commented on #509
Initial comments:
+ I tested doing this build, and it mostly worked, but I found that if I set a locale value that didn't exist in the sim, it bombed.  We should probably just fall back to English in this case.
+ Related to the previous point, using locale=xx as a query parameter to a built sim that is NOT an _all sim causes the same problem, i.e. the sim crashes during launch.
+ Can we consider u

[2016-10-18 21:16] jonathanolson commented on #509
So we should basically ignore locales if they aren't in a list?

Sure, although is it weird to have command-line parameters ```--locales=es --allLocales```?

[2016-10-18 22:41] jonathanolson commented on #510
Looks good.

Only further comment is if we need to worry about sim_all.html titles. Hopefully we don't need to, as they are probably embedded in another page/application.

Thoughts?

[2016-10-19 00:59] pixelzoom commented on #510
What is sim_all.html? I don't see any such file in GitHub.

[2016-10-19 13:15] pixelzoom commented on #511
+1 for having tokens begin and end with curly braces. It makes it more obvious that they are token, and makes it easier to search for tokens.

[2016-10-19 13:16] pixelzoom commented on #511
Please discuss this without me at 10/20 developer meeting. My opinion is in the comment immediately above.  And feel free to assign to me to do the work, since I've recently been in these files.

[2016-10-19 17:07] samreid commented on #494
I tried a minimal install that just has grunt in devDependencies, but it still weighs in at (16.1 MB on disk) for 3,193 items

Grunt is designed to use "one grunt per project".  If we are going to proceed with this, we would likely need a different build command other than `cd sim; grunt`.

[2016-10-19 17:12] samreid commented on #494
It seems like to attain the behavior described in this issue we would need a pattern like:

A:
[code]

or

B:
[code]

But I'm not convinced we should change the API for builds at the moment.  I'll unassign myself.  @jonathanolson you can look deeper if you wish.

[2016-10-19 17:19] samreid commented on #507
This would be good to discuss at developer meeting, to brainstorm and evaluate ideas for how to make multi-brand builds possible.

[2016-10-19 17:35] samreid commented on #494
In discussion with @jonathanolson, new idea:

[code]

build.sh would invoke chipper's grunt, and pass through options.

[2016-10-19 18:11] samreid commented on #494
Other possibilities:

* Using symlinks to reference one set of node_modules
* putting node_modules in the parent directory (e.g. above the checkouts), so that npm would use that.

[2016-10-19 18:11] jonathanolson commented on #494
Example build.sh:
[code]

would launch chipper's grunt with --sim=(simname), however there are a TON of relative paths in chipper, and this would take a lot of effort.

[2016-10-19 18:24] samreid commented on #494
Some details about using node_modules from another directory here: https://github.com/gruntjs/grunt/issues/232

[2016-10-19 18:30] samreid commented on #494
According to https://github.com/gruntjs/grunt/issues/232#issuecomment-6376905

When using plugins inside a project's gruntfile, npm module plugins loaded via grunt.loadNpmTasks must be installed locally (in ./node_modules/plugin_name relative to the gruntfile).

If I enforce the constraint that we no longer use grunt plugins, and remove the dependency on grunt-eslint, then builds seem to be able t

[2016-10-19 18:31] samreid commented on #494
We would also have a problem with this line:

[code]

[2016-10-20 07:02] jonathanolson commented on #510
See https://github.com/phetsims/chipper/issues/509, added recently. Generated with builds (_all instead of _(locale)), and contains string information for all locales, so the locale can be selected at launch-time with the query parameter.

[2016-10-20 12:35] pixelzoom commented on #510
That explains where buildConfig. availableLocales, which I added documentation for in @5907a8c24ced19bdfda877bfc884eb3172b5cfed.

So back to @jonathanolson's question:

Not clear to me what's involved here, and I'm still not familiar with what this is (since https://github.com/phetsims/chipper/issues/509 contains no useful information to that affect).  So I guess I'll need to generate this thing a

[2016-10-20 12:42] pixelzoom commented on #510
The grunt help for `--allHTML` says:

I ran `grunt --allHTML` for function-builder, and opened function-builder_all.html.  It does not show me "information for all locales" (whatever that is), it shows me the English sim and nothing more. Is there perhaps some other option that needs to be included?  And what is "information for all locales"?

Assigned to @jonathanolson.

[2016-10-20 12:43] samreid commented on #510
The all HTML was recently proposed as the solution to i18n on the iOS app.

[2016-10-20 12:44] pixelzoom commented on #509
As note in https://github.com/phetsims/chipper/issues/510#issuecomment-255094765:

The grunt help for `--allHTML` says:

Two issues:

(1) What is  "information for all locales"?  I have no idea what to expect or to determine why this option would be useful.

(2) I ran `grunt --allHTML` for function-builder, and opened function-builder_all.html.  It does not show me "information for all locales" (w

[2016-10-20 16:10] jonathanolson commented on #510
Yes, run the built sim file with ?locale=es (or another locale), and it should load in that locale. This is possible since it embeds strings for every locale into the built sim, instead of just embedding strings for one locale.

What are the places where I can improve documentation for this?

[2016-10-20 16:12] jonathanolson commented on #509
Notes in https://github.com/phetsims/chipper/issues/510#issuecomment-255152222.

Includes translated strings for all locales, instead of just including strings for a single locale. It allows us to have a single HTML file that (with a query parameter) can run in any locale available.

[2016-10-20 18:45] samreid commented on #507
@jonathanolson suggests appending the brand to the version number for phet-io builds.

1.2.0-dev.1 => 1.2.0-phetiodev.1
1.2.0 => 1.2.0-phetio

I'll take a look.

[2016-10-20 19:10] samreid commented on #511
+1 for curly braces.

[2016-10-20 19:11] samreid commented on #511
@andrewadare said he was thinking of $$ as well

[2016-10-20 19:12] samreid commented on #511
Mustache and other templating engines use {{}}

[2016-10-20 19:13] samreid commented on #511
@aadish said we could use https://lodash.com/docs/4.16.4#template

[2016-10-20 19:16] jbphet commented on #511
Discussed at 10/20/2016 developer meeting, and had a lot of different ideas about whether to adopt something used by another template platform or what, so we're deferring until next dev meeting when @pixelzoom is back.

[2016-10-20 19:19] samreid commented on #511
Also, {VAR} is valid es6 code, so perhaps we should use a different pattern.

[2016-10-21 15:44] samreid commented on #507
It looks like buildConfig and deployConfig are the only 2 places in chipper where the version is ready.  Hence these are the 2 sites where the "phetio" string must be inserted.

[2016-10-21 15:59] samreid commented on #507
I wrote this file:

[code]

And use it in getBuildConfig like so:

[code]

However, there are 3 usage sites of getDeployConfig which also get the version by reading package.json and I cannot figure out how this will work for perennial.  I may need help from someone with perennial experience like @mattpen.

[2016-10-21 16:02] samreid commented on #507
I committed getVersionForBrand.js but it is not currently used.

[2016-10-21 19:30] samreid commented on #507
@mattpen and I worked to add calls to getVersionForBrand to getDeployConfig and getBuildConfig, and that seems like it will work well (though it needs to be tested).  However, the about dialog is not showing the updated version.  Perhaps package.json is being added into the build without the updated version name?

[2016-10-21 19:33] samreid commented on #507
Yes, package.json is being loaded through requirejs:

![image](https://cloud.githubusercontent.com/assets/679486/19609174/ed4fd7f6-9792-11e6-80e9-4d0757130613.png)

[2016-10-21 20:11] samreid commented on #507
I skyped the developer chat:

[2016-10-21 20:13] samreid commented on #507
@mattpen and I added code to splice in the version name.  It should be tested for dev deploy and production/rc deploy for phet-io and phet brands.

[2016-10-21 20:35] samreid commented on #507
We should factor out getVersionForBrand and make it UMD, this will require adding CHIPPER to all config files.

[2016-10-21 20:47] samreid commented on #507
@mattpen and I tested a dev phet-io deploy and it seemed good.  I tested a phet rc deploy and it seemed good: http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.2.0-rc.1/

Next I'll try a phet-io rc deploy.

[2016-10-21 20:49] samreid commented on #507
phet-io rc deploy also looks good:
http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.2.0-phetiorc.2/

I should create a separate issue to factor out the logic into a UMD file, then this issue can be closed.  Thanks @mattpen!

[2016-10-24 16:36] pixelzoom commented on #510
If the documentation for `--allHTML` is accurate ("contains information for all locales"), then why do I need to add `--locales=*`?   Imo, the absence of `--locales` should automatically build all locales, and the grunt help doc should be changed to:

[code]

[2016-10-24 16:39] pixelzoom commented on #509
As noted in https://github.com/phetsims/chipper/issues/510#issuecomment-255793825:

[code]

[2016-10-24 16:43] pixelzoom commented on #510
Let's continue the discussion about `--allHTML` in https://github.com/phetsims/chipper/issues/509.

Back to the related question that needs to be addressed here... In https://github.com/phetsims/chipper/issues/510#issuecomment-254660600, @jonathanolson said:

And in https://github.com/phetsims/chipper/issues/510#issuecomment-255094976, @samreid said:

So what I currently know about the all.html fi

[2016-10-24 16:46] pixelzoom commented on #510
Also highly recommended to rename this option from `allHtml` to `allHTML`.

[2016-10-24 16:47] pixelzoom commented on #509
Also highly recommended to rename this option from allHtml to allHTML.

[2016-10-24 16:48] jonathanolson commented on #509
I don't see where the documentation specifies that ```--locales``` is needed (it isn't).

[2016-10-24 16:48] jonathanolson commented on #510
I don't see where the documentation specifies that ```--locales``` is needed (it isn't).

[2016-10-24 16:51] jonathanolson commented on #510
Defaults to English.

As for the purpose of the file, the issue:

And noted in the related issue:

[2016-10-24 16:52] jonathanolson commented on #510
The _all.html would usually be run with a locale query parameter which sets the locale on startup, but the auto-generated HTML currently adds the English title. Should we dynamically set the title based on the locale query parameter?

[2016-10-24 16:52] pixelzoom commented on #509
Apparently I was using `--allHTML` instead of `--allHtml`. Again, highly recommended to rename this option.  And imo the grunt help should still read:

[code]

[2016-10-24 16:55] jonathanolson commented on #509
Done in above commit.

[2016-10-24 16:58] jonathanolson commented on #509
If --allHTML would only include strings for the locales specified by --locales (recommended in https://github.com/phetsims/chipper/issues/509#issuecomment-255798145), that would require build-server would always use locales=*, even if building for one translation update. Otherwise, the _all.html wouldn't include information for all locales (its purpose).

@jbphet, does the build-server use anythin

[2016-10-24 16:58] pixelzoom commented on #510
Great, that's the information that I needed - for locales other than English, the title isn't localized.

[2016-10-24 17:02] pixelzoom commented on #509
*Not* what I recommended.  Again:

[code]
--allHtml : Generates the _all.html file that contains strings for all locales.
            If the --locales option is used, the file will contain strings for only the specified locales.
            Note that `--locales=*` is equivalent to omitting the `locales` option.
[code]

[2016-10-24 17:06] pixelzoom commented on #509
... which is what the implementation does now. This is purely a documentation change.

[2016-10-24 17:09] jonathanolson commented on #509
Currently ```grunt --allHtml --locales=en``` includes all available locales (not just English) in the _all.html, so that doesn't seem like just a documentation change.

Omitting locales is currently (almost, not quite) equivalent to --locales=en, at least for most of the build process.

[2016-10-24 17:13] pixelzoom commented on #510
Title for all.html addressed in Sim.js.  Note that the title is currently displayed in English until the Sim constructor runs. Is that acceptable?   If not, then perhaps the sim template should not include a title, and the title should be added (for all locales) by Sim.js.

@jonathanolson your thoughts?

[2016-10-24 17:14] jonathanolson commented on #510
That seems totally acceptable to me.

[2016-10-24 17:19] pixelzoom commented on #510
Here's another idea...

Put this in all sim templates:

[code]

Do this unconditionally in Sim.js:

[code]

[2016-10-24 17:24] jbphet commented on #509
In response to https://github.com/phetsims/chipper/issues/509#issuecomment-255799583, yes, the build-server often builds just a single non-English locale in support of the translation process.

Since the ```locales``` flag in the build process is what controls which locales are build, how about doing away with the ```--allHTML``` flag and having a value of ```all``` that is a valid locale?  So, fo

[2016-10-24 17:25] pixelzoom commented on #509
I'm obviously very confused about this feature. My currently (revised) understanding:

• allHTML and locales options are independent, not at all related
• allHTML specifies to build an all.html file containing strings for all translated locales
• locales specifies the locale-specific HTML files to build

I am getting closer?

[2016-10-24 17:31] pixelzoom commented on #510
The templates that would have `<title>Will be set by Sim.js</title>` are:

sim-chrome-web-store.html
sim-development.html
sim-iframe.html
sim.hmtl

[2016-10-24 17:34] pixelzoom commented on #510
These 2 lines would be removed from createHTMLFiles.js:

[code]

This line would be removed from generateDevelopmentHTML.js:

[code]

[2016-10-24 17:34] jonathanolson commented on #510
It doesn't sound ideal to have Sim.js mentioned in the visible title of production sims, and for locale-specific sims (e.g. _en.html), we want the proper title in the HTML for search engines.

It would be less than ideal for "Will be set by Sim.js" to be shown in Google search results for our sims.

[2016-10-24 17:35] pixelzoom commented on #510
OK, then let's stick with the current approach, with these known "warts":

• English title is briefly visible in all.html
• Repository name is the title of developer html.

@jonathanolson Anything else to do here, or can this be closed?

[2016-10-24 17:39] jonathanolson commented on #509
Yup, all of those are correct for the current behavior. We'll always want the _all.html (in my opinion) to contain strings from all available locales, regardless of what locale-specific sim HTML files are built.

I don't have strong preferences about the way we tell grunt to build the _all.html, whether it's with an --allHTML flag, or adding 'all' to a list of locales.

[2016-10-24 17:40] jonathanolson commented on #510
Looks good, thanks!

[2016-10-24 17:40] #510 closed

[2016-10-24 17:40] jonathanolson commented on #509
Yup, all of those are correct for the current behavior. We'll always want the _all.html (in my opinion) to contain strings from all available locales, regardless of what locale-specific sim HTML files are built.

I don't have strong preferences about the way we tell grunt to build the _all.html, whether it's with an --allHTML flag, or adding 'all' to a list of locales.

[2016-10-24 17:41] jonathanolson commented on #509
Potentially renaming --locales to indicate it's about what locale-specific HTML files should be built might be helpful (and might have helped prevent misunderstandings), but would be tricky for the build-server to handle.

[2016-10-24 17:51] pixelzoom commented on #509
@jbphet said:

Then that would couple the `allHTML` and `locales` options. I don't think that's a good idea, it overloads the functionality of the `locales` option.

@jonathanolson said:

I don't know if we need to rename `locales`.  But better grunt help might be useful, since the current help doesn't indicate that this option specifies which locale-specific HTML files to build.  Maybe something

[2016-10-24 18:21] pixelzoom commented on #509
I see this in createHTMLFiles.js, line 265:

[code]

If `allHTML` is not relevant for non-phet brands, then this should be an error, not silently ignored. And the grunt help should indicate that it's valid only when brand=phet.

[2016-10-24 18:25] jonathanolson commented on #509
@samreid, do we need _all.html for phet-io brands?

Agreed.

[2016-10-24 18:26] jonathanolson commented on #509
@pixelzoom, the above documentation looks much more helpful.

[2016-10-24 18:30] pixelzoom commented on #509
@jbphet said:

Then that would couple the allHTML and locales options. I don't think that's a good idea, it overloads the functionality of the locales option.

And I said:

@jbphet and I looked at the implement via Skype, and it looks like having `all` as a special value for `locales` would be feasible.  It would involved a change to createHTMLFiles.js that looks something like this:

[code]

[2016-10-24 18:32] pixelzoom commented on #509
Another issue with the implementation of this at createHTMLFiles.js line 265:

[code]

Locale `'en'` should not be hardcoded, should be using ChipperConstants.FALLBACK_LOCALE.  This is also a problem at line 276 for the iframe.html support:

[code]

[2016-10-24 18:42] jessegreenberg commented on #503
Reviewed changes in https://github.com/phetsims/joist/commit/d5c572215d5bcbe19182c4d06ff72b7ca872799f and https://github.com/phetsims/chipper/commit/b019ee72dc8dd5c5bbd69f7df43e019e46b16de8, everything looks great.

To sanity check, I ran a handful of sims in requireJS and Built versions.  RequireJS sims all had the repo name as the title, and built sims had the sim name without the version number

[2016-10-24 18:42] #503 closed

[2016-10-24 19:18] samreid commented on #509
phet-io simulations will not run in the iPad app.  But there may be future cases where the _all.html is suitable for phet-io.

[2016-10-26 20:55] mattpen opened #512 "Add Javascript Set to eslint"
Javascript Set is not tolerated by lint currently:

[code]
But it is supported by all major browsers: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set

It should be added to lint.

[2016-10-26 20:56] mattpen commented on #512
It has been added, and Set is now passing lint.

[2016-10-26 20:56] #512 closed

[2016-10-27 18:40] pixelzoom opened #513 "delete 'chromeWebStore' option?"
This came up at 10/27/16 dev meeting, while discussing https://github.com/phetsims/chipper/issues/509#issuecomment-255825254.  The `chromeWebStore` options seems like an unfinished feature, and (according to @ariel-phet) it's unlikely to be representative of how PhET would do this now.   So should we remove this feature from the build process?

Labeled for developer meeting, when @mattpen is prese

[2016-10-27 18:43] pixelzoom commented on #509
10/27/16 dev meeting discussion:
• issues related to 'chromeWebStore' moved to #513
• leave `allHTML` as a separate code path in createHTMLFiles.js
• @pixelzoom will replace hardcoded 'en', then close

[2016-10-27 18:46] pixelzoom commented on #511
10/27/16 consensus: Double curly braces, e.g. `{{PHET_SIM_TITLE}}```.

[2016-10-27 18:49] pixelzoom commented on #511
Notes for @andrewadare:
• build process templates are in chipper/templates, related code is in createHTMLFiles.js.
• additional templates are in phet-io, talk to @samreid

[2016-10-27 18:50] andrewadare commented on #511
Also on the list:
 - search for `$` in phet-io to replace with double curlies

[2016-10-27 18:52] samreid commented on #511
And:

* search in copySupplementalPhETIOFiles.js

[2016-10-27 21:38] samreid opened #514 "Factor out getVersionForBrand and make it UMD to eliminate duplicated logic"
From #507: There is duplicated logic in chipper and simulations.  The decision was to address it like so:

We should factor out getVersionForBrand and make it UMD, this will require adding CHIPPER to all config files.

This is a small amount of duplicated code, and it is documented that it is duplicated, so this is not a high priority to refactor.

[2016-10-27 21:38] samreid commented on #507
I created a new issue to address the duplicated code, closing.

[2016-10-27 21:38] #507 closed

[2016-10-28 02:01] pixelzoom commented on #509
'en' replaced with ChipperConstants.FALLBACK_LOCALE. Tested with `grunt --allHTML` in function-builder, verified that function-builder_all.html and function-builder_en-iframe.html files were created.  Tested both html files, including `??locale=bs` for all.html.

Closing.

[2016-10-28 02:04] pixelzoom commented on #509
Reopening. This TODO still needs to be addressed in createHTMLFiles.js:

[code]

[2016-10-28 16:11] samreid commented on #511
Master checklist of other places we've the pattern that should be changed:

- [ ] Dot Gruntfile
[code]

- [ ] copySupplementalPhETIOFiles.js
[code]

- [ ] createSim.js
[code]

- [ ] generateReadme.js
[code]

[2016-10-28 17:12] andrewadare commented on #511
Tests were carried out before the above commits:

* README generation in chipper
* The doc/reference page for dot's API was generated
* A new sim was created from simula-rasa, it was launched and inspected
* All PhET-iO HTML pages visible from the launcher appear to have the correct sim name and version.

@samreid updated every templated string that we could find throughout all PhET repos to follo

[2016-10-28 18:38] samreid commented on #511
Did you test an phet-io build, and also test Instance Proxies => launch?

[2016-10-28 20:39] andrewadare commented on #511
It looks like we missed load-state-template.html. Updated now. But the iframe launched from instance-proxies has a 404 error for SimIFrameClient:

![image](https://cloud.githubusercontent.com/assets/154163/19821541/23c9bfac-9d1c-11e6-8b7f-0e6561be3c07.png)

I tried testing a phet-io build, but got stopped by lint errors in classroom-activity.js.

[2016-10-31 00:21] pixelzoom opened #515 "add a lint rule that warns about use of deprecated features"
I believe that @andrewadare suggested this at 10/27/16 developer meeting. Sounds like a good idea. I don't know if there's a built-in ESlint rule for this.

[2016-10-31 16:59] pixelzoom commented on #515
There are currently 49 `@deprectated` annotations in the repos list in active-repos.

[2016-10-31 17:00] pixelzoom commented on #515
There are currently 49 `@deprectated` annotations in the repos list in active-repos.  29 in PropertySet, 16 in Node.

[2016-10-31 18:16] pixelzoom opened #516 "convert common-code query parameters to QueryStringMachine"
Factored out of https://github.com/phetsims/query-string-machine/issues/15#issuecomment-256709865.

Consolidate "post-load" common-code query parameters (and their documentation) in `chipper.QueryParameters`.  For places where those query parameters are needed, add `CHIPPER` to config.js and use a requirejs statement to access them. E.g.:

[code]

For preload query parameters, leave those paramete

[2016-10-31 19:55] pixelzoom commented on #516
This turned into a mess because chipper.QueryParameters needs to have chipper.js Namespace, and that fails because preloads create window.phet.chipper.

[2016-10-31 19:57] pixelzoom commented on #516
Having separate preload and post-load query parameters also seems problematic. Some of the preload query parameters are used by both preload and post-load code.

[2016-10-31 20:00] pixelzoom commented on #516
I checked in intermediate work on QueryParameter, the schema has been tested, but it's not ready for production use, and I'm blocked until we can work out the namespace issue.  Labeling this for discussion at developer meeting because I wasn't getting needed feedback on Skype.

[2016-10-31 20:52] pixelzoom commented on #515
According to https://github.com/eslint/eslint/issues/6250#issuecomment-221483678:

[2016-10-31 20:53] pixelzoom commented on #515
There's currently no such rule in the jsdoc plugin.

[2016-10-31 20:55] pixelzoom commented on #515
The only other option I could find is here: https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-deprecated.md.  It's described as "a work in progress", so I'm not too interested in diving in.

I feel like I've done enough on this. Unassigning and labeling for developer meeting, to see if anyone else wants to pursue.

[2016-11-02 15:07] #474 closed

[2016-11-02 15:49] andrewadare commented on #470
If #468 can be closed, this should also be closed.

[2016-11-02 15:49] #470 closed

[2016-11-03 16:55] samreid commented on #516
I consider it odd that chipper would have only 1 module that gets loaded by requirejs, it could be confusing.  It seems vestigial that query parameters were historically dealt with in chipper, perhaps now it would make more sense to have this in another repo, such as Joist.

How many "preload" query parameters are there?  If it is a small number, it might make sense to handle them separately.

[2016-11-03 17:03] jonathanolson commented on #515
When something becomes deprecated, creating an issue in the relevant repos to remove the deprecated feature is probably sufficient, particularly since it seems difficult to add a lint rule?

[2016-11-03 17:13] pixelzoom commented on #515
The problem with creating an issue is that (given the growing number of issues) it's unlikely to get addressed.  A lint rule would remind us repeatedly about the deprecation, and make it more likely to be addressed.  That said, I don't think we should put time into a lint rule unless one already exists.

[2016-11-03 18:38] samreid commented on #513
@ariel-phet says: we will likely create an Android app that will supercede the Chrome Web Store version.

@mattpen says if we resume work on this we can resurrect the code.

Assigned to @mattpen to remove the chromeWebStore occurrences for now.

[2016-11-03 18:56] samreid commented on #515
@ariel-phet: I recommend a checklist issue where we chip away at getting rid of deprecated things bit by bit.

@pixelzoom: Can we really carve out time for this?

@ariel-phet: Perhaps we can just work on a bit at a time.

@jbphet: says it could be too time consuming to tackle now.  Perhaps after we have addressed the common code issues like PropertySet used in common code.

[2016-11-03 18:58] samreid commented on #515
We'll re-evaluate next time.

[2016-11-03 19:01] samreid commented on #516
Let's keep everything as preload, so all query parameters can be kept together, but making it a global instead of a requirejs module.

[2016-11-03 19:03] samreid commented on #516
@jonathanolson and @andrewadare said we should give that a try.

[2016-11-05 16:42] samreid commented on #515
Thanks to @jonathanolson we are down to 55 deprecations.

[2016-11-05 17:14] samreid commented on #515
I got rid of Random.random()

[2016-11-08 17:37] pixelzoom commented on #516
Deferred pending discussion of https://github.com/phetsims/phet-io/issues/831.

[2016-11-08 19:09] pixelzoom commented on #513
More related code in google-analytics.js:

[code]

This query parameter is not documented in initialize-globals.js.

[2016-11-08 19:19] pixelzoom commented on #516
I just discovered a boatload of query parameters that are being loaded using QueryStringMachine.get.  Presumable those should be moved to the master QueryStringMachine schema?  And and accessed via phet.chipper.queryParameters? @samreid please advise.

[2016-11-08 19:22] pixelzoom commented on #516
Or perhaps we should remove phet-io query parameters from `phet.chipper.queryParameters`.  Make phet-io have its own schema and `phet.phetio.queryParameters`.

[2016-11-08 19:41] samreid commented on #516
phet-io should have its own schema or query parameters that apply to most wrappers.  But many of the query parameters are specific to a single wrapper.  In that case, the wrapper should define the schema.  @andrewadare, @zepumph and I can take care of porting the phet-io query parameters to QSM.

[2016-11-08 20:05] pixelzoom commented on #516
I added this stub in initialize-globals.js:

[code]

[2016-11-08 20:08] pixelzoom opened #517 "move some query parameters to phet-io's schema"
In https://github.com/phetsims/chipper/issues/516#issuecomment-259238082, @samreid said:

Please identify which of the query parameters below (currently in chipper.QueryParameters) should be moved to phet-io's schema:

[code]

[2016-11-08 20:12] pixelzoom commented on #517
Searching for `'phet-io.`, the only uses that I see outside of the phet-io repository are:

Sim.js line 60:
[code]

Tandem.js line 241:

[code]

[2016-11-09 19:28] mattpen commented on #513
Chrome webstore options were removed from google-analytics.js, createHTMLFiles.js, and Gruntfile.js.

[2016-11-10 04:17] samreid commented on #511
We got the templates working and well tested during last week's rollout.  Closing.

[2016-11-10 04:17] #511 closed

[2016-11-10 19:46] pixelzoom commented on #515
I see `@deprecated` 43 times in repos that are listed in active-repos.

[2016-11-10 19:48] pixelzoom commented on #515
11/10/16 dev meeting: Instead of a lint rule, we're going to (gradually) prune deprecated code.

[2016-11-13 23:02] pixelzoom commented on #516
Re phetsims/phet-io#831... we decided OK to continue working in master. Removing "on-hold" label.

[2016-11-14 04:15] pixelzoom commented on #513
Reopening. While working on https://github.com/phetsims/chipper/issues/516, I discovered `chipper-string-setup.js`, which is using `getQueryParameter`.  The file was created by @jonathanolson with the commit message "Testing for building Chrome web-store-compatible files, see phetsims/tasks#403".

@jonathanolson Can `chipper-string-setup.js` be deleted? If not, why is it in templates?

[2016-11-14 04:16] pixelzoom commented on #513
I also see sim-chrome-web-store.html in chipper.

[2016-11-14 04:20] pixelzoom commented on #517
I'm trying to wrap up https://github.com/phetsims/chipper/issues/516, so raising the priority of this to high.

[2016-11-14 05:47] pixelzoom commented on #516
Lots of progress, but a few fundamental issues to be discussed:

(1) The semantics of `defaultValue` seem to be "the value to use when a query parameter doesn't include a value, or when the query parameter is altogether absent".  This makes it difficult to determine whether a query parameter was actually provides and should be used to override program defaults.

(2) Query parameters of type 'strin

[2016-11-14 05:47] pixelzoom commented on #516
I'd like to discuss the above issue with @samreid and @jonathanolson, at your convenience.

[2016-11-14 16:06] mattpen commented on #513
@pixelzoom - That template was not used anywhere that I could find.  I removed it.

[2016-11-14 16:32] pixelzoom commented on #513
Reopening again - `chipper-string-setup.js` (mentioned in https://github.com/phetsims/chipper/issues/513#issuecomment-260245101) not addressed.

[2016-11-14 17:30] jonathanolson commented on #513
Removed, no need to keep it. I believe that's everything (did a quick search), closing.

[2016-11-14 17:30] #513 closed

[2016-11-14 17:33] pixelzoom commented on #513
👍

[2016-11-14 17:33] jonathanolson commented on #516
Discussed via call, removing assignment.

[2016-11-14 17:46] pixelzoom opened #518 "'strings' query parameter is parsed once for each string key"
Discovered while working on https://github.com/phetsims/chipper/issues/516.

In string.js, this is executed once for each string key:

[code]

No one has complained about performance, but if we're going to continue to use the 'strings' query parameter, then we should parsing its value once and caching the result.

@jbphet also mentioned that the approach here may be totally changes at some point i

[2016-11-14 21:11] samreid commented on #517
Full context from my quote mentioned the issue description:

https://github.com/phetsims/chipper/issues/516#issuecomment-259238082

However, the simulation query parameters should remain in chipper/initialize-globals.  I'll take a look at them shortly.

[2016-11-14 21:29] samreid commented on #517
I reviewed the usage of phet-io query parameters in initialize-globals, made 2 cleanup commits (above) and everything else looks good.

@pixelzoom anything else to do here?

[2016-11-14 21:52] samreid commented on #516
I fixed and created and re-fixed a few problems in the above commits. Let me know if you need anything else from me.

[2016-11-14 22:02] pixelzoom commented on #516
The final usages of `getQueryParameter` are in phetsims/phet-io#856 and phetsims/phet-metacog#15, assigned to @samreid.  After those are addressed, the depreciated code (marked with TODO items) can be deleted from initialize-globals.js.

[2016-11-14 22:03] pixelzoom commented on #516
@samreid Please assign back to me when the phet-io and phet-metacog usages have been addressed.

[2016-11-14 22:12] pixelzoom commented on #517
I don't see `phet.chipper.queryParameters` being used for any of these query parameters.  I see usages of `QueryStringMachine.get`.  E.g. phetio.js line 317:

[code]

... and similarly for all of the query parameters identified in https://github.com/phetsims/chipper/issues/517#issue-188090947 (except 'pheti-io.docs', which was deleted.)  You've duplicated the schemas, and this is an opportunity fo

[2016-11-14 22:41] samreid commented on #517
Thanks for clarifying the problem @pixelzoom.  I've factored out the simulation query parameters in the above commits.  The wrapper query parameters do not (and should not) use chipper's initialize-globals, so I've left them alone for now.  Would you like to review?

[2016-11-14 22:44] pixelzoom commented on #517
👍

[2016-11-14 22:44] #517 closed

[2016-11-15 04:29] samreid commented on #516
@pixelzoom I've reassigned both of those issues to you for discussion, and created a new issue for discussion with @mattpen in https://github.com/phetsims/phet-io-website/issues/82

The issue https://github.com/phetsims/phet-io-website/issues/82 can proceed in parallel with removing getQueryParameter from chipper, because it does not use the chipper implementation at all.

[2016-11-15 16:43] pixelzoom commented on #516
@samreid Also waiting on this one: https://github.com/phetsims/scenery/issues/583

[2016-11-15 16:59] samreid commented on #516
@pixelzoom volunteered to tackle the aforementioned issue in https://github.com/phetsims/scenery/issues/583#issuecomment-260697626 and I recommended how it could be done in https://github.com/phetsims/scenery/issues/583#issuecomment-260699694

[2016-11-15 17:32] pixelzoom commented on #516
All conversion to QueryStringMachine completed, `getQueryParameter` and related code have been removed.

All that remains is to document a few query parameters in initialize-globals.js, as indicated by TODO items.

[2016-11-15 18:23] pixelzoom commented on #516
All query parameters have been documented.  All work completed, ready for review.  Volunteers?

[2016-11-15 18:36] pixelzoom commented on #516
[code]

Randomly assigned to @jessegreenberg to review.

[2016-11-15 18:38] pixelzoom commented on #516
@jessegreenberg It's probably sufficient to review QUERY_PARAMETERS_SCHEMA in initialize-globals.js, and test a few query parameters.  Since this was an extensive/invasive change, I expect that we'll need to shake out any other problems as they appear.

[2016-11-17 08:25] jonathanolson commented on #515
Scenery's down to 6 things marked deprecated (4 accessibility related, e.g. https://github.com/phetsims/scenery/issues/579, 2 canvas-rendering related). I'll be able to work with @jessegreenberg on most of those.

[2016-11-17 16:58] pixelzoom opened #519 "flag vs boolean query parameters?"
Should `cacheBuster` and `webgl` be of type 'boolean' instead of string?  They are both `true` by default, and their only practical use is with argument `false`, e.g. `webgl=false`).   Flags, on the other hand, are typically used without an argument.

[2016-11-17 17:28] samreid commented on #515
I see 23 deprecated in scenery and 6 deprecated in scenery.

[2016-11-17 17:31] pixelzoom commented on #515
1 in vegas, where "deprecated" was spelled incorrectly.

[2016-11-18 17:02] pixelzoom commented on #515
The is 1 additional issue in vegas, where "deprecated" was spelled incorrectly. ScoreboardPanel is deprecated, clients should use ScoreboardBar.  There is 1 usage of ScoreboardPanel, in balancing-act (@jbphet).

[2016-11-18 18:14] jonathanolson commented on #519
Or convert them to flags like 'noCacheBuster' and 'noWebGL'?

I don't have a strong preference, but they presumably should be at least boolean/default:true instead of string.

[2016-11-18 18:25] pixelzoom commented on #519
Indeed, their schema would be: `{ type: 'boolean', defaultValue: true }`.

I'm not a fan of negative boolean/flag names (especially in code), but if it makes life easier...

[2016-11-18 18:29] jonathanolson commented on #519
That sounds good to me, the names just seem cleaner.

[2016-11-18 18:34] pixelzoom commented on #515
Looks like 7?  Are both of these deprecated in Node?

[code]

This is also confusing in Node:

[code]

Why is something that's deprecated in "active development"?

[2016-11-18 18:40] jonathanolson commented on #515
Discussed yesterday with @jessegreenberg, and those are not in use (and yes it's 7, not 6). He'll be removing the accessibility-related deprecated features and usages.

It probably was at the time, was mostly a "don't rely on this" comment.

[2016-11-18 19:01] pixelzoom commented on #519
I changed cacheBuster and webgl to type 'boolean'.

@samreid Looks like it would make more sense for these phet-io query parameters in SimIFrameClient to be type 'boolean':

[code]

Proposal:  Let's simplify the 'flag' type, so that it never takes a value and is simply an on/off switch -- on if present, off if absent.  This would cover 100% of our current uses of type 'flag' (with the exception of

[2016-11-19 04:30] samreid commented on #519
It has been confusing to have `defaultValue` for flag, so I also recommend to remove it.

[2016-11-19 04:34] samreid commented on #519
On the other hand, it has been useful in debugging to be able to toggle ```http://phet.colorado.edu/sims/long-url/version/etc/sim.html?longQueryParameters&otherQueryParameters&webgl=false&otherQueryParameters```

to

```http://phet.colorado.edu/sims/long-url/version/etc/sim.html?longQueryParameters&otherQueryParameters&webgl=true&otherQueryParameters```

And have it behave as expected.

But I'd st

[2016-11-21 19:06] pixelzoom commented on #519
@jonathanolson Any feeling/thoughts on this?

[2016-11-21 20:34] jonathanolson commented on #519
What is the proposal? Keeping ```?webgl=false``` seems cleaner than ```?disallowWebGL``` or an equivalent, so having defaults makes sense.

[2016-11-21 20:35] pixelzoom commented on #519
Proposal in https://github.com/phetsims/chipper/issues/519#issuecomment-261613232:

[2016-11-21 22:41] pixelzoom opened #520 "make query parameter documentation friendly to non-developers"
I alerted @phet-steele to the recent conversion to QueryStringMachine. The documentation was pretty much copied from what was previously at the top of initialized-globals.js.  @phet-steele suggested that, as a "back burner task" it would be nice to make the documentation more friendly to non-developers.

Skype discussion:

[11/21/16, 3:36:37 PM] Chris Malley: We will like simplify the 'flag' type

[2016-11-21 22:53] pixelzoom commented on #520
@phet-steele Let's start by identifying which query parameters have (in your opinion) inadequate or overly technical documentation.

[2016-11-22 02:04] pixelzoom commented on #520
Looking through initialize-globals.js, it seems like the majority of query parameters are specific to developers.

There's a very small subset that may be of interest to testers:

fuzzMouse
fuzzRate
profiler
showPointerAreas
stringTest

And an even smaller subset of interest to designers:

showPointerAreas
stringTest

@phet-steele Are there others that you think would be useful to designers and te

[2016-11-22 18:48] jonathanolson commented on #519
So 'on if present' would mean we'd need a flag like ```?disallowWebGL``` instead of ```?webgl=false```, correct?

[2016-11-22 19:01] pixelzoom commented on #519
`webgl` is not a 'flag', it's type 'boolean'.

[2016-11-22 19:03] jonathanolson commented on #519
Proposal for flags not having a default sounds great.

[2016-11-22 20:34] pixelzoom commented on #519
Sounds like we're all in agreement that it would be good to removing defaultValue for 'flag' type.

[2016-11-23 17:16] ariel-phet opened #521 "About dialog does not list publication date properly"
@kathy-phet said

![plinko](https://cloud.githubusercontent.com/assets/4051174/20571706/d88c555a-b165-11e6-9b61-f28515203d67.PNG)

[2016-11-23 17:17] ariel-phet commented on #521
@jonathanolson isn't this related to the fact that the english version is currently being rebuilt when a sim translation is being built? I don't think this is a high priority to fix, but I think we were considering changing a few things in the future also so that the PhET app is not necessarily updated everytime a translation is made.

[2016-11-23 18:05] jonathanolson commented on #521
The date/time shown isn't related to when the sim or sim version was published. That is solely the build date for that particular file.

It MAY be re-built when a non-English translation is submitted (@jbphet, is that true?), and if so it might be worth trying to update only the affected locales.

[2016-11-23 18:41] pixelzoom commented on #519
Wait on this until we discuss https://github.com/phetsims/query-string-machine/issues/19#issuecomment-262598021.

[2016-11-24 17:24] samreid commented on #519
I converted flags with defaultValue to boolean in https://github.com/phetsims/chipper/commit/ccd9ef533cf4d25351141795ab57ce9014f4c430

I'll create a separate issue in query-string-machine that will help us enforce us that flags cannot have defaults.

[2016-11-24 17:24] #519 closed

[2016-11-28 18:21] samreid opened #522 "Add a lint rule that PHET_IO has ifphetio!"
@jessegreenberg pointed out that Tandem was missing ifphetio! in its import.  We could catch this earlier by adding a lint rule that requires ifphetio! in require statements (except for the phetio repo).  Or it could be easier to change the imports in the phet-io repo to all read "ifphetio!" as well.

@zepumph volunteered to check it out, thanks!

[2016-11-28 18:39] jbphet commented on #521
Yes, there seems to be an issue where the English version is rebuilt each time a new translation comes along, see https://github.com/phetsims/rosetta/issues/142.

[2016-11-28 21:36] ariel-phet commented on #521
The root of this problem appears to be caused by phetsims/rosetta#142.

Closing this issue, since listing the publication date is not the purpose of of the date being shown, and is not a key requirement of the about dialog.

[2016-11-28 21:36] #521 closed

[2016-11-30 08:34] jonathanolson opened #523 "[branch] coverage"
For https://github.com/phetsims/chipper/issues/402

[2016-11-30 18:04] zepumph commented on #522
I added the lint rule such that require statements not in the phet-io repo must include ifphetio! . It shows 0 places where this needs to be filled in, which is better than expected, wahoo! I'm going to commit this rule to master. @samreid would you mind giving it a once over before closing.

[2016-11-30 18:18] samreid opened #524 "branch: progress-indicator-2"
See https://github.com/phetsims/joist/issues/348

[2016-11-30 18:30] samreid commented on #522
I tested it and skimmed the code, it seems to be working great, nice work!   Closing.

[2016-11-30 18:30] #522 closed

[2016-12-01 16:49] samreid commented on #402
I don't know too much about the deploy process, but I hope and expect that chipper can tolerate another dependency.

I'd also like to see a combined report that runs a fuzz test across all our sims, to identify unused code that may be candidate for deletion.

[2016-12-01 19:49] jonathanolson commented on #402
Will merge.

[2016-12-01 19:55] jonathanolson commented on #402
Merged, closing.

[2016-12-02 17:43] samreid opened #525 "HEAD is not a branch"
When dependencies.json is created, it sometimes marks some of the branches as "HEAD".  However, this is not a branch.  How can this possibly be correct?

@jonathanolson @pixelzoom @jbphet can you help at your convenience?

[2016-12-02 17:56] pixelzoom commented on #525
Example?

[2016-12-02 17:56] pixelzoom commented on #525
Example? (link to blob)

[2016-12-02 18:02] jonathanolson commented on #525
In a repo:
[code]
because yes, the repo is not on a named branch, but on a detached head. Would it be better to name it 'head-abbreviated-reference' than 'branch' (presumably not)?

[2016-12-02 18:04] pixelzoom commented on #525
Definitely not ;)

[2016-12-02 21:27] samreid commented on #525
I see, so perhaps saying "HEAD" is like saying "there is no branch".  I think I understand.  Closing.

[2016-12-02 21:27] #525 closed

[2016-12-02 23:52] pixelzoom commented on #516
I'm going to go ahead and close this. It's been pending review for 17 days, so we've sort of missed our window to catch problems before they impacted someone.  The good news that that no one has reported significant problems, so I guess we'll just deal with problems if/when they occur.

[2016-12-02 23:52] #516 closed

[2016-12-04 03:42] samreid opened #526 "Prevent and/or Reduce duplicated code"
In https://github.com/phetsims/phet-info/issues/37 I added scripts that report the amount of duplicated code across our repositories.  You can run it like so:

[code]

Then duplicates.txt shows you all duplicates, and a diff of duplicates.txt (vs previous version) shows you new copy-pasted code.  We can use this tool to detect new duplicates or reduce the amount of existing duplicated code.  It wo

[2016-12-06 22:53] pixelzoom commented on #515
scenery-phet.ScoreboardPanel deleted as part of https://github.com/phetsims/balancing-act/issues/58.

[2016-12-06 22:58] pixelzoom commented on #515
We're down to 6 `@deprecated` annotations:

Events (the entire type)
Property (1 function)
PropertySet (the entire type)
Node (1 property, 2 function)

[2016-12-09 00:11] samreid commented on #484
Merged, deleted, closing.

[2016-12-09 00:11] #484 closed

[2016-12-09 00:12] samreid commented on #524
Merged, deleted, closing.

[2016-12-09 00:12] #524 closed

[2016-12-09 23:54] jessegreenberg commented on #515
I removed focusable from Node so Node is down to one deprecated function (renderToCanvas).

[2016-12-10 14:42] samreid opened #527 "Update checkout instructions to include grunt-cli"
As reported in https://groups.google.com/forum/#!topic/developing-interactive-simulations-in-html5/XtuHyTxVBxg

On Thursday, April 9, 2015 at 1:59:21 AM UTC-7, Balaji Kamble wrote:

I had this same error after following the PhET Development Overview today.

It was resolved using this command:

sudo npm install -g grunt-cli

(Please see this stack-overflow post:
http://stackoverflow.com/questions/1

[2016-12-11 06:36] samreid commented on #527
It looks as if bit.ly/phet-development-overview the "deprecated development overview" doesn't point to the non-deprecated one.  But is the non-deprecated one group-read-only?

[2016-12-11 06:37] samreid commented on #527
It looks like the new one is here: bit.ly/phet-html5-development-overview

[2016-12-11 06:40] samreid commented on #527
I pointed to the new version, but cannot edit this file because I do not have write access.  @oliver-phet or @amanda-phet can you please grant @samreid @jbphet @pixelzoom @zepumph @jonathanolson @jessegreenberg write access to this document?

[2016-12-12 20:48] oliver-phet commented on #527
@samreid I just allowed edit access to the people you mentioned.

[2016-12-12 22:27] jessegreenberg commented on #454
When forgetting to require a scenery Node for Text or Image one might see this error:
[code]

The above lint rule will catch it like this:
[code]

[2016-12-12 23:14] jessegreenberg commented on #454
Added the rule to eslintrc.  It caught 1 legitimate use case in a sim wrapper, but I disabled the rule for that case. Closing.

[2016-12-14 03:25] samreid commented on #499
On Oct 21, @phet-steele identified a problem that using the synchronous main caused failures for the Chrome "Save As..." for saving a simulation, which would make it so the sim wouldn't launch properly.  After reverting this change to make main asychronous again, we are again able to save html sims and launch them.

[2016-12-14 16:50] samreid opened #528 "Factor out getVersionForBrand"
As noted in https://github.com/phetsims/joist/issues/64, getVersionForBrand is duplicated in chipper and joist.  Let's add a UMD so it can be called from both.

[2016-12-14 17:06] samreid commented on #528
I sent this message to the developers over skype:

I tested building and running Beer's Law Lab, and tested Faraday's Law in requirejs mode.  I tested the version name for phet-io.  Aqua load all is passing except for proportion playground.  All seems well.  Developers reopen if you sense trouble.  Closing.

[2016-12-14 17:06] #528 closed

[2016-12-15 00:52] samreid commented on #527
Done and noted in https://groups.google.com/forum/#!topic/developing-interactive-simulations-in-html5/XtuHyTxVBxg

Closing.

[2016-12-15 00:52] #527 closed

[2016-12-15 17:47] samreid commented on #515
We are down to 4 `@deprecated` annotations.

[2016-12-15 18:02] pixelzoom commented on #515
The remaining deprecation in scenery is `Node.renderToCanvas`.  It appears to be unused outside of scenery itself.

[2016-12-15 18:06] pixelzoom commented on #515
The are 14 occurrences of `var Events`, in the following repos:

axon: 1 (in PropertySet)
dot: 2
fraction-comparison: 1
kite: 3
molecule-shapes: 1
scenery: 6

Might be easiest to replace the sim-specific ones first?

[2016-12-15 19:19] pixelzoom commented on #515
12/15/16 dev meeting: @jonathanolson will handle the Node and Events stuff above.

[2016-12-15 19:43] zepumph opened #529 "Make grunt lint consistent with grunt find-duplicates"
From phetsims/special-ops#49

We should make the grunt lint command syntactically the same as find-duplicates.

i.e.
`grunt find-duplicates [--everything]`
`grunt lint [--dependencies --everything]`

[2016-12-17 07:07] samreid opened #530 "branch: splash-script"
See https://github.com/phetsims/joist/issues/382

[2016-12-19 18:34] samreid opened #531 "Add a lint rule to check on PhET-iO instrumentation in Sun and scenery-phet"
To fix phetsims/phet-io#668, we would like to check that files in Sun and Scenery-phet have `Tandem.validateOptions` (indicating that they are instrumented) or `Tandem.indicateUninstrumentedCode` indicating that they are uninstrumented.

[2016-12-19 21:17] samreid commented on #531
@zepumph said he can use this rule after I create it to complete https://github.com/phetsims/phet-io/issues/668.  So I'll create the rule, and add an entry to .eslintrc with the rule disabled. @zepumph will enable the rule in his working copy, then when all files are passing, he can enable the rule and commit .eslintrc.

[2016-12-19 21:41] samreid commented on #531
I added the new lint rule above.  It is currently set to `"require-tandem-support": 0` which is ignored.  @zepumph we will need to discuss details about this, such as the fact that there are several source files in sun that shouldn't be tandemized (like the namespace)--we will need to come up with an elegant way to annotate those files or blacklist them in the lint rule.  Also, this rule is curren

[2016-12-20 19:51] samreid opened #532 "Update requirejs for a speed boost in builds"
I noticed this RequireJS issue which reported an optimization for builds https://github.com/requirejs/r.js/pull/900

I tested performance of grunt with requirejs ~2.1.8 compared to ~2.3.2, and saw these times:

2.1.8
real	0m49.580s
real	0m47.528s
real	0m47.381s

average:  48.163

2.3.2
real	0m34.031s
real	0m34.007s
real	0m32.701s

average: 33.57966

On average, the new version is 14.5 seconds fast

[2016-12-21 01:23] samreid commented on #532
I'd like to commit this change to master, but there are some considerations:

1. Other developers won't be using this until they npm update in chipper
2. The build-server will automatically start using this new version
3. The new version has not been thoroughly tested.

It would be nice if developers can start using this new version, to start looking for issues and to start benefiting from 30% fas

[2016-12-21 03:09] ariel-phet commented on #532
@samreid I think it would be best to wait on this improvement until we have our next dev meeting so everyone is on the same page. We do have a couple of potential RC's upcoming that would be best to perform without incurring this risk (Capacitor Lab: Basics and States of Matter:Basics...SOM:B definitely)

[2016-12-21 16:31] pixelzoom commented on #532
Deferring to @ariel-phet's decision, but I do have some questions.  @samreid said:

It's not clear what "this change" is. Is this just an update to a newer version of requirejs? Are there any other changes required to PhET code or tool chain?

[2016-12-21 16:33] samreid commented on #532
The change to commit would be in chipper/package.json:

[code]

would become

[code]

[2016-12-21 16:39] pixelzoom commented on #532
OK, so this is just a matter of updating to a newer (latest?) version of requirejs.  It seems like that could be tested by running the complete test-server suite.

[2016-12-23 03:26] samreid commented on #532
Here are the results from the test-server:

![image](https://cloud.githubusercontent.com/assets/679486/21446556/d1a535be-c884-11e6-8d63-944f16a4943e.png)
![image](https://cloud.githubusercontent.com/assets/679486/21446560/de59572c-c884-11e6-82d6-031b84356055.png)
![image](https://cloud.githubusercontent.com/assets/679486/21446562/e2e6601e-c884-11e6-8694-61b31a41f452.png)

Sim errors (dev):

gravit

[2016-12-23 20:26] pixelzoom commented on #532
Hmmm... There's an error message for gravity-force-lab-basics, which has a red box ("failure after loading"). But there are also multiple runnables with an orange box ("failure loading, before running sim").  Were there no associated error messages for these?

[2016-12-23 20:31] samreid commented on #532
No.  And I've seen this issue before where there is a problem with no textual report, see https://github.com/phetsims/aqua/issues/14

[2016-12-27 23:18] samreid opened #533 "Detect out-of-schema attribute reads or sets"
We could use ES6 proxies to detect when non-existent (out of schema) attributes are set or read:

https://www.nczonline.net/blog/2014/04/22/creating-defensive-objects-with-es6-proxies/

Perhaps this could help us during code review or during testing.  To inline this pattern into our workflow, we would have to account for inheritance (or pair this call with `new` instead of constructor tails).

[2016-12-27 23:39] samreid commented on #533
This came up in the context of Circuit Construction Kit, porting away from PropertySet=>Property and using preventGetSet.  This could be a more general/powerful way of catching that error and more.

[2016-12-27 23:42] samreid commented on #533
I'm interested to try some ideas here, so assigning to myself for now.

[2016-12-28 04:31] samreid commented on #533
I tried this code in initialize-globals.js

[code]

And wrapped object creation.  It successfully caught misspellings and access/setters for non-existent properties.  I'm not sure how we can automatically leverage this.  Perhaps using esprima to augment ASTs could work but may be a lot of trouble.

[2016-12-28 04:39] samreid commented on #533
There is also a way to trap the new operator, but would still have to be done once per class (or maybe could be centralized in inherit?)

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy/handler/construct

[2016-12-28 05:13] samreid commented on #533
I tried this in the tail of `inherit` but it doesn't seem like it works out of the box (failing on falsish property)

[code]

[2016-12-31 23:15] pixelzoom commented on #454
Reopening.

The way that this was implemented makes it specific to scenery types. I.e.:

[code]

And there are other types that this rule could (and should) be applied to. For example, I discovered this deficiency while attempting to add `DOT.Range`, because `Range` is also a native function.

[2016-12-31 23:18] pixelzoom commented on #454
The current implementation is also hardcoded for `Image` and `Text`. I.e.:

[code]

The `if` expression should contain a general test, e.g. `calleeModulePathMap.hasOwnProperty( node.callee.name )`.

[2016-12-31 23:28] pixelzoom commented on #454
There's another flaw in the current implementation.  If a PHET type references itself inside of its .js file, then there will be no `requirejs` statement.  And this will be flagged as an error.  `DOT.Range` is an example.

[2016-12-31 23:57] pixelzoom commented on #454
I disabled the lint rule for the case where Range is calling its own constructor, see commits above.  I'm not sure if this qualifies as a workaround or a permanent fix.

[2017-01-01 00:13] pixelzoom commented on #454
Also, an efficiency question, concerning this `for` loop:

[code]

Once we've set `usingModule = true`, this continues to examine tokens. Is that necessary, or can we stop as soon as we've found the module?

[2017-01-03 23:14] jessegreenberg commented on #454
I read through http://eslint.org/docs/developer-guide/working-with-rules a bit more, there are two features of eslint rules that I was not aware of.

1 - In one eslint rule you can define behavior for multiple AST nodes.
2 - The AST is traversed twice, first down then up, and you can specify on which direction of traversal you want a function to be called.

So we should be able to check for the ca

[2017-01-04 00:05] jessegreenberg commented on #454
I changed the implementation to follow https://github.com/phetsims/chipper/issues/454#issuecomment-270252876.

The rule now works like this:
 - On the traversal down the AST, we search for function and variable declarations for types that have the same name as native JavaScript constructors like Image, Text, and Range, and store them.
 - On the traversal back up the AST, we search for instantiatio

[2017-01-04 01:29] pixelzoom commented on #454
Work great. But this map:

[code]

... is redundant.  A simple array is now sufficient:

[code]

Changed and tested in the above commit. @jessegreenberg please review.

[2017-01-04 23:41] jonathanolson commented on #532
The build server should check out SHAs that would reference the old version, correct? So it wouldn't do this except for new RCs that explicitly use it?

Also, does this update uglify (maybe that's why there's a speed increase), and/or can we update uglify? I recall uglification took up most of the build time fairly recently.

[2017-01-05 01:20] samreid commented on #532
Right, the build server should check out SHAs then run `npm update`, so it would only use the new version for new publications.

The speed increase is documented here: https://github.com/requirejs/r.js/pull/900 It says "Improve traverse and parse performance" for the r.js step.

[2017-01-05 01:50] samreid opened #534 "Updating node broke npm"
~/github/faradays-law$ node --version
v7.0.0
~/github/faradays-law$ brew update
...
~/github/faradays-law$ brew upgrade node
==> Upgrading 1 outdated package, with result:
node 7.3.0
==> Upgrading node
==> Downloading https://homebrew.bintray.com/bottles/node-7.3.0.sierra.bottle.tar.gz
######################################################################## 100.0%
==> Pouring node-7.3.0.sierra.bot

[2017-01-05 01:50] samreid commented on #534
I'm following https://gist.github.com/DanHerbert/9520689 as a potential fix.

[2017-01-05 02:47] samreid commented on #534
I deleted my node directories and reinstalled, it seems to be working now.

[2017-01-05 02:47] #534 closed

[2017-01-05 05:35] jonathanolson commented on #532
If we're updating require.js, can we also look at updating uglify?

[2017-01-05 18:30] jonathanolson opened #535 "Consider dropping '.js' prefix in Node.js require statements"
See https://github.com/phetsims/yotta/issues/37#issuecomment-270572333.

For instance, instead of
[code]

we should ideally have
[code]

which should work due to Node.js saying:

[2017-01-05 18:33] jonathanolson commented on #535
This is beneficial because then we don't need to disable eslint for the line.

Tagging for developer meeting for awareness and yay/nay for me (or someone) to fix these instances across the codebase.

[2017-01-05 19:12] samreid commented on #535
Yes, we should drop the ".js" and corresponding `//eslint-disable` workarounds.

[2017-01-05 20:11] samreid commented on #532
@samreid will update the requirejs on his working copy and re-run tests.  If tests for new requirejs are better than or equal tests for old requirejs, I'll upgrade.

[2017-01-05 20:20] jbphet commented on #535
Yes, go for it!

[2017-01-05 21:23] samreid commented on #532
I'll try out "uglify-js": "~2.7.5" while I'm at it.

[2017-01-05 21:25] samreid commented on #532
I'm having the same problem where the test reports as failed, but there is no corresponding text (and no clues in the console):

![image](https://cloud.githubusercontent.com/assets/679486/21698101/bf2ee672-d352-11e6-8645-c354ac1b763a.png)

[2017-01-05 21:57] samreid commented on #532
Here's the latest full run.  I have no idea why the rightmost 2 columns are blank.

![image](https://cloud.githubusercontent.com/assets/679486/21699044/22faf6ba-d357-11e6-8a98-991eb126f056.png)
![image](https://cloud.githubusercontent.com/assets/679486/21699053/2b0be616-d357-11e6-927a-117828fbdbc8.png)
![image](https://cloud.githubusercontent.com/assets/679486/21699060/323f9f7c-d357-11e6-91da-e2ca

[2017-01-05 22:21] samreid commented on #532
@jonathanolson also recommends to check speeds before and after upgrading uglify.

[2017-01-05 22:27] samreid commented on #532
I'm having a lot less trouble with `testDuration=20000&testConcurrentBuilds=1`,  thanks @jonathanolson!

[2017-01-05 23:27] samreid commented on #532
Tests with
[code]

![image](https://cloud.githubusercontent.com/assets/679486/21701558/784c51b6-d363-11e6-81e6-070155033d4f.png)
![image](https://cloud.githubusercontent.com/assets/679486/21701562/7fc5ad5c-d363-11e6-88f9-ef956fd986e6.png)
![image](https://cloud.githubusercontent.com/assets/679486/21701592/ac6c0acc-d363-11e6-95b9-fa4a75d5a3b2.png)

[code]

This looks like a GFLB problem, not a prob

[2017-01-05 23:29] samreid commented on #532
I've updated requirejs and uglify in the preceding commit.  Developers will need to pull chipper then `npm update` to get the changes.

@jonathanolson suggested to review performance changes in uglify2.  I'll create a separate issue for that.

[2017-01-05 23:30] samreid opened #536 "Test performance of new uglify"
See https://github.com/phetsims/chipper/issues/532

[2017-01-06 00:02] pixelzoom opened #537 ""grunt update-copyright-dates" reports files that it didn't update"
Does `grunt update-copyright-dates` really need to report on the files that it _doesn't_ update?  I think not. The example below shows how this creates noise and obscures the files that were updated.  If no one objects in the next 24 hours, I'm going to silence the "was already correct" messages. @samreid @jonathanolson @jbphet @jessegreenberg.

[code]

[2017-01-06 00:02] pixelzoom commented on #537
Note to self. Delete this from updateCopyrightDates.js:

[code]

[2017-01-06 00:20] samreid commented on #537
I agree it would be better without the noise.

[2017-01-06 01:00] jessegreenberg commented on #537
Yes, it seems clearer without the 'correct' messages.

[2017-01-06 01:06] jonathanolson commented on #532
Presumably all active-runnable/scenery/kite/dot package.json files would also need to be updated?

[2017-01-06 01:07] jonathanolson commented on #532
For example, acid-base-solutions still seems to be on:
[code]

[2017-01-06 02:25] pixelzoom commented on #537
Done. Tested in the context of scenery-phet, which has many out-of-date copyright headers. Closing.

[2017-01-06 02:25] #537 closed

[2017-01-06 02:53] samreid commented on #532
@jonathanolson I think simulations are using chipper requirejs.  I tried the following steps:

1. Remove '    "requirejs": "~2.1.8"' from acid-base-solutions/package.json
2. cd acid-base-solutions
3. rm -rf node_modules
4. npm install
5. grunt

And it succeeds.  However, if I try the same thing with uglify, there is a failure with uglify not found:

[code]

Perhaps sim builds use chipper requirejs

[2017-01-06 02:56] jonathanolson commented on #532
Probably due to the following:
[code]

We could spend a bit more time trying to normalize this (https://github.com/phetsims/chipper/issues/101), or even replace it with:
[code]

That sounds great!

[2017-01-06 02:57] jonathanolson commented on #532
Can we move forward with removing this from sims? Might require an independent check for scenery/kite/dot too.

[2017-01-06 03:03] samreid commented on #532
I'll work on removing sim requirejs and uglify in a separate issue.  But this revelation invalidates the results in https://github.com/phetsims/chipper/issues/532#issuecomment-270788287, if they were indeed using the sim's uglify.

[2017-01-06 03:04] samreid opened #538 "Simulations package.jsons should not have entries for requirejs or uglify"
Requirejs and uglify are provided by chipper, and chipper should use its own copies.  See https://github.com/phetsims/chipper/issues/532#issuecomment-270820361

[2017-01-06 03:21] samreid commented on #538
I removed requirejs and uglify from sim package.jsons and spot tested building and launching 2 sims (after rm -rf node-modules and npm install).  All seems well, committing.

[2017-01-06 04:31] samreid commented on #538
I removed the extraneous entries from sim package.json files above.  Next I'll look into scenery/kite/dot/axon.

[2017-01-06 04:35] samreid commented on #538
I removed:

[code]
from dot/package.json and rm -rf node_modules && npm install && grunt build succeeded and 1443/1443 compiled tests are passing.  @jonathanolson anything else I need to test for scenery/kite/dot before removing these lib references?

[2017-01-06 05:05] jonathanolson commented on #538
Verifying if Kite's ```generate-svgPath-parser``` grunt task works would be good. If that works, removing scenery/kite/dot references sounds great!

[2017-01-06 19:53] samreid opened #539 "Why is the build directory getting sub-deployed?"
I noticed http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.6-phetio/

had a nested "build" directory. Why?

![image](https://cloud.githubusercontent.com/assets/679486/21730902/221ded2a-d40f-11e6-902b-370d6216f84e.png)

[2017-01-06 22:58] jessegreenberg commented on #454
Yes, good point, thanks.  I tested it again, and verified it is still working.  I also like the improvement to the output message.  Closing.

[2017-01-06 22:58] #454 closed

[2017-01-08 22:59] zepumph commented on #531
@samreid I can't seem to recreate these lint errors, I tried a few different things.
1. `grunt` and `grunt --brand=phet-io` in an intrumented and uninstrumented sim.
2. grunt lint-everything
3. grunt lint in `sun/`

But beyond that. I think we should talk about this issue a little more before I do too much with it.

[2017-01-08 23:00] zepumph commented on #531
By the way I also set `"require-tandem-support": 2`

[2017-01-09 18:13] zepumph opened #540 "Factor out QUERY_PARAMETER_SCHEMA from initialize-globals.js"
From talking with @samreid and working on https://github.com/phetsims/phet-io/issues/878, the query parameter schema shouldn't be in initialize-globals, it makes the file large are clunky. We should take it out and put it in it's own separate file.

[2017-01-11 00:03] samreid opened #541 "Change cacheBust to boolean with default value true, and passthrough query parameter from phetmarks"
cacheBuster saved us many times in the past while we were getting used to JS caching, but now it is somewhat of a hindrance because it is impossible to set breakpoints in the dev tools and have them persist across reloads.  We can use a query parameter cacheBuster=false, but I'm wondering if this would be a good time to set cacheBuster=false by default.  I'm wondering what will happen on iPad--per

[2017-01-12 00:42] zepumph commented on #540
@pixelzoom does this seem like a reasonable thing to do? Do you have an opinion?

[2017-01-12 00:55] pixelzoom commented on #540
The file is < 400 lines, hardly "large and clunky". (If you want to see large and clunky, see Node or Sim.)

What's the advantage to taking QUERY_PARAMETERS_SCHEMA out of initialize-globals.js?  The doc for initialize-globals.js says "Initializes phet globals that are used by all simulations, including assertions and query-parameters", so it's not misplaced. Everyone (including non-developers) cur

[2017-01-12 05:54] samreid commented on #540
I think it would be clearer if there was one file responsible for query parameters--this pattern has served us well for simulations (such as FBQueryParameters.js) and will serve us well for chipper. We would have done this long ago, but balked at having to add a new preload manually for each sim HTML (we can now do this automatically through `grunt generate-development-html`.) I agree that we are

[2017-01-12 18:00] samreid opened #542 "grunt checkout-shas should npm prune and npm update"
The instructions to prepare codebase for RC or to restore codebase are currently invasive, it would be better if `grunt checkout-shas` automatically did `npm prune` and `npm update` in chipper and `npm prune` and `npm update`.

`grunt checkout-master` should do the same.

Bonus points if we can do this for the simulation directory as well (in addition to chipper).

[2017-01-12 18:00] samreid commented on #542
This would have to be done in a way that doesn't disrupt perennial.

[2017-01-12 19:24] samreid commented on #542
@pixelzoom any thoughts on this before I investigate?

[2017-01-12 19:28] pixelzoom commented on #542
Agreed that this would be nice to have in `checkout-shas` task, there are currently too many manual steps in the instructions.

As for what specifically `checkout-shas` should be doing... I'm not familiar with the subtle differences between `npm prune`, `update`, etc.  But @jonathanolson raised this concern in https://github.com/phetsims/phet-info/issues/39#issuecomment-271692816:

[2017-01-12 19:40] jonathanolson commented on #542
Also as noted in the other issue:

[2017-01-13 21:17] samreid commented on #538
Kite's `generate-svgPath-parser` seems to work fine.  Committing...

[2017-01-13 21:18] samreid commented on #538
Fixed above in dot and kite.  Scenery and axon were already pruned.

[2017-01-13 21:18] #538 closed

[2017-01-13 21:36] samreid commented on #532
I switched to use chipper's uglify in https://github.com/phetsims/chipper/issues/538.

[2017-01-13 21:49] samreid commented on #532
Running a 5000ms test, there are no systemic issues:

![image](https://cloud.githubusercontent.com/assets/679486/21946833/6502c468-d99f-11e6-94b3-74fe020bae19.png)

Uglify2 performance will be tested in https://github.com/phetsims/chipper/issues/536, I think this issue is ready to be closed.

[2017-01-13 21:49] #532 closed

[2017-01-19 21:35] zepumph commented on #540
Tagging other developers to see if they have opinions, you can unassign once you have seen this/commented if you want.

[2017-01-19 21:42] jonathanolson commented on #540
I'm ambivalent. Having separate preload files in a way is nice (files are more focused) and a query-parameter related name will be good, but means that I'll have to refer more closely to the ordering of preload files specified in build.json.

There are other places besides sims where initialize-globals is used, make sure to hit those if this is changed.

[2017-01-19 23:14] pixelzoom commented on #540
If we do have a separate file, my inclination would be to name it phet-query-parameters.js, for symmetry with phetio-query-parameters.js.  But would the similarity of those names cause confusion?

[2017-01-20 00:06] samreid commented on #540
Or name it "simulation-query-parameters.js"?  PhET-iO simulations will include both files.

[2017-01-20 00:42] mattpen commented on #540
Encapsulating query-parameters in a separate file sounds good to me, but I don't have a strong opinion.

[2017-01-23 17:46] zepumph commented on #531
Starting with sun ( only 50 errors).

Create a blacklist of files that don't need this support:
+ /demo/
+ -main.js
+ -config.js
+ sun.js
+ sun-query-parameters.js

The only files that need to be included in this rule are view components.

[2017-01-23 18:01] zepumph commented on #531
Because of https://github.com/phetsims/phet-io/issues/949,

we will need to update this lint rule so that it checks for the line 'createDefaultTandem' and 'addInstance' instead of validateOptions, as that is deprecated.

[2017-01-23 22:27] samreid commented on #539
@mattpen did you see something like this recently, perhaps in perennial?

[2017-01-24 06:31] samreid commented on #531
@zepumph thanks for working on this.  I had a few questions about the implementation.

(1) I noticed that you are putting the `Tandem.indicateUninstrumentedCode();` in the require statements, like so:

[code]

I was wondering whether you considered putting these statements in the constructor bodies instead, and what the tradeoffs are?  As I was investigating this, I discovered that putting the `in

[2017-01-24 06:31] samreid commented on #531
Heads up to @jbphet @jessegreenberg and @mattpen that PhET-iO simulations may not work in master until the preceding comment is addressed.

[2017-01-24 07:01] samreid commented on #542
I have no plans to work on this in the near future.  I'll put it up for grabs at the next developer meeting (or we can shelve it for now).

[2017-01-24 15:38] zepumph commented on #531
Sorry about that, that was dumb not to test it. I turned off the lint rule. @samreid I started adding it below the require lines for the ease of it. It cut my work in half to copy paste one block instead of two. I also didn't foresee any difference, but I didn't think about the anonymous call stack function (this will make it much easier to do (2) from your comment above).  Fortunately it only too

[2017-01-24 16:06] zepumph commented on #531
As I go about fixing all of the current phet-io sims, I have a few questions. @samreid do we want to instrument everything in these repos? For example PhetFont, does that need a tandem passed to it every time it is used?

Also would you mind double checking my 'blacklist' in `require-tandem-support.js` to make sure I'm not leaving anything out/in.

[2017-01-24 16:22] samreid commented on #531
I don't think it's practical to instrument every single feature/file/line of code.  Instrumenting PhetFont seems like it would empower clients to customize the fonts during startup (say, making text bigger), which might be valuable.  That being said, it seems it would be a huge effort to pass tandems to every single PhetFont in a sim.  We may need a 3rd strategy: common code which is instrumented

[2017-01-24 16:29] samreid commented on #531
The blacklist looks good so far, but I'm wondering about your opinion about putting the "opt-out" messages in the files themselves.  For instance, in VisibleColor.js there could be a line `// eslint-disable require-tandem-support` to indicate that file does not need to be instrumented.

Pro-distributed: file renames won't disrupt linting
Pro-centralized: it is nice to see the blacklist all at once

[2017-01-24 16:31] samreid commented on #531
Maybe we should be more selective about what *must* be instrumented.  For instance, UI components (like CheckBoxes, Radio Buttons, Sliders, Faucets, etc), seem necessary.  Auxiliary, utility and support files probably don't need to be instrumented.

[2017-01-24 16:31] zepumph commented on #531
Sounds good. I just got phet-io fuzz testing passing, and it took removing the assert from 50 files. I don't think it is worth passing tandem to all of those. That would be a tremendous effort.

As for the blacklist, I could go either way, but would rather focus on the other part of this issue now.

[2017-01-24 16:32] zepumph commented on #531
Should we create another Tandem method called something like `Tandem.recognizeUnnecessaryToSupportTandem()` haha or something

[2017-01-24 20:02] zepumph commented on #531
This will be handled in phetsims/phet-io#985. Closing

[2017-01-24 20:02] #531 closed

[2017-01-24 21:04] zepumph commented on #542
I can look into this.

[2017-01-24 23:07] zepumph commented on #542
I did a first pass at this, and it seems to work pretty well, would someone mind giving it a small review?

One thing I found while doing this was that `grunt checkout-master` probably won't npm prune and update because this new code isn't in the old chipper sha, so found (and will document) that it is best to run `grunt checkout-master twice, because the second time will be from chipper's master

[2017-01-25 17:07] mattpen commented on #539
https://github.com/phetsims/perennial/commit/1867a7f688698f74cfce9e2363ecaefe4c1c1c2d

This commit is probably the reason.  I guess I don't understand which files exactly should be copied to spot.  Can we create a list of files that should and should not be copied?

[2017-01-25 17:48] samreid commented on #542
I ran checkout shas today and was happy to see the npm prune and update automatically happening, thanks!  I'll assign to @jonathanolson to see if he has time for a closer review.

[2017-01-25 22:33] zepumph commented on #540
It seems like there is a consensus that it would be a nice enhancement to the project. Marking as low priority and I will get to it when I'm bored or not busy (ha).

[2017-01-26 02:42] jonathanolson commented on #542
From reading the code, it looks like chipper would be pruned/updated 10 times if there are 10 repos included in dependencies.json?

Can this be changed so chipper is only pruned/updated 1 time? (Also, presumably chipper is included in all dependencies.jsons?)

[2017-01-26 18:01] zepumph commented on #542
I'm unsure what you mean, the prune and update command is called only when all repos have been checked out:
[code]

Also I have noticed while running it that npm prune/update are only happening at the end, once for chipper and once for the simRepo.

[2017-01-26 18:16] mattpen commented on #539
We investigated this in dev meeting.  The leading hypothesis is that this is caused by a bug in an old sha of chipper, and has not happened since.  We'll check again in a month.

[2017-01-26 18:38] jonathanolson commented on #542
Sorry, I was incorrectly thinking multiple repos would need npm update. That looks good to me.

Some general notes:

[code]
is generally easier to read than
[code]

Iteration over 'properties' is done multiple times by filtering out comments and self. At the top:
[code]

The hasOwnProperty check is not needed, since it's from loaded JSON (no prototype funkiness).

Then, a name like 'dependencyName

[2017-01-27 22:21] jbphet commented on #509
Reopening because I think @pixelzoom intended to do so, and the TODO item he references in the above comment is still in the code.

[2017-01-31 07:09] samreid opened #543 "branch: loading-progress"
Investigation for https://github.com/phetsims/joist/issues/349

[2017-02-01 21:45] zepumph commented on #542
@jonathanolson thanks for the recommendations, closing.

[2017-02-01 23:17] pixelzoom commented on #509
The code in question was created by @jonathanolson in @394dd320b2681437d40b064a2566570f2f9e7809, assigning to him.

[2017-02-02 02:13] jonathanolson commented on #509
Implemented:
[code]
and added documentation so `grunt --help` specifies that --allHTML only works with the phet brand.

[2017-02-02 02:13] #509 closed

[2017-02-07 18:11] jessegreenberg opened #544 "remove hidden attribute from aria-live elements"
It is not necessary, and only forces clients to explicitly unhide elements when they want an accessible alert. When we created the group of aria-live elements initially, we hoped that hiding the group of elements would prevent NVDA from reading "alert" on sim startup. NVDA reads this regardless, so the hidden attribute should be removed.

[2017-02-07 18:40] jessegreenberg commented on #544
Done, closing.

[2017-02-07 18:40] #544 closed

[2017-02-09 19:20] zepumph commented on #542
I noticed that perennial's grunt checkout-shas could potentially use this upgrade as well. Do we want update perennial to npm prune and update as well? @jbphet @mattpen what do you guys think?

[2017-02-09 19:36] mattpen commented on #542
npm prune and npm update are called explicitly in build-server.  Do we need to improve this process?

See: https://github.com/phetsims/perennial/blob/1867a7f688698f74cfce9e2363ecaefe4c1c1c2d/js/build-server/build-server.js#L866

[2017-02-09 19:59] samreid opened #545 "Move wrappers to a separate repo"
From today's developer meeting:

MP: Should phet-io wrappers be branched into their own repo?  Development on wrappers and the API are running into frequent conflicts.
We’d like to have the ability to release new versions of wrappers without pulling in breaking changes in the API, which currently requires complicated cherry-picking of commits and results in ragged maintenance branches.
AP: Should

[2017-02-09 20:02] samreid opened #546 "Move TTypes to the simulation directories?"
They should version with the simulation types, e.g. for maintenance versions.  We originally put them in the phet-io repo to protect intellectual property, but perhaps our intellectual property is already covered because the PhET-iO engine (which gets minified and included with the simulations) is already private, and because the wrappers are private (though not currently minified).

[2017-02-09 20:03] samreid commented on #545
Oops, wrong repo.  See https://github.com/phetsims/phet-io/issues/1031

[2017-02-09 20:03] #545 closed

[2017-02-09 20:03] samreid commented on #546
Oops wrong repo. Closing.

[2017-02-09 20:03] #546 closed

[2017-02-09 22:02] samreid commented on #536
Proposed plan: build the same simulation with old and new uglify.  It should be somewhat performance-demanding so we can see performance changes more easily (if both run at 60fps on iPad3, we won't know if there was a change beyond that threshold).  Perhaps Energy Skate Park: Basics would be a good candidate.

[2017-02-09 22:08] samreid commented on #536
Published http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.3.1-dev.1/energy-skate-park-basics_en.html with master uglify.

[2017-02-09 22:11] samreid commented on #536
Putting that in package.json resulted in
[code]

[2017-02-09 22:14] samreid commented on #536
Here's the version with "old" 2.4.24 uglify:
http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.3.1-dev.2/energy-skate-park-basics_en.html

[2017-02-09 22:27] samreid commented on #536
Both are running at about 55 frames per second on iPad3 (with all features turned on in screen 1).  Closing.

[2017-02-09 22:27] #536 closed

[2017-02-09 22:36] samreid commented on #536
A snapshot of some uglify differences:

![image](https://cloud.githubusercontent.com/assets/679486/22805968/1619e144-eedd-11e6-97e6-0e267ecc25dd.png)

And the file sizes

1711268 dev.1 (master)
1647480 dev.2 (old one)

So it seems the new uglify is making the code some 4% bigger.

[2017-02-10 01:59] zepumph commented on #542
I think that's fine in fact I think it's better.This means that  there is a disconnect between chipper and perennial here in the grunt rule ( one conducts npm prune/update and the other does not), but I think that this is much more explicit and easier to maintain for the build-server application. Closing.

[2017-02-10 01:59] #542 closed

[2017-02-10 16:17] samreid commented on #542
If our grunt builds always had this feature, then it would have simplified perennial.  Since legacy maintenance builds don't have auto-prune and update, perennial needs this functionality.  Once 100% of our published sims are using new grunt, we could simplify perennial, but this may not happen for a long long time.

[2017-02-16 00:50] jessegreenberg opened #547 "grunt task that generates accessibility test html"
It would be nice to have a grunt task that generates a top-level file that runs the sim in an iframe with a copy of the accessibility DOM on the side. It is very useful for accessibility development, and demonstrations, and would be useful for all sims.

[2017-02-21 02:31] samreid opened #548 "branch: cache-buster-false"
This branch sets the default value for cacheBuster to `false` to address the following issues:
* persistent breakpoints in Chrome Dev Tools
* simpler to read stack traces.  For instance: https://github.com/phetsims/phet-io/issues/991#issuecomment-281214035 has a lot of noise in it.

My intent is to keep this branch up to date with master and to only let it deviate by this one value.

[2017-02-23 16:43] samreid commented on #548
I realized `grunt checkout-master` overwrites this.

[2017-02-28 21:49] samreid opened #549 "Should the require statements be alphabetized?"
@Denz1994 said @jbphet suggested alphabetizing the require statements.  I haven't been doing this.  What are the benefits?  Drawbacks?  Is it worth the time?

@pixelzoom and @jonathanolson have you been doing this?  What do you recommend?

[2017-02-28 23:03] pixelzoom commented on #549
My name is @pixelzoom, and I am a habitual alphabetizer of `require` statements.  Besides satisfying my OCD-ness...

I can't point to any significant benefits, other than a slight reduction in the chance of accidentally duplicating `require` statements (which would be reported by eslint).

The only drawback I can point to is the general drawback of having different conventions - which in this case

[2017-02-28 23:34] jonathanolson commented on #549
I haven't been doing this, but I've thought about it. Sublime has a quick shortcut to alphabetize selected lines, but having something automated would have problems with more odd cases, e.g. like this in Node:
[code]

No major preference for my code keeping the specific ordering it has now, don't mind if it gets changed. I'll be fine if we leave things as-is, or standardize on @pixelzoom's preferr

[2017-02-28 23:51] jonathanolson opened #550 "grunt deploy-production failure"
[code]

[2017-02-28 23:54] jonathanolson commented on #550
Looks like I had outdated entries in build-local.json that I recall was necessary a long time ago.

[2017-02-28 23:59] jonathanolson commented on #550
Removing those and re-deploying seems to have worked.

[2017-02-28 23:59] #550 closed

[2017-03-01 16:04] samreid commented on #549
@jbphet does it sound OK to you if we do *not* require ordering of the require statements?

[2017-03-01 18:44] samreid opened #551 "Can I use ES6?"
@jonathanolson pointed out in https://github.com/phetsims/axon/issues/118#issuecomment-283426535 that the caniuse table for ES6 Proxy looks like it covers the bases for our supported platforms:

![image](https://cloud.githubusercontent.com/assets/679486/23475051/5b5d51f0-fe73-11e6-87cd-4ff70008d2b6.png)

While I was there, I noticed that ES6 Arrow Functions, const/let, and classes are also green f

[2017-03-01 18:45] samreid commented on #551
Well, I noticed our "supported platforms" page says we still support IE11.  What are our analytics for that, and when (if ever) do we expect to drop support for it?

https://phet.colorado.edu/en/help-center/running-sims

[2017-03-01 19:02] jonathanolson commented on #551
Sticking with it indefinitely sounds like supporting IE11 indefinitely. Once IE11 support is dropped, we'd probably (somewhat incidentally) add code that would break in IE11 (even if it's not related to ES6).

I'd recommend to move forward with whatever ES6 features will help when it's supported by all of our supported browsers.

[2017-03-01 20:09] samreid commented on #551
@jonathanolson or @oliver-phet, can you please report on current IE11 usage from our analytics?

[2017-03-01 20:30] oliver-phet commented on #551
Over the last year, IE 11 represents ~6.6% of the total session. (8.04% IE, of that 82.2% is IE11)

[2017-03-01 21:08] samreid commented on #551
Should we add an IE-only banner "PhET support for IE is scheduled for termination, please use another browser", to see if we can drive those numbers even lower?

[2017-03-01 21:15] jonathanolson commented on #551
Many people can't switch due to using school computers, and presumably a banner wouldn't make a huge hit in usage due to situations like that? I'd generally prefer supporting IE11 with that usage.

[2017-03-01 21:20] samreid commented on #551
@jonathanolson what is your threshold?

[2017-03-01 21:23] jonathanolson commented on #551
Not sure what the best threshold is. @ariel-phet and @oliver-phet, what thresholds have we used in the past?

[2017-03-01 21:39] ariel-phet commented on #551
@jonathanolson @samreid our threshold is more like 1%, so we are not very close to that yet.

[2017-03-01 21:42] samreid commented on #551
Sounds good, we can check back in a year or so.

[2017-03-02 16:49] jbphet commented on #549
Yes, I'm okay with not requiring it.  I didn't really recommend it to @Denz1994 - I just let him know that I do it and I find it helpful when looking at the require statements in order to quickly see whether a given type is already included.  I'll continue to do it in my own code.

[2017-03-02 20:28] samreid commented on #551
@oliver-phet pointed out that build an atom (one of our most popular sims) has around 4% IE, so not quite as much as our website.

[2017-03-06 17:43] samreid commented on #549
Reassigned to @Denz1994 to make sure he is aware of this decision.  @Denz1994 after reviewing this issue, you can close it.

[2017-03-07 15:33] #549 closed

[2017-03-07 19:48] pixelzoom opened #552 "'grunt create-sim' is not filling in @author"
I ran:

[code]

None of the `@author` annotations were filled in.  E.g. in graphing-slope-intercept-main.js:

[code]

Do these placeholders need to be changed to `{{AUTHOR}}` ?

[2017-03-07 19:59] pixelzoom commented on #552
Indeed, placeholders needed to be `{{AUTHOR}}`.

Tested with:

[code]

... and verified `@author` annotations in foo's files.

Closing.

[2017-03-07 19:59] #552 closed

[2017-03-09 07:38] mattpen commented on #539
Adding to developer meeting to discuss if anyone has seen strange artifacts like this in the build directory in the past month.

[2017-03-09 07:41] mattpen commented on #539
We should also discuss closing https://github.com/phetsims/chipper/issues/539 if builds have been going as expected.

[2017-03-09 16:48] samreid commented on #539
I haven't seen any problems recently.

[2017-03-09 17:50] mattpen commented on #539
No one reported any nested build directories in the last month at dev meeting.  Closing.

[2017-03-09 17:50] #539 closed

[2017-03-12 00:48] pixelzoom opened #553 "when is SHERPA required in config.js?"
I see `SHERPA` in 27 config.js files:

[code]

But `SHERPA` is not in simula-rasa-config.js, so it's not added automatically by `grunt create-sim`.

When is `SHERPA` needed in config.js?

[2017-03-12 00:50] pixelzoom commented on #553
I'm asking because:

(a) it doesn't seem to make a difference in `requirejs` or built modes for some of the sims that I've been working on in the past few day (graphing-lines, graphing-slope-intercept, function-builder, function-basics, unit-rates,...), and

(b) I dimly recall some reason for adding it.

[2017-03-12 00:52] pixelzoom commented on #553
Looks like I added `SHERPA` and `VIBE` at the same time in graphing-lines-config.js, see https://github.com/phetsims/graphing-lines/commit/8986e1db6d5734d110c6a1dfdf138eaf873a8906.   Is it perhaps a requirement for audio?...

[2017-03-12 19:37] samreid commented on #553
I don't see any require statements with SHERPA in them, so I think SHERPA is not necessary in main.  Spot tests seem to agree:
![image](https://cloud.githubusercontent.com/assets/679486/23835216/01021812-0729-11e7-8b8e-6065be8aaad8.png)

I'll commit removals shortly.

[2017-03-12 19:40] pixelzoom commented on #553
Did you spot test audio? Looks like all sims that include VIBE also include SHERPA.

[2017-03-12 19:42] samreid commented on #553
Graphing lines had VIBE and SHERPA.  After removing SHERPA, audio is still working in Requirejs version.

[2017-03-12 19:42] pixelzoom commented on #553
And built version?

[2017-03-12 19:45] samreid commented on #553
Also is still woking properly in built graphing lines without SHERPA.

[2017-03-12 22:01] pixelzoom commented on #553
Looks like you missed a couple: area-builder, function-basics

[2017-03-12 22:03] pixelzoom commented on #553
I took care of function-basics, but don't have time to verify area-builder.

[2017-03-13 17:18] jbphet commented on #553
Area Builder is loading fine, basic operations are working, and sound is being generated correctly.  Looks good to me.

[2017-03-13 17:22] pixelzoom commented on #553
@jbphet SHERPA has not been removed from Area Builder yet.

[2017-03-13 17:34] jbphet commented on #553
Okay, I've now removed SHERPA from config.js and done a basic regression test on both the requirejs and built versions, and found no issues.  The sounds are correctly generated within the game.

[2017-03-22 15:44] samreid opened #554 "Missing require argument"
As seen in https://github.com/phetsims/forces-and-motion-basics/issues/222#issuecomment-288441200, several sims are missing the require parameter:

Other sims exhibit the missing `require`:

area-builder
energy-forms-and-changes
energy-skate-park-basics
fluid-pressure-and-flow

[2017-03-22 15:49] samreid commented on #554
Fixed in the preceding commits.  Assigning @jbphet so he will be aware of the issue, and to take a look and make sure everything is resolved.

[2017-03-22 16:27] jbphet commented on #554
Changes look fine to me.  @samreid - you said

I'm now aware of it, but not sure how to make sure everything is resolved other than just reviewing the code.  Let me know if there is more that I can help with, otherwise I think it's okay to close this.

[2017-03-22 16:43] samreid commented on #554
Nothing else to do here, a lint rule would be too complicated.

[2017-03-22 16:43] #554 closed

[2017-04-03 17:22] zepumph opened #555 "branch phetioAPIDocs"
Used with https://github.com/phetsims/phet-io/issues/972 and can be deleted when that issue is closed unless otherwise stated in that issue

[2017-04-05 19:58] jessegreenberg opened #556 "body bgcolor attribute is obsolete"
Found in phetsims/john-travoltage#209. HTML validation caught that the bgcolor attribute for body is marked as obsolete: https://www.w3.org/TR/html5/obsolete.html.  It is used to style the body in sim.html and sim-development.html.

Recommendation is to use the CSS equivalent ```background-color```. It seems to work great and is in the "well supported subset" of CSS 2.1 in http://caniuse.com/#sear

[2017-04-05 20:02] jessegreenberg commented on #556
Change made in the above commit, I will regenerate the html templates.

[2017-04-06 15:29] samreid opened #557 "Code Style: @return vs @returns"
In https://github.com/phetsims/dot/issues/66#issuecomment-292067847 @jonathanolson recommended to use `@returns` instead of `@return`.  I did so then went to see if this problem needed to be fixed elsewhere.  However, I noticed in the JSDoc specs we have been using: https://github.com/google/closure-compiler/wiki/Annotating-JavaScript-for-the-Closure-Compiler it says to use `@return`. I also confi

[2017-04-06 15:40] jessegreenberg commented on #556
@jonathanolson re-generated the templates, thanks! Closing.

[2017-04-06 15:40] #556 closed

[2017-04-06 16:00] pixelzoom commented on #557
I have no strong opinion on whether PhET should use `@return` or `@returns`.  Since both convey the information effectively, and since we're not generating doc, I'm not entirely convinced that it matters.  Let me know which one you'd like me to use going forward.

[2017-04-06 16:04] pixelzoom commented on #557
According to JSdoc 3 (http://usejsdoc.org), `@returns` is the official tag, and `@return` is a valid synonym.

[2017-04-06 16:07] jonathanolson commented on #557
No strong preferences, but I somewhat prefer `@returns`, as it feels more natural to say what the function is returning. If there are hard-to-change IDEA templates, it may be preferable to use `@return`.

[2017-04-06 17:03] pixelzoom commented on #557
When I add doc for an existing function in IntelliJ IDEA, it automatically uses `@returns` in the documentation that it generates.  I haven't investigated whether this is configurable in IDEA. So if we must standardize, +1 for `@returns`.

[2017-04-06 17:33] samreid commented on #557
It looks like you can switch types with IDEA using the strategy here:
https://youtrack.jetbrains.com/issue/WEB-7516#comment=27-611256

[2017-04-06 18:02] samreid commented on #557
I'm going to push changes from `@return` to `@returns`

[2017-04-06 18:19] samreid commented on #557
I've switched occurrences of `@return` to `@returns`. @pixelzoom @jbphet @jonathanolson @zepumph @Denz1994 @mattpen please pull all to pick up these changes.

[2017-04-06 19:11] zepumph commented on #540
I think I have come full circle on this. I'm not sure that this is entirely necessary. Implementing to me seems like we would add another preload that has a global that holds the schema, and then using that object and probably deleting it after QSM uses it to avoid clutter. I feel like this adds complexity without helping much.  What do people think?

[2017-04-06 19:31] pixelzoom commented on #540
My opinion is unchanged from https://github.com/phetsims/chipper/issues/540#issuecomment-272044217:

[2017-04-06 19:50] samreid commented on #540
I'm fine to close this and leave things as they are.

[2017-04-06 19:50] #540 closed

[2017-04-07 22:10] zepumph opened #558 "branch: exhileWrappers"
This is used in correlation with https://github.com/phetsims/phet-io/issues/1031 and can be removed when that issue is closed.

[2017-04-10 16:58] jessegreenberg opened #559 "remove aria-atomic attribute from aria-live elements"
In https://github.com/phetsims/john-travoltage/issues/210, it was found that the aria-atomic attribute for "aria-live" elements prevents accessibility alerts from being read by screen readers in some cases in Safari 10.1.

https://www.w3.org/TR/wai-aria/states_and_properties#aria-atomic

When "aria-atomic" is true, a screen reader should update read all HTML content instead of just the changed nod

[2017-04-11 17:40] pixelzoom opened #560 "version id scheme"
The version id for PhET sims has (imo) gotten a bit confused with the introduction of PhET-iO.  The 'phetio' brand identifier has been tacked on in a non-general way, and I have yet to see anyone provide a coherent/comprehensive description of the version id's syntax and semantics (`getVersionForBrand.js` included).

### Current version id scheme

Here is the current format for public, dev and RC

[2017-04-12 16:02] samreid commented on #560
Prior discussion about how to name the versions is in https://github.com/phetsims/phet-io/issues/623 and it is codified in chipper/js/getVersionForBrand.js

[2017-04-12 20:35] pixelzoom commented on #560
The current scheme of inserting "phetio" in front of "dev" and "rc" in the version identifier breaks the detection scheme that we approved in https://github.com/phetsims/joist/issues/406#issuecomment-284893658.

[2017-04-13 15:46] pixelzoom commented on #560
For a summary of other problems with the current version id scheme, see https://github.com/phetsims/joist/issues/411 (clean up version identifier).

[2017-04-13 15:48] pixelzoom commented on #560
Here's another possible general form that is closer to what we have now.  The brand chunk comes before the test chunk:

[code]

E.g.:

1.0.0
1.0.0-phetio
1.0.0-rc.1
1.0.0-phetio-rc.1
1.0.0-dev.1
1.0.0-phetio-dev.1

[2017-04-13 15:49] pixelzoom commented on #560
Here's another possible general form that is closer to what we have now.  The brand chunk comes before the test chunk:

[code]

E.g.:

1.0.0
1.0.0-phetio
1.0.0-rc.1
1.0.0-phetio-rc.1
1.0.0-dev.1
1.0.0-phetio-dev.1

This would probably require fewer changes to the build process.  But imo it's preferable to put the brand chunk last, since it's absence indicates an implicit value ('phet').

[2017-04-13 15:53] pixelzoom opened #561 "deploy task doesn't handle remote directory properly"
I attempted to do "grunt deploy-dev" for function-basics 1.0.0-dev.1, without having created the function-basics/ remote directory on spot@dev/html/.   The grunt task appeared to complete without error, but nothing was deployed to spot.  Apparently the build process doesn't test whether the target directory exists, and then silently continues when the deploy fails.

I think it's fine to require ma

[2017-04-13 15:58] pixelzoom commented on #561
There's a similar problem if you forget to change the version id and attempt to deploy the same version twice.  Instead of failing or replacing the remote directory, "grunt deploy-dev" nests a build/ directory inside the existing remote directory.

E.g.:

[code]

[2017-04-13 16:00] samreid commented on #560
It appears that the semantic versioning rules (which we looked at previously) does support hyphens in pre-release version identifiers.  http://semver.org/#spec-item-9 . However, I'm not sure that we should be using "pre-release" style to identify production versions like "1.0.0-phetio".

[2017-04-13 16:02] pixelzoom opened #562 "wrappers are included for all deploys"
When I deploy a sim via "grunt deploy-dev" or "grunt deploy-rc", I'm seeing a `wrappers/` directory being deployed.  I have not tested "grunt deploy-production".  My sims are not instrumented for phet-io, and I have not specified brand=phet-io. This seems like a bug.

[2017-04-13 16:10] pixelzoom commented on #562
I misspoke... Looks like the wrappers/ are deployed only for `deploy-dev` task, not `deploy-rc`.

[2017-04-13 16:11] samreid commented on #562
Do you have a flag where it is remembering your brand?  Like in a .phet directory?

[2017-04-13 16:12] pixelzoom commented on #562
`"brand": "phet"` in $HOME/.phet/build-local.json.

[2017-04-13 16:12] zepumph commented on #562
I see this line in `deployDev.js`:

[code]

Looks like it isn't checking for brand here, not sure about rc though.

[2017-04-13 16:13] samreid commented on #560
Brainstorming: what if instead of changing the version name for phet-io sims, we change the project name.
Currently:
faradays-law 1.0.0-phetio

Proposed:
faradays-law-phetio 1.0.0

This idea was prompted by on the semantic versioning link above.

[2017-04-13 16:13] pixelzoom commented on #562
That sure looks like the problem.  And as I said above, _not_ a problem for `deploy-rc`.

[2017-04-13 16:13] zepumph commented on #562
Oh sorry I missread.

[2017-04-13 16:14] pixelzoom commented on #562
I misspoke in my report (first comment), then clarified in second comment.

[2017-04-13 16:15] zepumph commented on #562
Ahh I see now.

It looks like the deployDev task just takes in grunt. I thought that the brand was gathered from the buildConfig though. perhaps we need to pass that in to dev deploys.

[2017-04-13 16:17] samreid commented on #560
They are different applications, so doesn't it make sense that they would have different names?

[2017-04-13 16:21] pixelzoom commented on #560
They are not different applications. They are the same application with different branding and different features enabled.

[2017-04-13 16:24] zepumph commented on #562
CM could you pull and see if it's fixed?

[2017-04-13 16:29] samreid commented on #560
They also have different code (phet-io sim versions include phetio.js internally and wrappers externally).

[2017-04-13 16:39] pixelzoom commented on #560
So... phetio is phet with additional features (and code for those features) added, right?

[2017-04-13 16:41] samreid commented on #560
Correct, there is added code and different brand metadata.

[2017-04-13 16:52] pixelzoom commented on #562
👍 Closing.

[2017-04-13 16:52] #562 closed

[2017-04-13 18:36] mattpen opened #563 "Build an all locales html file"
We need to setup a process for building a html file with all locales, test it, and add it to the production build process.

[2017-04-13 18:36] mattpen commented on #563
From dev meeting:

[2017-04-13 18:44] jbphet commented on #563
Plan discussed in 4/13/2017 dev meeting:

+ Test the generation of the "all" html build (the capability has been implemented, but hasn't been used or tested much)
+ Identify the published simulations that don't support the generation of the "all" build and do maintenance releases for each
+ Add building of the "all" file to the build server
+ Figure out the meta data necessary for the iOS and Andr

[2017-04-13 19:27] samreid opened #564 "Copyright statement should appear in the HTML"
Currently our built html files show copyright statements for our dependencies, but not for our own code.  We have this for PhET-iO brand, but not for PhET brand.  It seems like it would be nice to have, and ideally it would be synchronized with the value shown in the about dialog, like in https://github.com/phetsims/brand/issues/31

@ariel-phet can you decide how important this is and assign it to

[2017-04-13 19:42] samreid commented on #560
Would it be simpler from an engineering standpoint if we only had one file (which supports both phet and phet-io)?  If so, we would need @kathy-phet to approve this before moving forward.

[2017-04-13 20:15] samreid commented on #553
@pixelzoom can this issue be closed?

[2017-04-13 20:28] pixelzoom commented on #553
Yep. Closing.

[2017-04-13 20:28] #553 closed

[2017-04-14 16:08] ariel-phet commented on #564
@zepumph is this something you feel you could tackle (since you are fairly familiar with the iO brand and it is done there)? If not please assign back to me.

I don't see this as particularly high priority, however marking as medium, since if we just continuously punt on it, it won't get done :).

[2017-04-14 17:00] ariel-phet commented on #561
Assigning to @mattpen - seems good to fix

[2017-04-14 18:17] zepumph opened #565 "Simplify getGruntConfig in how it retrieves the files to lint"
Currently there is a ton of conditional logic to determine whether or not a file should be linted for specific tasks. @samreid and I were talking in regards to #1095 and we think that this can be improved.

Shouldn't we just be able to lint all files in the correct repos for the task, and have the built in eslint directives ( like `// eslint-disable') decide on a per file basis if we want to lint

[2017-04-14 18:19] zepumph commented on #565
Maybe rather than using the grunt plugin, we could just use npm's eslint modules. See here http://eslint.org/docs/developer-guide/nodejs-api#getformatter.  This could be very similar to how we got boxed in with grunt's requirejs plugin.

[2017-04-14 20:40] samreid commented on #565
I added a new linter above which is simpler in its implementation and more flexible:

* helped catch lint errors the other process was missing
* automatically hits all *.js files instead of just cherry picking some of the js/ directories
* replaced 170 lines of somewhat complicated getGruntConfig.js with 89 lines of more straightforward lint.js
* we need to put 'eslint' in package.json instead of

[2017-04-16 17:49] jonathanolson commented on #565
Initial review of the code looks good.

Testing this in each repo would be next. I don't see information about what eslint version to use in package.json/etc.

@samreid, could we collaborate on this sometime by changing master working copies, running tests in each repository, and then pushing?

[2017-04-16 18:08] pixelzoom commented on #565
Looks like @jonathanolson has this (thanks!), so I'm going to unassigns myself.

[2017-04-17 15:21] samreid commented on #565
@jonathanolson I'm available today, let me know when is a good time for you to collaborate.

[2017-04-17 15:26] jonathanolson commented on #565
Whenever, also available today. Message me on Skype?

[2017-04-17 15:49] samreid commented on #565
@jonathanolson and I looked into this today, and found the new process seems like it is working well.  We tested `grunt lint` on active runnables and didn't see any new errors (though a few repos were missed because I didn't have npm install already). Next steps:

- [ ] commit the changes to master
- [ ] remove grunt-eslint from all package.jsons
- [ ] check on bayes continuous testing to see if a

[2017-04-17 15:54] samreid commented on #565
I also realized `grunt.initConfig( gruntConfig );` would now be passing in an empty object, so perhaps we don't need to call it any more.

[2017-04-17 16:16] samreid opened #566 "Simplify paths in findDuplicates.js"
From https://github.com/phetsims/chipper/issues/565 findDuplicates should be written to use paths more like lint.js

[2017-04-17 16:21] samreid commented on #565
Find duplicates didn't "just work" with the new paths, so I inlined getGruntConfig into it (so it will only be called when needed) and created #566.

[2017-04-17 16:29] samreid commented on #565
I commented in the skype channel:

[2017-04-17 16:37] samreid commented on #565
I commented in skype:

[2017-04-17 16:46] samreid commented on #565
I commented in skype:

[2017-04-17 17:08] samreid commented on #565
Bayes helped catch 3 errors, everything else seems OK.  We should also keep our eyes peeled for perennial issues since perennial/package.json changed.

[2017-04-17 17:09] samreid commented on #565
I wrote in on skype:

[4/17/17, 11:08:46 AM] Sam Reid: Dear next deployer, perennial/package.json changed and the next RC or production deploy will help us understand whether it is OK
[4/17/17, 11:08:53 AM] Sam Reid: So keep you eyes peeled!

[2017-04-17 17:11] samreid commented on #565
I added:

[4/17/17, 11:10:37 AM] Sam Reid: I have no idea if/how perennial updates itself.  Do we have to pull it manually?  Or does it always self-pull?
[4/17/17, 11:10:50 AM] Sam Reid: Does it know how to npm prune + npm update itself?

[2017-04-17 19:44] mattpen commented on #561
@pixelzoom - I've changed the deploy-dev task so that it creates the directory path if it does not exist.  As the directory now always exists, I had to make the second change as well such that the contents of build are copied to the remote directory, rather than a nested build directory.

I did not implement a check to report on or block overwrites if they are happening.  Should I add that as well

[2017-04-17 19:47] samreid commented on #565
It sounds like perennial update is manual, and dev release was made with no trouble.  I'll close this until we run into problems.

[2017-04-17 19:47] #565 closed

[2017-04-17 19:49] pixelzoom commented on #561
In my experience, overwriting an existing deploy is typically a mistake, caused by forgetting to update package.json.  So I think it should fail if the remote directory already exists.  If you want to replace an existing deploy, log in to spot and manually delete the remote directory.

[2017-04-17 20:26] mattpen commented on #561
OK.  So now a call to `grunt deploy-dev` should first check if the directory exists.  If it does not, it creates the directory and copies the contents.  If the directory exists, it fails with a message like this:

Running "deploy-dev" task
Fatal error: Directory spot.colorado.edu:/htdocs/physics/phet/dev/html/chains/1.0.0-dev.4 already exists.  If you intend to replace the content then remove the

[2017-04-17 21:08] pixelzoom commented on #561
That behavior and the error message look great.  I didn't test, trust that you did.  So closing.

[2017-04-18 16:04] pixelzoom commented on #561
Reopening.  'grunt deploy-dev' now prompts me for a password 4 times, once for each file transferred.

I tried to enable password-less login by posting my ssh key in my home directory on spot:

I verified that the files `spot@~/.ssh/authorized_keys` matches `local@~/.ssh/id_rsa.pub`.

And I'm still required to provide a password for ssh to spot, and for "grunt deploy-dev".

In case ssh version mat

[2017-04-18 16:16] mattpen commented on #561
`grunt deploy-dev` prompts for password four times for each command that needs to run on the dev server (spot).

1. Check if file exists
2. Create directory
3. Modify permissions on the directory
4. Copy the files

I could potentially combine the first three commands into one script, but it would still prompt for password twice.

[2017-04-18 16:19] pixelzoom commented on #561
Thinking out loud... Perhaps `deploy-dev` should work like `deploy-rc`?  That is, handled by build-server?

[2017-04-19 15:01] zepumph commented on #555
We have something working in master now. This branch has been deleted.

[2017-04-19 15:01] #555 closed

[2017-04-20 03:53] samreid commented on #561
The instructions in https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md#build-process-configuration worked great for me, we should try to get them working for you too.

I'm not opposed to getting the build server to build dev versions, though I'd recommend spending another 60+ minutes getting the ssh keys working first.

[2017-04-20 16:05] pixelzoom commented on #561
The instructions in https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md#build-process-configuration (a) indicate that creating an ssh key is option, and (b) don't work for me despite repeated attempts to follow the instructions.

[2017-04-20 16:12] pixelzoom commented on #561
On my 4th attempt to follow the instructions, I got ssh key to work.  I'll update the instructions.

[2017-04-20 16:25] pixelzoom commented on #561
Instructions in https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md#build-process-configuration have been revised, see "Configure an RSA key (optional)" section.

I'm not opposed to making "Configure an RSA key" required.

[2017-04-20 16:40] samreid commented on #561
+1 for making the RSA key required so we have a standardized process.

[2017-04-20 18:17] samreid commented on #560
We are discussing making phet-io development part of the normal process and unifying the version numbers (and branch names) and having the build process build both artifacts.

[2017-04-20 18:19] samreid commented on #560
Hence we would take the brand out of the version identifier and branch names.

@jonathanolson and @zepumph and @samreid will work together to investigate how to make this happen.

[2017-04-20 18:26] samreid opened #567 "Build PhET and PhET-iO brands together"
In https://github.com/phetsims/chipper/issues/560 we decided we want to investigate building both brands simultaneously.

@jonathanolson and @zepumph and @samreid will work together to investigate how to make this happen.

Questions:
* how to make the build process not run too slowly?  (RJS build takes about 15 seconds for me on FAMB).  May be possible to reuse build artifacts, but that may be too

[2017-04-20 18:28] samreid commented on #560
As part of https://github.com/phetsims/chipper/issues/567 we will investigate removing brand from version and branch.

[2017-04-20 18:33] samreid commented on #561
We decided to make RSA key required.   @pixelzoom is updating the docs.

[2017-04-20 18:33] #561 closed

[2017-04-21 16:48] samreid opened #568 "branch: legends-of-learning"
To support https://github.com/phetsims/special-ops/issues/70

[2017-04-21 17:49] samreid commented on #567
I have a faint recollection that someone within the last 2 weeks was trying to run 2 requirejs builds and we needed to clear it out somehow?  Maybe it was @zepumph?  I'm asking because it could impact how we can use requirejs during chipper steps.

[2017-04-21 17:58] pixelzoom commented on #567
It was not me.

[2017-04-21 19:34] samreid commented on #567
@kathy-phet can we put the "PhET" and "PhET-iO" builds side by side like this?

https://phet.colorado.edu/sims/html/states-of-matter/1.0.2/phet
https://phet.colorado.edu/sims/html/states-of-matter/1.0.2/phet-io

[2017-04-21 19:38] kathy-phet commented on #567
Not with the current licensing and contract statements - these say that the sims at the phet.colorado.edu website are CC-BY. It was the easiest way to be clear about which sims were available under our CC-BY license.

So if you want to do this, we will need to revisit. Why do you want to do this approach -- since its not at phet-io? It seems like it would be confusing to clients, and could cause s

[2017-04-21 19:39] kathy-phet commented on #567
Why not
https://phet.colorado.edu/sims/html/states-of-matter/1.0.2/
https://phet-io.colorado.edu/sims/html/states-of-matter/1.0.2/

[2017-04-21 20:05] pixelzoom commented on #567
Builds on spot could presumably live side-by-side in the same directory, e.g.:

[code]

But "grunt deploy-production" should deploy them to different production servers, as @kathy-phet indicated in https://github.com/phetsims/chipper/issues/567#issuecomment-296288133.

[2017-04-21 20:06] pixelzoom commented on #567
Or if we put brands as in subdirectories on spot, as discussed in yesterday's dev meet:

[code]

[2017-04-21 21:01] samreid commented on #567
We are looking at ways to unify the phet and phet-io development/build/test/deployment process.  One recommendation from yesterdays development meeting was that the build process should build both brands during each build.

[2017-04-21 22:58] samreid commented on #567
Brainstorming: Perhaps we can publish phet-io and phet simulations on spot and phet-io.colorado.edu.  If the only restriction is not having the io simulations accessible from phet.colorado.edu, perhaps they could be blacklisted with an apache directive.  Then the same build process can be used for all 3 sites.

[2017-04-22 03:56] samreid commented on #567
https://phet.colorado.edu/sims/html/states-of-matter/1.0.2/
https://phet-io.colorado.edu/sims/html/states-of-matter/1.0.2/

That is (aside from the html/) Plan A, which involves some additional complexity to the build and deploy process.  We may eventually go with it, but first it would be good to understand alternatives.

[2017-04-24 19:29] zepumph commented on #567
@jonathanolson, @samreid and I met for a bit this morning. We didn't decide on anything concrete, but rather just pursued different ideas and brainstormed pros and cons.

When thinking through the task of combining the phet-io and phet build processes together, a spectrum we thought about was how much to manipulate the build process (meaning the build server too).

On one side, a solution would be

[2017-04-25 00:03] zepumph opened #569 "Continuous Testing: Warning: ENOENT: no such file or directory, scandir '../phet-io-wrappers/node_modules'"
This problem came up when I merged 'exileWrappers' into master. It wasn't a problem locally, and I can't seem to reproduce it, but all phet-io builds are failing on the continuous testing with this error:
`Warning: ENOENT: no such file or directory, scandir '../phet-io-wrappers/node_modules'`

I will investigate further in the morning.

[2017-04-25 00:07] Denz1994 commented on #569
I am not getting this error. But I haven't pulled from master since around 8:20 am this morning.

[2017-04-25 03:27] mattpen opened #570 "Maintenance deploys causing twitter cards to fail"
I recently added a step to the `build-for-server` process that generates an image for use in the twitter cards on the main website pages.  The changes are all included in this commit: 31ee343bf71eab2b8a19d01547c1996c7834e25a

However, most sims do not have a version of chipper in their respective dependencies.json that includes this change, so every time we do a maintenance deploy, I have to copy

[2017-04-25 03:35] jonathanolson commented on #569
Testing on aqua, it looks like this issue is caused by my use of symbolically linking node_modules directories as a time-saving measure. I'll run a few extra tests to see if I can get "npm update" to run massively concurrently.

[2017-04-25 03:39] mattpen commented on #570
The workaround script is stored in `phet-server:/home/phet-admin/update-twitter-cards.js` and is scheduled to run once an hour.

[2017-04-25 04:00] jonathanolson commented on #569
Two runs of 'npm update' (on freshly-checked-out active-runnables) ran between 7-7.5min so far, so I'll check parallel invocations (with different cache directories).

[2017-04-25 04:16] jonathanolson commented on #569
The following script approximation is running in ~54 seconds:
[code]

I'll do some testing to make sure it's sufficient.

[2017-04-25 04:59] jonathanolson commented on #570
Sounds like something that should be pushed out as a maintenance release. What happens with translations being built?

It would probably be good to verify that Jimp is in package.json for all production sims, as that would cause issues.

Presumably I can check if patches work (after npm prune/update) if RC deploys have the twitter card on spot?

This would probably be an excellent maintenance rele

[2017-04-25 05:06] mattpen commented on #570
I don't think this should cause a problem.  If I remember correctly, translations overwrite the appropriate files in the production directory which means that the file for the twitter card will remain in place.

I think so.  `generate-twitter-card` is part of `build-for-server`, which should be run during RC deploys.

[2017-04-25 05:15] mattpen commented on #570
Is this necessary? It looks like it is missing from most if not all.  I was able to generate the screenshots using grunt with jimp missing from the sims' package.jsons.  Wouldn't jimp need to be in chipper's package.json, at least in the shas used in production sims?

[2017-04-25 05:22] jonathanolson commented on #569
Modifications to use parallel npm updates (with the --cache parameter as seen above) has been moved to aqua on bayes. I'll check back in soon to see if it fixes the issue.

[2017-04-25 05:32] jonathanolson commented on #570
Yes, it would only need to be in each sims' chipper version.

A few spot-checks indicate it's probably in most "modern" sims as it's needed for screenshot operations already.

@ariel-phet, thoughts about whether this warrants:

1. Full maintenance release (both apply the commits to sims' release branches AND deploy-rc/test/deploy-production), whenever I'm available concurrently working on somethin

[2017-04-25 05:33] jonathanolson commented on #569
Looks like this was successful in resolving the issues, closing.

[2017-04-25 05:33] #569 closed

[2017-04-25 14:45] zepumph commented on #569
Thanks @Denz1994 and @jonathanolson for figuring this out, I appreciate it.

[2017-04-27 19:18] zepumph commented on #567
This wasn't ready for discussion in today's dev meeting. We should shoot to have a conversation about this before next dev meeting.

[2017-04-27 19:51] samreid commented on #494
We were discussing this in https://github.com/phetsims/phet-info/issues/44

Generally we think it would be nice to eliminate the node_modules from the sim directories and check in one copy (in sherpa or possibly chipper).

This is working:
[code]

[2017-04-27 19:53] samreid opened #571 "check in chipper node modules"
See https://github.com/phetsims/phet-info/issues/44 and https://github.com/phetsims/chipper/issues/494

Checking in node_modules may simplify our process (at least for restoring working copies).

[2017-04-28 16:18] samreid commented on #571
Chipper's node_modules is currently about 50MB and includes things such as this picture of a grumpy cat:

![image](https://cloud.githubusercontent.com/assets/679486/25537361/6c93316e-2bfb-11e7-81b8-d65bd372785f.png)

I'm basically wondering about this plan:

1. Delete sim node_modules--they can use chipper's one
2. Prune chipper's node_modules directory to eliminate waste and get lower than 50MB
3

[2017-04-28 19:35] samreid commented on #567
Here are some upcoming availabilities:

Tuesday May 2, 1pm-3pm Mountain Time
Wednesday May 3, 9am-3pm Mountain Time

[2017-04-28 23:48] samreid opened #572 "Type checking with typescript"
Typescript 2.3 introduced support for type checking JS code based on JSDoc.  https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-3.html

This is something we hoped flowtype would implement, but they haven't yet.  I have no idea if/how it would support our own inherit syntax but if it did it would be a great tool for ensuring code quality.

[2017-05-01 22:14] zepumph commented on #567
Both of those work well for me. @jonathanolson what's good for you?

[2017-05-01 22:15] jonathanolson commented on #567
Tuesday sounds great to me.

[2017-05-01 23:24] zepumph commented on #567
Alright sounds good. How about 1pm tomorrow then?

[2017-05-02 04:56] samreid commented on #567
1pm-1:50pm Tuesday works OK for me.  I have another meeting at 2pm I'll need to prepare for.

[2017-05-03 15:13] samreid commented on #567
We chatted about this yesterday and @pixelzoom joined in.  It seems important to only have one maintenance branch per version which includes all the brand.  That is, instead of having 1.1-phetio and 1.1, we would have only 1.1 and it would support all brands.

To decide:
- [ ] should there be only one dependencies.json which identifies dependencies for all brands (as a union?) . This may be best b

[2017-05-03 16:42] pixelzoom commented on #567
Off the top of my head....

Having a dependencies file per brand feels like the way to go.  Add the brand name as a file suffix, e.g. `dependencies-phet-io.json` (or `dependencies-phetio.json`, depending on what the brand name really is).  Absence of a brand suffix could indicate `phet` brand, but it might be clearer (and simplify things) to have `dependencies-phet.json`.

Speaking of brand suffix

[2017-05-03 16:58] samreid commented on #567
I agree with the majority of your comment above, the only part I am curious about is why to have different dependencies.json.  It seems like that would provide the opportunity for SHAs to get out of sync.  Having one dependencies.json would guarantee that SHAs are all in sync and there is no opportunity for error (same reason as we wanted to eliminate multiple maintenance branches).

I see two mai

[2017-05-03 17:02] pixelzoom commented on #567
There are situations where the shas _should_ be out of sync for each brand.  Suppose you make a PhET-iO fix and want to publish only the phet-io brand in maintenance release 1.0.4.  Run `grunt --brand=phet-io` and deploy the artifacts.   `dependences-phetio.json` contains the dependencies, and they are at this point different than `dependences-phet.json` (because you didn't publish phet brand).  S

[2017-05-03 17:08] pixelzoom commented on #567
This is probably also a good place to recommend that PhET consider having someone whose primary responsibility is supporting the building and deployment of PhET products.  PhET's requirements in this area are more complicated than the majority of organizations that I've consulted for in the past. And 100% of those organization had someone whose full-time responsibility was to support building and

[2017-05-03 17:14] pixelzoom commented on #567
To summarize the above comment: Supporting build and deploy is no longer a part-time job.

[2017-05-03 17:14] samreid commented on #567
If we have one maintenance branch for multiple brands, then why would we want that branch to have conflicting dependencies?  For instance, if Faraday's Law 1.1 branch had dependencies-phet.json with joist sha ac123e why would we want to permit dependencies-phetio.json to have joist sha fea238?  That would mean that when switching *brands* we would have to check out different shas, which would sign

[2017-05-03 17:16] pixelzoom commented on #567
The update is irrelevant to the phet brand, but the end-user will be notified that an update is available.
There has been push-back that in the past.

[2017-05-03 17:19] samreid commented on #567
What if we still build and test both versions, but we only publish the PhET-iO brand one?  That will keep the shas in sync without sending out updates.

[2017-05-03 17:20] samreid opened #573 "Can load-grunt-tasks be pruned?"
See https://github.com/phetsims/chipper/issues/571

I noticed that load-grunt-tasks may no longer be necessary, it seems like it was only loaded because of the old way we were running eslint.  Perhaps it can be pruned.

[2017-05-03 17:21] samreid commented on #573
I removed it, ran npm prune and npm update, and lint still worked fine.  I think our recent rewrite to use eslint directly instead of through a plugin obviates load-grunt-tasks.  I'll remove it and commit.

[2017-05-03 17:21] pixelzoom commented on #567
I should clarify something else here. I started https://github.com/phetsims/chipper/issues/567#issuecomment-298967526 with:

... because I don't feel like I have the information (or time, or interest) needed to make good decisions about build process and tools.  I don't know what PhET's longterm plans are, I don't know how PhET-iO products are delivered, I don't know the desired relationship betwe

[2017-05-03 17:23] samreid commented on #567
I'm sure you aren't the only one!  It would be great to discuss with @kathy-phet and @ariel-phet so we can get a shared vision.

[2017-05-03 17:38] samreid commented on #573
It's gone!  It looks like bayes caught this change in the latest test and I don't see any trouble.  Reopen if you see something.

[2017-05-03 17:38] #573 closed

[2017-05-03 18:20] jonathanolson commented on #567
Applying the fixes (patches to dependencies.jsons) to both phet and phet-io brands (and then conditionally not deploying a specific brand if no change is needed) sounds better than having them diverge.

[2017-05-03 18:27] pixelzoom commented on #567
Another question is whether PhET build tools need to be usable outside of PhET.  If yes, then having all dependencies in a single dependencies.json will require extra logic to ignore repos that are not actually needed to build the artifact.  For example, brand=phet-io requires some repos that brand=phet doesn't require.

[2017-05-04 16:01] zepumph commented on #567
This issue is tagged for dev meeting, if you want a decent summary of the issue see https://github.com/phetsims/chipper/issues/567#issuecomment-298941460

[2017-05-04 17:28] samreid commented on #567
Questions that would be good to discuss with @kathy-phet and @ariel-phet which will help use decide how to approach our build tools:

1. When should we start "instrumenting sims as we go"?
2. When will we start publishing the PhET and PhET-iO brands at the same time?
3. When do we hope to have all of our HTML5 sims PhET-iO instrumented?

[2017-05-04 17:37] samreid commented on #567
@kathy-phet says:

we wanted the approach to stabilize before scaling up on this.  May not be quite there, especially with respect to games like Build an Atom.  Still need to identify the gaps on what sim features need more attention.

@jbphet says dynamic creation and deletion of objects is a bit tricky for instrumentation and may need to be changed.

According to @pixelzoom @ariel-phet said Equa

[2017-05-04 17:42] samreid commented on #567
@kathy-phet asks what are the costs of the current procedure

@pixelzoom: there are manual steps to keep the shas in sync, and keep the branches in sync.  The parts are test phase, maintenance phase, patching and dealing with existing branches.  What if we publish a PhET update when there are only internal (or PhET-iO related changes?). Will we have other brands that we need to support in the futu

[2017-05-04 17:44] samreid commented on #567
@kathy-phet says sooner is better but not practical.  Depends on fund raising.  Would be good to have a few more instrumented by Fall.  Fall is a good target for a few more, then 50% sims by Fall 2018.

[2017-05-04 17:48] samreid commented on #567
@pixelzoom: we are still in beta for PhET-iO.  By the time we are out of beta, we should have well-defined tools and processes.

@kathy-phet: I'm not worried about bothering PhET users with PhET-iO changes, it doesn't seem too intrusive.

@pixelzoom: we could build both brands but not deploy both.

@kathy-phet: if PhET-iO and PhET are on same branches, then the PhET brand should still work.

[2017-05-04 17:48] samreid commented on #567
@kathy-phet says: I'm fine with that.

[2017-05-04 17:49] samreid commented on #567
@jonathanolson: we'll have one branch for both, and always build both at build time

[2017-05-04 17:51] samreid commented on #567
@kathy-phet: I recommend against 3rd parties forking PhET code because it makes it difficult for us to provide maintenance releases to them.  I am more often more inclined to put features into the main sim so that we can maintain it more simply.

[2017-05-04 18:33] samreid commented on #567
Would be great to discuss with @ariel-phet soon.  @ariel-phet please read through the comments and recommendation and let's chat at an upcoming developer meeting.

[2017-05-04 18:44] samreid commented on #571
Developers kind of enjoy the ease of typing `grunt` in sim directories, and if that changes we would have to update perennial and maintenance processes.  Nobody really has time to investigate this at the moment.

[2017-05-04 19:24] kathy-phet commented on #567
Perhaps goal of having Build an Atom game instrumented by end of summer -- so we can figure out whether PhET-iO is working for games by then?

[2017-05-04 19:36] zepumph commented on #567
Adding to dev meeting for next week, when we can talk with @ariel-phet.

[2017-05-04 20:34] samreid opened #574 "Investigate https://prepack.io/"
https://prepack.io/ is a new project that evaluates expressions during the build process to eliminate the need to evaluate them during the runtime.  Will it work in the context of our project?  How much will it speed up startup time or runtime (if any)?

[2017-05-05 16:36] jonathanolson commented on #571
npm caused continuous testing failures by filling up the /tmp directory with files that aren't removed (https://github.com/phetsims/aqua/issues/20). The next time I run into another npm-related issue, I'll probably take a stab at this.

[2017-05-10 22:09] zepumph commented on #564
While looking into this issue, I noticed that there wasn't a copyright statement for either PHET_IO or PHET brand. This seemed suspicious, and with help from @samreid we found a pretty suspicious line of code in our built sim template (and sims built with this template). A template holder "PHET_HTML_HEADER" seems to still be in the finished html file. I looked into it further and found this commit

[2017-05-10 22:28] pixelzoom commented on #564
Using `grep` on the production server, I identified these sims that contain the defect. These are all latest deployed versions.

balloons-and-static-electricity/1.2.0/balloons-and-static-electricity_en.html:PHET_HTML_HEADER
chains/1.2.1/chains_en.html:PHET_HTML_HEADER
circuit-construction-kit-dc/latest/circuit-construction-kit-dc_en.html:PHET_HTML_HEADER
example-sim/1.0.1/example-sim_en.html:PHET_

[2017-05-10 22:42] zepumph opened #575 "Update our publishing and QA processes to check the built HTML file."
From #564,

A large bug appeared a few months ago where the copyright statement for the sim stopped showing up, this could have been avoided if this was part of some QA process. Here is a possible list to add this to:

(courtesy of @samreid)
* QA team: dev or rc testing.
* Code Review: add it to the checklist.
* Bayes tests somehow
* Post-build check that runs during chipper build
* Keep our eyes

[2017-05-10 22:44] zepumph commented on #564
This problem runs deeper than I thought. Below is a list of all sims and versions (not just latest) with html files that have the "PHET_HTML_HEADER" in the published and public (except for phet-io) file instead of a copyright statement. Taggin @ariel-phet and @kathy-phet so that they are aware of the problem. Marking high priority. Luckily there is just a small commit to fix this, but then they ha

[2017-05-10 23:01] zepumph commented on #564
I'm confused about the origin of this issue. It seems like this bug was the issue, but I want to make sure. After fixing the template string, there are now licenses for phet and phet-io, unique to the brand. @samreid could  you explain the next steps if there are any. To me it seems to link up with the AboutDialog, but maybe I'm not understanding it fully.

[2017-05-10 23:18] samreid commented on #564
The copyright statements look good for both brands now, thanks!  It seems the only remaining step is deciding if/how to address versions on our site that are missing these statements.

[2017-05-11 17:42] samreid commented on #564
@ariel-phet said it would be nice to get the copyright statements into the HTMLs.  @zepumph said this can be done with a cherry-pick maintenance release (with a branch of chipper).

[2017-05-11 17:46] samreid commented on #564
@zepumph and @samreid got volunteered to look into this for the "PhET" brand sims.  @jonathanolson can provide support for the batch maintenance release process.  Perhaps after CCK?

On second thought, this could take a lot of time to patch and the about dialog already shows some of this information.  We decided to ask @kathy-phet if we can skip it altogether.

[2017-05-11 17:51] samreid commented on #575
@ariel-phet suggested adding a post-build step that checks for certain specific strings in the minified HTML to make sure things look OK.  This would run as part of normal chipper, so we would catch this during normal builds or in bayes.

[2017-05-11 17:55] zepumph commented on #575
@ariel-phet thinks we should create a few steps after build to check the built html file for some features. Mainly these are sanity checks:
 * copyright year is current (2017)
 * Third party copyrights present
 * License file for images/resources

[2017-05-11 18:02] samreid commented on #567
@ariel-phet suggests that after CCK is out, we can schedule a block of time with @samreid, @zepumph and @pixelzoom and @jonathanolson to iron this out.

@pixelzoom also pointed out that @kathy-phet wanted to confirm that current strategies work OK for a game before we ramp up.

@ariel-phet will also read through this issue and comment later on.

[2017-05-23 01:06] samreid opened #576 "Speed up pull-all.sh"
Every day, many PhET developers use the pull-all.sh script one or more times.

I tried running a 2nd pull with pull-all.sh using the timing command and I saw:

real	1m0.861s
user	0m9.081s
sys	0m6.828s

I also tried the multithreading strategy in this post: https://stackoverflow.com/questions/2425870/multithreading-in-bash

and saw
real	0m5.056s
user	0m13.579s
sys	0m12.041s

The messages are no lon

[2017-05-23 01:11] samreid commented on #576
Implemented above and working nicely as far as I can tell so far.  I'll test it out over the week and bring it up for developer meeting in case others want to test it out.

[2017-05-23 01:13] samreid commented on #576
One more caveat before I leave this issue, I haven't tested on Windows (or indeed any other machine than my primary development machine).

[2017-05-23 21:02] samreid opened #577 "Add a process for dev deploys"
Previously, I used to try to batch many changes into a single dev deploys.  That led to the question of when to make the next dev deployment.  For CCK, I'm trying a new strategy of deploying a new dev version for each issues that needs testing from the design or QA team.  This is working well from my perspective, but would be nicer if chipper supported this step a bit better.  I'd like to create a

[2017-05-23 21:05] samreid commented on #577
I committed a rough draft above and will try it out for next deploys.  If we decide to keep it, we can give it a more thorough review process.

[2017-05-24 19:59] jessegreenberg commented on #576
I just gave this a shot on my Windows 10 machine with Git Bash.  For a second run of pull-all.sh, I saw:

real    1m24.595s
user    0m0.196s
sys     0m1.150s

Running parallel-pull-all.sh I time:

 real    0m9.291s
user    0m0.271s
sys     0m0.980s

Works great on Windows 10 for me.

[2017-05-24 20:54] samreid commented on #576
Thanks for testing this @jessegreenberg, it has been working nicely for me as well.

@Denz1994 also just tried it and it crashed his terminal 💥

[2017-05-25 16:23] samreid commented on #577
It's been working nicely and I added another improvement, I'll share this with the team in case it can help others.

[2017-05-25 17:51] jonathanolson commented on #576
It should be possible to add something that reports on failures. For instance, in Yotta I kick off three concurrent processes, and handle sending failure emails customized to what failed:
[code]

[2017-05-25 18:08] jonathanolson commented on #576
My timing for a normal pull-all.sh:
[code]
and the error for parallel-pull-all.sh:
[code]

[2017-05-25 18:12] veillette commented on #576
There exists a package called git-pull-all on npm that allows concurrent pulling of many repos. Berea is using this to pull all repos.

[2017-05-25 18:15] samreid commented on #576
@veillette said a pull takes around 30 seconds with that tool.

[2017-05-25 18:16] Denz1994 commented on #576
Using git-pull-all seems to work on my machine. Slight lag on the terminal, but no crashes. Thanks for the suggestion.

[2017-05-25 18:17] veillette commented on #576
to install git-pull-all, you need to run in bash

[code]

Once you have it installed, run it from phetsims
[code]

[2017-05-25 18:18] jbphet commented on #576
I just installed and tried out `git-pull-all`, and it worked great for me.  Nice find @veillette!

[2017-05-25 18:18] samreid commented on #577
I informed the team about this task, it seems ready to use.  Should it be reviewed?

[2017-05-25 18:19] samreid commented on #577
@ariel-phet suggested that @pixelzoom could take a look when the time is right.

[2017-05-26 14:07] samreid commented on #576
Let's leave this open until @pixelzoom has a chance to take a look around.

[2017-05-27 21:17] samreid opened #578 "npm notice created a lockfile as package-lock.json. You should commit this file."
In npm 5.0.0, running `npm prune` in chipper gave this message:

[code]

Should we commit this file?  It seems so but let's learn more about it.

[2017-05-29 05:49] samreid commented on #578
Documentation is here:
https://github.com/npm/npm/blob/latest/doc/files/package-lock.json.md

And good discussion is here:
https://www.reddit.com/r/javascript/comments/6dgnnq/npm_v500_released_save_by_default_lockfile_better/

I guess the next step is to have a team discussion about a strategy for moving (some or all team members) to NPM 5.

[2017-06-01 18:30] samreid commented on #578
We discussed upgrading to latest node, which includes npm 5.0 on ox-dev, then we can test there.  @mattpen and @jbphet will work on it.

[2017-06-01 18:31] mattpen commented on #578
I'll upgrade npm/node on ox-dev and test build-server, @jbphet will test rosetta.

[2017-06-01 18:33] samreid commented on #578
@jonathanolson suggested making sure that all package-lock.jsons are identical across our repos.

[2017-06-01 19:43] mattpen commented on #578
@jbphet - node 8/npm 5 are installed on phet-server-dev now.  Incidentally rosetta is checked out on the `mobile-app` branch.

[2017-06-01 20:09] mattpen commented on #578
Currently builds are failing on ox-dev with this error:

[code]

[2017-06-02 04:16] samreid commented on #578
I don't think we can see the true error here.  Here is the context for the error:

[code]

It would be good if we could see what the `err` was.

[2017-06-02 04:23] mattpen commented on #578
The cause of the error was missing repos from active-repos.  Pulling master branch of chipper and running clone-missing-repos.sh fixed that problem.

However, builds are now failing due to grunt not being installed *locally*.  I've installed grunt and grunt-cli using the -g tags as sudo, but grunt commands do not work unless grunt was installed in a project using `npm install grunt`.  I don't seem

[2017-06-02 14:23] samreid commented on #578
According to https://gruntjs.com/getting-started

```npm install -g grunt-cli``` This will put the grunt command in your system path, allowing it to be run from any directory.

The npm 5.0 docs said we also have to clean out all of the node_modules directories.  I did this on my machine by rm -rf ing them

[2017-06-02 18:34] mattpen commented on #578
Thanks Sam.  For some reason, cleaning out the node_modules directories did it.  I used this one liner in the phet-repos directory:

`find . -name node_modules -exec rm -rf {} \;`

I had to commit package.json in chipper due to the new required trailing newline.  The build-server then ran successfully for an rc deploy, but failed during the cleanup tasks.  The error is below, but there isn't any d

[2017-06-02 18:35] samreid commented on #578
Perhaps the cleanup failed because the npm 5.0 process created a new file package-lock.json which is not committed, so the working copy couldn't be restored?  Should we try committing the package-lock.jsons and see if that fixes it?

[2017-06-02 18:52] mattpen commented on #578
A `deploy-production` for chains completed successfully with npm 5.0.

[2017-06-02 18:56] mattpen commented on #578
I don't think this is the problem because we haven't called `git add` yet, so it is effectively ignoring it for push and pull operations.  But it's possible and it probably wouldn't hurt.

[2017-06-02 19:00] mattpen commented on #578
An intermittent error I've been seeing is:

[code]

This seems to be temporarily fixed by calling `git stash; git checkout master` in chipper and restarting the build-server, but then pops up again on the second deploy.  I think we'll need to cherry-pick in the newline update to the package.json in chipper into the sha that chains is using to fix it permanently.

[2017-06-02 19:51] samreid commented on #578
@mattpen and I discovered that:

[code]

can be used to avoid having npm mess with whitespace at the end of package.jsons.  It looks like it also prevents creation of package-lock.json.

We learned about this here: https://github.com/npm/npm/issues/16823

[2017-06-02 20:07] mattpen commented on #578
It can also be avoided temporarily by adding `--save=false` to `npm install` and `npm prune` calls.

[2017-06-02 20:09] samreid commented on #578
We decided we would like @pixelzoom to weigh in before we start committing package-lock.json files or reformatted package.json files.  So for now, we should use npm 4 or npm 5 with --save=false (or config set save false) until we can take a closer look and discuss further.

There is little problem upgrading master to have fixed package.jsons and package-lock.jsons--the issue is how to deal with th

[2017-06-02 20:11] mattpen commented on #578
To be discussed at dev meeting on 6/15.

[2017-06-02 22:55] jbphet commented on #578
I tried testing rosetta, and ran into a few issues, see the commits shown above for details.  After making these changes, I was able to submit a test translation, but the build failed.  I can see the failure in the build server log, it looks like this:

[code]
This sounds like it may be related to the issues that @mattpen ran into.  All other testing so far has succeeded, but until we have a succe

[2017-06-03 02:37] samreid opened #579 "What does read-only really mean?"
I was documenting CCK when I came across the CircuitNode, which has this line of code

[code]

I annotated it as (read-only) because no other code is allowed to reassign the `highlightLayer` to be a different value.  However, other code does add children to the highlightLayer.

In a recent developer meeting @jonathanolson asked:

JO: What does (read-only) mean when documenting a Property? I assume

[2017-06-03 05:33] jonathanolson commented on #579
It's really a question of what works best for the team?

For me, the simplest thing is to drop the read-only doc for that. I'm not worried about documenting that it never changes, since it's rare that a value like that would be changed by an outside object. In my recent sims, I think the only time that happens is for simple data objects, and it's almost easier to mark those as "writable" than have

[2017-06-05 14:55] samreid commented on #579
I noticed in the MDN docs it makes the distinction between immutable vs constant: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/freeze

Immutable means that variables cannot be reassigned to other objects.  Constant means that objects cannot be made different.

I agree with this, perhaps it should be a more formal part of code style/review?

Do you think i

[2017-06-05 14:57] samreid commented on #579
Or if we go with the MDN nomenclature, we could assume all non-primitives are immutable and annotate them as constant or non-constant.  For primitives, they could be annotated as immutable or mutable and assumed to be constant.

I should point out that the MDN definition of immutable doesn't match the functional programming definition of immutable (nor my own understanding of the term).

[2017-06-05 17:36] pixelzoom opened #580 "problems with phetLibs"
This is a general issue, moved here from https://github.com/phetsims/function-builder/issues/112.  In that issue, @samreid observed that a sim will build and run if optional repositories are missing from "phetLibs" in package.json.

I investigated, and discovered that `buildConfig.phetLibs` is essential to `grunt lint`, `grunt public-README`, generating a correct dependencies.json, and possibly ot

[2017-06-05 17:47] pixelzoom commented on #578
I don't have time to do a deep dive into this discussion or the documentation.  Whatever the team decides is fine by me, as long as (a) it works with the build process, and (b) [sim-deployment.md](https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md) is updated to reflect any changes.

[2017-06-05 18:02] pixelzoom commented on #576
Two things:

(1) I don't want to have to `cd` to the proper directory to run `git-pull-all`.
(2) If `git-pull-all` fails, notify the user to run `npm install -g git-pull-all`

Both of these could be accomplished by modifying pull-all.sh to call `git-pull-all`, and (if not found) print "git-pull-all not found. Install by running: npm install -g git-pull-all".

[2017-06-05 18:12] pixelzoom commented on #576
I rewrote pull-all.sh to use git-pull-all, providing the features noted in https://github.com/phetsims/chipper/issues/576#issuecomment-306259433.

@samreid please review.

[2017-06-05 18:13] pixelzoom commented on #576
@jonathanolson please have a look too, since you were the author of pull-all.sh.  Does this provide the same functionality as 'git pull --rebase' ?

[2017-06-05 18:18] pixelzoom commented on #577
The current process was:

[code]

Questions about your new process:

(1) How is it different?
(2) Is the build tested before it's deployed?
(3) Why do you feel the need to create a dev version for every issue addressed?

[2017-06-05 19:45] samreid commented on #576
@pixelzoom have you tried using parallel-pull-all.sh?

[2017-06-05 19:48] samreid commented on #576
I'm not too excited about requiring a 3rd party node module to be installed in order to run pull-all.sh.  Will we need to update any of our documentation regarding pull-all.sh?  I'm planning to only use parallel-pull-all.sh for now.

[2017-06-05 19:50] pixelzoom commented on #576
Hmmm.... I thought there was consensus on git-pull-all, so went ahead and made the change.  To be honest, I had no problem with the way things were.    So feel free to revert, and handle this any way that you want.  My only 2 requests are documented in https://github.com/phetsims/chipper/issues/576#issuecomment-306259433.

[2017-06-05 19:51] jonathanolson commented on #576
git-pull-all looks like it just runs "git pull", so it will probably trigger "merge" mode if there are upstream changes on something.

[2017-06-05 19:59] samreid commented on #577
As documented in https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md

If you are working in master, would like to release a dev version by updating the dev number, and your working copy is clean then you can use grunt next-dev. This will run a trial build and if there are any lint or build errors the process will halt. If there are no lint or build errors, package.j

[2017-06-05 20:11] samreid commented on #576
I'm not planning to work on this further and not sure whether it is worth it to have pull-all.sh use this or not.  I'll open that for decision during next developer meeting.

[2017-06-05 20:20] pixelzoom commented on #577
Sorry.  But I'm getting a bit weary of having to read through every comment in issues to figure out (a) what I'm supposed to review, (b) what information in the comments is relevant, and (c) what information is missing.   But thanks for the clarification.

That said... I have no use for `grunt next-dev`, and I don't think it benefits PhET to have yet-another way to do thing (with code to maintain)

[2017-06-05 20:22] pixelzoom commented on #576
I've reverted pull-all.sh.  Apparently there is no consensus on what (if anything) needs to change.

[2017-06-05 20:31] samreid commented on #577
I fixed a few of the problem above, not sure how to check lastNumber.  This task has proved very useful for my workflow and I suspect it will be valuable to others as well.  @ariel-phet can you please assign a developer for further review?

[2017-06-05 21:52] pixelzoom opened #581 "'grunt deploy-rc' doesn't check whether version already exists"
'grunt deploy-rc' doesn't check whether version already exists.  And if the version does already exist (which is will if you forget to manually update package.json), then it will quite happily overwrite the existing version.  Which I just did with function-builder-basics 1.0.2.

[2017-06-05 21:53] pixelzoom commented on #581
Btw...  'grunt deploy-dev' checks to see whether the version already exists. Why doesn't 'grunt deploy-rc' do the same?

[2017-06-05 23:14] samreid commented on #577
@ariel-phet and I discussed this and thought it would be good to discuss at Developer Meeting.  It would be good to discuss pros and cons of `grunt next-dev`.  Should `next-dev` be the only way to create dev versions?  Will this automated process make it easier for developers to create dev versions?  Should we eliminate the "dev" instructions from sim_deployment.md and flesh out the `grunt next-de

[2017-06-08 00:19] zepumph opened #582 "Add a check to make sure brands can't cross deploy to production"
from https://github.com/phetsims/balloons-and-static-electricity/issues/272

@jessegreenberg filled me in on what happened in the above issue, and it seems like this has happened before, and for the most part may not cause much damage. What happens is from a phetio branch, you accidentally leave off the '--brand=phet-io' flag to a deploy, worst case a deploy-production. Although there are edge cas

[2017-06-08 01:03] jonathanolson commented on #577
So what would the procedure be for deploying a dev version off of a feature branch?

[2017-06-08 02:17] samreid commented on #577
`grunt next-dev` uses whatever branches are checked out, whether master or feature branches.  So I think it would work with the normal procedure:

Step 1: run `grunt next-dev`
Step 2: there is no step 2

[2017-06-08 02:20] samreid commented on #577
My main concern about the widespread use of this task is: if someone ran it right after a production deploy then it would do the wrong thing.  (e.g. taking 1.2.0 to 1.2.1) . Perhaps we should at least add a check that the version contains "-dev.".

[2017-06-08 03:13] jonathanolson commented on #577
Does this update the version in package.json on master AND all feature branches? Would I need to cherry-pick commits to other branches?

[2017-06-08 04:13] samreid commented on #577
This task only updates the version in the current branch.  It's not clear to me what you mean by feature branches.  When doing dev deploys are we supposed to increment the dev version number across multiple branches?  If so, why?

[2017-06-08 06:29] jonathanolson commented on #577
Say I have a sim-repo branch for an alternative version of something that is potentially likely to be ditched. I want to deploy a dev version so people can play/test with it.

How do I do that and then safely deploy dev versions from master later? (Usually I would bump master and the branch's package.json versions so I don't overwrite things).

[2017-06-08 16:20] pixelzoom commented on #582
Is this as simple as verifying that `brand=phet` when running the `deploy-production` task?

[2017-06-08 16:22] samreid commented on #577
Process for doing a feature branch dev deploy **without** `grunt next-dev` then updating the master version:

1. manually edit package.json
2. commit package.json with a manually written commit message
3. push changes to package.json
4. grunt
5. grunt deploy-dev
6. git checkout master
7. git cherry-pick VERSION_SHA or manually commit & push version change

Process **with** `grunt next-dev`

1. gru

[2017-06-08 16:31] jonathanolson commented on #577
Sounds to me like `grunt next-dev` would be helpful. Presumably `grunt next-rc` would also be helpful?

[2017-06-08 16:35] jonathanolson commented on #580
What about:

(3) `grunt generate-config` creates the config file based on package.json, and we have some grunt command that runs both THAT and `grunt generate-development-html` (which also has to change when other dependencies change).

[2017-06-08 16:36] jonathanolson commented on #581
Would this check on the client-side or build-server side?

[2017-06-08 18:03] ariel-phet commented on #576
Some people using parallel some people not. @pixelzoom recommends adding option instead of mostly duplicated code. @samreid will add option.

[2017-06-08 18:13] zepumph commented on #582
This could be similar to the issue #581, also marked for dev meeting today.

You can still deploy-production in phet-io mode. I think you would want to run this command:
`git rev-parse --abbrev-ref HEAD`

That spits out the string of the branch name, and make sure that it ends in '-phetio' if and only if `buildConfig.brand===phet-io`

This is still a very simple test.

[2017-06-08 18:14] samreid commented on #577
@jbphet recommends to rename it to `grunt deploy-next-dev` so it matches the other `deploy` prefixes.

[2017-06-08 18:17] pixelzoom commented on #576
Note to self:  Add parallel option to pull-all.sh (use `getopts`), delete parallel-pull-all.sh.

[2017-06-08 18:19] samreid commented on #577
Also a reminder to check that "-dev." is included in the version before proceeding.

[2017-06-08 18:29] samreid commented on #578
@jonathanolson suggests running a maintenance release process to add package-lock.json and updated package.json (added newline) to update all release branches.

[2017-06-08 18:32] jonathanolson commented on #578
Something like example-server should have the lock file committed on a release branch. Then deploy-dev, deploy-rc, deploy-production and trigger a translation build to ensure those all work (on ox-dev).

Also make sure that the lock file, once created, would NOT be updated by "npm prune" and "npm update".

[2017-06-08 18:32] samreid commented on #578
@ariel-phet recommended @jonathanolson and @mattpen to investigate further.

[2017-06-08 18:33] mattpen commented on #578
I'll investigate and make sure that npm prune/update will not *change* the lock file once it has been created.

[2017-06-08 18:37] pixelzoom commented on #576
I tried adding `pull-all.sh -p` for parallel, then discovered that running so many background processes hangs my Mac.  Same behavior for `parallel-pull-all.sh`.

So I'm punting on this. Here's where I was at with the script.  @samreid please feel free to pursue.

[code]

[2017-06-08 18:45] samreid commented on #580
Consensus: we like the recommendation from @jonathanolson and think it could take some 4 or so hours to implement.

[2017-06-08 18:47] jonathanolson commented on #580
generate-config would need to look at package.json's requirejsNamespace values for the prefixes.

[2017-06-08 18:48] samreid commented on #580
@ariel-phet says it hasn't caused a problem yet, so no need to implement it right away.  Perhaps after @jonathanolson time is freed up more after Pendulum Lab.

[2017-06-08 18:58] mattpen commented on #581
Client side should check for existing RC and production deploys.  I'll implement this.

[2017-06-08 19:27] zepumph commented on #582
From dev meeting. I will do this, and @mattpen can take a look to make sure all is well.