[2019-07-15 02:57] samreid commented on #768
That sounds good to me too.

[2019-07-15 16:33] jonathanolson commented on #764
I've removed the blocks-publication label, but I want to keep this issue open to be the "master" issue for handling the maintenance release.

[2019-07-15 18:19] zepumph commented on #763
@pixelzoom I realized after closing that  https://github.com/phetsims/perennial/issues/141 does not solve this problem, so I committed a fix in https://github.com/phetsims/chipper/commit/0792ef142f89471a151d6a1b197b6e4686662bea to the original problem of this issue.

The issue is the `generate-config` wants to run `updateCopyrightDate` on just the config file when the config file is being overwrit

[2019-07-15 21:18] pixelzoom commented on #763
Slack:

Chris Malley [3:16 PM]
Questions about https://github.com/phetsims/chipper/issues/763…
(1) If I run `grunt update` will it potentially modify copyright dates in files other than config.js?
(2) Are files with modified copyright dates committed and pushed?

Michael Kauzmann [3:16 PM]
1. no
2. no

Michael Kauzmann [3:17 PM]
even the `update-copyright-dates` grunt task doesn't commit and push

[2019-07-15 21:21] pixelzoom commented on #763
Tested as recommended in https://github.com/phetsims/chipper/issues/763#issuecomment-511513812.  I don't see any problem.  Thanks! Closing.

[2019-07-15 21:21] #763 closed

[2019-07-16 00:17] zepumph opened #776 "Questions about string plugin"
@jessegreenberg and I glanced at the string plugin in order to instruct how we proceed with https://github.com/phetsims/rosetta/issues/193. We ended up having a few questions about how it was implemented.

1. Why are "fallback" strings not using calling `chipper.mapString` to support `?stringTest`
2. `getWithCache` was calling `onload.error` even though `onload` isn't defined in that function. @je

[2019-07-16 14:57] samreid commented on #776
string.js should be changed to call mapString on the fallback, good catch!

Yes, thanks for the fix!

I don't know why requirejs is implemented this way.  The docs here at https://requirejs.org/docs/plugins.html don't explain much more than we already know.  I didn't look into the requirejs source to try to understand why it is done this way.

Yes, please simplify it as you prescribed.  I believe

[2019-07-16 20:03] zepumph commented on #776
That's excellent news @samreid. Thanks for the quick response. I made some updates, and converted to es6.

I tested in requirejs mode and built mode:
* `?locale=aa&stringTest=long` to note that the fallback strings are mapped now
* `?locale=de&stringTest=long` to see that nothing is problematic with another locale that has translation.
* `?locale=en&stringTest=long`
* and all three above without t

[2019-07-16 20:18] zepumph opened #777 "branch: a11ystring-plugin"
To support https://github.com/phetsims/rosetta/issues/193

[2019-07-18 16:45] jonathanolson commented on #768
It looks like the DOM-based methods aren't working in this situation either (including our built-in ones, and some online like https://stackoverflow.com/questions/10247132/how-can-i-get-the-height-of-the-baseline-of-a-certain-font)

[2019-07-18 17:05] jessegreenberg commented on #761
I don't use any auto formatting currently with Sublime. I explored a couple options a few years ago but in the end couldn't find ways to configure what was available at the time to produce identical formatting to IntelliJ.

[2019-07-18 17:10] pixelzoom commented on #761
How about adding a formatting task to the new `daily-grunt-work` task that @zepumph wrote?  There are likely to be many "formatting" commits related to code written by developers who are not using formatting in their IDE Editor.

[2019-07-18 17:55] jonathanolson commented on #768
The most reliable fallback was honestly just figuring out a formula for the anticipated bounds of PhetFont and basing things off of that. I've added that above, and it seems to be working acceptably (even if the sim is detecting 0,0s). Additionally, it will print a single warning (so we don't spam things).

@samreid can you review, and is that everything for this issue?

[2019-07-18 18:31] jonathanolson commented on #773
So I realized that Scenery won't need chipper-startup, so I believe we can ignore my previous comment!

It's possible to rewrite sim-development.html so that it calls loadURL on chipper-startup.js, however it's important to note that this CANNOT be a "preload" in general, because in the built form, it needs to be run AFTER the require.js script is executed, and would be more of a "postload".

[2019-07-18 18:31] jonathanolson opened #778 "branch: requirejsStartup"
For https://github.com/phetsims/chipper/issues/773.

[2019-07-18 18:32] jonathanolson commented on #773
The branch above has a commit that has the require.js startup mode also use chipper-startup.js. @samreid what are your thoughts on it? Commit is https://github.com/phetsims/chipper/commit/f30b263e5340659d30f565f7a4ce7b04106286bb

[2019-07-18 18:37] jonathanolson commented on #775
It would mean we'd need to modify our build process to include preloads into standalone builds (e.g. Scenery). Additionally, it means we'd need to go through EVERYWHERE that loads Scenery in require.js mode, and add the preload as an additional dependency. This seems like a lot of work for 10 lines (including the maintenance of having a preload just for sharing that much code). Further, it seems l

[2019-07-18 18:42] jonathanolson commented on #774
Fixed the above case. Is it worth finding all of the other cases where this is done proactively? Or can this be left as something in our code-review guidelines?

[2019-07-18 18:43] jonathanolson commented on #772
I'm not sure about the importance. Maybe it's a good subject for dev meeting?

[2019-07-18 18:44] jonathanolson commented on #771
It's not prohibitive, but I find the current approach cleaner and easier to maintain. What is an advantage to the other approach, as it would have more code and more moving parts?

[2019-07-18 18:53] jonathanolson commented on #770
I like that change. Implemented above, with an additional link to where the documentation for it lives.

[2019-07-18 18:55] jonathanolson commented on #769
Oops! In https://github.com/phetsims/chipper/issues/773 and the requirejsStartup branch, I noted an approach where the similar approach can be done during require.js mode. Does that look good?

I don't see a big advantage to it, so I'm pretty impartial. Otherwise I'm happy to document that it's a build-only thing.

[2019-07-18 19:25] arnabp commented on #734
@samreid We came to an agreement that moving no-trailing-spaces was good, but we wanted to avoid pushing line limit to main eslint and having special cases of long lines (such as github links) breaking lint.

[2019-07-18 19:28] pixelzoom commented on #734
Complete list of what needs to be done:
- [ ] move only the 'no-trailing-spaces' to sim_es6_eslintrc.js
- [ ] delete sim_es6_eslintrc_review.js
- [ ] remove item related to sim_es6_eslintrc_review.js from the code-review checklist

[2019-07-19 16:02] samreid commented on #761
It would be nice to have an automated formatting task.  What is `daily-grunt-work`?  I haven't heard of it before and can't find any references to it.

[2019-07-19 16:13] samreid commented on #734
We also need to decide what to do with the 521 lint errors introduced when this rule is turned on.  Perhaps we will go with `'no-trailing-spaces': [ 2, { skipBlankLines: true, ignoreComments: true } ]` which has 86 errors.

[2019-07-19 23:13] pixelzoom commented on #761
`perennial/bin/daily-grunt-work.sh`, mentioned in @zepumph's status report yesterday.

[2019-07-22 18:42] samreid commented on #734
My personal preference is to strip whitespace on blank lines, but I don't want to mess up cursor navigation for anyone.  Perhaps we should touch base on this before proceeding?

[2019-07-22 19:28] samreid commented on #768
That seems nice, can you please document how you arrived at the heuristics in `getNumericSize` and something about platforms (what platform(s) they were deduced from or tested on)?

[2019-07-22 21:47] zepumph opened #779 "Need to support dangling spaces for a11y strings"
From a11y string conversion in https://github.com/phetsims/rosetta/issues/193.

We have some strings that purposefully end/begin in spaces. Currently this feature is only on a branch, but there should be an issue devoted towards fixing this. Right now the string plugin will trim the strings for us.

[2019-07-22 21:51] zepumph commented on #779
The first thought I have here is perhaps we should make these purposeful spaces a special char, maybe a unicode space that `trim` doesn't strip out.

[2019-07-22 22:36] zepumph opened #780 "support reportUnusedStrings for nested a11y strings"
From https://github.com/phetsims/rosetta/issues/193. This is an important piece of the build process, and we should get it working with the new nested strings under the `a11y` key. Promoting todo.

[2019-07-23 01:20] zepumph commented on #780
This has been implemented, and should be reviewed as part of https://github.com/phetsims/rosetta/issues/193

[2019-07-23 01:24] zepumph opened #781 "Support comments in string files"
This was brought up in https://github.com/phetsims/rosetta/issues/193, but lost a bit of steam. From an a11y point of view, I think that this isn't so much of a necessity now that we have support for nesting strings. Still I'm going to create an issue to track it.

[2019-07-24 16:21] lmulhall-phet commented on #520
Can this issue be closed? I'm fairly certain the QA Book now has documentation for private query parameters. (QA Book links to a markdown document in a private repo.)

[2019-07-24 16:23] lmulhall-phet commented on #520
https://github.com/phetsims/QA/blob/master/doc/qa-book.md#private-query-parameters

[2019-07-25 18:36] samreid commented on #734
At today's meeting, we agreed to strip all whitespace in comments and blank lines.  I'll address this.

[2019-07-25 18:36] samreid commented on #734
@jonathanolson reported here's a way to strip whitespace on empty lines on save in sublime:

[2019-07-25 18:48] jonathanolson opened #782 "Investigate including core-js/babel-polyfill for use in simulations"
This would give us Map and potentially other useful things. Previous discussion is at https://github.com/phetsims/chipper/issues/551#issuecomment-404566209

[2019-07-25 18:51] pixelzoom commented on #772
This sounds like a job for assertions, not comments. If a piece of code requires that other things have been preloaded (dependencies), then there should be assertions that check for the existence of those dependencies.

[2019-07-25 18:57] samreid commented on #761
Some things to investigate:
https://www.jetbrains.com/help/idea/command-line-formatter.html
https://github.com/beautify-web/js-beautify

[2019-07-25 18:57] jessegreenberg commented on #761
From 7/25/19 -

@samreid mentioned that he found jetbrains lets you format from the command line, maybe we can use this: https://www.jetbrains.com/help/idea/command-line-formatter.html. But it means people need to install jebrains products to do formatting.

@jessegreenberg will look into options and will report back in a week or two.

[2019-07-25 19:22] jonathanolson commented on #772
Keeping self-assigned, I'll add assertions to preloads/scripts to ensure things are loaded in the right order (for dependencies), with documentation.

[2019-07-25 19:30] samreid commented on #774
Using this regular expression, I spotted around 29 things that could be changed: `\.setAttribute\( \'.*\', [0-9]` . Many sim occurrences are setting the value to 0, so that wouldn't be a concern for units.  Many developers either had no preference or recommended to change.

[2019-07-26 20:17] jessegreenberg commented on #761
@samreid pointed out https://unibeautify.com/docs/about, which is a single spot to run potentially many beautifiers. For instance, it you could use js-beautify for javascript code and Autopep8 to format python code all through single experience using unibeautify.

[2019-07-26 20:49] jessegreenberg commented on #761
I tried out js-beautify, it works pretty well. Testing on a joist/js/ProjectorModeCheckbox with the following config:
<details>

[code]
</details>

produces no changes to the file. I tried messing up the formatting and running js-beautify and it restored the file to what it is now in master.

There are a few things that will not be supported by js-beautify, namely these settings from phet-idea-cod

[2019-07-26 23:53] samreid commented on #761
I found that `"break_chained_methods": false,` matches with our style (less changes) better than `true`

[2019-07-27 02:20] samreid commented on #773
The change set looks great and works nicely, but I noticed around a 120ms delay in the startup time using this patch.  This is a short amount of time, but it's longer than I expected.  I still think we should proceed with this, but was surprised by the 120ms and wanted to run it past you.

[2019-07-27 02:22] samreid commented on #775
At yesterday's dev meeting, we discussed patterns for identifying and referencing code duplicates or code that should be maintained together.  @jonathanolson can you please apply that pattern to this work as you see fit?

[2019-07-27 02:24] samreid commented on #770
Excellent, thanks!  Closing.

[2019-07-27 02:24] #770 closed

[2019-07-27 02:25] samreid commented on #771
Leaving self-assigned to implement the fine-grained pattern for comparison.  Not sure when I'll get to this, so let me know if timing becomes an issue.

[2019-07-27 02:25] samreid commented on #769
https://github.com/phetsims/chipper/issues/773 looks great and I recommend closing this issue.

[2019-07-27 02:25] #769 closed

[2019-07-28 21:10] #520 closed

[2019-07-29 22:03] zepumph commented on #745
`data/no-lint` no longer exists. Closing

[2019-07-29 22:03] #745 closed

[2019-07-30 21:56] jessegreenberg commented on #761
I don't see a way to format recursively from their CLI, here are the options: https://github.com/beautify-web/js-beautify#options.

Over Slack @samreid also explored IDEA/format.sh and said

[2019-07-30 22:09] samreid commented on #761
It seems later version of js-beautify support glob patterns.

[2019-07-30 22:21] jessegreenberg commented on #761
Thanks, I wasn't familiar with what that was, I understand now. https://en.wikipedia.org/wiki/Glob_(programming)

[2019-08-01 16:43] jonathanolson opened #783 "Generating dependencies.json"
It's always been somewhat of a headache to generate dependencies.json (it's always required a full npm prune/update in sim/chipper, a full build, and copying the file from the build directory), but this has gotten more problematic now that we've added more things to chipper's npm dependencies (e.g. puppeteer). It's now taking a much longer time to handle the npm changes, and there seems to be a ce

[2019-08-01 17:22] pixelzoom commented on #783
I've found the `branch` field in dependencies.json to be confusing, it seems to change for reasons that I don't understand.  So if it's not used, +1 to delete it.

I'm not familiar enough with the maintenance process to have opinions on the reset of this proposal.

[2019-08-01 17:27] pixelzoom commented on #783
8/1/19 dev meeting: @jonathanolson has a reasonable vision for this, no objections, proceed.

[2019-08-05 20:42] zepumph opened #784 "Use webstorm Require.js Plugin?"
I was curious what this got for us, so I decided to do a bit of investigation. The plugin is very cool in that it supports "go to declaration" via require statements. That was the main goal of this exploration. Here is what I did.

* Download "Require.js Plugin"
* Enabled it
* Go to Settings -> Other Settings -> Require.js Plugin Settings
* Give it a root and path to config, here is what I did:

[2019-08-05 21:18] samreid opened #785 "Sim specific PhET-iO wrappers not being copied during build"
Discovered in https://github.com/phetsims/phet-io-wrapper-sonification/issues/84.  It seems the ability to build a sim-specific PhET-iO wrapper was dropped, probably circa https://github.com/phetsims/chipper/commit/34923a2672f09d714b9ac142aa5ecec289a06e49 (part of https://github.com/phetsims/chipper/issues/680) or thereabouts.

[2019-08-05 22:26] samreid commented on #785
Proposed fixes pushed, it seemed straightforward. @zepumph can you please review?

[2019-08-05 22:59] KatieWoe commented on #785
CT seems to be showing errors.  @zepumph mentioned it may be related to this issue.

[2019-08-06 00:36] zepumph commented on #785
The changes look good. Thanks @samreid. Review from here:

* >  `const simSpecificWrappers = packageObject.phet && packageObject.phet[ 'phet-io' ] && packageObject.phet[ 'phet-io' ].wrappers ? packageObject.phet[ 'phet-io' ].wrappers : [];`

  Instead you could use `_.at(packageObject, "phet['phet-io'].wrappers")` which will return `[undefined]` if it doesn't exist. Just a thought, no strong prefe

[2019-08-06 21:47] zepumph commented on #619
@samreid and I ran into this in regards to https://github.com/phetsims/chipper/issues/779 and (more generally https://github.com/phetsims/rosetta/issues/193). I think it would be good to work on this as part of that work. Assigning to myself for some investigation so I don't forget.

[2019-08-06 21:49] zepumph commented on #779
It would be good to note https://github.com/phetsims/chipper/issues/619 in this discussion, since that issue is why `trim` calls were added.

@samreid and I discussed and we expect that this constraint will be easy enough to get around by rethinking the template strings. After reading in https://github.com/phetsims/chipper/issues/619 I think it is not worth trying to support this. Over in https://

[2019-08-06 21:49] zepumph commented on #619
+1 for an assertion for english strings!

[2019-08-06 21:49] #779 closed

[2019-08-06 21:57] zepumph commented on #781
@samreid and I discussed this, and we think that comments just work out of the box right now. The important piece of understanding here is that any object key that isn't used in a string key specifically required from the sim is just ignored. It is ignored because the string plugin on building populates the list of used string for the sim as a master list. see string.js `global.phet.chipper.string

[2019-08-06 22:22] zepumph opened #786 "Strings in requirejs and build process should support nested objects"
From https://github.com/phetsims/rosetta/issues/193 and mentioned by @pixelzoom at the end of  https://github.com/phetsims/chipper/issues/619#issuecomment-343299218. It seems important to consolidate translatable string logic into the same file. @samreid and I brainstormed and tried to understand the scope of duplicated string logic (rosetta/TranslationUtil, chipper/getStringMap, chipper/string.js

[2019-08-07 02:02] samreid commented on #781
We may one day want to leverage comments or something like it in the rosetta UI.

[2019-08-07 13:45] samreid commented on #785
I considered

[code]

I prefer the former because searches for `phet[ 'phet-io' ]` won't be missed.  However, I realized that we would need to guard on `undefined` to prevent processing that.  Maybe simpler to improve formatting of the prior strategy?

[2019-08-07 13:48] samreid commented on #785
Also, I reviewed the changes that moved classroom activity, lab book and arithmetic wrappers out.  Tested building and running arithmetic's wrapper.  Looks great, closing.

[2019-08-07 13:48] #785 closed

[2019-08-07 17:49] zepumph commented on #785
No need to reopen if you still like your way more, I just wanted to post what the difference would be. I think I prefer the latter, but likely only because `_.at` is new and fancy to me.

[code]

[2019-08-08 16:26] samreid commented on #785
It's a good use of `_.at` and much more concise, but my concern is that it impedes text-searchability of the term `phet[ 'phet-io' ]`.

[2019-08-08 18:16] pixelzoom commented on #784
For anyone interested, the plugin page is https://plugins.jetbrains.com/plugin/7337-require-js-plugin.

I'm not clear on how this works.  @zepumph what does 'supports "go to declaration" via require statements' mean?

[2019-08-08 19:28] pixelzoom commented on #784
Not valuable for me. Shift-Command-N works reliably for me.

[2019-08-08 19:34] zepumph commented on #784
I gave a demo in developer meeting today. The main issues seem to be around the plugin support. We (@samreid) talked a bit about investigate our own cross platform logic, like a grunt task that given a require url, it tells you what file and what line it is in. Then we could add that to sublime/webstorm in a thin layer to get the ide to go to that file/line.

We ended up discussing that if we are

[2019-08-08 19:34] #784 closed

[2019-08-09 22:01] samreid commented on #786
We have the different formats to support:

Structured form in requirejs, written by developers
[code]

Flat version in babel, written by rosetta

[code]

Flat version in the built sim, written by chipper:
[code]

It seems the latter version combines fallback strings (country => language => english) into the compiled result?

Should we unify these by making the `window.phet.chipper.strings` more li

[2019-08-09 22:07] samreid commented on #786
TranslationUtils.extractStrings is difficult for me to understand, looks like it is hardcoded to use a specific search path, using heuristics like:

[code]
If we change the structure of the string representation in the sim file, we would need to add branching logic here to support both styles.

[2019-08-09 22:11] zepumph commented on #786
It could be nice to set a course for complete consolidation, and then keep an open mind about where to back track to optimize a cost benefit analysis. I also think that this has too much overlap with Rosetta to not loop in @jbphet for comment. I feel like it is quite likely that we will not want to change all the babel files.

On other side to look into is if there is any website code that relies

[2019-08-09 22:18] samreid commented on #786
It seems there are two parts of important logic to factor out.

1. Looking up the correct locale-specific fallback string (only needs to happen during the build)
2. Looking up the string at the correct position in the structure (only happens in requirejs mode--flat structure used everywhere else).

Now that I understand the system better, I'm not convinced that changing format will be a significan

[2019-08-09 23:12] zepumph commented on #786
I think that sounds really good. Maybe we just need two mappings. And can
separate all of the built sim/Rosetta logic to use the flat list Rosetta
and babel already do this, and then have requirejs set up to use either. If
en, support nested, if grabbing a specific locale then use a flat list. In
that way requirejs en is the only case that supports nested objects, and it
is more like an edge case

[2019-08-12 15:15] samreid opened #787 "In debug mode, commented out script tags are still being run"
Steps to reproduce:
1. Build Energy Skate Park
2. Run the debug version, like http://localhost/energy-skate-park/build/phet/energy-skate-park_all_phet_debug.html

Observe an error like so:

![image](https://user-images.githubusercontent.com/679486/62876155-8960d980-bce1-11e9-8a71-c1835d496574.png)

seedrandom is putting this code in the HTML:

[code]
And somehow those scripts are running.  The bit

[2019-08-12 15:20] mattpen commented on #786
Nothing on the website directly access babel strings.  The titles are transferred from babel to the website database as part of the build process.  The file that might need to change is `perennial/js/build-server/createTranslationsXML.js`.

[2019-08-12 15:24] jessegreenberg commented on #787
Here is the script that is being loaded, can see it is no longer commented out in the source. Text coloring makes it look like it is respecting the closing script tag on line 34465.
![image](https://user-images.githubusercontent.com/6396244/62876737-a2728600-bcf3-11e9-9f8d-a45895f170fd.png)

[2019-08-12 15:45] SaurabhTotey commented on #787
Is that a JS file or an HTML file? May it be that HTML comments use `` instead of `//`?

[2019-08-12 15:50] samreid commented on #787
Here's a simplified HTML example:

[code]

![image](https://user-images.githubusercontent.com/679486/62878569-90d6b180-bce6-11e9-9155-81ea7febba38.png)

[2019-08-12 15:54] samreid commented on #787
This problem seems to be noted in the top answer in https://stackoverflow.com/questions/28259389/how-to-put-script-in-a-javascript-string

[2019-08-12 15:59] jessegreenberg commented on #787
Nice, replacing `</script>` with `<\/script>` as recommended in that issue makes the problem go away.

[2019-08-12 16:14] jessegreenberg commented on #787
So we could escape for these lines manually. But is there a way that the build could insert escapes if we find a closing tag within a javascript comment?

[2019-08-12 16:28] jonathanolson commented on #787
The minification process does escape these, we provide `inline_script: true` to uglify's output options. Maybe we could consider minification for debug builds (but with beautified output and without stripping assertions or mangling)?

[2019-08-15 04:56] samreid commented on #755
During my review, I confirmed the following desirable changes:

* When specifying ?cacheBust, the preloads and requirejs modules get a ?bust=N parameter
* When not specifying ?cacheBust, neither the preloads nor requirejs modules get ?bust=N
* All of the aqua tests correctly have ?cacheBust in the URL

I noticed that the requirejs regex can have false positives.  For instance, the regex `/(^|\?|&)

[2019-08-15 16:00] jonathanolson commented on #772
Added above, closing.

[2019-08-15 16:00] #772 closed

[2019-08-15 16:02] samreid commented on #755
Two more thoughts:

* Every now and then someone reports a problem on phettest.colorado.edu which amounts to stale files.  Should we default phettest.colorado.edu links to use `?cacheBust`?
* The documentation at https://requirejs.org/docs/api.html says

@zepumph what do you think about the former, and why do you think there is such a note about the latter?

[2019-08-22 17:14] zepumph commented on #594
@Matthew-phet and @jonathanolson, over in https://github.com/phetsims/perennial/issues/141 I made a daily script that reruns the third party credit generations. I also then removed this step from production deploys. Back over to you two for whatever is left for this.

[2019-08-23 01:13] zepumph commented on #755
Agreed and sounds good.

I completely removed urlArgs from friction's config. I then had to go through usages of `config.urlArgs` in a few plugins and removed those usages. Then I looked at the network tab and didn't see the `?`.

![image](https://user-images.githubusercontent.com/6856943/63559859-269ce880-c500-11e9-9655-6ee3b5a9a866.png)

That is a great idea! All that needs to be done now is to

[2019-08-23 14:39] KatieWoe commented on #755
Not sure.  I refreshed perennial, but don't think that's really enough.  Should we discuss it on Slack?

[2019-08-23 16:42] zepumph commented on #755
@zepumph and @chrisklus were able to log into phettest, and copy the new and updated `index.html` page from `phetmarks/phettest/index.html` into the spot it lives on phettest (at the root with all other phet repos: `~/phet/index.html`). @KatieWoe we should now have cache busting on the phettest links, as well as, by default, links from phetmarks when on phettest.  @samreid anything else for this i

[2019-08-23 18:11] jonathanolson commented on #594
@mattpen I don't see anything else to do here?

[2019-08-24 03:16] mattpen commented on #594
Agreed, I think this can be closed.

[2019-08-24 03:16] #594 closed

[2019-08-24 03:58] samreid commented on #755
I tested phettest and it correctly appends `?cacheBust`, thanks!  I can't think of anything else for this issue, closing.

[2019-08-24 03:58] #755 closed

[2019-09-06 15:28] chrisklus opened #788 "Security warning when deploying RC"
Noticed while deploying an RC with @samreid , with extra output included for context. See the `WARNING` on the second to last line:

[code]

It looks like this warning is referring to line 31 of reportThirdParty.js:

[code]

@mattpen is this a concern?

[2019-09-06 15:38] chrisklus opened #789 "Dependencies not committed when deploying RC"
[code]

When I checked out my working copy after this error message, dependencies.json looked correct, but all of its content was an uncommitted addition. With a clean working copy on branch 1.2, the file was blank.

@samreid took a look at it with me, and we copied dependencies.json from the build directory, committed it, and then tried the RC again and it worked.

@jonathanolson or @mattpen have

[2019-09-06 17:45] jonathanolson commented on #789
I haven't. Is there any way it's possible to reproduce?

[2019-09-06 18:07] mattpen commented on #789
I haven't seen this either

[2019-09-06 21:49] chrisklus commented on #789
@jonathanolson hard to know without creating another RC haha, but this has never happened to me before so I kind of doubt it. I'm not sure how to proceed besides deferring and seeing if it ever comes up again. What do you think?

[2019-09-07 01:35] jonathanolson commented on #789
Sounds good to me.

[2019-09-09 14:30] samreid commented on #787
Tagging for developer meeting to decide how to proceed.

[2019-09-09 17:21] samreid commented on #753
It looks like `findDuplicates` is the only place where this problem is occurring.  I addressed that in the commit, closing.

[2019-09-09 17:21] #753 closed

[2019-09-10 02:53] mattpen commented on #788
I think this may have been a workaround to use with ox-dev when a certificate was not working.  In this context I don't think it will cause a problem, but there is a danger for exploitation.  It's basically saying to ignore any problems with SSL certificates.  I tested reportThirdParty.js with the line commented out and it worked as expected.  I'm not sure where/how this is running in a production

[2019-09-10 14:36] samreid commented on #724
Developing and testing each changed command line flag should take 2-3 hours.  I haven't made time for it yet and it's not on my radar for the immediate future.  @ariel-phet would you like to assign this to another developer, or keep it assigned to me (at same or elevated priority)?

[2019-09-10 14:45] samreid commented on #732
Here's a stack overflow page that may help:
https://stackoverflow.com/questions/150033/regular-expression-to-match-non-ascii-characters

@ariel-phet can this be completed by another developer?

[2019-09-10 16:11] ariel-phet commented on #724
Marking for dev meeting for a brief discussion of if this change would be good to make soon (and if someone else is willing to hop on making it)

[2019-09-10 22:53] zepumph commented on #786
I worked on this more today in the a11ystring-plugin branch today. Basically this was just cleaning up the implementation that was already there. I didn't take any larger steps that were outlined in the beginning of this issue.

@samreid I totally agree with this. The commits above simplify and clean up the general way that we are accessing strings from a map, but most of the algorithm stayed. I l

[2019-09-11 02:01] ariel-phet commented on #732
Going to look for a volunteer/voluntold at dev meeting

[2019-09-12 22:20] zepumph opened #790 "Should `=> { return` be bad text?"
IMO one lined arrow functions that return something should not use the curly braces and `return` keyword, because it is simpler to just have `arg => arg === 3` instead of  `arg => { return arg === 3; }`.

If it is a more complex arrow function, then perhaps it can be on more than one line, and then include those pieces. There are currently 33 usages of ` => { return `.

Marking for developer meeti

[2019-09-19 05:23] samreid commented on #790
All of the existing 33 cases should be converted, they will be more readable without the `{return ;}`.  I also think the lint rule would be a good idea, thanks!

[2019-09-19 18:12] Denz1994 commented on #724
Discussed at dev meeting: 09/19/19

@Denz1994 will continue to work on this. Let's try to get this done within the next month. Ping @samreid for assistance if needed.

[2019-09-19 18:12] jonathanolson commented on #790
I could imagine having a filter arrow function where it's one expression to return BUT really needs to take up multiple lines. I find the braces to be helpful for multi-line arrow functions, but I would prefer the one-liners (brace, space, `return`) to be converted.

[2019-09-19 18:12] pixelzoom commented on #790
Should `arg =>` also be preferred over `( arg ) =>` ?

[2019-09-19 18:15] pixelzoom opened #791 "report line numbers in custom lints rules"
@zepumph said in https://github.com/phetsims/chipper/issues/732#issuecomment-530917802:

First step is probably to make a list of which lint rules have this problem.

[2019-09-19 18:22] Denz1994 commented on #732
Discussed at dev meeting: 09/19/19

Devs don't mind a new rule to handle this. Let’s make the lint rule, but if it takes too much effort we can bail. @jessegreenberg would take care of making this rule.

[2019-09-19 18:22] jessegreenberg commented on #791
@jessegreenberg is going to take a look at this as part of #732.

[2019-09-19 18:47] Denz1994 commented on #787
Discussed at dev meeting: 09/19/19

We will proceed with this  [comment](https://github.com/phetsims/chipper/issues/787#issuecomment-520496872) here will handle escaping, but would get rid of line comments.

If debug builds are used just for assertions then having comments may be helpful. We can use stack trace to find rack relevant code to the assertion or search for code snippet globally in code

[2019-09-19 19:26] samreid commented on #790
Here's an eslint rule that may help us:
https://eslint.org/docs/rules/arrow-parens

[2019-09-19 19:29] pixelzoom commented on #790
@jonathanolson said:

Something like this:

[code]

can be written without curly braces as:

[code]

[2019-09-19 19:32] zepumph commented on #790
From this issue will investigate two lint rules:

- [ ] `arrow-parens` with the "as-needed" option looked just like what we want, where it will error our for single args that include parens.
- [ ] https://eslint.org/docs/rules/arrow-body-style will likely help us with one liner returns.

[2019-09-19 22:10] zepumph commented on #790
There were ~160 issues with `arrow-parens "as-needed"`.  The fixes are above, lint rule commit coming in shortly.

I looked into using `arrow-body-style` "as-needed" but it trying to convert too many arrow functions into complicated one-liners that were 160+ chars long (about 150 of them). So instead I just manually added the namesake of this issue as bad text. There were 30 usages of that.

The r

[2019-09-19 22:10] #790 closed

[2019-09-19 22:34] zepumph commented on #732
@jessegreenberg please note that a new lint rule is not needed here. `getBadTextTester` supports regexp, see the commented out usage in `bad-sim-text.js`. This was added in https://github.com/phetsims/chipper/issues/728, and will have a usage after I sort out https://github.com/phetsims/chipper/issues/737.

[2019-09-19 23:00] zepumph commented on #737
Looking at https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp, it looks like it is supported in node 8.10. Since this is just for eslint, and not in sim code, I wonder if I could convince everyone on the team to update to at least that version. Marking for dev meeting to see what public opinion is.

[2019-09-19 23:02] zepumph commented on #737
To be clear. The regex I wrote in bad-sim-text has always worked for me, as I use Node 10, but it won't work if you have a lower version than Node 8.10. Would people be willing to update their node? Presumably this would mean servers too, so I'm unsure this is worth it.

[2019-09-19 23:55] zepumph commented on #737
@jessegreenberg back in https://github.com/phetsims/chipper/issues/728#issuecomment-455572817 you reported a comment where this lint rule didn't work for you. Privately I just asked you what your node version was, and you said 8.11. I think that would be a great test to see if it now works in lint. Before discussing with devs, would you please uncomment the lint rule in `bad-sim-text` and see if l

[2019-09-20 21:01] jessegreenberg commented on #737
I uncommented the rule and it appears to be working well. It is reporting 16 files using native toFixed instead of DOT/Util.

[2019-09-20 22:07] zepumph commented on #737
Thanks!

[2019-09-20 23:16] jessegreenberg commented on #791
This is an issue for rules that search for issues through the whole text the context `SourceCode`. Looking through rules, it looks like `getBadTextTester` is the only rule implementation that does this.

One way to fix this is to check for bad text on all Tokens of the `SourceCode`. This would include everything but be really inefficient. . Another option would be to check for bad text on all Espr

[2019-09-20 23:38] zepumph commented on #791
If performance is a concern, we could do the same checking as we do now to find a problem, and then dive in only in bad files to determine the right LOC.

[2019-09-20 23:47] jessegreenberg commented on #791
I ran `grunt lint-everything --disable-eslint-cache` before and after https://github.com/phetsims/chipper/commit/ff56fb0959753e59683d29411d8d132596cc8f4c and timed it.

On my machine the test took 1 minute 11 seconds with token method and 1 minute with the string regex method. 10 seconds is not a problem for me, though others may disagree. It probably won't be noticeable when running `grunt lint`

[2019-09-23 13:02] samreid commented on #791
I addressed the issues with Math.round in the preceding commit.

[2019-09-23 15:44] samreid opened #792 "Error: Cannot find module '../lib/utils/unsupported.js'"
I saw this error this morning, I attempted reinstalling node as directed in https://stackoverflow.com/questions/49684857/after-npm-install-getting-error-cannot-find-module-lib-utils-unsupported/53362824 did not resolve the problem.

[2019-09-23 15:49] samreid commented on #792
Deleting contents of /usr/local/lib/node_modules/ then reinstalling node via brew seems to have worked.

[2019-09-23 15:49] #792 closed

[2019-09-23 16:32] zepumph opened #793 "/js/templates should be prefixed with `.template`"
While poking around this folder with @samreid, we felt like js template in this file shouldn't be named as actual `.js` files. This will avoid WebStorm miss highlighting, and increase clarity.

[2019-09-23 19:05] samreid opened #794 "Should we forbid multiple assignments in one statement?"
@zepumph and @samreid were tricked by this multi-assignment in chipper (it was cleverly hidden amongst thousands of single-assignment lines):

[code]

and it crossed our minds that maybe we should prevent multi-assignment using eslint.  We tried adding the lint rule `'no-multi-assign':2,` and found 324 lint errors, in repos such as scenery, hookes-law, density-buoyancy-common, trig-tour and many o

[2019-09-23 19:05] zepumph commented on #794
The lint rule looks really cool! https://eslint.org/docs/rules/no-multi-assign

[2019-09-23 20:10] zepumph opened #795 "Delete *.A11yStrings.js files"
Once https://github.com/phetsims/rosetta/issues/193 is wrapped up. We should delete all a11y strings files. I currently see 19.

- [x] area-model-common (https://github.com/phetsims/area-model-common/issues/191)
- [x] balloons-and-static-electricity (https://github.com/phetsims/balloons-and-static-electricity/issues/463)
- [x] color-vision (https://github.com/phetsims/color-vision/issues/133)
- [x

[2019-09-23 20:35] samreid commented on #780
@zepumph and I reviewed this together and agreed it looks good, thanks!   Closing.

[2019-09-23 20:35] #780 closed

[2019-09-23 21:18] zepumph opened #796 "Can `phet.chipper.stings.get` and `string!getStringFromFileContents` be simplified?"
From work with @samreid over in https://github.com/phetsims/chipper/issues/786, I wonder if these two functions can be combined somehow. These two functions do similar things, but one for requirejs and the other for built mode. I'm especially looking at how both call mapString. Perhaps this could be simplified into a function in ChipperStringUtils.js or something.

[2019-09-23 21:24] zepumph commented on #777
This should be merged to master as soon as https://github.com/phetsims/rosetta/issues/193 is complete. Marking on-hold and assigning to myself.

[2019-09-23 21:26] zepumph commented on #777
- [ ] When this is merged to master, then friction should be too, see https://github.com/phetsims/friction/issues/178

[2019-09-23 21:31] zepumph commented on #786
@samreid and I co-reviewed and worked on this today. I think that this issue should be renamed since we aren't going to create a `TranslatableStringUtil` anymore.

We checked off boxes in the first issue as we went.

No rosetta code should need be touched because the output to the sim is still the same flat map (same output from `CHIPPER/getStringMap`). See https://github.com/phetsims/rosetta/issu

[2019-09-23 21:31] #786 closed

[2019-09-23 22:32] zepumph opened #797 "string plugin `getWithCache` doesn't really cache that much"
While working on https://github.com/phetsims/rosetta/issues/193, I found that almost every string being required from the sim was triggering a loading of the string file. I think this is because all the require loads occur before the text plugin has async come back with the JSON.

A good way to test this problem is to put `console.log('url')` in the text.get() callback.

[2019-09-23 22:34] zepumph commented on #797
Above I added a way to cache the intermediary state before the first loading of a string file. I'm pretty happy with this change. It is simple, and is a definite improvement in my book. @samreid can you please review.

[2019-09-24 14:50] samreid commented on #797
This looks great and looks like it cures the symptoms described in https://github.com/phetsims/chipper/issues/730.

Some questions and comments:

* `{Object.<url:string, Array.<function>}` is missing a `>`
* Why does `action => action && action() ` check `action &&`?
* In `action => action && action() ` it seems better to pass through parsed directly like `action => action && action(parsed)`, inst

[2019-09-24 17:19] zepumph commented on #797
Thanks! I really like the suggestions. How's that?

[2019-09-24 17:21] samreid commented on #797
Looks great, thanks!  I'm ready to close if you are.

[2019-09-24 17:38] #797 closed

[2019-09-25 23:16] pixelzoom commented on #737
@zepumph said:

I'm running `node --version` => v10.15.1

@jessegreenberg said:

Then does this still need to be labeled for developer meeting?

[2019-09-25 23:28] pixelzoom commented on #794
+1 for preventing multiple assignment.  It's a useful feature. But there are other gotchas (like scope) that aren't mentioned here.  See for example https://www.undefinednull.com/2014/02/03/multiple-left-hand-assignment-in-javascript-is-really-bad-think-once-before-you-do-it/.

[2019-09-25 23:42] zepumph commented on #737
The reason this is marked for dev meeting (from https://github.com/phetsims/chipper/issues/737#issuecomment-533340531), is that I'm interested in making our eslint process dependent on Node 8.10. It sounds like most people are already running this, but I thought it worth a dev discussion. I see bayes is on 8.16, and phet-server is on 8.9, so it would likely need an update. If it isn't too much tro

[2019-09-26 13:16] jessegreenberg commented on #794
+1 for the lint rule

[2019-09-26 15:33] pixelzoom commented on #734
Labeling this for developer meeting.  On 7/18, we decided to delete sim_es6_eslintrc_review.js.  It still exists.

[2019-09-26 16:04] pixelzoom commented on #794
After looking as usages and change a few, I've changed my mind.  There are places where multiple assignment is useful and clear.   For example, in GRAPHING_LINES/PointSlopeEquationNode, parts of the equation needs to be made visible and styled based on certain conditions, and that's done using multiple assignment like this:

[code]

Compared to the alternative:

[code]

So -1 for prohibiting multi

[2019-09-26 16:28] samreid commented on #794
Here's another alternative for discussion:

[code]

[2019-09-26 16:34] pixelzoom commented on #794
Let's compare these side-by-side:

`yNode.visible = equalsNode.visible = slopeMinusSignNode.visible = xNode.visible = true;`

`[ yNode, equalsNode, slopeMinusSignNode, xNode ].forEach( node => node.setVisible( true ) );`

-1 for replacing multiple assignment with `forEach` -- it's more difficult to write, more difficult to read, and undoubtedly more expensive.

[2019-09-26 16:35] pixelzoom commented on #794
`forEach` also does not work for situations like:

`line.stroke = rectangle.fill = newColor;`

[2019-09-26 16:37] samreid commented on #794
@pixelzoom how about enabling the lint rule, and applying a `// disable-eslint-line` directive for special cases?

[2019-09-26 16:42] pixelzoom commented on #794
I've looked through most of the usages flagged by the lint rule.    The case you provided in https://github.com/phetsims/chipper/issues/794#issue-497272838 was by far the most inappropriate. https://github.com/phetsims/sun/commit/7778ef16322a708c0a32c6c9d1a7045af0da3a68 was a distance second, and only because it resulted in missing visibility annotation.  So imo, this is a non-problem.

[2019-09-26 16:49] jessegreenberg commented on #794
I never use multiple assignments on one statement because I thought it was disallowed by our style guidlines. This isn't listed in https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md#coding-conventions anymore, but I found that it used to be in our old "[Coding Style Guidelines](https://docs.google.com/document/d/1Ys1EiwnqQGYuzGOcQSr4uXDes35mF1v1XhMZIl10nk8/edit#)

[2019-09-26 17:18] pixelzoom commented on #794
Multiple declaration is not equivalent to multiple assignment.  Multiple declaration should be avoided (or used very carefully) because of the "scope" pitfall described in https://www.undefinednull.com/2014/02/03/multiple-left-hand-assignment-in-javascript-is-really-bad-think-once-before-you-do-it/.

I haven't seen any multiple declaration in the cases identified by the lint rule, but it's possibl

[2019-09-26 18:21] samreid commented on #794
We could use the eslint-rule `one-var` for detecting multiple declaration.

[2019-09-26 19:59] zepumph commented on #794
we already do, see chipper/eslint/.eslintrc.js

[2019-09-26 20:11] zepumph commented on #793
I renamed one of the files in templates and we lost the webstorm formatting. To me this felt like a deal breaker:

![image](https://user-images.githubusercontent.com/6856943/65721476-9b5ec780-e056-11e9-9550-086db9890b50.png)

I feel fine about turning off inspections in Webstorm, and having lint ignore the templates dir. @samreid please make a recommendation if you feel differently.

[2019-09-27 00:47] zepumph commented on #681
This was handled in https://github.com/phetsims/chipper/issues/785. Closing

[2019-09-27 00:47] #681 closed

[2019-09-27 01:36] zepumph commented on #619
I decided to do this work on the `a11ystring-plugin` branch because it has a bunch of string plugin work already done. I was able to make the assertion for english strings in the below patch. I didn't commit it though because in friction (the a11y strings example I converted into the en json), I have some trailing spaces in the a11y descriptions. That will be fixed in https://github.com/phetsims/f

[2019-09-28 01:32] samreid commented on #734
This script may be helpful:

for-each.sh perennial/data/active-runnables "find ./js/ -iname '*.js' -type f -exec sed -i '' 's/[[:space:]]\{1,\}$//' {} \+"

Thanks https://stackoverflow.com/questions/10711051/how-to-remove-trailing-whitespaces-for-multiple-files

[2019-09-28 13:35] samreid commented on #734
eslint review file removed, trailing whitespace rule added, offending files addressed.  Will monitor CT for a bit and close if all is clear.

[2019-09-28 16:57] samreid commented on #734
CT seems clear, closing.

[2019-09-28 16:57] #734 closed

[2019-09-30 21:11] zepumph opened #798 "Directional formatting disrupts accessible strings"
Since moving a11y strings to support nested objects (still in a branch as of this writing see https://github.com/phetsims/chipper/issues/777), as a part of https://github.com/phetsims/rosetta/issues/193, we are now surrounding all a11y strings in directional formatting. While working on https://github.com/phetsims/friction/issues/182, I found that this is detrimental to the UX with a screen reader

[2019-10-01 17:15] samreid commented on #793
I see the value in correct formatting.  I wonder if it would be worth the effort to make the template actual correct JavaScript code?

[code]

Note in the latter cases the string to be replaced would be all of `'{{PHET_IS_DEBUG_BUILD}}'` instead of just `{{PHET_IS_DEBUG_BUILD}}`

[2019-10-01 18:15] zepumph commented on #793
That seems confusing to me, I would then expect whatever was being filled in to be inside the string. I don't think that

Does this mean that when you change the filename to be `*.js.template` you still have js formatting?

[2019-10-02 00:35] samreid commented on #793
I mean I agree it is valuable to syntax highlight as a JS file, and I was looking for a way to have the template variables be syntactically correct.

[2019-10-02 20:01] samreid opened #799 "Where do common query parameters belong?"
During https://github.com/phetsims/joist/issues/576 @zepumph @chrisklus and I noticed TamboQueryParameters, which seems nice!  Instead of appearing in initialize-globals, these query parameters are declared in tambo.  When should query parameters be added to initialize-globals vs in a dedicated repo?  Should query parameters be moved from initialize-globals to more specific repos?  Perhaps many in

[2019-10-03 00:43] pixelzoom commented on #799
I don't feel too strongly one way or the other on this.   But I'd like to point out two downsides of having `{{REPO}}QueryParameters` for each common-code repo:

(1)  There will a _lot_ more places to look for query parameters.  Currently, there are only 3 places that you have to look: initialize-globals.js, phet-io-initialize-globals.js, and {{SIM}}QueryParameters.

(2) There will easier to cause

[2019-10-03 02:20] zepumph opened #800 "Are builds too long?"
I feel like this sort of issue has come about before, but I couldn't find one. I was just trying to prototype a function of the phet-io build and it was taking a very long time.

On my windows machine in git bash it was averaging ~2:15 minutes:seconds.

<details>

[code]
</details>

When I ran phet brand I found it about a minute faster on rough average

<details>

[code]

</details>

Next I looke

[2019-10-03 13:09] soniasingla commented on #578
Is this issue resolved? I am still facing this issue.

[2019-10-03 16:14] zepumph commented on #737
https://github.com/phetsims/phet-info/issues/59 could also be fixed very easily with this regex support.

[2019-10-03 16:51] jessegreenberg commented on #794
That explains why it was removed from the style guidelines.

So is the example in https://github.com/phetsims/chipper/issues/794#issue-497272838 a multiple declaration or multiple assignment? Or both? Is that why that one is confusing while examples in https://github.com/phetsims/chipper/issues/794#issuecomment-535573591 are OK?

[2019-10-03 16:56] jbphet commented on #799
I created `TamboQueryParameters` with the thought that the parameters were temporary and for testing/debug only, and if they every became permanent, they'd be moved to `initialize-globals`.  I'd be fine with doing away with this file and putting everything in `initialize-globals` and just marking them with a TODO or some other agreed-upon approach for parameters of this ilk if that is preferred.

[2019-10-03 17:05] pixelzoom commented on #799
It might be good to add a TODO comment in `TamboQueryParameters` documenting your intention that it is temporary.

[2019-10-03 17:18] zepumph commented on #799
I would be interested in hearing @samreid's response to https://github.com/phetsims/chipper/issues/799#issuecomment-537738666. I know that yesterday when he created this issue, he thought that it was preferred to have separate QP locations.

[2019-10-03 19:01] zepumph commented on #737
This is on hold until we make sure that eslint will run on all servers will run it successfully.  On hold until https://github.com/phetsims/special-ops/issues/147 is done

[2019-10-03 19:14] zepumph commented on #737
I will see about documenting the version dependency, perhaps as a lint rule.

[2019-10-03 19:35] pixelzoom commented on #737
How about checking the node version dependency as part of the grunt task?  Pseudo code:

[code]

[2019-10-03 20:32] zepumph commented on #759
@samreid this may be helpful to you as you change cacheBust to a boolean.

[2019-10-03 23:03] zepumph opened #801 "only log errors from puppeteer in grunt update"
I don't think the following messages are valuable to get in the `grunt update` task:

[code]

I bet it is easy to only log errors from the sim.

[2019-10-03 23:04] zepumph commented on #801
![image](https://user-images.githubusercontent.com/6856943/66170033-0710d980-e5ef-11e9-829f-ef03ecd999f9.png)

[2019-10-03 23:04] #801 closed

[2019-10-04 00:02] samreid commented on #578
We decided to follow the approach prescribed in https://github.com/phetsims/chipper/issues/578#issuecomment-305893183.

Now that we have an established pattern for maintenance releases, I'll schedule for developer meeting discussion to see if we want to commit these files as discussed in https://github.com/phetsims/chipper/issues/578#issuecomment-345114259

[2019-10-04 00:22] samreid commented on #541
I'm commandeering this issue based on today's dev meeting discussion.

@jessegreenberg said:

@jonathanolson replied:

I replied

@pixelzoom said:

@jbphet said:

@Denz1994 said:

Consensus:

SR: I’ll make it boolean, default to true.  There is a usage in phettest to change.  I’ll pass through query parameters in phetmarks.  Hopefully next week!
MK: Update logic in the dev HTMLs
CM: Update the con

[2019-10-04 01:34] samreid commented on #541
The core changes are committed above, those commits will be most pertinent for review.  Following are the commits for `grunt update`.

[2019-10-04 13:33] samreid commented on #541
Note to self to consider https://github.com/phetsims/chipper/issues/759 and phettest moving forward.  Commits to many repos follow.

[2019-10-05 00:13] soniasingla commented on #578
@samreid that's great ! Thanks for the follow up 👍

[2019-10-07 14:13] samreid commented on #799
No

[2019-10-07 19:52] jbphet commented on #799
I've created an issue in tambo to either remove or move the query parameters once the development is further along.  I think it's safe to close this one.

[2019-10-07 19:52] #799 closed

[2019-10-07 22:19] zepumph commented on #796
In the above commit I did the following work on the a11ystring-plugin branch:
* moved `phet.chipper.strings.get` to `initialize-globals`,
* renamed it to getStringForBuiltSim for clarity
* deleted `chipper-strings.js`
* simplified `mapString` because it doesn't need stringTest parameter

The goal of these changes was to help with clarity, and to simplify the code that is run between built mode and

[2019-10-07 23:00] zepumph commented on #781
Over in https://github.com/phetsims/rosetta/issues/193#issuecomment-536762104 I committed a bug. While testing if comments would work as expected over here, I found it and fixed it.

I can say now quite confidently that the requirejs/built strings completely ignore anything that isn't the "value" key in objects.

As a reminder, here is the built string map that is compiled when the sim is built:
[

[2019-10-07 23:03] zepumph commented on #798
Tagging @jessegreenberg just so he is aware about this.

[2019-10-07 23:19] zepumph commented on #776
This is not true. though it is on a branch, see phet.chipper.getStringForBuiltSim (or phet.chipper.strings.get on master). This is supported.

Back to @samreid for final commit spot check.

[2019-10-07 23:47] zepumph commented on #619
https://github.com/phetsims/friction/issues/182 sorta became an issue to do this conversion in more repos than just friction (oops). And so now there don't seem to be any trailing/leading whitespace in a11y strings, and after adding the assertion in, I don't see any in the en json files either. I feel good about committing this to the branch. We will know for certain when it is merged to master. I

[2019-10-08 03:05] pixelzoom opened #802 "bad-text.js doesn't handle occurrences as constant names"
This bit me bad today.  I had a constant named `CHECKBOX_OPTIONS` that was mistyped as `CHECK_BOX_OPTIONS` for an argument to `merge`.  This led to a wild goose chase, looking for a nonexistent bug in `merge`.

Eventually, I discovered that bad-text.js doesn't catch "CHECK_BOX" (all uppercase).  Should it?

If so, how about "COMBOBOX" and "TOOL_BOX"?

Assigning to @samreid, because history shows t

[2019-10-08 03:23] samreid commented on #802
I checked with this patch:

[code]

And found the following lint errors:

[code]

Hence this will not be a quick fix, I'll leave self-assigned for future.  If someone wants to get to it before me that's OK too.

[2019-10-08 03:27] samreid commented on #781
`"_comment"` sounds great to me, and I think rosetta will be able to leverage it and show comments in its final tree-structured UI.  I'll close.

[2019-10-08 03:27] #781 closed

[2019-10-08 03:35] pixelzoom commented on #802
CHECK_BOX to CHECKBOX change completed in all sims that I'm responsible for.

[2019-10-08 15:30] samreid commented on #802
I addressed the other cases and added the bad text to the lint rule, @pixelzoom would you like to review?

[2019-10-08 17:22] zepumph commented on #742
I am running into this more and more, it is a bummer that I wrote such poor css to place the alerts so far below the sim.

I also want to note that I saw @twant recently using browser zoom-out to be able to see things more clearly. I liked that and it has been an alright workaround for the time being.

[2019-10-08 18:05] pixelzoom commented on #802
👍 thanks! Closing.

[2019-10-08 18:05] #802 closed

[2019-10-09 00:00] zepumph commented on #740
After discussion today, @twant is going to investigate at a priority that is only surpassed by Molarity.

[2019-10-09 14:34] terracoda opened #803 "A11y View focus issue"
I have been noticing some strange things in the A11y View. The alignment of the mouse hover state is off by quite a bit sometimes.

I've noticed this in Molarity, but can't easily reproduce it.

However, yesterday while using GFL (or maybe GFLB), I noticed it a lot with the position/distance sliders. I click on m1 or m2 to move it and then it doesn't let go when I stop dragging the mass. At the en

[2019-10-09 16:01] zepumph commented on #803
@twant has been taking on a few a11y view issues. @twant let me know if you want help.

[2019-10-09 17:02] jessegreenberg commented on #803
This may be a known behavior with iframes in general. If you click on something, then move your mouse out of an iframe and then release your mouse, objects aren't released. In this state, move your mouse back into the sim and objects will continue to drag.

For example, this happens here: http://phettest.colorado.edu/gravity-force-lab-basics/build/phet/gravity-force-lab-basics_en_iframe_phet.html

[2019-10-09 18:52] jonathanolson commented on #796
I checked over the commit. It looks good, and I like the changes. Separating out the second parameter to a closure variable seems perfect.

[2019-10-09 20:57] zepumph commented on #803
Right! Good catch. I agree, this is expected if you click in the sim, and the release ourside the sim. The reason is that the iframe (the sim) will never get the mouse up event, because that happens outside of its little home.

[2019-10-09 20:58] zepumph commented on #796
Excellent! I will close this issue, but it won't be on master for now. see #777

[2019-10-09 20:58] #796 closed

[2019-10-09 21:30] jessegreenberg commented on #803
🏠

[2019-10-09 23:54] terracoda commented on #803
@jessegreenberg, I didn't notice that I was moving outside the frame, but yes, that is exactly what is happening in GFL.

Thanks for the explanation.

[2019-10-09 23:57] terracoda commented on #803
And it is the same issue in Molarity. I must have slid outside the frame without realizing it.

[2019-10-09 23:57] terracoda commented on #803
I am closing, since this is not a bug.

[2019-10-09 23:57] #803 closed

[2019-10-10 16:47] jessegreenberg commented on #541
Thanks for working on this @samreid, I can work on the phetmarks part. Is it still beneficial to "pass through" phetmarks or can we add an entry in the phetmarks query param list?

[2019-10-10 18:01] jessegreenberg commented on #803
Thanks @terracoda sounds good - I am not sure if the hovering issues you mentioned were different but if they are and show up again please feel free to open another issue.

[2019-10-10 20:30] samreid commented on #541
I'm sure I would use that "pass through" too much, let's see if it is important for others.

[2019-10-11 00:04] zepumph commented on #791
@jessegreenberg I think it is important for this issue to also delete all the places on the top of the file where `/* eslint-disable bad-sim-text */` because those should be moved to the direct lines that they effect now. I see 12 usages.

[2019-10-11 00:08] zepumph commented on #791
I think that after https://github.com/phetsims/chipper/commit/ff56fb0959753e59683d29411d8d132596cc8f4c, can only support word characters. I'm not totally sure, but adding `'_.extend'` to `bad-sim-text` only yielded 6 errors.

I came to this issue while working on https://github.com/phetsims/phet-core/issues/71

[2019-10-11 00:40] zepumph commented on #791
I'm working on a potential solution. will comment shortly

[2019-10-11 05:43] zepumph commented on #791
Over in https://github.com/phetsims/chipper/commit/1fcccd228af5c80d4e5dae58e9211ff61415e84d, I created a new lint rule, which is largely experimental, called `no-extend`. In that it uses a similar algorithm as other bad-text rules, but takes an array of code "tokens". This is really helpful for a lot of our lint rules that are not just words. I think that it may be nicest if getBadTextTester can t

[2019-10-14 20:43] zepumph commented on #737
https://github.com/phetsims/special-ops/issues/147#issuecomment-539284274 is complete, I think we can move forward over here.

[2019-10-15 04:58] samreid commented on #751
I'm no longer planning to investigate this in the near future.  I believe other developers on the team are aware of git hooks, though I'm not sure how widely they are used.  Unassigning for now.

[2019-10-16 23:32] zepumph opened #804 "investigate eslint rule lines-around-comment and spaced-comment"
We have an items in the CRC about this;

[code]
Perhaps this could help us remove some junk from the CRC.

[2019-10-16 23:34] zepumph commented on #804
Tagging for dev meeting because I don't necessarily have time to add this on to my list right now, but perhaps someone else would feel passionately.

[2019-10-17 02:37] pixelzoom commented on #804
To be blunt, I feel like this would be a waste of time.

We have previous established that it's OK to violate this in some cases. That's why it says "generally".  For example in the case, there's no need for blank lines before the comments:

[code]

I also don't care whether someone writes "// description" or "//description".  What is much more important is that "description" is easy to grok - the

[2019-10-17 13:42] pixelzoom commented on #804
Two other thoughts...

These are spacing conventions. Why is it necessary to address these and not other spacing conventions like `if ( expression )` versus `if (expression)`?  Can they be addressed via phet-idea-codestyle.xml instead of lint rules?

I'm in the habit of formatting my IntelliJ/WebStorm task comments without a space. I frequently use `//TODO`, `//REVIEW`, and `//BUG`, and they show

[2019-10-17 16:57] zepumph commented on #804
What if we ran two lint processes each time. One without the fix option (which had most of our lint rules), and a few with the fix option, such that things like these spacing discrepancies were always the same automatically. Alternatively we could just run it once, but with the fix on, so that these issues were always auto fixed. That could alleviate some dev time in thinking about these small pro

[2019-10-17 19:30] jonathanolson commented on #578
Running the npm command is in our documentation, and we'll want to decide on our method of pinning dependencies in https://github.com/phetsims/chipper/issues/114.

[2019-10-17 19:30] #578 closed

[2019-10-18 00:09] zepumph opened #805 "add _.extend to bad sim text?"
https://github.com/phetsims/phet-core/issues/71

[2019-10-18 00:29] zepumph commented on #805
We should decide if this is really forbidden in sim text, marking for dev meeting.

[2019-10-21 18:19] pixelzoom commented on #541
@samreid The way that this is presented in phetmarks is confusing, it's a checkbox whose value is !cachBust.  Can we please change to this default:

[2019-10-21 19:54] jbphet opened #806 "Add "supportsSound" to package.json"
Currently, a sim is configured to support sound either through an option in the `Sim.js` constructor called `supportsSound` or through a query parameter of the same name.  This approach is causing some problems during loading and initialization where we want to avoid processing and loading sounds if the sim doesn't support it, since the global that is set by `Sim.js` - i.e. `phet.joist.sim.support

[2019-10-22 16:41] jbphet commented on #806
Marking for developer meeting to get input as to whether this is doable and seems like a good approach.

[2019-10-22 18:54] zepumph opened #807 "Delete `isJSOnly` from package"
It looks like this isn't used anymore since chipper 2.0

Added around https://github.com/phetsims/chipper/commit/02666213c8b67a24c9725981be9968bc24f5a1f7

@jonathanolson is it alright to remove these from kite, dot, and scenery?

[2019-10-22 19:17] jonathanolson commented on #807
Should be completely fine!

[2019-10-24 00:10] pixelzoom commented on #805
When I have full control over the args, and I know that `_.extend` is appropriate, I'd like to be able to use `_.extend`.  It's more convenient, because unlike `merge`, I don't need a `require` statement.  For example:

[code]

[2019-10-24 00:13] zepumph commented on #806
This seems reasonable to me.

[2019-10-24 00:25] zepumph commented on #805
I think that is reasonable, but I also see value in having an established pattern. If everything is the same, it may be a bit easier for the project as a whole.

I also think that there is a point to be made about maintainability.  In the example above, it is currently harmless, but perhaps in the future Rectangle will add in a nested set of options, like `paintOptions` or something. In which case

[2019-10-24 00:36] pixelzoom commented on #805
It doesn't become any harder (and in fact doesn't change) because I have full control over all of the args. If my args are unchanged, then it's irrelevant whether Rectangle takes nested options or not, I need to change nothing.   If I'm not using nested options, I can use `_.extend`.  If I need to use nested options in the future, then I know that `_.extend` in inappropriate, and I change to `merg

[2019-10-24 00:41] pixelzoom commented on #794
The example in https://github.com/phetsims/chipper/issues/794#issue-497272838 is one declaration and one assignment mixed together.  Declaration of `fileMap`, assignment to `stringFilesContents`. Not recommended.

The examples in https://github.com/phetsims/chipper/issues/794#issuecomment-535573591 are all multiple assignment.  And again, those should be used judiciously, when it's clear.

[2019-10-24 00:47] pixelzoom commented on #806
Seems doable and not bad.  Is this what's already being done for a11y with the `accessible` key in package.json? Can that be used as a model?  Are there alternatives?

If we adopt this approach for `supportsSound`,  why not do the same for `supportsEnhancedSound`, at the same time? Seems like a win to handle them uniformly.

[2019-10-24 01:45] zepumph commented on #806
Currently the `accessible` key is only responsible for keeping a list of all sims we want to have an `a11y-view` html for.

[2019-10-24 16:19] samreid commented on #804
My preference based on aesthetics, readability and because I am used to it, is to put a blank line before line comments, and a whitespace after `//` comments. That being said, I'm happy to proceed with group consensus.

[2019-10-24 16:20] samreid commented on #805
We could change `merge` to a preload.

[2019-10-24 16:39] jonathanolson commented on #805
I'm seeing a common trend where we find something of general use in phet-core (i.e. most of phet-core) and it's "I wish we didn't have to use a require statement" and "I wish I could use this in order preloads, but it's in require.js".

Should we consider moving some core code into a preload that is outside of the require.js system?

[2019-10-24 16:51] samreid commented on #805
I'm up for making it easy for the entire team, but thought I should mention it doesn't bother me to add the require statement.  I use shift-option-cmd-R to automatically add require statements and it has been working well for my situation.

[2019-10-24 17:02] jessegreenberg commented on #541
Agreed its a little confusing. But when a checkbox above is unchecked it doesn't set a value to false it just allows default value for query param. Since default for `cacheBust` is true in initialize-globals we need the checkbox to disable.

[2019-10-24 19:05] zepumph commented on #805
We will go with adding `[Op]ptions = _.extend` and `[cC]onfig = _.extend` to bad SIM text.

[2019-10-24 19:06] jbphet commented on #806
This was discussed at the 10/2/2018 developer meeting, here is what we concluded:

+ @jpphet should go ahead and add `supportsSound` to `package.json` and remove it as an option to `Sim.js`
+ We should also put `supportsEnhancedSound` in `package.json` for consistency.  There isn't a concern about cluttering up `package.json`, so if something is an attribute of a sim, it is fine to put it in the p

[2019-10-24 19:31] zepumph commented on #804
The consensus today was as follows:

* The goal is to make the cognitive load as low as possible, even talking about this is likely too much cost.
* We definitely don't want these to be lint rules
* This is really low priority
* It is not needed to have these items in the CRC.
* Some devs felt like needing a newline above comments was not always nice.
* It will likely be really easy to fix these b

[2019-10-24 22:31] #807 closed

[2019-10-24 23:11] zepumph commented on #737
Implemented above. This is a very good idea, thanks @pixelzoom.

[2019-10-25 05:01] zepumph commented on #791
In the above commits I added a bit more support for bad text that spreads across multiple tokens. I did this by formalizing a schema that takes a string as well as a tokenized list of code parts that can be used while iterating through all the code tokens in a file. I also improved performance by testing to see if the source-code text included the string version of the bad-text before diving into

[2019-10-25 05:02] zepumph opened #808 "remove usages of `/* eslint-disable bad-sim-text */`"
This global variety is now overkill, and line comments should be used now that we have added more functionality in #791.

[2019-10-26 23:18] twant commented on #740
I'm having some trouble investigating this because a11y view seems to be running pretty well on my machine, but I've started poking around. In inspecting the a11y view for molarity, I can't see any elements that have a different tabindex when I comment out the line that seems to be causing issues (the vast majority have either tabindex of -1, or no tabindex regardless of this line):
[code]
@jesseg

[2019-10-27 19:30] twant commented on #740
nevermind, I was testing the wrong instance! Disregard my last comment!

[2019-10-28 01:56] twant commented on #742
I have redone some of the CSS  to move things around and make the sim iframe sticky. I updated the Balloons and Static Electricity and Molarity a11y views as an example. Would love your feedback on this @terracoda, @zepumph, and @jessegreenberg to see if this feels like it would be a helpful change to the current layout.

[2019-10-28 13:18] jessegreenberg commented on #740
Sounds good!

At least for Windows, https://github.com/phetsims/chipper/issues/740#issuecomment-468091493 is still true for me, so it is possible that turning on and off VoiceOver may cause things to slow down. But let us know if you still aren't able to observe bad performance, if the slowdown is specific to Windows it may be easiest to investigate on that platform.

[2019-10-28 14:49] jessegreenberg commented on #742
Looking good, thanks @twant! This definitely makes it easier to see alerts while playing with the sim, without having to change browser zoom.

[2019-10-28 17:27] zepumph commented on #740
Expanding off of https://github.com/phetsims/chipper/issues/740#issuecomment-468091493 for my windows machine with NVDA:

* When I just went to an a11y view on my chrome that has been open for a week. The a11y-view was very slow. I feel confident that NVDA has interacted with this chrome instance in the past week.
* Confirm that closing those windows are reopening chrome made gravity force lab a11

[2019-10-28 17:47] zepumph commented on #742
I really like that you have changed the left side to be sticky. that feels like a total win. With that is looks really nice to put the intro at the top because you can scroll that away.

For the alerts panel, I really likely having them on the left. While developing, one of the main ways I use the tool is to navigate to an item in the PDOM, and then interact with that in the sim. From this view, I

[2019-10-28 17:56] terracoda commented on #742
@twant, I have always wanted the intro text across the top with 2 columns below. If that is what you are going for, awesome!
What browsers are you using to check? I don't want to jump in too early, but I am not getting 2 columns in Safari.

[2019-10-28 17:58] terracoda commented on #742
![Screen Shot 2019-10-28 at 3 25 31 PM](https://user-images.githubusercontent.com/1902116/67704137-864bc000-f997-11e9-8501-ef9c1ffbfc13.png)

[2019-10-28 18:07] zepumph commented on #742
@twant, when pairing with @terracoda about the above commits, it looks like on safari the "position: sticky" wasn't working.

[2019-10-28 18:18] twant commented on #742
oo interesting. I'll test and see if I can find a Safari solution. I do think `position: sticky` is a newer thing. It may also not be supported by internet explorer and edge. I found a JavaScript way to do it with a scroll handler, but that seemed very likely to contribute to a11y view's existing performance issues.

[2019-10-28 18:25] twant commented on #742
And @zepumph will look into adding some media queries that enable us to move the alert box back underneath the sim!

[2019-10-28 18:44] zepumph commented on #742
Good luck!

[2019-10-29 03:57] twant commented on #742
Looks like the element has to be displayed block in order for the Safari prefix to work. This is causing issues with the two-column format, so currently working on some work-arounds!

[2019-10-29 22:53] twant opened #809 "branch: a11y-view-improvements"
This branch is for https://github.com/phetsims/chipper/issues/742 and https://github.com/phetsims/chipper/issues/740. When these are resolved, we'll close the branch.

[2019-10-31 17:14] zepumph commented on #808
While working on this I realized and fixed a few things:

* this should be done for `bad-text` too.
* `name` was a bad property for a `ForbiddenTextObject`, let's go with `id`
* eslint was disabled in the three files associated with bad text lint rules, and had lint errors

Commits above.

[2019-10-31 17:16] zepumph commented on #791
- [ ] Please also see a few more changes in https://github.com/phetsims/chipper/issues/808.

[2019-10-31 19:19] chrisklus commented on #794
From 10/31/19:

We are fine with allowing multiple assignments and fine with preventing multiple assignment within a declaration.

@zepumph volunteered to 1. See if a lint rule for this already exists, and if not 2. Investigate creating one, and if that doesn't work out, then 3. Add this to the CRC.

[2019-10-31 19:39] zepumph commented on #808
There seem to be issues with dot when running `grunt lint-all` in a sim, but not when running `grunt lint` in dot. I'll investigate.

[2019-10-31 21:36] jessegreenberg commented on #791
OK cool, very good!

I don't think I understand how the updated `getBadTextTester` works yet. One thing I noticed is that `codeTokensArray` is not an array of esprima `Token`s, is that correct? It is an array of sub strings? How does `combinedIndex` work, what is the relation of the `Token` index to the index of the substring we are searching for?

I think that the direction listed https://github.

[2019-11-01 19:39] zepumph commented on #808
This is fixed, and ' => { return ' bad text will be added back to the lint rule in  https://github.com/phetsims/energy-skate-park/issues/140. Closing

[2019-11-01 19:39] #808 closed

[2019-11-01 22:32] jessegreenberg commented on #791
It doesn't look like this is working quite yet. In https://github.com/phetsims/energy-skate-park/issues/140#event-2764278824 a few cases of `() => { return ...` were found, but the lint rule is reporting the first line of code rather than the line of the error.

[2019-11-02 00:26] zepumph commented on #791
Yes that rule is currently not supported with line numbers. I think we will need to create a custom lint rule just for it in order to get it right. The reason is that `codeTokens` just look at the list of esprima node values, and so there is no different between:

[code]

and `() => { return . . . }`

I added a "workaround" just for that rule, in which is will still error out globally, with a bad

[2019-11-02 05:56] samreid opened #810 "Eliminate useless constructors"
Lint detected that our source code currently has 23 useless constructors, using the "no-useless-constructor" rule described here: https://eslint.org/docs/rules/no-useless-constructor

I manually spotted some of these during Gravity and Orbits code review, and, in my opinion, these should be deleted and we should turn on this rule.

Raising for developer meeting to see if there are any objections.

[2019-11-04 13:32] samreid commented on #791
For the workaround cases, would it be better to just text search the file line by line (ignoring the parsed esprima node structure)?

[2019-11-04 17:10] jessegreenberg commented on #791
I tried this in `testBadText`:
[code]

Where codeLines is `sourceCode.lines`.

@zepumph do you think that this could be used for all bad text and replace the method of looking through tokens?

[2019-11-04 18:29] zepumph opened #811 "Custom lint rules should be linted as node code"
While working on https://github.com/phetsims/chipper/issues/791, they should use `node_eslint.js`

[2019-11-04 18:32] zepumph commented on #811
@jessegreenberg please review this update, though small. What do you think?

[2019-11-04 18:32] zepumph commented on #791
That looks promising. I'll try to take a look this Thursday at it.

[2019-11-04 19:01] jessegreenberg commented on #811
Linting custom rules sounds like a great idea. I don't feel like I know enough to review the actual change in https://github.com/phetsims/chipper/commit/5c0e15865c15a3a01973e7bd7481bd81bf8ac606, were there any decisions to be made or is it pretty cut and dry for how to enable this?

[2019-11-06 00:51] pixelzoom opened #812 "Warning: Setting the NODE_TLS_REJECT_UNAUTHORIZED environment variable ..."
This line in reportThirdParty.js is resulting in a warning during deploy:

`process.env.NODE_TLS_REJECT_UNAUTHORIZED = '0';`

Here's the situation where I experienced it:

[code]
<br>

I was able to answer ‘y’ to the prompt, and the deploy seems to have completed successfully.

[2019-11-06 01:01] pixelzoom commented on #812
`NODE_TLS_REJECT_UNAUTHORIZED` was added to reportThirdParty.js by @matt, so I’ll start by assigning to him.

[2019-11-06 18:46] mattpen commented on #812
Duplicate of #788

[2019-11-06 18:46] #812 closed

[2019-11-06 18:48] mattpen commented on #788
Does reportThirdParty still need to run as part of deploys these days?  I thought this was moved to a cron job on bayes.  Can someone bring me up to speed on what context this runs in these days?

[2019-11-06 23:32] pixelzoom commented on #810
Until a benefit is identified, I object.

The ones in natural-selection are stubs that will be filled out.

[2019-11-06 23:37] pixelzoom commented on #810
I also disagree that a constructor that delegates to super is "useless".  It saves me the task of having to visit the superclass to identify the subclass' constructor signature and parameter doc.

For example:

[code]

versus:

[code]

[2019-11-07 00:37] samreid commented on #810
I see that there are cases where it would be nice to keep those constructors.  But looking over the list above, several cases do not exercise any of those advantages.  For example, the first element in the list:

[code]

Do you recommend we keep that constructor?  Add documentation to it?  Eliminate it?

[2019-11-07 01:40] pixelzoom commented on #810
I don't have any strong feelings about empty constructors, and don't see any obvious benefits to deleting them. They're not my style, but if another developer finds them to be useful for some reason, then I would leave them be.

[2019-11-07 05:19] samreid commented on #810
Thanks, perhaps it is worth raising for developer meeting discussion, to make sure everyone is aware that constructors automatically "pass through" and to make sure enough developers agree about not checking for this during lint.

[2019-11-07 21:09] zepumph commented on #791
@jessegreenberg your code snippet in https://github.com/phetsims/chipper/issues/791#issuecomment-549453844 was very helpful, and it simplified a bunch of code. Here is now the basic alrgorithm:

* In most cases supply a string and it will search line by line for the presence of that string.
* If you supply code tokens, then it will only look for that item in code, and not line by line. I thought a

[2019-11-07 21:33] zepumph commented on #805
Lint rules added above. Only a few had crept in since the conversion. I'm glad to have added these now. Closing.

[2019-11-07 21:33] #805 closed

[2019-11-07 22:52] zepumph commented on #794
I added a custom lint rule above. It forbids assignments within a variable declaration. It caught about 15 usages, and I think this is an improvement. Closing

[2019-11-07 23:19] zepumph commented on #737
From work in done in https://github.com/phetsims/chipper/issues/791, this was quite easy to add to getBadTextTester. The issue is that when turning it on, there are now 48 lint errors. Likely many of them should be converted to use Util.toFixed, but I found that there there were some that I had questions about.

For example @jonathanolson, in dot/Matrix4.js, should we be using Util.js? Are there a

[2019-11-07 23:32] zepumph commented on #794
Actually, I just remembered a comment from @samreid over in https://github.com/phetsims/chipper/issues/739#issuecomment-466615163. His recommendation was to try to add this back into the eslint project. That one fell off my radar, and now I've forgotten how the rule was manipulated, but this one would probably be a good candidate for making an issue over in eslint.

[2019-11-07 23:56] zepumph commented on #794
I submitted an issue over in eslint, https://github.com/eslint/eslint/issues/12545. I will wait to see how to proceed.

[2019-11-07 23:59] zepumph commented on #739
@samreid, your comment in https://github.com/phetsims/chipper/issues/739#issuecomment-466615163 inspired me to make an issue for https://github.com/phetsims/chipper/issues/794. Originally I tried getting back to this one, but the rule is quite a bit more complicated. I wish I had created an eslint issue right now, but at this point, it would likely take me more time to understand it again than the

[2019-11-08 17:01] samreid commented on #739
I'm glad we have our own rule for this and I don't think we need to take the time now to bring this to the attention of the ESLint community.  In the future, if there is a major breaking change version of ESLint and it becomes difficult to port our specific lint rule, we could re-evaluate, but for now it seems good to close.  Thanks!

[2019-11-08 17:01] #739 closed

[2019-11-08 17:19] jessegreenberg commented on #791
I hadn't thought of that and I agree, good idea, thanks.

This looks nice and it is highlighting the location of all bad text in my editor and in the console. I can quickly address https://github.com/phetsims/energy-skate-park/issues/140 now.

[2019-11-08 17:39] jessegreenberg opened #813 "' => { return ' in bad-text when function calls new"
With `' => { return '` added to bad-text.js , the following is flagged in energy-skate-park
[code]
because the return is unnecessary. But removing the `return` then causes eslint error `"Do not use 'new' for side effects."` from rule no-new. What should be done in this case?

I wonder if disallowing `' => { return '` is too strict.

[2019-11-08 17:40] jessegreenberg commented on #813
Oh I see, in this case we need to drop the brackets like
[code]

[2019-11-08 17:41] jessegreenberg commented on #813
OK, that fixed it - line replaced with
[code]

[2019-11-08 17:41] #813 closed

[2019-11-08 17:41] samreid opened #814 "Automatically review existing lint rules"
Today @chrisklus @zepumph and I discussed the following possibility:

* Turn on all built-in ESLint rules
* Run a lint-everything
* Cluster errors by which rule was broken
* Choose a threshold (like a dozen or so) and adopt these rules.

The idea is that the rules we are breaking a dozen or less times across our codebase are already closely in line with our philosophy, and there is a good chance w

[2019-11-08 18:24] #791 closed

[2019-11-09 01:04] pixelzoom opened #815 "lint rule to enforce including issue number with TODO comment"
The convention of including issue numbers for TODO comments in production code is not being followed.  From the CRC:

Since we've been discussing ways to automate things in the CRC, this is one that I think is worth automating, mainly because:
* it's disregarded so often (see examples below)
* a high percentage of the recent offenders are related to PhET-iO and a11y instrumentations
* I'm encounte

[2019-11-10 21:01] pixelzoom commented on #815
Playing around with regular expressions to identify valid TODO comments...

`TODO.*github.com/*.\d*` matches comments where a URL is provided, e.g.:
` // TODO: should be handled in the super, see https://github.com/phetsims/axon/issues/253`

`TODO.*#\d*` matches comments were just an issue number is provided, e.g.:
`// TODO #244 add this test`

To simplify, should require a URL in all cases?  It c

[2019-11-10 21:11] pixelzoom commented on #815
I've updated my sims to use URLs for all TODO items.

[2019-11-11 18:58] zepumph opened #816 "Add plugin to support linting javascript scripts in `html` files"
This was just a thought that popped into my head. "How hard would it be to support linting the javascript in our html files?"

* Is it worth the cost?
* Likely there are many html files that we want to ignore
* This would be helpful in the phet-io-wrappers repo.
* Perhaps it wouldn't be that hard, this was what I found quickly:
  - https://stackoverflow.com/questions/54138689/how-can-i-get-eslint-

[2019-11-14 18:10] jessegreenberg commented on #815
One already exists, it is called `todo-should-have-issue`. I recall that we decided to enforce this for common code but not for sim code. Maybe it is no longer working.

[2019-11-14 18:14] jessegreenberg commented on #815
Looks like this is the last we discussed this: https://github.com/phetsims/joist/issues/64#issuecomment-264272842

And indeed the rule is still only enabled in joist.
[code]

[2019-11-14 18:20] jessegreenberg commented on #810
I don't have a preference but appreciate knowing that there is a default constructor, I did not know that.

[2019-11-14 18:23] jbphet commented on #806
A couple of things came up during the testing by QA that was requested in https://github.com/phetsims/QA/issues/456, but they're relatively minor and I'm not sure that they are related.  I'll follow up in that issue, closing this one.

[2019-11-14 18:23] #806 closed

[2019-11-14 18:39] jessegreenberg commented on #541
So for meeting 11/14/19 there are two remaining questions.

Does anyone want the ability to pass a query parameter to phetmarks to populate values of the sim "Query Parameters" checkboxes?
Can we live with a "Disable Cache Bust" checkbox or should we work on changing this to a "Cache Bust" checkbox?

[2019-11-14 19:36] chrisklus commented on #815
I don't have strong feelings, but think this would be a bit overkill. I use TODOs for things like docs and other little things that shouldn't have issues, in addition to big TODOs that should have an issue linked. I agree that linking TODOs in common code or published sim code should be a requirement.

[2019-11-14 20:10] samreid commented on #541
@zepumph recommends a new issue in phetmarks to properly support boolean query parameters in phetmarks, rather than just being able to append a string or not.

[2019-11-14 20:12] #541 closed

[2019-11-14 20:25] samreid commented on #788
@zepumph volunteered to write up notes to help focus @mattpen investigation.  @mattpen will investigate removing this setting from report-third-party.js.

[2019-11-14 20:51] zepumph commented on #788
It seems like the next step (as @mattpen recommended) is to remove the `NODE_TLS_REJECT_UNAUTHORIZED` line in reportThirdParty.js. @mattpen thought that that was a workaround from before anyways.

Likely this is the problem, because that line is outside of the `module.exports` of that file, so just requiring `reportThirdParty` is enough to change that to 0. Thus everytime we load a grunt task from

[2019-11-14 20:54] zepumph opened #817 "Add Array.from polyfill"
Over in https://github.com/phetsims/perennial/issues/153 we are going to look into a robust polyfill, but to help unblock publication, we think that adding a specific polyfill for `Array.from` may be best short term.

[2019-11-14 21:10] zepumph commented on #817
Noting here that adding Array.from polyfill did fix build IE, and things are working in my local copy build.

[2019-11-14 21:11] samreid commented on #810
We discussed at dev meeting today.  @zepumph said he would prefer to enable this lint rule.  @pixelzoom said it would be frustrating to need to look in the parent type to see the constructor API.  @samreid pointed out that we often need to look in the parent types anyways to look up the options API, and we do not want to duplicate those in the subclasses.  We ran out of time and will schedule for

[2019-11-14 21:26] zepumph commented on #817
The above commit should fix this for phet builds and for scenery builds. Now I just need to commit `grunt update` to add the new preload.

[2019-11-14 21:35] zepumph opened #818 "option to `grunt update` to ignore the phet-io api files generation"
It takes a while to load each sim for phet-io to complete the `generate-phet-io-api-files` task. Sometimes, when you just need to add a preload or something (like for https://github.com/phetsims/chipper/issues/817), it would be nice to exclude the lengthy phet-io task as part of grunt update. Perhaps an option like `notPhetioFiles`.

[2019-11-14 21:41] zepumph commented on #817
@jonathanolson, currently scenery is actually not supported, because I couldn't figure out how to get around the `checkNamespaces` assertions for trying to include the preload via `requirejs`. Any ideas?

Phet builds should be working though.

[2019-11-14 21:48] zepumph commented on #817
@jonathanolson, currently scenery is actually not supported, because I couldn't figure out how to get around the `checkNamespaces` assertions for trying to include the preload via `requirejs`. Any ideas?

Phet builds should be working though.

[2019-11-14 21:48] zepumph commented on #817
Confirmed fixed in https://phet-dev.colorado.edu/html/gravity-force-lab/2.2.0-dev.17/phet/gravity-force-lab_all_phet.html

[2019-11-14 21:49] zepumph commented on #817
@jonathanolson can you please review also while provided ideas about how to support scenery build.

[2019-11-14 22:42] pixelzoom commented on #810
On 11/6/19, I said:

I still waiting to hear what the benefit of this is.

[2019-11-14 22:44] pixelzoom commented on #815
@jessegreenberg please explain why TODOs (even for docs) should not have associated issues for production code.  How do you remember to address those TODOs?

[2019-11-14 23:27] jessegreenberg commented on #815
Having issues for TODOs sounds good to me. https://github.com/phetsims/chipper/issues/815#issuecomment-554011685 just points out that we already have this lint rule and it should be easy to use it in whatever repo we want. I don't remember why we chose to only use it joist in https://github.com/phetsims/joist/issues/64. Maybe just felt more manageable at the time. When I enable it for all repos, I

[2019-11-15 03:48] samreid commented on #810
We are talking about code and documentation that:
* is redundant and has no functional effect at runtime
* has to be maintained
* has the potential to become out of sync

The benefit of removing this code is: less to maintain, less things to get out of sync.  I don't feel very strongly one way or the other, but when I came across code like this during code review my instinct was to delete it based

[2019-11-15 05:51] pixelzoom commented on #810
Parenthesis around expressions also meet this definition.  For example `( a && b ) || ( c && d)` could be written `a && b || c && d`.  The parens add clarity, and I prefer to use them when I feel that it improves readability.  Would you suggest that we also

I'm skeptical (to say the least) that removing these constructor would improve maintainability or reduce the potential to become out of sync.

[2019-11-15 06:02] pixelzoom commented on #810
Here's another example that the lint rule is flagging:

[code]

The lint rule is presumably complaining because there's no executable code in the body of the constructor.   But this is our template for new sims, outfitted with the `tandem` parameter that all `*Model` classes should have.   And as a developer,  I understand that the `//TODO` means that I'll be fleshing out the body of the construct

[2019-11-15 16:47] samreid commented on #810
Thanks for discussing this, I'm convinced we should not enable the lint rule.  Should we go one step further and say that we require or recommend each type has a constructor?  Or would it be better to suit developer discretion on a case-by-case basis?

[2019-11-15 17:25] pixelzoom commented on #810
Developer discretion.

[2019-11-15 17:28] samreid commented on #810
Thanks, we can leave this marked for wrapping up discussion at next dev meeting.

[2019-11-18 18:29] #604 closed

[2019-11-21 20:23] zepumph commented on #817
We are interested as a developer team in getting this unblocked for publication quickly. @pixelzoom gave a live review, and mentioned that we may want to worry about the license. I'll take it from here.

I will move this to sherpa, because Array.from is a licensed file, and other polyfill items will be under a different license.

[2019-11-21 20:33] zepumph commented on #810
We think that this is not useful as a lint rule, especially since it has a bug. Even if it wasn't buggy, developer discretion would still be preferred.

We agree developer discretion is the way to go!!! Closing

[2019-11-21 20:33] #810 closed

[2019-11-21 22:33] zepumph opened #819 "support custom preloads to standalone builds like scenery"
From https://github.com/phetsims/chipper/issues/817, it would be good to have a way to add the `Array.from` polyfill into scenery/dot/kit builds etc.

[2019-11-21 22:34] zepumph commented on #819
Poking around in buildStandlone.js, I see that there is a hardcoded base list so I can just add the polyfill to that, but I think we could also support custom items from each package.json. I'll implement

[2019-11-21 22:36] zepumph commented on #819
@jonathanolson please review these changes. Do they sound good for supporting https://github.com/phetsims/chipper/issues/817 in scenery etc, AND does it seem like a good change to support `phet.preload` from package.json for standalone builds?

[2019-11-21 22:36] zepumph commented on #817
This was implemented above. @pixelzoom would you please review. Note that the scenery specific stuff that I originally wanted @jonathanolson to review has been moved to https://github.com/phetsims/chipper/issues/819, so @pixelzoom feel free to close if there is nothing you see here.

[2019-11-21 23:52] zepumph commented on #809
@twant can you please summarize the work done in this issue so far, and describe if anything here should try to make its way onto master?

[2019-11-22 18:51] pixelzoom commented on #817
Looks great, closing.

[2019-11-22 18:51] #817 closed

[2019-11-24 18:14] twant commented on #809
Right now, most of these changes are almost ready to be pulled onto master. The issue right now is with the way that various browsers handle sticky elements. I'm working on modifying the layout for Safari, which doesn't support `position: sticky` without `display: block`. I am going to work on this more this coming week, so I will let you know when it's ready for review and merge into master, @zep

[2019-11-25 04:33] twant commented on #809
@zepumph just pushed some changes -- let's discuss on Tuesday if that works for you!

[2019-11-27 00:51] twant commented on #742
I am having quite a time to get the sticky formatting to work on Safari. I'd like to pull the changes that apply to other browsers onto master (as I do think they are improvements over what we have now). Do you think it's okay to pull those changes over for non-Safari and IE browsers @zepumph @terracoda @emily-phet @jessegreenberg? And, if so, what Safari behavior would you prefer: the behavior we

[2019-11-27 13:55] terracoda commented on #742
@twant, is there a version I can test?

[2019-12-02 00:31] twant commented on #742
@terracoda Try this and let me know!

https://phet-dev.colorado.edu/html/molarity/1.5.0-dev.27/phet/molarity_a11y_view.html

[2019-12-02 01:28] terracoda commented on #742
Looks better in Safari, but not in FFox.
I don't have any scrolling in Safari. Is there supposed to be scrolling?
**Safari**
<img width="1269" alt="Screen Shot 2019-12-01 at 9 52 26 PM" src="https://user-images.githubusercontent.com/1902116/69924278-198b8000-1485-11ea-9ac8-ad31d9a174f3.png">

And in FFox, it seems like the iframe is not resizing, so the layout is really broken. Here are 2 screen s

[2019-12-02 03:21] twant commented on #742
@terracoda apologies for firefox! I've updated the version so that scrolling should work on firefox.
https://phet-dev.colorado.edu/html/molarity/1.5.0-dev.28/phet/molarity_a11y_view.html

For Safari, it does not seem that it is possible to have the same behavior replicated. With that in mind, I'm wondering if you prefer the flat scroll (where the sim frame doesn't stick at all, as it currently is)

[2019-12-02 13:03] terracoda commented on #742
For the way I use the A11y View, it is most desirable for to have the ability to have these three blocks:
1. The visual sim
2. The alerts (context responses)
3. The PDOM (State Descriptions and Object Responses)

in view at the same time.
The top content block is the least important in my mind and was only created for people outside our group. We didn't want people to think the A11y View was our a

[2019-12-02 13:10] terracoda commented on #742
@twant, I haven't looked at this example from Chris Coyier in depth yet, but the demo does scroll in Safari on my computer. The solution is more about "momentum scrolling" for iOS, but maybe something applies to regular scrolling on MacOS, too.

https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/

[2019-12-02 13:12] terracoda commented on #742
Again, as I mentioned in comment https://github.com/phetsims/chipper/issues/742#issuecomment-560387596 it could be very useful to adjust the blocks we putting content in (move the block at the to a footer).

[2019-12-02 13:13] terracoda commented on #742
I'll try to sketch this out later this week.

[2019-12-02 13:13] terracoda commented on #742
And FFox is working now... so good job there!

[2019-12-02 19:08] mattpen commented on #788
No, we aren't using any third party http apis, so there isn't really any untrusted sources in our toolchain.  We should have been using TLS for authentication even though non-TLS was technically allowed, so there is a very small likelihood of a problem.

I'll make the change, and test by deploying an rc/prod of chains from master.

[2019-12-02 19:27] jessegreenberg commented on #742
For the purposes of development on Chrome this is a major improvement and it is working great!

If we cannot get sticky positioning to work in Safari, my vote would be

Alternatively, we could create space for sim+alerts by hiding the introduction paragraph "The A11y View is a design and presentation tool..." under a section called "About the A11y View", like we are doing with "About the PDOM & De

[2019-12-02 19:33] terracoda commented on #742
@jessegreenberg and @twant, yes the content at the top can be hidden inside`details/summary` elements. I was wondering if something could be achieved if we moved the content to a footer. But `details/summary` is another way to create some vertical real estate.

[2019-12-02 23:33] mattpen commented on #788
I successfully deployed rc and prod for chains and the warning did not display.  I think this can be closed.

[2019-12-02 23:33] #788 closed

[2019-12-03 02:27] samreid commented on #596
Chipper 2.0 has been working nicely in master for a while now, great work team and especially @jonathanolson, closing.

[2019-12-03 02:27] #596 closed

[2019-12-03 04:09] samreid opened #820 "Convert codebase to use ES6 import/export modules instead of requirejs"
In https://github.com/phetsims/chipper/issues/551 we started moving simulation code to ES6, and that has been working nicely.  One remaining step that we stand to benefit from is converting from requirejs to ES6 module import/export.  When we began HTML5 development around 2013, ES6 was not finalized and there was no support for ES6 module import/export.  Now it is the standard.  It is supported o

[2019-12-04 23:50] pixelzoom commented on #820
I think that a quick (15 min?), high-level discussion of this in dev meeting is fine.  But there a lot of questions, and I don't think it makes sense to involve the entire development team in a deep dive.  If this is a priority for PhET, then I propose that a sub-team be formed to investigate.

[2019-12-05 17:56] Denz1994 commented on #815
From https://github.com/phetsims/chipper/issues/815#issuecomment-554116858:

I wouldn't want this rule enforced for sim code. Whenever I get to the item in the CRC regarding TODOs, I search for all TODO/REVIEW statements in the repo and cycle through each one and address it. If it isn't something that can be handled in a commit at the moment an issue is opened and the TODO is removed.

[2019-12-05 18:04] pixelzoom commented on #815
I think that's fine for unpublished sims. I disagree for published sims. The CRC states:

[2019-12-05 20:40] Denz1994 commented on #815
As discussed in dev meeting on 12/05/19:

Regarding common code, if there is an added TODO there should be an issue linked to the TODO. We should enforce this rule on a per repo basis targeting common code.

For sim code, address TODOs before publication.

We can round-robin a chip-away (excluding Scenery, Dot, and Kite) issue that targets each TODO in a repo. An assigned developer can cycle throu

[2019-12-09 01:19] twant commented on #742
Okay, that sounds good! So next steps are to keep what is currently there, and just hide the top content in a details tag. I'll push and assign over for review before merging into master and updating all of the a11y views. @jessegreenberg is this something you are able to review?

[2019-12-10 18:54] zepumph opened #821 "merge a11ystring-plugin branch to master"
It would be good to keep track of this work in an issue. I just got the go ahead over in https://github.com/phetsims/rosetta/issues/214 that it is time to merge this to master.

This work was originally done in https://github.com/phetsims/chipper/issues/786 and https://github.com/phetsims/rosetta/issues/193.

I will do a bit of testing, and then handle the merge.

[2019-12-10 19:21] jbphet opened #822 "Remove grunt wrapper"
The "wrapper" task existed for the sole reason of supporting the sonification wrappers, which are being retired, see https://github.com/phetsims/phet-io-wrapper-sonification/issues/93.  Therefore, the "wrapper" task can now be removed.

[2019-12-10 19:44] zepumph commented on #821
I merged this to master, there were only very minor merge conflicts, and I'm not going to delete the a11ystring-plugin branch and issue. Closing

[2019-12-10 19:44] #821 closed

[2019-12-10 20:07] zepumph commented on #619
After merging to master, I ran aqua tests and found one error (https://github.com/phetsims/masses-and-springs/issues/350). I'm going to close this now that it is on master.

[2019-12-10 20:10] zepumph commented on #798
This needs to block any adding of a11y strings into strings files, so I'm going to assign people now that the support is in chipper.

[2019-12-10 20:10] zepumph commented on #776
@samreid, in regards to this spot check, this is now on master.

[2019-12-10 20:11] zepumph commented on #777
This has been merged to master and the branch deleted, closing

[2019-12-10 20:11] #777 closed

[2019-12-10 20:15] zepumph commented on #795
I think this should be on hold until https://github.com/phetsims/chipper/issues/798 is completed.

[2019-12-10 23:03] jbphet commented on #822
Please note that there are references to the phet-io-wrapper-sonification repo in chipper-2.0.md that should probably be removed too, or at least updated.

[2019-12-12 21:35] zepumph opened #823 "Add an assert preventing nested strings outside of "a11y" key"
From https://github.com/phetsims/rosetta/issues/215, it looks like we may not support i18n with nested string keys for some time (because of the rosetta side of things), until then, it may be nice to add an assertion making sure people don't accidentally use this unsupported feature. It would be bad if a nested string key was published.

I'm not sure exactly how I will support this, I'll have to d

[2019-12-12 21:42] zepumph opened #824 "Assertion that duplicate strings aren't provided via nesting and with dots in keys"
From https://github.com/phetsims/rosetta/issues/215, we need to add an assertion to make sure that there are never any duplicates between using actual periods in string keys, and with nested keys. For example this assertion should make sure that the following pairs aren't every allowed to be in the same string map:

[code]

[code]

basically dots and nesting are interchangable, so we never want th

[2019-12-12 22:27] mattpen opened #825 "Add alternative screenshots to build process"
In the new sim page design, there is a requirement to use the alternative screenshots that have been added to the sim repos.  Before we can implement this, we'll need to add a processing step to add these images to the build artifacts.  This will require a maintenance release that will affect all sims.

I noted that the naming for the alt screenshots is standardized which should make this relative

[2019-12-12 22:55] mattpen commented on #825
Discussed variation in number of images with @amanda-phet - she said this was acceptable and is accounted for in the sim page layout.

There was one image with a typo in the name that I fixed (make-a-ten alt 2).

@ariel-phet said we should try to schedule this before the holidays or 1st week of January due to lower traffic with the school break.

Tagging @jonathanolson so he is aware that I'm goin

[2019-12-13 17:15] jonathanolson commented on #825
Should I be involved with the batch process at all, or do you feel comfortable following the process on your own?

[2019-12-13 21:29] mattpen commented on #825
@ariel-phet mentioned that since this would affect every sim, but would not actually change the sims themselves, that this would trigger a lot of unnecessary updates in the mobile apps.  We agreed it would be good to find a way to make these available without a production deploy.

@jonathanolson and I discussed the problem over Zoom.

To clarify, the problem is that we would like to have the alter

[2019-12-14 00:20] zepumph opened #826 "Update string-require-statement-match to support nested strings"
Now that we know that a11y strings, and eventually others, will be nested in `json` string files, I wonder if we shouldn't adapt this lint rule. Right now it requires that the var name be the same as the order of the dots. I wonder if that isn't always the best.

I reserve the right to be completely out voted, but looking over at some string changes over in https://github.com/phetsims/molarity/iss

[2019-12-14 00:20] #826 closed

[2019-12-19 18:24] pixelzoom commented on #825
12/19/19 dev meeting:

This is HTML5 only.

@mattpen said it would be nice to decouple screenshot deployment from sim deployment.  But it's also nice to have them coupled, so that screenshots go to the right place when deploying a sim.

Make an independent grunt task to publish screenshots. Include that task as part of the sim-deploy task.  This achieves both goals.

[2019-12-19 19:43] pixelzoom commented on #820
12/19/19 dev meeting:

Pros:
* makes our tools (e.g. WebStorm) more useful
* allows us to consider TypeScript

Cons:
* requires a lot of work (converting code, plugins,...)
* requires chipper 3.0
* may require a build step to run sims (no "requirejs" mode), or using "watch mode" in IDE (which might be transparent enough)

Feasibility test 1 - what are the problems?
* json and image plugins working

[2019-12-20 06:59] samreid commented on #820
I added a script that migrates repos to use import/export. It is very prototype-y, but here's how it can be used for example-sim.

1. check out example-sim webpack branch
2. install webpack and url-loader via
[code]
3. run `grunt migrate`
4. run `npx webpack`

The result of running those steps is that it ports example-sim and all its dependencies to use import/export and builds it.  It uses image

[2019-12-20 20:06] samreid commented on #820
Notes from collaboration with @jonathanolson:

Compilation-free Mode proposal:
1. Use absolute paths like import example from '/example-sim/js/example';
2. Everyone must use same local url localhost
3. Requires a micro-compliation step every time string/json/image/mipmap/audio is changed to turn them into JS (but this may speed up iteration by distributing that work).  So everything would be a JS

[2019-12-20 20:48] samreid commented on #820
While looking into fast or incremental recompilation, we found that webpack supports a concept called hot module replacement, which allows you to edit code without reloading the entire application.

With `node_modules/.bin/webpack-dev-server --hotOnly` and

[code]

I am able to edit the code with a live, running, stateful simulation, like so:

![Kapture 2019-12-20 at 13 44 58-800](https://user-ima

[2019-12-20 20:49] pixelzoom commented on #820
Can you clarify what this means?  Does that mean that everyone must use an identical URL for running sims out of their working copy?  If so, that's going to be tricky for sharing my working copy with VMware. I currently need to use the IP address of the host machine, not localhost.  So my URL looks like  http://192.168.1.2/phet/, not http://localhost/phet/.

[2019-12-20 20:56] samreid commented on #820
You would be able to use different hostname and port, but across developers the path would have to be the same.  For instance, I serve `~/github` so my path is like `/example-sim` but I've seen other developers serve something akin to `~/` so their path would be something like `/github/example-sim`.  If we want "compilation-free" mode to work, it seems we would need to standardize on the Path part

[2019-12-20 21:29] pixelzoom commented on #820
Good to hear that incremental build + live reload is fast.

If we do need to go with "compilation-free" mode, please consider 2 things when making the decision on path.  (1) On macOS, it's very easy (well-documented) and conventional to configure Apache to serve local websites out of ${HOME}/Sites/. (2) Some of us (me included) may have non-PhET websites that we need to serve locally.   The path t

[2019-12-23 19:21] samreid commented on #820
Notes from discussion with @jonathanolson.

Question: How can we support jumping around to different simulations?
1. We could use compilation-free mode, as described above
2. We could build all of the simulations into a single *.js bundle.  Would that take a long time to rebuild or load in the browser?  To answer this, we tried to bring more sims into the fold.  Example sim alone weighs 3.9MB.  ex

[2019-12-26 16:52] samreid commented on #820
Status so far:

* Developed a script `grunt migrate` which uses string replacement heuristics to convert a repo to module import/export.  This script is working for the following repos:
  * axon
  * circuit-construction-kit-ac
  * circuit-construction-kit-common
  * brand
  * dot
  * griddle
  * joist
  * kite
  * phetcommon
  * phet-core
  * phet-io
  * example-sim
  * scenery
  * scenery-phet

[2019-12-30 18:57] jonathanolson opened #827 "branch: webpack"
For supporting investigation into https://github.com/phetsims/chipper/issues/820

[2019-12-30 19:05] zepumph commented on #795
https://github.com/phetsims/molarity/issues/205 is the first sub issue we are doing with this, in part to make sure rosetta is ready for it.

[2019-12-31 10:26] jonathanolson commented on #820
I've added the mipmap plugin support and a moderate placeholder for the string plugin (not using other locales besides English yet). I've also transferred things over to chipper to make things non-sim-specific, and so multiple sims can be included in the watch-rebuild cycle.

This can be done with the following:

[code]

Then the following three URLs should work, and will reload on changes that af

[2019-12-31 16:45] samreid commented on #738
I believe this was addressed as part of https://github.com/phetsims/chipper/issues/791, please reopen if that's incorrect.

[2019-12-31 16:45] #738 closed

[2019-12-31 18:16] jonathanolson commented on #820
I've updated npm dependencies (npm update required again).

Additionally to enable split chunks and fast updates with LOTS of sims, I'm using a plugin to generate the sim dev HTML, so URLs have changed to e.g. http://localhost:9000/dist/molecule-shapes_phet.html?brand=phet&ea

[2019-12-31 19:02] zepumph opened #828 "A11y view doesn't work in published sims on phet-server"
The code that loads the sim into the iframe in the a11y view is hard coded for the filename for phet-dev deploys, but the name changes in production mode. As a result this is broken here: https://phet.colorado.edu/sims/html/gravity-force-lab-basics/1.0.0/gravity-force-lab-basics_a11y_view.html.

Note that each time a sim is published to the website, a copy is also published to phet-dev, such that

[2019-12-31 22:16] jonathanolson commented on #820
Investigated scalability (mixed results, may be able to improve), and got the integration with chipper proof of concept working nicely.

[2020-01-01 18:12] emily-phet commented on #828
As long as we can access the a11y view for the published sim, regardless of filename, I think we're fine as is. If you see a use-case where the current situations is problematic (beyond just the fact that a11y-view users need to know to use the phet-dev filename) let me know.

[2020-01-02 03:11] twant commented on #742
Just following up on this so it can be handed off to @zepumph or @jessegreenberg (or another a11y-focused person). I think the next steps for this are to:

- [ ] Review what's currently on the `a11y-view-improvements` branch
- [ ] Merge into master
- [ ] `grunt-update` every sim so that the a11y-view files are up to date

For another potential issue in the future:
- [ ] Figure out how to get the s

[2020-01-02 07:00] zepumph commented on #828
I'm good closing this, @jessegreengerg please do so if you agree.

[2020-01-02 20:29] samreid commented on #820
Notes from today's discussion:

MK: We could do compliation mode now, then save "compilation-free" for a potential later step

DB: for the precompilation step, would you have to keep track of both source PNG and output PNG.js?
	JO: This would be done as part of 'grunt update', for instance.
	SR: We would check in the micro-compiled steps

CM: What about clients outside of PhET?  What if a client i

[2020-01-03 05:30] samreid commented on #820
I reviewed the following websites about whether we should use absolute or relative paths:

https://github.com/meteor/todos/issues/205
https://medium.com/beqode/absolute-vs-relative-import-paths-nodejs-1e4efa65a7bb
https://webpack.js.org/configuration/resolve/#resolvealias

https://intellij-support.jetbrains.com/hc/en-us/community/posts/360000142844-How-to-avoid-relative-paths-in-Javascript-import-

[2020-01-03 05:33] samreid commented on #820
After the commit,

[code]
Prepares acid-base-solutions into compilation-free form which can load in the browser without any build step (aside from the `modulify` which already ran).  I need help on the mipmap and the string plugins.  I should also note that I created a joist branch "webpack" which is necessary to overcome some shortcomings.

[2020-01-03 06:07] samreid commented on #820
I'm struggling to get webpack to deal with absolute paths.  The only thing I've had any success with is this hack which pretends absolute paths are aliases:

[code]

This seems fragile and like it may break in a future webpack.

[2020-01-03 06:18] samreid commented on #820
I also tried pointing entry point to "../startup.js" so it would have the correct absolute path, then importing main, but it had the same failure mode.

[2020-01-03 15:11] samreid commented on #820
Maybe we should experiment using relative paths?  I tested and WebStorm "Move" updates import paths correctly if and only if "search for references" is selected.  That way relative paths will be easy to read, like:

[code]

We won't need to configure any servers, including developer servers or phettest, CT, etc.  Or provide instructions to clients about how to configure their servers.  I'm not too

[2020-01-04 00:29] chrisklus opened #829 "Missing visibility annotations for QPs in initialize-globals.js"
From https://github.com/phetsims/joist/issues/593, we now have a flag `public` that can be added to query parameter schemas, which indicates that invalid values should fail gracefully and revert to default values.

@pixelzoom suggested I add this flag to the public query parameters in initialize-globals.js. Of the ~64 available query parameters, only 1 (`allowLinks`) is marked as public, and only

[2020-01-04 01:43] samreid commented on #820
After the commits, acid-base-solutions is running compilation-free using relative paths, and building with webpack.  Next steps: strings, mipmaps, entire codebase.

[2020-01-04 13:45] samreid commented on #820
After the commit, English strings are loading and working nicely for acid base solutions in compilation-free mode.  The iterative rebuild command is:

[code]

If we need to prune the locales, that would be done with `grunt modulify` and the rest of the build would remain unchanged.  Right now it just includes English.

[2020-01-04 23:25] samreid commented on #820
Here's my working list of sims that aren't passing aqua in compilation-free mode:

[code]

[2020-01-05 16:21] samreid commented on #820
Current progress:

* Compilation free mode is working.  This is accomplished with a new task `grunt modulify` which converts strings, images, sound, etc to JS as a preprocessing step.  Mipmaps are generated for every image, and imports select between mipmap vs non-mipmap by filename.  It was a great decision to investigate compilation-free mode, that makes our simulations much more flexible, makes

[2020-01-06 15:38] ariel-phet commented on #829
@samreid @zepumph can you look at these - I think it should be fairly quick. Basically I would say the following:

1. You should know pretty well which ones of these query parameters are needed to be public for iO and for a11y.

2. There are others (non iO/a11y related) that should be fairly obvious that we do not make public facing (I think something like `?phet-app` being a good example).

3. Fo

[2020-01-06 17:04] jessegreenberg commented on #828
Thanks for pointing out. I am fine with a11y-views going through phet-dev. Should we exclude a11y-view from production build task? Not that it takes up much space but may be best to not put a broken file up there.

Looks like the a11y-view is generated buildRunnable.js, I am not sure if there is awareness of "production" at that phase. @zepumph are you familiar?

[2020-01-06 17:24] zepumph commented on #828
We are trying to remove the a11y view build artifact so that it doesn't end up on the production server, but it does end up on the same build's copy on phet-dev. To me it may be more of a headache than it is worth to try to split those up. It would also be a build-server change as opposed to just chipper (which I believe is meant to build a destination-independent bundle).

[2020-01-06 17:37] samreid commented on #829
I took a look and it seems like everything marked with `@memberOf PhetQueryParameters` should be labeled as `public: true` (in phet brand and phet-io brand).  This would be good to double check with @zepumph, so I'll leave it assigned to him for consideration.  Other notes and questions that came up during my review:

* `audioVolume` is listed as deprecated, but I don't see a replacement.  @jbphet

[2020-01-06 19:59] jessegreenberg commented on #828
Got it, OK thanks. Alright, closing this issue.

[2020-01-06 19:59] #828 closed

[2020-01-06 20:30] chrisklus commented on #829
+1 for changing the key to something like `visibility`. Do you know if the difference between private and internal in our documentation is just that internal is only meant for phet team members but is not as strict as requiring `phetTeamMember` in localStorage like private does? And if so, do we like that functionality of internal, or would just public and private be sufficient?

This key could re

[2020-01-06 22:20] pixelzoom commented on #829
I had no idea that there was a 'private' property.  Neither 'public' nor 'private' are described in the documentation for `const TYPES`, and they should be.   And shouldn't 'private' be included in `const validateSchema`?

That said, I don't understand the need for `visibility: ('public'|'private'|'internal')`.  What is the difference between 'private' and 'internal'?  Aren't they the same thing?

[2020-01-06 22:29] pixelzoom commented on #829
Oh, I see...

'public' = public facing
'internal' = intended for use only by PhET team members
'private' = protected from use by non-PhET team members (query parameter is ignore)

This is confusing.  I think it would be better to just have 'public' and 'private', and have a separate property (applicable to 'private' query parameters) that indicates whether to ignore the query parameter if it's pro

[2020-01-06 22:31] pixelzoom commented on #829
I'd also be OK with `visibility: 'public'|'private'`.   But I'm not crazy about `visibility: 'public'|'private'|'internal'`.  But I might be convinced if the values made the semantics clear.

[2020-01-06 22:40] jbphet commented on #829
The `audioVolume` parameter was originally implemented to support having sound disabled at sim launch time so that anyone doing fuzz testing wasn't hit with a barrage of sounds.  This is supported in sims that use tambo as the sound library using the `sound=disabled` query parameter.  And, though this support does exist for disabling sound during fuzz testing, it's not as much of an issue now that

[2020-01-06 22:44] chrisklus commented on #829
@pixelzoom said:

Agreed that it's confusing, and that we should use just 'public' and 'private'. But why wouldn't we leave the functionality of 'public' and 'private' as is, so they both serve a purpose? If we move the "ignore the query parameter if it's provided" functionality to a different key, then 'private' is confusing to me because it's only documentation. Are there QPs that we want marked

[2020-01-06 22:53] pixelzoom commented on #829
It sounds like you're suggesting that 'internal' and 'private' should be combined.  If that were the case, then all PhET team members would be forced to use localStorage in order to use query parameters that aren't public-facing.   That will not fly.  As I recall, non-developers were not excited about having to deal with localStorage, and went along with the solution only because they expect not t

[2020-01-06 23:01] samreid commented on #829
Self unassigning until @zepumph has a chance to take a look.  @zepumph please re-assign me after you comment.

[2020-01-06 23:45] zepumph commented on #829
For IO I agree with @samreid, all marked with `@memberof` annotations are rendered into phet-io jsdoc and are public parameters as it pertains to phet-io.

For a11y, `enhancedSoundIinitiallyEnabled` seems like there is potential for public, but I am no authority, perhaps @jbphet can weigh in on that one too.

`visibility` is verbose but clear, as long as all available allowed keys are well documen

[2020-01-07 17:52] jbphet commented on #829
Yes, that once should be public.  I added a line to the doc that I saw elsewhere in the file that says, "This query parameter is public facing."  Does anything else need to be done for this?

[2020-01-07 19:20] pixelzoom opened #830 "generate-config has a problem with config.js copyright header"
When I run `grunt generate-config` (typically as a subtask of `grunt update`) I see this output:

[code]

natural-selection-config.js is never actually modified, and the copyright header continues to be:

[code]

I believe that this started with the 2020 New Year, so I suspect that there's a hard-coded year somewhere that hasn't been updated.

Assigning to @ariel-phet to prioritize and assign.

[2020-01-07 19:22] pixelzoom commented on #830
The console output is coming from updateCopyrightData.js:

[code]

[2020-01-07 19:28] pixelzoom commented on #830
Adding some debug output towards the end of updateCopyrightData.js:

[code]

I see this in the console:

[code]

What looks incorrect here is `firstLine`.   Inspecting natural-selection-config.js, that line is clearly 2019, not 2020.   I don't know where the bad `firstLine` is coming from.

[2020-01-07 22:49] samreid commented on #830
`grunt generate-config` updates the copyright of the config file based on the git history of the file.  Created in 2019 and no commits in 2020?  Then the copyright statement is 2019.  I tested this in natural selection and circuit-construction-kit-ac, then added a new commit to circuit-construction-kit-ac and saw that it updated to "2019-2020".  Back to @pixelzoom for discussion.

[2020-01-07 22:55] pixelzoom commented on #830
Yes, I understand how it works.  But generate-config is saying that natural-selection-config.j is "Copyright 2020" and should be "Copyright 2019" (see debug output above).   That makes no sense -- it's already "Copyright 2019".

[2020-01-07 23:01] samreid commented on #830
It looks as if chipper/js/grunt/generateConfig.js generates a fresh file with the current date (e.g. 2020), then chipper/js/grunt/updateCopyrightDate.js revises the date (e.g. 2019).

[2020-01-08 16:33] ariel-phet commented on #830
marking as high, since it would be good to discuss "briefly" at dev meeting, and I feel like this should be fairly quick to fix for the right person.

[2020-01-09 00:53] zepumph commented on #798
Over in https://github.com/phetsims/scenery-phet/issues/570 we ran into a case where using StringUtils to add one string into another made caused a spacing error in rich text. The case is as follows, take this string:

`"Move to next item{{orGroup}}" `

which can get filled in to be:

`"Move to next item or group" `

such that there is another translatable string getting filled in: " or group"

Th

[2020-01-09 18:12] jonathanolson commented on #798
Can we just remove directional marks when the a11y strings are delivered to users through the DOM/etc.?

[2020-01-09 19:48] jessegreenberg commented on #820
Dev meeting 1/9/19:

To proceed with this @ariel-phet suggested we could sprint through steps to integrate this. It might happen in mid February as we could be through some publications. Team agreed this is most efficient way to do this.

@samreid and @jonathanolson will continue with some of the above questions until then.

[2020-01-09 19:54] samreid commented on #820
More notes from today's discussion:

AP: would a TypeScript investigation truly be obviated by making this switch to es6 modules? Aren’t there some other potential advantages? If not, no problem at all, I just have it on my list to potentially have someone investigate TypeScript in the future.
JO: Most of the benefits of TypeScript are not given by using es6 modules
SR: It’s a spectrum.  RequireJS

[2020-01-09 20:25] jessegreenberg commented on #798
@jonathanolson showed us StringUtils.stripEmbeddingMarks which may help remove embedding marks before we provide text for a screen reader.

[2020-01-09 20:31] zepumph commented on #798
I think that we can apply this to all interactive descriptions as a hold over pattern until we need to worry about i18n with a11y strings.

In general we do not want to strip directional formatting, like done in https://github.com/phetsims/chipper/issues/798#issuecomment-572329507. Instead @jonathanolson said that it would be best to handle each buggy case with directional formatting, if possible,

[2020-01-10 20:18] samreid opened #831 "Unsupported interlace for some PNG files"
During https://github.com/phetsims/chipper/issues/820, @jonathanolson and I discovered that some of our images in Natural Selection and Number Play cannot be mipmapped, they fail with an "Unsupported interlace" error.  We have worked around it by omitting mipmaps for those.  But it would be nice to understand why this problem occurred and how we could get around it if we need to mipmap those image

[2020-01-10 20:44] samreid opened #832 "String handling for ES6 modules"
While @jonathanolson and I were collaborating on https://github.com/phetsims/chipper/issues/820, we recalled that our current build process tracks exactly which strings are loaded by each sim.  For instance, only some "scenery-phet" strings are used by "natural selection".  This information is used to present a pruned list to the translator.

In moving forward with ES6 modules, we could save time

[2020-01-10 20:52] samreid opened #833 "How to support ifphetio functionality in ES6 modules?"
How to support ifphetio functionality in ES6 modules?  From https://github.com/phetsims/chipper/issues/820, @jonathanolson and I discussed that perhaps ES6 module import may help, and webpack says it has a code splitting feature that can generate different bundles based on dynamic imports.  @jonathanolson would like to research this further.

[2020-01-10 20:57] samreid commented on #833
Also, how can we load different brands from the brand repo?  Would that leverage the same solution as we develop for ifphetio?

[2020-01-10 21:15] samreid opened #834 "Do we want to output the image/sound/text *.js files adjacent to their sources, or in some other directory?"
Do we want to output the image/sound/text *.js files adjacent to their sources, or in some other directory?

From #820, would have a new precompilation step which generates JS for PNG, JPG, WAV, MP3, Strings, etc.  In the first draft, they are outputted adjacent to their original files, like:

[code]
etc

Keeping related files adjacent and using suffixed served us well for IO types and Test files,

[2020-01-10 22:40] samreid commented on #834
Brainstorming for the sake of completeness.  Files such as *.PNG files wouldn't be needed at all at runtime, so maybe we wouldn't need to check those in at all?  So instead of checking in AI + PNG + JS, we would just check in AI + JS?  Perhaps the same would apply to audio.  But right now modulify is set up around converting PNG to JS, and it doesn't know (and shouldn't know) how to parse AI.

[2020-01-10 22:51] amanda-phet commented on #831
When I export images I see this dialog.
![image](https://user-images.githubusercontent.com/7852916/72191893-f7104f00-33c0-11ea-812b-cea9e60f7c1d.png)

Maybe "interlaced" was checked when I exported those? I don't recall checking that intentionally but it could have happened.

Should I re-export those image and hand them over to you to see if that fixes the problem?

[2020-01-10 23:02] amanda-phet commented on #831
![bunny-brownFur-floppyEars-longTeeth](https://user-images.githubusercontent.com/7852916/72192323-7ce0ca00-33c2-11ea-8c23-5183e1fab2cf.png)

I exported this without that checkbox checked, but I didn't verify that the dimensions match what is being used in the sim. Hopefully this is enough to at least help uncover the problem!

[2020-01-11 16:42] pixelzoom commented on #831
Nothing for me to do here, and it looks like @amanda-phet has provide what's needed to test. So back to @samreid.

[2020-01-13 00:21] zepumph commented on #798
For `stripEmbeddingMarks `, @jessegreenberg how do you think we should target this? We could for now put it in two places (one in utterance queue and one in scenery) with TODOs pointing to this issue.

I didn't make a patch, but I did a bit of investigation. This would involve adding phetcommon as a dependency to utterance queue (which feels fine to me) and to scenery (not sure about this one).

H

[2020-01-13 19:13] samreid commented on #831
I downloaded the PNG linked in https://github.com/phetsims/chipper/issues/831#issuecomment-573239412 and the mipmap plugin was able to load it.  According to https://graphicdesign.stackexchange.com/questions/6677/what-does-the-interlaced-option-in-photoshop-do, image interlacing is to initially show a degraded version of the entire image, and enhance it during download, and "Interlaced will almost

[2020-01-15 20:57] amanda-phet commented on #831
I just exported the same bunny at medium resolution, but the second with interlaced checked.

Non-interlaced: 8 kb
Interlaced: 12 kb

[2020-01-15 23:28] zepumph commented on #823
Implemented above.

[2020-01-15 23:28] #823 closed

[2020-01-16 04:29] samreid commented on #831
I used chipper/webpack with `grunt modulify` to test which images could not be loaded via the mipmap plugin, and here is the list:

[code]

This is likely (but not guaranteed) to be due to interlacing problems.  Assigning to @ariel-phet to coordinate with designers/artists to:

* regenerate these files without interlacing
* disseminate the information to our artists/designers that interlacing is n

[2020-01-16 05:46] zepumph commented on #830
Yes this is how I wrote it. see https://github.com/phetsims/chipper/issues/763. I didn't love this solution, but I felt like it was preferable to keep that console log in than to touch the console log, and lose that info in `updateCopyrightDate`.

Ways to proceed here:
1. Leave it as is, and note that it prints this because of the limitation of how the config template is filled in, like @samreid m

[2020-01-16 17:42] samreid commented on #831
Reassigned to @amanda-phet to regenerate the images.  After that's done, I'll confirm they work with the mipmap plugin.

[2020-01-16 17:53] pixelzoom commented on #830
My vote is for option 3.

But I'm a little confused by the relevant code in generateConfig.js:

[code]

It says "If we get here", but it sounds like @zepumph implemented this in a way that we _always_ get here.

[2020-01-16 19:32] pixelzoom commented on #830
1/16/2020 dev meeting:

If we need to stick with a workaround, consensus was that option 3 is the lesser of evils.  But @samreid mentioned that the preferred solution would be to generate config.js with the correct copyright date.  @zepumph can you comment on why this was not one of the options, and provide an estimate to do this?

Unlabeling for dev meeting. @zepumph and I will iterate.

[2020-01-16 20:30] samreid commented on #834
In today's meeting, we agreed it makes sense to output these files adjacent to their sources.

@pixelzoom asks: Would the license.json file need to be changed?

We could add a rule that ignores *.js files in directiories with license.json.  And makes sure *.js have corresponding non-js files.

@samreid asks how to keep fast searches with all of these new files?

It was recommended to add a filter

[2020-01-16 20:37] pixelzoom commented on #834
If I have images/floppyEars.png and images/floppyEars.js, with a license.json entry for foo.png, then `grunt` fails:

[code]

[2020-01-16 22:56] amanda-phet commented on #831
@samreid I committed the new images.

[2020-01-16 23:39] samreid commented on #831
Thanks, I confirmed this fixed the problem for all the rabbits.  Can you please also address the wolf and dog images?  They are the last two in this list: https://github.com/phetsims/chipper/issues/831#issuecomment-574976775

[2020-01-17 16:46] amanda-phet commented on #831
Yes, apologies for missing those. I've fixed those images as well.

[2020-01-17 18:28] chrisklus opened #835 "no examples of eslintrc for subdirectory"
When working on https://github.com/phetsims/phet-io-wrappers/issues/292, @samreid and I were removing usages of `phet-io-wrappers/studio`, and noticed this note in eslint/README.md:

[code]

We remember working with this pattern at some point, but there is no longer a sub directory eslint file in the project (that we can find) that we can give as a replacement example. Should we remove this text b

[2020-01-17 21:56] zepumph commented on #830
Sure thing. I will get back to you. Removing "high" priority because this is a cosmetic error as opposed to a bug with the implementation.

[2020-01-17 23:01] zepumph commented on #835
Yeah thanks that is a good point. I updated above.

[2020-01-18 21:13] samreid commented on #831
I tested that all of the new images can be loaded by the mipmap module, thanks!  Closing.

[2020-01-18 21:13] #831 closed

[2020-01-18 21:29] samreid commented on #774
I addressed the number literals in the above commit.  I did not try to address cases like `setAttribute('height',someObject.value)`.  I wasn't sure if some sites should include 'px' or not.  But I tested a few sims and aqua harness and I think this issue can be closed.

[2020-01-18 21:29] #774 closed

[2020-01-19 00:16] samreid opened #836 "For ES6 modules, how should we determine which images to generate mipmaps for?"
For https://github.com/phetsims/chipper/issues/820 in a rough draft, @jonathanolson and I decided to generate preprocessed mipmaps for every image, so the preprocessing step would be simple.  But I'm wondering whether we actually want to generate mipmaps for every image, since that takes time and space, and clutters up the directory.

Should we:
a) generate mipmaps for every image because it's a s

[2020-01-19 04:10] samreid commented on #820
After the commits, acid-base-solutions is nearly linting.

[2020-01-21 20:08] samreid opened #837 "Address lint-everything errors after es6 module migrate"
For #820, after migrate there are several lint errors.  @jonathanolson and I think many of them can be addressed by formatting or minor adjustment in the requirejs side.

[code]

[2020-01-21 22:04] samreid opened #838 "Make it easy to run fast searches"
In https://github.com/phetsims/chipper/issues/834 we decided to output precompiled image and mipmap and string files adjacent to their sources, but this is slowing down my searches substantially.  I tried introducing a new search "scope" in WebStorm, but it is somewhat clumsy for our project structure.

Should we output all generated files (or things that should not be searchable) into repo/genera

[2020-01-21 22:06] samreid commented on #838
Also, we may want to ignore the combined strings file, but not the source string file, so it's not clear how to set up a search ignore pattern that would do that.

[2020-01-22 14:00] samreid commented on #820
I created a planning document here: https://docs.google.com/document/d/1_b8_DBP2Ier4fHkU_osOIjnQ6wdUtyjiifSznEzV4JM/edit

[2020-01-22 16:44] chrisklus commented on #835
Thanks @zepumph, looks good. Closing.

[2020-01-22 16:44] #835 closed

[2020-01-23 01:12] pixelzoom opened #839 "problems with image plug-in and license checks"
I spent about 30 minutes on this issue, and it seems worth attention.

I have images/tenderFood.png, with this license.json entry:

[code]

In a .js file, I used this `require` statement, which is missing the .png suffix.  It worked just fine, that's problem 1.

`const tenderFoodAImage = require( 'image!NATURAL_SELECTION/tenderFoodA' );`

When it was time to build, running `grunt` failed.

If the

[2020-01-23 01:27] pixelzoom commented on #836
I'm not familiar with how you're converting images to .js files.  But could image be a special case of mipmap where levels of resolution is 1 ?

[2020-01-23 02:44] samreid commented on #836
We added a script in chipper's webpack branch, that generates an image *.js and a mipmap *.js for every image in the images directory.  Here's the current working prototype for that: https://github.com/phetsims/chipper/blob/1ebce0c4bb0746caee67acb515678ba8fb69b039/js/grunt/modulify.js#L172-L225

Having images be a special case of mipmap where resolution is 1 wouldn't save much complexity on the pl

[2020-01-23 03:57] ariel-phet commented on #839
Let's try to hit this one quickly at dev meeting and get a volunteer, seems worth fixing if not too difficult to track down the problems.

[2020-01-23 19:54] pixelzoom commented on #839
1/23/20 dev meeting:

We decided to defer this.  If/when we move to ES6 modules, images will be .js files, and this presumably will be a non-issue.

[2020-01-23 20:12] zepumph commented on #836
One issue that discusses use of mipmaps a lot if https://github.com/phetsims/joist/issues/258. Perhaps that would be helpful.

[2020-01-23 20:16] pixelzoom commented on #836
I believe that I've only used mipmap! in function-builder. Issue https://github.com/phetsims/function-builder/issues/4 may or may not document why. If you want to see the results of image! vs mipmap! in function-builder, run with `?testScreen`.  It adds a 'Test' screen that show the results of every image through every filter.  E.g.:

<img width="1021" alt="screenshot_53" src="https://user-images.

[2020-01-23 20:23] pixelzoom commented on #836
I compared image! to mipmap! in function-builder.  In the "Test" screen, I currently see no difference on latest Safari, Chrome, and Firefox on macOS 10.15.2.

[2020-01-23 20:31] jonathanolson commented on #832
We need to identify used strings, we should ideally prune the strings included in a sim to ones that are used, and there's an expressed preference for short and convenient usage of strings (e.g. import a single string file, and use convenient notation to grab strings out of it).

[2020-01-23 22:44] samreid opened #840 "Can we eliminate mipmaps?"
One question that arose from https://github.com/phetsims/chipper/issues/836 was whether we still need to support mipmaps, or whether our supported browsers now render nicely enough that we can use plain images.

Benefits we stand to gain by dropping mipmap support:
* Less code to support and maintain
* Less overhead for image pre-generation, https://github.com/phetsims/chipper/issues/836
* Smaller

[2020-01-23 22:58] jessegreenberg commented on #798
I am a little hesitant to add a dependency to scenery, @jonathanolson how do you feel about adding phetcommon to scenery? I am wondering if this is a PhET specific decision and so shouldn't be in scenery, does this belong in joist?

Just brainstorming alternatives -
 - Is `stripEmbeddingMarks` fast enough to be called frequently on the entire PDOM, like every step or something? Likely not.
- Perha

[2020-01-23 23:09] jessegreenberg commented on #798
I asked @jonathanolson over slack and he said making phetcommon a scenery dependency was workable, or alternatively we could move `stripEmbeddingMarks` to phet-core.

@zepumph of options so far do you have a preference? Thoughts on if this should be in scenery or joist? I don't feel strongly.

[2020-01-23 23:12] zepumph commented on #795
I wonder if we should hold off on this until es6-modules are worked out. Perhaps it doesn't make sense to put extra burden on that process (since a11y strings are so plentiful).

[2020-01-23 23:13] jessegreenberg commented on #798
`stripEmbeddingMarks` is only used in one spot in PhetMenu right now, my preference is to move the function to phet-core.

[2020-01-23 23:35] samreid opened #841 "branch: omit-mipmaps"
For https://github.com/phetsims/chipper/issues/840

[2020-01-23 23:52] samreid commented on #840
I published dev.1 of Function builder for reference, it contains mipmaps as usual.
https://phet-dev.colorado.edu/html/function-builder/1.2.0-dev.1/phet/function-builder_en_phet.html

I tried using the strategy @zepumph indicated to point mipmap to use the image plugin, so it would address common code mipmaps easily, but it failed to load for unknown reasons.  Instead, for the upcoming test, I swit

[2020-01-24 00:07] samreid commented on #840
Function builder is ready for testing.  Here's the original version with mipmaps
https://phet-dev.colorado.edu/html/function-builder/1.2.0-dev.1/phet/function-builder_en_phet.html

And the new version without mipmaps.
https://phet-dev.colorado.edu/html/function-builder/1.2.0-dev.4/phet/function-builder_en_phet.html

Our goal is to identify if there are any rendering problems (blurry, aliased, etc)

[2020-01-24 00:45] zepumph commented on #830
I was able to get rid of the console logging in `grunt update` and `grunt generate-config` in the aboe commit.

Yeah let me explain a bit. To get this to work conditionally we have to see if the file is already checked into github for the "original" date of creation. I remember https://github.com/phetsims/chipper/commit/0792ef142f89471a151d6a1b197b6e4686662bea being quite a bit harder than I origi

[2020-01-24 01:44] zepumph commented on #794
I'm going to unassign this for now, since nothing has happened from eslint just yet. I have no action steps here.

[2020-01-24 01:53] pixelzoom commented on #830
The "preferred solution" referred to in https://github.com/phetsims/chipper/issues/830#issuecomment-575308875 was dev team consensus, so it's not up to me to disagree.  You should probably bring this back to the team, or maybe run it past @samreid who identified the "preferred solution".  I also don't have time to "dive in", but happy to review. That said...

Inspecting the commit, I see that you

[2020-01-24 02:07] zepumph commented on #824
I started down a path that I don't like that much. I'll keep mulling:

<details>

[code]
</details>

[2020-01-24 02:23] zepumph commented on #830
**Simple answer**: The two execute calls will fail out for a certain case, hence the nesting in a try catch.

**Long answer**:
Sorry I didn't explain this clearer. Everything is connected here with (1) and (2). The code you want better doc for is the reason why it is not (in my opinion) a better solution to try to handle this copyright date from the template as opposed to using `updateCopyrightDat

[2020-01-24 04:34] samreid commented on #840
Balancing act looks 12% smaller without mipmaps.

[2020-01-24 19:22] pixelzoom commented on #830
Thanks for updating the doc, and for the clarification. Closing.

[2020-01-24 19:22] #830 closed

[2020-01-24 22:46] samreid opened #842 "ES6 modules should import with filename suffix"
On mac, it seems like filename suffixes are not necessary, but on windows it seems like they are necessary.  And best practice and MDN examples show that we should use suffixes.

[2020-01-24 22:47] samreid commented on #842
Fixed, but I don't have a convenient way to test it on my mac.  @zepumph could you please test this on Windows at your convenience?

checkout "webpack" branch in chipper
grunt migrate
grunt modulify

launch acid base solutions

[2020-01-24 23:16] zepumph commented on #842
I was able to run it with the following additional steps:

1. Add `.js` to `BackboneDrawable` import in Display.js
2. Add `.js` to every import of `LocalizedStringBundle`

[2020-01-24 23:52] samreid commented on #842
Fixed in the above commit, thanks!  Closing.

[2020-01-24 23:52] #842 closed

[2020-01-25 00:03] samreid commented on #832
With the constraints of (a) needing to identify used strings and (b) pruning unused strings, it seems like a natural solution is to try one file/import per string key.  The downsides are: (a) lots of files--one per string key and (b) no convenient usage as described in the previous comment.  But the usage will be equivalent to what we have now (not better or worse).  And maybe it will be OK to hav

[2020-01-25 03:36] samreid commented on #832
After the above commit, there is one string file per key, and translations are read from babel, and it is working in requirejs and built mode.

[2020-01-25 04:04] samreid commented on #832
I tried `webpack --display-modules` and selected the lines with /strings/ to see all the strings loaded by acid-base-solutions:

[code]

So I think this process will work without much trouble.  I'm unclear on how this is consumed by rosetta, so it would be good to get help on that part.  But I think the build process adds a list of the string keys to the built sim.

[2020-01-25 04:20] samreid commented on #834
In https://github.com/phetsims/chipper/issues/834 it made sense to output the strings in another directory.

[2020-01-25 18:09] samreid commented on #832
I added structured strings, and tested that it works in friction by using the a11y-strings branch (with master merged in to it), then by adding a Japanese a11y string in babel, and testing in the a11y-view.  It worked great!

[2020-01-25 18:13] samreid opened #843 "Race condition in script loading"
While working on https://github.com/phetsims/chipper/issues/832 in compilation free mode, every so often (say 1/10 times or so), I get an error during start up that says something like "assert not defined" or some other preload global not defined.  I suspect that our code isn't waiting until all other scripts have finished before starting the script type=module part.  We may need to guarantee that

[2020-01-28 04:25] zepumph commented on #798
This is great! Moved to phet-core in the above commit. @jessegreenberg do you want to review?

Should we keep this issue open and unassigned as a child issue for work when we do https://github.com/phetsims/rosetta/issues/221? (I think we should)

Do you want to cherry-pick this workaround into the Molarity rc branch?

[2020-01-28 04:29] zepumph commented on #798
Now that we are covering all the end points, I removed the workaround at the source for a11y strings.

[2020-01-28 04:46] zepumph commented on #798
Actually I could get rid of the utterance queue usage of `stripEmbeddingMarks` because AriaHerald uses AccessibilityUtils.setTextContent.

[2020-01-28 15:51] jessegreenberg commented on #798
These changes are great! I also verified that embedding marks that used to be in a PDOM around translatable strings are no longer there.

Thanks, I will, there are some marks around PDOM strings and it would be beneficial to remove them. Assigning to myself for this.

Yes, sounds good.

[2020-01-28 18:43] jonathanolson commented on #820
## Named exports/imports

For files like DOT/Utils or constants files, I think switching to also support named exports would be ideal. It's possible to have both default and named exports (since the default export literally exports something with the name `default`). Testing shows this works nicely:

[code]

This allows a few different import styles, for example the default still works:

[code]

b

[2020-01-28 19:13] jonathanolson commented on #832
We will want to have a multi-level fallback, e.g. if 'zh_TW' is not available, it will check `zh` before defaulting to the English string.

[2020-01-28 19:26] jonathanolson commented on #832
Discussed approach: regardless of our strategy for imports, we'll still want to enumerate strings, and use getStringMap() and the current phet.chipper.strings for built sims, since including all translations can add 0.25MB and this way will be backwards compatible.

[2020-01-28 19:49] jonathanolson commented on #832
I'd like `grunt update` or modulify to pack the strings (English and translated) into the top-level compilation-free HTML files (e.g. acid-base-solutions/acid-base-solutions_en.html in the repo) in the `phet.chipper.strings` object, so that we can use the same code path for built and compilation-free modes. This will be rosetta compatible, and will allow us to choose how we do imports and used-str

[2020-01-28 20:11] jonathanolson commented on #832
Current major approaches for figuring out which strings were used (and how imports work):

I'm leaning toward the "one import for each string file" method.

## One import for each string file method:

1. Find which string files are used, and which files they're used by.
2. Look up the import names in every usage (e.g. `acidBaseSolutionsStrings`)
3. Find usages in those files to determine used keys

[2020-01-28 20:13] jonathanolson commented on #832
We should discuss approaches in the developer meeting (still tagged). I believe I should be included in the implementation and discussion. Time estimate depends on the import approach taken.

[2020-01-28 20:19] jonathanolson commented on #832
Once we have a decision (either the one-file import or one-string import methods), JO estimate is 4-6 hours, SR estimate is 4-12 hours.

[2020-01-28 20:56] jonathanolson commented on #843
There is some loading order issue triggering "Uncaught ReferenceError: phetio is not defined" on Tandem.js 317 after migrate, happening randomly, usually on the first load

[2020-01-28 20:56] jonathanolson opened #844 "Supporting multiple brands with ES6 modules"
We recommend combining all the brand code into brand/js instead of scattering to different brand/phet/js brand/phet-io/js etc.  All brands would contain the info for all brands, we would use window.phet.chipper.brand to determine what to show.  If it is important to strip out the phet-io branding or copyright text for phet sims, that can be done as a postprocessing step.  But maybe that won’t be e

[2020-01-28 21:13] samreid commented on #844
@jonathanolson and I didn't get too far on this.  It seems we can combine the code in the brand repo into a single module, but for dealing with phet-io features, we brainstormed:

* dynamic imports
* symlinks
* swapping branches

We think dynamic imports is the most promising, but will need investigation.

[2020-01-28 23:28] samreid commented on #844
What about an alternative approach where we do the following:

* When in phet-io brand, we load an additional `<script type=module>` with an entry point of `phetioEngine`.  This script is not loaded when in phet brand.
* Instead of the ifphetio! plugin, we access `phetioEngine` or other class from the namespace to get sim code => phet-io access (around 20 occurrences)
* phet-io code can still acce

[2020-01-29 00:48] samreid commented on #833
We'll cover this in #844, closing.

[2020-01-29 00:48] #833 closed

[2020-01-29 03:23] ariel-phet commented on #840
@KatieWoe could you test the sims in https://github.com/phetsims/chipper/issues/840#issuecomment-577936423

Basically we want to know if compared to the published sim the sims tried without mipmaps show any significant degradation of image quality (it will usually look pixelated/jagged edges in some way). The 3 sims should be tested on all supported platforms. The test can cease if even one case i

[2020-01-29 04:55] zepumph commented on #798
Once review is complete we can demote priority and mark https://github.com/phetsims/chipper/issues/795 off hold.

[2020-01-29 23:13] samreid commented on #844
Another strategy that simplifies our import statements: Basically, for compilation-free mode, we would always import modules from phet-io in the standard way.  import phetioEngine from '….'.  For phet-io builds, everything is fine.  For phet-brand builds, we `git checkout stubs` branch from the phet-io repo.  Or we swap paths using a webpack magic switcheroo step.

[2020-01-30 02:19] zepumph commented on #844
@samreid, @chrisklus and I spent a fair bit of time today looking into dynamic import statements. We created small test cases and were able to get webpack to build them. They involved having two simple files, `js.js` and `js2.js` that had `export default {{your string here}}`. These test cases all worked:

<details>

[code]
</details>

We discussed and debated briefly the pros and cons to using dy

[2020-01-30 02:24] zepumph commented on #844
Oh and here is a snippet that could work in SimLauncher, basically we could make `phetioEngine` the single entry point for all things PhET-iO, and have `phetioEngine.initialize` call `phetioCommandProcessor`, `dataStream`, and (maybe) `Tandem` initializations.

in SimLauncher maybe?
[code]

[2020-01-30 02:47] samreid commented on #836
We discussed this at the previous developer meeting.   The consensus was that we would add a command line program to generate the mipmap *.js for an image.  Then `grunt modulify` would detect the presence of a mipmap file to decide whether to regenerate it.

[2020-01-30 02:55] samreid commented on #837
Please also see the TODO marked in webpack.config.js

[2020-01-30 15:26] samreid opened #845 "Investigate hot module replacement and live reloading for fast iteration"
From #820, using ES6 modules we can use the following iteration features:

* Live Reloading, which automatically refreshes the browser on code changes
* Hot Module Replacement, which maintains state in the simulation and allows you to change code as you develop

For this investigation, we should look into webpack-dev-server and parcel for both live reload and hot module replacement.

The goal is t

[2020-01-30 16:13] jonathanolson commented on #844
Why would this require polyfilling Promise? (And what platform supports dynamic imports but doesn't support Promises?)

[2020-01-30 16:49] KatieWoe commented on #840
- [ ] iPhone
- [ ] iOS 9
- [ ] iOS 10
- [ ] iOS 12
- [ ] iOS 13
- [ ] Mac 10.10 Safari
- [ ] Mac 10.11 Safari
- [ ] Mac 10.11 Chrome
- [ ] Mac 10.12 Safari
- [ ] Mac 10.12 Chrome
- [ ] Mac 10.13 Safari
- [ ] Mac 10.13 Chrome
- [ ] Mac 10.14 Safari
- [ ] Mac 10.14 Chrome
- [ ] Mac 10.15 Safari
- [ ] Mac 10.15 Chrome
- [ ] Win 10 IE
- [ ] Win 10 Edge
- [ ] Win 10 Firefox
- [ ] Win 10 Chrome
- [ ] Ch

[2020-01-30 18:19] samreid opened #846 "Take migration for a test drive"
From the migration roadmap:

(JO, ALL HANDS ON DECK, 2 hours)[pre-production] Every developer should checkout chipper/webpack and run grunt migrate and grunt modulify and take a look around to see the proposed style, and see if they have recommendations
JO: The following instructions work for me (Wed Jan 29, ~6pm)

* ensure you’ve pulled all, have a clean working copy

cd chipper
git checkout webp

[2020-01-30 19:06] samreid opened #847 "Extra blank line should be eliminated"
From #846 @pixelzoom pointed out there is a spare line:

[code]

[2020-01-30 19:07] samreid opened #848 "Separate namespace.register and "inherit" calls from export default."
From #846 @pixelzoom pointed out we should separate the `namespace.register` from the `export default`.

[2020-01-30 19:12] samreid commented on #844
In #846 @pixelzoom pointed out that adapted from phet and phet-io did not migrate.

[2020-01-30 19:19] zepumph opened #849 "migrate can't handle require statements in logic"
During dev meeting today we found that the migrate doesn't handle require statements that are in logic, here is a list of sims with that:

* test files like QSM, utterance-queue, phet-io-wrappers

search for "&nbsp;&nbsp;require"
- [x] arithmetic (LevelSelectionNode.js) @jbphet
- [x] circuit-construction-kit-dc-virtual-lab (circuit-construction-kit-dc-virtual-lab-main.js) @samreid
- [x] energy-for

[2020-01-30 19:20] pixelzoom opened #850 "issues in other repos that need to be completed before migrating to ES6"
Since other repos don't have the "chipper:es6-modules" label, @samreid suggested creating this issue to tag in other repos.

[2020-01-30 19:23] zepumph commented on #849
Over in https://github.com/phetsims/area-builder/issues/112 @pixelzoom had a good example of how to change these usages:

AreaBuilderSharedConstants.js:

[code]

This `require` violates PhET conventions and will not be properly handled by ES6 migration tools. You'll need to pull this out into a `const` statement:

[code]

[2020-01-30 19:24] zepumph commented on #849
Labelled as high because this should be done BEFORE the sprint in a few weeks.

[2020-01-30 19:42] pixelzoom commented on #849
@zepumph I don't see ": require" in shred. Can you please identify?

[2020-01-30 19:45] zepumph commented on #849
`AtomIdentifier.js`

[2020-01-30 20:00] chrisklus commented on #832
CM: I like one import but misstyping a key might result in undefined instead of a failure.
  MK: Will strings be a real object, not just an plain js object?
  JO: We can make it fail out

JO: How do we want imports to look?
  CM: I don't care much about the structure of how these look. I don't want to lose validation for string keys.
  MK: There can be 100 a11y descriptions in a file, one import f

[2020-01-30 20:01] chrisklus commented on #844
@samreid and @zepumph are clear on how to proceed, untagging for developer meeting.

[2020-01-30 20:21] pixelzoom commented on #849
@jbphet @chrisklus I did some of the work in your repos, see above commits, please check.

[2020-01-30 21:07] zepumph commented on #844
I poked around investigating dynamic imports more, and found that it is impossible (from what I found) to build a single entry point when there are dynamic imports in that module tree.

Thus in our local examples we were always getting more than one output js file.

This to me doesn't automatically feel like a deal breaker, but it will add complexity to the build process depending on how we handle

[2020-01-30 21:24] jonathanolson opened #851 "All require() statements should be migrated"
Notably, we'll want to handle empty require statements, and get rid of this:

[code]

[2020-01-30 21:27] jonathanolson opened #852 "(cleanup after migrate) Standalone builds with modules/webpack"
Build standalone items like dot/kite/scenery/utterance-queue with webpack

 MK: I wasn’t sure what “normal” means now. Likely that means webpack now that we are moving towards that as a project, eh?

We ported buildRunnable, but not buildStandalone. I'll take care of this.

[2020-01-30 21:27] jonathanolson commented on #852
Estimate in doc was 2 hours.

[2020-01-30 21:29] jonathanolson opened #853 "Investigate short relative imports (and add to migrate if desired)"
(SR, 2-4 hours) [DEVELOPER MEETING, sprintable] Decide whether our “relative” imports should go down to the repo, or if we want them to be as short as possible

[2020-01-30 21:30] jonathanolson commented on #838
Estimated 1-2 hours in doc.

[2020-01-30 21:31] jonathanolson opened #854 "Update documentation and checklists for ES6 modules"
From the doc:

(CM, ? hours) [post-publication] Update documentation and checklists.  Anything that refers to requirejs - PhET Developer Guide, code examples, checklists, source-code comments,...

We'll want to do this presumably AFTER we've migrated and committed.

[2020-01-30 21:31] jonathanolson commented on #839
Estimated as 1-2 hours to get the licensing warnings and stuff working (presumably before we migrate fully).

[2020-01-30 21:36] jonathanolson commented on #836
I saw @pixelzoom as marked on the roadmap doc:

Assigning, and also co-assigning as since we have a description, I'm capable of this.

[2020-01-30 21:39] jonathanolson opened #855 "Remove vestigial files after es6 module migration"
From the doc:

(DB, 1 hour) [Sprintable] Delete requirejs *.config files, and check for other cruft
Code that generates these (generate-config) should also be removed
JO: I’d like to review this when complete

Also, see https://github.com/phetsims/chipper/issues/852#issuecomment-582631910 (remove finalizeJS from scenery's package.json)

[2020-01-31 00:44] zepumph commented on #844
Above is a test directory that @samreid and I worked on yesterday and today. The constraints we are shooting for are:

* conditionally omit phet-io code on build (in phet brand don't build with phet-io code)
* don't load phet-io code in uncompiled mode (phet brand)
* one output js file from the webpack step (even though this isn't totally necessary, it is simpler)
* Don't need the phet-io repos to

[2020-01-31 01:07] chrisklus commented on #849
Looks good @pixelzoom, thank you

[2020-01-31 04:18] samreid commented on #849
I did some work in @jbphet @jonathanolson and @chrisklus repos.  Would be good to be reviewed to make sure the pattern is acceptable, though I don't know that it's necessary to verify each string.  Some files had 50+

[2020-01-31 04:19] samreid commented on #846
Test drive was successful, some issues were reported above.  The consensus was that this seems reasonable.  Closing.

[2020-01-31 04:19] #846 closed

[2020-01-31 04:24] samreid commented on #836
Would it be simpler to just mark the images that require mipmapping in the package.json?  Something like this:

[code]

This will leave the modulify step automatic and simplify it somewhat.  It also seems more explicit and direct about which images should be mipmapped rather than relying on a process step.

[2020-01-31 05:12] samreid commented on #837
Everything is complete for this issue except https://github.com/phetsims/perennial/issues/162 which is assigned to @mattpen and this lint error related to #844

[code]

[2020-01-31 05:16] pixelzoom commented on #836
How about simply putting PNG files in separate directories, depending on whether we want an image or a mipmap? I.e. {{REPO}}/images/ and {{REPORT}}/mipmaps/.

[2020-01-31 05:18] samreid commented on #836
That's even better, thanks!

[2020-01-31 05:22] samreid commented on #837
The latter error may require upgrading eslint to 6.2+, see https://github.com/eslint/eslint/releases/tag/v6.2.0

[2020-01-31 13:34] samreid opened #856 "Upgrade to latest version of eslint"
From https://github.com/phetsims/chipper/issues/837#issuecomment-580585200, we are considering using dynamic imports for some PhET-iO features, like so:

[code]

The version of eslint we are on `~5.14.1` shows this error:

[code]

Note this error is a parsing error and cannot be disabled via `eslint-disable`.

Eslint is currently at version: 6.8.0 and picked up support for dynamic imports in 6.2+,

[2020-01-31 13:54] samreid commented on #837
Remaining issues tracked elsewhere, closing.

[2020-01-31 13:54] #837 closed

[2020-01-31 13:58] samreid commented on #856
After updating package.json to `"eslint": "^6.8.0",` and patching the recommended rules which changed in 6.0.0,

[code]

I'm running into this problem:

[code]

I noticed @chrisklus worked on https://github.com/phetsims/binder/issues/26, can you please help?

[2020-01-31 14:18] samreid commented on #856
There's also this error message, it seems the plugin resolution path `resolvePluginsRelativeTo` is wrong (one too high?)

[code]

[2020-01-31 15:42] jonathanolson commented on #832
Useful information from the planning doc:

[2020-01-31 15:50] pixelzoom commented on #836
My role was "input", so self-unassigning.  Let me know if you need any more input.

[2020-02-01 00:26] zepumph commented on #832
@jonathanolson and I met today to discuss a game plan for moving forward. Here is the outline for the current thought.

## General outline
* modules load strings in the same way for build and compilation free
* before the modules are loaded, `phet.chipper.strings` is populated with all strings that the sim will ever need.
* There is one string file per repo that is loaded, like `joistStrings.js`,

[2020-02-01 20:28] samreid commented on #856
I found a new option that must be specified in the CLI:

[code]

After that, lint-everything is working nicely, and binder lints correctly.  I'll commit shortly and notify the dev team to update their node_modules.  I don't know if npm update is automatic an CT, but I'll ask.

[2020-02-01 20:32] samreid commented on #856
I messaged on Slack:

[2020-02-01 20:32] #856 closed

[2020-02-01 21:00] samreid opened #857 "ESLint parsing failure for dynamic import"
As described in https://github.com/phetsims/chipper/issues/837#issuecomment-580585200, lint fails to parse dynamic imports, even after upgrading to 6.8.0 in #856.  This problem is described here https://stackoverflow.com/questions/36001552/eslint-parsing-error-unexpected-token and https://stackoverflow.com/questions/47815775/dynamic-imports-for-code-splitting-cause-eslint-parsing-error-import and

[2020-02-01 21:02] samreid commented on #857
Even when I ran with caching enabled, it still took 6 minutes to `lint-everything`

[2020-02-01 21:23] samreid opened #858 "Migrate and modulify should operate on one repo"
Currently sim and common code lists are duplicated across migrate and modulify.  It would be better if they just operate on the selected repo, and we can batch across using the `for-each.sh` script.

[2020-02-01 21:25] samreid commented on #858
After this change, you can use commands like:

[code]

[2020-02-01 21:26] samreid commented on #858
I notified slack about this change, closing.

[2020-02-01 21:26] #858 closed

[2020-02-01 21:31] samreid commented on #847
Fixed, closing.

[2020-02-01 21:31] #847 closed

[2020-02-01 23:15] samreid commented on #853
Fixed and working well on my side. @zepumph are you available to test this on windows?  You could do something like the following:

cd chipper
git checkout webpack
git pull
cd ../acid-base-solutions
grunt migrate

and see if the relative paths in acid-base-solutions/js/acid-base-solutions-main.js are correct (and it doesn't crash doing path ops during migrate).

The result on my side is:
[code]

[2020-02-02 04:31] samreid commented on #848
Ideally we would do the same with inherit statements, but we IDE support for that may be limited anyways because `inherit` is our own invention.

[2020-02-02 04:41] samreid commented on #848
I wonder if it may be easier to do this in master and guard against it with a lint rule.  I also noticed several cases where variables were being created inline like so:

[code]

[2020-02-02 05:13] samreid commented on #844
I'm not convinced that's ideal.  That would mean always bundling the phet, adapted-from-phet and phet-io into the builds, and decoding all of those mipmaps on startup.  It would also mean the phet-io copyright text would appear in the body of the phet-io brand sim, which would not be ideal even if it is acceptable.  Maybe we should use dynamic imports for these parts too.

[2020-02-03 19:15] samreid opened #859 ""@param {Object} options" and "@param {Object} [config]" should be bad-text"
From slack:

Sam Reid:house_with_garden:  11:57 AM
Anybody else think @param {Object} options should be bad-text?

Michael Kauzmann  11:57 AM
What should it be instead?

Chris Malley  11:57 AM
@param {Object} [options]

Michael Kauzmann  11:58 AM
Oh I like that!

Chris Malley  11:58 AM
Similarly, shouldn't @param {Object} [config] be bad-text?  I see it 6 times.
:+1:
1

11:59
If it's a config, the

[2020-02-03 19:21] samreid commented on #859
I was going to take a look at this, but saw too many occurrences of documentation indicating that an options object is actually required.  Those cases should be converted from `options` to `config`.  This issue will require the following steps:

* Looking through occurrences of `@param {Object} options` to see which ones should be converted to config.  This is sometimes indicated in a comment to t

[2020-02-03 19:27] pixelzoom commented on #859
I fixed all occurrences that I was responsible for, see above commits.

That still leaves 200+ occurrences, mostly of '@param {Object} options'.

[2020-02-03 19:32] samreid commented on #859
I fixed the occurrences I was responsible for as well.

[2020-02-03 21:33] samreid opened #860 "Make sure unit tests run in ES6 modules"
I was reminded by https://github.com/phetsims/phet-io/issues/1512 that we discussed the need for qunit tests to run with es6 modules.

[2020-02-04 03:37] chrisklus commented on #856
Sorry I didn't get to this in time, glad you found the solution.

[2020-02-04 20:19] ariel-phet commented on #859
@Denz1994 is willing to tackle this. Since a shorter project, marking as medium priority, would be good to try to get done in the next two weeks or so.

[2020-02-05 20:21] jonathanolson commented on #851
Done!

[2020-02-05 20:21] #851 closed

[2020-02-05 21:33] Denz1994 commented on #859
Changes above include:
- Replacing `@param {Object} options` with `@param {Object} [options]`
- Replacing `@param {Object} [config]` with `@param {Object} config`
- Bad-text.js rule to warning of the two bullets above
- Renaming options to config as I came across documentation that indicated required fields in `option` objects
- I only saw one case of `@param {Object} [config]` in `PieceNode.js` a

[2020-02-05 21:49] pixelzoom commented on #859
@Denz1994 I took a quick look.  Generally looks good.  But in the PieceNode.js change (https://github.com/phetsims/fractions-common/commit/98b3fa5744f60b55c767faa0c84c7bd76166222d), it's nice that the type expression is now correct, but there's nothing that actually makes the `config` required.  `required` needs to be used for the required `config` field.   Ditto for many (all?) of the cases were

[2020-02-05 21:55] jonathanolson commented on #852
We'll want to remove the finalizeJS entry from scenery (once migrated), keeping open for that but unassigning.

[2020-02-05 21:56] #852 closed

[2020-02-05 21:59] jonathanolson commented on #849
least-squares-regression looks good, thanks!

[2020-02-06 01:59] zepumph commented on #853
My acid-base paths look like they are using backslash instead of forward slash:

From ABSControlPanel:
[code]

Furthermore It looks like there is an extra set of relative dots, as `ViewControls.js` is a sibling to `ABSControlPanel.js`

[2020-02-06 03:19] chrisklus commented on #849
Dang, I missed that I still had a file left. Thanks much @samreid, looks good.

[2020-02-06 16:13] jessegreenberg commented on #798
This has been cherry-picked into molarity rc branch.

This is on hold now until i18n for a11y strings is supported.

[2020-02-06 16:15] jessegreenberg commented on #795
https://github.com/phetsims/chipper/issues/798 (directional formatting issue) has a workaround and so it no longer blocks this issue.

[2020-02-06 17:00] zepumph commented on #795
Right! I think though that there are two things that should keep this issue on hold:

* Waiting for molarity to be published to ensure that rosetta is set up and working well for this
* Perhaps knowing more about how strings will work with the new es6 modules, because I'm unsure about is we are even keeping the en.json files.

[2020-02-06 17:30] samreid commented on #751
To make it possible to edit .git/hooks in WebStorm, I went to Webstorm => Preferences => Editor => File Types => Exclude (GitExclude) and removed `.git`.  This shows "pre-commit" as a committable file though, so may need to be toggled off.

[2020-02-06 17:36] samreid commented on #751
Next I added `grunt lint` to the pre-commit file.  With this checkbox checked:

![image](https://user-images.githubusercontent.com/679486/73962640-06a18b80-48cc-11ea-9ef3-6f76b2a30775.png)

Commit took around 3 seconds and reported this error:
![image](https://user-images.githubusercontent.com/679486/73962701-233dc380-48cc-11ea-8c86-8d22482a9d94.png)

With the checkbox unchecked, I am able to comm

[2020-02-06 18:18] jonathanolson commented on #844
Also for reference, the notes from the planning doc (so we don't lose that):

We recommend combining all the brand code into brand/js instead of scattering to different brand/phet/js brand/phet-io/js etc.  All brands would contain the info for all brands, we would use window.phet.chipper.brand to determine what to show.  If it is important to strip out the phet-io branding or copyright text for ph

[2020-02-06 18:29] jonathanolson commented on #843
There looks like a way to restructure the template so that this works, but I haven't run into a failure recently. Dynamically adding the script with the module tag (with loadURL) in the dev HTML seems like a natural approach.

[2020-02-06 18:32] jonathanolson commented on #843
The above should fix it, I'll reopen if I see it.

[2020-02-06 18:32] #843 closed

[2020-02-06 18:41] jonathanolson opened #861 "Migrate node.js or wrapper code to ES6 modules"
We should investigate what is possible. Node 8.9.0 I think added support under an experimental flag, and Node 13+ looks like it includes it by default, so we may need to bump our node.js version for supporting this.

Entry from the planning doc:

MP: I could look into the build-server after the initial project is complete. The code navigation benefits seems like a worthwhile improvement.
MK: phet-

[2020-02-06 18:44] jonathanolson opened #862 "File name extensions for es6 modules: .js or .mjs"
From the planning doc:

SR: See https://nodejs.org/api/esm.html for documentation about using import/export in Node (This may be experimental)
JO: Any objections to having all files end in .mjs?
CM: Would WebStorm know how to create .mjs files with .js templates. I don’t want to lose the ability to quickly create new files via templates.
JO: Let’s have someone look into WebStorm support
MK: All of

[2020-02-06 18:48] jonathanolson opened #863 "Formatting for es6 module imports"
Came up in discussion in the planning doc:

SR/JO: That doesn’t seem useful anymore.
MK: why is this different from other comments like strings or text or mipmaps?
JO: We should discuss how we want to organize/sort/comment imports. This can change once we get used to the new system/style

So, do we want to keep the separate sections? I'm fine with that, and our current migrate results in:

[code]

[2020-02-06 18:49] jonathanolson commented on #863
I believe this can be included in the same issue:

SR: The autofix function doesn’t change line order, maybe we should update our own tooling
JO: Presumably would delete insertRequireStatement code, and figure out Intellij/Sublime ways
JO: I’d like to investigate Sublime tooling, and compare with Intellij
SR: Sublime seems to have a plugin https://github.com/unlight/sublime-import-helper

[2020-02-06 19:08] jonathanolson commented on #853
I'm curious about how Mac-specific our current migrate.js is? I see things reconstructed `\n` as newlines, and the path logic might need to be changed for this.

The results of this are working well for me, and I've extracted it out into a shortenImportPath function.

[2020-02-06 19:25] mattpen commented on #861
Both of our servers (bayes and phet-server) are using node v10.16.3.  This is the previous LTS (current LTS is 12).  I've tested ES6 imports with the flag and they work as long as files are named with the `mjs` extension.

[2020-02-06 19:32] jonathanolson opened #864 "Investigate live reloading / hot module replacement / webpack-dev-server"
For es6 modules, it would be good to see if webpack-dev-server can create faster iteration times.

JO: Unclear whether single entry point vs multiple vs all (sims) would be best

[2020-02-06 19:35] jonathanolson opened #865 "Replace live namespace checks with lint rules"

[2020-02-06 19:37] jonathanolson opened #866 "Investigate cache busting with es6 modules"
Likely will deal with web server settings (I'm familiar enough to handle Apache, but not sure what other servers our devs are using).

JO: We can address this with web server settings potentially
SR: See https://stackoverflow.com/questions/47675549/how-do-i-cache-bust-imported-modules-in-es6
JO: We would need to find out what server each team member is using.
JO: We should check phettest.colorado.

[2020-02-06 19:38] jonathanolson opened #867 "Initial QA checks on es6 module migrated built sims, to make sure we aren't breaking things"
From the doc:

We should have a QA cycle testing some of the migrated sims so we can make sure everything is working across our platforms.

[2020-02-06 19:39] jonathanolson opened #868 "Using source type module for dynamically loaded code for es6 modules"
Search every place we are using the requirejs harness and update them.  For instance, there are 24 occurrences of "config.js" src="../../sherpa/lib/require” which should be revised.  Some of them could be deleted.

[2020-02-06 19:39] jonathanolson commented on #868
This was done, wanted to mark doc things.

[2020-02-06 19:39] #868 closed

[2020-02-06 19:41] jonathanolson opened #869 "Move ES6 module TODOs to issues"
From the doc:

SR: Most of these can transform to other issues

[2020-02-06 19:42] jonathanolson opened #870 "Linting in ES6 modules"
From the planning doc:

AP: Maybe MK doesn’t need to take the lead on this.
DB: I could help on this part

[2020-02-06 19:51] jonathanolson opened #871 "Cyclic dependencies in es6 modules"
What to do with this pattern and cycles in general? window.require = function(){}; // TODO: https://github.com/phetsims/chipper/issues/820 this supports like require( 'DOT/Utils' ); in Vector2
JO: Cyclic dependencies in our classic style look fine. See https://github.com/phetsims/chipper/issues/820#issuecomment-579395283 for details, use empty imports (import ‘../repo/js/Blah.js’) if we just need

[2020-02-06 19:53] jonathanolson opened #872 "Code review for E6 module work"
Inline templates in modulify should be top level template files
JO: I would prefer `grunt modulify` would just change the repo that it is run in, and it should be included as part of `grunt update`

Once things are more solidified, we should review all changed chipper files and make sure they are up to our standards.

[2020-02-06 19:54] jonathanolson opened #873 "Best practices for ES6 modules"
From the planning doc:

JO: I believe named exports are useful and ideal in cases of “utils” and “constants” files, recommendations in https://github.com/phetsims/chipper/issues/820#issuecomment-579395283, but the rule will be to use export default and import default.
Investigate new lint rules such as https://github.com/benmosher/eslint-plugin-import

I think this is some time generally looking a

[2020-02-06 19:55] jonathanolson opened #874 "Get aqua passing for es6 modules"
From the planning doc:

SR: Many are failing due to the race condition mentioned in https://github.com/phetsims/chipper/issues/843.  Others are failing from miscellaneous parts that haven’t been migrated correctly or fully.

[2020-02-06 19:57] jonathanolson opened #875 "ES6 migration steps"
From the planning doc:

[2020-02-06 20:08] jonathanolson commented on #871
Handled, we're now uncommenting those require statements and it's working nicely.

Keeping open to handle cleanup after full migrate, but dropping priority.

[2020-02-06 22:44] zepumph opened #876 "Allow console.log statements in production build with lint?"
Promoting TODO to issue from .eslintrc.js:

[code]

I think it initially sounds reasonable to try to remove these on production, but perhaps it isn't even worth investigation, since it seems to not be needed.

The TODO was added back when eslint was first added in 2015: https://github.com/phetsims/chipper/issues/235.

Personally I don't think it is a needed distinction. @samreid can you please com

[2020-02-06 22:47] zepumph commented on #526
`findDuplicates.js` has a todo that I'm linking here:

`// TODO: Looks like a decent amount of cleanup in this file. Not up to standards yet`

[2020-02-07 02:18] samreid commented on #876
I recommend we forbid console.log statements in RCs and production versions.  But since it could be useful to commit these for development, maybe it is better as a QA RC checklist item than a lint item?

[2020-02-07 04:55] pixelzoom commented on #854
Deferred until ES6 migration has occurred.

[2020-02-07 04:56] pixelzoom commented on #872
Deferred until there's something specific to review.

[2020-02-07 04:56] samreid commented on #875
Placing on hold until we are ready to run the migration step.

[2020-02-07 21:13] zepumph commented on #751
@samreid have you found an easy way to have all repos use a git hook for lint?

[2020-02-07 21:36] samreid commented on #751
I haven't worked on that aspect yet.

[2020-02-09 18:34] jonathanolson commented on #832
We have multiple strings that seem to prevent the naive "object access" approach:

[code]

For example, `VEGAS/label.score` will need to have `vegasStrings.label.score` return a string, however `VEGAS/label.score.max` would need `vegasStrings.label.score.max` return a string (which won't work, since we can't set keys on a string).

[2020-02-09 19:10] jonathanolson commented on #832
I'm very curious in whether https://github.com/phetsims/chipper/issues/832#issuecomment-583877692 is a problem (we can either rename strings, or we can ditch that approach and go for another style of grabbing strings).

An additional thought is that since all of our string loading is now outside of the import system, it would be possible to grab strings through globals, e.g. `phet.chipper.getStrin

[2020-02-10 15:16] jonathanolson commented on #834
I was assigned, but I'm not sure what I should be doing here. @samreid can you clarify?

[2020-02-10 16:08] jonathanolson commented on #863
Webstorm supports this style of formatting out-of-the-box, where the paths seem to be lexicographically sorted, e.g.:

[code]

However this is after removing line comments. If you start with the following:

[code]

and use Intellij's format (control-option-O on mac), you get this:
[code]

which is clearly less than ideal (for sectioning our imports). So either we'll presumably want to go with no-c

[2020-02-10 16:10] jonathanolson commented on #863
Another solution could be either updating our sortRequireStatements script, or using a 3rd party code formatter that might be able to handle this (see https://github.com/phetsims/chipper/issues/761).

[2020-02-10 16:45] jonathanolson commented on #860
We still need to get phet-io-wrapper unit tests working.

[2020-02-10 17:43] samreid commented on #834
The remaining work for this issue is identified in https://github.com/phetsims/chipper/issues/834#issuecomment-575335541, for anyone that wants to work on it.

[2020-02-12 18:26] Denz1994 commented on #859
I've addressed the required config fields using `PHET_CORE.required()` in the config field. Other config objects had the required field verified via an `assert` statement (see `NucleusSpaceNode`).

Looking at `NucleusSpaceNode` the assertion comes before the `merge` so it only considers the passed in config object, not the config object merged in its constructor.

I don't know if this was intentio

[2020-02-12 22:19] pixelzoom commented on #859
Using `assert` to check for the presence of a required `config` field is a pattern that was used before `required` existed.  If it's not a big task, I think it would be best to replace such `assert` statements with `required`, so that we're using a uniform pattern in all PhET code.

For example, `NucleusSpaceNode` would change from this:

[code]

to this:

[code]

[2020-02-13 05:39] samreid opened #877 "branch: java"
To support https://github.com/phetsims/special-ops/issues/155

[2020-02-13 19:13] jessegreenberg commented on #874
It looks like https://github.com/phetsims/chipper/issues/843 has been resolved.

[2020-02-13 19:17] zepumph commented on #867
During dev meeting today, we weren't quite ready for this, but we still want this before we flip the switch.

@jonathanolson is shooting for https://github.com/phetsims/chipper/issues/844 to be a bit further on first.

[2020-02-13 19:19] zepumph commented on #867
@samreid recommended a sim that is about to go through RC anyways (like build-a-molecule), as well as something that JUST went through RC, like number-line, to help isolate the effects of es6-module conversion.

[2020-02-13 19:26] zepumph commented on #863
At dev meeting today we decided to sort just like webstorm does automatically. This means we will get rid of `// images`-like comments and have one big block for all imports.

@jonathanolson: we want the comments to be stripped out in migrate. We will also sort the statements in the migrate.

[2020-02-13 20:00] zepumph commented on #832
From developer meeting this week:

* We will investigate renaming those 5 string keys (likely needing @jbphet's help). We will rename with `.text`.
* We will keep importing repo string objects with modules
* We will keep `a11y` in the accessibility strings so that rosetta can continue to ignore them until we support i18n.

[2020-02-13 20:05] zepumph commented on #836
From today's dev meeting, @samreid will refactor mipmaps into their own `mipmaps/` repo on master. That way when we migrate things will already be setup for success. We also discussed pinging about #840 to see if we even need this.

[2020-02-13 20:18] jonathanolson commented on #863
Implemented the handling for imports in migrate. Dropping high priority, will investigate Sublime support.

[2020-02-13 20:47] jessegreenberg commented on #840
As a data point - I last used mipmap for screen icons because they looked fuzzy in Firefox. I just did a side by side comparison changing mipmap with image in Firefox 73 and saw no observable difference.

[2020-02-14 01:57] zepumph commented on #844
In https://github.com/phetsims/phet-io/issues/1619 and https://github.com/phetsims/phet-io/issues/1618 I readied code to try to get rid of the ifphetio! plugin, and limit the entry points into phet-io specific code.

Basically now there is just phetioEngine imported in SimLauncher, and phetioEngine imports everything else, dataStream/phetioCommandProcessor/PhetioStateEngine etc.

I think we are in

[2020-02-14 02:03] zepumph commented on #844
For this issue specifically, @samreid and I met and were able to learn a bit more about eslint and dynamic imports. We found that using the `babel-eslint` parser allows dynamic imports, but we can't use it everywhere because when testing that, lint-everything took over 10 minutes (then I aborted). @samreid said his took 15.

We can still have this work though if we use the `babel-eslint` parser sp

[2020-02-14 02:04] zepumph commented on #857
Tagging https://github.com/phetsims/chipper/issues/857, as that issue is the reason we may have dynamic imports in the future.

[2020-02-14 02:05] zepumph commented on #844
Correction: Over in https://github.com/phetsims/chipper/issues/857 @samreid said it took 6 minutes.

[2020-02-14 18:35] jessegreenberg commented on #840
In https://github.com/phetsims/joist/issues/607#issuecomment-586340474

@pixelzoom said

[2020-02-15 13:48] samreid commented on #844
Here's a migrated SimLauncher that uses dynamic imports and waits until it's ready:

<details>

[code]

</details>

To get this to work in Gravity and Orbits, I had to move creation of an instrumented object downstream to after the sim started:

<details>

[code]

</details>

After these changes, the sim launches in standalone mode, datastream mode and runs in studio, with the following problems a

[2020-02-15 13:56] samreid commented on #844
Oh my, WebStorm "auto import" did not include the suffix, so the import statement was:

[code]

This triggered it to load as a different file, when I changed the import to:
[code]

It worked correctly.  I think we discovered in another issue that Windows machines require the suffix, so hopefully we can get Webstorm to auto-import and include the file suffix.

[2020-02-15 14:02] samreid commented on #844
Why is this code in `Brand`?

[code]

[2020-02-15 15:02] samreid opened #878 ""isPhetApp" doesn't belong in Brand"
Discovered in https://github.com/phetsims/chipper/issues/844, one of the brands has this code:

[code]

Whether the sim is running in the app or not is orthogonal to its "brand", so this should be moved elsewhere.

Marking as high since this should be addressed before the ES6 migration.

[2020-02-15 15:05] samreid commented on #878
Fixed in the above commits.  I'm not sure how to test this in the app contexts, so I'd like to request a careful review from @mattpen.  Marking as blocks publication until reviewed so we can make sure no bugs creep into the new sim publications.

[2020-02-15 15:27] samreid commented on #844
I have significant working copy changes for this, please communicate with me if you want to proceed and I haven't committed yet.

[2020-02-15 16:47] samreid commented on #844
It seems the babel-eslint parser needs to be specified adjacent to where the npm install happens, so in the package.json:

[code]

I'll need to check whether we need one or both of these in joist/package.json.

[code]

[2020-02-15 17:09] samreid commented on #844
The reference at `https://github.com/babel/babel-eslint/issues/788#issuecomment-571925824` shows how to use a path for parser.

[2020-02-15 17:18] samreid commented on #844
I messaged on Slack:

[2020-02-15 18:05] samreid commented on #844
When I used the stub, it looks like webpack put in 2 copies of it.  Will it put 2 copies of phetioEngine as well?

[2020-02-15 18:18] samreid commented on #844
After the commit, phet build uses the stub and contains no phet-io code.  phet-io brand contains the phet-io code, and both run nicely.  However, when deleting the phet-io repo, and running `grunt --brands=phet`, there is an error:

[code]

[2020-02-15 19:10] samreid commented on #844
Working nicely after the commit!  Whew.

[2020-02-15 19:41] samreid commented on #844
Some changes in master warrant review before publication, particularly SimLauncher and its "dynamic modules".

[2020-02-15 20:08] samreid commented on #844
I still have some unpushed changes.  Things are going in the direction but now there's a problem that the string aggregator doesn't know how to traverse dynamic imports, so `getLinks` is failing.  We should just move that out of the dynamic brands probably.

[2020-02-15 22:22] samreid commented on #844
These changes are failing on CT with this error:

<details>

[code]

</details>

On slack:

1:32
Does CT not auto npm update in chipper?

Jonathan Olson  2:04 PM
I thought it did?

Sam Reid  3:17 PM
I thought so too, maybe something else is happening

[2020-02-15 22:24] samreid commented on #844
I can reproduce that problem if I `cd chipper` and `rm -rf node_modules` then delete `"babel-eslint": "^10.0.3",` and `npm update`.  Next we should check if this failed to npm update on bayes.

[2020-02-15 22:41] samreid commented on #844
Looks like I neglected to push a commit, It’s pushed now and I’ll keep an eye on the next columns.

[2020-02-15 23:07] samreid opened #879 "Strings are not loaded for dynamic module"
For https://github.com/phetsims/chipper/issues/844 we would like to load Brands dynamically, like so:

[code]

However, when running that through the chipper build, it failed to find the `joistStrings` which are loaded transitively by brand/phet/js/Brand.js and brand/phet-io/js/Brand.js.  I suspect that the process for harvesting strings during the build doesn't know how to traverse dynamic import

[2020-02-15 23:29] samreid commented on #844
After commits here and in #879, strings are fixed again and the correct text shows in the About dialog based on the brand.  Sims are running in compilation-free and built mode for master, and after migration.  If I delete the `phet-io` repo, I can still launch the sim in compilation free mode and still build the sim and it runs OK.  I do get this warning during the build though:

[code]

Next step

[2020-02-16 04:59] samreid commented on #844
By adding `logo` to `Brand`, there is a problem where there are 25 `phetImages` on startup, then the 26th sneaks in later, after the initial `25` are listened for.  So we have another problem (like the joist strings) where loading dynamically will cause extra complication.  We could update to a pattern where instead of pushing an image into the `phetioImages` array, we immediately add the listener

[2020-02-16 05:01] samreid commented on #844
Is `elementsToRemove` unused?

[2020-02-16 14:18] samreid commented on #853
Can you elaborate on this problem?  Would it cause problems if we commit \n newlines everywhere, or should they be preserved?

Also, regarding the paths in particular, is it workable to leave it as unsimplified paths as we continue developing, then require that Mac be used for the migration step?

[2020-02-16 14:19] samreid commented on #879
I committed a workaround for this, and would love to hear @jonathanolson thoughts about:

(a) whether this is good enough for our initial migration
(b) whether the string harvesting facility should traverse dynamic module imports in the long run, and if, so, how that might work

[2020-02-16 19:39] samreid commented on #836
Here is a list of sims which load the same image as mipmap! and image!.

charges-and-fields
circuit-construction-kit-ac
circuit-construction-kit-black-box-study
circuit-construction-kit-dc
circuit-construction-kit-dc-virtual-lab
expression-exchange
fractions-equality
fractions-intro
fractions-mixed-numbers
molecules-and-light
projectile-motion
states-of-matter
states-of-matter-basics

[2020-02-17 00:47] samreid opened #880 "Mipmaps are applied inconsistently"
Discovered during #840 and #836, I noted our project has inconsistent application of mipmaps.  For instance, in Molecules and Light, infrared-source.png is a mipmap, but infrared-source-off.png is an image.  How can we determine which images should be mipmapped and which should be standard images?

Or shall we postpone discussion of this issue until #840 is complete?

[2020-02-17 00:53] samreid commented on #836
I tested locally in aqua and used `grunt --brands=phet` to detect misplaced  license.json entries.  I messaged on slack:

[2020-02-17 02:52] samreid opened #881 "sim-config.js files should be deleted by migrate"
Can this be done via git so the deletion is a git delete?  Or we can always do this as a follow-up step.

[2020-02-17 02:56] samreid commented on #836
After the above commit, images are output to images/ and mipmaps are output to mipmaps/.  Tested in Balancing Act.  @jonathanolson can you please review at your convenience?

[2020-02-17 16:10] samreid opened #882 "Should we output deprecation warnings?"
Should we add a query parameter like `?deprecationWarnings`, then in deprecated code we could do something like this?

[code]

Then we could add a step to the code review checklist or QA checklist to make sure no deprecated code is used when it shouldn't be.