[2017-06-10 21:15] zepumph opened #583 "Add "email for builds" flag to sim_deployment docs"
It would be nice to add this to the 'before beginning' section so that people know about it.

[2017-06-11 22:58] zepumph opened #584 "Make sure that phet-io builds don't copy over the node_modules from the sonification wrapper"
Currently `wrappers/sonification` is causing errors on the 'clean' task because of something in the node_modules.

[2017-06-11 23:36] zepumph commented on #582
I implemented this with a bitwise XOR operator in the conditional. @jonathanolson would you mind looking over this commit before closing. Or assign to another to check my work. Thanks!

[2017-06-11 23:46] #584 closed

[2017-06-11 23:50] #583 closed

[2017-06-12 16:58] jessegreenberg commented on #576
I tested the above, its working great for me so I committed it.  I also tested pull-all.sh without the parallel option. Thanks @pixelzoom.  @samreid also had a ```wait``` command to let it wait for the background processes to finish, I added that back.  @samreid do you want to review or make sure this works for you?  I am going to delete parallel-pull-all.sh.

[2017-06-12 17:03] jessegreenberg commented on #576
Actually not going to delete ```parallel-pull-all.sh``` yet until those that want the parallel option are comfortable with https://github.com/phetsims/chipper/commit/80ae1f148ad0339588633f85033d1d6a4bb4000d.

[2017-06-12 17:34] samreid commented on #576
From https://github.com/phetsims/chipper/issues/576#issuecomment-307181789

The commits above take pull-all.sh from 23 lines to 51 lines (an addition of 28 lines).  parallel-pull-all.sh weighs in at 28 lines.  Instead of two simple scripts we have one complicated one?  Is simple duplicated code preferable to more complex options parsing code and logic?

Additionally, I prefer to type `para[tab][en

[2017-06-12 17:40] pixelzoom commented on #576
Create a bash alias if this really bothers you.

[2017-06-12 17:49] samreid commented on #576
Thanks @pixelzoom!  I created a new bash alias for `pull-all.sh -p` and it is working great.  The remaining questions for this issue are:

* Instead of two simple scripts we have one complicated one?

* Is simple duplicated code preferable to more complex options parsing code and logic?

* Wouldn't the best way to factor out duplicated logic be for both pull-all.sh and parallel-pull-all.sh to use

[2017-06-12 18:02] pixelzoom commented on #576
51 lines is complicated?  If you'd rather maintain 2 almost-identical scripts, go for it.

Again... complex?  This is bash 101.

If you'd like to rewrite in terms of forEach.sh, go for it.

[2017-06-12 18:07] samreid commented on #576
My alias for `pull-all.sh -p` is working nicely, so I'm fine for parallel-pull-all.sh to be deleted.

I'm still learning bash and not sure what's common knowledge, thanks for helping me learn.

Perhaps some day, but not for this issue.

[2017-06-12 21:56] zepumph commented on #564
marking for status meeting so that we can ask @kathy-phet about is she thinks this is enough of a problem to warrant the time to maintenance release many of our sims for it.

[2017-06-14 15:55] samreid commented on #494
With a bash alias, the recommendation above sounds pretty nice!

[2017-06-14 20:48] pixelzoom opened #585 "grunt help for report-third-party is incorrect"
reportThirdParty.js was changed by @samreid in @70de800, but the corresponding grunt help was never changed.

reportThirdParty.js:

[code]

`grunt --help` (relevant portion of output):

                                   etc) used in a set of PhET simulations by
                                   reading the license information in built
                                   HTML files.

[2017-06-14 20:52] pixelzoom commented on #585
@samreid please review.

[2017-06-15 15:15] mattpen commented on #578
As a future reference for when we upgrade node/npm on phet-server, this is what Mark and I did on phet-server-dev:

1. Run `grep node /etc/yum.repos.d/*` and then move the old repo definition for nodejs out to /tmp.
2. Run `curl --silent --location https://rpm.nodesource.com/setup_8.x | bash -` to setup yum repositories for Nodejs 8.
3. Run `yum clean all`
4. Run `yum install -y nodejs`
5. Verify

[2017-06-15 17:29] samreid opened #586 "Improve development & IDE tools"
@ariel-phet requested this issue to see if we can improve IDE support/etc to speed up our development process.

[2017-06-15 17:31] samreid commented on #586
Automatically creating a require statement would be nice (I think there is another issue for that somewhere).

[2017-06-20 22:18] zepumph commented on #575
I added the start of this method after the html string is compiled but not yet written. It would be great to get some feedback on this. I'll check the dev chat on skype to see if there are volunteers.

[2017-06-21 19:13] zepumph commented on #575
@samreid  I would love your input on how to check licensing in the built html file. It's not a high priority though, sometime that works for you.

[2017-06-21 22:17] pixelzoom opened #587 "interim conventions for naming release branches"
phet and phet-io brands are currently published out of separate release branches, and this is likely to be the case until PhET has more mature build/deploy tools and processes to support PhET-iO.

This issue describes interim conventions for naming release branches.

I'll start with my understanding, which may be incorrect.  Here goes...

• Every release branch has a name of the general form `majo

[2017-06-21 22:23] pixelzoom commented on #587
Another point related to patches:

• If 2 release branches share the same `major.minor` numbers (e.g. 1.1 and 1.1-phetio) then any patches must be applied to _both_ branches in order to satisfy the requirement that they be kept in sync.

[2017-06-21 22:26] zepumph commented on #587
Plus 1 on the comment above, this is key. In the deploy docs I added in this section:

Step 1 Set up the codebase --> RC_subsequent/ Production:

I'm not sure how long this will have to be manually implemented before we make better build tools.

[2017-06-21 22:30] pixelzoom commented on #587
Regarding patches, according to @jonathanolson via Skype:

So we have a branching scheme that relies on manual synchronization.  And a patch process with no support for synchronization.

[2017-06-21 22:52] zepumph commented on #587
Here is a list of all of the branches that maintenance applies to across branches, please add more if I missed something. Basically there are 5 sims that have this problem. Of them, BASE, JT, and (soon to be) FAMB all have new phet-io versions out. BLL and CAF  are both so old that if we ever need to much of a maintenance release on them for a phet-io client, we would probably want to just give th

[2017-06-22 19:21] pixelzoom commented on #587
Deferred to next week's dev meeting when @samreid is present.

[2017-06-23 04:06] samreid commented on #523
#402 looks done, does this branch still exist?  Can it be deleted?  Can this issue be closed?

[2017-06-23 04:07] samreid commented on #402
Chrome 59 shipped with code coverage tools, see https://developers.google.com/web/updates/2017/04/devtools-release-notes#coverage

Does that impact the way we wish to proceed?

[2017-06-28 18:16] pixelzoom opened #588 "batch maintenance process ignores release branch naming conventions"
As noted in https://github.com/phetsims/chipper/issues/587, if there is a phet and phet-io release branch with the same version number (e.g. 1.1 and 1.1-phetio) then the shas for those branches must be kept in sync.  The batch maintenance process currently ignores this requirement, and causes such related branches to become out of sync.

Assigning to @ariel-phet to prioritize and assign.

[2017-06-29 00:16] ariel-phet commented on #588
Marking for dev meeting so I understand how much work is involved, but priority seems reasonably high since we regularly perform maintenance releases

[2017-06-29 16:17] jonathanolson commented on #588
If the automated process needs to handle phet-io sims, then phet-io sims should be consistent about branch practices.

[2017-06-29 16:57] pixelzoom opened #589 "update data/README.md"
chipper/data/README.md has become out of sync.  @zepumph and @samreid, please document the files that you've added.

[2017-06-29 17:18] samreid commented on #589
@zepumph can you please investigate?

[2017-06-29 17:29] pixelzoom commented on #589
Missing descriptions for:

duplicates.txt
test-phetio
wrappers

I can sort of guess what these are for, but I'm not entirely sure.

[2017-06-29 17:30] samreid commented on #589
Also, it would be nice to keep duplicates.txt elsewhere so it can easily be excluded.

[2017-06-29 18:35] pixelzoom commented on #587
6/29/17 dev meeting:
• Description in https://github.com/phetsims/chipper/issues/587#issue-237680549 is correct.
• Everyone has read and understood.

Closing.

[2017-06-29 18:35] #587 closed

[2017-06-29 19:08] pixelzoom commented on #588
6/29/17 dev meeting:

• Automated process on patches phet versions.
• Manual patching on phet-io versions is required.
• We'll continue with this process for now.
• @jonathanolson will push back on patches to limit cost.

[2017-06-29 19:09] #588 closed

[2017-06-29 20:14] zepumph commented on #589
I'm not sure what `duplicates.txt` is, it isn't in the .gitignore. @samreid can you explain what you mean, and the steps I should take to handle `duplicates.txt`.

[2017-06-29 20:50] samreid commented on #589
I took care of duplicates.txt in the above commit.  Can you help document test-phetio and wrappers?

[2017-06-29 20:50] zepumph commented on #589
Indeed.

[2017-06-29 20:58] zepumph commented on #589
The name `test-phetio` doesn't really make sense. For one it should be `phet-io`, but also it is used for more than testing. After discussion with @samreid, I will rename this the `phet-io` because it really is a list of our phet-io sims. I will update the readme here, and I will change the the "how-to-instrument" docs to add a sim to this list early in the process. This this is used by phetmarks

[2017-06-29 21:03] zepumph opened #590 "Update CopySupplementalPhetioFiles to use /data/wrappers"
We should use chipper/data/wrappers to copy over the wrappers, instead of what is being done now. (searching through all repos looking for a special "dedicated wrapper prefix")

[2017-06-29 22:41] zepumph opened #591 "branch: phet-io-docs"
This issue is to track progress in https://github.com/phetsims/phet-io/issues/1169

parent issue
https://github.com/phetsims/phet-io/issues/972

[2017-06-30 01:44] zepumph commented on #589
I did the following changes:

1. `test-phetio` renamed to `phet-io`
2. `README` renamed to `README.md`
3. Updated `README.md
4. Update how to instrument docs so that you can use phetmarks to run wrappers much earlier in the process.

If anyone else has more, please comment and/or reopen. Closing

[2017-06-30 03:43] samreid commented on #589
Reopening in case @pixelzoom wants to review the changes here.

[2017-06-30 20:11] zepumph commented on #590
Updated now. Closing

[2017-07-03 15:48] pixelzoom commented on #589
Fixed a couple of typos, but otherwise looks great. Thanks for doing this @zepumph. Closing.

[2017-07-03 15:48] #589 closed

[2017-07-03 16:22] jonathanolson commented on #589
In the future, if breaking changes are made to aqua's continuous testing, I should be notified so I can pull on bayes and restart the server.

[2017-07-03 16:25] zepumph commented on #589
That didn't even cross my mind. Sorry about that. I will be more careful in the future.

[2017-07-03 16:25] pixelzoom commented on #589
@jonathanolson said:

I have no idea what you're talking about. Please identify the breaking change so that people can avoid in the future.

[2017-07-03 16:30] jonathanolson commented on #589
No worries!

Automated testing currently relies on the chipper/data/* files to determine what needs to be tested. It runs phetio-specific tests, so it needs to determine a list of phetio-enabled sims, and used test-phetio to determine this. https://github.com/phetsims/aqua/commit/5b6b6feda278add452b0b784005a9766d93763a3 was made, and changes don't instantly get applied to the running continuous te

[2017-07-03 16:36] pixelzoom commented on #589
Got it, thanks for clarifying.

[2017-07-03 17:25] zepumph commented on #590
This solution was not working cross platform

[2017-07-03 17:51] pixelzoom commented on #587
Regarding the "interim" nature of these conventions... The current conventions have problems that we'll need to live with for an unknown amount of time. We have a vague sense of where we’d like to be in the future (e.g. phet and phet-io published out of the same release branch).   But we can’t move forward without answers to the “big picture” questions in https://github.com/phetsims/phet-io/issues

[2017-07-03 17:52] zepumph commented on #590
https://bayes.colorado.edu/continuous-testing/aqua/html/continuous-report.html

Looks better now. Closing

[2017-07-03 17:52] #590 closed

[2017-07-07 00:18] zepumph commented on #564
@kathy-phet could you please let us know what you think. Is it alright if there is not a copyright statement at the top of built html files, but in the sim itself (about dialog) everything is there?

Above is the giant list of sim versions that we would likely have to touch in order to fix this problem. I will try to bring this up next status.

[2017-07-10 19:28] pixelzoom opened #592 "revise existing processes/tools to publish all supported brands using 1 release branch"
In https://github.com/phetsims/chipper/issues/587, we agree on interim naming conventions for release branches, where phet and phet-io brands each have their own branch.  That convention relies on manual synchronization and relatively complex naming conventions.

11 days after discussing it, it's already _not_ working.  @jonathanolson has run into problems with maintenance releases.  And I've spen

[2017-07-10 19:32] pixelzoom commented on #592
One of the main issues is that different brands have different dependencies. For example, brand=phet-io has additional repositories related to PhET-iO.   How about if we add a brand suffix to dependencies.json, for example dependencies-phet-io.json.  The absence of the suffix indicates brand=phet.

[2017-07-10 19:33] pixelzoom commented on #592
What are the other problems with using 1 branch for releasing multiple brands?

[2017-07-10 19:43] zepumph commented on #592
If we are using one branch, then maintenance release numbers between brands are more tightly meshed. If I need to make a small fix in a phet-io repo for a maintenance release, then I will pump the maintenance version without publishing a phet brand version. I'm sure there are cases where this applies the other way around as well. If we proceed like this it seems like we need to either (1) be alrig

[2017-07-10 20:45] jonathanolson commented on #592
Presumably for the automated maintenance process, it would just deploy both. For QA, the amount of testing for a maintenance presumably ranges from 30 seconds per sim to 5 minutes per sim (testing very specific things), and for most maintenance releases testing two brands would probably consist testing mainly in one brand, and just opening another brand to make sure it works.

[2017-07-11 16:15] mattpen commented on #578
@samreid @jonathanolson - It looks like package-lock.json may change on its own.  According to [the docs](https://docs.npmjs.com/files/package-lock.json):

So both `prune` and `update` could potentially cause a re-generation of the lock file as they can both change the node_modules tree.  At least that's how I understand it, it appears there's been a lot of confusion, i.e. https://github.com/npm/n

[2017-07-12 21:26] jonathanolson commented on #523
Removed.

[2017-07-12 21:26] #523 closed

[2017-07-12 22:37] samreid commented on #592
It does seem like moving to a single branch will be best.  This makes the most sense for sims like "molarity" where both brands were tested/published at the same time.  Probably doesn't make sense to do retroactively for pre-existing sims (but this is the case for Plinko Probability so I'm not certain).

[2017-07-12 22:43] jonathanolson commented on #592
If we don't handle it retroactively, it means we need extra logic in the build/maintenance process presumably?

[2017-07-13 17:04] zepumph commented on #564
discussed with @kathy-phet in status today. Since this bug is fixed whenever a sim is republished, even for a maintenance release (because the bug was in the build process) , it will be slowly fixed as sims are republished. We did not think it was a high enough priority to go back and fix these versions. Closing.

[2017-07-13 17:04] #564 closed

[2017-07-18 23:47] samreid commented on #592
I like how accessibility is "built in" to the main version and doesn't require a special build or query parameters.  It may not be possible to do exactly this with phet-io (but from an engineering standpoint it would be best if we could), but perhaps we should think of the the PhET-website sim as a subset of the PhET-iO simulation.  That is, we could move to a "PhET-iO First" development methodolo

[2017-07-24 14:28] samreid commented on #585
I made further revisions in the preceding commit, @pixelzoom can you please take a look?

[2017-07-26 15:44] pixelzoom commented on #585
👍 Closing.

[2017-07-26 15:44] #585 closed

[2017-07-26 19:00] pixelzoom opened #593 "missing version id in third-party-licenses.md"
Looking at [third-party-licenses.md](https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md), I see that recently published sims don't have a version id next to them.  Is this a new bug in (perhaps) reportThirdParty.js?

E.g.:

[code]

[2017-07-26 19:00] pixelzoom commented on #593
Assigning to @ariel-phet to prioritize and assign.

[2017-07-26 19:08] ariel-phet commented on #593
@zepumph can you investigate? Putting at medium priority since an investigation should be fairly quick (if you are spending more than an hour or so, lets discuss).

[2017-07-26 19:08] pixelzoom opened #594 "handle third-party credits and report on server"
Each sim webpage has a "Third Party" section in its Credits (stored in the website database).  And sherpa/third-party-report.md (in master) provides a complete report for all published sims.  This is currently handled by 'grunt report-third-party'.

There are multiple problems with doing this as a client-side grunt task:

1. It's yet-another step in a long check list.
2. Developer must remember to

[2017-07-26 19:10] pixelzoom commented on #594
Assigning to @ariel-phet to prioritize and assign.

[2017-07-26 19:13] pixelzoom commented on #594
To add motivation for addressing this....

I just published Molecule Polarity 1.0.0, a port from Java.  I followed the instructions and ran 'grunt report-third-party'.   And it failed to update the website database.   For a Java sim,  'grunt report-third-party' must be run _after_ the HMTL5 version is made visible, or a silent failure occurs on the website side.   So now I'm going to update the "s

[2017-07-26 19:19] pixelzoom commented on #594
New and improved checklist item:

[2017-07-26 19:43] pixelzoom commented on #593
To be clear... The list of simulations following the line "This report is for the following simulations" should all have a version id after them, where that version id corresponds to the published version.

[2017-07-26 19:46] pixelzoom commented on #593
In reportThirdParty.js, line 364, fileList is the bullet list of sims and their version ids:

[code]

[2017-07-26 19:49] pixelzoom commented on #593
Looks like `fileList` is assembled by pull titles out of the html files.  Awhile back, there was a decision to remove version ids from the title shown by the browser.  Unconfirmed, but I'll betcha that's when the version id was lost.

[2017-07-26 20:19] pixelzoom commented on #593
Confirmed that removing the version id from the document title is the problem.  reportThirdParty.js gets extracts the title from the document:

[code]

In Molecule Polarity 1.0.0, the document title is:

```<title>&#8234;Molecule Polarity&#8236;</title>```

In a sim that hasn't been published for awhile, the document title is:

```<title>&#8234;Acid-Base Solutions&#8236; 1.2.9</title>```

[2017-07-26 20:22] pixelzoom commented on #593
@ariel-phet So, yes, investigation was quick and straightforward.  Unfortunately there is no similar solution.   Labeling for discussion at developer meeting.

[2017-07-26 20:22] samreid opened #595 "Sort require statements"
@jonathanolson mentioned that he and some other developers sometimes like to alphabetically sort the require statements.  I asked on skype and heard 3 "yesses" right away, this is in addition to @jonathanolson.  Sublime had built in support for this.  IDEA doesn't have built in support for it (though maybe a plugin), but it would be nice if we had a tool for this.

[2017-07-26 20:24] samreid commented on #595
I added a grunt task that sorts require statements alphabetically.  It seems like it is working OK on CCK code.  But it could use broader testing and review.

[2017-07-26 20:25] samreid commented on #595
Here is the grunt doc and usage:

[code]

[2017-07-26 20:37] samreid commented on #595
This code would benefit from a regular expression.

[2017-07-26 20:39] samreid commented on #595
Also, we could update this to sort by package if we want.

[2017-07-26 20:39] samreid commented on #595
I'm done working on this, no plans to update further at the moment.

[2017-07-26 20:40] ariel-phet commented on #593
@mattpen might be good for you to review this issue before dev meeting as I am pretty confident the website database has an easy way to get version ids (since I am pretty sure we use that for app updates and such).

[2017-07-26 20:41] pixelzoom commented on #594
Linking to https://github.com/phetsims/chipper/issues/593.  If we decide to handle third-party report on the server, perhaps the version id can be obtained from the website database.

[2017-07-26 20:43] pixelzoom commented on #593
Linking to #594. If we decide to handle third-party report on the server, perhaps the version id can be obtained from the website database.

[2017-07-26 21:54] samreid commented on #595
Upon reflection, I thought it might be more useful to sort by repo then class name (so all DOT things are together, SCENERY things are together, etc.) . However, this would be incompatible with other team members using alphabetical sort (like in Sublime).

[2017-07-26 22:06] jonathanolson commented on #595
- Pros: Easier for me to duplicate a line and change the name (for something in the same folder), things are more conceptually grouped (if checking for how many things are imported from JOIST, etc.). More Java-like, felt like the default before sorting lines was easier.
- Cons: Harder to at-a-glance check if something is imported, harder to manually pick the place things should go (would need to r

[2017-07-27 01:47] samreid commented on #586
https://github.com/phetsims/chipper/issues/595 demonstrated one way to add development tooling

[2017-07-27 01:47] samreid commented on #586
I'd like to see if the same approach will work for adding require statements, it shouldn't take too long.  Tagging @ariel-phet so he is aware I'm taking a look at this.

[2017-07-27 02:47] samreid commented on #586
I added a script to add require statements with a keystroke, committed above.  Configured in IDEA like this:

Program -> tools -> external tools:

program: grunt
parameters: insert-require-statement --file=$FilePath$ --name=$SelectedText$ --searchPath=/Users/samreid/github
working directory: /Users/samreid/github/circuit-construction-kit-dc

It is super fun, I'l give a demo at tomorrow's developer

[2017-07-27 04:58] mattpen commented on #593
Is the version id necessary for this report?  Can it be omitted?

If it is necessary we can obtain it by making a call to the Metadata API.  This would not necessitate moving the script to the server (but would still work if it is moved).

[2017-07-27 14:34] pixelzoom commented on #593
@mattpen asked:

You'll have to ask @kathy-phet, she requested this report. As I recall, she wanted the report to pertain to what was currently published on the PhET website.   You I image that she will want the list of sims _and_ their version id.

[2017-07-27 17:21] samreid commented on #595
It would also be possible to add a script or step that removes unused require statements.  We would adapt or factor out lint.js to work on a single file and return a report.  It would take 1-2 hours to build this, document it and integrate it with existing tools.

[2017-07-27 17:28] jonathanolson commented on #586
Can it check to see if it already has a require statement? Sounds nice.

[2017-07-27 17:30] samreid commented on #586
Good idea, I added that in https://github.com/phetsims/chipper/commit/feb8ac28f2ca7ff445c713db9148d988d7516935

Now you can try to import something that is already imported and it won't hurt anything.

[2017-07-27 19:03] samreid commented on #586
@ariel-phet said it is OK to spend 1-2 hours to remove unused require statements, as long as CCK is out of my court.

[2017-07-27 19:28] mattpen commented on #593
I'll bring this up with Kathy at the next status meeting.  We need to know whether the version identifier is required and what the priority is.

[2017-07-27 19:36] ariel-phet commented on #594
@mattpen plan on looking into this @pixelzoom returns from vacation (after Aug 15)

[2017-07-27 19:36] mattpen commented on #594
I'll take a look at this when @pixelzoom returns from vacation.

[2017-07-27 19:41] mattpen commented on #594
We could also investigate migrating this to getThirdPartyLib.js.

[2017-07-28 19:21] ariel-phet commented on #586
Tagging https://github.com/phetsims/joist/issues/411 for this issue

We should ideally tag open issues that relate to improvements, marking for dev meeting, so we can build up that list.

[2017-07-29 16:20] samreid opened #596 "Revise/rewrite the build process. "Chipper 2.0""
This is an aggregate issue to identify issues related to wanting to revise/rewrite/extend the build process.  We should also create a GitHub label for those issues.  Here are additional issues from other repos (not labeled)

https://github.com/phetsims/chipper/issues?q=is%3Aissue+is%3Aopen+label%3Achipper%3A2.0

https://github.com/phetsims/joist/issues/411
https://github.com/phetsims/phet-io/issue

[2017-07-29 16:21] samreid commented on #596
I saw some issues labeled `dev:enhancement`, not sure if we should co-opt that or create a new one.  I guess I'm leaning for a new label.

[2017-07-29 16:22] samreid commented on #594
Marking for potential work in https://github.com/phetsims/chipper/issues/596

[2017-07-29 16:22] samreid commented on #592
Marking for potential work in https://github.com/phetsims/chipper/issues/596

[2017-07-29 16:23] samreid commented on #596
I started backlinking issues to this one and realized it will be much better if we just start with a label.

[2017-07-29 16:26] samreid commented on #596
OK here's the chipper issues report for `chipper:2.0`:

https://github.com/phetsims/chipper/issues?q=is%3Aissue+is%3Aopen+label%3Achipper%3A2.0

[2017-07-29 16:28] samreid commented on #596
Here's a Joist issue that should be part of this work:
https://github.com/phetsims/joist/issues/411

[2017-07-29 16:30] samreid commented on #586
@ariel-phet I'd like to distinguish between the build process (chipper code that compiles the simulation) and the development process (in which the developer writes the code).  This issue should be about the development process and providing tools to make that easier.  I created a new issue #596 about improving the build process.

[2017-07-29 16:31] samreid commented on #596
In #586 @ariel-phet said:

[2017-07-29 16:38] samreid commented on #473
Is this fixed?  I tried dev deploying once this week without updating package.json and received an error telling me that version already existed.

[2017-07-29 16:39] samreid commented on #596
I marked a few issues for the chipper process, generally they fell under categories of:
1. brands, version-id, phet-io
2. getting rid of node_modules
3. misc

Not sure if this would also be a good time to investigate type checking with flow or typescript.

[2017-08-02 16:28] samreid commented on #577
I made the recommended changes and tested them, closing.

[2017-08-02 16:28] #577 closed

[2017-08-02 16:31] samreid commented on #575
It seems we could read in the compiled HTML file and check for the existence of string or regexes?

[2017-08-03 16:29] mattpen commented on #593
@kathy-phet said that the version can be optional, it is fine to leave it as is.

[2017-08-03 16:29] #593 closed

[2017-08-03 18:26] samreid commented on #592
We decided to wait until October/November to work on this as part of the chipper 2.0 issue, see #596

[2017-08-04 17:09] zepumph commented on #596
Maybe it would be better to have a Milestone for chipper:2.0 instead of a label. Or both?

[2017-08-04 17:09] samreid commented on #596
what are the pros of a milestone?

[2017-08-04 17:13] zepumph commented on #596
A bit easier to track overall progress of all issues, also the ability to track deadlines (not probably important).

I thought of it because the "chipper:2.0" label is in phet-io, joist, and chipper. Based on my understanding of phet's philosophy on labels. They should either be special to a single repo, or in the github label system we have in place in phet-info to make sure that all repos are co

[2017-08-04 17:18] zepumph commented on #567
Parent issue for chipper 2.0: https://github.com/phetsims/chipper/issues/596. Unassigning until we have time to work on that.

[2017-08-07 03:33] samreid opened #597 "Remove unused require statement"
From https://github.com/phetsims/chipper/issues/586

We have a tool that does pretty well on require statements but it is still missing the piece that removes an unused require statement.  We may accomplish this through (a) an eslint rule with an autofix pattern or (b) a grunt task that runs lint and uses the results to remove lines.  I was planning on the latter but the former may be more robust.

[2017-08-07 03:33] samreid commented on #586
I'll track the require statements in #597, unassigning myself from this parent issue.

[2017-08-07 16:29] jonathanolson commented on #596
It would also be great to have more flexibility with the dot/kite/scenery builds (e.g. including himlaya in Scenery, so RichText can live in Scenery).

Also, building sun as a standalone would help in tools that use a built version of Scenery.

[2017-08-07 18:50] samreid commented on #597
I'm not planning on working on this soon.  I already have a reasonable workflow for removing these statements in IDEA.  I'll reassign this if I have more of a need for it in the future, or if other team members have a need for it.

[2017-08-07 19:30] zepumph opened #598 "Update deploy-dev log if in phet-io brand"
Currently, for a phet-io dev deploy, we get this link at the end:

[code]

but that link is invalid, it should look like  http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-phetiodev.10/wrappers/index

This minor change will help devs new to phet-io find the proper link while testing.

[2017-08-08 00:07] jonathanolson opened #599 "Excessive padding of directional characters on strings"
In require.js mode (not built), some strings have large amounts of directional characters added. It looks like these are currently being pushed on the ends of strings on every lookup, instead of on the initial lookup.

[2017-08-09 00:01] zepumph opened #600 "Run build tools in Intellij?"
@samreid and I came across a way that we could use Intellij's Exteneral Tools to run the the build tools through intellij. We discovered this as we were implementing https://github.com/phetsims/chipper/issues/586#issuecomment-318242982 for a windows user. We found a solution is to just run grunt via the Node executable. This provides the flexibility to run any node script we want, cross platform.

[2017-08-09 00:48] samreid commented on #600
IDEA claims to have grunt interoperability: https://www.jetbrains.com/help/idea/grunt-tool-window.html

I haven't tested it

[2017-08-09 17:33] zepumph commented on #600
I just looked at it, it worked right off the bat. I right clicked any grunt file (for me faraday's law) and I chose "Show Grunt Tasks". It displayed a list of all of our grunt tasks, and double clicking on any of them ran it successfully. I would say that was a positive test, and that more could probably be done to make it easier to run. Thanks @samreid!

[2017-08-10 16:02] samreid opened #601 "Investigate Node 8.3.0"
Node 8.3.0 came out and promises performance improvements for CPU bound tasks.  I'd like to take a look and see how it impacts our builds:

Node v8.3.0
https://nodejs.org/en/blog/release/v8.3.0/

Tagging for developer meeting to let other developers know this is in the works.

[2017-08-10 16:18] mattpen commented on #601
Can we upgrade to Node 8 without upgrading to NPM 5?  There are still some outstanding questions regarding NPM 5 - https://github.com/phetsims/chipper/issues/578.

[2017-08-10 17:46] samreid opened #602 "Source maps?"
See https://github.com/phetsims/phet-core/issues/28

We are wondering if chipper 2.0 should provide source maps.

[2017-08-10 17:55] mattpen commented on #601
Here is what the build-server is currently using:

[mape5853@phet-server ~]$ node -v
v4.6.0
[mape5853@phet-server ~]$ npm -v
2.15.9

[2017-08-10 17:59] mattpen commented on #578
We'll revisit this when we start work on revising the build tools.

[2017-08-10 17:59] jbphet commented on #601
@samreid is going to try it out on his local machine and see how it works.

[2017-08-10 20:37] pixelzoom commented on #594
Perhaps this would work? In build-server.js, modify function afterDeploy to (1) run “grunt report-third-party”, then (2) commit and push sherpa/third-party-report.md.

[2017-08-10 22:17] jonathanolson commented on #602
It would be nice to have, but may have some extra complexity (multiple source maps would be needed, they would need to be placed in a specific path so they could be read, etc).

[2017-08-11 13:26] samreid commented on #602
Can you describe why multiple source maps would be needed?  Would there be a single unmangled JS file before the mangle step that could be used as the sole sourcemap?

[2017-08-11 15:35] jonathanolson commented on #602
Correct, unless we can figure out how to combine source maps (might be possible), we'd have one for each group of code we run uglify on (right now at least twice, once for preloads, once for require.js stuff).

[2017-08-11 15:57] samreid commented on #602
Understood, thanks.  We could potentially combine preload + requirejs before uglify or skip sourcemaps on preloads if we think it's less risky.

[2017-08-11 16:02] jonathanolson commented on #602
Yes. Right now we have each preload split up (I believe) so we can identify which each one is, but I think having one source-map per HTML file would be significantly improved.

[2017-08-11 16:10] jonathanolson commented on #599
Fixed with above commit.

[2017-08-11 16:10] #599 closed

[2017-08-11 23:56] samreid commented on #601
1. Close all applications except for chrome and the terminal
2. cd faradays-law; grunt; time grunt

user	0m15.525s
sys	0m0.494s

3. cd ../function-builder; grunt; time grunt

user	0m13.163s
sys	0m0.525s

4. cd ../faradays-law; time grunt

user	0m15.732s
sys	0m0.490s

5. cd ../function-builder;time grunt

user	0m13.314s
sys	0m0.528s

node --version

[2017-08-12 00:03] samreid commented on #601
Follow https://stackoverflow.com/questions/8191459/how-do-i-update-node-js to update to 8.3.0 (note not yet in stable)

node --version

Faradays law, grunt then time grunt

user	0m14.040s
sys	0m0.444s

For function builder:

user	0m12.488s
sys	0m0.486s

Looks like this saves a couple of seconds, to me it doesn't seem like a significant enough reason to recommend upgrading.  (Unless @jonathanolson

[2017-08-13 18:55] zepumph opened #603 "delete js/grunt/phet-io/createTypeDocumentation.js?"
In https://github.com/phetsims/phet-io/issues/1169 we implemented a new way to get phet-io docs during the build. This means that `createTypeDocumentation is no longer needed. One purpose to keep it around is that it is how the devguide creates its type documentation. That's why I wanted to discuss. How should we handle these two situations. I don't see an easy way that we could get a master list

[2017-08-13 18:57] zepumph commented on #603
In the above commit, I reworked the file back to its old usage, where running it from the command line will generate the master list of common code types to the console. Then you can paste those in to the dev guide. This is just so we have it.

[2017-08-13 18:57] zepumph commented on #603
And by above I mean below commit.

[2017-08-13 20:01] zepumph commented on #598
Fixed in the above commits, here is the console output when I built/deployed FL 1.3.7-phetiodev.4.

[code]

And then for 1.3.7-dev.5
[code]

@mattpen could you just double check that this looks good, since its common code. I think it is ready to close. Thanks.

[2017-08-13 21:01] samreid commented on #603
We may no longer need to provide "general" type docs if we provide great type docs for each sim, right?  Or if we do need general type docs, we should try to leverage the existing process as much as possible.

Also, how will we handle parameterized types, will `Property.<number>` be different than `Property.<string>`?

[2017-08-13 21:12] zepumph commented on #603
It may be nice to handle this in documentation similarly to my current approach for TFunctionWrapper in https://github.com/phetsims/phet-io/issues/1197 (it shows up as "TFunctionWrapper( TString, TBoolean)" instead of "TFunctionWrapper"

[2017-08-13 21:14] samreid commented on #603
My concern if we enumerate all of the combinations that appear is that we may end up with hundreds of concrete parameterized types.  Not sure what's best.

[2017-08-13 21:32] zepumph commented on #603
I'm sorry if I wasn't more specific before. My thoughts are to do the aforementioned strategy when describing the instance/type tuples like:

[code]

could look like
[code]

I do not think each parametric type deserves another listing in the TTypes documentation.

[2017-08-13 23:34] samreid commented on #603
Ah, that sounds great!

[2017-08-13 23:49] zepumph commented on #603
Very possible! I'm thinking about what to do with the current devguide. Do we just delete the Ttypes section and replace it with:
"Documentation for types and instances for each sim is located in each built sim folder under `VERSION/doc/phet-io-documentation.html`"

Not a horrible plan, but we have to manage backwards compatibility.

[2017-08-13 23:55] zepumph commented on #603
Another idea. Somehow make a documentation wrapper in a similar fashion to the playback wrapper where it can work on any sim, and it can get type/instances out of any sim on our site. I think that it would be pretty simple to be backwards compatible for all sims that use SimIFrameClient.launchSim (I think that was implemented back in october or so.) because our wrapper will be able to wire into th

[2017-08-14 14:52] samreid commented on #603
I think that would be great--my main concern is being able to easily generate diffs between APIs.  If we can figure that out, then perhaps these docs can be delivered as a wrapper instead of static docs.

[2017-08-14 15:50] mattpen commented on #598
This looks good to me.

[2017-08-14 15:50] #598 closed

[2017-08-14 16:14] jonathanolson commented on #601
Bayes' continuous testing bottleneck is mainly npm. A slight improvement for node speed would be nice, but not that important (it does 8 concurrent builds at a time, and finishes up all sims faster than npm handling takes).

[2017-08-14 16:24] samreid commented on #601
OK thanks, closing.

[2017-08-14 16:24] #601 closed

[2017-08-17 00:42] zepumph commented on #586
Today @jessegreenberg and I explored how to get the grunt command `insert-require-statement` to work with the Sublime environment. I was able to get it to work successfully on my side, but it is possible that there will be cross platform problems. To make this I basically added a PhET Package to sublime that can be manually inserted into the Packages directory and then interfaced through the comma

[2017-08-17 17:52] samreid commented on #578
@pixelzoom asked if we could just add package-lock.json to .gitignore

[2017-08-17 17:55] pixelzoom commented on #578
If we add package-lock.json to .gitignore, then the file will still be in your local directory, and `npm update` will read it (which we don't want).

[2017-08-17 18:08] jonathanolson commented on #596
If we have source-maps working, we can consider transpiling to get ES6+ features in built sims?

[2017-08-17 18:16] zepumph opened #604 "Investigate latest javascript (es6/7/8) features to use in non-client facing code."
From Dev discussion [here](https://github.com/phetsims/phet-io/issues/1169#issuecomment-323148685)

It could be really nice to be able to use new javascript features like `Promises`, `async await`, and chrome headless integration into node into our tools. It could effect places like:
* build tools
* build server
* automated testing
* statistics
* installer-builder

This will be a good addition to

[2017-08-18 16:40] samreid commented on #530
Merged and deleted, closing.

[2017-08-18 16:40] #530 closed

[2017-08-21 03:59] samreid commented on #603
https://github.com/phetsims/chipper/issues/603#issuecomment-322075302 sounds great to me.  To handle backward compatibility, we could leave up an archive of the old dev guide until no sims rely on it any longer.  We should chat.

[2017-08-22 03:30] samreid commented on #114
This seems to be exactly what package-lock.json was designed for.  We should look into this for chipper 2.0

[2017-08-23 16:58] jessegreenberg opened #605 "requirejs-build task: WARN: Output exceeds 32000 characters"
I started seeing this warning after the requirejs-build task.
[code]

I am seeing it for all sims, though the number of times the warning is printed is different for each sim.  It sounds like other devs are not seeing this.  @jonathanolson recommended I try wiping node_modules in chipper and the sim. I gave it a shot but I am still seeing the warning.

[2017-08-23 17:00] jessegreenberg commented on #605
@Denz1994 found what is likely a related option max_line_len https://github.com/mishoo/UglifyJS2

[2017-08-23 17:25] pixelzoom commented on #605
... and it may be in other node_modules subdirectories, which I have excluded from my WebStorm search path.

[2017-08-23 17:27] pixelzoom commented on #605
Indeed, I also have `max_line_len: 32000` in chipper/node_modules/requirejs/bin/rs.j.

[2017-08-23 18:22] pixelzoom commented on #605
After doing `npm update` in chipper, I am now seeing the same issue as @jessegreenberg.

[code]

[2017-08-23 19:04] jessegreenberg commented on #605
If I add ```max_line_len: false``` to ```uglify2``` ```output``` options in ```requireJsBuild.js``` the warning goes away for PhET and PhET-iO builds. According to docs it should already be false by default.

Labelling for dev meeting to see if anyone knows why this started showing up in the first place and if adding this option to ```uglify2``` in ```requireJsBuild.js``` is acceptable.

[2017-08-23 21:21] pixelzoom commented on #605
When I did `npm update` in chipper (see https://github.com/phetsims/chipper/issues/605#issuecomment-324420780), the only thing that appeared to update was `requirejs@2.3.5`.  So I suspect the default optimizer setting changed for requirejs.

+1 for adding `max_line_len: false` to `requirejsBuild.js`.

[2017-08-24 15:57] samreid commented on #605
Here's the result of my npm update

[code]

[2017-08-24 16:07] samreid commented on #605
I'm seeing this output now:

WARN: Output exceeds 32000 characters

[2017-08-24 17:46] jessegreenberg commented on #605
Ill build a sim with the option added and make sure output is the same.  If so, Ill commit the option and close.

[2017-08-24 21:37] jessegreenberg commented on #605
![capture](https://user-images.githubusercontent.com/6396244/29689888-09ae13b8-88e2-11e7-8a00-7e9f1101bde6.PNG)

Left is build before the option is added, right is build after the option is.  Output seems identical.

[2017-08-24 21:39] jessegreenberg commented on #605
Committed, closing.

[2017-08-24 21:39] #605 closed

[2017-08-24 21:40] samreid commented on #605
Looks great on my side, thanks!

[2017-08-31 19:16] zepumph opened #606 "Remove sonification wrapper from normal phet-io builds?"
Discovered as part of https://github.com/phetsims/phet-io/issues/1097, we are building the sonification repo into each phet-io build. It won't work unless it is built with its own process, so I think we should remove it from the list that gets copied to `build/wrappers/`.

[2017-08-31 19:19] zepumph commented on #606
Ways that this could be done:

* remove it from the list of wrappers in `chipper/data/wrappers`, since it isn't a traditional wrapper to be deployed on each build (it has its own build process).

* Manipulate the build process to treat the sonification wrapper as an edge case, and manually ignore it. This way we get the benefit of having the sonification wrapper in phet marks still, but I'm not su

[2017-08-31 19:29] zepumph commented on #606
I went with the first option and removed it from the wrappers list, now the build dir is half the size. This will help us in deploying. I'm going to close for now. We can do another strategy if we find problems.

[2017-08-31 19:29] #606 closed

[2017-09-01 20:45] jbphet opened #607 "build broken for sonification wrappers"
The build seems to be broken for the sonification wrappers.  Here is what I see when I attempt a build:

![build-fail](https://user-images.githubusercontent.com/3082831/29987105-b96052a2-8f23-11e7-94a6-f18d9ff1ee14.PNG)

I suspected that this was due to some recent changes related to https://github.com/phetsims/phet-io/issues/1097, so I reverted back to a version of chipper from prior to when that

[2017-09-01 20:59] zepumph commented on #607
I'm so sorry about that!  Sloppy programming, I didn't think to test the sonification wrapper build. It should be fixed now.

[2017-09-01 20:59] zepumph commented on #607
Please close or reassign.

[2017-09-02 18:47] samreid opened #608 "Add a key command to show signature"
It would be nice to see signature or jsdoc for method without having to navigate there.

[2017-09-05 15:29] jbphet commented on #607
It's working now, thanks for the quick fix.  Closing.

[2017-09-05 15:29] #607 closed

[2017-09-10 14:03] samreid commented on #608
The best way to implement this would be to:
1. find the term on the cursor (not sure if this is possible in IDEA bindings), but maybe could do this in node given cursor position and the full file text
2. parse require statements to find the file we need
3. use esprima or other parser to parse the file
4. find the constructor from parsed file and output its docs and/or signature

This would be a fu

[2017-09-11 17:17] pixelzoom commented on #595
After Slack discussion in dev-public channel, we decided to sort by filename instead of path. @samreid has made it so in the above commit.

[2017-09-11 17:19] samreid commented on #595
We also decided to run `grunt sort-require-statements` on every file now instead of letting those kind of changes sneak in incrementally.

[2017-09-11 17:35] zepumph opened #609 "Sort all require statements in the project"
From a discussion on slack, it would be good to have all of the require statements in alphabetical order by Type name. There was a poll taken of developers present.

[2017-09-11 17:51] zepumph commented on #609
It looks like the grunt task `sort-require-statements` touches every file and and changes 'CRLF' to 'LF', so even files that don't need sorting show up in intellij's commit dialog. Luckily these 'unchanged' files don't muddy up actual commits. To test this I committed one of these unchanged files with `js/common/view/graph/ConcentrationGraphBarNode.js` in acid-base-solutions in this commit:

https

[2017-09-11 18:30] zepumph commented on #609
Ahh here is more about CRLF:
https://stackoverflow.com/questions/1552749/difference-between-cr-lf-lf-and-cr-line-break-types

I think I will update the grunt task to join with '\r\n' instead of just a newline.

[2017-09-11 18:52] zepumph commented on #609
I did so and found just as many places that had just line separator differences. I am going to leave it as is.

[2017-09-11 19:06] samreid commented on #609
I spot checked several files and they seem correct.  I re-ran `for-each active-repos sort-require-statements` and did not see any missed files.  Likewise I did not see any lint or systemic aqua errors related to this.  Thanks! Closing.

[2017-09-11 19:06] #609 closed

[2017-09-12 18:19] zepumph opened #610 "Pixel Polishes on the sim-a11y-view template"
From https://github.com/phetsims/a11y-research/issues/56

There are a few more things that still need work on this html page, and here is a great place for them to get done.

Here is one of @terracoda's last comments from the previous issue:

We need either a bit more line-height in general, and/or a little bottom padding on the list items. Either or both these style rules will prevent the overlap

[2017-09-13 16:04] terracoda commented on #610
For my reference, the latest visual PDOM, or A11y View of Ohm's Law:
[http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.12/ohms-law-a11y-view.html](http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-dev.12/ohms-law-a11y-view.html)

[2017-09-14 18:29] zepumph opened #611 "Create a list of accessibility sims in chipper/data"
This will be helpful as accessibility starts to touch more and more sims. I'm thinking that this list will include all 'work in progress' sims rather than just finished/near finished ones.

[2017-09-14 20:42] zepumph opened #612 "Integrate a11y-view into the build process"
From a chat with @jessegreenberg on slack let's add the a11y view on build based on #611:

Jesse Greenberg [10:27 AM]
@mjkauzmann what do you think about adding generate-a11y-view-html to the requirejs build task so it is added to build dir every grunt?

[10:28]
Would add it to _every_ sim, maybe that is OK? (edited)

Michael Kauzmann [10:29 AM]
Hmm

Michael Kauzmann [11:30 AM]
If we wanted to go

[2017-09-14 20:49] zepumph commented on #611
@jessegreenberg do you have any additions to this list (will be alphabatized)?

* JT
* BASE
* BAA
* OL
* RIAW
* Molarity
* Friction
* MAL
* Coulombs Law

Maybe the metric that we should be using is if we have started work on descriptions rather than if we have started work on keyboard nav, since keyboard nav enabled common code components are in all sims. In which case this would be the list:

* J

[2017-09-14 21:15] jessegreenberg commented on #611
Thanks @zepumph, I agree with your initial metric of "work in progress" sims.  Molarity, Friction, MAL, and Coulombs Law were also chosen for keyboard nav because they will get design time for description soon anyway.

[2017-09-15 18:26] zepumph commented on #611
Done, closing

[2017-09-15 18:26] #611 closed

[2017-09-15 19:28] zepumph commented on #612
@jessegreenberg, I updated the build process so that if the sim is in the a11y list, then it will add the a11y view to the build dir.

There is one foreseeable problem that I have found with my implementation.

I am running `generateA11yViewHTML` in `createHTMLFiles` (in `after-requirejs-build`). This is generating the top level a11y view in the sim repo, and then copying that into the build direc

[2017-09-18 18:37] pixelzoom commented on #560
In 9/18/17 Slack discussion (developer channel), @jonathanolson needed to publish a version of pendulum lab from a branch named "ubc-study" (see https://github.com/phetsims/pendulum-lab/issues/193).  What should the version id have been?  There was much discussion and no consensus.  The current version id scheme doesn't support something like "ucb-study-dev.1".  How does the need to publish from b

[2017-09-19 22:56] jessegreenberg commented on #612
@zepumph I am really liking option 1 if it is possible.

So it would be smart enough to *only* place the file in the build dir if grunt was called, and place it in top level if grunt generate-a11y-view-html was called?

[2017-09-20 01:33] samreid opened #613 "Eliminate "log:" from phet.log"
phet.log is implemented like so:

[code]

This causes the messages to come out like this:
![image](https://user-images.githubusercontent.com/679486/30622787-191049e0-9d71-11e7-9153-d472dfeaa233.png)

The `"log: "` is extraneous.  It is already clearly a message from the phet.log because it is green and because it says it comes from initialize-globals.js.  It gets in the way of the message the prog

[2017-09-20 03:00] pixelzoom commented on #613
Go for it.

[2017-09-20 13:20] samreid commented on #613
I went for it!  Closing.

[2017-09-20 13:21] #613 closed

[2017-09-20 17:54] ariel-phet commented on #570
@mattpen will improve the script for twitter cards

[2017-09-20 18:27] pixelzoom commented on #403
@samreid can this be closed?  What remains to be done?

[2017-09-21 00:16] zepumph commented on #612
I agree with @pixelzoom it is good for now, and we can work on it more when we are working on new build tools. I would hate to dive in only to have everything change in a month or two.

[2017-09-21 16:18] samreid commented on #403
I'm going to run the script `grunt-all.sh update-copyright-dates` again and add a note in my calendar to run it every year.

I ran the script and spot checked the results and it seems legit, so I'll commit to many repos shortly.  I can see that kite/dot/scenery are still not updating, but we can create another issue for them.

[2017-09-21 16:43] samreid commented on #403
I ran the script and committed/pushed changes for many repos.  I don't think we need to spend more time on this for kite/dot/scenery at the moment.  I put a note in my calendar to run this again next year.

[2017-09-21 16:43] #403 closed

[2017-09-22 14:07] jessegreenberg opened #614 "a11y-view wrapper doesn't show duplicate alerts"
When two alerts alerts with the same content are announced back to back, the a11y-view wrapper doesn't show the second alert. I can see the second alert coming through scenery-phet/UtteranceQueue, and I can hear the alert with a screen reader so it seems like a bug with the a11y-view. @zepumph would mind looking into this at some point?

[2017-09-27 23:06] samreid opened #615 "ifphetio start/end should only exist for phetioEvents"

[2017-09-27 23:51] samreid commented on #615
@zepumph can you please review the changes in the ifphetio plugin to make sure it is safe?

[2017-09-28 00:01] samreid commented on #615
Also, I was worried this could slow down phet-brand code, but in fact calling no-op functions will be faster than calling emitters with no listeners.

[2017-09-28 00:20] zepumph commented on #615
It looks nice. I don't love that you have to type out the function code duplicated as a string, but I'm not sure about a way around that one. `f.toString()` won't show its properties, and `JSON.stringify` doesn't work. Otherwise it looks good. Back to you for a close.

[2017-09-28 00:43] #615 closed

[2017-09-28 23:19] zepumph commented on #610
Alright I added a bit of space for some of the tags I think that is most everything for this issue. @terracoda could you confirm, and make more items to accomplish if you think there is more here. I updated all a11y views on master.

[2017-09-29 20:06] zepumph commented on #610
Although obvious in retrospect, adding a line-height to the containing div did not fix everything, I'm still investigating:
![image](https://user-images.githubusercontent.com/6856943/31033967-8aacbe68-a50e-11e7-8c1a-5001c3efb2c4.png)

[2017-10-03 21:56] zepumph commented on #610
@terracoda I am pretty bad at css, maybe we could pair sometime on this so that we could do real time changes and make it right. I don't think we will need much time.

[2017-10-03 22:41] zepumph commented on #612
Another note. It would be nice if the a11y view wasn't copied on phetio build. Since the sim's name is different, it won't work anyways.

[2017-10-03 23:50] terracoda commented on #610
Adding `line-height: 1.5;`to the html element should add in enough space. It looks nice when I add that rule dynamically using the inspector tool (see below).
![screen shot 2017-10-03 at 21 17 48](https://user-images.githubusercontent.com/1902116/31154270-8c2f618a-a880-11e7-8989-8d7562f171d9.png)

[2017-10-03 23:52] terracoda commented on #610
If you think 1.5 make sit too airy, you can probably go down to 1.4. You do not need a unit on the line-height property.

[2017-10-03 23:55] terracoda commented on #610
`line-height` is one of those things you want to define for the entire document, and then only adjust very special cases, with the hope of having no special cases.

[2017-10-05 19:41] zepumph commented on #567
Marking for dev meeting to begin discussing process. Then we will bring big picture questions to @kathy-phet and then carry on with chipper:2.0 next month.

[2017-10-10 19:46] zepumph commented on #610
One more improvement:

- [ ] I would like to not have to add the `&accessibility` flag anymore, since we are in the a11y view, it should be assumed that we want a11y enabled and put it in to the iframe src by default.

[2017-10-12 18:12] zepumph commented on #596
Large chipper:2.0 discussion today during dev meeting:

**First there was talk about building phet and phet-io brand together**
@samreid says it's a spectrum
easiest: build is a script that says `grunt; grunt --brand=phet-io` and they are copied to two different places
hardest: re-work the requirejs build to only have to build once, and someone be able to take out the phet-io code if desired.

@ar

[2017-10-12 18:13] zepumph commented on #612
Priority: do it in master right now, don't wait for chipper:2.0 work to begin.

[2017-10-12 18:20] samreid commented on #604
It was proposed that we investigate adding async await, promises, arrow functions, etc and lint tools in our systems with some simple (non-essential) parts, to see if there will be hassles regarding upgrading node versions or lint tools.

[2017-10-12 18:26] samreid commented on #604
@mattpen is going to upgrade our phet-server and build-server to later node versions.

[2017-10-12 18:28] samreid commented on #604
@ariel-phet asked if @zepumph can look into separating out the lint versions so we can use es6+ code in chipper and have it pass lint without letting any es6+ code sneak into sims.

[2017-10-12 18:28] zepumph commented on #604
In dev meeting today:

@samreid doesn't think this is essential.
@jonathanolson thinks that it will make the code much simpler, and may not be too complicated.

@ariel-phet wants to emphasize importance of "it should supply a benefit, not just a bell or whistle"

@samreid to prototype, we should use async await in one place, like a fake part of chipper. From there we can get environments up to spe

[2017-10-12 18:29] zepumph commented on #604
@ariel-phet says in the next few weeks.

[2017-10-12 18:33] zepumph commented on #602
@ariel-phet says we seem to not get enough bugs, and hard to replicate ones at that, for this to be worth the time.

Deferring until someone asks for one, or if we find a strong need for one. Removing chipper:2.0 label to go for it later.

[2017-10-12 18:33] zepumph commented on #594
The plan is to complete this as part of our automating checklist steps.

[2017-10-12 18:46] samreid commented on #592
If we are automating everything as much as possible, perhaps we would have a machine-readable database that indicates whether PhET-iO was tested for a sim, then the build process would automatically build the tested versions.

[2017-10-12 18:46] zepumph commented on #592
One question that @ariel-phet brought up is confusion around testing for a particular release. If we are building in one branch, but only test the phet version, how do we handle that?

Is our process that we just test everything always. Default is to test the phet-io version every time, but perhaps it will take some time to get there.

@jbphet thinks that in the new chipper:2.0 we should have the

[2017-10-12 18:47] zepumph commented on #582
This will be done automatically in chipper:2.0

[2017-10-12 18:51] zepumph commented on #581
This may be done for us because things will be automated, but we should still have this check.

[2017-10-12 18:53] jessegreenberg commented on #581
@jessegreenberg and @zepumph will give this a shot!

[2017-10-12 18:54] samreid commented on #596
We went through the list https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3Achipper%3A2.0+user%3Aphetsims+ and got through about 10 items, stopping around #581 (in that ordering)

[2017-10-12 18:55] jessegreenberg commented on #473
@mattpen was this fixed?  Comments in #581 indicate that it might be.

[2017-10-12 18:56] mattpen commented on #581
@jessegreenberg and @zepumph here is the current check in deploy-dev: https://github.com/phetsims/chipper/commit/383755b3d12d643de3ac4f378e4c40f4157119aa

[2017-10-12 19:04] zepumph commented on #596
We skipped https://github.com/phetsims/phet-io/issues/1149 though, I don't know how.

[2017-10-12 19:49] zepumph commented on #596
Today we decided against including source maps in the chipper:2.0 project, instead deferring it, see https://github.com/phetsims/chipper/issues/602.

[2017-10-18 22:01] zepumph commented on #610
Just kidding you don't have to do that

[2017-10-19 00:20] zepumph commented on #610
@terracoda I implemented the line height that you suggested. I like it a lot. Let me know if there is anything else you would like to see. Please open new issues for future improvements. Closing.

[2017-10-19 00:20] #610 closed

[2017-10-19 00:35] terracoda commented on #610
@zepumph looks great!

[2017-10-19 00:38] zepumph commented on #612
I made another file called `getA11yViewHTMLFromTemplate` that reads the template, fills it in, and returns a string. This is used to make the top level html, as well as create on build.

I also made sure that this doesn't happen on phet-io build.

I think this is ready to close.

[2017-10-19 00:38] #612 closed

[2017-10-19 00:59] jessegreenberg commented on #612
Awesome, thanks @zepumph.

[2017-10-19 20:08] zepumph commented on #603
Isn't backwards compatibility already handled because we have been copying the devguide into phet-io builds for a year or more.  All of the oldest deliveries found in Partners.md have devguides in their index wrappers. So perhaps the best way to proceed is to say that "old versions" of sims can find their documentation under {{VERSION}}/docs/devguide.

As for our previous plan of

"Documentation f

[2017-10-19 23:34] zepumph commented on #614
I can repeat this easily. Go to an a11y view and press the restart button, wait for the alert to disappear and then press the reset button again. There will be no updated pdom.

[2017-10-19 23:45] zepumph commented on #614
It looks like this isn't a problem with the a11y view, because it is identical to the `aria-live="polite"` paragraph in the pDOM (actually it is in a separate div with id of `aria-live-elements`). I think the issue is with AriaHerald, or something in between the UtteranceQueue.next() call and the actual DOM element. Notice this snippet, how everything is aligned nicely on the first press of the Re

[2017-10-19 23:49] zepumph commented on #614
Setting `withClear=true` option on `AriaHerald.announcePolite()`  did not fix this.

[2017-10-19 23:54] zepumph commented on #614
Arg actually it turns out that `withClear` is true by default (because if you omit it from the `announcePolite` call then it is undefined, and if it undefined then it defaults to true, quite confusing. I wonder why that happens). Setting it to `false` fixes the problem. So it appears to be a problem with how `withClear` is handling duplicates? This is a strange hypothesis as I would expect AriaHer

[2017-10-19 23:59] zepumph commented on #614
I found it!!

What is happening is tricky. AriaHerald is only setting a property, and the Property's listeners are responsible for setting the actual element, but notice this check in the setter of Property:

[code]

So it doesn't notify listeners because it is the exact same value.

I'm not sure what the best solution would be for this, I'm also not sure why setting `withClear` to false fixes thi

[2017-10-20 00:05] zepumph commented on #614
To sum up my findings from the above comments:
This is a problem with how AriaHerald is handling duplicate alerts, and there is no issue with `withClear` option. @jessegreenberg it seems like we shouldn't bypass that check in Property, but instead perhaps work on a work around. Do you have any suggestions?

In `updateLiveElement` it seems strange that we are sometimes setting the property, and som

[2017-10-22 00:33] samreid commented on #603
It looks like the documentation wrapper now supercedes createTypeDocumentation.js, feel free to delete.  @zepumph can this issue be closed?

[2017-10-23 20:40] zepumph commented on #603
Agreed! Deleted and closing.

[2017-10-23 20:40] #603 closed

[2017-10-30 16:13] ariel-phet commented on #580
@jonathanolson time is now a bit more freed up, assigning to him as some preemptive chipper 2.0 work.

[2017-10-30 16:15] samreid commented on #580
After adding this new task, @jonathanolson will run this on all sims to make sure they are in-sync.  We should also consider if/how/when to automatically run this as part of the build/deploy process (so developers don't need to remember to do it after changing package.json).

[2017-10-30 16:24] ariel-phet commented on #578
Will investigate but not necessarily feeling like this is mandatory.

[2017-10-30 16:29] pixelzoom commented on #571
10/30/17 dev meeting:
We will continue to rely on a healthy npm ecosystem, and will not check in dependencies.

[2017-10-30 16:29] #571 closed

[2017-10-30 17:07] jonathanolson commented on #580
Presumably this will also require some small modifications to the "create a new sim from simula-rasa" process.

[2017-10-30 20:00] jonathanolson commented on #580
Forgot to tag https://github.com/phetsims/chipper/commit/5db6514c2a651b2e636e9f4580d894d5c260cc29 for the create-sim changes.

[2017-10-30 20:03] jonathanolson commented on #580
Updated the code review checklist to instead check the generated file (instead of manually verifying the config file).

I also fixed all cases where things were missing in package.json.

Closing.

[2017-10-30 20:03] #580 closed

[2017-10-30 21:30] mattpen commented on #578
I'm planning to upgrade node this week on phet-server and bayes, which will require a decision on this process.  In discussion for #604, we decided it was ok to upgrade if we make sure that the `--save=false` strategy is employed during npm operations (we can choose to change this later if needed).

[2017-10-30 22:13] pixelzoom commented on #529
I wasn't clear on what part of phetsims/special-ops#49 was relevant to this issue, so I read through that issue.  The relevant comments are reproduced here for your enjoyment.

@pixelzoom, https://github.com/phetsims/special-ops/issues/49#issuecomment-264954601:

@zepumph, https://github.com/phetsims/special-ops/issues/49#issuecomment-264965005:

@pixelzoom, https://github.com/phetsims/special-ops

[2017-10-30 22:55] jonathanolson commented on #578
Should I shut down yotta/continuous-testing during this? Keep me apprised. @phet-steele, this may have continuous testing downtime?

Does this require build-server/continuous-testing/automated-maintenance-release changes? Or do we need to set a global or per-user config?

[2017-10-31 04:21] mattpen commented on #578
We can take either approach.  Using a user config file would probably be the best approach if we intend on using the package-lock files later.

Yes and I definitely won't change anything without coordinating with you first.  The first step I'm planning to take is to make sure build-server, rosetta, and the phet-io learner-tokens work on phet-server-dev with the latest node.  After it's working the

[2017-11-02 17:40] pixelzoom commented on #529
11/2/17 dev meeting: Leave this for chipper:2.0

[2017-11-02 18:35] samreid commented on #514
This looks like it was converted to UMD, closing.

[2017-11-02 18:35] #514 closed

[2017-11-02 18:38] samreid commented on #494
@jonathanolson still sees advantages for doing this, but @ariel-phet recommended deferring for now.

[2017-11-02 18:40] samreid commented on #492
This will be resolved by automating the build process, so things can't get out of sync.

[2017-11-02 18:40] #492 closed

[2017-11-02 18:42] pixelzoom commented on #473
11/2/17 dev meeting: This has indeed already been fixed, closing.

[2017-11-02 18:42] #473 closed

[2017-11-02 18:47] pixelzoom commented on #451
Definitely related to #567 (Build PhET and PhET-iO brands together).

[2017-11-02 18:51] samreid commented on #451
Meeting consensus: Versions will stay in step, we will build both together, but we don't necessarily need to test or deploy both together.

[2017-11-02 19:00] samreid opened #616 "Automate the sim_deployment.md steps"
We should be able to provide high level directives that automate the entirety of the sim_deployment steps.

[2017-11-02 19:01] samreid commented on #451
Closing this issue, we will tackle the automated builds in https://github.com/phetsims/chipper/issues/616

[2017-11-02 19:01] #451 closed

[2017-11-02 19:03] samreid commented on #447
When the build and deploy steps are automated in https://github.com/phetsims/chipper/issues/616 this problem will disappear.

[2017-11-02 19:03] #447 closed

[2017-11-02 19:07] samreid commented on #446
Closing, BRAND is no longer a replacement variable and hopefully nobody will add a brand argument to this command.

[2017-11-02 19:07] #446 closed

[2017-11-02 19:11] samreid commented on #383
A lot of overlap between this issue between this and https://github.com/phetsims/chipper/issues/494

[2017-11-02 19:13] samreid commented on #383
May still be interesting to investigate, but not necessary for 2.0, so marking as deferred, as we did for #494

[2017-11-02 19:18] samreid commented on #33
Dependencies.json should contain the union of phet dependencies and phet-io dependencies (or generally for all brands).

[2017-11-02 19:20] samreid commented on #592
Dependencies.json should contain the union of phet dependencies and phet-io dependencies (or generally for all brands).

[2017-11-02 19:25] samreid commented on #592
We decided it is OK for dependencies.json to contain information for multiple brands since that only determines what is checked out during checkout-shas, not what is a dependency for a build for a particular brand.

[2017-11-03 17:27] jonathanolson commented on #402
I tested it with a built sim (--mangle=false). It only shows the coverage for the entire built file line-by-line, making it hard to separate sim code and general code.

I'd recommend we continue with the generate-coverage approach outlined above for now (for built sims, which is what I usually recommend), but Chrome's built-in coverage should be used for non-built (require.js) mode.

[2017-11-03 17:44] mattpen commented on #578
Node and NPM have been updated on phet-server, phet-server-dev, and bayes.  We are able to start using package-lock.json now if we so choose, but it is currently disabled for the phet-admin user.

To enable it, we should run `npm config set save true`

[2017-11-03 17:45] mattpen commented on #604
Node and NPM have been updated on phet-server, phet-server-dev, and bayes.  We should now be able to use these features on the server side if we so choose.

[2017-11-03 17:45] mattpen commented on #604
@zepumph @samreid - should we close this issue?

[2017-11-03 18:39] samreid commented on #604
Let's leave this issue open, the next steps will be to try out some ES6 features or async/await and make sure all developers can use them.

[2017-11-03 18:59] zepumph commented on #547
@jessegreenberg can we close this, is this the a11y view?

[2017-11-03 19:00] zepumph opened #617 "a11y view HTML template should have the iframe scroll with you as you look at the pDOM"

[2017-11-03 19:02] zepumph commented on #617
@jessegreenberg could you please review by using an a11y view from master in a few browsers and seeing how you like the new feature?

[2017-11-03 20:54] jessegreenberg commented on #617
@zepumph great idea, this is really cool, thank you! This is going to be really nice in development testing and presentations.

Working great in FF and Chrome,  but IE, Edge and Safari don't support classList.replace(). Wondering if we can implement that ourselves?

[2017-11-03 21:07] zepumph commented on #617
Arg good catch! Anything else?

[2017-11-05 14:35] samreid opened #618 "Use eslint to identify missing visibility annotations"
While working on the Faraday's Law code review in https://github.com/phetsims/faradays-law/issues/86 I noticed many property declarations that are missing visibility annotations and wanted a way to automatically identify them and enforce their existence.

I spent 30 minutes investigating a lint rule that searches for such annotations, but I am running into some issues that will limit its utility.

[2017-11-05 14:39] samreid commented on #618
This rule also fails to correctly classify batched annotations such as this example in Function Builder:

[code]

[2017-11-05 14:48] samreid commented on #618
I ran the test in Function Builder to see if it might catch anything, and it revealed this true positive:

MathBuilder.js
[code]

Not sure why, but this lint rule is flagging `options = _.extend` calls.  And there are tons of false positives in this sim (from options and batching).

[2017-11-05 14:49] samreid commented on #618
What I would really like is a tool that helps detect whether a `this.property` assignment *should be* marked as public or private.

[2017-11-06 17:44] pixelzoom commented on #560
11/6/17 dev meeting notes

Current dev directory structure:

[code]

Desired dev directory structure:

[code]

Decisions:
• Hypen not allowed in brand names. Change "phet-io" to "phetio".  Typically use camelcase for other brands, e.g. "adaptedFromPhET" or "widgetsInc".

[2017-11-07 17:03] ariel-phet commented on #567
Assigning to @zepumph to distill this issue and perhaps open a new distilled issue, or break out the key points into separate issues and close.

[2017-11-07 20:35] jessegreenberg commented on #617
@zepumph its working great in IE11, Edge, Chrome, Firefox, and Safari! I have been using this a bunch already this week, it has been very nice. Closing.

[2017-11-08 22:12] phet-steele opened #619 "strip leading/trailing space from string values"
@pixelzoom has pointed this out. Using a string value like "____________Basics" for the title of a screen will place the string wildly out of place. (github DOES strip spaces, so I had to use underscores to show spaces 😠)

@ariel-phet please assign for someone to address.

[2017-11-08 22:24] pixelzoom commented on #619
Also... If anyone is writing layout code that is _relying_ on leading/trailing spaces in translated strings, that's a bad practice.  If the translator doesn't provide identical leading/trailing spaces, your layout will be hosed.  Similarly if the translator accidentally adds leading/trailing space, your layout will be hosed.  And Rosetta currently provides no support for either scenario.

[2017-11-08 22:29] pixelzoom commented on #619
I see 3 places in string.js where `.value` is being used to lookup the value of a string.  Lines 63, 174, 181.

[2017-11-09 06:11] samreid commented on #619
One possibility would be to put an assertion like
[code]

I tested it on several sims and haven't seen a problem yet.

[2017-11-09 15:47] pixelzoom commented on #619
Identifying leading/trailing whitespace is useful for the English (fallback) strings, which we can then fix.  But we have no control over the strings for other locales.  So stripping leading/trailing whitespace is (imo) the robust solution.

[2017-11-09 16:52] samreid commented on #619
We should add a `trim` on the rosetta side (before strings are committed).  Then to address existing trailing/leading whitespace we could either (a) strip whitespace on the sim side as proposed or (b) do one pass through all existing strings and fix any that are problematic.

[2017-11-09 17:01] pixelzoom commented on #619
Yes, we could add a trim in Rosetta, and make a pass through all existing strings.  But we still need a trim at the point where the strings are read for the file.  In general, anytime you read a string from an external source (user input, file,...), and that string is not supposed to have leading/trailing whitespace, one should defensively trim the string.  And that's the case with the string plug

[2017-11-09 19:11] pixelzoom commented on #619
11/9/17 dev meeting:
• Start by trimming in string plugin
• @jbphet will create an issue for Rosetta to trim there

[2017-11-09 19:19] jbphet commented on #619
The issue in rosetta for trimming strings provided by translators is https://github.com/phetsims/rosetta/issues/163.

[2017-11-09 20:46] pixelzoom opened #620 "bad doc for strings query parameter"
Noted while working on https://github.com/phetsims/chipper/issues/619.

The documentation for the `strings` query parameter is totally bogus:

[code]

[2017-11-09 20:50] pixelzoom commented on #620
Thanks to @jonathanolson and @jbphet for helping me figure this out.  And the lucky reviewer is:

[code]

[2017-11-09 20:53] pixelzoom commented on #619
Presumably this should be addressed by adding `trim` immediately before any call to `ChipperStringUtils.addDirectionalFormatting`.

[2017-11-09 21:04] pixelzoom commented on #619
I found 2 calls to `ChipperStringUtils.addDirectionalFormatting` (string.js, getStringMap.js) and put a `trim` immediately before each of them.  All looks good in requirejs and built modes.

But with `?strings=...`, there's no `trim`, and that also means no `ChipperStringUtils.addDirectionalFormatting`.     Since Rosetta is using `?strings`, I'm wondering if it's adding the directional formatting.

[2017-11-09 21:15] pixelzoom commented on #619
If Rosetta is indeed adding directional formatting, then it will also need to `trim` before doing so, since the directional formatting will surround any leading/trailing whitespace.

In the meantime, I'm going to `trim` the values provided via query parameter, to handle the general use case.

[2017-11-09 21:25] jonathanolson commented on #620
Docs look great, thanks!

[2017-11-09 21:25] #620 closed

[2017-11-09 21:35] pixelzoom commented on #619
Doing the trim in requirejs would mean this in string.js, not so bad:

[code]

Handling it in built mode would involve changing sim.hmtl line 68, like this:

[code]

Chatting about this with @jonathanolson on Slack, we're considering _not_ trimming the values provided via `?strings` since (presumably?) it's for use by Rosetta and developers.  But my concern with not trimming `?strings` is 2-fold:

[2017-11-09 21:42] pixelzoom commented on #619
Slack developer:

Assigning to @jbphet to determine where directional formatting is coming from when used with Rosetta, and whether Rosetta also needs to `trim`.

[2017-11-10 18:46] pixelzoom commented on #619
@jbphet in Slack, re the 'strings' query parameter:

[2017-11-10 19:13] zepumph commented on #614
@jessegreenberg this should no longer be a problem since we removed the Properties from AriaHerald. Can you confirm that this is fixed, and close if all looks good.

[2017-11-13 17:14] ariel-phet commented on #616
I imagine this comment will be relevant

https://github.com/phetsims/chipper/issues/560#issuecomment-342227691

[2017-11-13 17:42] pixelzoom commented on #619
To maintain momentum on this, I poked around in rosetta myself.  After searching for various things ('directional', 'RTL',...)  I finally found 'rtf' in a couple of comments -- which I've changed to 'RTL' in the above commit.

In translate-sim.js, look for 'RTL', or usages of `var rtl`.  It does look like directional formatting is being added on line 84:

[code]

Two changes that need to be made:

[2017-11-13 18:03] pixelzoom commented on #619
I don't feel comfortable making Rosetta changes, since I'm not familiar with how to test and deploy.  Discussed with @ariel-phet and he said to assign to @jbphet to (1) make Rosetta changes and (2) verify the changes that I made to build tools in https://github.com/phetsims/chipper/commit/f7be23c15c5fa8943c5bc14fb6d3016a1e806bf7.

[2017-11-13 18:08] pixelzoom commented on #619
@jbphet Check with @ariel-phet  on priority. Rosetta will currently show leading/trailing whitespace, while requirejs/built sims will trim it.  So what the translator sees doesn't match what will be deployed.

[2017-11-13 18:08] jonathanolson commented on #563
Tested in master (molarity). Builds a combined file, `phet.chipper.strings` has keys: en, ar, bs, da, de, el, es_CO, es_ES, es_MX, es_PE, es, et, eu, fa, fi, fr, gl, hu, in, it, iw, ja, ka, kk, km, ko, lv, mk, mr, nb, nl, pl, pt_BR, ru, si, sk, sr, sv, ta, th, tk, vi, zh_CN, zh_TW. Spot-checked and the `?locale=` query parameter seemed to work nicely.

[2017-11-13 18:17] jonathanolson commented on #563
Will presumably wait on other chipper 2.0 issues to see if we can combine maintenance releases.

[2017-11-14 16:26] jbphet commented on #619
Okay, I'll set the priority and hopefully address during the upcoming chipper:2.0 effort.

[2017-11-15 18:50] jonathanolson commented on #578
This is in a "waiting for future decision if we use package-lock.json". Everything for current usage is complete.

[2017-11-15 19:40] jonathanolson commented on #563
Original issue: https://github.com/phetsims/chipper/issues/509

[2017-11-15 20:34] zepumph commented on #604
I'm working in a branch on chipper called 'es6'.

I think that we will be able to specify a certain folder as es6 for IDEA:
https://blog.jetbrains.com/webstorm/2017/08/how-to-configure-code-completion-in-full-stack-javascript-projects/
Here is an issue in youtrack that shows people would really like an easy fix to this problem. https://youtrack.jetbrains.com/issue/WEB-12666

My game strategy:
- [x

[2017-11-15 20:35] zepumph opened #621 "branch: es6"
For experimenting with https://github.com/phetsims/chipper/issues/604

[2017-11-15 22:27] zepumph commented on #604
I have rethought the names of this process as really an exercise in pursuing features up through es8, since that is async await, so I renamed everything to es8 so that it is obvious that the eslint parser can handle up to ecmaVersion: 8.

There are a few things that I have done to my IDEA in order for this to work in Webstorm. The above youtrack https://youtrack.jetbrains.com/issue/WEB-12666 is ex

[2017-11-15 22:29] zepumph commented on #604
Helpful eslint links as we work on this more:
All of the rules (including the special ones for es6) https://eslint.org/docs/rules/
Configuring guide - https://eslint.org/docs/user-guide/configuring

[2017-11-16 05:36] jonathanolson commented on #604
I'd definitely be excited about using ES6 features in perennial. Didn't see an easy way to change our linting either (to have only some parse as ES6), so I had to revert some planned usage of features.

[2017-11-16 05:37] samreid commented on #604
@zepumph is working on a way to segregate our linting into an ES5 linting step and an ES6 linting step.

[2017-11-16 16:32] samreid commented on #604
By the way, we may wish to consider moving our simulation codebase to ES6.  We do most of our requirejs testing in ES6 compatible browsers, and we already require a build step for our builds anyways--we could tack on a ES6->ES5 transpile step.  But let's start with chipper and see how it goes.

[2017-11-16 16:34] mattpen commented on #560
Will the new versioning scheme be an automated step or still be a manual process?

If it is automated should it go in chipper (meaning old versioning scheme still used for some sims) or the build-server (would not be used for dev deploys)?

If we want to include this in perennial, maybe it would be a good idea to migrate devDeploy to the build-server?

[2017-11-16 16:45] samreid commented on #560
The heart of chipper 2.0 is automating things to prevent manual errors & labor, so I imagine we would want to codify and automate the versioning too.

[2017-11-16 20:08] zepumph commented on #604
By "chipper" do you also mean perennial?

[2017-11-16 20:17] samreid commented on #604
Yep

[2017-11-16 21:09] mattpen commented on #604
I just made a change in chipper using ES6 features, https://github.com/phetsims/chipper/commit/504a620f9568205cf0b014600d99ce830e98ec78 (line 85).  Is this ok?

[2017-11-16 21:20] zepumph commented on #604
From slack conversation:
[code]

So @jonathanolson will code review the above commits, see if it is good for master, and we will go from there.

[2017-11-16 21:33] zepumph commented on #604
I added perennial to the es8 linting instead of es5. From here @jonathanolson can code review for perennial and the specific chipper es8 directory. Take it away!

[2017-11-16 21:35] zepumph commented on #604
He also mentioned that a nice way to manage eslintrc files will be on a per directory basis, see https://github.com/eslint/eslint/issues/2026 for deets. I will look into this next.

[2017-11-16 21:39] zepumph commented on #604
I pushed this branch to master. Linting is still working as expected, and workflow shouldn't change for general phet development.

[2017-11-16 22:23] pixelzoom commented on #604
I have not updated to Node8 and NPM5, but the info above seems to indicate that I only need to do that if I’m curious about ES8 features.

After pull-all.sh, ‘grunt lint’ in any repo is failing:

[code]

Next I installed node v8.9.1 and npm 5.5.1 (LTS release).  ‘grunt lint’ now succeeds for sim repos.  ‘grunt lint’ for chipper fails:

[code]

[2017-11-16 22:26] pixelzoom commented on #604
`grunt` is also failing for sims, e.g.:

[code]

Why does a local build involve deployProduction.js?

[2017-11-16 22:32] samreid commented on #604
Same problem here running node v8.3.0

[2017-11-16 22:32] samreid commented on #604
It's probably just getting loaded in a require statement and never called.

[2017-11-16 22:33] samreid commented on #604
A reminder that some chipper files (at least initialize-globals.js) needs to remain ES5

[2017-11-16 22:36] pixelzoom commented on #604
I believe that getVersionForBrand.js and everything in chipper/js/requirejs-plugins/ also needed to remain ES5 compliant.  And lint needs to verify ES5 compliance for all chipper files that need to be ES5 compliant.

[2017-11-16 22:41] mattpen commented on #604
I fixed this error:
[code]
in this commit: https://github.com/phetsims/chipper/commit/057324e03e5beaa1a6299e92c977db17350d1179.

[2017-11-16 22:44] pixelzoom commented on #604
An additional problem is what to do about package-lock.json. Slack discussion:

@pixelzoom WebStorm is also telling me I need to add package-lock.json for all dirs where I did `npm install`. What is the plan for package-lock.json? gitignore it? check it in?

@jonathanolson There’s a deferred issue that basically says we should run “npm config set save false” to avoid creating them for now and in t

[2017-11-16 22:52] pixelzoom commented on #578
The upgrade to node8 and npm5 in https://github.com/phetsims/chipper/issues/604#issuecomment-345071159 turns this issue from "deferred" to "high priority".  I now have package-lock.json files in every repo where I've run `npm install`, and WebStorm shows all of them whenever I try to commit anything.

[2017-11-16 22:54] samreid commented on #578
@pixelzoom did you use `npm config set save false` as described in https://github.com/phetsims/chipper/issues/578#issuecomment-305893183 and https://github.com/phetsims/chipper/issues/578#issuecomment-341777207 ?

[2017-11-16 22:56] pixelzoom commented on #578
I see no definitive decision that we're doing that.  I see "waiting for future decision if we use package-lock.json", in  https://github.com/phetsims/chipper/issues/578#issuecomment-344690699

[2017-11-16 22:58] samreid commented on #578
We are not using package-lock.json for now, in the future we will decide if we will use it in the future.

[2017-11-16 23:01] pixelzoom commented on #578
I realize that we are not using package-lock.json now.  But #604 has now made a change where it is generated, when it previously not.  So the question is not whether to use it, it's how to ignore it.  If the decision is `npm config set save false`, great.  But I don't see any such decision in this issue.

[2017-11-16 23:03] samreid commented on #578
I think we decided (but did not document) that each developer could choose whether to set the global or use `--save=false` in each call.  Much easier to set the global.

[2017-11-16 23:03] pixelzoom commented on #578
Slack developer channel:

Chris Malley [3:58 PM]
The most recent consensus about package-lock.json was “waiting for future decision if we use package-lock.json”, see https://github.com/phetsims/chipper/issues/578.  Are we going with `npm config set save false`, or something else?

Michael Kauzmann [4:01 PM]
I set my global to false. Perhaps it would be best to do that, and then bring it up at a me

[2017-11-16 23:11] pixelzoom commented on #604
Slack:

Jonathan Olson [4:04 PM]
Ok, chipper master should be fixed up a bit. chipper/js/grunt and perennial/js currently support more JS features

Sam Reid [4:05 PM]
So can we rely on developers having ES8 installed, or ES8 limited to non-production code for now?  developers (and servers)

Chris Malley [4:06 PM]
What happened to `grunt es8Test` ?  Not sure what was fixed because I don’t see any c

[2017-11-16 23:15] jonathanolson commented on #604
I switched things to per-directory .eslintrc files (described in https://github.com/eslint/eslint/issues/2026). This allowed reverting some of the es6/es8 branch changes, and simplifying a few things.

@zepumph can you review my recent commits to chipper?

[2017-11-16 23:17] pixelzoom commented on #604
Re es8Test ... In Slack, @jonathanolson said:

[2017-11-17 00:37] samreid commented on #604
I sent this email to the dev mailing list:

Hello PhET Development Team,

As part of our upgrade to ES8 in non-simulation code, the build tools will require Node 8.9.1 LTS or higher starting on Monday Nov 20 at 11am.  Please see https://github.com/phetsims/chipper/issues/604 for details.

Best Regards,
Sam

[2017-11-17 00:42] zepumph commented on #604
@samreid how does it not require this right now?

[2017-11-17 00:47] zepumph commented on #578
Should I add this to the developer meeting soon? Are we in the "future" and ready to commit these files?

Decreasing priority now that things are documented better.

[2017-11-17 01:08] mattpen commented on #578
I investigated this in June.  Committing these would require doing a maintenance release of all or almost all of the sims in order for the build-server to work properly.  I thought we decided to punt because this is a steep cost for a small gain.

[2017-11-17 01:21] zepumph commented on #578
Right! Thanks for the reminder.

[2017-11-17 01:47] samreid commented on #604
Good point, it probably does!

[2017-11-17 01:53] samreid commented on #578
Or adding logic to build server that can support old kinds + new kinds simultaneously?

[2017-11-17 03:57] jonathanolson commented on #563
Using the new shaCheck (determines what released simulations have given SHAs included) and through checking automated builds, I've determined that the following sims will need maintenance releases for this:

acid-base-solutions
area-builder
arithmetic
atomic-interactions
balancing-act
balancing-chemical-equations
beers-law-lab
bending-light
charges-and-fields
color-vision
concentration
energy-skat

[2017-11-17 05:42] jonathanolson commented on #563
The patches are semi-involved so far (6-7 files across chipper/joist so far), and I've had to make 2 moderately different patches so far.

Due to that, I think two types of review are going to be needed.

- I'll want code reviews on all of the independent patches I'll be writing, as I'm basically reimplementing the feature on different codebases. @jbphet and/or @mattpen, whoever feels most familia

[2017-11-18 00:24] zepumph opened #622 "A11y View won't display's home screen focusHighlight after navigation to other screen"
This bug basically breaks all keyboard navigation in the simulation when using a multiscreen simulation in the a11y view. I witnessed this on Firefox, but not Edge, IE, Opera, or Chrome. @terracoda said that it happens in Safari as well in https://github.com/phetsims/joist/issues/462#issuecomment-342681330

Here is an effect of this bug
![image](https://user-images.githubusercontent.com/6856943/32

[2017-11-18 00:25] zepumph commented on #622
Thanks @jessegreenberg for helping me dive in.

[2017-11-18 02:08] jonathanolson commented on #563
The first two sims I patched turned out to need the only two different implementations. For review:

- Chipper changes, https://github.com/phetsims/chipper/commit/ed5fadf1df25d856ea14ae440a68fa1e961ee28a and https://github.com/phetsims/chipper/commit/eb55232520e8ad23bbf68ad14817cd1f8c7ae752
- (minimal) Joist changes, 1d73ca2132952c6678a39acbdf4c173030691b94 and 88184ee60f63945e6529699f86637a67a278

[2017-11-18 02:09] zepumph commented on #617
Note that this solution doesn't work well on IE, it get's stuck in the scroll view when you scroll back to the top. Leaving open and on hold depending on how https://github.com/phetsims/a11y-research/issues/63 goes.

[2017-11-18 02:12] zepumph commented on #622
on hold until we sort out  https://github.com/phetsims/a11y-research/issues/63

[2017-11-18 02:28] jonathanolson commented on #563
RCs pushed out, created https://github.com/phetsims/QA/issues/72 for tracking testing. Will track code review in this issue.

[2017-11-18 03:24] jonathanolson commented on #592
The "allow the latest phet and phet-io builds to be on different versions" (so we don't always have to push out to all brands when we make a fix) seems to have a lot of issues if we try to keep 1 branch for those 2 versions.

As an example, say Molecule Shapes 1.2.0 gets released (has a branch `1.2` in molecule-shapes), and then we apply a phet-io fix (updating only phet-io), thus we would have at

[2017-11-18 03:30] zepumph commented on #592
What if the maintenance release qa process involves testing the change for all brands. So even if it is phet maintenance release patch, you test the phet-io stuff too. Ideally that is what we want in master also, because we don't want changes to break any brand (I phet and phet-io fuzz before committing any common code).

I don't see this as a large cost. Aren't maintenance releases mainly just sp

[2017-11-18 04:03] jonathanolson commented on #592
I'd be happy to revisit the "test and deploy both brands for any change" approach.

[2017-11-19 23:10] zepumph commented on #592
Why would you want to deploy a brand no matter what, even if you don't need to? I feel like that is unneeded and an extra cost if no one will be using the other brand. With the quoted approach you would also run into edge cases that would lead to discrepancies. How would you handle a situation where a cherry-pick only touches phet-io code. Would you create a maintenance release for phet brand that

[2017-11-20 17:07] jonathanolson commented on #592
Sounds fine to me (personally), but I'm curious what @ariel-phet thinks. It makes sense that if a commit touches phet-io, it won't affect the phet-brand release and should be totally safe (as you noted above).

Usually for maintenance releases (particularly multi-sim ones), I'll provide instructions of what needs to be tested (e.g. https://github.com/phetsims/QA/issues/72). We'd probably deploy an

[2017-11-20 19:46] jbphet commented on #563
I've reviewed the two chipper patches, i.e. https://github.com/phetsims/chipper/commit/ed5fadf1df25d856ea14ae440a68fa1e961ee28a for acid-base-solutions 1.2.x and https://github.com/phetsims/chipper/commit/eb55232520e8ad23bbf68ad14817cd1f8c7ae752 for atomic-interactions-1.0.  Both look reasonable to me, but are hard to review without spending a fair amount of time making sure that the changes match

[2017-11-20 19:47] jbphet commented on #563
Assigning back to @jonathanolson, since I'm not sure if he wanted to pass this on to QA or do something else next.

[2017-11-20 20:17] jbphet commented on #592
+1 for the idea that RCs are always built and tested for all brands, but deployments are only done for the brands that need the release.

[2017-11-20 20:25] zepumph commented on #592
"both" meaning 2 now, but supporting built/test for any brand necessary in the future?

I like that idea. I will say that we should be careful about what we deem appropriate as a phet-io test if cherry-picking something for phet brand. It may not always be as simple as to run the stand alone simulation in phet-io brand (the first option for the index wrapper). I can imagine a case where a cherry-p

[2017-11-20 21:14] jonathanolson commented on #560
I'd also be interested in whether we would want to mark debug versions (with assertions included and potentially enabled, see https://github.com/phetsims/phet-io/issues/1149) with 'debug' information in its version.

Proposed version scheme doesn't have ways to add on any "in-the-future" additional tags, like `-debug`.

Thoughts?

[2017-11-20 21:29] jonathanolson commented on #560
Or, since we're also not including the locale (affects the build) in the version, presumably we wouldn't include whether it's a debug build?

[2017-11-20 21:30] samreid commented on #560
How does the locale get specified?

[2017-11-20 21:50] jonathanolson commented on #560
I guess I'm trying to figure out conceptually what the "version" would include. Yotta and such cares a lot about what locale it is (and it may matter whether it's a debug build), and some things care about our build timestamp (which is how we can tell translation updates apart).

Additionally, it seems the version should also include a "one-off" identifier field, so that the directory/etc. can be

[2017-11-20 21:56] zepumph commented on #560
Currently is the only thing that specifies the locale in a built sim the html file? If so, and yotta doesn't mind managing locales this way, perhaps we could get away with yotta handling debug mode in the same way, with out touching the version?

Conversely maybe it would be better to maintain specificity on the version/directory level rather than just with different html files. It also seems like

[2017-11-20 22:53] jonathanolson commented on #616
I'm concerned about the "manual test" that happens to the built version in the middle (currently the "Test the built version locally" step).

Can we avoid this, and say that the developer can test before kicking off the deploy?

[2017-11-20 23:20] zepumph opened #623 "create global: phet.chipper.a11yEnabled"
From https://github.com/phetsims/joist/issues/454 and https://github.com/phetsims/scenery/issues/710,

We want to create this flag so that we can use it everywhere like for focusProperty in Display.js, UtteranceQueue, and anywhere else it may come up.

[2017-11-21 00:24] zepumph commented on #623
@jessegreenberg please review

[2017-11-21 01:49] samreid commented on #616
Yes, this was important when the build tools were in their infancy, but now a pre-test and a post-deploy test would be sufficient.

[2017-11-21 03:01] samreid commented on #560
It seems our choices are roughly:

faradays-law/1.0.0/faradays-law_en.html
faradays-law/1.0.0-debug/faradays-law_en.html

vs

faradays-law/1.0.0/faradays-law_en.html
faradays-law/1.0.0/faradays-law_en-debug.html

I was envisioning the second option, that the debug version would be supplied with each build.

[2017-11-21 03:06] jonathanolson commented on #560
I was also thinking of the second version.

Would we have `faradays-law_en-phetio-sonification-debug.html`? We'd want to decide on an order to the flags.

[2017-11-21 03:12] jonathanolson commented on #616
Sounds good, thanks.

[2017-11-21 21:08] jonathanolson commented on #616
Added perennial `grunt create-release --repo={{REPO}} --branch={{BRANCH}}` to handle creating a new release branch (and properly pushing master and branch version updates).

[2017-11-22 00:17] jonathanolson commented on #604
Promises and async/await are super helpful. Here is a notable before/after:

before:
[code]

after:
[code]

Since this is integrated and linting well, is there anything else to do for this issue? Should we think about converting all possible code to use promises instead?

Additionally, is there a good way to document the types used for a Promise's resolve/reject?

[2017-11-22 05:26] samreid opened #624 "branch: generate-test-harness"
To support https://github.com/phetsims/aqua/issues/24, automatic generation of QUnit test harnesses.

[2017-11-22 06:09] samreid commented on #624
I added a new grunt task which can be used like so:

[code]

Add `js/faradays-law-test.js`:

[code]

Run faradays-law-test.html

![image](https://user-images.githubusercontent.com/679486/33112465-9b98f9f4-cf10-11e7-8ed8-a3c6b9602546.png)

Tests can be defined and loaded through the same module system that we use to load files.  Tests will not be included in the built version.

It is naive to belie

[2017-11-22 06:16] samreid commented on #624
I think it would not be too much work to create a compiled test HTML, we would need to point the requirejs step at the test config file instead of the "main" config file and update the sim template.  Let's get feedback from @jonathanolson before going much further though.

[2017-11-22 16:33] samreid commented on #604
Thanks for showing the diff @jonathanolson, that looks great.  It would be very time consuming to review every file of chipper to evaluate converting to ES6 idioms (such as arrow functions, async await, etc., const), but until we do we will have a mishmash of ES5/ES6.  My inclination is to live with the mishmash and just update incrementally as we see fit, but I can see the arguments either way.

[2017-11-22 18:41] zepumph commented on #604
I think that mishmash is the best approach for now, partially because we as a team haven't figured out what we want our es6+ idioms/code style to be. I could see us working through chipper2.0 as an experimentation time, and then reconvening after to discuss what people want to standardize as phet practice moving forward.

[2017-11-22 18:49] samreid commented on #604
@zepumph that sounds great to me.

[2017-11-22 18:50] zepumph commented on #604
Part of what we should be thinking about are es6 lint rules we want to add to the necessary directories.

[2017-11-22 20:08] jonathanolson commented on #624
I haven't reviewed the implementation, but this looks great for sim tests. Hopefully the newer QUnit version supports properly identifying when tests are finished running (otherwise automated testing will need to wait for 40s).

I'm curious if we can get it to work for all repos, so it is consistent?

[2017-11-23 00:52] samreid commented on #624
I got this working for dot.  The main recipe is:

1. `cd dot`
2. `grunt generate-test-harness`
3. create js/dot-test.js
4. Port tests like so:

a. convert e.g., `dot.Bounds2` to `Bounds2` and add a module load statement for Bounds2.
b. replace `test` => `QUnit.test`
c. add `assert` argument to QUnit tests

Here's a snapshot of dot-test.js:

[code]

Here's a snapshot of Bounds2Test, ported from dot

[2017-11-23 01:08] zepumph commented on #567
Here is my summary of this issue. In general I will create new issues for different parts of this. Bold parts are headers.

**First we talked about what the build artifacts will look like in the build/ dir. This assumes that we are building both(all) every time, but I don't think that was settled at all.**
A. Build each brand into a single directory, each with their own dependencies file:
[code]
B

[2017-11-23 01:14] zepumph opened #625 "Should PhET have someone whose primary job is the build tools?"
This was brought up in https://github.com/phetsims/chipper/issues/567#issuecomment-298974310 while discussing integrating the build process for phet-io and phet brands together. I know that Chipper:2.0 is in full swing, and taking many people's time right now, but I think it was worth promoting to its own issue.

[2017-11-23 01:18] zepumph commented on #567
Now I am going to summarize the summary:

I'm pretty sure these are decided, but it will still be good to discuss and make sure:
* 1 dependencies.json file, that holds a superset of all shas needed for all brands
* 1 maintenance release branch per version, that holds all brands with that version.
* Build/test every brand in a release branch, but only deploy the brand you need to.
* Should the defa

[2017-11-23 01:52] zepumph commented on #33
In https://github.com/phetsims/chipper/issues/567#issuecomment-346513337 I worked on summarizing that issue. There we will confirm the "one dependencies.json per branch" approach and then work here to discuss the details.

[2017-11-24 03:50] samreid commented on #625
We may be better poised to answer this after a month or two after chipper 2.0 is complete.

[2017-11-24 03:51] samreid commented on #604
I was thinking of iterating through chipper and converting to const/arrow functions/new options pattern, etc when I recalled @jonathanolson said he would be working on things in branches for chipper 2.0.  Rather than create a messy merge, I'll wait.  I'm adding this comment in case others are thinking along the same lines.

[2017-11-25 11:13] samreid commented on #621
I confirmed this branch is merged to master, and deleted the branch, closing.

[2017-11-25 11:13] #621 closed

[2017-11-25 11:43] samreid commented on #600
@zepumph can this issue be closed?

[2017-11-25 12:34] samreid commented on #574
Here's a reference version of Forces and Motion: Basics:
https://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.4.0-dev.1/forces-and-motion-basics_en.html

I isolated the main js of FAMB and it is 2.4MB.  I ran prepack on it and it was 3.1MB (though I noticed extra line breaks in this one, so it may be compressible).  The prepacked version is available here:
https://www.colorado

[2017-11-25 12:47] samreid commented on #558
https://github.com/phetsims/phet-io/issues/1031 is closed and I no longer see an `exhileWrappers` branch, closing.

[2017-11-25 12:47] #558 closed

[2017-11-25 12:51] samreid commented on #551
We are using ES6 in chipper as of https://github.com/phetsims/chipper/issues/604 and discussing using it in simulations in https://github.com/phetsims/phet-core/issues/34

[2017-11-25 12:51] samreid commented on #551
From https://github.com/phetsims/phet-core/issues/34

[2017-11-25 12:54] samreid commented on #543
Branch deleted, closing.

[2017-11-25 12:54] #543 closed

[2017-11-26 18:06] pixelzoom commented on #604
Self assigning so that I remember to review comments on this issue that occurred since 11/17/17.

[2017-11-26 18:08] pixelzoom commented on #567
Self assigning so that I remember to review comments on this issue that occurred since 11/17/17.

[2017-11-26 18:08] pixelzoom commented on #560
Note to self: review comments on this issue that occurred since 11/17/17.

[2017-11-26 18:08] pixelzoom commented on #592
Self assigning so that I remember to review comments on this issue that occurred since 11/17/17.

[2017-11-26 21:32] samreid commented on #551
To test this, I added the following code in createHTMLFiles.js:

[code]

I also had to do (not sure if essential in chipper/ or sim/):
[code]

Then I was able to add ES6+ code in faradays-law-main.js and confirm that it transpiled properly to ES5 compatible code.

[2017-11-27 05:32] samreid commented on #551
Here's a diff of one of the simpler model files in Farday's Law using ES6 classes:

![image](https://user-images.githubusercontent.com/679486/33252124-6a8666fc-d2f9-11e7-8de9-5bbc6570db3d.png)

I also neglected to mention, there are 2-3 usages of `global.define` that fail after transpilation--patching them seems to get the sim working again:
![image](https://user-images.githubusercontent.com/67948

[2017-11-27 05:44] samreid commented on #551
I tested IDEA code navigation from FardaysLawModel.js in this code:

[code]

Somehow, IDEA took me right to the correct (Magnet) definition of `reset`.  And clicking on showTopCoilProperty.reset, it showed this list of options:

![image](https://user-images.githubusercontent.com/679486/33252408-4f588890-d2fb-11e7-9db7-134020d60471.png)

[2017-11-27 06:09] samreid commented on #551
Based on my preliminary investigation, I feel like we should add a Babel step to our compilation and start moving to ES6 in simulation code.  We would need to pay the "up front costs" of:
* ironing out build tools (could be done after chipper 2.0), https://github.com/phetsims/chipper/issues/551#issuecomment-347040107 is a step in the right direction but doesn't handle preloads
* testing that trans

[2017-11-27 17:45] samreid commented on #592
The following hypothetical situation seems reasonable to me:
1. Publish 1.1.0 of Faraday's Law, both the PhET and PhET-iO brands, and create a single 1.1 maintenance branch.
2. Receive bug reports that there is a problem with the PhET-iO version (that doesn't impact the PhET branded version).
3. Apply fixes in the 1.1 branch.
4. Test the PhET-iO branded version and redeploy it.

Later when we are

[2017-11-27 17:52] jonathanolson commented on #592
That sounds like a problem I'd like to avoid. Not being able to do batch maintenance releases sounds unacceptable.

However, the batch maintenance process could identify when maintenance versions differ between phet and phet-io, and could note that those RCs need additional testing. Then QA would need to look up what changes have been applied (so they could test). Thoughts?

[2017-11-27 17:53] zepumph commented on #592
The above from @samreid seems less than optimal.

We already basically fully tested the PhET version in this step, why not document it as such/ take the steps to assure that the PhET brand is good to go as well?

[2017-11-27 18:09] pixelzoom commented on #604
Finished reviewing comments.    I'm on the fence about whether https://github.com/phetsims/chipper/issues/604#issuecomment-346737745 is worth the effort, but will let others make that call.

[2017-11-27 18:23] samreid commented on #604
The chipper 2.0 branch is already making good use of ES6 features, it seems like a step in the right direction.

[2017-11-27 18:24] jbphet commented on #560
Personally, I'd prefer version ID instead of structured directories.  The proposal for the change to version ID as I understand it is:
[code]
We should decide if `-debug` is the only thing that can appear in this spot or if, like "-test" and "-oneOffName" it can take on different values.  For now, my understanding is that `-debug` is the only proposed value.  If it can take on more values, we will

[2017-11-27 18:34] zepumph commented on #560
I think that the proposal to version ID is
[code]
Where {{}} represents a template that changes, but `-debug` is just that string. I think this is what @jbphet was saying, but I want to be explicit.

There are many hyphens in this schema. Is it possible that an underscore would help differentiate components and decrease parsing complexity? Maybe something like

[code]

Developing these debug versi

[2017-11-27 18:37] jonathanolson commented on #551
Already have transpilation set up so I can use it in chipper's 2.0 branch.

We'll be doing a lot of testing for chipper 2.0 anyways. That could be included.

This is an acceptable trade-off for me (I'm usually the one who complains the most about build speed, and I think es6+ is worth it)

What is the cost here? We can just bump the babel version whenever we need something new (or a bugfix)?

As l

[2017-11-27 18:48] samreid commented on #592
The reason I suggested a hypothetical example in https://github.com/phetsims/chipper/issues/592#issuecomment-347264008 of the PhET-iO version needing changes (but not the PhET version) and not vice-versa is that all PhET-brand bugs impact PhET-iO versions as well.  That is, if it is important enough for us to do a maintenance for a bug for a PhET brand sim, then we should probably also maintenance

[2017-11-27 18:51] jbphet commented on #592
@zepumph said:

Two points on this:
1. The additional testing is an additional requirement on the QA process, and will grow as the number of supported brands grows.  I haven't seen anything from @phet-steele on this topic, and he should probably chime in, the basic question being "How much harder would it be to have to QA team verify all brands for every release instead of just the needed brand or

[2017-11-27 19:00] zepumph commented on #592
@samreid said:

@jbphet said

I agree with both of these. I don't think we should go with the "always deploy all brands" approach, but instead have heuristics.
1. If there is a PhET brand Maintenance release, there should probably a phet-io one because @samreid is right, this overlaps directly for things like security/scenery fixes and what not.
2. A PhET-iO specific fix definitely doesn't need to

[2017-11-28 02:17] jonathanolson commented on #551
My patch https://github.com/phetsims/chipper/commit/8abd5e7e61e240ca14ac099752c9070c8384af3c fixes this in the 2.0 branch. Basically localeInfo/mipmapDownscale use a trick to work in both Node.js and requirejs, passing `this` to a function in "global" scope. Babel wraps everything with `"use strict"` which then turns the `this` reference to be `undefined`. The recommended fix is replacing `this` w

[2017-11-28 02:59] samreid commented on #624
@jonathanolson said this looks promising and we should try it out.  I can take a few steps in aqua, but I'll need to coordinate with @jonathanolson to move it to the server.

[2017-11-28 05:55] samreid commented on #624
I wrote to @ariel-phet to apprise him of the proposed plan:

[2017-11-28 06:09] samreid commented on #624
Notes from discussion with @jonathanolson.

Using specific test HTML like http://localhost/scenery/tests/qunit/unit-tests.html
You can run it in the aqua harness like so: http://localhost/aqua/html/qunit-test.html?url=http://localhost/scenery/tests/qunit/unit-tests.html

May need `encodeURIComponent( 'http://localhost/scenery/tests/qunit/unit-tests.html' )` on some platforms.

[2017-11-28 16:39] pixelzoom commented on #567
Re @zepumph summary in https://github.com/phetsims/chipper/issues/567#issuecomment-346512461 ...

(1) It seems to be related to an unidentified "discussion" that took place.  It would be nice to have context.

(2) The directory structures don't match the decisions made in 11/16/17 dev meeting, which were approved by @kathy-phet.   See "desired directory structure" in https://github.com/phetsims/ch

[2017-11-28 16:45] pixelzoom commented on #560
Personally, I'm loosing the ability to comprehend PhET's versioning and publishing needs. They have become way too complicated, and should be someone's primary responsibility (as I suggested long ago in https://github.com/phetsims/chipper/issues/567#issuecomment-298974310).   So I'm afraid that at this point I don't have any productive thoughts on this issue.

[2017-11-28 18:04] zepumph commented on #567
"Talked" meaning commented above, everything is a synopsis of the above issue comments.

https://github.com/phetsims/chipper/issues/560#issuecomment-342227691 is the final decision. The above is just noise. Look at #560 for finalized directory structure.

This means one maintenance branch per {{MAJOR}}.{{MINOR}} pair, with all brands built in that branch.

[2017-11-29 01:09] zepumph opened #626 "pDOM UI components disappear on first redraw/update"
When the A11y View first loads, things look good, like this on for MAL in chrome:

![image](https://user-images.githubusercontent.com/6856943/33352577-09ea1196-d456-11e7-9080-69680d02aeb2.png)

Then after interacting with it, many componets disappear in strange ways:
![image](https://user-images.githubusercontent.com/6856943/33352587-202299f6-d456-11e7-9380-dc527b1ec056.png)

This behavior is diff

[2017-11-29 01:19] zepumph commented on #626
We can assign priority to this issue based on the consensus of https://github.com/phetsims/a11y-research/issues/63 after the IDRC meeting Friday.

[2017-11-29 04:04] jonathanolson commented on #616
Initial implementation for dev/rc/production deployment is done. I've tested dev deployment somewhat with both brands (I'll want to test all failure modes too).

I'll probably need to look at build-server (possibly with @mattpen) to see what the consequences of changing the phet-brand "version" to include `-phet` in the build-server request, and also how to handle the other naming changes in https

[2017-11-29 04:05] jonathanolson commented on #616
(rc and dev in perennial are totally untested. please for the love of god don't run them).

[2017-11-29 04:22] pixelzoom commented on #616
😈

[2017-11-29 04:33] jonathanolson commented on #616
RC deploy looks like it's working (https://www.colorado.edu/physics/phet/dev/html/chains/1.6.0-rc.1-phet/chains_en-phet.html, note the new naming scheme)

[2017-11-29 04:36] jonathanolson commented on #616
@mattpen, `sudo journalctl -fu build-server` on ox-dev says `sudo: journalctl: command not found`. Is there a way I can look at the logs?

[2017-11-29 04:37] jonathanolson commented on #616
phet-io deploy kinda looks like it worked (https://www.colorado.edu/physics/phet/dev/html/chains/1.6.0-rc.2-phetio/wrappers/index), but I can't test.

Why we have to deploy rc.1 and rc.2 is on my list of things to discuss on Thursday. I'd like to have dev/rc deploys for phet-io-enabled sims to by default deploy both with the same version (thus same shas).

[2017-11-29 04:46] jonathanolson commented on #616
"production" (to ox-dev) deploy failed after sending build request on the local side (something related to updating third-party-licenses).

I'll also need an improved way of detecting (or asking) if it was a first production deploy, for updating the readme (instead of checking if it is 1.0.0).

[2017-11-29 04:48] jonathanolson commented on #616
`Fatal error: Unable to delete "downloaded-sims" file (ENOTEMPTY: directory not empty, rmdir 'C:\Users\olson\phet\git\chipper\downloaded-sims').`

It's likely this was caused by me, but @samreid does that error message look familiar?

[2017-11-29 04:49] jonathanolson commented on #616
@mattpen, 1.6.0 of chains never showed up on dev or phet-dev. I'll want to check the build logs to see what went wrong. It also doesn't seem to be sending emails when sending to phet-dev (could be my fault).

[2017-11-29 04:56] samreid commented on #616
The code looks like this:

[code]

According to the docs at https://gruntjs.com/api/grunt.file#grunt.file.delete

I wonder if prior usage was inside the current working directory, but chipper 2.0 was trying to work in a different directory?

[2017-11-29 05:12] pixelzoom commented on #551
https://github.com/phetsims/chipper/issues/551#issuecomment-347087805 has a list of possible "gains" from moving to ES6.  A few are downright trivial (better options, arrow function, const vs var) compared to the costs.  "Simpler/clearer/more maintainable code" is debatable - I would argue that those attributes are primarily a function of the programmer, secondarily a function of the language cons

[2017-11-29 05:19] pixelzoom commented on #551
@samreid said:

Given the massive (there's that word again :) number of things on the PhET agenda (completing the PhET-iO API, instrumenting N sims, chipper:2.0, a11y, sonification, Rosetta, new sims,...) I find it hard to believe that "moving to it sooner" is currently a viable option for PhET.  Does the PhET schedule have enough slack to accommodate the "up front" costs listed in https://github.

[2017-11-29 05:29] pixelzoom commented on #551
One more comment...  I do think that PhET needs to be more proactive/responsive to adopting new technologies, including ES6. This is not the Java world; things change more quickly in HTML5/JavaScript, and we'll get left behind (or miss out) if we don't stay current.  But the time required to evaluate and adopt new technologies needs to be built into the schedule.

[2017-11-29 05:30] pixelzoom commented on #551
One more comment...  I do think that PhET needs to be more proactive/responsive to adopting new technologies, including ES6. This is not the Java world; things change more quickly in HTML5/JavaScript, and we'll get left behind (or miss out) if we don't stay current.  But the time required to evaluate and adopt new technologies needs to be built into the schedule. What is PhET prepared to drop in o

[2017-11-29 05:50] jonathanolson commented on #616
This seems to be failing in master also?

[2017-11-29 05:50] jonathanolson commented on #616
It also seems to be legitimately empty.

[2017-11-29 05:51] samreid commented on #616
Not sure, possible that it was never properly tested before (running with an existing downloaded-sims directory.  Or maybe our node updates have caused this?  (Not sure what node filesystem API grunt is using).

[2017-11-29 11:48] jonathanolson commented on #551
Point-by-point:

This was pretty trivial, already implemented in chipper 2.0 branch.

Chipper 2.0 branch will need to be tested for this anyways. Only an additional cost if there is a significant performance cost.

Chipper 2.0 branch will need to be tested for this anyways up-front. Some legitimate chance we could add code that isn't transpiled to something compatible with a supported browser if w

[2017-11-29 11:58] jonathanolson commented on #560
A few more notes:

- > "-phet" is stripped out of directory and file names when production versions are deployed to the production server. (AP, KP: We will not change the names on the production server, too problematic.)

  This sounds like it may bite us later if we just search for that string (may match other parts). If we have a one-off name starting with `phet`, does it just get mangled horrib

[2017-11-29 12:13] jonathanolson commented on #592
As an addendum, I'd like to recommend that dev/rc deployments should build/deploy both phet and phet-io brands (if supported by the sim) with the same SHAs and version number. e.g. if I deploy charges-and-fields dev, it would push phet and phet-io.

It doesn't really work to deploy an RC first for phet-brand (which bumps shas/dependencies/etc.) and then deploy an RC second for phet-io, and they wo

[2017-11-29 12:13] jonathanolson commented on #592
Presumably under the `phet` object in package.json, we'd have a `supportedBrands`?

[2017-11-29 12:16] jonathanolson commented on #616
Question: Should dev deploys double-build the sim? (Build it once before changing the version and prompting the user, to make sure it builds correctly without failures? Then build it again after committing/pushing the version?). It is fairly easy to just detect the failure in the second step build-side and revert any version changes, and it would probably save developer time overall to do that.

[2017-11-29 12:18] jonathanolson commented on #616
As noted in https://github.com/phetsims/perennial/issues/1, we can't currently run perennial grunt commands from sims. Since the new automated deployment steps currently exist in perennial, should this functionality be added?

Notably, we'd need to make sure that our perennial gruntfile doesn't interfere with ANY PAST chipper gruntfile, which seems trickly.

Alternatively, we could create `bin/per

[2017-11-29 15:48] pixelzoom commented on #551
@jonathanolson asked:

I said in https://github.com/phetsims/chipper/issues/551#issuecomment-347755076:

I interpreted "uniform language level" as meaning we'd move everything to ES6.  If I misinterpreted that, sorry.  I'm fine with keeping a mishmash of ES5 and ES6, but I predict that some developers won't be able to resist the temptation of changing working code just for the sake of using ES6.

[2017-11-29 16:00] pixelzoom opened #627 "don't use JB's credentials for build process"
It's likely that some build process is using @jbphet's credentials, so files end up being owned by him.   As @jbphet suggested below, this should be changed to use "a machine account of some kind".

Slack thread:

Chris Malley [5:14 PM]
I see that you published function-builder 1.0.9-rc.1 on 11/17, so it has entered an RC phase. What’s going on?

John Blanco [8:54 AM]
I think you meant to ping JO

[2017-11-29 16:02] pixelzoom commented on #592
+1 for dev/rc deployments should build/deploy _all_ supported brands. (Proposal was for "both phet and phet-io brands" but let's not do anything in the build tools that precludes future brands.)

[2017-11-29 16:03] jbphet commented on #627
Since it's the build server that is doing this, I'm going to move this issue to the perennial repo.

[2017-11-29 16:06] jonathanolson commented on #592
I was thinking we wouldn’t deploy adapted-from-phet specifically, but if we have another production brand it would be added.

[2017-11-29 16:08] pixelzoom commented on #592
Just don't put "adapted-from-phet" in `supportedBrands` and it won't be built, right?

[2017-11-29 16:08] jbphet commented on #627
Moved to https://github.com/phetsims/perennial/issues/50, closing.

[2017-11-29 16:08] #627 closed

[2017-11-29 16:14] jonathanolson commented on #592
That works well, sounds good.

[2017-11-29 16:24] pixelzoom opened #628 "use SPDX identifiers in license.json?"
From https://groups.google.com/forum/#!topic/developing-interactive-simulations-in-html5/gqWoZ0JI9GQ ...

[2017-11-29 16:27] samreid commented on #551
Currently we must have different linters set up for working with chipper vs simulations.  Allowing (but not forcing) ES6 everywhere would resolve that.

@jonathanolson identified practical benefits in https://github.com/phetsims/chipper/issues/551#issuecomment-347836946 but I wanted to point out another benefit is the class syntax:

[code]

I agree we should eventually move to ES6 and we'll need t

[2017-11-29 16:43] samreid commented on #616
I'm fine either way.  Rolling back on fail would introduce spurious commits, but hopefully it would be rare.

[2017-11-29 18:54] kreynen commented on #628
Sorry. I should have made this clear in the first exchange with Oliver, but I'm less interested in the PhET specific workflows or contributing sims than I am in PhET as an example of how a successful project handles code and asset licensing.  I chair the Drupal project's Licensing Working Group.  When faced with a similar need, we failed to find a standard so we came up with https://www.drupal.org

[2017-11-29 18:56] samreid commented on #560
Things get a little simpler if we assume that a debug version always gets built, and all supported brands are always built.  Then we don't need to include those attributes in the version (folder) name.

[2017-11-29 18:58] samreid commented on #567
I don't have anything to add--it seems https://github.com/phetsims/chipper/issues/567#issuecomment-346513337 is a good summary.  I don't know what to do about 3rd parties that don't have phet-io checked out.  Gracefully skipping it would be nice, but we would need to add checks that make sure it doesn't accidentally get omitted by a PhET developer build.

[2017-11-29 19:01] pixelzoom commented on #628
For the benefit of other PhET team members...  @kreynen started the Google Group thread that motivated creation of this GitHub issue.

[2017-11-29 19:39] mattpen commented on #616
Jon and I discussed this on slack.  The testing server is now phet-server-dev.int.colorado.edu.  I'll add this to the documentation in build-server.js.

@jonathanolson - I'm guessing `dev = spot` and `phet-dev=(ox-dev or phet-server-dev)`?

Regarding SPOT:  The build-server assumes that the client is doing the spot deploy during a production build.  The only time versions are deployed to spot from

[2017-11-29 19:40] pixelzoom opened #629 "publication and versioning requirements"
I collaborated on this issue with @ariel-phet via Zoom.  Other chipper:2.0 decisions should sanity check with the requirements herein.

Breaking this issue out of the checklist in https://github.com/phetsims/phet-io/issues/1137:

@ariel-phet's understanding of the requirements:

• In deciding which brands to publish, ask "which brands are affected by the changes/fixes being made?"
• PhET-iO fixes

[2017-11-29 20:04] pixelzoom opened #630 "debug and localized versions for brand=phet-io"
Discussion with @ariel-phet and @zepumph on Zoom...

We discovered that `grunt deploy-production --brand=phet-io` is currently ignoring creation of local-specific html files.  This is being short circuited on line 914 of build-server.js, effectively ignoring the `locale` option.  It should be addressed for chipper:2.0.

Issues:

• generation of locale-specific files should be independent of brand

[2017-11-29 20:13] jonathanolson commented on #630
Sounds good

If this is desirable, it would definitely be possible.

[2017-11-29 20:16] jonathanolson commented on #616
(as noted in https://github.com/phetsims/chipper/issues/560). So the build-server should handle the renaming when moving things to production.

[2017-11-29 20:19] jonathanolson commented on #563
Note to self: Don't run the RIAW deploy, a newer version was published.

[2017-11-29 20:35] jonathanolson commented on #551
Yes, we have .eslintrc files under perennial/js and chipper/js/grunt with the basically one-line `{ parserOptions: { ecmaVersion: 8 }, env: { es6: true } }`. This would be moved into the main .eslintrc. This is not a major concern for me, and I wouldn't necessarily call it "different linters", but more "slightly different settings per-directory".

[2017-11-29 20:36] jonathanolson commented on #551
I'm really initially talking about just allowing people to use it, not forcing anyone to use any features.

[2017-11-29 20:55] pixelzoom commented on #551
If we start using it in sims, then everyone needs to have some level of fluency in ES6.  Unless you don't mind me passing on review because I can't understand code :)

[2017-11-29 21:07] zepumph commented on #630
I spoke with @samreid about adding locale support to phet-io. We agree that the `_all.html` as the main build artifact for phet-io builds seems good. It can default to english with no query parameters, otherwise phet-io clients will be able to specify any locale that they want.

It doesn't make sense to run a phet-io simulation without a wrapper, or without query parameters. Therefore adding local

[2017-11-29 21:18] mattpen commented on #616
@jonathanolson - Do we want all the files that are now created by a production deploy copied to the public document root?

Here is the directory for chains from before and after the chages:
[code]

It looks like we should only copy the following:
-  `{{anything}}.png`
- `{{sim-name}}_{{locale}}.html` (after renaming from `{{sim-name}}_{{locale}}-phet.html`
- `{{sim-name}}.xml`
- `{{sim-name}}_en-i

[2017-11-29 21:21] mattpen commented on #616
The previous comment may depend on decisions in #630.

[2017-11-29 21:24] zepumph commented on #616
I think we are trying to push for only _all HTML files for phet-io built files. To be confirmed tomorrow at meetings though.

[2017-11-30 00:26] jonathanolson commented on #616
I'm honestly a little confused at how a phetio deploy put files into the phet document root. Isn't that not supposed to happen, so this won't be an issue at all?

[2017-11-30 02:01] mattpen commented on #616
It looks odd to me too but I had assumed that changes for the ["build both brands in the same deploy"](https://github.com/phetsims/chipper/issues/567) had been implemented already.

[2017-11-30 02:27] jonathanolson commented on #616
Nope. I think that may still fire off two separate build-server requests.

[2017-11-30 04:34] samreid commented on #616
In my opinion, things will be simpler if we use the production name on the dev server.  The hassle of dealing with renaming and understanding the different names will be worse than just dealing with production names in the first place.

[2017-11-30 04:38] samreid commented on #551
It's been a hassle to get IDEA eslint formatting to deal with the directories differently.

[2017-11-30 04:43] samreid commented on #616
I'm not sure, but @zepumph may know.

[2017-11-30 12:46] samreid opened #631 "Code review for branch: automated-test-harness"
See https://github.com/phetsims/chipper/issues/624

I created a chipper branch that can generate a qunit test harness, which should be reviewed before merging into chipper/master.  This will also need to be merged with chipper 2.0 branch.

One of the implementation decisions I made in this branch was to extend and reuse the templates/sim-development.html rather than copy/pasting and modifying a se

[2017-11-30 12:55] samreid commented on #631
Also, the larger development team may wish to discuss these points:

Likewise, the test main is {{REPO}}/{{REPO}}-test.html, the test config is {{REPO}}/js/{{REPO}}-test-config.js and the test main is {{REPO}}/js/{{REPO}}-test.js

https://github.com/phetsims/chipper/issues/624#issuecomment-346510800

The main philosophy is that tests should not be buried somewhere else, but front and center with t

[2017-11-30 16:15] zepumph commented on #616
I'm not sure I understand fully, I wasn't aware that a phetio deploy would touch the phet.colorado.edu. Am I understanding this right?

[2017-11-30 16:24] mattpen commented on #616
@zepumph - The latest RC and production deploys for chains for phet brand have included the phetio artifacts.  See https://ox-dev.colorado.edu/sims/html/chains/1.6.0/.  This was deployed as version `1.6.0-phet`.

[2017-11-30 17:17] zepumph commented on #616
Is this because the chipper 2.0 build now builds with both (all) brands, but to deploy just copied all artifacts to the phet site?  It seems like it would be nice to separate brands out to different folders if we are always building all brands (at least by default). Otherwise it could be so confusing to see all of that intermingled, taking intimate knowledge of all brands to be able to split off d

[2017-11-30 18:59] zepumph commented on #628
It was mentioned in the first comment, but I just wanted to be explicit. Here is the list of SPDX identifiers, https://spdx.org/licenses/

[2017-11-30 19:06] ariel-phet commented on #551
Executive decision, we will NOT use E6 code in sims for the time being. We can revisit this question after some big kahunas on the project get settled.

[2017-11-30 19:11] jessegreenberg commented on #551
It would be inconvenient for me to not be able to run requirejs in IE11, I frequenly run sims in IE11 in requirejs to test with the JAWS screen reader. If it is a net benefit for the project I could live with building before testing with IE11. But this will be an annoyance for anyone working on IE11 specific issues.

[2017-11-30 19:46] ariel-phet commented on #630
@kathy-phet also felt using the `_all.html` seemed reasonable for iO

[2017-11-30 20:00] zepumph opened #632 "Make sure that phet-io builds include the all.html for dev/rc"
From #630, it seems like the phet-io built html file will be an '_all.html' file. I want to make sure that it is noted that phet-io wrappers will need to support the _all.html query parameters/i18n strings while developing.

@jonathanolson In my mind deploy-dev for brand phet-io will be an _all.html file. Am I wrong there?

[2017-11-30 20:03] ariel-phet commented on #560
Desired dev directory structure:

[code]

[2017-11-30 20:16] ariel-phet commented on #560
Consensus (for the moment) at 11/30/2017 dev meeting, plan on using `_all.html` for all debug versions.

[2017-11-30 20:50] phet-steele commented on #574
| **Tycho, iPad2 iOS 9.3.5** | dev.1 | dev.2 (prepacked) |
| --- | --- | --- |
| Startup (s) | 6.49 | I stopped waiting after 5 minutes |
| Homescreen idle (fps) | 60 | (see startup) |
| Net Force cart moving (fps) | 24 - 29 | (see startup) |
| Net Force red won (fps) | 14 - 16 | (see startup) |
| Acceleration with the works (fps) | 9 | (see startup) |
| Acceleration, dragging bucket only (fps) |

[2017-11-30 21:07] jonathanolson commented on #616
I'll look into what's happening, it may be that the "clean" step was missed.

[2017-11-30 21:20] samreid commented on #551
It may be a hassle, but if we want to move forward with ES6 before we drop IE11 support, we could (as an interim approach) use an inline transpiler like https://www.npmjs.com/package/requirejs-babel-plugin

[2017-11-30 21:20] jonathanolson commented on #560
I thought from another issue that for phet-io we would be using a version with all locales? (Could omit the `_en`, or if we are enforcing consistency, `faradays-law_all-phetio.html` would be the main phet-io built sim)

[2017-11-30 21:25] samreid commented on #632
I'm not sure how I can contribute to this issue, unassigning for now.

[2017-11-30 21:33] zepumph commented on #560
I agree with you. I am about 80% sure that we should be building `*_all-phetio.html` always, and never `*_en-phetio.html`. https://github.com/phetsims/chipper/issues/632#issuecomment-348325508 is meant to solidify that. I will update the above "Master Version Schema" above with those results.

[2017-11-30 21:39] zepumph commented on #632
To be clear. This issue is to solidify what is the main build artifact (html file) from a phet-io build. I recommend that we never build locale specific phet-io sims, and only build/use _all.html files for phet-io.

@jonathanolson @samreid please agree with or discuss alternatives to moving forward with supporting the following build artifacts for phet-io builds. These will be the **only** _top le

[2017-11-30 21:59] pixelzoom commented on #628
Relative to everything else that's going on, this is probably super-low priority.   In addition to the SPDX identifiers, it would be interesting to think about whether the problems/challenges encountered by Drupal apply to PhET.

[2017-11-30 22:18] samreid commented on #574
Thanks @phet-steele, it seems prepack is not feasible for us at the moment, closing.

[2017-11-30 22:18] #574 closed

[2017-12-01 16:46] samreid commented on #628
I wrote privately to @kreynen

As far as I can tell, PhET doesn't stand to gain much by moving to SPDX, the list of licenses we currently use is posted at https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md#third-party-code-license-summary

If one of our future clients wants to move to formal SPDX in the future, we could tackle it then but it hasn't been a problem yet.  @ariel-p

[2017-12-01 17:29] jessegreenberg commented on #551
I totally misspoke in https://github.com/phetsims/chipper/issues/551#issuecomment-348289783, PhET no longer supports JAWS + IE11, so I redact that concern. I believe there were other reasons for deferring, but wanted to make this clear @ariel-phet.

[2017-12-01 17:43] ariel-phet commented on #551
We will still defer for the moment. Once all chipper 2.0 work is done, we will revisit this question.

[2017-12-01 18:00] kreynen commented on #628
`many of the same strategies for managing code licenses would transfer to non-code assets licenses`

They do, but without a standard for the json or yml it is difficult to build tools to vet licensing of the non-code assets and develop best practices for developers to declare all of the licenses used in a project.  While packaging managers like Composer and NPM were originally developed for specif

[2017-12-01 19:20] zepumph commented on #560
As per @ariel-phet's request. I updated the above master schema with https://github.com/phetsims/chipper/issues/632#issuecomment-348329508. If things change again I will comment before updating it.

[2017-12-01 20:19] ariel-phet commented on #628
@kreynen first of all we certainly appreciate you reaching out to us and sorry we do not have a great standard to share. Also, thanks for the thorough and thoughtful explanation above.

As mentioned, we probably cannot take any action in the near future, but if `license.json` starts to become problematic in the future or we have encounter clients with needs for us to modify our approach we will mo

[2017-12-02 02:02] samreid commented on #631
I've merged the chipper branch to master, and we can continue with review and improvement in master.

[2017-12-02 02:02] samreid commented on #624
I've merged the chipper branch to master, and we can continue with review and improvement in master.

[2017-12-02 02:02] #624 closed

[2017-12-02 13:36] samreid commented on #632
That seems correct and I agree it seems sensible to only use the _all.html for PhET-iO. Will there also be dependencies.json?

Can you elaborate on what this means?  Are you talking about phet-io clients developing wrappers?

[2017-12-04 11:22] jonathanolson commented on #629
So, if we test phet-io fixes only, can I just automated-maintenance-release that into phet-brand in the future (since it's only one branch)?

[2017-12-04 11:27] jonathanolson commented on #582
Is this where you build a 'phet' brand, but deploy as 'phet-io' (or vice versa?). If so, it's handled in the 2.0 branch already, and this can be closed.

[2017-12-04 11:29] jonathanolson commented on #581
This is handled on the perennial-side deployment, tagging for testing.

[2017-12-04 12:01] jonathanolson commented on #567
From the above, if we want to be able to build all brands with one grunt command, we'd need to modify our file/directory structure. If we change it so they build in the same directory (please no), it will make the build-server really complicated (we have to ship the different brands to different locations).

Having multiple builds of different brands or options in different directories would be gr

[2017-12-04 12:06] jonathanolson commented on #560
Sounds like we're really sticking to a template if we're including redundant information (e.g. "all" and "debug", "all" and "phet-io", etc.?)

[2017-12-04 16:37] pixelzoom commented on #629
If the fix is specific to brand=phet-io, then that should be safe to do.

[2017-12-04 17:35] pixelzoom commented on #560
12/4/17 dev meeting notes.

In local working copy and build server, support existence of artifacts for multiple brand in `build/` directory.  Directory structure (e.g.):

[code]

[2017-12-04 18:01] pixelzoom opened #633 "explore ability to "undo" a production deploy"
12/4/17 meeting notes:

It would be nice to have `undeploy brands=...` (or `revert-latest` or `restore`) in case we mess up and deploy something accidentally. Only needed for production deploys.  Send an email to @mattpen and @jonathanolson to make sure things are fixed up correctly.  Discuss more...

[2017-12-04 18:01] pixelzoom commented on #629
12/4/17 dev meeting notes:

We discussed this requirement:

Decided that this is a good requirement.

Decided to make `brands=...` a required build parameter, comma separated (e.g. `brands=phet,phetio`) with prompted verification and wildcard support (i.e., `brands=*`).

[2017-12-04 18:11] pixelzoom commented on #560
12/4/17 dev meeting notes continued:

*** local ***

build/
  phet/
      faradays-law_en-phet.html
      faradays-law_all-phet-debug.html
      faradays-law_all-phet.html
  phetio/
      faradays-law_all-phetio.html
      faradays-law_all-phetio-debug.html

*** spot (current chipper:2.0) ***

1.0.0-dev.1-phet/
      faradays-law_en-phet.html
      faradays-law_all-phet-debug.html
      faradays-l

[2017-12-04 18:20] pixelzoom commented on #560
12/4/17 revisions to https://github.com/phetsims/chipper/issues/560#issuecomment-348304508 based on decision in https://github.com/phetsims/chipper/issues/560#issuecomment-349051862:

**dev directory structure** (assuming `brands=phet,phetio`)

[code]

[2017-12-04 18:38] pixelzoom commented on #592
12/4/17 dev meeting:

Yes, let's add `supportedBrands`, required field in package.json.  E.g.:

[code]

• `phet` will be the default in the default (simula-rasa) template.
• `brands=*` will do all brands listed in `supportedBrands`.
• If you try to build a brand that's not in `supportedBrands`, build process will fail.
• Add utility for re-generating chipper/data/ files based on all package.json.

[2017-12-04 18:55] ariel-phet commented on #631
Will plan to discuss on 12/7/2017

[2017-12-04 20:50] ariel-phet commented on #629
@mattpen @jonathanolson this is sort of a "meta issue" to capture our high level goals. Feel free to close at your discretion if everything is clear.

[2017-12-04 21:07] zepumph commented on #632
Yes, I was also thinking that there may be differences in running a wrapper suite wrapper (like instance proxies) in different locales, and it would be good to be able to double check that locally.

This has been sorted out in #560. Closing

[2017-12-04 21:07] #632 closed

[2017-12-04 21:41] #582 closed

[2017-12-05 04:50] jonathanolson commented on #560
Example of dev deployment (chipper 2.0 branch with perennial `grunt dev --repo=chains --brands=phet,phet-io`) with both brands (thanks @zepumph for instrumenting chains!!): https://www.colorado.edu/physics/phet/dev/html/chains/1.7.0-dev.9/

There's a lot of path-specific code in wrappers, and it I wasn't able to quickly (10mins) figure out how to get the wrappers to point to the correct sim (witho

[2017-12-05 04:51] jonathanolson commented on #616
@mattpen, I'll be ready to collaborate on build-server changes so that it supports chipper 2.0 build structures (see #560).

I updated the dev deploy script (e.g. https://www.colorado.edu/physics/phet/dev/html/chains/1.7.0-dev.9/) for this, and I'll add the ability to add one-offs.

[2017-12-05 04:56] jonathanolson commented on #616
@zepumph, as part of this, I've moved the sonification wrapper build/deploy to the new system. I deployed https://www.colorado.edu/physics/phet/dev/html/phet-io-wrapper-sonification/1.0.0-dev.41/, but it may have a few issues (not loading in a few spot checks). I had to push a lint fix to the repo before competing testing, so I'm not sure what condition it is in.

This is testable by checking out

[2017-12-05 04:58] jonathanolson commented on #616
FYI a simple `grunt` in the wrapper directory should build it (hopefully that makes the build easier to test).

[2017-12-05 05:00] jonathanolson commented on #33
This is implemented in the chipper 2.0 branch (has one dependencies.json per `build/${brand}` directory, they are all the same).

Slight "unclean" feeling in that it grabs the dependencies.json from the first brand (to copy to top-level and commit/push), but they really should be the same so the future risk is somewhat low.

[2017-12-05 05:19] jonathanolson commented on #567
The majority of this work is done in the chipper 2.0 branch (decided on in #560 how to handle multiple brands).

Leaving this open for a few remaining questions (and getting it to work in cases where no phet-io dependencies are checked out).

[2017-12-05 05:23] jonathanolson commented on #592
It's kind of nice to specify a default set of brands that would be built when they are available. (for instance, if the default is phet,phet-io in your build-local.json, I don't want all uninstrumented sims failing out since I tried to "built phet-io").

Is that acceptable (and instead we can fail out dev/rc/production deploys if there is an unsupported brand, since you manually specify them in th

[2017-12-05 05:30] jonathanolson commented on #596
I'm at a state where I'm ready to merge in chipper 2.0's branch to master (presumably tomorrow).

I'd like to do this when others are around who can modify supporting code (since the naming/directory changes make it incompatible with other things, including phet-io wrappers/phetmarks/etc.)

I'd also like to consider having someone else to go over a quick review of the changes (what moved to perenn

[2017-12-05 05:32] jonathanolson commented on #629
These goals are clear to me, and the current chipper 2.0 branch is fully compatible with this. Deployment processes will all take in a required list of brands. Unassigning.

[2017-12-05 05:33] jonathanolson commented on #630
This is implemented in the chipper 2.0 branch.

[2017-12-05 05:48] jonathanolson commented on #631
Since this was merged into master, I'll be reviewing this (as I'll need to essentially port/merge it into the 2.0 branch).

[2017-12-05 06:06] jonathanolson commented on #631
@samreid, would we only run the generate step on repositories when we initially add unit tests to them? Or should it be in all repositories?

[2017-12-05 06:11] jonathanolson commented on #631
Worth noting (in this issue) that the test HTML has an additional dependency into aqua (which seems like the correct place for the given code to live).

[2017-12-05 06:16] jonathanolson commented on #631
Changes look very reasonable, I'll "merge" them into 2.0 (it's ES6+-ified, buildConfig isn't a thing anymore, etc. so it will be easier to do manually).

[2017-12-05 06:53] jonathanolson commented on #631
Implemented in the chipper 2.0 branch above, @samreid can you review?

Two further notes:

- I pluralized to stripPreloads (in case we ever want more for some reason).
- It looks like something auto-formatted the tests HTML files that were checked in, as it was different than what was generated. This would be a problem, and we should generate the file with the correct formatting (or prevent intell

[2017-12-05 07:05] jonathanolson commented on #596
I've applied the necessary changes to bring the chipper 2.0 branch up-to-date with the other changes that were applied on master.

[2017-12-05 07:49] jonathanolson commented on #592
Added 3rd party build support (lack of any phet-io dependencies will fail out phet-io build or ANY dev/rc/production deploy process).

[2017-12-05 09:10] jonathanolson commented on #563
Maintenance releases completed (following list has the deployment confirmation HTMLs):

Deployed:

- [ ] https://phet.colorado.edu/sims/html/acid-base-solutions/1.2.11/acid-base-solutions_en.html
- [ ] https://phet.colorado.edu/sims/html/area-builder/1.1.6/area-builder_en.html
- [ ] https://phet.colorado.edu/sims/html/arithmetic/1.0.10/arithmetic_en.html
- [ ] https://phet.colorado.edu/sims/html/a

[2017-12-05 10:28] jonathanolson commented on #563
Verified RIAW also, no patch needed.

Assigning to @mattpen for build-server work to enable the --allHTML flag.

[2017-12-05 16:15] pixelzoom commented on #592
@jonathanolson said:

I think that's fine if specified in build-local.json -- semantics in build.json would essentially be "build as many of these brands as are supported".  But if `--brand` is explicitly on the command line, then I think it should fail if one or more of the specified brands is unsupported.

[2017-12-05 17:44] jonathanolson commented on #592
If --brand is supplied, it will fail out if one is unsupported. If --brand is not supplied, it checks build-local.json's `brands` (an array of strings), and will build all supported brands from that list (so for an uninstrumented simulation, it will not build phet-io and that's fine). If build-local.json doesn't have `brands`, it will default to `[ 'adapted-from-phet' ]`.

[2017-12-05 17:46] jonathanolson commented on #592
Double-checked. Removing build-local.json and checkout out a limited subset of repos (the ones in a sim's README.md) results in `grunt` building the adapted-from-phet brand successfully.

Given that the main work described in here is implemented in chipper's 2.0 branch (and the deployment commands for handling one branch would be handled in https://github.com/phetsims/chipper/issues/616), can this

[2017-12-05 18:02] ariel-phet commented on #596
@jbphet will be doing this initial quick review since he is the most familiar other than @jonathanolson with new ES6 features.

[2017-12-05 20:57] jonathanolson commented on #596
I ran through a quick overview with @jbphet, and it seemed that the fundamental changes look reasonable.

Notes before merging chipper 2.0 to master:

- Perennial tasks should be runnable from sim directories (now implemented)
- I should finish more of the cleanup, internal documentation, and external documentation (detailing how to run dev/rc/production deployments, common build commands, etc.)
-

[2017-12-06 03:11] jonathanolson commented on #560
It looks kind of funny with the directory names (below the version directory) being `phet`, `phetio` and `adaptedFromPhet` when it would be cleaner to use the raw brand name (`phet`, `phet-io`, `adapted-from-phet`).

Does anyone else feel the same way, or is there a reason why we chose to shorten to "phetio"?

[2017-12-06 03:20] zepumph commented on #560
I think in general, phet-io has pushed for hyphens as much as the code will allow (sometimes you need to squash for var names).  I think I'm in favor of seeing the directory "phet-io"

[2017-12-06 05:00] pixelzoom commented on #560
@jonathanolson said:

What is a "raw brand name"? I thought we decided that the brand names were changing to camelcase, and the hyphens and punctuation were hereafter verboten in brand names.

[2017-12-06 05:30] samreid commented on #631
This is new territory.  Eagerly generating this for all repos would make it trivial for developers to add new unit tests and for them to get tested on Bayes right away.  It would also encourage us to add test, for instance we could have a check on the code review checklist that the simulation should have appropriate QUnit testing coverage.  On the other hand, would it bog down Bayes a lot (runtime

[2017-12-06 05:33] samreid commented on #631
I appreciate that my IDE automatically formats files before commit. However, for templates I have to remember to turn this off, then for next commit I have to remember to turn it back on again.  The best solution I can think of is to rename the filename suffixes like ".htmltemplate" or ".jstemplate" since the file isn't really html or js.

[2017-12-06 06:15] jonathanolson commented on #560
I was not aware we were changing the brand names, but instead mapping them differently for the filenames, like:

Instead, it sounds like a more major change, where we need to refactor a lot of common/sim code, change query parameters (`brand=phetio`), ensure backwards compatibility in build-server/yotta (but presumably don't treat phetio and phet-io as two different brands). I assume we still live

[2017-12-06 06:18] jonathanolson commented on #560
If it wasn't clear, my opinion is that usage with the hyphen (`phet-io`) is pervasive in code and names, and the costs of trying to change this is nowhere near the benefit. Instead, the remapping for filenames (but not directories, as there is no ambiguities there) would be best.

[2017-12-06 16:53] mattpen commented on #629
I understand the goals and will keep these in mind for the changes to perennial.

[2017-12-06 16:53] #629 closed

[2017-12-06 16:55] samreid commented on #560
Can you please clarify by specifying the proposed filenames and directory names?

[2017-12-06 17:13] pixelzoom commented on #560
My understanding what that the brand names were going to change as follows:

adapted-from-phet -> adaptedFromPhET
phet -> phet (no change)
phet-io -> phet-io

... and that this involved changing the subdirectory names in the brand repository, as well as the changes @jonathanolson mentioned in https://github.com/phetsims/chipper/issues/560#issuecomment-349545979.  I really think it's a bad idea to

[2017-12-06 17:21] samreid commented on #560
Did you mean phetio?

[2017-12-06 17:25] pixelzoom commented on #560
Yep, fixed in https://github.com/phetsims/chipper/issues/560#issuecomment-349709083

[2017-12-06 19:57] jonathanolson commented on #560
Changes required to change the brands (particularly phet-io to phetio, NOTE it's probably possible to choose some subset of this instead of all of it, but that removes most of the "benefits"):

- All code usages of `'phet-io` would presumably be changed to `'phetio'`, similar for filenames, directories, imports (`PHET_IO` => `PHETIO`), comments, etc.
  - There is in the range of ~2400 matches acro

[2017-12-06 20:05] zepumph commented on #560
Tagging for dev meeting tomorrow.

[2017-12-06 20:08] samreid commented on #560
Previously, @kathy-phet has expressed a strong preference for keeping the hyphen where PhET-iO appears in URLs, filenames and other user-visible locations.

[2017-12-06 20:12] zepumph commented on #560
So by that we should probably have:
[code]

[2017-12-06 20:13] samreid commented on #33
To clarify: the phet-io brand and adapted-from-phet brand now have the same dependencies?

[2017-12-06 20:51] zepumph commented on #33
If so how would that work if you only built adapted-from-phet and didn't have phet-io checked out? I would assume that it would just be phet dependencies, with omitted phet-io repos.

This means that the adapted-from-phet/phet branded builds are different depending on if phet-io repos are checked out. This is alright with me, at least right now after thinking about it briefly, but I just wanted to

[2017-12-06 21:23] jonathanolson commented on #33
They create the same dependencies.json (assuming you have all the phet-io things checked out). If not checked out, you can't build phet-io (and warnings print out for anything you can build), and you can't deploy anything.

Yup.

[2017-12-06 22:09] zepumph commented on #560
I'm not sure if this relates totally, but we should also try to factor out these names to a single place in chipper/perennial so there isn't a proliferation of assuming that the brand name won't change:
![image](https://user-images.githubusercontent.com/6856943/33688046-a2b4f676-da86-11e7-8ee5-a5e170021041.png)

[2017-12-06 22:11] zepumph commented on #616
The above comments were responded to in phetsims/phet-io#1099.

[2017-12-07 02:15] jonathanolson commented on #631
I'm not talking about the templates, but the actual `${repo}/${repo}-tests.html`. And you propose renaming things, but I don't see any objections to my proposal (and what we've done in the past) which is to just generate the file with the correct formatting in the first place (so that Intellij wouldn't change it in your commit step).

[2017-12-07 02:16] jonathanolson commented on #631
Actually, that could bog down Apache a decent amount on the server.

[2017-12-07 04:59] samreid opened #634 "Fix formatting of generated qunit htmls."
See https://github.com/phetsims/chipper/issues/631

[2017-12-07 04:59] samreid commented on #631
My apologies for misunderstanding, I'll correct the formatting in https://github.com/phetsims/chipper/issues/634

[2017-12-07 11:20] jonathanolson commented on #560
Also noting:

- What should versions be in the About dialog or anything that represents the running sim version? (Presumably it would include the brand always, even if it is -phet).
- Yotta was using the previous assumption that brands wouldn't use capital letters (among other things), so it will need to be upgraded anyways with whatever we decide.

[2017-12-07 11:42] jonathanolson opened #635 "require( 'grunt' ) instead of passing through?"
I looks like it should work, but it will need testing.

[2017-12-07 18:30] ariel-phet commented on #560
12/4/17 revisions to https://github.com/phetsims/chipper/issues/560#issuecomment-348304508 based on decision in https://github.com/phetsims/chipper/issues/560#issuecomment-349051862:

**dev directory structure** (assuming `brands=phet,phetio`)

[code]

[2017-12-07 19:13] pixelzoom commented on #560
12/7/17 dev meeting notes, changes reflected in https://github.com/phetsims/chipper/issues/560#issuecomment-350054169:

• Allow dashes in brand name
• Keep "phet-io" and "adapted-from-phet" brand names
• Changed to underscore ('_') separator
• Continue to us underscore separator in locales (to separate language and country, e.g. "zh_CN")
• Version string (About dialog) and anything named 'version'

[2017-12-07 19:19] pixelzoom opened #636 "document version id conventions"
From https://github.com/phetsims/chipper/issues/560#issuecomment-350065653:

Need to document version id, file/dir naming conventions, etc. after #560 has been closed.

[2017-12-08 18:45] zepumph opened #637 "remove unused aria live attributes from sim html"
From https://github.com/phetsims/a11y-research/issues/66, we don't need any aria-live elements except the polite one.

[2017-12-08 18:48] zepumph commented on #637
We should make sure to remove usages of these other ones first, like in AriaHerald.

[2017-12-11 17:12] #635 closed

[2017-12-11 18:42] mattpen commented on #560
Discussed with @jonathanolson.  We think that the build-server should fail and return an error if `adapted-from-phet` is in the list of brands.

[2017-12-11 18:48] mattpen commented on #633
This should:
1. Change the `.htaccess` to point to the previous version (`/latest` links are correct).
2. Roll back the version on the website to the previous version (version checks for metadata, etc are correct).

[2017-12-11 19:01] mattpen commented on #594
@jonathanolson has implemented this as a client-side grunt task and automated steps 1,2 and 4 from above.   The only problem remaining is:

@jonathanolson and I propose that we defer migrating this to perennial because this isn't a critical problem.

[2017-12-12 01:19] jonathanolson commented on #560
Implemented in the build and dev deploy. Will be waiting on the build-server request format and support for rc/production deploys.

See https://www.colorado.edu/physics/phet/dev/html/chains/1.7.0-dev.20 as an example.

[2017-12-12 21:28] zepumph commented on #622
This was fixed in https://github.com/phetsims/joist/issues/468. Closing

[2017-12-12 21:28] #622 closed

[2017-12-13 07:34] mattpen commented on #563
This should be handled, but the build-server is not ready to test yet.

[2017-12-13 16:27] samreid opened #638 "dot/kite/axon test configs dont match main configs, can we use one config file?"
From https://github.com/phetsims/aqua/issues/30 @pixelzoom pointed out:

For instance, axon/js/config.js is
[code]

whereas axon/js/axon-test-config.js is
[code]

I tried running `grunt generate-config` and it created one just like the test config (but with different main).  So it seems that the dot, axon, kite, etc configs are stale.

I'd rather work on this after chipper 2.0 merges back to maste

[2017-12-13 16:41] samreid commented on #631
I think this issue is wrapped up, we can continue with the formatting in #634, closing.

[2017-12-13 16:41] #631 closed

[2017-12-13 16:41] samreid commented on #634
I'm inclined to work on this after chipper 2.0 goes to master, putting on hold until then.

[2017-12-15 16:22] mattpen commented on #563
This is working now in the build-server.  See https://www.colorado.edu/physics/phet/dev/html/chains/1.7.0-rc.20/phet/chains_all_phet.html

[2017-12-15 16:23] mattpen commented on #563
@jonathanolson - What are the next steps? Is it ok to close this issue?

[2017-12-15 21:56] jonathanolson commented on #563
Presumably you'd want to rebuild all production sims so that the file exists (and will continue to exist when rosetta updates things).

[2017-12-16 02:09] zepumph opened #639 "grunt dev dies silently when "brands" is in build-local.json"
`cd chains; grunt dev;` dies like:
[code]

but `grunt dev --brands=phet-io,phet` works as expected. I have tried my build-local.json in the following patterns:

`brands: ["phet", "phet-io"],` . . .
`brands: "phet,phet-io"`

with the same results.

branches:
chipper: 2.0
perennial: chipper2.0
chains: master
phet-io-wrappers: chipper2.0

Assigning to @jonathanolson. Hopefully this is a helpful repor

[2017-12-17 21:53] zepumph opened #640 "TypeError: buildLocal.brands.filter is not a function"
This is a small edge case, but may be worth a log statement or type check.

[code]
This is the error that you get if you have a `brands` field in build-local.json,  but it is the wrong type. I wrote `"brands":"phet,phet-io", . . .` and got this error because it expected an array. Perhaps a check to make sure that the brands field is the correct type before using the value. Assigning @jonathanolson

[2017-12-17 22:10] zepumph commented on #630
This is working as I would expect it. The `_all.html` is the only sim file being created for all phet-io deploys. Unassigning.

[2017-12-17 22:11] zepumph commented on #560
The commits above should make phet-io wrappers work for the updated version id schema.

[2017-12-31 18:20] pixelzoom commented on #604
FYI... WebStorm 2017.3 now supports multiple JavaScript versions in a project.

From https://www.jetbrains.com/webstorm/whatsnew:

If your project uses different versions of JavaScript and you want WebStorm to complain when the ES6 or JSX syntax is used in the ECMAScript 5.1 file, you can now configure JavaScript language versions per directory in *Preferences | Languages & Frameworks | JavaScript

[2018-01-01 16:57] samreid commented on #604
Works great, thanks @pixelzoom.  I configured chipper/ perennial/ and rosetta/ for ES6.

[2018-01-03 20:11] ariel-phet commented on #567
Marking for dev meeting to see if this can be closed

[2018-01-04 20:29] #567 closed

[2018-01-04 23:33] samreid opened #641 "Visualize the size of components in a built HTML"
Based on discussion in https://github.com/phetsims/resistance-in-a-wire/issues/120 and follow-up discussion with @jessegreenberg I had an idea about how to visualize the size of a built HTML file.  We could update the build process to output strings to separate files instead of concatenating the HTML string to a single file.  Then we can use a tool like windirstat or Disk Inventory X to visualize

[2018-01-05 22:32] pixelzoom commented on #604
@samreid said:

I this the complete list of repos that are using ES6+ features?

[2018-01-05 22:37] samreid commented on #604
A search for `await` gave the preceding list.  A search for `const` indicates installer-builder should probably be on the list too.

[2018-01-05 23:38] ariel-phet commented on #641
@samreid feel free to bring this up as a question to @kathy-phet during the next status meeting. I think if she sees keeping file size down, or starting to work on minimizing it as a goal, we could investigate further.

Currently it seems low in terms of priorities for the project.

[2018-01-07 15:05] samreid opened #642 "grunt update-copyright-dates exits before it completes"

[2018-01-07 15:07] samreid commented on #642
Fixed in 2.0 branch.  But I couldn't figure out how to use wrapTask together with this.async().  @jonathanolson can you please take a look?

[2018-01-07 15:18] samreid opened #643 "Update copyright dates"
This seems like a good time to run `for-each.sh active-runnables grunt update-copyright-dates`.  Note this doesn't play nicely with config files, so they can be patched with `for-each.sh active-runnables grunt generate-config` patched for 2017

[2018-01-07 15:19] samreid commented on #643
I ran the scripts as above and spot checked everything--seems reasonable (though I didn't manually inspect all of the 252 changed files.) . Committing shortly.

[2018-01-07 15:28] samreid commented on #643
Fixed above, spot checked and double checked with `grunt lint-everything` which caught 3 errors.  Closing for now.

[2018-01-07 15:28] #643 closed

[2018-01-08 17:16] ariel-phet commented on #604
What repos/directories will have ES6+ features:

All perennial, rosetta, yotta, installer-builder, aqua, smithers (pretty much any server side code)

Directories in chipper:
js/grunt

[2018-01-08 17:19] ariel-phet commented on #604
@zepumph suggests a file in perennial marking which repos/directories include these features, or perhaps a file about setting up your dev environment.

Perhaps something in phet-info? @pixelzoom said he could move some relevant files into https://github.com/phetsims/phet-info/tree/master/ide

[2018-01-08 18:45] pixelzoom commented on #604
Based on https://github.com/phetsims/chipper/issues/604#issuecomment-356031704, perennial/data/es6-repos contains:

[code]

[2018-01-08 18:50] pixelzoom commented on #604
To configure in WebStorm 2017.3+, go to _Preferences | Languages and Frameworks | JavaScript_:

![screenshot_461](https://user-images.githubusercontent.com/3046552/34686771-e8ca29fe-f469-11e7-8d28-9ef3c617001f.png)

Click the `…` button to the right of the version number combo box.  Then fill in the "JavaScript Language Versions" dialog to look like this:

![screenshot_462](https://user-images.git

[2018-01-08 18:53] samreid commented on #604
Done, thanks!

[2018-01-08 19:00] pixelzoom commented on #604
Configuring IDEA is apparently different, and only supported in Ultimate Edition (UE).  Since I don’t have UE, I can’t complete the setup instructions in https://github.com/phetsims/phet-info/blob/master/ide/idea/setup.md.   Can I get a volunteer who is using IDEA UE to take over?

[2018-01-08 19:34] pixelzoom commented on #604
I asked @oliver-phet who has IDEA licenses, then randomly chose someone:

[code]

[2018-01-08 21:31] samreid commented on #642
Fix seems good, closing.

[2018-01-08 21:31] #642 closed

[2018-01-08 21:31] samreid opened #644 "grunt update-copyright-dates doesn't play nice with config files"
For instance, gravity-force-lab-basics-config.js has commits from 2016-2017, so `grunt update-copyright-dates changes the statement from:
[code]
to
[code]

The latter is actually correct, I wonder if we should change the `grunt generate-config` task to use this logic when creating the config files?  Or we can add logic to the update copyrights task to skip config files.

@jonathanolson do you have

[2018-01-08 22:05] jonathanolson commented on #640
Added an assertion, closing.

[2018-01-08 22:05] #640 closed

[2018-01-08 22:06] jonathanolson commented on #639
I'm curious whether this is still happening. Can you re-test with latest chipper 2.0?

[2018-01-11 16:51] samreid opened #645 "Is there a way to disable the eslint cache?"
In chipper 1.0 there was a command line option to disable the cache.  Is there one for chipper 2.0?  This is especially helpful when developing new lint rules (though a workaround can be to manually change cache to false in lint.js)

[2018-01-11 18:08] jonathanolson commented on #645
The --disable-eslint-cache option was kept in chipper 2.0. Has that been tried, or is it not working?

[2018-01-11 18:13] samreid commented on #645
I didn't see it used in lint-everything (maybe it is a different case).  I also noticed that findDuplicates has linting and caching, is that correct?

[2018-01-11 18:36] jonathanolson commented on #645
I added the flag in above, sorry about that.

I really don't know, haven't used findDuplicates.

[2018-01-11 22:19] samreid commented on #645
The change set looks reasonable, closing.

[2018-01-11 22:19] #645 closed

[2018-01-12 19:25] mattpen commented on #560
The build-server requests now accomodate the new version and filename scheme.

@pixelzoom @jonathanolson @samreid - is it ok to close this issue?  Should we create documentation first?

[2018-01-12 20:43] samreid commented on #560
I don't know.  What kind of documentation are you thinking of?

[2018-01-12 21:36] jonathanolson commented on #560
Documentation (maybe in a perennial doc/*.md) about versioning is probably recommended.

[2018-01-12 22:04] pixelzoom commented on #560
Can someone please summarize (in this issue) the format of the version id scheme that was actually implemented?

[2018-01-16 16:59] jonathanolson opened #646 "branch 1.0"
References to our pre-chipper-2.0 SHA.

[2018-01-16 19:05] phet-steele opened #647 "chipper 2.0 iframe generation for testing on spot"
This is a complete list of sim links I'm given when testing on spot under https://www.colorado.edu/physics/phet/dev/html/{{sim}}/{{version}}/phet/

- {{sim}}_all_phet.html
- {{sim}}_all_phet_debug.html
- {{sim}}_en_phet.html
- {{sim}}_en_iframe.html

There are a few things about this list I want to ask about:

1. Why isn't the last (iframe) link "{{sim}}_en_phet_iframe.html" (with the brand in the

[2018-01-16 19:37] jonathanolson commented on #647
It could be added

Will fix.

How would you want it to work? Would it need to forward query parameters?

[2018-01-16 22:16] jonathanolson commented on #647
Please see https://www.colorado.edu/physics/phet/dev/html/chains/1.16.0-dev.1/phet/, does that look good? (try `locale=es` with the _all iframe).

[2018-01-16 22:30] phet-steele commented on #647
@jonathanolson, love it! Thanks.

[2018-01-16 22:30] #647 closed

[2018-01-17 01:35] jonathanolson commented on #636
Somewhat pending on https://github.com/phetsims/perennial/issues/69, but the current version parsing uses `major.minor.maintenance[-test][-oneOff]` where test is `testType.testNumber` (e.g. dev.1). Major/minor/maintenance/testNumber are 1+ digits, and testType/oneOff is anything without `"-"` or `"."`.

toString is basically:
[code]

I'll be free to fully document conventions when it is fully soli

[2018-01-17 02:04] jonathanolson commented on #630
@zepumph or @samreid, should a phet-io issue be created for:

Otherwise, everything here is done.

[2018-01-17 02:12] jonathanolson commented on #616
Tagged because I'd like to know preferences on final filenames. Should we have:

- phet-info/deployment-info/chipper-1.0.md (currently sim_deployment.md)
- phet-info/deployment-info/chipper-2.0.md

or some other form of organization? I'd still like to keep the 1.0 checklists around, since it's helpful for maintenance releases and reference.

[2018-01-17 02:14] jonathanolson commented on #455
I believe this is done. @mattpen can you confirm?

[2018-01-17 02:25] jonathanolson commented on #33
Confirmed that molecule-shapes (with the clone commands that are on its public README.md) will build with a standalone `grunt` (adapted-from-phet) with "reduced" dependencies, and also that a phet/phet-io build will outright fail with only those dependencies checked out (as it requires the private repos).

As that is as desired, I'm closing this issue.

[2018-01-17 02:25] #33 closed

[2018-01-17 03:45] ariel-phet commented on #636
labeling for dev meeting for a check in.

[2018-01-17 03:49] samreid commented on #630
I investigated support in https://github.com/phetsims/phet-io/issues/306

Here's the issue for making the website i18nizable: https://github.com/phetsims/phet-io-website/issues/94

I'll create a new issue for documenting how to launch the internationalized versions on the website.

[2018-01-17 03:57] samreid commented on #630
New issue created above, @jonathanolson does this issue need any more testing or cleanup before closing?

[2018-01-17 04:33] mattpen commented on #455
Yes, in chipper 2.0 both deploys are completed by the build-server.

[2018-01-17 04:33] #455 closed

[2018-01-17 16:36] samreid commented on #616
My preference would be to overwrite phet-info/deployment-info/sim_deployment.md with the 2.0 instructions.  If you want the old instructions, you can see them in the git history.

[2018-01-17 16:49] pixelzoom commented on #616
How handy does the 1.0 checklist need to be? If it's going to be needed frequently, then I don't like the idea of having to dig it out of git history.

[2018-01-17 16:50] samreid commented on #616
If you're going to be doing a deploy from chipper 1.0, then you probably have the 1.0 checklist checked out.

[2018-01-17 17:03] pixelzoom commented on #616
How so? sim_deployment.md (the check list) lives in phet-info, not a sim that typically in dependencies.json.

[2018-01-17 17:03] samreid commented on #616
Ah, my mistake.

[2018-01-17 18:07] jonathanolson commented on #616
Depends on how many maintenance releases we'd end up doing on sim branches that have already been published. Having documentation available in master (until we have no published chipper <2.0 sims left that would need maintenance) just sounded easier to me.

Once all sims are chipper 2.0+, we'll want to remove legacy support from things like the build-server, perennial/etc., and we can clean up the

[2018-01-17 18:15] pixelzoom commented on #616
+1 for having both sets of doc available separately in master, and cleaning up in the future (as chipper 1.0 needs taper off).  I don't care what they're named, as long as it's clear which is which.

[2018-01-17 18:26] jonathanolson commented on #630
Nope, I believe the _all feature has been tested. Closing.

[2018-01-17 18:26] #630 closed

[2018-01-17 18:34] jonathanolson commented on #616
I'll also want to update sim_deployment.md references in bulk-maintenance-release-process.md, chipper-2.0.md and deployment-info/README.md (note to my future self).

I'm not aware of Google Doc references, but there probably are some?

[2018-01-18 17:11] samreid commented on #616
Sounds good to me.

[2018-01-18 17:45] mattpen commented on #563
We should discuss the plan for rebuilding all sims to generate the _all.html files

[2018-01-18 19:25] pixelzoom commented on #616
1/18/18 dev meeting:

Both docs will be available in master, named chipper-1.0.md and chipper-2.0.md. @jonathanolson will make the changes, and search for potential Google Doc reference changes.

[2018-01-18 19:34] pixelzoom commented on #563
1/18/18 dev meeting notes:
• Rosetta doesn't commit anything if translation hasn't changed, but it does do a build. @mattpen verified using chains.
• Create a new issue to have @DianaTavares resubmit her translations (for all sims) to cause a rebuild. Assign to @oliver-phet and @DianaTavares.

[2018-01-18 20:14] pixelzoom commented on #636
1/18/18 dev meeting: @jonathanolson will handle doc.

[2018-01-22 04:39] samreid commented on #634
I'm using CCK-DC as a guinea pig for tinkering with the formatting.

[2018-01-22 04:58] samreid commented on #634
I spot checked several files, verified formatting is correct and that nothing else has changed.  Aqua looks clear. Expression exchange is launching, linting, building and launching/built.  Same with equality explorer.  Hence, I'll commit.  Brace yourselves for multi-repo commit.

[2018-01-22 06:01] samreid commented on #634
Bayes confirms all is clear.  Last step is to regenerate test HTMLs.

[2018-01-22 16:29] samreid commented on #634
All fixed except for 2 newly discovered problems, noted above, closing.

[2018-01-22 16:29] #634 closed

[2018-01-22 21:55] oliver-phet commented on #563
@mattpen Diana resubmitted all of her HTML5 sim translations. I spotted checked a few of the sim directories and the _all.html file has been generated. Is there anything else needed?

[2018-01-23 15:46] jbphet commented on #563
@mattpen - I'm trying to keep an eye on this issue, but please also notify me via Slack when you've confirmed that all of the `_all.html` files are in place so that I can work towards getting the installer builder to use them.

[2018-01-23 16:46] mattpen commented on #563
@jbphet - The following sims have _all.html files available.  I ran a basic http GET request for all sims in `/perennial/data/active-sims` and these returned 200 OK.  There are 58 sims here which I think means this is everything (56 published + example-sim & chains).  I have not tested all locales in all files.

[code]

[2018-01-23 16:55] jessegreenberg commented on #547
It is, thanks  @zepumph. closing.

[2018-01-23 16:55] #547 closed

[2018-01-23 16:58] jonathanolson commented on #636
Documented in perennial's SimVersion. Is that location fine for the canonical documentation for how versioning works, or should that be moved to some .md file?

[2018-01-23 17:00] jessegreenberg opened #648 "a11y view focus management broken in FF and Safari"
From  https://github.com/phetsims/coulombs-law/issues/40 @mbarlow12 said

@jessegreenberg said

It is not a problem in _iframe_phet.html for FF, I am not able to test Safari. So it looks like this is just an issue with the a11y-view which is very strange.

@mbarlow12 said

[2018-01-23 17:44] jonathanolson commented on #560
Notes in SimVersion.js:

[code]

[2018-01-23 17:45] jonathanolson commented on #560
Closing, since this versioning has been fully implemented. If anyone needs anything else, please re-open.

[2018-01-23 17:45] #560 closed

[2018-01-23 17:47] jonathanolson commented on #636
@pixelzoom, can you comment on whether there should be any improvements to the documentation?

[2018-01-23 17:48] pixelzoom commented on #636
Doc in SimVersion and https://github.com/phetsims/chipper/issues/560#issuecomment-359872043 looks great.

Back to @jonathanolson in case there's anything else to do here.  Feel free to close.

[2018-01-23 17:51] jonathanolson commented on #636
Closing, thanks!

[2018-01-23 17:51] #636 closed

[2018-01-23 18:05] jessegreenberg opened #649 "a11y-view broken for builds"
Source of the iframe is `'{{PHET_SIM_URL}}' + simulationQueryString`. This doesn't work with the a11y-view generated and placed in build directory.

[2018-01-23 18:24] jonathanolson commented on #616
Applied documentation updates. Searched google docs, but it only brought up status/developer meeting notes. I don't know of any other references.

Closing, as I believe this issue is now complete.

[2018-01-23 18:24] #616 closed

[2018-01-23 19:15] jessegreenberg commented on #648
It seems that hidden elements are correctly removed from navigation  order for single screen sims, so this is a problem with multi-screen sims.

[2018-01-23 20:30] samreid commented on #638
Now that chipper 2.0 is in master, I tried `grunt generate-config` in dot, and saw the same behavior as above.  @jonathanolson can you comment whether it's acceptable for dot's config to reference things like SCENERY_PHET, or should we approach this another way?

[2018-01-23 21:45] jonathanolson commented on #638
It also uses `phet.chipper.getCacheBusterArgs()` and `phet.chipper.brand`, which should be guaranteed to break things. I'm not sure if SCENERY_PHET references would break things, but it's definitely unclean. It seems like somewhat of a constraint to try to make the same "config" style work everywhere.

I guess the first question is whether `grunt generate-config` should be for things that are not

[2018-01-24 15:32] jbphet commented on #563
Thanks, @mattpen.  I'll test this.  If anyone is interested, the related issue in the installer-builder repo is https://github.com/phetsims/installer-builder/issues/54.

[2018-01-25 17:16] mattpen commented on #563
Work for this issue is complete. Closing because installer-builder work is tracked separately.

[2018-01-25 17:16] #563 closed

[2018-01-25 17:33] pixelzoom commented on #639
I have this in ~/.phet/build-local.json:

`"brands": [ "phet" ],`

... and I've been running `grunt dev` with no problems.

[2018-01-25 17:46] pixelzoom commented on #581
Following the chipper 2.0 merge, I suspect that this can be closed?

[2018-01-25 17:52] mattpen commented on #592
This has been working nicely since the merge.  Closing.

[2018-01-25 17:52] #592 closed

[2018-01-25 18:02] jonathanolson commented on #581
Correct, closing. Thanks!

[2018-01-25 18:02] #581 closed

[2018-01-25 18:34] jessegreenberg commented on #648
From phetsims/a11y-research#81 @emily-phet said

[2018-01-25 18:35] jessegreenberg commented on #648
When I remove this line in the a11y-view the problem goes away in FF:
[code]

[2018-01-25 18:36] jessegreenberg commented on #648
When I remove this line in domObserver, the problem goes away in FF:
[code]

[2018-01-25 19:51] jessegreenberg commented on #648
Hiding the domObserver behind a timeout seems to fix the problem.

[2018-01-25 20:39] jessegreenberg commented on #648
I tried to find a better workaround but couldn't find anything else that works. I don't understand why `cloneNode` is causing this problem and I have no idea why a timeout fixes this. But it doesn't seem worthwhile to spend more time on this.

[2018-01-25 20:42] jessegreenberg commented on #648
Verified that this works in Safari and Firefox.

[2018-01-25 21:15] jessegreenberg commented on #648
Closing.

[2018-01-25 21:15] #648 closed

[2018-01-26 01:02] jessegreenberg commented on #649
Fixed with the above commits.

[2018-01-26 01:02] #649 closed

[2018-01-26 03:39] samreid opened #650 "`DEPLOY 1.6.1 to PRODUCTION [y/N]? ` should mention the brands"
As a final check, chipper 2.0 asks `DEPLOY 1.6.1 to PRODUCTION [y/N]? `.  It would be very useful if it also reported brand(s) in the confirmation prompt, because a faulty deploy to PRODUCTION PHET is very different than a faulty deploy to PRODUCTION PHET-IO

Discovered in https://github.com/phetsims/phet-io-wrappers/issues/49

[2018-01-26 03:40] samreid opened #651 "Aborted deployment did not restore working copies"
Discovered in https://github.com/phetsims/phet-io-wrappers/issues/49 .  An aborted deployment left checkedout SHAs with detached heads.  Is that as expected?  Would it be easy to restore working copy versions as I suspect happens when build succeeds?

[2018-01-26 17:01] jonathanolson commented on #651
It looks like grunt.fail.fatal is stronger than actually throwing an error (exits the process before returning), so the catch part of the try-catch never runs.

I'll want to update this to throw an error instead, so that it can be properly handled.

Since this also affects chipper (not just perennial) I'll leave it open here and handle for both repositories.

[2018-01-26 17:09] jonathanolson commented on #650
Including repos and brands in the confirmation message (with commits above).

[2018-01-26 17:09] #650 closed

[2018-02-01 18:51] jessegreenberg opened #652 "Fix a11y-view summary paragraph"
@samreid noticed that the description for the a11y view is incorrect

From  slack:

[2018-02-01 19:30] jessegreenberg commented on #652
Pinging @terracoda so she is aware of this update.

[2018-02-01 19:33] jessegreenberg commented on #652
Changed to "embedded in the iframe" in the template. Closing.

[2018-02-01 19:33] #652 closed

[2018-02-01 19:41] jonathanolson opened #653 "Handle wrapper list determination for builds"
Currently the list of wrappers to be included is hardcoded in copySupplementalPhETIOFiles.js:
[code]

We'll need to decide whether this can be pulled from perennial (things depending on perennial files is a slippery slope).

[2018-02-01 19:56] jbphet opened #654 "Dependencies seem incorrect, should be improved and updated"
This issue originated from a discussion in the 2/1/2018 developer meeting.

Currently the `build.json` file in chipper contains the following:
[code]
First off, it seems odd that `phet-io-website`, `phet-io-wrapper-sonification`, and `phet-io-wrapper-visualizing-engagement` are on this list, since sims shouldn't depend on the website, they don't depend on the sonification wrappers since that wrapp

[2018-02-02 13:12] terracoda commented on #652
@jessegreenberg, the position is not important, so we can remove "below". I would, however, prefer the "general intro" text to be across the top as I described in https://github.com/phetsims/a11y-research/issues/66#issuecomment-358978999

As we continue to improve the A11y View, I'll review the text.

[2018-02-08 17:32] pixelzoom opened #655 "branch: chrome-web-store"
Identified by `print-branches.sh`. @jonathanolson @mattpen any idea what this branch is?

[2018-02-08 17:34] pixelzoom opened #656 "branch: generate-test-harness"
Identified by `print-branches.sh`. @samreid please describe.

[2018-02-08 17:44] mattpen commented on #655
This was a feature we were considering adding in 2015.  We decided not to proceed in favor of pushing the android app on chromebooks.  It appears to be behind master anyway so I'm going to delete it.

[2018-02-08 17:44] #655 closed

[2018-02-08 18:37] samreid commented on #656
Branch deleted, closing.

[2018-02-08 18:37] #656 closed

[2018-02-13 14:16] samreid opened #657 "Grunt is doubling options"
I was looking into https://groups.google.com/forum/#!topic/developing-interactive-simulations-in-html5/Drau-MS0zis and found that changing Gruntfile.createSim to read:

[code]

Had this result:
[code]

Instead of return "testsim" it is returning an array with two elements.  Hence the createSim call is failing.

[2018-02-13 14:25] samreid commented on #657
I'm guessing the chipper => perennial switchover automatically adds a repo.

[2018-02-13 14:30] samreid commented on #657
I also cannot figure out why the docs say simula-rasa uses `name` but perennial says it is `repo`.

[2018-02-13 17:25] samreid commented on #657
I updated the directions, @jonathanolson can you please review?  Then reassign to me so I can get back to Noel on the google group.

[2018-02-13 17:34] jonathanolson commented on #657
Looks good, although it's weird that installing grunt-cli is part of the "creating a new sim" bit, instead of the getting set up part (since it is also required for building sims)

[2018-02-13 17:35] samreid commented on #657
We discussed further on Slack, and it seems good now.  I'll write back to Noel.

[2018-02-13 17:35] #657 closed

[2018-02-13 19:11] samreid opened #658 "Improvements for sim-a11y-view.html template"
I noticed a few issues in the sim-a11y-view.html template.  I'll mark them here as checkboxes, then assign to @jessegreenberg for work.  After the work is complete, the actual sim a11y HTMLs should be regenerated and committed.  This was discovered during https://github.com/phetsims/friction/issues/64

- [x] Typo in `ineficient`
- [x] `intervalId` is never assigned to a var, and hence is getting a

[2018-02-20 18:50] zepumph commented on #639
Works well for me now, closing

[2018-02-20 18:50] #639 closed

[2018-02-26 03:30] samreid commented on #638
I copy pasted the contents of dot-test-config.js over dot-config.js (and switched deps from test to main) and ran `grunt`.  It seemed like the build went properly.

It seems like right now even sims with tests have the problem that they have two very similar *config.js files.

I think it's not too crazy to have unused names (like SCENERY_PHET) in the config.js file, and `phet.chipper.getCacheBuste

[2018-02-26 05:47] jonathanolson commented on #638
I just swapped `Date.now()` with `phet.chipper.getCacheBusterArgs()` for scenery/config.js, and then the scenery playground fails to run with the expected error (make sure to use incognito, as Chrome caches the config file). That seems like a larger issue than just having unused prefix entries.

[2018-02-26 05:55] jonathanolson commented on #638
Also that means Scenery now has 4 config files:

- config.js (the original, currently used by runtime things)
- scenery-config.js (since we need something that runs scenery-main.js, added in https://github.com/phetsims/scenery/commit/8b809abeb6fd56f1e88480c1073435775edbb650)
- chipper-config.js (I haven't used it, but it looks vestigial. @samreid can I remove this? added in https://github.com/phet

[2018-02-26 16:16] samreid commented on #638
I removed chipper-config.js in the preceding commit.

[2018-02-26 16:48] pixelzoom commented on #638
It's been awhile.  I don't recall the details of why this was an issue, why we need multiple configs, etc.  I tried to piece together the details by following references to related issues, but didn't manage to fill in the gaps.  Can someone summarize?

[2018-02-26 21:29] pixelzoom commented on #638
I verified that the only difference between circuit-construction-kit-common-config.js and circuit-construction-kit-common-test-config.js is indeed the `dep`, which point to the main.js file.

But I don't understand... Why does construction-kit-common have a main? (construction-kit-common-main.js)  It's not in active-runnables.

[2018-02-27 01:59] samreid commented on #638
Sorry, bad example (cck main looks vestigial and should be removed).  I wanted to talk about the general case where a sim has unit tests.  I don't think that case exists yet--it looks like only common code repos have unit tests at the moment.  You can try the following to see the general case we should discuss:

[code]

Then compare the configs.

[2018-02-27 18:04] pixelzoom commented on #638
@samreid said:

So we're talking about a hypothetical situation?... I'm sorry, I don't have time to spend on this now.  If it requires my attention, ask @ariel-phet and we'll see what can be removed from my plate or pushed out.

[2018-02-27 18:08] samreid commented on #638
@jonathanolson where do you want to go with this issue?  Should we try consolidating to one config file per repo, and moving the `deps` elsewhere?  (Where would that be?) . We can keep the hand-crafted configs for common repos and use the automatically-generated one for sims.

[2018-02-28 00:11] samreid commented on #638
Tagging for developer meeting in case @jonathanolson and I don't come up with a plan by then.

[2018-02-28 15:40] mattpen commented on #638
I'm not familiar enough with `generate-config` to be able to offer a reasonable opinion or suggestion, sorry.

[2018-02-28 22:33] jbphet commented on #638
IMO, the best thing to do from a usability standpoint would be to make the automatic generation smart enough to create the correct config file(s).  I'm not at all sure that it is worth the effort to do so.  If we decide to keep the current hand-rolled config files for common repos, we should add comments to make it clear that it was created manually.  Right not, the automatically generated ones ha

[2018-03-01 17:15] jonathanolson commented on #638
I have no strong preferences for how config files should be handled for "standalone" repositories. Generation of all of the necessary files sounds fine, but I'm not sure what priority this would be, and having 3 config files seems messy. Looking into using require() to handle the `deps` (so we only need one config) would probably be a good first step.

[2018-03-01 20:21] Denz1994 opened #659 "Lint rule for using Array.isArray() instead of instanceof Array"
We are moving away from using ```instanceof Array``` to using ```Array.isArray()``` as discussed in [Tasks #919.](https://github.com/phetsims/tasks/issues/919)

A lint rule should be created that ensures we are not using ```instanceof Array``` and suggests to use ```Array.isArray()```

@ariel-phet suggested to work on this while Masses and Spring is in RC testing.

[2018-03-01 20:28] pixelzoom commented on #638
Deferred to next week's dev meeting.

[2018-03-02 20:41] jessegreenberg commented on #658
Thanks @samreid, fixes made in the above commits. I regenerated a11y views with
`perennial/bin/for-each.sh accessibility grunt generate-a11y-view-html` and pushed. Closing this issue.

[2018-03-02 20:41] #658 closed

[2018-03-05 22:40] jessegreenberg opened #660 "Render aria-valuetext in the a11y-view"
A lot of information is lost in the a11y-view because aria-valuetext is an inline attribute. Can we copy this attribute value and render as a DOM node in the a11y view?

This seems nice for demonstrations. There are pros and cons for development. One pro is that we will be able to see aria-valuetext as we work. But one drawback is that the a11y-view will deviate more from what is actually in the P

[2018-03-05 22:46] jessegreenberg commented on #660
Added in the above commit, this is what it looks like. Can definitely be removed or modified.

![capture](https://user-images.githubusercontent.com/6396244/37004017-45d057c4-208c-11e8-82a1-54ac6ed86c9e.PNG)

[2018-03-06 00:44] zepumph commented on #660
I like it, especially if we think of the rendered PDOM as a visualization of the actual PDOM. Maybe keep it for now and see if there are any complaints from others?

[2018-03-06 23:44] zepumph commented on #637
What is the status on this? In `AriaHerald` I only see the polite element, I also see commits above that removed it from built sims, but in the sim template for development still has it in it. I will need to remove that.

[2018-03-07 00:28] zepumph commented on #654
As of this writing, `phet-io-wrapper-visualizing-engagement` has been renamed and is no long in this list.

I removed the sonification wrapper, because it isn't needed. Currently the phet-io-website is needed because on build we grab a snapshot of the dev guide for documentation, but there is talk of removing that as well in favor of the `phet-io-wrappers/documentation` wrapper, see https://github

[2018-03-07 00:30] zepumph commented on #637
Alright @jessegreenberg, I have now removed the 3 other aria live elements from (1) `AriaHerald`, (2) the built sim template, and (3) the development sim template (updating all of the sim htmls). Is there anything else to be done here? Could you give me a spot check?

[2018-03-07 01:56] zepumph commented on #660
The last bullet in https://github.com/phetsims/a11y-research/issues/66 it was said that @terracoda should design the style of meta content in the pDOM copy, I wonder what she has any thoughts about this styling.

[2018-03-07 02:15] zepumph commented on #617
in phetsims/a11y-research#66 I ditched this method and now have the left column fixed (like phet-io studio). It works well, and I hope we don't have to go back to this approach. Closing

[2018-03-07 02:15] #617 closed

[2018-03-07 18:33] jessegreenberg commented on #637
Thanks @zepumph, good to clean this up. I don't think there is anything else to do here.

[2018-03-07 18:33] #637 closed

[2018-03-08 19:13] jessegreenberg commented on #638
3/8/18 Meeting:

No  one has a strong preference.

@jonathanolson gave a summary of this problem: We have ~half page of duplication in our config files, causing a maintainability problem.

@zepumph was volunteered to look into this. @jbphet recommended to look into this sooner rather than later, and if it looks like it will take a significant amount of work then to bail. @ariel-phet said to take n

[2018-03-08 19:14] jessegreenberg commented on #638
To ramp up, @ariel-phet said it was OK to spend ~3 hours on this.

[2018-03-09 20:17] zepumph commented on #638
I began poking into this today. I found a potential solution of how to set the deps fro multiple launch points.

In axon there are currently two config files, one for tests and one for the main launch point. I found that it would be pretty easy for any launch point (html file) to specify its own deps before running the config through a global.

Here is what a single, consolidated config could look

[2018-03-09 20:21] samreid commented on #638
Nice work @zepumph, in my opinion, the benefit of consolidating the configs outweighs the line `deps: window.phetDeps || [ 'main' ],` and its assumptions.  Did you test these configurations?

- [ ] running a sim in requirejs
- [ ] building a sim
- [ ] running unit tests in requirejs

Also, we should run this past @jonathanolson to make sure it will work OK for scenery/dot/kite since they had diffe

[2018-03-09 20:21] zepumph commented on #638
We could work to make the global object more robust, like detecting `global` vs `window`. I'll look into a few more test cases.

[2018-03-09 20:23] samreid commented on #638
urlArg is done like so:

[code]

Perhaps we can use `phet.chipper.configDeps`?

[2018-03-09 20:53] zepumph commented on #638
For almost all sims, the only change will be the following line in the config:
`  deps: phet.chipper.configDeps || [ 'faradays-law-main' ],`

Even though most don't have tests these days, this allows any other html file to use this config file. In FL it ran in requirejs and built/ran built. Then in the testing template we will just need to add a value for that global.

I'm still a little confused