[2021-08-12 18:44] samreid commented on #1060
From today's meeting, we are considering a different suffix for the imported images and mipmaps.  We would like to turn on the rule so it isn't "wild west/no pattern".

@pixelzoom proposed: matching the variable name to the filename, converting dash to underscore. `import level_3_icon_png from '../../../mipmaps/level-3-icon_png.js';`

[2021-08-12 22:15] pixelzoom commented on #1060
In the above commits, I converted many of my sims to use strict camelcase for image filenames.  The modulified names and imports then looks like this:

[code]

I like this convention a lot, and I'm going to convert the rest of my sims.

The advantage to converting the file names is theres no need to convert dashes to underscores, and the import names and file names are therefore identical.  If it

[2021-08-12 23:12] pixelzoom commented on #1060
Image file names in all of my sims have been converted to camelcase, _EXCEPT_ graphing-quadratics https://github.com/phetsims/graphing-quadratics/issues/156 and molecule-polarity https://github.com/phetsims/molecule-polarity/issues/131.  Those 2 sims are in RC testing, and I don't want to complicate potential cherry-picks by changing master.  So I'll address them when they have been published.

@j

[2021-08-13 19:03] pixelzoom commented on #1060
Proposal:

(1) Change `grunt modulify` to change '-' to '_' in the output file name.
(2) Run `grunt modulify` on all repos to remove '-' in file names. Commit new files, remove old files that were named with '-'.
(3) Fix `import` statements file names that were changed in (3). Identify what needs to be fixed by searching for "_png.js" etc., or by running sims to see which ones now have a bad impor

[2021-08-16 19:43] pixelzoom commented on #1060
In the above commits, image file names and imports were standardized in molecule-polarity, vegas, and scenery-phet.

[2021-08-19 15:42] samreid opened #1076 "Alternate brands should not require phet-io repos to be checked out"
As discussed on the Google Group, and in the slack #dev channel.  Alternate brands should not require phet-io repos to be checked out.  I'll push a fix for review shortly.

[2021-08-19 15:44] samreid commented on #1076
Fixed, and ready for review.  @jonathanolson can you please take a look?

[2021-08-19 18:48] samreid opened #1077 "Relax constraints on brands"
Like https://github.com/phetsims/chipper/issues/1076, we would like to relax the constraints on BRANDS so that clients can use a new brand.  I'll take the lead.

[2021-08-20 01:36] samreid commented on #1077
Fixed, and @jessegreenberg volunteered to review.

[2021-08-20 01:37] samreid commented on #1077
I tested by copying brands/adapted-from-phet to brands/testbrand, then adding "testbrand" to "brands" in gravity-and-orbits/package.json.  Then running `grunt --brands=testbrand` in gravity-and-orbits/.

[2021-08-20 01:37] samreid commented on #1076
@jessegreenberg can you please review this? It is is the name neighborhood as https://github.com/phetsims/chipper/issues/1077

[2021-08-20 17:24] jessegreenberg commented on #1077
Thanks @samreid, looks good. I tested by following the instructions at https://github.com/phetsims/brand/blob/master/README.md. Things mostly worked except for testing the unbuild version I hit

Can we remove the list of `validValues` from initialize-globals?

I also didn't see anything in the README about editing package.json, so I added a note about that. Back to @samreid to review and comment.

[2021-08-20 17:40] jessegreenberg commented on #1076
Change looks good and builds with custom brands are working well.

[2021-08-20 17:58] samreid commented on #1077
Thanks, I also pushed the fix for initialize-globals.  I updated the example brand name in the docs as well.  Everything else looks good.  Closing, but please reopen if you see something.

[2021-08-20 17:58] #1077 closed

[2021-08-20 18:01] samreid commented on #1076
Thanks, closing.

[2021-08-20 18:01] #1076 closed

[2021-08-25 18:18] samreid opened #1078 "Rename "js" directories to "src""
From https://github.com/phetsims/chipper/issues/1047, we would like to rename "js/" directories to "src/" so it is clearer they support multiple languages.

[2021-08-26 19:25] zepumph opened #1079 "require-statement-match rule is broken"
Discussed during discussion in https://github.com/phetsims/chipper/issues/1060.

[2021-08-26 22:21] samreid opened #1080 "The presence of chipper/dist will fail maintenance releases"
When running a maintenance release of Balancing Act for https://github.com/phetsims/balancing-act/issues/131, the build failed in the RC branch because chipper/dist failed lint.

Notes from #1059 (duplicate):

Chipper has an eslint ignore directive for chipper/dist in master.  However, when doing an RC build, if chipper/dist exists, it will be linted.  This means we may need to do something like:

[2021-08-28 04:06] samreid commented on #1075
I added the flag and it seems to be working well.  Closing.

[2021-08-28 04:06] #1075 closed

[2021-08-28 04:25] samreid opened #1081 "Review the typescript branch"
Now that there is a package.json flag "typescript: true", we can merge the typescript branch to master for chipper. But before merging, it should be reviewed.  @zepumph took a quick look during a call and said it sounded reasonable, but it seems we should have more thorough testing before merging to master.  Things to test:

1. Running a JS/Unbuilt sim
2. Building and running a JS sim
3. Running a

[2021-08-28 15:46] samreid commented on #1069
@zepumph suggested creating a typescript branch for axon and scenery, so at the moment we decide to enable the typescript build chain for all sims, we can immediately get the benefits in common code.

[2021-08-28 15:51] samreid commented on #1065
Organizing by private vs public also seems reasonable, then the public modifier is less important.  This also has the advantage of making the public-facing API clear:

[code]

[2021-08-28 15:51] samreid commented on #1059
Duplicate of #1080, I'll move the info there.

[2021-08-28 15:51] #1059 closed

[2021-08-28 15:54] samreid commented on #1048
Some team members reported they are reading Programming TypeScript by Boris Cherny https://www.oreilly.com/library/view/programming-typescript/9781492037644/

[2021-08-30 02:55] samreid commented on #1074
I added the types in the idiomatic way, and it seems to be working OK.  Closing.

[2021-08-30 02:55] #1074 closed

[2021-08-30 19:09] jonathanolson commented on #1081
Initial review comments:

- isRepoTypeScript is in ChipperUtils, but this seems like it could be in its own file (e.g. perennial's common directory). Would this be run on repos like yotta (that have no `phet` section in their package.json?).
- getStringMap change should have a documentation update. It looks like a generalization of whitespace and single and double quotes?
- We'll want to make sure

[2021-08-31 13:09] samreid commented on #1081
I moved ChipperUtils.isRepoTypeScript to perennial/isRepoTypeScript.  Also, I did this in perennial-alias which I did not notice was is master instead of the typescript branch.  So that is already moved to master.

[2021-08-31 21:04] zepumph commented on #1079
I had good luck finding the small bug that was causing that weird error in the package. I created a pull request for the fix. Given that, I think we should go all in on this package. I'm going to add this dependency, and add it to the eslintrc file turned off (since there will be many, many errors). I'll report back soon.

[2021-08-31 21:54] zepumph commented on #1079
I ran grunt lint-everything, and found 1272 errors, they looked something like this. I'm very pleased! I'll go ahead and commit this rule turned off.

[code]

Here are the repos that this effects:

- [ ] acid-base-solutions
- [ ] area-builder
- [ ] area-model-common
- [ ] arithmetic
- [ ] axon
- [ ] balancing-act
- [ ] balloons-and-static-electricity
- [ ] bamboo
- [ ] bending-light
- [ ] brand
-

[2021-08-31 22:04] zepumph commented on #1079
Ok, commented out above.

[2021-08-31 22:04] zepumph commented on #1079
I think it is time to check in with @jessegreenberg. Please let me know what you would like to do in combination with  https://github.com/phetsims/chipper/issues/1060

[2021-09-01 01:51] samreid commented on #1081
I addressed the rest of the recommendations, can you please re-review?

[2021-09-01 01:58] samreid commented on #1071
Instead, we introduced a package.json flag that will allow us to move forward with TypeScript in master before density or fourier have shas.  Therefore when review in #1081 is done, the branches can be merged to master.

[2021-09-01 03:36] samreid commented on #1070
In the commits, I moved circuit construction kit common's tsconfig file to master.  I'll use that for testing over the next few days (without typescript) to see if it hampers workflow in any way.

[2021-09-01 03:39] samreid commented on #1079
I'm seeing this error in sim code, even though I have `npm install` in chipper:

![image](https://user-images.githubusercontent.com/679486/131607992-60610e93-a558-4565-89d8-fc68b0c1bfc3.png)

[2021-09-01 18:20] jonathanolson commented on #1081
Reviewed the changes, and all my testing is looking great!

[2021-09-01 18:21] jonathanolson commented on #1080
That sounds good to me. Seems safe to do the maintenance process without deploying production versions. Should we collaborate on that?

[2021-09-01 19:04] zepumph commented on #1079
Ok. @jessegreenberg, please review our own implementation of `default-import-match-filename`.

Using this patch + `grunt lint-everything`, you can see all the errors. Most likely these will need to be fixed manually.

[code]
What are you feeling about this?

[2021-09-01 20:24] samreid commented on #1070
I worked with @zepumph on CCK with tsconfig in master for more than an hour and did not observe any problematic effects.

[2021-09-01 20:35] samreid commented on #1039
Merged to master, closing.

[2021-09-01 20:35] #1039 closed

[2021-09-01 20:36] samreid commented on #1081
I merged chipper, perennial and studio to master, and closed the corresponding issues.  I'll remove them from the typescript-repos list.

[2021-09-01 20:38] samreid commented on #1081
Thanks, we are merged to master and this issue is ready to close.  The list of other issues that should be completed before moving TypeScript code to master are listed in the milestone: https://github.com/phetsims/chipper/milestone/1

[2021-09-01 20:38] samreid commented on #1071
Done as part of https://github.com/phetsims/chipper/issues/1081, closing.

[2021-09-01 20:38] #1071 closed

[2021-09-01 20:40] samreid commented on #1080
Yes, let's maintenance release without deployments.  Can you please take the lead on that or schedule with me for collaboration?  I'll ping you on slack for potential collaboration.

[2021-09-01 22:01] samreid commented on #1018
At a staggering 512 hidden items, this issue is ready to split into sub-issues.

[2021-09-01 22:05] samreid commented on #1018
I opened side issues for the remaining work.  Anyone please feel free to reopen if something was missed.  Closing.

[2021-09-01 22:10] samreid opened #1082 "Lodash @types versions doesn't match sherpa version"
After https://github.com/phetsims/chipper/issues/1074 I realized the `@types` lodash version doesn't match the sherpa version.  It's probably OK since lodash has had a stable API, but maybe they should be matched at some point.  Sherpa has `4.17.4` and chipper `@type` has `4.14.172`

[2021-09-02 04:54] samreid commented on #1073
We may be able to use https://github.com/phetsims/phetmarks/issues/56 for local testing before we push to the remote.

[2021-09-02 05:00] samreid commented on #1048
In slack, @pixelzoom said:

[2021-09-02 15:50] KatieWoe opened #1083 "cannot read property typescript of undefined"
Happens in many CT repos
[code]

[2021-09-02 15:55] samreid commented on #1083
Thanks, I fixed it in the commit, closing.

[2021-09-02 15:55] #1083 closed

[2021-09-02 18:31] samreid opened #1084 "Update all of our package.json dependencies in chipper"
From https://github.com/phetsims/perennial/issues/236, we discussed upgrading all our dependencies in package.json.  @zepumph volunteered to take a look.

[2021-09-02 19:23] samreid commented on #1070
In discussion today, @jonathanolson advocated for combining tandem and axon repos, since they have so much crossover.  I'm reluctant to do so--it seems there are some good separation of concerns and attempted modularity that would be good to keep.

[2021-09-02 20:01] zepumph commented on #1084
Here is what master looks like to me right now:

[code]

[2021-09-02 20:08] zepumph opened #1085 "Can we delete jsondiffpatch from our dependencies?"
While working on https://github.com/phetsims/chipper/issues/1084, I only see it used in phetioCompareAPISets, @samreid, I wasn't sure if that file was still being used, and if so, if we need jsondiffpatch for it. Can you please comment. Feel free to close.

[2021-09-02 20:21] zepumph opened #1086 "Use native "crypto" library instead of md5 package"
From https://github.com/phetsims/chipper/issues/1084, why not use the build-in crypto library for our lint cache hashing?

[2021-09-02 20:22] zepumph commented on #1086
The example from https://nodejs.org/docs/latest-v8.x/api/crypto.html#crypto_crypto is working really nicely.

[2021-09-02 20:23] zepumph commented on #1086
@samreid can you give me a spotcheck please?

[2021-09-02 20:51] zepumph commented on #1084
The only dependencies with major version differences are:

[code]

I created https://github.com/phetsims/chipper/issues/1086 because it seemed good to try to remove all packages that aren't really needed.

- [ ] I think that taffydb can be deleted, but @samreid added it as part of https://github.com/phetsims/chipper/commit/cca0001650b913a2b83340cca14fb28620b8b01d so I thought that I would make sur

[2021-09-02 21:09] zepumph commented on #1084
terser v5 had breaking changes, one of which I was unable to remedy, and so I gave up on it.

<details>

[code]

[2021-09-02 21:52] zepumph commented on #1084
png looks safe, but it also if going from major version 0 to 6. I tested by modulifying bending-light, which uses mipmaps.

For webpack-dev-server, there were breaking changes, but I was able to parse through them and test it. Honestly I didn't spend too much time on this because I don't think that anyone ever uses it.

I tested many grunt commands, but probably not all of them. I am feeling good

[2021-09-03 15:29] zepumph commented on #1084
@jonathanolson gave me the go-ahead, and I removed taffydb also while I was at it. @samreid please review this issue. Anything else you would like done?

[2021-09-03 17:33] samreid commented on #1080
Acid base solutions 1.2 did not have a problem.  Balancing act 1.2 could not be fixed with .eslintignore, but could be fixed with this patch:

<details>

[code]

</details>

[2021-09-03 21:01] samreid commented on #1067
I wonder if this overlaps with the caveat in https://www.typescriptlang.org/docs/handbook/project-references.html#caveats.  Do we need to make sure noEmitOnError is truly enabled?

[2021-09-03 23:36] samreid commented on #1072
@jonathanolson and I made progress on this today, and I've checked in some intermediate results.  However, our overall plan to use output-js-all won't work since building with --build enables noEmitOnError, see https://www.typescriptlang.org/docs/handbook/project-references.html#caveats.  This means if there is one type error in one repo, it won't emit any code for any repo.  Some options:

1. Whe

[2021-09-04 01:56] samreid commented on #1072
I followed (2) above and it is working with my locally-running CT.  It will need tsconfig files for all dependencies for it to work.  Otherwise, the next steps are review and testing on bayes CT.

[2021-09-04 02:01] samreid commented on #1072
I was able to commit many of the changes to master.  Here is the patch that enables the call in CT.  I'll apply that when more tsconfig files are populated, from #1070

<details>

[code]

</details>

@jonathanolson everything above here is ready for review.

[2021-09-04 02:44] jonathanolson commented on #1080
Affected release branch list:

[code]

[2021-09-04 14:14] samreid commented on #1070
I can't get much further on https://github.com/phetsims/chipper/issues/1073 without adding the tsconfig files to master, I'll start that soon.

[2021-09-04 15:06] samreid opened #1087 "How to generate/maintain tsconfig files compared to package.json?"
After #1070 there is duplication of project structure.  The dependencies are listed in package.json and also in tsconfig.json.  The tsconfig.jsons were generated from the dependencies in package.json, but then many had to be adjusted manually to get paths correct.  The goal is for there to be a 1:1 correspondence between these files, or at a minimum, a check that they have the same dependencies.

[2021-09-04 15:08] samreid commented on #1087
There are two "breadcrumbs" that may help with this issue.  One is generate.js which was used to batch generate all the tsconfig from the package.json.  The other is generateTSConfig, which is agnostic of the dependencies.

[2021-09-04 15:13] samreid commented on #1070
I've moved all the tsconfig to their corresponding repos.  One note that these tsconfig files only include the core code for that repo, and not any of the tests.  Tests often include downstream dependencies.  For instance, the joist demo imports modules from sun and scenery-phet.  So adding a dependency on joist means a dependency on joist but without its tests (and those transitive dependencies).

[2021-09-04 15:14] samreid opened #1088 "How to manage tsconfig files for tests?"
From https://github.com/phetsims/chipper/issues/1070

I'm picturing tsconfig-tests.json in each repo with tests.  These will have much more relaxed dependencies.

[2021-09-04 15:22] samreid commented on #1070
The tsconfig files have been moved to master.  I tested some `grunt output-js` and `grunt output-js-project` and `grunt output-js-all` and they are working as expected.  Closing.

[2021-09-04 15:22] #1070 closed

[2021-09-04 15:42] samreid commented on #1073
I messaged on slack:

[2021-09-04 16:10] samreid opened #1089 "Potential case sensitivity problem on bayes regarding typescript"
During https://github.com/phetsims/chipper/issues/1073 I saw errors that looked like tests were not excluded.

[code]

etc.

[2021-09-04 16:39] samreid commented on #1089
The commits appear to have fixed most or all of this problem.  Leaving open until I see if there are untested corners.

[2021-09-04 16:46] samreid commented on #1073
I'm adding `npm install` for each repo on phettest, so that we can run `grunt` commands in the idiomatic way.

[2021-09-04 17:02] samreid commented on #1073
I pushed support for TS code on phettest, and ran the following experiments:

* Converted blast to TS
* Added TS code to blast
* Added TS code that fails the type checker.  Press "Pull".  It says "failed" but did compile the code and code was runnable
* Fixed type errors and pressed "Pull".  It says succeeded and runs the new code
* Reverted blast to JS

For reference, here are the basic steps to

[2021-09-04 17:17] samreid commented on #1072
Basic support is working on phettest.  That helped us identify a case sensitivity problem, which has been addressed in #1089.    tsconfig files have been populated in https://github.com/phetsims/chipper/issues/1070.  The patch above is working ok locally, so I think we can test it on the server next.

[2021-09-04 17:39] samreid commented on #1072
I pulled aqua and restarted CT with the change above.

[2021-09-04 17:46] samreid commented on #1072
It appears to be working as prescribed.  The UI shows:

![image](https://user-images.githubusercontent.com/679486/132103718-d93f5166-7378-4fde-9beb-560a1d3923aa.png)

The logs show:
[code]

etc.

I will leave this self-assigned to try out some TS things on CT, like:
* Adding TS code in blast, and seeing if it runs
* Adding a type error in blast, seeing if it runs and is reported.

But I also think

[2021-09-04 18:31] samreid commented on #1072
I noticed a lot of time is being spent in Compiling TS.  Could we move to a pattern where it runs `output-js` on any repo that needs a pull (and no others)?

[2021-09-04 19:55] samreid commented on #1072
CT seemed to handle a correct blast TypeScript correctly.  Next I'll see if it handles a type error.

[2021-09-04 20:12] samreid commented on #1072
Excellent, lint is passing, type check is failing and unbuilt mode is passing.  The code was:
[code]

![image](https://user-images.githubusercontent.com/679486/132106905-b336c89d-8a85-4068-9290-1535f27eae4a.png)

[2021-09-04 21:50] samreid commented on #1089
This seems fixed and working on bayes.  Closing.

[2021-09-04 21:50] #1089 closed

[2021-09-04 22:13] samreid opened #1090 "TypeScript "Quick Start" documentation"
Now that we are getting closer to allowing TypeScript in sim repos, we could use a summary "quick start" guide of how to get started, what the current status is, etc.

[2021-09-05 23:02] samreid commented on #1090
I wrote an initial draft of this and shared it on slack, closing.

[2021-09-05 23:02] #1090 closed

[2021-09-05 23:05] samreid commented on #1055
I moved tsconfig files to their respective directories in #1070.  There are still several oddities in these files in order to set up a dependency graph.  For instance, check out what scenery's tsconfig.json includes:

[code]

I'm not sure if this issue should remain open for making that aspect more modular.  The other problem about test cases is addressed in #1088

[2021-09-05 23:08] samreid commented on #1078
I'd like this to be discussed and approved in dev meeting before moving forward with it.  Also, it doesn't seem like a very high priority (risky, destabilizing for not much gain).

[2021-09-06 17:42] jonathanolson commented on #1080
Also, we'll want to add it to the `.gitignore`, so we don't run into git issues.

[2021-09-06 17:58] samreid commented on #1080
Great idea!

[2021-09-07 03:09] jonathanolson commented on #1080
I've patched up the branches.

I was about to suggest not doing RCs (and leaving that for the next maintenance release), however... this actually seems like we'll potentially need to do production releases. If we build a typescript sim on build-server, it will add chipper/dist, then a future translation deployment of production sims without this patch would fail.

@samreid thoughts on this? @kathy

[2021-09-07 15:17] samreid commented on #1080
I’m not sure about the maintenance releases--not sure how the translation process relates to the maintenance release process.  But we do need translations not to fail!  I have not yet tried a build on the build server, though bayes has done some TypeScript builds for CT and phettest.

[2021-09-07 15:47] samreid opened #1091 "Automate the maintenance patching steps"
From https://github.com/phetsims/phet-io/issues/1815 @pixelzoom said:

[2021-09-07 15:47] samreid commented on #1091
@zepumph said:

[code]

[2021-09-07 18:47] samreid opened #1092 "Why is docdash in sherpa but its dependency taffydb is in node_modules?"
From https://github.com/phetsims/phet-io-wrappers/issues/265 and recently discovered in https://github.com/phetsims/chipper/issues/1084#issuecomment-912046835.  If they cannot both be in sherpa, can they both be in node_modules?

[2021-09-07 21:05] zepumph commented on #1092
I could not find a way to get taffydb to be known from sherpa, so both are now added in package.json.

Ready to close?

[2021-09-08 14:48] jonathanolson commented on #1080
To clarify, say:

1. A user submits a translation on a sim with our typescript support. `chipper/dist` is created on the build-server.
2. A user submits a translation on a sim without our patch being production deployed (it uses the SHAs of the production version). It will then fail because of the existence of `chipper/dist`.

So we'd want to production-deploy to avoid this (or figure out another

[2021-09-08 15:09] jonathanolson commented on #1072
In https://github.com/phetsims/perennial/commit/7107af1198c09f5e69cf7915dad77ceee9ca4527, can we move the ExecuteError definition below the main execute definition? It's nice to see the args/docs for execute near the top of the file.

[2021-09-08 15:17] jonathanolson commented on #1072
I don't see outputJS's return value being particularly helpful (it's not currently used). If it is kept, `return Promise.all( [] );` can just be `return [];` (if you really want to return an array, it doesn't match with the type docs), we're an async function so our result gets wrapped with a promise anyway.

So could we remove the return value?

Additionally, I've added type docs in a few places.

[2021-09-08 15:20] samreid commented on #1072
Thanks for the recommendations!  I noticed a lot of time is taken in TypeScript compilation.  There is a proposal in https://github.com/phetsims/chipper/issues/1072#issuecomment-913018784 to improve that.  What do you think?

[2021-09-08 17:49] jonathanolson commented on #1072
Would that catch cases where I make a scenery change that breaks types in a sim? Is that just for the "unbuilt" runs? My understanding was that output-js also built dependency code, no?

[2021-09-08 18:03] mattpen opened #1093 "Some released sims are not handling locale fallback gracefully"
Some sims are crashing when the _all file tries to load with an untranslated locale. e.g. https://phet.colorado.edu/sims/html/equality-explorer/1.0.13/equality-explorer_all.html?locale=ar_SA

Error:
[code]

@jonathanolson found that this isn't happening in master.   @chrisklus found that some sims (like NLD and JT) do not have this bug in the released version.

This is affecting the virtual worksh

[2021-09-08 19:11] samreid commented on #1080
@jonathanolson and I discussed whether it would be useful to have a "latest release critical for the app" or a flag that lets us make maintenance releases without forcing downloads in the app.

I mentioned that we could always create another directory, like typescript/dist, but @jonathanolson said we do need to support being able to add directories in the future and chipper/dist sounds better for

[2021-09-08 19:52] samreid commented on #1072
@jonathanolson and I worked on this today.  In https://www.typescriptlang.org/docs/handbook/project-references.html#caveats we found that project references cannot emit when there are errors, so output-js just outputs for a single repo, even if there are errors.  We confirmed this is working well in mobius.  We added the patch above so that CT will tsc on each pull rather than each snapshot.  It s

[2021-09-08 20:03] samreid commented on #1080
I slacked @kathy-phet and @jonathanolson

[2021-09-08 20:57] kathy-phet commented on #1080
@samreid @jonathanolson Yes, I believe this will definitely lead to an update of all sims within the apps. We would want to rebuild and redeploy the apps not long after this release is completed I think. Let's discuss tomorrow with @mattpen. Oliver is the lead on the iOS app, so he will understand the rebuild and deploy schedule of that version.

[2021-09-08 22:54] samreid commented on #1073
Patch from investigation with @jonathanolson

<details>

[code]

</details>

[2021-09-08 23:42] jonathanolson commented on #1093
List of release branches that look broken:

[code]

[2021-09-09 17:12] jonathanolson commented on #1093
@samreid can you review the commit https://github.com/phetsims/chipper/commit/ef354141ba6396b1605f5b8ffda5c72fb17440fc (all of the sims had either this change in sim.html or chipper-strings.js).

I've applied it to all sims, I'll verify that things are working nicely (running verification, leaving myself assigned).

[2021-09-09 17:21] jonathanolson commented on #1093
Auditing the current sims:

[code]

[2021-09-09 17:56] samreid commented on #1078
@zepumph said we should leave it as it is for a while, we are used to it and it is not worth the effort to change in the near future.  @jbphet said it would be confusing for newcomers to see *.ts code in a js/ folder.  We should look up what the convention is and follow it.  We saw a few projects using a "scripts" directory, but not sure if that is the convention.

[2021-09-09 18:03] jbphet commented on #1091
In today's developer meeting we agreed that yes, it would be useful to have this supported by the maintenance release tools.  @jonathanolson has agreed to add it (thanks!).

[2021-09-09 19:42] zepumph commented on #1073
How do I know if a fail was during pull or during compilation?

Can we just bank on the fact that master may be unstable, but will ALWAYS be compilable? Can we do a git commit hook for that?

[2021-09-09 20:27] samreid commented on #1073
There is a git hook that will prevent developers from committing code that doesn't pass the type checker.

[2021-09-09 20:56] jonathanolson commented on #1093
Passed for all sims.

[2021-09-10 00:16] samreid commented on #1093
I reviewed the commit as requested in https://github.com/phetsims/chipper/issues/1093#issuecomment-916284027 and most everything looks great.  I checked out acid-base-solutions 1.2 and its shas, and built it, and put a debugger at the code in question and inspection seemed OK.  I did not know how to test with a different locale, since there is no "all" html at this level.  So when I tried ?locale=

[2021-09-10 00:50] jonathanolson commented on #1093
Add `--allHTML` to the grunt build.

[2021-09-10 00:51] jonathanolson commented on #1093
I checked that, but it might be good to verify.

[2021-09-10 15:14] samreid commented on #1080
@jonathanolson said the next step for this is to make the RC deployments.  We will need to inform devs not to work in maintenance branches while that is happening.  We can do brief testing on the RCs.  But we need to do the production deploys before we can run the TypeScript build on the build server.

[2021-09-10 15:20] samreid commented on #1093
@jonathanolson and I tested the 1.2 branch with `--allHTML`, everything looks great and behaves as expected.

[2021-09-10 16:31] samreid commented on #1067
@jonathanolson and I discussed briefly.  The next steps for this issue are:

* Reproduce the problem above
* Create a self-contained reproducible case and see if it also has the problem
* Try more likely scenarios, such as introducing a type error in scenery or another dependency, and make sure it is picked up in the build
* Based on the above, search online to see if others had similar experience

[2021-09-10 16:42] samreid opened #1094 "Add TypeScript typing for merge"
@jonathanolson and I agree it is important to have a good type for merge (not returning `any`).  It would probably be a generic function that returns a type intersection `&` of the types.  We may look at lodash function typings for inspiration.  May overlap with #1074

[2021-09-10 21:08] mattpen commented on #1080
As soon as the RC deployments are complete, we'll want to repackage the sims in the ios and android apps and republish.  The android app is in a stable state, and I can complete that at any time.  I'm not sure what the status of the ios app is, @oliver-phet has been coordinating with Kelly Bond on some improvements, I don't know if those have been published and if the app is in a stable state.

@s

[2021-09-10 21:08] samreid commented on #1073
@jonathanolson and I made progress on this today, leveraging more of perennial tools.  @zepumph pointed out that since phettest-server runs from 2 levels deep, its paths are incompatible with a lot of perennial tooling.  @zepumph recommended I create a branch with phettest-server moved up one directory, then in the future he can move that to a new top-level repo (instead of nested under phetmarks)

[2021-09-10 21:17] samreid commented on #1080
The main time concern is that: when we run build with a sim that has `typescript:true` in package.json, the build server will create a directory chipper/dist which is not deleted at the end of the build (it is designed to be persistent across builds), and leaves output files that do not pass lint.  Older release branches have a rule that lints all of chipper, so they would fail building if chipper

[2021-09-10 21:58] samreid commented on #1073
OK the behavior seems to be testing properly on my side, and I committed to a branch as @zepumph and I discussed.  @zepumph can you please take the next steps, reaching out to me or @jonathanolson as appropriate?

[2021-09-10 22:05] samreid opened #1095 "Repos should identify when they support the output-js task family"
To support https://github.com/phetsims/chipper/issues/1073 and perennial tools, we would like repos to identify when they support an output-js task.  @jonathanolson and I discussed adding a package.json flag like so:

[code]

We will need to mark this in many repos and will have problems if one is forgotten.  Also, @jonathanolson what do you think about running `grunt --help` in a repo to see if i

[2021-09-10 22:34] samreid commented on #1067
Surprisingly, the self-contained example does not exhibit this problem.  (Note that it is easier to switch between the tandem being a string vs any).  I'm not sure if I have the tsconfigs matching our style exactly, or where the essential difference might be.  Multiple layers to get to the dependency?

<details>

[code]

</details>

[2021-09-11 03:56] samreid commented on #1067
That did the trick.  I introduced an intermediate transitive dependency and now can reproduce the problem in an isolated case.  I'll commit this failing example to chipper/tests, then we can rename it to something sensible for sharing in a TypeScript issue.

[2021-09-11 16:52] zepumph commented on #1073
https://github.com/phetsims/chipper/commit/caf9eb7cfb6f6c9a7681ec3dcb17cc3919374d9a can almost certainly be improved on, but I was blocked because many tasks in phettest are failing in certain cases due to output-js, so I tried to just get past it. Will you please make sure it is as good as it should be? Perhaps we should check on package.json instead of just the presence of `tsconfig.json`. This

[2021-09-11 19:06] samreid commented on #1095
@zepumph and I discussed it and agreed to move forward with the package.json flag.  Self-assigning to add the flag to all appropriate repos.

[2021-09-11 19:07] zepumph commented on #1073
@samreid and I looked at https://github.com/phetsims/chipper/issues/1073#issuecomment-917437697 together, and we realized that this commit should be reverted, and that changes to outputJS() weren't committed yesterday, so he committed them.

[2021-09-11 19:10] samreid commented on #1072
Path changed, we will need to make a commit to fix the path, and restart bayes CT with the new code.

[2021-09-11 19:12] samreid commented on #1072
@zepumph reports that he pulled aqua and restarted CT with the new code.  Thanks!

[2021-09-11 19:12] #1072 closed

[2021-09-11 19:54] zepumph commented on #1073
Much of this work was put on master as part of https://github.com/phetsims/special-ops/issues/209 too (though most of the commits are linked here). `output-js` has been confirmed to be working on phettest on bayes for pull, pull all, and perennial refresh.

@samreid, is there anything else for this issue?

[2021-09-12 15:41] samreid commented on #1073
Nice work on https://github.com/phetsims/special-ops/issues/209, I think everything is working nicely here and in good shape.  Closing.

[2021-09-12 15:41] #1073 closed

[2021-09-12 17:13] samreid opened #1096 "Pull/OutputJS paradigm will fail for non-modular repos"
Discovered in https://github.com/phetsims/chipper/issues/1095.  For instance, axon and tandem are listed together in tsconfig.  Or scenery tsconfig includes utterance-queue.  That means pulling scenery then running `tsc` our `outputJS` in scenery is doomed to fail, since it would also need to pull commits for utterance-queue.  The workaround for now is to pull/compile everything twice, or to run p

[2021-09-13 02:27] samreid commented on #1095
I pushed these today.  What will happen if a repo doesn't say "supportsOutputJS:true" when it should?  Then it will fail to compile on phettest/CT.  What will happen if a repo says "supportsOutputJS:true" when it shouldn't?  Then it will be a build error (output-js not found or output-js failed).  I think this issue is ready to close.

[2021-09-13 02:27] #1095 closed

[2021-09-13 03:12] samreid commented on #1094
This patch has the correct behavior for some idiomatic usages of `merge` in Gravity and Orbits:

<details>

[code]

</details>

[2021-09-13 15:23] mattpen commented on #1080
This would be ideal.  There will already be a delay since our current tooling doesn't allow us to package the MR in the app until after it is released to the public.  The delay arises from the time it takes to build and upload the package to the app stores, then submit it and wait for approval from Apple/Google.

We can tolerate some delay, but the longer we wait the more end users essentially wil

[2021-09-13 16:33] samreid commented on #1096
@jonathanolson and I changed the process on phettest so "pull all" pulls everything then outputJS everything.  This helps for "pull all" but doesn't solve the problem for individual repos.

We also discussed using `node ../../node_modules/typescript/bin/tsc --build` on the tsconfig/all with or without `--watch` as a solution.

@jonathanolson recommended going toward the more modular approach as mu

[2021-09-13 17:44] samreid commented on #1094
For our options pattern, we may need to have the options be complete, like

[code]

Then merge takes a Partial<MyOptions>, and defaults of MyOptions, and returns MyOptions.  That way we know everything is defined after the merge.

[2021-09-13 17:57] jonathanolson commented on #1080
Looks like there's going to be phet-io MR stuff later this week, will be pending on that.

[2021-09-14 01:39] samreid opened #1097 "tsconfig should set strict:true by default"
In slack #typescript, @zepumph said:

[2021-09-14 01:40] samreid commented on #1097
I replied:

We probably won’t convert all simulations to ts.  And different repos can have different compiler options as necessary. For instance, gravity-and-orbits is getting close to full “strict:true” while we probably can’t turn that on in tsconfig-core.json for a while.  Turning on strictNullChecks may be difficult before we allow TS in common code, for instance, since we will need types from

[2021-09-14 01:40] samreid commented on #1097
@zepumph replied:

[2021-09-14 01:46] samreid commented on #1097
I personally found it useful to use `strict: false` as I was porting gravity-and-orbits and learning TypeScript.  As I got more familiar, I was able to turn on `strict:true`, and get better coverage.  Our proposed paradigm is that new simulation code will be in TypeScript and we won't try to convert all legacy projects to TypeScript.  For new projects, it makes sense to start with `strict: true` t

[2021-09-14 01:47] samreid commented on #1097
I marked strict: true for now, but I'm aware this will warrant discussion.  Leaving open until it's time to discuss at developer meeting.

[2021-09-15 16:09] jessegreenberg commented on #798
This is coming up again for aria-valuetext (and probably other PDOM attributes) in https://github.com/phetsims/chipper/issues/798. I think we need to use `stripEmbeddingMarks` when setting attributes somehow.

[2021-09-15 16:20] zepumph commented on #798
Good idea! Presumably there would only be a few places in PDOMPeer where we can do this. Like `setAttributeToElement`.

[2021-09-15 20:23] jessegreenberg commented on #798
Thanks! I just reviewed functions in PDOMPeer and `setAttributeToElement` seems like the only one that needs this. Other places where DOM API is used directly is setting things that would never have directional formatting or ever be translatable as far as I can tell. I added `stripEmbeddingMarks` to `setAttributeToElement` in the above commit, feel free to take a look if you wish otherwise this is

[2021-09-16 14:54] zepumph commented on #1087
I also wanted to note that at some point in the future, we will be able to move tsconfig.json structure into package.json (see https://github.com/microsoft/TypeScript/issues/32830).

[2021-09-16 15:00] zepumph opened #1098 "Update supporting resources with TypeScript info"
There are many places that will need to be updated on the project that are supplemental to actually writing TS code and building sims. I'll like a few here, and anyone feel free to add to it:

* How to setup IDE to support TypeScript (https://github.com/phetsims/phet-info/blob/5d80bb79f98f6ca9480888c094012a07d3dd8c15/ide/idea/setup.md)
  * To start I went to webstorm settings and then Languages &

[2021-09-16 15:21] zepumph opened #1099 "output-js should report how many errors there are"
I'm thinking about how nice that is to have with linting.

[2021-09-16 16:05] zepumph commented on #1099
@samreid, how does that sound?

[2021-09-16 17:53] jonathanolson commented on #1078
Decided 9/16/2021 closing as wont-fix until it becomes a problem that is costing time.

[2021-09-16 17:53] #1078 closed

[2021-09-16 17:57] samreid commented on #1080
From Sept 16, 2021. @jonathanolson confirmed that we need to publish the new sims before going ahead with TypeScript because of translations.  There is a QA issue above.  Once that clears, we are OK to move forward.

[2021-09-17 17:46] samreid commented on #1053
I tried this pattern in Gravity and Orbits, and it works great in the sim code, but fails during builds

[code]

with this error:

[code]

[2021-09-17 21:39] zepumph opened #1100 "Handle SIGINT in gruntfile?"
I found that Ctrl + C doesn't really work when running a process in puppeteer. I think that trapping that signal and exiting helps.

[2021-09-17 21:40] zepumph commented on #1100
@jonathanolson, does this seem reasonable to you?

[2021-09-20 15:19] Nancy-Salpepi opened #1101 "PhET Website link doesn't work when using ?locale=wa or ?locale=es_ZZ"
https://github.com/phetsims/qa/issues/708

https://github.com/phetsims/chipper/issues/1093

While performing maintenance release testing, I noticed that the PhET website link doesn't work when the query parameters
?locale=wa or ?locale=es_ZZ are added to any of the sims. Is that to be expected?

[2021-09-20 15:38] jonathanolson commented on #1101
Is there an example link? Many sims on the website are broken currently if you pass those query parameters, so it's somewhat expected (some sims will work).

[2021-09-20 16:06] Nancy-Salpepi commented on #1101
Beer's Law is an example
https://phet-dev.colorado.edu/html/beers-law-lab/1.4.20-rc.1/beers-law-lab_all.html?locale=wa

This is what happens:

<img width="1070" alt="Screen Shot 2021-09-20 at 12 05 28 PM" src="https://user-images.githubusercontent.com/87318828/134035574-372fe1a4-2c2a-42fd-8508-3304faa840b2.png">

I can go back and give you a more complete list if you would like @jonathanolson. Jus

[2021-09-20 16:21] Nancy-Salpepi commented on #1101
@jonathanolson I went back through some that I already tested and the website link didn't work for any of these once the query parameter was added:
https://phet-dev.colorado.edu/html/acid-base-solutions/1.2.26-rc.1/acid-base-solutions_all.html
https://phet-dev.colorado.edu/html/area-builder/1.1.22-rc.1/area-builder_all.html
https://phet-dev.colorado.edu/html/arithmetic/1.0.26-rc.1/arithmetic_all.h

[2021-09-21 17:29] jonathanolson commented on #1101
@mattpen what should be the desired behavior here for locales that might not exist on the website? https://phet.colorado.edu/es_MX/ is a possible locale but not a website translation. Presumably we don't need to worry much about this, or should we have a website-end redirection?

[2021-09-21 17:41] mattpen commented on #1101
Adding a website side redirection would probably work.  We currently don't have a means to query which locales have published translations from outside the website.

[2021-09-21 20:37] mattpen opened #1102 "(Sims) Upgrade analytics.js to gtag.js (done via Tag Manager snippet)"
It looks like analytics.js is now outdated and we should switch to using gtag.js.  There is a guide here: https://developers.google.com/analytics/devguides/collection/upgrade/analyticsjs

[2021-09-21 21:41] zepumph commented on #1033
@mattpen, https://github.com/phetsims/chipper/issues/1033#issuecomment-871653310 is a bit confusing to me, do you recommend changes from what I did in https://github.com/phetsims/perennial/commit/80a0610c06eca02c8d5cab664d4eb590bab2a5fe? I couldn't find any changes that went against your thoughts.

[2021-09-21 22:53] mattpen commented on #1033
@zepumph - sorry, reading it again it is not very clear.  Let me try again.  An async function is syntactic sugar for a Promise.  If you are in an async function and you return `Promise.resolve` or `Promise.reject`, you are essentially duplicating that call. Instead of `return Promise.reject(err)` you should instead `throw err` or `throw new Error( err )`, and instead of `return Promise.resolve(so

[2021-09-22 15:29] zepumph commented on #619
So I just ran back into this over in https://github.com/phetsims/friction/issues/237. Even though I added the assertion, it is never run, because we aren't running things with `assertNoWhitespace`.

When I apply this patch, I see quite a bit of issue in our strings printed out when building just friction. I worry about what it will mean to actually limit our trailing/leading whitespace. It seems l

[2021-09-23 16:01] jonathanolson commented on #1080
@samreid this should be handled now!

[2021-09-23 16:01] jonathanolson commented on #1093
@mattpen this should be patched now!

[2021-09-23 18:23] chrisklus commented on #1102
Discussed during 9/23/21 dev meeting:

We are trying to understand how extensive these changes are.

MP/JO: Don't think this is a rush, analytics.js will likely be supported for a couple years.
SR: JO do you want someone else to learn and take the lead on this?
JO: If someone would like to pair and learn that would be great, but in general doesn't seem like a huge priority with what all is going o

[2021-09-23 21:56] chrisklus commented on #1102
I made a calendar reminder to check on this issue in one year. If this upgrade happens before then (like the next time a feature is added), please notify me to cancel the reminder. Marking as on-hold and unmarking for dev meeting.

[2021-09-24 16:05] samreid commented on #1080
@jonathanolson are the production versions published, and can we run a trial rc or production version of a typescript project?  Perhaps converting chains to typescript for this purpose?

[2021-09-24 19:09] samreid opened #1103 "Temporarily port chains to TypeScript and run a test build on the build-server"
Now that https://github.com/phetsims/chipper/issues/1080 has completed, we are free to try a build that exercises the TypeScript build chain on the build server.  For this purpose, I'll temporarily convert chains to TypeScript (at least part of it).  After the test, I'll restore chains to JavaScript since not everybody is fully ready for that.

[2021-09-24 19:10] samreid commented on #1080
On slack, @jonathanolson reported the publications were also completed and this is ready for testing.  Thanks @jonathanolson, I'll test this in https://github.com/phetsims/chipper/issues/1103.  Closing.

[2021-09-25 21:54] samreid commented on #1099
I was surprised to see that the number of lines in the stdout is the same as the number of errors, but it seems to match up at the moment.  I improved the formatting and think it's ready to close.  But I also won't be surprised if one day the tsc output is no longer "one error per line".

[2021-09-25 21:54] #1099 closed

[2021-09-28 23:48] samreid commented on #1066
I marked `colorProfile` as public and updated the documentation.  I added an entry to the spreadsheet https://docs.google.com/spreadsheets/d/1TddeTtD8zAayJzs02g0fL7dR1iWYczs1CMFdYd3SBNc/edit#gid=0.

@zepumph or @pixelzoom can you please review?

[2021-09-28 23:51] zepumph commented on #1066
Looks good to me!

[2021-09-28 23:53] samreid commented on #1066
Thanks, closing.

[2021-09-28 23:53] #1066 closed

[2021-09-29 03:39] samreid commented on #1067
Draft write up before creating a TypeScript issue:

# tsc -b incorrectly succeeds when there is a problem introduced by a transitive dependency

My team observed that `tsc -b` can incorrectly succeed when a problem is introduced by a transitive dependency.  In fact, `tsc -b` can give two different results for the same codebase: a build success or a build failure.  We created a self-contained repro

[2021-09-29 03:43] samreid commented on #1067
@jonathanolson and/or @zepumph can one of you please volunteer to review the prior comment, which is a draft issue to report to TypeScript?  You should follow the steps, see if you get the same result.  Are the instructions clear?  Do you have any ideas about the problem, or can you find any paper trail on it in https://github.com/microsoft/TypeScript/issues ?

[2021-09-29 03:58] samreid commented on #1067
The bug report template recommended testing against the nightly build.  I ran `npm install typescript@next` which gave `Version 4.5.0-dev.20210928`.  Since I did not install it globally, I used `node node_modules/typescript/bin/tsc` instead of just `tsc`. But for this `Version 4.5.0-dev.20210928`, following the steps above correctly identifies the problem in Step 6.  So presumably this problem has

[2021-09-29 16:42] samreid opened #1104 "How to make sure all/tsconfig.json stays up-to-date?"
From https://github.com/phetsims/phettest/issues/3, when quadrilateral was added, there is a new step to add it to the all/tsconfig.json.  However, nobody knows about this step except for me, and we do not have tooling to see what's missing from that configuration.  I guess the first step will be to bring it up at dev meeting for awareness, and we can decide if we want to add tooling, support or d

[2021-09-30 15:12] jonathanolson commented on #1067
Verified https://github.com/phetsims/chipper/issues/1067#issuecomment-929802925, reproduced the buggy case, directions were quite clear!

[2021-09-30 18:17] samreid commented on #619
We discussed this at today's dev meeting:

SR: Should we add assertions that the english strings don't have leading/trailing strings?
SR: Should rosetta trim strings before storing them?
SR: If there are no leading/trailing strings in the english, does that mean we can safely strip them out of the translations?
JG: Perhaps one translator is just in a habit of adding trailing whitespace, and ....?

[2021-09-30 21:34] samreid commented on #1097
We discussed this at dev meeting today, and I revised the quick start guide based on a recommendation by @pixelzoom.

[2021-10-01 03:40] samreid commented on #1067
I opened the issue in the TypeScript repo, linked above.  On hold while we await a response.

[2021-10-01 04:20] samreid commented on #1084
This has been a bold and brave issue!  I think the best gauge of the status is that we have had sims branched with these shas, and I'm not aware of any problems caused by this.  I'm not worried about the dependencies that stayed behind.  Thanks for doing this!  Closing.

[2021-10-01 04:20] #1084 closed

[2021-10-01 16:41] samreid commented on #1103
I ported chains to use TypeScript, added this code:

[code]

and ran an RC deploy to:
https://phet-dev.colorado.edu/html/chains/1.40.0-rc.1/phet/chains_en_phet.html

It seems to be working great.  I'll revert the chains changes.

[2021-10-01 16:42] samreid commented on #1103
Chains is back to JavaScript.  Everything seems good here, closing.

[2021-10-01 16:42] #1103 closed

[2021-10-01 20:39] samreid commented on #1052
@zepumph volunteered to investigate around madge.

[2021-10-02 02:52] samreid commented on #1098
I've been writing a Quick Start Guide in https://github.com/phetsims/chipper/blob/master/doc/typescript-quick-start.md also in issue #1090.  I added a note to update the code style, which got better TypeScript support in April 2021.  I think live templates will be added later once we see what is needed.  I haven't investigated using WebStorm for compilation yet, maybe that will be a separate issue

[2021-10-03 02:39] samreid commented on #1086
I tested the implementation and it seems to have the correct operational behavior.
However, after reading https://stackoverflow.com/questions/5878682/node-js-hash-string, I'm wondering if we would prefer something like:

[code]

[2021-10-03 02:45] samreid commented on #1085
That code path can be triggered by `grunt compare-phet-io-api --delta`, but that being said, I don't know if anyone will ever do that.  For me, it is practical to generate the new API and use diff tools for comparing.  Perhaps in the future, some changes will be more complicated and require jsondiffpatch?  But I would hope we never have a delta so complex that diffing isn't enough.  @zepumph what

[2021-10-04 15:02] samreid commented on #1092
This looks great, thanks!  I did a test build of gravity and orbits in phet-io and confirmed the JSDoc looked reasonable.  Closing.

[2021-10-04 15:02] #1092 closed

[2021-10-04 15:29] samreid commented on #1082
It seems the `@types` versions with the TypeScript version independently from the lodash version.  I would expect the lodash API to be stable, and not expecting problems from this mismatch.  So I think this can be closed until we detect a problem.  But when we detect a problem, the solution will likely be: update lodash and lodash@types at the same time.

[2021-10-04 15:29] #1082 closed

[2021-10-04 15:33] samreid commented on #1096
Based on discussion Friday around https://github.com/phetsims/chipper/issues/1052 which originated in https://github.com/phetsims/axon/issues/361 and https://github.com/phetsims/utterance-queue/issues/33, I'm feeling we may have multi-repo tsconfigs in common code for a while.  Maybe the next step for this issue is to see how often we run into problems?  That will depend on how much people use "pu

[2021-10-05 17:45] samreid commented on #1067
In the TypeScript issue, the behavior was identified as a bug, and it was labeled for investigation in TypeScript 4.6.  Self-unassigning until then.

[2021-10-05 18:03] samreid commented on #1048
I posted notes in the status meeting agenda that pertain to this issue:

Thanks to collaboration with Jonathan and Michael, TypeScript is now ready for usage in simulation code.

### For developers:
* The quick start guide is at https://github.com/phetsims/chipper/blob/master/doc/typescript-quick-start.md
* We can learn together by pair programming, discussion on #typescript, discussion at dev mee

[2021-10-05 18:04] samreid commented on #1046
I posted notes in the status meeting agenda that pertain to this issue:

Thanks to collaboration with Jonathan and Michael, TypeScript is now ready for usage in simulation code.

### For developers:
* The quick start guide is at https://github.com/phetsims/chipper/blob/master/doc/typescript-quick-start.md
* We can learn together by pair programming, discussion on #typescript, discussion at dev mee

[2021-10-05 18:06] samreid commented on #1055
Each repo has a modular tsconfig file, and we have an "all" file.  Loose ends of https://github.com/phetsims/chipper/issues/1088 and https://github.com/phetsims/chipper/issues/1052 will be handled separately.  Closing.

[2021-10-05 18:06] #1055 closed

[2021-10-05 18:08] samreid commented on #1069
On Thursday's meeting, we found that many devs have not had time to investigate TypeScript yet.  So common code work should be on hold or in branches until we have more experience with it.

[2021-10-05 18:10] samreid commented on #1097
I moved it to "subgroups" in case @zepumph and I can make progress on it without the full dev team.  @zepumph let me know your thoughts.

[2021-10-05 19:00] samreid commented on #1088
I added a demonstration for tests in sim code.  Tests in common code will be more complicated due to https://github.com/phetsims/chipper/issues/1052, since we will need a separate layer.  Unassigning until we work on that part.

[2021-10-06 02:41] samreid opened #1105 "WebStorm: TypeScript "Recompile on changes" doesn't indicate compilation status."
I created this issue https://youtrack.jetbrains.com/issue/WEB-52971, this issue is just to raise awareness of the problem and track if there is progress or a workaround.

[2021-10-07 23:18] zepumph commented on #1097
I'm going to just assign @samreid so that a subgroup discussion can happen. It would be best if I had been able to take things for a test drive before this conversation.

[2021-10-07 23:20] zepumph commented on #1085
I have quite a suspicion that that is never going to be used, but I think I would rather keep it around instead of eagerly delete it. My guess is that jsondiffpatch is not really going to be used there.

Oh! jsondiffpatch is in sherpa, like for the diff wrapper. Can we just use that one?

[2021-10-08 04:49] samreid commented on #1085
I tried pointing to the sherpa version and ran into the problem that when loaded as UMD, the sherpa jsondiffpatch tries to load ./empty, which we do not have in sherpa.  I worked around that by nulling it out and it worked OK:

<details>

[code]

</details>

However, it would be better if we didn't need to modify the source code for our libraries.  It seems empty.js is generated by this rollup cod

[2021-10-08 04:51] samreid commented on #1085
I switched to use sherpa's jsondiffpatch and it seems to be working nicely.  I tested with `tsc -b` and `grunt compare-phet-io-api --delta` in gravity-and-orbits.

[2021-10-08 05:07] samreid commented on #1104
Documentation added, unassigning for now.

[2021-10-08 23:37] #1098 closed

[2021-10-08 23:39] #1086 closed

[2021-10-09 16:31] samreid opened #1106 "Typescript Convention: How should we implement enumerations with TypeScript?"
From https://github.com/phetsims/chipper/issues/1049:

Keep in mind the phet-io support needs.

[2021-10-10 09:59] samreid commented on #1106
Here's an example of how to map between a string array and a string union type: https://github.com/phetsims/gravity-and-orbits/blob/1652582854fe6bb0ad5f48d748d6f28776474933/js/common/model/GravityAndOrbitsBodies.ts

[2021-10-11 16:03] zepumph opened #1107 "Lazily require imports from Gruntfile"
While working on https://github.com/phetsims/sherpa/issues/91, @mattpen, @jonathanolson, @samreid and I thought that our Gruntfile load times could be greatly improved by just lazily requiring statements that are only used by a single task. I'll take a look and get some data about how much time it saves vs readability/maintainability.

[2021-10-11 16:27] zepumph commented on #1107
After the above commit, I have an average of 1.12 seconds (42 samples) to run the same test command. Nice! I'm planning to do the same with perennial next. @samreid will you please review first though. I liked keeping imports at the top of the task even if it was just used by a conditional or something.

[2021-10-11 18:40] samreid opened #1108 "Safari 13 blocked from asking for credentials because it is a cross-origin request"
@KatieWoe raised this problem today, where Safari 13 was blocked from asking for credentials because it is a cross-origin request.  This was in attempt to load any unbuild phet-brand version on phettest.  There was no problem on Chrome on the same OS.  We worked with @zepumph and @jonathanolson and tried adding `script.setAttribute( 'crossorigin', 'use-credentials' );` in the HTML, and that worked

[2021-10-12 15:29] samreid opened #1109 "Typescript Convention: Should Property type arguments be repeated at the instantiation site?"
Typescript Convention: Should Property type arguments be repeated at the instantiation site?  From https://github.com/phetsims/axon/issues/360 and related to https://github.com/phetsims/gravity-and-orbits/commit/0619519c0e49a666a886ddb1dcd8755c3d5954ff.  It seems like TypeScript works equally well if you repeat or omit the type args for declared properties like so:

[code]

As far as I can tell in

[2021-10-12 15:36] samreid opened #1110 "TypeScript Convention: Should we repeat type information in the JSDoc?"
For code using TypeScript, the types are described in the code.  In Effective TypeScript, Item 30 is "Don't Repeat Type Information in Documentation". Vanderkam recommends there being one source of truth for the types, and for types that are annotated in the code, they should not have types duplicated in the JSDoc.

I have been reluctant to strip out the JSDoc `@param` types in Gravity and Orbits

[2021-10-12 15:48] samreid commented on #1106
But I feel we cannot throw away the valid values completely, at least for phet-io usage.  When PhET-iO creates radio buttons, it is easier to get the list of valid values for an enum from runtime data, and it cannot (easily?) use type information.  So in those cases, we may need to use something like https://github.com/phetsims/chipper/issues/1106#issuecomment-939445606 at the minimum.  Self-unass

[2021-10-12 17:41] mattpen opened #1111 "Rename locale "Kurdish (Turkey)" to "Kurdish (Kurmanji)""
Related to phetsims/website#1270

Kurdish (Turkey) doesn't accurately represent the language being used by the locale code ku_TR and we should be using Kurdish (Kurmanji) instead. @oliver-phet proposed that we simply change the display name for that locale, but I'm not sure what the ramifications of that are, if any. On the website side, there could be conflicts with legacy Java Locale support. Al

[2021-10-13 03:56] samreid commented on #1108
I can't judge performance on apache since it still suffers from https://github.com/phetsims/tasks/issues/1092

[2021-10-13 04:29] samreid commented on #1095
While working on https://github.com/phetsims/chipper/issues/1108, I noticed that many development HTML had not been updated.  I'll run that now.  In a few repos, this also picks up a mobius dependency.

[2021-10-13 04:41] samreid commented on #1108
I updated the sim-development template, and ran `perennial/bin/for-each.sh active-repos grunt generate-development-html`. Note that I previously updated the HTML files in https://github.com/phetsims/chipper/issues/1095, so this should be the only change in this commit.

@KatieWoe can you please test a few unbuilt sims on Safari 13 to see if this has been corrected?  Please reassign to me afterward

[2021-10-13 17:52] jonathanolson opened #1112 "Speeding up checkout/build/operations (for maintenance releases)"
It's taking an impressively long time to do checkouts/builds (partly due to NPM). With the current process, if there is an emergency maintenance patch that needs to go out (where everything is broken), we would be mostly waiting on builds and checkouts to get the patch out, possibly in excess of 24-48 hours.

It seems best to minimize this, so that we could push emergency fixes out faster.

[2021-10-15 17:34] samreid opened #1113 "Lint copyright rule not being run on TypeScript files"
Discovered in https://github.com/phetsims/circuit-construction-kit-common/issues/749, Lint copyright rule not being run on TypeScript files.

[2021-10-15 19:29] samreid commented on #1113
There was confusion because WebStorm was running eslint on TypeScript files in the IDE, due to this setting:

![image](https://user-images.githubusercontent.com/679486/137543335-3cc5e8f2-6d5e-4ae3-a014-69dde43a40eb.png)

However, our chipper eslint only visited *.js files.

[2021-10-15 19:34] samreid opened #1114 "Determine ESLint rules for TypeScript"
There are ESLint TypeScript rules defined at https://www.npmjs.com/package/@typescript-eslint/eslint-plugin.  We should consider which ones we want to use. Note, they can be turned on via:

[code]

as described in https://github.com/typescript-eslint/typescript-eslint/blob/master/docs/getting-started/linting/README.md

[2021-10-15 19:39] samreid commented on #1113
Things are mostly working after the commits.  The last step for this issue is that the `lines-between-class-members` prevents us from doing things like:

[code]

because it requires lines between the class members.  So I think we will need to relax that rule to support TypeScript.

[2021-10-15 19:48] samreid commented on #1108
Thanks!  Closing.

[2021-10-15 19:48] #1108 closed, assigned to samreid, KatieWoe

[2021-10-16 00:01] samreid commented on #1113
Thanks, I sent this on slack:

[2021-10-16 01:49] samreid commented on #1113
Thanks for this helpful error report, and sorry for the inconvenience.  I found I had an extra eslint-plugin in my root node_modules, which was being discovered by both the command line lint, and by webstorm.  After removing that and adding it to chipper, the command line lint is working but webstorm still shows the same salmon banner as in https://github.com/phetsims/chipper/issues/1113#issuecomm

[2021-10-16 01:53] samreid commented on #1113
In the 2nd commit, I removed the plugin.  So the overall status of this issue is that our typescript code is being linted, but we cannot yet use any of the 3rd party libraries.  The next step will be for me to figure out how to tell WebStorm where the plugin is without having to npm install it in an awkward place (like all sim repos or the sim checkout parent folder).

[2021-10-16 02:36] samreid commented on #1113
It seems we can enable shared lint plugins via the strategy listed in https://youtrack.jetbrains.com/issue/WEB-43692, which is adding the last line in this pic:

![image](https://user-images.githubusercontent.com/679486/137570335-71bbc2c3-bc51-4ec3-b482-ecebd0be8cc9.png)

[code]

Maybe the most appropriate time to turn this on would be at an upcoming dev meeting where it can be accompanied with a

[2021-10-16 02:38] samreid commented on #1113
Reassigning @pixelzoom to make sure the problem he reported has been corrected.  To test, please pull chipper and `npm prune` (or rm node_modules) and `npm update`, and check if linting works properly from command line and IDE.

Leaving assigned to @zepumph to review the changes in chipper.

[2021-10-16 03:02] samreid commented on #1113
One more critical fix for package.json in the commit.  Whew!

[2021-10-18 20:58] #1113 closed, assigned to pixelzoom, zepumph

[2021-10-19 19:13] zepumph opened #1115 "Grunt update should run output js"
While looking at https://github.com/phetsims/chipper/blob/master/doc/typescript-quick-start.md#converting-a-repo-to-typescript, I was surprised that grunt update wouldn't just also compile the typescript repo. What do you think @samreid?

[code]

[2021-10-19 19:23] zepumph opened #1116 "tsc --build --watch requires typescript to be installed"
In https://github.com/phetsims/chipper/blob/master/doc/typescript-quick-start.md#toward-more-efficient-iteration the guide says:

I ran the following and got the following errors:

[code]

So perhaps we need to add a step to npm install typescript globally also if you are going to install tsc globally.

[2021-10-19 19:24] zepumph commented on #1116
`npm install -g typescript` should be run BEFORE installing tsc:

[code]

[2021-10-19 19:26] zepumph opened #1117 "Typescript: I don't understand this line of documentation"
From https://github.com/phetsims/chipper/blob/master/doc/typescript-quick-start.md#toward-more-efficient-iteration:

Can you explain this a bit better. Do I `cd chipper/tsconfig/all; tsc --build`?

[2021-10-19 19:27] zepumph opened #1118 "TypeScript sims need to be compiled before generating their API using grunt generate-phet-io-api"
Can we add `grunt output-js-project` to the beginning of `grunt generate-phet-io-api`?

[2021-10-19 19:40] zepumph opened #1119 "Typescript errors in chipper/phet-types.d.ts"
When I open this file when all repos are on master, and after `grunt output-js-all`, there are "42 project errors"

![image](https://user-images.githubusercontent.com/6856943/137978976-316548fc-dcb3-46bc-a454-a8c990d1867c.png)

Sorry for the non-accessible picture, webstorm wouldn't let me copy paste, and I can't seem to find any details about the error online.

I feel like this has something to d

[2021-10-19 19:54] zepumph opened #1120 "Useful script to convert all .js files to .ts in a repo"
While working on https://github.com/phetsims/ratio-and-proportion/issues/404, I found this to be useful:

[code]

@samreid, do you think this could be part of the documentation on converting repos to typescript?

[2021-10-19 20:40] zepumph opened #1121 "Update documentation about common declaration files to include"
While working on https://github.com/phetsims/ratio-and-proportion/issues/404, I found that we have to manually add some basic items to each sim's tsconfig file in order to get the IDE to behave correctly.

There is no documentation about this. @samreid can you please add it. Specifically it seems like these files are the important ones to "include":

[code]

I tried to add them to an "include" sec

[2021-10-21 13:57] #1120 closed, assigned to zepumph

[2021-10-21 13:59] #1118 closed, assigned to zepumph

[2021-10-21 14:01] #1117 closed

[2021-10-21 14:05] #1116 closed, assigned to zepumph

[2021-10-21 16:12] samreid opened #1122 "Can the ambient type declarations *.d.ts files be factored out?"
Currently we must list the ambient type declarations in each tsconfig file.  I tried factoring them out, but it seems factoring out *.d.ts files is not supported as described in https://github.com/microsoft/TypeScript/issues/29002

So this will probably be closed with won't fix, but self-assigning to check a bit further first.

[2021-10-21 16:17] jonathanolson commented on #1112
That sounds potentially quite useful! Would we expect devs doing a maintenance release to have that structure? I think this is definitely worthy of investigation.

[2021-10-21 16:26] samreid opened #1123 "Move the TypeScript quick start guide to phet-info"
From Slack:

Chris Malley  10:17 AM
How would devs feel about moving the TypeScript quick-start guide to phet-info?  That’s where all other similar docs live, so I tend to go there, scratch my head, then search.  And it’s currently the only thing under chipper/doc/. (edited)

Sam Reid  10:20 AM
Since most of the TypeScript tooling and support is in chipper, I thought it made sense to track those t

[2021-10-21 20:12] samreid opened #1124 "Add chipper/dist to bad-text"
@pixelzoom said:

I can add that to bad-text.

[2021-10-22 15:48] samreid opened #1125 "Annotate unused imports that are needed for TypeScript"
We had to add some imports to power up TypeScript consumption of JS code.  We should label these and have a convention.

[2021-10-22 16:01] zepumph opened #1126 "Typescript-related auto imports don't include ".js" suffix in some cases"
It's about 50/50 while converting to typescript if an import automatically added (either from tab complete or Alt+enter menu) will include the js suffix. I have the checkbox in settings->editor->code style->typescript-> "Use .js file extension in module name"

@samreid says he has also found this, and thinks we should submit a bug report to jetbrains.

[2021-10-22 16:08] samreid opened #1127 "TypeScript mixins"
Related to https://github.com/phetsims/chipper/issues/1049, I set up a model of mixins following the new approach we have been using, which matches the recommended style in TypeScript https://www.typescriptlang.org/docs/handbook/mixins.html

Here's a patch that demonstrates this pattern using Node, PhetioObject and a ParallelDOM mixin, and a Node subtype of Panel:

<details>

[code]

</details>

T

[2021-10-24 21:14] zepumph opened #1129 "Update Studio build process to support Typescript"
We don't yet have typescript in common code, but I wanted to note that we use webpack to compile the Studio wrapper, @jonathanolson @samreid what might need to be done to that process. It currently runs on `buildStandalone`. Is anything special needed to support this? Has a buildStandalone-supported repo been converted yet, even for testing?

[2021-10-25 17:27] samreid opened #1130 "Run tsc before running qunit tests"
In the precommit hooks, we should compile the TS code before running the qunit tests.  Otherwise tests could be running stale code.  Discovered in #1127

[2021-10-26 15:15] #1119 closed, assigned to zepumph

[2021-10-26 21:59] samreid opened #1131 "Evaluate WebStorm's TypeScript compiler behavior"
As @pixelzoom pointed out, it will be convenient if we can rely on WebStorm for taking care of things, without having to run our own compile watch process or compile step.  I have avoided using WebStorm's compilation since I cannot tell when compilation completes, see #1105 .  But maybe we could run some tests and see how long WebStorm compilation takes, to see if it can be used out of the box.  O

[2021-10-26 22:32] #1121 closed, assigned to zepumph

[2021-10-27 05:33] kathy-phet opened #1132 "Typescript Migration Team Learning"
@jonathanolson: (investigate patterns in common code, in conjunction with layout work and go deeper with scenery, server side code if relevant)
@zepumph: (Port ratio and proportion sim - 60 hours)
@jessegreenberg: (Use in quadralateral/typscript)
@pixelzoom: (Geometric Optics)
@chrisklus: (Number Play)
@jbphet: (Learn language - 20 hours in October; probably Greenhouse Effect)
@mattpen: MP (if we

[2021-10-27 21:09] #1124 closed, assigned to pixelzoom

[2021-10-28 16:55] #1123 closed, assigned to pixelzoom

[2021-11-01 17:46] pixelzoom opened #1139 "How to provide type information for nested string keys?"
Type information for nest keys (like `"screen.blah"`) is not currently available in the *Strings.js file.

For example, these will be flagged as TypeScript errors:

[code]

There are at least 3 variation of a workaround that have been implemented, all using a d.ts file.

(1)  @samreid @jonathanolson and I can up with this workaround, adding
geometric-optios/js/geometricOpticsStrings.d.ts:

[code]

[2021-11-01 22:16] pixelzoom opened #1133 "tsc identifies RangeWithValue defaultValue as void."
In geometric-optics Optic.js, I had:

[code]

WebStorm is happy with that, and correctly identifies `defaultValue` as `number`.  But `tsc` has other ideas:

[code]

Trying this:

[code]

... results in:

[code]

We found that we needed JSdoc for the abstract implementation of `get defaultValue` in superclass Range.

[2021-11-01 22:17] pixelzoom commented on #1133
Done, closing.

[2021-11-01 22:17] #1133 closed

[2021-11-02 03:30] samreid commented on #1125
I settled on a pattern that looks like this:

[code]

and I applied it everywhere I could find it.  Closing.

[2021-11-02 03:30] #1125 closed

[2021-11-02 03:36] samreid commented on #1126
I created a trivial 2-file test environment with a fresh tsconfig from `tsc --init` and tried a few ways of importing the 2nd file, but it always ended up with *.js in the import.

[2021-11-02 03:42] samreid commented on #1126
I tried deleting several import statements in CCK, and found that when using option+enter it was always created with the *.js suffix.  However, when typing a non-imported name and selecting it from the popup, it omits the *.js suffix:

![image](https://user-images.githubusercontent.com/679486/139783274-42a8cf43-25c0-44a8-a99a-21565964da0c.png)

I could not trigger this error case in my trivial 2-f

[2021-11-02 12:36] samreid opened #1134 "Some common code repo unit tests are not in any tsconfig"
Discovered in https://github.com/phetsims/dot/issues/112, some unit tests such as dot are not covered in any tsconfig.  For instance, try changing LinearFunctionTests.js and see that it doesn't recompile.

[2021-11-02 15:05] samreid opened #1135 "Does the copyright date updater visit *.ts files?"
@pixelzoom asked on Slack if the copyright updater visits *.ts files.  I wasn't sure, but I'll investigate.

[2021-11-02 15:13] samreid commented on #1129
After the above changes, studio using TypeScript common code can be supported by the following steps:

* Mark "typescript": true in studio/package.json
* run `grunt update`
* make sure index.html points to `<script type="module" src="../chipper/dist/studio/js/studio-main.js"></script>`

I tested this by converting StringProperty.js to StringProperty.ts and temporarily putting "typescript":true in

[2021-11-02 15:27] samreid commented on #1135
I observed that the updateCopyrightDates task by default updates every file in the js/ directory.  I tested and confirmed that `grunt update-copyright-dates` worked on a *.ts file in circuit-construction-kit-common.  Closing.

[2021-11-02 15:27] #1135 closed

[2021-11-02 15:30] samreid commented on #1131
I tested this out several times on a variety of files, and it compiles quickly, but I could still tab to the browser and refresh before compilation completed.

[2021-11-02 15:31] samreid commented on #1131
We should also check if this outputs js code for files with type errors (not possible with --build, but it sounds like this is using a different pipeline).

[2021-11-02 15:59] zepumph commented on #1126
I have done some minor investigate on my own, and can confirm that it is only from autocompleting in that dialog. When I press alt+enter on my windows computer -> import "../../../scenery/. . . ." it always incudes the suffix.

That seems like the best path forward. It seems like there is a disconnect between those two import strategies.

[2021-11-02 16:02] zepumph commented on #1129
Thanks, this is awesome work. It seems like we are on hold until we support common code typescript.

[2021-11-02 16:47] samreid commented on #1126
This seems fixed in the 2021.3 EAP.  @zepumph want to confirm?  Or we can just wait until it goes to general release.

[2021-11-02 16:52] jbphet commented on #1126
I've been having this issue in IDEA also, and I'm currently on version 2020.3.  I'll try updating and see if it goes away.

[2021-11-02 17:08] pixelzoom opened #1136 "Prototype sims have "published" README.md files."
I deployed a prototype version of Geometric Optics using the steps in [Production deployments](https://github.com/phetsims/phet-info/blob/master/deployment-info/chipper-2.0.md#prototype-deployments).

Some time later, I noticed that https://github.com/phetsims/geometric-optics/blob/master/README.md was updated to a published README.md, indicating that the sim has been published and (more important

[2021-11-02 17:11] pixelzoom commented on #1136
I fixed the README.md for geometric-optics using `grunt unpublished-README`.

Assigning to @jbphet to decide if he wants to do the same for greenhouse-effect.

[2021-11-02 17:27] pixelzoom commented on #1136
Since PhET seems to be on a path where publishing prototypes will occur more often, I’d really like to have a `grunt prototype` task for deploying them.  If that’s `grunt production` internally, that’s fine.  But `grunt prototype` should handle the differences between “production” and “prototype”.  We currently need to document those difference, and handle them manually.

[2021-11-02 17:44] jbphet opened #1137 "Should we remove type descriptions from comments when converting a file from JavaScript to TypeScript?"
Our current practice when writing JavaScript files is to include a fair amount of type description in our header comments.  Here's an example for a method declaration from the file `InteractionStrengthTable`:

[code]

Here is an example for a field declaration, taken from `MultipleParticleModel.js`:

[code]

When a JavaScript file is converted to TypeScript, much of the information in these commen

[2021-11-02 17:50] zepumph commented on #1126
I'll abstain from updating to an EAP, but that is great news! I'm excited to test this out once it comes out.

[2021-11-02 19:45] pixelzoom opened #1138 "What needs to be done to convert gravityAndOrbits.js et. al. to TS?"
Each sim has a Namespace file, e.g. gravityAndOrbits.js, circuitConstructionKitAc.js.  I asked why those files had not been converted to .ts.  According to @samreid, `grunt update` regenertes the .js file.

I find it odd that `grunt update` gets involved with to the Namespace file. It is created from simula-rasa, and contains nothing that seems to be of interest to grunt update.  I wonder it’s reg

[2021-11-02 19:53] samreid commented on #1138
It looks like the namespace file is being created by `modulify.js`, which has this code:

[code]

If we eliminate that part of modulify, then individual sims can convert to *.ts as desired.  @pixelzoom does this sound like a good plan to you?

[2021-11-02 20:18] samreid commented on #1130
In investigating this, I found everything was running in parallel, because there were multiple `async` blocks.  I had to put them all in one `async` to get them to run sequentially.  Then it was straightforward to make sure the `tsc` step went before the qunit step.  I tested in circuit-construction-kit-common, because it is a TypeScript sim with unit tests.  @zepumph can you please spot check or

[2021-11-02 20:33] pixelzoom commented on #1138
It sounds OK to me. But I'm not clear on why this would have been needed in the first place. When would a namespace file be missing?  Git history indicates that @jonathanolson was invovled with that code, so you might want to check with him.

[2021-11-02 20:34] samreid commented on #1134
In the commit, I demonstrated a way to add the unit test layer into a common code repo.  This defines a new tsconfig file in the sim repo that adds the unit tests.  The primary "tsconfig.json" file is the one which should be used as a standard dependency (for client usage).  I'm inclined to discuss this proposal with @zepumph before I apply it throughout the common code repos.  We should also cons

[2021-11-02 20:35] samreid commented on #1138
It seems it was introduced for the modulify ES6 conversion steps.  I'll wait to hear from @jonathanolson if it's safe to remove that step from modulify.

[2021-11-02 21:06] jbphet commented on #1136
I regenerated the unpublished version for Greenhouse, since I'm uncomfortable with there being an incorrect link in it.  I'll unassign this, and we can discuss next steps in the developer meeting.

[2021-11-02 23:46] jbphet commented on #1137
I was curious as to whether removing a visibility annotation (e.g. `@public`) from a method in a TypeScript file would cause lint to fail, as it does for missing annotations in JavaScript files.  It does, so this would need to be modified if we decide to move the annotations from comments.

[2021-11-04 03:20] samreid opened #1140 "CT line numbers don't respect sourcemaps"
Discovered in https://github.com/phetsims/gravity-and-orbits/issues/413. CT reports line numbers based on the chipper/dist and doesn't include a sourcemap, so it doesn't correspond to the line numbers in the *.ts files.  Why is the sourcemap being ignored here?

[2021-11-04 03:35] samreid opened #1141 "How should we deal with TypeScript type information for IOType.fromStateObject and IOType.applyState?"
In the developer meeting notes, @jbphet said:

[2021-11-04 03:36] samreid commented on #1141
Here is the BodyIO code @jbphet mentioned:

[code]

It seems better to mark the whole stateObject as `any` for now, I'll do that in an upcoming commit.

[2021-11-04 03:38] samreid commented on #1141
We get the `stateObject` from a serialization step, so I'm not sure how to add types to it.  What would be ideal is to say that "the parameter type of `setStateObject` is the same as the inferred return type of `toStateObject`", but I'm not sure if/how this can be accomplished.

[2021-11-04 03:39] pixelzoom opened #1142 "TS interprets {Node} as the built-in DOM Node, resulting in type-checking errors."
Encountered while working on https://github.com/phetsims/geometric-optics/issues/229 ...

In ShowHideToggleButton.ts:

[code]

In the `super` call, TS flags `showNode` as an error:

This is surprising sine `class Path extends Node`.   But the problem is with the JSDoc for BooleanRoundToggleButton's constructor:

[code]

TS apparently thinks `{Node}` is the built-in DOM Node.  Changing `{Node}` to

[2021-11-04 03:46] samreid commented on #1141
Following, https://stackoverflow.com/questions/36015691/obtaining-the-return-type-of-a-function I matched the state object types.  The pattern looks like this:

[code]

That is, the return type of `toStateObject` is inferred by the compiler, and we constrain the parameter type of `setStateObject` to match the return type of `toStateObject`.

This should be reviewed and discussed before we apply it

[2021-11-04 04:03] samreid commented on #1137
In the commit, I made it so that TypeScript files are exempt from requiring method visibility annotations in the documentation, since they are provided in the language itself.  A reminder that IDEs may need to be restarted after pulling to pick up this changed lint rule.

[2021-11-04 16:35] zepumph commented on #1130
Looks reasonable to me. If you can just confirm that you want linting to happen before ts compiling, then feel free to close.

[2021-11-04 16:37] samreid commented on #1130
Yes, linting first still sounds reasonable to me, thanks!  Closing.

[2021-11-04 16:37] #1130 closed

[2021-11-04 16:45] zepumph commented on #1134
Honestly, I think that making things as explicit as possible to start sounds best. One tsconfig for the library, another for the tests, and another for the demo (which likely includes joist).

In that case, it seems like it would be easiest to potentially create tsconfig files automatically, because a default demo and tests config file will likely be quite straight forward.

Do you have an opinion

[2021-11-04 18:10] chrisklus commented on #1111
From 11/4/21 dev meeting:

CM JB: Prefer coming up with a custom locale code instead of changing an existing one
JO: I should be involved to handle the stats side of things
ON: we created ku_TR to represent Kurdish (Kurmanji), but there is a standard 3 letter code for Kurdish (Kurmanji)

JO: What is our precendent for coming up with new locale codes and giving them the appropriate labels?
MP: Yes,

[2021-11-04 18:20] chrisklus commented on #1137
From 11/4/21 dev meeting:

JO: Yes, I think we should remove redundant information
SR: yes, I agree that is our long term plan, but do we want to start doing that before we go all in on TS?
JB: I'm okay with leaving it for now with an issue to go back through and remove everything. It sounds like we're on board with doing so once we've committed.

Consensus: No type information in the JSDoc, and w

[2021-11-04 18:21] chrisklus commented on #1137
Assigning to @samreid to make commits on this issue for refactoring.

[2021-11-04 18:35] chrisklus commented on #1137
CM: Are we still using the `@public` modifier? How about `@public (read-only)`? The TS read-only prevents writing from the owner and client, not just the client like I often like to do.

Possible option: use a private Property for writing internally and make a public Property that is read-only for clients.

SR: It feels like we need a new issue for discussing read-only, we will continue investigat

[2021-11-04 18:42] chrisklus commented on #1137
As for using public, JG prefers being explicit about including public.

JO: I would prefer to avoid more verbosity and get used to the implicit behavior

CM: Why wouldnt TS default to private instead of public?
JO: Is there an option for turning this on?

Do we want to enforce one pattern right now or dev preference?

Consensus: We will leave it up to developer preference.

MK: Does the public par

[2021-11-04 23:46] pixelzoom commented on #1127
Has the pattern recommended in _Programming Typescript_ (p. 101) been evaluated?  The book claims that its “easy” to implement mixins/traits in TS, then has an extended example. There’s no mention of problems with `private` and `protected`.  I’m not very familiar with how/where/why PhET is using mixins/traits (my preference is to avoid them), so I don’t know how well the book’s approach matches Ph

[2021-11-04 23:57] pixelzoom commented on #1106
In case you haven't run across it... https://www.typescriptlang.org/docs/handbook/enums.html#objects-vs-enums:

[2021-11-05 14:30] samreid commented on #1127
@jonathanolson can you please review the following 3rd party libraries and evaluate whether they would be a good match for our project?

https://github.com/tannerntannern/ts-mixer
https://github.com/fasttime/Polytype
https://github.com/bcherny/typed-trait/blob/master/src/index.ts

[2021-11-05 22:16] jessegreenberg opened #1143 "Update a11y views so that they can run on phet-server"
From recent discussions, it is likely we will want to share the a11y view with teachers. The a11y views are packaged with the build and available with the latest version of published sims. But the URL in the a11y view is incorrect for phet-server. It includes the brand information which is removed for sims on phet-server.

I am going to update the URL so that the a11y view works on phet-dev, unbui

[2021-11-05 22:41] jessegreenberg commented on #1143
I verified that https://github.com/phetsims/chipper/commit/51f71aeb9aabefa7463e90c10dfb31e7dec62f70 has the a11y view working with unbuilt sim and on phet-dev. I am not sure how to verify that this works with a published sim, but it is using the same pattern as sim-iframe.html.

[2021-11-05 22:47] jessegreenberg commented on #1143
From slack discussion we do not want to do a maintenance release for this now. I went to a published a11y view on phet-server and verified that
[code]

returns the correct suffix with the dev tools.  I think that is enough verification for now and if we decide to do a maintenance release we can come back to this issue.

[2021-11-05 22:47] #1143 closed

[2021-11-06 03:00] samreid commented on #1106
The string literal union with values pattern works well with query parameters.  Instead of duplicating value names for the validValues like so:

[code]

We can use the string enum values directly:

[code]

[2021-11-09 17:07] pixelzoom commented on #1142
Discussed with @samreid.  We're not sure how JSDoc like `{scenery.Node}` works. Explicitly importing Node for typechecking may be a better solution.

[code]

[2021-11-09 17:34] pixelzoom commented on #1142
TODO:
* I'll take care of this one.
* PSA at dev meeting about the pattern, how to address as these are encountered, and pitfalls of `as unknown as`.

[2021-11-09 19:50] pixelzoom commented on #1142
PSA:

* If you aren't familiar with TS's `unknown` type, go read about it.

* `as unknown as T` casts something to type T.  Use it sparingly, because you are circumventing typechecking.

* Be careful when adding `as unknown as Node` to cast something to type `Node`.  This is only needed as a workaround for a subclass that does not directly extend `Node`, typically because there's a mixin involved.

[2021-11-10 00:28] samreid opened #1144 "tsc -b failing when it should succeed"
On slack, @jbphet said:

@pixelzoom said:

I asked:

@jbphet said:

changed to: `this.concentrationProperty.link( ( concentration: number ) => {`

@pixelzoom said:

@jbphet said:

@pixelzoom said:

@jbphet said:

@jonathanolson said:

@pixelzoom said:

@jbphet said:

@pixelzoom said:

@jbphet said:

I said:

@jbphet said:

I said:

@jbphet said:

I replied:

[2021-11-10 05:05] samreid commented on #1131
I have been using a combination of:
* keystroke invokes `tsc -b` or `tsc -b --clean`
* running a watch process `tsc -b` on all/
* running a watch process `tsc` (not -b) on the sim

I'm not planning to look into this more at the moment, unassigning for now.

[2021-11-10 18:16] pixelzoom commented on #1106
Enums composed of string literal unions are working well in geometric-optics, example below.   They are especially nice when the values are also used by a query parameter (`?focalLengthControl` in this example).

The bit I don't like about this is having to `register` the values, not the enum.  It violates PhET's convention that the name registered should match the filename.  I also have no way to

[2021-11-10 18:18] pixelzoom commented on #1106
Also note that in geometric-optics, I've been using the naming convention {name}Value and {name}Enum for this pattern.

[2021-11-10 18:25] pixelzoom commented on #1106
Something else that occurred to me about the filename and `register` call.   `FocalLengthControlEnum` doesn't exist after compiling, and FocalLengthControlEnum.js looks like this:

[code]

FocalLengthControlEnum is nowhere to be found in FocalLengthControlEnum.js, and there's no default export.  That's odd. Maybe it's OK since we're unlikely to look at the .js file.   Or maybe the file shoud be na

[2021-11-10 18:40] samreid commented on #1127
@jonathanolson and I discussed this today and feel like steps like these would be good:
* We aren't excited about ts-mixer since it doesn't correctly do `instanceof` checks
* Polytype has a low community support and looks like it is based on Proxy.  It may therefore have performance concerns.
* We don't remember why we avoided the legacy "alternative" mixin pattern in the handbook:  https://www.ty

[2021-11-10 18:51] samreid commented on #1106
That proposal sounds reasonable and addresses all the concerns you raised.  The only thing I would need to get used to is navigating to the filename: FocalLengthControlValues instead of FocalLengthControlEnum.  (Or maybe one day I'll learn to use the "navigate to symbol" feature instead).

I have also been taking it for granted that our team finds value in `register` and wants to keep using it in

[2021-11-10 18:58] samreid commented on #1106
Just brainstorming to round out the possibilities: We could have one file that has the values:

[code]

And one file that has the type:
[code]

This way:
* `register` matches the filename
* Everything uses `export default`
* I can navigate to the *Enum.ts file to see the type definition whether there are values or not.
* The main disadvantage is: having to split into 2 small related files.

[2021-11-10 22:51] zepumph commented on #1138
I  implemented the above before I found this issue/discussion. Basically we can create a default js if we don't already have a js OR a ts file for both string module and namespace file. Does that seem like an improvement? My main thought was just to get `grunt update` (a command I run quite often) from creating junk I have to revert each time.

[2021-11-11 01:46] samreid commented on #1127
I tested changing Imageable like so:

[code]

Then I was able to create an Image, and access elements from Node, Image and Imageable, and `bodyNode instanceof Node` evaluated to `true`.  This pattern seems like it is working really well, and we should just get used to the constraints about private members and/or this-casting in the constructor.

[2021-11-11 05:47] pixelzoom commented on #1127
Can the same pattern that was used for `Imageable` also be used for `ParallelDOM` mixin?  Geometric Optics accesses fields and methods that Node gets from ParallelDOM, and I'm currently resorting to `@ts-ignore`.

[2021-11-11 05:49] pixelzoom commented on #1144
`tsc -b` has also been succeeding when WebStorm says it should fail.

[2021-11-11 05:56] pixelzoom commented on #1065
At 11/4/21 dev meeting, we decided that using the `public` modifier was up to developer discretion.

And I may be hallucinating, but I've seen WebStorm reorganize my declarations so that they are in the order public, protected, private.   I'm not sure what I did to make this happen.

[2021-11-11 05:58] pixelzoom commented on #1065
If you choose "Reformat Code" and check "Rearrange entries", then WebStorm will order your declarations by visibility.

[2021-11-11 06:00] samreid commented on #1065
I've documented the "developer preference to use `public` modifier` convention in https://github.com/phetsims/phet-info/blob/master/doc/typescript-conventions.md#visibility-annotations.

Now that I am getting better at reading these class attributes in TypeScript, I feel less strongly that we should require a convention that clusters by visibility.  Can we also leave this as developer discretion?

[2021-11-11 06:03] pixelzoom commented on #1132
@zepumph's link in the previous comment no longer works. And a `dev:typescript` label has been added to all repos.  So the list of typescript issues for all repos is: https://github.com/issues?q=is%3Aopen+is%3Aissue+user%3Aphetsims+label%3Adev%3Atypescript+

[2021-11-11 16:03] jonathanolson commented on #1138
It seems safe to remove.

[2021-11-11 16:39] jonathanolson commented on #1140
The errors are still based on JS, it looks like we'd need to use a tool like https://github.com/mifi/stacktracify to get sourcemapped errors handled properly in CT with typescript.

[2021-11-11 17:16] samreid opened #1145 "Add a note in tsconfig.json about why axon and tandem are not in that file"
@pixelzoom said:

[2021-11-11 17:21] jonathanolson commented on #1126
I'm generally unfamiliar with imports in IDEA. I've encountered this issue, but I'm not sure how to solve it. Sounds good if it's fixed in a new version.

[2021-11-11 19:02] pixelzoom commented on #1142
PSA was delivered at 11/11/21 dev meeting.

Closing.

[2021-11-11 19:02] #1142 closed

[2021-11-11 19:19] zepumph commented on #1112
Would https://docs.github.com/en/actions/advanced-guides/caching-dependencies-to-speed-up-workflows be helpful?

[2021-11-11 19:29] samreid commented on #1112
We discussed this problem at today's dev meeting.

@jonathanolson: The proposal above would avoid the thrashing.  We would need up-front time to set up the checkouts with a script, and it would take more disk space.  We can look at the npm alternatives.  The network step and local is a burden.  Puppeteer requires reinstalling chrome which takes a long time especially when thrashing.
@zepumph: Woul

[2021-11-12 04:56] samreid commented on #1126
Perhaps we'll just leave this issue open until the new WebStorm is released, for visibility.

[2021-11-12 05:43] samreid commented on #1139
I added a new step to `grunt modulify` (which runs automatically with `grunt update`) that generates type information for nested string keys.  I used it to regenerate all of the string files for TypeScript sims.  This identified a few potential type mismatches which I'll mention or address in commits shortly.

The main constraint of this new feature is that after editing the strings.json file in a

[2021-11-12 05:54] samreid commented on #1139
I sent this public service announcement on slack typescript:

@pixelzoom would you like to review?

[2021-11-12 23:14] jbphet commented on #1141
This is assigned to me and marked as ready-for-review, so here are my comments and questions:

- If the `ReturnType<typeof Body.prototype.toStateObject>` thing really works, that seems like a good way to specify the type and avoid having to duplicate it
- Why is the method called `setStateObject` instead of `applyState`?  I thought `applyState` was the convention, and I just searched through the c

[2021-11-15 18:04] pixelzoom commented on #1139
Looks OK in geometric-optics.   Closing.

[2021-11-15 21:43] pixelzoom commented on #1106
-1 for splitting into 2 files.  The values and enum belong in the same file.  I'd rather change the PhET conventions for export, filenaming, etc.

[2021-11-15 23:36] samreid commented on #1106
OK, it sounds like we will go with the proposal in https://github.com/phetsims/chipper/issues/1106#issuecomment-965620732.  Self-assigning to update examples and usages in my sims.

[2021-11-16 03:09] pixelzoom commented on #1106
Which proposal in https://github.com/phetsims/chipper/issues/1106#issuecomment-965620732?  FocalLengthControlEnum.js or FocalLengthControlValues.js ?

[2021-11-16 03:10] pixelzoom commented on #1106
Which proposal in #1106 (comment)? FocalLengthControlEnum.js or FocalLengthControlValues.js   I think I prefer FocalLengthControlEnum.js, since the enum is the primary thing, and it's values are secondary.  And I'd be OK with not registering anything with the namespace.

[2021-11-16 16:49] pixelzoom commented on #1106
Here's an example of my preference for string enums.  No namespace, no `register` call, 1 `export` statement.  But if we're deciding on a convention, this might need wider discussion/concensus.

[code]

[2021-11-16 16:53] pixelzoom commented on #1106
Here's are example of my preferences for string enums.

For enums that need to export their values... No namespace `import`, no `register` call, 1 `export` statement.

[code]

For enums that do not require exported values:

[code]

 But if we're deciding on a convention, this might need wider discussion/concensus.

[2021-11-16 16:53] samreid commented on #1106
Those are my preferences as well.

[2021-11-16 22:11] samreid opened #1146 "Evaluate integration and usage of typescript-eslint"
@pixelzoom pointed out that we don't have any enforceable convention about semicolons appearing after a type declaration statement like:

[code]

He said:

[2021-11-16 22:12] samreid commented on #1146
I replied:

I’m seeing some examples in the TypeScript handbook where type declarations have ; and some do not.  Perhaps there is no lint rule for it as part of our eslint setup.

It looks like ts-lint adds a rule for that: https://palantir.github.io/tslint/rules/semicolon/

I’m not surprised that our ESLint rules don’t know what to do about it.

[2021-11-16 22:27] pixelzoom commented on #1146
https://palantir.github.io/tslint/ says:

[2021-11-16 22:35] pixelzoom commented on #1146
The typescript-eslint rule for semicolons is https://typescript-eslint.io/rules/semi.

And there are a lot of other rules that look interesting, https://typescript-eslint.io/rules/.

[2021-11-17 16:06] samreid commented on #1097
@zepumph can we move this issue forward asynchronously?  Or please reach out to me on slack if you'd like to schedule discussion.

[2021-11-17 18:50] zepumph commented on #1097
I think https://github.com/phetsims/chipper/commit/9b4a93508054d4c63c3f230c86cfd16facb43516 is best for now. Thanks for the ping. Ready to close?

[2021-11-17 18:55] samreid commented on #1097
Sounds good, thanks!  Closing.

[2021-11-17 18:55] #1097 closed

[2021-11-17 22:44] samreid commented on #1106
Many places are using the proposed convention.  I'm not sure what's next for this issue.  Self-unassigning for now.

[2021-11-17 22:57] samreid commented on #1127
It seems appropriate to use ts-ignore until we enable TypeScript in common code.  Self-unassigning for now.

[2021-11-17 23:39] pixelzoom commented on #1106
A pattern for rich enumerations?

[2021-11-18 00:20] samreid commented on #1106
There's a proposal for rich enumerations at the bottom of wilder/js/wilder/model/WilderEnumerationsTypescriptTestModel.ts, are you available to review and discuss it?

[2021-11-18 17:15] pixelzoom opened #1147 "Add `grunt prototype` for publishing a prototype."
In https://github.com/phetsims/chipper/issues/1136#issuecomment-957970066, I said:

And at 11/18/21 status meeting, @kathy-phet confirmed that PhET is going to continue to publish prototypes, and will be updating where they live on the PhET website.

[2021-11-18 17:18] pixelzoom commented on #1136
I was bitten by this again, when I published normal-modes prototype on 11/15.  Reverted in the above commit.

[2021-11-18 17:57] pixelzoom commented on #1136
All prototypes now have an unpublished README.md.

I've reorganized and fleshed out the [Prototype deployment documentation](https://github.com/phetsims/phet-info/blob/master/deployment-info/chipper-2.0.md#prototype-deployments), and added a step to run `grunt unpublished-README`.  So I think our dev-meeting time would be better spent discussing phetsims/chipper#1136.

Closing.

[2021-11-18 20:26] samreid opened #1148 "Enable TypeScript for every repo so it can be used in common code"
At today's dev meeting, we agreed to enable typescript for every repo so it can be used in common code.

In slack, I said:

@jonathanolson replied:

Here are some steps:
- [x] Remove isRepoTypeScript
- [x] grunt update sims
- [ ] Add phet-types.d.ts to tsconfigs
- [x] Message the google group.
- [x] Message the slack channel.

[2021-11-19 00:31] zepumph commented on #1080
Looks like a build failure just came in for diffusion, and it doesn't seem like this got picked up:

https://github.com/phetsims/chipper/blob/0dcc680922df28076301ea187742bc738bc4cdd4/.gitignore#L11-L10

Here is the email:

[code]

[2021-11-19 05:28] samreid commented on #1148
I'm not sure that step is necessary, and not sure how to test.

@zepumph or @jonathanolson can you please review the chipper and perennial commits, and spot check 1-2 sim repo commits?

[2021-11-19 13:45] samreid commented on #1134
The 2 prior commits demonstrate how to fix this for scenery-phet.

[2021-11-19 13:51] samreid commented on #1134
I said on slack:

[2021-11-19 14:18] samreid commented on #1134
Also, I'm thinking of inverting this so that, say, sun/tsconfig.json has everything.  And sun/tsconfig-core has only core files needed by dependencies.  This would make it easier to `cd sun` and `tsc -b` or `tsc`

[2021-11-19 16:03] pixelzoom opened #1149 "WARNING: You are currently running a version of TypeScript which is not officially supported"
`grunt` is complaining about TypeScript version, see below.   I was using TypeScript 4.4.4, and now my development machines have updated to 4.5.2 in chipper/node_modules/typescript/bin/tsc.  I did not explicity update or run `npm update`, so I'm guessing that this was done by some build task.

[code]

[2021-11-19 16:53] zepumph opened #1150 "tsc -b --watch must be restarted after pulling changes to tsconfig files?"
While I was confirming fixes in https://github.com/phetsims/chipper/issues/1134#issuecomment-974111738 and commits below, I did the following:

`cd chipper/tsconfig/all`
` tsc -b --watch`
`cd ../ && ./perennial/js/scripts/pull-all.sh'

tsc gave me the following errors:

error TS5083: Cannot read file 'C:/Users/Michael/PHET/git/twixt/tsconfig-all.json'.

For vegas and one other too (can't remember)

[2021-11-19 16:54] zepumph commented on #1134
This seems reasonable to me, I'm curious though if the `-all.json` should reference its main file? I see you did do this in vegas:

https://github.com/phetsims/vegas/blob/ed76e36b8aec43ff7f4b7e2e6ea30484f9c8ad42/tsconfig-all.json#L7-L9

But not in twixt. Is that purposful?

[2021-11-19 17:25] samreid commented on #1134
I ran into cases where there were problems separating the tests and demos, so I started combining them.  @zepumph does https://github.com/phetsims/chipper/issues/1134#issuecomment-974111738 seem OK to you?  Each common code repo would have "tsconfig-core.json" that would be for dependencies, and "tsconfig.json" that has everything, including unit tests.

[2021-11-19 17:26] samreid commented on #1150
Perhaps the watch was triggered when chipper was pulled but twixt was not yet pulled?  I have seen tsconfig updates reflected nicely in watch processes, though I can imagine there are corner cases that break it.

[2021-11-19 17:34] zepumph commented on #1150
Ahh, so perhaps if some other change triggered a rebuild, then it would have picked things up? I don't know if that's true because I was editing those files (the vegas/twixt tsconfig-all.json files), but if those weren't registered in the watch anyways, then perhaps that wouldn't trigger it.

Anywho, nothing else from me here, I'm going to close.

[2021-11-19 17:34] #1150 closed

[2021-11-19 17:44] zepumph commented on #1134
Yes very good, thanks.

[2021-11-19 18:38] samreid commented on #1134
New columns are showing the same problem on CT.  Oh, it is because CT isn’t doing compile all.  So it will be corrected by the proposal in https://github.com/phetsims/chipper/issues/1134#issuecomment-974263087.  Or it could be safer to just compile everything if anythnig changed.   I think we did that for phettest on pull-all.

[2021-11-19 19:32] samreid commented on #1134
@zepumph said

[2021-11-20 00:32] samreid commented on #1149
This problem was introduced because typescript `npm updated` to a version incompatible with `@typescript-eslint/parser`.  I recommend fixing this problem by:
(a) updating to a version of `@typescript-eslint/parser` that is compatible with latest typescript
(b) updating to latest typescript
(c) removing the carets and tildes from both so they won't update unexpectedly

[2021-11-20 00:36] samreid commented on #1149
I did (a)-(c) above.  I'll mention it to slack.

[2021-11-20 00:37] samreid commented on #1149
I said:

@zepumph or @pixelzoom would you like to review and comment?

[2021-11-20 01:50] jonathanolson commented on #1148
Commits look good based on my understanding. getStringMap whitespace dependency sounds tricky, if we change how the code is formatted under chipper/dist (but looks correct for behavior right now).

[2021-11-20 01:59] samreid commented on #1148
Thanks, closing.

[2021-11-20 01:59] #1148 closed

[2021-11-20 02:02] samreid commented on #1134
I decided to name as "tsconfig-module.json" so it wouldn't conflict with "core" file everything extends.

[2021-11-20 02:09] jonathanolson commented on #1080
Looks like somehow diffusion was skipped by the deployment process. Its release branch status works nicely, but it was never RC'ed or production'ed.

I'll be checking for other repos like this.

[2021-11-20 02:27] samreid opened #1151 "Make sure all repos pass precommit hooks"
From https://github.com/phetsims/chipper/issues/1134 make sure all repos pass precommit hooks.  I already fixed phet-io.  Sun was ok.  Others need to be checked.

[2021-11-21 05:26] samreid commented on #1151
I ran `for-each.sh active-runnables node ../perennial/js/scripts/hook-pre-commit.js --console` and that helped me work around https://github.com/phetsims/wilder/issues/6, closing.

[2021-11-21 05:26] #1151 closed

[2021-11-22 15:19] pixelzoom commented on #1149
There are warnings (repeated multiple times) that seem to be relevant, see below.  I also tried removing node_modules, then doing a fresh `npm install`, with the same result.  Are we going to see these warnings everytime we do npm in chipper?

[code]

[2021-11-22 15:35] samreid commented on #1149
I reproduced the warnings above.  Two ways forward could be:

(a) downgrade `@typescript-eslint/parser` and `typescript` accordingly
(b) ask developers to update to node `^14.17.0`

To me (b) sounds preferable and forward-looking.

In either case, I still think we should remove carets and tildes from the package.json reference to typescript and its dependencies.

[2021-11-22 16:54] samreid commented on #1138
The guard added by @zepumph seems reasonable to me.  @pixelzoom does that seem good to you, or should we just eliminate that altogether?

[2021-11-22 17:19] pixelzoom commented on #1149
I don't know the implications of (a). I'd be OK with (b).

[2021-11-22 17:24] pixelzoom commented on #1138
I have no idea what "the guard" is, and I'm having a difficult time interpretting https://github.com/phetsims/chipper/issues/1138#issuecomment-965816612.

My recommendation is to remove namespace.js generation from `grunt update`. I've heard no reason why it needs to exist.

[2021-11-22 17:54] samreid commented on #1138
To clarify, @zepumph added a guard that the namespace.js file is only generated if it does not already exist (in typescript or javascript).  I'll remove it altogether.

[2021-11-22 18:48] samreid opened #1152 "Remove updateCopyrightForGeneratedFile"
After https://github.com/phetsims/chipper/issues/1138, chipper/js/grunt/updateCopyrightForGeneratedFile.js is no longer used. Can it be deleted, or do we think it will be used again soon?

[2021-11-22 18:52] samreid commented on #1138
Removed, @pixelzoom would you like to review?

[2021-11-22 18:53] samreid commented on #1152
It seems `getCopyrightLine` will handle the majority of cases we need.  I think this should be removed.  This issue will help in visibility if we need to resurrect it one day.

[2021-11-22 18:54] samreid commented on #1152
OK I removed the file.  @pixelzoom can you please review, perhaps as part of the review for #1138?

[2021-11-22 19:25] samreid opened #1153 "Can we replace some/all sim variants with query parameters?"
CCK has a lot of extra overhead from having separate sims for the "virtual lab" variants.  This introduces 2 extra repos which need to be maintained, released, patched, etc.  From an engineering standpoint, it seems preferable to publish one sim and add a `?virtualLab` query parameter.  We could also benefit from this approach in beers-law-lab & concentration, and cases like that.

Places where we

[2021-11-22 23:25] pixelzoom commented on #1138
I'm not at all familiar with modulify.js.  That said, I insepected the commits, ran `grunt modulify`, and I didn't experience any problems.  So closing.

[2021-11-22 23:25] #1138 closed

[2021-11-22 23:27] pixelzoom commented on #1152
Since it's unused, and was simply delete, there's really nothing to test or review here.  Deleting does seem like the right thing to do.  So closing.

[2021-11-22 23:27] #1152 closed

[2021-11-23 18:02] pixelzoom commented on #1139
Reopening, based on a Slack discussion.

The type in all *Strings.js files is called `StringsType`.  I realize that this type is private to the file. But would something like `KeysType` be better? (more accurate, less potentially confusing) These are the values of the keys (field names), not the string values.

[2021-11-23 18:27] pixelzoom commented on #1139
Nevermind. I get it now. StringsType is the shape of the object literal returned by *Strings.js. So that type name is appropriate.

[2021-11-23 18:28] #1139 closed

[2021-11-24 01:50] samreid commented on #1134
After the commits, all central (scenery,sun,joist,phetocommon, etc) common code repos have a tsconfig that includes all demos and tests.  This allows us to run `tsc` from those directories to build the tests, demos and everything, so that integrates with our tooling nicely.  There is a separate tsconfig-module.json that includes only the core dependencies that a user would need (no demos or tests)

[2021-11-24 01:51] samreid opened #1154 "Sim-common code repos should have a central tsconfig.json that builds demos/tests, and a tsconfig-module.json to be used as a dependency."
From https://github.com/phetsims/chipper/issues/1134, Sim-common code repos should have a central tsconfig.json that builds demos/tests, and a tsconfig-module.json to be used as a dependency.

[2021-11-24 01:52] samreid commented on #1134
I also cleaned up axon and tandem, so they each have reasonable tsconfigs.  Remaining work to be done in https://github.com/phetsims/chipper/issues/1154, closing.

[2021-11-24 01:59] samreid commented on #1140
stacktracify looks like a trivial wrapper around https://www.npmjs.com/package/source-map and https://www.npmjs.com/package/stacktrace-parser, with extra things we probably wouldn't use such as meow, clipboardy and fs-extra.

[2021-11-24 02:29] samreid commented on #1140
@jonathanolson can you point me in the right direction for where the stack is presented in CT?

[2021-11-24 02:30] samreid commented on #1145
After #1134, both tandem and axon appear in the all/tsconfig file, closing.

[2021-11-24 02:30] #1145 closed

[2021-11-24 03:54] samreid commented on #1149
I updated to:

[code]

And when running npm install in chipper, I got these messages:

[code]

So perhaps we should open a side issue about `babel-eslint is now @babel/eslint-parser.`, recommend developers to upgrade to node v14.18.1 & npm v6.14.15, and close this issue.  Sound good @pixelzoom?

[2021-11-24 05:37] samreid commented on #1134
CT is showing a lot of red for these commits around https://github.com/phetsims/axon/commit/e68e11143568aba14a6fe945cd941af54d7d083e

[2021-11-24 06:15] samreid commented on #1134
It looks like it was caused by case sensitivity problems, where "*test*" on my Mac ignored "*Test*", it did not on the linux machine.  Since mac and linux are case insensitive for this search, it would probably not have affected developers.  But it is nice to clear this up on CT.  I wonder if there is a way to specify case-insensitive patterns in tsconfig globs.  We will have to wait and see if th

[2021-11-24 15:52] samreid commented on #1134
OK that seems fixed.  The main problem I've had with this organization is that you cannot run `tsc -b` combined with `--project`.  So there is no easy way to build, say, dot as a module.  One alternative would be to move `dot/tsconfig-module.json` to `dot/tsconfig/module/tsconfig.json` or maybe `dot/module/tsconfig.json`, but maybe we will wait until we have more of a need for this.  Or we could a

[2021-11-24 15:54] samreid opened #1155 "Move tsconfig module files to their own directory?"
From https://github.com/phetsims/chipper/issues/1134:

I can see the value of being able to build repos as modules (excluding tests and demos).  But I want to ask the dev team first:

a) should this be done?
b) if so, how should it be done?

[2021-11-24 15:54] #1134 closed

[2021-11-24 15:55] samreid commented on #1154
To avoid duplicating work, let's decide on #1155 before proceeding on this.

[2021-11-24 17:23] pixelzoom commented on #1106
The pattern for rich enumerations at the bottom of wilder/js/wilder/model/WilderEnumerationsTypescriptTestModel.ts looks reasonable to me.  A good first test might be to convert phet-core.Orientation.

[2021-11-24 17:31] pixelzoom commented on #1149
I have not changed my node, npm, or tsc versions, still:

[code]

After doing a pull-all.sh, `cd chipper; npm install` reports no problems.

I'm confused. Why do we need to upgrade node/npm. Why did the warnings go away?  And why don't I see the new warnings that @samreid sees?

[2021-11-25 01:44] samreid opened #1156 "Speed up TypeScript compilation for iteration"
@jessegreenberg reported in slack:

We discussed that changes to Property.ts compile quickly, but changes to Sim.js constructor take 30-60 seconds for @jessegreenberg.  We would like to find a faster way.

To investigate:
* Running babel as a WebStorm file watcher
* Running a babel watch process
* Running swc
* Writing our own script that layers into a watch process

TypeScript describes babel int

[2021-11-26 01:17] samreid commented on #1156
@jonathanolson and I reviewed the proposal on my working copy and agreed it seems a good direction to go in, so I committed the current version.

Next steps:
- [ ] Follow https://www.typescriptlang.org/docs/handbook/babel-with-typescript.html and add:
[code]

This will require updating the imports on every sim and I'll wait until @jonathanolson has pushed changes for the large scenery refactor to

[2021-11-26 15:52] pixelzoom opened #1157 "Update all published README.md files."
Now that TS is in common code, all sims require a compilation step before they can be run.  This is not currently reflected in README.md files for published sims.

When updating README.md files, be sure to take https://github.com/phetsims/chipper/issues/1136 into consideration. Prototypes have a version >= 1.X.X, but should not have a published README.md.

[2021-11-26 16:01] pixelzoom opened #1158 "Google Group: announce breaking changes related to TypeScript."
Now that TS is used in common-code, there are breaking changes that will impact 3rd-party developers.  Sims will not run without a compile step,  all scenery imports must be changed to use imports.js, etc.   It would be courteous to announce these breaking changed (as they occur) in the Google Group.  The [TypeScript](https://groups.google.com/g/developing-interactive-simulations-in-html5/c/VCAUC6

[2021-11-27 01:20] samreid commented on #1156
I tried watching active-repos to update the watch paths, but if I add in js, images and sounds, then watching active-repos fails.  I'm probably hitting some limit, but it doesn't give me confidence in chokidar.

<details>

[code]

<details>

[2021-11-28 16:54] samreid commented on #1156
I messaged slack:

[2021-11-28 18:02] samreid commented on #1156
There are 2 known problems, and I've reverted until we can fix those:

(1) `grunt` for a sim says it can't find the babel files.  Adding

[code]
to the package.json and npm install works around the problem, but I don't know if we want to add that to all sim repos.

(2) Something is wrong with paths and it is giving this error:

[code]

[2021-11-28 20:33] samreid commented on #1156
I'm seeing this problem after these changes:

[code]

[2021-11-28 21:03] samreid commented on #1156
OK almost everything seems like it is working.  Working things include:

* CT
* phettest
* precommit hooks
* fast watch process
* fast transpile process
* builds (phet and phet-io)
* works great on windows

The only thing I'm aware of that is not working as expected is the sourcemaps.

I also decided it would be best to have this reviewed by another developer before enabling it, so I've commented

[2021-11-29 15:45] pixelzoom commented on #1156
Before enabling this, can you also please summarize what the new workflow will be?

[2021-11-29 16:25] samreid commented on #1156
The new workflow is described in https://github.com/phetsims/chipper/issues/1156#issuecomment-981117127.  Summarizing the proposal:

Instead of using `tsc` to transpile our code, we will use a new script which can be invoked like so:

[code]

Or you can run it without `--watch` if you just want to run it once.  Options and behavior for that script are documented in https://github.com/phetsims/chip

[2021-11-29 17:23] pixelzoom commented on #1156
I still didn't understand what's being proposed, or the implications, so I discussed with @samreid.

Notes:
* The terms "transpile" and "compile" are now being used interchangeably wrt TypeScript.  Yes, tsc is techincally a transpiler - thank you Microsoft for naming it incorrectly.  But switching between "compile" and "transpile" in TS discussions is confusing. Maybe we should stick with "transpi

[2021-11-29 17:30] pixelzoom commented on #1136
Reopening.  It looks like @samreid ran `grunt update` and undid the fixes to geometric-optics and greenhouse-effect.  @samreid please revert.

[2021-11-29 18:01] samreid commented on #1156
In discussion with @jonathanolson we agreed we want to:

- [ ]  Separate out the transpilation from the type checking.  Currently both are in tsc, but we want to visit call sites and let call sites decide whether they want transpilation or type checking or both.

[2021-11-29 18:24] pixelzoom opened #1159 "Requirements for use of TS nonnull assertion operator"
I see 135 uses of TS’s nonnull assertion operator (post-fix `!`) in sims and common code — search for `!.`. Of the ones that I’ve inspected, most have no assertion check to verify that it’s safe.  That makes me wonder if this operator and its effective usage is understood. If you want to use `!.` in sim code without checking, more rope to ya.  But I propose that an assertion should be required in

[2021-11-29 18:48] pixelzoom commented on #1159
In Slack , @samreid said:

Double checking if we really want to guard all of these….  Let’s consider DerivedProperty.dispose which starts like so:

[code]

If there is no guard, you get an error in the browser like:

[code]

That seems pretty clear to me.  If I add a guard like:

[code]

Then we get the error:

[code]

Are there some circumstances where the first error (unguarded) is acceptable?

[2021-11-29 23:05] samreid commented on #1136
Thanks, I reverted those repos.  Can you please spot check?  Anything else to do here?

[2021-11-29 23:48] pixelzoom commented on #1136
👍🏻 closing

[2021-11-29 23:48] #1136 closed

[2021-11-30 00:09] samreid commented on #1156
I added a script that can be used with WebStorm's File Watcher.  I set up my configuration like so:

![image](https://user-images.githubusercontent.com/679486/143961970-9d1bcc5a-251f-4ebb-acb4-63c2dd5c808c.png)

And I observed that it quickly transpiles a single file when saved.  It seems to be working nicely and could be a good solution for those who don't want to run a watch process.  You can al

[2021-11-30 00:30] samreid commented on #1126
WebStorm 2021.3 came out a few days ago.  I've been using without problems for the day.  Can someone else volunteer to take it for a test drive to see if it addresses this issue?

[2021-11-30 18:34] oliver-phet opened #1290 "User request: N/kg units for Gravity slider"

[2021-11-30 18:57] jbphet commented on #1126
I just updated IntelilliJ IDEA to version 2021.3, and as of right now, the situation is actually worse.  I ran several tests in the Greenhouse Effect repo, and it seemed to correctly add import statements for classes defined in that repo (e.g. `Photon.ts`), but it was not able to add import statements for common code classes at all (e.g. `RoundToggleButton`).  I thought maybe this had something to

[2021-11-30 21:03] zepumph commented on #1126
I was able to confirm @jbphet's behavior. In RAP/CreateScreenView below the imports I typed:

`const x = new BooleanPropert` and then pressed tab. It successfully auto completed to `BooleanProperty` but did not import.

I then typed:

`const x = new MyChallengeAccordionBo` and then pressed tab. It successfully auto completed and also imported with the `.js` suffix. Perhaps this has something to do

[2021-11-30 21:08] zepumph commented on #1126
Hmm. I'm also a bit confused though because the install to 2021.3 does seem to have been as complete. I don't see 2021.3 as a program to launch, and when I "updated and restarted" it was still running from `C:\Program Files\JetBrains\WebStorm 2021.2.2\bin`. That said when I check for updates it says I'm up to date, and the splashscreen says 2021.3. I'll keep investigating.

[2021-11-30 21:11] zepumph commented on #1126
But this is the about dialog:

![image](https://user-images.githubusercontent.com/6856943/144128702-36669e7f-cde2-485b-9cf9-e7888072a9a3.png)

[2021-11-30 21:35] zepumph commented on #1126
Sorry for the bout of off-topic. I confirmed that I am in fact on 2021.3.

[2021-11-30 23:14] zepumph commented on #1126
Oh, but now I am getting an option to import when I use alt+enter (context menu) on common code types. That said, it is a bit more buried in the list that normal imports have been in the past. When it imports, it includes the `.js` suffix. I would say this issue is solved, though a bit inflexible.

[2021-12-01 00:51] zepumph commented on #1156
Hey! I really like the transpile script. Thank you so much for making it happen. It is speedy quick and excellent for iterating.

I kept hitting a failure case where it seems like watching could potentially have a null filename. I'm not sure if this is the best long term, but it worked for me, so I thought I'd commit and see what @samreid thinks.

[code]

[2021-12-01 17:11] jbphet commented on #1126
@zepumph said:

Me too, but that doesn't work for me either.  Nor does clicking on the link that comes up that says "Add import statement" (see screenshot).

![image](https://user-images.githubusercontent.com/3082831/144280824-c3b3dddc-888d-4e85-aba0-d1b689daaebe.png)

[2021-12-01 17:14] jbphet commented on #1126
I tried deleting the caches and forcing it to re-index to see if it made any difference, but it didn't.

[2021-12-01 17:29] samreid commented on #1126
I've only been testing in WebStorm.  Does some TypeScript plugin or functionality need to be enabled in IntelliJ?

[2021-12-01 21:34] samreid opened #1160 "Type checking takes too long to be a precommit hook"
@jessegreenberg said:

I replied:

@jonathanolson said:

I replied:

[2021-12-01 21:35] samreid commented on #1160
Or maybe there is a subset of repos where `tsc -b` runs fast enough to leave this on as a precommit hook?  But part of the problem is that incremental builds take different amounts of time depending on what files changes.

[2021-12-01 21:42] zepumph commented on #1160
Perhaps there is an adhoc solution that would help eliminate the nlogn time complexity, since for multiple repos, they are all running tsc -b. Could we create a function where given a repo list L, we determine the correct dependency ordering, order the list into `L'`, and then run tsc on each repo individually in that order to make sure each repo is only compiled a single time, and in the right or

[2021-12-01 21:43] zepumph commented on #1126
I  spoke with @jbphet on a zoom call. We found that if you check the setting that says "use relative paths to tsconfig.json" then the auto imports that were broken are fixed, but they import with the wrong path. This makes me feel like something within our tsconfig.json project structure is different from what is expected by Intellij.

[2021-12-01 21:57] jonathanolson commented on #1160
My impression was that if I was using the transpile (with watch), that `tsc -b` would regenerate chipper/dist files (unless we switched fully to transpilation-only for the files). Thus the precommit hook would need to redo all files, and it wouldn't be incremental?

[2021-12-01 22:01] samreid commented on #1160
This is precisely what `--build` does.  It's just that when some files are changed, there are a lot of things to type check.  But I still would like to run some timing and performance tests to quantify this.

[2021-12-01 22:19] zepumph commented on #1156
- [ ] One other thought I had about transpile, perhaps you can ignore sherpa by default, and then with a flag include it, because it believe the font awesome files to be ~10-20% of the initial run of transpile.

[2021-12-02 04:13] samreid commented on #1156
I reviewed the current status with @zepumph today, and he said it is a good direction and recommended committing to master.  @jonathanolson also recommended to separate out the transpiled js (from the transpiler) and the declarations (from the type checker).  I'll do this as well, but it will require changing all simulation mains to refer to `chipper/dist/js`.

[2021-12-02 05:45] samreid commented on #1156
phettest and CT have been restarted and are behaving as expected.  I think this issue will be ready for review by @jonathanolson.  Here are my last messages from slack:

OK I pushed 154+ repos.  I’ll check phettest and monitor CT.  I’ll also check slack first thing in the morning, please report if something is in your way of working.
For developers, the new transpilation step is:
cd chipper
node j

[2021-12-02 17:13] jonathanolson commented on #1156
[code]
in Transpiler.js could presumably be `this.activeRepos = getActiveRepos()` (from perennial-alias).

[2021-12-02 17:18] jonathanolson commented on #1156
I'm vaguely curious if parallelization could help, it looks like we're transpiling synchronously (could have a faster startup for transpiling everything). Not important.

[2021-12-02 17:18] jonathanolson commented on #1156
What is special about game-up-camera?

[code]

[2021-12-02 17:23] jonathanolson commented on #1156
In the build:
[code]

I don't like the transpiler touching ALL active repos. This seems easy to break in the future (for maintenance builds, remember most repos are going to look very different)

[2021-12-02 17:40] jonathanolson commented on #1156
It seems like we changed to `grunt output-js-all`? So looks like we likely broke maintenance support for any maintenance releases that rely on `grunt output-js`.

`chipperSupportsOutputJSGruntTasks` seems to indicate `grunt output-js` would work.

Are we planning on maintenance releasing everything to be compatible with this new style?

[2021-12-02 17:49] jonathanolson commented on #1156
Overall looks good, but I'd want the maintenance-related issues above addressed/discussed with high priority.

[2021-12-02 18:23] samreid commented on #1156
From slack:

Sam Reid  10:57 AM
For https://github.com/phetsims/chipper/issues/1156#issuecomment-984851030, yes it was changed to output-js-all.  Should I rename it to “output-js” but still have the same implementation (doing all) so it is backward compatible?  Or what other options do we have?

Jonathan Olson  10:59 AM
First of all, generating JS outside of the repos we've checked out sounds dang

[2021-12-02 18:49] samreid commented on #1160
Tagging for dev meeting to double check if it's OK if to disable type checking in precommit hooks.

[2021-12-02 18:50] samreid commented on #1126
From Slack:

Jesse Greenberg  9:06 AM
I am not able to auto import a new file I created in joist, am I missing a step or does this ring any bells?

Sam Reid  9:35 AM
I have seen symptoms like that sporadically--sometimes it feels like WebStorm waits until there is at least one import of something before it will offer other imports of it.  If we can nail it down, we can make a bug report to JetBrai

[2021-12-02 18:54] zepumph commented on #1160
I'm not sure I understand. If you commit to 4 repos, and they all depend on joist, all 4 of the pre-commit processes are still going to look at joist.

Do we feel like we are at the fastest that we can be? If you feel confident that we can't speed things up any more, then I'm fine removing it and utilizing CT, but it seems less than ideal.

[2021-12-02 18:57] samreid commented on #1160
Yes, but our project references are set up to be incremental, so declarations for joist are only built/updated once.

I haven't investigated any of the ideas in https://github.com/microsoft/TypeScript/wiki/Performance.  But I think some type checks are fast and some are slow, and I don't know how to know which will be fast or slow, or why the slow ones are slow.

[2021-12-02 19:00] zepumph commented on #1106
I used it in `TickMarkView` yesterday and I would like to discuss the path forward for PhET-iO before converting a central type.

https://github.com/phetsims/ratio-and-proportion/blob/d52f903d6193c520fafcb1f021cd28d4d1e3563b/js/common/view/TickMarkView.ts

[2021-12-02 19:01] zepumph commented on #1106
@samreid, could we make a meeting time to discuss some of the bad stuff I put into RAP to make TickMarkView work with `EnumerationIO` (as a work around).

[2021-12-02 19:45] zepumph opened #1161 "Runtime error in `transpile.js`"
From discussion with @samreid, in regards to https://github.com/phetsims/chipper/issues/1156, I was asked to report failures in `transpile.js`. Here is one I had:

[code]

[2021-12-02 19:59] jessegreenberg commented on #1147
Discussed in dev meeting 12/2/21:

The process to publish a prototype is described here (https://github.com/phetsims/phet-info/blob/master/deployment-info/chipper-2.0.md#prototype-deployments) so we want to create a process that automates as much of this as possible.

The subgroup for this is @jonathanolson and @pixelzoom to investigate.

[2021-12-02 20:01] pixelzoom commented on #1147
Some other notes from 12/2/2021 dev meeting:

* add a package.json field to indicate that a production version of the sim has been published
* modify `grunt update` to use the new package.json flag (instead of version number) to determine what README.md to generate
* create a `grunt prototype` task that automates the manual steps in https://github.com/phetsims/phet-info/blob/master/deployment-info

[2021-12-02 20:45] zepumph opened #1162 "Runtime error in transpile.js"
From discussion with @samreid, in regards to #1156, I was asked to report failures in transpile.js. Here is one I had:

[code]

This didn't crash the sim, but it did use the green color to present the error, and not each new line in the watch process is green. If we don't control the green color in errors, feel free to close.

[2021-12-02 20:47] samreid commented on #1162
I haven't adjusted or controlled the colors.  It seems babel caught a syntax error and the watch process didn't fail.  Should we close?

[2021-12-02 21:00] #1162 closed

[2021-12-02 22:41] samreid commented on #1156
I restored `output-js` and `output-js-project`.

It seems most of the time is disk read/write rather than babel core transpilation CPU, in that case parallelization may not help much.

I addressed the code review issues.  I thought I would have to revert perennial/js/common/outputJSAll.js back to perennial/js/common/outputJS.js, but it was only used by CT and phettest processes which want to trans

[2021-12-02 22:54] samreid commented on #1080
Please note https://github.com/phetsims/perennial/issues/253 was opened when translations failed for diffusion.

[2021-12-02 22:57] samreid commented on #1080
Diffusion was reported in https://github.com/phetsims/chipper/issues/1080#issuecomment-973572810 and https://github.com/phetsims/perennial/issues/253, and as far as I know no others have been reported.

[2021-12-02 23:05] samreid commented on #1106
@zepumph asked to be assigned an issue to review RichEnumerationProperty.  Should we do that here?

[2021-12-02 23:25] zepumph commented on #1106
Yes

[2021-12-02 23:29] zepumph commented on #1080
Can we just patch the release branch's .gitignore? Or is the main hold up here that we don't know if there are other sims that were missed.

[2021-12-02 23:31] zepumph commented on #1080
Oh, I see, it is already patched, it just needs a release. I'll kick off an rc for diffusion right now.

[2021-12-02 23:37] zepumph commented on #1080
But even if it wasn't rc'd or production deployed, why is it failing, because when rebuilt, it is going to get the shas from diffusion's 1.0 branch, which has the chipper patch in it, right? So the next translation deploy would include `dist/` in its .gitignore. Or perhaps for translations it just checks out the exact same shas as the production version. . . . Hmmm.

[2021-12-02 23:41] zepumph commented on #1080
Published the RC here:

https://phet-dev.colorado.edu/html/diffusion/1.0.6-rc.1/phet/diffusion_all_phet.html

I ran it and played with it for 30 seconds. I don't know how much more QA does for a spot check, but I also don't know all the pieces of the MR to test. Over to @jonathanolson to review the above comments, and then potentially just run the sim a bit, and then do a production deploy.

[2021-12-02 23:55] zepumph opened #1163 "Does `transpile.watch()` always work correctly at noticing changed files?"
I have been running `cd chipper; node js/scripts/transpile.js` all day (likely this run was at least 3 hours old), and I just closed out of it and immediately re-ran it. It went through all of these files again. Why? I know for a fact that (at the very least) those sherpa files weren't changed. I did run pull-all right before restarting it.

Output of initial transpile:
<details>

[code]
</details

[2021-12-03 00:08] samreid commented on #1163
I saw symptoms like you reported today.  My best hypothesis is that the cache file is getting corrupted and hence failing to parse and getting rewritten on startup.  I added console.logs to indicate when the cache is rebuilt.  Can you keep your eyes peeled on startup and see if it says it cleared the cache or something like that?

[2021-12-03 00:09] samreid commented on #1163
I also added `--verbose` which outputs the reason it transpiled a file.  It's not very intrusive, can you run with that a while and see what we learn?

[2021-12-03 00:18] samreid commented on #1161
I added a fix that will hopefully help, closing.

[2021-12-03 00:18] #1161 closed

[2021-12-03 00:19] samreid opened #1164 "Transpiler doesn't guard all the paths correctly"
Discovered in https://github.com/phetsims/chipper/issues/1161, there is this check:

[code]

but it doesn't handle special cases like `brand`.

[2021-12-03 16:00] samreid commented on #1156
I created the CCK AC (and virtual lab) SHAs, so if there are fixes to this issue they will need to be cherry-picked into those release branches.

[2021-12-03 16:46] jonathanolson commented on #1156
This looks good to me, should be compatible with maintenance tools now. Thank you!

[2021-12-03 16:48] samreid commented on #1156
Thanks

[2021-12-03 18:25] pixelzoom commented on #1156
Reopening.

These tasks have not been completed:

And typescript-quick-start.md has not been updated.

[2021-12-03 18:31] pixelzoom commented on #1156
I would also be nice if the WebStorm file watcher info were incorporated into documentation, rather than having to search for it in this issue.

[2021-12-03 21:01] jessegreenberg opened #1165 "Multiple modules from the same import"
Currently, auto-importing modules from the same location results in WebStorm putting them on the same line.  There is a setting for this in formatting options. Which do we prefer?

[code]
vs
[code]

If the import line gets too long, WebStorm will break it into multiple lines. But this breaks a lint rule "single-line-import":
[code]

If we chose to import multiple modules in one import, we should d

[2021-12-03 22:15] jessegreenberg commented on #1165
Over slack @jonathanolson said

I looked at the lint rule "single-line-import" and it has a line of documentation

So maybe we cannot remove this.

[2021-12-03 22:18] jessegreenberg commented on #1165
We decided to add this lint rule in https://github.com/phetsims/phet-info/issues/139.

So we should investigate why this isn't happening with TypeScript.

[2021-12-03 22:35] jessegreenberg commented on #1165
The settings we changed in https://github.com/phetsims/phet-info/issues/139 just need to be added back in, it looks like they were removed. Ill reapply them so that imports stay on a single line and we keep our single-line-import eslint rule.

[2021-12-03 22:49] jessegreenberg commented on #1165
I reported this over slack.

This is the same style we applied in https://github.com/phetsims/phet-info/issues/139 so I think this is safe to close.

[2021-12-03 22:50] samreid opened #1166 "WebStorm: Auto-imports from a *.js file into a *.js file don't work any more"
@pixelzoom pointed out that auto-imports from a *.js file into a *.js file don't work any more.  @jessegreenberg and I confirmed the same behavior.  When did this break?  Is it related to TS or tsconfig?  Can it be repaired?  Can we set up a self-contained reproducible example without using the phet codebase?  Should it be reported to JetBrains?

[2021-12-03 22:54] jonathanolson commented on #1140
https://github.com/phetsims/chipper/blob/cd4580440fb656d6ced70ac30323fb23838e1f96/js/initialize-globals.js#L873-L885 is where the stack is JSON'ed.

[2021-12-03 23:22] jessegreenberg commented on #1165
Over slack @jonathanolson said that maybe we don't need to enforce a single line import any more. Re-opening and adding to the dev meeting agenda for a quick check because there were other voices in https://github.com/phetsims/phet-info/issues/139 that preferred a single line of imports.

If we are OK with default formatting from WebStorm we can delete the "Hard wrap at: 999" workaround and delete

[2021-12-03 23:24] jonathanolson commented on #1165
I'm not aware of constraints around import line styles currently. We should ask if anyone else knows something else.

[2021-12-03 23:25] jonathanolson commented on #1080
Looks good! Production deployed.

This looks like the only case where this happened.

[2021-12-03 23:25] #1080 closed

[2021-12-03 23:40] pixelzoom commented on #1166
Also worth noting:
* WebStorm 2021.3 was release 11/27/2021.
* I'm using WebStorm 2021.3, while @jessegreenberg is using 2021.2.2. We're both seeing the problem, so it's not a new breaking change in WebStorm
* I haven't worked on .js files since I converted Geometric Optics to TS (that started ~11/1/2021).  I'm certain that .js imports were working fine in 2021.2.2 prior to that.

[2021-12-06 16:09] samreid commented on #1157
I updated the template but thought it would be wise to request review before applying it to 100+ repos:

<details>

[code]
 {{CLONE_COMMANDS}}
[code]

</details>

@pixelzoom @zepumph or @jonathanolson can you please review?

[2021-12-06 16:20] samreid commented on #1126
In WebStorm 2021.3, I navigate to `AtmosphereLayerNode` and add `b: RectangularToggleButton;` then alt-enter on the red text shows:

![image](https://user-images.githubusercontent.com/679486/144881957-68d16809-f149-4691-a6cc-2c3439378c1d.png)

Clicking the import option correctly adds this line:

[code]

I found you can filter the options by typing their text--I type "imp" and it isolates the impo

[2021-12-06 17:24] samreid commented on #1156
READMEs will be updated in https://github.com/phetsims/chipper/issues/1157
Development Overview will be updated in https://github.com/phetsims/phet-info/issues/172

[2021-12-06 17:36] samreid commented on #1156
I updated the other documentation in the commit, @pixelzoom can you please review?

[2021-12-06 17:38] samreid commented on #1105
Note that we now have our own watch process `node js/scripts/transpile.js --watch` as well as some experimentation with File Watchers for WebStorm/IDEA integration: https://github.com/phetsims/phet-info/blob/master/doc/typescript-webstorm-file-watcher.md.

[2021-12-06 20:42] pixelzoom commented on #1156
typescript-quick-start.md errors and questions:

My understanding is that this is no longer an option, much less a required "Getting Started" step.

...

Does this really use `tsc --build`.  It looks like it's using `transpiler.js`.

Why not just replace occurrences of `grunt output-js-project` with `cd chipper; node node js/scripts/transpile.js`?

This is error prone. Should `grunt generate-phet-

[2021-12-06 20:46] pixelzoom commented on #1157
The proposed changes in https://github.com/phetsims/chipper/issues/1157#issuecomment-986920909 look OK to me.

[2021-12-06 21:23] samreid commented on #1157
Thanks, I committed the change to the template, then changes to 92 published READMEs.  3 were prototypes so I skipped them, I think it was geometric optics, greenhouse and normal modes.  Can this issue be closed?

[2021-12-06 21:36] samreid commented on #1156
Thanks, I updated the quick start guide more thoroughly.

I revised that part to show how to turn on the language service, but turn off the compilation.

It has been changed to autorun the transpiler.

I removed the list altogether. Users can search for *.ts filenames if desired.

Ready for re-review.

[2021-12-06 21:43] pixelzoom commented on #1157
I tested the deployed README.md for gas-properties.  It's broken, missing:

[code]

So this steps fails:

[code]

This problem appears to be present in all of the README.md files that I checked.

Back to @samreid.

[2021-12-06 21:46] pixelzoom commented on #1157
There's an `npm install` missing between these 2 steps:

[code]

[2021-12-06 21:48] pixelzoom commented on #1157
Looks like there's at least one other `git clone` missing.

[code]

[2021-12-06 21:50] jbphet commented on #1166
I just tested auto-imports into JS files in IntelliJ IDEA 2021.3 (Ultimate Edition), and it is broken there too.  I tested it in the _Build an Atom_ sim, which has had no TypeScript work done on it to date.  @samreid - Unless you think this problem is somehow related to changes made to our code base to support TypeScript, I think it would be worthwhile to report it to JetBrains.  If I remember cor

[2021-12-06 22:16] pixelzoom commented on #1156
??

[2021-12-06 22:52] samreid commented on #1156
Oops, was a typo, should read:

Turn on "TypeScript language service", turn on "Show project errors", and turn off "Recompile on changes".

[2021-12-06 23:04] samreid commented on #1166
Some tests that may help determine if TypeScript is related to this problem:

* Create a clean JS repo from scratch and see if there are problems
* Disable the TypeScript plugin and see if there are problems

[2021-12-06 23:34] samreid opened #1167 "tsc fails when phet-io repo is not checked out"
While testing https://github.com/phetsims/chipper/issues/1157, I observed:

[code]

Perhaps we will need to omit the tsc altogether if not running with brand phet or phet-io?

[2021-12-07 01:14] samreid commented on #1167
I put a band-aid on the problem, but eventually we should think through how we can support type checking for clients that cannot check out phet-io repos.

[2021-12-07 01:54] samreid commented on #1157
I regenerated the README files, skipping the prototypes and adding `grunt published-README` for example-sim.  I tested in acid-base-solutions that the transpile and grunt steps worked properly.

[2021-12-07 15:49] pixelzoom commented on #1157
This line is repeated twice in every README.md that I inspected.

Did you really want to include `--watch` here? That will block further input to the Terminal/Command window, and may be confusing to users who just want to run the sim.

[2021-12-07 16:06] samreid commented on #1157
I pushed a fix that omits the duplicate perennial-alias, but will wait on pushing all READMEs until we finish discussing about `--watch`.  I included `--watch` intentionally because I think we should recommend that as the way to get clients up and running.  It also matches what clients will see when running `http-server` -- that it starts a continuing process, and they need another terminal to con

[2021-12-07 16:14] pixelzoom commented on #1157
https://github.com/phetsims/chipper/commit/a8f4629b91830994b572a71f0d87554a83d0155a doesn't look like a solution, it looks like an (undesireable) workaround for other problems:
(1) Why doesn't getPhetLibs report problems with duplictes?
(2) Why is perennial-alias not in all phetLibs? It's specified in build.json.
(3) Why is perennial in phetLibs? It's not in build.json, and it should not be specif

[2021-12-07 16:22] samreid commented on #1157
The duplicate was being added by buggy code in generateREADME.  `getPhetLibs` ends like so:

[code]

It is in phetLibs, that's why my incorrectly adding it in generateREADME it appeared twice.

It wasn't in phetLibs, but I thought we needed it for transpile.js, so I added it in generateREADME.

Perhaps the way out of these problems is to make Transpiler.js read from perennial-alias instead of pere

[2021-12-07 16:27] pixelzoom commented on #1157
I'm not familiar with Transpiler.js (and don't have time to dig into it) so I can't advise.

I don't feel strongly about this. Just pointing out that `--watch` will result in a process that doesn't return, so the user will need to open another Terminal/Command window to proceed.

[2021-12-07 17:04] samreid commented on #1157
Agreed, thanks.  I updated the wording in the commit.

[2021-12-07 17:44] samreid commented on #1157
I published another batch with the proposed changes.  @pixelzoom want to spot check anything?

[2021-12-07 19:06] samreid commented on #1158
I added another message to the TypeScript thread.  Not sure what else to do here.

[2021-12-07 20:06] #1156 closed

[2021-12-07 20:12] pixelzoom commented on #1158
An announcement about the breaking change to scenery imports seems relevant.

[2021-12-07 20:23] samreid opened #1168 "chipper/dist accumulates garbage"
Both the transpilation process and the declaration emit process (from tsc), can lead to the accumulation of garbage in chipper/dist.  Here is the slack conversation where @pixelzoom originally described the problem:

[2021-12-08 14:39] pixelzoom commented on #1157
👍🏻

[2021-12-08 19:03] samreid commented on #1158
Thanks, I added an announcement about that.

[2021-12-08 20:10] pixelzoom commented on #1160
An emphatic "no" here. Type-checking is not done by transpile.js.  If it's not done in a precommit hook, then we're relying on the developer to run `tsc` before committing (or at least before pushing).  When (not if) that doesn't happen, it will be noted by CT. But by then, it may be impacting the work of multiple developers.

[2021-12-08 20:14] pixelzoom commented on #1168
Adding to Developer Meeting for a PSA, so that developers are aware that garbage can build up in chipper/dist/.

[2021-12-08 21:23] samreid commented on #1155
Now that `tsc` is only used for type checking and not for transpiling, this issue seems less important.

[2021-12-08 21:33] samreid commented on #1160
Keeping the type check sounds reasonable to me. And if the developer has already run a type check, that will be cached (since we use incremental tsc) and the type check during the precommit hook will be immediate.

I have not had this experience at all, my commits are running quickly for my current work.  Maybe we can start taking notes on "which repos" and "which kind of changes" trigger that lon

[2021-12-09 01:52] pixelzoom commented on #1158
👍🏻

[2021-12-09 01:52] #1158 closed

[2021-12-09 06:40] samreid commented on #1106
I'm running into this pattern:

[code]
which doesn't seem to work for the new pattern.  For minX/minY it makes sense to move them into Orientation, but there are many other occurrences in FlowConfigurable and FlowConstraint.  What is the name of this JS language feature, and why would it work on the old enumeration pattern but not on the new one?  Can we switch these to Maps or EnumerationMap or s

[2021-12-09 15:41] jonathanolson commented on #1106
Those are computed property names. I don't have enough context on the "new pattern" to know how to help, but I'm happy to be included.

[2021-12-09 16:58] samreid commented on #1168
We discussed this at today's dev meeting.  You can clean using `tsc -b --clean` and `node js/scripts/transpiler.js --clean`.  It isn't clear there will be problems from the accumulated garbage, but we will keep our eyes peeled.  It is up to developers to decide how often to clean.

[2021-12-09 17:10] samreid commented on #1106
I've converted Orientation to the proposed rich enumeration pattern.  There were other files that needed to be updated as well. Everything is passing aqua, but please be on the lookout for places that were using EnumerationMap values (where new values were populated on the EnumerationMap.)

[2021-12-09 19:40] oliver-phet opened #1169 "Add custom locale: Karakalpak"
Perhaps this custom locale could be added alongside the work to add Kurmanji https://github.com/phetsims/chipper/issues/1111

[Karakalpak Wiki page](https://en.wikipedia.org/wiki/Karakalpak_language)

I've written back to the user to inform them that adding a custom locale is not trivial and it may be a while until we are able to fulfill this request.

Assigning to @mattpen since he is familiar wi

[2021-12-09 20:23] mattpen commented on #1169
Assigning the locale subgroup.  This would definitely be ideal to work on with #1111.

[2021-12-10 22:25] jbphet commented on #1111
@mattpen - I'm starting to investigate ways to address this, and I have a few questions:

- When you say, "Kurdish (Turkey) doesn't accurately represent the language being used by the locale code ku_TR and we should be using Kurdish (Kurmanji) instead", what is the source for this?  Was there an email request from a translator?
- Our translation process doesn't enforce any particular character set

[2021-12-10 22:31] jbphet commented on #1111
For reference, there are currently 3 translations using the `ku` locale and 2 using the `ku_TR` locale.

[2021-12-10 22:41] oliver-phet commented on #1111
There was a request back in 2014 to support Kurmanji. It was decided then to use ku_TR even though Kurmanji isn't specific to Turkey. Related [unfuddle ticket](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3630). We had another translator recently that highlighted that we shouldn't be using "Kurdish (Turkey)" to describe "Kurdish (Kurmanji)" (and I agree). @mattpen laid this out abo

[2021-12-10 22:50] jbphet commented on #1169
For reference, the ISO 693-3 language code for this language is `kaa`, and in the reference page at https://en.wikipedia.org/wiki/Wikipedia:WikiProject_Languages/List_of_ISO_639-3_language_codes_(2019) the language is listed as Kara-kalpak.

[2021-12-10 22:57] jbphet commented on #1169
In 639-1, Karakalpak is not listed, and the `ka` locale is already in use by Kartvelian, also known as Georgian.  `kk` and `kr` are also used.  The code `kp` does _not_ appear to be used, so perhaps we could use that one.

[2021-12-11 00:16] samreid opened #1170 "String type creation fails on _comment"
Discovered in molarity, our string files support _comment, but the parser fails on it with a stack overflow error:

[code]

[2021-12-11 00:18] samreid commented on #1170
Fixed, closing.

[2021-12-11 00:18] #1170 closed

[2021-12-11 06:55] samreid commented on #1106
The rename of Orientation.js to Orientation.ts was missed, I think I'll revert commits and try that again.

[2021-12-11 19:44] samreid commented on #1106
I updated Orientation to use the proposed rich enumeration pattern.  I also converted ResistorType (in CCK) and provide the example MammalType in wilder.  These parts are ready for review and discussion.

To review:
1. Please read through this entire comment before beginning, because it includes motivating factors below.
2. Please read through WilderEnumerationPatterns.ts.  It identifies the 3 enu

[2021-12-11 20:13] pixelzoom commented on #1106
I'm feeling a little behind where I'd like to be on geometric-optics, but there's no schedule for that sim, so it's a self-imposed feeling.  I can squeeze in a review next Mon|Tue, if that's agreeable to @markgammon.

[2021-12-12 16:51] markgammon commented on #1106
Thanks @pixelzoom. Sounds like you're able to fit in the review early in the week, which is optimal for the issue. Let's revisit if needed.

[2021-12-12 21:45] samreid commented on #1126
After reading through this issue, it seems @zepumph and @samreid are reporting that the imports are working as expected (working but a bit inflexible).  I feel the next step is a short meeting with @jbphet and @jessegreenberg to clarify the problems and see what is causing it, or if we need to report bugs to JetBrains.  @jbphet or @jessegreenberg sound ok?  Can we schedule a short meeting to touch

[2021-12-13 00:34] samreid commented on #1140
I noticed the snippet above is in in initialize-globals, which runs with every sim.  I'm not convinced we should add source-map and stacktrace-parser to our sim downloads, so I checked where this error arrives in CT.  `'continuous-test-error'` also appears in aqua/js/client/sim-test.js, but this file is a preload.   @jonathanolson is that the appropriate place to put stacktrace-parser and source-m

[2021-12-13 17:39] samreid commented on #1149
I ran those commands (without clearing node_modules) and got this result:

[code]

[2021-12-13 17:43] jbphet commented on #1126
@samreid said:

Sure, just schedule a time.  All of my meetings are on Google Calendar, and I work pretty standard hours.

[2021-12-13 17:44] samreid opened #1171 "npm WARN acorn-import-assertions@1.8.0 requires a peer of acorn@^8 but none is installed."
From https://github.com/phetsims/chipper/issues/1149, I'm seeing

[code]

According to https://stackoverflow.com/questions/46053414/npm-warn-requires-a-peer-of-but-none-is-installed-you-must-install-peer we are supposed to manually add the acorn ourselves.  Which dependency is requiring acorn?  I searched node_modules and it may be one or more of these (each of which mentions acorn.)

* babel
* ji

[2021-12-13 17:49] samreid commented on #1171
My prior acorn was at 7.6 or so.  I tried `npm install acorn@^8 --save-dev` and ran `npm install` afterwards and it didn't report the warning.  But now I have to test all of the chipper functionality to see if acorn 7.6 => 8.6 may have broken anything.

[2021-12-13 17:56] samreid commented on #1171
Perhaps I'll add this acorn dependency and keep my eyes peeled for any unusual behavior during chipper tasks.

[2021-12-13 17:59] samreid commented on #1149
After updating acorn in https://github.com/phetsims/chipper/issues/1171, I cleared node_modules and ran `npm install`.  It was the cleanest output I've seen in a long time:

[code]

I'm not sure how else to investigate here, unless we want to try various versions of node or npm.  @pixelzoom can this issue be closed?

[2021-12-13 19:03] pixelzoom commented on #1106
I can’t think of a way to do this.

And there are many things that I don't like about this API:

(1) There is no IEnumeration interface, and MammalType is overloaded as both the value type and the enum.
(2) There is no `new RichEnumeration( MammalType)` in WilderEnumerationPatterns.ts.
(3) I'd rather see `new RichEnumeration< MammalType>()`
(4) I'd rather see `new RichEnumeration<MammalEnum>( valu

[2021-12-13 19:50] samreid opened #1172 "Report a bug to JetBrains that imports are not added on autocomplete"
From https://github.com/phetsims/chipper/issues/1126

@jbphet @jessegreenberg and I confirmed that autocomplete no longer auto-imports even if you have that selected in the options.  We decided to try to reproduce this in a simple case, and, if it is reproducible, report it to JetBrains.  Also, does this affect js too or just ts?

[2021-12-13 19:51] samreid commented on #1126
@jessegreenberg and @jbphet and I met about this, we confirmed the alt+enter "add default import" is working for all of us, so we will close this issue.  But we opened a side issue to investigate why autocomplete doesn't add imports any more.

[2021-12-13 19:51] #1126 closed, assigned to samreid, jessegreenberg

[2021-12-13 19:52] pixelzoom commented on #1106
Here's the (very rough) sketch of the direction I had in mind.  I gave this ~15 minutes, then had to move on to other things.

[code]

[2021-12-13 20:07] pixelzoom commented on #1149
Still mysterious to me too.  But I don't think it's worth continuing to investigate, so closing.

[2021-12-13 20:07] #1149 closed

[2021-12-13 20:58] jonathanolson commented on #1140
Presumably we'd put it in aqua, since that's where we'd want to take the JS stack and convert it to the TS stack. Does the transpile generate source maps?

[2021-12-13 22:41] samreid commented on #1106
@pixelzoom and I met to discuss the review today. We focused mainly on the rich enumeration pattern.  Ultimately, @pixelzoom said he rarely uses the rich enumeration pattern and avoids it when possible, and recommended a review with @jonathanolson may be a good next step.  Once @jonathanolson has reviewed, the three of us can meet together to decide how to proceed.

@pixelzoom explained that it is

[2021-12-13 22:48] pixelzoom commented on #1166
This is apparently still affecting everyone who is working in .js files.  It sure is making my life difficult.  And @zepumph said in Slack:

[2021-12-13 22:49] zepumph commented on #1166
This is not the same issue at all, but it related enough that I thought I'd tag https://github.com/phetsims/chipper/issues/1126, in which @jbphet and I were finding that in typescript files, depending on the way we were trying to import a file, the typescript engine in webstorm was not finding the file to import (Ctrl+Space vs Alt+Enter mattered)

[2021-12-13 22:53] pixelzoom commented on #1106
You captured our conversation accurrately.

Regardless of how you proceed, I think it should be high-priority to address the bugs in RichEnumerationProperty.js and StringEnumerationProperty.js that are mentioned in https://github.com/phetsims/chipper/issues/1106#issuecomment-992777933.

[2021-12-13 22:56] samreid opened #1173 "Should our watch process do more than just transpile?"
I considered generalizing the transpiler watch process so that it triggers (a) transpilation (b) type checking and (c) linting, so we only have one file watcher total, and it can do everything we might want to do.

I have been running tsc --watch separately from transpiler --watch, so for my first consideration it would combine these.  @pixelzoom also mentioned he has been running lint a lot, and

[2021-12-13 22:57] samreid opened #1174 "Can we optimize the precommit hook by asking it to check in with the watch process?"
Similar to #1173, I also considered wiring up the precommit hook to the watcher process so the precommit hook just asks the watch process if it is good to go.

I also realized that if you change code in e.g., sun you need to run the type checker not just on sun and its dependencies, but on things that use sun (things that have sun as a dependency) so you can make sure they didn’t break.

[2021-12-13 23:07] jonathanolson commented on #1106
A lot of code relies on enumeration values being string-able, including a lot of phet-io state code.

[2021-12-13 23:14] pixelzoom commented on #1106
Making an object string-able in no way requires using `toString`, there are more robust approaches.  In every language that I've used, `toString` comes with the disclaimer "do not rely on the format", and it's a best-practice to use it only for debugging.

[2021-12-13 23:15] pixelzoom commented on #1106
Orientation.toString is a good example of a bad practice.

[2021-12-13 23:43] samreid commented on #1166
I created a blank WebStorm project, and added 2 *.js files, and saw that imports worked really well. It imported on autocomplete and on alt+enter.

[2021-12-14 02:34] samreid opened #1175 "package-lock.json files getting created after updating npm version"
Today I updated npm.  Build processes are failing because it keeps creating package-lock.json.  Following https://github.com/phetsims/chipper/issues/578 I set `npm config set save false` but it still created the files.  I wanted to make RC.3 for https://github.com/phetsims/circuit-construction-kit-common/issues/796 so I was deleting those files as it created them.  But there is hopefully a better

[2021-12-14 04:13] samreid commented on #1173
I have a concern that `tsc --watch` has optimizations beyond what we may get from running `tsc` over and over with incremental, and this seemed to match prior experiments.  However, it is unclear whether that could be attributed to start up overhead or not.  It would have to be tested.  If our own `tsc` is slower than just running `tsc --watch` in parallel, we will have to weigh the benefits.

[2021-12-14 05:19] samreid commented on #1140
Yes, I think they are inlined at the bottom of the file.  I'll take a look.

[2021-12-14 05:21] samreid commented on #1106
@jonathanolson said he is fairly busy for the next week or two, and recommended @zepumph.  @zepumph said he would be happy to review it later this week.

[2021-12-14 15:14] samreid commented on #1175
I observed this is happening with `grunt rc` but not just `npm install` or `npm update`.  Not sure why.

[2021-12-14 15:21] samreid commented on #1171
I deployed CCK RC.3 with this change and it seems OK so far.

[2021-12-14 18:45] zepumph commented on #1163
I have been running `transpile --watch` since yesterday morning. Just now. I just quit the program with Ctl+C and then ran `transpile --watch --verbose`, and here was the output. It just seems like so much more than I would expect from such an operation.

<details>

[code]

[2021-12-14 18:46] samreid commented on #1171
@markgammon can you please recommend a reviewer for this minor change?  @jonathanolson would be ideal, but I know he has been busy.  @zepumph @jbphet or @jessegreenberg would also be good reviewers for this area.

[2021-12-14 18:46] zepumph commented on #1163
Perhaps listening to a keyboard interrupt and saving the cache file before exiting the program?

[2021-12-14 18:47] zepumph commented on #1163
If this is not a helpful scrap, assign it back to me and I'll keep investigating and giving more findings.

[2021-12-14 18:48] samreid commented on #1163
I'm not sure what to do.  The cache file is written every time anything is transpiled.  I've been running the watch process for about 4 days.  I quit it and ran it again and got this output:

[code]

So perhaps we should collaborate if I cannot easily reproduce the problem.

[2021-12-14 18:50] samreid commented on #1175
@mattpen or @jonathanolson can you help speculate what is happening or how to investigate it?  I basically have to keep deleting package-lock.json files during a deploy which is scary.

[2021-12-14 18:53] zepumph commented on #1163
I just did the same test again, and it didn't redo any other files:

[code]

For my next test, I quit the transpiler, and then went to webstorm, and didn't change any files, but navigated to a few in the project view. When I started the transpiler again, it was again caught up with no new files to transpile. I'll assign myself to continue to experiment. @samreid can you think of some metadata to c

[2021-12-14 19:14] samreid commented on #1163
I'm not sure how any data on interrupt would be useful, since it is supposed to be rewriting the cache file any time it transpiles a single file.

[2021-12-14 19:51] markgammon commented on #1171
@jbphet will do a review.

[2021-12-14 20:37] samreid commented on #1175
@mattpen said this may be fixed in a newer version of node.

[2021-12-14 20:41] mattpen commented on #1175
@samreid - Please check out @pixelzoom's comments in this issue: https://github.com/phetsims/chipper/issues/1035.  It looks like updating your node version should fix it.

[2021-12-14 23:01] samreid commented on #1175
[code]

I'll reopen if there are more problems in the future, thanks!

[2021-12-14 23:10] pixelzoom commented on #1060
We spent so much time discussing this, it's gone nowhere, and I'm seeing so much NEW code that is not using the new convention (including the sim I'm code reviewing today).  And as @jbphet mentioned at last dev meeting, we need a chip-away to get existing sims moved over to this convention.  So I'm going to move this back into the "triage" list in the Developer Meeting project board, with high pri

[2021-12-14 23:13] pixelzoom commented on #1112
Why is this in the "done" column of the Developer Meeting project board? It's still open.

[2021-12-15 05:13] samreid commented on #1160
We may optimize this by implementing https://github.com/phetsims/chipper/issues/1174 -- having one watch process, and the precommit hook just "checks in" with the watch process to see (a) is it running and (b) is it up-to-date with no errors?  I also realized:

[2021-12-15 05:31] samreid commented on #1168
This bit me during https://github.com/phetsims/tasks/issues/1090.  I changed an image filename, transpiled the new file, and neglected to change the import.  Lint passed and the code still ran.  The first step toward a remedy may be: the watch process could observe file deletion and delete the corresponding dist file.

[2021-12-15 13:27] pixelzoom commented on #1168
That's exactly the scenario kind of scenario that I feared was possible.

[2021-12-15 16:10] pixelzoom commented on #1060
We decided that this convention and rule should apply to all "media file" imports. From the meeting notes in https://github.com/phetsims/chipper/issues/1060#issuecomment-906688485:

[2021-12-15 16:19] samreid commented on #1060
Sounds good, should I delete the `import-resource-variable-suffix` rule?

[2021-12-15 16:29] jessegreenberg commented on #1060
Yes that can be deleted, it is going to be replaced by a different lint rule in https://github.com/phetsims/chipper/issues/1079.

[2021-12-15 16:47] samreid commented on #1060
Thanks, I deleted it.

[2021-12-15 17:44] pixelzoom commented on #1157
Reopening.  There is still a problem with the `npm install` instructons.

README.md says:

[code]

PhET Development Overview says:

[code]

In Slack, @samreid said:

If that's indeed the case, then README.md needs to be revised again.

[2021-12-15 17:55] pixelzoom opened #1176 "README.md: WARNING404: Skipping potentially non-public dependency"
@samreid while you're working on updating README.md files for https://github.com/phetsims/chipper/issues/1157, here's an additional wart related to PhET-iO.

README.md for all sims says:

That results in a number of warnings:

[code]

Should README.md indicate that it's safe to ignore these warnings?

[2021-12-16 16:36] samreid commented on #1106
I experimented with using rich enumerations instead of string enumeration + values in CCK.

[code]

The BEFORE pattern has many concepts to keep straight.  It's a StringEnumerationProperty which takes values of type `string` but only valid values taken from the values in `CircuitElementViewTypeValues` but is `Property<CircuitElementViewType>`.  You pass the values separately like `CircuitElementVi

[2021-12-16 16:47] jessegreenberg commented on #1079
This lint rule is working well, thanks @zepumph. I just removed a console.log, but I tested it and it is working well.

[2021-12-16 17:00] zepumph commented on #1060
I believe the main point for discussion at dev meeting is how to prioritize this quite manual work of renaming files, assets, and imports.

[2021-12-16 17:11] samreid commented on #1060
I added this to status meeting agenda:

SR: For designers and artists, we have a new convention for filenames.  Images, sounds, mipmaps, etc should use camel casing like:
wavePacketHomeScreenIcon.png (GOOD: camel casing)
wave-packet-home-screen-icon.png (BAD: hyphens)
This makes it easier to load into the code
Not strictly necessary for assets/, but consider consistency when adding a source artwor

[2021-12-16 19:08] samreid commented on #1160
We discussed it today, we agreed it is OK to run the full type check as a precommit hook.  We like the fast transpilation, and this seems like a reasonable compromise.

[2021-12-16 19:08] #1160 closed

[2021-12-16 19:16] zepumph commented on #1163
@jessegreenberg mentioned that he is experiencing this as well.

[2021-12-16 19:19] samreid commented on #1166
From today's meeting, we agree this is a problem.  @samreid will test a blank project with a "far away" structure, and report it to JetBrains at high priority.

[2021-12-16 19:22] samreid opened #1177 "Rename media files and imports"
For https://github.com/phetsims/chipper/issues/1060.  @jessegreenberg volunteered to fill in details.

JG EDIT: Here is the list of repos with lint failures from `default-import-match-filename`. In order to test in your repo, uncomment this line in chipper's .eslintrc file and run `lint`.

[code]

If you need to disable the lint rule, you can use
[code]

- [x] acid-base-solutions (@pixelzoom)
- [x

[2021-12-16 19:23] samreid commented on #1060
Once https://github.com/phetsims/chipper/issues/1177 is done, we can turn on the new lint rule.  That's all that's left for this issue, the main work will be in the chip-away.

[2021-12-16 19:47] jessegreenberg commented on #1177
Repos currently failing `default-import-match-filename` have been added in the checklist above with responsible devs noted. Chipping can commence!

[2021-12-16 19:49] zepumph commented on #1163
With the addition of improvements like https://github.com/phetsims/chipper/issues/1173 and https://github.com/phetsims/chipper/issues/1174, @samreid and I thought it would be good to get to the bottom of this!

[2021-12-16 19:49] jessegreenberg commented on #1060
Adding on-hold label for https://github.com/phetsims/chipper/issues/1060#issuecomment-996111085.

[2021-12-16 20:19] pixelzoom commented on #1177
My repos are done. I'm looking forward to when we can enable `default-import-match-filename`, because this is the second time I've done this, and new errors had snuck in.

[2021-12-16 20:30] pixelzoom commented on #1177
I noticed that someone else was assigned to scenery-phet, and I'm the responsible dev. So I took care of scenery-phet too.

[2021-12-16 22:14] jessegreenberg commented on #1079
Should `default-import-match-filename` be a total replacement of `require-statement-match`? It is not catching this currently:
[code]

[2021-12-16 22:28] jessegreenberg commented on #1079
Nevermind, I see now that `default-import-match-filename` is for `imports` and `require-statement-match` is for require statements.

[2021-12-16 22:28] #1079 closed

[2021-12-16 23:08] samreid commented on #1173
I found that `tsc --watch` is consuming a staggering 70% CPU when doing nothing (all built, no files changing).

[2021-12-16 23:12] jbphet commented on #1171
A couple of notes for future reference:
- acorn is "A tiny, fast JavaScript parser written in JavaScript.", according to [its npm page](https://www.npmjs.com/package/acorn).
- I ran the command `find ./node_modules/ -name package.json | xargs grep acorn`, and from the results I think that webpack has the dependency on acorn, and possibly some other packages that we don't explicitly specify.

In ge

[2021-12-16 23:35] pixelzoom commented on #1173
If you're measuring that with macOS Activity Monitor...  In Activity Monitor, each core/hyperthread accounts for 100%. (Hyperthreading splits each physical core into 2 virtual cores.) This is why you'll frequency see %CPU values > 100%.   So you're likely using 70% of 1 core.  If you're on an M1 MacBook Pro (8 cores), I believe that's < 10% of the machine's potential.

[2021-12-16 23:50] samreid commented on #1173
Agreed, thanks.

@pixelzoom also said on slack:

The near-0.0% CPU of `node js/scripts/transpile.js --watch` seems preferable to `tsc --watch`, so I'm somewhat more incentivized to work on that.

[2021-12-16 23:56] samreid commented on #1175
Still happening even for creating dev verisons.

[2021-12-16 23:59] samreid commented on #1175
`npm config set package-lock false` seemed to work, thanks https://codeburst.io/disabling-package-lock-json-6be662f5b97d

[2021-12-17 00:28] pixelzoom commented on #1106
-1, for 3 reasons:

(1) I'm not a fan of rich enumerations. From what I see in the PhET code base, they eventually take on dubious responsibilities, some of which are sim-specific. They are easily abused, and there's almost always an acceptable/better alternative.

(2) String unions are an idiomatic way to implement enumerations in TypeScript.  They are a good/simple/obvious match for PhET-iO seri

[2021-12-17 00:42] zepumph commented on #1177
I have 3 more repos still to get to that I haven't yet, but along the way, I'm finding that some of my repo's errors are from common code sounds or images. In my opinion this is the job of the person fixing that common code, and not something to do eagerly in my sim. Furthermore I think it would be easiest if everyone did their sims first before working on common code, but that isn't likely a univ

[2021-12-17 02:33] samreid opened #1178 "path.sep is coming up undefined halfway through Transpiler.js lifecycle"
I'm flummoxed that path.sep is coming up undefined halfway through Transpiler.js lifecycle.  How is this even possible.  I traced it back from filename.split() coming up wrong, then observed that path.sep is undefined at that point.  We aren't changing path.sep.  Is there a bad library in node?

[2021-12-17 02:40] samreid commented on #1178
@zepumph said:

In my testing, this issue seemed to be related.  We should try to understand better how path.sep is getting broken.

[2021-12-17 03:02] samreid commented on #1106
We only have 10 or so rich enumerations across our codebases.  Some of them are sim specific.  Picking one somewhat at random: collision-lab/js/inelastic/model/InelasticPreset.js I don't see any problems with it and it seems a good solution for the problem.  Yes it could be done with a string union enumeration and utility methods, but the existing implementation makes sense.  Are you thinking ther

[2021-12-17 03:10] samreid commented on #1166
I was hopeful about WebStorm 2021.3.1 since it had a lot of release notes about fixing imports, https://confluence.jetbrains.com/display/WI/WebStorm+213.6461.19+Release+Notes but it's still buggy.

[2021-12-17 04:44] samreid commented on #1166
Things are working fine in an empty project:

![image](https://user-images.githubusercontent.com/679486/146490288-2d017f3d-5682-4c44-8b4e-4821ab80cae2.png)

So there must be something different about our projects.

[2021-12-17 05:24] samreid commented on #1166
I isolated the problem and submitted a bug report to JetBrains here: https://youtrack.jetbrains.com/issue/WEB-54083

[2021-12-17 11:10] samreid commented on #1178
Fixed--I shadowed path with a filename, closing.

[2021-12-17 11:10] #1178 closed

[2021-12-17 15:36] pixelzoom commented on #1106
I'm thinking specifically of scenery.Orientation, proably the most prominent enum in common code. There are so many fields in Orientation that are related to specific uses of Orientation.  Let's take one:

[code]

What's the justification for a general "orientation" enumeration having knowledge of LayoutBox, or any responsibility related to LayoutBox?

Look at the other Orientation  fields and you

[2021-12-17 17:46] samreid commented on #1172
This may be related to the monorepo package.json problem described in https://github.com/phetsims/chipper/issues/1166

[2021-12-17 21:57] samreid commented on #1163
I noticed that on windows the initial scan paths were all backslash, and the watch paths were /..\..\..\ (one forward slash).  So files that updated did not cached the same way as files in the initial scan.  I also noticed some paths were only identified properly on Mac (since it was using hardcoded `/` search), so I generalized that too.  It seems ok on my windows machine.  @zepumph can you pleas

[2021-12-17 22:16] zepumph commented on #1163
So far not a single rechurn, but I have only been using for 20 minutes. I'll come back and finish the review off next week after a bit more time.

[2021-12-17 22:17] zepumph commented on #1177
I though I'd post a pretty helpful script I've used in 2 repos for ~200 files thus far. I hope others find it useful!

[code]

[2021-12-17 22:23] zepumph commented on #1177
Ok. I have a new path forward on usages of common-code repo media used in my sim but that hasn't been converted yet. I found it best to rename the variable to what the resource WILL be, even though the common code `.js` file still has hyphens. This will greatly decrease the burden of some of the giant repos (I'm looking at you tambo). If everyone did that I think it would be really nice.

[2021-12-17 22:38] zepumph commented on #1060
Is it purposeful that the lint rule isn't very strict on special characters in the matching?

This passes the lint rule. . .
[code]

[2021-12-17 22:53] zepumph commented on #1177
I finished with my sims. and common code. In regards to eagerly changing variable names to camel case even when the common code resources haven't been changed yet (see https://github.com/phetsims/chipper/issues/1177#issuecomment-997065783), I actually found a bug that is working in my favor for that. https://github.com/phetsims/chipper/issues/1060#issuecomment-997071841. When I convert things like

[2021-12-20 17:20] samreid commented on #1166
JetBrains replied in https://youtrack.jetbrains.com/issue/WEB-54083#focus=Comments-27-5665822.0-0

[2021-12-20 22:31] chrisklus commented on #1177
I finished my sims. Thanks @zepumph for the helpful script from https://github.com/phetsims/chipper/issues/1177#issuecomment-997063327!

[2021-12-21 03:54] samreid commented on #1106
@pixelzoom can you please evaluate the proposal in https://github.com/phetsims/chipper/issues/1106#issuecomment-996397059 that seems to address all of the issues you raised.  Should I build out the example around that idea?

[2021-12-21 17:19] samreid commented on #1177
From slack:

Michael Kauzmann  8:54 AM
Good job team, we are down to 638 lint errors for the media import matching. Almost halfway!
8:55
My experience, and what I have heard from a few I've talked to is that it is slow, annoying, and quite manual. My recommendation is to push on this as much as possible so that we can turn the lint rule on in master before more of these errors pop up.
8:55
(of cou

[2021-12-21 17:21] pixelzoom commented on #1106
I suspect that developers will prefer `Orientation.VERTICAL` to `OrientationContainer.VERTICAL` (or some other name).   So I don't think it's worth pursuing that direction.

[2021-12-21 17:24] zepumph commented on #1106
Enumerations review

Is it too confusing to call that field enum? Since that is already a keyword in TypeScript?
  is there a reason not to call is `enumeration`?

Yes, I think that moving those to tandem is a good pattern, if in the future we had a type in phetcommon that needed an IOtype, the best course of action would likely be to have an `XTypeIO` in tandem, next to RichEnumerationIO.

Does t

[2021-12-21 17:29] pixelzoom commented on #1106
Do you mean freeze the enumueration, or freeze the values?   We may want to do both, but we should definitely freeze the values -- enumeration values must be deeply immutable.

Should we also required (via assertion? code review?...) that the class for enumeration values has a private constructor?

[2021-12-21 20:43] pixelzoom commented on #1106
@samreid @zepumph @pixelzoom had a long Zoom meeting about this today.  I'm afraid I didn't take good notes, but my recollection of the highlights is:

* Proceed with rich enumeration pattern as in WilderEnumerationPatterns.js (level 3).
* Prefer rich enumeration pattern (level 3) over string unions for non-rich enums (levels 1 & 2) for _ALL_ type of enums, because of WebStorm refactoring support

[2021-12-21 21:43] zepumph commented on #1106
@pixelzoom, @samreid, and I met today about this issue. (3 hours long).

In general we fine tuned the RichEnumeration pattern, and discussed the differences between it and the "string literal" patterns.  In general we feel the following ways:

* The "rich enumeration" pattern (really just an enumeration pattern) is quite simple, although it is a bit awkward to have static members of its own type:

[2021-12-27 19:12] jessegreenberg commented on #1060
I think it should be more strict, from https://github.com/phetsims/chipper/issues/1060#issuecomment-906688485

That example passes because of `normalizeFilename` in default-import-match-filename.js. Can we remove "normalizing" in `isCompatible`? This change to the rule makes sense to me, does it work or you @zepumph?

<details>

[code]

</details>

[2022-01-03 17:53] zepumph commented on #1060
Yes thanks. That's totally it. Committed above. I was able to test by noting that after your changes, there are 10 lint errors in molarity, as expectected. I'm also now seeing a total of only 400 lint errors for this across the project. How fun!

I was wondering though it this part is even needed now, can you imagine a usage where the variable could possibly include the file extension given that i

[2022-01-03 18:14] zepumph commented on #1163
I have not encountered any issues since @samreid committed 17 days ago. I would consider this a success! Thanks for not giving up on us lowly windows folks Sam. I'm ready to close when you are.

[2022-01-04 15:41] jessegreenberg commented on #1106
I recently tried out RichEnumeration and "Level 2: String union type and ability to get the values at runtime." in WilderEnumerationPatterns.ts. So far I prefer the RichEnumeration, it has better IDE support and makes it easier to see which enumeration the values are associated with.

[2022-01-04 18:16] zepumph opened #1179 "Transpile bug upon using pull-all.js"
I am encountering a bit of strange behavior with the Transpiler recently. It always happens after activeRepos gets reloaded.  Basically the problem is that after pull all, the transpiler freezes, and doesn't detect any further changes. I believe that it is from this line, but I can't be sure. . . .

Looking at the code, it seems like there isn't a `trim` command in https://github.com/phetsims/chip

[2022-01-04 18:17] zepumph commented on #1179
Tagging @samreid so he (the author), is aware of the changes. I'll check back on this in a few days to see if anything has changed.

[2022-01-04 18:49] zepumph commented on #1106
Thanks for the comment. Yes I totally agree, even for simple cases, I am very used to the RichEnumeration pattern, and it is easier to use, autocomplete, refactor, and rely on during run time. This issue lost steam because of the holiday, but the current "Level 3" pattern in `WilderEnumerationPatterns` was working well two weeks ago, and is the best iteration on RichEnumeration so far.

[2022-01-05 16:14] samreid commented on #1106
As I am porting to use the proposed pattern in CCK AC, I observed that this line has no type errors:

[code]

It should read like so:
[code]

This is unfortunate, but I don't see why the former is not a type error, or how this problem can be overcome.

[2022-01-05 18:04] samreid commented on #1106
I pushed a proposed fix for that problem above.  My next problem with the proposed pattern is that autocomplete doesn't work seamlessly.  For instance, typing `const p = new RichEnumerationProperty( CircuitElementViewType,  );` then pressing autocomplete-by-type after the comma doesn't suggest `CircuitElementViewType.LIFELIKE` or `CircuitElementViewType.SCHEMATIC`.  I'm not sure how to overcome th

[2022-01-05 19:19] zepumph commented on #1106
Ahh, yes https://github.com/phetsims/phet-core/commit/2e3db09a3e92a65d4998b79190850b6dc58cae00 makes this problem very clear. Great job and great comment.

Does it autocomplete though if you type `CircuitElementViewType.`?

[2022-01-05 21:10] zepumph commented on #1179
On slack @jessegreenberg said:

I think that sounds very similar to this, but I wonder if he already had pulled in this change. @jessegreenberg were you experiencing this after pulling, and restarting the transpiler since yesterday?

[2022-01-05 21:18] jessegreenberg commented on #1179
I do not have that change on my local copy, Ill pull and see if the problem goes away.

[2022-01-05 21:40] jessegreenberg commented on #1179
I am not sure if this is a complete test, but I checked out quadrilateral in a different location on my machine, made a test commit there, pulled that change in my normal working location, and then verified that transpile.js picked up the change. This much was working well!

[2022-01-05 21:42] zepumph commented on #1179
I would add that when I pulled all this morning, I didn't not have to restart my transpiler. I believe this is fixed. @samreid feel free to close.

[2022-01-05 22:20] samreid commented on #1106
Type-matching completion suggests these options:

![image](https://user-images.githubusercontent.com/679486/148297702-ec017b97-b6f9-45b0-98a8-5aed881d122d.png)

[2022-01-05 23:34] samreid commented on #1106
In the commit, I added `enumeration` to `EnumerationValue` and used that to remove the RichEnumerationContainer parameter from RichEnumerationProperty.  That means code will change from
[code]

to

[code]

This modified several sims, so I'll notify slack.

[2022-01-05 23:43] samreid commented on #1171
Let's reopen until we figure out https://github.com/phetsims/perennial/issues/256

[2022-01-05 23:51] samreid commented on #1171
I decided to revert acorn for now.  After reverting it, I did a trial deploy of CCK DC phet brand, and it seemed to work OK.

[2022-01-06 17:18] jessegreenberg commented on #1179
I ran into an issue with pull again, I don't know if it should be noted here or in a new issue. I did the following:
- Started transpiler.js
- ran perennial/bin/pull-all.sh
- Tried to run greenhouse-effect

I saw this error:

Then I restarted transpiler.js and the issue went away.

[2022-01-06 18:07] zepumph opened #1180 "How should the code review checklist change given Typescript?"

[2022-01-06 18:10] zepumph opened #1181 "Where should design pattern documentation for Typescript go?"
From quarterly goal conversation:

CM: We need to keep the javascript patterns around since they will stick in our codebase.
KP: Seems like they should be in a separate file.

During the conversation it was noted that options, enumerations, and mixins were the main patterns that need updating documentation.

I personally feel like we should add this into the existing sections in that document, sin

[2022-01-06 18:14] jessegreenberg commented on #1060
Thanks! I can't think of why we would need (or could even have) a file extension in the variable name. Ill remove it.

[2022-01-06 18:32] jessegreenberg commented on #1060
I applied your patch and ran the lint rule and the output looked appropriate. Committed above. Good to close again?

[2022-01-06 18:46] zepumph commented on #1060
From https://github.com/phetsims/chipper/issues/1060#issuecomment-996111085:

Marking on hold again.

[2022-01-06 18:53] markgammon opened #1182 "Improve tooling for Typescript"
Devs: SR(40), MK(5)

### Q1 Priority
1. Eliminating time for commit and pre-commit via pre-commit script
https://github.com/phetsims/chipper/issues/1174

2. Eliminate friction between tools running
https://github.com/phetsims/chipper/issues/1173

3. Creating JetBrains issues for feedback/requests

Other cases/issues:
https://github.com/phetsims/chipper/issues/1167
https://github.com/phetsims/chipp

[2022-01-06 21:26] chrisklus commented on #1106
I really like the new RichEnumeration where I'm able to use it. I've tried out using it for both actual RichEnumerations and plain Enumerations, like @jessegreenberg mentioned. I don't really like mixing the Level 2 and RichEnumeration in a sim since they look so different (and because I much prefer the look of RichEnumeration), so I was hoping to just use RichEnumeration for everything.

I've run

[2022-01-06 22:29] zepumph commented on #1106
@chrisklus and I discussed these two points.

For the first topic, we found that it does seem like javascript supports objects as a key to another object:

[code]
@samreid pointed out that this is because javascript is calling `toString()` on the objects, so the above is quite buggy. For Enumeration.js, `toString()` is the unique enumeration value. That said, we felt like using `Map()` here instea

[2022-01-06 23:23] samreid commented on #1106
To discuss at dev meeting:

- [ ] When porting something like LayoutBox to TypeScript, we will have to decide how to support existing string union options like `align`.  If we continue with the string-oriented API we would introduce `type Align = 'top'|'bottom'`.  If we promote to the rich enumeration pattern, it would be like Align.TOP.  We should discuss rules for how to decide between those opt

[2022-01-07 01:09] zepumph commented on #1106
Lots of good work today, all of which is captured in the checklist in https://github.com/phetsims/chipper/issues/1106#issuecomment-999113257, and the commits since https://github.com/phetsims/chipper/issues/1106#issuecomment-1006982021. Thanks @chrisklus for two good thoughts that helped us fine tune the rich enumeration pattern. @samreid and I then had a breakthrough in our ability to remove the

[2022-01-07 02:17] terracoda opened #1183 "Text of A11y View Tool Updated - need to rebuild"
@zepumph, I have updated the text in the following file using a few live commits:
https://github.com/phetsims/chipper/blob/master/templates/sim-a11y-view.html

Please update the A11y Views that use this common code.

Actually, it would be nice to what sims are using this common code. If easy, please put a list here in this issue.

[2022-01-07 16:03] jessegreenberg commented on #1179
As I pulled all this morning, I saw the output from transpile.js indicate that it was transpiling from changes that came in during the pull. I didn't encounter an error like https://github.com/phetsims/chipper/issues/1179#issuecomment-1006763543 today.

[2022-01-08 00:11] samreid opened #1184 "Transpiler should have a quiet mode when running in builds"
From slack:

@KatieWoe

@jonathanolson

[2022-01-08 00:12] samreid commented on #1184
I said:

Yes, a build triggers the same babel transpiler.  It sounds like the console.log may be problematic, should we add a quiet mode for builds?

[2022-01-08 00:12] samreid commented on #1184
@jonathanolson replied:

[2022-01-08 05:11] samreid opened #1185 "Redistribute phet-types.d.ts"
We created phet-types.d.ts to support us in the "typescript is allowed in sim repos but not common repos" phase.  Now that we can use TypeScript everywhere, we should try to eliminate or redistribute as much of this file as possible.  I discovered this while looking at @chrisklus commits in https://github.com/phetsims/number-play/issues/71 and for needing a type for ColorDef for https://github.com

[2022-01-11 17:30] jessegreenberg commented on #1179
I just noticed a similar issue with `git stash`. In a change set I created a new file and then used it. Then I stashed my changes. Somehow the file was still used but not found in dist. I had to restart transpile.js to get it to stop looking for the stashed file.

[2022-01-11 17:35] zepumph commented on #1179
This morning I had to restart my transpiler before it recompiled all the files that came in from pulling. Perhaps I need to do a bit of research in a test repo about how git pull modifies files. Maybe transpile needs to watch git operations somehow.

[2022-01-11 17:44] jbphet commented on #1171
@samreid - I'm unmarking this is "read for review" since the original change was undone.  We can decide at the next meeting what the next steps should be and who should do them.

[2022-01-11 19:54] zepumph commented on #1183
Yes thanks, sorry I lost track of this issue. Pushing now, they should come through

This is the list of sims that have an a11y view: https://github.com/phetsims/perennial/blob/master/data/interactive-description. Feel free to book mark that if you'd like.

[2022-01-11 19:54] #1183 closed

[2022-01-11 20:31] mattpen opened #1186 "Image deployment should use release branches as the source instead of master"
Image deployments were decoupled from sim releases in order to let the image processing configuration be able to chagne independent of the maintenance release process.  As part of this work, we started using the master branch of sims as the source for screenshots.  This has caused the screenshots for some sims to diverge from the published version, in the case where we worked on improving a sims b

[2022-01-11 22:21] zepumph commented on #1179
I think this is an inherent issue with fs.watch. I found https://github.com/nodejs/node/issues/5039 which led me to https://github.com/paulmillr/chokidar. Perhaps a different watch process would improve the experience. I want to poke around with this since I can so consistently reproduce the issues around git pull. I bet git stash will be an easier testing situation. Thanks @jessegreenberg!

[2022-01-11 23:45] samreid commented on #1179
The first version of this transpiler used chokidar, but I ran into so many problems that went away when I switched to fs.watch.  But maybe windows will be better off with chokidar?

[2022-01-11 23:50] zepumph commented on #1179
Oh! Good to know, hmmm, I'm not really sure then.

[2022-01-13 00:29] jbphet commented on #1169
@oliver-phet and @RVieyra - This issue was discussed with @kathy-phet at today's development planning meeting, and @kathy-phet recommended that we assign it to you to do a bit of investigation and make sure that people would really use this custom locale if we create it.  We've done some of these before, such as in https://github.com/phetsims/rosetta/issues/158, where no one ended up using it, so

[2022-01-13 00:30] jbphet commented on #1169
@oliver-phet - Once this is vetted, please assign it back to me.

[2022-01-13 00:37] jbphet commented on #1111
@oliver-phet and @RVieyra - This issue was discussed with @kathy-phet at today's development planning meeting, and @kathy-phet recommended that we assign it to you to do a bit of investigation and make sure that people would really take advantage of these changes if we make them.  Currently, there are only two sim translations for the `ku_TR` locale, and we have done work in the past for custom lo

[2022-01-13 00:43] RVieyra commented on #1169
PhET Global doesn't have any specific initiatives in this language's region, so it would not be as high on Global's priority list as say, some African languages with similar numbers of speakers.

The real question about utility comes down to if this person is seriously willing to do the translations and intends to integrate them into their teacher ed programs--something that is clearly more system

[2022-01-13 00:56] zepumph opened #1187 "Do we still need enumeration-casing lint rule?"
From https://github.com/phetsims/chipper/issues/1106

It looks like it isn't going to be needed for the new Enumeration class. I will remove it.