[2015-11-04 21:52] pixelzoom commented on #397
@samreid

OK. Just means that test-server will take a little longer because of repeatedly linting any common files that have changed.

[2015-11-04 21:53] pixelzoom commented on #397
Back to @samreid to remove .eslintcache from .gitignore files, which is why this was reopened in https://github.com/phetsims/chipper/issues/397#issuecomment-152740697.

[2015-11-04 21:55] pixelzoom commented on #396
Great.

After thinking about the case I mentioned in https://github.com/phetsims/chipper/issues/396#issuecomment-153531910, I believe that this is a problem with the key not being camel case. A more appropriate key would be `point.xY` or `pointXY`.

[2015-11-04 22:05] pixelzoom commented on #396
Looks like a bug in the rule, underscore is not being replaced. Eg:

Running "eslint:repoFiles" (eslint) task

[code]

[2015-11-04 22:07] pixelzoom commented on #396
Rule fixed, @samreid please review.

[2015-11-04 22:16] pixelzoom commented on #396
The rule is failing.

[code]

Looks like it's failing for key `pattern_Level_0`. I'm guessing that the change made in https://github.com/phetsims/chipper/commit/ba209f60a807fbb068e15eade3bcfbd57f9e8c33 fails when there's a number at the end of a key.

[2015-11-04 22:19] pixelzoom commented on #396
Rule fixed, @samreid please review.

[2015-11-04 23:08] pixelzoom commented on #396
Two problematic string keys in joist:

[code]

The keys start with an uppercase letter, so we end up with a var that starts with an uppercase letter, which violates the var convention.  Options:

(1) Change the keys. This will affect existing translations.

(2) Change the rule to force the first char of the var name to lowercase (my preference).

[2015-11-04 23:12] aaronsamuel137 commented on #397
In https://github.com/phetsims/molecules-and-light/issues/128 I discovered that an accidentally checked in .eslintcache file will cause build failures. Not sure if this warrants leaving it in the .gitignore files or not, but wanted to mention it as something we need to avoid.

[2015-11-04 23:19] pixelzoom commented on #396
Similar problem in scenery-phet for these keys:

FaceWithPointsNode.pattern_0sign_1points
NumberControl.pattern_0value_1units
WavelengthSlider.pattern_0wavelength_1units
ResetAllButton.name
SoundToggleButton.name

[2015-11-04 23:29] pixelzoom commented on #396
With the exception of the problem noted immediately above, I've fixed all var names in common code, and all of my sim repos (with the exception of beers-law-lab).

Once the above problem is fixed, I suggest that we add the rule to .eslintrc so that other developers can start fixing their sims.

[2015-11-05 01:19] samreid commented on #397
I removed the .eslintcache entries from .gitignore in many repos above.

I think it may eventually be worthwhile to investigate caching each each repo independently--though it is at the moment unclear how to do so with the existing grunt task structure.  I'll create a separate issue for that, which can be prioritized separately.  @pixelzoom anything else to do for this issue?

[2015-11-05 01:21] samreid opened #400 "Cache eslint results repo-by-repo"
In https://github.com/phetsims/chipper/issues/397 @pixelzoom and @samreid discussed caching eslint results *across* repos.  @samreid said:

Not clear what the priority should be here, but if we determine that running the build server is too slow in the lint phase due to changes in common code, we could look into this first.

[2015-11-05 03:16] samreid opened #401 "String keys should be camel case?"
String searchability would be a bit easier if the keys in the JSON files matched the var names in the file.  Since we have decided on a camel case rule for the var names in https://github.com/phetsims/chipper/issues/396 perhaps we should go one step further and make the key names in the JSON files have this same convention?  Opinions from @pixelzoom @jonathanolson @jbphet @aaronsamuel137 @jessegre

[2015-11-05 04:50] samreid commented on #396
As discussed on Tuesday, I'm going to take a 1st pass through things before adding the rule to .eslintrc.

[2015-11-05 05:00] samreid commented on #396
I tested balancing-act and beers-law-lab after the changes above and did not see any issues.

[2015-11-05 05:24] samreid commented on #396
These seemed a bit odd in chains, but I kept them anyways:

[code]

[2015-11-05 16:52] pixelzoom commented on #397
:-1: Closing.

[2015-11-05 16:54] pixelzoom commented on #396
Feel free to rename the string keys in CHAINS.

[2015-11-05 16:56] pixelzoom commented on #401
Let's discuss at developer meeting. Changing keys has repercussions, especially if we do it after having deployed (and translated) sims.

[2015-11-05 17:00] #397 closed

[2015-11-05 18:11] samreid commented on #394
After discussion today, @samreid is going to look into writing a script that automatically updates each file to put copyright START_DATE-END_DATE based on git history.  We can keep this script around and run it intermittently to make sure things are correct.

[2015-11-05 18:12] samreid commented on #394
One question: is changing the copyright line a sufficiently substantive change that it warrants changing the copyright date?  If so, we can put END_DATE as 2015 for every file, which would be a nice simplification.

[2015-11-05 18:13] pixelzoom commented on #394
Discussion with KP at status meeting:

• Use these, as appropriate:
`// Copyright <yearOfFrstPublication>-<yearOfLastModification>, University of Colorado Boulder`

• Ignore derivative "first publication" date from ported Java/Flash source files.

• Write a script to (periodically) fix up copyright comments by getting years of creation and last modification from github.

[2015-11-05 19:01] samreid commented on #394
At the meeting, we decided that a change to the copyright statement is not a substantive change, and we should use github dates for end date as well.

[2015-11-05 19:04] pixelzoom commented on #401
Examples in common code:

Similar problem in scenery-phet for these keys:

// joist
HomeButton.name
PhetButton.name

// scenery-phet
FaceWithPointsNode.pattern_0sign_1points
NumberControl.pattern_0value_1units
WavelengthSlider.pattern_0wavelength_1units
ResetAllButton.name
SoundToggleButton.name

[2015-11-05 19:11] jbphet commented on #401
Consensus from 11/5/2015 design meeting: Leave these strings as they are, ESLint has been modified to tolerate this, and it is okay to use this pattern (TypeName.stringName) going forward for common code.

[2015-11-05 19:11] #401 closed

[2015-11-05 19:36] pixelzoom commented on #395
Dev meeting notes:

Summary of current proposal:  For RC testing and maintenance, branch a common-code repository from a sha as needed. The branch name would correspond to the sim repo name and it's release branch name.  For example, if I need to patch scenery for Beer's Law Lab 1.3, then I would locate the sha for scenery in dependencies.json in the 1.3 branch of beers-law-lab. From that sha, I w

[2015-11-05 21:16] pixelzoom commented on #396
@samreid I guess you didn't see this in https://github.com/phetsims/chipper/issues/396#issuecomment-153903824:

Sorry if I wasn't clear. I was trying to defer beers-law-lab until after RC test. But looks like you did it.  Oh well...

[2015-11-05 21:37] pixelzoom commented on #395
To branch from a sha:

`git branch <branchName> <sha>`

According to various Google sources (unconfirmed) the sha must be a full sha, not an abbreviated sha. That shouldn't be a problem since we're storing full shas in dependencies.json.

[2015-11-05 21:46] pixelzoom commented on #399
I need something mindless to do this afternoon, so I'll knock a few of these off.

[2015-11-05 22:09] pixelzoom commented on #399
I fixed all of these. Assigning to @jonathanolson to review the 3 scenery changes made in https://github.com/phetsims/chipper/issues/399.

[2015-11-05 22:23] samreid commented on #396
My apologies, you are right.  I would be happy to revert the change if you wish.

[2015-11-05 22:33] pixelzoom commented on #396
Nah, I can work with it.

[2015-11-06 03:30] samreid opened #402 "Automatically discover unused code"
It would be great to have a code coverage tool that works like this:
1. Run the simulation with the code coverage tool enabled (query parameter or added script)
2. Activate as many features of the simulation as possible, through manual manipulation
3. See a report of which lines of code were not used.

I saw blanket.js which uses an ES parser to augment the source code with line number indicators-

[2015-11-06 15:14] samreid commented on #394
I'll go with this pair of regexes:

[code]

If either is OK, then the rule will pass.  We will use a script to help us get the dates right.

[2015-11-06 16:19] samreid commented on #394
I'll close this issue and create a separate issue for the "get the copyright dates right script".

[2015-11-06 16:19] #394 closed

[2015-11-06 16:20] samreid opened #403 "Create a script that will set the correct dates in copyright comments"
From #394:

Summary of discussion with KP at status meeting, her decision:

• Use this when a file is created:
`// Copyright <yearOfCreation>, University of Colorado Boulder`

• Use this when a file is modified, and the year of modification differs from the year that the file was created:
`// Copyright <yearOfCreation>-<yearOfLastModification>, University of Colorado Boulder`

• Ignore derivative

[2015-11-06 16:31] samreid commented on #403
I added the script above, ran it on Beer's Law Lab and manually spot checked.  Still to do:

1. Run the script for every active-repo and commit the results
2. Make sure the script works properly on windows
3. Determine if there are other directories or file types that should be processed here.  The script above is currently solving the biggest problem, all files under repo/js directories, but we c

[2015-11-06 17:38] samreid commented on #403
@jbphet tested this in his machine and all seems good.  We noticed one quirk of this script though.  Committing a change to the copyright statement appears in the git log as a commit, and hence has the potential to change the "last modified" date.  Ideally we would just want to look for substantive changes, ignoring changes to the copyright line itself.  However, this seems technically much more d

[2015-11-06 17:40] samreid commented on #403
This means I will run the script twice on every source file in js directories, and all end dates will be set to 2015, even if the last change before today was an earlier year.  But this issue won't occur in future years.

[2015-11-06 17:41] samreid commented on #403
@pixelzoom is there a code freeze on Beer's Law Lab or can I proceed here?

[2015-11-06 17:52] jessegreenberg commented on #396
Went through capacitor-lab-basics, molecules-and-light, and trig-tour Saw no surprises in those sims, the rule behaved as described/defined in the comments above.

[2015-11-06 19:35] samreid commented on #396
I've been chipping away at this every day since we decided to proceed.  Still have 393 lint issues across our repos.  Considering the following options:
1. Add the rule to master and let other developers take on some of this burden (and thanks to @jessegreenberg who has proactively done this)
2. Abandon the rule in production and just use it during code reviews.
3. Leave the rule out of master and

[2015-11-06 20:36] samreid commented on #396
At the moment, it doesn't seem too worrisome.

[2015-11-06 20:54] pixelzoom commented on #403
Proceed.

[2015-11-06 20:54] samreid commented on #403
Thanks, will do.

[2015-11-06 20:58] pixelzoom commented on #396
+1 to add the rule to master and let other developers take on some of this burden.

We've been making decisions like this to clean things up, and they are not getting done. Other examples include visibility annotations, fleshing out JSdoc, and namespacing.  If we're going to spend the time deciding what to do, we should be following through.

[2015-11-06 21:06] samreid commented on #396
Thanks for your upvote @pixelzoom, I committed the rule to .eslintrc.  @jessegreenberg @aaronsamuel137 @jonathanolson @jbphet @phetsims/aadish can you please help standardize the string vars using this lint output?

[2015-11-06 21:07] samreid commented on #396
It would be great if we could formalize some of these issues in eslint rules to make it easier to remember and check.

[2015-11-06 21:09] samreid commented on #396
Since this is in master and we are going to share the burden of fixing the outstanding issues, I'll unassign.

[2015-11-06 21:28] pixelzoom commented on #396
Let's add a developer-meeting label so we can check in on the status of this.

[2015-11-06 21:42] pixelzoom commented on #396
Here's a check list of what's currently failing this rule:

- [ ] build-an-atom
- [ ] capacitor-lab-basics
- [ ] curve-fitting
- [ ] energy-skate-park-basics
- [ ] fluid-pressure-and-flow
- [ ] gene-expression-basics
- [ ] gravity-and-orbits
- [ ] gravity-force-lab
- [ ] isotopes-and-atomic-mass
- [ ] least-squares-regression
- [ ] making-tens
- [ ] molecule-shapes
- [ ] molecule-shapes-basics
- [

[2015-11-07 03:20] samreid commented on #403
To run this script, I'm going to change grunt-all.sh to point to active-repos and run `grunt-all.sh update-copyright-dates` three times.  The first time I expect to see changes in every JS file.  The second time I expect to see changes in all files that *haven't* been otherwise updated yet in 2015.  The third time I expect to see no changes since the rule should be idempotent after n=2.

I think I

[2015-11-07 03:24] samreid commented on #403
Brace yourself for commits to all of our repo/js/*.js files.

[2015-11-07 03:26] samreid commented on #403
My script is failing in dot because it has a different gruntfile.

[2015-11-07 03:30] samreid commented on #403
As the script is running, I'm realizing that we need to make sure each modified file begins with a line comment copyright.  If it is a block comment, for example, and the first line got replaced with a line comment, then the file would have syntax errors.

[2015-11-07 03:35] samreid commented on #403
I'll have to address the comment above before committing, but for the record and comparison later, there are 2,682 files modified by this in the first pass.

[2015-11-07 03:46] samreid commented on #403
I'm seeing `FIRST LINE WAS NOT COPYRIGHT` in masses-and-springs, optics-lab and one file in shred.  These will be skipped by the script and must be handled manually.

[2015-11-07 03:49] samreid commented on #403
I ran the script 1st pass, skipping the problematic files identified in the above comment, spot checked several files, compared a few files to git history to make sure dates are correct and I haven't seen any issues.  So I'll commit the 1st pass.

[2015-11-07 04:09] samreid commented on #403
166 files hit in the 2nd pass, distributed like this:

![image](https://cloud.githubusercontent.com/assets/679486/11013411/19c7ecf6-84ca-11e5-8290-6f04cd593718.png)

[2015-11-07 04:24] samreid commented on #403
The majority of the work is committed above.  Remaining work:
1. Address dot/kite/scenery

In my opinion, the following can be deferred:
1. addressing optics-lab & masses-and-springs
2. addressing js code outside of js/ such as test code, can be done manually at lower priority

[2015-11-07 15:45] samreid commented on #403
I updated scenery/kite/dot above by hacking the script to point to that directory and use cwd in childprocess.exec.  @jbphet do you recommend any further work here at the moment?

[2015-11-09 16:18] jbphet commented on #403
@samreid - in the previous comment you said:

Will this hack need to be done every time the copyright needs updating?

[2015-11-09 16:25] samreid commented on #403
There are many options:

1. Extend chipper to be able to build scenery/kite/dot, then they will automatically gain this functionality
2. Copy paste this rule into scenery/kite/dot
3. Make a way for scenery/kite/dot builds to reference this rule in chipper
4. Ignore copyright statements in scenery/kite/dot or update them manually or through a hack

I am in favor of (1) but I do not know the time or

[2015-11-09 16:28] jbphet commented on #403
It seems to me that the final solution should not omit these three repos, so I would prefer to avoid (4).  Assigning to @jonathanolson for his input on how to bring scenery, dot, and kite into the fold.

[2015-11-09 16:38] pixelzoom commented on #403
+1 for option 1, as described in https://github.com/phetsims/chipper/issues/403#issuecomment-155113719.  For this and other difference, scenery/dot/kite should conform to PhET conventions, unless there's a *really* good reason not to.

[2015-11-09 17:57] jonathanolson commented on #403
I'm fine with option 1 (seems like a lot of work to make chipper that flexible though), but would prefer an option where we didn't have to have that gruntfile dependency to do this task (and would keep dot/kite/scenery build logic more separate from sim build logic). Using grunt seems fine, but requiring top-level gruntfiles seems weird to me.

Things also missing: yotta, perennial, phetmarks, bra

[2015-11-09 18:17] samreid commented on #403
Grunt extensions or plugins sounds ideal here.  Perhaps (somehow?) scenery could use chipper by default, then add its own grunt tasks in dynamically somehow.

[2015-11-09 18:34] jonathanolson commented on #403
Since chipper's gruntfile was built for sim-like things, it sounds like a lot of development to have special cases for non-sim-like things.

[2015-11-09 18:40] jbphet opened #404 "copyright dates are incorrect in license.json files"
There has recently been some work done to make sure that copyright information is correct in our source files, see #394 and #403.  It seems that the same issue exists in at least some of our license.json files.  Here is an example from gravity-force-labs/images/license.json:

[code]

[2015-11-09 18:59] jonathanolson commented on #399
Looks good to me, thanks!

[2015-11-09 18:59] #399 closed

[2015-11-09 19:59] samreid opened #405 "Provide a "plugin" mechanism that would facilitate scenery/kite/dot builds in chipper"
In https://github.com/phetsims/chipper/issues/403#issuecomment-155113719 @samreid said:

@pixelzoom replied:

@jonathanolson said:

I'm thinking of investigating the gruntfiles like so:

[code]
and the extendChipper calls can call back to repo-specific build behavior.  We may also have to pass the gruntConfig or other things.  I'll assign to @samreid for preliminary investigation.

[2015-11-09 20:04] jonathanolson commented on #396
There are some cases in Molecule Shapes where it would be nice to allow ignoring a prefix, like for 'control.showLonePairs', I had showLonePairsString (ignoring the control). controlShowLonePairsString (and the equivalents are a bit harder to read).

I'm moving over the usages to match the linter, but just thought I'd mention as an improvement.

[2015-11-09 20:09] pixelzoom commented on #396
@jonathanolson wrote:

When we were discussing this, I mentioned that case in https://github.com/phetsims/chipper/issues/396#issuecomment-152583394, and asked for input for other developers.  But I'm afraid that train has left the station, and I've already changed numerous cases just like this. So I think we should stick with the "no exceptions" rule.

[2015-11-09 20:11] jonathanolson commented on #396
Ok, sounds good. Committed above, continuing for other sims.

[2015-11-09 20:33] jonathanolson commented on #405
Reverted .gitignore for .eslintcache above. Part of this issue may change the .eslintcache location for scenery/kite/dot 'grunt lint', so they may (in the future) need to be unignored again.

[2015-11-09 20:35] jonathanolson commented on #405
Also, Scenery/Kite/Dot may need to override the initConfig contents, or possibly we can have build configs with different names? They mostly have vanilla initConfig with registered tasks. Scenery has a small snapshot task, and Kite has a small svgPath.js generation task.

[2015-11-09 20:48] samreid commented on #396
I should also mention that if/when exceptions become necessary, they can be applied with

[code]

[2015-11-09 20:50] jonathanolson commented on #396
I've updated my associated sims and a few older easy ones.

[2015-11-09 20:58] pixelzoom commented on #396
I knocked off rutherford-scattering.

[2015-11-10 00:45] pixelzoom commented on #396
At developer meeting, let's put names next to remaining repos in https://github.com/phetsims/chipper/issues/396#issuecomment-154550443.

[2015-11-10 18:50] samreid commented on #395
@jonathanolson: in the long term, we should have an approach where we can easily redeploy all of our simulations with a common code fix.

[2015-11-10 18:56] samreid commented on #395
Consensus: we should revisit this (a) when we are releasing more maintenance releases or (b) when we want to push changes to all sims at once.

[2015-11-10 19:12] pixelzoom commented on #396
@jessegreenberg capacitor-lab-basics is still failing.

[2015-11-10 21:07] jessegreenberg commented on #396
Thanks @pixelzoom, just pushed a fix.

[2015-11-10 21:26] pixelzoom commented on #396
@jbphet and @samreid, I took care of a number of your sims, see check list.

[2015-11-10 21:30] pixelzoom commented on #396
I created individual issues for the 6 remaining sims that are failing ESLint.

Closing this issue.

[2015-11-10 21:30] #396 closed

[2015-11-11 18:18] pixelzoom opened #406 "adjust namespace in create-sim task"
Namespace was added to simula-rasa in https://github.com/phetsims/simula-rasa/issues/7. The grunt `create-sim` task needs to be modified to do the following:

(1) Rename simulaRasa.js to $NAME.js
(2) Replace `simulaRasa` with $NAME throughout .js files

... where $NAME is the name of the repository being created, converted to camel case.  For example, if the repo name is `my-awesome-sim`, then $NA

[2015-11-12 04:46] jonathanolson commented on #63
Self-assigning, as there's yet again another change that should be applied to all dev .html files. Since chipper knows more about the dependencies now, I think it should be pretty doable.

[2015-11-12 07:21] jonathanolson commented on #63
Added developer-meeting tag to discuss code review, testing and migration plan.

[2015-11-12 07:35] jonathanolson commented on #234
This was reviewed as part of https://github.com/phetsims/chipper/issues/141. Closing.

[2015-11-12 07:35] #234 closed

[2015-11-12 18:38] pixelzoom commented on #406
Looks like I should go ahead and do this, since I need to create `models-of-the-hydrogen-atom`.

[2015-11-12 19:11] pixelzoom commented on #406
This required adding only one line of code, to rename simulaRasa.js.  I tested with `models-of-the-hydrogen-atom` and verified that the files look correct, and the sim runs.

Closing.

[2015-11-12 19:11] #406 closed

[2015-11-12 19:19] pixelzoom opened #407 ""clean" option to "grunt create-sim" is broken"
The `--clean=true` option is supposed to give you the option to remove the directory. It currently aborts regardless of the value.

For example, when the repo already exists, all of these "Abort due to warnings":

[code]

This finishes with "Done with warnings", but doesn't create the files:

[code]

[2015-11-12 19:22] jonathanolson commented on #63
Developer meeting: I'll add conditional-loading for together into the same file, will check with @jbphet or @samreid for review and migration.

[2015-11-12 19:31] pixelzoom commented on #407
Here's the relevant code in createSim.js:

[code]

Does anyone mind if I remove the `throw Error`? The use case is where I've already created the repo via GitHub, I check it out, and then populate it with `grunt create-sim`.

[2015-11-12 19:39] pixelzoom commented on #407
Or perhaps `--clean` should be replaced with `--overwrite`, which defaults to `false`.

[2015-11-12 19:43] pixelzoom commented on #407
Hmmm... Looks like both `--clean` and `--overwrite` are useful (both default to false).

[2015-11-12 19:56] jbphet commented on #407
Consensus in 11/12/2015 design meeting - go for it!

[2015-11-12 20:14] #407 closed

[2015-11-12 20:19] pixelzoom opened #408 ""grunt create-sim" should adjust copyright comments"
`grunt create-sim` should replace copyright comments with

`// Copyright <currentYear>, University of Colorado Boulder`

It currently just copies the simula-rasa files without change.

Assigning to @samreid to see if he has thoughts on the best way to handle this.

[2015-11-13 00:34] jonathanolson commented on #63
I had to switch the loading style to fully dynamic synchronous script loads (instead of script tags), since there were some troubles getting loading order to be consistent with mixing two styles of scripts.

Can @samreid or @jbphet review and test? The one semi-issue was that getBuildConfig was somewhat designed to be the ONLY instance. Many functions like getPreload seem like they are more of a s

[2015-11-13 07:30] samreid commented on #63
I'll assign this to myself for review.

[2015-11-13 17:38] samreid commented on #63
Here are some differences I noticed between the sim.html template and the newly generated file:

![image](https://cloud.githubusercontent.com/assets/679486/11152762/a6f68e6c-89f1-11e5-8ff5-90f725093325.png)

Does the development version need the MOTW (and special carriage return) or open graph protocol?  Should they be added for consistency?

I recommend broad browser testing to make sure the new

[2015-11-13 17:54] samreid commented on #63
Tests look great, can @jonathanolson or @jbphet launch a newly generated html on a chromebook?

[2015-11-13 18:59] jonathanolson commented on #63
I don't mind adding the MOTW, but it only helps for loading via the file:// protocol in IE (in which case, the require.js file loading is more likely to break). That's why I didn't add it in so far.

The open graph protocol would likely point to 404s on the website for new simulations, AND it's easier for us to completely ignore strings (i.e. no title string), so I left that out.

I'll test on Chr

[2015-11-13 19:01] samreid commented on #63
Yes, sounds great, thanks!

[2015-11-13 20:57] jonathanolson commented on #63
Tested on Chromebook (looking fine). Will be doing conversions now.

[2015-11-14 01:03] jonathanolson commented on #63
Completed.

[2015-11-14 01:03] #63 closed

[2015-11-14 05:07] samreid commented on #405
I was planning on having them override/augment the initConfig contents--seems straightforward.  Not sure if different build configs is an option or how that would work to invoke one vs the other from command line.

[2015-11-14 05:59] samreid commented on #408
Not sure what is best, but I'll brainstorm some ideas for discussion:

1. Leave the copyright statement as-is since the new sim is a "derived work" from simula rasa.  Though this could conflict with grunt update-copyright-dates run later on.
2. Update the simula-rasa dates once a year on the first business day after Jan 1, so newly created sims will get the right dates.  Though these would get ove

[2015-11-16 02:02] pixelzoom commented on #408
How about just a global replace of "// Copyright *, University of Colorado Boulder" with (for example) "// Copyright 2015, University of Colorado Boulder" ?

[2015-11-16 02:04] samreid commented on #408
In your example, is the * a literal `*` or a placeholder for a date, or a placeholder for a date | date range?

[2015-11-16 02:12] pixelzoom commented on #395
Re the consensus in https://github.com/phetsims/chipper/issues/395#issuecomment-155530969 ... I don't agree that we should wait. We have an urgent need *NOW* to solve this problem. Example: We're in RC test for ph-scale and we found a problem with scenery canvas. https://github.com/phetsims/ph-scale/issues/64 required a *1-line* fix in scenery that would be trivial to patch into ph-scale 1.2, and

[2015-11-16 02:17] pixelzoom commented on #408
The '*' is a placeholder for an set of chars. Not a valid JS regular expression, but hopefully you get the idea.  Or if you prefer, replace any line that starts with "// Copyright \d\d\d".

[2015-11-16 02:41] samreid commented on #408
We could insert a line on line 95 of createSim.js:
[code]
where updateCopyright fixes the years in the copyright statement.  I'll leave this assigned to myself to do so.

[2015-11-16 02:46] samreid commented on #395
I may have misunderstood, but I thought the plan was to use the strategy described in https://github.com/phetsims/chipper/issues/395#issuecomment-154167431 (aka branching common code repos) and then to revisit this (a) when we are releasing more maintenance releases or (b) when we want to push changes to all sims at once.  Please feel free to branch common code repos for maintenance releases.

[2015-11-16 02:47] pixelzoom commented on #408
I'm working on it now.

[2015-11-16 02:49] pixelzoom commented on #395
That wasn't my understanding. After discussing on 11/12/15, I believe we decided *not* to branch off of shas, since @jonathanolson voiced concerns about that approach.

[2015-11-16 02:50] pixelzoom commented on #395
That wasn't my understanding. After discussing on 11/12/15, I thought we decided *not* to branch off of shas, since @jonathanolson voiced concerns about that approach.  And that we'd revisit this issue and try to come up with an acceptable approach at a later date.  And in the meantime, we'd continue to update to master whenever a common-code fix was needed.

[2015-11-16 02:53] samreid commented on #395
I may have been mistaken, let's wait for @jonathanolson to clarify.

[2015-11-16 02:53] pixelzoom opened #409 "use tokens for author and title in simula-rasa"
Some of simula-rasa isn't very template-like.  Here are the tokens I'm referring to, along with what I propose to change them to:

`Your Name (Your Affiliation)` -> `$AUTHOR$`

`Simula Rasa` -> `$TITLE$`

createSim.js will be modified accordingly.

[2015-11-16 02:57] pixelzoom commented on #409
Assigning to @samreid in case he wants to take a quick peek.

[2015-11-16 02:59] pixelzoom commented on #409
Note that "$TITLE$" will be displayed when running simula-rasa_en.hmtl. I'm assuming that's OK - the sim runs just fine, and it makes it clear where the title will be inserted. It appear in the browser title, the sim's title (navbar), and About dialog.

[2015-11-16 03:02] samreid commented on #409
I noted some commits in this revision: 936411a40184dac3cd4adbefe920869482c8cfdf

I didn't see any problems, and it's OK with me if $TITLE$ appears in the browser, navbar, etc.

[2015-11-16 03:02] samreid commented on #409
Close if nothing else to do here.

[2015-11-16 03:10] pixelzoom commented on #409
I don't see a commit with that sha, and GitHub is not tagging it as a sha.  ??

[2015-11-16 03:21] samreid commented on #409
Sorry, wrong repo: https://github.com/phetsims/simula-rasa/commit/936411a40184dac3cd4adbefe920869482c8cfdf

[2015-11-16 03:23] pixelzoom commented on #409
Got it, thanks. Sorry I forgot to fully quality the commits.  Closing.

[2015-11-16 03:23] #409 closed

[2015-11-16 03:31] pixelzoom commented on #408
Tested by running:

`grunt create-sim --name=foo --author="Some Guy" --title="Foo!"`

Inspecting the copyright comments, they are:

`// Copyright 2015, University of Colorado Boulder`

And the created sim passes lint and runs in requirejs mode. I was unable to confirm that it builds, because the PhET build process fails if a sim is not a GitHub repo.

Assigning to @samreid to review.

[2015-11-16 06:01] jonathanolson commented on #395
It was also my understanding that https://github.com/phetsims/chipper/issues/395#issuecomment-154167431 was the decision, and that we would branch common repos as necessary, at least until we have a better solution.

I have concerns about the approach, but we don't currently have the necessary automated testing and infrastructure to handle the other approaches I was discussing.

[2015-11-16 06:09] pixelzoom commented on #395
OK, mea culpa, thanks for clarify.  Expect to see branch "ph-scale-1.2" created for scenery shortly.

[2015-11-16 15:50] samreid commented on #408
Looks great, closing.

[2015-11-16 15:50] #408 closed

[2015-11-17 17:32] jonathanolson commented on #132
Not moving through strings from Java, closing.

[2015-11-17 17:32] jonathanolson commented on #131
Not moving through strings from Java, closing.

[2015-11-17 17:47] pixelzoom commented on #132
One of us misunderstood, so I called @ariel-phet to confirm. We are still moving strings over from Java. We are then deleting any strings that contain HTML markup, because of the differing HTML support between Java and Scenery.

Reopening.

[2015-11-17 17:51] pixelzoom commented on #132
Btw... I'm planning to use these tools for models-of-the-hydrogen-atom, so I'll reassign this to myself to bring them up to snuff.

@aaronsamuel137 How were HTML strings stripped out? Is there some code I can steal and add to these tools?

[2015-11-17 17:53] pixelzoom commented on #131
Reopening, see https://github.com/phetsims/chipper/issues/132#issuecomment-157450388. We are porting Java strings, but stripping out any with HTML markup.

[2015-11-17 17:54] pixelzoom commented on #131
Since we're stripping out, not reformatting, HTML strings, I'll move that requirement to #132.  Then this issue is ok to close.

[2015-11-17 17:55] pixelzoom commented on #131
Ah, perhaps I misunderstood the intent of this issue. Looks like there are some HTML *encoding* issues. Reopening to understand this better.

[2015-11-17 20:18] aaronsamuel137 commented on #132
No, I just used Intellij regex string replace with a few patterns, but can't remember the exact patterns off the top of my head.

[2015-11-19 19:51] jonathanolson opened #410 "Scheduled automated testing & notification emails"
It would be great to have testing run nightly, and send out an email if there are any failures?

Who should get sent emails?

[2015-11-19 19:52] jonathanolson commented on #410
Probably using headless webkit, potentially on mendeleev (where phettest.colorado.edu lives)

[2015-11-25 02:02] jonathanolson opened #411 "Documentation generation prototype"
Checked into existing JSDoc parsers, and it seems like all miss some aspects of how we structure code (for example, public tags won't catch 'scenery-internal' and so would be displayed, how we use inherit to set instance and static members, how we use ES5 setters/getters, etc.)

I'm adding some code to generate documentation as a solution for now (at least useful for dot/kite/scenery, as I ran int

[2015-11-30 17:27] jonathanolson opened #412 ""PUSH FAILED" email"
[code]

@jbphet, is this anything we need to worry about?

[2015-12-01 16:50] jbphet commented on #412
Yes, sort of.  This message indicates that Rosetta (the translation utility) received an error message when it tried to create the string file.  However, it appears that the creation actually succeeded, so the related translation was successfully published.  I'm tracking the issue in https://github.com/phetsims/rosetta/issues/105, so I will close this issue as a duplicate.

[2015-12-01 16:50] #412 closed

[2015-12-01 19:01] jonathanolson commented on #411
Tagging to discuss this approach (and its constraints) vs. other approaches.

[2015-12-03 18:33] samreid opened #413 "For stringTest=double, only duplicate the parts that don't have {}"
@ariel-phet asked if there was a way to only duplicate the important parts of strings.  @pixelzoom and I discussed it and think it would work well to change initialize-globals.js from:

[code]

to

[code]

This would mean for strings like `{0} nm` it would double as `{0} nm:nm` instead of `{0} nm:{0} nm`, which may be more realistic for testing.

[2015-12-03 18:37] pixelzoom commented on #413
This would also mean that (for example) `{0} foo {1} bar` would become `{0} foo {1} bar: foo bar`, which seems confusing.  The more "expected" result would be `{0} foo:foo {1} bar:bar`.

[2015-12-03 18:44] pixelzoom commented on #413
Btw... Not saying we shouldn't do the easier solution that @samreid proposed, just pointing out that the resulting string is a little difficult to understand.  My feeling is we should just leave this the way it is, since it's a testing tool.

[2015-12-03 18:46] samreid commented on #413
Agreed, this may be fine to leave it alone.

[2015-12-07 21:20] jonathanolson opened #414 "[branch] chrome-web-store"
Some experimental changes for testing https://github.com/phetsims/tasks/issues/403

[2015-12-08 02:50] samreid opened #415 "Discuss style for number of parameters"
In https://github.com/phetsims/bending-light/issues/315 @pixelzoom pointed out that the BendingLightView has too many required parameters (10 when the issue was created).  I asked the following follow-up questions:

1. How many required constructor/function parameters is too many?  Is it context-sensitive?
2. Should we formalize a rule for our style guide about limiting the number of parameters?
3

[2015-12-08 02:51] samreid commented on #411
I had some questions about documentation.js that I asked over in this scenery issue: https://github.com/phetsims/scenery/issues/499

[2015-12-08 14:05] samreid commented on #405
This seems like a good step to take, but I don't have time to investigate this at the moment.  Tagging for developer-meeting to decide on priority/assignment.

[2015-12-08 17:56] samreid commented on #405
At today's developer meeting, we agreed that it would be good to factor out the code in scenery/kite/dot Gruntfile.js (there is around 100 lines of duplicated code between these projects).  Factoring it out to chipper and making it available to axon/sun/... seems like a good move to make, though not high priority.  It seems like @jonathanolson should be involved with this change since he is most c

[2015-12-08 18:02] pixelzoom commented on #415
I don't think that number of parameters should be a metric.  I think the recommendations should be:

• use constructor parameters for things that have no sensible default value
• use options for things that have a default value

[2015-12-08 18:18] jbphet commented on #415
Discussed in 12/8/2015 developer meeting, consensus was to add it as an element in the code review checklist and to *not* add an ESLint rule for it at this time.

[2015-12-08 18:19] #415 closed

[2015-12-08 18:35] pixelzoom commented on #415
Rather than put this in the code-review check list, it belongs in the code-style guidelines. I augmented the code-style guidelines in "PhET Development Overview" at http://bit.ly/phet-development-overview.  Search for "For constructors, use parameters".

[2015-12-09 17:53] pixelzoom opened #416 "ESLint isn't catching violations of naming conventions"
While working on https://github.com/phetsims/bending-light/issues/315, I noticed a parameter whose name began with an uppercase letter: `IndexOfRefractionDecimals`.  This was fixed in https://github.com/phetsims/bending-light/commit/37411610ff6f93c2412ded6ddaaaee775ea90708.  But before fixing it, I ran `grunt lint` and was surprised to find that it wasn't flagged.

I also tried adding something li

[2015-12-09 17:55] pixelzoom commented on #416
Also not detecting type names that start with lowercase.  Eg I renamed bending-light's `IntroView` to `introView`, and it passed lint.

[2015-12-10 19:54] mattpen opened #417 "Investigate GA compatability with Chrome webstore"
The GA code we are using in offline sim packages is not compatible with Chrome Packaged Apps.  We need to investigate the [Chrome Platform Analytics](https://github.com/GoogleChrome/chrome-platform-analytics/wiki) library to determine feasibility.

Can we push information to our current GA setup?  Is it compatible with yotta?

[2015-12-11 22:59] samreid commented on #414
Added an option above.

[2015-12-11 23:04] samreid commented on #414
Assigned to @samreid as it pertains to https://github.com/phetsims/together/issues/181

[2015-12-11 23:18] samreid commented on #414
I'm having trouble seeing the differences between master build and chrome-web-store builds, my diff tools are all indicating significant changes in a lot of base64 data (aside from the changed timestamp, shas and script ids).

[2015-12-11 23:28] samreid commented on #414
Looks like the changes are script ids, timestamps, shas and mipmaps.  All are expected except the latter.

[2015-12-11 23:37] samreid commented on #414
ah, perhaps the mipmap order is not deterministic?

[2015-12-16 06:27] samreid commented on #416
It is difficult to know whether a variable is assigned to a constructor function or not.  For instance, the following example var *should* be uppercase:

[code]

Here is another situation where an uppercase is appropriate:
[code]

I noticed an ESLint rule "new-cap" that may be able to help us on a related problem:
http://eslint.org/docs/rules/new-cap.html

However, it doesn't detect problematic up

[2015-12-17 00:50] samreid commented on #414
@jonathanolson is it possible the mipmap order is not deterministic?

[2015-12-17 00:52] samreid commented on #414
Also, @jonathanolson if the only difference is in the ordering of the mipmaps, then can we move this to master or do you want to better understand why the mipmap order may have changed?

[2015-12-17 03:05] samreid commented on #414
Skype discussion with @jonathanolson:

[12/16/15, 5:50:59 PM] Sam Reid: From chipper#414 is it possible the mipmap order is not deterministic?

[12/16/15, 7:25:49 PM] Jonathan Olson: correct, looks like createMipmapsJavaScript.js assigns them to an object with keys, and the order of JSON.stringify's enumeration would determine the order

[12/16/15, 7:25:56 PM] Jonathan Olson: that could be fixed

[2015-12-17 18:59] jessegreenberg opened #418 "User eslint to catch missing calls to a components dispose function"
It might be possible to use eslint to catch missing dispose functions for a common component.  An eslint rule could look for patterns in event registration and verify that the dispose function exists and is used by the component.

Assigning to myself to investigate.

[2015-12-17 20:17] jessegreenberg commented on #418
We will need a way to check for the existence of dispose function for elements in sun and scenery-phet (possibly others).  This could be tricky if the dispose function assumed to be defined in the object's supertype, for example RoundStickyToggleButton and RoundButtonView.

[2015-12-17 20:19] jessegreenberg commented on #418
Ah, but if the subtype has a unique property linked, it must also extend the dispose function of the supertype.  It should therefore have its own dispose function.

[2015-12-18 18:04] samreid opened #419 "Mipmaps should be deterministic"
Sometimes it is valuable to compare two minified HTML files to understand their exact differences.  For instance, I am deploying a release candidate and I want to verify that it differs from the dev version by only known changes (such as build date, version number, etc).  However, the mipmaps output in different orders, making the diffs `diff`icult to understand.  Over Skype a few days ago, @jonat

[2015-12-18 18:31] samreid opened #420 "What is causing the differences between the dev/local build version and the rc/build-server versions?"
From https://github.com/phetsims/bending-light/issues/330

Aside from version number changes, mipmap order changes and date changes, I am seeing differences like these:

![image](https://cloud.githubusercontent.com/assets/679486/11903969/3f933a8c-a57a-11e5-9e36-d1a4606b517d.png)

* `return void 0`???
* differences in parentheses
* differences in semicolons

Marking for developer-meeting to make ot

[2015-12-19 19:33] mattpen commented on #417
@samreid @jonathanolson I think I may have found a bug in the GA code in the downloaded packages. If I download an HTML5 sim from the website (I tested Hooke's Law and Arithmetic) and then run the sim from my local drive (Win7/Chrome47) with the GA debugger enabled, I get the following errors:

    Running command: ga("send", "pageview", {dimension1: "arithmetic", dimension2: "1.0.0", dimension3:

[2015-12-22 02:02] jessegreenberg commented on #418
This is tricky to search for.  There are many possible AST's for the event registration, and several more for the call to dispose.  This is because the dispose function can be

1. In the constructor, made publicly available through ```this.dispose = ...```
2. In the inherit block, added to the object prototype
3. In an inherit block, nested inside of the return statement

All of these options gene

[2015-12-22 02:10] jessegreenberg commented on #418
Example AST for the following snippet of code in FocusOverlay.js:
[code]
[code]

[2015-12-22 04:09] samreid commented on #414
I updated the branches and manually inspected the differences.  Nothing seemed in conflict, so I merged on my working copy.  Next I tested `grunt` on beers-law-lab and tested that (a) it completed successfully and (b) the built version worked properly and did not create any additional files.  Then I pushed the merge changes to master.

[2015-12-22 04:10] samreid commented on #414
Looks like the last thing to do is document the new grunt option `chromeWebStore`

[2015-12-22 04:10] samreid commented on #414
Oh, it was already documented.  Closing.

[2015-12-22 04:10] #414 closed

[2015-12-22 17:26] samreid commented on #420
@jonathanolson said a different version of uglify or require/almond could cause this.

[2015-12-22 17:26] samreid commented on #420
Since we are not pinning a specific node version, other things could sneak in as well.

[2015-12-22 17:28] samreid commented on #420
@jonathanolson says he is not sure how important this is.  We are living a bit on the edge and run a bit of risk, but hasn't been a problem so far.

[2015-12-22 17:29] samreid commented on #420
See #114 and #419 as related issues.

[2015-12-22 17:34] samreid commented on #420
Meeting consensus: We decided not to take action at the moment, but that it was sufficient for developers to be aware of this potential issue.  Tagging @pixelzoom since he was absent from the developer meeting.

[2015-12-22 18:04] pixelzoom commented on #420
Got it, thanks.

[2015-12-22 19:26] pixelzoom commented on #416
So the conclusion seems to be that this is not possible with ESLint.  Closing.

[2015-12-22 19:26] #416 closed

[2015-12-22 23:20] jessegreenberg commented on #418
It is my understanding now that the root of the AST for the node under investigation is of the 'Program' type.  If we find a node for event or observer registration, we can quickly find the root node via ```context.getSourceCode().ast```, which returns the 'Program' node for the traversal.

We can iterate through the root node's tokens to find token.name === 'dispose'.  At this point, we may have

[2015-12-23 02:18] jessegreenberg commented on #418
Initial version of custom eslint rule added in commit above.  Rule not added to .eslintrc until the rule is verified to be functional and its designed behavior seems OK.

Not yet implemented is checking for detach with 'DerivedProperty'.

[2015-12-23 02:20] jessegreenberg commented on #418
Here is an example output when run in bending-light

[code]

[2015-12-23 21:45] mattpen commented on #417
@samreid @jonathanolson When I test sims launched using the file:// protocol they don't seem to be sending pageviews to GA in either their original state or after the modifications I mentioned above.  Can either of you point out where in GA I would be able to find pageviews of sims launched locally?  (I'm tagging Sam as he is the author of [google-analytics.js](https://github.com/phetsims/phetcomm

[2015-12-23 21:55] mattpen commented on #417
@oliver-phet @ariel-phet It looks like Chrome webstore apps will need to push GA hits to a Mobile App instead of a Website.  To test this out we need to add a property on the GA admin page for a mobile app, but when I am logged in as phethelp I don't have this permission.  Do you know who the admin is for GA for PhET?

[2015-12-24 05:16] jonathanolson commented on #417
Just checked, and I see a new property (Phet Chrome Webstore), so I assume that part has been handled?

Good catch on the file:// protocol. Sounds like that is happening for the main property. Does that happen for the Hewlett property (I think they only want things from our domain, which can't be from the file protocol), or our others?

We may also want:
[code]

[2015-12-27 03:34] samreid commented on #132
Assigning to myself based on @pixelzoom's comments in https://github.com/phetsims/bending-light/issues/50

...

[2015-12-27 03:40] samreid commented on #132
In the above commit, I've added a grunt task that ports the strings from Java .properties to babel .json (and nested in `value:{}`).  Outstanding work:
1. 2-term locales aren't supported at the moment (just a minor parse issue)
2. Checking in the 3rd party .properties parser to sherpa
3. Code cleanup/documentation (there is already some doc and eslint is passing, but I'd like to touch this up befo

[2015-12-27 03:58] samreid commented on #131
Since I'm working on #132 perhaps I should look at this issue as well.

[2015-12-27 04:00] samreid commented on #132
Oh it looks like @jonathanolson may have already done something like this in Java in the gists mentioned in #131.

[2015-12-27 19:09] pixelzoom commented on #131
This issue should probably be merged into #132.

[2015-12-28 17:05] samreid commented on #417
@mattpen I'm unfamiliar with the Google Analytics code, my commits for that file are mostly from when I moved it from one place to another.  So I'll leave this up to you and @jonathanolson to handle (though let me know if I need to get up to speed to provide assistance).

[2015-12-28 18:17] mattpen commented on #417
@jonathanolson - I haven't been able to confirm that the hits from the html sims are being sent to any of the trackers (phet-io and hewlett included) when launched from the file:// protocol.  The code I added did not fix it, although it is pretty well documented that it should so I might be missing something.

I did successfully send hits from the chrome-extension protocol using the chrome-platfor

[2015-12-28 18:22] mattpen commented on #417
Tagging the developer-meeting to discuss how hits should be structured.

[2015-12-28 19:38] jessegreenberg commented on #418
Searching for dispose could be insufficient.  What if the dispose function does not remove all listeners for the component?  eslint could be used to search for the absence of specific observer removals.  For instance, we should be able to use eslint to ensure the following (from code_review_checklist.md):
[code]

The rule could behave like this:
1) Search file for registration of observers.
2) Sea

[2015-12-29 01:12] pixelzoom opened #421 "why is create-together-files being run by build task?"
I tried to build a PhET-iO version of beers-law-lab by running `grunt --brand=phet-io`.  For some reason, this also ran the `create-together-files` task.  I now have a whole bunch of examples in beers-law-lab/build/phet-io that I don't want or need.

Why is it necessary to run that task whenever building a sim for the phet-io brand?
Or is this a misplaced workaround for building the PhET-iO exampl

[2015-12-29 01:47] pixelzoom opened #422 "warnings from 'npm install'"
[code]

The warning about lodash is new (or recent).  The other 2 have been occurring for awhile.

[2015-12-29 17:05] pixelzoom commented on #417
At 12/29/15 dev meeting, deferred until 1/7/16, when @ariel-phet and @oliver-phet are present.

[2015-12-29 17:25] samreid commented on #418
I added a link to https://github.com/phetsims/axon/issues/84 above, which was a discussion we had about creating an API to help pair link/unlink etc.

We also discussed adding runtime checks for making sure the listeners are removed.

[2015-12-29 18:08] samreid commented on #421
It seems like we can replace this with the table that has been developed for the phet-io docs.

@pixelzoom was thinking this still makes sense to do this on a sim-by-sim basis.

[2015-12-29 18:11] pixelzoom commented on #421
Would be nice if create-together-files was an optional step of a dev build, so we can do dev builds without having to wait for this step.

Recommended generating phet-io docs/examples per sim (rather than per "batch"), it will potentially result in duplicate files, but will simplify build and delivery processes.

[2015-12-29 18:13] pixelzoom commented on #421
12/29/15 Leave as is.

[2015-12-29 18:18] pixelzoom commented on #422
Transitive dependencies, we won't worry about them for now.  We should try to stay somewhat current with our 3rd-party libs.

[2015-12-29 18:18] #422 closed

[2015-12-29 18:29] jessegreenberg commented on #418
12/29/15 - It is more useful to ensure that there are pairs for listener and listener removal (like link/unlink) than a dispose function specifically.  @samreid also suggested creating a test suite that instantiates and destroys many components at a time so that we can easily track memory leaks.

For now, I will change the rule to search for pairs of listener registration and removal.

[2015-12-30 00:45] samreid commented on #132
The above comment suggests to delete any translations that have html markup.  What pattern can I match for this?  <html>, <br>, anything else?  How can we prevent false positives?

Also, should we convert <br> to \n instead of deleting those translations?

[2015-12-30 00:45] samreid commented on #132
Also, from the docs:

[code]

[2015-12-30 17:26] pixelzoom commented on #132
We explicitly decided not to try to convert HTML to some other markup.  I would delete any string that contains equal numbers of '<' and '>', since it is likely to be HTML markup.  If we delete a few strings accidentally that are not HTML, that's preferable to accidentally keeping strings that contain markup.

[2015-12-30 20:34] pixelzoom commented on #421
Reopening. This task is being run regardless of the `--brand` option.  It does nothing unless `--brand=phet-io`.  But it's confusing to see `Running "create-together-files" task` for every build.  Let's change that.

[2015-12-31 00:36] jessegreenberg opened #423 "Address unused strings"
In https://github.com/phetsims/tasks/issues/460, a build tool was added to identify translatable strings that were not being used in the sim.  The following is a list of unused strings, reported from ```grunt-all.sh```

[code]

Several of these strings will eventually be used since they were added preemptively for a port.  Most others will never be used and should be deleted.

[2015-12-31 02:05] samreid commented on #421
Fixed above and tested by building concentration with and without --brand=phet-io.  Review if you wish.

[2015-12-31 16:39] samreid opened #424 "Verify jsdoc"
I noticed eslint has a plugin that verifies jsdoc.  Should we evaluate it for potential PhET usage?

https://github.com/gajus/eslint-plugin-jsdoc/blob/master/README.md

[2015-12-31 22:50] pixelzoom commented on #421
Great, thanks for doing this. Closing.

[2015-12-31 22:50] #421 closed

[2016-01-05 20:45] jonathanolson commented on #419
Due to not thinking through my copy-paste-fu, the commit is https://github.com/phetsims/chipper/commit/598dca87189da3f9c955b61ac229ff8def5008a3.

[2016-01-05 20:45] jonathanolson commented on #419
@samreid, mind reviewing?

[2016-01-06 03:01] samreid commented on #131
It would be good to discuss the @jonathanolson gists above and make sure there are no corner cases that aren't handled in #132.  I'll tag for developer-meeting in case we don't discuss it beforehand.

[2016-01-06 03:21] samreid commented on #132
I considered the following strategies for porting strings from Java .properties to babel .json.

(a) Port each file directly.  This would be a very simple solution that simply iterates over each Java .properties file, transforms directly to json and moves to babel

(b) Use the English translation file as "ground truth", and only port translations one key at a time, using a number of fallbacks to t

[2016-01-06 16:38] pixelzoom commented on #132
This is ultimately a question for @ariel-phet - are you willing to maintain a more complicated piece of code in exchange for a higher percentage of ported strings?

My feeling is that we should be doing something simple, and relying on the translator to fill in the blanks.  And option (a) has served us well to date. That said...

Unless there's some reason to expect this algorithm to be 100% accur

[2016-01-07 19:14] mattpen commented on #417
Discussed at 1/7/2016 dev meeting.

Offline caching of hits is not a high priority requirement at the current time.
I'm going to proceed with adapting yotta scripts to analyze GA Events sent from chrome apps.

[2016-01-07 19:23] samreid commented on #132
Jan 7 2015: Meeting consensus: it would be good to move these as a batch so we can abandon this tool.  Newly submitted strings to old Java sims would be omitted.

@oliver-phet says translations coming in to Java are becoming more rare.

[2016-01-07 19:24] samreid commented on #132
Do not try to grab strings from other contexts, there is too much probability of a mismatch.

[2016-01-07 19:26] pixelzoom commented on #132
Will need to do something similar for Flash strings.

[2016-01-07 19:29] samreid commented on #132
A reminder for whoever works on this, to strip out the HTML.

@pixelzoom says just check if there is a "<" character, then presume it is HTML and toss it out.

@ariel-phet says @samreid don't spend too much time on this.  If it would be too time consuming, reassign to @ariel-phet

[2016-01-07 19:58] samreid commented on #424
@pixelzoom says it is nice that it checks for casing on `number` and `Object`
@jessegreenberg said it seems like it may be beneficial during code review
@jonathanolson says it is worth investigation

Seems like a good "rainy day" wishlist issue.

[2016-01-08 16:42] ariel-phet opened #425 "Investigate standard issue labels via api and webhooks"
I made a feature request to github, and received this reply about standardizing labels

[2016-01-08 16:44] ariel-phet commented on #425
@mattpen - when time allows could you investigate the above suggetions from github? Seems like knowing more about this topic would be great for us, as well as your personal "github mojo"

[2016-01-08 16:45] ariel-phet commented on #425
Feel free to try a test case with creating a test repo like "label test" and perhaps summarize findings in this issue.

[2016-01-08 18:12] jonathanolson commented on #425
Already had briefly looked into this, and it looked doable at the time. Also this issue is related to https://github.com/phetsims/tasks/issues/223 (duplicate?)

[2016-01-08 18:31] ariel-phet commented on #425
Yes, duplicate. I will close that task issue now that we have some more info.

[2016-01-08 22:45] samreid commented on #131
In #132 we decided to port all strings as a batch.  I don't want to proceed until discussing @jonathanolson's gists above.  I can see what all of the files are doing, but I cannot figure out why they are doing it or if it is important for our batch conversion.  Reassigning to @jonathanolson for discussion.

[2016-01-08 22:45] samreid commented on #132
I don't think I should proceed until discussing @jonathanolson's gists in #131, reassigning to @jonathanolson until then.

[2016-01-09 00:13] samreid commented on #131
After discussion with @jonathanolson:

1. Check in the gists to subversion
2. Determine where to place the output
3. That should allow us to run conversions on each svn simulation/common code directory
4. Test that the output is compatible

[2016-01-09 00:13] samreid commented on #132
@jonathanolson comments are in #131 and I am good to proceed.

[2016-01-09 00:46] pixelzoom opened #426 "delete deploy-dev.sh ?"
Can we delete deploy-dev.sh? It has been replaced by `grunt deploy-dev`.

[2016-01-09 01:53] samreid commented on #131
I committed the gists above in SVN 74479

[2016-01-09 03:02] samreid commented on #131
Using the Java utility to convert strings, I'm seeing things like extra whitespace:

![image](https://cloud.githubusercontent.com/assets/679486/12214026/bf4eb23c-b642-11e5-8fb0-495a49960520.png)

[2016-01-09 03:03] samreid commented on #131
I'm wondering if this would be simpler if we loaded strings in Node and used JSON.stringify()..

[2016-01-09 03:03] samreid commented on #131
Maybe we should do both and compare results?

[2016-01-09 03:05] samreid commented on #131
Do the strings in babel have to have a history array?

[2016-01-09 03:06] samreid commented on #131
According to commitQueue.js:

[code]

So it seems undefined history is OK.

[2016-01-09 03:38] samreid commented on #131
After 1st pass of converting files from Java (using Java), I'm seeing 11.3MB for for 3,258 items.  Will babel be OK with this?  Anyone with babel knowledge please chime in.  @jbphet @pixelzoom or @jonathanolson is that you?

[2016-01-09 03:49] samreid commented on #131
Should I keep translation.credits?  I'm thinking not but it would be difficult to add back in if I toss it out now.

[2016-01-09 03:51] samreid commented on #131
Comparing my results with acid-base-solutions pre-existing string seems like things are matching up nicely so far.  There was one removed string, the mismatch between acid-base-solutions.title and acid-base-solutions.name and the credits.

[2016-01-09 03:51] samreid commented on #131
My plan is to port all strings, then we can delete ones that already exist (if desired).

[2016-01-09 03:53] samreid commented on #131
I'm using the "check for a less than sign" rule for detecting html fragments that @pixelzoom suggested:

[code]

[2016-01-09 03:58] samreid commented on #131
To test whether the ported structure would load properly, I copied the autoported acid-base-solution "bs" locale to the acid-base-solution folder.  I'm using this sim for testing since its keys seem pretty similar to the Java version.  Then I launched with ?locale=bs.  The sim launched nicely and I could see the translated strings.

I can't think of any other good tests to do before committing, so

[2016-01-09 04:01] samreid commented on #131
I strolled through the files for another manual spot check and didn't see anything suspicious, so here comes a big commit.

[2016-01-09 04:02] samreid commented on #131
Also, hopefully the presence of an "autoport" directory in babel won't mess anything up.  Will it look like there is an "autoport" sim in the rosetta gui?  I am really unfamiliar with rosetta.

[2016-01-09 04:04] samreid commented on #131
According to the docs, rosetta "sends a request to get the active-sims list from chipper", so perhaps it is OK to have an extra directory in there?  Let's look closer.

[2016-01-09 04:07] samreid commented on #131
Apparently the sim selector draws data from this file:
rosetta/data/simInfoArray.json

So having an extra directory should be fine (unless somehow rosetta checks babel directories to try to populate that file, but it seems unlikely.  It looks like rosetta only reads this file).

[2016-01-09 04:13] samreid commented on #131
Committed above.  @pixelzoom @jonathanolson @jessegreenberg @jbphet @mattpen @ariel-phet please keep your eyes peeled for any babel problems that may result from this.  Next I'll look at XML.

[2016-01-09 04:14] samreid commented on #132
Most of the prior work I'm building on is in #131 so I'm working in that issue.  I've already committed the ported Java strings and will work on XML next.  I think this issue can be closed and we'll continue with XML in #131.

[2016-01-09 04:14] #132 closed

[2016-01-09 04:27] samreid commented on #131
Also, to finish up here, we should remove the grunt "port strings" task and its dependencies.

[2016-01-09 05:03] samreid commented on #131
I converted the XML strings using the pre-existing Java code and iterating over simulations-flash and simulations-flex.  I inspected the strings and didn't see any problems.  I tried running the Arabic strings for wave-on-a-string since the keys were a close match and it looked like it loaded and rendered properly.  I'll commit shortly.

[2016-01-09 05:04] samreid commented on #131
Since I did the Java strings there have been 2 submissions to babel, so it seems like things aren't broken:

![image](https://cloud.githubusercontent.com/assets/679486/12214512/ccc20944-b653-11e5-9eed-e2f11ae69aef.png)

Committed flash/flex strings above.

[2016-01-09 05:09] samreid commented on #131
Removed grunt task "port-java-strings" above.

[2016-01-09 05:11] samreid commented on #131
It looks like the process missed simulations-flash/common/data/localization, looking into it....

[2016-01-09 05:35] jonathanolson opened #427 "phet-admin user on Figaro doesn't have group-write flag set in umask"
Immediately after phet-admin builds, I don't have the permission to modify built files without switching to the phet-admin user (via 'su').

It would make things much easier if the group-write permissions flag was set in the umask.

[2016-01-09 06:16] samreid commented on #131
I'm no longer sure it is safe to commit to babel, so I should probably wait to hear about https://github.com/phetsims/babel/issues/7 before proceeding.  Marking for developer-meeting (as babel#7 is marked).

[2016-01-09 06:25] samreid commented on #131
Also @jonathanolson pointed out that if the flash/flex common strings are the only ones missing then we may not need to port them since we have a different strategy in HTML5.  However, I still want to find out why this directory was missed in case others are missing as well.

[2016-01-09 17:40] samreid commented on #131
Two thoughts from this:
1. We will need to be able to make commits on babel when we port strings into the correct directories
2. We could put the automatically "batch" ported strings in a separate repo if necessary (though they are already in babel/autoport).

[2016-01-11 20:08] pixelzoom opened #428 "description of `--brand` option missing from `grunt help`"
There is no info on the `--brand` option, which is critical to building a properly-branded sim.

[code]

[2016-01-11 20:14] pixelzoom commented on #428
Added help for `--brand` option to the above:

[code]

[2016-01-12 01:48] samreid commented on #426
I have been modifying deploy-dev.sh and using it for deploying dirs for phet-io.  I could come up with another way of doing this, but it has been very helpful as a reference and starting point.

[2016-01-12 02:34] pixelzoom commented on #426
Why have you been modifying deploy-dev.sh instead of the grunt task that was supposed to replace it?

[2016-01-12 02:39] samreid commented on #426
I'm more familiar with deploy-dev.sh, but I'll take deployDev.js for a test drive for next PhET-iO deploy.

[2016-01-12 03:41] mattpen opened #429 "Google Analytics errors on file: protocol"
I noticed this while investigating #417, but this is not related to the CWS so I'm opening a new issue.

Google Analytics hits when sent from a downloaded sim are currently not being sent successfully.  The problem appears to lie in compatibility issues with the "file:" protocol.  The work around I found is to set the protocol and storage checks to null and then manually set the location.  While t

[2016-01-12 16:45] jonathanolson commented on #429
Could we have it do something like "/offline/html/" + simName + "_" + locale?

Having it closer to the other entries style is helpful, and it's important to record the locale in the URL.

[2016-01-12 17:09] mattpen commented on #429
Yes, that's possible, we can get the locale from `phet.chipper.locale`.

[2016-01-12 17:25] jbphet commented on #131
During the 1/12/2016 dev meeting we decide to go ahead and get rid of the scripts, since all porting is done.  The worst case consequence (that we can think of) is that translators would just start from scratch, which would be no big deal.  @samreid will do this, in both SVN and Git.

[2016-01-12 18:03] samreid commented on #131
@jbphet also volunteered to take some 5+ minutes and review the ported strings.

[2016-01-12 18:19] jbphet commented on #426
Discussed at 1/12/2016 meeting and decided that it could be deleted.  @pixelzoom will blow it away.

[2016-01-12 20:29] #426 closed

[2016-01-12 20:38] jbphet commented on #131
I just looked at the ported strings and didn't see any obvious problems.  I spot checked several files, and the structure looks correct.  I only spent a few minutes on it but from what I can tell they look fine.

[2016-01-13 20:20] jbphet opened #430 "clone-missing-repos.sh doesn't work on Windows"
I'm setting up a new machine and tried to use clone-missing-repos.sh, but it failed.  I tracked the issue down to line endings.

[2016-01-13 20:25] jbphet commented on #430
I added a pipe through the ```dos2unix``` utility in ```print-missing-repos.sh```, and this appears to have fixed the problem.  I believe that this is a no-op on unix derivatives, but it's probably best to check.  I'll assign to @pixelzoom to test on Mac and make sure it's not broken there.  Any other Mac or Linux users can go ahead and test this before @pixelzoom if they want to.

[2016-01-13 20:25] jbphet commented on #430
On second thought, assigning to @jonathanolson to test.

[2016-01-13 22:33] pixelzoom commented on #430
On Mac OS X 10.11.3, this is broken:

[code]

[2016-01-13 22:36] jbphet commented on #430
Dang.  Okay, I'll revert it and try to figure out how to do this in a more platform independent way.

[2016-01-13 22:40] pixelzoom commented on #430
Try `col -b`

[2016-01-13 22:44] pixelzoom commented on #430
or `sed -e 's/\r$//' inputfile > outputfile`, if you're trying to remove carriage returns.

[2016-01-14 16:23] pixelzoom commented on #425
Related to https://github.com/phetsims/tasks/issues/465

[2016-01-14 22:19] jonathanolson commented on #427
Whoops, my recommendation for an octal literal was apparently bad.

[code]

I made the fix to use parseInt instead, committed, pulled on figaro and restarted build-server.

[2016-01-16 16:23] samreid commented on #419
I visually inspected the code and its output as well as doing a diff between two builds and everything looks good.

[2016-01-16 16:23] #419 closed

[2016-01-16 18:32] samreid opened #431 "Filter unused entries from babel"
From https://github.com/phetsims/bending-light/issues/341 we should have a script that iterates through babel and removes entries for unused string keys, that is, keys that appear in the translated file but not in the English version.

[2016-01-20 21:13] jbphet commented on #427
I looked at the HTML file created by the build server immediately after building the Danish (_da) version of reactants-products-and-leftovers, and it had group write permissions.  I think this means that the change to the umask is working, but I'd like to double check on the next full production deployment.  Gravity Force Labs should be going out soon, so I will try to remember to check the permis

[2016-01-20 21:50] jbphet commented on #430
I tried using ```tr -d '015'```, which was recommended here: http://stackoverflow.com/questions/2613800/how-to-convert-dos-windows-newline-crlf-to-unix-newline-n-in-bash-script.  This works on Windows.  Assigning to @jonathanolson to test on OSX.  @pixelzoom - feel free to test it if you have time and inclination.

[2016-01-20 22:05] pixelzoom commented on #430
`print-missing-repos.sh` works for me on Mac OS X 10.11.3.

[2016-01-21 06:54] mattpen commented on #425
I investigated this a bit tonight.  On first glance, it appears webhooks are probably overkill for our purposes.  It would require setting up a server that listens on a port for all activity from the phetsims organization then parses out which events are for a new repo.  It would be easier in terms of development time (and possibly in terms of resource usage on figaro or simian) to just set up a s

[2016-01-21 20:53] pixelzoom opened #432 "togetherPreload is unnecessary"
In @5bdbb01347f5e79254a79a7b6f3a4373e4982b23, `packageJSON.phet.togetherPreload` was added to specify sim-specific preloads for PhET-iO.  This was added in order to load PhET-iO API files from other sims. See https://github.com/phetsims/together/issues/204.

The `concentration` repo is currently the only client, and it looks like this in `concentration/package.json`:

[code]

This should be handle

[2016-01-21 21:05] pixelzoom opened #433 "specify PhET-iO API file in package.json?"
In getBuildConfig.js:

[code]

Why not add the API file to package.json? (`packageJSON[ 'phet-io' ].preload`, in getBuildConfig.js)

For example, here's what concentration/package.json would look like:

[code]

Then the `if` statement in getBuildConfig.js becomes:

[code]

Pros:
• Makes explicit what API files are preloaded
• We already have to specify dependency API files (eg,beers-law-lab-api.js

[2016-01-21 21:09] pixelzoom commented on #432
Tested with `?phet-io-standalone`.

Committed in https://github.com/phetsims/chipper/commit/519cfaa6aa1a457dd6225ea04d1cd5d1a7a4c119.

Assigning to @samreid for review.

[2016-01-21 21:14] pixelzoom commented on #433
I did a search for "-api.js" and don't see any other places where the naming convention for the API file is codified.  So I think this proposal is safe.

[2016-01-21 22:05] pixelzoom commented on #433
Resolution of https://github.com/phetsims/chipper/issues/432

[2016-01-21 22:05] pixelzoom commented on #433
Resolution of https://github.com/phetsims/chipper/issues/432 is a pre-requisite, so that we have the correct placement in package.json files.

[2016-01-21 22:08] pixelzoom commented on #432
Whoopsie, back to me.  I just realized that packageJSON.phet is not the PhET brand, it's supposed to encapsulate *all* fields that are specific to PhET.  So the correct entry in package.json should have `"phet-io"` nested under `"phet"`, like this:

[code]

@samreid do you agree?

[2016-01-21 22:09] samreid commented on #432
Ah, right `phet` is the root for all phet things, `phet-io` should be nested underneath. Nice catch!

[2016-01-22 18:38] pixelzoom commented on #432
`phet-io` is now nested under `phet` in package.json. Back to @samreid for review.

[2016-01-22 18:49] pixelzoom commented on #433
I made the changes proposed above in my working copy, and tested with a couple of sims by doing `grunt --brand=phet-io` and running with `?phet-io-standalone`.  No problems noted, and this seems much cleaner to me.

Based on the contents of together/js/api/, there are 11 package.json files that will need to be edited.

@samreid Let me know if you want me to make and commit this change.

[2016-01-22 19:20] pixelzoom commented on #428
I'm going to close this, anyone who's interested is welcome to review.

[2016-01-22 19:20] #428 closed

[2016-01-22 19:21] pixelzoom commented on #430
I'm going to close this.  Works for me, I doubt that @jonathanolson's testing would prove otherwise.

[2016-01-22 19:21] #430 closed

[2016-01-22 19:22] pixelzoom commented on #423
Closing. I recently created sim-specific issues for these.

[2016-01-22 19:22] #423 closed

[2016-01-22 19:26] pixelzoom commented on #382
This build failure no longer occurs. No idea why it went away, no time to investigate.  Closing, can reopen if it reoccurs.

[2016-01-22 19:26] #382 closed

[2016-01-22 19:28] pixelzoom commented on #395
Branching and patching shas has been working nicely in my experience.  I'm inclined to close this issue, and will do so unless anyone objects before Monday, 1/25/16 @ 5:00pm.

[2016-01-22 19:28] pixelzoom commented on #424
@samreid is this a duplicate of https://github.com/phetsims/chipper/issues/385?

[2016-01-22 19:32] pixelzoom commented on #129
Looks like this was addressed in phetsims/simula-rasa#408. Closing.

[2016-01-22 19:32] #129 closed

[2016-01-22 19:36] pixelzoom commented on #59
Brands used to be in specific branches. But we change that, in all brands are now in subdirectories of master. So this is no longer an issue.   Closing.

[2016-01-22 19:36] #59 closed

[2016-01-22 19:38] pixelzoom commented on #41
This issue is ancient.  And I suspect that if it were still relevant, then we should have dealt with it as part of S2015R.  @samreid and @jonathanolson should this be closed?

[2016-01-22 19:40] pixelzoom commented on #21
I don't see anything in deployProduction.js or build-server.js to indicate that this issue has been addressed.

[2016-01-22 19:43] pixelzoom commented on #21
Easiest would be to add something to deployProduction.js like this (pseudocode):

[code]

[2016-01-22 19:45] pixelzoom commented on #431
Why do we need this?  I don't believe that those strings are presented to the translator by Rosetta.

[2016-01-22 20:25] pixelzoom commented on #395
On second thought... I'll just label with 'developer-meeting'.

[2016-01-23 03:22] samreid commented on #41
I haven't noted any significant problems with the current implementation, but it is up to @jonathanolson.

[2016-01-23 03:22] samreid commented on #431
The unused strings are not presented to the translators by Rosetta, it is mainly a low-priority internal hygiene issue (which we could decide to skip).

[2016-01-23 03:41] jonathanolson commented on #41
Seems good enough, not worried. Closing.

[2016-01-23 03:41] #41 closed

[2016-01-23 04:51] jonathanolson commented on #21
I see generateThumbnails.js, but it has this code, failing without raising a warning if missing (just a string):
[code]

Also didn't check when generateThumbnails is done.

[2016-01-23 18:05] pixelzoom commented on #21
`generate-thumbnails` is can be run as a standalone utility task, or as part of the `build-for-server-task` (documented as "meant for use by build-server only", which isn't very helpful.)  So no idea what happens if I do:

[code]

Perhaps we should try that with example-sim (after removing its example-sim-screenshot.png) to see what happens.

[2016-01-26 05:33] samreid commented on #395
I'm ok to close this issue.

[2016-01-27 15:38] samreid commented on #433
Yes, please proceed.

[2016-01-27 15:43] pixelzoom commented on #433
@samreid wrote to phew-dev list:

Do you want me to wait on this until after your this deploy?

[2016-01-27 15:45] samreid commented on #433
Can we touch base on skype?

[2016-01-27 16:08] pixelzoom commented on #433
We talked on Skype, and @samreid said that this would be useful to have pre-deploy.  So I've made the change to getBuildConfig.js and package.json for all sims that have an API file.  I built all of the sims and verified that they ran with `?phet-io-standalone`.

Back to @samreid.

[2016-01-27 16:10] pixelzoom commented on #433
We talked on Skype, and @samreid said that this would be useful to have pre-deploy. So I've made the change to getBuildConfig.js and package.json for all sims that have an API file. I built all of the sims and verified that they ran with ?phet-io-standalone.

Back to @samreid.

[2016-01-27 16:14] pixelzoom commented on #433
I missed on (color-vision) which I have now updated.  But it won't build, looks like I picked up buggy changes in https://github.com/phetsims/chipper/commit/8e01f759b86e1b8ac3fe9543acaeaeaf2810b053.

[code]

[2016-01-27 16:15] pixelzoom commented on #433
Builds of non-phetio brands are also failing:

[code]

[2016-01-27 16:19] pixelzoom commented on #433
This is a lint error. As a temp fix, I've commented out the offending line and pushed, see https://github.com/phetsims/chipper/commit/3b42d966106e05d0f5460935caecbd3c31a32eaa.

[2016-01-27 21:29] samreid opened #434 "Add a command that iterates over a given list of simulations"
Many of our scripts in chipper/bin are hard-coded to operate on a single list.  For instance, grunt-all.sh works on `active-runnables`.  In some cases, it would be nice to be able to select the list of simulations as a command line argument.  For instance, if I only want to run the grunt build on the `active-sims`, there could be a command like:

[code]

I'm adding a list of `instrumented-sims` an

[2016-01-27 21:32] samreid commented on #434
I've implemented the proposed shell script above, and tested it like so:

[code]

I've also used it to create built simulations for the PhET-iO site.  @pixelzoom or @jonathanolson do you want to review?

[2016-01-28 17:24] pixelzoom opened #435 "'grunt deploy-rc' should fail if there are working copy changes"
`grunt deploy-rc` delegates a dev build to builder-server. It should fail if you have working copy changes that are not pushed.   Currently it's possible to test your working copy, forget to push, and deploy-rc.

If there are any use cases inhibited by failing, then add a grunt option that essentially says "I know that I have unpushed changes, but do the deploy-rc anyway".

[2016-01-28 17:31] jonathanolson commented on #395
I can identify 3+ fixes that could be pushed out, but haven't been due to the cost of applying them to all sims. Seems the problem is still present?

Vote to keep open, but not necessarily to re-discuss.

[2016-01-28 17:39] pixelzoom commented on #433
Removing the developer-meeting label.  @samreid anything else to do here, other than review?

[2016-01-28 17:43] samreid commented on #433
Nope, the last step will be for me to review.

[2016-01-28 17:44] samreid commented on #395
I forgot about this issue and am reversing my position.

[2016-01-28 17:56] pixelzoom commented on #395
OK, let's keep it open but not discuss (so removing developer-meeting label).

[2016-01-28 18:00] pixelzoom commented on #434
This script fails for me.

[code]

[2016-01-28 18:03] pixelzoom commented on #434
Looks like the script is assuming that the file containing the list of sims is in `chipper/data/`.  It would be preferable to not have that limitation, and default to that as a convenience if the file isn't found at the path specified on the command line.

[2016-01-28 18:08] samreid commented on #434
As described in the docs:

```The lists are drawn from chipper/bin/data```

So you can choose from:
* active-repos
* active-runnables
* active-sims
* instrumented-sims

[2016-01-28 18:09] samreid commented on #434
I like the idea of allowing any file list, and falling back to chipper/bin/data

[2016-01-28 18:19] pixelzoom commented on #434
Perhaps we should reimplement `grunt-all.sh` in terms of this new script?
Eg, `grunt-all.sh lint` is equivalent to `for-each.sh active-repos grunt lint`.

[2016-01-28 18:25] pixelzoom commented on #434
Sorry, I missed the doc.  Regardless, this script would be much more useful if it didn't require files to live in `chipper/data/`.  And I don't want to create temp files in `chipper/data/` that I may accidentally check in.

[2016-01-28 18:38] pixelzoom commented on #434
Seeing a lot of junk (probably from `echo` and `cd`) when running this script with one of the supported input files.

Eg, I expected to see:

[code]

But here's the (noisy) output:

[code]

[2016-01-28 18:45] pixelzoom commented on #434
I suppressed the `cd` output in the above commit.  I can see why the script is echoing the repository name, because something like `for-each.sh instrumented-sims grunt lint` will not identify the repository when a command is applied to it.  Eg, this is not very useful:

[code]

[2016-01-28 19:15] samreid commented on #310
@kathy-phet reviewed license things with Molly and we are in good shape.  @kathy-phet will double check whether this a special case.

[2016-01-28 19:37] samreid commented on #435
@jbphet volunteered, thanks! :stars:

[2016-01-28 19:54] pixelzoom commented on #434
The filename can now be either an absolute or relative path.  If it's a relative path and the file isn't found, then it directory defaults to `chipper/data/`.  Here are some tests:

[code]

[2016-01-28 20:30] pixelzoom opened #436 "'grunt deploy-production' doesn't update dependencies.json"
deploy-dev and deploy-rc tasks both call deployUtil.commitAndPushDependenciesJSON, which copies build/dependencies.json to ./dependencies.json, commits and pushes it.  deploy-production appears to be missing this step, so we're not getting an accurate record of dependencies.json in GitHub.

[2016-01-28 20:33] pixelzoom commented on #436
Hmmm... On the 1.1 branch of reactants-products-and-leftovers, I see this commit:

@https://github.com/phetsims/reactants-products-and-leftovers/commit/ed0092c3d16183e277310fe5c958f7932f09392b `updated dependencies.json for 1.1.0`

This looks like `commitAndPushDependenciesJSON` was called for a production deploy.

[2016-01-28 20:40] pixelzoom commented on #434
Back to @samreid for review.

[2016-01-28 21:42] jbphet opened #437 "'grunt deploy-production' should fail if there are working copy changes OR if checked out dependencies don't match JSON file"
Closely related to #435.  This was discussed in the developer meeting on 1/28/2016.  Right now, there is no warning or failure if the developer forgets to do a ```grunt checkout-shas``` before doing a production deployment, and this could case a production version to be deployed that has very different SHAs than were contained in the most recent release candidate.  We should add this check into th

[2016-01-28 21:44] jbphet commented on #437
Consider adding a check that the version number appears to be in the correct format for a production deployment.

[2016-01-28 21:57] jbphet opened #438 "add additional grunt tasks to improve workflow for creating releases"
During today's developer meeting we discussed two grunt tasks that would make the process of creating release candidates and production releases easier and less error prone.  The tasks are:

+ ```update-dependencies:``` This task would update the dependencies.json file with whatever the user had checked out locally for dependent libraries.  There should be a "big, clear message" about exactly what

[2016-01-29 16:52] samreid commented on #434
I skimmed the changes and took it for a test drive.  All seems well, thanks!  The only outstanding issue is @pixelzoom comment:

I think this is a good idea but don't have time t work on it now, I'll create a separate issue for it.

[2016-01-29 16:58] samreid opened #439 "Reimplement chipper/bin scripts using for-each.sh"
In #434 @pixelzoom said:

This would allow us to share code, for instance, grunt-all.sh is 16 lines of non-comment code that would be replaced with a single line.

Likewise, it seems like checkout-branch.sh, print-branches.sh, print-shas.sh, pull-all.sh may be implementable using for-each.sh.

I do not have time to work on this.

[2016-01-29 16:58] samreid commented on #434
I created https://github.com/phetsims/chipper/issues/439 (currently unassigned), closing.

[2016-01-29 16:58] #434 closed

[2016-01-29 18:28] samreid commented on #433
Changes look good, I have used them to take the next steps in the site deploy process and no problems noted.

[2016-01-29 18:28] #433 closed

[2016-01-29 18:29] samreid commented on #432
This looks correct, thanks! Closing.

[2016-01-29 18:29] #432 closed

[2016-01-29 18:34] samreid commented on #424
It looks like we previously decided to make sure common repos should pass eslint:valid-jsdoc, at lower priority.  I guess this issue could be for non-common repos, also at lower priority.

[2016-02-03 05:38] samreid commented on #131
I added logs to the process and verified that sims were being visited properly even though common xml wasn't.  I think we aren't porting the common strings, since the common stings for joist are very different anyways, so I think everything's done here.

[2016-02-03 05:38] #131 closed

[2016-02-04 18:20] pixelzoom opened #440 "process for publishing PhET-iO dev versions"
Discussion about the process of deploying dev versions for PhET-iO was sparked by https://github.com/phetsims/beers-law-lab/issues/153.  There is currently no process.

Decisions:
• what does the version identifier look like?
• is the major.minor.maintenance part of the version identifier shared with non-PhET-iO dev versions?
• where are PhET-iO dev versions deployed?
• how are PhET-iO dev version

[2016-02-04 18:20] pixelzoom commented on #440
@samreid If there is no process for publishing PhET-iO dev versions, how have you been providing dev versions to clients?

[2016-02-04 18:21] pixelzoom commented on #440
Related to https://github.com/phetsims/together/issues/331

[2016-02-04 18:22] pixelzoom commented on #440
https://github.com/phetsims/together/issues/331 is a duplicate of this issue, and seems misplaced (in together, should be in chipper).   I'm going to close that issue.  Here's the one relevant comment:

In https://github.com/phetsims/together/issues/331#issue-130914970, @samreid said:

Also, use .htaccess to password protect the phet-io file.

[2016-02-04 18:24] pixelzoom commented on #440
Other relevant comments from https://github.com/phetsims/beers-law-lab/issues/153:

@jonathanolson suggested:

@pixelzoom suggested:

[2016-02-04 18:29] samreid commented on #440
Custom publications on spot at html/phet-io

[2016-02-04 18:38] pixelzoom commented on #440
Does "custom publications" involve manually copying files around, or is there chipper support?

[2016-02-04 18:41] samreid commented on #440
I had changed a line or two in deploy-dev.sh to publish these to a different directory.

[2016-02-04 18:55] pixelzoom commented on #440
deploy-dev.sh no longer exists. I'm guessing that means you've changed your working copy, but not pushed.

[2016-02-04 20:45] pixelzoom commented on #440
Notes from 2/4/16 phet-io meeting:

SR: published versions so far have been through no RC test process
AP: move dev to phet-test, or somewhere that requires VPN
JO: has a preference for a cookie-based password solution, so doesn’t have to log in via a VPN
KP: have a phetio subdir (eg dev/html/concentration/1.1.0-dev.3/phetio/), so that someone with a password could get to it
ran out of time, discu

[2016-02-04 21:27] samreid commented on #440
@pixelzoom suggested deploying wrappers with each phet-io simulation, which seems nice
@samreid pointed out that we need to make sure that one wrapper works properly with a suite of simulations (and easily test that it is so)

Perhaps we should do both?

[2016-02-04 23:06] pixelzoom commented on #440
My recommendation is to publish each sim independently, with all the resources related to it in its deployment directory (including all documentation, and *especially* any source files required to use it, like SimIFrameAPI.js).  The organization of together/phet-io-site/ that you demonstrated in today's meeting is not scalable, and makes it difficult to determine which sim versions go with which o

[2016-02-04 23:47] samreid commented on #440
That sounds pretty great, my main questions (which I suspect can be solved) are:

1. When we deliver 5 sims to a client, they will get 5 identical copies of the "Developer's Guide"?  Perhaps this is OK.
2. When they load Beer's Law Lab, they use the Beer's Law Lab SimIFrameClient.js?  What about wrappers that allow the student to choose from several sims?  Would it dynamically select the appropria

[2016-02-05 01:06] samreid commented on #440
I would love a process where publishing to dev and prod are identical aside from the path.

[2016-02-05 02:15] samreid commented on #440
@kathy-phet said:

[2016-02-05 02:26] samreid commented on #440
From the Beer's Law Lab issue:

@pixelzoom said:

The problem here is this awful "2 part" hack that was added to getBuildConfig.js:

[code]

and createHTMLFilename.js:

[code]

[2016-02-05 03:38] samreid commented on #440
I published concentration-phetio on spot in https://github.com/phetsims/concentration/issues/48, and wanted to point out these issues:
1. the phet-io version and main version have different version numbers due to the workaround noted in the preceding comment
2. the phet-io version is publicly accessible and publicly visible.  This isn't a tested one, so we may want to hide/password protect it anyw

[2016-02-05 03:59] pixelzoom commented on #270
Reopening. Recommended to remove this workaround now that html filenames end with "-phetio.html".

[2016-02-05 16:41] samreid commented on #270
Workarounds removed above, tested by building with `grunt` and `grunt --brand=phet-io`, all seemed well in the filenames/version numbers. @pixelzoom would you like to take a look?

[2016-02-05 18:36] ariel-phet commented on #425
We are moving forward with this project, but investigation sounds complete, closing

[2016-02-05 18:36] #425 closed

[2016-02-05 20:32] pixelzoom commented on #440
Re questions in https://github.com/phetsims/chipper/issues/440#issuecomment-180108072:

Yes. After the initial delivery to a client, those 5 sims will continue to evolve independently, and it's highly unlikely we'll revise all 5 sims every time we re-deliver.  So it's important that each sim be "standalone", and delivered with its own supporting materials.

We should encourage clients to use each

[2016-02-06 07:56] jonathanolson commented on #114
Recommend raising priority here, see https://github.com/phetsims/yotta/issues/17#issuecomment-180716501 (can't build some older currently published sim SHAs since we don't know what require.js versions we used to build then).

[2016-02-08 16:17] samreid commented on #395
One idea occurred to me during the discussion of https://github.com/phetsims/yotta/issues/17, if we anticipate certain kinds of changes for future sims, we can try to get multiple sims to use the same branch of code.  For the sake of discussion, let's assume that we know we would need to change the analytics ID every 6 months, hence requiring a redeploy every 6 months.  In this extreme case, we co

[2016-02-08 19:50] jbphet commented on #126
Script not needed, no problem with deletion of branch.  Closing.

[2016-02-08 19:50] #126 closed

[2016-02-09 17:38] samreid commented on #114
Today we discussed putting this back on our radar, to have @samreid and @jonathanolson work on in a couple of weeks.

[2016-02-09 19:12] samreid commented on #440
Any suggestions how grunt can build both a phet brand and phet-io brand version?

[2016-02-09 19:19] samreid commented on #440
I'm going to try a new task that runs both:

[code]

I'll need to add a new option that preserves the build directory instead of clearing it.

[2016-02-09 19:22] samreid commented on #440
Or another temporary directory...

[2016-02-09 21:30] samreid commented on #440
getBuildConfig includes many fields that are computed based on the brand, and it would be tricky/confusing to try to switch out the brand after some things are initialized.  Options: move to a separate process (one grunt invocation per brand) or rewrite the way brands are handled throughout chipper to make it mutable.

[2016-02-10 00:28] samreid opened #441 "phet-io SHAs should be captured in dependencies.json"

[2016-02-10 15:52] pixelzoom commented on #270
Inspected commit, looks good, closing.

[2016-02-10 15:52] #270 closed

[2016-02-10 16:36] samreid commented on #440
Running two processes seems like it is working well.

[2016-02-10 16:42] pixelzoom commented on #440
@samreid When you complete this work, can you summarize which grunt tasks this affects, how to publish a PhET-iO dev version, where the files get published to, etc?

[2016-02-10 16:50] samreid commented on #440
Let me do my best to answer this now while it is on our minds:

1. cd beers-law-lab
2. grunt build-phet-io

From the grunt help:

[code]

* This didn't significantly affect the semantics/usage/behavior of any pre-existing tasks.
* Dev files would get published with `grunt deploy-dev`
* Production file deploy is still under consideration, perhaps it could be a new task "grunt deploy-phet-io".  But

[2016-02-10 16:56] pixelzoom commented on #440
Do files phet-branded and phetio-branded files live in the same location on spot?
Is there any access restriction to the *-phetio.html files?

[2016-02-10 17:06] samreid commented on #440
The proposed directory structure is:

[code]

The directory "protected" would be password protected.  Since students are the ones who will be launching the instrumented simulations, the instrumented simulations will not be password protected.

[2016-02-10 17:22] pixelzoom commented on #440
Thanks for the overview, looks good.

[2016-02-10 17:44] samreid commented on #440
I'm thinking of moving the devguide under protected/ as well.

[2016-02-10 19:27] jbphet commented on #166
I checked, and all sims delivered to the two primary customers with whom I've been working were built after the fix made above, so it should be safe to close this.

[2016-02-10 19:27] #166 closed

[2016-02-10 19:47] jbphet commented on #130
The work done here was for a 'phase 1' sort of thing, and I believe this issue is now supplanted by https://github.com/phetsims/chipper/issues/440.  I don't see together/doc/publishing-a-sim.md in the repo anymore, so I'm thinking it is no longer needed.  I think it's safe to close this, assigning to @samreid to confirm.

[2016-02-11 01:51] samreid opened #442 "Add build-phet-io to runnable .gitignores."
For #440 we added a new build directory `build-phet-io`, and it should be added to all of the .gitignores.

@jonathanolson did you say you had a nice way to update all of the .gitignores at once?

[2016-02-11 02:00] samreid commented on #440
I published the first phet-io dev deploy here: http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.1.0-dev.3/

We should take a close look to see if any changes should be made.  It will simplify things if we can use the same directory structure for production phet-io deploys.

[2016-02-11 02:10] samreid commented on #441
It seems like the right way to do this is by adding phet-io to the phetLibs.

[2016-02-11 02:16] samreid commented on #441
Fixed above, closing.

[2016-02-11 02:16] #441 closed

[2016-02-11 02:47] samreid commented on #130
Indeed #440 is going nicely and this issue can be closed.

[2016-02-11 02:47] #130 closed

[2016-02-11 05:01] samreid opened #443 "Triggering the sim launch must be after preloads are complete and after window.phetLaunchSimulation is assigned"

[2016-02-11 05:04] samreid commented on #443
Fixed above, next I must update all of the dev html.

[2016-02-11 05:08] samreid commented on #443
Tested beers-law-lab with brand=phet, brand=adapted-from-phet and brand=phet-io with the new HTML, all seems well.  Committing shortly.

[2016-02-11 17:37] jonathanolson commented on #442
I'll add this to the updates. Presumably just a bash script will do it.

[2016-02-11 17:52] samreid opened #444 "Additional demos should be deployed with a sim"
Sim specific custom example wrappers should be deployed with the other wrappers.

[2016-02-11 17:56] samreid commented on #443
Fixed and seems to be working, closing.

[2016-02-11 17:56] #443 closed

[2016-02-11 19:24] samreid commented on #444
After fixes above, things are working properly.  The one outstanding issue is that all wrappers are copied to the same location and there is no check for overwrites.  We should:

(a) make them output to different directories
or
(b) check for collisions before copying

I'm leaning toward (a) but the main disadvantage is that most sims won't have anything other than the general wrappers, so it would

[2016-02-11 20:26] pixelzoom commented on #440
Dev structure looks good to me, assuming it's OK to have devguide publicly available.

[2016-02-11 20:28] jonathanolson commented on #442
Done.

[2016-02-11 20:28] #442 closed

[2016-02-11 22:30] jbphet commented on #313
Looks like the code in question has been moved to getStringMap.js.  I took a look, and it looks good to me. I tested on the arithmetic sim, first using ```grunt --locales=en,es_PE```, which succeeded without errors (as it should), the using ```grunt --locales=en,ak```, which produced the expected warnings.

It should be noted that html files for the specified locales for which no translations exis

[2016-02-11 22:30] #313 closed

[2016-02-11 23:42] samreid commented on #444
After exploring (a) I decided to go with (b), closing.

[2016-02-11 23:42] #444 closed

[2016-02-15 00:00] pixelzoom commented on #436
deploy-production does in fact result in dependencies.json being committed and pushed, because it calls the deploy-dev task.

Closing.

[2016-02-15 00:00] #436 closed

[2016-02-15 17:01] samreid opened #445 "Update to Grunt 1.0.0"
Grunt 1.0.0 rc1 was released on February 11, 2016 including fixes like the nopt fix (that parses command line arguments):

http://gruntjs.com/blog/2016-02-11-grunt-1.0.0-rc1-released

There are API changes so this may not be an easy upgrade, but it seems like it is worth our time.  I'll assign it to myself but may not have time to get to it in the near future.  @jonathanolson @pixelzoom @jbphet @j

[2016-02-15 17:07] pixelzoom commented on #445
I have no time to look at this.

[2016-02-15 19:44] phet-steele commented on #410
@jonathanolson I'll take the emails if this ever happens. Maybe nightly is overkill though? We should give time for things to be fixed, or else we would be getting repetitive errors every night (assuming errors aren't fixed the same day).

[2016-02-15 20:13] jonathanolson commented on #410
Nightly seems like it would work fine if it reports only new bugs (maybe a weekly email about current bugs).

[2016-02-15 20:15] phet-steele commented on #410
well certainly if it could manage to only report new ones, I'm all for nightly.

[2016-02-15 22:07] jbphet commented on #445
Two thoughts:

1. If it's an rc1, shouldn't we wait for the full 1.0.0 release?

2. We could get started on this by showing @phet-steele how to update the package.json file, then test build and regression test on a handful of sims (and not check in the change) and see what if any error arise. If nothing breaks initially, we could do a quick script to update the package.json for all sims, and have

[2016-02-15 22:10] pixelzoom commented on #445
Do we really want to do this when we just decided to fix i18n and republish remaining sims as quickly as possible? (https://github.com/phetsims/tasks/issues/476#issuecomment-183029769)

[2016-02-15 22:11] pixelzoom commented on #445
+1 to wait for 1.0.0 GA, we don't have time for an RC.

[2016-02-15 22:12] jbphet commented on #445
Agreed - IMO we shouldn't do anything until the 1.0.0 version is available.  When it is, can can consider whether the timing works with the i18n deployments.

[2016-02-15 23:20] samreid commented on #445
OK I've unassigned and marked as on-hold.  We can re-evaluate once 1.0 is live.

[2016-02-16 17:03] samreid opened #446 "grunt generate-development-html should check that brand==='phet'"
If you run grunt generate-development-html with a non-phet brand, it will generate HTML that checks for the wrong brand.

Alternatively, we could look into why {BRAND} is a replacement variable in this file in the first place.

[2016-02-16 18:58] jbphet commented on #435
I've implemented a pass at this, but would like some pre-review before committing from someone with a bit more recent chipper experience so that I make sure that I'm being consistent with the current big picture design of chipper.  @pixelzoom has done the most work in here, but other devs may also be able to do it if he's not available.  I'm thinking I'd need 0.5 to 1.0 hours of someone's time.  A

[2016-02-16 19:05] jbphet commented on #435
There seems to be some contradiction between what this issue is specifying and what is described in https://github.com/phetsims/phet-info/blob/master/sim_deployment.md in the "Steps to publish a rc" [sic] section.  In that document, it doesn't say anything about setting up a dependencies.json file and checking out the listed SHAs when creating the first RC from a branch, so the dependencies could

[2016-02-17 17:05] samreid commented on #435
I presumed that creation of a 1st RC would entail automatic creation of the 1st version of the dependencies.json, though I am not opposed to @jbphet doing it the way he described as an extra "safety net".

[2016-02-17 17:23] pixelzoom commented on #435
`grunt deploy-dev` should *not* fail if dependencies are on master.  For the first version of a release branch (eg, 1.1.0-rc.1 on branch '1.1'), having repos on master is expected and dependencies.json (if it exists) is not relevant.  And at any point during the RC process, we may choose to use master of dependencies if that's determined to be more effective than branch-and-patch.

[2016-02-17 17:27] pixelzoom commented on #435
In https://github.com/phetsims/chipper/issues/435#issuecomment-184833699, @jbphet said:

I'm confused by this, because there should be no need to manually create or edit dependencies.json.
Could you elaborate on how you "explicitly make sure that a dependencies.json file is present"?

[2016-02-17 18:10] jbphet commented on #427
Molecule Shapes was republished recently (v1.1.2), and all the files had group write permissions.  Looks like the issue is resolved, closing.

[2016-02-17 18:10] #427 closed

[2016-02-18 17:14] jonathanolson commented on #435
Presumably we want the sim repo itself to NOT be on master at this time (1.1 would be checked out), and all OTHER repos wouldn't matter.

For the long-term, I'd still recommend we have single grunt commands for each operation, instead of having multiple steps. The steps I had to follow for maintenance releases (https://github.com/phetsims/yotta/issues/17#issuecomment-183092153) felt like a lot.

[2016-02-18 19:50] jbphet commented on #435
Consensus at Feb 18 2016 dev meeting: Don't do the part about checking that sims are on master.

[2016-02-18 19:50] jbphet commented on #435
@jonathanolson will review with me.

[2016-02-18 19:52] pixelzoom commented on #435
.... and check that working copy changes are both committed and pushed.

[2016-02-18 19:52] jbphet commented on #437
Should actually fail if dependencies don't match what's in the dependencies.json file, not just if the deps are on master.  This was decided at the Feb 18 2016 dev meeting.

[2016-02-19 21:45] jbphet commented on #437
@jonathanolson and I discussed and decided to also add a ```dryRun``` flag that would check all preconditions but skip the actual build and deployment, as well as the commit of the dependencies.json.

[2016-02-19 21:46] jbphet commented on #435
@jonathanolson and I discussed and decided to also add a ```dryRun``` flag that would check all preconditions but skip the actual build and deployment, as well as the commit of the dependencies.json.

[2016-02-19 21:50] jbphet commented on #435
I reviewed most of the changes for this issue with @jonathanolson prior to committing them, but it would be good if he could review them in their final (for now) form and do some testing on OSX (I've only tested on Windows).  Assigning to him.

[2016-02-19 21:50] jbphet commented on #437
I reviewed most of the changes for this issue with @jonathanolson prior to committing them, but it would be good if he could review them in their final (for now) form and do some testing on OSX (I've only tested on Windows).  Assigning to him.

[2016-02-23 00:05] jonathanolson commented on #435
Planning to test tomorrow, as I'll need to do maintenance releases anyways.

[2016-02-24 20:09] jbphet opened #447 "deploy-rc and deploy-production tasks should include a build step"
This was discussed in the 2/23/2016 developer meeting.

Right now, developers have to remember to run `grunt` before running `grunt deploy-rc` or `grunt deploy-production`.  If they don't, an incorrect version can get deployed, since these two tasks use the `build/dependencies.json` file when composing the command that is sent to the build server.  The `deploy-rc` and `deploy-production` tasks sho

[2016-02-26 20:19] jbphet commented on #435
In the case of the first RC on a branch, there may well be no dependencies.json file.  In this case, the code has been designed to check only the sim repo and *not* its dependencies for uncommitted and unpushed changes.

[2016-02-26 20:56] jbphet opened #448 "update localeInfo to have the language name first"
The ```localInfo``` file is used by Rosetta (the translation utility) to list the locales that are available for translation.  Many of the names are listed with the primary language first, with additional information following, for example:
[code]

However, the Chinese entries (and perhaps others) aren't done that way, and it makes them a bit hard to find in the locales list in Rosetta.  For examp

[2016-02-26 21:03] jbphet commented on #448
I made this change - looks like Chinese was the only locale where this was an issue.  I restarted Rosetta and the list of locales looks much better for Chinese.  Closing.

[2016-02-26 21:03] #448 closed

[2016-02-26 21:15] jonathanolson commented on #435
Worked as expected during deployments. Thanks!

[2016-02-26 21:15] #435 closed

[2016-02-27 02:12] ariel-phet commented on #50
@mattpen can you answer this issue about embedded HTML5 sims...this issue is quite old

[2016-02-27 05:01] jonathanolson commented on #429
@ariel-phet, we identified a fix for this.

Since it seems we haven't been getting analytics from downloaded HTML sims (seems important!), I think it's likely this deserves to be patched with a maintenance release (possibly with other changes like the phet-app query parameter included).

Thoughts?

[2016-02-27 06:09] ariel-phet commented on #429
@jonathanolson yes I agree it would be important to patch, but I also agree it would be good to batch changes (like the ?phet-app) lets bring up at status meeting.

My instinct tells me that our "downloaded" html5 sim runs are low, though obviously without this fix we cannot tell, and I think it can wait until Thursday to make a decision.

[2016-03-01 18:48] pixelzoom opened #449 "incomprehensible build error when license.json in malformed"
Here's a real fun error that @phetsims/schmitzware was experiencing when trying to build rutherford-scattering:

[code]

Turns out there was an extra comma in images/license.json, and getLicenseEntry.js was bailing here, where it reads that file:

[code]

The error message handling here could be improved ;)

[2016-03-01 19:08] pixelzoom commented on #449
Changed the above to:

[code]

The error message is now:

[code]

[2016-03-01 19:11] pixelzoom opened #450 "catch SyntaxError for calls to JSON.parse"
If the JSON passed to JSON.parse is malformed, you'll get an incomprehensible error message. See for example https://github.com/phetsims/chipper/issues/449.

There are currently 5 calls to JSON.parse in chipper source code that would benefit from this improvement.

The general pattern is:

[code]

[2016-03-01 19:12] pixelzoom commented on #449
There are 5 other places in chipper where JSON.parse is called. So I've noted this as a general problem in https://github.com/phetsims/chipper/issues/450.

@samreid could you take a quick look to verify that this solution is acceptable?

[2016-03-01 19:17] samreid commented on #449
I've never used this strategy before:

[code]

Is it a standard approach to mutate error messages?

Also, I would move `var json=null` out of the try block for clarity (even though I know scoping works with it declared in the try block).

Also, throwing errors doesn't seem consistent with the rest of our error checking and handling.  Why not use assert in this case, to be consistent?

[2016-03-01 19:30] pixelzoom commented on #449
I tried wrapping the caught Error in a new Error, but that resulted in a very long, irrelevant error message.  I don't know if mutating error messages is a standard approach. But in this case it seemed warranted, since the error message is useless.

Done.

I think that's because we're not very good about handling errors that could be thrown.  Assert is appropriate for verifying a return value or s

[2016-03-01 19:35] pixelzoom commented on #449
Rather than mutating the caught Error, I changed to throwing a new Error:

[code]

The resulting message now identifies the correct source file:

[code]

@samreid Is this acceptable?

[2016-03-01 19:39] samreid commented on #449
SyntaxError takes a "filename" argument, we should use it:

[code]
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/SyntaxError

[2016-03-01 20:04] pixelzoom commented on #449
Changing to

`throw new SyntaxError( 'syntax error', licenseFilename );`

results in this message, which no longer identifies the filename.

[code]

Whatever is printing the error (grunt?) doesn't seems limited in what error information it prints. So I've changed to throwing a vanilla Error:

`throw new Error( 'syntax error in '+ licenseFilename );`

[2016-03-01 20:20] pixelzoom commented on #449
Ah... Now the message is missing the description of the syntax error ("Unexpected token }").  I will revise to include that.

[2016-03-01 20:24] pixelzoom commented on #449
`throw new Error( 'syntax error in ' + licenseFilename + ': ' + err.message );`

which (for rutherford-scattering) results in this message, which identifies the json file and specific syntax error.

[code]

Back to @samreid for review.

[2016-03-02 15:35] mattpen commented on #50
@jonathanolson - We could presumably use the new custom dimension (simEnvironment) we created to flag if an app is embedded.

We can detect whether we've been embedded in a page by using ```top !== self```.  Should I add this check and flag to the phetcommon GA script?

Also, do we want to track details about where the app is embedded?  ```top.location.href``` would give details about the embeddin

[2016-03-02 16:55] jonathanolson commented on #50
Sounds good to me.

Maybe have simEnvironment just stay as an enumeration, so it would report "embedded", but then have another new dimension that would record "parent frame URL" or something equivalent?

[2016-03-03 17:43] jonathanolson commented on #429
Maintenance releases will not wait for phet-app, will push out for translatable sims.

[2016-03-03 17:57] jonathanolson commented on #437
Deployed with OS X (fine) and cursory review looks good.

[2016-03-03 17:57] #437 closed

[2016-03-03 18:58] samreid opened #451 "grunt should automatically build the phet-io version for instrumented sims"
See https://github.com/phetsims/phet-io/issues/341

We could add an entry to package.json that indicates whether it is phet-io instrumented.  Then grunt should automatically build both.

[2016-03-03 19:01] samreid commented on #451
Charges and Fields may be the first simulation that gets published with both brands.

[2016-03-04 17:12] samreid opened #452 "phet-io sims should list phet-io in their dependencies.json"
See the tail of https://github.com/phetsims/phet-io/issues/341

[2016-03-04 18:10] pixelzoom commented on #452
Presumably, PhET intends to (eventually) instrument all sims. So my inclination is to add `phet-io` to common.phetLibs in chipper/build.json, as we did for `tandem`.

[2016-03-08 00:23] jonathanolson commented on #429
Production deployments complete, will be completing documentation for toolchain soon in https://github.com/phetsims/perennial/issues/12.

[2016-03-08 00:23] #429 closed

[2016-03-09 06:10] mattpen commented on #50
@jonathanolson - I added the code to track embedded sims to the phetcommon script tonight.

I also added a 6th custom dimension called `parentFrameLocation` for tracking the embedding party.

I tested this using a require-js built sim both embedded in an iframe and run stand alone. It appears to be working from a locally built sim.

[2016-03-09 08:06] jonathanolson commented on #50
Looks good, thanks!

[2016-03-11 05:16] samreid commented on #451
When https://github.com/phetsims/phet-io/issues/370 and this issue are complete, all sims will build both brands.

[2016-03-21 22:38] jbphet opened #453 "add a grunt task for removing unused strings in translation files"
When strings are converted from Java or Flash sims and pulled in to an HTML5 sim, it is possible that several of the strings will be unused.  This is not a huge problem, since this strings are not currently presented to the user when doing translations, but it would probably save time and prevent problems in the future, and just by generally more hygienic, to remove these strings.  I created a scr

[2016-03-31 18:31] jessegreenberg opened #454 "Add an eslint rule to check for uses of native constructors"
`image` and `text` are native to HTML5, and both have constructors that match Image and Text nodes of scenery.  Because of this, it is easy to forget to include Image and Text in modules, and the resulting error is difficult to recognize if one is not familiar with it.

@andrewadare suggested that we include a linting rule that can check for missing `Text` and `Image` modules.  In 3/24/16 dev meet

[2016-03-31 18:54] jbphet opened #455 "grunt deploy-production should not copy locally built file to dev server"
As of this writing, when `grunt deploy-production` is performed, the build server is used to build the production version, but the built version that results is not copied to the dev server (currently spot).  Instead, the version on the developer's local machine is copied.  For `grunt deploy-rc`, the version built by the build server **is** copied to the dev server.  Not sure why this is different

[2016-04-07 19:43] samreid opened #456 "Add memory tests"
We could add tests that (a) run gc and (b) snapshot used heap size, to plot the memory used as a function of time for all our sims, to understand memory usage and visualize leaks across sims.

The tests could be integrated into the automated fuzz tester.

This could be useful when we are doing larger searches for memory leaks in sims.

Assigning to @ariel-phet to prioritize and reassign.

[2016-04-21 18:24] aadish opened #457 "Was trying to test posting sim link on facebook and the text appears to be weird"
![image](https://cloud.githubusercontent.com/assets/4546788/14719882/ee47dc10-07bb-11e6-81e5-4f21c5c72ba2.png)

The description below the image looks weird and is not correct

[2016-04-25 19:00] pixelzoom opened #458 "improve error handling for missing entry in sherpa/lib/license.json"
If you attempt to use a sherpa library that doesn't have an entry in sherpa/lib/license.json, then you get this incredibly useless error message from `grunt build`:

Fatal error: Cannot read property 'dependencies' of undefined

[2016-04-25 19:11] jbphet opened #459 "there is a potentially redundant call to decodeURIComponent in chipper-strings-setup.js"
An issue was recently found where alternate strings that were passed in to simulations through the query parameters were being run through ```decodeURIComponent``` twice, and this was causing problems for any strings that contained a per cent symbol, see https://github.com/phetsims/rosetta/issues/115.  I was discussing this issue with @pixelzoom, and he searched through the code and found a call i

[2016-04-25 19:15] pixelzoom commented on #458
Fixed.

I removed the entry for BigInteger from license.json.  Here's the new error message:

Fatal error: sherpa/lib/license.json: no entry for key = BigInteger-cda5bcc.js

[2016-04-25 19:17] pixelzoom opened #460 "sherpa/lib/license.json is repeated 6 times"
Noted while working on #458.

sherpa/lib/license.json is repeated 6 times as a string literal, while constant THIRD_PARTY_LICENSES_FILENAME is for the loading the file.

[2016-04-25 19:21] pixelzoom commented on #460
Assigned to @samreid for review, since he's the other author of this source file.

[2016-04-25 19:21] pixelzoom commented on #458
Assigned to @samreid for review, since he's the other author of this source file.

[2016-04-26 13:44] samreid commented on #449
Code inspection looks good, error after introducing a syntax error looks good, error when file is non-existent looks good, closing.

[2016-04-26 13:44] #449 closed

[2016-04-26 16:00] samreid opened #461 "Add ESLint rule to forbid property access in require statement"
From https://github.com/phetsims/scenery-phet/issues/233#issuecomment-210040056

We could add an ESLint rule for this.

[2016-04-26 16:01] samreid commented on #461
I added this rule above, will flag for developer meeting to discuss whether we should enable the rule.

[2016-04-26 16:44] samreid commented on #461
Consensus: let's add the rule.  @samreid will continue and report back if there are too many or too complex problems.

[2016-04-26 16:48] pixelzoom commented on #461
The source file is named no-attributes-in-require-statement.js, the doc refers to "property access", and the error message refers to "Property" (which is confusable with axon.Property).  Let's standardized on terminology. Eg, no-property-in-require-statement.js and "property" in error message.

[2016-04-26 16:53] samreid commented on #461
Sounds good, will do.

[2016-04-26 17:07] samreid commented on #461
I fixed a number of cases above and am running the test server now.

[2016-04-26 17:38] samreid commented on #461
Seems like most cases are passing nicely.  Acid base solutions had a hiccup which I cannot reproduce:

![image](https://cloud.githubusercontent.com/assets/679486/14828263/75a469d6-0ba3-11e6-8c12-f634a73853cf.png)

[2016-04-26 17:41] pixelzoom commented on #461
Was there an error message associated with the above mentioned ABS hiccup?

[2016-04-26 17:42] samreid commented on #461
![image](https://cloud.githubusercontent.com/assets/679486/14828386/03e0765e-0ba4-11e6-93e2-ab1cf8091d09.png)

[2016-04-26 17:47] pixelzoom commented on #461
I can't reproduce either. This is what I would expect if you ran `grunt` twice. First grunt fails when second grunt runs clean and min.js file no longer exists.

[2016-04-26 17:47] samreid commented on #461
Perhaps the build server was over-zealous 😼

[2016-04-26 17:58] samreid commented on #461
Tests seems good so far.
![image](https://cloud.githubusercontent.com/assets/679486/14828890/20c90414-0ba6-11e6-993e-d9070533d634.png)

reveals problems in rosetta and a few other sims that look like they have pre-existing lint issues (not going to tackle them now).

[2016-04-26 17:59] samreid commented on #461
I'll leave this assigned to me to rename to "property" instead of "attribute" once tests finish.

[2016-04-26 18:13] pixelzoom opened #462 "preloads are all on one long line in development html file"
This was noticed while debugging a dependency that was added to function-builder.

`grunt generate-development-html` generates html as one long line, reproduced here for your scrolling enjoyment:

[code]

Problems with having this all on one long line:

(1) It's difficult to inspect.
(2) It's a conditional, and it's difficult to compare the `then` and `else` values.

BETTER: This would be better,

[2016-04-26 18:18] pixelzoom commented on #462
For now, I went with the "BETTER" approach above, since it involved a trivial change to the sim-development.html template.  Implementing the "BEST" approach would require reworking `stringifyArray` in generateDevelopmentHTML.js.

[2016-04-26 18:19] pixelzoom commented on #462
@samreid do you think it's worth the effort to implement the "BEST" approach above?

[2016-04-26 18:20] samreid commented on #461
I think my test server gave up, it shows two exited commands in a row.

[2016-04-26 18:22] samreid commented on #462
Yes, I'd prefer single line per preload.  I've had to inspect these manually in the past and it has been a hassle.

[2016-04-26 18:27] samreid commented on #461
Rule renamed above.  I'll close the issue.  @jonathanolson @jbphet @pixelzoom @andrewadare @mattpen @jessegreenberg please report any problems you discover as a new issue.

[2016-04-26 18:27] #461 closed

[2016-04-26 18:41] pixelzoom commented on #462
"BEST" approach implemented. Required a bit of ugly fixed indentation in `stringifyArray`, but I documented it.

@samreid can you please review and test drive?

[2016-04-26 18:41] pixelzoom commented on #462
Example in https://github.com/phetsims/function-builder/commit/fc278b4a0d463a5dc1ce7f0e74818c492b738f26 (function-builder).

[2016-04-26 18:53] samreid commented on #462
I ran `grunt generate-development-html` on circuit-construction-kit and manually inspected the diff.  It looks great.  I read through the code change in generateDevelopmentHTML.js and all seems well.  Should I run this command?
`for-each.sh active-runnable grunt generate-development-html`

[2016-04-26 19:09] pixelzoom commented on #462
I'm ambivalent about whether to update all development html files.  Tagged for developer meeting discussion to see if anyone has a strong opinion.

[2016-04-26 20:23] samreid commented on #462
I think we should update all of them, I can't think of any reason not to.  Let's get a 3rd opinion and proceed.

@jessegreenberg @jbphet @jonathanolson can one of you weigh in here?

[2016-04-26 20:25] jonathanolson commented on #462
I think we should regenerate all of them.

[2016-04-26 20:26] samreid commented on #462
thanks @jonathanolson, I'll proceed.

[2016-04-26 20:30] jonathanolson commented on #459
Fixed.

[2016-04-26 20:30] #459 closed

[2016-04-26 20:33] samreid commented on #462
blackbody-spectrum was stale, gene-expression-basics was stale, litmus was very old (I skipped that one), same with optics-lab, sugar-and-salt-solutions.  I'll commit the rest.

[2016-04-26 20:37] samreid commented on #462
Next I'll update the staler ones, and test more thoroughly.

[2016-04-26 20:47] samreid commented on #462
I updated optics lab.  Skipped litmus test because I was missing dependencies.  @pixelzoom you may update litmus if you wish.

[2016-04-26 21:46] jonathanolson opened #463 "Removal of client-side productionServerName"
Only productionServerURL is used, and ideally this would be the case for the long-term.

[2016-04-26 21:46] jonathanolson commented on #463
Done.

[2016-04-26 21:46] #463 closed

[2016-04-28 16:06] pixelzoom commented on #462
litmus updated.

Closing.

[2016-04-28 16:06] #462 closed

[2016-04-29 22:36] ariel-phet commented on #457
I tried to reproduce (used Win 7 FF) and did not see an issue

![fb](https://cloud.githubusercontent.com/assets/4051174/14931421/85324d78-0e28-11e6-8ebf-9774b60ad608.PNG)

@aadish can you try to reproduce and if still a problem report platform?

[2016-05-02 16:40] aadish commented on #457
If I post this link then it appears correctly http://phet.colorado.edu/en/simulation/gravity-force-lab
![image](https://cloud.githubusercontent.com/assets/4546788/14960450/f1b822d0-1051-11e6-9b3d-1913cbd5ce02.png)

But if I directly post the simulation link the simulation link the problem exist http://phet.colorado.edu/sims/html/gravity-force-lab/latest/gravity-force-lab_en.html

![image](https://

[2016-05-02 21:16] ariel-phet commented on #457
Ah yes. I will put on dev meeting agenda for us to discuss if we can make a fix to chipper

[2016-05-05 16:26] mattpen commented on #457
It looks like we are missing some of the standard `og` tags that Facebook is looking for.  https://developers.facebook.com/docs/sharing/best-practices#tags

[2016-05-05 18:15] ariel-phet commented on #457
Suggestion for (translatable) common string description
"An educational simulation from PhET Interactive Simulations, University of Colorado"

[2016-05-11 21:11] pixelzoom opened #464 "fuzzMouse documentation incomplete"
initialize-globals.js:
[code]

This documentation is incomplete. fuzzMouse takes an optional argument, with a default value. And that argument is the number of mouse events to synthesize per frame.

In joist.Sim, line 255:

[code]

The default is not specified where the query parameter is read, it's back on line 221:

[code]

[2016-05-13 17:49] andrewadare opened #465 "Standardizing JSDoc param syntax"
Since starting with PhET, I've dealt with some inconsistency annotating functions with `@param`. Syntax like `Array<Object>` or `Property<boolean>` felt natural and reminiscent of template/generic syntax for parametric types in other languages.

But I've seen the dot used extensively in PhET code (`Property.<string>`). The Google Closure Compiler [doesn't seem to favor that](https://developers.goo

[2016-05-15 07:13] samreid opened #466 "branch: phet-io-require"
See https://github.com/phetsims/phet-io/issues/436

This is a temporary branch until the work is completed and merged into master or we identify a reason this strategy cannot work and the branch is abandoned/deleted.

[2016-05-17 01:25] samreid opened #467 "branch: phet-io-require-2"
See https://github.com/phetsims/phet-io/issues/436

[2016-05-17 03:01] pixelzoom commented on #465
The format of param syntax was standardized some time ago after extensive discussion, and we decided in favor of JSdoc over Google Closure Compiler. The syntax is summarized by example in the "Code Style" section of "PhET Development Overview" at http://bit.ly/phet-development-overview.  Any inconsistencies in param syntax are likely due to code that predates standardization, or developers who are

[2016-05-17 03:38] pixelzoom commented on #467
Please add a short explanation of this branch to this issue. We now have branches named phet-io-require and phet-io-require-2, and the issues that describe them both point to phetsims/phet-io#436. Not a fan of having to read through that issue to figure out what these branches are for, how they differ, etc. Thanks.

[2016-05-17 03:40] pixelzoom commented on #466
Please add a short explanation of this branch to this issue. We now have branches named phet-io-require and phet-io-require-2, and the issues that describe them both point to phetsims/phet-io#436. Not a fan of having to read through that issue to figure out what these branches are for, how they differ, etc. Thanks.

[2016-05-17 03:41] pixelzoom commented on #466
Or link to a comment in phetsims/phet-io#436 that clearly describes the branches, their differences, which repos have this branch, etc.

[2016-05-17 04:35] samreid commented on #467
I wrote a description here: https://github.com/phetsims/phet-io/issues/439#issuecomment-219617170

[2016-05-17 04:37] samreid commented on #466
I wrote a description here: https://github.com/phetsims/phet-io/issues/439#issuecomment-219617170

[2016-05-17 14:57] andrewadare commented on #465
If this is something that's already settled, then in my opinion, it's worth mentioning in the dev guide more explicitly. If there are no objections, I'll make a brief addition to the guide that the at-param syntax is not entirely consistent between doc generation backends, and that JSDoc is the authoritative one where there are discrepancies.

[2016-05-17 15:20] pixelzoom commented on #465
Reopening so we can make all developers aware of this, and decide what to do about inconsistencies.

[2016-05-17 16:28] pixelzoom commented on #465
Discussed at 5/17/16 dev meeting, closing.

[2016-05-17 16:28] #465 closed

[2016-05-18 02:41] samreid commented on #466
Branch deleted, closing.

[2016-05-18 02:41] #466 closed

[2016-05-21 04:00] samreid commented on #50
This code:

[code]
errors out when checking `top.location.href` when running a simulation https, encountered in PhET-iO.  The error is

[code]

When running with the dev tools closed, the sim runs but prints the error.  When dev tools are open, it pauses on the error. (I suppose the latter true only if "pause on error" or equivalent is checked.

@jonathanolson and @mattpen can we discuss how to fi

[2016-05-21 17:50] ariel-phet commented on #456
@samreid does this seem necessary now that we seem to be publishing new sims without memory leaks, and testing for memory leaks is part of the code review (so in theory each new sim going out should remain "leak free")?

[2016-05-21 17:51] ariel-phet commented on #456
If you no longer see a need, feel free to close.

[2016-05-21 17:53] samreid commented on #456
The programmatic access to the GC has not been reliable, it tends to show max allocated not current allocated, so let's close this issue and rely on manual testing.

[2016-05-21 17:53] #456 closed

[2016-05-21 18:01] samreid opened #468 "Spot is acting weird"
I tried grunt deploy-dev today, it did not request password, but said it succeeded, but did not succeed.

I tried logging in to spot via scp and it said:

~/github/proportion-playground$ ssh reids@spot
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@    WARNING: REMOTE HOST IDENTIFICATION HAS CHANGED!     @
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
IT IS POSSIBLE THA

[2016-05-21 18:06] samreid commented on #468
I removed spot from my known_hosts and then everything is working again.  Heads up to @pixelzoom @jessegreenberg @andrewadare @jbphet @jonathanolson @phetsims/martin @schmitzware in case this happens to you.

[2016-05-22 15:36] samreid commented on #50
@kathy-phet serving simulations from https makes it impossible for us to discover the URL of the embedding page (for analytics).  We are currently in a situation where it is trying to get the URL of the embedding page and outputting an error on startup.  Let's discuss how to proceed.

[2016-05-23 17:30] mattpen commented on #50
@samreid - I changed the request from `top.location.href` to `document.referrer`.  `document.referrer` is attached to the iframe window, so it should be accessible in all circumstances including cross-origin situations.  It is possible to spoof this value by the parent frame, but as the is just for analytics/statistics I think its an acceptable risk.  This change would affect all built sims for ph

[2016-05-24 15:25] pixelzoom commented on #255
In addition to the features that @samreid mentioned in https://github.com/phetsims/chipper/issues/255#issue-100832814...

My wish list:

• Add the ability to specify which tests to run.  Running the entire suite takes a loooong time, and there have been many times when I would like to have used test server to (for example) verify that every sim starts in requirejs mode.
• Add a button next to the

[2016-05-24 15:31] phet-steele commented on #255
That can currently be done with `?duration=30000` with the number in milliseconds (30 seconds shown here).

Not sure it is currently possible to change the number of events per second, however. I believe now it is set to `?fuzzMouse=100`, and frankly that speed is a good standard and I've never needed or wanted to change it.

[2016-05-24 15:37] samreid commented on #255
chipper/test-server/test-sims.html?loadOnly does exactly that

[2016-05-24 15:40] pixelzoom commented on #255
Really? Wow, thanks. I've asked several times before and was told "not currently supported".

[2016-05-24 15:43] samreid commented on #255
It looks like phetmarks/index.html picked up a link for this in February 2015.  It was very useful when testing my recent multi-repo merge.

[2016-05-24 15:54] pixelzoom commented on #255
It looks like all of the configuration of test-server is done via query parameters.  And (assuming it's using `getQueryParameter`) the query parameters are read at the top of test-sims.js:

[code]

It sure would be nice if someone documented these.

[2016-05-24 15:58] pixelzoom commented on #255
I took a stab at documenting query parameters in @a01a8e0f000fd53eaba1cb0d912ae16521b6c2af.

[2016-05-24 16:00] pixelzoom commented on #255
@phet-steele please chime in if you have any "wish list" enhancements for test-server.

[2016-05-24 16:04] phet-steele commented on #255
I'd like to be able to specify a sim or group of sims to run tests on...that's really my only wish list item for the test-server.

[2016-05-24 16:06] pixelzoom commented on #255
You can do that by editing chipper/data/active-repos (which is what test-server reads). But that's a pain, and you might accidentally check it in.  So yes, it would be nice to be able to provide an alternate list of sims.

[2016-05-26 01:58] samreid opened #469 "What is our position on relative imports?"
It appears that relative imports work properly.  For instance, in Hooke's Law EnergyScreen.js, there is the following code:
[code]

It appears to work equally well in require mode and built mode if you use a relative import (tested in Chrome on OS X):
[code]

As far as I know, we have always been using absolute paths in require statements.  However, it seems to me there is some merit in using a re

[2016-05-26 02:00] samreid commented on #469
Copy-pasting code is less likely to work, if you copy a relative path to a different location.

[2016-05-26 16:13] jonathanolson commented on #469
Interesting. It doesn't change the string keys?

[2016-05-26 17:57] samreid commented on #469
At today's meeting we decided to stick with absolute paths in require statements, for clarity and ease of moving the code.

[2016-05-26 17:57] #469 closed

[2016-05-26 20:22] mattpen commented on #50
I removed the code to track document.referrer from the guard that checks for embedding, and tested embedding the sim in cross-port, cross-domain, and cross-protocol contexts.  In all cases the sim correctly sent the URL for the parent frame in the documentReferrer dimension.

[2016-05-27 04:24] jonathanolson commented on #50
@mattpen and @ariel-phet, is this ready for a maintenance release?

[2016-05-27 15:29] ariel-phet commented on #50
Green light from me, as long as @mattpen says it is ready

[2016-05-27 16:47] samreid commented on #467
Branch merged to master and deleted, closing.

[2016-05-27 16:47] #467 closed

[2016-05-27 20:35] mattpen commented on #50
@jonathanolson - I've checked the code in all permutations of port, domain, and protocol contexts, so I think it is ready for release.

[2016-05-31 15:14] andrewadare opened #470 "grunt deploy-dev incorrectly reports success"
I had a stale entry in ~/.ssh/known_hosts for spot.colorado.edu, which prevented me from logging in directly.

When running `grunt deploy-dev`, it said "Done, without errors" but the sim was not uploaded. Can we propagate the scp return code through grunt to the user (or whatever tool is used for the transfer)? I didn't look at the code for the task.

[2016-06-02 18:06] samreid commented on #470
This issue is similar to https://github.com/phetsims/chipper/issues/468

[2016-06-02 21:30] jessegreenberg opened #471 "Make sure that phet content on spot has group-write flag set"
We should look through spot directories under phet and and make sure that everything has the group-write flag set so that the group has the ability to edit everything as necessary.

Under 'html', the following directories are missing the group-write flag, preventing other devs from deploying and maintaining dev versions:
 - [ ] chains
 - [x] jb-tests
 - [ ] link
 - [x] rutherford-scattering [permi

[2016-06-02 21:35] jessegreenberg commented on #471
Would it be acceptable to ask OIT to recursively set the group-write flag on everything under phet?

[2016-06-03 17:26] samreid commented on #468
We've discussed the issue at a recent meeting, closing.

[2016-06-03 17:26] #468 closed

[2016-06-03 17:30] samreid commented on #458
I reviewed the diff and it seemed nice, closing.

[2016-06-03 17:30] #458 closed

[2016-06-09 15:34] jessegreenberg commented on #471
Is there any content under 'physics/phet' on spot that needs to stay private?  Maybe content for PhETiO?

[2016-06-09 16:29] jessegreenberg opened #472 "Add accessibility content to html templates"
From https://github.com/phetsims/john-travoltage/issues/89 and https://github.com/phetsims/balloons-and-static-electricity/issues/151, we discovered that 'aria-live' elements need to be added before body.onload is fired.  Screen readers generally do not add observers to 'aria-live' elements that are added dynamically after onload.  This has caused some erratic or missing alert messages when a scre

[2016-06-09 16:45] jessegreenberg commented on #472
Tagging @jobara, @jhung, and @terracoda in case they have recommendations for this content.

We will also want to have an element for each of 'aria-atomic' or 'aria-relevant' attributes
[code]
...and so on.
 It may be difficult to use 'aria-relevant' in this static content if the reference id is generated dynamically by the sim.

[2016-06-09 19:01] jessegreenberg commented on #471
https://github.com/phetsims/chipper/issues/471#issuecomment-223429999 Should be fine, I will reach out to OIT to ask them to set the group-write flag on everything under 'phet'.

[2016-06-10 11:29] jobara commented on #472
@jessegreenberg have you had a chance to test out if the "aria-atomic" and "aria-relevant" be static? I'm hoping that just having the "aria-live" static will be enough for the browsers to track them.

Also I've been thinking about this a bit. I believe for the special case live regions like "status", "alert" and "log" it makes sense to have a single per sim region. I'm not sure this is true for ge

[2016-06-13 15:32] pixelzoom opened #473 "robustness issues with 'grunt deploy-dev'"
A couple of problems with `grunt deploy-dev`:

(1) It doesn't verify whether the destination directory already exists.

(2) If the destination directory does exist, the files are not overwritten. Instead, you end up with a `build/` directory inside the destination directory.

[2016-06-13 16:15] samreid commented on #50
@jbphet and I are planning to work deploying this fix as maintenance releases tomorrow (Tuesday June 14).

[2016-06-14 15:24] jessegreenberg commented on #472
No, not yet.  They haven't been needed yet in balloons-and-static-electricity, but we should test them out.  I misunderstood the ```aria-relevent``` role, it takes a string value like 'additions', not an element id, so it should be fine in the static content.

In BASE it does make sense to group them all together, but I haven't thought about how they might be separated.  The one downside to this s

[2016-06-14 15:31] jobara commented on #472
I think it depends on both the type of live-region and the context for its use. If it's a general alert, they probably don't have to find it and it can be hidden on it's own at some point, although probably nothing wrong with it being discoverable. This is what we are currently doing in John Travoltage. However, for something like the status, that should probably be discoverable and consistent. Ot

[2016-06-14 15:49] jessegreenberg commented on #472
Yes, that makes sense.  My concern for finding alert content is if they discover content with the cursor that is stale and no longer representative of what is happening in the simulation.  Presumably that wouldn't happen if text content is linked properly to the model.

For the status and validation alerts that need to be discoverable, maybe they should be separate with some additional information

[2016-06-14 15:53] jessegreenberg commented on #472
I wonder if it is possible to move the alerts around once they have been added to the top of the document?  I am not sure if screen readers would agree with this, but if we did something like

- Add the structure in https://github.com/phetsims/chipper/issues/472#issue-159452198 to the html template
- Screen reader will add listeners to aria-live elements since they are added to the document static

[2016-06-14 16:02] jobara commented on #472
Hmm.. that's interesting. It'd be worth trying out. We should also talk over the use cases for the live-regions. It could be that a single consistent alert, log, and status region may be enough.

[2016-06-14 20:09] jbphet commented on #50
List of sims in checklist form for tracking progress on this:

- [ ] acid-base-solutions
- [ ] area-builder
- [ ] arithmetic
- [ ] balancing-act
- [ ] balancing-chemical-equations
- [ ] balloons-and-static-electricity
- [ ] beers-law-lab
- [ ] bending-light
- [ ] build-an-atom
- [ ] color-vision
- [ ] concentration
- [ ] energy-skate-park-basics
- [ ] faradays-law
- [ ] forces-and-motion-basics
-

[2016-06-14 20:12] jbphet commented on #50
I've done the maintenance release process and published RC versions of balancing-chemical-equations through concentration (seven sims total).  @alynne-phet is going to sanity test these sims, and I'll verify that they work when embedded across domains.

[2016-06-14 21:10] alynne-phet commented on #50
@jbphet Verified on Mac OSX 10.11.5 on chrome and safari

[2016-06-15 15:53] jbphet commented on #50
Thanks @alynne-phet.  I verified that cross domain embedding works for these 7 sims, so I'll publish and update the checklist above.

[2016-06-15 17:03] samreid commented on #452
If we add phet-io to phetLibs, will it still be possible to check out and build sims if you are missing the phet-io (since only our team members will be able to access that repo?)

[2016-06-15 17:10] samreid commented on #452
I tried the following:

1. Add phet-io to build.json
2. Remove phet-io repository (to simulate a 3rd party developer who cannot access phet-io)
3. Build Function Builder

I received this error:

[code]

So it will not work to add phet-io to build.json.

[2016-06-15 17:12] samreid commented on #460
The diff seems reasonable, and the grunt task is undisturbed, closing.

[2016-06-15 17:12] #460 closed

[2016-06-15 21:05] jbphet commented on #50
The fourth batch has been published as RCs, @phet-steele is going to perform sanity testing and verify that cross domain embedding works for all.  The sims in this batch are:

+ energy-skate-park-basics
+ faradays-law
+ forces-and-motion-basics
+ fraction-matcher
+ friction
+ graphing-lines
+ gravity-force-lab
+ hookes-law
+ isotopes-and-atomic-mass
+ john-travoltage
+ least-squares-regression

On

[2016-06-15 21:30] phet-steele commented on #50
@jbphet all tested and approved.

[2016-06-16 14:11] samreid commented on #452
phet-io is already listed in dependencies.json for a phet-io build.  For instance:

[code]

This is working because phet-io is in the phetLibs for phet-io brand in build.json, closing.

[2016-06-16 14:11] #452 closed

[2016-06-16 14:15] samreid commented on #451
I'm concerned about this because of the following:

* the phet-io build takes twice as long as the standard build
* the composite build makes it difficult to see errors from the individual builds
* it seems difficult (impossible?) to run both builds in the same process because of globals used for brands and possibly other state

Let's chat about this before proceeding.

[2016-06-16 15:50] jbphet commented on #50
Sims from the fourth batch have been published, batch 5 is underway.

[2016-06-16 18:20] samreid commented on #451
If we can fix the "error propagation" issue, then perhaps we could make it so that phet-io instrumented sims automatically use it (maybe there is a way to opt out) and still use grunt forking without rewriting chipper.

This seems like it will become much more important when we are ramping up on the number of sims that are instrumented or deploying them much more frequently.

[2016-06-16 18:29] samreid commented on #410
@andrewadare mentioned an interest in continuous integration services for automated testing.

[2016-06-16 18:38] samreid commented on #451
We decided it does not yet make sense to deploy phet-io ones every time, so let's leave these as separate for now.

[2016-06-16 18:50] jbphet commented on #50
Batch 5 has now been published as a set of RCs.  The sims are:

+ molarity,
+ molecule-shapes,
+ molecule-shapes-basics,
+ molecules-and-light,
+ neuron,
+ ohms-law,
+ ph-scale,
+ ph-scale-basics,
+ reactants-products-and-leftovers,
+ resistance-in-a-wire,
+ trig-tour,
+ under-pressure,
+ wave-on-a-string

@phet-steele - please test these in the same manner as the previous batch and let me know th

[2016-06-16 19:16] phet-steele commented on #50
@jbphet they all check out!

[2016-06-17 16:21] jbphet commented on #50
All sims should now be redeployed with this fix.  Since this is the first large-scale maintenance release I've done, and since @phet-steele has a test harness that makes it reasonably easy to verify that a given sim has the fix, I think it would be worth testing that the deployments were all successfully completed.  I talked with @phet-steele and he is willing to do this test.  Assigning to him, h

[2016-06-17 20:38] phet-steele commented on #50
@jbphet all sims have the fix, great job.

[2016-06-17 20:38] #50 closed

[2016-06-20 17:01] andrewadare opened #474 "Continuous Integration"
This issue is to document the progress of reviewing, selecting, testing, and configuring a continuous integration framework for PhET software, particularly common code repos such as Dot, Kite, and Scenery.

The scope of this CI project can begin fairly narrow, such as simply setting up a service that runs unit tests automatically when a new commit is made and reports the results.

I spent some tim

[2016-06-20 21:24] jessegreenberg commented on #472
Very true, if sufficient, keeping a single and consistent region for these alerts would be much more simple.

[2016-06-28 04:28] mattpen commented on #417
Sims should be able to send their normal GA hits now through the improvements in https://github.com/phetsims/chipper/issues/50

[2016-06-28 04:28] #417 closed

[2016-06-28 23:05] jbphet opened #475 "all published sims should have the screenshot capability without requiring query parameter"
At the ISTE conference, @phet-steele and @ariel-phet noticed that a number of simulations don't have the screenshot capability in the menu, at least not without having a ```screenshot``` query parameter.  They were surprised by this and thought all sims had the capability by default.  We should discuss at next developer meeting to understand if this somehow went away, or just wasn't published yet

[2016-06-30 18:23] ariel-phet commented on #475
@phet-steele please identify which sims do not have the screenshot in the menu and put a checklist here in this issue

[2016-06-30 18:25] ariel-phet commented on #475
Also please note, if there is not screenshot option, check if screenshot works with the query quarameter

[2016-06-30 18:52] phet-steele commented on #475
All sims work with `?screenshot`
- [ ] Acid-Base Solutions
- [ ] Arithmetic
- [ ] Balancing Act
- [ ] Balancing Chemical Equations
- [ ] Balloons and Static Electricity
- [ ] Beer's Law Lab
- [ ] Bending Light
- [ ] Color Vision
- [ ] Concentration
- [ ] Faraday's Law
- [ ] Fraction Matcher
- [ ] Friction
- [ ] Graphing Lines
- [ ] Gravity Force Lab
- [ ] Hooke's Law
- [ ] John Travoltage
- [ ] Le

[2016-06-30 19:12] phet-steele commented on #475
Beer's Law Lab and Concentration recently re-published and now have the Screenshot feature.

[2016-06-30 19:49] ariel-phet commented on #475
marking for next dev meeting to see when we can schedule a maintenance release

[2016-07-07 18:16] ariel-phet commented on #475
Tentatively scheduled for week of July 25

[2016-07-07 18:41] jbphet commented on #475
This was discussed in the 5/7/2016 developer meeting, and we **think** that the code should be changed so that the screenshot capability exists without the presence of the ```screenshot``` query parameter, but it should **not** be available in the presence of the ```phet-app``` query parameter.  However, there is some question about whether we actually **do** what the screenshot capability in the

[2016-07-08 06:17] mattpen commented on #475
@jbphet - Taking a screenshot with the phet menu appears to fail silently on the phet app.  In the XCode console, the following error is thrown:

```2016-07-08 00:06:31.576 PhET Interactive Simulations[2379:4674981] -canOpenURL: failed for URL: "blob:https://phet.colorado.edu/77f3a0f4-27ff-4dbc-abf5-3358b63a7137" - error: "This app is not allowed to query for scheme blob"```

[2016-07-08 06:47] mattpen commented on #475
I have whitelisted the "blob" scheme in the phetapp configuration, but it is still giving the same error.

I also tried the screenshot in mobile safari and chrome on the iPad Mini.  In Mobile safari, it opens the screenshot in a new tab.  In Chrome, it opens a new blank tab.

[2016-07-08 19:02] ariel-phet commented on #475
We are going to assume no screenshot in the app, closing.

[2016-07-18 21:33] jbphet commented on #475
@ariel-phet - did you really mean to close this issue?  As far as I know the maintenance release is still needed, we've just resolved the question of whether or not the screenshot capability should continue to be disabled in the app.

[2016-07-18 21:39] ariel-phet commented on #475
@jbphet -oops, I think I was reading the last comment thinking this was a separte issue. Correct, maintenance release is still needed. Thanks for verifying!

[2016-07-25 02:54] samreid opened #476 "Guarantee that license elements have length > 0"
From https://github.com/phetsims/sherpa/issues/64#issuecomment-234825473

We should guarantee (assert) that license entries exist and have length > 0, then the check in reportThirdParty.js can be removed.

[2016-08-01 20:03] jbphet commented on #475
For reference, the commit where this feature was turned on permanently in Joist is https://github.com/phetsims/joist/commit/b32cec92eff9878f953ba0d7454b1dbc01f2952f, and later an additional clause was added to prevent the menu item from showing up in the app, see https://github.com/phetsims/joist/commit/ecd8d968e09ee1be00a444a261a01d1b391422e2.

[2016-08-02 16:41] jessegreenberg commented on #472
We need to do some testing to determine how much needs to be in the template.  For instance can we dynamically set ```aria-relevant``` and ```aria-atomic``` attributes?

[2016-08-03 15:54] terracoda commented on #472
@jessegreenberg, @jobara, I'm not sure I am thinking about the design of the descriptions in a way that fits perfectly with the ARIA specification. My thinking of how the descriptions work in the design is more simple. Currently, my model contains 3 main categories:

1. Static Descriptions
2. Dynamic Descriptions
3. Interaction Descriptions (or Interaction Alerts)

Static Descriptions are pretty s

[2016-08-04 00:14] jessegreenberg commented on #472
@terracoda that categorization makes sense, and it should be possible.

The above commit is a test suite so that we can determine if screen readers modify behavior for aria-live observers when attributes such as 'atomic' or 'relevant' are changed dynamically.

[2016-08-04 00:48] terracoda commented on #472
@jessegreenberg, thanks for the clarification.

[2016-08-05 20:14] jbphet commented on #475
All sims have been re-released with screenshots turned on with the exception of Neuron, where I noticed an issue before publication and waved off.  Two other simulations - Bending Light and Friction - were found by @phet-steele to have issues with the screenshot feature after publishing.  Issues have been logged for each, they are:
+ https://github.com/phetsims/neuron/issues/125
+ https://github.c

[2016-08-05 20:16] phet-steele commented on #475
This is the case.

[2016-08-05 20:16] #475 closed

[2016-08-10 22:28] jessegreenberg commented on #472
I tested the above in Windows 10 with NVDA and JAWS, each with latest Google, Firefox and IE.  Here was my test for changing aria-atomic dynamically:

  - Set text content of aria-live element to random sentence
    - Screen reader should read entire sentence
  - change single word of sentence in aria-live element
    - screen reader should read only the single word (*```aria-atomic=false``` by de

[2016-08-10 22:46] jessegreenberg commented on #472
I did a similar test with aria-relevant:

**Results -**
For every platform, changing aria-relevant had no impact on screen reader output, even when the attribute was set statically before document's onload event.  The only interesting thing I found was that nothing is announced in Chrome + NVDA when text content is removed, regardless of the aria-relevant status.

Support might be better for Voice

[2016-08-10 22:50] jessegreenberg commented on #472
During testing, I also noticed that ```role=alert``` was the only alert that seemed to have unique behavior from aria-live.  Before speaking the text content, the screen reader will say 'alert'.  The other roles didn't seem to have any unique behavior.

[2016-08-10 23:03] jessegreenberg commented on #472
The following could be added to the top level HTML file:
[code]

This would allow us to
 - Include an assertive alert
 - Easily add utterances to the queue in with a polite aria-live element
 - Include an alert role when the user needs to know that the announcement is an 'alert'
 - Include a 'status' role
    - I didn't observe any unique behavior for the status role, but it makes sense in the sim

[2016-08-11 11:42] jobara commented on #472
@jessegreenberg, the `role="alert"` has an implicit `aria-live="assertive"` and `aria-atomic=true` so the explicit declarations shouldn't be needed, although it shouldn't hurt either. Have you found that it is needed?

http://www.w3.org/TR/wai-aria/roles#alert

Also, I think there is a typo in the last element. Did you mean?

[code]

[2016-08-11 11:45] jobara commented on #472
@jessegreenberg, I wonder if having the 4 aria-live regions in each page would be confusing for users when the sim doesn't use all of them. Have you noticed anything in your testing that might indicate that they are announced in any way when they are not used?

[2016-08-15 16:25] jessegreenberg commented on #472
Agreed, but I just included them because I read [here](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Live_Regions) that adding them could maximize compatibility.

<p id="polite-status" aria-live="polite" role="status" aria-atomic="true"></p>

Yes, thanks! I edited the comment.

We haven't done any testing with all four aria-live regions, but I hope that it would be similar t

[2016-08-16 15:12] samreid opened #477 "urlArgs is still defined for built versions"
I noticed that urlArgs = cache buster is still present in the built version.  Could this be causing any performance issues (ignoring cache when relaunching)?

[2016-08-18 23:08] jessegreenberg commented on #472
In developer meeting 8/18/16 we decided that it should be fine to proceed with adding the content in https://github.com/phetsims/chipper/issues/472#issuecomment-239031147.

To do this, we should
- [ ] Add the content to the development template
- [ ] Add the content to the production template
- [ ] generate development html files

In addition (and probably first) we should verify some behavior

 -

[2016-08-22 20:26] jessegreenberg commented on #472
I just tested this on
- NVDA + Chrome
- NVDA + Firefox
- NVDA + IE
- JAWS + Firefox
- JAWS + IE
- VoiceOver + Safari

The only platform that had this issue was Chrome + NVDA.

john-travoltage uses aria-hidden on the alert until the content needs to be announced.  Perhaps we can do something similar here.

[2016-08-25 21:47] pixelzoom opened #478 "test-server: fix buggy behavior/doc for "loadOnly" query param"
Skype:
[8/25/16, 3:23:48 PM] Chris Malley: Anyone know how to run test-server in a mode that only tests that each sim launches?
[8/25/16, 3:25:07 PM] Jonathan Olson: chipper/test-server/test-sims.html?loadOnly
[8/25/16, 3:43:13 PM] Chris Malley: chipper/test-server/test-sims.html?loadOnly appears to be also building the sims. Bug?
[8/25/16, 3:43:33 PM] Jonathan Olson: will also test load-only on b

[2016-08-25 21:48] jonathanolson commented on #478
loadOnly was definitely originally meant to also try loading the built versions, since it's caught build-specific bugs quickly before. I propose we update the documentation. Sorry if I documented it incorrectly.

[2016-08-31 22:06] pixelzoom opened #479 "pattern for getting query parameter values"
I'm creating this issue in chipper, since `phet.chipper.getQueryParameter` is defined in initialize-globals.js.

It seems like we need a better API for getting values from query parameters. Especially since phet-io is likely to need more such parameters (e.g. https://github.com/phetsims/phet-io/issues/568, with query parameter added in @34c0572417fc4abe4fe7973e315c80ed0eb828a3).

`getQueryParamete

[2016-09-01 15:07] jessegreenberg commented on #471
Request sent to OIT on 9/1/16.

[2016-09-01 17:26] pixelzoom opened #480 "lint rule for parseInt?"
[Documentation](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/parseInt) for `parseInt` says:

So we should be including the radix argument.  I've forgotten to do this on a number of occasions, and others seem to be doing this too.  See:

https://github.com/phetsims/circuit-construction-kit-common/issues/214
https://github.com/phetsims/john-travoltage/issues/116
h

[2016-09-01 18:36] pixelzoom commented on #479
9/1/16 dev meeting consensus: Need something like this, I'll propose an API.  Would be nice to be able to specify default value.

[2016-09-01 18:57] samreid commented on #479
We also discussed a query parameter schema that could look like this:

[code]

[2016-09-01 18:58] samreid commented on #480
Here is docs for eslint radix rule, @pixelzoom do you have an opportunity to try this out?
http://eslint.org/docs/rules/radix

[2016-09-01 19:12] pixelzoom commented on #480
I added (and tested) the eslint radix rule in the above commit.

Then I noticed that the documentation at http://eslint.org/docs/rules/radix says:

This seems to suggest that omitting the radix arg is not an issue for ES5.  Then again, "may be redundant" doesn't sound definitive, so it we may want to err on the side of safety and require the radix.   @samreid your opinion?

[2016-09-01 19:20] samreid commented on #480
It seems easy and foolproof to require the radix, let's enforce it for now.

[2016-09-01 19:21] pixelzoom commented on #480
Thanks. Closing.

[2016-09-01 19:21] #480 closed

[2016-09-02 05:45] samreid opened #481 "Add grunt deploy-phet-io command"
Currently after a sim is built the developer must do the following steps to deploy to phet-server:
https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md

ssh into phet-server.int (requires VPN)
scp -r spot:/htdocs/physics/phet/dev/html/SIMULATION/VERSION /data/web/static/phet-io/0.1/sims/SIMULATION/VERSION
cp /data/web/static/phet-io/0.1/sims/concentration/1.3.0-dev.3

[2016-09-02 17:24] andrewadare opened #482 "_ is listed in .eslint as overwritable"
In .eslintrc, we have
[code]
It's the only global in the group with the overwritable attribute set to true. Is that intended? I suspect so, and I'm going to move it up with the others in that category.

[2016-09-06 21:29] samreid opened #483 "Investigate flow-jsdoc for type checking"
It may be possible to use https://github.com/Kegsay/flow-jsdoc for type checking our code.  May be interesting to investigate.

[2016-09-07 05:11] samreid commented on #53
Using standard PNGs is working well and our simulations are not too large, closing.

[2016-09-07 05:11] #53 closed

[2016-09-07 05:13] samreid commented on #157
FontAwesomeToScenery.java was removed in c0effd5c3fd6bb55feeb6b99f5656d328e9c7fe6, closing.

[2016-09-07 05:13] #157 closed

[2016-09-07 05:15] samreid commented on #400
Lint phase isn't slowing us down at the moment, closing.

[2016-09-07 05:15] #400 closed

[2016-09-07 05:17] samreid commented on #440
PhET-iO deploy is established, there are many examples on the phet-io website, and the instructions are noted at https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md

[2016-09-07 05:17] #440 closed

[2016-09-07 05:18] samreid commented on #445
Grunt 1.0.0 has been out since April.

[2016-09-07 05:20] samreid commented on #482
I think it is from lines in chipper like:
[code]

@andrewadare anything else to do here?

[2016-09-07 05:48] andrewadare commented on #482
Nope, let's close it.

[2016-09-07 05:48] #482 closed

[2016-09-07 07:12] samreid opened #484 "branch: progress-indicator"
To support https://github.com/phetsims/joist/issues/348

[2016-09-07 17:19] pixelzoom commented on #479
+1 for something like what @samreid described in https://github.com/phetsims/chipper/issues/479#issuecomment-244177283.

Reassigning to @ariel-phet because (a) I'm unlikely to get to this anytime soon and (b) query parameters are part of the PhET-iO "toolkit".

[2016-09-07 18:07] ariel-phet commented on #479
Remarking for dev meeting, but tentatively assigning to @andrewadare

Please take a look at @samreid suggestion

[2016-09-08 01:04] samreid commented on #479
@ariel-phet I'm also interested in working on this, could do sometime in the next couple of weeks.

[2016-09-08 01:25] samreid commented on #479
I assigned @ariel-phet to see if he wants to assign this to me.

[2016-09-08 01:55] ariel-phet commented on #479
Well then, if you are interested, SOLD! Assigning to @samreid

@samreid up to you if you want to leave marked for dev meeting or not, or if you want to chew on it for a bit before having others take a look.

[2016-09-08 01:57] samreid commented on #479
I'll unassign developer-meeting for now, then get feedback when I have a draft ready for review.

[2016-09-08 04:59] samreid commented on #479
We could also support arrays like ?value=x&value=y and also checking that keys appear only once for non-array.

[2016-09-08 05:00] samreid commented on #479
If this is developed as a global instead of requirejs module, it will be very easy to reuse in phet-io and other non-sim JS.

[2016-09-08 05:04] samreid commented on #479
https://github.com/sindresorhus/query-string looks like a step in the right direction but doesn't provide defaults or correct types.

[2016-09-08 05:05] samreid commented on #479
This one upconverts to arrays: https://github.com/jgallen23/querystring

[2016-09-08 05:14] samreid commented on #479
It looks like "query string" is the correct technical term, but there are 10x as many google hits for "query parameters".

[2016-09-08 05:24] samreid commented on #479
I think I'll create a new repo for this and make it export a global.  This will facilitate reuse in other contexts such as PhET-iO.

https://github.com/phetsims/query-string-machine

[2016-09-08 15:10] jessegreenberg commented on #471
OIT correctly set the group write flags, everything is accessible and I verified by touching a few things that were previously missing group access.  Closing.

[2016-09-08 15:10] #471 closed

[2016-09-08 18:04] samreid commented on #445
@jbphet can you please review the translation (locales) issue and see how it pertains?

[2016-09-08 18:04] samreid commented on #445
Assigned to me to update grunt.

Assigned to @jbphet to see about the nopt bug and if there is a workaround we need to remove.

@samreid can create a test task issue after the update.

[2016-09-08 22:29] pixelzoom commented on #478
I attempted to run test-server without running "node chipper/test-server/test-server.js".  After printing an error to the console:

... it continues to run.  Seems like if `?loadOnly` is specified, then it shouldn't be trying to connect to the server, or build anything.

[2016-09-08 23:14] jbphet commented on #445
I just spent some time looking at this, and I didn't find any workaround related to the locales and the options behavior.  The release notes page for Grunt 1.0.0 (http://gruntjs.com/blog/2016-04-04-grunt-1.0.0-released) says,

I recall running into issues with this behavior previously when running commands like ```grunt --dryRun deploy-rc```.  With the version that we are currently using (v0.4.5),

[2016-09-09 06:32] pixelzoom commented on #445
@jbphet said:

I don't recall any workaround in code. What I recall is getting in the habit of providing a value for every option switch (line in @jbphet's `--dryRun=true` example).

[2016-09-09 06:33] samreid commented on #445
I also recall we had to explicitly specify arguments like `--dryRun=true` which wouldn't be broken in Grunt 1.0.0.  It is more a question of whether we want to go back to using `--dryRun` now that it will be supported.  We may wish to stick with `--dryRun=true` because it is clearer.

[2016-09-09 06:36] pixelzoom commented on #445
The bug that @jbphet mentioned in https://github.com/phetsims/chipper/issues/445#issuecomment-245771015 was apparently in 'nopt', a grunt dependency.  From the [grunt CHANGELOG](https://github.com/gruntjs/grunt/blob/master/CHANGELOG), in v1.0.0-rc.1:

      multiple arguments and dealing with numbers as options. Be aware previously
      `--foo bar` used to pass the value `'bar'` to the option `fo

[2016-09-09 06:37] samreid commented on #445
Perhaps this habit is codified in one or more places, I saw this code in build-server.js:

[code]

I wonder if this used to read `--buildServer` and was running into the nopt bug.

[2016-09-09 06:39] pixelzoom commented on #445
Looks like the output of `grunt --help` for PhET-specific tasks is sufficiently vague that we won't need to change anything if we want to do `--dryRun` instead of `--dryRun=true`.

[2016-09-09 06:41] pixelzoom commented on #445
I take it back... one help line in chipper/js/grunt/Gruntfile.js:

[code]

[2016-09-09 19:49] pixelzoom opened #485 "add eslint rules for switch statements?"
While working on plinko-probability, I encountered numerous cases (no pun intended) where `switch` statements had no `default` case. In a couple of cases, the code was relying on the `switch` being a no-op if none of the cases matched. In other (most) cases, it was just a blatant lack of error checking.

How do developers feel about enabling the eslint rule that requires a default case in switch s

[2016-09-09 19:52] pixelzoom commented on #485
Specifically, this would involve adding the following line to the "rules" section of .eslintrc:

[code]

[2016-09-10 04:15] samreid commented on #445
Based on https://github.com/phetsims/chipper/issues/445#issuecomment-245771015 I'll hold off on update until we check in again.

[2016-09-10 04:18] samreid commented on #479
@pixelzoom does QueryStringMachine address all of the trouble you identified in this issue?  Shall we create any sub-issues for outstanding work?  Perhaps an issue for deprecating phet.chipper.getQueryParameter and porting to QueryStringMachine?

[2016-09-10 04:21] samreid commented on #481
I can see at least 2 "right" ways to do this:

1. Generalize deployDev so it can deploy to phet-server
2. Use build-server to deploy to phet-server.

I'm not familiar enough with the build process to make the call here.  Can @jbphet @pixelzoom @andrew @jonathanolson @jessegreenberg or @mattpen chime in?  Tagging for developer-meeting in case we don't get it sorted out by then.

[2016-09-10 04:37] samreid commented on #484
On hold while @jbphet reviews #348

[2016-09-12 15:23] jonathanolson commented on #481
If it's a production release, I'd lean towards build-server, so the builds are consistent (same single platform/setup used to build all production sims).

[2016-09-12 15:39] samreid commented on #481
Yes, phet-io deploys are for production (though until now we have used dev versioning), so I'm up for using build-server.  I haven't worked with it before, perhaps it would be useful for someone with build-server experience to help out on this part.

[2016-09-12 15:41] jonathanolson commented on #478
"It should only load the simulations (in all modes), but not do any mouse fuzzing after it loads. Instead go to the next simulation".

Should a 'requirejsOnly' flag be added, or should the loadOnly flag be renamed to better indicate its purpose? I don't mind renaming/adding things.

[2016-09-12 15:50] jbphet commented on #481
+1 for using the build server.  For non-phet-io deployments, the build server is used for release candidate and production builds, but not for dev deployments.  It would probably be best to be consistent.

[2016-09-12 16:07] jbphet commented on #484
Just to be clear, @samreid is referring to https://github.com/phetsims/joist/issues/348.

[2016-09-12 17:03] andrewadare commented on #410
@samreid I looked into two continuous integration options earlier this summer: Jenkins (self-hosted) and Travis-CI (remote). Jenkins turned out to be more complicated to configure than I anticipated. If people consider this a high priority, the topic can be revisited, but I have not gotten that impression. Since @jonathanolson has some experience in the area of automated testing, it may be valuabl

[2016-09-12 17:41] ariel-phet commented on #410
@andrewadare might be good to bring up again at an upcoming developer meeting. I would not say a "high priority" but I do want us to continue to work on it.

[2016-09-13 02:46] samreid commented on #410
I'd recommend the following steps:
1. Choose a server which is always on which can devote resources to running our tests.  This could begin life as a developer's computer (and local use for development), but we would need to have a plan for a server-based resource or the rest of this won't work so well.
2. Put it on a continuous loop: pull-all.js, clone-missing-repos.sh, run our existing tests (un

[2016-09-13 02:48] samreid commented on #410
By the way, I'd like to see the type checking tests into our normal tests, but it could take some work to get there (mainly telling it how our types are defined across files): #483

[2016-09-13 15:15] pixelzoom commented on #481
@samreid wrote:

While it may currently be the case that PhET-iO deployments are dev versions, that's undesirable in the long run.  Presumably PhET-iO will have both production and dev versions.

That depends on whether you're deploying for production, RC, or dev. For production and RC, use build-server.  For dev, build locally.

Ultimately, we should be able to use `deploy-production`, `deploy-RC

[2016-09-13 15:16] pixelzoom commented on #481
@samreid wrote:

Imo, we should stop using dev versioning for phet-io deploys asap.

[2016-09-13 16:04] pixelzoom commented on #478
I don't know where you're looking for documentation, but in test-sims.js:

[code]

So the documentation clear indicates requirejs mode, *not* both modes.

For this issue, let's fix either the documentation or the behavior.

In general, we need a way to specify which specific tests we want to run, and for which modes. Something like:

```.../test-sims.html?mode=requirejs&tests=load```

mode: which

[2016-09-13 19:08] pixelzoom opened #486 "deprecate phet.chipper.getQueryParameter?"
... and replace with QueryStringMachine.  Not sure if this will be possible (or desirable) to do everywhere. But it seems like a good goal for (at least) PhET-specific repos.

[2016-09-13 19:10] pixelzoom commented on #479
Yes.

Looks like that's proceeding naturally in query-string-machine repo.

That's the only issue I can think of: https://github.com/phetsims/chipper/issues/486

Closing.

[2016-09-13 19:10] #479 closed

[2016-09-13 23:38] pixelzoom commented on #485
The following repositories have one or more switch statements with no default case:

faradays-law
fraction-matcher
making-tens
neuron
states-of-matter
sun (buttons)
trig-tour

Reviewing these, none of them looks intentional or justified to my eye.

I also see this `default` case in states-of-matter.MultipleParticlesModel:

[code]

@jbphet Is this really what you intended? This leaves me wondering

[2016-09-14 21:40] pixelzoom commented on #410
@samreid What are "the type checking tests"?

[2016-09-14 21:41] pixelzoom commented on #410
Ah, never mind. You're referring to flow-jsdoc (or something similar) as mentioned in https://github.com/phetsims/chipper/issues/410.

[2016-09-14 22:06] pixelzoom commented on #485
I've created a separate issue for the odd switch statements in states-of-matter.

[2016-09-14 23:33] jonathanolson commented on #478
Understood, proper documentation was definitely lacking (my fault). It looks like the incorrect documentation was added in later (https://github.com/phetsims/chipper/commit/a01a8e0f000fd53eaba1cb0d912ae16521b6c2af), and my naming definitely didn't make the behavior clear (was originally just a tool for myself).

Sounds good and much more clear. If we plan to extend it, I would imagine we could hav

[2016-09-14 23:35] jonathanolson commented on #410
Figaro sounds potentially appropriate?

[2016-09-15 00:06] samreid commented on #410
I tried running phantomjs on figaro by the following steps:
figaro:~/test-server # uname -a

wget https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2

create hello.js with this content (from the Quick Start) http://phantomjs.org/quick-start.html
[code]

phantomjs-2.1.1-linux-x86_64/bin/phantomjs hello.js

In the download docs: http://phantomjs.org/download.html It

[2016-09-15 00:08] samreid commented on #410
We could build our own phantom but it seems somewhat invasive: http://phantomjs.org/build.html

[2016-09-15 03:09] jonathanolson commented on #410
Just checked, but I can't 'sudo yum' to install packages globally. If we want more full control, we could go with something like phettest.colorado.edu, however it could slow down the normal operation (it's not terribly beefy).

[2016-09-15 03:48] samreid commented on #410
I'm not sure what the status of figaro is, are we using it as a backup system? Will it still be managed by OIT?  If not, perhaps we can have sudo.  If it will be managed by OIT, then perhaps we just ask if they can install phantomjs.

[2016-09-15 16:37] samreid commented on #485
Yes, switch statements should have default statements.  I'm also wondering if we should get rid of switch statements, because ternary or if statements are clearer and no chance of forgetting `break`:

![image](https://cloud.githubusercontent.com/assets/679486/18558416/41279398-7b30-11e6-92cd-be38397dae88.png)

If we must keep switch statements, let's also consider making `break` mandatory through

[2016-09-15 16:42] pixelzoom commented on #485
The eslint for requiring a `break` is http://eslint.org/docs/rules/no-fallthrough.  As with the default-case rule, you can add a comment in situations where you intentionally want a fall through.

I'd be happy to add the no-fallthrough rule too.

[2016-09-15 16:48] pixelzoom commented on #485
@samreid said:

I'm not a fan of switch statements, and I generally try to avoid them (with 1 exception in graphing-lines). But there are 92 occurrences of "switch(" in PhET code, it seems that other developers find switch useful.  So I'll abstain from voting on whether to ban `switch`.

[2016-09-15 17:08] samreid commented on #485
Here's a case where ternary is arguably better than switch (from Plinko):

SWITCH
[code]
CASE
[code]

CASE WITH LINE BREAKS
[code]

[2016-09-15 17:26] pixelzoom commented on #485
I'm not a fan of ternary conditional statements unless they are dirt simple, like:

```var numberOfParticles = DEBUG ? 10 : 100;```

And I really dislike them when they're nested/chained like the example in https://github.com/phetsims/chipper/issues/485#issuecomment-247390037.

[2016-09-15 17:30] pixelzoom commented on #485
No sims are currently failing the no-fallthrough rule, so nothing to fix.

[2016-09-15 18:24] andrewadare commented on #410
A bit more background on my research from this summer: Travis CI and CircleCI are remotely-hosted options. For open-source repos, Travis is free, and I'm pretty sure that's also the case for CircleCI. But PhET-iO poses a problem, which is what put me off.

[2016-09-15 18:28] samreid commented on #410
@ariel-phet says figaro is currently a failover machine.  We would have to ask @kathy-phet when we might retire it.

[2016-09-15 18:29] samreid commented on #410
Can you elaborate?

[2016-09-15 18:30] andrewadare commented on #410
It's not open source, so the licensing is different. We'd have to pay for CI services from Travis or CircleCI.

[2016-09-15 18:32] samreid commented on #410
@ariel-phet said figaro may be retired, and we may use simian for testing?  Let's talk with @kathy-phet about this.

[2016-09-15 18:33] samreid commented on #410
We could run tests on simian, and just pause the tests if simian has to be used as a failover.

[2016-09-15 18:34] samreid commented on #410
@mattpen is going to ping Doug Johnson about whether we can use simian for this.

[2016-09-15 18:41] jbphet commented on #445
We discussed this at the 9/15/2016 developer meeting and decided to move forward with the upgrade.  @samreid will start on it and let us know if there are any unforeseen challenges.

[2016-09-15 18:42] pixelzoom commented on #478
9/15/16 dev meeting: Skipped because @jonathanolson not present. Would be nice to have a concrete proposal for approval.

[2016-09-15 18:56] samreid commented on #481
@ariel-phet suggested @samreid could work with @mattpen on using the build server.

[2016-09-15 19:06] pixelzoom commented on #485
9/15/16 consensus: Add both rules.

[2016-09-15 22:37] pixelzoom opened #487 "add consistent-this eslint rule"
At 9/15/16 developer meeting, we decided to standardize on `self` as the name of the variable used to capture the `this` context.  And we decided to use this standard going forward, and fix existing code as needed.  (I fixed my sims and most common code.)

@samreid proposed using the `consistent-this` rule to enforce this convention.

Skype discussion:

[9/15/16, 4:26:42 PM] Sam Reid: http://eslin

[2016-09-15 22:50] pixelzoom commented on #485
Rules have been added to .eslintrc, issues have been created for sims that are now failing lint.

Closing.

[2016-09-15 22:50] #485 closed

[2016-09-15 23:32] samreid commented on #487
Fixed balancing act and tested in requirejs mode.

[2016-09-16 01:38] pixelzoom opened #488 "is test-server displaying duplicate errors?"
I ran test server this evening, and in the section labeled "Sim errors (dev)", it looks like each error appears twice.  Here's a screenshot:

![screenshot_198](https://cloud.githubusercontent.com/assets/3046552/18572840/f1ab8350-7b7b-11e6-8abc-84617601e7e0.png)

[2016-09-16 04:33] samreid commented on #487
After above commits, all active-runnables are passing consistent-this rule, with `self` as the `this` var.

[2016-09-16 05:18] samreid commented on #487
Test-server on requirejs mode checks out, no new problems from this refactoring.  @pixelzoom do you want to review?

[2016-09-16 16:37] jonathanolson commented on #488
I believe this is happening because of the async delays between the parent and child frame. The child (sim) frame hits an error, and it notifies the parent frame. Then the parent frame notices and changes the URL of the child (sim) frame. If the sim runs another frame before the async message arrives, two messages show up (since presumably the sim errors in the very next frame also).

[2016-09-16 17:17] pixelzoom commented on #487
Entries in .eslintrc appear to be documented by convention, so I added a comment for the consistent-this entry.

Closing.

[2016-09-18 17:06] samreid commented on #410
OIT asked what we will need and I replied:

[2016-09-19 02:00] samreid commented on #445
When I updated grunt and did npm install, I received this warning:

[code]
Apparently grunt-requirejs has not been updated beyond 0.4.2.  grunt-contrib-requirejs looks like it is versioning with grunt, but I can't remember why we had to use grunt-requirejs instead.

[2016-09-19 03:05] samreid commented on #445
Some possibilities:

1) the warning above is just a warning and everything will be just fine
2) We could get rid of grunt-require and just call r.js ourselves using the node or command line interface
3) we could stick with old grunt.

I'm leaning toward 2) but my enthusiasm for a speedy grunt update has wavered.

[2016-09-19 03:38] samreid commented on #445
I have a hunch this is nearly all we need, but it will need to include almond as well:

[code]

[2016-09-19 03:41] samreid commented on #445
This would take longer than the "quick update" we hoped for at last developer meeting, so I'll wait for feedback before spending more time.  My vote is to decouple our build process from grunt-requirejs, but it could take 2 hours or more.

[2016-09-19 22:00] pixelzoom opened #489 "how to prevent buggy 'preload' entries?"
@jbphet had problems publishing an RC version of atomic-interactions.  He was unfortunate and picked up a buggy version of `build.json` where `"../query-string-machine/QueryStringMachine.js",` was added to `preload`, but the corresponding repository (query-string-machine) was not added to `phetLib` (see @b3db3fba23176be5de320a04ea4e18552da146eb).

Because  `query-string-machine` was missing from `

[2016-09-20 02:18] samreid opened #490 "I removed blank lines in active-sims, active-runnables, active-repos"
Will this cause any parse errors in code that was relying on a blank line?

[2016-09-20 13:51] samreid commented on #410
I created repo "aqua" for Automatic QUality Assurance, and moved issues to that repo, closing this one and we will continue in https://github.com/phetsims/aqua/issues/4

[2016-09-20 13:51] #410 closed

[2016-09-20 15:46] samreid commented on #489
Yes, this sounds reasonable.  Here are the current preloads:

[code]

We can split('/')[1] to take the directory name, but `sherpa` may need to be an exception case.

[2016-09-20 15:48] samreid commented on #490
`for-each.sh` still works properly.

test-sims.js could be simplified:
[code]

[2016-09-20 15:49] pixelzoom commented on #489
Why might sherpa need to be an exception? It's included in phetLibs, and needs to be in dependencies.json.

[2016-09-20 15:50] samreid commented on #489
My apologies, I missed it in phetLibs.

[2016-09-21 03:20] samreid commented on #451
@mattpen and I concluded that phet-io deploys and phet deploys should remain separate for the foreseeable future.  Closing.

[2016-09-21 03:41] samreid commented on #481
@mattpen and I discussed this, and we have the following recommended steps:

Steps for chipper side:
* Change the instructions for building a phet-io branded simulation so that it uses `grunt --brand=phet-io` instead of `grunt build-phet-io`
* Add a step to the phet-io build & deployment guidelines that builds the phet branded one as well (if we are still doing that)
* Add a step to afterRequireJS

[2016-09-21 03:44] samreid commented on #451
On second thought, it is nice to use phet-io for testing the production sims, and perhaps we will get to a point where these can be developed and deployed together.

[2016-09-21 19:44] samreid opened #491 "Rip devguide from phet-io"
@mattpen and I were working on the phet-io deployment steps and had this step:

3. Use Chrome to launch https://phet-io.colorado.edu/devguide/ and click "save as", then save it to build/doc

@mattpen said it might work nicely to automate that with a custom JS rip

See #481

[2016-09-21 19:45] samreid commented on #481
To Do:

- [ ] build-phet-io directory should not be created
- [ ] pop up lib/ and protected/ one level

[2016-09-21 20:03] samreid commented on #481
If the phet-io versions have the string "phetio." in them, that can be checked on the server.

[2016-09-21 20:06] samreid opened #492 "Grunt build should create a build.json or config.json metadata file"
Discovered during #481, deployProduction is currently reading from package.json instead of the build artifacts to determine things like the version.  This provides an opportunity for deploy-production and deploy-rc to send dependencies.json from the built sim but version and other metadata from package.json (which may be out of sync.)

[2016-09-21 20:57] mattpen commented on #481
Todo items for the build server:

- [ ] Write an .htaccess file in the spotScp for phet-io sims
- [ ] Make sure that the scp from phet-server to spot is recursive for phet-io sims.
- [ ] Check that the .htaccess file is copied with the scp.

[2016-09-21 22:00] pixelzoom commented on #478
@jonathanolson Based on discussion at 9/15/16 developer meeting, I think the expectation is that you're going to propose something prior to some developer meeting, which we can review and then discuss at a developer meeting.

[2016-09-22 01:00] pixelzoom commented on #487
I said:

I suddenly remembered why we originally refrained from standardizing on `self`.  The is a global variable `window.self` which points to `window`.  If you forget to define `self`, then you will be accessing that global, not the `this` context.

I don't think we need to change our decision to standardize on `self`.  But reopening this issue and labeling for developer meeting, so that all de

[2016-09-22 01:05] pixelzoom commented on #487
Browser console example demonstrating what happens when you forger to define `self` in a constructor:

[code]

[2016-09-22 02:56] samreid commented on #481
Chipper-side TODOs are complete.

[2016-09-22 02:58] samreid commented on #481
Our new task is lacking the ability to do dev-deploys.  Can we use RC process with a dev version?  Or if we want to use deployDev with phet-io, we will have to augment with .htaccess.

Why aren't we using the build server for dev builds?

[2016-09-22 03:44] samreid opened #493 "CSS and other things broken in new build"
![image](https://cloud.githubusercontent.com/assets/679486/18736478/9aa42120-8044-11e6-9b7d-702a34f098a1.png)

[2016-09-22 03:45] samreid commented on #493
![image](https://cloud.githubusercontent.com/assets/679486/18736481/a7e133e6-8044-11e6-9fa7-4e6c41891445.png)

[2016-09-22 06:03] mattpen commented on #481
@samreid - The deploy-rc task successfully built the sim and deployed the files to spot.  I noticed during a brief check that the `screenshot` wrapper is working, but that [`instance-proxies`](http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.2.0-phetio.1/protected/wrappers/instance-proxies/instance-proxies.html) is saying that all values in the sim are undefined.

[2016-09-22 13:13] samreid commented on #481
What is the ox-dev URL for the deployed sim?

[2016-09-22 13:38] samreid commented on #481
The error looks like this:

![image](https://cloud.githubusercontent.com/assets/679486/18750245/9318e74e-8097-11e6-84c5-8365fc015016.png)

[2016-09-22 13:39] samreid commented on #481
The problem goes away with `?launchLocalVersion`

[2016-09-22 13:48] samreid commented on #481
I wonder if we should always `launchLocalVersion` with a fallback to loading the one from phet-io.colorado.edu for clients?

[2016-09-22 13:49] samreid commented on #481
In the preceding commit, I removed the 0.1 from the path in wrappers.  @mattpen you will need to pull before doing a production phet-io deploy.

[2016-09-22 17:04] pixelzoom commented on #490
Blank lines were removed in @5b9d30b09b5fa3616d52aca67928a3e3667aa848

[2016-09-22 17:11] pixelzoom commented on #490
I took a quick look through the various scripts and Grunt tasks that process these files. I didn't see anything that looks like it will be affected by removing blank lines.  (I'd be more concerned if we were adding blank lines.)

[2016-09-22 17:21] pixelzoom commented on #490
Regarding test-sims.js, this would be cleaner, and doesn't require a function:

[code]

E.g. in console:

[code]

[2016-09-22 17:29] jonathanolson commented on #478
Possibly query parameters:

- test = 'fuzz' or 'none', determines what test is done after loading the simulation. Default fuzz?
- build = 'true' or 'false', determines if it should attempt to build the sims and test the built versions. Default true?

[2016-09-22 18:17] samreid commented on #445
@jonathanolson agrees that moving away from the plugin sounds good.

[2016-09-22 18:18] samreid commented on #445
@ariel-phet approved 2+ hours in the next week or two to investigate this.

[2016-09-22 18:22] pixelzoom commented on #489
TODO: Add validation in getBuildConfig.js.  After calling getPreload, foreach entry in array `buildConfig.preload`, extract the repository name and verify that it's in array `buildConfig.phetLibs`.

[2016-09-22 18:37] jonathanolson commented on #478
- sim = <sim-name>, will only test a specific simulation.

[2016-09-22 18:39] samreid commented on #478
We decided to use `sims` and use a comma separated list. QueryStringMachine can parse it.

[2016-09-22 18:49] samreid commented on #478
@jonathanolson said he will finalize a proposal (not sure for API or implementation) that passes through the entire query string from wrapper to sim iframe.  I'll review it when it is ready.

[2016-09-22 18:56] pixelzoom commented on #487
9/22/16 Noted at dev meeting, closing.

[2016-09-22 18:56] #487 closed

[2016-09-22 19:04] pixelzoom commented on #489
9/22/16 dev meeting: I fixed it, @samreid volunteered to verify.

[2016-09-22 19:09] samreid commented on #490
Consensus: let's at least have trim() to support blank lines.

[2016-09-22 19:12] pixelzoom commented on #490
@samreid will add the blank lines back, since cat'ing a file now looks odd. E.g. if my shell prompt is "%", note that there's no newline between the last entry and my prompt.

[code]

[2016-09-23 04:22] samreid commented on #445
Apparently we cannot launch r.js from the command line because our config files are not pure JSON.  This is a step in the right direction though:

[code]

We still need to drop license comments, make sure asserts are stripped, etc.

[2016-09-23 05:23] samreid commented on #445
I committed a custom requirejs task above.  With uglify=false, the only difference between the new build and the old build is that the new build doesn't include the config file:

![image](https://cloud.githubusercontent.com/assets/679486/18774979/8c8ae236-811b-11e6-9336-f4f4c5ae097b.png)

This is preventing the sim from running at all.

[2016-09-23 05:26] samreid commented on #445
Is this now done with `insertRequire`? https://github.com/requirejs/almond

[2016-09-23 05:34] samreid commented on #445
insertRequire did the trick.  It appears the remainder of the require.config is not necessary...?

[2016-09-23 05:37] samreid commented on #445
We are also missing this output:

[code]

[2016-09-23 05:58] samreid commented on #445
Comparing the uglified files I'm seeing this kind of difference, perhaps it is to be expected:

![image](https://cloud.githubusercontent.com/assets/679486/18775657/708efbe4-8120-11e6-8cad-1f1544569641.png)

[2016-09-23 06:03] samreid commented on #445
OK my work here is complete.  This is ready for review by another developer. To test, pull chipper, then navigate to Gruntfile.js line 103:

[code]

Comment out the old one `'requirejs:build',` and include the new one I just wrote `'requirejs-build',` so that you may test it.

The build output differences are noted above, in summary: The old version included other require.config things, but it see

[2016-09-23 06:43] ariel-phet commented on #445
@andrewadare you are the winner! :trophy:

[2016-09-23 15:12] andrewadare commented on #445
@samreid going through requirejsBuild.js now. Just a reminder that you have [this TODO](3127161cbdb6df92a07eb2dfff8781c85780323b) that should be cleared once the review and testing have passed.

[2016-09-23 15:17] samreid commented on #445
Thanks for the reminder, that is also the first checkbox in this list: https://github.com/phetsims/chipper/issues/445#issuecomment-249110133

[2016-09-23 15:27] andrewadare commented on #445
requirejsBuild.js looks fine, everything is well commented and clear enough.

Console output from current build step (running `grunt --uglify=false` on Charges and Fields):
[code]

And from new build process:
[code]
The new one doesn't seem to report the file sizes.

[2016-09-23 15:27] samreid commented on #445
Correct, I mentioned that in https://github.com/phetsims/chipper/issues/445#issuecomment-249107213

[2016-09-23 15:35] andrewadare commented on #445
Just noting that it's still the case. Seeing the output sizes is useful, but of course not critical.

A diff of the old and new Charges and Fields build output HTML files is identical.

Everything looks good to me; I don't see any problems with the new code or with the build output.

[2016-09-23 15:35] samreid commented on #445
It looks like that size reporting was done in https://github.com/asciidisco/grunt-requirejs/blob/master/lib/helper/sizeInfo.js, not in requirejs or uglify2.  If it is important, we could add our own variant, but I don't think it is that important.

[2016-09-23 15:35] samreid commented on #445
Except for the require.config call at the bottom, and the timestamps?

[2016-09-23 15:42] andrewadare commented on #445
Yes, to be precise, the output is not identical. Here's an example from Charges and Fields:

[code]

[2016-09-23 15:44] samreid commented on #445
OK is the review complete and ready for me to convert from `'requirejs:build'` to `'requirejs-build'` in master and the other checklist items in https://github.com/phetsims/chipper/issues/445#issuecomment-249110133 ?  Please assign to me when ready.

[2016-09-23 15:49] andrewadare commented on #445
@samreid The new code looks good and my spot-check with Charges and Fields reveals no problems. Signing off on the review and test.

[2016-09-23 16:49] samreid commented on #445
In the above commit, we are now using the new requirejs-build task. @andrewadare @pixelzoom @jessegreenberg @jonathanolson @jbphet @aadish please pull chipper and report any build problems you observe.

[2016-09-23 16:56] samreid commented on #445
In the above commit, grunt-requirejs was removed from chipper's package.json.

[2016-09-23 17:05] samreid commented on #445
dot, kite and scenery have their own build systems, with different grunt tasks.

[2016-09-23 17:09] jonathanolson commented on #445
Do I need to look at upgrading those build systems?

[2016-09-23 17:13] samreid commented on #445
Some possibilities:

(1) drop support for kite/scenery/dot builds
(2) leave them on old grunt
(3) someone on our team (could be me or @jonathanolson) upgrades them.
(4) add chipper support for kite/scenery/dot builds

Here is how I currently feel about each option:
(1) 75%
(2) 60%
(3) 40%
(4) 50%

[2016-09-23 17:14] samreid commented on #445
Spot tests with the new grunt seem good, I tested Function Builder and Friction with grunt 1.0.1 and all seems well.  I'll start committing things.

[2016-09-23 17:27] samreid commented on #445
After above changes, developers have to rm -rf node_modules or build errors are reported.

[2016-09-23 17:42] samreid commented on #445
The above commit moves all repos to grunt ~1.0.0.  Developers need to update chipper, `rm -rf node_modules` in every directory and `npm install` in every directory.

[2016-09-23 17:48] samreid commented on #445
I emailed the team:

In https://github.com/phetsims/chipper/issues/445 I updated our repos to use Grunt 1.0.1, rewrote the grunt-requirejs dependency and updated all simulations package.json files.  You will need to rm -rf all of the node_modules and do fresh npm installs.

Other build systems will need to be updated, such as build-server, test-server, etc.  I do not know how to rm node_modules on

[2016-09-23 17:53] jonathanolson commented on #445
(1) Would presumably mean removing or updating HTML documentation and examples, as they use the built versions, and would mean abandoning the original goal of allowing other projects to use Scenery/Kite/Dot. Due to PhET mostly using the in-code documentation (and I'm really not sure if anyone else is using them), it would probably not affect us too much. Still would prefer not to.
(2) @samreid, wh

[2016-09-23 17:57] samreid commented on #445
I'm moving the scenery/kite/dot to a new issue, probably in scenery.

[2016-09-23 18:20] samreid commented on #445
We discovered that we need to run `npm prune` when we move from a package.json with grunt-requirejs to a package.json without grunt-requirejs.  @mattpen is implementing this for the build-server.  @jonathanolson can you implement it for phettest.colorado.edu?

[2016-09-23 18:24] jonathanolson commented on #445
I already removed node_modules and started the build process to test (going well). Are you saying we want this for the next time we bump package.json?

[2016-09-23 18:27] samreid commented on #445
My apologies, I forgot test-server only goes forward.  If this happens again in the future (say we remove grunt-eslint from package.json), then we may need npm prune or rm -rf node_modules.

[2016-09-23 19:29] jonathanolson commented on #478
Proposal:
1. All query strings passed to the test server will be passed through to the simulations themselves, in addition to 'postMessageOnLoad' and 'postMessageOnError' which are used for load/error detection.
2. testTask='fuzzMouse' or 'none', default 'none' (potentially fuzzTouch added in the future)
3. testRequirejs='true' or 'false', default 'true'
4. testBuilt='true' or 'false', default 'tr