[2020-02-17 19:16] zepumph commented on #844
I looked at SimLauncher briefly and things look really great! Thanks for the hard work on this. Do you want to pair to co-review and go over loose ends sometime this week?

[2020-02-17 23:46] zepumph commented on #795
https://github.com/phetsims/rosetta/issues/193 is wrapped up. Molarity was converted in https://github.com/phetsims/molarity/issues/205 and has been published with this. We are ready for this whenever. I will say though that I will likely wait until the es6 module conversion in a few weeks.

[2020-02-18 00:16] zepumph commented on #876
What about special lint rules that are used only for rc/production calls in perennial? That sounds pretty obfuscated.

Maybe we make a new grunt task called `grunt lint-production`, so at least you can check to see if it passes before running the perennial task.

[2020-02-18 19:04] mattpen commented on #878
@samreid Can you publish a dev test with this change so we can test in the apps?

[2020-02-18 20:29] zepumph commented on #742
@twant's work looks really good. I just made a few changes to support (hopefully) wider screens. I also converted to use `em` across the board for consistency.

I think we are ready to merge to master.

[2020-02-18 20:31] zepumph commented on #809
Finished up with https://github.com/phetsims/chipper/issues/742. Closing

[2020-02-18 20:31] #809 closed

[2020-02-18 20:41] zepumph commented on #742
I merged and pushed updated a11y view above. I put about 40 minutes into investigating safari sticky behavior, and found https://stackoverflow.com/questions/51792783/safari-positionsticky-not-working-in-an-overflowauto-element which talked about how it is likely because we are using `display: inline-block` instead of `block`. That said, I couldn't get sticky to ever work when I switched to using `

[2020-02-18 22:36] samreid commented on #878
I published https://phet-dev.colorado.edu/html/gravity-and-orbits/1.2.0-dev.7/phet/gravity-and-orbits_en_phet.html.

[2020-02-18 22:55] mattpen commented on #878
Thanks Sam.

@KatieWoe - Can you do a brief spot test of that sim with the debug build for the ios app?

I'll test this in the Android App with @shreyas-g-ucb.

[2020-02-19 18:21] jbphet commented on #872
@jonathanolson

This issue is assigned to me, but I'm not clear on what I need to do to address it.  It almost sounds like it's not quite ready for review.  @jonathanolson - can you please clarify?

[2020-02-19 18:54] jbphet commented on #849
I've reviewed the changes for my repos, they all look reasonable to me.  I think that means that everything is done on this, but it would probably be good for @zepumph to double check before closing.

[2020-02-19 19:13] Denz1994 commented on #870
Steps used to checkout ES6 module:
[code]
After running through the above commands we can do a few things:
- `grunt lint` from repo
-  try building if it's a sim repo
-  running the sim in the browser to check for failures

We can revert back to master by running ```./perennial/bin/revert-migrate.sh```. If there are any working changes we'll have to run ```git reset --hard``` in the repo. @samreid

[2020-02-19 19:17] Denz1994 commented on #870
Reporting linting error:
[code]

[2020-02-19 19:20] Denz1994 commented on #870
Running ```./perennial/bin/for-each.sh perennial/data/active-common-sim-repos grunt lint``` triggered many errors related to console logs like so:

[code]

[2020-02-19 19:21] pixelzoom commented on #882
I was thinking that a lint rule would be preferable. I investigated the suggestions at https://github.com/eslint/eslint/issues/6250, but didn't find anything that would meet this need.

[2020-02-19 19:52] pixelzoom commented on #880
@samreid,  in Molecules and Light, infrared-source.png was used in 2 places: PhotonEmitterNode and QuadEmissionFrequencyControlPanel.  In the former, there's no need for a mipmap because the image is displayed at about the same size as the PNG file.  In QuadEmissionFrequencyControlPanel, there was a need for mipmap because the image is scaled by 0.27 and that caused artifacts on older Firefox. (Se

[2020-02-19 19:55] samreid commented on #880
But if you have loaded the `mipmap!` of an image, it should be used instead of loading a separate `image!` of the file.  Otherwise you are unnecessarily bloating the download size.

[2020-02-19 20:14] Denz1994 commented on #859
The above suggestion was applied to deprecated assert patterns found during refactoring. There isn't anything left to do for this issue, so I'll close. Thanks, @pixelzoom for your input.

[2020-02-19 20:14] #859 closed

[2020-02-19 21:03] KatieWoe commented on #878
Looked at app on iPadOS 13.3.1. Loaded fine there. Unrelated bug found for Gravity and Orbits. Documenting in that repo.

[2020-02-19 22:14] jbphet commented on #832
@zepumph, @samreid, and I discussed this and we have a plan for changing the string keys described above.  I'll set up an issue to do it and will reference this one.

[2020-02-19 22:33] zepumph commented on #876
I messed up reverting that commit. I didn't understand that it was relaxing the no-console rule from `eslint:recommended`. I reverted above. Thanks @jbphet for your patience!

[2020-02-19 22:34] samreid commented on #880
PhotonEmitterNode.js has this code:

[code]

Two images that have the same scaling and are used in similar ways are loaded with different plugins (`heatLampOffImage` is image and `heatLampOnImage` is mipmap).

If one file is needed as image! and as mipmap!, I recommend to only load it as mipmap! and use that in both places to avoid download bloat, so the image isn't loaded 2x in the download.

[2020-02-20 00:03] pixelzoom commented on #880
That was not the case until you ran your conversion script.  See https://github.com/phetsims/molecules-and-light/commit/0f194d9ad33c5c9c179f80c16ecd0942abd7a581.
All of the images loaded in PhotonEmitterNode.js were using the `image!` plugin until your conversion script changed them.    Only the "On" images are used in `QuadEmissionFrequencyControlPanel`, so they are the only images that are loade

[2020-02-20 01:18] samreid commented on #880
Thanks for correcting me!  The conversion process created a separate directory for mipmaps/ and images/ and I decided to reuse `const heatLampImage = require( 'mipmap!MOLECULES_AND_LIGHT/infrared-source.png' );` as a mipmap rather than copy/pasting the image to images/.

There were 2 problems for this issue:

(1) Why would one image be mipmapped and the other not, when they are used in similar cir

[2020-02-20 01:47] samreid commented on #870
@zepumph said he knew something about the `no-console` rule.  Does something need to be done in the chipper/webpack branch?

[2020-02-20 06:50] pixelzoom commented on #880
Sounds like a plan.  Will we need tooling to enforce that?

[2020-02-20 13:45] samreid commented on #880
Maybe we should wait to hear about https://github.com/phetsims/chipper/issues/840.  If we no longer need mipmaps it would obviate this problem, or if we only need them in rare circumstances, it could change how we approach the problem.

[2020-02-20 18:07] jonathanolson commented on #879
This would be good to discuss in person or on a call. I'd like to know a bit more about how the chipper build process works if this isn't working without a workaround.

[2020-02-20 18:08] jonathanolson commented on #872
It sounds like it's not ready yet, presumably this would be done a bit more during the "sprint"? It's unclear and very broad to me.

[2020-02-20 18:10] jonathanolson commented on #832
Ok, let me know when that is done, and I can remove the workarounds I added above.

[2020-02-20 18:18] jonathanolson commented on #853
That's potentially fine, although if it's easy to get it working on Windows, that would be good.

[2020-02-20 19:36] samreid commented on #867
From today's meeting, the QA test will be important to test a sim on every supported platform.  All tests will be on compiled published dev versions, not compilation-free mode.

Stage 1: Basic test on all platforms, for 2-3 sims.
* Does the sim run and behave normally
* Fuzz the sim for 30 seconds

Stage 2: Just 1-2 sims on a few platforms:
* Do the strings display naturally
* Does English work an

[2020-02-20 19:39] jbphet opened #883 "Test the translation utility on sims converted to ES6"
String handling is going to be changed fairly significantly when we do the conversion of all sim code to ES6.  The translation utility (aka Rosetta) relies on extraction of the strings used by the sim from the built HTML5 file.  We should verify that this process works when there are converted and built ES6 sims available.

The parent issue for this is https://github.com/phetsims/chipper/issues/82

[2020-02-20 19:45] jbphet commented on #883
Assigning to @jonathanolson, who is going to produce the first fully converted and built ES6 sims.  Once there are several of these available, this issue should be assigned back to me with links to these built sims, and I'll do the testing.

[2020-02-20 20:13] chrisklus commented on #882
I like the console idea a lot!

Wouldn't that also hit older sims that we aren't planning on bringing up to date any time soon?

[2020-02-20 20:29] jonathanolson commented on #867
I have those three sims available in https://phet-dev.colorado.edu/modules-testing/, will be creating the QA issue. It looks like phet-io brand is working well, so I'd like to have that tested.

[2020-02-20 23:56] zepumph commented on #849
Great! I looked through a few more usages, and couldn't find any more buggy ones. Closing

[2020-02-20 23:56] #849 closed

[2020-02-21 00:35] samreid commented on #883
Marking high priority since this should be completed before migration.

[2020-02-21 00:40] samreid commented on #874
Here's a snapshot of the first page of local aqua:

![image](https://user-images.githubusercontent.com/679486/74993417-21195000-5408-11ea-8411-e68a27736df2.png)

[2020-02-21 00:46] samreid commented on #871
Balloons and static electricity exhibits a problem where `scenery.Image` does not exist when `Node.rasterized` is called.  @jonathanolson how do you recommend to proceed?

[2020-02-21 03:27] zepumph commented on #870
@Denz1994 the issue that caused that is over in https://github.com/phetsims/chipper/issues/876

Nothing needed here.

[2020-02-21 04:47] samreid commented on #871
From slack:

Jonathan Olson  5:55 PM
Just have an empty import in Node?

Sam Reid  6:00 PM
I tried but that creates a cycle and fails to load.  Image cannot be defined until Node definition completes

Jonathan Olson  6:01 PM
Then put an empty import where we use rasterize?

Sam Reid  6:02 PM
At each of the top-level call sites?

[2020-02-21 16:31] jonathanolson commented on #867
Removing assignment since QA is testing (and it should include our checks)

[2020-02-21 16:33] samreid commented on #874
Everything is passing except for a string problem in density and buoyancy.

[2020-02-21 17:00] jonathanolson commented on #883
Built sims should be available under https://phet-dev.colorado.edu/modules-testing/

[2020-02-21 17:03] jonathanolson commented on #874
I believe this was fixed in density-buoyancy-common master. Can this be closed then, or do we re-run right before migrate?

[2020-02-21 17:13] jonathanolson commented on #871
Created https://github.com/phetsims/scenery/issues/1038 for handling that case. I presume we aren't running into any other issues?

[2020-02-21 17:25] samreid commented on #871
As far as I can tell, this only triggered in Balloons and Static Electricity, and the workaround I committed seems to be working OK.

[2020-02-21 17:26] samreid commented on #874
Ideally we would re-run after any significant changes, and also again right before migrate in case any untested changes creep in.  Nothing to do for now, so I'll remove the label?

[2020-02-21 18:36] pixelzoom commented on #854
List of things to change:

- [ ] [Module](https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#module) section other require.js references of PhET Software Design Patterns
- [ ] [Modularity and RequireJS](https://github.com/phetsims/phet-info/blob/master/doc/phet-development-overview.md#modularity-and-requirejs) section and other require.js references in PhET Deve

[2020-02-21 20:32] zepumph opened #884 "SimLauncher is the only file that should be linted with babel-eslint"
From https://github.com/phetsims/chipper/issues/844 and related to https://github.com/phetsims/chipper/issues/870.

See **https://github.com/phetsims/chipper/issues/844#issuecomment-586061885** for specifics

We added babel-eslint as the linting parser for joist because the default eslint parser can't recognize dynamic imports. We found there that babel-eslint is much slower (taking over 5 minutes

[2020-02-21 20:39] chrisklus commented on #844
I've pulled all and am getting the following error when trying to run energy-forms-and-changes-locally:

[code]

[2020-02-21 20:44] zepumph commented on #844
We had a commit from chipper that was not yet pushed, sorry!

[2020-02-21 20:48] chrisklus commented on #844
Working now, thanks!

[2020-02-21 21:26] zepumph commented on #844
@samreid and I worked out loose ends here, and created a side issue for after migration. All brands are working correctly, and we confirmed that phet-io code is not added in phet brand builds, and a lack of a phet-io repo won't break a phet build. Closing.

[2020-02-21 21:26] #844 closed

[2020-02-21 22:30] samreid commented on #820
All work tracked in other issues, closing.

[2020-02-21 22:30] #820 closed

[2020-02-21 22:44] zepumph commented on #853
@samreid and i worked on this, but couldn't get it to work too well for windows. Instead we decided to detect when running on windows and warn that this feature is not supported. This way migrate still works as desired, but the better paths is supported for POSIX systems.

This worked well for me, and I'll pass it over to Sam to make sure that it works as expected on mac.

[2020-02-21 23:08] lmulhall-phet opened #885 "String missing colon and space in ES6 version of BAM"
For https://github.com/phetsims/QA/issues/482. Katie and I weren't sure if this had anything to do with ES6, so this issue might need to be moved to a different repo.

Platform: iOS 12

ES6 - "Puntuación0":

![new](https://user-images.githubusercontent.com/31285590/75078726-a7df3300-54c3-11ea-9109-5d672d58211c.jpeg)

Published - "Puntuación: 0":

![published](https://user-images.githubusercontent.

[2020-02-21 23:17] samreid commented on #853
Working well here, closing.

[2020-02-21 23:17] #853 closed

[2020-02-21 23:21] samreid commented on #875
Pre-migrate checklist:
- [ ] check that aqua is passing or mostly passing

[2020-02-21 23:25] samreid commented on #848
This seems good to do before the migration.

[2020-02-21 23:41] samreid commented on #870
Currently there are 3 lint-everything problems that should be addressed before migration.

[code]

[2020-02-21 23:42] samreid commented on #860
Axon tests are OK but Balloons and Static Electricity tests have trouble.  This should be investigated before migration.

[2020-02-22 00:00] KatieWoe opened #886 "Phet-io More things password protected than before"
For https://github.com/phetsims/QA/issues/482.
According to the QA book it says:

However, in the version being tested all three are behind a password.

[2020-02-22 01:31] samreid commented on #870
All issues fixed, closing.

[2020-02-22 01:31] #870 closed

[2020-02-22 01:44] samreid commented on #860
I followed the list in continuous-server.js and only 3 failed:

* balloons-and-static-electricity (also fails on master)
* dot
* tandem

[2020-02-22 01:45] samreid commented on #860
Hmmm, dot seems OK now (and I didn't change anything).

[2020-02-22 01:56] samreid commented on #860
tandem unit tests are fixed after the commit

[2020-02-22 01:59] samreid commented on #860
On hold until BASE is addressed.

[2020-02-22 02:19] samreid commented on #860
After the above commits, all unit tests listed in continuous-server.js are passing, closing.

[2020-02-22 02:19] #860 closed

[2020-02-22 03:08] jonathanolson commented on #886
That's a result of me manually password-protecting everything under phet-io since it wasn't technically a "deployment". This shouldn't be a problem for actual deployments.

Thank you for noticing and reporting!

[2020-02-22 03:08] #886 closed

[2020-02-24 16:19] samreid commented on #848
@jonathanolson and I discussed this and determined it is not essential to do before the migrate.  However, the `namespace.register` calls may be convenient to add as a migration rule if there is time.  `inherit` will probably be a separate step.

[2020-02-24 18:33] KatieWoe opened #887 "IE sims don't open es6 dev versions"
All three sims don't open/load in IE with the following error.
![Promiseundefined](https://user-images.githubusercontent.com/41024075/75180441-7485e980-56f9-11ea-864a-20819ee5806f.png)

[2020-02-24 18:34] KatieWoe commented on #887
For https://github.com/phetsims/QA/issues/482

[2020-02-24 20:57] pixelzoom commented on #692
I skimmed this issue, don't see anything left to do, and it's been "assigned for review" for quite awhile.  So I'm going to close it.

[2020-02-24 20:57] #692 closed

[2020-02-24 21:28] KatieWoe opened #888 "Potential conflict with cookies in Edge"
Found during https://github.com/phetsims/QA/issues/482, but warning comes up with published sims.
A warning that Edge will start blocking cookies without a certain marker in the future comes up when using a sim with dev tools. Unsure what bit of code this is or how it might impact sims, so investigation may be called for. This is the chromium version of Edge.
![cookie](https://user-images.githubus

[2020-02-24 21:30] KatieWoe commented on #888
A cookie associated with a resource at (sim) was set with `SameSite=None` but without `Secure`. A future release of Microsoft Edge will only deliver cookies marked `SameSite=None` if they are also marked `Secure`. You can review cookies in developer tools under Application>Storage>Cookies and see more details at (website).

[2020-02-24 21:40] ariel-phet commented on #888
@mattpen can you take a quick look at this - is this something on the website side with how sims are delivered, or is this something with the sim file itself? My naive impression is there is nothing about the sim file itself that would specify cookies and this is more a website/server issue?

[2020-02-24 21:49] jonathanolson commented on #888
This looks more like it's related with Google Analytics (in my wheelhouse)

[2020-02-24 21:50] mattpen commented on #888
@KatieWoe - I can't recreate this.  I see this warning for a lot of pages on our website and it isn't limited to Edge.  The warning is related to GA tracking and those cookies are set by code run by google.  I don't see this warning when running a sim though, either in Edge or Chrome:

![image](https://user-images.githubusercontent.com/11747676/75194185-e1f34380-5714-11ea-80ca-595a248cb4e3.png)

!

[2020-02-24 21:52] KatieWoe commented on #888
I haven't seen it in chrome, but I see it in Edge. Like I said above though, I see it in chromium Edge. Your screenshot looks like the old Edge.

[2020-02-24 21:58] samreid commented on #848
As a middle ground, let's convert usages that are single-line statements.

[2020-02-24 22:02] samreid commented on #848
I added migration for single-line import/namespace statements and tested a full aqua and lint-everything.  Demoting priority until after the migrate to handle multiline statements.

[2020-02-24 22:18] KatieWoe commented on #885
es_PE sim:
![esPE](https://user-images.githubusercontent.com/41024075/75196297-ec174100-5718-11ea-8297-c17b49465247.png)
It seems this is not in every locale. Not sure what that means for the issue.

[2020-02-24 23:15] samreid commented on #887
Elevating priority since this would block publication with ES6 modules.

[2020-02-24 23:20] jonathanolson commented on #887
(And investigating, I'll let you know details soon)

[2020-02-24 23:24] samreid commented on #874
I added this as a pre-migrate step, closing.

[2020-02-24 23:24] #874 closed

[2020-02-25 17:59] pixelzoom opened #889 "update WebStorm live templates"
Most of my WebStorm live templates are centered around requirejs.  After the migration to ES6 modules, I'll need to spend some time evaluating and revising them.

I don't know if this task will be necessary for other PhET developers, since I don't know how widely live templates are used.

[2020-02-25 18:13] pixelzoom commented on #873
@jonathanolson said:

I agree with this.  For things like "utils" and "constants", I think it might be nice to have both named exports and default export.

See [ECMAScript 6 modules: the final syntax](https://2ality.com/2014/09/es6-modules-final.html) for a nice reference.

[2020-02-25 18:33] pixelzoom commented on #873
Features that we should discuss, to decide whether to use them, standardize their usage, etc.

* Having both named exports and a default export in a module

* Multiple `export` keywords in a file vs one `export` statement at the end of the file

* Referring to exports via property notation, e.g.
`import * as lib from 'lib';`

* Renaming exports, e.g.
`export { MY_CONST as THE_CONST, myFunc as theF

[2020-02-25 18:34] KatieWoe opened #890 "Reentry detected on fuzz test"
For https://github.com/phetsims/QA/issues/482. Seen once when fuzz testing Build an Atom debug version on ChromeOS. The sim was on the home screen, but it was white instead of black, and the console gave a reentry detected error. Haven't managed to replicate. Will post update if I can replicate.

[2020-02-25 18:35] KatieWoe commented on #890
Fuzz testing on ChromeOS seems a bit slower in addition.

[2020-02-25 18:51] pixelzoom commented on #873
Best practices for `export`: https://ponyfoo.com/articles/es6-modules-in-depth#best-practices-and-export. Summary: "just use export default everywhere and be done with it. ... When paired with the convention of always using export default and always doing it at the end of your modules, you’ll note using the ES6 module system to be painless."

[2020-02-25 18:55] jonathanolson commented on #721
Was easy to do while investigating uglification times. Handled on the modules branch, closing.

[2020-02-25 18:55] #721 closed

[2020-02-25 19:03] pixelzoom commented on #873
Here's a compelling argument for `import` at the top of the module, and `export` at the end of a module.

Any module has this basic structure:

[code]

By putting all exports at the end of the module, the exported interface is immediately obvious. Instead of having to browse the entire module and to figure out the API, you just scroll to the end.

Similarly, putting all imports at the top of the m

[2020-02-25 19:04] jonathanolson commented on #836
Looks good to me, thanks!

[2020-02-25 19:04] #836 closed

[2020-02-25 19:06] jonathanolson commented on #834
It looks like the above work was done (there's a check for JS files in reportMedia). Closing.

[2020-02-25 19:06] #834 closed

[2020-02-25 19:20] jonathanolson commented on #887
Github wasn't letting me comment earlier. This is resolved in the chipper webpack branch, I'll have new builds soon.

[2020-02-25 19:20] #887 closed

[2020-02-25 19:23] jonathanolson commented on #873
Not in module files (the majority of our JS)

[2020-02-25 20:04] pixelzoom opened #891 "delete or restore no-html-constructors lint rule"
@samreid and I were experimenting with auto-imports in WebStorm, and had difficultly with conflicts between built-in types and PhET types (e.g. Text, Rectangle,...).  I was surprised that these weren't being flagged by lint, since I recalled a lint rule for this.

In 9baefa17f7f63c648f098a1fad62296ab31d3628, @jonathanolson commented out this lint rule in eslint.rc:

[code]

The commit message was

[2020-02-25 20:17] jonathanolson commented on #885
In babel (vegas-strings_es.json) I'm seeing this translation:

[code]

It looks like the sim's been refactored to use newer code that uses a different string.

So this seems like a sim-specific translation-specific issue.

[2020-02-25 20:17] KatieWoe opened #892 "Phet menu rather than phet-io menu"
For https://github.com/phetsims/QA/issues/482
When looking at the phet-io simulations (linked from the wrapper etc.) they seem to have the phet brand logo rather than the phet-io logo to open the menu. The loading screen still has the phet-io brand.
![notphetio](https://user-images.githubusercontent.com/41024075/75283989-27754680-57d1-11ea-857f-8eef9cbf08aa.png)
vs
![opposedto](https://user-images

[2020-02-25 20:21] KatieWoe commented on #885
In that case, moving reps and assigning to @jbphet since this is his sim.

[2020-02-25 20:22] jonathanolson commented on #892
This... may have been fixed by changes not related to what I did in chipper... https://phet-dev.colorado.edu/modules-testing2/molarity/phet-io/molarity_all_phet-io.html?postMessageOnError&phetioStandalone seems to look good, but https://phet-dev.colorado.edu/modules-testing/molarity/phet-io/molarity_all_phet-io.html?postMessageOnError&phetioStandalone looks buggy. Can you confirm?

[2020-02-25 20:26] KatieWoe commented on #892
Confirmed with those links. I'll post again if we find anything while testing the new builds

[2020-02-25 21:02] jonathanolson commented on #892
Thanks!

[2020-02-25 21:02] #892 closed

[2020-02-25 21:32] zepumph commented on #879
I was working on this yesterday, and will continue today on it more today. The goal is two fold.

The first is to get ignore plugins working correctly so that other brands are not build into the build.

The second is to adapt that pattern to try to get a list of "used modules" that includes brands for the string plugin.

[2020-02-25 21:36] jonathanolson commented on #832
Workarounds removed, since the maintenance releases and work on sim masters are complete. Closing (will be checking sim builds)

[2020-02-25 21:36] #832 closed

[2020-02-25 21:38] jonathanolson commented on #879
Sounds good, let me know if you want assistance (or for me to tag along in the foreground or background)

[2020-02-25 21:45] KatieWoe opened #893 "IE Won't run debug versions of the sim"
For https://github.com/phetsims/QA/issues/482.
The sim will not start to load and may even crash the whole IE session if you use the debug version of the sim.
![Debugfail](https://user-images.githubusercontent.com/41024075/75290335-60b3b380-57dd-11ea-9e2d-1fc6e7fb77fb.png)

[2020-02-25 21:47] jonathanolson commented on #883
https://phet-dev.colorado.edu/modules-testing2/ includes the patched version of molarity (with the new string keys) and should be used instead.

[2020-02-25 21:50] kathy-phet commented on #875
Fine with me to go on Thursday.

[2020-02-25 21:54] zepumph commented on #879
Above is code that will correctly keep out other brands from builds. This works for the central load point `Brand.js`, as well as any dependency it loads. I mention that potentially obvious statement because a few strategies yesterday that @samreid and I were looking at ignored and dependency loaded by `Brand.js`, but not that module itself. Anywho. . .

From here I will look to see what the curre

[2020-02-25 21:59] jonathanolson commented on #891
I took a quick look, but I'm not familiar enough with the process (I haven't worked on linting rules). @jessegreenberg it looks like you wrote the original, how much work do you think this would take to convert the "require" statement search for an import search?

[2020-02-25 22:01] jonathanolson commented on #893
Thanks for finding!

The debug versions are not transpiled. I would expect that our current production sims' debug versions will not load in IE, can you confirm?

This seems expected to me, if it's not a regression then it should be fine to close.

[2020-02-25 22:04] jonathanolson opened #894 "upgrade require-statement-match lint rule for modules"
Ideally we should be checking this with module imports.

@samreid, as the original author, do you know how long it would take to parse the imports and check this? It's also related to https://github.com/phetsims/chipper/issues/891

[2020-02-25 22:05] KatieWoe commented on #893
That seems to be the case.

[2020-02-25 22:07] jonathanolson commented on #890
Running the testing on my end. Was it after running for a while, or fairly immediate?

[2020-02-25 22:07] KatieWoe commented on #890
Fairly immediate

[2020-02-25 22:26] jonathanolson commented on #890
I'm not able to reproduce so far. @samreid do you know more about this (potentially homescreen and reentry-related issue), or what could cause it? Or if this is something we should ignore?

[2020-02-26 00:10] lmulhall-phet commented on #893
Same thing happens in Safari. The debug version of BAM doesn't open in macOS 10.10.5 + Safari 10.1.2. You get stuck at the loading page with no progress in the loading bar. This is the error in the console:

![issue](https://user-images.githubusercontent.com/31285590/75299037-44ba0d00-57f1-11ea-8fd2-71c97b9c7f89.png)

[2020-02-26 00:10] #893 closed

[2020-02-26 00:51] jonathanolson opened #895 "Investigate code coverage for es6+ module code"
Istanbul would need to have ES5-style code (e.g. babel-ified) code run through it. We currently run babel AFTER webpack, so our old style doesn't work well here. Since this seems low priority, I'm bailing after initial investigation.

[2020-02-26 01:03] jonathanolson commented on #855
I'm removing config files and other things, and I removed a lot of the old cruft.

Unassigning, we'll still want to do a check after all this is done.

[2020-02-26 01:08] zepumph commented on #879
After a bit too long of investigation, I found `stats.compilation.fileDependencies` which seems to be the list that we wanted. I tested this by reverting @samreid's work around above in my local copy and then reproducing the joistStrings bug, and seeing it fixed with my above commit.

I noticed that this `fileDependencies` `Set` has a more files than even `stats.compilation.chunks[0].entryModule._

[2020-02-26 01:26] jonathanolson commented on #879
Looks generally good to me. I don't understand the difference between `resourceRegExp` and `contextRegExp`, maybe that would be good to document?

[2020-02-26 02:57] zepumph commented on #879
Doc added above. This helps chronicle (slightly) the last 2 day of my life. Does it make sense to you?

[2020-02-26 15:42] jessegreenberg opened #896 "aria-valuetext is sometimes in the wrong spot in the a11y view"
Mentioned by @terracoda in https://github.com/phetsims/molecules-and-light/issues/290.

In #660 we added aria-valuetext to the a11y-view because it provides very important ouptut (as important as alerts) and it is helpful to see. But the method of inserting it into the a11y view is naive and sometimes puts it in  the wrong spot
![image](https://user-images.githubusercontent.com/6396244/75360647-22

[2020-02-26 15:43] jessegreenberg commented on #896
In https://github.com/phetsims/molecules-and-light/issues/290#issuecomment-591491531 @terracoda said

[2020-02-26 16:14] KatieWoe opened #897 "Possible color issue in John Travoltage"
Documented in comments in https://github.com/phetsims/QA/issues/482

Blue floor and blue wall? Is this a thing that we know about?
![jtblue](https://user-images.githubusercontent.com/41024075/75363746-c8b6d800-5877-11ea-837f-55b884ba2025.png)

Floor and wall change to normal color if you move John.
If you resize the screen, the blue color goes away.

Were dev tools open in Safari or something?

@j

[2020-02-26 17:07] jessegreenberg commented on #891
Should be straight forward, we will need to have another function like `addDeclaredType`for new syntax of import statements and replace  `VariableDeclarator` with `ImportDeclarator` for nodes to visit.

[2020-02-26 17:10] zepumph commented on #879
- [ ] We should also revert the above commits:

https://github.com/phetsims/joist/commit/daa45f89e06ce1db7021781830c0267ea7273fcd
https://github.com/phetsims/brand/commit/20315d6830993476dd1d693ce2e526282a472ed9
https://github.com/phetsims/chipper/commit/dc6902a286b71be2ae3b61d96cd38276124e8f4c

[2020-02-26 17:16] zepumph commented on #878
@mattpen,

Today @samreid, @chrisklus, and I reviewed @samreid's commits above, and searched for other usages of the `phet-app` query parameter. From this and @KatieWoe's test we feel good to close. Is there anything else from you before closing?

[2020-02-26 17:30] zepumph commented on #888
@samreid, @chrisklus, and I tested the following links in edge on windows 10

Microsoft Edge 44.18362.449.0
Microsoft EdgeHTML 18.18362

https://phet-dev.colorado.edu/modules-testing/build-an-atom/phet/build-an-atom_en_phet.html
https://phet.colorado.edu/sims/html/number-line-integers/latest/number-line-integers_en.html
https://phet.colorado.edu/sims/html/projectile-motion/latest/projectile-motion

[2020-02-26 17:33] KatieWoe commented on #888
I'm using Version 80.0.361.62 (Official build) (64-bit)

[2020-02-26 17:50] zepumph commented on #896
I agree that the algorithm is naive. A quick way to fix this is to surround any item with aria-valuetext with a div, this will place the aria-valuetext display next to the input element because they will be the only two items in the parent.

A better way for this to work may be to have the a11y view pull out any element with aria-valueText, and replace it with a div that has two children: then ele

[2020-02-26 17:53] chrisklus commented on #867
QA is finished and all blocking issues have been addressed, closing with @samreid @zepumph

[2020-02-26 17:53] #867 closed

[2020-02-26 17:53] terracoda commented on #896
@zepumph, you could consider using a `span` element for the `aria-valuetext`. That might keep things on the same line.

`span`'s are inline generic elements and `div`'s are block-level generic elements.

[2020-02-26 17:56] zepumph commented on #890
@samreid, @chrisklus, and I were not able to reproduce this either, both on master and when fuzzing the debug version of BAA. That said I don't have a ChromeOS device to go one step further.

[2020-02-26 17:56] zepumph commented on #888
Ahh thanks! I went and downloaded the new and improved Edge (same version as you), and now get the error immediately:

![image](https://user-images.githubusercontent.com/6856943/75373008-e8e59780-5875-11ea-9a78-0f0c9b314447.png)

[2020-02-26 17:59] chrisklus commented on #889
This might be nice to mention at dev meeting so any devs with live templates could share theirs if others don't use many yet.

[2020-02-26 18:02] zepumph commented on #896
Indeed! That said there isn't a ton of horizontal space in the PDOM copy, and aria-valuetext values can be quite long (like a sentence or phrase instead of numeric value+unit).

I'll prototype a few solutions and provide some screen shots for comparison.

[2020-02-26 18:11] chrisklus opened #898 "revise Webstorm phet-info/ide/idea/phet-idea-codestyle.xml to include organizing imports and adding a file suffix"
From meeting with @zepumph and @samreid.

[2020-02-26 18:14] chrisklus commented on #898
@zepumph will mark this for developer meeting after completing so we don't have someone forget to change their own xml.

[2020-02-26 18:17] zepumph commented on #898
Here is what we're thinking:
* When comparing the checked in code style to mine it is a bit different, perhaps that is because I changed things, and maybe it is because the codestyle is a bit out of date.
* We will want to add (at least) two things, auto sort imports, and make sure to include `.js` suffix (for windows. I'll brainstorm others.
* I will try to do small commits as we go to update the

[2020-02-26 18:19] jbphet commented on #883
I tested this, and the tests failed.  After doing some digging, the reason appears to be that while the variable `window.phet.chipper.strings` is still available, the data structure with the list of everything used in the string plugin is not, and Rosetta was relying on this.  I think it can be converted reasonably easily.

[2020-02-26 18:27] emily-phet commented on #875
Onward!

[2020-02-26 18:49] chrisklus opened #899 "Improve speed of the build--may help if we update babel version?"
@samreid reported that babel out of date by a major version and we should update it. Minifying is slower for webpack than in requireJS, so we're hoping that this update might speed things up a bit.

@samreid will report current speed differences.

[2020-02-26 18:52] mattpen commented on #878
Yes, this looks fine.  @shreyas-g-ucb and I tested this in a debug build of the Android App and it went fine.

[2020-02-26 18:52] #878 closed

[2020-02-26 18:54] mattpen commented on #888
I'm running into Windows Update issues and can't currently install Edge 80 (stuck on 44, which is pre-chromium).  Interesting that this warning doesn't appear in the latest version of Chrome, as a lot of other pages are printing similar warnings.  Anyway for this page in particular, this is not website code but sim code, so moving to developer meeting per request from @ariel-phet.

[2020-02-26 19:01] samreid commented on #899
A second build from master:
real	0m28.596s

A second build after migrate:
real	1m21.818s

[2020-02-26 19:05] zepumph commented on #884
We should also investigate why https://github.com/phetsims/tandem/commit/a67d85966f21dab17e126fb4b4ca27241a3ad720 was needed.

[2020-02-26 19:06] samreid opened #900 "chipper/build should be cleared after build"
After running `grunt` on migrated code, chipper/build still has "acid-base-solutions.js".  It seems this should be cleaned up at the end of the build.  @jonathanolson does that sound good to you?

[2020-02-26 19:16] samreid commented on #884
There is a dynamic module import in the unit tests.

[2020-02-26 19:17] zepumph commented on #884
Oh boy.

[2020-02-26 19:34] chrisklus commented on #872
Code to review:

in `joist`:

- [ ] SimLauncher.js

in `chipper`:

- [ ] buildRunnable.js
- [ ] buildStandalone.js
- [ ] generateDevelopmentHTML.js
- [ ] generateTestHTML.js
- [ ] getInitializationScript.js
- [ ] getStringMap.js
- [ ] Gruntfile.js
- [ ] modulify.js
- [ ] sortImports.js
- [ ] wepackBuild.js
- [ ] getStringModule.js
- [ ] load-runtime-strings.js
- [ ] sim-development.html
- [ ] sim-

[2020-02-26 19:37] chrisklus commented on #871
@jonathanolson is there anything to do here? @samreid thinks this might be ready to close.

[2020-02-26 19:40] chrisklus commented on #869
@zepumph @samreid @chrisklus checked out the remaining relevant TODOs in chipper and they all have issues. Closing.

[2020-02-26 19:40] #869 closed

[2020-02-26 19:44] chrisklus commented on #865
@zepumph noted we could do this for the build - he's going to investigate.

[2020-02-26 19:46] chrisklus commented on #864
- [ ] start off by looking at webpack.config.js and then delete that file

[2020-02-26 19:47] zepumph commented on #865
Similar to https://github.com/phetsims/chipper/issues/879, we could use the `stats` output of `compiler.run` in `webpackBuild.js` to get a list of all files loaded, and then perhaps create a plugin that can test that against the namespaces created. I'm not sure about this approach, but it is worth a bit of investigation. If it isn't fruitful, we can bring this to dev meeting to see how valuable th

[2020-02-26 19:48] chrisklus commented on #861
@zepumph @samreid @chrisklus think this would be good to discuss in developer meeting a couple weeks after the migration.

[2020-02-26 19:49] chrisklus commented on #857
Covered in #884, closing.

[2020-02-26 19:49] #857 closed

[2020-02-26 19:54] chrisklus commented on #881
Duplicate of https://github.com/phetsims/chipper/issues/855, closing

[2020-02-26 19:54] #881 closed

[2020-02-26 19:54] chrisklus commented on #855
From a duplicate issue: sim-config.js files should be deleted by migrate.

[2020-02-26 20:01] chrisklus commented on #845
A duplicate issue, https://github.com/phetsims/chipper/issues/864, was closed. Content from that issue:

@jonathanolson said:

For es6 modules, it would be good to see if webpack-dev-server can create faster iteration times.

JO: Unclear whether single entry point vs multiple vs all (sims) would be best

@chrisklus said:

start off by looking at webpack.config.js, deleted in https://github.com/phe

[2020-02-26 20:01] chrisklus commented on #864
Duplicate of https://github.com/phetsims/chipper/issues/845, migrating content and closing.

[2020-02-26 20:01] #864 closed

[2020-02-26 20:05] chrisklus commented on #848
It looks like there's many multiline cases that will need to be addressed after the migration. @samreid is going to investigate nested macros to handle these.

[2020-02-26 20:08] chrisklus commented on #839
@jonathanolson, @samreid does not remember seeing any license warnings recently, do you think anything needs to be done before tomorrow?

[2020-02-26 20:52] jonathanolson commented on #839
Yesterday I built all runnables and didn't see any licensing problems.

[2020-02-26 20:54] jonathanolson commented on #845
I'm going to probably restore that file in my investigation (one of the things I plan to look into today)

[2020-02-26 20:55] jonathanolson commented on #855
Not sure why high priority was added to this, I made changes yesterday that will delete the sim config files in migrate.

[2020-02-26 21:00] jonathanolson commented on #871
Keeping it open for https://github.com/phetsims/chipper/issues/871#issuecomment-583086655, since things like Vector2/Vector3 will want to not JUST import each other, but USE those imports (which I can't do easily in master before migration).

[2020-02-26 21:06] jonathanolson commented on #900
Removing the temporary files in the above commit. Is that sufficient?

[2020-02-26 21:25] samreid commented on #900
Looks great, thanks!  As a code review step, I would also recommend factoring out the path in the `output`

[code]

and the path in the delete:
[code]

so they are less likely to deviate.

[2020-02-26 21:28] samreid commented on #855
Excellent, thanks!  Updating priority and assignees.

[2020-02-26 21:31] samreid commented on #839
Excellent, thanks!  I don't see any commits on this issue, should we track down how this was resolved?  Generally, anything else before this issue can be closed?

[2020-02-26 23:41] jbphet commented on #883
Modifications complete, changes deployed, see https://github.com/phetsims/rosetta/issues/224 for details.  I'll try to remember to test this on the first post-ES6 migration publication (I'll open a separate issue for it when I hear of something that is getting close).  I'll close this one so we know that it isn't blocking the ES6 migration.

[2020-02-26 23:41] #883 closed

[2020-02-27 02:17] samreid commented on #483
This will become more possible once we are using ES6 modules, self-assigning and labeling so.

[2020-02-27 02:22] samreid commented on #879
Reverted the changes and tested that links are working in master in phet brand and phet-io brand, and in the migrated code in both brands.  It looks like everything in this issue is complete except for @jonathanolson reviewing the documentation changes.

[2020-02-27 02:32] samreid opened #901 "npm found vulnerabilities"
Recently I have seen this message many times after `npm update` or `npm install`.  Does this require attention?

[code]

[2020-02-27 05:42] jessegreenberg commented on #891
After migrate I can do this.

[2020-02-27 18:01] zepumph commented on #898
@jbphet also found Editor -> General -> Auto Import which may be interesting (perhaps developer discretion). It is not, as far as I can see, part of the code style.

[2020-02-27 18:01] samreid commented on #839
Some work completed in ab1281f1966e73d2355430959514fa420ca76331, back to @pixelzoom to double check the 3 problems in the top comment.

[2020-02-27 18:04] samreid commented on #873
From today's meeting, until we discuss this further, the policy should be to `export default` and `import default` only, and the few occurrences of dynamic `import()`.

[2020-02-27 18:08] zepumph commented on #898
Committed above. All devs using a jetbrains IDE should do one of the following to support proper es6 module imports:

1. pull phet-info and import phet-code style again.
2. In the settings go to `Editor -> Code Style  -> Javascript` and make sure that the following three elements are checked under the "imports" tab:
  * Use file extension in module name
  * Sort imported members
  * Sort imported

[2020-02-27 18:11] zepumph commented on #850
We are migrating! Closing

[2020-02-27 18:11] #850 closed

[2020-02-27 18:22] pixelzoom commented on #875
[code]

[2020-02-27 20:14] jessegreenberg commented on #899
Just noting my experience with build time, it has increased after migrate. Running `grunt` on my machine in molecules-and-light took 4 minutes 9 seconds. Running `grunt` with https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.31/phet/dependencies.json from Mon Feb 24 2020 takes 1 minute 31 seconds.

[2020-02-27 20:26] jbphet commented on #899
Build time for Build an Atom after migrate:
real    4m43.217s

For States of Matter:
real    5m28.215s

[2020-02-27 20:32] jbphet commented on #899
I did a comparison of the size of States of Matter before and after the migration, and there has been some improvement:
before: 2.3M
after: 1.9M

So, about a 17% improvement.

[2020-02-27 20:45] mattpen opened #902 "Improve usage of js/data/localeInfo.js"
I have a need to use https://github.com/phetsims/chipper/blob/master/js/data/localeInfo.js in the website-meteor project, to show a list of locales to users in "Localized Display Name" format.

I checked the way that rosetta is using this file and it seems overly complicated.  We are downloading the file via a request to the Github Raw API, then doing some processing on the resulting string to tur

[2020-02-27 20:59] jonathanolson commented on #902
That looks like it would work from my perspective.

[2020-02-27 21:05] mattpen commented on #902
<details>
  <summary>Proposed patch:</summary>
[code]
</details>

[2020-02-27 21:09] pixelzoom commented on #875
If anyone needs to roll back to pre-migration shas (for example to verify whether a problem occurred pre-migration), here's a bash script that rolls you back to the shas in https://github.com/phetsims/chipper/issues/875#issuecomment-592105084.   You'll need to change `ROOT` to the full path of your working copy.

To get back to master after running this, run `for-each.sh active-repos git checkout

[2020-02-27 21:09] mattpen commented on #902
@jbphet @Denz1994 - If this went through, you could replace the module parsing in rosetta/js/localeInfo.js with a simple `JSON.parse` statement.

[2020-02-27 21:20] jbphet commented on #899
Size comparison for Energy Forms and Changes:
+ phet brand before: 3.7M
+ phet brand after: 3.4M
  + Improvement ~8%
+ phet-io brand before: 4.0M
+ phet-io brand after: 3.6M
  + Improvement 10%

[2020-02-27 21:25] zepumph commented on #875
Marking high priority to make sure that final steps in https://github.com/phetsims/chipper/issues/875#issuecomment-589878141 get solved. @jbphet will be making some publications of chains and testing rosetta.

Dev versions are working well:
Deployed: https://phet-dev.colorado.edu/html/projectile-motion/1.1.0-dev.6/phet/projectile-motion_en_phet.html
Deployed: https://phet-dev.colorado.edu/html/pro

[2020-02-27 21:29] zepumph opened #903 "Delete usages of package.json `isWrapper`"

[2020-02-27 21:31] jessegreenberg opened #904 "Not all 'circular dependency' comments were removed"
I noticed some comments still in the code about circular dependencies that perhaps should be removed. It looks like they were intended to be removed in migrate.js (line 258).

For instance, in Node.js we have
[code]

It looks like the commented require lines and their comments were intended to be removed entirely, ill do that, pinging @jonathanolson and @samreid in case that is wrong.

[2020-02-27 21:40] jessegreenberg commented on #904
The file doc for kite.js namespace has a comment like

Should these kinds of comments be removed/changed too?

[2020-02-27 21:53] jbphet commented on #875
I published an RC version of Chains, and it seemed to work fine, the deployed version can be seen at https://phet-dev.colorado.edu/html/chains/1.27.1-rc.1/phet/chains_en_phet.html.

[2020-02-27 22:01] jessegreenberg opened #905 "Update documentation throughout the code that references RequireJS"
Documentation about RequireJS no longer applies since we have switched to ES6 modules. For instance from phet-software-design-patterns.md

And this comment in GrabDragInteraction

We should do an inspection to either update comments to reflect "compilation free mode" or remove entirely if they no longer apply.

@jonathanolson @samreid how should we do this, is this a potential chip away issue to b

[2020-02-27 22:04] jessegreenberg commented on #904
They have been removed, and https://github.com/phetsims/chipper/issues/904#issuecomment-592190114 question is being moved to https://github.com/phetsims/chipper/issues/905

[2020-02-27 22:04] #904 closed

[2020-02-27 22:05] jessegreenberg commented on #905
kite, mobius, scenery namespaces have comments like

[2020-02-27 22:15] zepumph opened #906 "Is this comment correct?"
In `buildRunnable` we have this comment, but I don't know if it is right. @jonathanolson can you speak to this?

[code]

[2020-02-27 22:20] jbphet commented on #875
A production deploy of Chains also appears to have worked fine, see https://phet-dev.colorado.edu/html/chains/1.27.1/phet/chains_en_phet.html.

[2020-02-27 22:47] jbphet commented on #875
I tested Rosetta using Chains 1.27.1 and it worked fine.  Here is what was tested:
+ The sim translation page loads without errors in the console and without errors in Rosetta's log
+ The "Test" functionality works correctly
+ A translation can be submitted (I used the `ab` locale)
+ The change appears as a commit in the babel repo and looks correct
+ The translation is successfully built and publ

[2020-02-28 03:13] zepumph commented on #899
I worked on this all afternoon and couldn't get the migration from babel 6 to 7 to work on IE11.  Here is a patch from the investigation. In general, IE was just silently erroring out somewhere in Sim.js (we didn't get to the log at the end of the constructor.

Also sometimes (I'm not sure when or why), it seemed like IE didn't like it when a preload that was already minified (and likely transpile

[2020-02-28 16:28] Denz1994 commented on #902
The installer-builder-config.json field `pathToLocaleInfo` would need to be updated on Bayes, but otherwise, this seems fine.

[2020-02-28 19:47] samreid commented on #827
Merged to master, closing.

[2020-02-28 19:47] #827 closed

[2020-02-28 19:47] samreid commented on #898
@chrisklus made changes to this, marking for meeting:developer for PSA.

[2020-02-28 19:49] samreid commented on #875
Migration complete, all remaining work tracked elsewhere, closing.

[2020-02-28 19:49] #875 closed

[2020-02-28 19:50] samreid commented on #855
@jonathanolson anything else to delete here?

[2020-02-28 20:37] zepumph commented on #845
@samreid and I found that the `webpack-dev-server` wasn't allowing other devices to access the server (like for ipad testing etc).

After some research, we found that we could allow this by having the ip address be `0.0.0.0` allows responses to other network traffic besides this computer.

Further reading:
https://stackoverflow.com/questions/35412137/how-to-get-access-to-webpack-dev-server-from-de

[2020-02-28 23:06] jbphet commented on #902
It would be fine with me to do this, and I agree that it would simplify Rosetta's usage of this file.  Both files - the `.js` and the `.json` files should exist for a while to allow me to modify Rosetta, test it, and then deploy.  Once that's done, the old `.js` one can be deleted (as far as I'm concerned).

[2020-02-29 01:14] chrisklus opened #907 "Grunt update is generating unformatted files"
@zepumph and I noticed that files generated during `grunt update` recently became formatted incorrectly (`{repo}-phet-io-elements-baseline.js`, `{repo}-phet-io-elements-type.js`, and `{repo}-en.html`). They are still checked in as formatted, we think because @samreid might have "Reformat code" in the commit dialog checked.

This is creating formatting diffs in the commit dialog, and since @zepumph

[2020-02-29 01:20] pixelzoom commented on #907
I noticed this today with `cd ph-scale-basics; grunt update`.   I went ahead and committed changes, even though it only looked like formatting.

Recommended to turn off "Reformat code" when committing.  Since everyone is using different IDEs, it not a good idea.  If you make changes to address an issue, you do not want to have formatting changes tag along, that makes it more difficult to see what'

[2020-02-29 02:09] samreid commented on #907
The phet-io files should be generated matching our desired formatting.

[2020-02-29 02:13] pixelzoom commented on #907
Agreed. But in general, don't you think that "Reformat Code" before commit should be turned off in WebStorm?

I just ran into this again https://github.com/phetsims/ph-scale/commit/02dbf3f9b51e0c9b9ef1e101cb457317554a9f7f.

[2020-03-01 19:00] chrisklus commented on #907
It looks like 2 space were removed from the opening curly brace of phet-io API files during the es6 modules migration, see phetioEngine.js:149. I added them back in and those files are being generated as formatted again.

I'm not sure how to proceed for the development html files. This patch gets it closer, but is not quite right. For now, I'm just going to run `grunt generate-phet-io-api-files` w

[2020-03-01 19:13] samreid commented on #899
Another note from our investigation, it seems like using babel-loader with babel 7 speeds up the build, but we will only be able to use it if we can get it working for IE.

[2020-03-01 23:24] samreid commented on #905
I'm also seeing that chipper/package.json still refers to requirejs.

[2020-03-02 14:22] samreid commented on #907
Formatting changes shouldn't "sneak in" with content-changes, especially in unrelated places in the same file.  Turning off "Reformat Code" in the commit dialog is one way to accomplish this.  When working on a repo for which I am the "responsible dev" it can sometimes be more efficient to turn on "Reformat code".

I selected "Reformat Code" during the one-time ES6 migration based on dev team cons

[2020-03-02 16:33] pixelzoom commented on #907
I think it's good practice to treat future yourself like you would any other developer.

[2020-03-02 19:41] jonathanolson commented on #855
Removed a few remaining configs above. I don't see anything else to remove at the moment, closing.

[2020-03-02 19:41] #855 closed

[2020-03-02 19:42] jonathanolson commented on #845
Sounds good to me, committed above.

[2020-03-02 22:34] pixelzoom commented on #839
Not sure how I'd even test this now that .png files are converted to .js.  So I'm going to close.

[2020-03-02 22:34] #839 closed

[2020-03-03 15:24] samreid commented on #845
In the commit, I added a command line option for devtool.  I'm currently using

[code]

for faster iteration times.  @jonathanolson can you please review?

[2020-03-03 16:25] samreid opened #908 "format of generated files doesn't match PhET code-style format"
@jbphet pointed out that modulify outputs unformatted code, but in the migrate @samreid had selected "Format Code on Commit".  So now when running modulify it shows as a change.

We could do one of the following:

* re-run modulify on everything and commit that
* change modulify to output code that matches our formatting

To me, the latter seems more futureproof and less disturbing to all repos at

[2020-03-03 16:29] pixelzoom commented on #908
There is a similar problem with the top-level .html files in each repo.  `grunt update` format doesn't match PhET code style format.  They should be dealt with in the same way.  Changing the issue title to reflect this.

[2020-03-03 16:38] samreid commented on #908
The above commits output formatting in a style that won't be disturbed by our code style formatting.  However, the mipmaps style doesn't exactly match what is committed.  Therefore, I recommend to `grunt update` but without changing phet-io files, and without reformatting the results afterwards.

[2020-03-03 17:18] samreid commented on #908
In the above commits, I changed the output for mipmaps, images, sounds and html so it is compatible with our formatting.  Then I regenerated the mipmaps and HTML and committed.  @jbphet and/or @pixelzoom can you please verify?  Close if all is well.

[2020-03-03 17:23] pixelzoom commented on #908
After pull-all.sh, I ran `grunt update` for a few sims and didn't see any updates.

Leaving assigned to @jbphet to verify for `grunt modulify`.

[2020-03-03 17:47] pixelzoom commented on #873
My recommendation for best practices:

* Put all `imports` at the top of the .js file.

* Use `export default` as the primary convention, placed at the end of the .js file.

* Do not rename imports and exports.

* Do not re-export modules.

* If you encounter an exception to these practices, discuss on Slack.  Modify the best practices if necessary, and/or document (at the use site) why you needed

[2020-03-03 19:04] pixelzoom commented on #889
I've finished updating my live templates.  Here's a copy of my templates, in case they are useful to anyone.  They were exported from WebStorm using `File | Export Settings`.

<details>
<summary>settings/options/templates.xml</summary>

[code]

</details>

[2020-03-03 19:05] mattpen commented on #902
I'll proceed with this change. First I'll add the json file, then when subsequent chagnes are complete I'll push the chagnes to the js file.

[2020-03-03 19:08] pixelzoom commented on #872
@ariel-phet Before someone(s) are assigned to code review, we should confirm that the authors have done a review themselves using the CRC.

[2020-03-03 19:09] mattpen commented on #902
@Denz1994 @jonathanolson @jbphet - `/data/localeInfo.json` is now available in master.  Please make any adaptations if needed, remove your assignment, and if you are the last one reassign me to make the final change (changing localeInfo.js to a wrapper of the json).

[2020-03-03 19:10] mattpen commented on #902
Bumping priority down, as now that the json exists I can proceed with website-meteor work.

[2020-03-03 19:10] pixelzoom commented on #854
Before I can do any updates, we need to decide what "requirejs mode" should now be called.  Suggestions?

[2020-03-03 20:20] samreid commented on #899
I pulled the change, built energy-skate-park and tested on IE11.  It worked great!  And the build only took 27 seconds!  Thanks @jonathanolson

[2020-03-03 21:08] zepumph commented on #899
@jonathanolson and I worked on this and found that the "silent" error here was due to the `try`/`catch` blocks in our es6 polyfill. These weren't reporting the errors as they should have been. @jonathanolson was able to add a console log of the error in every catch block in the polyfill (a bit of a pain), and then we saw a similar error to one @samreid and I found on friday about `Symbol` being un

[2020-03-03 21:12] samreid commented on #899
One other dimension to check if we pursue that avenue: does transpiling everything together "minify better" (i.e. smaller file size) than minifying file-by-file via the loader?

[2020-03-03 21:32] zepumph commented on #899
After more investigation. I don't think we should use `babel-loader`. The timing doesn't seem to improve (at all?).

| babel-loader | first time        | 32 (29)? |
|--------------|-------------------|----------|
|              | grunt cache       | 31-33    |
|              | webpack load      | ~10      |
|              | minification step | ~10      |
|              | size              | 1.873M

[2020-03-03 21:35] samreid commented on #899
transpile.js seems fast enough to me--we recouped the losses from Babel 6/ES6 modules anyways.  And the 7% file size savings is really nice.  I'm ready to close.

[2020-03-03 21:35] #899 closed

[2020-03-04 06:54] pixelzoom commented on #873
Conversion of my sims is complete, except for these classes:

* equality-explorer: TermDragListener, UniversalOperationControl
* unit-rartes: DoubleNumberLineAccordionBox, ShoppingQuestionsAccordionBox

All of these have complicated "`this` before `super`" issues.

[2020-03-04 19:16] jbphet commented on #908
I just ran a test where I deleted and re-cloned the molecules-and-light repo, then ran `grunt modulify` for it.  I ended up with 33 modified files, which I think is all the images, sounds, mipmaps, and the strings.  When I diff the file using IntelliJ, it says "Contents are identical".  If I do a `git status` command in the molecules-and-light directory, I get the file list followed by the message

[2020-03-04 19:25] jbphet commented on #908
I decided I'd take a quick look at the file in hex, and I can see that indeed, the line endings are being modified by `grunt modulify`.  Here is what the top portion of one of the files looks like before running the command, and I've circled an instance of 0x0d0a, which is ASCII CRLF:

![image](https://user-images.githubusercontent.com/3082831/75915082-1a7cd680-5e13-11ea-8f4a-484272278e30.png)

..

[2020-03-04 23:09] jbphet commented on #902
The work on Rosetta is complete and the `js` version of the file can be deleted from chipper.

[2020-03-04 23:22] pixelzoom commented on #854
In dev meeting document, @jbphet suggested:

Compilation free
Unbuilt
Uncompiled
Multi-file

[2020-03-04 23:27] mattpen commented on #902
I think the js version is still needed, but I'll change it to be a wrapper for the json file once everyone has confirmed.

[2020-03-04 23:27] pixelzoom commented on #854
+1 for "built" and "unbuilt".

[2020-03-05 04:02] samreid commented on #890
@KatieWoe can this be replicated?  How about on other platforms?

[2020-03-05 04:23] samreid commented on #908
To clarify what is desired: if running `grunt modulify` on Windows, it should generate CRLF `\r\n` and running on Mac it should generate LF `\n`.  Then we will rely on git for converting the line endings on pushes and pulls.  Does that sound right?  Checking in with @jbphet and @jonathanolson before further work.

Also, is this already done for the HTML files?  How have we not run into this before

[2020-03-05 04:34] samreid commented on #907
Much of this was addressed in https://github.com/phetsims/chipper/issues/908, @pixelzoom anything else for this issue?

[2020-03-05 15:49] KatieWoe commented on #890
I haven't been able to replicate it since.

[2020-03-05 17:02] samreid commented on #890
I recommend we close this issue for now--can reopen if it appears again.  Thanks for reporting it!

[2020-03-05 17:02] #890 closed

[2020-03-05 17:30] jonathanolson commented on #908
Sounds good!

Mostly it's based on template files, instead of specifying things inline in JS multi-line strings. We may have also had newline-only specific code.

I assumed we weren't formatting HTML files (also).

[2020-03-05 17:31] jbphet commented on #908
It sounds right to me.  I'm not certain, though, and am happy to test as soon as we have something since I know that you @samreid are on Mac.

I don't know.  I just ran `grunt modulify` in the molecules-and-light project, and the HTML file was not change, whereas the image, sound, mipmap, and string files were.

Good question.  I vaguely recall running into it a long time ago.  Maybe there is some

[2020-03-05 17:56] jonathanolson commented on #902
I see installer-builder and yotta are still using the JS file. JSON conversion looks good.

[2020-03-05 18:00] jonathanolson commented on #872
reportUnusedMedia/reportUnusedStrings are commented out in buildRunnable, otherwise I believe the code I wrote is ready to review.

[2020-03-05 18:00] #907 closed

[2020-03-05 18:09] jonathanolson commented on #845
Reviewed the first commit, looks good. How is the hot module replacement going? I had to comment it out yesterday because I kept getting errors on launch.

[2020-03-05 18:10] jonathanolson commented on #905
Sounds like we'll want to do a project-wide search and try to replace things with improved terminology.

[2020-03-05 18:13] samreid commented on #845
The latter 2 commits should help with that.  The problem was that

unbuilt:
window.module undefined
module undefined

webpack-dev-server
window.module undefined
module defined
`module.hot` defined

I added isHMR to help with that.  I used HMR to work on Greenhouse Effect views and Wave Interference sonification and it worked really well.  It was nice to be able to hear the audio change as I saved

[2020-03-05 18:15] jonathanolson commented on #845
I realized I accidentally just committed hot:false, and reverted it. I'll test it out, that sounds really nice!

Do you have an example of adding it into code? Would like to try it for density/buoyancy.

[2020-03-05 18:16] samreid commented on #845
I used it in https://github.com/phetsims/greenhouse-effect/blob/82a73ba2a81f90f31cc7d001b6c13a54a7be4ab2/js/waves/GreenhouseWavesScreenView.js#L26 and haven't yet committed the usage in Wave Interference.

[2020-03-05 18:20] jonathanolson commented on #879
Looks great, thanks!

[2020-03-05 18:20] #879 closed

[2020-03-05 19:31] pixelzoom commented on #898
3/5/20 dev meeting:  PSA delivered, thanks! Closing.

[2020-03-05 19:31] #898 closed

[2020-03-05 19:35] samreid commented on #889
Here's my template:

[code]

[2020-03-05 19:37] pixelzoom commented on #889
3/5/20 dev: PSA delivered. Closing.

[2020-03-05 19:37] #889 closed

[2020-03-05 19:41] pixelzoom commented on #901
3/5/20 dev meeting:  Assigned to @ariel-phet to prioritize and assign.

[2020-03-05 19:42] pixelzoom commented on #888
3/5/20 dev meeting:

Related to Google analytics, so this is in @jonathanolson's wheelhouse.  Assigning to him.

[2020-03-05 19:43] pixelzoom commented on #882
Yes, but if it's a warning, that should still be acceptable right?

[2020-03-05 19:53] pixelzoom commented on #882
3/5/20 dev meeting:

[code]

Usage:

[code]

For deprecated classes, put it outside the class definition, so that it's logged once when the model is loaded.

Add to CRC:

Volunteer: @jessegreenberg

[2020-03-05 20:03] pixelzoom commented on #880
3/5/20 dev meeting:

If it turns out that we still need mipmaps of decide to keep the functionality around for future use... Then if there's already a mipmap.js, use it, don't create an image.js - on your honor for now, add tooling (and create a new issue) if it becomes a problem. Add a line to the CRC. @pixelzoom will do this.

[2020-03-05 20:23] zepumph commented on #894
This lint rule should largely embody the findings of the `import` lines decided on in #873.

[2020-03-05 20:24] pixelzoom commented on #873
3/5/20 dev meeting:

We reviewed and refined https://github.com/phetsims/chipper/issues/873#issuecomment-594079287.  I'll paste that into a new section of the CRC titles 'Exports and Imports'.

[2020-03-05 20:27] pixelzoom opened #909 "implement reportUnusedMedia"
implement reportUnusedMedia.  It's currently commented out in buildRunnable.js

[2020-03-05 20:30] pixelzoom commented on #872
3/5/20 dev meeting

* List in https://github.com/phetsims/chipper/issues/872#issuecomment-591604280 is probably complete.

* @samreid needs to self review modify.js first.  Assigning issue to him to do this, then back to dev meeting to divvy up review.

[2020-03-05 21:05] jbphet commented on #908
I found some information about a Git configuration parameter names `core.autocrlf` which updates the line endings on checkouts and commits, but this value is already set correctly on my system and the functionality it controls seems to be working just fine.  The problem in this case is that the generated files have the Unix-style line endings, so I don't think Git or IntelliJ are the place to look

[2020-03-05 21:17] mattpen opened #910 "branch: image-decouple"
For tracking work related to #825.

[2020-03-05 21:22] jbphet commented on #908
I found a few discussions of this problem online, and here is a link to one that suggests using a particular package and newline indicator: https://stackoverflow.com/questions/10384340/how-to-append-to-new-line-in-node-js.

The example looks like this:
[code]

This strikes me as promising.

[2020-03-05 21:31] jbphet commented on #908
...and this approach already seems to be in use in `perennial\generateData.js`.

[2020-03-06 01:04] zepumph opened #911 "Investigate using core-js for polyfills"
Currently twice we have had to notice that sims stopped working IE, and then debug cryptic errors on that platform only to release that we need to polyfill (Promise for the webpack build, and Array.from).

I think we should investigate what it would look like to use core-js, as it seems to be the industry standard (babel-polyfill is deprecated in favor of it). Likely then we could get `transpile.j

[2020-03-06 17:37] samreid commented on #845
I also committed a usage in Wave Interference

[2020-03-06 17:40] samreid commented on #905
That sounds like something a primary developer could take the lead on, and request help if they come across parts where it is unclear how to proceed.  @ariel-phet would you like to recommend someone to take the lead on this?  It could be any developer.

[2020-03-06 17:47] samreid commented on #901
The vulnerabilities are related to qunit and puppeteer.  A reasonable first step would be to update our project to use the latest version of each:

[code]

[2020-03-07 00:08] pixelzoom commented on #854
I posted in Slack:

ALL DEVS: Proposal to used "built" and "unbuilt" to refer to what we previous called "built" and "requirejs" , see https://github.com/phetsims/chipper/issues/854#issuecomment-594930429.   This currently has +3 votes (including me).  Please weigh in (in the issue) by Monday 5/9 @ 5pm.   I can't proceed with revising docs and checklists until we have consensus.

[2020-03-07 23:57] Denz1994 commented on #902
The installer builder has been changed to use JSON.

[2020-03-09 16:57] mattpen commented on #825
Jimp has stopped working for me in a grunt task, I can't continue on this at the moment: https://github.com/oliver-moran/jimp/issues/852

[2020-03-09 17:09] pixelzoom commented on #825
Please ignore the above commits. They should have been tagged for https://github.com/phetsims/sun/issues/575.

[2020-03-09 17:12] mattpen commented on #825
Sharp seems worth evaluating:

https://github.com/lovell/sharp
https://medium.com/on-discord/nodejs-image-manipulation-libraries-43a3f955cc67

[2020-03-09 17:18] pixelzoom commented on #825
Oh man, I did it again.  I must have this issue stuck on my clipboard.  Please ignore the above commit, it was meant for phetsims/sun#575.

[2020-03-09 19:42] samreid commented on #882
I wanted to use this to move forward in Gravity and Orbits review, and @jessegreenberg said to go for it!

[2020-03-09 19:46] samreid commented on #882
The commits provide basic functionality for this feature.  There were a few spots where I could not use this warning system:

initialize-globals:

[code]

Mouse.js

[code]

Pointer.js
[code]

SunConstants.js

[code]

@jessegreenberg can you please review and recommend how to proceed with the above `@deprecated` things?

[2020-03-09 19:51] samreid commented on #882
After implementing this, I'm wondering if the class-level deprecation warnings should move to constructors so we can get stack traces.  We could add a cache in `deprecationWarning.js` so it doesn't output the same message twice.

[2020-03-09 22:46] jessegreenberg commented on #882
This is looking great, thanks.

After testing ?deprecationWarnings in gravity-force-lab-basics I agree. I got a deprecation warning for SimpleDragHandler and started searching gravity-force-lab-basics, gravity-force-lab, and inverse-square-law-common for a usage of SimpleDragHandler, but eventually discovered that the usage was by Slider in sun. Having a trace to point to this would be helpful.

I

[2020-03-10 00:40] pixelzoom commented on #880
In the [Repository Structure](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md#repository-structure) section of the CRC, I added:

[2020-03-10 00:40] #880 closed

[2020-03-10 01:03] pixelzoom commented on #873
To reduce clutter in the CRC, I added an item that links to a .md file:

@Denz1994 randomly selected to review.

[2020-03-10 01:27] pixelzoom commented on #854
https://github.com/phetsims/chipper/issues/854#issuecomment-589779806 is a reasonable checklist of what needs to be done.  And updating the "Design Patterns" doc has been divided up by section author.  I'm way behind on higher priority work.  Could we divvy up the remaining checklist items?

Assigning to @ariel-phet to divvy up and prioritize.

[2020-03-10 17:17] samreid commented on #838
I tried reducing the max memory of WebStorm from 2GB to 512MB, then I invalidated caches and restarted and the search speed is very snappy!  For this to be a real science experiment, I would need to increase the memory again and re-test.

[2020-03-11 15:43] mattpen commented on #825
Sharp is working well in local builds but failing on RHEL7.  There is a fix in the pipeline marked as "ready-to-ship": https://github.com/lovell/sharp/issues/2119.

[2020-03-11 19:49] Denz1994 commented on #873
The item has been added to the CRC Coding Conventions section and the document captures what was discussed in our latest dev meeting. I should reference this doc in the Modules section of the phet-software-design-pattern doc (see https://github.com/phetsims/phet-info/issues/134).

Very minor grammatical point: Shouldn't "Modules Best Practices" be "Modules' Best Practices"?

I'll leave to @pixelzo

[2020-03-11 20:05] samreid opened #912 "Convert preloads to modules."
We have several files that need to be loaded from multiple locations, such as QueryStringMachine and SimVersion.  Other preloads like `initialize-globals.js` we would like to access information from them such as their query string machine schema for issues like https://github.com/phetsims/joist/issues/602, but it isn't available.

We could move all of these "phet" preloads to "module" preloads.  T

[2020-03-12 02:18] samreid commented on #572
https://github.com/phetsims/tasks/issues/987 is further along, let's close this and continue there.

[2020-03-12 02:18] #572 closed

[2020-03-12 19:50] pixelzoom commented on #873
Thanks @Denz1994.  I've change the document title to "Best Practices for Modules".

[2020-03-12 19:50] #873 closed

[2020-03-13 18:27] samreid opened #913 "How should we document/describe package.json?"
From https://github.com/phetsims/utterance-queue/issues/5#issuecomment-577442354 @zepumph said:

Would it make sense to do this in simula-rasa's package.json?

@pixelzoom what do you recommend?  After commenting, please reassign to @ariel-phet for delegation.

[2020-03-14 19:01] samreid commented on #882
I revised the code review document to use `?deprecationWarnings` instead of `?deprecationWarning`.  Everything else looks great, thanks!

[2020-03-14 19:01] #882 closed

[2020-03-15 00:00] pixelzoom commented on #913
I don't understand. What is "the schema for a sim (or general) package.json" ?

[2020-03-15 00:08] pixelzoom commented on #913
Let me guess...  Perhaps "the schema for a sim (or general) package.json" means documentation all of the fields (and their values) that can be present in package.json.   If so...

That would be a lot easier if we had encapsulated package.json. Then we could have described it in the implementation of that encapsulation.   Instead, we have variation of this repeated throughout the code base:

`const

[2020-03-15 00:08] pixelzoom commented on #913
Assigning to @ariel-phet for delegation, as @samreid requested.

[2020-03-15 00:11] pixelzoom commented on #913
And I forgot to answer this:

No, I don't think that's where it belongs.  It shouldn't be in a package.json. It should be in the thing that reads package.json. And the thing that reads package.json should also be used by chipper, perennial, and anything that needs info from package.json.

[2020-03-15 00:11] pixelzoom commented on #913
And if there's more than 1 package.json "schema", then create more than 1 such encapsulation.

[2020-03-16 23:37] ariel-phet commented on #913
Considering that package.json is pretty fundamental to how we do lots of things (to my understanding), this seems like a good dev meeting issue. Marking as such, and high priority to be discussed.

[2020-03-17 00:24] jbphet commented on #908
I just tried doing a checkin where I did a `grunt modulify` and git/IntelliJ was reporting a bunch of changed files that weren't really changed.  I wanted to find out if it would actually check them in - I suspected that it would detect that it was just line endings and not actually commit them.  I was wrong - it checked the files in.  Hopefully this won't be a problem for the sim.  For reference,

[2020-03-17 15:21] samreid commented on #771
This is not a priority for me at the moment, unassigning.

[2020-03-18 00:24] zepumph opened #914 "rename ?a11y and ?accessibility to ?supportsDescriptions"
From https://github.com/phetsims/scenery/issues/997 and https://github.com/phetsims/phet-io/issues/1628. I though this deserved its own issue.

[2020-03-18 00:31] zepumph commented on #914
Implemeneted above. Marking for dev meeting as a PSA and to see what people think. I also restarted CT to support the aqua changes.

[2020-03-18 02:04] zepumph commented on #896
I updated the a11y view to insert the created aria-valuetext display element immediately after the element, and not at the end of the container. @jessegreenberg please review.

I used this snippet (added to your favorite a11y view enabled sim) to see that it was working). The valueText display should go in between the two children.

[code]

[2020-03-18 21:55] ariel-phet commented on #905
@jessegreenberg is willing to take this on, and will call on other devs as needed

[2020-03-19 19:11] mattpen commented on #872
3/19 dev meeting:

@samreid still needs to self-review modulify.js

@Denz1994 will start review of buildRunnable.js, webpackBuild.js, and Gruntfile.js.

@jonathanolson said that most recent changes should be g2g, but there may be old changes that are not up to standards.

[2020-03-19 19:19] mattpen commented on #913
3/19 Dev Meeting:

@mjkauzmann suggests we use a similar approach as how we are treating SimVersion.js.  We keep the ground truth in perennial, and automatically copy it to chipper/joist/etc where old versions are needed for reproducible builds.

@samreid suggested that we investigated creating an ES6 module that is a package.json loader instead of a UMD.

[2020-03-19 20:05] zepumph commented on #913
Also during the meeting @samreid mentioned that we support a schema-type module for our build-local.json, but that is not true from what I see here in chipper's Gruntfile.js:
[code]

Perhaps the next step will be to do the same thing for build-local.

[2020-03-19 20:06] zepumph opened #915 "How should we document/describe build-local.json?"
Very similar from https://github.com/phetsims/chipper/issues/913#issuecomment-601390759, we may want to apply the pattern developed over there for package.json files to build-local.json. Marking on hold for now.

[2020-03-19 21:43] samreid commented on #915
We have this: perennial/js/common/buildLocal.js, but perhaps it isn't used everywhere it could or should be?

[2020-03-19 23:29] zepumph commented on #915
Oh I see! I didn't find it in chipper! Perhaps we can use the same sort of pattern as was discussed in https://github.com/phetsims/chipper/issues/913 to make this available to chipper's grunt file as well.  This will be more consistent for all repos.

[2020-03-20 21:37] mattpen commented on #825
sharp 0.25.2 is now available

[2020-03-21 01:04] zepumph opened #916 "Code review A11y View"
While working on https://github.com/phetsims/chipper/issues/740 I found some refactoring and improvements to be done. I will link TODOs here, and try to organize things a bit better in this issue.

[2020-03-21 01:49] zepumph commented on #916
I pulled functions out into its own script. There are a few todos added as well.

[2020-03-21 01:56] zepumph commented on #740
I looked at this a bit more today.

I confirmed that performance is improved when commenting out the guts of `setPDOMCopyContent`.

I thought that there may be some improvement by using `document.createDocumentFragment()` with no noticeable speed up.

I then looked briefly into looping through all of the mutations that the observer provided and trying to change swap out individual HTML elements. I

[2020-03-22 23:30] zepumph commented on #795
Sub issues have been created. We will handle this for each individual repo from here. Closing.

[2020-03-22 23:30] #795 closed

[2020-03-23 13:42] samreid opened #917 "Do we really need to lint all of our image, mipmap and sound files?"
Do we really need to lint all of our image, mipmap and sound files?  How much extra time does that take?

[2020-03-23 13:49] samreid commented on #917
After clearing cache, then running `grunt lint-everything`, the second run gives:

real	0m3.933s

After adding these omit patterns:

[code]

The timing is:

real	0m3.834s

[2020-03-23 13:55] samreid commented on #917
Yesterday I saw times of 6+ seconds for the former.  But maybe it was in the noise?

[2020-03-23 14:10] samreid commented on #917
I can reduce the time of `grunt lint` from 1.5 sec to 0.5 sec by commenting out non-lint related code in `Gruntfile.js`.

[2020-03-23 16:37] samreid commented on #917
Running `grunt lint-everything` from perennial/ has my time down to 0m2.250s without any other changes.  That seems good enough for now, closing.

[2020-03-23 16:37] #917 closed

[2020-03-23 16:46] samreid opened #918 "Run lint automatically on file save"
In #751 we discussed running lint as part of a git commit hook.  However, I thought it might be better for my workflow to run lint on file save rather than as a pre-commit step.

[2020-03-23 19:24] samreid commented on #918
After the above commits, I'm also connecting to bitbar to show a status symbol in the mac status bar based on lint status.  Furthermore, it says status out loud only when there is a status change.  No further work planned here, closing.

[2020-03-23 19:35] pixelzoom opened #919 "{{REPO}}.title convention for sim title string key"
Because of the chars that we allowed in string keys, all of our sim titles now require ugly bracket notation to access them.  E.g.:

`simulaRasaStrings[ 'simula-rasa' ].title`

Converting the repo name to camelcase seems nicer, e.g:

`simulaRasaStrings.simulaRasa.title`

...but fails `grunt`:

[code]

I suspect that other non-sim code (Rosetta? website? wrappers?...) may also rely on the `{{REPO}}

[2020-03-23 20:57] KatieWoe commented on #840
Noting that when screens have lower resolutions (not really dependent on browser) small images can appear a bit different without mipmaps. This is seen in the tm next to the PhET menu, which looks skinnier without mipmaps. In my opinion, it generally looks cleaner this way, so I'm not terribly concerned.
With mipmaps:
![withmipmap](https://user-images.githubusercontent.com/41024075/77362471-955057

[2020-03-24 17:07] zepumph opened #920 "requirejs still a dev dependency in some package.json files"
I think that universally these shouldn't be needed, but I thought I would check with everyone before deleting.

[code]

Found in the above repos' `package.json` file.

[2020-03-24 17:22] samreid commented on #872
modulify.js is now ready for code review.  Please note I added a few questions for the reviewer in comments.

[2020-03-25 01:11] zepumph commented on #740
I tried polling like below but didn't see immediate improvement, I  think I need more testing though:

[code]

[2020-03-25 04:48] mattpen commented on #901
@ariel-phet asked me to look into the puppeteer usage.  The puppeteer version used here in chipper is not something I'm familiar with.  I'm only familiar with the usage in website-meteor, which is using a newer version (2.0.0) and is *not* reporting a severe vulnerability.  In chipper, puppeteer appears to only be used in generatePhetioAPIFiles.js, and the authors listed are @zepumph @samreid and

[2020-03-25 05:11] zepumph commented on #901
Thanks for the ping and investigation. We will try to update to the new version quickly.

[2020-03-25 20:34] Denz1994 commented on #872
I reviewed the code that was relevant to `webpack` in `buildRunnable.js` `chipper/gruntfile.js` and `webpackBuild.js`. There were only a few suggestions in the  `REVIEW` comments added (nothing major). The `grunt webpack-dev-server` help doc looks good and all the options documented were tested. I will reassign to @jonathanolson to address the comments.

[2020-03-25 22:10] ariel-phet commented on #901
@zepumph and @chrisklus it seems (as @zepumph marked) this should be high priority - security vulnerabilities seem good to deal with as related to iO

[2020-03-26 03:31] samreid commented on #918
After the above changes, changes are batched with `debounce` and it is working nicely on my system.  Marking for short PSA to share with other developers, but I'll likely also mention it during status meeting.

[2020-03-26 04:19] pixelzoom commented on #909
Does this also include used strings, or is that a separate issue?  I've noticed that since the conversion to ES6 modules, unused strings are no longer identified.  I recently almost left an unused string in ABS, after we changed the UI.

[2020-03-26 17:32] samreid opened #921 "Speed up linting pre-commit hook"
At the moment, `grunt lint` takes around 2.5 seconds, which feels sluggish during commits.  Can this be improved?

[2020-03-26 17:35] samreid commented on #921
I added this script in perennial/js/scripts/lint-main.js:

[code]

And it is getting closer to 0.4 seconds.

[2020-03-26 17:44] samreid commented on #921
I added the optimized lint script.  @pixelzoom can you please review and see if it is a suitable replacement for the pre-commit hook?

[2020-03-26 17:52] zepumph commented on #921
On windows the fast script takes between 1 and 1.1 seconds (depending on if the terminal is fresh or not).

[2020-03-26 18:13] zepumph opened #922 "Review es6 module changes to the string stack"
From https://github.com/phetsims/chipper/issues/872, files that this touches are specifically:

- [x] getStringMap.js
- [x]  getStringModule.js
- [x] load-runtime-strings.js

[2020-03-26 18:15] jbphet commented on #872
Discussed at 3/26/2020 dev meeting, next steps are for @jonathanolson to address the comments added by @Denz1994, and @zepumph is going to review string-related files.  @Denz1994 is going to review `sortImports` this week as well.  We will revisit next week and assign more.

[2020-03-26 19:08] samreid commented on #921
Also for the reviewer @pixelzoom: should this script be in chipper or perennial?

[2020-03-26 22:33] samreid commented on #921
I think it makes more sense for this to move to chipper, since that is where lint is defined.  Will we have problems on old shas?  I don't think so, because we won't be committing on those old shas.

I'll move it shortly.

[2020-03-26 22:50] zepumph commented on #921
I think that we could have problems. Or, at least, I don't know if the following case is problematic.

* Each git repo get's set up to use a git hook that calls a function in chipper
* you checkout a branch of chipper without that script
* you make a commit
* that file can't be found because the git repo is still trying to run the git hook?

If you are as worried about this as I am, perennial is l

[2020-03-26 22:56] samreid commented on #921
But moving just this script to perennial doesn't solve the whole problem, because it still `require`s `lint` from `chipper`.  What if `lint` doesn't appear in the chipper SHA?  Or are you advocating a deep copy of `lint` moving to `perennial`?

[2020-03-26 23:18] zepumph commented on #921
`lint.js` has been a file since early 2017. Perhaps that is long enough that the error you described is rare enough that we can ignore it? I wonder how many sims use an older chipper than that?

[2020-03-26 23:21] samreid commented on #921
If I'm trying to commit something and my precommit hook is preventing me, perhaps I will just uncheck the Run Git Hooks checkbox:

![image](https://user-images.githubusercontent.com/679486/77705781-2aa55300-6f86-11ea-8153-170750bc1aee.png)

[2020-03-26 23:22] samreid commented on #921
By the way, I'm using the `grunt lint` precommit hook and it's slow enough that "Commit and Push" shows a blank "Push" dialog (at least once).  I haven't tested if the faster precommit hook solves this or not.

[2020-03-26 23:27] samreid commented on #921
Also, I tried

[code]
With the proposed precommit hook, and it looks like it did not overwrite the previous version.

[2020-03-26 23:28] zepumph commented on #921
I think that is a totally fine option, but I have another idea.

What about the following for a git hook:

[code]

I don't know if this is actual bash, but something close to this. Then we wouldn't have to worry about any of it, and we get the speed boost when possible.

[2020-03-26 23:31] samreid commented on #921
I'm inclined to avoid complexity in this precommit hook until I have more experience with it.  And my expectation is that it will be rare to want to commit in a sim repo while having a chipper prior to March 26, 2020 checked out.  But I will happily change my tune the first time it happens!

[2020-03-26 23:37] zepumph commented on #901
A few notes:

* I updated puppeteer in chipper and it removed the vulnerability. `grunt generate-phet-io-api-files` still works as expected when I tested projectile-motion.
* When I ran `npm audit` (after creating a pack-lock.json), there were hundreds of low priority vulnerabilities, and they mostly came from webpack and its dependencies. I was able to `npm audit fix` it down to 171 low (from ove

[2020-03-26 23:38] zepumph commented on #921
Sounds good to me!

[2020-03-27 00:13] samreid commented on #901
I don't think we support code coverage tests anymore, please see #895, maybe istanbul can simply be removed for now.

[2020-03-27 00:17] samreid commented on #921
The new script is fast enough that it did not have this problem (in the one and only test).  Hooray!

[2020-03-27 00:32] zepumph commented on #922
Review:

- [ ] I think it would be cleaner if the code that wrote the repo specific strings file in `modulify.js` was pulled out into its own function. Right now it is in the main `module.exports `file and looks really ugly.
- [ ] I don't like that the name of the strings file doesn't nicely match the name of the imported variable. For example `import joistStrings from './joist-strings.js';`. This

[2020-03-27 02:34] mattpen commented on #901
I'm not sure what else I can do here. Please reassign me if needed.

[2020-03-27 14:45] pixelzoom commented on #921
There's been a lot of discussion (and work?) on this since it was assigned to me for review. Is it still ready for review?

[2020-03-27 14:58] samreid commented on #921
Yes, please.

[2020-03-27 16:48] pixelzoom commented on #921
Since the existing grunt task (lint.js) is in chipper, I'd say chipper.  Looks like you've done that.

In case anyone else looks at this, instructions for running the script are in lint-main.js.  I tested a few lint errors (missing import, bad-text,...) and it seems to be working as expected.

I don't see a plan for how this would replace `grunt lint`.  Are you thinking that this is only run in th

[2020-03-27 16:53] pixelzoom commented on #921
Ah, I see, lint-main.js uses lint.js.  In lint-main.js:

`const lint = require( '../grunt/lint' );`

So this script is intended for use in git hooks only, but not in other places that currently use lint.js? Could other places benefit this optimization?   (I see no details here about why/how this runs faster, and I don't have time to investigate.)

[2020-03-27 17:14] pixelzoom commented on #919
Brought @ariel-phet up to speed via Zoom.  He asked me to mark for dev meeting.

[2020-03-27 17:47] samreid commented on #921
As described in the documentation, this implementation "avoids the overhead of grunt and Gruntfile.js."  Even running `time grunt --help` takes around 1.5 seconds for me, compared to 0.05 seconds for `time node 2+2`.  Also, commenting out all of the other tasks in Gruntfile.js speeds things up immensely, but lint-main never requires them in the first place, so it avoids that overhead.

I don't hav

[2020-03-27 17:54] samreid commented on #921
@zepumph reported about 3.5 seconds for `grunt lint` and around 1.0 seconds for `node lint-main` using Windows.

[2020-03-27 17:59] jessegreenberg opened #923 "Delete or replace string-require-statement-match rule for ES6 modules"
This rule wasn't replaced after switch to ES6 modules. Many developers are just using the strings module inline now. But for strings used in multiple places or strings with long/nested names it improves readability to use constants, like

[code]

For these, do we want to enforce variable names match? If so, what should the rule be, should it match last key in the nesting or should it contain every

[2020-03-27 18:50] pixelzoom commented on #921
Which repo was @zepumph linting?

For one of my largest sims:

[code]

[2020-03-27 20:00] samreid commented on #921
@pixelzoom is `lint-main` a suitable replacement for the `git-template-dir/hooks`?  If not, what else remains to be done for this issue?

[2020-03-27 20:07] pixelzoom commented on #921
Yes, seem like a nice replacement in hooks.  And thanks for answering my questions.  Feel free to close.

[2020-03-27 20:38] zepumph commented on #921
Projectile Motion

[2020-03-27 20:55] zepumph commented on #895
Note that we still have code in our project related to code coverage that uses `istanbul`, and the latest version of it reports a security vulnerability. @samreid recommended to delete it, I will leave that up to @jonathanolson in this issue.

Should we just delete generateCoverage.js and remove the dependency in chipper's package.json?

[2020-03-27 20:55] zepumph commented on #901
I pinged https://github.com/phetsims/chipper/issues/895 to handle istanbul. I'm going to close this issue. Please reopen if you feel differently.

[2020-03-27 20:55] #901 closed

[2020-03-27 21:54] jessegreenberg opened #924 "Rewrite reportUnusedStrings to work with ES6 modules"
reportUnusedMedia and reportUnusedStrings were made for RequireJS and are no longer working. It was helpful to see reports of unused strings and media when building. @jonathanolson would it be possible to have these again with ES6 modules?

[2020-03-28 00:38] zepumph commented on #922
Review for `load-runtime-strings.js`:

- [ ] The header doc gives good overview about context and why this file is important. Please add doc about what the file actually does. If I were doing it, I am getting the feeling it would be something like "defines and populates `phet.chipper.strings` for use in sim code.
- [ ] Each function needs jsdoc: requestStringFile, and processStringFile and likely

[2020-03-28 01:00] samreid commented on #921
I replaced the template with lint-main.  Closing, but @pixelzoom or @zepumph feel free to reopen if there's more here.

[2020-03-28 01:00] #921 closed

[2020-03-28 01:12] zepumph commented on #922
Review of `getStringMap`:
- [ ] This comment feels outdated and wrong:

- [ ] does `// built-in node APIs` need to be separate from `modules`? If so `grunt should be moved up there.
- [ ] At first glance. I think that all regex should be factored out into constants, and extensive doc be added to each of the about what they match and why they are the way they are. This will do wonders to make thing

[2020-03-30 17:32] samreid commented on #838
I had a terrible time with search performance even before ES6 migration.  My problems went away when I typed this into the “Directories” => Exclude:

[code]

[2020-03-30 17:32] samreid commented on #838
I also manually excluded these:
![image](https://user-images.githubusercontent.com/679486/77943244-25901e80-727a-11ea-9d64-2af62e5c2f5b.png)

[2020-03-30 17:32] #838 closed

[2020-03-30 21:07] samreid opened #925 "Eliminate ?cacheBust?"
After moving we moved to ES6 modules, we no longer have the ability to `?cacheBust` the main JS code, as we did for requireJS.  We opened #866 for alternative ideas about cache busting the ES6 module code, but most developers now just run Chrome with devtools open and disable cache.  We recently added the ability to cache bust preloads as part of #755.  We should decide whether we want to keep thi

[2020-03-30 21:18] zepumph commented on #925
related to https://github.com/phetsims/chipper/issues/866

[2020-03-30 22:22] jonathanolson commented on #922
This would propose that `js/joist-strings.js` would be changed to `js/joistStrings.js` (or e.g. `js/acidBaseSolutions.js`, camel-cased). That sounds acceptable to me, I'll ask on Slack for any objections.

[2020-03-30 23:17] jonathanolson commented on #922
Those seem like implementation notes, not something that describes its interface or would be in the header. Thoughts?

[2020-03-30 23:21] jonathanolson commented on #922
Ahh, I interpreted this as it should be the last statement, and that we didn't need to break things out with other names. Does this imply that we need to fix all of our namespace files too:
[code]
to:
[code]

I'm personally happy with the current way, but I also thought that we generally didn't create `const x; return x;` in favor of `return x`, and figured it would apply here also. Thoughts?

[2020-03-30 23:24] jonathanolson commented on #922
I'm open to that, especially for naming, but for me having the for-each loops obfuscated by splitting something into functions actually makes things less clear. Maybe more documentation would help? Can you directly propose a recommendation for how it SHOULD be so I could compare?

[2020-03-30 23:33] jonathanolson commented on #922
Would `reference` be good? In almost all normal operation it is an object, however there are edge cases where it MAY point to something else.

[2020-03-30 23:35] zepumph commented on #922
Sounds good!

I think that if it is already one line, then there isn't a problem. I would still recommend fixing the usage here though.

How about try more documentation and we can see if that fixes things. I think of splitting tasks that are only run once into a separate function for documentation as something to be done by developer discretion, so feel free to pass on it.

sounds good!

[2020-03-30 23:37] jonathanolson commented on #922
A string key by definition includes the prefix, and is specific to a single repository, so I'm not sure I understand the clarifications here?

Planning on using `stringKeysInRepo` for the array (since it is a list of string keys that are used and in the repo), but I don't see an immediate way to clarify the `stringKey` name.

[2020-03-30 23:38] jonathanolson commented on #922
That's the current terminology, yes, and stored in package.json files as `phet.requirejsNamespace`.

[2020-03-30 23:43] jonathanolson commented on #922
We may have other older (unused) keys in babel, and we are only doing the search that matters with the English string keys. Is there an ideal place to document this?

[2020-03-30 23:50] jonathanolson commented on #922
Added the documentation in https://github.com/phetsims/chipper/commit/aae473959bb180c68997d87fdcc79b4bcc82a0a9, how does that look?

[2020-03-30 23:57] jonathanolson commented on #922
It wasn't a good doc. https://github.com/phetsims/chipper/commit/f254de2ffbfbe00b063c0348ac9e1fd1f57aa03c should fix it, does that look good?

[2020-03-31 00:10] jonathanolson commented on #922
That sounds great to me. How would you suggest we do that? It feels like documentation could help.

[2020-03-31 00:11] jonathanolson commented on #922
I'm a bit confused, what would you recommend documenting? This is documented in initialize-globals.js I believe.

[2020-03-31 00:14] jonathanolson commented on #922
I'm not sure how the babel and custom-locale code is related to this? Added a comment to the top, and the rename will help also.

[2020-03-31 00:18] jonathanolson commented on #922
That sounds like more moving parts and lines of code. I'm not fully convinced that would be beneficial. Thoughts?

[2020-03-31 00:21] jonathanolson commented on #922
More than happy to talk about changing this. We still use require.js for older simulations, so it still seems relevant for me. "legacy require.js namespace"?

[2020-03-31 01:36] jonathanolson commented on #922
Done in master. A lot of times, if breaking things up into a function with a single use can mess with readability for me, particularly if without the function it's all in logical order in inter-related code. For things that seem somewhat isolated and independent, it's great to break things out. If you find anything specifically to improve let me know, but I didn't see many opportunities here.

[2020-03-31 16:57] zepumph commented on #916
- [ ] A11y view should use `QueryStringMachine.appendQueryString`

[2020-03-31 17:00] zepumph commented on #916
- [ ] It would be nice if the a11y view javascript was linted. The javascript could be pulled out of the sim a11y template into its own js file. Then it could be linted in chipper. Then the grunt process could add it to the a11y view html template.

[2020-03-31 17:10] zepumph commented on #740
This morning I had a lot of luck implementing the above code snippet from https://github.com/phetsims/chipper/issues/740#issuecomment-603585212. I ended up committing it. @jessegreenberg will you please review? I was not able to reproduce any lag with the current patch present.

[2020-03-31 17:14] zepumph opened #926 "Publishing dev versions changes development html"
Since converting to es6-modules, we have been putting our package.json inline in the development html files. This has been working well, but one downside is that publishing dev versions bumps the package version, but it doesn't update that version in the development html. Thus there is a lingering update needed in that repo that will occur next time `grunt update` is called.

To reproduce:
* cd ch

[2020-03-31 20:47] jessegreenberg commented on #740
This is great @zepumph nice work! I verified that the PDOM is much faster when NVDA is enabled in Chrome, I am not getting any seizing. I also tested on a Mac with Chrome and Safari and performance is fast there. It remained fast when VO was enabled too.

I see commits that re-generated the a11y-views but I don't see a commit to the template in chipper. Performance reports came from @emily-phet to

[2020-03-31 23:07] zepumph commented on #740
@jessegreenberg I apologize, I forgot to commit the template change in chipper.

@emily-phet please review the your favorite a11y view on phettest. Do things look better to you?

[2020-04-01 14:48] samreid commented on #922
Several sims are not finishing CT.  For instance, axon unit tests have this error:

Leaving assigned to @jonathanolson at increased priority.

[2020-04-01 15:19] jessegreenberg commented on #891
This lint rule has been added back and modified to catch `ImportDeclarator` as one of the ways to declare a type. Tested with `--eslint-disable-cache`. Closing.

[2020-04-01 15:19] #891 closed

[2020-04-01 16:30] jonathanolson commented on #922
I updated the documentation, but:

1. Some can't be factored out into constants, since they use variables, and
2. Others shouldn't be, since it's better to keep them by their usage site for readability

Thoughts?

[2020-04-01 16:31] jonathanolson commented on #922
Should be fixed in master, my apologies!

@zepumph can you review my comments and let me know what else I should do?

[2020-04-01 19:34] jonathanolson commented on #872
@samreid I'm curious about your opinions on the remaining 2 REVIEW notes in chipper. Notably:

1. What should we do when mipmap creation fails? Erroring out makes sense, but this was commented out with a try-catch it appears?
2. Should modulifyFile (in modulify.js) be simplified with logic? This looks fine to leave as-is for me.

[2020-04-01 22:39] jonathanolson commented on #924
Yes, reportUnusedMedia should be handled in https://github.com/phetsims/chipper/issues/909.

Renaming this issue for reportUnusedStrings.

[2020-04-01 23:19] jonathanolson commented on #924
Should be implemented with the above commit. @jessegreenberg do you mind reviewing/verifying?

[2020-04-01 23:26] jonathanolson commented on #895
Sounds like a plan, implemented.

[2020-04-01 23:26] #895 closed

[2020-04-02 16:28] samreid commented on #918
Now that the git hook is speedy, I've been using it more, and it works great.  I'll use this on and off but no plans for broader use.

[2020-04-02 16:28] #918 closed

[2020-04-02 16:30] samreid commented on #923
We also discussed inlining the strings, since we no longer need those intermediate variables.

[2020-04-02 18:47] zepumph commented on #914
We went over it today in dev meeting and all have been notified. Closing

[2020-04-02 18:47] #914 closed

[2020-04-02 18:52] chrisklus commented on #919
From 4/2/20 dev meeting:

We deferred until @ariel-phet returns so we can discuss it with him.

[2020-04-02 19:02] chrisklus commented on #925
From 4/2/20 dev meeting:

We think unless we try to get cache busting working for ES6 modules in addition to preloads, then we should just get rid of this and rely on dev tools or local servers for no caching. @samreid volunteered to do this.

[2020-04-02 19:04] chrisklus commented on #923
From 4/2/20 dev meeting:

We are all good with deleting it, assigning to @jessegreenberg. Thanks!

[2020-04-02 19:06] zepumph commented on #894
Over in https://github.com/phetsims/chipper/issues/923, we decided to delete this lint rule. Closing

[2020-04-02 19:06] #894 closed

[2020-04-02 19:06] zepumph commented on #924
This is very exciting! Thanks for doing that.

[2020-04-02 19:21] chrisklus commented on #920
From 4/2/20 dev meeting:

Related to https://github.com/phetsims/chipper/issues/905.
We're happy with this being deleted. Thanks!

[2020-04-02 19:25] zepumph commented on #905
I also think that there is a bigger discussion to be had here about the vestigial, but widely used naming of `REQUIREJS_NAMESPACE` formatting. You can search for usages of `requirejsNamespace` including that field in every package.json.

[2020-04-02 19:26] chrisklus commented on #909
From 4/2/20 dev meeting:

SR: The build only includes sounds and images that were imported in the sim.

We think it would be good to not have unused media left in the repo, so this should still be done at some point.

[2020-04-03 03:53] samreid opened #927 "branch: simlauncher-locks"
For https://github.com/phetsims/joist/issues/621

[2020-04-03 18:41] pixelzoom opened #928 "improve 404 error message for "grunt generate-phet-io-api-files""
If a "404 (Not Found)" error occurs during API harvest, `?phetioPrintPhetioFiles` provides a nice console error message with plenty of detail to immediately determine the problem:

[code]

With `grunt generate-phet-io-api-files`, you get a vague 404 error with no details:

[code]

The same error info is presumably available to grunt, so I'll create an issue to "enhance" the error message.  Please

[2020-04-04 22:40] chrisklus commented on #928
According to the puppeteer docs, the additional info being requested comes from `consoleMessage.location()`, see https://pptr.dev/#?product=Puppeteer&version=v2.1.1&show=api-consolemessagelocation

Right now, the error message we're seeing only comes from `consoleMessage.text()`. The grunt task appears to check for `consoleMessage.location()` and print that too if it exists, but it's `undefined` o

[2020-04-04 22:47] chrisklus commented on #928
`location.lineNumber` is still returning undefined so this still isn't quite as helpful as the browser error, but i'm not sure what to do about that. Hopefully this is a lot better than before.

[2020-04-04 23:06] pixelzoom commented on #928
I think we can live without `location.lineNumber`.   Knowing what resource failed to load is the important thing.

[2020-04-04 23:19] chrisklus commented on #928
Sounds good. Marking `status:blocked` until https://github.com/phetsims/perennial/issues/170 is complete.

[2020-04-05 18:22] samreid commented on #872
Mipmaps failed for some images, via the interlacing pattern described in https://github.com/phetsims/chipper/issues/831.  I wasn't sure how throw interplayed with `async` so I tried removing the try/catch and adding a manual test `throw new Error()` and it had the desired behavior.  I'll commit this change.

[2020-04-05 18:24] samreid commented on #872
Thanks, I removed those comments.

[2020-04-05 18:33] chrisklus commented on #928
@zepumph and @samreid corrected me in https://github.com/phetsims/perennial/issues/170 - the grunt task relies on chipper's puppeteer, not perennial's. `npm prune && npm install` in chipper fixes the problem for me, does it for you as well @pixelzoom?

[2020-04-06 00:04] samreid commented on #925
Some questions came up as I was working on this:

* Is phet-core/js/loadScript.js used?  I couldn't find any occurrences.  @jonathanolson is listed as the author, can you recommend how to proceed?  Let me know if I should open a separate issue.
* There is an alternate declaration and usage of `cacheBust` in interaction-dashboard. @zepumph may wish to determine a better way of doing this.  Let me k

[2020-04-06 01:42] samreid commented on #925
Fixed in the preceding commits.  Most changes are in chipper and phetmarks.  Then I updated the html and test-html files for each repo.  Some questions came up as I was working on this:

* Is phet-core/js/loadScript.js used?  I couldn't find any occurrences.  @jonathanolson is listed as the author, can you recommend how to proceed?  Let me know if I should open a separate issue.
* There is an alte

[2020-04-06 15:55] jessegreenberg commented on #905
Right, and it is still used throughout chipper @jonathanolson do you have a recommendation for a rename of this field?

[2020-04-06 16:54] jonathanolson commented on #905
It accurately describes its legacy purpose, but I'm also not against other people wanting to rename it. Not attached either way.

[2020-04-06 17:22] jessegreenberg commented on #905
I realized I am not knowledgeable enough about requireJS and how various things have changed with ES6 modules to do this. I have assembled a list of about 2 dozen questions that are of the form "should the documentation change or does the implementation need to change", and I am still not done going through everything. So I would recommend that a responsible developer for each repository go throug

[2020-04-06 17:41] pixelzoom commented on #928
This looks great. Thanks @chrisklus. Closing.

[2020-04-06 17:41] #928 closed

[2020-04-07 03:23] samreid commented on #908
It looks like JS backtick template strings create `\n` line breaks, so we can replace those with os.EOL to achieve the desired behavior.  I implemented this in the commit and it seems to be working properly on Mac.  @jbphet can you please test on Windows?

[2020-04-07 13:32] samreid opened #929 "The server responded with a non-JavaScript MIME type of "text/html"."
I haven't changed any of my local configuration (to my knowledge), but today started receiving this message when launching a sim locally:

[2020-04-07 13:36] samreid commented on #929
Oops, I had a bad import, closing.

[2020-04-07 13:36] #929 closed

[2020-04-07 17:23] Denz1994 opened #930 "Review sortImport.js"
Related to https://github.com/phetsims/chipper/issues/872 for reviewing `sortImports.js`

- [x] Similar to the grunt task `sort-require-statements`, should there be grunt task for `sort-imports`. Currently, it is a subtask of `grunt migrate`. I'm bringing this up to be consistent with implementing specific grunt tasks for sorting require-statements and imports.

- [ ] `disallowedComments` aren't c

[2020-04-07 17:24] Denz1994 commented on #872
Review comments for sortImports.js have been added to https://github.com/phetsims/chipper/issues/930.

[2020-04-07 17:36] samreid commented on #908
I tested on Mac and it seemed to be working properly, thanks for your thorough test @jbphet and for reporting this problem.  Closing.

[2020-04-07 17:36] #908 closed

[2020-04-08 21:26] KatieWoe commented on #840
Another few instances within the sims on Chrome Mac 10.13
CCK With Mipmaps
![cckwith](https://user-images.githubusercontent.com/41024075/78835223-077a9a80-79ad-11ea-8250-b7566de3ff04.png)

CCK Without Mipmaps
![cckwithout](https://user-images.githubusercontent.com/41024075/78835235-0c3f4e80-79ad-11ea-9831-7acc45cfc396.png)

BA With Mipmaps
![balancewith](https://user-images.githubusercontent.com/4

[2020-04-08 22:50] zepumph opened #931 "shorten generated phet-io api file names"
This was requested by developers. the `phet-io-elements-` is redundant, as they are already in the `phet-io/` dir.

@chrisklus do you think you would be interested in taking this on? I would probably just be a matter of deleting all the files, then changing the prefix name in the grunt task, and then running grunt update on everything again.

[2020-04-09 02:26] jessegreenberg opened #932 "lint rule for visibility annotations"
I made a lint rule to catch missing visibility annotations for method declarations. Would people find this useful generally or annoying? We could probably also have a lint rule to catch missing visibility annotations on instance variables.

[2020-04-09 02:42] jessegreenberg commented on #932
Checked in but not enabled. When run with lint-everything, it is catching 752 methods that do not have visibility annotations.

[2020-04-09 16:26] zepumph opened #933 "Update os specific newlines in generated files"
Over in https://github.com/phetsims/chipper/issues/908 I saw that @samreid used `os.EOL` instead of `\n`. This fixed a windows/mac problem where newly generated files appeared to have changes but it is only from "line separators".

It seems like it worked well there, and it is being used in `generateData`. I think we should apply this to other generated files:
- [x] phet-io api files
- [x] develop

[2020-04-09 17:46] jessegreenberg commented on #923
I deleted this rule, closing.

[2020-04-09 17:46] #923 closed

[2020-04-09 18:04] jessegreenberg commented on #924
Tested, this is working really well, thanks!

[2020-04-09 18:04] #924 closed

[2020-04-09 18:05] Denz1994 commented on #872
From Dev Meeting 04/09/2020:

I'll review `generateDevelopmentHTML.js` and `generateTestHTML.js` this week. @jonathanolson Will respond to review statements in sortImports.js.

[2020-04-09 19:10] jonathanolson commented on #930
For cases where there are commented-out bits, they should be moved to a different section. Is there anything else this tool should be doing?

Otherwise should be ready to review my changes. I'm going to look into running this codebase-wide but making sure that it doesn't mess up formatting.

[2020-04-10 16:18] zepumph commented on #925
after investigation, this query parameter should stick around. It has to do with logic when processing giant data stream files, and it is nice to support caching them when iterating on the preprocessor. I can rename it if that would be less confusing. Do you think that is necessary?

[2020-04-10 17:39] samreid commented on #925
Interaction Dashboard's ?cacheBust can stick around and does not need to be renamed.

[2020-04-10 17:42] zepumph commented on #925
Excellent. Anything else for me here?

[2020-04-10 19:21] chrisklus commented on #931
@zepumph and I decided on `sim-name-overrides.js`, `sim-name-baseline.js`, and `sim-name-types.js`. Committed above. I forgot that these files names are also in the development html of every non-phet-io repo too, so I `grunt update`d all of them after handing the phet-io ones.

I messed up by deleting all of the overrides files instead of individually renaming the ones that had content. To fix, my

[2020-04-10 19:48] zepumph commented on #933
After the above commits, when I run `grunt update` I no longer get every generated file showing that it is modified only with line separators. @samreid would you like to use this function `fixEOL` in modulify.js also? I didn't think about that until just now, but have never run that file, and don't know a good repo to test it in.

[2020-04-10 22:57] KatieWoe commented on #840
Some more instances from Mac 10.12 safari
With Mipmaps
![withmipmaps](https://user-images.githubusercontent.com/41024075/79028189-527ee400-7b4c-11ea-9a60-d7d42b54f334.png)
Without Mipmaps
![withoutmipmaps](https://user-images.githubusercontent.com/41024075/79028191-53177a80-7b4c-11ea-861f-45473d543764.png)

[2020-04-10 23:42] jonathanolson commented on #926
Hmm, what are thoughts on stripping the version from this? I don't want to have `grunt update` logic in perennial, since that will create potential maintenance for that type of thing for years.

[2020-04-11 04:03] zepumph commented on #926
Stripping version sounds really good!

[2020-04-11 04:16] samreid commented on #933
js/grunt/fixEOL.js looks great, and seems like a good candidate to replace the function in modulify.js.  Any repo with mipmaps, images and strings, such as balancing-act would be fine for testing.  Feel free to proceed and I can test on Mac, or leave assigned to me and I can get to it when the time is right.

[2020-04-11 04:18] samreid commented on #925
I think the last step for this issue is for @jonathanolson to review https://github.com/phetsims/chipper/issues/925#issuecomment-609525271

[2020-04-13 15:50] Denz1994 commented on #930
Thanks for your changes @jonathanolson this is looking a lot better. Regarding the commented out comments, are you saying that sort-imports should handle moving these commented outlines below the import block? An alternative approach may resemble, consoling an error/warning message reading "Failed to sort bad import statement".

[2020-04-13 15:56] jonathanolson commented on #930
There were many cases of things being in sections of imports as comments, I'm not sure we'd want to fail out on that. Thoughts on alternatives? It doesn't happen too often, but we could also search the codebase for commented-out imports.

[2020-04-13 16:40] Denz1994 commented on #930
IMO handling all comments within an import block is out of the scope of the grunt task. If an import is commented my question would be, "Why is this import commented" before performing an operation on it.

As it stands we are only checking for commented "modules, strings, images, mipmaps", which is fine because including those comments were part of our code style. All other comments in the import

[2020-04-13 18:24] Denz1994 opened #934 "Review generate HTML files"
Related to #872 for reviewing `generateDevelopmentHTML.js` and `generateTestHTML.js`:

**generateDevelopmentHTML.js**

- [x] Top-level documentation reads "... using the current brand's splash and preloads". However `const brands = 'phet'` is hard-coded (line 43). Should the top-level doc be specific to `phet` brand because it is hard-coded?

- [ ] Documentation in generateTestHTML.options.stylesh

[2020-04-13 18:58] jonathanolson commented on #934
I don't think a ton of comments about matching indentation style are particularly necessary. What would you change to add documentation? (Feel free to add docs)

To me, the inline version is much more readable. isolating that into a variable doesn't give a whole lot more information, and the inline version shows where the content will end up in the string. Thoughts?

Otherwise, the review issues s

[2020-04-13 19:03] jonathanolson commented on #930
Understood! But is there a recommendation to change the code we have here?

[2020-04-13 19:05] jonathanolson commented on #925
It seems generally useful, but I don't see a use right now. A slight preference for leaving it. If that's ok with you, let's close here?

[2020-04-13 19:31] jonathanolson commented on #926
Changing my opinion here, it appears that the version in that package object is used by `updateCheck`. Since we're doing dev versions off of master, this seems safe enough to bump version, commit the dev/test HTML, THEN handle the deployment. This behavior will be tied to master anyway, and won't be done for RC/production, since we won't care about dev html on branches (or be updating those anyway

[2020-04-13 19:54] Denz1994 commented on #934
Re: Indentation for `bodystyle`; I wasn't clear on whether the indentation was required in `generateDevelopmentHTML.options.bodystyle` for the same reason it is required for `generateTestHTML.options.stylesheets` ( to match IDEA formatting).

Also, the inline version of `arr.map().join()` looks much better.

[2020-04-13 20:05] pixelzoom opened #935 "'grunt generate-phet-io-api-files' does not fail gracefully"
If `grunt generate-phet-io-api-files` fails for some reason, one or more of your iO API files may be empty, and you're responsible for restoring them.   While it's true that `grunt` clears the build directory before running this task, there's no reason why it shouldn't restore the API files if a problem occurs.

I've experienced this numerous times, and @jonathanolson asked about it today on Slack

[2020-04-13 20:24] zepumph commented on #935
Agreed! We wrote it that way originally to make sure that a new file was created. We should check if one exists before overwriting its contents with a blank file. Thanks for the feedback.

[2020-04-13 20:56] jonathanolson commented on #926
Ok, we're including the commits for the dev/test HTML after the version-change commits (and including in the same push) for both release creation and dev deploys.

@zepumph I've tested the configurations here with bumper/twixt (twixt had tests). The commit to review would be https://github.com/phetsims/perennial/commit/dabe202d0d6c6f00e29aa8324f3421f4062d4600 if you'd like.

Does this sound good?

[2020-04-13 21:01] jonathanolson commented on #912
I'd like to discuss this more, to understand a lot of the goals and usage. We use a lot of those files in a lot of places, so presumably we'd need to make sure our changes would work in all cases?

@samreid can we schedule to meet sometime about this?

[2020-04-13 21:10] jonathanolson commented on #900
Implemented in the above commit, anything else?

[2020-04-13 22:57] KatieWoe commented on #840
QA is done

[2020-04-13 23:15] jonathanolson commented on #871
Handled most circular dependency issues. Things like Block/Drawable seem like an issue (where interestingly if we try to import Block from Drawable, it will fail out and I can't identify where that import would cause issues.

@samreid thoughts to continue?

[2020-04-13 23:16] jonathanolson commented on #863
Handled in the sublime plugin, closing.

[2020-04-13 23:16] #863 closed

[2020-04-14 03:44] samreid commented on #840
@ariel-phet can you please review the issue description https://github.com/phetsims/chipper/issues/840#issue-554450589 and the results from the QA study ( https://github.com/phetsims/chipper/issues/840#issuecomment-602852232 and later) and recommend how to proceed?

[2020-04-14 13:59] emily-phet commented on #740
@zepumph - much better! I looked at RIAW and BASE on phettest. Very speedy on my computer using Safari.

[2020-04-14 16:57] Denz1994 commented on #930
No, I think all is good here. I'll close this issue.

[2020-04-14 16:57] #930 closed

[2020-04-14 17:02] jonathanolson commented on #871
The above commit seems to resolve scenery builds, but that's really concerning. @samreid have time to discuss this sometime?

[2020-04-14 18:57] samreid commented on #912
@jonathanolson and I discussed this today.  We think it would be nice to continue moving the project toward ES6 modules.  This will allow us to get rid of globals (like window.QueryStringMachine), UMD patterns (like in QueryStringMachine), get rid of instantiation patterns like in SimVersion, and eliminate more files from the preloads section.

We even discussed converting `assert` and `initialize

[2020-04-14 19:15] samreid commented on #912
Some more specific examples:

Converting QueryStringMachine to a module would allow us to delete this code from QueryStringMachine.js

[code]

Usages like this one in Natural Selection would change from:

[code]

to

[code]

We could get rid of the specialized lint exception:

[code]

We would get rid of this assertion in initialize-globals (replacing it with an import statement)

[code]

Remove Q

[2020-04-14 21:41] mattpen commented on #912
https://nodejs.org/en/about/releases/, it looks like we could switch to 12, but I think that import/export won't be available out of the box in an LTS until 14 is in "Active" state, which looks like it is expected in October.  We could upgrade to 13/`4 now, but I have qualms about using a non-LTS version in production.

[2020-04-14 22:29] ariel-phet commented on #840
@samreid in the above there at least a few instances where the mipmap is clearly superior. (certainly the balancing act game icons from https://github.com/phetsims/chipper/issues/840#issuecomment-611203502). Therefore we should continue to use them. Closing

[2020-04-15 12:59] samreid commented on #840
One last question--should we add a code review checklist item or equivalent to make sure that mipmaps are only used where necessary, to reduce download sizes?  If so, would we do a review of existing mipmaps, or only look at this for new code?

[2020-04-15 13:05] pixelzoom commented on #840
@samreid had also identified some cases where sims were using both a mipmap and image version of the same resource.  Were those cleaned up as a result of the ES6 module migration?

[2020-04-15 13:07] samreid commented on #840
I believe that was addressed in https://github.com/phetsims/chipper/issues/836#issuecomment-586744317

[2020-04-15 13:16] pixelzoom commented on #840
Apparently not?  The first sim in the https://github.com/phetsims/chipper/issues/836#issuecomment-586744317 list (charges-and-fields) has an image and mipmap for the same resource:

[code]

I didn't check others.

[2020-04-15 13:46] samreid commented on #840
That was described in the comment:

If it's important to guarantee that no image appears in mipmaps/ and images/, please open a new issue and assign to @ariel-phet to delegate.

[2020-04-15 13:50] samreid commented on #912
How significant of a problem is it to have to add the `--experimental-modules` flag when running Node.js 12?

[2020-04-15 13:51] samreid commented on #871
Since the commit includes sorting, it is difficult to tell what part is concerning.  Can you please clarify?

[2020-04-15 14:14] samreid commented on #900
Looks great, thanks!  Closing.

[2020-04-15 14:14] #900 closed

[2020-04-15 14:16] samreid commented on #925
I don't mind leaving it, and my IDE shows a message that loadScript is unused.

![image](https://user-images.githubusercontent.com/679486/79347797-55355c80-7ef1-11ea-81ff-e590ab6710b8.png)

So I think it's clear that it's not used at the moment.  Closing.

[2020-04-15 14:16] #925 closed

[2020-04-15 14:38] jonathanolson commented on #871
That removing the import for ParallelDOM in the scenery main.js now allows it to run correctly after building.

And the fact that there were a lot of reasons I couldn't add back in all the imports we wanted (Block/Drawable being most easy to reproduce).

[2020-04-15 14:40] jonathanolson commented on #912
Depends how experimental, if it causes other things to fail? Do we know its robustness?

That sounds like it would be less than ideal to need to add to all node/grunt commands in our automated processes.

[2020-04-15 15:26] samreid commented on #912
Want to check back when Node 14 goes active in October?

[2020-04-15 17:16] chrisklus opened #936 "Omit duplicated query parameters"
From https://github.com/phetsims/joist/issues/603.

Common query parameters schemas, like those found in initialize-globals.js, are duplicated in other parts of the project. selectScreensTests.js and phetmarks.js are a couple examples. Failing to update these QP schemas in multiple places when one changes would have unintended consequences. Would it be possible to import schemas instead of duplica

[2020-04-15 17:19] jonathanolson commented on #912
I'm not sure what my preference is. Writing imports in the node.js code I'm writing right now would be nice, but honestly the require statements aren't too different. Having everyone on a new node.js (14) then sounds nice.

[2020-04-15 17:39] chrisklus commented on #936
I suspect work related to https://github.com/phetsims/chipper/issues/912 will make this possible.

[2020-04-15 17:42] ariel-phet commented on #936
@chrisklus considering our heavy use of query parameters, what you are suggesting seems like a nice enhancement. I think this topic is worthy of a dev-meeting discussion. Marking as such and high priority.

[2020-04-15 17:49] ariel-phet commented on #909
@Denz1994 is willing to tackle this issue - planning to address next week.

[2020-04-15 18:02] ariel-phet commented on #840
@samreid I don't think we need to necessarily make a CRC item for that - it is a bit hard to predict where they will be "necessary" - but it does seem worth not have duplication as mentioned by @pixelzoom in https://github.com/phetsims/chipper/issues/840#issuecomment-614034282

Seems worth a different issue as suggested.

[2020-04-16 01:13] pixelzoom commented on #840
Not sure how I got involved in this, but OK... I'll investigate and open issues for duplicated resources.

[2020-04-16 01:20] pixelzoom commented on #840
Here's the list of sims identified in https://github.com/phetsims/chipper/issues/836#issuecomment-586744317 that were loading the same image as mipmap! and image!, prior to ES6 module migration:

- [ ] charges-and-fields
- [ ] circuit-construction-kit-ac
- [ ] circuit-construction-kit-black-box-study
- [ ] circuit-construction-kit-dc
- [ ] circuit-construction-kit-dc-virtual-lab
- [ ] expression-e

[2020-04-16 01:27] pixelzoom commented on #840
All sims in the above list were checked. The only case was in charges-and-fields, as reported in https://github.com/phetsims/charges-and-fields/issues/180.

I'm not too familiar with this issue, so I don't know if there's anything else that needs to be done.  So back to @ariel-phet.

[2020-04-16 03:18] jessegreenberg opened #937 "The a11y view isn't being published in dev versions"
For instance, this dev version published on 4/15/20 has no a11y view.

https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.45/phet/

[2020-04-16 03:21] jessegreenberg commented on #937
Actually I don't see the a11y view in the build directory when running grunt.
![image](https://user-images.githubusercontent.com/6396244/79411034-d8959300-7f6f-11ea-962c-772f38325149.png)

[2020-04-16 03:44] jessegreenberg commented on #937
Fixed in the above commit.

![image](https://user-images.githubusercontent.com/6396244/79412238-f7e1ef80-7f72-11ea-8476-b5f6d601954e.png)

[2020-04-16 03:44] #937 closed

[2020-04-16 15:21] samreid commented on #932
Looks great, we should enable this and address existing deficiencies.

[2020-04-16 17:58] ariel-phet commented on #840
@pixelzoom thanks for doing that check. Since that is the only sim, and there is an existing issue, we can now close.

[2020-04-16 17:58] #840 closed

[2020-04-20 19:01] samreid commented on #919
@zepumph points out that many places use this string key, including rosetta.  @pixelzoom questions the value of making such a significant change.

@zepumph reminds us that we should no longer add hyphens into our string keys.  In this case we are "locked in" because some repo names have hyphens.

@zepumph says we could assert that we don't have hyphens.
@jbphet says probably not worth the effort g

[2020-04-20 19:01] #919 closed

[2020-04-20 19:07] samreid commented on #919
We also discussed factoring out the sim title from every main.  Joist could auto-look up the repo name from package.json and the string harvesting engine could auto-add the sim title.  However, we agreed the existing boilerplate isn't hurting us too much.  Still closed!

[2020-04-20 19:17] samreid commented on #912
In today's meeting, we agreed it would be nice to transform initialize-globals.js into an ES6 module, which would allow us to better modularize it. (Say, factoring out the query string machine schema for https://github.com/phetsims/chipper/issues/936 ).

[2020-04-20 19:22] samreid commented on #936
We agreed it would be good to eliminate the duplication of selectScreensTests.js at a minimum.  We would probably need to export the schema itself to leverage it.  Let's chat more about https://github.com/phetsims/chipper/issues/912 more.

[2020-04-21 00:50] zepumph opened #938 "Incorrect formatting for strings can break builds"
From https://github.com/phetsims/chipper/issues/922:

I wanted to add that over in https://github.com/phetsims/ratio-and-proportion/issues/3 I renamed a sim, and that caused me to commit an improperly formatted line that imported the title. As a result the sim wouldn't build. That felt really horrible, and if I hadn't been involved with the implementation of the new string system (i.e. knowing tha

[2020-04-21 20:41] jonathanolson commented on #938
It seems quite likely that the way we parse for strings could be broken in may other ways (e.g. dynamic indexing, string concatenation inline, double-quoted strings, back-quoted strings, separation into variables, newlines, etc.) Whitespace is also allowed in a ton of different ways, e.g.:
[code]

I'm not convinced of the benefit of allowing this one specific case, as it seems like a slippery slop

[2020-04-23 13:54] Denz1994 commented on #934
Closing this issue since the above items have been addressed.

[2020-04-23 13:54] #934 closed

[2020-04-23 14:01] Denz1994 commented on #872
I've started reviewing getInitializationScript.js and buildStandAlone.js. I'll add SimLauncher.js as a priority as well. These files should be reviewed by Friday.

[2020-04-23 16:06] samreid commented on #872
SimLauncher has many changes in a branch, see https://github.com/phetsims/joist/issues/621 that will be moved to master soon.

[2020-04-23 19:10] zepumph commented on #912
From dev meeting today, it seems like this can be done on a preload by preload basis.

* We will wait on SimVersion and other files used in Node too until Node 14 comes out
* assert and QSM are both used in the phet-io front end library, and may need consideration before turning into modules. That said, devs didn't mind seeing these transformed.
* Initialize globals seems like a good place to star

[2020-04-23 19:11] samreid commented on #912
Not as high priority as other things on my list, but putting on my list of things to do in the next few months.

[2020-04-23 19:11] zepumph commented on #912
We have a calendar reminder for October 15th 2020 to reevaluate the Nodejs stuff.

[2020-04-23 19:12] zepumph commented on #936
Once initialize globals is a module over in https://github.com/phetsims/chipper/issues/912, @samreid can work on exposing the schema publicly too so that it can be used in the aforementioned cases. Assigning over to him.

[2020-04-23 19:15] zepumph commented on #872
From dev meeting today, @Denz1994 will wait on reviewing SimLauncher.js until @samreid merges those changes.

[2020-04-24 17:15] samreid commented on #872
I addressed review feedback and moved SimLauncher to master.

[2020-04-27 14:58] Denz1994 opened #939 "Review getInitializationScript and buildStandAlone grunt files"
Related to #872, for reviewing getInitializationScript.js and buildStandAlone.js

**getInitializationScript:**
- [ ] From header doc `Fills in values for the chipper initialization script script.`.Typo in script usage?
- [ ] There are conditional statements handling fallbacks for the locale entry in `config`. A short line of documentation explaining this would be helpful.
- [ ] Is `const splitLoca

[2020-04-27 15:33] Denz1994 commented on #939
Regarding the min.js dependency in Chipper/Gruntfile.js:

I needed to run `grunt` before running `grunt build`.  Maybe an error message should read: "Failed to open `min.js` file. Try running `grunt`."

[2020-04-29 00:00] #938 closed

[2020-04-29 04:14] samreid opened #940 "Puppeteer fails on CT phet-io builds"
In https://github.com/phetsims/phet-io/issues/1648 we moved the `generate-phet-io-api-files` step from `grunt update` to `grunt`.  However, this means it is now running on build servers, including CT, instead of just developer machines.  This error occurred in CT:

[code]

To temporarily mollify CT, I commented out the API file generation in https://github.com/phetsims/chipper/commit/9f49893cf8070

[2020-04-30 11:34] samreid commented on #483
flow-jsdoc looks like it may not be maintained in the long run.  It looks like a better alternative would be to investigate using typescript to type check JS files.  I'll close this and make a note in https://github.com/phetsims/tasks/issues/987

[2020-04-30 11:34] #483 closed

[2020-04-30 19:10] Denz1994 commented on #905
From dev meeting 04/30/20:

We will have the responsible devs look at each of their repos from the above comment.

[2020-04-30 19:18] zepumph commented on #848
Thank you for doing this! I'm afraid there are a few cases here that I am directly responsible for.

[2020-04-30 19:52] pixelzoom opened #941 "improve help for migrate, modulify, milagro tasks"
Help needs to be improved for these tasks:

[code]

Assigning to @ariel-phet for prioritization and assignment.

[2020-05-01 03:05] ariel-phet commented on #941
@pixelzoom can you note who wrote these tasks?

[2020-05-01 03:19] pixelzoom commented on #941
Git commit history shows that @samreid added these tasks to chipper/js/grunt/Gruntfile.js on 2/1/20 and 2/10/20:

[code]

The second argument to `registerTask` is the grunt help information.  I'm guess that because it's set to `''`, grunt is defaulting to "Custom task."

[2020-05-01 19:45] zepumph opened #942 "remove buildWrapper and packageJSON.isWrapper"
This is no longer used because the sonification wrapper is no longer in use. Let's go ahead and remove them. If we need wrappers built in the future, there will be better ways to accomplish this.

[2020-05-04 16:02] samreid opened #943 "bad-sim-text should support predicates"
In https://github.com/phetsims/studio/issues/127 I realized it would be nice to have a predicate tester for bad-text.  Like https://github.com/phetsims/chipper/issues/737, we should add a predicate part for bad-text.

[2020-05-04 16:05] samreid commented on #943
I added this support, but didn't have 100% understanding of how usage and regex are supported.  So it would be good for @zepumph to take a look when there is time.

[2020-05-04 23:42] jbphet commented on #905
I've taken care of tambo and installer-builder.  Unassigning.

[2020-05-06 04:27] samreid commented on #941
I added documentation in the commit, now it reads like so:

[code]

@pixelzoom do you have further recommendations for this issue?

[2020-05-06 04:27] pixelzoom commented on #941
👍 closing.

[2020-05-06 04:27] #941 closed

[2020-05-06 16:19] samreid commented on #848
I finished converting these and added lint rules to prevent their recurrence.  Closing.

[2020-05-06 16:19] #848 closed

[2020-05-07 00:35] Denz1994 opened #944 "Review es6 template files and simLauncher.js"
Related to #872, for reviewing sim-webpack.ejs, sim-development.html, and SimLauncher.js:

**sim-webpack.js**
- [x] Some top-level documentation indicating the file's use would be useful. I only see this file being used as a template for starting a webpack dev server (`webpackDevServer.js)

**simLauncher.js**
- [ ] The dynamic imports in initializeDynamicImports assumes the path is correct. Perhap

[2020-05-07 17:00] zepumph commented on #932
I think we should turn it on! Thanks for implementing it.

[2020-05-07 18:31] zepumph commented on #751
see https://github.com/phetsims/perennial/issues/171

[2020-05-07 18:50] Denz1994 commented on #872
The last file to review is modulify.js. I'll get to it this week to finish off this chip away.

[2020-05-07 19:02] ariel-phet commented on #940
the iO team and @jonathanolson and perhaps @mattpen will try to find a time to discuss

[2020-05-07 19:03] jonathanolson commented on #940
Also, we'll want to make sure that this works well concurrently, bayes can be building 8-10 sims at a time.

[2020-05-07 19:09] zepumph commented on #884
We have isolated this to a single import for all unit tests (qunitStart.js), and simLauncher.js. @samreid are you ready to close this issue?

[2020-05-07 19:27] zepumph commented on #932
To turn it on, go to `chipper/eslint/rules/.eslintrc.js` and uncomment the `visibility-annotation` rule.

Devs will take on their own sims, and we may make a chip-away list.

[2020-05-07 19:31] samreid commented on #932
Currently at 812 errors for that lint rule (from lint-everything).

[2020-05-07 19:31] pixelzoom commented on #932
Self assigning to run this lint rule on the sims that I'm responsible for.

[2020-05-07 22:30] zepumph commented on #922
I went through all the comments you made, and thumbs upped them when I noted or responded to them. The following is all I think is left with this issue, so long as every unchecked checkbox I created was accompanied with a comment by you (which I think it was). Great work on this stuff.

I thought it was just important and most clear when it was the last line of the file.  What you have now seem re

[2020-05-08 03:29] samreid commented on #940
According to https://github.com/puppeteer/puppeteer/blob/master/docs/troubleshooting.md#setting-up-chrome-linux-sandbox

[code]

Since we control the code that will run in puppeteer, this would probably work.  They recommend a process called namespace cloning for this.  I'm not familiar with that at all.

[2020-05-08 16:51] pixelzoom commented on #932
My sims are done. Fixes n 43 files took ~20 minutes.  Unassigning.

[2020-05-08 17:05] samreid commented on #884
Looks great, and I confirmed that chipper specfies:

[code]

Closing.

[2020-05-08 17:05] #884 closed

[2020-05-08 17:20] pixelzoom commented on #932
I fixed many of the lint issues in common code.  I skipped classes/methods related to a11y because I'm not familiar with those.

[2020-05-08 17:48] zepumph commented on #943
I really like this! It the bad text engine much more powerful. I think this could replace a lot of future simple lint rules that we want to add, and the boilerplate that would need to accompany them. Thanks!

[2020-05-08 18:20] samreid commented on #943
Thanks, closing.

[2020-05-08 18:20] #943 closed

[2020-05-09 00:42] zepumph commented on #940
Matching priority of parent issue https://github.com/phetsims/phet-io/issues/1664

[2020-05-09 01:32] mattpen commented on #940
I had some success on ox-dev setting up user namespace cloning.  I also looked into the setuidbit on ox-dev, it would probably be possible to setup on bayes.

[2020-05-09 02:03] samreid commented on #940
@mattpen are there any disadvantages to setting up namespace cloning?

[2020-05-09 15:11] mattpen commented on #940
@samreid - As mentioned in the guide you posted, it does expose an attack vector on the server.  However I discussed this with @phetsims/mark-morlino and we decided that this was an acceptable risk and were considering using it in production (it didn't work out for other reasons that aren't relevant here).

I did have some trouble getting it to work in the proper context, but I think it is likely

[2020-05-09 15:15] samreid commented on #940
We will also need this to work on the production build server.  Is that risk OK?  Also, we do have control over the code that loads in puppeteer, so the `--no-sandbox` argument may also be acceptable.

[2020-05-09 15:20] mattpen commented on #940
@samreid - I think the risk either way is acceptable in this case.

[2020-05-11 16:46] ariel-phet commented on #865
@jessegreenberg can invesitgate

[2020-05-11 16:47] pixelzoom commented on #920
3 repos (chipper, phet-io-wrappers, studio) have this in package.json. I have no idea whether this is vestigial, is still a dependency, or is a dependency that needs to be removed.

`"requirejs": "~2.3.3"`

All repos have something like this in package.json. If the namespace is still needed, it should probably be renamed to something other than "requirejsNamespace".

`"requirejsNamespace": "ACID_B

[2020-05-11 18:01] ariel-phet commented on #920
@jonathanolson said he can handle this issue (consult with @chrisklus if you have iO related questions).

[2020-05-11 18:01] ariel-phet commented on #920
Marking as high priority as we would like to clean up ES-6 issues in a timely manner

[2020-05-11 18:03] jonathanolson commented on #920
Verified it was OK to remove, and removed in the above commits.

That's the best name we have for it, since it's specifically to work with how we USED to handle string keys. Should that be tagged for dev meeting discussion? I recall others feeling that it wasn't the best name also.

[2020-05-11 21:33] pixelzoom commented on #920
Verified that `"requirejs": "~2.3.3"` entries were removed.

It doesn't look like `"requirejsNamespace"` was addressed, see https://github.com/phetsims/chipper/issues/920#issuecomment-626820009. Back to @jonathanolson.

[2020-05-13 02:41] jessegreenberg commented on #865
An eslint rule for this was committed above, though it is not yet enabled. I will look through the the errors it found tomorrow and check in with devs before enabling this rule.

[2020-05-13 21:01] pixelzoom commented on #557
A note about configuring WebStorm to complete with `@returns` vs `@return`.   It looks like `@return` is the default, and there is no specific preference for selecting which to use.  But if you type "@ret" and select "@returns" as the completion, then WebStorm will remember that, and use it for completion of "/**" (method comments).

[2020-05-13 21:10] jessegreenberg commented on #932
I did sims I am responsible for and a few others (scenery, tappi, scenery-phet, faradays-law, john-travoltage) where functions were related to a11y. We are down to 369! Here is the current list
- [ ] aqua
- [ ] build-an-atom
- [ ] charges-and-fields
- [ ] circuit-construction-kit-black-box-study
- [ ] circuit-construction-kit-common
- [ ] collision-lab
- [ ] color-vision
- [ ] coulombs-law
- [ ] d

[2020-05-13 21:30] jonathanolson commented on #920
Correct, I mentioned:

Proactively tagging this for developer meeting, so we can discuss.

[2020-05-13 21:52] jonathanolson commented on #922
Where would be good to document this? Currently, a string key is something like `'JOIST/resetAllButton.name'`, and is baked into how we handle things in rosetta, how we support strings overridden in query parameters, etc.

[2020-05-13 22:03] jonathanolson commented on #922
I don't see how that would be technically feasible, unless we (a) turn string files into JS modules and (b) create "empty" modules for where translations don't exist, and (c) use dynamic module imports. Strong preference to avoid all of that.

[2020-05-13 22:07] jonathanolson commented on #922
@zepumph I believe I've responded to everything in https://github.com/phetsims/chipper/issues/922#issuecomment-625529653

[2020-05-13 22:12] jessegreenberg commented on #865
The rule was enabled and I fixed all the errors that it caught. I deleted checkNamespaces and removed its usage.

@jonathanolson is there anything else that should be done for this issue?

[2020-05-13 22:50] pixelzoom commented on #920
Sorry, I somehow missed that.  I'm OK with leaving it as "requirejsNamespace".

[2020-05-13 22:50] #920 closed

[2020-05-14 03:47] Denz1994 opened #945 "Review modulify.js"
From https://github.com/phetsims/chipper/issues/872:

**modulify.js**

- [x] File export statement is not using ES6 arrow function
- [x] `modulifyFile` and `modulifyMipmap` are handled asynchronously. I would suggest `modulifyImage` to be handled asynchronously as well, for consistency with these other functions. I'll leave to your discretion.
- [x] Consider inlining `const x = loadFileAsDataURI(

[2020-05-14 03:50] Denz1994 commented on #872
All the files listed in https://github.com/phetsims/chipper/issues/872#issuecomment-591604280 were reviewed or have their own issues.

[2020-05-14 16:43] jonathanolson commented on #945
I believe all of the above should be handled with the above commit, can you verify? (Good review items, thanks!)

[2020-05-14 16:53] jonathanolson commented on #944
Looks like some other cleanup was done, but I believe I fixed up all but one thing.

I wasn't involved with the dynamic import setup for this. The try-catch wouldn't work with the promises, but we could use `.catch()` or `.finally()`. @samreid thoughts?

[2020-05-14 16:57] jonathanolson commented on #872
Looks like everything is in remaining other issues, closing here. Thanks!

[2020-05-14 16:57] #872 closed

[2020-05-14 17:03] samreid commented on #944
If an incorrect path is provided, the browser will show an error like:

simLauncher.js:21 GET http://localhost/main/brxand/phet/js/Brand.js net::ERR_ABORTED 404 (Not Found)

![image](https://user-images.githubusercontent.com/679486/81963536-71044f00-95d2-11ea-9c11-50ecd3288346.png)

Is that sufficient?

[2020-05-14 17:07] jonathanolson commented on #865
Looks great to me, thanks!

[2020-05-14 17:07] #865 closed

[2020-05-14 17:44] Denz1994 commented on #944
Thanks for checking @samreid. I wasn't sure how exactly this would fail (hopefully not silently) but the error message shown looks clear. I'll close this issue because the items have been addressed.

[2020-05-14 17:44] #944 closed

[2020-05-14 18:41] pixelzoom commented on #932
5/14/2020 dev meeting:

Please chip away at the repos that you're responsible for.

[2020-05-14 23:56] zepumph commented on #922
I added some doc for what a "string key" is where I felt like it was needed. Thoughts? Ready to close?

[2020-05-18 17:15] samreid opened #946 "Create a script that verifies issues marked in a TODO are open"
Last week @zepumph @chrisklus and I came across a TODO marked with an issue number and were surprised to see the issue was closed.  The issue should have remained open since there was work identified in the code TODO.  Would it be possible to create a script that we can run every now and then which will identify all TODOs in the code that reference issues, and for each one check the GitHub API to

[2020-05-18 17:47] jonathanolson commented on #922
Looks great, thanks!

[2020-05-18 17:47] #922 closed

[2020-05-18 19:04] ariel-phet commented on #946
Marking as high priority for dev meeting - but mainly just first to decide if we should put in the effort for this script, or if this is a rare enough issue to not yet worry about.

[2020-05-19 18:45] ariel-phet commented on #854
I will request volunteers at dev-meeting for items in https://github.com/phetsims/chipper/issues/854#issuecomment-589779806

[2020-05-19 19:45] brandonLi8 commented on #854
I took a stab at [Modularity with ES6 Modules](https://github.com/phetsims/phet-info/blob/master/doc/phet-development-overview.md#modularity-with-es6-modules) in `phet-development-overview.md`.  I choose to not mention commonJS repos (like chipper) as it is not directly ran in simulation code.

[2020-05-20 20:35] samreid opened #947 "Update to QUnit 2.10"
We are using QUnit 2.4.1, the latest version is 2.10.  The changes are described here: https://github.com/qunitjs/qunit/releases

Should we upgrade?  If so, when/who? Tagging for developer meeting discussion.

[2020-05-21 17:05] jessegreenberg commented on #854
@jessegreenberg can take a look at the remaining items in https://github.com/phetsims/chipper/issues/854#issuecomment-589779806

[2020-05-21 17:32] jessegreenberg commented on #946
Discussion 5/21/20

- We could possibly create a lint rule for this, but don't want to require linting to have a network connection for linting. So this would be an option to running lint.
- Ideally we would have a "pre-close" hook to search for todos referencing the issue you are about to close.
- SR, JB: It is worth making a quick test/pass through to see how many TODOs remain in code pointing t

[2020-05-21 18:08] jessegreenberg commented on #947
Discussed 5/21/20

- We don't expect breaking changes from minor version updates.
- @zepumph (and others) said this seemed like a good thing to do, but not a massive benefit.
- @samreid found this while investigating a bug and thought that updating might resolve that issue. Maybe there are other stability and speed improvements.

@samreid thought if there were no breaking changes it could take 30

[2020-05-21 19:57] zepumph commented on #932
I did my sims as well as a few others.

[2020-05-21 20:30] samreid commented on #947
When I upgraded QUnit to 2.10.0, it worked nicely but the puppeteer harness failed half the time.  It seems like QUnit now runs eagerly and sometimes before the listeners registered.  I'll add a phase to withhold qunit launch until the listeners are registered.

[2020-05-21 20:49] samreid commented on #947
While testing this, I also upgraded puppeteer to the latest version.  All of my testing has been done with that version, and it's working well so I'm inclined to keep it.

[2020-05-21 21:04] samreid commented on #947
Upgrade complete and I notified #dev-public on slack and will monitor CT for a few cycles.  Closing.

[2020-05-21 21:38] samreid commented on #946
To help determine how useful this would be, I hacked the lint script to print all TODOs with an issue reference URL (I didn't check for `#NNN` shorthand).  Then I popped the list into a github issue comment preview, and I could mouse over each item and see which were closed.  I noticed around 28.  I'll reopen them and link them below so we can take a closer look.

[2020-05-21 21:59] samreid commented on #946
I started out by looking carefully at each issue to see if it should truly be closed, but it was taking too much time.  So I just marked them all and we can assign them accordingly.  So the remaining steps for this issue are:

1. Dealing with these TODOs which were in issues that got closed.  Maybe it will be a chip-away?
2. Setting up a process for detecting/preventing this in the future.

[2020-05-21 22:48] samreid commented on #940
I recommend we go with the strategy recommended by the puppeteer team, @mattpen and @jonathanolson can you please investigate that for our build server and CT?  Is there any other place where we have linux running builds?

[2020-05-22 01:23] pixelzoom commented on #946
I spent 30 minutes addressing (and closing) 3 of the reopened issues, for close to zero net benefit. That leaves 24 reopened issues.  At 10 minutes per issue (which seems quick), that's at least 4 person-hours to go. This doesn't seem like a win to me.   Yes, vestigial TODOs are undesirable.  But which problem is worse - some vestigial TODOs, or 24 issues that now need to be revised, addressed, an

[2020-05-22 15:33] mattpen commented on #940
So the recommended way to enable user namespaces in in Linux does not work on RHEL 7.

[code]

This looks like a command for Debian, and involves components which aren't part of the RedHat kernel.

I was trying to find the conversation I had with @phetsims/mark-morlino about this, but it appears this probably happened on Slack (and is now lost due to message limits).

I found two methods which mig

[2020-05-22 15:53] mattpen commented on #940
@samreid - https://frugalisminds.com/javascript/how-to-setup-puppeteer-in-centos-7/

This looks promising and I was able to run puppeteer in my home directory.  However, it causes a file in node_modules to be owned by root.  I'm assuming this could cause problems later with npm operations, or at the least would require a repeat of this step.

This is the step that causes it to work and also causes

[2020-05-22 17:08] markmorlino commented on #940
@mattpen I think for RH you can put a non-zero value into /proc/sys/usr/max_user_namespaces ie:
`echo 1000 > /proc/sys/user/max_user_namespaces` as root or as non-root something like:
`echo 1000 | sudo tee /proc/sys/user/max_user_namespaces`

but that setting won't persist after a reboot unless you also add a line like `user.max_user_namespaces=1000` to /etc/sysctl.conf or a file in /etc/sysctl.d/

[2020-05-22 21:44] mattpen commented on #940
@samreid - I think puppeteer should be working on bayes now.  I set the max_user_namespaces to 1000, but as @markmorlino says above, this won't persist a reboot.  Please test this out and let me know if it is working for you.

[2020-05-23 16:38] samreid commented on #940
On slack, @mattpen and I discussed that puppeteer will also need to run on phet-server for production builds and rcs.  Once we determine that it is working well on CT, @mattpen said he can apply the same strategy to phet-server.

[2020-05-23 19:30] samreid commented on #940
I've re-enabled PhET-iO API file generation.  It tested nicely locally.  This commit should trigger CT to run this new build code, we'll see how it does there.

[2020-05-23 19:40] samreid commented on #940
Note that over in https://github.com/phetsims/phet-io/issues/1664#issue-615053845 we said:

So we'll just consider this a trial run to make sure this strategy will work for our build server.

[2020-05-24 17:23] samreid opened #948 "TypeError: Cannot read property 'endsWith' of undefined"
[code]

[2020-05-24 17:25] samreid commented on #948
This is caused by a missing `localTestingURL`.  We will need to set up the in-process node server to get this to work.  I re-disabled this call until then.

[2020-05-26 18:29] ariel-phet commented on #946
@samreid considering @pixelzoom comments above, lets go ahead and just close the issues you opened. Alternatively I would be fine marking all of the opened issues "deferred" and removing any assignee. In theory, then such issues should be addressed the next time work occurs in that sims repo. Fixing these vestigial TODOs does not seem like a good priority right now.

However, it would be good to h

[2020-05-26 19:06] samreid commented on #946
Yes, but imagine if a future maintainer without your knowledge comes across one of these TODOs later on, it would take much more effort to figure it out and deal with it accordingly.

It is now down to 17 issues.

Not all of these are merely vestigial.  For instance https://github.com/phetsims/vegas/issues/56 indicated a bug in the tandem structure.  It took around 5 minutes to fix, which was a go

[2020-05-26 19:47] samreid commented on #947
@jessegreenberg and @zepumph reported problems with puppeteer when running older versions of Node.  When @jessegreenberg updated to a recent version of node the problem went away.  In @zepumph case, he was running node 10 and `npm install` was itself failing.  We decided for now to downgrade the puppeteer version and discuss as a team how we can update this.

[2020-05-26 19:54] samreid commented on #947
From https://github.com/puppeteer/puppeteer

[2020-05-26 19:59] samreid opened #949 "Update to puppeteer 3.0+"
From #947 we would like to update puppeteer to a more recent version:

https://github.com/puppeteer/puppeteer says

But some PhET developers were using Node <10 and @zepumph determined that our build server is using Node v10.16.3.  Hence this would need to upgrade before we can move forward here.

We don't have an immediate need to update puppeteer for any particular bugfix or feature, but for sta

[2020-05-27 02:33] zepumph commented on #946
I went through issues assigned to me this morning, and I mostly ended up removing TODOs and closing the issue, as things were outdated or we had moved on. It was quick cleanup. When I felt like there was actual work to be done. I opened a new issue with that work. It took half an hour.  I am totally on board with getting rid of these TODOs on the project.

[2020-05-27 16:56] samreid commented on #948
I added the in-process server as part of https://github.com/phetsims/phet-io/issues/1664, closing.

[2020-05-27 16:56] #948 closed

[2020-05-27 17:07] chrisklus commented on #932
I did my sims and Studio in the commits above.

[2020-05-27 21:54] samreid commented on #940
I enabled this and CT has been running OK for a while. I also checked that /data/share/phet/continuous-testing/ct-snapshots/1590609909531/natural-selection/build/phet-io/natural-selection-phet-io-api.json generated properly.  @mattpen can we apply this pattern to the build-server as well?

[2020-05-28 18:03] mattpen commented on #949
There aren't any versions of node < 10 that are currently supported, see https://nodejs.org/en/about/releases/.  Is there some reason devs need to be on older versions?

[2020-05-28 18:25] jessegreenberg commented on #854
These will be done in #905. The rest of the items in https://github.com/phetsims/chipper/issues/854#issuecomment-589779806 have been done.  Closing this issue.

[2020-05-28 18:25] #854 closed

[2020-05-28 18:53] mattpen commented on #861
Deferred till october when Node 14 can be installed on production servers.

[2020-05-28 19:09] mattpen commented on #946
Dev Meeting: @zepumph will address this on a low priority.

[2020-05-28 19:15] mattpen commented on #949
We'll defer the upgrade to puppeteer 3.0+ until October when we upgrade node to 14.

[2020-05-28 20:16] samreid commented on #932
I addressed several repos and updated the assignees accordingly.  I also noted the responsible devs in the list comment: https://github.com/phetsims/chipper/issues/932#issuecomment-628247740

[2020-05-29 01:29] zepumph commented on #926
Looking really good. Thanks! Closing

[2020-05-29 01:29] #926 closed

[2020-05-29 02:02] zepumph commented on #800
I am not going to investigate this anymore. We are using webpack now, which is much faster for parts of it. I cannot reproduce the above times.

[2020-05-29 02:02] #800 closed

[2020-05-29 20:35] zepumph opened #950 "generatePhetioAPI in parallel?"
From https://github.com/phetsims/phet-io/issues/1664. @samreid found that generating the phetio API on build took ~4 seconds. If this should be optimized, then perhaps it could be done asynchronously. Node is single threaded, but even so we are not sure if puppeteer couldn't run in parallel. This may not be that high of a priority since there are potentially larger bottlenecks in the build process

[2020-05-29 21:04] zepumph commented on #940
The phet-io team finished up https://github.com/phetsims/phet-io/issues/1664, and closed it. We think that this issue is still considered blocking publication because any build from build-server would not yet generate the phet-io api file artifact.

[2020-06-01 18:56] pixelzoom opened #951 "no complaint about missing license.json"
I encountered this during code-review of a 3rd-party sim, see https://github.com/heldentodd/xray-diffraction/issues/1.

The developer has a mipmaps/ directory with no license.json file.  There was no complaint when building the sim, see below.   So I suspect that there's something wrong with the code that is checking licensing -- possibly just for mipmaps, or possibly for all resource types.

Labe

[2020-06-01 18:57] pixelzoom commented on #951
@ariel-phet FYI.

[2020-06-02 21:43] samreid commented on #951
I committed a fix that tests mipmaps for licensing issues.  I deleted license.json from a test directory, and it correctly identified it as a problem.  I ran

[code]

To see if the problem sneaked in anywhere while this was offline, and no problems were reported.

@pixelzoom can you please review?

[2020-06-02 21:50] pixelzoom commented on #951
Looks good, thanks! Closing.

[code]

[2020-06-02 21:50] #951 closed

[2020-06-03 22:47] pixelzoom commented on #932
It's been 27 days since we decided to move apply this lint rule.  Since the rule hasn't been enabled yet, I've accidentally reintroduced the problem.  And having to enable the rule manually is a drag.

I propose that we enable the visibility-annotation lint rule, and let the repos fail that need attention.  @jonathanolson @jbphet @Denz1994 when do you think you can get to this?

[2020-06-04 10:32] Denz1994 commented on #932
I just finished my sims from above. Unassigning.

[2020-06-04 15:27] jonathanolson commented on #932
@brandonLi8, are you able to handle this for Collision Lab? There are some things where I'd need to track down what the types are to document.

[2020-06-04 15:53] brandonLi8 commented on #932
@jonathanolson I am able to handle this. Thanks.

[2020-06-04 19:12] jbphet commented on #871
We discussed this in the 6/4/202 dev meeting and the memorable quote was "[T]his is low priority until it becomes a problem."  So, we are going to mark it as deferred and assign it to @ariel-phet.  He'll set a reminder to check it in six months and, if it's not a problem by then, we will close it.

[2020-06-04 19:15] jbphet commented on #909
@Denz1994 and @jonathanolson are going to work together on this.  @Denz1994 has made some progress but needs a bit of consultation on how to work with `chipperGlobals`.

[2020-06-04 19:18] pixelzoom commented on #932
6/4/2020 dev meeting:

We agreed to enabled the `visibility-annotation` rule on Thursday, 6/11/2020.

[2020-06-04 19:22] jbphet commented on #866
Discussed in the 6/4/2020 dev meeting, and @zepumph mentioned that he set up his local server to not do caching, and did something on phettest as well.  Assigning to him to record this information so that we can have it available.

Also @zepumph - please make a note in the development overview document on how to disable caching in Chrome when dev tools are open.

Once this information is collected

[2020-06-04 19:24] jbphet commented on #862
We will revisit this in October when Node 14 comes out, since that will have support for ES6 style modules.

[2020-06-04 19:32] jbphet commented on #845
Discussed in the 6/4/2020 dev meeting, and @samreid will make some updates on this and close it.

[2020-06-08 17:19] jonathanolson commented on #909
@ariel-phet @samreid Discovered as part of this work that we are NOT reporting third-party media license entries in our current builds in sims. For instance, our deployed molecule-shapes includes e.g. a license entry for "JOIST/keyboard-icon.png", crediting the original Font Awesome version it was derived from, and this is NOT included in our currently built versions off of master (and likely hasn

[2020-06-08 19:22] jbphet commented on #932
I've addressed this in the sim and common repos for which I believe I'm responsible.  I'm not sure why, but I'm the only one who was assigned to this issue.  I'm going to pass it off to @jessegreenberg because there seem to be a number of a11y-related instances of this problem in inverse-square-law-common and tappi.  Other than that, there are just a handful that we can probably tackle in the meet

[2020-06-08 19:36] pixelzoom commented on #932
@jbphet you the only person assigned because you were the last to have items to check off in the checklist found in https://github.com/phetsims/chipper/issues/932#issuecomment-628247740.  Should all of those now be checked off?

[2020-06-08 20:04] jbphet commented on #932
@pixelzoom - Thanks for pointing that out - I've checked off the items that I addressed.  There are still 24 errors occurring for `grunt lint-everything`.

[2020-06-08 21:14] pixelzoom commented on #932
I took care of a few of the remaining errors.   Here's what's left:

- [ ] inverse-square-law-common @jessegreenberg
- [ ] ratio-and-proportion @zepumph
- [ ] scenery a11y @jessegreenberg
- [ ] studio @zepumph @chrisklus
- [ ] tappi @jessegreenberg

[2020-06-08 21:37] pixelzoom commented on #932
I addressed the new errors noted in https://github.com/phetsims/chipper/issues/932#issuecomment-640890347, then enabled the visibility-annotations rule, so that we don't introduce more errors.

I posted this PSA to the Slack developer channel:

[2020-06-08 21:41] pixelzoom commented on #932
Consensus on Slack was to close this issue.

[2020-06-08 21:41] #932 closed

[2020-06-09 03:19] samreid opened #952 "Mipmaps appear platform-dependent or nondeterministic"
Discovered while working on https://github.com/phetsims/tambo/issues/100, the mipmaps seem to be nondeterministic or platform-dependent.

For instance, take a look at area-model-common/mipmaps/explore-screen-icon_png.js.  If I run `grunt modulify` I get:

[code]

But notice in https://github.com/phetsims/area-model-common/commit/68a713a84a5cae431f4acafcbbd3a999cd483ee4 that @jonathanolson commit c

[2020-06-09 15:12] samreid commented on #845
Documented, closing.

[2020-06-09 15:12] #845 closed

[2020-06-09 15:13] samreid opened #953 "isHMR should be set to false for builds, so that code can be stripped out"
Discovered in https://github.com/phetsims/chipper/issues/845, we should set `isHMR` to false during builds or find some way to strip out that code on builds (if it isn't already).

[2020-06-09 15:49] ariel-phet commented on #909
@jonathanolson yes, it would be good to do that fix as a maintenance release (that set of sims should be quite small).

[2020-06-09 18:44] ariel-phet commented on #862
Calendar reminder added

[2020-06-09 18:45] ariel-phet commented on #861
Calendar reminder added

[2020-06-09 18:51] ariel-phet commented on #949
Calendar reminder made

[2020-06-09 18:56] ariel-phet commented on #871
Calendar reminder set

[2020-06-11 19:05] zepumph opened #954 "Create a message that we don't support IE 11"
From developer meeting today we decided to remove support for IE11. But first we will need to make sure that a message displays for IE 11 when running on that browser. It is not currently clear if the message says: "IE is not supported, go away", or more like "IE is not supported, continue and good luck, it will probably fail".

Marking for developer meeting.

[2020-06-11 22:14] samreid commented on #936
On hold until there is progress in #912

[2020-06-12 01:21] zepumph commented on #866
Above I updated doc to add the http-server flag to disable cache, and a note about chrome dev tools.

I also did a bit more digging about the changes I did on phettest for caching.

I added this to the .httaccess where the phet repos live:

[code]

After doing that, I saw in the network tab of the chrome dev tools that `no-store` was successfully added as a header. Unfortunately, I could not get t

[2020-06-12 04:29] samreid commented on #793
@zepumph what do you recommend for this issue?

[2020-06-14 17:21] jonathanolson commented on #909
No maintenance release needed! Closing.

[2020-06-16 20:34] jessegreenberg commented on #909
When I build a sim I am getting reports of unused media for things that look like they are being used. For example, building molecules-and-light I see this report, but these are being used.
<details>

[code]
</details>

@Denz1994 or @jonathanolson can you take a look?

[2020-06-16 21:03] samreid commented on #909
I'll take a look, thanks for the report!

[2020-06-16 21:06] samreid commented on #909
Here's what I see when running `grunt` in `molecules-and-light/`

[code]

[2020-06-16 21:10] samreid commented on #909
I put

[code]
in chipper/js/grunt/reportUnusedMedia.js and saw elements like:

[code]

I wonder if there is some platform-specific difference?  I'll reach out to @jessegreenberg on slack.

[2020-06-16 21:32] samreid commented on #909
@jessegreenberg and I worked on this and tested on both our platforms, closing.

[2020-06-16 21:32] #909 closed

[2020-06-18 05:45] chrisklus opened #955 "branch: phet-io-client-guides"
see https://github.com/phetsims/phet-io-client-guides/issues/2

needed because client guide generation is under development and so a phet-io build will fail under typical phet-io repo conditions. will be deleted once relevant work is complete and merged into master.

[2020-06-18 15:29] jonathanolson commented on #905
Should be complete, a lot of work done in https://github.com/phetsims/chipper/commit/0e01ac5d75f83ede34e05e4c1ba244c092bb5e21 removes require.js compatibility in a lot of our build files, and gets rid of a lot of vestigial stuff (e.g. global.phet.chipper). @ariel-phet  A brief review by another dev would probably be good.

[2020-06-18 18:16] samreid commented on #866
I thought we had tried a rule in apache httpd.conf on my side and saw it still caching.  From my research, it seems like using .htaccess is the standard way to address this.  This is not my area of expertise and may be best to consult with @jonathanolson.

[2020-06-18 18:27] chrisklus commented on #905
from 06/18/20 dev meeting: @samreid volunteered to review. thanks!

[2020-06-18 18:32] chrisklus commented on #866
from 06/18/20 dev meeting:

We haven't heard of any caching problems on phet-test in a while. Assigning to @KatieWoe to check in and see if you've had any caching issues. If not, @ariel-phet says let's go ahead and close.

[2020-06-18 18:34] #866 closed

[2020-06-18 18:35] chrisklus commented on #940
from 06/18/20 dev meeting:

@mattpen will apply the pattern above to the build server.

[2020-06-18 18:55] mattpen commented on #954
Current website solution is below.  The `@supports (display: grid)` media query works on all modern browsers and does not work on IE, which is what allows this to work.

[code]

[code]

[2020-06-18 18:58] chrisklus commented on #954
from 06/18/20 dev meeting:

@mattpen suggested a css option that would show a dialog in IE

Since the sim will definitely crash, there are concerns that not proactively preventing the sim from running on IE would be a bad UX for the user and/or interfere with the dialog shown in css.

@samreid proposed a solution that would use JS to detect IE and return out before trying to run the sim.

We think

[2020-06-18 19:08] zepumph commented on #954
We also discussed that this needs to be done before the next RC version (we think that will be density).

[2020-06-19 00:19] samreid commented on #905
In Slack, @jonathanolson said:

To review, I took the following steps:

* Examined the change set
* Looked for other occurrences of `typeof define !== 'undefined'` and found none
* Looked for other occurrences of `global.define` and found none
* Tested natural selection in unbuilt mode briefly
* Tested phet and phet-brand builds of natural selection briefly

No problems noted, nice work @jonathano

[2020-06-19 00:19] #905 closed

[2020-06-19 01:22] zepumph commented on #793
There are multiple files suffixed in `.js` in which you currently go to the file in webstorm and it is underlined as having a syntax error. I would recommend that all of these become `.js.template` files for clarity, since they aren't actually runnable `js` files.

[2020-06-19 02:57] samreid commented on #793
In https://github.com/phetsims/chipper/issues/793#issuecomment-535667362 you described that losing all formatting is undesirable and I agree.  I rank both "invalid *.js" and "valid *.js" (like https://github.com/phetsims/chipper/issues/793#issuecomment-537136669 ) higher than "*.template" which has no formatting at all.

[2020-06-22 21:50] mattpen commented on #940
I added `user.max_user_namespaces=1000` to `/etc/sysctl.d` on bayes, so that change should persist on a reboot now.

However, when I tried to run `echo 1000 | sudo tee /proc/sys/user/max_user_namespaces` on phet-server, it failed with `tee: /proc/sys/user/max_user_namespaces: No such file or directory`.  In fact `/proc/sys` is missing the user directory, and I can't add it because `/proc/sys` does

[2020-06-22 22:01] chrisklus commented on #954
Patch from DB and me today:

<details>

[code]

</details>

[2020-06-22 22:20] jessegreenberg opened #956 "Add supportsZoom to package.json"
The zoom feature is currently only enabled by query parameter, but it is time to support something more substantial to flag that the feature is enabled permanently. Like `supportsSound` in https://github.com/phetsims/chipper/issues/806, I will add `supportsZoom` item to package.json. The `supports` prefix also matches `supportsInteractiveDescriptions` for screen reader/alternative input support.

[2020-06-23 13:15] markmorlino commented on #940
The kernel is supposed to create it, I think it became the default for it to be there on rhel 7.3 or 7.4.

Am I correct in understanding that it existed on bayes but not on phet-server?

I should have some time to look at it this evening.

[2020-06-23 17:41] jessegreenberg commented on #954
Molecules and Light is also ready for an RC out of master and is should include this.

[2020-06-23 18:33] chrisklus commented on #954
@Denz1994 and got a script working that uses the same user agent detection that phet-core/platform.js uses. If IE is detected, we set a global flag to true and a guard that was previously added to every other script during build will stop them from running. Thanks to @jonathanolson and @mattpen for assisting us with various approaches for trying to get this working.

We added this logic for the st

[2020-06-23 18:44] terracoda commented on #954
We will need to make this message accessible to screen readers and have a link back to the Sim page - or to somewhere useful.

[2020-06-23 20:53] jessegreenberg commented on #956
supportsZoom is now an entry in package.json, along with a ?supportsZoom query param in initialize-globals. The query param will always override the package.json entry, if it is provided (even if it is false).

[2020-06-23 20:53] #956 closed

[2020-06-23 21:36] jessegreenberg commented on #954
Thanks @Denz1994 and @chrisklus. Adding these attributes to the HTML in your snippet would essentially  match the accessible markup we use in sims. I also like Taliesin's idea of adding a link to leave the page.
[code]

[2020-06-23 21:39] terracoda commented on #954
Should we suggest the supported browsers? Or should we link to the systems support page where what we support is listed?

[2020-06-23 21:56] terracoda commented on #954
I see there is no Systems requirement page. The info is on the sim pages.

I would suggest:

[code]
Alternatively, you could link back to the simulation page for the sim they are trying to load, or link to the home page.

Also, if you don't want to provide a link, you could add a close button, that closes the dialog and returns to the simulation page. That might actually be better.

[code]

Focus

[2020-06-24 00:04] ariel-phet commented on #954
@amanda-phet now that this basic concept is working, could you make a mockup of a simple dialog for us to use in this case (I suggest reading through the entire issue for context).  It can be very simply styled, but would appreciate your thoughts on what it might look like.

[2020-06-24 15:03] amanda-phet commented on #954
We have system requirements in the help center and could create a new help center entry about IE specifically, or link to this entry about HTML5 sims https://phet.colorado.edu/en/help-center/running-sims/general#q11-header.

![image](https://user-images.githubusercontent.com/7852916/85581111-891bb500-b5f9-11ea-9e92-386f672a958b.png)

[2020-06-24 15:23] terracoda commented on #954
Nice @amanda-phet, could you use a warning icon that is more rounded - kind of in the same style as the green checkbox in this dialog?
![Screen Shot 2020-06-24 at 12 41 22 PM](https://user-images.githubusercontent.com/1902116/85582754-43221980-b618-11ea-82a6-030001ea6767.png).

Maybe something like this:
![Screen Shot 2020-06-24 at 12 45 05 PM](https://user-images.githubusercontent.com/1902116/855

[2020-06-24 15:29] samreid commented on #954
Will we want to generalize or repurpose this dialog for other warnings?  For instance, should sims that require WebGL leverage this feature?

[2020-06-24 15:38] amanda-phet commented on #954
@terracoda the tricky thing about putting the icon in the heading is that the heading could run into the close icon, so I want to be sure there is ample room. (I'm assuming this will be translatable).

![image](https://user-images.githubusercontent.com/7852916/85586490-35f83100-b5fe-11ea-9e7f-cbfe83fe636e.png)

If we want it to look like the up-to-date dialog, I'd recommend removing the title.
![i

[2020-06-24 15:46] terracoda commented on #954
Removing the title works for me.

[2020-06-24 15:49] chrisklus commented on #954
That layout looks strange to me since there is text below it but not above it (the up-to-date dialog is more balanced). I prefer the first one, or playing with the layout of the second one a bit more if we like the title removed. Maybe "Internet Explorer is not supported" is more vertically centered and the "Please try..." text is a smaller footer.

[2020-06-24 15:50] mattpen commented on #954
Do we need to consider this element a dialog and is the X button necessary?  From my understanding, when this element is visible all execution of sim code will be halted so this will be the only content on the page.

[2020-06-24 15:52] samreid commented on #954
@chrisklus can you please comment on how translation may be accomplished for this component, and how time consuming that would be to build?

[2020-06-24 15:55] terracoda commented on #954
@mattpen, asked:

For keyboard users, in partcular those who are blind, I think it would be nice to provide a simple pathway back to where you came from. Otherwise, the only pathway out of this scenario is to go tot he Systems Requirement page.

A user may not want to go there. They may just want to return to the sim page and copy and paste the link into a new browser.

[2020-06-24 15:57] amanda-phet commented on #954
I still think I prefer this one, and forgot to include it with the updated icon.

![image](https://user-images.githubusercontent.com/7852916/85589794-18789680-b601-11ea-947c-d67481a04325.png)

[2020-06-24 17:19] chrisklus commented on #954
I prefer the warning icon next to text, not on its own.

@terracoda do you think the X is the best gateway back to the sim page? To me it feels like that means "clear this dialog and try to load the sim anyway", but the dialog is actually the only thing left on the page, as @matt mentioned above. Perhaps changing the last sentence to "Please return to the [sim page]() to try a different browser or

[2020-06-24 17:23] chrisklus commented on #954
I should clarify I meant the browser-specific keyboard shortcut for "return to the previous page", not necessarily navigating to the back button.

[2020-06-24 17:26] chrisklus commented on #954
@zepumph and @samreid showed me a possibility for how to do this on-the-fly so that the dialog will be correctly translated for the case of `{{simulation-name}}_all.html?locale={{locale}}` (as opposed to only filling in the translated string on build, which would be much easier to do).

[2020-06-24 17:33] amanda-phet commented on #954
![image](https://user-images.githubusercontent.com/7852916/85604438-88414e00-b60e-11ea-8a5c-1f4687789ce3.png)

[2020-06-25 15:44] samreid commented on #954
The phrase "return to the sim page to try a different browser" sounds like it could be improved upon.  The phrasing makes it sound like you can try a different browser *by* returning to the sim page.

[2020-06-25 16:54] amanda-phet commented on #954
Perhaps the text should say:

Internet Explorer is not supported. Please use a different browser to run this simulation.

For more information, see our system requirements.

[2020-06-25 17:08] amanda-phet commented on #954
@chrisklus if we make this look less like a dialog, could we do something like this?

![image](https://user-images.githubusercontent.com/7852916/85766271-1cc1b400-b6d4-11ea-8c18-8eb6bb130347.png)

[2020-06-25 17:56] terracoda commented on #954
Looks fine, can we get QA test it using screen reader software.
I only use MacOS so I won't ever get the message.

[2020-06-25 23:51] samreid commented on #954
Perhaps we should make an easy way to test this feature, like a query parameter?

[2020-06-29 17:00] mattpen commented on #825
The new sharp package had additional images, so I rolled back to using jimp.  It is working nicely, but we need to add a call to the build server to deploy images after a production sim is deployed.

[2020-06-30 01:12] markmorlino commented on #940
Hey @mattpen, sorry for the delay.

Bayes is running a more recent kernel than phet-server but, neither of them are actually running 7.8. I think phet-server needs a reboot to get a new enough kernel.

[code]

[code]

Both bayes and phet-server are setup to boot to the same new kernel version at next reboot. This command outputs the same thing on both.
[code]

[2020-06-30 14:39] mattpen commented on #940
@markmorlino - Thanks for the details.

I'm going to plan on rebooting phet-server next Monday, July 6 in the evening.

[2020-07-01 16:19] samreid opened #957 "Automatically determine dependencies to guarantee reproducible builds"
Currently, the developer has to manually list dependencies and transitive dependencies in package.json.  Here is an example from states of matter:

[code]

Note the `phetLibs: "nitroglycerin"`.  If this was omitted, the build would still work but we would be missing important SHAs and could no longer guarantee reproducible builds.  For instance, try removing that line and run `grunt --brands=phet`

[2020-07-02 22:12] samreid opened #958 "Error: Navigation failed because browser has disconnected! during build on CT"
This occurred on a few CT cells in the last few days.  I can't reproduce the problem on my side, but @zepumph says he has seen it about 50% of the time during 2 tests.  This was originally pointed out by @pixelzoom

[code]

[2020-07-02 22:34] samreid commented on #958
I worked with @jonathanolson and @zepumph and we cleaned up a few things, one in particular was the so-called "Promise constructor anti-pattern" described in https://stackoverflow.com/questions/43036229/is-it-an-anti-pattern-to-use-async-await-inside-of-a-new-promise-constructor.

We cannot reliably reproduce the problem, but we would like CT to have a look.  Local build looks OK after these chang

[2020-07-02 23:40] zepumph commented on #958
I pulled all, and on first phet-io build I still got a Navigation error. We'll keep working!

[2020-07-03 11:39] samreid commented on #958
Is CT stalled?  That commit was pushed at 4:35pm yesterday, and CT reports `ERR` and last shas are from 2:30pm yesterday.  Co-assigning @jonathanolson for this part and also since he had expertise in helping look into this async/await problem.

[2020-07-03 11:47] samreid commented on #958
I wonder if the problem is that we need to `await browser.close()` before resolve/reject?

[2020-07-03 16:15] samreid commented on #958
If this doesn't fix it, perhaps we should rewrite this part to use `page.exposeFunction` instead of listening for the `console.log`

[2020-07-03 19:37] samreid commented on #958
CT is not showing this problem in the latest column.  I'll put a calendar reminder to check it again in a few days.

[2020-07-05 02:19] KatieWoe opened #959 "CT ENOENT no such file or directory"
Showing up in several sims in CT
[code]

[2020-07-06 15:00] samreid commented on #959
I took a quick look but wasn't able to figure it out, @zepumph or @chrisklus can you please take a look?

[2020-07-06 15:38] samreid commented on #958
It looks like this is fixed (unless it is obscured by https://github.com/phetsims/chipper/issues/959 ).  Closing for now.

[2020-07-06 15:38] #958 closed

[2020-07-06 16:10] pixelzoom commented on #959
`phet-io-client-guides/common/`  does not exist in GitHub.  Maybe someone forgot to add it from their working copy.

[2020-07-06 16:14] zepumph commented on #959
Fixed with  https://github.com/phetsims/phet-io-client-guides/commit/670587861ca12f554da6693493cdac66024882a4, root issue is https://github.com/phetsims/phet-io-client-guides/issues/2. I forgot to push a commit made last Thursday. Sorry about that.

[2020-07-06 22:49] samreid commented on #912
Now that studio moved to ES6, we could also move `copyWithSortedKeys`.  That seems like a nice easy place to start.

[2020-07-06 22:55] samreid commented on #912
I've made this change in my working copy, but will need to grunt update all repos, so I won't be committing right away.

[2020-07-07 03:39] chrisklus commented on #954
After discussion and recommendations from @zepumph, I got translated strings working during runtime. The IE page checks for any locale specified via a query parameter, and uses those strings if they exist. Otherwise, it uses the default locale of the build. @zepumph was thinking it would be best to remove the separate html+script file for the IE message/logic, and just inline it into chipper-initi

[2020-07-07 15:21] ariel-phet commented on #782
Bringing back up for dev meeting, in particular since we now are dropping IE 11 support, is this still relevant?

[2020-07-07 19:08] zepumph commented on #954
This is currently the only thing blocking MAL from taking RC shas for publication. I'm going to raise the priority on it and hopefully get to it today.

[2020-07-07 19:29] chrisklus commented on #954
For designers or anyone interested, here's what it currently looks like. You can bring it up on your own machine with the query parameter `showInternetExplorerWarning`(if not running IE).

![image](https://user-images.githubusercontent.com/5618316/86830836-2b10b800-c064-11ea-9ffd-044da5d58ab5.png)

One more thought - should the header be "Platform Error" instead of "Platform Warning"? Warning seem

[2020-07-07 19:36] amanda-phet commented on #954
Given https://github.com/phetsims/website/issues/1100, should we change this message to be "This browser is not supported" Instead of "Internet Explorer is not supported."?

I also like the idea of changing this to say "Platform Error" as @chrisklus suggested.

[2020-07-07 20:58] jessegreenberg opened #960 "sim-a11y-view 'accessibility' query parameter needs to be renamed to 'supportsDescriptions'"

[2020-07-07 20:59] chrisklus commented on #954
From 7/7/20 website meeting:

We're in favor of changing the header to "Platform Error".

We clarified that that the platform detection here is different than that issue (this page uses userAgent instead of a CSS rule), so we should not get any false positives.

We discussed this too and think this specific use case is not a problem and is an acceptable trade-off.

[2020-07-07 21:45] jessegreenberg commented on #960
It has been updated.

[2020-07-07 21:45] #960 closed

[2020-07-07 22:44] zepumph commented on #959
Looks fixed on CT, closing

[2020-07-07 22:44] #959 closed

[2020-07-08 16:07] mattpen commented on #940
The reboot was delayed.  I am planning to reboot tonight.

[2020-07-08 22:15] zepumph commented on #954
Review:

* I tested friction by building the sim in phet brand. I then opened the en version in IE and it displayed the message well.
* I then went into babel/joist/joist-string_es.json and added local entries for the IE display strings. Then I built with the sim with `grunt --brands=phet --allHTML` and ran on IE with `?locale=es` and the translated strings showed up.
* I then build the sim in phe

[2020-07-09 03:58] mattpen commented on #940
@samreid - The reboot and kernel update was successful.  A cursory test of puppeteer was successful for me.  I think we can proceed with testing the puppeteer dependent process in production.

[2020-07-09 12:36] terracoda commented on #954
@chrisklus and @zepumph, is it ok to remove the "blocking" label? @jessegreenberg and I are trying to get MAL into RC.

[2020-07-09 12:58] samreid commented on #940
Tagging for developer meeting as a public service announcement to double check existence of API file after next PhET-iO production build.

[2020-07-09 14:08] chrisklus commented on #954
It looks like MAL will be the next RC. I will ask @KatieWoe in that RC test to look into these use cases.

[2020-07-09 15:51] zepumph commented on #954
Could you please note (likely repeating yourself) why the guard is useful and worth having in packageRunnable but not for the xhtml? I sorta thought my review comment applied to both cases, since in both cases they will wrap code in Javascript code that may not compile correctly in the future. Perhaps we can try to create a case like that to demonstrate to show how the if statement may not actuall

[2020-07-09 16:25] samreid commented on #912
CT didn't spot any problems with this commit, unmarking for blocks publication.

[2020-07-09 19:30] zepumph commented on #940
ph-scale is going to get RC today for phet-io. Assigning to @pixelzoom to double check that the api file was created by the build-server.

[2020-07-09 21:26] zepumph opened #961 "Phet-io Build fails on build-server due to need to npm prune and update in studio"
This is because of https://github.com/phetsims/studio/issues/120

I added a process to build studio, but it needs to make sure that local grunt is installed before doing that. Here is the build fail email:

<details>

[code]
</details>

[2020-07-09 21:27] zepumph commented on #961
@pixelzoom mentioned it would be good to test this by using phet-io-test-sim.

[2020-07-09 21:29] pixelzoom commented on #940
ph-scale build failed, but it a new issue: https://github.com/phetsims/chipper/issues/961

Let's use phet-io-test-sim to debug that issue and this one.  Reassigning to @zepumph @samreid.

[2020-07-09 21:53] zepumph commented on #961
copySupplementalPhetioFiles now runs npm prune and update in studio before trying to build studio. I tested this with a new RC of phet-io-test-sim, and it built successfully. https://phet-dev.colorado.edu/html/phet-io-test-sim/1.4.0-rc.1/phet-io/wrappers/studio/

Closing

[2020-07-09 21:53] #961 closed

[2020-07-09 21:55] zepumph commented on #940
I just created an RC in phet-io-test-sim, and it successfully created an api file:

https://phet-dev.colorado.edu/html/phet-io-test-sim/1.4.0-rc.1/phet-io/phet-io-test-sim-phet-io-api.json

Thanks @mattpen @pixelzoom @markmorlino @samreid for all the help on this issue.
Closing

[2020-07-09 21:55] #940 closed

[2020-07-09 22:36] zepumph commented on #811
I realized that adding the node env declaration is the pattern of doing things if you don't already set that by the eslintrc file. `node_eslintrc.js` already sets the proper environment variables allowed. Thus we don't need that, and only need to declare "use strict". I updated things above. Anything else here?

[2020-07-09 22:51] jessegreenberg commented on #811
Sounds good to me, thanks! Not that I know of, closing.

[2020-07-09 22:51] #811 closed

[2020-07-09 23:00] zepumph opened #962 "linted files using node_eslintrc.js don't need to declare node env at the top of the file"
Discovered as part of https://github.com/phetsims/chipper/issues/811

We have over 100 usages of `/* eslint-env node */`, but if that files is covered under the set of lint rules defined by `node_eslintrc.js`, then this is superfluous. My guess is that most can be removed (like in perennial).

@ariel-phet, this is grunt work that would easy for a junior dev to do if they wanted to familiarize them

[2020-07-09 23:30] zepumph commented on #931
Looks great!

[2020-07-09 23:30] #931 closed

[2020-07-10 00:00] zepumph commented on #954
I spoke with @chrisklus about the above comment. He is going to take it from here, and update this issue too.

[2020-07-10 00:03] zepumph commented on #740
Alright. I'm going to close this issue then. Things have been going well thus far.

[2020-07-10 01:26] chrisklus commented on #954
@zepumph and I discussed https://github.com/phetsims/chipper/issues/954#issuecomment-656206749, and he further explained how the `if( window.isIE )` guards may not help prevent errors in the future. This is because JS is compiled right before it's interpreted, so when we start to not transpile for IE, it won't matter that there are guards in place. There will still be es6 characters that break the

[2020-07-10 01:33] chrisklus commented on #954
Oh, from looking at transpile.js, it seems like converting to es5 is always the first step. I feel like you answered this question to me before too anyway.

[2020-07-10 01:36] chrisklus opened #963 "Remove IE 11 from transpile.js"
From https://github.com/phetsims/chipper/issues/954 - now that we have an Error page in place that loads in IE, we should be able to remove `'IE 11'` as one of the target transpile browsers. Adding this issue to the list in https://github.com/phetsims/tasks/issues/1037 and marking for developer meeting.

[2020-07-10 18:36] zepumph commented on #942
I think that we could potentially delete phet-io-wrapper-haptics while we are at this. @jessegreenberg, is that wrapper being used for anything now? Does it need to stick around?

[2020-07-10 19:20] jessegreenberg commented on #942
Yes, this repo/wrapper can be deleted now, and I started https://github.com/phetsims/phet-io-wrapper-haptics/issues/7 to do so.

[2020-07-13 20:40] samreid commented on #912
The `game-up-camera-1.0.0.js` is a preload that uses globals defined by `initialize-globals.js`. Hence making initialize-globals.js a module would require making game-up-camera-1.0.0.js a module as well.

[2020-07-13 20:44] samreid commented on #912
@KatieWoe do we have a test harness or instructions for how to test the "Game Up Camera"?

[2020-07-13 20:53] samreid commented on #912
In discussion, @KatieWoe indicated that QA does not test GameUp/SnapThought.  @kathy-phet are these still used and should we still be supporting them?  I wouldn't want to make changes to `game-up-camera-1.0.0.js` without the ability to test the changes.

If these are still supported features, we should identify how to test them and add it to part of the QA testing cycle.

[2020-07-14 00:11] samreid commented on #776
How much of https://github.com/phetsims/chipper/commit/0af3ccecd94b32c07c6c379ad8f28fbd6b60ef54 survived the ES6 module migration?  What, if anything, still warrants review?  Please close if everything was completed in other issues.

[2020-07-14 00:36] samreid opened #964 "Make reportMedia.js run without grunt so it can run as a fast precommit hook."
From Slack:

Sam Reid:house_with_garden:  6:19 PM
CT has a red column with “Fatal error: There is an issue with the licenses for media types.“. Should we add a commit hook for that?

Michael Kauzmann  6:21 PM
It totally bit me last week, and I feel like it caused disruption to a lot of others. I rarely remember to update license.json files. All this to say "yes, that would likely help me!"

Jonath

[2020-07-14 00:40] samreid commented on #964
To accomplish this, we would need:

* Revise reportMedia.js to no longer use `grunt`
* Revise getPhetLibs.js to no longer use `grunt`
* reportMedia() is an `async` function, and top-level `await` is not yet supported.  We would need a workaround for this.  Possibly an IIFE?  I haven't tried that.

This passed the threshold of "being able to do something useful quickly" for me.  I'll mark it for de

[2020-07-14 05:26] samreid commented on #947
Tagging for developer meeting to decide how to proceed, see the last 2 comments for context.

[2020-07-15 06:08] samreid commented on #876
I turned on this rule temporarily and saw 197 violations across many repos.  It seems unlikely that we would want to eliminate all of these for a production build.  Therefore, I recommend we remove this entry from the .eslintrc.js and close this issue.  We can always change our minds later but this seems reasonable for now.