[2018-03-09 20:58] zepumph commented on #638
Time spent so far on investigation, 1.75 hours.

[2018-03-12 02:59] samreid commented on #638
I couldn't find any usages of axon/js/config.js, so I deleted it (I also tested that http://localhost/scenery/tests/playground.html wasn't using it).

[2018-03-12 16:24] samreid commented on #654
I'd recommend to leave the dependencies combined, since they are all required to build the "PhET-iO" branded version, which includes the sim and wrappers.  When we get rid of the website dependency, the list will read as:

[code]

which seems correct to me.  In the future, we can allow sims to "opt in" to "phet-io-wrapper-classroom-activity" and "phet-io-wrapper-lab-book" and others like them.

[2018-03-12 16:57] zepumph commented on #654
I agree, to me this is exactly what we signed up for when combining dependencies. It doesn't seem too intrusive. I like the idea of an "opt-in" for the dedicated wrapper repos, but I feel like it is low priority until there are more of them across more sims.

[2018-03-12 16:58] zepumph commented on #654
See https://github.com/phetsims/phet-io-wrappers/issues/68 for tracking the removal of phet-io-website as a dependency.

[2018-03-12 19:03] zepumph commented on #638
I also can't find any usages of `scenery-config.js` in the whole project, but that is needed to build scenery. Is there something that needs axon's config for somehow "building" axon (even though it isn't runnable)? If not then was it just automatically created somehow, and deleting it isn't enough?

[2018-03-12 19:42] samreid commented on #638
I reverted to 0c6a42b99b2441d796ae5cedc1782316d874f368 and ran

[code]

axon/js/config was created manually, and looks like it was originally created for unit tests in bcf214d7ad74a055806169948c67425263887399

I confirmed the scenery build is using scenery-config.js

[2018-03-12 19:50] samreid commented on #638
I don't think axon can/should be built by itself at the moment.

[2018-03-12 20:00] samreid opened #661 "Dependencies for "phet-io-wrapper-classroom-activity", "phet-io-wrapper-lab-book" should move where needed"
In https://github.com/phetsims/chipper/issues/654#issuecomment-372371174 we identified that "phet-io-wrapper-classroom-activity", "phet-io-wrapper-lab-book" should not be hard-coded in chipper for every phet-io simulation, but only included for sims that use those wrappers.

We discussed it being low priority but I'll see if it's easy/fast.

[2018-03-12 20:01] samreid commented on #654
Since outstanding work is tracked in https://github.com/phetsims/chipper/issues/661 and https://github.com/phetsims/phet-io-wrappers/issues/68 I think this issue can be closed.

[2018-03-12 20:01] #654 closed

[2018-03-13 00:11] zepumph commented on #638
I think that we have done enough to recommend a solution to the rest of the devs this dev meeting.

I suggest that we move towards a single config file per repo, where the deps can be specified as a global, falling back to a default that is the same as the dependency needed to build. Example:
`deps: phet.chipper.configDeps || [ 'faradays-law-main' ],`

Points of discussion:
1. This solution works

[2018-03-13 05:04] jonathanolson commented on #638
Sounds tricky. When the config is loaded by the require.js optimizer (in the build process), `window` isn't defined, and `global` is where all global variables live. Also `phet` won't be present for many dot/kite/scenery things. Can we detect the presence of window/global, and use something defined there (instead of something namespaced under phet.chipper which often doesn't exist?)

[2018-03-13 14:18] samreid commented on #638
It sounds like `phet.chipper` works OK, so perhaps we can declare any global--perhaps something like `phetConfigDeps` would work?

[2018-03-13 18:51] mbarlow12 commented on #660
I agree with @zepumph; it seems like the a11y-view is beginning to deviate more and more from the actual PDOM in a technical sense. However, information like this is closer to how screen readers will see the content. I think it's useful to think of the a11y-view as a visual, stylized representation of the accessible properties and elements, giving the user a slightly different perspective of the s

[2018-03-13 18:59] jonathanolson commented on #638
My above comment was mostly noting that this was not ok, and would fail in many cases where it is not defined.

Perhaps this is the breaking point, and we define the phet global in standalone (e.g. scenery) builds?

[2018-03-13 19:37] samreid commented on #638
I don't think we need to define a `phet` global, my point was that any global defined could be accessed on the `window` or on the `global` if you leave off the prefix.  Hence a `configDeps` global (not structured under `phet`) may be ok?

[2018-03-13 22:46] jonathanolson commented on #638
I'm kinda to the point where it feels like if we need to introduce a global, we should have whatever standalone builds of scenery/etc. have a `phet` global where we can stuff things. It sounds like it will help in general, and that the tradeoff is probably worth it now (and it will mean common code won't need to check for the presence of the `phet` global).

[2018-03-14 16:21] zepumph commented on #638
That sounds like a nice improvement. @jonathanolson how much work do you think that would be to do? Then we could adapt the config files.

[2018-03-15 15:58] jonathanolson commented on #638
I'll look into providing the phet namespace for standalone builds. Shouldn't take too long.

[2018-03-15 19:02] zepumph commented on #638
After @jonathanolson finishes, I will change all config files to use this global, and only 1 config file per repo. Note this will involve adapting the sim config files via the automated config file task, but common code/scenery subtypes are manually created config files.

[2018-03-15 19:48] samreid commented on #638
What if we just have one config.js file (lives in chipper)?  It encodes all our plugins/repo paths and is used by every project instead of us generating copies or near copies of them?

[2018-03-16 20:14] jessegreenberg opened #662 ""both" printed many times when building john-travoltage"
Probably caused by the "license exception" case, when building john-travoltage "both" appears many times around the printed license exception. Here is a screenshot.
![capture](https://user-images.githubusercontent.com/6396244/37542588-49c39cf6-2924-11e8-9ca0-e950c49d5012.PNG)

Assigning to @jonathanolson.

[2018-03-16 20:28] jonathanolson commented on #662
Hmm, I recall seeing this somewhere (require.js audio plugin?) but I figured it was temporary and didn’t create an issue. I’ll check into it.

[2018-03-16 20:31] jonathanolson commented on #662
Looks introduced in https://github.com/phetsims/chipper/commit/4012ead8cf1d142f2776fe77c378b6aa9e4fb062. @jbphet, can this be removed?

[2018-03-17 01:41] zepumph commented on #638
In dev meeting yesterday we decided to keep a config file per repo, although there wasn't much discussion about having just 1 config file. @jonathanolson please assign back to me when you have created the global that scenery can use.

[2018-03-19 15:50] jbphet commented on #662
My bad - this was some experimental code for figuring out whether .ogg files could be removed.  I've gotten rid of the debug statement, closing.

[2018-03-20 21:23] jbphet opened #663 "Remove built-in support for .ogg files from audio.js plugin"
The `audio.js` file, which is a RequireJS plugin that is responsible for the loading of audio in PhET sims, is currently written to assume if only the "stem" of an audio file is specified, .mp3 and .ogg files are available for the sound.  It then tests which formats are supported and chooses one.  This was necessary because some browsers didn't support .mp3, but this has changed for all of our tar

[2018-03-23 16:18] mattpen opened #664 "iframe test files broken in chipper2.0"
The _all_iframe.html seems to be broken for the latest version of chains.  See: https://ox-dev.colorado.edu/sims/html/chains/1.16.6/chains_all_iframe.html.  It is looking for chains_all_phet.html, but the _phet is stripped out during deploy.  The only other sim that is using the _all_iframe.html is bumper on phet-server, and it seems to be working correctly https://phet.colorado.edu/sims/html/bump

[2018-03-23 18:37] samreid commented on #661
It appears in build.json/phet-io/phetLibs and copySupplementalPhETIOFiles/wrappers.  Perhaps we can do the following:
(1) remove it from build.json/phet-io/phetLibs
(2) remove it from copySupplementalPhetioFiles/wrappers
(3) add it to a simulation's package.json/phet-io/phetLibs
(4) add code to copySupplementalPhetIOFiles to check in the phetLibs for (a) paths beginning with phet-io-wrapper or (b)

[2018-03-26 17:41] zepumph commented on #661
Yes 1-3 is great. Either part of 4 would work. 4b sounds a bit more long term maintainable, but I think right now I would rather do 4a. It will be easier, and it doesn't really feel like a gotcha.

[2018-03-27 17:49] samreid opened #665 "Comment type for no-mipmaps."
@zepumph and I noticed this code for the mipmaps:

[code]

However, this seems like it should be `return '// no mipmaps'` because buildMipmaps.js is outputting JS code instead of HTML code.

Once my working copy is restored, I'll try building a sim with no mipmaps and see if that is problematic.

[2018-03-27 21:28] samreid opened #666 "branch: build-js"
To support https://github.com/phetsims/phet-io/issues/1321

[2018-03-27 22:19] samreid commented on #665
I short circuited buildMipmaps.js so there were no mipmaps and saw this code get outputted:

[code]

This is a syntax error, so I'll go with the JS style comment.

[2018-03-27 22:20] samreid commented on #665
After my proposed fix, the code is coming out like this:

[code]

[2018-03-27 22:22] samreid commented on #665
Committed and pushed, @jonathanolson can you please double check?

[2018-03-27 22:46] jonathanolson commented on #665
I agree that it shouldn't use the HTML comment, but in general you'd want to concatenate JS strings (and a line comment would modify what it is concatenated with afterward). Could we do comments like `/* no mipmaps */`, or potentially just output a raw string?

[2018-03-28 14:19] samreid commented on #665
I agree a block comment is better, can you please spot check the commit?

[2018-03-28 15:42] ariel-phet commented on #664
@mattpen these types of files are to the best of my knowledge only ever used for testing, and are not at all necessary for production. I suggest removing all `*.iframe.html` files from production deploys.

[2018-03-28 19:12] zepumph commented on #418
@jessegreenberg could we get a status update on this? @samreid and I stumbled across this file and we can't find any usages.

[2018-03-28 19:39] jessegreenberg commented on #418
Sorry, I have not been able to work on this issue. The rule is not ready to be added to .eslintrc. Based on above comments the rule should be changed to check for listener registration/removal pairs instead of the existence of a dispose function.

[2018-03-29 16:28] terracoda commented on #660
@terracoda does have some thoughts on styling.
The original idea was to have:
- blue static descriptions
- green dynamic descriptions, and
- orange alerts

I like the way the inline aria-value text looks like code.  Generally speaking I think the values read out on controls (sliders, spinbuttons, comboboxes, etc) would be considered static from a design strategy perspective. The range is determine

[2018-04-03 19:31] jbphet commented on #604
Instructions for adding ES6 support to IDEA Ultimate Edition were already in the document, but it didn't include some important information about the version of IDEA that is needed, so I made some updates and did some editing.  This is done, closing.

[2018-04-04 18:05] jessegreenberg opened #667 "a11y-view broken for local builds"

[2018-04-04 18:49] jessegreenberg commented on #667
Fixed with the above commit. There was a check that removed the 'phet' brand suffix for local builds,  I don't know why. Closing.

[2018-04-05 11:24] jonathanolson commented on #665
Looks good, thanks.

[2018-04-05 11:24] #665 closed

[2018-04-10 21:57] jessegreenberg opened #668 "Remove duplication of *A11yStrings.js xss tests"
For xss tests, something like the following is currently in *A11yStrings.js files
[code]
This shows up many times, it would be good to remove the duplication somehow.

[2018-04-10 23:25] zepumph commented on #623
I thought that it would be confusing to have both of them be named the same. We are running into that right now in phet-io because there is `Sim.activeProperty` and `Screen.activeProperty`, but both are "Active Property". Will it be confusing?

[2018-04-11 02:36] jessegreenberg commented on #623
I don't think so, in this case they really are the same thing
[code]

I also noticed that `phet.chipper.randomSeed` matches the name of the query parameter.

[2018-04-11 16:58] zepumph commented on #623
I am convinced! Closing.

[2018-04-11 16:58] #623 closed

[2018-04-12 00:04] zepumph opened #669 "change "var" to "const" and "let" in js/grunt"
From slack:

Side note… For ES6+ code (files in perennial/data/es6-repos), WebStorm is flagging `'var' used instead of 'let' or 'const'`.  See for example most of the .js files in chipper/js/grunt/.

I see 156 usages of var in the grunt folder. In other repos that I was working on with es6, I just replaced them all with `let`, and then slowly added in `const` as I got to the file. Should I make an

[2018-04-12 16:57] pixelzoom commented on #669
I spot-checked a few of the commits in WebStorm, and I don't see anything being flagged.  Nice work. Closing.

[2018-04-12 16:57] #669 closed

[2018-04-18 19:52] zepumph opened #670 "Does chainsBuildTest.js support oneOff builds correctly?"
I was getting failing tests because the name of the oneOff wasn't showing up in the name of the local chipper build:

[code]

But the build tests expect the oneOff name in the file:
`      assertFileExistence( assert, `../chains/build/phet/chains_${locale}_phet${oneOffSuffix}.html` );`

@jonathanolson for local chipper builds, are oneOffs even a thing? I only see oneOff code in perennial.

[2018-04-18 21:36] jonathanolson commented on #670
One-offs are something that shows up in the package.json version and is part of the deployment. It looks like the failing test should have been removed. Any objections to removing it?

[2018-04-19 04:07] samreid commented on #551
Here's another argument for using ES6 in simulation code:
https://github.com/phetsims/tasks/issues/931#issuecomment-382577385

Is IE11 still the main holdout?

[2018-04-19 05:27] jonathanolson opened #671 "Document/implement what generate commands are required"
E.g. generate-config and generate-development-html are needed on dependency changes, but colors/a11y/unit-test and potentially other generation needs to happen depending on the repository.

It was noted that we should document this in the PhET Development Overview Google doc.

I thought I'd also propose that all of this should be automated, so there would be one generate command that you could run

[2018-04-19 14:47] zepumph commented on #670
Sounds good, I can take care of it if you want. I was thinking about keeping the the one-off build and test, but removing the naming that adds the oneOff string. Let me know if you have any objections to that @jonathanolson.

[2018-04-20 16:53] jbphet commented on #663
The work for this is done.  It would probably be a good idea to have someone inspect the changes, since the audio plugin is used in all sims that have any sort of audio and, in the future, it will be used in all sims.  Assigning to @ariel-phet to decide who should review.

[2018-04-23 19:43] zepumph commented on #670
Let me know  what else I can do.

[2018-04-23 22:17] zepumph opened #672 "grunt.log.debug broken in build process"
I could be doing something wrong, but I think that the debug logging in the build process is broken. This is what a phet-io build currently looks like when the debug flag is on
[code]

I believe this is since chipper 2.0.

Before we used to pass the same grunt object through to all files, but now we just require grunt at the top of each file. This is a much nicer solution, but no debug lines seem

[2018-04-24 01:14] jonathanolson commented on #672
Hmm, it makes sense to have the logging logic somewhat separated out into its own required file. Then we can figure out a way to properly log debug statements? Or maybe we could figure out a top-level grunt instance so this works as desired?

[2018-04-24 18:09] ariel-phet commented on #663
Asking @jonathanolson to take a look (since it seems like this will be quick). If not please reassign back to me.

[2018-04-25 16:37] jbphet commented on #663
There was already documentation in the constructor header, but I added some in the body of the constructor, closer to where the URL and base64 properties are used.  I also did this in SoundClip, which is a new file in the tambo repo.  I updated the code style file for my IDE, and that seemed to fix the formatting issues.

@jonathanolson - good to go?  Please close if so.

[2018-04-25 23:42] pixelzoom commented on #671
+1 for "one generate command", -1 for more steps in PhET Development Overview.

[2018-04-26 02:04] jonathanolson commented on #663
Doh, I missed the note about the usage.

I guess I was expecting something that noted the object type, e.g. `Either { url: {string} } or { base64: {string} }`, but the assertions below work for figuring it out. Closing.

[2018-04-26 02:04] #663 closed

[2018-04-26 19:39] zepumph opened #673 "A11y view is broken on dev server"
Since we have moved dev servers from spot, this line of code is invalid:
[code]

[2018-04-27 21:02] zepumph opened #674 "debug html runnable should be built on every phet-io build"
I'm not sure about the status of dev, rc, and production builds, but currently the local `grunt --brands=phet-io` command doesn't automatically build the _debug.html file with assertions in. I thought we had decided to make that happen when designing chipper 2.0, but I could be wrong. Currently I'm about 90% sure we will end up wanting debug versions of the sim (with assertions left in) in ever ph

[2018-05-11 18:00] samreid commented on #551
In today's meeting, @jonathanolson @zepumph @jessegreenberg and @samreid expressed an interest in updating to ES6.  One of the prior hurdles was the need to test requirejs mode on IE11, but @jessegreenberg informed us that IE11 is no longer a supported platform for a11y.

[2018-05-11 18:03] pixelzoom commented on #551
Please clarify.  If a11y is being added to all sims, a decision not to support a platform for a11y is effectively a decision not to support the platform for PhET sims.   Who made this decision?

[2018-05-11 18:08] samreid commented on #551
@jessegreenberg reported that the accessibility team made that decision.  But ES6 will still run on IE11 after compilation.

[2018-05-11 18:14] zepumph commented on #551
Just to be clear, a supported platform for a11y means that the accessibility features are not being tested with a screen reader, and so may sound  weird for IE. The sim will still functionally run, because PhET QA is still fully testing it for IE.

[2018-05-11 18:18] jonathanolson commented on #551
I read https://jamie.build/last-2-versions recently, and I think it may be good for us (when we switch to using babel) to specify out the browsers we support, so babel only transpiles the features we need (in the future, when we drop browsers from being supported).

[2018-05-11 19:09] jonathanolson opened #675 "branch: es6"
Created for https://github.com/phetsims/chipper/issues/551, supports arbitrary es6+ in sim/common code.

[2018-05-14 20:19] mattpen commented on #664
This problem is fixed when using phet-dev.colorado.edu links, closing.

[2018-05-14 20:19] #664 closed

[2018-05-17 00:07] jonathanolson commented on #551
I see the first main disadvantage is that we can't test require.js mode on IE11. That's not a problem for me, as we can use debug/normal builds (I do that anyways for things like iPads).

The second main disadvantage is that we generally need to stick to the ES6+ subset that babel knows how to rewrite for IE11 (which I believe is everything that I'd hope to use).

Presumably we'd want to run a qui

[2018-05-17 15:39] zepumph commented on #551
I really like the idea of just having Babel in the build process, as I agree, I don't need to have IE11 work in requirejs. If we did need to support this, then Babel get's a whole lot harder.

I too think it is worth bringing the project up to es6.

[2018-05-17 18:28] zepumph commented on #551
In general it looks like eslint is working well on the branch for me. Webstorm complains when I update the language level.
![image](https://user-images.githubusercontent.com/6856943/40196256-73058c8c-59bc-11e8-9e2d-8e13385f4444.png)

I'm sure that setting can be turned off, but it seems like I'd rather just replace all vars with let, or something like that. We could probably do that on a sim by si

[2018-05-17 18:35] samreid commented on #551
@zepumph will run a test, add some ES6 code (arrow function, const/let, etc) to a sim, checkout chipper branch, test in IDEA, test build and give to QA team for cross-platform testing.

[2018-05-17 18:55] samreid commented on #671
Can we call the command `grunt update`?

[2018-05-17 19:00] samreid commented on #671
We decided to leave it marked for developer-meeting so @jonathanolson will remember to implement this before the next meeting.

[2018-05-21 22:25] pixelzoom commented on #551
I see no discussion of which ES6 features might be used.  Does that mean all ES6 features are fair game?  When we last discussed ES6, two big concerns where how/whether ES6 modules and classes could co-exist with requirejs and PhET's prototypal inheritance implementation.  Has someone investigated that?

[2018-05-21 22:50] jonathanolson commented on #551
Maybe technically, but I would plan on not using ES6 modules/classes yet, since we picked require.js instead. Most other things seem like fair game.

We haven't investigated that yet, but I don't think we would want to wait for that before using other things that make day-to-day work easier to read/write.

[2018-05-21 23:01] jonathanolson commented on #551
I would also be happy to fully specify the recommended subset and recommended places to use the new features in code.

[2018-05-21 23:29] samreid commented on #551
I tried changing SlitsScreenModel to use class/extends, and it worked in both requirejs and built mode. The skeleton of the file looks like:

[code]

[2018-05-22 03:18] samreid commented on #551
I added `node.type='module';` to sherpa/lib/require-2.1.11.js line 1886 and was able to export/import in the browser in concert with requirejs.  However, when trying a build, I received:

[code]

Line 3 is: `import myDefault from './Magnet.js';`

It is unclear how we would want import/export/require to work together.  import/export must be top-level and require statements must be nested.

[2018-05-22 06:45] jonathanolson commented on #644
I'd say it would be great to have this done, but the update-copyright code might take some work to make it apply to single files.

Are you available to potentially modify updateCopyrightDates to take a parameter of a single file to change, and then I can apply the change to the config (or test config) files?

This was a bit awkward for https://github.com/phetsims/chipper/issues/671, just pushed so

[2018-05-22 06:46] jonathanolson commented on #671
Implemented in `grunt update`, leaving to mention at dev meeting.

[2018-05-22 16:54] jonathanolson commented on #644
That sounds great (and would allow updating the config/test-config in the same step if both are generated).

[2018-05-24 18:55] #671 closed

[2018-05-24 19:14] zepumph commented on #672
Honestly I'm not really sure how to proceed with this, in chipper 1.0 the same grunt instance was passed as a parameter to each function, which seems sloppy to repeat, perhaps we could have a debug logger module that stores the top level grunt instance as a singleton and returns that, but shouldn't there be a way to handle that with the required grunt? I don't have time to work on this anytime soo

[2018-05-24 19:15] zepumph commented on #672
@jonathanolson what approach do you think is best?

[2018-05-24 19:20] zepumph opened #676 "Some js types not showing up in jsdoc"
I haven't looked at this for a while, but it seems like right now the jsdoc is broken for some of the types in built jsdoc, right now it looks like `SimIFrameClient`, `WrapperUtils`, `WrapperTypes`, `PhetioIDUtils`.

[2018-05-24 19:21] jonathanolson commented on #672
Using a global for this is probably the right way. It may make sense to use winston to handle logging (like we do for other scripts that don't use grunt) so that it's common between all node.js code.

[2018-05-24 22:54] jonathanolson opened #677 "Open Graph metadata is broken"
During a refactoring, I noticed these aren't templated properly, so the replacement isn't happening. Looks like `<meta property="og:title" content="OG_TITLE"/>` in some production sims (e.g. area-model).

Looks like the commit https://github.com/phetsims/chipper/commit/3802475832d04bdc99031f21f9e828c8d5dfcdaa#diff-5080177e1b1988f785ccac685d896de0 missed including these as template variables, so th

[2018-05-24 22:54] jonathanolson commented on #677
Notably, this means thumbnails may not show up when sims are shared in facebook, etc.

[2018-05-25 00:00] jonathanolson opened #678 "XHTML builds and ePub compatibility"
See https://github.com/phetsims/special-ops/issues/105 for more information.

[2018-05-25 00:03] jonathanolson commented on #678
Implemented in master for now (since it cleans up some of how we generate normal HTML). Also fixes https://github.com/phetsims/chipper/issues/677 (since I noticed that bug while doing this work).

@ariel-phet, should this be looked over for code review?

[2018-05-25 00:13] jonathanolson commented on #678
We'll also want to figure out ways to ideally generate locale-specific HTMLs (since they are now really small, the main payload is in the JS file) and other considerations that I'm not worrying about for the prototype.

[2018-05-25 14:00] samreid commented on #678
Can you please add documentation to the --help about how to specify xhtml?  The build --help currently reads:

[code]

[2018-05-25 17:40] ariel-phet commented on #677
@jonathanolson yes, seems like a good candidate for maintenance release

[2018-05-29 17:37] zepumph commented on #676
I'm now realizing this is from https://github.com/phetsims/phet-io-wrappers/issues/6, and will be handled there.

[2018-05-29 21:17] jonathanolson commented on #678
Added the documentation as requested above.

[2018-05-31 00:39] zepumph commented on #674
Tagging @samreid so that he is aware of this, as we move on with implementing "testing" mode with the studio wrapper or other places.

@jonathanolson will you please take a look at the above commit. Does this seem alright to you?

[2018-06-01 13:20] samreid commented on #625
@jonathanolson reported:

@pixelzoom or @ariel-phet ok to close this issue?

[2018-06-01 13:31] samreid commented on #674
That sounds right to me, but I'd feel a lot better if we could track down an issue where we confirmed it is OK to publish unminified phet-io sim-side code.  Or perhaps we decided to go with minified, but with assertions not stripped?  I can't remember.

[2018-06-01 13:37] pixelzoom commented on #625
Responsibility for chipper is not my call, that's up to @ariel-phet.

[2018-06-01 14:57] zepumph commented on #674
https://github.com/phetsims/phet-io/issues/1149#issuecomment-348319809 and the comment before.

[2018-06-01 15:20] samreid commented on #674
The issue @zepumph referenced said we would still like to mangle the code.  The commit @zepumph made creates a mangled version that leaves the assertions in, which is what we want.

[2018-06-01 15:22] samreid opened #679 "Can/should we always create the _debug.html?"
In https://github.com/phetsims/chipper/issues/674 @zepumph and I realized we need to always create the debug HTML for PhET-iO.  We tested and it does not appear to make the build take longer.  Currently we have the logic:

[code]

and we were wondering if we can/should simplify this by always creating debug builds. @jonathanolson can you comment?

[2018-06-01 15:22] samreid commented on #674
@jonathanolson can you double check and make sure we are barking up a nice tree?

[2018-06-01 16:37] ariel-phet commented on #625
@samreid yes, we can close. I think we have a few people that are familiar with the build tools these days (both @mattpen and @jonathanolson). But I think we will try to make sure if we bring on a new dev we also get them some experience there.

[2018-06-01 16:37] #625 closed

[2018-06-01 20:12] zepumph commented on #673
This should be added into the RIAW rc branch for https://github.com/phetsims/QA/issues/125, here are the shas to cherrypick into chipper, and then to rebuild the a11y view for RIAW and check that in.

fedec69e0f821f6168f336e64f39057e7c78380f
6bddf0728e635c47d519b9b80b181f6d3eed4d40

[2018-06-04 17:14] Denz1994 commented on #659
I created a new lint rule "no-instanceof-array". It parses our code to ensure we aren't using ```instanceof Array```. If it fails, it will log a message to the console that reads, "Use Array.isArray() instead of instanceof Array".

This was tested in Masses and Springs and all active repos. This was reviewed by @jonathanolson as well. Closing this issue.

[2018-06-04 17:14] #659 closed

[2018-06-04 17:57] jonathanolson commented on #674
So you're saying that we want to force ANY local build of the phet-io brand to include the debug build? (This is separate from any deployment, since the --debugHTML flag is provided with any deployment).

[2018-06-04 18:06] zepumph commented on #674
That's right!

[2018-06-06 17:05] jonathanolson commented on #679
Yup, additional minification is NOT done for the phet brand to produce the _debug.html. It basically just combines outputs into another file.

I'm totally fine with having this always-enabled. Assigning to developer meeting to determine if everyone else is fine with having _debug.html builds generated for every build.

[2018-06-06 20:38] zepumph commented on #679
I would be fine with it, when all is said and done it would simplify the build process code (very minorly), and make all build artifacts more consistent, @samreid also noted that we timed the build and found no obvious change when building the debug version vs not, testing about 3 times.

I can't think of any negatives to it, but I also see that all the positives are not very substantial. All in a

[2018-06-07 17:44] samreid commented on #679
@jonathanolson will enable building debug html by default, we will try it out and see if any problems come up.

[2018-06-07 17:45] ariel-phet commented on #679
@jonathanolson will flip the switch

[2018-06-07 17:45] ariel-phet commented on #679
@samreid will take for quick test-drive when done

[2018-06-07 22:18] zepumph opened #680 "move perennial/data/wrappers to chipper"
Here is a TODO in `copySupplementalPhetioFiles.js`:

[code]

Why don't we just move this over to chipper, so that we have reproducible builds?

[2018-06-08 00:45] jonathanolson commented on #680
Hmm, is it OK for perennial to (in an automated fashion) update a file in chipper?

Additionally, we'd want to decide whether we want it in two places (might be fine), or just in chipper (phetmarks will break for slightly-older sims).

[2018-06-08 00:57] zepumph commented on #680
I think that it breaks phetmarks to not have this list in chipper, because when you checkout old shas with n-2 wrappers in it, you are still using the master perennial file.

What purpose does this info being timeless serve?
Benefits for chipper:
* builds know exactly what wrappers we support for the wrapper suite
* phetmarks know exactly what wrappers are in phet-io-wrappers

[2018-06-08 10:58] samreid commented on #680
I'm confused because copySupplementalPhetioFiles.js is already in chipper, can you please clarify?

[2018-06-11 20:42] samreid commented on #679
Unassigning to keep my to-do list clear, please assign to me when ready for testing.

[2018-06-12 17:43] zepumph opened #681 "Dedicated wrappers should be included in build.json on a sim by sim basis"
Right now, if we want to add a dedicated wrapper to the build, like the Hooke's Law Energy wrapper in
https://github.com/phetsims/phet-io-wrapper-hookes-law-energy/issues/4, we have to add it in two places in chipper: `copySupplementalPhetioFiles`, and `build.json`. I see 2 possible improvements here:

1. copySupplemental could get its dedicated wrapper repo list from build.json.

2. `buildJSON["p

[2018-06-12 17:45] samreid commented on #681
Another nice feature would be to add it to the wrappers/index table, something like "Simulation Specific Wrappers Table".

[2018-06-12 17:47] jonathanolson commented on #681
So it's desired for each sim to potentially have some number of built/included wrappers that get included just with that sim?

[2018-06-12 18:49] zepumph commented on #681
Yes. Currently all of the dedicated wrapper repo wrappers (lab book, classroom activity, and hookes law energy) are only supported by individual sims (CLB & BLL, FAMB, and HL respectively).

The build process is just adding all of these in on every build. It would be nice if we could say "only include lab book for CLB and BLL."

[2018-06-12 19:21] zepumph commented on #677
Trying out the new label. Is this a good application?

[2018-06-13 17:07] samreid opened #682 "branch: phet-io-absolute-url"
To support https://github.com/phetsims/phet-io-wrappers/issues/82

[2018-06-13 21:26] zepumph opened #683 "Delete getVersionForBrand stub"
In `getVersionForBrand.js`, @samreid and I see this todo, promoting to an issue:

` TODO: remove this stub once we merge to master (joist/preloads have usage)`

[2018-06-14 20:45] jonathanolson commented on #677
Perfect, thanks!

[2018-06-14 20:46] jonathanolson commented on #681
So it sounds like each wrapper has an effective list of sims that it should be included with? Some should only be with one simulation. Some should be a few simulations. Most will be included for all simulations.

Perhaps each wrapper should declare this in its package.json, and the build process will just include all detected wrappers valid for that sim?

[2018-06-14 21:02] zepumph commented on #667
potential solution: request one version in a `try` clause, and if you get back a 404, then try the other one. That way it will always work.

[2018-06-14 21:14] zepumph commented on #681
Wrappers in the wrapper suite are, by design, included in all sim deploys, and so I think this is only a problem in dedicated wrapper repos, and no for items in the wrapper suite.

Currently these repos don't have a package.json, which is why I proposed adding them into the sims' `package.json` themselves, but I also recognize that it could be nice to have that data in a single place.

[2018-06-14 21:33] jonathanolson commented on #681
That's fine too, no major preference.

[2018-06-15 18:05] jessegreenberg opened #684 "A few enhancements to the a11y-view"
Discussed 6/15/18, a few enhancements to the a11y view would make it easier to present accessibility content to others:
- rewrite intro paragraph (@terracoda)
- Remove brackets and `aria-valuetext` label in front of copy in view
- Figure out why some inputs to to  very small width once value changes (like sliders in john-travoltage-a11y-view)

Assigning to @terracoda and myself.

[2018-06-15 21:05] zepumph opened #685 "Should chipper 2.0 ever release an rc.0?"
When chains was on master at `1.16.0-dev.*`, @samreid and I did the following command:

` $ grunt rc --brands=phet-io,phet --branch=1.17`

We were surprised to see that it proceeded to try to deploy `1.17.0-rc.0`. Is that correct?

Here is another problem (it should probably be in another issue): furthermore, when I wasn't on vpn, it didn't create/deploy rc.0, but kept it in the package.json when

[2018-06-18 15:39] samreid commented on #682
Branch deleted, closing.

[2018-06-18 15:39] #682 closed

[2018-06-18 16:41] jonathanolson commented on #685
That's not a valid version (it should be a number there), so maybe it should have immediately errored out instead?

It reverted to what it thought the parsed version was. Since it parsed incorrectly, this seems like a side-effect result.

It looks like the parsing should include the entire version string, not just matching a part of it.

[2018-06-18 16:45] samreid commented on #685
I suspect @zepumph meant `1.16.0-dev.16`.

[2018-06-18 16:56] jonathanolson commented on #685
Ahh I misread. I'll look into it, but it seems fundamentally wrong having dev versions on a release branch.

[2018-06-18 17:01] jonathanolson commented on #685
I just tested the same thing (moved it to a temporary branch name) and it properly errored out with:
[code]

[2018-06-18 17:03] jonathanolson commented on #685
Hmm, wait. It looks like there was no 1.17 branch before?

[2018-06-18 17:06] samreid commented on #685
Does the build process create the branch or assume you have already created it?

[2018-06-18 17:12] jonathanolson commented on #685
Ok sorry, I think I figured things out.

I doesn't ever try to deploy rc.0 that I saw, can you point me to it?

The deployment was also used to create a release branch. That isn't revertible, and is an initial step that successfully completed (and should set the version to rc.0). Then deploys would deploy to rc.1, etc. Reverting the creation of a release branch is probably just removing the branch

[2018-06-18 17:30] jessegreenberg commented on #684
Second and third points are done and a11y-views have been regenerated. @terracoda over to you for the first bullet. Can you please reassign to me when the new content is ready?

[2018-06-18 17:35] terracoda commented on #684
Thanks @jessegreenberg, I just started working on point one using BASE as an example and just noticed that the A11y View document starts with an H3 instead of an H1.

I am not sure when the heading structure disappeared, but we shoudl clean that up, too, while we are at it.

I've archived the old document and am creating a new to work in here:
https://docs.google.com/document/d/1xsucsdRs-Oj1NtYnT4

[2018-06-18 18:11] jessegreenberg commented on #667
In phetsims/a11y-research#111 @zepumph also said

[2018-06-18 18:20] jessegreenberg commented on #667
@zepumph your reccomendation in https://github.com/phetsims/chipper/issues/667#issuecomment-397437363 actually seems totally sufficient for what we need in the a11y view.

[2018-06-18 18:31] jessegreenberg commented on #667
https://stackoverflow.com/questions/16499117/how-to-detect-an-error-404-in-an-iframe/26641263

:(

[2018-06-18 18:51] zepumph commented on #685
Alright, let me try to sum up the knowledge in this issue. @jonathanolson, it seems like when you create a release branch as part of a first rc deploy, it sets the version to rc.0 as a placeholder.

Even if the rc deploy fails, the release branch won't revert. And in our case since the rc failed, it didn't get to the point where rc.0 was bumped up to rc.1 for the initial deploy in the branch.

In

[2018-06-18 18:51] zepumph commented on #685
Please reopen if there is anything else.

[2018-06-18 18:51] #685 closed

[2018-06-18 19:24] zepumph commented on #667
What if we just did an XHR on the desired URL, and then handled the error there and loaded the iframe accordingly? Like an ajax solution rather than dealing with the browser's iframe api.

[2018-06-18 19:55] terracoda commented on #684
Ok. I have updated the content and the structure in the design document:
https://docs.google.com/document/d/1xsucsdRs-Oj1NtYnT4XwiQeuvKxsHEA3PRr6LPLfsj0/edit#

[2018-06-18 19:57] terracoda commented on #684
@jessegreenberg, do you think my changes are acceptable for implementation, or  would you like me to run them by @emily-phet first?

[2018-06-18 19:59] jessegreenberg commented on #667
Ah, very cool. I am not too sure about how that works but this looks like it could help:
https://stackoverflow.com/questions/10418031/how-do-i-capture-the-http-code-of-an-iframe/

[2018-06-18 20:13] jessegreenberg commented on #667
@zepumph I gave it a shot in the above commit and it seems to be working OK. Can you please review? Seems to be working for RequireJS, local builds, and builds on bayes, but haven't been able to test a version on phettest yet (clicking the "build" button results in "failed").

The only down side is that if the `open` fails, we will get a 404 error in the console, though that isn't a huge deal.

[2018-06-18 21:18] jessegreenberg commented on #684
@terracoda these are quick changes I went ahead and made them. Can you please review? Here is a link to phettest for convenience.
http://phettest.colorado.edu/balloons-and-static-electricity/balloons-and-static-electricity_a11y_view.html

[2018-06-18 23:21] zepumph commented on #667
I agree, that is annoying, I hadn't thought about that. I guess you can't suppress that 404 from the server. I tried using a try/catch, and handling it in the on error, but no luck.

Instead I went with filling in a specific constant only on build, and it seems much simpler. @jessegreenberg what do you think?

[2018-06-18 23:22] zepumph commented on #667
I tested local, local built, and https://bayes.colorado.edu/dev/html/balloons-and-static-electricity/1.4.0-dev.29/phet/balloons-and-static-electricity_a11y_view.html

[2018-06-18 23:34] jessegreenberg commented on #667
Ah, that is really nice @zepumph, thanks. Much simpler and gets rid of the 404 error showing up in the console for us. Verified this works locally so closing.

[2018-06-18 23:34] #667 closed

[2018-06-19 00:54] terracoda commented on #684
Thanks @jessegreenberg! A bit verbose, but a good first draft to share with the team. I'll make a stab at cutting the content down once everyone gets a chance to read it.

[2018-06-22 01:28] zepumph commented on #551
I investigated this more today. I used the branch `es6` in chains and chipper, creating some es6 functionality in the chains screen view, and then checking how it worked in requirejs vs built mode on a few browsers.

For the most part, things are exciting and good.

https://phet-dev.colorado.edu/html/chains/1.18.0-es6.2/phet/chains_all_phet.html

I am finding that I get an error in IE because `Pro

[2018-06-22 16:22] terracoda commented on #660
@jessegreenberg, I think this issue is stale in light of changes recently discussed in A11y Design meeting (last week), and work done in https://github.com/phetsims/chipper/issues/684

Closing this issue.

[2018-06-22 16:22] #660 closed

[2018-06-22 16:32] terracoda commented on #684
@emily-phet, I can shorten the text, but wanted some feedback before doing that.

[2018-06-26 00:15] jonathanolson commented on #551
Hmm, if we want to use promises, we may need to include a polyfill. Tagging for developer meeting to see if that is something people would want.

[2018-06-26 18:14] zepumph commented on #551
In the mean time, I striped out the promises in https://phet-dev.colorado.edu/html/chains/1.18.0-es6.3/phet/chains_all_phet.html.  In this version there are arrow functions, let/const, and template vars. I think that would get us pretty far just with that. We could pass that off to QA now, because after some searching it seems like a library is required to polyfill Promises for ie11, and I'm unsur

[2018-06-27 18:30] samreid commented on #551
In my opinion, continuation passing style is very clear and works great for simulations.  Not sure if we need promises or async/await there (that's more important in the build server or perhaps test harnesses).

[2018-06-27 21:43] jessegreenberg commented on #626
This was fixed as part of #684, here is a capture of MAL after changes now:
![capture](https://user-images.githubusercontent.com/6396244/42001323-e2521fa4-7a20-11e8-992b-b65393eb4540.PNG)

[2018-06-27 21:43] #626 closed

[2018-06-28 17:15] jbphet commented on #551
I haven't found the need for using promises in sims since we generally don't do async requests to outside resources.  Promises are used extensively in the translation utility, so I'm pretty familiar with them.  I think we could decide not to use them for now and if there ever came a strong need we could use a polyfill for IE11.  I looked around on line, and it sounds like there are several good on

[2018-06-28 18:18] terracoda commented on #684
Reviewed at A11y meeting. @emily-phet to review content in google doc. @emily-phet, please open a new issue if you want to make any content changes. I am going to close this issue as it has been address.

[2018-06-28 18:18] #684 closed

[2018-06-28 19:00] jessegreenberg commented on #551
6/28/18 meeting:

@ariel-phet said that if it is not supported in IE11 we should really try not to use `Promise`. In general, we agree that `Promise` is not desirable in sim code. We should add assertions that make sure we are not using `Promise`s.

So next step is for @zepumph to create a QA task to test the changes described in https://github.com/phetsims/chipper/issues/551#issuecomment-40041236

[2018-06-28 19:01] jonathanolson commented on #551
Should included Classes, and specifically cases where we extend our usual types with classes (e.g. inheriting Rectangle).

[2018-06-28 20:43] zepumph commented on #551
Next steps seem to be that @jonathanolson is going to work on getting together a group of es6 examples in a new repo, building it, and then bringing it back to devs to comment on that set of features we want to support. From there we will hand it over to QA. Interim testing can be done by @jonathanolson by running the built code in IE to see if any problems arise like `Promise` did for me.

[2018-06-29 17:18] jonathanolson commented on #551
I have a branch (https://github.com/phetsims/wilder/issues/1) set up that I'll use for enumerating/testing planned supported features.

[2018-06-29 19:43] jessegreenberg opened #686 "a11y view needs to get copy of pDOM root without using className"
className was removed from pDOM root in https://github.com/phetsims/scenery/issues/822. We need another way to get the root of the PDOM in a11y views.

[2018-06-29 19:51] jessegreenberg commented on #686
Fixed and regenerated a11y views in the above commits.

[2018-06-29 19:51] #686 closed

[2018-07-04 02:12] mbarlow12 opened #687 "Sim iFrame shift when tab changes focus in a11y-view html"
I just released a new one-off version of Faraday's Law and noticed that when you tab around the a11y-view, the sim jumps up with each press until the position below.

![image](https://user-images.githubusercontent.com/5711147/42253071-3e1e051a-7efd-11e8-91f2-9f1f24376e87.png)

Not sure about who's the responsible dev for this, so I tagged you both, @zepumph @jessegreenberg.

[2018-07-04 03:12] jonathanolson commented on #551
@lmulhall-phet, I deployed a version with what I think the recommended ES6 support should include (along with things that error out if it isn't supported properly) in https://phet-dev.colorado.edu/html/wilder/1.0.0-es6.1/phet/wilder_en_phet.html. Should I open a QA issue for that?

[2018-07-04 12:51] samreid commented on #551
Looks great @jonathanolson.  If I understand it correctly, the errors will report to the console and testing will require using dev tools/console and/or tethering (for iPad).  Not sure about chromebooks.
 @jonathanolson is that what you intended?  Should we add an `alert` on error to make it easier to spot errors?  Or perhaps a `console.log('there were no errors')` at the end of running the code t

[2018-07-04 18:00] zepumph commented on #687
I see this as a potential for the version you were finding the bug in,
https://phet-dev.colorado.edu/html/faradays-law/1.4.0-jump.2/phet/faradays-law_a11y_view.html

I was not able to reproduce this problem. By your brief description above, I imagine that it was easy and noticeable when it was happening. I also couldn't see it in master.

Could you please do the following things on multiple browse

[2018-07-04 20:52] jonathanolson opened #688 "Tooling or IDEs changing package.json?"
The following commits look suspicious:

- https://github.com/phetsims/chipper/commit/16cbe7bbaa20a013dd878f60431ed2deaa19f671#diff-b9cfc7f2cdf78a7f4b91a753d10865a2
- https://github.com/phetsims/chipper/commit/910a20f5a91f6252e7bf2aa168e7457884ecb96c#diff-b9cfc7f2cdf78a7f4b91a753d10865a2
- https://github.com/phetsims/chipper/commit/fe3864e45db9f70439770c5821ccf0639cb1e15b#diff-b9cfc7f2cdf78a7f4b91a

[2018-07-04 22:34] jonathanolson commented on #551
I'll add a visual "text" when there are no errors, and will get a new deployment.

[2018-07-04 22:37] jonathanolson commented on #551
Actually, nevermind. If it is broken, it will stay on the "loading" screen. If the sim loads, it worked.

[2018-07-05 14:17] Denz1994 commented on #688
I can't figure out why this would be happening. It would make sense to review the change logs before committing an unintended change in chipper. Perhaps this has to do with ```npm update```? I will investigate on next set of commits.

[2018-07-05 16:34] lmulhall-phet commented on #551
@jonathanolson, please. Or I can, but I'm not sure what exactly you want tested.

[2018-07-05 16:46] jonathanolson commented on #551
Done, see https://github.com/phetsims/QA/issues/139.

[2018-07-05 17:08] jonathanolson opened #689 "MIT HTML sim license support"
We'll need to support MIT-licensed sims. We'll want to investigate what potential code changes there would need to be for sims (and for things like the website/metadata).

[2018-07-05 17:08] jessegreenberg commented on #687
Weird! I am also not able to reproduce in master or in https://phet-dev.colorado.edu/html/faradays-law/1.4.0-jump.2/phet/faradays-law_a11y_view.html, where this bug was also noted in https://github.com/phetsims/faradays-law/issues/109.

The focusable items are shifted and stacked vertically along the side of the simulation, it looks like the browser is trying to scroll down to those items when the

[2018-07-05 17:21] zepumph commented on #687
It would also be good, if you can reproduce, to test if it occurs in the normal iframe sim, https://phet-dev.colorado.edu/html/faradays-law/1.4.0-jump.2/phet/faradays-law_all_iframe_phet.html

[2018-07-05 18:05] mbarlow12 commented on #687
Hmm - this might be specific to FF on Arch. I'll investigate further.

[2018-07-05 18:59] jonathanolson commented on #551
I'll look into babel-polyfill to see if we can get Map/generators, and how much space it would take (if we can get less than 100kB) and will discuss with @ariel-phet next week.

[2018-07-05 21:59] jessegreenberg commented on #687
Might just be Firefox, we can  see it again here, outside of the a11y view:
https://github.com/phetsims/resistance-in-a-wire/issues/160

[2018-07-05 22:50] jessegreenberg commented on #687
@mbarlow12 thanks for pointing this out, this was indeed a bug on all Firefox. I think it is fixed in master, can you please verify?

[2018-07-05 22:59] mbarlow12 commented on #687
I noticed that it is related to PDOM content. When I remove all a11y content from a Node/AccessibleSectionNode/etc... the bug no longer occurs.

[2018-07-05 23:03] jessegreenberg commented on #687
That makes sense since the PDOM would be short enough to fit in the Display bounds.

[2018-07-05 23:04] mbarlow12 commented on #687
I'm seeing it Ohm's Law and RIAW in and out of the a11y view.

[2018-07-05 23:11] jessegreenberg commented on #687
Here is the issue related to this, that introduced the regression: https://github.com/phetsims/scenery/issues/822

[2018-07-05 23:32] jessegreenberg commented on #687
On slack @mbarlow12 said

My fault for not indicating the fix was located in scenery in  https://github.com/phetsims/chipper/issues/687#issuecomment-402874648. But this issue can be closed.

[2018-07-05 23:32] #687 closed

[2018-07-06 15:24] mattpen commented on #689
@jonathanolson - We currently store whether a given sim is covered by cc-by license in the database and it is hard coded that all sims are covered by GPL license.

Currently there are only 4 sims NOT covered by cc-by:

[code]

We could fairly easily add another field into the database for MIT license (and GPL if MIT sims are not compatible with GPL) and add methods to toggle them from the administ

[2018-07-06 20:44] jonathanolson commented on #689
Yes, we probably want flags for each license that something is released under (since we are presumably NOT releasing the new sims under GPL, we wouldn't want that to show up). So basically 3 flags (cc-by, gpl, mit).

Do we need a way for a sim lead to change the license options? Should this be something automated?

[2018-07-10 21:43] pixelzoom opened #690 "add color option to phet.log"
All log messages are currently green '#009900'.   Since phet.log doesn't have levels, it would be nice to be able to sometimes emphasize a log message using color.   We discussed this on Slack, and the consensus was to use options to specify the color.

Proposed implementation in initialize-globals.js:

[code]

[2018-07-10 21:47] pixelzoom commented on #690
Examples in Chrome console:

![screenshot_690](https://user-images.githubusercontent.com/3046552/42539472-6ef85590-8458-11e8-9fd5-5c5cec6ed748.png)

@zepumph was randomly selected to review.

[2018-07-10 22:16] zepumph commented on #690
looks great thanks.

[2018-07-10 22:16] #690 closed

[2018-07-11 20:54] pixelzoom commented on #551
It was also proposed at 7/5/18 dev meeting that we start by introducing ES6 into sim-specific code, to evaluate and identify issues.  And in the meantime keep ES6 out of common code.

[2018-07-11 23:12] samreid commented on #689
Would it be sufficient for the manual step to be committing the LICENSE file, then if any steps need to be automated, they could use that as "ground truth"?

[2018-07-12 16:10] jonathanolson commented on #551
I've looked into the polyfills, and it looks like it may be beneficial to use a custom build of core-js to polyfill only the features we want polyfilled (less file size, and lower chance of things breaking). Adding in the other part of babel-polyfill (basically the regenerator-runtime, for generators) could be done if we are interested in including generators, but it could potentially be omitted (

[2018-07-12 18:13] jonathanolson commented on #551
Trying to do a custom build is failing so far, and doesn't seem to be documented well.

So, would Map/Set/Promise/etc. be worth ~100kB?

[2018-07-12 18:26] pixelzoom opened #691 "evaluate how ES6 is working out"
From https://github.com/phetsims/chipper/issues/551#issuecomment-404606004:

[2018-07-13 21:49] samreid commented on #551
Sam Reid [3:21 PM]
It seems @pixelzoom has SHAs for EqEx, can I merge chipper es6 branch to master for https://github.com/phetsims/chipper/issues/551#issuecomment-404606004 ?

Jonathan Olson [3:22 PM]
Sure. If you merge it, can you record how you modify Intellij so that the language level works fine for inspections/etc.?

Chris Malley [3:23 PM]
RCs are published for all EqEx sims, so you may proce

[2018-07-13 22:03] samreid commented on #551
There are no merge conflicts, and aqua tests show now systemic problems.  I'll push and monitor Bayes CT for issues.

[2018-07-13 22:07] samreid commented on #675
Merged to master, deleting branch and closing.

[2018-07-13 22:07] #675 closed

[2018-07-14 04:35] samreid commented on #691
While working on https://github.com/phetsims/wave-interference/issues/78 I noticed that `inherit` can apparently not be used to extend a `class` even though it is a function.

![image](https://user-images.githubusercontent.com/679486/42720732-361ed3e0-86ea-11e8-9694-b75de8334f10.png)

This error was: `Uncaught TypeError: Class constructor EmitterNode cannot be invoked without 'new'`

I also tried

[2018-07-14 13:51] samreid commented on #691
When using the `constructor` feature, IDEA no longer autocompletes `/*@constructor*/` when adding JSDoc.  It seems redundant to repeat constructor twice:

[code]

So I recommend we remove the `/*@constructor` for cases like this, and will do so in https://github.com/phetsims/wave-interference/issues/78

[2018-07-16 16:00] pixelzoom opened #692 "allow dev deploys from release branches"
After chatting with @jonathanolson, my understanding is that it's currently not possible to do a dev deploy from a release branch.   This is problematic, since I have historically published a dev version to review fixes/changes that are done in a release branch.  Yes, I could publish an RC version to do this, but that's not the purpose of an RC version, and could be confusing when maintainers look

[2018-07-18 00:01] ariel-phet opened #693 "Projector Mode query parameter?"
In https://github.com/phetsims/chipper/blob/master/js/initialize-globals.js I see the following

[code]

What would the query parameter for projector mode look like in this case, would it be `?colorProfile=projector` ?

We are going to start revealing some query parameters in teacher tips, and this might be a nice one for teachers to have at their disposable so they can just load the sim in that m

[2018-07-18 01:53] pixelzoom commented on #692
An RC is a "release candidate", a candidate that you're actually considering releasing publicly.  When I have a specific issue to test or potential solution to run past someone, it is not at all being considered for release -- it is a dev version that is being used to demonstrate something that may or may not work out.

[2018-07-18 15:38] pixelzoom commented on #692
Labeling with meeting:developer for other devs to weigh in.

[2018-07-19 01:13] Denz1994 commented on #688
I've haven't had any of these unintentional commits lately. Either way, these changes can be viewed prior to committing (as seen in the past) and should be ignored before committing.

[2018-07-19 01:13] #688 closed

[2018-07-19 15:59] jessegreenberg commented on #692
I agree we should allow dev deploys from release branches.

[2018-07-19 16:30] jonathanolson commented on #692
Would version auto-incrementing just up the test number every time? So if you have `1.4.0-dev.1` and then do an RC it would be `1.4.0-rc.2` (even though there was never an rc.1)?

[2018-07-19 16:33] jonathanolson commented on #693
Yes, that works on molecule-shapes. We'd probably want to check all of our color profiles.

[2018-07-19 17:30] pixelzoom commented on #692
Numbering is indeed the natty issue.  It would be ideal to keep the dev and rc numbering separate.

[2018-07-19 17:33] pixelzoom commented on #693
Related note, probably worth of its own issue... In a previous dev meeting, we noted that we should document each query parameter as either "internal use only" or "public facing".   That apparently still needs to be done for initialize-globals.js, and probably for most sim-specific query parameters.

[2018-07-19 18:34] samreid commented on #693
See also https://github.com/phetsims/joist/issues/342 for discussion about color profile support.

[2018-07-19 18:52] samreid commented on #691
Meeting discussion:

* es6-paths already deleted
* Set IDE to ES6
* disable inspections based on developer preference
* honor system to keep ES6 out of common code.

@jonathanolson says sublime already deals with ES6 nicely

[2018-07-19 19:07] samreid commented on #692
@jonathanolson points out you could use a "one-off" deployment process to handle this.  That would involve creating a new branch from the production branch though.

After discussion, we would like to use `grunt rc` for this.  We can communicate with design team members about the fact that it is a dev version masquerading as an RC version.  We can keep notes about this using `grunt --message="..."`

[2018-07-19 19:07] samreid commented on #692
Reassigned to @jessegreenberg to review.  @jessegreenberg after you review, you can close if it all seems OK.

[2018-07-23 14:51] samreid commented on #691
Should we use function defaults instead of options?  For instance:

[code]

vs

[code]

IDEA wants to collapse the blank lines in the lower version.

[2018-07-23 22:37] jonathanolson commented on #691
Above it seems really weird to document the parameters NOT in the JSDoc. Also this isn't scalable, since if you have 20 options...

[2018-07-24 21:52] jbphet commented on #693
I looked through the code and found eight sims that support projector mode.  I tested the query parameter (`colorProfile=projector`) on the published and master versions.  Here are the results:

Sim | Works on Published Version | Works on Master Version
--- | --- | ---
atomic-interactions | no | no
charges-and-fields | no | yes
coulombs-law | n/a (unpublished) | yes
gravity-and-orbits| yes| yes
mo

[2018-07-24 23:50] jessegreenberg commented on #693
@jbphet https://github.com/phetsims/rutherford-scattering/issues/141 has been fixed.

[2018-07-26 17:58] chrisklus commented on #691
7-26-18 dev meeting:
* Use new features on new code, no plans to go back through old code
* Honor system for keeping ES6 out of common code

[2018-07-26 18:26] jonathanolson opened #694 "_all.html with an unsupported locale should use fallbacks"
Uses the standard fallback process for locales. Currently hard-errors, e.g. http://phet.colorado.edu/sims/html/equality-explorer/1.0.0/equality-explorer_all.html?locale=no.

[2018-07-26 18:42] jonathanolson commented on #694
Built a sim now (equality-explorer), and it seems to support fallback properly (unknown locale => en, vi_MX => vi, etc.)

@ariel-phet, what type of testing/review should this go through? It's a moderately core part of how strings work.

[2018-07-27 19:39] ariel-phet commented on #694
@jonathanolson I think it should definitely be reviewed and tested.

Perhaps talk to @jbphet about review, since he is the most familiar, and then we can have QA do some testing.

[2018-07-27 21:39] zepumph commented on #680
I think this should be done before stable api release.

[2018-07-27 21:41] zepumph commented on #680
By this do you mean a script that will take the perennial list (that phetmarks uses) and commit it to chipper (which uses it on build) every so often? If so I think this is the best idea yet, as long as it is well documented. Marking for dev meeting, even though I will not be attending the next onw.

I

[2018-07-27 22:44] zepumph commented on #673
This is fixed. Closing

[2018-07-27 22:44] #673 closed

[2018-07-31 17:35] jonathanolson commented on #694
@jbphet can you check the above commit?

[2018-07-31 20:49] samreid commented on #691
I found that profiling a babel-transpiled sim is different than profiling a non-babel sim.  It looks like babel is packing functions into key/value objects:

![image](https://user-images.githubusercontent.com/679486/43486218-713e1afa-94d0-11e8-8cd4-cf0f2fcb677e.png)

It looks like functions from a class prototype which are coded like this:
[code]
Get transpiled like this:

[code]

I'm not sure whe

[2018-07-31 20:58] samreid commented on #691
From slack:

Sam Reid [2:51 PM]
Babel transpile has implications for profiling, I took some notes here: https://github.com/phetsims/chipper/issues/691#issuecomment-409362885

Jonathan Olson [2:52 PM]
hmm, interesting. I wonder if there are flags we can provide that would give us better debugging information?

Sam Reid [2:52 PM]
Maybe something to name those anonymous functions?
key: “decayVertical

[2018-07-31 21:29] samreid opened #695 "Chipper has 40 TODOs"
While working on https://github.com/phetsims/phet-io-wrappers/issues/116, I noticed that chipper has 40 TODOs (22 in the js/ directory).  Thanks to https://github.com/phetsims/tasks/issues/942 here is a plot of Lines of Code and TODOs x 100 (in js/) vs time:

![image](https://user-images.githubusercontent.com/679486/43488210-297037b6-94d6-11e8-8f19-1106236cab23.png)

Assigned to @ariel-phet so he

[2018-07-31 23:08] ariel-phet commented on #695
To me it will depends a fair bit on the nature of the TODO's

Marking for quick discussion at dev meeting (where I will likely assign a lucky volunteer to do a quick review who's name is not @jonathanolson)

[2018-08-01 17:10] jbphet commented on #694
The code change looks reasonable.  I also tested this by first duplicating the issue on the currently live all_HTML file for acid-base-solutions, which is v1.2.12.  I used the locale "zz", and indeed, it failed to load.  I also tested "es_ZZ", since I noticed that the new code has a fallback for going to just the language code if the full locale isn't found (and "es" is supported for this sim).  I

[2018-08-01 21:29] jonathanolson commented on #694
Sounds good. It probably didn't have the comment, since it gets included straight into the HTML without minification or anything. Thanks for the review!

[2018-08-01 21:29] #694 closed

[2018-08-02 04:30] samreid commented on #680
Can phetmarks use a list defined in chipper instead of perennial?  It seems the list of wrappers must be in chipper so it will "version" with the rest of the code.

[2018-08-02 04:41] samreid commented on #691
From slack:

Jesse Greenberg [12:52 PM]
Running a sim with es6 on an iPad2 I am seeing "Unexpected keyword 'const'. Const declarations are not supported in strict mode."

Jesse Greenberg [1:00 PM]
Built version is running great. I had thought that IE11 was the only platform that could no longer run RequireJS but I was mistaken.

Michael Kauzmann [1:52 PM]
Is there a master list of platform/environ

[2018-08-02 17:10] jonathanolson commented on #680
Yes, but it has been annoying checking out older sims and not being able to use phetmarks. Should we think about backwards-compatibility with it?

[2018-08-02 17:12] samreid commented on #680
Perhaps the natural solution is to check out correspondingly older phetmarks?  Should we record its SHAs?

[2018-08-02 19:16] ariel-phet commented on #695
@mattpen will do a 1 hour review and look at the nature of these. If he feels any are pressing and deserve an issue he will create a github issue and assign me.

[2018-08-02 20:17] mattpen opened #696 "Remove chipper/java"
@samreid said:

[2018-08-02 20:47] mattpen opened #697 "Remove getVersionForBrand.js"
In getVersionForBrand.js there is the following comment:

[code]

It appears that whatever was needed was merged to master and that this should be removed.  The function is never called (at least that I can determine), but this file is still included in preloads in chipper/build.json and in every instance of {{sim-name}}/{{sim-name}}_en.html.

It seems to me it can be removed, but can @jonathanols

[2018-08-02 21:44] mattpen commented on #695
I pared this down to 25 usages in code that still need to be addressed.  There are 8 comments regarding improving lint rules, and the rest concern missing documentation or low-priority/no-priority refactoring of code.  The remainder were either handled or have open issues attached.

[2018-08-03 22:48] jbphet commented on #697
I'm seeing a usage in `packageJSON.js` in joist, but I think that can and should be removed since it would appear that the statement has no effect.

[2018-08-06 15:27] pixelzoom commented on #691
Before I go creating ES6+ code...   What is the resolution to https://github.com/phetsims/chipper/issues/691#issuecomment-409803686?  Are we going to proceed and live with the inability to test in requirejs mode on iOS 9?

[2018-08-06 15:33] samreid commented on #691
It would probably be best to build before testing on iPad 2 to eliminate memory and performance red herrings anyways.

[2018-08-06 15:45] pixelzoom commented on #691
I agree for memory and performance testing.  But for general iterative debugging, having to build in order to test will be super inconvenient, and will slow the iterative process considerably.   And as iOS9 ages, it has required such iterative testing (based on recent experience with Equality Explorer.)

[2018-08-06 16:25] samreid commented on #691
To clarify on the above point, builds using `time grunt --lint=false` of Equality Explorer on my machine are currently taking around 33 seconds:

0m27.330s
0m33.841s
0m26.006s

I expect on other machines this could be around a minute.  So if you build this 60 times per day, it could cost an hour or so plus overhead from losing train of thought, etc.

[2018-08-06 16:27] pixelzoom opened #698 "how to `grunt published-README` for 1.0 release branch?"
I recently noticed that `grunt published-README` is not occurring for the 1.0 release branch.  See for example https://github.com/phetsims/gene-expression-essentials/issues/122#issuecomment-407152021, https://github.com/phetsims/area-model-common/issues/165, https://github.com/phetsims/circuit-construction-kit-dc/issues/174.

In https://github.com/phetsims/gene-expression-essentials/issues/122#iss

[2018-08-06 18:11] pixelzoom opened #699 "`grunt dev` fails after incrementing version number"
`grunt dev` fails if the remote has changes that you don't have locally, but not until _after_ it has incremented and pushed the version number.  I have no local changes.

Two questions:

(1) Should it be possible to publish without consulting remote changes?
(2) Should we check for remote changes (and other possible conflicts?) before incrementing version number?

Example:

[code]

[2018-08-06 18:26] jonathanolson commented on #697
Implemented, closing.

[2018-08-06 18:26] #697 closed

[2018-08-07 18:45] #695 closed

[2018-08-07 21:34] ariel-phet commented on #693
@jbphet considering that all sims now work in master, I think this issue can now be closed. No immediate plans to share this parameter with teachers.

[2018-08-07 21:34] #693 closed

[2018-08-08 13:00] samreid opened #700 "Are you using the CU Boulder network (on campus or via VPN)? [y/N]? comes too late"
From #699, the "Are you using the CU Boulder network (on campus or via VPN)? [y/N]?y" message comes too late.  If you are not using VPN, you never get to that message.

[2018-08-08 22:15] jonathanolson commented on #677
Maintenance deploys finished.

[2018-08-08 22:15] #677 closed

[2018-08-09 03:44] ariel-phet commented on #683
Requesting a volunteer....

[2018-08-09 03:52] samreid commented on #679
I tested by running grunt for faraday's law, then visually inspected faradays-law/build/phet/faradays-law_all_phet_debug.html and it looked good.

This code:

[code]

combined with
[code]

means assertions are always enabled for this, even without a query parameter.

I inspected faradays-law/build/phet-io/faradays-law_all_phet-io_debug.html and found it was minimized, but assertions were not strip

[2018-08-09 03:52] #679 closed

[2018-08-09 14:16] samreid commented on #644
I added args to updateCopyrightDates in the preceding push.  I do not have time right now to refactor the entire function to act on one file at a time, but I did add the `sourceRoot` and `predicate` arguments, so it should work for the config files.  @jonathanolson at your convenience can you review and apply to the part that updates the config files?

[2018-08-09 14:28] samreid commented on #661
@zepumph do you think you could work on this?  Not sure about how long it would take or what the priority should be.

[2018-08-09 16:18] jonathanolson commented on #680
Could consider it, I'm not sure.

[2018-08-09 16:20] jonathanolson commented on #683
Looks like a duplicate of https://github.com/phetsims/chipper/issues/697 which I fixed earlier this week. Closing.

[2018-08-09 16:20] #683 closed

[2018-08-09 16:21] jonathanolson commented on #691
For memory-limited or slower device (like iPads), I've done builds for testing anyways, so this wouldn't affect me.

[2018-08-09 16:31] jonathanolson commented on #698
This is something that I hadn't thought of during the chipper 2.0 work, but @pixelzoom's argument for the correctness of the release branch resonates with me. I thought I had an issue assigned to me to update this (which I can't find), but I'd like to have this generation done during production deploys.

[2018-08-09 16:34] jonathanolson commented on #699
There are a few options:

- Dev deploys pull master first? Presumably we'd need to pull all dependencies too to be consistent, and it seems like things could "suddenly" break.
- Dev deploys check for whether the sim repository is out-of-date, and fail out if so.

I'd prefer the "fail out" option personally, with a helpful message.

[2018-08-09 16:37] pixelzoom commented on #699
+1 for the "fail out" option.

[2018-08-09 17:58] jonathanolson commented on #644
Refactored in the above commit, and added the copyright update to config updates. @samreid can you review?

I'll leave myself assigned so I can regenerate configs with proper copyright dates.

[2018-08-09 18:47] ariel-phet commented on #691
This ship has sailed, we are using ES6+ so we will close this issue and open up ES6 specific issues

[2018-08-09 18:47] #691 closed

[2018-08-09 18:48] samreid opened #701 "Should we add sourcemaps?"
From #691

From slack:

Sam Reid [2:51 PM]
Babel transpile has implications for profiling, I took some notes here: https://github.com/phetsims/chipper/issues/691#issuecomment-409362885

Jonathan Olson [2:52 PM]
hmm, interesting. I wonder if there are flags we can provide that would give us better debugging information?

Sam Reid [2:52 PM]
Maybe something to name those anonymous functions?
key: “de

[2018-08-09 19:01] jonathanolson commented on #698
I'll do the version bump commit first, THEN readme, then the other commits.

I'll update the master checklist.

[2018-08-09 19:02] ariel-phet commented on #698
When @jonathanolson has done this, alert me and I will update the master checklist

[2018-08-09 19:09] jonathanolson commented on #701
Should we add this to https://github.com/phetsims/chipper/issues/602?

[2018-08-09 19:44] jonathanolson commented on #698
Slight complication in that the generation task name was renamed in https://github.com/phetsims/chipper/commit/9026d37e0757eb0d43ebf444c6d86296b786f214. It will try `grunt published-README` first, then `generate-published-README`.

[2018-08-09 19:45] jonathanolson commented on #698
Also as part of this issue, I'll run it through all of the release branches and update the READMEs.

[2018-08-09 19:54] jonathanolson commented on #698
Will be running this temporary script:
[code]

[2018-08-09 22:07] jonathanolson commented on #699
Implemented. @pixelzoom feel free to verify or just close.

[2018-08-09 22:14] jonathanolson commented on #674
This is being done already now (as part of another issue I believe).

[2018-08-09 22:14] #674 closed

[2018-08-09 22:15] jonathanolson commented on #678
Also @ariel-phet, in addition to deciding about a potential review, should we have locale-specific XHTML files also? Or is the all-locale version currently used sufficient?

[2018-08-10 15:52] samreid commented on #644
I skimmed the change set, and tested with `grunt update` and `grunt update-copyright-dates`.  All seems well, thanks!  Closing.

[2018-08-10 15:52] #644 closed

[2018-08-11 00:34] jonathanolson commented on #700
Was handled in https://github.com/phetsims/perennial/issues/98.

[2018-08-11 00:34] #700 closed

[2018-08-11 19:51] #699 closed

[2018-08-13 19:01] ariel-phet commented on #678
@jonathanolson these are all good questions. I am going to mark for dev meeting since it seems various expertise might be good to weigh in here.

[2018-08-14 18:42] zepumph commented on #661
The current way we leak these wrappers into every build is sloppy, but it isn't damaging anything, or (to the best of my knowledge) creating downstream headaches. I would say this is low priority work, to be done after FL stable release.

[2018-08-14 19:05] zepumph commented on #680
I'm ok not supporting phetmarks when older sims are checked out. For the most part we can just go to the index wrapper to navigate to what is needed.

(not advocating for this) The other option would probably be like you said, to keep phetmarks as part of the dependencies, so that it is always in sync with the phet-io wrappers/chipper shas. In my mind the index wrapper is already filling that nich

[2018-08-20 16:28] pixelzoom opened #702 "lint rule to detect attempt to extend Object"
`class Foo extends Object` results in different behavior between requirejs and built html files.  If you add methods to Foo, they will run fine in requirejs mode, but will be stripped out in builds.  See for example https://github.com/phetsims/graphing-quadratics/issues/13.  Babel is probably transpiring this incorrectly.  But in any case, it's not necessary to extend Object.   So we should have a

[2018-08-20 17:00] pixelzoom opened #703 "change bad-text.js rule to do text search"
bad-text.js (despite it's name and documentation) doesn't do a text search. It only looks at identifiers and literals.  But for the strings that it's currently looking for, there's no reason why it shouldn't do a text search.  E.g. if we've standardized on "checkbox", then there is no reason to use "checkBox" _anywhere_ in source code.   So recommended to change to a full text search via something

[2018-08-20 17:00] pixelzoom commented on #702
Deferring until we address #703.

[2018-08-20 17:01] pixelzoom commented on #703
@samreid I haven't written lint rules, so need some help with this. Let me know when you're available.

[2018-08-21 04:28] pixelzoom commented on #703
Inspected the code, looks great. Tested by putting `GCViewProperties extends Object` and `// CheckBox!` in my graphing-quadratics code, then running `grunt lint`.   Lint errors were reported as expected. Thanks! Closing.

[2018-08-21 04:28] #703 closed

[2018-08-21 04:28] pixelzoom commented on #702
@samreid addressed this in #703. Closing.

[2018-08-21 04:28] #702 closed

[2018-08-23 14:10] samreid opened #704 "57 occurrences of " the the ""
Based on https://github.com/phetsims/masses-and-springs/issues/253#issuecomment-415296336 I checked for " the the " and found more than expected.  I'll tidy them up shortly and add a lint rule to forbid it in the future.

[2018-08-23 14:18] samreid commented on #704
Jackpot!  I just found a triple the in AlphaParticle: `the the the`.

[2018-08-23 15:20] jonathanolson opened #705 "More optimized encoding for assets"
Currently we use the base64 encoding for assets (images, audio, etc.) since it was simple (and we need that form as output. It should be possible to use more space-efficient encodings, that then can be decoded and converted to the base64 during runtime.

The downsides are that this might slow down the launch of a sim (even if it makes the download faster), and it's unclear how much we might gain f

[2018-08-23 18:27] jonathanolson opened #706 "XHTML builds under phet-io brand have the incorrect suffix _phet"

[2018-08-23 18:28] samreid commented on #678
Consensus: Developers can use `?locale` query parameter for the all xhtml.  We do not need to create language-specific xhtml files.  I'll take a review.

[2018-08-23 18:45] pixelzoom opened #707 "bad URL for phet-io deploy"
[code]

The phet-io path here does not exist, https://phet-dev.colorado.edu/html/molarity/1.4.2-rc.1/phet-io/wrappers/index.  Perhaps this should be https://phet-dev.colorado.edu/html/molarity/1.4.2-rc.1/phet-io ?

I didn't check whether the same problem exists for `grunt dev` and `grunt production`.

[2018-08-23 19:31] samreid commented on #705
If we can get Apache doing the gzip itself in https://github.com/phetsims/website/issues/482, then it would not help (and would actually hurt) to change from base64 encoding.

[2018-08-23 19:33] #705 closed

[2018-08-23 19:34] pixelzoom commented on #705
8/23/18 dev meeting consensus: Do nothing, focus on Apache gzip.

[2018-08-23 20:07] #706 closed

[2018-08-26 22:09] samreid commented on #602
From #701

Sam Reid [2:51 PM]
Babel transpile has implications for profiling, I took some notes here: #691 (comment)

Jonathan Olson [2:52 PM]
hmm, interesting. I wonder if there are flags we can provide that would give us better debugging information?

Sam Reid [2:52 PM]
Maybe something to name those anonymous functions?
key: “decayVertical”,
value: function(i0, sign, width) {

would become

key:

[2018-08-26 22:09] samreid commented on #701
I added this discussion to #602, closing.

[2018-08-26 22:09] #701 closed

[2018-08-27 14:47] samreid commented on #678
I did `~/github/faradays-law$ grunt --brands=phet` and uploaded the XHTML to https://validator.w3.org/check and saw:

![image](https://user-images.githubusercontent.com/679486/44664986-0b24fd80-a9d2-11e8-9ed3-0aa6405b7ec8.png)

I tried converting to EPUB following these steps: https://stackoverflow.com/a/4404159 and opening in iBooks, but nothing happened.

I tried `~/github/faradays-law/build/phe

[2018-08-27 14:59] samreid commented on #678
I reviewed all of the changes in https://github.com/phetsims/chipper/commit/9f6172d00a9150bad952f6357742c95f4fd211d9 and https://github.com/phetsims/chipper/commit/ba6586b061679b346b169c9d5b811406c1c24b36 and everything looks to be in good shape.  I think we should figure out how to test our XHTML in EPUB context, but I'm not sure how to do so (see prior comment).  Perhaps @jonathanolson has a sug

[2018-08-27 22:02] jonathanolson commented on #678
I really don't know how to embed it either. Our partner did not specify how to embed content, and I think they have their own process. @ariel-phet should I look into creating ePubs of simulations?

[2018-08-28 18:33] jonathanolson commented on #707
Was handled in https://github.com/phetsims/perennial/commit/2d62f5413dfa1a9c03dfab978a5569b0d261b039 for production.

[2018-08-28 18:34] jonathanolson commented on #707
It's not auto-tagging, but https://github.com/phetsims/perennial/commit/fcddb00fad47d7a025a9c49f4c013769a0fe90ca handles the other deployment styles.

@pixelzoom can you verify or close?

[2018-08-30 19:04] zepumph commented on #680
At dev meeting today, we decided that we are ok with phetmarks not working when we check out old shas.

From here we will move the wrappers list from perennial to chipper, so they aren't replicated and we will still have reproducible builds

[2018-08-31 00:55] zepumph commented on #680
Implemented above, @samreid will you please give it a spot check. Usages include login wrapper and phetmarks.

[2018-08-31 17:42] pixelzoom commented on #707
I did a phet-io production deploy of molarity and the paths looked correct. I trust that they are also correct for rc and dev deploys.  Closing.

[2018-08-31 17:42] #707 closed

[2018-09-04 00:58] samreid commented on #680
I reviewed the commits and everything seems reasonable.  It also made me realize we should be testing the login wrapper, at least for RCs.  I'll create a new issue for that.  @zepumph OK to close this issue?

[2018-09-04 16:05] #680 closed

[2018-09-06 00:26] ariel-phet commented on #698
Changed in checklists. Closing

[2018-09-06 00:26] #698 closed

[2018-09-06 17:51] ariel-phet commented on #678
@jonathanolson @samreid at the moment there is only one client using this functionality, and they appear to be doing custom things with the deliverable in terms of embedding. For the moment, the client seems happy, I think we will punt on further work at the moment since the use case is currently small. I don't think we yet need to look into creating ePubs. Closing.

[2018-09-06 17:51] #678 closed

[2018-09-15 00:38] zepumph opened #708 "[production deploy] Ask about QA credits after checking out the branch?"
This is but a small potential improvement on the current production deploy process. I was just noticing that  that the note about QA credits are asked before we have checked out the repo branch, thus if you say no, then you still have to checkout the appropriate branch to edit the `main`. Perhaps if we checked out the branch first, then if we say "no, qa credits aren't up to date," then we are rig

[2018-09-17 22:26] jbphet opened #709 "Rename the "audio" RequireJS plugin to "sound""
The terminology being used for sound in PhET simulations is evolving.  We are now using the term `audio` to mean all sound creating through a user's interaction with a simulation, including narration from a screen reading.  The term "sound" is now being used for sound effects and synthesized sounds that are played by the simulation using the sound manager from the tambo library.  With this in mind

[2018-09-17 23:07] jbphet commented on #709
Here is a Slack dialog that occurred while I was working on this:

[code]

[2018-09-17 23:52] jbphet commented on #709
Dang!  I neglected to reference this issue in the first big commit for this.  If we ever need to track down the commits (which went to logs of repos), they were done around 5:15 PM today, 9/17/2018, and the commit message was 'renamed "audio" plugin to "sound"'.

[2018-09-18 23:33] pixelzoom opened #710 "problems with `grunt report-media`"
The task is implemented in reportMedia.js.  Problems include:

- [x] Does not support subdirectories in media directories.  This is failing for function-builder, which has images/cards/ and images/functions/.  A comment in reportMedia.js indicates that support for subdirectories was intended: `// Iterate over all media directories, such as images and sounds recursively`.

- [x] Would be nice if it

[2018-09-18 23:36] pixelzoom commented on #710
For whoever gets to work on this... Documentation for `grunt.file.recurse` can be found at https://gruntjs.com/api/grunt.file#grunt.file.recurse.

[2018-09-19 02:32] ariel-phet commented on #710
I probably need a bit of discussion to better understand priority and such. Marking for dev meeting

[2018-09-20 03:15] samreid commented on #710
A better approach would be to delete `reportMedia.js` and move its unique functionality (of searching for stale entries in the license.json files) to run along side the license checking that already happens during each `grunt` build.  That will help us automatically track the license.json files on a repo-by-repo basis instead of having to remember (or run a cron job) a supplementary task like `gru

[2018-09-20 18:13] jonathanolson commented on #710
I don't believe this is used during builds.

[2018-09-20 19:00] ariel-phet commented on #710
Assigning to @Denz1994 (with some support from @jonathanolson) to work on after CL:B and Masses and Springs:Basics is to QA phase.

[2018-09-21 17:39] jbphet commented on #709
This is done, and I've tested builds without sounds, builds with sounds, license generation, and a number of other things that I felt could be affected by this.  So far at least, it all looks good.  Closing.

[2018-09-21 17:39] #709 closed

[2018-09-25 12:49] samreid opened #711 "Update dates in copyright statements"
In https://github.com/phetsims/chipper/issues/403#issuecomment-331214524 I said:

It's next year now, self assigning to address this.

[2018-10-01 07:33] ankitakhangar commented on #578
npm notice created a lockfile as package-lock.json. You should commit this file.

[2018-10-01 19:29] chrisklus opened #712 "Remove ChipperStringUtils.endsWith"
@samreid and I were looking around for an endsWith() function and noticed that ChipperStringUtils has one that's different from endsWith() in StringUtils, and not what we expected. It's also not being used as far as we can see, so we would like to remove it.

[2018-10-01 19:37] chrisklus commented on #712
After a test build of faraday's law phet-io, everything still seems to be working, so @samreid and I are satisfied enough to close.

[2018-10-01 19:37] #712 closed

[2018-10-10 15:20] jessegreenberg opened #713 "Improve a11y view layout so alerts are visible"
@KatieWoe said that when using the a11y view to see descriptions/alerts to verify AT behavior that the alerts box wasn't easy to read because it is pushed off screen. One way to always see alerts is to "zoom out" on the web document so things are smaller, but it would be nice if we could change the layout so that alerts are always visible.

[2018-10-11 19:04] pixelzoom opened #714 "add 'fuzz' query parameter"
10/11/18 dev meeting:

Add 'fuzz' query parameter (as a convenience) to initialize-globals.js.

Initially, this will be equivalent to `?fuzzMouse&fuzzTouch`.   We'll consider adding `fuzzBoard` later.

Let QA and other devs know when this is done.

Assigned to @jonathanolson, with @Denz1994 to ride along.

[2018-10-12 20:12] mbarlow12 opened #715 "Update to RequireJS string plugin"
After some discussion, @zepumph , @jessegreenberg , and I think that implementing accessibility presents some new challenges with how we manage strings, namely in the volume of declarations currently required. For example, BASE has ~280 lines declaring strings, both for a11y and with `require`.  We’re guessing that as we implement a11y features for more complex sims, this number will likely grow,

[2018-10-12 20:21] zepumph commented on #715
Marking with an a11y label, but this would and could apply to all strings. I think you covered it all @mbarlow12.

[2018-10-15 18:29] Denz1994 commented on #714
The above commits include changes to most usages of `fuzzMouse` and `fuzzTouch` to instead use `fuzz`. The new `fuzz` query parameter fires touch and mouse events. These changes were made along with @jonathanolson and Bayes CT was restarted to apply the above changes.

[2018-10-15 18:33] Denz1994 commented on #714
CT will run automated testing after these changes. If there are any issues related to these commits that come up we will reopen. Closing.

[2018-10-15 18:33] #714 closed

[2018-10-15 19:40] pixelzoom opened #716 "accessibility vs a11y query parameter"
Based on Slack conversation:

- `?accessibility` is intended for internal use, not public facing
- some team members (myself, @arouinfar, others?) typically try `?a11y`

Would it make sense to change the query parameter to 'a11y'? Or provide 'a11y' as an alias?

[2018-10-18 02:15] samreid commented on #715
Not 100% sure something like this is warranted.  Some thoughts:

0. Just to make it clear what is at stake--here is a snippet that loads strings in BalloonLocationDescriber.js (one of the files with a relatively large amount of strings for this sim).

[code]

1. Balloons and Static Electricity is currently at 10619 lines of code.  280 lines of string declarations would be less than 3% of this numb

[2018-10-18 03:59] pixelzoom commented on #715
Thoughts...

(1) Do something that works for all strings, and is not specific to a11y.

(2) Continue to support `require` of individual strings.  The approach that we've been using should continue to work.

(3) Create a new plugin that reads the string file into an object.  Let's not overload the existing `string!` plugin.

(4) Read the string file once.  Subsequent calls should return a cached ob

[2018-10-18 14:49] samreid commented on #715
Our current system prunes or "treeshakes" out the unused strings.  Is that an important feature going forward?  What if scenery-phet or sun start accumulating numerous a11y strings?

Does the requirejs "text!" plugin automatically cache?  Also, here's an MIT json plugin if we want to look at it or leverage it: https://github.com/millermedeiros/requirejs-plugins/blob/master/src/json.js

[2018-10-18 15:23] mbarlow12 commented on #715
@pixelzoom I hadn't mentioned those ideas, but it was discussed in the a11y developer meeting. We all agreed that it would be ideal.

@samreid I'd also noticed that we weren't using the json plugin you linked; it could likely be really useful if we decide to move forward with something like this. Regarding:

I don't think rosetta would need any major overhaul if we're treating all strings the same

[2018-10-18 16:19] jonathanolson commented on #715
The non-nested form of this would be pretty easy to support currently (I believe we pretty much create the desired JSON structure or something like it in memory).

Nesting will be somewhat complicated for rosetta (and figuring out what needs translation). Also it seems like if anyone ever names a string key `value` things will go horribly wrong. I'm not convinced of the advantages, namely that we'

[2018-10-18 19:01] mbarlow12 commented on #715
Agreed on the difficulty of properly handling/translating nested JSON structures, but I don't want to get hung up on that as I see the real advantage as using a single require statement for the strings.

Would it be possible to handle this in a custom linting rule?

[2018-10-18 19:29] mbarlow12 commented on #715
From dev meeting 10/18/18:

- rosetta collects data on what strings are needed for translation
- potential issues around requiring strings from common components vs sim code
  - JO proposed `SceneryPhetStrings.getString( 'key' )` or similar API
- AP: may be useful to table until is becomes a larger issue
- continue discussion once JB returns

[2018-10-23 14:33] jessegreenberg commented on #716
I added a11y as an alias for the accessibility query parameter. The Sim.js and Display.js options to enable are also called `accessibility`, so I think it is good to keep a query parameter with the same name. But an alias will be very helpful. Closing this issue.

[2018-10-23 14:33] #716 closed

[2018-10-25 23:48] zepumph opened #717 "Delete duplicates.txt?"
I see that `duplicates.txt` hasn't been committed on for over a year. I often get false positives from that file while searching the project.

What is the purpose of this file currently. Can it be deleted? Assigning to @samreid because he has most of the commits in the file.

[2018-10-26 00:45] samreid commented on #717
According to the adjacent README:

The idea was to be able to track duplicates as a function of time, to make sure we are having less and less instead of more.  It is nested in a directory named duplicates/ to make it easy to exclude from your IDE search paths.  I do not know if it is at all useful.

[2018-10-29 20:28] jessegreenberg opened #718 "a11y-view in full screen mode is limited in IE11"
Found while looking into https://github.com/phetsims/scenery/issues/883. In IE11, when the sim is launched from fullscreen mode from the a11y view, it is limited in its height. It looks like this:
![image](https://user-images.githubusercontent.com/6396244/47677923-d599bd80-db96-11e8-82e1-4b712407057d.png)

Even more strange, that line in the middle of the grey thing flashes like a cursor. When you

[2018-10-29 21:49] jessegreenberg commented on #718
Also, @KatieWoe helped verify this issue on another Windows machine on IE11 from https://github.com/phetsims/coulombs-law/issues/74. Doesn't happen in Edge.

[2018-10-31 15:23] jessegreenberg commented on #713
Low priority unfortunately, someone will have to return to this when the time comes to improve the a11y view.

[2018-11-01 23:59] zepumph opened #719 "audioVolume can no longer go over 1?"
I was poking around initialize-globals for https://github.com/phetsims/phet-io/issues/1389 and I found cf74610d1a2e66a5543d81a382b8ec3d69a5901e. @jbphet I see that a constraint was added to the parameter without updating the doc. Can we add something like "cannot be set over 1 because . . . " or whatever you think is most clear?

[2018-11-02 00:00] zepumph commented on #719
The reason that I'm assigning rather that just adding the sentence is because I want to be sure that I understand it correctly, and that it is explicit.

[2018-11-02 16:30] #719 closed

[2018-11-06 19:49] samreid opened #720 "Maintenance release to deal with phetmarks"
During https://github.com/phetsims/special-ops/issues/122, @jonathanolson and I ran into this case:

[code]

This was caused by https://github.com/phetsims/phetmarks/commit/5cedf6bb5134f5ff6c49f6bc7e156e76b3a95fef as part of https://github.com/phetsims/phet-io/issues/1404

Our two possibilities are:

1. Make phetmarks version SHAs with the simulation, so it doesn't accidentally pick up new changes

[2018-11-15 20:14] samreid commented on #715
In discussion today, we concluded we will leave it as is.  @mbarlow12 points out that we may have to deal with this again when the strings have an order of magnitude more strings.  We agreed it is OK to close for now.

[2018-11-15 20:14] #715 closed

[2018-11-15 20:21] samreid commented on #720
In discussion, we concluded it would be nice to iterate through sims, automatically pluck a compatible phetmarks SHA and add it to the dependencies.json.

[2018-11-15 20:21] samreid commented on #720
@zepumph volunteered to help out, thanks!

[2018-11-16 18:10] mattpen commented on #689
Please reassign me if further input is needed.

[2018-11-19 19:45] samreid commented on #711
I messaged slack:

[2018-11-19 19:53] samreid commented on #711
I ran the above command, and spot tested several repos.  All seems OK so I'll commit . Brace yourselves for multi-repo commit.

[2018-11-19 20:02] samreid commented on #711
Changes pushed, closing.

[2018-11-19 20:02] #711 closed

[2018-11-22 04:34] samreid commented on #717
I fixed the script so it can run with options again and concluded that tracking over time isn't too important, or if we decide to track over time we can use an approach like perennial/repo-report.  Hence I removed duplicates.txt.  Closing.

[2018-11-22 04:34] #717 closed

[2018-11-26 02:43] jonathanolson opened #721 "uglify-es unmaintained"
The release of uglify-es (the support for ES6) has been unmaintained for a number of months, and development looks like it has switched to https://github.com/terser-js/terser (see https://github.com/mishoo/UglifyJS2/issues/3156#issuecomment-421509930).

Is it worth proactively switching, or waiting until we need some sort of upgrade?

[2018-11-28 23:16] zepumph opened #722 "Add `Node` and `Event` to no-html-constructors rule"
Right now it only supports catching 'Image', 'Range', and 'Text'.

[2018-11-28 23:21] #722 closed

[2018-11-29 01:45] samreid commented on #721
I'd recommend spending initial time (1-2 hours)? investigating a proactive switch--if the API is compatible and transition is easy, then great.  If we run into severe issues or compatibility issues we can re-evaluate.

[2018-11-29 17:17] jonathanolson commented on #721
From the documentation:

So it seems like it should be fairly straightforward.

[2018-11-29 23:08] jbphet commented on #689
I need support for MIT license in a sim, please see https://github.com/phetsims/energy-forms-and-changes/issues/55.  The sim is scheduled to be released in January 2019, so it would be good if this could be ready be early January.  @mattpen and @jonathanolson - can this work be done in that time frame?

[2018-11-30 20:47] mattpen commented on #689
@jonathanolson - Can you please confirm if I understand correctly?

A sim could be covered by the CC-BY license, the GPL License, both CC-BY and GPL, or the MIT license.  Are there any other combinations that might be feasible (at least for now)?

[2018-12-01 03:23] samreid opened #723 "Preloads should run through babel"
In https://github.com/phetsims/joist/issues/539 a `const` sneaked into a preload file.  https://github.com/phetsims/joist/issues/539#issuecomment-443385486 suggested adding a lint rule to make sure that preloads remain ES5, but it may be better to add a babel phase to the preloads so we can use ES6 there, for consistency.  Self assigning and adding @jonathanolson in case he has thoughts or recomme

[2018-12-03 20:01] jonathanolson commented on #723
This sounds fine to me, but will definitely need automated testing.

[2018-12-03 20:06] jonathanolson commented on #689
So we are moving the code AND the built results to MIT?

I'm interested in @mattpen's thoughts. Maybe we should have each runnable's package.json note all of the licenses we release things under?

On my end, it would just be changing the logic in buildRunnable.js to add the license snippet at the top of built files presumably.

[2018-12-04 04:36] samreid commented on #723
Converting `this` to `window` in each of the offending *.js files also fixes the problem, but is not a good long-term solution, at least for `he-1.1.1.js` which we do not control.

[2018-12-04 04:42] samreid commented on #723
Here's a patch that works for us since we are babel < 7.0:

[code]

[2018-12-04 15:18] samreid commented on #723
In slack, I reported:

[2018-12-04 15:44] jbphet commented on #689
@jonathanolson - you assigned this to me, so I'm thinking you want me to answer the question

I didn't realize that the source code and the build results could be licensed in different ways.  @kathy-phet just told me that the funder wanted the sim to be licensed as MIT.  It seems to me that licensing both as MIT covers our bases, so unless there is a good reason **not** to do that, I'd go that rou

[2018-12-04 15:49] samreid commented on #723
It seems the best way to proceed would be to put `babelTranspile = true,` in the minify options, and to try to reuse the minify options from the requirejs code to the preload code--would that work, or will it be problematic to put `stripAssertions = true, stripLogging = true` on the preloads?

[2018-12-04 16:42] jonathanolson commented on #689
That sounds the safest to me.

I believe that's appropriate, as I'm curious what the license snippet in a built HTML file should show. And since we can make things available under multiple licenses, does that mean we could use CC-by, MIT, and other licenses for the same file?

@kathy-phet the current copyright header for built files is:
[code]

What should it be in this case (and generalizing to f

[2018-12-04 17:06] kathy-phet commented on #689
Hi All,
The only change needed from our typical sim process is to change the license in the repository for EFAC from GPL to MIT. No change is needed in the website or the copyright header of the text in the published simulation above. The published sims on our website will still be CC-BY. Its just a change in how we license the source code for these particular sims - so the repository for them nee

[2018-12-04 17:10] kathy-phet commented on #689
Also, just FYI, since this is code we created, we can release it under multiple licenses - GPL, MIT, etc. - and the person using it can choose which license. But for simplicity, just make the repository MIT. And the built sim CC-BY.

[2018-12-04 17:15] mattpen commented on #689
Removing assignment as no changes are needed on the website for now.

[2018-12-04 18:32] samreid commented on #723
I reviewed my working copy changes with @jonathanolson and he agreed it is ready for testing.  I'll run the following tests.  If all is well, I'll commit to master.

- [ ] make sure debug version looks full, production version looks minified
- [ ] Sneak in "const" into a preload, make sure it's taken out of production, left in debug.
- [ ] Test some of --minify.uglify=false options

Note that thes

[2018-12-04 18:50] samreid commented on #723
My tests seemed OK, I tested with graphing-quadratics, brands=phet,phet-io and the cases identified above.  I used --minify.mangle=false for the final test.

@jonathanolson can you please spot check or run additional tests as you see fit?  Commits incoming.

[2018-12-04 19:18] samreid opened #724 "Use prefix and dot notation consistently, particularly regarding minify options"
Related to https://github.com/phetsims/chipper/issues/723

Chris Malley [12:01 PM]
Instead of “minify.uglify”, is there a better option name that describes what’s being done here?  Something not tied to the specific tools perhaps.
I’ve never seen a grunt option name with a ‘.’ in it, surprised that it even works.

Sam Reid [12:02 PM]
What term or option names do you recommend?

Chris Malley [12:03

[2018-12-04 19:20] samreid commented on #724
My hope is that no developer will ever need to use any of those options, because our needs are covered by the production build and debug build.  And if a developer does need to use those options, they are all covered in the same place using the same strategy.

minify.js has:

[2018-12-04 19:34] jbphet commented on #689
Based on the conversation that I just had with @kathy-phet (see details in https://github.com/phetsims/energy-forms-and-changes/issues/55#issuecomment-444227551) and with @jonathanolson, nothing more needs to be done here, at least for now.  Closing.

[2018-12-04 19:34] #689 closed

[2018-12-04 22:01] samreid commented on #724
If we do decide to structure these options, it seems that keeping the structure would be clearest:

[code]

[2018-12-06 00:43] jonathanolson commented on #723
I just tried:

[code]

and built output for some reason looks pretty-printed, e.g.:

[code]

[2018-12-06 23:58] samreid commented on #723
Michael Kauzmann [4:56 PM]
Does it surprise anyone else to know that QSM is unminified and has comments in the built sim? I guess all preloads don't get minified.

Sam Reid [4:58 PM]
This may be a new bug?  I was tinkering with preloads in https://github.com/phetsims/chipper/issues/723 and maybe messed something up.

[2018-12-10 15:40] jonathanolson commented on #724
I don't feel particularly strongly.

I constantly need to use (or recommend others to use) builds that are unmangled (since we don't use source maps) for performance profiling. Is this something that should be added as another build artifact/option?

[2018-12-10 20:06] samreid commented on #723
@pixelzoom mentioned interest in master SHAs for BCE, so I'll work on this at top priority.

[2018-12-10 20:13] samreid commented on #723
Ever since this code was introduced in 2017, `beautify` has been set to `!mangle`.  Is that not as desired?

[code]

[2018-12-10 21:01] samreid commented on #723
@zepumph and I discussed the QSM nonminification.  We tested several builds in master and they seemed OK.  @zepumph clarified that on Thursday he saw a non-minified QSM go by, but then on immediate rebuild the problem disappeared.  We tried some intermediate SHAs but could not reproduce the problem.

[2018-12-10 21:01] samreid commented on #723
beautify has been set to !mangle. Is that not as desired?

It's definitely a change. How would I build unmangled but unbeautified builds for performance testing?

Sam Reid [1:59 PM]
we can split mangle.beautify into a separate option (not coupled to !mangle) sound OK?

Jonathan Olson [1:59 PM]
(the whitespace takes up additional memory and changes performance characteristics)
that would be fine wi

[2018-12-10 21:01] #723 closed

[2018-12-10 21:02] samreid opened #725 "Separate mangle and beautify options"
From https://github.com/phetsims/chipper/issues/723 @jonathanolson requested to separate the mangle and beautify options.  It sounds like beautify=false is preferable for performance testing.

[2018-12-10 21:13] zepumph commented on #724
I have never used these sorts of options. I don't have a strong preference about what we go with. Though now that I know these exist, I will probably use whatever we decide on.

@pixelzoom's recommendation makes sense to me, and is a bit clearer than having all options on minify.

[2018-12-11 05:03] samreid commented on #725
Proposed fix committed.  I ran a few tests with faraday's-law:

[code]

And results were what I expected.  Note the API may change in https://github.com/phetsims/chipper/issues/724.  Reassigned to @jonathanolson to verify.

[2018-12-11 15:41] samreid commented on #724
Trying to understand the central point of the proposal in https://github.com/phetsims/chipper/issues/724#issuecomment-445577973, it seems the point is we don't need to know that `uglify` is technically structured under `minify` in order to set its options.  Why not take it one step further and make the API like so?

[code]

Or is the point to specify one parent, so you know the "shutoff valve" for

[2018-12-11 16:12] jonathanolson commented on #724
I personally prefer the non-prefixed flags in https://github.com/phetsims/chipper/issues/724#issuecomment-446247891.

[2018-12-11 16:44] pixelzoom commented on #724
@samreid said:

If you're going to use qualified (dot) notation, yes.

@jonathanolson said:

Me too.  As I said in my very first Slack comment:

[2018-12-11 16:47] samreid commented on #724
OK, I'll aim for https://github.com/phetsims/chipper/issues/724#issuecomment-446247891, and will also be adding --beautify, see #725.

[2018-12-14 19:57] zepumph opened #726 "Upgrade eslint to most recent version"
While working on https://github.com/phetsims/tasks/issues/972, @samreid and I experimented with the new version of eslint (version 5.10.0). It looks like they have added a few new rules that could be nice for us:

[code]

One other rule that is excluded from this list because there were many errors from it is:     `no-useless-escape`

These all seem like nice rules, and I don't think it would be t

[2018-12-17 21:02] jbphet opened #727 "Deprecation warning about HTML imports in Chrome"
I'm seeing the following message in the Chrome console when I load sims, either from RequireJS or built:

[code]

Here is a screenshot:

![image](https://user-images.githubusercontent.com/3082831/50114961-435f7e80-0203-11e9-8566-7fe795103756.png)

I tested RequireJS versions of several sims and saw it for all of them, then tried a locally-built version of Energy Forms and Changes and the published

[2018-12-17 21:02] jbphet commented on #727
Assigning to @ariel-phet for delegation and prioritization.

[2018-12-17 21:04] jbphet commented on #727
For reference, I'm seeing it on Chrome 71.0.3578.98, Windows 10.

[2018-12-17 23:51] jessegreenberg commented on #727
I have the same version of Chrome on Windows 10 and I am not seeing this warning in the dev tools yet when running sims in RequireJS.

[2018-12-18 18:32] pixelzoom opened #728 "replace code-review checklist items with lint rules"
Noted while doing the code review for Wave Interference.

Most (all?) of the "Math Libraries" section of the code-review checklist could (should?) be replaced with lint rule(s).

Assigning to @ariel-phet to prioritize and assign.

[2018-12-18 18:34] pixelzoom commented on #728
Ditto for the "IE11" section:

[code]

[2018-12-20 16:58] jonathanolson commented on #728
That seems like a rule for simulations. There are places in common code (for generating a reproducible fuzzing stream) where this is needed. snapshot-comparison also reaches in and does `random = new iframe.contentWindow.phet.dot.Random( { seed: 2.3 } );`.

Many of those rules also don't particularly apply to other code. Do we have to figure out how to add a custom PRNG library to Node.js/testing/

[2018-12-20 17:12] pixelzoom commented on #728
I did say "Most (all?)", so I'm fine if we don't include `Random` (or others) in a lint rule.   But the majority of them can be addressed via lint.  And anything to shorten the code-review checklist is imo a "win".

[2018-12-20 23:33] zepumph commented on #728
Since work done in https://github.com/phetsims/tasks/issues/972 on separating out different sets of lint rules, we can likely decide to just enforce something like "no random" as a lint rule for simulations only.

[2018-12-21 21:52] zepumph opened #729 "Remove jsondiffpatch from sims"
Currently it is a preload for phet-io builds, but I think we should get rid of it. We can still use it in wrappers, like for `diff`.

[2018-12-26 17:21] samreid opened #730 "Should we be caching the string files for requirejs mode."
@zepumph @chrisklus and I noticed that the same string file is being loaded many times when launching a sim in requirejs mode, likely once per string:

![image](https://user-images.githubusercontent.com/679486/50452567-ff056a00-08f7-11e9-86b8-625754271cca.png)

I wonder if we can speed up launch time by caching it and only XHR once?

[2018-12-27 20:04] samreid commented on #721
@zepumph volunteered to investigate this

[2018-12-28 01:07] zepumph opened #731 "Review base config "globals""
After @samreid and I looked at them only briefly, it seemed like some of them could be updated.

This issue stems from https://github.com/phetsims/tasks/issues/972, and in it we should:

* Review the globals to see which ones we can delete because they are no longer used.
* Review the globals to see which ones should be added to a more specific configuration file. Either another file in `chipper/e

[2018-12-28 01:08] zepumph commented on #731
@samreid I think you will have the best idea about what can be deleted or moved, do you mind taking a first pass and let me know what work you think I can do?

[2018-12-29 03:01] zepumph commented on #729
This was done in the above commits.

This seems pretty nice. Unminified the library was 150KB, and minified it was estimated at 100KB, not bad in the savings department.

@samreid please review.

[2018-12-29 03:53] zepumph commented on #729
This was done in the above commits.

This seems pretty nice. Unminified the library was 150KB, and minified it was estimated at 100KB, not bad in the savings department.

@samreid please review.

(commenting again so it is at the bottom of these commits0

[2019-01-04 03:22] samreid opened #732 "Lint rule: Unicode characters in JS should be escaped with ASCII"
From https://github.com/phetsims/wave-interference/issues/285#issuecomment-451316788.  Sims should use ASCII.  When unicode is needed, it should be escaped.

[code]

[2019-01-08 00:16] Gerst20051 commented on #557
@samreid is there a reason this was closed?

[2019-01-08 00:19] samreid commented on #557
Good point, I can see numerous places where `@return` are appearing.  Thanks!  Also, maybe we should enforce this with a lint rule.

[2019-01-08 00:35] zepumph commented on #557
I see 364 usages of the regex `\* @return[^s]\{` and wonder if we should just batch replace them. I wanted to double check first though.

[2019-01-08 01:41] samreid commented on #557
Can you clarify what you mean by parameters aligning?

[2019-01-08 02:00] Gerst20051 commented on #557
Sure @samreid Sublime JSDoc package `DocBlockr` will create the doc block with the sections vertically aligned.

[code]

By updating `@return` to `@returns` the alignment gets messed up. It isn't the worst thing in the world though.

[code]

[2019-01-08 03:55] samreid commented on #557
We are using `@returns` uniformly now, and have a lint rule to help keep us on track.  Closing.

[2019-01-08 03:55] #557 closed

[2019-01-16 17:21] zepumph opened #733 "Remove dependency for `no-lint` perennial data file"
While @jessegreenberg was trying to make release branch changes on Friction 1.5, he got an error from lint.js before we were grabbing a data file out of perennial that had recently been renamed (after taking shas).

This demonstrated a fault in the code anyways, and we should refactor things so that only grunt lint-everything (which is directly called from chipper) uses this data file.

[2019-01-16 18:04] zepumph commented on #733
@samreid @chrisklus and @zepumph all reviewed as we went, closing

[2019-01-16 18:04] #733 closed

[2019-01-16 21:38] pixelzoom commented on #728
Unfortunately we can't just add these to bad-text.js.  E.g. "toFixed" would flag both the forbidden and recommended function names.

[2019-01-16 21:40] pixelzoom commented on #728
In recent code review of Wave Interference, `Math.round` was flagged but ultimately allowed for performance reasons, as documented in LatticeCanvasNode:

[code]

Would we require these cases to use `/* eslint-disable */`?

[2019-01-16 22:53] zepumph commented on #728
If we did, I think the best way would be to say `// eslint-disable-line {{round-specific-lint-rule-name}}`

[2019-01-17 17:05] zepumph commented on #733
linking back to https://github.com/phetsims/tasks/issues/972

[2019-01-17 17:11] zepumph opened #734 "Commented out lint rules"
While working on cleaning up https://github.com/phetsims/tasks/issues/972, I saw

[code]

And wondered if we wanted to investigate this at all, or just delete it. @samreid do you have any insight?

[2019-01-17 17:14] samreid commented on #734
I flip that rule on temporarily sometimes during code reviews.  But it is now deprecated and ESLint is dropping support for it, see https://eslint.org/docs/rules/valid-jsdoc

[2019-01-17 17:15] zepumph commented on #734
I also see:

[code]

Mainly I want to know if we should do one of three things:

1. Delete these
2. Uncomment them
3. Mark them with `// USE THIS DURING CODE REVIEW` which I see another lint rule doing.

[2019-01-17 17:17] zepumph opened #735 "Questions about eslint config"
While working on https://github.com/phetsims/tasks/issues/972#issuecomment-450459151, I found some questions:

[code]

Why is this overwritable? I would think it would be read-only

[2019-01-17 17:58] zepumph commented on #735
When I commented this out, there were 52 failures, but that seemed weird to me, because I would think that that would be covered by the browser `env` globals.

[2019-01-17 18:50] zepumph commented on #735
Closing this issue as a duplicate of https://github.com/phetsims/chipper/issues/731

[2019-01-17 18:51] zepumph commented on #731
As I started doing this, I see two things immediately:

- [ ] Why is this overwritable? I would think it would be read-only
[code]

- [ ] When I commented this out, there were 52 failures, but that seemed weird to me, because I would think that that would be covered by the browser `env` globals.

[2019-01-17 18:51] #735 closed

[2019-01-17 19:19] zepumph commented on #728
In dev meeting it was decided that the above can be added to the "bad-text" lint rule. But since that rule applies to all lintable files, we will create a new eslint config that only applies to sims, and copy the bad-text lint rule and call the copy `bad-sim-text`, that way we can still use `Math.random` in node or something.

Steps to continue:
1. Create `sim_eslintrc.js` that extends the base co

[2019-01-17 22:03] zepumph opened #736 "fix lint errors caused by bad-sim-text.js"
from https://github.com/phetsims/chipper/issues/728, there were 74 errors that were caused by adding `bad-sim-text` lint rule:

Here are the affected repos:

- [x] acid-base-solutions @pixelzoom
- [x] area-builder @jbphet
- [x] arithmetic @jbphet
- [x] balancing-act @jbphet
- [x] balloons-and-static-electricity @jessegreenberg
- [x] beers-law-lab @pixelzoom
- [x] bending-light @samreid
- [x] build

[2019-01-17 23:49] zepumph commented on #728
Everything has been implemented here. Here are the sim specific bad texts now:

[code]
and I also added a RegExp for catching `.toFixed` but only if it isn't part of `Util.toFixed(`. `new RegExp( '(?<!Util)\\.toFixed\\(' )`

@ariel-phet please assign someone to review this work. From here we will continue chipping away at the errors in #736

[2019-01-17 23:49] zepumph commented on #728
As part of the review it would be good to think if there are more pieces of the code review that could be added here. I looked through but only briefly.

[2019-01-17 23:57] zepumph commented on #728
With doc added above, I think that we can convert that entire "math libraries" section of the code review into one checkbox:

- [ ] Check that random numbers (generated with `phet.joist.random` are generated after modules are declared (non-statically).

[2019-01-18 00:56] zepumph commented on #736
This repos assigned to me are now completed.

[2019-01-18 14:40] jessegreenberg commented on #736
@zepumph I am confused by https://github.com/phetsims/wave-interference/commit/e2a72ce, doesn't eslint-disable-line just disable a single line?

[2019-01-18 14:55] jessegreenberg commented on #728
Thanks for adding these @zepumph. When I tried this out in https://github.com/phetsims/chipper/issues/736 I hit
[code]

am I missing anything?

[2019-01-18 15:44] samreid commented on #736
I agree, lint seems to be passing even without that line.

[2019-01-18 18:40] zepumph commented on #736
@jessegreenberg that is the line that the link error flags, yes I agree it is confusing and think instead we should be using the marking to disable for the whole file like https://github.com/phetsims/chipper/commit/cd675bd48eda9ce5a6a354d4e8d4a4e7573703bd

@samreid that may be because of https://github.com/phetsims/chipper/commit/e04f7925cce230cc5de8e0586ecb2bf62e6017d9

[2019-01-18 19:43] zepumph commented on #728
Weird! I didn't get that error on my side. I'll look into it further.

[2019-01-18 20:49] zepumph opened #737 "Rewrite bad-sim-text toFixed regex without lookbehinds"
Javascripts flavor of regex doesn't support lookbehinds, and it is causing an error for https://github.com/phetsims/chipper/issues/728#issuecomment-455572817.

See https://stackoverflow.com/questions/4200157/javascript-regular-expression-exception-invalid-group

note from that article that Javascript does support lookaheads, so I will look into that.

Right now I will comment it out, and try to ad

[2019-01-18 20:51] zepumph commented on #728
@jessegreenberg I'll investigate that in https://github.com/phetsims/chipper/issues/737, for now it is commented out, when I fix it I will make sure that those usages are fixed, so don't worry.

[2019-01-22 16:01] jessegreenberg commented on #736
Got it, thanks. With https://github.com/phetsims/chipper/issues/737, I was able to use the new lint rule to fix sims assigned to me.

[2019-01-22 17:32] jonathanolson commented on #736
Added required changes to the repositories for which I was marked. I had to add some lint disables to files where they either don't have access to joist's random (dot/kite/scenery), or they need access to Math.round (Util.roundSymmetric's implementation).

[2019-01-23 21:08] Denz1994 commented on #710
`grunt report-media` now runs alongside build default tasks and can optionally be turned off (similar to `--lint`). The tasks also logs errors for missing license.json files or relavent files listed in the licencse.json. Subdirectories are also checked if any are present in media directories. Thanks @jonathanolson for the help. Closing.

[2019-01-23 23:18] jessegreenberg commented on #710
Reopening, this issue may be causing failures on CT, I am noticing a number of reports like
[code]

[2019-01-24 00:05] Denz1994 commented on #710
CT failures are due to missing files for related media (images, sound, etc.) After reviewing failures in CCK, FPAF, and Projectile-Motion, the cases for missing files are because the license.json has entries for image files that don't exist.

These license.json files should be updated. @KatieWoe will make issues and assign the relevant maintainer(s) of the repo.

[2019-01-24 00:05] #710 closed

[2019-01-24 03:47] ariel-phet commented on #728
@pixelzoom mind reviewing? If you don't have time please assign back to me...most other devs are tied up until beginning of Feb @zepumph so if @pixelzoom is not available, it will just have to wait a little bit.

[2019-01-24 04:07] pixelzoom commented on #710
I resolved all of the issues that @KatieWoe opened.

[2019-01-24 04:13] pixelzoom commented on #728
Looks good expect for commented code related to `toFixed` that is being tracked in https://github.com/phetsims/chipper/issues/737.   I can't think of any other code-review items that should be added here.    Back to @zepumph in case there's anything else to do.  Feel free to close.

[2019-01-24 05:05] ariel-phet commented on #727
@jonathanolson no need to fix anything just yet...but it seems that people are nebulous on where we even use these. Can you investigate briefly in the near future (after Jan 31 is fine) to at least see what exactly we are dealing with and what we would need to fix it?

[2019-01-24 17:31] jbphet commented on #736
Works for me.

[2019-01-30 21:19] jbphet commented on #736
I've fixed the sims for which I am the responsible developer and have committed the change to the 'bad-sim-text' value to turn on the stricter checking.  I'll watch CT for the next hour or so to make sure it doesn't cause a bunch of failures.

[2019-01-30 22:48] jbphet commented on #736
I'm not seeing any unusual failures on CT, so I think this can be closed.  I'm going to assign it back to @zepumph since I *think* everything is done but would like someone who is more familiar with the issue to make sure I'm not missing anything.

[2019-01-31 02:42] pixelzoom commented on #736
Should this still be labeled for developer meeting? If so, what feedback do you want?

[2019-01-31 02:54] zepumph commented on #728
I just realized that these items have not been removed from the code review checklist. Wasn't that the goal of this issue?

Or do we still want to double check on them just in case?

[2019-01-31 02:57] zepumph opened #738 "Rewrite bad-text so that it can provide line-specific failures"
From https://github.com/phetsims/chipper/issues/736

I'm unsure about how exactly to do this in a general way. Right now it just looks at the largest node as text and does an `indexOf` search on it.

[2019-01-31 02:57] zepumph commented on #736
lets talk over in https://github.com/phetsims/chipper/issues/738

that and https://github.com/phetsims/chipper/issues/728 are follow up issues. Closing

[2019-01-31 02:57] #736 closed

[2019-01-31 02:59] pixelzoom commented on #728
I removed the check-list items (the entire "Math Libraries" section) in the above commit.

[2019-01-31 02:59] #728 closed

[2019-01-31 03:12] zepumph commented on #728
Sounds good. Note that until https://github.com/phetsims/chipper/issues/737 is fixed, we are missing one check. And also note that though this does a pretty good job, it doesn't ensure that random numbers are being generated with `phet.joist.random`

[2019-01-31 03:30] pixelzoom commented on #737
When this issues is resolved, please remove the corresponding item from the code review checklist.

[2019-01-31 03:31] pixelzoom commented on #728
I noted in https://github.com/phetsims/chipper/issues/737#issuecomment-459201031 that the check-list item for `toFixed` should be removed when that issue is resolved.  If there's nothing else to do here, please close.

[2019-02-04 20:16] jonathanolson commented on #727
I'm not sure why it was being flagged by @jbphet's chrome. It appears we are NOT using HTML imports, and I believe we are using no feature of jQuery that would be using this feature. It is also a chrome-only feature, which seems unlikely for our code to do.

According to https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/h-JwMiPUnuU/sl79aLoLBQAJ, Chrome 73 will have this disabled. I ju

[2019-02-04 20:16] #727 closed

[2019-02-05 03:42] samreid commented on #729
Nice work, but I'm seeing one discrepancy.  When I go to faradays-law and run `grunt update`, I see this change:

[code]

I suspect we should remove this from all of the HTML test harnesses (possibly via running `grunt update` in each repo), but wanted to double check with @zepumph first.

[2019-02-05 20:51] samreid commented on #729
I'm seeing some references to jsondiffpatch in chipper/js/grunt/phet-io/copySupplementalPhetioFiles.js.  Is that as expected?

[2019-02-05 21:07] zepumph commented on #729
Yes that is, because the built diff wrapper still needs to use that library, so it is built with phet-io simulations.

[2019-02-06 04:07] samreid commented on #734
I've pulled the commented out rules into a dedicated file, and added it to the code review checklist.  @zepumph can you please review?

[2019-02-06 22:14] zepumph opened #739 "Add lint rule to prohibit object-shorthand"
Related to https://github.com/phetsims/gravity-force-lab/issues/148. @samreid today told me that using object-shorthand didn't pass a recent code review of his (couldn't find an issue for that):
[code]

If this is indeed true, then we should add a lint rule to make sure that this isn't allowed.

When @samreid, @chrisklus, and @zepumph added this lint rule like:

`    'object-shorthand': [ 'error',

[2019-02-06 22:16] samreid commented on #739
To clarify, I recalled a developer meeting where @jbphet pointed out that using the object key shorthand means that if you refactor a variable name, it also renames the object key which is generally undesirable.  There was agreement from the group that this is problematic, and we decided that PhET generally shouldn't use this object shorthand.  @chrisklus also recalled this conversation.

[2019-02-07 01:27] zepumph commented on #730
Windows 10

Chrome No patch:
![image](https://user-images.githubusercontent.com/6856943/52384732-26893f80-2a2b-11e9-9d62-ef2d899d2498.png)

Firefox no patch:
![image](https://user-images.githubusercontent.com/6856943/52384738-3012a780-2a2b-11e9-9186-7f46fa77d02e.png)

Chrome yes patch:
![image](https://user-images.githubusercontent.com/6856943/52384914-f3937b80-2a2b-11e9-87a5-b88bf9506968.png)

fi

[2019-02-07 03:26] pixelzoom commented on #739
I also recall that dev conversation.

[2019-02-07 03:29] pixelzoom commented on #739
If anyone cares to bone up on the `object-shorthand` rule, see https://eslint.org/docs/2.0.0/rules/object-shorthand.

[2019-02-07 03:39] samreid commented on #739
I was surprised and excited to see that eslint can automatically fill in the object keys.  This patch combined with the rule can accomplish it.

[code]

[2019-02-07 03:40] samreid commented on #739
Well, it is also adding `: function` some places where that doesn't seem necessary.

[2019-02-14 19:48] samreid commented on #739
We decided we would like to forbid this rule because the object shorthand makes refactoring difficult.

[2019-02-15 21:03] samreid commented on #739
Unfortunately, this rule flags:

[code]

and rewrites it as:

[code]

[2019-02-15 21:27] samreid commented on #739
I reverted the shorthand for non-functions.  For the functions, it looks like these are being used inconsistently:

![image](https://user-images.githubusercontent.com/679486/52885131-6d62ed80-312d-11e9-951e-1f779d7b89fd.png)

And other places seem like they could be using arrow functions instead:

![image](https://user-images.githubusercontent.com/679486/52885180-94b9ba80-312d-11e9-9ed7-82da379b2d

[2019-02-16 02:56] samreid commented on #729
Looks great, thanks!  Closing.

[2019-02-16 02:56] #729 closed

[2019-02-16 03:23] samreid commented on #730
At a minimum, we should remove the buggy code that thinks it is caching but is not actually caching.

[2019-02-19 21:26] jessegreenberg opened #740 "a11y-view is tanking in Chrome"
For some reason, the a11y-view has started to perform very badly in Chrome. Possibly in other browsers too, but FF seems as fast as ever.

When I comment out this line in the mutation observer watching the PDOM root, everything is fast again in Chrome. So what about that function is causing trouble for Chrome?
[code]

[2019-02-19 21:29] jessegreenberg commented on #740
I should also note, that performance is much worse in very old built versions of our a11y-view too, like this one https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.1.6-dev.2/balloons-and-static-electricity-a11y-view.html?hideChargeControls, so it doesn't seem like  recent PhET change has caused this.

[2019-02-19 21:45] zepumph commented on #740
Further research that suggests it isn't PhET (I think). Note this performance tab dev tools screen shot:

![image](https://user-images.githubusercontent.com/6856943/53049528-cbe8de00-3443-11e9-94f0-a3f810a64e8e.png)

Notice mainly the CPU cranking away with gray color coding. I added highlighting for when I moved a slider in the sim, and then note that the "other" scripting took many seconds until

[2019-02-19 21:47] jessegreenberg commented on #740
In getAllDOMElementsAsLinear we have

[code]

And I noticed that the problem goes away if we comment out the line in that if statement.

[2019-02-19 21:58] jessegreenberg commented on #740
No, I was totally wrong about my edit in https://github.com/phetsims/chipper/issues/740#issuecomment-465324223, it is the iteration over linearDOM that is causing this.

[2019-02-19 22:00] jessegreenberg commented on #740
Removing this line from `styleCopy` makes the problem go away too
[code]

[2019-02-19 23:35] jessegreenberg commented on #740
In slack I asked

@terracoda @emily-phet do you think it would be OK if elements of the a11y view are focusable? If not we can continue to search for a different workaround or optimize the a11y view more.

[2019-02-19 23:36] jessegreenberg commented on #740
I am not sure exactly how to go about this, it may not be trivial.

[2019-02-19 23:39] jessegreenberg commented on #740
@zepumph said

https://stackoverflow.com/questions/9152096/make-an-html-element-non-focusable
Stack Overflow
Make an HTML element non-focusable
Is it possible to make an HTML element non-focusable? I understand that a list of elements that can receive focus can be defined and that a user can navigate through these elements by pressing a T...
Perhaps we could do a bit of work to remove most `tabInd

[2019-02-19 23:43] jessegreenberg commented on #740
I tried to only set tabIndex on elements that were focusable by default with `AccessibilityUtil.tagIsDefaultFocusable` (accessed through window hackery). But I still observed some stutter. I also tried only setting tabIndex on the first few elements of `allElements` in `styleCopy`, but *still* observed stutter. Chrome is really choking on setting `tabIndex` on these elements in this context.

[2019-02-21 01:27] zepumph commented on #739
I personally use "object shorthand" for functions quite often. If we decide not to, then I can convert to arrow functions, but sometimes I prefer them because they look a bit cleaner. No strong preference here. Furthermore I don't necessarily feel strongly about making a convention that all devs must follow. Developer discretion seems totally fine to me (on arrow func vs object shorthand).

[2019-02-21 18:55] pixelzoom commented on #739
2/21/19 dev meeting:
* We'd like to have object shorthand for functions.
* Is it possible to write a rule that can differentiate between shorthand for objects vs functions? @zepumph will investigate.
* If there's not a rule, rely on code review and/or manually enabling rule.

When to use each form:
* For class methods, prefer `methodName() {...}`.
* In options `inherit`, use `methodName() {...}` o

[2019-02-21 18:55] samreid commented on #739
Also a note to add this rule to the "code review" eslint rules.

[2019-02-21 20:19] zepumph commented on #739
Indeed I could not get the built-in eslint object-shorthand rule to work for us. What we really wanted, as @samreid mentioned in dev meeting, was something like "never properties", which doesn't exist.

So I went and copied the source code for the rule (see link below), and adapted it to fail only on properties, not methods. This is now checked in under `phet-object-shorthand` and doesn't support

[2019-02-22 00:49] zepumph commented on #726
I updated to ~5.14.1 (from ~3.19.0), and got 70 lint errors from the following rules:

* no-useless-escape (63 of the errors)
* no-self-compare
* getter-return
* no-self-assign
* no-unused-vars

So I think I'm going to commit the update, fix the 7 errors that were shown, and then for now turn off the no-useless-escape. That we may need to use `--fix` for, or it can come in another commit.

[2019-02-22 02:05] zepumph commented on #726
@samreid can you please review the above commits. Work can be summed up as:

* Upgrade eslint to 5.14
* turn off no-useless-escape lint rule in our base rc file
* fix/disable-line on the other lint rules
* When I did the above checklist, I found that `grunt lint-all` was now broken. This is for the same, `no-lint` reasoning that we had to address in perennial. So I provided a sketchy fix for suppo

[2019-02-22 18:20] pixelzoom opened #741 "add lint rule for ES6 string templates?"
A common problem when using ES6 string templates:

[code]

Should we add eslint rule [no-template-curly-in-string](https://eslint.org/docs/rules/no-template-curly-in-string)?
To which files should it be added?

[2019-02-22 21:24] mattpen commented on #633
Removing assignment because this is not currently on my to do list.

[2019-02-23 04:21] samreid commented on #739
This is a great solution, I'm glad you thought of it!  I tested and confirmed that the newly introduced rule allowed function shorthand but disallowed property shorthand.

I think this rule should be moved from chipper/eslint/sim_es6_eslintrc.js to chipper/eslint/.eslintrc.js.  That will help us catch where it is accidentally introduced in simulations or other code that is not explicitly marked as

[2019-02-25 23:57] zepumph opened #742 "Fix css in a11y view to see alerts easier"
We are interested in having the interactive alerts always visible, but now sometimes they can be hidden underneath a large screen. @twant is interested in investigating. Good luck, and let me know if you have any questions.

Feel free to edit the molarity specific a11y view while prototyping, but changes should eventually be made in `chipper/templates/sim-a11y-view.html`.

When you are happy with

[2019-02-26 09:42] terracoda commented on #740
@jessegreenberg, apologies for my late response to this issue, and for not pushing a little harder against `tabindex="-1"` everywhere at the start. Hindsight is 20/20.

I am very happy to remove it and to use it in a much more targeted fashion, and only if needed.

Here's an article on [Keyboard Accessibility](https://webaim.org/techniques/keyboard/tabindex) from Web Aim that I am sure we have all

[2019-02-26 17:55] jessegreenberg commented on #740
Thanks @terracoda, no worries at all!

Point 3 in that list also means that elements that are focusable by default are removed from sequential navigation (https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex) and that is the only reason we are using tabindex="-1" here.  The IE11 problems were from a different issue and involved managing focus in the sim. The only reason we

[2019-02-26 18:00] jessegreenberg commented on #740
Well...I was just going to try using `disabled` to see if that was faster than `tabindex`. But I am finding that the a11y view with tabIndex="-1" is fast in Chrome again!

[2019-02-26 18:04] jessegreenberg commented on #740
@zepumph you were able to observe this in https://github.com/phetsims/chipper/issues/740#issuecomment-465323435, can you confirm that the a11y view is faster for you?

[2019-02-26 18:07] jessegreenberg commented on #740
Since this issue was opened, Chrome did release an update but I don't see anything in the logs that seem related (but I really don't know what I am looking at...)
https://chromium.googlesource.com/chromium/src/+log/72.0.3626.109..72.0.3626.119?pretty=fuller&n=10000

[2019-02-26 20:50] pixelzoom opened #743 "how to enable "internal use only" features?"
Over in https://github.com/phetsims/joist/issues/406, the `showAnswers` query parameter was moved to initialize-globals.js, and it is now stripped out in all built versions.

I encountered the downside of this in a recent RC cycle of Graphing Lines, see https://github.com/phetsims/graphing-lines/issues/67.  Several of the issues were related to the game screen, and not having the `showAnswers` scr

[2019-02-27 19:10] jonathanolson opened #744 "XHTML path changes"
I believe we discussed the changes for xhtml (ePUB-compatible) links in production builds as the following changes:

1. Change the `.html` suffix to `.xhtml`
2. Strip the `_phet` from the HTML on the build-server/website side of things (like how we do this for top-level HTML files).

Can we confirm that this works for developers, AND that vendors have switched to hard-versioned links?

[2019-02-28 00:33] jessegreenberg commented on #740
Still quite slow (almost crashing) on my Windows 10 laptop, different device from https://github.com/phetsims/chipper/issues/740#issuecomment-467545944

[2019-02-28 00:44] jessegreenberg commented on #740
After closing all tabs, then reopening Chrome on the same device (my Windows 10 laptop) the a11y view is fast in Chrome again.

[2019-02-28 00:51] jessegreenberg commented on #740
Ooooo I accidentally found something. This might be an NVDA/Screen Reader performance problem. I can do the following with consistency:

- Close all Chrome tabs and Chrome itself
- Open a11y view (sims will be fast in the a11y view)
- Turn on NVDA (a11y view starts to choke and get "stuck")
- Turn off NVDA (a11y view continues to choke and stutter)
- Close all tabs and chrome itself
- Reopen Chrom

[2019-02-28 01:51] zepumph commented on #741
This sounds really nice. I added the rule for es6 sims and node code. Looks like there were no usages of this problem in our code that I found (wahoo). I did disable a few false positives though. Anything else to do here?

[2019-02-28 01:55] zepumph opened #745 "lint-all shouldn't use perennial/data/no-lint"
This has failed my linting process before, because repos like babel are run as a part of `lint-all`.  I'm not sure how to remedy this because chipper shouldn't be able to pull that list into it.

[2019-02-28 01:55] zepumph commented on #745
@samreid do you have any ideas?

[2019-02-28 01:56] zepumph commented on #741
Notice how it works:

![image](https://user-images.githubusercontent.com/6856943/53535854-a6497d80-3ab0-11e9-886b-7be0c60a5936.png)

[2019-02-28 03:43] samreid commented on #745
Can you help me reproduce the problem?  That may help me understand the problem better and make better recommendations.  Also, today on slack someone mentioned something like `.eslint-disable` files--maybe we would eliminate no-lint and use those instead?

[2019-02-28 03:45] samreid commented on #745
Also, you are probably aware of this, but I do see this in chipper:

[code]

[2019-02-28 19:51] ariel-phet commented on #741
Awesome work @zepumph closing!

[2019-02-28 19:51] #741 closed

[2019-02-28 21:05] zepumph commented on #745
@samreid I'm sorry I got confused. The problem here is really that the `lint-all` task has to look over to perennial for the no-lint list.

Perhaps we should investigate eslint ignore files as a solution for this.

[2019-03-01 02:42] zepumph commented on #739
Assigning to high priority (but for my misc time) so it doesn't fall off my radar.

[2019-03-05 22:31] samreid commented on #726
1. Would it make sense to list the blacklist in chipper, as is done for ignorePattern in https://github.com/phetsims/chipper/blob/4ff287646f7cea993e09b646cdf09cac41e71915/js/grunt/lint.js?
2. I think we should move forward fixing `no-useless-escape` issues and turn that rule on.  That will make it easier for me to read and understand regexes.  I don't see an autofix for this rule though.
3. This c

[2019-03-06 16:16] pixelzoom commented on #744
This change creates no issues for me.

[2019-03-06 21:55] zepumph commented on #734
Looks great!

[2019-03-07 03:26] samreid commented on #743
I believe @jonathanolson suggested marking a secret key in localstorage that would unlock these features.

[2019-03-07 03:40] samreid commented on #744
I recall a conversation about this, and there were several constraints on the naming, but I cannot find a paper trail for it in GitHub issues or dev meeting minutes.  Maybe @mattpen remembers?  One constraint was regarding names served from the website (I think).

[2019-03-07 17:16] pixelzoom commented on #743
Tutorial on localstorage fo those (like me) who aren't familiar with it: https://www.taniarascia.com/how-to-use-local-storage-with-javascript/

[2019-03-07 17:25] pixelzoom commented on #743
Perhaps internal-use/sensitive query parameters like `showAnswers` could simply be moved to `localstorage`.

For example, to enable `showAnswers`, I would do this in my browser console. It will persist across sessions.

[code]

In client code, I'd then do:

[code]

A resourceful student might still figure this out. But it would be (presumably?) more difficult to find and share.

[2019-03-07 17:38] jonathanolson commented on #743
That sounds nice to me.

[2019-03-07 18:47] zepumph commented on #743
In dev meeting today:

We like the idea of a single cookie, named:
`phetGirlMode`
`superUser`
`phetTeamMember`
`other`

[2019-03-07 18:54] zepumph commented on #743
We voted!

we like `phetTeamMember`

and to test it against the string "true" like:

`localStorage.getItem( “phetTeamMember” ) === "true"`

We want to have the added granularity of testing against the string true, especially since `localStorage` converts the boolean to a string when calling `setItem`.

[2019-03-07 19:12] zepumph commented on #743
We will add a local var predicate in QSM like:
[code]

[2019-03-07 19:31] mattpen commented on #744
I don't recall any discussion of this point.  There is no code in the PhET project that depends on this though.

The only thing I could find was this issue: https://github.com/phetsims/chipper/issues/706, which is lacking in discussion.  It looks like it was already solved and if it is not happening there is probably a regression.  I remember deciding this though, as our current practice is to str

[2019-03-07 20:19] pixelzoom commented on #743
Done in the above commits. @zepumph please review.  Here are the steps to verify.

First, test that I didn't break anything by exercising one of each query parameter type.  I tested Gas Properties with these query parameters:

| type | value |
| :-- | :-- |
| flag | dev |
| boolean | homeScreen=false |
| string | colorProfile=projector |
| array | screens=1,3 |
| number | initialScreen=3 |

Next,

[2019-03-07 20:27] pixelzoom commented on #743
I'm going to transfer this issue from chipper to (private repo) special-ops, since the entire purpose of this feature is to make something private to the PhET team.

[2019-03-07 22:13] KatieWoe commented on #520
The QA book now has a list of query parameters that are often used with a brief description of what they do.

[2019-03-07 22:32] pixelzoom commented on #520
@KatieWoe your previous comment was very timely.  Some query parameters are not _private_, intended for use by team members only.  The means of enabling private query parameters needs to be kept private, so can't be described in the QA Book.  A draft description is at https://github.com/phetsims/special-ops/issues/129#issuecomment-470688353.  Let's discuss how to make this information accessible t

[2019-03-07 22:46] pixelzoom commented on #520
@KatieWoe and I discussed private query parameters on Zoom, so she's up to speed.

[2019-03-08 01:39] zepumph commented on #739
awkward. . . . Fix committed above. I moved the lint rule as well. That sounds like a good plan.

As for your suggestion, I agree about the issue in eslint repo. I think it will be helpful. Though I'm not sure when I'll have time.

[2019-03-14 18:20] chrisklus commented on #744
From 3/14/19 dev meeting:

@jonathanolson is going to make this change.

[2019-03-14 19:12] mattpen opened #746 "Add gzip compressed _all.html file to build artifacts"
Requested to improve performance for the iOS app in phetsims/phet-ios-app#440.

I'm trying to find a node library that will accomplish lzma compression so we can build this artifact in buildRunnable.html.  I'm currently evaluating `lzma-native`.  It works fine on linux machines but fails hard (no catchable exceptions) on Windows machines. I've opened https://github.com/addaleax/lzma-native/issues/

[2019-03-14 19:13] mattpen opened #747 "branch lzma"
To hold unstable changes for #746.

[2019-03-14 19:55] mattpen commented on #747
Not needed.

[2019-03-14 19:55] #747 closed

[2019-03-14 20:14] mattpen commented on #746
This seems to be working nicely now:

[code]

[2019-03-15 19:03] samreid commented on #746
Have you considered using node's built-in zlib library?  https://nodejs.org/docs/latest-v11.x/api/zlib.html

[2019-03-18 19:00] mattpen commented on #746
@samreid - I don't believe that supports lzma, which was requested specifically in  phetsims/phet-ios-app#440.  The compression ratio is somewhat better.

[code]

There are a couple of other libraries with xz bindings that we could try if this is creating problems for local development, or we could make native calls to xz.  The latter option probably won't work for windows devs, so we would probab

[2019-03-18 19:06] mattpen commented on #746
I'm going to investigate https://www.npmjs.com/package/xz

[2019-03-18 19:13] mattpen commented on #746
That doesn't seem to be stable either.  I'm getting the same error @chrisklus reported in slack when tyring to install it without removing node_modules first.

[code]

[2019-03-18 19:24] mattpen commented on #746
Since none of the available node library bindings appear to be compatible with `npm prune && npm update`, I'm going to remove this step from chipper and add it to the build-server.  I'm going to implement it as a native process call.

[2019-03-18 20:01] samreid commented on #746
Is the argument that it is important to save 100kb per simulation?  If so, why is that important?  Let's say we have 100 simulations, saving an average of 100kb / simulation.  That is a total of 10MB.  Does that cross a threshold?

Is it not important that this be controlled as an output from the build step?

I want to understand the reasoning to do something "outside the box" when there is a supp

[2019-03-18 21:33] mattpen commented on #746
This request is from Chris Huxtable, who is working on our app.  I'm not confident it crosses a threshold or that gzip will be unsuitable.  gzip is already provided by apache so it would require 0 effort in terms of build tools development.

10MB savings isn't crossing a threshold, but it's a 15% reduction which could be significant at scale.

The thing that concerns me the most is that it creates

[2019-03-19 15:01] mattpen commented on #746
Chris Huxtable's reasoning for requesting an xz/lzma asset is [here](https://github.com/phetsims/phet-ios-app/issues/440#issuecomment-474161897).

Here are our options for proceeding:

1. Use gzip and accept the 15% loss in storage size (this affects server bandwidth and storage on all 100k+ ios devices).  This is already implemented server side, we would just need to change which compression algo

[2019-03-21 10:36] samreid opened #748 "Linting now fails if you don't have phet-io repos checked out"
A recent change to our linting system causes it to fail if it doesn't match at least one file in the directory.  A user in the google group reported:

https://groups.google.com/forum/#!topic/developing-interactive-simulations-in-html5/9QouIghG2wg

Hi,

I've followed creating a new sim step-by-step. However, when I try to rebuild the sim, I get an error about phet-io. I couldn't find a repository f

[2019-03-21 10:52] samreid commented on #748
I was able to reproduce the problem by temporarily renaming my phet-io directories.

In the above commit, I restricted linting to directories that exist.  This resolves the reported problem.  I'm not 100% sure this is the right way to solve it though, and would like @zepumph to double check.  Also, after fixing this, there is a downstream problem in reportMedia.

[2019-03-21 10:54] samreid commented on #748
After the above commit, builds can once again complete even when phet-io repos are not checked out.  @zepumph can you please see if there is a better solution for this problem?

[2019-03-21 16:16] samreid commented on #746
Unlike gzip, lzma seems to benefit from compressing multiple simulations together.  For instance, I compressed 10 simulations together with lzma and they averaged 300kb/sim in the compression.  I don't recall seeing the same batch savings with gzip.

We could also investigate reducing the size of the simulations themselves.  For instance, jquery takes up about 84kb (uncompressed) of each of our si

[2019-03-21 17:18] mattpen commented on #746
I think this is not going to be beneficial for our situation.  One of the requirements is that we download a single compressed sim and write it directly to disk without processing.  They are then decompressed on demand.  If we bundle them, at download time the app would need to decompress the bundle, then compress the sims individually and then write them to disk.  This requires a lot of cpu proce

[2019-03-21 17:22] mattpen commented on #746
This would certainly be beneficial, but lzma would still get better compression ratios than gzip.

[2019-03-21 19:26] samreid commented on #746
Notes from today's meeting:

* We would like a solution that works well for the android app.  If android doesn't have good lzma support, that may lead us to using gzip.
* We discussed the download time as 100 sims * 500kb/sim at 300kbps internet connection speed, the download time would be 2.5 minutes LZMA vs 3.0 minutes GZ.
* What about using different compression levels for GZ?  Maybe not helpfu

[2019-03-21 19:35] mattpen commented on #746
@mbarlow12 - Can you please investigate XZ for Java, either the [original package](https://tukaani.org/xz/java.html) or the [Apache commons wrapper](https://commons.apache.org/proper/commons-compress/examples.html)?

[2019-03-21 19:38] mattpen commented on #746
I'll spend some more time investigating the npm issues for now.

@ariel-phet - Do you have any input on how we should proceed? To summarize, the benefit is a fairly significant savings in terms of bandwidth and storage on mobile devices. The drawback is that we already have a pretty good compression algorithm working (gzip) and this would require a significant amount of developer time.

[2019-03-22 16:03] mattpen commented on #746
- https://www.npmjs.com/package/xz

I tested this package again this morning.  It requires `sh` and is not compatible with windows and it looks like the developer isn't planning to add it: https://github.com/robey/node-xz/issues/8

[2019-03-22 16:13] samreid commented on #746
Have you reviewed https://github.com/LZMA-JS/LZMA-JS ?

[2019-03-22 16:24] mattpen commented on #746
- https://www.npmjs.com/package/lzma-native

On windows, this package will work but requires all build machines to globally install `node-pre-gyp` and `rimraf` otherwise `npm prune` fails.

I tested this package on MacOS and RHEL as well and was able to npm install, prune, and update without error.  However, it looks like `npm prune` is printing warnings to stderr, and this is causing the build se

[2019-03-22 17:26] mattpen commented on #746
- https://github.com/LZMA-JS/LZMA-JS

This is a pure javascript implementation with zero dependencies so npm operations should work beautifully.  Install, prune, and update all work fine on Windows/MinGW, MacOS, and RHEL.  Bad news, as far as I can tell it is broken.  I tried various compression levels and the resulting artifact ends up 200kB **_LARGER_** than the original artifact.

[code]

[2019-03-22 17:33] mattpen commented on #746
- https://www.npmjs.com/package/node-liblzma

- No readme published on www.npmjs.com
- Has not been updated in 3 years
- Does not compile on MacOS

[2019-03-22 17:38] samreid commented on #746
Maybe it was running decompression instead of compression somehow?

[2019-03-22 17:45] mattpen commented on #746
- https://www.npmjs.com/package/7zip-min

(Investigation in progress)

[2019-03-22 22:31] mattpen commented on #746
@jbphet ran an rc from master and the xz artifact seems to have been created successfully.  I confirmed that the file unpacks with `unxz` into a useable file.  I think this is good to go, the next step would be a batch maintenance release.

[code]

[2019-03-22 23:26] kathy-phet commented on #744
@jonathanolson - These 3 simulations will need release that supports both old and new naming.
Reactants, Products, and Leftovers: https://phet.colorado.edu/sims/html/reactants-products-and-leftovers/latest/xhtml/reactants-products-and-leftovers_all_phet.html
Molarity: https://phet.colorado.edu/sims/html/molarity/latest/xhtml/molarity_all_phet.html
States of Matter: https://phet.colorado.edu/sims/h

[2019-03-23 00:12] mbarlow12 commented on #746
FWIW It appears that there's pretty solid support in Java for compression/decompression for both `.xz` and `.7z`, though I'm pretty sure the Android app will only use the latter.

[2019-03-23 00:29] mattpen commented on #746
@mbarlow12 - We don't have any plans to make a `.7z` asset, do you mean the app will only use the former?

[2019-03-25 01:43] samreid opened #749 "PhET-iO Build fails during or after JSDoc phase"
From slack:

Chris Malley [6:28 PM]
CT appears to be running again.  Now all phet-io sims are failing with (e.g.) `Failure to grunt snapshot-1553470470256-phet-io/beers-law-lab: ... Fatal error: null` (edited)

Sam Reid [7:18 PM]
I’ll take a look
I’m able to reproduce the problem locally, investigating further

[2019-03-25 01:44] samreid commented on #749
JSDoc step says `Error: file doesnt exist:  ../phet-io/js/phet-io-initialize-globals.js`.  I added an error step above to help catch that.  Not sure why it can't find that file.

[2019-03-25 02:39] samreid commented on #749
A whitespace sneaked in front of the last two paths:

[code]

Perhaps the latest version of jsdoc is no longer tolerant of that.  I'll remove the extra whitespace.

[2019-03-25 02:43] samreid commented on #749
I outputted the JSDoc command args and ran it manually.  Saw many warnings but no errors:

[code]

[2019-03-25 03:30] samreid commented on #749
Perhaps the error is happing in `new jimp()`?  Here's a patch that gets things building again, but without thumbnails:

[code]

[2019-03-25 14:47] mattpen commented on #746
@ariel-phet - I think I've got this sorted out now.

[2019-03-25 16:52] samreid commented on #749
@jbphet volunteered to assist.

[2019-03-25 18:00] samreid commented on #749
@jbphet and I isolated the problem to this newly added code:

[code]

If we comment out those lines, then build succeeds.  This code was introduced in https://github.com/phetsims/chipper/issues/746.  We'll make a note in that issue.

[2019-03-25 18:01] samreid commented on #746
In https://github.com/phetsims/chipper/issues/749#issuecomment-476312688, @jbphet and I identified that this code:

[code]

is interfering with the jimp step.  We do not understand why, but commenting out that `_7z.cmd` call allows jimp to proceed.  Increasing priority and marking blocking for phet-io, since we cannot build phet-io sims with this interference.

[2019-03-25 18:09] samreid commented on #749
UPDATE: We also determined this error occurs when running `grunt --allHTML --brands=phet`, so this is probably failing for the app builds.

Therefore, we could probably revert this work on LZMA to get CT clear again, however, @jbphet and I are not familiar enough with whether this is already being used to create sim app builds.  So we will need to confer with @mattpen

[2019-03-25 18:48] mattpen commented on #746
I added in a check to prevent the error `null` from being thrown.

[2019-03-25 18:50] mattpen commented on #749
The error in #746 was fixed in 073f8fa0dd865b634e8b10013bdb86c18a7ed6eb.  This shouldn't be failing anymore.

[2019-03-25 19:59] samreid commented on #749
Looks fixed, thanks!  Closing.

[2019-03-25 19:59] #749 closed

[2019-03-25 23:47] samreid commented on #746
Not intending to move us backwards or cause us to second guess ourselves, but I was somewhat surprised when I reviewed the comments in https://github.com/phetsims/chipper/issues/746#issuecomment-475370322 and then the subsequent work in the issue.

Summary from https://github.com/phetsims/chipper/issues/746#issuecomment-475370322
Prefer or recommend gzip: 7
Prefer or recommend lzma: 0
Abstained: 4

[2019-03-26 17:06] mattpen commented on #746
I decided to continue investigation because there were 4 comments of "I don't know enough".  I remember that we decided I should check a few other npm packages and check Android before ruling it out because its a fairly significant improvement in terms of bandwidth and storage on small devices.  It appears that Android should be able to support it without a problem.  Node is still an open question

[2019-03-26 22:03] mattpen commented on #746
In https://github.com/phetsims/phet-ios-app/issues/440 we decided to switch to gzip.

[2019-03-26 22:05] mattpen commented on #746
I'm going to add this to the build process so that we can provide a hash of the file as well, I can't find any reasonable way to create a checksum of a response in httpd.  This should be much safer than using 7zip because node has a built in zlib package.

[2019-03-28 19:03] zepumph commented on #748
Yes this is great thanks.

[2019-03-28 19:03] #748 closed

[2019-03-29 01:42] zepumph opened #750 "fix and turn on no-useless-escape eslint rule"
From https://github.com/phetsims/chipper/issues/726

There are 63 errors from `no-useless-escape` rule. Currently turned off in the main eslintrc file.

We should fix these all (manually unfortunately), then turn this back on.

[2019-03-29 01:43] zepumph commented on #726
1. Fixed above
2. see https://github.com/phetsims/chipper/issues/750
3. oops. . .  They were unused functions so I'm not too worried about remembering the right issue.

Anything else here?

[2019-04-03 00:27] samreid commented on #726
I'm not sure what else to do here, but @zepumph can you please review @jonathanolson's commits on the branches? Will we need to do that elsewhere?  Should we do that eagerly, or wait until problems come up?

[2019-04-03 01:32] samreid commented on #730
I outputted cache hits and cache misses, and saw plenty of hits.  Maybe this caching code isn't completely failing.  Maybe we should leave it as it is to avoid additional complexity.

[2019-04-03 01:33] samreid commented on #730
I just added a note in a comment, perhaps that is sufficient to close this issue.  @zepumph ok with you?

[2019-04-03 01:50] samreid commented on #731
I made all of the globals writable: false, because that doesn't apply to `window.variable = ...` notation, which is the only way we assign them.

[2019-04-03 02:08] samreid commented on #731
Many improvements in the preceding commits. Local `grunt lint-everything --disable-eslint-cache` is passing.  I scheduled a timer to look at CT in an hour.

[2019-04-03 03:47] samreid commented on #731
I see the perennial linting problem and I think I’ll need to restart bayes ct to address it.

[2019-04-03 04:12] samreid commented on #731
I removed unused globals and moved sim-specific globals to the appropriate repos.  @zepumph do you want to review?

[2019-04-03 21:03] samreid opened #751 "Investigate git hooks"
From slack:

Chris Malley [2:04 PM]
PSA: It’s possible to add a pre-commit hook for git that runs commands before committing.  If you create `.git/hooks/pre-commit`, then add `grunt lint` to it, you will be prevented from committing anything that doesn’t pass lint.
Unfortunately you have to do this for every repo.  But consider doing it for the repo you’re working the most on now.

Sam Reid [2:05

[2019-04-03 21:04] samreid commented on #751
Self-assigning for investigation.

[2019-04-04 00:13] zepumph commented on #746
@samreid does this still block phet-io publication?

[2019-04-04 00:49] #726 closed

[2019-04-04 01:16] zepumph commented on #731
This is all really nice. Thank you! I like how short that list is. In the future there may be a bit of grossness if we find that we are using himalaya in 100 repos. There should be a threshold as to how much it should be duplicated before it is added to the main file.

I really like that all globals are read-only.

Well I think we should just keep this one in then!

Back to you.

[2019-04-04 01:34] samreid commented on #746
The blocking part was resolved, thanks!

[2019-04-04 01:35] samreid commented on #731
I think that's everything, please reopen if I'm wrong.

[2019-04-04 01:35] #731 closed

[2019-04-04 15:04] samreid commented on #751
Things to check before commit:

- [ ] lint is passing
- [ ] images have appropriate licenses, see https://github.com/phetsims/circuit-construction-kit-common/issues/470
- [ ] build is successful (includes linting and media checks)
- [ ] unit tests passing

[2019-04-04 19:01] jonathanolson commented on #744
Finished the maintenance release for this, closing.

[2019-04-04 19:01] #744 closed

[2019-04-04 19:02] jonathanolson commented on #720
This went out with the just-completed maintenance release, closing.

[2019-04-04 19:02] #720 closed

[2019-04-04 20:12] zepumph commented on #730
Yes thanks for taking a look.

[2019-04-04 20:12] #730 closed

[2019-04-06 09:28] samreid commented on #751
This article emphasizes the importance of keeping commits fast: https://proandroiddev.com/ooga-chaka-git-hooks-to-enforce-code-quality-11ce8d0d23cb

[2019-04-16 17:09] jessegreenberg commented on #740
@zepumph and I also encountered https://github.com/phetsims/chipper/issues/740#issuecomment-468091493 yesterday after enabling JAWS in Chrome.

[2019-04-24 20:00] mattpen commented on #746
@zepumph - @KatieWoe reports that QA is done.  There were a few issues discovered but they are not related to this release. I think we are ready to deploy to production.

[2019-04-29 15:20] pixelzoom opened #752 "Buffer() is deprecated due to security and usability issues"
Is this something that needs to be addressed?

[code]

[2019-04-29 15:23] pixelzoom commented on #752
I see `new Buffer` in chipper, rosetta, and sherpa/lib/clarinet-1.0.0.js.

[2019-04-29 18:33] ariel-phet commented on #752
Seems like a good quick dev meeting topic, marking as high priority so we get to and deal with it.

[2019-04-30 16:15] samreid commented on #752
According to https://stackoverflow.com/questions/52165333/deprecationwarning-buffer-is-deprecated-due-to-security-and-usability-issues we should use `Buffer.alloc` instead of `new Buffer`.

[2019-05-02 16:41] samreid opened #753 "How should we access `grunt`?"
In many places, `grunt` is loaded as a module like this:

In a few places, `grunt` is passed through as an option like this:

I need to access `grunt` in another file for https://github.com/phetsims/chipper/issues/724, wasn't sure which style to use.  I'm leaning toward the former due to its prevalence but thought I'd ask if we need to standardize on this, perhaps convert the latter cases to the f

[2019-05-02 17:38] pixelzoom commented on #753
Looks like this applies to chipper and perennial. `require( 'grunt' );` is the most prevalent, and makes the most sense to me.  So if I were going to write new code, I'd go with `require( 'grunt' )`.   I'm ambivalent about whether to standardize.

[2019-05-02 19:21] samreid commented on #752
@jbphet volunteered to fix the three occurrences, including rosetta and chipper.  We will leave clarinet.

[2019-05-02 19:24] pixelzoom commented on #752
FYI, more on `Buffer()` deprecation:
https://nodesource.com/blog/understanding-the-buffer-deprecation-in-node-js-10/

[2019-05-06 14:58] mattpen commented on #746
This change was applied to all current release branches and deployed to production where necessary.

[2019-05-06 14:58] #746 closed

[2019-05-07 20:52] jbphet commented on #752
The link that @pixelzoom is a good one for the history of the deprecation of the constructor.  I was a bit curious as to the motivation.  I didn't spend much time looking, but found what I thought was a decent explanation at https://nodejs.org/en/docs/guides/buffer-constructor-deprecation/ in the FAQ section.  The bottom line is that there the constructor can be tricked into allocating uninitializ

[2019-05-07 21:01] jbphet commented on #752
In https://github.com/phetsims/chipper/issues/752#issuecomment-488016499, @samreid said that, "we should use `Buffer.alloc` instead of `new Buffer`".  I thought I should note that this is context dependent, and in some cases we should use `Buffer.from` instead.  See the [referenced Stack Overflow article](https://stackoverflow.com/questions/52165333/deprecationwarning-buffer-is-deprecated-due-to-s

[2019-05-07 22:39] jbphet commented on #752
My approach to fixing this was to add debug output to the chipper files where the replacement calls needed to go, then making the replacements and verifying that the code was indeed being invoked during a build, then verifying that the build succeeded, then verifying that the product of the build ran correctly.  In chipper, there were two usages of `new Buffer`, one for encoding files such as soun

[2019-05-07 23:06] pixelzoom commented on #752
I can't say that I'm familiar with `Buffer`, never having used it. But changes looks reasonable to me, and it sounds like @jbphet has tested rigorously.  So closing.

[2019-05-07 23:06] #752 closed

[2019-05-08 16:25] jbphet commented on #752
One last thought on this: The security risk isn't really a thing for chipper, since that code isn't being used in a server, it's rosetta where the change really mattered.  It's nice to get rid of the warning in chipper though, which is why I went ahead and did it.

[2019-05-09 16:51] jessegreenberg opened #754 "Confusion around accessibility query parameters and options"
This has come up a few times. For at least the sound and accessibility query parameters, the query parameter doesn't always overwrite the value of the sim option which creates some confusion. Also, it is confusing that we have two globals phet.chipper.accessibility and phet.chipper.queryparamters.accessibility. We have at least one incorrect usage of phet.chipper.queryparamters.accessibility.

We

[2019-05-09 21:47] zepumph opened #755 "How to cacheBust preloads"
From https://github.com/phetsims/axon/issues/243, we found that all the phet-io api preloads were cached and need dev tools to be opened to clear the cache. This occurs more here I think than others because these preloads are constantly changing, and that is likely to not change in the near future. Is there a way to easily cacheBust these preloads?

We should at least give this a PSA at a dev meet

[2019-05-09 21:50] zepumph commented on #755
Oh! The main spot this has become incredibly annoying in is aqua fuzz tests. There is a sort of catch 22 when trying to run all sims because if you open your dev tools, you reload the elements files (and thus avoid a phet-io api assertion), but then I will manually pause in a debugger if there is ever an uncaught error, so it is difficult to test all sims while iterating on the preloads.

[2019-05-13 17:50] jessegreenberg opened #756 "branch: browserZoom"
In support of initial investigation for phetsims/scenery#175, to see if we can leverage the browser to support zoom and magnify. Expecting changes in scenery, joist, and chipper, each which will require a branch like this one. For more documentation, please see phetsims/scenery#175.

[2019-05-15 13:40] joannaho opened #757 "Suggestion for README.md"
I would like to suggest updating the acid-base-solutions/README.md git repo section so that it is easier to clone the multiple repo in one command.

This is what I used to clone it which is less painful.

[code]

[2019-05-15 17:38] pixelzoom commented on #661
Not at all true.  "phet-io-wrapper-hookes-law-energy" for example has now leaked into dependencies for all sim, including some that are published.  That repo was intended to be temporary, and now it can't be deleted without costly maintenance patch/release work.

Raising the priority to high, labeling for dev meeting.

[2019-05-15 17:52] pixelzoom commented on #661
"phet-io-wrapper-hookes-law-energy" was added to build.json  on 6/12/18, well after this issue was created.  Why would you do something to make the problem worse?  And why would you add something that is clearly specific to hookes-law to all build.json, which is the core dependencies for all sims?

[2019-05-15 19:18] samreid commented on #661
From slack:

Chris Klusendorf [12:16 PM]
we’ve committed our fix to master and verified that the unwanted dependencies are not showing up when ph-scale is built

Chris Malley [12:17 PM]
Thanks.  I’ll verify when I get back to ph-scale.  I’ve spent my allotted time for this week, back to gas-properties.

Jonathan Olson [12:26 PM]
Is that ready patch essentially ready to maintenance-release? @ariel-

[2019-05-16 18:13] pixelzoom commented on #661
5/16/18 dev meeting, status is:

* fixed in master
* @jonathanolson will patch in a future maintenance release, will use this issue to track
* @pixelzoom will revisit ph-scale and ph-scale-basics RC

[2019-05-16 18:18] mattpen commented on #757
I frequently use `&& \` in git-bash on Win 10, bash on macOS terminal, and bash on RHEL 7.  It seems to have pretty robust support.

[2019-05-16 19:14] pixelzoom commented on #755
5/16/19 dev meeting:

* @samreid we should handle cache busting uniformly in all code. Currently we're inconsistent.
* @samreid has to turn off cache busting when setting breakpoints in dev tools.

- [ ] We will add cache busting for preloads.
- [ ] Rename `cacheBuster` query parameter to `cacheBust`, change type to 'flag' (off by default).
- [ ] aqua tests in phetmarks will add `?cacheBust` since

[2019-05-17 02:06] joannaho commented on #757
@pixelzoom Thanks for considering.

[2019-05-17 17:43] pixelzoom commented on #757
@joannaho We discussed this in our developer meeting yesterday.  Someone pointed out that you even without the change that you've suggested, you can select all of the `git clone` commands, paste them, into a shell, and all of the commands will be run.   So we're leaning towards not changing anything .  Can you confirm whether copy-pasting all command "as is" from the README.md works for you?  If i

[2019-05-17 22:19] zepumph opened #758 "Do we allow object destructuring in phet code?"
Very similar to https://github.com/phetsims/chipper/issues/739

From slack, it seems like for the same reasons we dislike object shorthand (mainly var renaming/refactoring) we don't want to support object destructuring.

See https://eslint.org/docs/rules/prefer-destructuring for the lint rule to support destructuring. I'm unsure we can use that rule, since we want to error out when destructuring o

[2019-05-17 22:22] zepumph commented on #758
Note that I don't think this applies as strongly to Arrays since they aren't already named in the array.

[2019-05-23 08:08] jonathanolson commented on #661
I took a dive into this, and I don't seem to have the historical phet-io knowledge required to know how to patch all of the cases, and I could use some help. First of all, phet-io-wrappers didn't exist until April 2017 (so presumably shouldn't be included anywhere it wasn't already). Additionally, phet-io-website may have been a hard dependency for old sims according to https://github.com/phetsims

[2019-05-23 15:57] pixelzoom commented on #757
Hi @joannaho, checking in with you again.  See https://github.com/phetsims/chipper/issues/757#issuecomment-493539389 for requested feedback.

[2019-05-23 16:03] samreid commented on #661
I did not know how complicated this would be, and I'm not sure how difficult it will be to create pseudocode to get the dependencies correct.  I'm wondering if we should proceed or discuss shelving this work and focus on getting away from these bad dependencies via publishing all new sims from master and getting away from these legacy versions.  Tagging for developer meeting to touch base.

[2019-05-23 16:55] joannaho commented on #757
@pixelzoom I confirmed that it worked copying straight to the command. This is good to know, i didn't know that would have worked. Thanks for checking!

[2019-05-23 18:11] pixelzoom commented on #757
Excellent, then we will not make any changes and I'll close this issue.

Thanks again for creating this issue and contributing to PhET!

[2019-05-23 18:11] #757 closed

[2019-05-23 20:19] jessegreenberg commented on #661
5/23/19:

We agreed that this should be fixed. @zepumph will coordinate with @jonathanolson to fix this, while pairing they will go through questions listed in https://github.com/phetsims/chipper/issues/661#issuecomment-495113161.

[2019-05-23 23:47] zepumph opened #759 "rename ?cacheBuster -> ?cacheBust"
I think this will be best if we rename all usages of `buster` to `bust`.  Creating a new issue even though this is simple to keep a bunch of `grunt update` related commits modular.

[2019-05-23 23:47] zepumph commented on #759
From https://github.com/phetsims/chipper/issues/755

[2019-05-24 16:58] zepumph commented on #759
This involved looking at every config in the project. Most were changed via `grunt update`, but there were some that were manual (like scenery dependencies and mobius), and there were some that were no longer used and I deleted the configs (inverse-square-law-common and shred).

Otherwise this was pretty straight forward and feels quite safe to me. I'll have this reviewed with the parent issue.

[2019-05-28 08:11] jonathanolson commented on #661
Deployed RCs. @zepumph I'm not actually sure what level of phet-io testing would be required. Would you by chance be available to create the QA/special-ops issue for testing, with hopefully a good procedure to make sure nothing in phet-io broke? The list of RCs is below:

area-model-algebra 1.0 (https://github.com/phetsims/chipper/issues/661)

- [ ] [area-model-algebra 1.0.6-rc.1](https://phet-dev

[2019-05-30 20:11] zepumph commented on #661
I just made the issue, sorry for the delay. I went with QA, I hope that's ok.. . @jonathanolson let me know what you think.

[2019-06-10 18:07] jonathanolson commented on #661
Production deployments completed, I'll do a quick check on these links before closing:

area-model-algebra 1.0 ()

- [ ] [area-model-algebra 1.0.6](https://phet.colorado.edu/sims/html/area-model-algebra/1.0.6/area-model-algebra_en.html)

area-model-decimals 1.0 ()

- [ ] [area-model-decimals 1.0.6](https://phet.colorado.edu/sims/html/area-model-decimals/1.0.6/area-model-decimals_en.html)

area-mod

[2019-06-10 18:09] jonathanolson commented on #661
Quick sanity checks show everything working nicely. Did end up having to redeploy area-model-multiplication due to a git issue. Closing.

[2019-06-10 18:09] #661 closed

[2019-06-10 22:40] pixelzoom commented on #734
Reopening.

Slack developer channel:

Chris Malley [4:30 PM]
A new code-review checklist item is “Does linting with “sim_es6_eslintrc_review.js” reveal any problems?”  What is the point of this?  I’m having all kinds of problems with this lint file.  By convention we define private functions after the class definition, and lint is flagging all of these as “used before defined” errors.  I also have

[2019-06-10 22:44] pixelzoom commented on #734
In my single experience with this, it had zero value, and only generated busy work.  Some rules don't even match PhET conventions. 'no-use-before-define' is generating a lot of noise because it's PhET convention to define private functions after the class definition.  `'max-len' 120` is not a hard rule, it's up to developer discretion.   And `'no-trailing-spaces': 2,` kept me busy for 20 minutes r

[2019-06-11 04:35] samreid commented on #734
I found numerous occurrences of trailing whitespace in comments--those seem tolerable.  I tried changing the rule to:
[code]
and saw 348 occurrences of trailing whitespace in code (not in comments).  For example:
![image](https://user-images.githubusercontent.com/679486/59243885-79d4ef80-8bcf-11e9-928c-316f813d9d90.png)

When I applied the IDEA formatting rule, these extraneous whitespaces were re

[2019-06-13 00:09] zepumph commented on #734
`'no-trailing-spaces'` perhaps should be included in all lint rules, since it is a sign that formatting is not being applied. Perhaps people would be opposed though.

[2019-06-13 09:45] terracoda opened #760 "Missing red keyboard focus styles in A11y View on sim specific controls"
@zepumph and @jessegreenberg, I can't say when the highlights stopped or if they were ever present (sorry). I don't think this issue should block publication or even an RC. I just would like to put it on th radar in case it is a general issue.

**Sim specific controls are not getting keyboard focus highlights**
<img width="940" alt="Screen Shot 2019-06-13 at 11 32 52 AM" src="https://user-images.g

[2019-06-13 14:50] jessegreenberg commented on #760
Perhaps this is always been an issue. The highlight is shown in the a11y-view with the `border` attribute which according to https://stackoverflow.com/questions/2460501/how-to-change-checkboxs-border-style-in-css doesn't work on certain elements. That issue recommends using the outline attribute instead.

[2019-06-13 15:23] jessegreenberg commented on #760
Fixed with the above commits.

[2019-06-13 15:23] #760 closed

[2019-06-19 13:40] samreid opened #761 "Change to a cross-platform enforceable code formatting style"
I noticed that several simulation repos do not match the formatting specified in the code review checklist.  Should we switch to an open source formatting utility which can be used from command line, as plugins in different IDEs and usable from Sublime Text?  If our new formatter is usable from command line, it could be used to automatically (a) check that the code is formatted or (b) automaticall

[2019-06-24 23:18] jonathanolson opened #762 "branch: connectionTest"
Temporary work to support testing for https://github.com/phetsims/phet-ios-app/issues/484

[2019-06-27 15:01] pixelzoom opened #763 "'grunt generate-config' results in incorrect copyright dates for config.js"
Whenever `grunt generate-config` or `grunt update` are run, it regenerates config.js with an incorrect copyright header.   This has happened several times during gas-properties development.  Someone has run `grunt update`, and then I've discovered that `grunt  update-copyright-dates` needs to be run because config.js is incorrect.

This is not a big deal, but checking `grunt  update-copyright-date

[2019-06-27 16:17] samreid commented on #763
Would it work to add `update-copyright-dates` as a new final step in `grunt update`?

[2019-06-27 16:58] pixelzoom commented on #763
That would probably be fine, as long as we don't mind the fact that `grunt update-copyright-dates` will hit files that aren't relevant to `grunt generate-config` and `grunt update`.

[2019-06-27 23:46] jonathanolson opened #764 "Delay require.js startup until conditions are satisfied"
In https://github.com/phetsims/tasks/issues/1002, it was noticed that when the simulation is loaded in a hidden iframe, our SVG text bounds method does not work. Other minor things (like zero width/height for the window) also happen.

I'm going to add a way where we wait until the simulation is ready to load (checking window resizes for now, with setTimeout as a backup method (in case we for some

[2019-06-27 23:56] jonathanolson commented on #764
Commit tagged above. @ariel-phet I'd highly recommend this to be code reviewed (@samreid perhaps?), and I'm going to create a QA issue for some more specific testing.

[2019-06-27 23:58] jonathanolson commented on #764
Adapted HTML from @jessegreenberg's minimal reproducible example at https://github.com/phetsims/tasks/issues/1002#issuecomment-501053218:

[code]

[2019-06-28 00:02] jonathanolson commented on #764
QA issue tagged above.

Once things look good (QA/review done), this seems like a candidate for maintenance releasing (potentially with @chrisklus tagging along). @ariel-phet does that sound like a plan?

[2019-06-28 19:08] jessegreenberg opened #765 "sim_es6_eslintrc_review usage and changes"
One of the steps in the code review checklist is

When I ran it for gravity-force-lab-basics it identified a number of lint issues mostly related to line length. We determined that these don't need to be fixed. Should the line length check be changed for sim_es6_eslintrc_review?

It also flagged `DerivedPropertyIO( NumberIO )`:

I am not sure I understand the purpose of this check - since it is fo

[2019-06-29 02:22] samreid commented on #765
This was covered somewhat in https://github.com/phetsims/chipper/issues/734#issuecomment-500620356.  I recommend that I move @jessegreenberg's comment there and mark it for developer meeting.

[2019-06-29 02:22] #765 closed

[2019-06-29 02:23] samreid commented on #734
In #765 @jessegreenberg said:

One of the steps in the code review checklist is

When I ran it for gravity-force-lab-basics it identified a number of lint issues mostly related to line length. We determined that these don't need to be fixed. Should the line length check be changed for sim_es6_eslintrc_review?

It also flagged `DerivedPropertyIO( NumberIO )`:

I am not sure I understand the purpose

[2019-06-29 02:25] samreid commented on #734
The *_review.js rules were intended to flag things that *might* be problems.  But it sounds this supplemental eslint file is more trouble than it is worth.  I recommend we move any desirable rules to the main eslint file and delete this one.

[2019-06-29 03:24] samreid commented on #764
Is https://github.com/phetsims/chipper/issues/764#issuecomment-506551779 expected to error out, or is dev.7 patched?  It's not showing symptoms that I can see in Mac/Chrome.  How many platforms does the "Can't GetBBox of SVG when hidden" affect?

[2019-06-29 11:34] pixelzoom commented on #734
+1 for moving desirable rules to the main eslint file and deleting sim_es6_eslintrc_review.js.

[2019-06-29 21:48] jbphet commented on #734
Another +1 for moving desirable rules to the main eslint file.  I am currently working through the code review checklist for "Gas Properties", and the item containing "Does linting with "sim_es6_eslintrc_review.js" reveal any problems that should be fixed?" feels like a waste of time.  There is a rule `no-use-before-define` that is flagging a number of things that seem to be exactly as they should

[2019-06-30 12:14] antorpramanik commented on #578
check file package-lock.json? (C:\Windows\system32)

if not exists
run cmd as admin
-------------------
Set EXPO_DEBUG=ture
npm config set package-lock false
npm install

now its working ;-)

[2019-06-30 15:24] samreid commented on #761
I tried running a file through prettier, and was not impressed with how it handled our code

![image](https://user-images.githubusercontent.com/679486/60398714-b7ff6800-9b18-11e9-939a-da095be7153e.png)

[2019-06-30 15:34] samreid commented on #734
Tagging for developer meeting to confirm exactly which rules we want to move to the main eslint file.

I recommend to move the following rules:
[code]

Note that build-a-molecule/js/model/data/otherMoleculesData.js will need a file-oriented disable.

[2019-07-01 17:20] jonathanolson commented on #764
I can reproduce the issues if I check out the 1.0 branch of masses-and-springs-basics, replace the URL in the HTML template to point to the non-assert require.js form (http://localhost/masses-and-springs-basics/masses-and-springs-basics_en.html?brand=phet for me), and patch Sim.js' resize() with `width = width || 800; height = height || 600;` before it fires the resizedEmitter.

Then the result of

[2019-07-01 17:21] jonathanolson commented on #764
I did patch things and then deploy dev.7, so that should be the fixed behavior.

[2019-07-01 18:01] ariel-phet commented on #764
@jonathanolson yes, agreed should be code reviewed (unclear if that already happened, but yes please have @samreid hop in on that).

Also agreed it is good for a maintenance release.

[2019-07-01 22:17] samreid commented on #764
I won't be able to get to this right away, so @ariel-phet asked me to reassign to him to find another reviewer.

[2019-07-04 03:09] samreid commented on #764
I followed the steps in https://github.com/phetsims/chipper/issues/764#issuecomment-507352683 and additionally discovered that you have to wait some 5-10 seconds before pressing "Toggle Hidden" in order to trigger the problem case.

[2019-07-04 04:27] samreid commented on #764
Once `runRequireJS` is called, can we be certain that the entire startup sequence from that point is synchronous?  What if the parent div becomes hidden during the startup process?  What if the sim launches, then the parent div becomes hidden, then the PhET sim creates a SCENERY/Text while the parent is hidden, then parent becomes non-hidden.  Won't the new SCENERY/Text have incorrect bounds and l

[2019-07-06 00:53] jonathanolson commented on #764
No, we might be waiting on images to load also.

I tested this, and a timeout of 20ms between displaying and hiding again was able to produce this problem. I don't see any good way of handling this effectively, but I think it's unlikely to be encountered in the wild. Probably the only good way of handling this would be to switch to a different method of acquiring text bounds, but it's highly likel

[2019-07-11 17:16] pixelzoom commented on #761
I'd like to understand the root cause before deciding whether another tool for formatting is necessary.  Is this occurring because of some inherent different in how IntelliJ/WebStorm and Sublime handle formatting?  Or is this occurring because developers don't have their IDE configured to apply PhET formatting?

[2019-07-11 19:54] zepumph commented on #763
We think that update-copy-dates, along with generating the third part report, should be done on bayes automatically. We can create a script in perennial/bin to run this daily grunt work. See https://github.com/phetsims/perennial/issues/141 for that work. Is this ready to be closed?

[2019-07-11 19:55] zepumph commented on #594
@mattpen any objections to moving this to perennial now as part of https://github.com/phetsims/perennial/issues/141?

[2019-07-11 20:00] pixelzoom commented on #763
👍

[2019-07-11 21:58] zepumph commented on #594
For now I just left it. It seemed to be a bit easier this way.

[2019-07-11 23:14] zepumph opened #766 "Bug in update-copyright-dates"
Some files (for example 3 in the all of active-runnabled) return a blank line for the following git log command used to get the start date:

`git log --diff-filter=A --follow --date=short --format=%cd -1 -- {{filename}}`

This is easy to write a workaround for, which I'm going to do because I have no idea how or why I would track down the problem/reason with the git command.

[2019-07-11 23:15] zepumph commented on #766
related to https://github.com/phetsims/perennial/issues/141

[2019-07-11 23:17] zepumph commented on #766
The above commits were from rerunning the script, not just manually adding them. I think this has been fixed.

[2019-07-11 23:17] #766 closed

[2019-07-12 00:05] zepumph opened #767 "change cacheBust to be a flag, off by default"
From https://github.com/phetsims/chipper/issues/755.

[2019-07-12 01:33] zepumph commented on #763
I'm realizing the above plan didn't fix the bug that created this issue. The above commit fixes this, as well as
https://github.com/phetsims/perennial/issues/120

[2019-07-12 01:33] zepumph commented on #763
@pixelzoom please review.

[2019-07-12 01:53] #767 closed

[2019-07-12 02:50] zepumph commented on #755
All 4 steps have been dealt with. In this issue, I updated `CHIPPER/sim-development.html` and phetmarks. Everything else is just running grunt update. It's about the same for the other issues. @pixelzoom please review

[2019-07-12 13:04] samreid commented on #764
I'll create separate issues for the ideas that need further discussion.

[2019-07-12 13:11] samreid opened #768 "How to deal with (0,0) text bounds while sim is running?"
From https://github.com/phetsims/chipper/issues/764

I said:

@jonathanolson replied:

I agree the primary case is making sure text bounds are available at the beginning of startup, but I think we should decide how to handle this during the sim runtime.  Some possibilities:

(a) Throw an error if non-empty text is detected to have (0,0) bounds during sim runtime.
(b) When non-empty text is detecte

[2019-07-12 13:31] samreid opened #769 "Run chipper-startup.js during requirejs mode"
In https://github.com/phetsims/chipper/issues/764, I said:

@jonathanolson replied:

At a minimum, chipper-startup.js should be clearly documented as running only in built mode.  But I think it would be better to run this in requirejs mode for uniformity and make it easier to debug/maintain this phase.

Reassigning to @jonathanolson for discussion.

[2019-07-12 14:26] samreid opened #770 "Generalize the wrapPath API in requireBuild.js"
From https://github.com/phetsims/chipper/issues/764

Improvements were made in requireBuild.wrapPath in https://github.com/phetsims/chipper/issues/764 but we can take one more step to improve it further.  Here's an (untested) change that uses the requirejs API for setting the `wrap`.  This is better because it consolidates the wrap information and reuses the requirejs API instead of creating a dif

[2019-07-12 14:31] samreid opened #771 "In chipper-startup, prevent further attempts after success"
From https://github.com/phetsims/chipper/issues/764 I said:

(6) It looks like there is a little interference between the `setTimeout` and the `addEventListener( 'resize'`.  For instance, if `attemptStart` is initially false, then a timeout is scheduled for 1000ms later, then resize triggers at 500ms, then `attemptStart` is called later unnecessarily.  I know at that point it becomes a no-op, but

[2019-07-12 14:31] samreid commented on #771
@jonathanolson replied:

[2019-07-12 14:32] samreid commented on #771
On slack, I said:

Would this be prohibitively expensive to implement?

[2019-07-12 14:43] samreid opened #772 "Document preload order dependencies"
From https://github.com/phetsims/chipper/issues/764

I said:

@jonathanolson replied

Should we document order dependencies in preloads?  If so, how?

[2019-07-12 14:48] samreid opened #773 "Move most or all of chipper-startup.js to a preload"
From https://github.com/phetsims/chipper/issues/764

I said:

(8) Is there a way to get (almost all of) chipper-startup.js to run as a standard preload, referenced from `chipper/build.json`?  That would help unify this new code with existing code, and get rid of the code like this:
[code]
Moving toward this strategy may help us reach the goal of running this new code in requirejs + built mode?

[2019-07-12 14:48] samreid commented on #773
@jonathanolson replied:

[2019-07-12 14:51] samreid commented on #773
This seems related to #769.  I agree that custom logic is needed for productionPreloads, productionStringsJS, productionJS, productionStartupJS, but I'm not seeing why (almost all?) of chipper-startup.js shouldn't be in a preload.  What are the drawbacks of making it a standard preload?  Can this be investigated further?

[2019-07-12 14:58] samreid opened #774 "Should we call setAttribute with string, string?"
From #764

I said

@jonathanolson replied:

MDN says:

A DOMString containing the value to assign to the attribute. Any non-string value specified is converted automatically into a string.

This sounds somewhat contradictory, but seems legit.  I only noticed it because my IDE highlighted it:

![image](https://user-images.githubusercontent.com/679486/61137387-a441f300-a482-11e9-90c7-67afcdbb6cfb.pn

[2019-07-12 14:59] samreid commented on #774
I guess one good reason to make our call sites call with (string, string) is to protect ourselves from the (unlikely) case that a browser changes how it coerces something to a string.  (Maybe one day a bug will creep into a browser where they change radix or something).

[2019-07-12 15:10] samreid opened #775 "Duplicated code between chipper-startup.js and TextBounds.js"
From https://github.com/phetsims/chipper/issues/764

I said

@jonathanolson replied:

[2019-07-12 15:17] samreid commented on #775
After unifying variable names and reordering a method, I'm seeing around 10 lines of code that are duplicated between those files:

![image](https://user-images.githubusercontent.com/679486/61138677-2a5f3900-a485-11e9-8d65-0114f7b406c6.png)

I'd at least like to understand what possible solutions for factoring these out, to understand their costs.  If we just had a preload with

[code]

Would that

[2019-07-12 15:27] samreid commented on #764
I created issues for follow-up discussion or work.  The proposed solution in master is an improvement over the previous status quo and seems stable enough to take simulations to RC.  In my opinion, the blocks-publication label can be removed from this issue or this issue can be closed.  None of the follow-up issues seem to be inherently blocking, unless we are concerned that addressing them over t

[2019-07-12 15:59] samreid commented on #773
@jonathanolson also said in slack:

[2019-07-12 18:56] zepumph commented on #755
To be clear, as part of this review, please hit https://github.com/phetsims/chipper/issues/759 and https://github.com/phetsims/chipper/issues/767 as well.

[2019-07-12 18:56] #759 closed

[2019-07-12 19:17] jonathanolson commented on #768
I'm not sure how throwing an error would be helpful for built simulations. What are the advantages of this?

This sounds like a good fallback to implement. If agreed upon, I'd like to implement this.

It seems like a difficult problem to be able to anticipate every single font (including the size) used by a simulation.

This also seems generally useful, so we'll see something in the console.

I'd

[2019-07-12 19:25] jessegreenberg commented on #754
The accessibility global in chipper has been removed. I think I did this right, @zepumph would you mind double checking?

I tested by making sure that ?a11y and ?accessibility params worked while the Sim.js accessibility flag still works the same. And I made sure places that were using the global are still working now that they are reaching into phet.joist.sim.accessibility.

[2019-07-12 19:41] zepumph commented on #754
* Changes look nice. I like that everything is now based on a single field in Sim.
* `accessibility` is a bit of a strange name, and doesn't convey a boolean too well. Perhaps `sim.isAccessible` or `sim.a11yEnabled`. I don't feel too strongly about this, let me know what you think!

We could delete the phet.chipper.queryparamters.accessibility after it has been used to avoid all confusion.
At the

[2019-07-12 22:19] jessegreenberg commented on #754
Thanks for the quick review.

Sounds good, I like `isAccessible`.

Thanks, forgot about that. I am not sure I like deleting, but I will definitely add documentation.

[2019-07-12 22:31] jessegreenberg commented on #754
OK, done above, anything else?

[2019-07-13 00:14] zepumph commented on #754
The documentation looks excellet.

        assert && assert( this.isAccessible, 'fuzzBoard can only run with accessibility enabled.' );
        this.keyboardFuzzer.fuzzBoardEvents();
      }

This occurs before `this.isAccessible` is set to sim, likely fuzzBoard is broken right now.

[2019-07-13 01:09] jessegreenberg commented on #754
That is called from within the `stepSimulationAction`, so it should be OK. I just tested fuzzBoard and it seems to be working.

[2019-07-13 02:16] #754 closed

[2019-07-13 17:15] pixelzoom commented on #755
While I did take [notes in 5/16/19 dev meeting](https://github.com/phetsims/chipper/issues/755#issuecomment-493196614), I don't feel like I'm familiar enough with how PhET is using cache busting to give this a proper review. @zepumph could you please assign someone else?

[2019-07-13 18:05] zepumph commented on #755
@samreid can you take this on? If not please assign to @ariel-phet to assign a reviewer.

[2019-07-13 21:29] pixelzoom commented on #763
I'm not clear on what was done, what I'm reviewing, and how I should verify.  @zepumph please clarify.

[2019-07-15 02:51] samreid commented on #761
I'll look at one sim from each responsible dev (assuming each developer may have a different strategy for formatting) and report here:

Acid Base Solutions: 12 files changed on format
Area Builder: 13 files changed on format
Area Model Common: 0 files changed on format
Balloons and Static Electricity: 23 files changed on format
Bending Light: 43 files changed on format
Capacitor Lab: Basics: 9 fil

[2019-07-15 02:54] samreid commented on #755
I'm happy to be the assignee, but will likely not get to this for at least a month at current priority.  @ariel-phet feel free to assign someone else or change the priority if it needs to be done sooner.