[2022-01-13 01:13] zepumph commented on #1106
Alright! Everything here has been implemented (much of which is in side issues), and is for discussion in developer meeting. Please take a look at discussion points in https://github.com/phetsims/chipper/issues/1106#issuecomment-1007008977.

The best examples of this are in WILDER/WilderEnumerationPatterns, and in RATIO_AND_PROPORTON/TickMarkView (but you can see others by searching for `static en

[2022-01-13 17:14] zepumph commented on #1187
When I tried to cause this lint rule, it wasn't being triggered, so I wonder if it was even working. Even so, it isn't going to work with the new pattern. Removed above. Closing

[2022-01-13 17:14] #1187 closed

[2022-01-13 18:24] oliver-phet commented on #1111
I just sent a follow up email to the user/company requesting this locale.

[2022-01-13 18:26] oliver-phet commented on #1169
I sent a follow up email to the user, will update when we receive a response.

[2022-01-13 19:20] samreid commented on #1171
At today's meeting, we agreed to continue with the revert.  I'll run the maintenance tools to see what branches are impacted.

[2022-01-13 19:53] pixelzoom commented on #1106
EnumerationDeprecated.js and EnumerationDeprecatedProperty.js both need a `@deprecated` annotation, so that they will be identified as deprecated in WebStorm.

[2022-01-13 20:12] oliver-phet commented on #1111
@jbphet It sounds like we should forego adding this custom locale code.

I'm going to close this issue for now and continue the discussion of possible changing/adding "Kurmanji" in https://github.com/phetsims/website/issues/1270.

[2022-01-13 20:12] #1111 closed

[2022-01-13 21:26] zepumph opened #1188 "Transpiler improvements"
While trying to get https://github.com/phetsims/a11y-research/issues/170 to work. I made three changes within the Transpiler to help support this:

1. I want to ignore the same paths on file visiting as we do for watch. (This is to support `a11y-research/js/phrase-builder/node_modules` which is a weird structure to support linting).
2. For windows, we needed to factor out forward slash path conver

[2022-01-13 22:45] zepumph commented on #1188
@samreid, please review this commit.

[2022-01-14 00:51] zepumph commented on #1106
I'll take care of these cleanup steps.

[2022-01-14 16:00] samreid commented on #1188
Since the cache file is written each time a change is observed, I suspect the only way interrupt was breaking the cache was if the cache file was being written at the time of ctrl+c and hence not fully written.  The proposal seems reasonable, especially if it avoids the problem on windows.

[2022-01-14 16:08] samreid commented on #1173
Maybe the transpiler process could also run update-copyright-dates, see https://github.com/phetsims/perennial/issues/260

[2022-01-20 17:36] zepumph commented on #1106
I have gone through this issue. All that is left is side issues and to update the design patterns document. Some items there:
* Guide people to WilderEnumerationPatterns
* Make sure to note how to support `null`

[2022-01-22 01:54] pixelzoom commented on #1147
I'm going to self unassign for now.  @jonathanolson when you need input, let me know.

[2022-01-22 22:14] jonathanolson opened #1189 "npm update failing"
Console output:

[code]

Looks related to https://github.com/jsdoc/jsdoc/issues/1970. Specifying the exact version of 3.6.7 works to get master working again. If this isn't fixed soon, I'll need to maintenance-release this for all sims that specify jsdoc as a dependency (probably everything).

[2022-01-23 15:23] samreid commented on #1189
I saw a build error email today which also seemed related to jsdoc, but this error ended with

[code]

<details>

[code]

</details>

[2022-01-24 18:13] zepumph commented on #1188
Ready to close?

[2022-01-24 19:40] zepumph commented on #1106
I just found some great news! If your typescript file is using an EnumerationDeprecated in common code that is in a larger `js` file, you can convert it directly in the js file (without converting the entire file) and still gain the typescript support at your usage site. For example in `AriaLiveAnnouncer.AriaLive`, (commit coming soon), used by `RAP/BothHandsPDOMNode`.

[2022-01-25 19:26] zepumph opened #1190 "Transpiler bug"
Not sure if it is work fixing, but I thought I would note a case where the transpiler can get outdated and need restarting.

Steps to reproduce:
1. Have working copy changes in a file that cause a transpile ERROR (for example, an incomplete statement).
2. Start the transpiler, it will begin its initial transpilation phase.
3. Fix the error before the initial transpilation phase is done
4. Once the

[2022-01-25 22:19] zepumph commented on #1141
This is going to need quite a bit more design consideration. @kathy-phet @markgammon and I were going through my "ready-for-review" labelled items today, and we felt like this doesn't warrant that label. I feel like https://github.com/phetsims/gravity-and-orbits/commit/2783a0f5fe7f5e7c5c41d7785abfd2f732ab8185 was enough of a bandaid to continue, and that we will likely want to come up with a more

[2022-01-26 16:48] zepumph commented on #1190
I think that this solution isn't going to fix things because javascript is single threaded.

For example, it is the same reason why SIGINT doesn't work during a clean transpile. https://stackoverflow.com/a/49458139/3408502

I bet we can just close this issue.

[2022-01-27 16:07] samreid opened #1191 "TypeScript convention: evaluate constructor private/public parameters. aka parameter properties"
See https://kendaleiv.com/typescript-constructor-assignment-public-and-private-keywords/

[2022-01-27 18:08] samreid commented on #1155
The separation was done in https://github.com/phetsims/chipper/issues/1154, now tsconfigs are in each sim.  There are 2 tsconfigs, one for the module and one for everything that includes tests and downstream dependencies.  Closing.

[2022-01-27 18:08] #1155 closed

[2022-01-27 19:14] chrisklus commented on #1177
From 1/27/21 dev meeting: we checked in on this, and we're getting close!

[2022-01-28 18:53] jonathanolson commented on #1177
Handled my repos.

[2022-01-29 00:16] oliver-phet commented on #1169
I haven't heard back from the requesting user in over 2 weeks. I think we should close this issue and wait on supporting any new custom locales until we have another serious request.

[2022-01-29 00:16] #1169 closed

[2022-01-30 05:25] samreid opened #1192 "Can we add a composite options type to keep us organized and reduce the need for manually enforced conventions and boilerplate?"
While working on https://github.com/phetsims/chipper/issues/1128, it was clear that there is a lot of boilerplate and unenforced (or code review enforced) convention around the options pattern.  For instance, I have had to write a pattern like this many times:

[code]

I have to manually keep track of 3 types and make sure they all end up in the right places.  I'm wondering and brainstorming if we

[2022-01-31 23:39] jonathanolson commented on #1189
Deployed verions:

atomic-interactions 1.2 ()

- [ ] [atomic-interactions 1.2.4](https://phet.colorado.edu/sims/html/atomic-interactions/1.2.4/atomic-interactions_en.html)

balancing-act 1.2 ()

- [ ] [balancing-act 1.2.9 phet-io](https://phet-io.colorado.edu/sims/balancing-act/1.2.9/balancing-act_all_phet-io.html?phetioStandalone)
- [ ] [balancing-act 1.2.9 phet-io Studio](https://phet-io.colorad

[2022-01-31 23:39] jonathanolson commented on #1189
Scanned through, looks like production deploys worked for all of this. Closing!

[2022-01-31 23:39] #1189 closed

[2022-02-01 17:53] zepumph commented on #1192
I could potentially see this being an improvement, but I want to think through this fully in terms of type space and value space.

The only thing we want to export is the public api for options (the providedOptions), so would it be something like this at the end of the file?

`export type { VoltageSourceOptions.providedOptions as VoltageSourceOptions }`

[2022-02-01 20:51] samreid commented on #1188
Sounds good, thanks!

[2022-02-01 20:51] #1188 closed

[2022-02-01 20:53] samreid commented on #1163
Thanks, closing.

[2022-02-01 20:53] #1163 closed

[2022-02-02 23:35] zepumph commented on #1192
@samreid and I met today and tried to get something like this working. The pattern of having a single composite type that holds all our needs for a Class's options was really appealing. We were calling it `ExtendedOptions`. The issue we ran into was in preventing type regressions when trying to pass it as a single argument to optionize. We could not get our type features with that single type para

[2022-02-03 15:36] zepumph commented on #1022
This issue has pretty much completely stopped for me. I'm going to close this, but please reopen if you ever get an error like "Navigation failed because browser has disconnected!"

[2022-02-03 15:43] zepumph commented on #1019
I recommend that we close this issue and open a new one when the speed of API generation is prohibitively expensive. A year later, this is still a reasonable number.

[2022-02-03 15:43] #1019 closed

[2022-02-03 18:21] zepumph commented on #1177
Just 85 errors left!

[2022-02-03 19:43] zepumph commented on #1192
@samreid and I brought this to dev meeting today, and most felt like the boilerplate of the current pattern was less than ideal, though most also felt like they could get used to it. We should continue on this pattern and see how far we can get.

[2022-02-03 19:46] zepumph commented on #1192
@samreid, let me know how you would like my assistance in moving forward on this issue.

[2022-02-04 16:22] KatieWoe opened #1193 "CT Line contains bad test"
[code]

[2022-02-04 16:52] zepumph commented on #1193
I moved this file into chipper yesterday. I don't think sim-tests should have bad-sim-text problems. I'll turn it off.

[2022-02-04 16:53] zepumph commented on #1193
Line is passing now locally.

[2022-02-04 16:53] #1193 closed

[2022-02-04 23:39] jbphet commented on #1177
Mine are done.  Whew.  I tried turning on the rule and running `grunt lint-everything`, and there were a few failures.  I'm going to assign this to the developers who own those repos.  The last one to fix their stuff can turn on the lint rule.

- [ ] chipper @jonathanolson
- [ ] density @jonathanolson
- [ ] inverse-square-law-common @zepumph
- [ ] quadrilateral @jessegreenberg
- [ ] simula-rasa @p

[2022-02-05 00:48] zepumph commented on #1177
There seem to be less than 15 left. I'll take it from here.

[2022-02-05 01:08] zepumph commented on #1177
Thanks @jbphet for crunching on this for the past few weeks. I turning it on in the above commit, with no errors. Closing!

[2022-02-05 01:08] #1177 closed

[2022-02-08 17:49] jonathanolson opened #1194 "Transpile watch breaks with checking out older code"
An example that's reproducible

1. Clear chipper/dist (be on master for everything) -- skippable if you want to speed it up
2. In chipper: `node js/scripts/transpile.js --watch`
3. In perennial: `grunt checkout-timestamp --repo=friction --skipNpmUpdate --timestamp="Jan 15 2022 00:00:00"`

Breaks with:
[code]

[2022-02-08 19:16] zepumph commented on #1194
What server are you using? I'm on windows and often have things like this because my node http-server is holding on for dear life to a file. Stopping the server and rerunning the command fixes things for me.

[2022-02-09 05:35] jonathanolson commented on #1194
I'm definitely using the node http-server, interesting! Perhaps there's a global setting to allow more open files? I'll test this out soon.

[2022-02-10 18:16] pixelzoom opened #1195 "transpile.js needs to support 3rd-party sims"
In https://github.com/phetsims/simula-rasa/issues/21, I discovered that a new sim created by following the [Create a New Sim](https://github.com/phetsims/phet-info/blob/master/doc/phet-development-overview.md#creating-a-new-sim) instructions cannot be run.  transpile.js will not know about it until you put it in perennial-alias/data/active-repos.

This workaround may be OK for PhET developers, but

[2022-02-13 19:05] samreid opened #1196 "Petition to name self options as SelfOptions"
During recent TypeScript usage of optionize, one verbose part has been naming the SelfOptions like so:

[code]

I'm interested in renaming e.g., StatusBarSelfOptions => SelfOptions, like so:

[code]

Thoughts?

[2022-02-13 19:08] samreid commented on #1196
Here are a few that would benefit considerably:

[code]

etc.

It could look more like:

[code]

[2022-02-15 15:46] jessegreenberg opened #1197 "tsc sometimes reporting '"import(.../nodes/Node).default" is not assignable to parameter of type Node'"
This has happened twice now for me, behavior seems strange (once yesterday, once today). I have working copy changes in scenery unrelated to sun/AccessibleValueHandler. Running `tsc -b` once in scenery produced

[code]

I stashed my changes in scenery and ran `tsc -b` again and the errors went away. Then I applied my changes in scenery and ran `tsc -b` again and the errors are still gone! Both tim

[2022-02-16 15:04] pixelzoom commented on #1196
In general, not just for SelfOptions... As long as a `type` definition is private, I don't see any problem with shortening its name by removing the classname prefix.  But if it's exported, the classname prefix is essential.

[2022-02-16 15:05] pixelzoom commented on #1140
Can we raise the priority of this?  Investigating CT issues has gotten much more time consuming, now that I have to manually locate and inspect .js files under chipper/dist/js.

[2022-02-16 15:12] pixelzoom commented on #1110
@samreid I'm almost positive that we decided not to repeat type information in JSdoc.  Can this be closed?

[2022-02-16 22:55] pixelzoom opened #1198 "Should stringTest skip voicing strings?"
This came up when stringTest replaced a voicing string and caused code to fail, see https://github.com/phetsims/sun/issues/739.

The purpose of stringTest is to test layout. If voicing strings are not displayed, then should voicing strings be skipped by stringTest? If they were in a standard place in the JSON, it would be relatively easy to skip them.

[2022-02-16 23:41] zepumph commented on #1106
Alright. I have updated documentation above. @pixelzoom, you were the original author of this section in the design patterns doc

https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#enumeration

Can you please review? Please feel free to edit inline, and to remove either my or you name as author. I pretty much rewrote the whole thing, and I both didn't want to ta

[2022-02-16 23:46] pixelzoom commented on #1106
Why is this being updated in https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#enumeration?  In https://github.com/phetsims/chipper/issues/1181, we that decided that (1) the exiting design patterns document would remain "as is", because we will be living with these JavaScript patterns for a long time to come, and (2) a new document should be created for TypeScr

[2022-02-16 23:53] zepumph commented on #1106
There was no consensus about that. If only 2 patterns are updated (enumerations and options), I agree we shouldn't get rid of the old pattern, but I don't think it is as simple and cut and dry as a javascript/typescript split. In https://github.com/phetsims/chipper/issues/1106#issuecomment-1020473872 I noted that our new pattern works well and simply in Javascript though it was designed and optimi

[2022-02-16 23:57] zepumph commented on #1106
For example, how long until `Slider` and `SolutionType` (used as examples in the old documentation pointing to master of those files) are no longer using the old pattern. I feel like a single document that consists of all relevant knowledge needed to develop in our code base is what makes the most sense. If there is a preferred pattern in javascript that can't be used in typescript (or vice versa)

[2022-02-16 23:59] zepumph commented on #1181
In https://github.com/phetsims/chipper/issues/1106#issuecomment-1042417382 @pixelzoom was surprised to see me adding new typescript patterns to our existing design-pattern documentation.

From above:

I still feel this way. To my knowledge, we will be updating enumeration and options pattern. I see the `phet-design-patterns` document as a holistic spot to see the patterns used in our project. If t

[2022-02-17 00:00] zepumph commented on #1106
https://github.com/phetsims/chipper/issues/1181 is marked for dev meeting discussion. Perhaps the best way forward is to see what devs would like to do as a group.

[2022-02-17 00:04] zepumph commented on #1106
In addition, please note that I have already updated the mixin section of the phet-design patterns document to remove an outdated pattern that was used in javascript days, but should no longer be used, and likely has no usages other than Poolable, which has a path for replacement in place.

[2022-02-17 04:45] samreid commented on #1165
Single line imports have occasionally been helpful in regexes/searches or search/replace.  Is that a good enough reason to keep them as single lines?

[2022-02-17 15:51] samreid commented on #1140
I'll try to do this by the end of March.

[2022-02-17 16:57] pixelzoom commented on #1198
While I appreciate the overlap in visual/non-visual strings... Perhaps this is a case where it's appropriate to put the burden on translators and have some duplication that benefits easy-of-programming.  That might be preferable to solutions like https://github.com/phetsims/sun/commit/0ffa150f9eeeadd6fd4ce710b1b6bbde2015c4b8 that involve checking `stringTest` -- and having to remember to do so:

[

[2022-02-17 18:28] jessegreenberg commented on #1060
The lint rule was turned on in that issue, nothing more to do here. Closing.

[2022-02-17 18:28] #1060 closed

[2022-02-17 18:50] samreid commented on #1174
At today's meeting, CM and CK mentioned this may not be too useful given their current workflows.

[2022-02-17 19:10] jessegreenberg commented on #1181
This was discussed in dev meeting 2/17/21:

Consensus was to keep old JavaScript patterns in the pattern documentation. Even patterns that no longer exist in code on master should remain so that we have documentation of them for new developers, third party developers, and when we need to maintain old code.  We will add a note to the pattern documentation describing that old patterns may exist, and

[2022-02-17 19:10] #1181 closed

[2022-02-17 19:13] jessegreenberg commented on #1140
Checked in during 2/17/22 - This is not ideal, and the end of March timeline seems appropriate.

[2022-02-17 19:53] pixelzoom commented on #1106
@zepumph Does anything need to be update here as the result of 2/17 dev meeting and https://github.com/phetsims/chipper/issues/1181#issuecomment-1043317067?   Assign back to me when the doc is ready for review.

[2022-02-17 20:51] zepumph commented on #1106
I added a couple more changes. Please review.

[2022-02-18 18:38] #1110 closed, assigned to samreid

[2022-02-18 23:38] oliver-phet opened #1199 "Add custom locale: Montenegrin [cnr]"

[2022-02-21 18:09] jessegreenberg commented on #1179
I just noticed a similar case to this when running `grunt modulify`, Transpiler.js had to be restarted to pick up the change.

[2022-02-24 03:50] pixelzoom commented on #1106
The substance of the documentation looks good, but the execution needed some work -- see commits above.

The number of ways that "TypeScript" and "JavaScript" are spelled seems to be a chronic problem.  It's (maybe) OK to be fast & loose in comments to yourself.  But in public documents, it's distracting, and conveys an absence of attention-to-detail. My 2 cents...  I'll keep changing them where I

[2022-02-24 17:56] pixelzoom commented on #1196
I've been using this proposed convention extensively in geometric-optics.  So it would be nice to discuss this soon.

[2022-02-24 18:18] chrisklus commented on #963
@zepumph assuming sims have been launching on all of our supported platforms, this issue is complete.

Were you referencing this issue? https://github.com/phetsims/chipper/issues/954.

It was tested on IE 11 at the time of development. Perhaps it is worth a spot check. I'll open a separate issue.

I'm inclined to close here.

[2022-02-24 18:18] #963 closed

[2022-02-24 18:29] chrisklus opened #1200 "Confirm IE 11 error page is working as expected"
From https://github.com/phetsims/chipper/issues/963#issuecomment-771308893.

@KatieWoe would you mind confirming that an IE 11 error page shows up when launching, say, a current RC sim in IE 11?

I'm assuming it hasn't been tested since it's initial development in the summer of 2020, but would like to confirm with you. I don't think it's worth making this a regular step in testing but I think is w

[2022-02-24 18:46] samreid commented on #1196
Today's dev meeting.

@jonathanolson: Do we ever export the self options?
@pixelzoom: The proposal is to only name as SelfOptions if not exported.  If you have to export for some reason, then use the full name.

We seem to be in favor of it.  No "no" votes.  Several "aye" votes.  I'll update the conventions.

@samreid Should it be strictly named `SelfOptions`  if not exported?  Or developer prefer

[2022-02-24 19:22] samreid commented on #1159
@pixelzoom says a comment may also be helpful in these places.  Like

[code]

[2022-02-24 19:42] zepumph commented on #1106
Makes sense to me! I'll too be on the lookout. Thank you.

[2022-02-24 19:42] #1106 closed

[2022-02-24 23:06] samreid commented on #1159
I updated the docs, @pixelzoom would you like to review?

[2022-02-25 03:30] samreid commented on #1196
There are so many collisions in WilderOptionsPatterns that I wasn't confident committing.  @zepumph can you please review and advise?

<details>

[code]

</details>

Also, after this should we make a chip-away or lint rule for enforcing across the codebase?

[2022-02-25 14:28] pixelzoom commented on #1196
First.. I don't feel like we must use `SelfOptions` everywhere, happy to leave it up to developer preference when it's private to a file.

Second... Careful with a lint rule.  There are cases where more than one SelfOptions may be needed within a file, and requiring it to be SelfOptions will result in name collisions.   For example, see ArrowObjectSceneLabelsNode.js.  It contains 3 class definitio

[2022-02-25 15:15] pixelzoom commented on #1159
Looks great. I made a couple of minor edits if you want to inspect. Closing.

[2022-02-25 15:15] #1159 closed

[2022-02-25 17:04] KatieWoe commented on #1200
An error page that reads "Platform Error Internet Explorer is not supported. Please use a different browser to run this simulation." occurs when opening Density 1.0.0-rc.3 in IE.

[2022-02-25 17:24] chrisklus commented on #1200
Perfect, thanks for checking on this @KatieWoe! Closing.

[2022-02-25 17:24] #1200 closed

[2022-02-28 17:00] chrisklus opened #1201 "Discuss documentation for class properties"
From the conventions doc:

How has this been working for out for everyone? I have found myself wanting to keep documentation at the place of instantiation. I think this is because the initial value is generally valuable to me for learning about the property. For simple types, it's usually pretty clear what the type is at instantiation, and for Properties, all of the type information is duplicated

[2022-02-28 17:14] zepumph commented on #1201
This was discussed during today's dev meeting about typescript conventions.

@samreid and @jonathanolson like splitting the documentation up, where the public interface and explanation is in the class type declaration, but any implementation details about the instantiation still deserve to be at that point in the constructor.

The team resonates with this as a point towards having the documentatio

[2022-02-28 17:18] chrisklus opened #1202 "Discuss instantiating in type declarations"
From 2/28 supplemental TypeScript dev meeting, we mentioned it would be nice to revisit this.

@samreid mentioned that a new version of TS will allow this for subtypes as well, which makes this feature much more usable.

[2022-02-28 17:30] zepumph opened #1203 "Return type conventions"
In the doc it says:

[2022-02-28 17:45] zepumph commented on #1203
This was discussed during today's dev meeting about typescript conventions. Here are our decisions:

* We all felt like having explicit return types makes sense in all classes to ensure an API doesn't change. This is beneficial for common code and sims, in part because it helps replace the jsdoc.
* That said, you don't have to duplicate this for getter/setter methods AND their es5 getters and sett

[2022-02-28 17:49] zepumph commented on #1114
Today during our typescript dev meeting, we decided that we want to make this higher priority to get ts-related lint rules working on our project. This is currently blocking https://github.com/phetsims/chipper/issues/1203.

@jessegreenberg volunteered to help move this forward. Thanks a million.

[2022-02-28 18:25] zepumph commented on #1180
@samreid: We have https://github.com/phetsims/phet-info/blob/7100adc9d8bf5b79d1aa9da38b1f8302f3b059c1/doc/typescript-conventions.md, which I think of as code review items, but they aren't linked to the document yet.

**@zepumph: Perhaps just an item in the CRC to link to that document?**

@samreid: then perhaps make the typescript conventions document into checkboxes so you can copy paste them int

[2022-02-28 18:44] zepumph commented on #1180
Ok, the CRC has a checkbox to go look at the typescript conventions doc now:

![image](https://user-images.githubusercontent.com/6856943/156037772-6e86598a-0fa3-434c-9dc1-a0957bc1bf89.png)

From here, I feel like another important piece is to look into what can be shed for the document because of TypeScript. If not removed, perhaps we want to move some content into a "JavaScript only" section, bec

[2022-02-28 20:37] zepumph commented on #1127
Hello mixin issue! We have not updated this in quite some time, but lots of progress has been made. @zepumph took the lead on https://github.com/phetsims/scenery/issues/1340, and @jonathanolson has converted Imageable, Paintable, and Poolable to typescript in the last quarter. We have established a pattern of how we want Typescript mixins to look (when possible) in our project, and documented it i

[2022-02-28 20:39] #1127 closed

[2022-02-28 22:13] zepumph commented on #1196
Meaning that `SelfOptions` when possible is the policy. I don't need a lint rule though, nor do I think it is worth the time to overly enforce it. Devs should change their usages as they bring the current typescript sims up to standards.

My recommendation for WilderOptionsPatterns is to not name as SelfOptions in any case there.

[2022-03-01 16:17] samreid commented on #1196
How about the 1st case, so it is clearly an option?  There won't be any collisions.

[2022-03-01 16:22] pixelzoom commented on #1196
@samreid Can you clarify what you mean by "the first case"?   Do you mean my "First..." feedback in https://github.com/phetsims/chipper/issues/1196#issuecomment-1050900540, or something else?

[2022-03-01 16:37] samreid commented on #1196
The first example in wilder, like so:

[code]

[2022-03-01 16:37] zepumph commented on #1196
Sounds great to me, anything else here?

[2022-03-01 16:41] samreid commented on #1196
That's everything for me, thanks!

[2022-03-01 16:42] #1196 closed

[2022-03-02 05:08] jessegreenberg commented on #1114
I tried to work on this today but got about as far as https://github.com/phetsims/chipper/issues/1114#issuecomment-944624890. Here are the changes I tried in .eslintrc.js

<details>

[code]
</details>

When I lint in a sim repo I see lots of
[code]

And when I lint in chipper I see
[code]

[2022-03-02 15:15] jessegreenberg commented on #1114
I followed the instructions https://www.typescriptlang.org/docs/handbook/typescript-tooling-in-5-minutes.html and https://khalilstemmler.com/blogs/typescript/eslint-for-typescript/ to set up a basic TS project with `@typescript-eslint` and rules that require type information are working well.

[2022-03-02 16:38] jessegreenberg commented on #1114
Alright, I just got it working by following a recommendation in https://stackoverflow.com/questions/58510287/parseroptions-project-has-been-set-for-typescript-eslint-parser.

I added a file chipper/eslint/tsconfig.eslint.json that looks like
[code]

And made this file the value of `parserOptions.project`.  Running lint in axon will catch things like

[code]

We would have to include all libraries

[2022-03-02 20:44] samreid commented on #1114
Here is our patch so far:

<details>

[code]

</details>

[2022-03-02 21:31] jessegreenberg commented on #1114
From https://github.com/typescript-eslint/typescript-eslint/blob/main/packages/eslint-plugin/docs/rules/explicit-function-return-type.md#configuring-in-a-mixed-jsts-codebase

[2022-03-03 18:22] jessegreenberg commented on #1114
Ready to bring back to the team. Things that people would have to be aware of before we enable this.

- You will have to set a new option in your IDE settings for the plugin to work. "--resolve-plugins-relative-to=../chipper/" in "Extra eslint options".
- Linting will take longer. Without cache, a lint on my machine that took 3.6 seconds now takes 22 seconds.
- An `npm install` will be required in

[2022-03-08 05:21] pixelzoom opened #1204 "Delete ambient TAlertableDef"
In AlertableDefs.ts:

[code]

So can the ambient type in phet-types.d.ts be deleted?

[code]

[2022-03-08 05:30] pixelzoom opened #1205 "Clean up and maintain phet-types.d.ts entries in .eslintrc"
chipper/eslint/.eslintrc has this section:

[code]

Many (most) of these types are no longer in phet-types.d.ts.  And some types that are in phet-types.d.ts are not listed here.  So developers have clearly not been maintaining this list as TypeScript conversion has been progressing -- probably because most of them (like me) didn't know about this.

Starting by assign to @samreid who added most of

[2022-03-08 20:23] zepumph commented on #1204
It is not ideal, but I was keeping it around because of the usages in jsdoc of `{TAlertableDef}` in javascript code. Perhaps that is superfluous at this point

[2022-03-10 00:22] samreid commented on #1205
I removed unused types.  My recommendation for the other types is to delete them all, and encourage developers to port the common code where possible.  The types exported from phet-types.d.ts are:

[code]

Eventually phet-types.d.ts would be exclusively for preloads like assert/query string machine.  Or we could have micro-d.ts files for each of those.  Let's chat at dev meeting.

[2022-03-10 19:30] jessegreenberg commented on #1114
Discussed during meeting - We will add the plugin and enable linting of TypeScript. By next week all devs can have that much working. Then in following weeks we will go through as a team (or sub-team) and decide which lint rules to enable.

[2022-03-10 19:41] jonathanolson commented on #1205
Decision: For the non-preload options, we'll get rid of them over the next week or so. For preloads, we'll discuss next week what to do.

[2022-03-10 21:07] samreid opened #1206 "Migrate the build stack to Deno"
Deno https://deno.land/ describes itself as: Deno is a simple, modern and secure runtime for JavaScript and TypeScript that uses V8 and is built in Rust.

It has built-in support for TypeScript, and looks to have a superior package manager system to node.  We have numerous other issues with the existing package management system, and will one day want to be able to use TypeScript in our build side

[2022-03-10 23:03] jessegreenberg commented on #1114
I committed the change but @samreid reported that it isn't working well with WebStorm because WebStorm reports
"Failed to load plugin `@typescript-eslint` declared in '..SIM\package.json". I tried to use it on a second Windows 10 machine but found the same error so I am going to revert until I understand why it works on my primary machine but not others.

[2022-03-10 23:13] zepumph commented on #1205
Done in https://github.com/phetsims/scenery-phet/issues/727. Unassigning.

[2022-03-11 22:21] pixelzoom opened #1207 "Remove ObservableArray from phet-types.d.ts"
... because ObservableArray is defined in createObservableArray.ts.

I took a stab at this, but there are ambient uses in CCK, and that's a diversion I don't have time for.  So assigning to @samreid.

[2022-03-11 22:23] pixelzoom commented on #1207
`cd chipper/tsconfig/all; tsc -b -w` show 79 errors when I remove ObservableArray from phet-types.d.ts.   So it's probably more than CCK that's expecting an ambinent declaration.

[2022-03-11 23:16] jessegreenberg commented on #1114
The change has been added back and I put out a PSA on slack channels. Next step is to decide which lint rules to begin applying,

[2022-03-12 17:40] jessegreenberg commented on #1114
Devs are reporting that WebStorm errors with "ESLint: No results for {{file}} after 20 seconds." The recommendation in https://youtrack.jetbrains.com/issue/WEB-38004 is to disable eslint rules that require type information and remove `parserOptions.project` from the eslint config. Ive done that for now.

[2022-03-14 19:24] samreid commented on #1207
I removed ObservableArray from phet-types.d.ts and the type checker seems to be working OK with the version in axon.

[2022-03-15 19:58] samreid commented on #1114
Could we improve this process by having each repo point to its own tsconfig in parserOptions.project?  That way, the type checker only has to check the one sim instead of all 160+ sims?

[2022-03-15 20:41] samreid commented on #1114
Specifying this in package.json for center-and-spread:

[code]

Changes the time of `time grunt lint --disable-eslint-cache` from 12 seconds to 2 seconds.  With caching and no code changes it is 0.6sec whether you use the full tsconfig or the sim-specific one.

[2022-03-16 00:42] pixelzoom opened #1208 "Use semicolons to terminate fields in `type StringType`."
{{REPO}}String.js (e.g in geometricOpticsStrings.ts) is generated by `grunt modulify` and contains the definiton of `StringType`.  `StringType` currently uses commas to separate fields in `type StringsType` definition.  PhET convention is to terminate fields with semicolons.

[2022-03-18 15:38] KatieWoe opened #1209 "CT fatal error protocol error Target closed"
Seen in Bumper for one column. Cut out much of middle for length
[code]

[2022-03-18 15:39] KatieWoe commented on #1209
Linking https://github.com/phetsims/tasks/issues/1106

[2022-03-21 16:33] jonathanolson commented on #1209
No clue, perhaps https://github.com/puppeteer/puppeteer/issues/1947? @samreid do you think it works to just detect this and either retry or don't error out?

[2022-03-23 18:36] zepumph opened #1210 "Add TypeScript lint rule: "member-delimiter-style""
Tagging https://github.com/phetsims/chipper/issues/1114 and https://github.com/phetsims/ratio-and-proportion/issues/405.

This seems like an obvious and easy one to add (we have talked about it before in a dev meeting too). The 630+ errors can be auto fixed. Commits coming soon.

[2022-03-24 21:55] pixelzoom opened #1211 "Use `override` modifier and turn on compiler option `noImplicitOverride`"
Requiring `override` modifier for overridden methods would be really nice. See https://www.typescriptlang.org/tsconfig#noImplicitOverride.

[2022-03-28 16:25] pixelzoom commented on #1140
Not all CT errors are reproducible locally, and manually mapping from .js to .ts is really getting old.

[2022-03-29 20:57] zepumph opened #1212 "Parametric Typing doesn't strongly type"
Over in https://github.com/phetsims/scenery/issues/1396 @samreid and I investigate a troubling finding about how parametric interfaces work as it pertains to covariance and contravariance.

Here is a simple interface, and a class that implements it (like IProperty and Property)

[code]

We see that it errors when you narrow the scope of T through assignment:

[code]

Unfortunately, it doesn't work

[2022-03-29 21:19] samreid commented on #1212
Is this an example of the problem described in `https://github.com/Microsoft/TypeScript/issues/10717`?

[2022-03-29 21:38] zepumph commented on #1212
Yes it seems exactly that.

[2022-03-29 23:38] samreid commented on #1140
@zepumph and I started on this today.  We were using https://www.npmjs.com/package/source-map and https://www.npmjs.com/package/stacktrace-parser in sim-test.js like so:

<details>

[code]

</details>

It seems like it could be 4-8 more hours to get something working for this.  But it also led to questions about how this should behave and how it should be implemented.

* Should we retain any of th

[2022-03-30 00:00] pixelzoom commented on #1140
Sad to hear that something so fundamentally necessary to a transpiled language is so difficult.  Also sorry to hear that you don't feel that you're going to benefit from what seems like a basic/necessary feature of a transpiled language.   There may be some consolation in the fact that, as the amount of TypeScript code increases, this is likely to get worse, not better.

I've been hitting a fair n

[2022-03-30 00:25] samreid commented on #1140
Sounds good and I'm happy to keep working on this.

Do you see any need for any chipper/dist references in the stacktrace (first bullet)?

For JS files that do not have a source map, is it OK to point to the chipper/dist line numbers, or should we remap those to the corresponding directories? (second bullet)

Would it be OK if the sourcemap is processed lazily and just on a single-line basis, like

[2022-03-30 03:06] samreid commented on #1140
Also, do we need to do anything about built stack traces, or is this issue for the unbuilt sims only?

[2022-03-30 04:35] samreid opened #1213 "branch: sourcemaps"
To support https://github.com/phetsims/chipper/issues/1140

[2022-03-30 04:51] samreid commented on #1140
I committed an initial working version to a new branch "sourcemaps".  aqua is the only branched repo.  The CT interface  looks like this in my working copy:

<img width="1095" alt="image" src="https://user-images.githubusercontent.com/679486/160753490-fe93ebc3-0606-47c3-bcc7-39b15cde81dd.png">

I listed some questions for discussion with the reviewer in TODO comments. @zepumph can you please take

[2022-03-30 12:57] samreid commented on #1140
Also brainstorming a potential embellishment: what if the stack traces also output the corresponding source lines?  For instance, for the stack trace pictured in the preceding comment, it could read:

[code]

I thought this may sometimes additionally cue what is happening. But I think the main point is to help the developer get to the problem in their own working copy.  So I'm brainstorming this h

[2022-03-30 15:03] pixelzoom commented on #1140
I don't see any need for this. Ideally we should be able to ignore chipper/dist/, unless there's a bug introduced by transpilation.

If .js files in chipper/dist/ are different than the source .js files, then no, not the chipper/dist/ line numbers.   In general, we want the line numbers from the files that were the _inputs_ to transpilation, not the outputs.

It depends on how long the delay is. I

[2022-03-30 22:50] jbphet opened #1214 "Some Web Audio types are not being found by lint"
I'm converting the tambo sound library from JS to TS, and ran into an issue where `OscillatorType` is not being found by our lint process, but my IDE and the TypeScript build process are finding it just fine.  I spoke with @samreid for a bit about this problem, and he thinks that it may be because this particular type was added more recently than the other types, some time after the advent of ES6,

[2022-03-31 14:08] jonathanolson commented on #1212
Perhaps this means we might need the assertions to help identify cases like these?

[2022-03-31 16:41] zepumph commented on #1140
I think it would be best to have this computed when the error occurs in the sim-test. I can't think of any reason why we need to store the incorrect (from dist/) stacktrace anywhere in the server or reporting. If network trouble is the worry, let's quantify that before we try to optimize around it.

[2022-03-31 19:26] samreid commented on #1140
Today we discussed that it isn't important to get the built sourcemaps working on CT.  We should see if built sourcemaps are working (from the webpack/babel phase), but no need to make changes for how they are reported on CT.

[2022-04-01 03:54] samreid commented on #1212
Another good conversation about this problem at https://news.ycombinator.com/item?id=15659657

Is there a lint rule that can guard us from cases like these?

[2022-04-04 21:42] zepumph opened #1215 "Add ts eslint rule: explicit-function-return-type"
From https://github.com/phetsims/chipper/issues/1114, there are currently 2963 issues with default options (which I'm unsure we will want). We certainly want this rule though, so I'll take a look.

To turn it on (not sure if these are the options either)

<details>

[code]

[2022-04-05 14:15] samreid commented on #1171
From running the maintenance tools:

[code]

[2022-04-05 14:54] samreid commented on #1171
@jessegreenberg and I used the maintenance tools to redeploy density with the fix commits above, however the build logs said:

[2022-04-05 14:58] samreid commented on #1171
In https://github.com/phetsims/perennial/issues/256#issuecomment-1009401294 @mattpen said:

@jessegreenberg and I discussed that a slow + correct build process is preferable to a fast + buggy build process.  Therefore, we want to ask for help from @mattpen and/or @jonathanolson for next steps.

[2022-04-05 15:54] samreid commented on #578
@jonathanolson observed that newer versions of node and npm do not respect `set save false`, but that `npm config set package-lock false` seems to work in those versions.

[2022-04-05 16:25] jonathanolson commented on #1171
https://stackoverflow.com/questions/35207380/how-to-install-npm-peer-dependencies-automatically noted that the peer dependency (acorn) isn't installed with npm versions between 3-6. npm 7+ seems to solve this.

[2022-04-05 19:52] samreid opened #1216 "Deleting a directory fails the transpiler"
[code]

[2022-04-05 23:54] samreid commented on #1211
@zepumph said:

This would be done through the noImplicitOverride rule in tsconfig.  It seems like a good idea, so I'm working through these.  I have changes in 218 files so far.  Any reason we wouldn't want this enabled?

[2022-04-06 00:44] samreid commented on #1211
Based on the docs and the recommendation from @pixelzoom, this seems like a good idea.  I'll push `override` keywords, then enable the tsconfig option.

[2022-04-06 00:49] pixelzoom commented on #1211
I believe `noImplicitOverride` is actually a compiler option, not a rule. See https://www.typescriptlang.org/tsconfig#noImplicitOverride.

[2022-04-06 00:49] samreid commented on #1211
I messaged on slack:

Please pull at your convenience and report any errors.  Please be advised you will need to use the override modifier when overriding something.

[2022-04-06 00:50] samreid commented on #1211
Leaving open for dev meeting PSA.

[2022-04-06 00:53] pixelzoom commented on #1211
After a pull-all and `tsc -b --clean`, I'm seeing some related TS errors:

[code]

[2022-04-06 00:54] pixelzoom commented on #1211
Both of these look problematic. Do we really want to override static fields in the superclass?

[2022-04-06 00:58] samreid commented on #1211
Can you please check that you pulled https://github.com/phetsims/sun/commit/fdc04728b8f93ea3ddb4b47bd93c9d886ffc1ce7 ?

[2022-04-06 01:02] pixelzoom commented on #1211
Hmmm...  I did pull-all after your announcement to Slack dev-public, and didn't get https://github.com/phetsims/sun/commit/fdc04728b8f93ea3ddb4b47bd93c9d886ffc1ce7. Another pull-all and I'm now showing zero TS errors.

[2022-04-06 13:36] pixelzoom commented on #1211
Were these `override`s reviewed for potential problems, or did you just add them whereever an error was reported?  In at least one place (see https://github.com/phetsims/geometric-optics/issues/422) you've added an `override` that now masks a programming error.  So please review the commits that you made for possible programming errors.

[2022-04-06 13:49] pixelzoom commented on #1211
Here are several others that look suspicious:

[code]

[2022-04-06 14:14] samreid commented on #1211
Thanks, I would add to that:

[code]

I spot checked each site during this commit, but I recommend having each responsible dev review the commit on their repo.  Should we make it a chip-away with checkboxes?

[2022-04-07 17:04] pixelzoom opened #1217 "Anti-patterns for creating types related to options"
I'm seeing three anti-patterns related to `type` definitions for options:

(1) Duplication of field definitions, instead of picking fields from other options types.
(2) Composing a `type` using options from an ancestor class other than the superclass.
(3) Going to the trouble of creating a `type` definition, then using `merge` instead of `optionize`.

Example: CAVModel.ts. This exhibits problem (1

[2022-04-07 18:42] zepumph opened #1218 "Convert modulify-generated files to typescript"
From Typescript meeting today, @samreid volunteered to take the lead. Thanks!

[2022-04-07 19:13] samreid commented on #1216
Today we discussed this should be higher priority, hopefully this week.

[2022-04-07 19:54] samreid commented on #1216
I was not able to trigger the transpiler "directory deleted" problem by removing files in the sim js/ or chipper/dist directories.  It seems like it was caused by trying to remove a folder using `unlinkSync`, but that shouldn't be happening.  So I added a guard to only process files.  Please pull chipper, restart your transpilation process and report issues.

[2022-04-07 19:56] samreid commented on #1216
I notified slack about the change above.  It would be good to have someone else getting familiar with Transpiler.js and able to review it.  I see a few commits from @zepumph and one from @jonathanolson.  @kathy-phet can you please recommend a reviewer?

[2022-04-07 20:15] zepumph commented on #1215
I'm not sure we are going to be able to use this rule, because it is requiring return types on all functions, not just methods. There is no option to check just method declarations. That said, if we adapted our own (not recommending) we could just check on function declarations and not on function/arrow function expressions.

[2022-04-07 20:38] samreid commented on #1218
This issue will take longer since we will want to track the js=>ts changes as renames, not as delete/creates.

[2022-04-07 20:41] zepumph commented on #1114
Looking more into this right now.

[2022-04-07 20:42] zepumph commented on #1218
I personally do not think we need to keep git history for these generated files. Git history for the asset itself (the image/mp3/etc) would be more important. I'm happy to be outvoted though.

[2022-04-07 20:56] zepumph commented on #1114
I went through all the rules in https://typescript-eslint.io/rules/ and added the rules that were recommended to our eslintrc. Basically this is the same format @samreid did for https://github.com/phetsims/chipper/issues/814.

We should probably do this same criteria for all rules in the plugin, just to see if there are others that we want to add in.

When all non-type-checking rules were added in

[2022-04-08 18:24] pixelzoom commented on #1207
Reopening.  I still see this in chipper/eslint/.eslintrc.json.  Should it be removed?

[code]

[2022-04-08 22:05] jbphet commented on #1214
I've run into another case of this.  The type it isn't finding is `AudioContextState`.  I'll add it.

[2022-04-08 22:44] samreid commented on #1207
Fixed in the commit, and the type checker is passing.  Closing but anyone feel free to reopen for any reason.

[2022-04-08 22:44] #1207 closed

[2022-04-08 22:45] samreid opened #1219 "Improve linting and type checking in phet-types.d.ts"
Discovered in https://github.com/phetsims/chipper/issues/1207, we could Improve linting and type checking in phet-types.d.ts

[2022-04-08 22:46] samreid commented on #1219
Fixed.  @zepumph should we factor out those lint changes to an eslint file, or isolated in the file, or is this good as it is?

[2022-04-10 03:49] samreid commented on #1218
I accept the vote above that we should not devote time to maintaining the history as renames for JS=>TS.  However, I realized we still need to expend about as much effort to delete the former JS files.  So I think they can be renamed like so:

[code]

[2022-04-10 03:54] samreid commented on #1218
I posted to slack:

[2022-04-10 04:03] samreid commented on #1218
In the course of working on this issue, I tested the image files and discovered that in a TypeScript sim, it correctly infers the HTMLImageElement type from both *.js and *.ts image files.  Also, no changes or type annotations are required in the image files.  Therefore the value of this step is questionable--might it slow down the type checker?  Still, it seems we agreed on this for consistency a

[2022-04-10 05:26] samreid commented on #1218
Converting mipmaps is a bit more complex and warrants a class declaration, which I committed above.  The corresponding change to `modulify` would be:

<details>

[code]

</details>

This outputs modulify files of the form:

[code]

However, this is complex enough that it warrants review and discussion before going forward.  @kathy-phet can you please recommend a reviewer/collaborator for this step

[2022-04-10 14:05] kathy-phet commented on #1218
Let's discuss and assign a reviewer/collaborator as part of Thursday's meeting when JO is back.

[2022-04-11 15:46] zepumph commented on #1217
Noting as part of https://github.com/phetsims/chipper/issues/1128

[2022-04-11 17:33] zepumph commented on #1219
Is this file going to stick around long term? What is your thought about types for the phet global, assert, QSM, and some other globals?

If you think that phet-types is the way forward, then perhaps we can just exclude checking from the whole file at the top like

`/* eslint-disable no-unused-vars, no-var */`

These are not helpful lint rules for the file anyways.

[2022-04-12 15:00] samreid commented on #1140
The transpiled stack trace does not include the full path:

[code]

Hopefully that is OK.

[2022-04-12 15:14] samreid commented on #1140
I notified slack:

I merged the branch to master and will manually pull the updated code on aqua.

[2022-04-12 15:54] samreid commented on #1140
I'm seeing the first transpiled stack trace on CT:

[code]

I'll notify slack.  I think I'll open a side issue about dealing with the built stack traces.

[2022-04-12 15:56] samreid opened #1220 "Check the sourcemaps in compiled TS sims"
From https://github.com/phetsims/chipper/issues/1140#issuecomment-1085013488

[2022-04-12 16:39] samreid commented on #1140
For unknown reasons, in the same column, there are some chipper/dist in this stack trace:

[code]

Maybe because it is a phet-io-state fuzz test?

[2022-04-12 16:45] samreid commented on #1171
@jonathanolson do we need to redeploy a maintenance release of density after the node/npm versions have been updated on the server?  If not, is there anything else to do for this issue?

[2022-04-12 17:38] samreid opened #1221 "Remove references to tsconfig-module.json in tsconfig/all/"
@pixelzoom and I identified that lines like `"path": "../../../vegas/tsconfig-module.json"` in tsconfig/all seem redundant, they should be transitively visited through the main repo tsconfig entry points.  Let's remove them!  Also, does it speed up tsc at all?

[2022-04-12 17:41] samreid commented on #1221
Also mentioning @zepumph because he commented on this topic in slack.

[2022-04-14 17:57] pixelzoom commented on #1205
The "FROM phet-types.d.ts" section is now totally gone.  So closing this issue.

[2022-04-14 17:57] #1205 closed

[2022-04-14 18:44] jessegreenberg commented on #1202
Some discussion today:

JO/CM: It distributes things. Some get instantiated at constructor other at definition. Can we allow this to be developer description?
JB: Does instantiating at declaration require `super` to be called first?
MK: Lets investigate that.
All: We like this being up to developer discretion but encourage devs to use consistency when possible.

@pixelzoom volunteered to update th

[2022-04-14 18:44] zepumph opened #1222 "Upgrade TypeScript to fix error: "super call must be first statement""
From #1202, we would like to investigate if upgrading to a new typescript

We get this error when trying to declare defaults in type declarations, and also when marking properties with # to make them private.

[2022-04-14 18:46] samreid commented on #1222
I confirmed that TypeScript 4.6.3 fixes the "super call must be first statement" in a sample occurrence I introduced in `class SoccerModel extends CAVModel`.

[2022-04-14 18:50] zepumph commented on #1222
Wow! Can we upgrade then, that would be excellent! Were there any other type errors or breaking changes we need to manage?

[2022-04-14 18:52] pixelzoom commented on #1202
Done, closing.

[2022-04-14 18:52] #1202 closed

[2022-04-14 18:53] zepumph commented on #1211
This is a correct and expected override call.

[2022-04-14 18:53] jessegreenberg commented on #1211
Discussed today:

The overrides listed in https://github.com/phetsims/chipper/issues/1211#issuecomment-1090296131 and https://github.com/phetsims/chipper/issues/1211#issuecomment-1090324028 may be issues. @samreid reviewed them and thought they look OK but we should have responsible devs review each one. Lets try to do this this week.

- [ ] @jbphet/ @jessegreenberg for the greenhouse case
- [ ] @

[2022-04-14 18:53] samreid commented on #1222
Type checker is passing with --clean and full type check.

[2022-04-14 18:58] jessegreenberg commented on #1222
Consensus: This would be nice to have! @samreid checked with eslint and there was something to investigate. But everyone agreed that we should proceed with this.

[2022-04-14 19:04] jessegreenberg commented on #1114
Some discussion 4/14/22

The `no-non-null-assertion` - We do not think we can turn this on, we use this operator pervasively.

[2022-04-14 19:13] pixelzoom commented on #1114
I uncommented this rule and didn't see any errors:

[code]

[2022-04-14 19:15] pixelzoom commented on #1114
Oh wait... I was running tsc, not lint.

[2022-04-14 19:21] pixelzoom opened #1223 "Fix 'no-this-alias' typescript-eslint errors."
Related to https://github.com/phetsims/chipper/issues/1114,  I enabled this rule in chipper/eslint/.eslintrc.js:

'@typescript-eslint/no-this-alias': 'error', // 12 errors

And here are the 12 errors:

[code]

[2022-04-14 19:21] pixelzoom commented on #1114
Investigating 'no-this-alias' errors in https://github.com/phetsims/chipper/issues/1223.

[2022-04-14 19:31] zepumph opened #1224 "`bad-typescript-text` custom lint rule"
We would like `@public`, `@private`, and `@protected` to be forbidden in typescript files. I think a bad text rule just in the ts overrides section will work here.

[2022-04-14 19:31] pixelzoom commented on #1223
I fixed one case in sun.

There's 1 case in wilder that I'm uncertain about, so assigning to @zepumph.

The other 10 cases are in scenery, so assigning to @jonathanolson.

[2022-04-14 19:54] zepumph commented on #1224
There were 1000 lint errors when I turned this rule on. Let's chip away at this!

[2022-04-14 19:56] jessegreenberg commented on #1211
The one from greenhouse-effect in https://github.com/phetsims/chipper/issues/1211#issuecomment-1090324028 was done in (https://github.com/phetsims/greenhouse-effect/commit/ed35e9159b5d9f724a5f433a06fb156f66923690)

[2022-04-14 20:20] jessegreenberg commented on #1224
What do we do for mixin/trait with this?
[code]
at the top of the file?

[2022-04-14 21:34] pixelzoom opened #1225 "Should all methods/function have a return type, including `void`?"
From https://github.com/phetsims/scenery/issues/1406#issuecomment-1099634315:

* Is it OK to omit `void` return type, or should all methods and functions have a return type? If we omit `void`, does that complicate being able to confirm that there's a return type?

And from https://github.com/phetsims/scenery/issues/1406#issuecomment-1099642273:

Verifying that methods and functions have a return t

[2022-04-14 21:35] pixelzoom opened #1226 "When should `merge` be converted to `optionize`?"
From https://github.com/phetsims/scenery/issues/1406#issuecomment-1099634315:

* When is it OK to continue to use `merge` vs converting to `optionize`?

I've encountered quite a few .ts files that are still using `merge`.

[2022-04-14 21:38] pixelzoom opened #1227 "Keep or delete `assert` statements that are handled by type checking?"
From https://github.com/phetsims/scenery/issues/1406#issuecomment-1099634315:

* Should assertions that are now handled by the type-checker be kept or deleted? If we keep them, is there a WebStorm setting to keep them from being flagged (highlighted)?

For example in Imageable.ts:

<img width="916" alt="screenshot_1655" src="https://user-images.githubusercontent.com/3046552/163480869-2cccf53f-9b59

[2022-04-14 21:39] pixelzoom opened #1228 "Where to put `static` fields?"
From https://github.com/phetsims/scenery/issues/1406#issuecomment-1099634315:

* Where should static field definitions appear? Above constructor? End of class definition, after all methods? Don't care? My preference is for "above constructor", so that all fields are in one place, making it easier to see the API at a glance.

I've been putting `static` field with the non-static fields, at the top o

[2022-04-15 05:42] zepumph commented on #1224
I think just a line directive at every comment where we have those texts.

[2022-04-16 15:42] samreid commented on #1222
I found the warning was masked by the caching, I had to use `--disable-eslint-cache` to resurface the error.  Updating the eslint versions seems to correct that problem.

[2022-04-16 15:47] samreid commented on #1222
I updated TypeScript to 4.6.3 and corresponding typescript-eslint packages.  Things are testing well here.  I considered updating the babel typescript package version, but didn't see anything relevant in the change logs.  I'll notify slack.

[2022-04-17 17:45] pixelzoom commented on #1222
tsc and typescript-eslint upgrades look good to me.

Test:

[code]

[2022-04-17 17:45] #1222 closed

[2022-04-17 20:59] pixelzoom opened #1229 "`no-inferrable-types` typescript-eslint rule"
Related to https://github.com/phetsims/chipper/issues/1114, I temporarily enabled this rule in [chipper/eslint/.eslintrc.js](https://github.com/phetsims/chipper/blob/master/eslint/.eslintrc.js):

Repos:

- [x] bending-light @samreid
- [x] counting-common @chrisklus
- [x] density-buoyancy-common @jonathanolson
- [x] dot @jonathanolson
- [x] geometric-optics @pixelzoom
- [x] greenhouse-effect @jbphe

[2022-04-17 21:07] pixelzoom commented on #1229
I did a few of the repos that had a single error (joist, tambo, utterance-queue).

[2022-04-18 15:17] zepumph commented on #1211
This is the same case as for Wilder, where extending an Enumeration requires redefining the enumeration. I'm going to check this off.

[2022-04-18 16:05] chrisklus commented on #1211
Thanks @zepumph!

[2022-04-18 16:10] pixelzoom commented on #1229
After making a few changes like this one in VisibileColor.ts:

[code]

.... something bothered me about this change.  I don't like this inconsistency:

[code]

And having type declarations for all parameters seems more in line with requiring inferrable return types.

This rule has additonal options, see https://github.com/typescript-eslint/typescript-eslint/blob/main/packages/eslint-plugin/docs/ru

[2022-04-18 16:40] pixelzoom opened #1230 "`no-unused-vars` typescript-eslint rule"
Related to https://github.com/phetsims/chipper/issues/1114,  I temporarily enabled this rule in [chipper/eslint/.eslintrc.js](https://github.com/phetsims/chipper/blob/master/eslint/.eslintrc.js):

...and there are 254 errors.

This lint rule is described at https://github.com/typescript-eslint/typescript-eslint/blob/main/packages/eslint-plugin/docs/rules/no-unused-vars.md.  It has the same options

[2022-04-18 16:57] pixelzoom commented on #1224
Should `@returns` be added to this rule?

[2022-04-18 17:03] pixelzoom commented on #1224
Should `@returns` be added to this rule?

EDIT: The answer is no, because we want to be able to optionally document the return type, like in CarouselButton.ts:

[code]

EDIT: How about making `@returns` by itself (no additional doc) an error?

[2022-04-18 17:11] pixelzoom commented on #1210
We had concensus on this in a dev meeeting, and it looks like this has been enabled for 3+ weeks. @zepumph can this be closed?

[2022-04-18 17:26] zepumph commented on #1210
Yes please. Thanks

[2022-04-18 17:26] #1210 closed

[2022-04-18 18:52] zepumph commented on #1224
Yes good plan. Commit coming soon.

[2022-04-18 21:17] samreid commented on #1229
@pixelzoom and @zepumph and I discussed this, and in light of:

* Vanderkam Item 19's recommendation
* The recommended default settings for the rule (which is a recommended rule), we would like to switch to:
[code]

This rule can be autofixed with `--fix`, so we can catch the 50+ cases pretty easily.

[2022-04-18 21:43] samreid commented on #1229
This issue is complete, I'm wondering if we should still leave it open as an ultra-quick public service announcement?

[2022-04-18 21:46] pixelzoom commented on #1229
If this does end up needing more discussion.... I'm OK with whatever the team decides.

[2022-04-18 23:10] zepumph commented on #1224
Alright. I liked this regex best to allow for extra doc:

`/(@returns \{)|(@returns$)/`

There were something like 250 lint errors. So it isn't on right now.

[2022-04-19 15:53] zepumph opened #1231 "Transpiler should have silent output on builds"
CT build errors are horrible looking these days because they are cluttered from transpiler output. I propose a `silent` option that can hide this for the build, and any other automated uses of this (as applicable). I still feel like it is important to have this print when running the watch process for normal development.

[2022-04-19 16:09] zepumph commented on #1231
Alright, after the above change we no longer get transpiler logging in the build. I think this will greatly help CT error reporting, but it still will log errors.

[2022-04-19 16:09] #1231 closed, assigned to zepumph

[2022-04-19 16:14] samreid commented on #1140
I applied the same changes from sim-test.js to the other 3 tests mentioned above in this patch:

<details>

[code]

</details>

I followed the instructions in https://github.com/phetsims/chipper/issues/1140#issuecomment-1096849609 to set up for local testing.  I started with the pageload tests, and set up perennial's list like so:

[code]

I tried to simulate an error by adding this code:

[code]

[2022-04-19 16:56] samreid commented on #1140
@jonathanolson and I discovered that dot is not pointing to chipper/dist.  When we switched the test to use scenery/playground, it correctly transpiled.  We discussed whether it was worth another 30 minutes of local testing or not, and we both felt confident enough to push the changes to master/production and see how it goes on CT.

[2022-04-19 16:58] samreid opened #1232 "Some test harnesses such as dot/playground, are not using the correct paths from chipper/dist"
From https://github.com/phetsims/chipper/issues/1140, @jonathanolson and I discovered that some test harnesses such as dot/playground, are not using the correct paths from chipper/dist.

@jonathanolson surmised that our test harness is broken, and hence that hasn't been catching that this is a problem.

This means a class of tests aren't running/completing at all, at the moment.

[2022-04-19 17:05] samreid opened #1233 "Transpiler should not output verbosely during grunt builds"
It is outputting thousands of lines during a build, which obfuscates things when reading a build console output.

We discussed

[code]

@jonathanolson @pixelzoom and I didn't feel strongly, but we think typical users will want to see the console output from the command line.  In that case we may prefer `--silent`.  UPDATE: We agreed the transpile script will always be verbose and not have an optio

[2022-04-19 17:16] samreid commented on #1140
I pushed the changes above.  Will need to restart CT to make sure they are running.

[2022-04-20 02:38] samreid commented on #1233
I had difficulty replicating this issue locally. I discovered there was already a silent option for the transpiler, and that it was being exercised in key parts of the build process. I added the silence option to the remaining parts of the build process under the hypothesis that one of those was the ones showing up in continuous testing.

I feel like this issue is ready to close, but @pixelzoom @j

[2022-04-20 15:22] zepumph opened #1234 "Fatal error: ENOENT: no such file or directory, unlink `. . . /chipper/build/studio.js'"
This happens occasionally on CT. My best guess without any research is a race condition where multiple builds are using the same spots in chipper to build things. In this case, we build studio into chipper/ and then copy it into the necessary spot in the build dir.

@jonathanolson, are builds parallel on CT for a given snapshot? If so we should talk.

[2022-04-20 15:23] zepumph commented on #1234
[code]

[2022-04-20 15:53] samreid opened #1235 "ESLint missing semicolon (semi)"
@marlitas and I observed this lint error in WebStorm:

<img width="912" alt="image" src="https://user-images.githubusercontent.com/679486/164271716-db7ba8a6-1c5e-467c-adcb-b12a9e202a6d.png">

However, this rule is not caught by `grunt lint-everything` or the precommit hooks.  It is different than the rule that enforces semicolons at the end of type member declarations, which is a typescript-eslint

[2022-04-20 21:01] zepumph commented on #1235
With this patch I tried to reproduce the error:

[code]

I found no error in Webstorm and also from the command line. Can you recommend next steps? It seems buggy. Does this have to do with our recent upgrade to Webstorm 2022.1? Or is it some sort of typescript estlint plugin problem? I don' see the semi rule in the https://github.com/phetsims/chipper/blob/79ed381e0cb7cbb498c30c2c32acedabe4597f28/

[2022-04-21 16:15] oliver-phet commented on #1102
Related to this, it sounds like we need to make a migration from Universal Analytics to Google Analytics 4 by July 1, 2023.

I'm not exactly sure how the update to gtag.js is related to Google Analytics 4.
https://support.google.com/analytics/answer/9964640?hl=en&ref_topic=11192706#zippy=%2Cin-this-article
https://support.google.com/analytics/answer/9310895?hl=en#zippy=%2Cin-this-article

[2022-04-21 18:15] #1140 closed

[2022-04-21 19:23] zepumph commented on #1215
It looks like there is a compiler option: `noImplicitReturns`. If this does what we want (only for methods, not all anonymous functions). The doc for this is `/* Report error when not all code paths in function return a value. */`. So I don't think it will help, but it is already a lint rule I believe, so I'm going to turn it on.

[2022-04-21 19:32] zepumph commented on #1215
@jessegreenberg offered to help out on this.

[2022-04-21 22:32] jessegreenberg commented on #1215
Surprisingly nothing different had to be done for custom TS rules. I added a custom lint rule that requires a return type for method definitions excluding constructors getters and setters.

There are 1584 errors, I scanned them and they seem like legit hits. I disabled it for now.

[2022-04-21 22:46] samreid commented on #1215
How difficult is it to write an autofix step that uses the inferred type?  I'm not saying to commit that blindly, but it could convert 1584 occurrences and then spot checking them could be much faster than writing all of them.

[2022-04-21 22:48] jessegreenberg commented on #1225
This was discussed in dev meeting today and it was decided that all methods have a return type, including `void`.

We are working on this in https://github.com/phetsims/chipper/issues/1215. `noImplicitReturns` simply ensures that every code path in a function will return a value matching the specified return type. But it doesn't enforce that you declare a return type. So we are going to try an esl

[2022-04-21 22:48] #1225 closed

[2022-04-21 23:11] zepumph opened #1236 "@public is bad typescript text"
From https://github.com/phetsims/chipper/issues/1224, but  a place to put my commits.

[2022-04-21 23:15] #1236 closed

[2022-04-21 23:16] zepumph opened #1237 "@protected is bad typescript text"
https://github.com/phetsims/chipper/issues/1224, but a place to put my commits.

[2022-04-21 23:51] zepumph commented on #1237
For mixins it looks like I can't do:

      // @protected eslint-disable-line bad-typescript-text

Because of how getBadTextTester works. I'll make a new rule just for protected so I can disable it in the whole file.

[2022-04-21 23:54] jessegreenberg commented on #1215
That could be worthwhile, Ill take a look.

[2022-04-22 01:02] samreid commented on #1227
Decision from today's dev meeting:

[2022-04-22 14:13] zepumph commented on #1237
Actually there were two cases that were a bit hard, @samreid can you search for this issue, `https://github.com/phetsims/chipper/issues/1237` in the project to find these in Bending Light and Gravity and Orbits?

[2022-04-22 16:42] jessegreenberg commented on #1215
Yes, this is working well! This rule now requires type information (`parserOptions.project` in .eslintrc.js and is slower). But running with `--fix` will insert the inferred type automatically.

[2022-04-22 17:05] zepumph commented on #1215
Can we do this and then remove the dependency on parserOptions.project after we fix?

[2022-04-22 17:27] jessegreenberg opened #1238 "Make type checking lint rules faster"
From https://github.com/phetsims/chipper/issues/1114. Lint rules that use type checking are too slow. They will be slower because they use the type checker but currently they are just way too slow to use.

Maybe we can make it faster by having eslint use the same tsc cache as WebStorm. The config file `tsconfig.eslint.json` is really inefficient. I think it makes eslint recompile every file in the

[2022-04-22 21:29] jessegreenberg commented on #1238
In https://github.com/phetsims/chipper/issues/1114#issuecomment-1068448206 @samreid said

[code]

Changes the time of time grunt lint --disable-eslint-cache from 12 seconds to 2 seconds. With caching and no code changes it is 0.6sec whether you use the full tsconfig or the sim-specific one.

I just confirmed that works great for me too. Without that patch, running `time grunt lint --disable-eslint

[2022-04-22 21:34] jessegreenberg commented on #1238
Changing `parserOptions.project` to `"project": "./tsconfig-module.json"` makes some of the errors go away but not all of them.

[2022-04-22 21:47] jessegreenberg opened #1239 "Make git hooks run faster on windows"
For some Windows users git hooks can take from 1-10 minutes to run. We think that tsc is probably causing this. Some have git hooks disabled because it is causing too much of a slowdown. Is there a way we can get this to run faster on Windows?

[2022-04-22 22:29] samreid commented on #1237
Thanks, I fixed those cases.  Want to move `@protected` back to bad-text?

[2022-04-23 00:51] zepumph commented on #1237
It will need to stay as its own file to more easily support our mixin files, which we want to disable this rule for. It is the only visibility annotation like that since `@private` will be noted with prefixes in the var name. I updated doc.

[2022-04-23 00:51] #1237 closed

[2022-04-23 00:58] samreid commented on #1238
According to https://github.com/typescript-eslint/typescript-eslint/issues/2094, typescript-eslint does not support project references, but they are experimenting with adding that as a feature.  The workaround described in https://github.com/typescript-eslint/typescript-eslint/issues/2094#issuecomment-765142357 indicates to list all projects explicitly, which I tried to do like so:

[code]

Lintin

[2022-04-23 01:01] samreid commented on #1237
Sounds good and I added a 👍 .  The other alternative I considered is whether we should manually add `// eslint-disable-line` support for our home-grown bad-text rules.  But maybe it would be too much work.

[2022-04-23 02:39] zepumph commented on #1237
That is where I started, but The rule is set up to be per file (not ideal, but how it was implemented), so you can only turn it off on the first line of the file, anyways, and I didn't want to turn off all bad text rules for the whole file.

[2022-04-23 13:33] samreid commented on #1173
Recently the dev team has reported problems using `tsc --watch` -- false positives and false negatives, so it may not be suitable as a component for this system.

[2022-04-23 23:05] samreid commented on #1233
In places where this normally appears:

[code]

This is no longer showing.  That's great news!  Closing.

[2022-04-23 23:05] #1233 closed

[2022-04-24 02:03] pixelzoom opened #1240 "Pattern for nestedOptions in `optionize`"
In https://github.com/phetsims/scenery-phet/issues/737#issuecomment-1107477009, @samreid asked about this pattern of using `optionize` where you don't want to require a default value for one or more nested options:

[code]

We didscussed this in Slack and decided that `Omit<SelfOptions, 'someNestedOptions'>` was a good pattern. See discussion below.    It sounds like this pattern needs to be commu

[2022-04-25 14:58] samreid commented on #1240
Thanks for bringing this to my attention, I was unclear on how that worked.  @zepumph do we need to do anything about this?  Is this the desired long-term plan here?  Do we need documentation or anything?  Please close if there is nothing else to do.

[2022-04-25 15:38] zepumph commented on #1240
I pinged slack:

[2022-04-26 01:02] jonathanolson commented on #1234
Absolutely, typically 8 will run at a time.

[2022-04-26 01:10] jonathanolson commented on #1223
The scenery/kite usages look great to me, would we need to add additional comments to allow the linter? Or something to trick it?

[2022-04-26 01:16] jonathanolson commented on #1171
I'm not sure, did the Density production deploy succeed?

[2022-04-26 02:59] samreid opened #1241 "Prune tsconfig/all/tsconfig.json"
When we started on TypeScript, we used `tsc` to transpile files.  Now we use babel for transpiling files, and only want to use `tsc` for type checking.  We also have `"checkJs": false` in our tsconfig-core.  Therefore, we no longer need to list all repos in all/tsconfig.json.  This has the potential to speed up our type checking time, which has been a hassle.

Let's run before/after testing on the

[2022-04-26 15:33] samreid commented on #1241
On lenovo laptop with AMD Ryzen 7 5800H

| Experiment | legacy  | pruned | monolithic tsc |
| ------------- | ------------- | ------------- | ------------- |
| full check after clean | 1m42.494s |- | - |
| tsc with no changes | 0m2.767s |- | - |
| tsc with adding `something1?: string;` in NodeOptions | 1m37.187s | - | - |
| tsc with adding `this.age=7;` in GOSim.ts | 0m6.850s | - | - |

[2022-04-26 16:14] samreid commented on #1241
MSI desktop with Intel(R) Core(TM) i7-7700K CPU @ 4.20GHz

| Experiment | legacy  | pruned | monolithic tsc |
| ------------- | ------------- | ------------- | ------------- |
| full check after clean | 2m1.649s | -| -|
| tsc with no changes | 0m3.225s | -| -|
| tsc with adding `something1?: string;` in NodeOptions | 2m6.030s | -| -|
| tsc with adding `this.age=7;` in GOSim.ts | 0m7.615s | -| -|

[2022-04-26 16:32] samreid commented on #1241
@jessegreenberg reported 2m33.717s and 0m4.211s for the legacy after clean and with no changes, on `Intel(R) Core(TM) i7-6700K CPU @ 4.00GHz`

[2022-04-26 17:02] samreid commented on #1241
Here is a bar chart showing mac (on the left), ryzen (middle) and core i7 (right)

<img width="500" alt="image" src="https://user-images.githubusercontent.com/679486/165354062-73f70a6e-1a9c-4171-994c-b615000de140.png">

For this issue, let's prune the tsconfig/all and open a side issue to discuss the monolithic version.

[2022-04-26 17:18] samreid commented on #1241
I identified that the pruned tsconfig above won't be checking the demo applications in common code repos, like sun-main, etc. since it is not included transitively.  But adding that explicitly for all those repos didn't significantly change the time on Mac.

Before: 0m25.886s
After: 0m26.904s

I debated whether to request review before or after committing this to master.  It seems a step in the ri

[2022-04-26 17:27] samreid commented on #1241
I wrote to our typescript slack channel:

`@channel` For https://github.com/phetsims/chipper/issues/1241 I pushed a change to the all/tsconfig.json file to speed up type checking by a lot.  For instance, on my Mac a clean type check was taking 1m2.671s.  Now that is down to 27s.  There are similar benefits on Win.  Incremental type checks get an even bigger benefit.

It seems to be working nicely

[2022-04-26 17:32] zepumph commented on #1234
@jonathanolson and I spoke about this. We are a very strong assumption that we are only building one of a repo (per snapshot/checkout) at a time. Studio being build per phet-io build broke this assumption, but it seems to be the only place where this is happening. We can add an option for webpackBuild and buildStandalone to allow the phet-io build to pass through a custom temp dir to put the studi

[2022-04-26 17:33] samreid commented on #1241
Also, I realized this doesn't speed up the precommit hooks at all, since they run `tsc -b` in the sim repo, not in the "all" tsconfig.  But in https://github.com/phetsims/perennial/issues/272 we may decide to run `tsc -b` on "all" for type checking common code repos.

[2022-04-26 17:44] samreid commented on #1239
Some performance improvements for `tsconfig/all tsc -b` noted in https://github.com/phetsims/chipper/issues/1241

[2022-04-26 17:48] pixelzoom commented on #1223
I'm not sure what you're asking.  If you've reviewed the usages in scenery/kite, and want to keep them, is there a reason not to use `eslint-disable` comment?

[2022-04-26 20:40] samreid commented on #1171
It doesn't appear the density production deploy succeeded.  The comment in https://github.com/phetsims/chipper/issues/1171#issuecomment-1088816728 sounds like it errored out.  And looking at the timestamps in https://phet.colorado.edu/sims/html/density/latest/ seems like last publication was Jan 31.  But I'm a little foggy on this issue--won't updating node/npm on the server address the problem by

[2022-04-27 18:13] jbphet commented on #1211
I've reviewed the changes for greenhouse-effect and `RectangularRadioButton`, and they look good.

[2022-04-28 19:40] samreid commented on #1241
@zepumph asks if `grunt update` should check: if there are any TS files, it should check that the sim is also listed in the all/tsconfig.

[2022-04-28 19:59] samreid commented on #1241
@zepumph and I discussed getting rid of all the tsconfig files.  That seems to have a good performance characteristic and we could get rid of a lot of complexity in our tsconfigs.

[2022-04-29 03:28] samreid commented on #1226
From the developer meeting notes:

See also related discussion in https://github.com/phetsims/phet-core/issues/114

[2022-04-29 05:15] samreid opened #1242 "Should PhET transition to a monorepo?"
Today Quick CT showed a false positive error because it pulled code between 2 consecutive pushes. If we did all development within one repo, commits/pushes/pulls would be truly atomic and this kind of problem wouldn't happen.  We have discussed monorepos every now and then in developer meeting but I thought it would be nice to have an issue to track that discussion, and to enumerate the pros and c

[2022-04-29 16:58] pixelzoom commented on #1226
I agree that `merge` has uses, but should be avoided in relation to the "options" pattern. (I think that's what @zepumph is saying in the preceding comment.)  My TS code is `merge`-free in that regard, and I plan to keep it that way.

I'm not sure why this is being assigned back to me, because I don't see much in the way of consensus or next steps from the recent developer discussion.   So I'm goi

[2022-04-29 17:34] pixelzoom commented on #1242
To be frank... A single repo for everything is not at all practical. I can't recommend against it strongly enough.  Having worked with diverse organizations (startups to Forture 500 companies) I'm speaking from experience.   PhET is a growing project, experiencing growing pains. And modularity becomes MORE important, not LESS important, as a project grows.  Moving to a mono repo is a giant step to

[2022-04-29 18:51] zepumph commented on #1226
You were assigned back because you hosted the original question of differentiating when to use the two. I believe you were absent from the dev meeting when we discussed this so I wanted to make sure you were able to review @samreid's response.

I updated convention doc and added a bad-text lint rule with 140 failures currently. This is largely lumped into the pot of many typescript lint rules with

[2022-04-29 18:51] #1226 closed

[2022-04-29 22:12] zepumph commented on #1215
With the great help from @jessegreenberg I was able to turn this rule on! Thanks for helping to squash false positives. There should be no spots where the fixer input `any`. Instead I looked there myself to see what was best. Type checking and linting is passing, and I commented out the fixer so that we don't nee type information for the rule generally. Thanks @jessegreenberg for the doing the bru

[2022-04-29 22:37] samreid commented on #1242
To clarify what a monorepo might look like, I was picturing a structure like this:

[code]

To manage issues + milestones, we would still have GitHub repos for each common code repo and sim repo, like "axon", "scenery", "energy-skate-park", etc.  But they would have no code.  The monorepo would be a solution to the problems "how can we easily push/pull multiple repos at once?" and "how can we crea

[2022-04-30 03:49] pixelzoom commented on #1226
Thanks for clarifying.

[2022-05-03 04:02] mattpen opened #1243 "How to clean the cache during a build"
Currently, number play is not able to build due to an error in vegas.

Steps to reproduce:

This only occurs on phet-server2 (running RHEL 8). Node version is 16.14.2. This does not occur on macOS 12 with Node 16.14.2.

1. Checkout number-play 1.0 branch. (vegas b9b7228)
2. In perennial, run `grunt checkout-shas --repo=number-play`
3. In number-play, run `grunt`.

Result:

[code]

[2022-05-03 17:47] mattpen commented on #1243
A tsc cache clean looks like it fixed the problem.

[code]

[2022-05-03 17:48] mattpen commented on #1243
@samreid is going to look at options for how we clean the cache during a build.

[2022-05-03 19:23] samreid commented on #1243
In https://github.com/phetsims/chipper/issues/1241 we observed that running a monolithic `tsc` ran much faster.  So I feel our options for this are:

* `tsc -b` and accept that there will be cache failures like this one (not recommended)
* `tsc -b --clean + tsc -b` for each build
* `tsc` without project references with `incremental: true` (might it have caching problems???)
* `tsc` without project

[2022-05-04 19:01] samreid commented on #1168
@jonathanolson observed this problem today since molecule-shapes-basics imports:

[code]
But this file has not existed for a long time.

@jonathanolson and I observed that the watch process checks for deletes, but the batch mode (on startup) does not, and left this error.  Alternatively, we could clean every time.  But we don't want all our tooling slowed down.  But we also don't want false positi

[2022-05-05 18:08] chrisklus commented on #1201
Update above, closing.

[2022-05-05 18:08] #1201 closed

[2022-05-05 18:10] jonathanolson commented on #1243
1. We do want to run type-checks during builds
2. We don't want to rely on Microsoft fixing this quickly (due to responsiveness to other issues)
3. We do want to report this case to Microsoft (minimal reproducible example?)
4. We want to keep project references (would not preclude us from including monolithic in addition, project references needed so we don't check out everything)
5. We don't want

[2022-05-05 18:35] jonathanolson commented on #1180
JO and CM didn't see anything else that should be added to the checklist. @zepumph anything else that should be added in your opinion? Feel free to close if not.

[2022-05-05 19:29] pixelzoom commented on #1217
5/5/2022 dev meeting: I'll add this to TypeScript Conventions doc.

[2022-05-06 01:45] samreid commented on #1219
Better long term solutions would be:

* Making assert an es5 module instead of preload
* Putting the type definitions closer to the preloads.  Like `assert-type.d.ts` and one for query string machine.

However, I don't think we should plan on these now, and phet-types.d.ts seems reasonable for now.

[2022-05-06 01:46] samreid commented on #1219
I updated the lint directives, closing.

[2022-05-06 01:46] #1219 closed

[2022-05-06 21:19] samreid opened #1244 "How to run type checking when phet-io repo is not checked out?"
@kathy-phet said:

There is currently a check in the gruntfile that checks for the existence of the phet-io/ directory before starting the type checking.

[2022-05-06 22:49] samreid commented on #1244
This patch is mostly working.  But it seems that it's traversing a dynamic import at some point, so I wasn't able to commit it yet:

<details>

[code]

</details>

[2022-05-07 00:00] samreid opened #1245 "List all transitive dependencies for each tsconfig"
As described in https://github.com/microsoft/TypeScript/issues/46153, project references are designed so that if a project imports from another project, it should be listed in the direct references (not transitively).  According to the issue, that could address the false positives and false negatives we have been seeing.

This would be an alternative to the monolithic (one file/no project referenc

[2022-05-07 02:09] samreid commented on #1244
As a workaround hack, I found splitting the import strings was enough to trick `tsc` into not visiting those files.  This solution seems workable.  The last ingredient would be to add a `tsc` on `phet-io/` when it does exist and building something in phet-io brand.

[2022-05-07 15:50] samreid commented on #1208
OK I pushed the changes, ran `grunt modulify` on everything and added assertions there are no semicolon, comma or space characters in string key tokens.  I tested by adding these bad characters in some string keys and running `grunt modulify`--it errored as expected.  @pixelzoom would you like to review?  Please close if all is well.

[2022-05-09 15:39] pixelzoom commented on #1208
👍🏻 closing.

[2022-05-09 17:11] zepumph opened #1246 "Upgrade grunt"
We are getting an error from dependabot

- [x] Sims (chipper)
- [x] Quake
- [x] Weddell

Most package.json files are showing `~1.4`. After some regression testing I can just upgrade everything.

[2022-05-09 18:45] jessegreenberg commented on #1238
A temporary flag to tap into this in  added in https://github.com/typescript-eslint/typescript-eslint/issues/2094#issuecomment-709498190 and reports suggest is it working well. It was added to the "canary" build, but if I understand correctly the canary build is just the one right before main so this flag could be in the main build by now.

[2022-05-09 18:51] zepumph commented on #1224
You can now opt out of rules like `// eslint-disable-line bad-typescript-text` as needed. @pixelzoom mentioned multiple good reasons to allow checking instanceof or typeof assertions in TypeScript files, so we can disable that line accordingly.

[2022-05-09 18:52] chrisklus commented on #1229
From 5/9 typescript dev meeting, PSA delivered, and no further discussion happened. Closing.

[2022-05-09 18:52] #1229 closed

[2022-05-09 19:12] chrisklus commented on #1230
From 5/9 supplemental typescript dev meeting:

One option for next steps:

Turn on the lint rule to find out the distribution of cases. If most can have the param removed, then we like this rule. But we identified cases where the API should not be changed, so perhaps there are many of those cases too. In that scenario, there are a few options we could proceed with. The lint rule has some options l

[2022-05-09 19:23] pixelzoom commented on #1230
@zepumph FYI, you're going to run into some cases in simula-rasa where "Unused" is going to be problematic.  For example, in SimulaRasaModel.ts:

[code]

I we change these to `providedOptionsUnused` and `dtUnused` respectively, then either the sim developer will need to remove the "Unused" suffix, or (worse) they may  start using a parameter whose name is "Unused."

I'm not sure what to recommend,

[2022-05-09 19:29] pixelzoom commented on #1230
The rule config for "Unused" suffix is probably:

[code]

[2022-05-09 19:55] jessegreenberg commented on #1238
Adding this to sun/package.json does seem to be working well:
[code]

[2022-05-09 20:31] pixelzoom commented on #1217
Tracking this in https://github.com/phetsims/phet-info/issues/191.

[2022-05-09 20:31] #1217 closed

[2022-05-09 21:29] jessegreenberg commented on #1238
Some notes after playing with this for a while:
1) `EXPERIMENTAL_useSourceOfProjectReferenceRedirect` is working well, I am not seeing any errors yet.
2) I added `parserOptions.project.EXPERIMENTAL_useSourceOfProjectReferenceRedirect` to chipper's .eslintrc.js and it works well there too.
3) I wrote a grunt task to modify package.json for all repos, if we want to proceed with this:
<details>

[cod

[2022-05-09 21:36] zepumph commented on #1230
I got pretty blocked on needed the unused callback args for type inference in Multilink and DerivedProperty, see https://github.com/phetsims/axon/issues/395, but for now I feel like this is largely on hold. I can add the variable side of things for now, I'll take a look.

[2022-05-09 21:41] zepumph commented on #1230
Using this rule, I found 7 sports with errors in Ratio and Proportion, 3 were bugs, and 4 were false positives from needing them for DerivedProperty and Multilink.

[code]

[2022-05-09 21:49] zepumph commented on #1230
Ok, it is on for variables, but this isn't that helpful because we already had this as an eslint rule. We can work on this more when we figure out what we want to do with https://github.com/phetsims/axon/issues/395

[2022-05-10 17:33] pixelzoom commented on #1243
Since there's nothing wrong with vegas or FiniteStatusBar, I'm going to retitle this issue to reflect what the actual problem is.

[2022-05-10 17:41] pixelzoom commented on #1228
While reviewing TypeScript/dev meeting notes from 4/21 (I was out), I discovered these related notes:

I'm OK with "developer choice".  But I'm confused about @jbphet's comment "I prefer the constructor to be the first thing in the class."   We're not doing that now -- we decided (rightly) to put non-static field declarations before the constructor. Why not do the same for static fields, so it's e

[2022-05-11 04:23] samreid commented on #1224
Excellent, nice work @zepumph !

[2022-05-11 04:52] samreid commented on #1243
We will probably investigate https://github.com/phetsims/chipper/issues/1245 first.

[2022-05-11 15:35] zepumph commented on #1242
I was interested enough in this idea after a push failed for me last night on 1 of 2 repos and caused CT to fail all night. I read https://www.perforce.com/blog/vcs/what-monorepo because I remembered that Google famously uses one with 86 terabytes of data. Reading this article I am not convinced it is right for our project. It highly recommends against it when using `git` as the VCS, as it isn't "

[2022-05-11 15:50] pixelzoom commented on #1242
Re questions in https://github.com/phetsims/chipper/issues/1242#issuecomment-1113840788 ...

I'm not advocating versioning 27 repos.  I'm suggesting that, as a scalable alternative to a mono repo, common-code repos could be combined into a manageable number of repos that could be versioned.  PhET-iO repos could be combine into 1 private repo and versioned.  And sims could remain in their own repos

[2022-05-11 22:22] samreid commented on #1245
I did not see an existing lint rule that could help enforce this new requirement.  I checked the rules at https://www.npmjs.com/package/eslint-plugin-import.  I don't see an easy way to automatically update the tsconfig files from existing imports.  Maybe we would write our own lint rule that checks that any import has a direct listing in `references`?  But we would want to make sure that works fo

[2022-05-11 23:07] samreid commented on #1243
On hold until https://github.com/phetsims/chipper/issues/1245 has progress.

[2022-05-11 23:08] samreid commented on #1241
On hold until we discuss https://github.com/phetsims/chipper/issues/1245

[2022-05-11 23:10] samreid commented on #1168
Also, perhaps a lint rule should tell us that file doesn't exist?

[2022-05-12 16:57] zepumph commented on #1246
I will try to get to this today.

[2022-05-12 18:53] samreid commented on #1245
In today's discussion, we agreed we would like to explore the monolithic tsconfig approach, but having `**/*` to capture every entry point.  These will replace the project-references versions.  Not sure if we should keep those around in case we go back to them in the future.

@zepumph wants to time `**/*` and see how it goes before changing everything.

[2022-05-12 22:27] jbphet commented on #1228
I'm not sure I can defend that comment very well, and I think it was written down by someone else and I eventually retracted it, but it didn't get removed.  I suspect I was thinking of JavaScript classes and had momentarily forgotten about the declarations at the top of a TypeScript class.  At any rate, I retract the comment because it doesn't make sense, and am also OK with "developer choice".

[2022-05-12 22:33] zepumph commented on #1246
looks like 1.5.3 just came out. I tested it by running grunt in a sim, doing a dev version, and running grunt lint-everything in perennial

I used this regex to make sure all usages are on 1.5.3: `"grunt": "(?!~1.5.3)`

[2022-05-12 22:41] zepumph commented on #1246
Updates are above. @jbphet would you mind spot checking this, since I couldn't test weddell or quake because I didn't have all the setup needed (config files, dependencies, etc). I failed a grunt task quickly from a lack of setup and decided that it would just be easiest for you to do a quick command or two to spot check.

[2022-05-13 20:11] samreid commented on #1245
On my macbook air, the timing is like:

| Case | Initial (sec) | Incremental/no changes (sec) |
| ------------- | ------------- | ------------- |
| Geometric Optics  | 4.987  | 1.570  |
| tsconfig/all  | 13.983  | 5.403  |
| tsconfig/all (no images/mipmaps/sounds) | 11.106  | 3.100  |

[2022-05-13 22:14] samreid commented on #1245
From review with @zepumph:

* Seems promising and much simpler, easier to maintain.  Will likely solve the "false positives and false negatives" issues.
* Add a comment to the sim/common repo tsconfigs that say "this was autogenerated", and autogenerate with `grunt update`.  Maybe even other repos without `grunt update`, like aqua.
* Use "excludes node_modules" and build/ instead of "includes js,

[2022-05-14 01:24] samreid commented on #1174
We haven't been using the watch process much for type checking, and have made improvements in speedup of running the full type checker.  But I recall @zepumph was interested in this feature.  @zepumph should we close this, or leave open and unassigned, or increase priority?

[2022-05-14 01:25] samreid commented on #638
This got much simpler in https://github.com/phetsims/chipper/issues/1245 and there are also recommendations there for more improvements.

[2022-05-14 01:25] #638 closed

[2022-05-14 01:57] samreid commented on #1245
I updated a few things in https://github.com/phetsims/chipper/issues/1245#issuecomment-1126547026 and asked some questions.  @zepumph can you please review?  I didn't feel strongly about the uncompleted parts--happy to work on them more if recommended.  This issue is getting long--for anything nontrivial can you please promote it to a new issue?

[2022-05-15 01:51] samreid commented on #1168
In the commits, chipper/dist/js is pruned on startup and intermittently during watch.  I was OK with that since it is only taking about 200ms on my system.  But I think the watch process has been detecting file deletes correctly, so the intermittent part is probably unnecessary.  I'll remove it and the code reviewer or dev team can decide if we want it?

[2022-05-15 01:56] samreid commented on #1168
I messaged slack:

This is ready for review.  @pixelzoom and @zepumph have been involved in this issue, would one of you like to volunteer to review/test?  If you don't have time, please label for dev meeting and someone else can review.

[2022-05-16 16:43] samreid commented on #1244
It seems this problem has been corrected now that we are using the monolithic approach in https://github.com/phetsims/chipper/issues/1245 which uses graceful include patterns.   I tested deleting `phet-io` and I ran the type checker, and it passed.  Closing.

[2022-05-16 16:51] kathy-phet commented on #1244
That is nice!

[2022-05-16 18:04] jbphet commented on #1246
I tested for quake, and it's fine.

@liam-mulhall - Can you please run a build (with no deploy) and verify that it works with this update to grunt?  If so, this issue can be closed.

[2022-05-17 02:54] samreid commented on #1239
We are now using the monolithic approach, with some windows timing noted in https://github.com/phetsims/chipper/issues/1241#issuecomment-1109945148.  @jessegreenberg can you please comment if the precommit hook times have gotten faster for you after pulling the monolithic tsconfig in https://github.com/phetsims/chipper/issues/1245 ?

[2022-05-17 02:58] samreid commented on #1173
False positives and negatives may have been a result of the fact that we were not listing all transitives dependencies in each tsconfig, discussed in https://github.com/phetsims/chipper/issues/1245.  The solution for that issue was to get rid of project references altogether and use a more monolithic approach.  I tried using `tsc --watch` on the monolithic approach and it took about 11sec to type

[2022-05-17 02:59] samreid commented on #1173
@zepumph previously expressed interest in adding features to this watch process.  @zepumph does this still sound valuable to you?

[2022-05-17 03:03] samreid opened #1247 "Make tsc external tool links clickable in WebStorm."
As noted in https://github.com/phetsims/chipper/issues/1173#issuecomment-1128353333 it is convenient to trigger `tsc` from a keystroke in WebStorm and see the results below.  It currently looks like this:

<img width="982" alt="image" src="https://user-images.githubusercontent.com/679486/168719651-733d313b-37c0-4b44-ac4c-f827bbbe93d1.png">

Note the filename is not hyperlinked like it is for lint:

[2022-05-17 03:05] samreid commented on #1247
Same problem noted in `https://github.com/microsoft/TypeScript/issues/7238#issuecomment-190436239`

[2022-05-17 14:12] jessegreenberg commented on #1239
I pulled all and tried running `tsconfig/all tsc -b`, here are some timing results:

- First run after pull-all: 24 seconds
- Five more runs with no changes: ~7.5 seconds each
- Add a misc change to ScreenView.ts: 36 seconds
- 2 more runs with no changes: ~12 seconds each
- Add a function to ScreenView.ts and use in a sim: 15 seconds
- After `git stash apply` for a large change set in a sim: 15 se

[2022-05-17 16:46] zepumph commented on #1174
FYI This is the only way that I am type checking at this time.

I think we should close this issue.

[2022-05-17 16:46] #1174 closed

[2022-05-17 18:51] samreid commented on #1239
Based on the comment above, it seems this issue is at a good point to close.  Anyone feel free to reopen, or create a side issue as appropriate. Closing.

[2022-05-17 18:51] #1239 closed

[2022-05-17 20:48] jessegreenberg opened #1248 "Chipper 1.0 tools still deploy to spot"
Discovered during https://github.com/phetsims/forces-and-motion-basics/issues/291.

forces-and-motion-basics 2.3 uses a very old chipper SHA. I tried to deploy the phet and phet-io brands of forces-and-motion-basics with the following command
[code]

But got the following error:
[code]

So I went to deploy with chipper 1.0 since I thought that chipper 2.0 tools were unavailable. I went through the

[2022-05-17 20:59] jessegreenberg commented on #1248
I added notes about this in the chipper-1.0.md and chipper-2.0.md documentation. But wanted to see if @jonathanolson thought anything else should be done here. Sims with very old chipper SHAs might not be deployable with chipper 1.0 steps, but I don't know if that is very important. If not, feel free to close if the documentation changes are sufficient.

[2022-05-18 19:45] jonathanolson commented on #1248
The documentation looks good, it sounds good to avoid trying the chipper 1.0 tools.

[2022-05-18 19:46] #1248 closed

[2022-05-19 14:01] mattpen commented on #1243
The original problem popped up on the build server again today.

[2022-05-19 16:20] pixelzoom commented on #1168
While I've experienced the problem, I have no familiarity with the implementation.  So I'm not going to review.

[2022-05-19 16:49] zepumph commented on #1168
This is really great! Thanks so much for taking the lead on it. I have noticed these "deleted" logs in the past few days.

My only question is if it is helpful note Nodejs's path library? Instead of `forwardSlashify`, should be use `path.sep` somehow?

Feel free to close.

[2022-05-19 18:21] zepumph commented on #1247
I wonder if we can make this have a default directory of your cwd.

[2022-05-19 18:58] samreid commented on #1247
It sounds like you are describing a use case outside of running in WebStorm, like running from the command line.  Can you please clarify?

[2022-05-19 19:19] pixelzoom opened #1249 "`no-empty-function` typescript-eslint rule"
Related to https://github.com/phetsims/chipper/issues/1114.
Documentation at https://typescript-eslint.io/rules/no-empty-function/.
To be discussed in dev meeting.

[2022-05-19 19:23] jessegreenberg commented on #1238
Now that we don't use project references we should try this again and see if this is faster. https://github.com/phetsims/chipper/issues/1238#issuecomment-1121601054 probably isn't relevant anymore because of this.

[2022-05-19 19:30] zepumph commented on #1114
@jessegreenberg will create the rest of the issues per rule. Then we are ready to close because type-checking lint rules should be decided on based on the outcome of https://github.com/phetsims/chipper/issues/1238. Please close when those are made. Thanks @jessegreenberg!

[2022-05-19 19:31] zepumph commented on #1238
- [ ] If we can get this fast enough to turn on these rules, please create a new issue to determine what type-checking rules we should use (likely by seeing how many errors these rules have to begin with).

[2022-05-19 19:36] jessegreenberg opened #1250 "`adjacent-overload-signatures` typescript-eslint rule"
From to https://github.com/phetsims/chipper/issues/1114, see https://typescript-eslint.io/rules/adjacent-overload-signatures/.
 Currently 258 errors in the project. Should we chip-away and enable or ignore this rule? To be discussed during dev meeting.

[2022-05-19 19:38] jessegreenberg opened #1251 "`ban-ts-comment` typescript-eslint rule"
From to https://github.com/phetsims/chipper/issues/1114, see https://typescript-eslint.io/rules/ban-ts-comment/.
Currently 566 errors in the project. Should we chip-away and enable or ignore this rule? To be discussed during dev meeting.

[2022-05-19 19:39] jessegreenberg opened #1252 "`ban-types` typescript-eslint rule"
From https://github.com/phetsims/chipper/issues/1114, see https://typescript-eslint.io/rules/ban-types/.
Currently 251 errors in the project. Should we chip-away and enable or ignore this rule? To be discussed during dev meeting.

[2022-05-19 19:41] jessegreenberg opened #1253 "`no-explicit-any` typescript-eslint rule"
From to https://github.com/phetsims/chipper/issues/1114, see https://typescript-eslint.io/rules/no-explicit-any/.
Currently 515 errors in the project. Should we chip-away and enable or ignore this rule? To be discussed during dev meeting.

[2022-05-19 19:42] jessegreenberg commented on #1114
Great, issues have been made we will continue there. Closing this one.

[2022-05-19 20:16] pixelzoom commented on #1252
Over in https://github.com/phetsims/geometric-optics/issues/437#issuecomment-1132161965, I noted why I did not enable `ban-types` for geometric-optics:

* `ban-types`:  This flags all occurrences of `{}` with:

... and `{}` is ubiquitous with `type SelfOptions = {}`.

[2022-05-19 20:27] samreid commented on #1238
Increasing priority, since I hope to look into this during this week.

[2022-05-19 20:36] jessegreenberg commented on #1238
It is much faster! Well done @samreid. Timing results below. However, there is still the problem with `grunt lint-everything`, it gets stuck/ will probably run out of memory.

I changed `parserOptions.project` to `'../chipper/tsconfig.json'` in chipper and that is working for all repos. Timing `grunt lint` with and without cache:

- quadrilateral:
    - without cache: 9 seconds
    - with cache: 2

[2022-05-19 20:47] pixelzoom commented on #1224
geometric-optics and vegas are passing all bad-typescript-text.  sun and scenery-phet are close, not a problem in code that I've converted.  Self unassigning.

[2022-05-19 22:03] jessegreenberg commented on #1238
I added
[code]

to all package.jsons and ran lint-everything again. After 1min 48 seconds I got an out of memory error. It seems to me that https://github.com/phetsims/chipper/issues/1238#issuecomment-1121601054 still applies. We may be able to use a different implementation of the grunt `lint-everything` task.

But the best case scenario would be a ~30 minute run time for the command when there i

[2022-05-19 23:05] jessegreenberg commented on #1238
@samreid and I met to try more things:
1) We modified a tsconfig file in a sim and verified that running `grunt lint-everything` used the sim's tsconfig and not chipper's when `parserOptions.project` is `[ './tsconfig.json' ]` in chipper.
2) We changed chipper's `parserOptions.project` to point to `'../chipper/tsconfig/all/tsconfig.json'`. We found we had to add all sims to that file in order for

[2022-05-19 23:13] jessegreenberg commented on #1238
I did this with just the b sims in active-repos and ran out of memory before 2 minutes. Otherwise that works, there were no other problems running lint.

[2022-05-20 03:12] samreid commented on #1238
I tried https://typescript-eslint.io/docs/linting/monorepo/

[code]

But it failed after about 4 minutes with an out of memory error.

[2022-05-20 14:36] jessegreenberg commented on #1238
I tried
1) setting `parserOptions.project` to `[ '../chipper/tsconfig/all/tsconfig.json' ]`
2) Add all active repos to all/tsconfig.json
3) Changing `lint-everything to lint each active repo one at a time (mostly to see how far it gets in the command)

Running `tsc` in chipper/tsconfig/all now takes ~20-40 seconds. Running grunt lint in a single repo takes ~2 minutes without cache, 2 seconds with

[2022-05-20 15:47] pixelzoom commented on #1252
The `ban-type` documentation refers to this issue comment for workarounds to `{}`:  https://github.com/typescript-eslint/typescript-eslint/issues/2063#issuecomment-675156492

[2022-05-20 17:10] jessegreenberg opened #1254 "Disable no-unused-vars for typescript files"
Noticed with @jbphet, the eslint `no-unused-vars` and the typescript-eslint `no-unused-vars` are both being reported when running `grunt lint`. We probably need to disable the default eslint version for our typescript files.

[2022-05-20 20:04] samreid commented on #1247
The changes from @zepumph are working well.  I noticed an unrelated problem that getting a type error in the sim where the command is run from, doesn't make an absolute path because there are no '../' to detect.  I'm seeing output like:

[code]

[2022-05-20 20:14] zepumph commented on #1245
Please let me know if it wasn't ok to remove the commented out directories. I think it is more than acceptable to just type check imported images/sounds/etc, since they are generated js files anyways.

tsconfig/all does not seem to have a good coverage across non sim-related repos. For example `aqua` not has ts code. How do you want to manage these sorts of side-repos as they gain coverage. Also w

[2022-05-20 20:35] samreid commented on #1247
Implemented and works great on both my mac and windows. @zepumph can you please test drive it on yours?  Close if all is well.  Also note the 2nd command line arg no longer necessary.

[2022-05-20 20:42] zepumph commented on #1247
Works great! Thanks for the improvement. No other thoughts here.

[2022-05-20 21:02] samreid commented on #1168
It simplified use cases to know that there are forward slashes, like:

[code]

Closing.

[2022-05-20 21:02] #1168 closed

[2022-05-23 19:27] samreid commented on #1245
I added more repos to the tsconfig.json, and I added `@ts-nocheck` in the files that seem they are not yet ready for type checking.

[2022-05-23 20:57] zepumph commented on #1245
Looks great. Do you think there is anything else here?

[2022-05-23 20:58] samreid commented on #1245
That seems good for now, closing.

[2022-05-25 17:49] DianaTavares opened #1255 "PhET sims files shared by WhatsApp are not opening in iPhones and some Huawei"
I am not sure if this is an issue that PhET can solve, but a teacher share with me that he download the sim for our website and send the file to the students in a WhatsApp group (WhatsApp is free in Mexico for most the cellphone companies). The problem is that the students with iPhones and some Huawei can't open the sim. They see only a black screen and nothing happen.
If these students download t

[2022-05-25 18:24] KatieWoe commented on #1255
@kathy-phet what do you need for testing? Should we try to recreate it or work with a developer to find the source? If so, who should we work with?

[2022-05-25 20:14] oliver-phet commented on #1255
I don't think this has anything to do with WhatsApp. iPhones don't allow the user to open local web pages/html files that are downloaded to the device. That's why we have instructions for adding sims to the browsers reading list: https://phet.colorado.edu/en/help-center/running-sims/tablet

I'd be curious to find out how they are able to download and open the sim downloaded directly from the websi

[2022-05-25 22:28] samreid commented on #1238
Good experiments!  I also ran a few tests.  I wanted to see the performance characteristic of running the idiomatic way described on https://eslint.org/docs/user-guide/command-line-interface which is to run:

[code]

Which I think only works because I have a node_modules as a sibling of my checkout repos.

I also tried with and without `--cache`.  And I tried with the current all/tsconfig and comp

[2022-05-25 22:49] samreid commented on #1212
TypeScript 4.7 was released yesterday and it has support for Optional Variance Annotations for Type Parameters: https://devblogs.microsoft.com/typescript/announcing-typescript-4-7/#optional-variance-annotations-for-type-parameters

Adapting the example from above, we get:

[code]

Which gives this type error:

[code]

In my opinion, the next steps for this issue are:

* Make sure the team understa

[2022-05-25 23:47] pixelzoom opened #1256 "Make `grunt update` (and its subtasks) responsible for `git add` when it creates files."
In https://github.com/phetsims/tambo/commit/382620e4ce6996491b6b24fead907762fd081d51, new mp3 files were pushed. But their corresponding mp3.js (modulify) files were not added and were therefore not pushed.  It worked for the developer, because he had the mp3.js files in his working copy.  But it failed CT, and (after doing a pull-all.sh to get some other unrelated fixes) I had to fix it before I

[2022-05-26 17:49] zepumph commented on #1238
Or can we just dynamically set the "project" flag based on the "patterns" parameter?

[2022-05-26 19:02] jessegreenberg commented on #1249
Consensus 5/26/22 - We want this rule. Better to use `_.noop` instead because it is easier to read and more consistent.

JO: Can we have the lint rule recommend `_.noop` instead?
MK: The best we can do is add documentation where we enable the rule.

SR and MS will work on enabling this lint rule, thanks!

To enable we will want to disable the javascript rule like this:

[code]

There are only 41 e

[2022-05-26 19:11] jessegreenberg commented on #1250
It requires getters and setters to be next to each other. Like this
[code]

The `get hintResponse` and `set hintResponse` must be together.

The reason this may be useful is because it could prevent accidental overloading since overloaded functions must be grouped.

SR volunteered to to give it a try, if it doesn't take too long to fix existing errors it is worth having this rule enabled.

[2022-05-26 19:25] jessegreenberg commented on #1251
5/26/22 -

We don't think we can enable this one. We need `@ts-*` directives particularly in mixins to disable certain things. If one of these directives should be disallowed it can be added to bad-text rules.

Closing.

[2022-05-26 19:25] #1251 closed

[2022-05-26 19:31] jessegreenberg commented on #1252
5/26/22 -

We want this rule, and we think it could be used to automatically ban `Omit` in https://github.com/phetsims/phet-core/issues/119 with a custom message.

There was an example of allowing `{}` in the documentation in https://typescript-eslint.io/rules/ban-types/.

@zepumph and @AgustinVallejo will work on this one, thanks!

[2022-05-26 19:33] jessegreenberg commented on #1253
5/26/22 developer meeting: This is the last eslint rule to discuss from #1114, and will start on this topic next week (hence the high priority).

[2022-05-26 19:40] zepumph commented on #1179
I still am restarting my transpiler upon git operations (mostly pull).

[2022-05-26 19:41] zepumph commented on #1173
I think that our precommit hooks are in a good state. The only reason for  a more comprehensive tool like that was to utilize the caching of type checking to speed up the hooks. This caching will occur now with our monolithic type checking. I'm ready to close this.

[2022-05-26 19:41] #1173 closed

[2022-05-26 19:45] jessegreenberg commented on #1254
The base rule has been disabled for typescript files.

[2022-05-26 19:45] #1254 closed

[2022-05-26 19:48] zepumph commented on #1033
That makes a bunch of sense. Thanks for the patch. Applied, rule has been on in master, lint passing, and closing.

[2022-05-26 19:48] #1033 closed

[2022-05-26 19:49] zepumph commented on #1015
I haven't experienced this in over a year. Closing.

[2022-05-26 19:49] #1015 closed

[2022-05-26 20:03] zepumph commented on #1223
Alright, I disabled all of these issues, and turned on the rule. Closing

[2022-05-26 20:03] zepumph commented on #816
I don't think we are ever going to do this. It has worked well to just pull our scripts into javascript files. Closing

[2022-05-26 20:03] #816 closed

[2022-05-26 20:33] pixelzoom commented on #1252
As I mentioned above... There are also examples (and explanation) of how to deal with `{}` in https://github.com/typescript-eslint/typescript-eslint/issues/2063#issuecomment-675156492.

[2022-05-26 21:12] samreid commented on #1249
When @marlitas and I investigated, we found that `_.noop` is not a good replacement for these cases because it has this type signature:

[code]

That means this code fails the type checker, as it should:

[code]

However, using `_.noop` would no longer fail the type checker, which is bad:

[code]

Therefore, we don't want to use `_.noop` everywhere.

Instead, we discussed adding a 0-arg noop in PH

[2022-05-26 21:18] samreid commented on #1250
We reviewed the cases and decided to divide and conquer.  I'll do cases in scenery.  @marlitas will do the other cases.

[2022-05-26 22:11] zepumph commented on #1252
@AgustinVallejo and I got to a commit point excluding `{}` as part of the rule, but we had to leave before we could commit on AV's side. Either tonight or tomorrow morning we will push commits to 18 files, turning on the rule.

[2022-05-26 22:14] pixelzoom commented on #1230
In .eslintrc:

[code]

@zepumph is the missing word in the TODO comment "on" or "off"?

[2022-05-26 22:15] samreid commented on #1250
OK I finished in scenery.  When the rest of the cases are complete, @marlitas can you please enable the rule in chipper/eslint/.eslintrc.js and commit/push?  Self-unassigning.

[2022-05-26 22:16] pixelzoom commented on #1252
https://github.com/typescript-eslint/typescript-eslint/issues/2063#issuecomment-675156492 suggests that excluding `{}` from the rule is a bad idea.   It suggests defining an `EmptyObject` type.  Have you investigated that approach?

[2022-05-26 22:50] jessegreenberg commented on #1238
Re https://github.com/phetsims/chipper/issues/1238#issuecomment-1137903533

That is quite fast! Good to know.

Yes, that is what I was thinking too. I went ahead and added an option for the lint task called `--type-info`. It adds the typescript eslint rules and sets the `project` flag from `patterns`.

It seems to work well. It would be simple to use these for git hooks. But I couldn't figure out

[2022-05-26 23:01] marlitas commented on #1250
lint rule enabled runs clean. Closing.

[2022-05-26 23:01] #1250 closed

[2022-05-27 15:36] zepumph commented on #1252
That makes a lot of sense! With that part disabled, there were just 27 lint errors. This was a nice and bite sized portion to handle first, and @AgustinVallejo and I were quite happy with the fix from each (all problems were obvious improvements).

I will note that we needed to do a bit of hackary in NumberPlay, and created a type called `TODO_Function` with a todo next to it to make sure that it

[2022-05-31 20:08] samreid commented on #1238
I tested looping over each repo like so and it seemed to have good characteristics (including running lint-everything faster), we may want to base our strategy on this.  Stashing a copy to clean my working copy.

<details>

[code]

</details.

[2022-06-01 00:03] zepumph commented on #1252
Omit was added as a banned type in https://github.com/phetsims/phet-core/issues/119

[2022-06-01 15:18] zepumph commented on #1252
With this patch. . .

[code]

. . . there are 232 lint failures. Marking for dev meeting to discuss how/if/when we make this conversion to forbidding the type: `{}` from our project.

[2022-06-01 16:54] jonathanolson opened #1257 "Add shaders/ modulify support for GLSL code"
Will add shaders/ (top-level directory) similar to images/sounds, that transforms GLSL shader code into importable strings.

[2022-06-01 17:56] jessegreenberg commented on #1238
That is promising but I don't think that patch is linting anything. The lint command should be
[code]

I tried this with type checking lint rules in https://github.com/phetsims/chipper/issues/1238#issuecomment-1132287999 but ran out of memory.

[2022-06-02 16:21] pixelzoom opened #1258 "`explicit-member-accessibility` typescript-eslint rule"
Here's an example of why I'd like to revisit the decision to make `public` optional (at developer discretion).

In bending-light GridCanvasNode.ts:

[code]

The fields here were probably auto-created using WebStorm, with default public visibility.  And then they were never given the proper visibility, which should be `private` (as noted in the comments).

And this is not an isolated case. While wo

[2022-06-02 16:25] pixelzoom commented on #1258
And again in SeriesCanvasNode.ts:

[code]

[2022-06-02 17:24] pixelzoom commented on #1224
I've fixed most of the `@private` problems, with these exceptions:

* axon.PhetioObject.ts is a mess.  Should all of the fields prefixed with '_' be `private`? `readonly`?
* wilder.Mixable - I don't know how to address @private in mixins
* axon.createObservableArray - I don't know how to address @private in mixins

@zepumph volunteered to handle these. Then `@private` can be turned on in bad-types

[2022-06-02 17:43] samreid commented on #1253
At today's meeting, we agreed we want to enable this rule.  To get there, we should chip away at it.  Developers can enable it on a repo-by-repo basis

@samreid will make a list of repos that have problems for this.

[2022-06-02 17:45] zepumph commented on #1252
Discussed at dev meeting today. We asked and everyone is using `{}` as an "Empty Object" and not as a structural type that is a superset of object with any keys allowed. We tried `Record<string, never>` but it didn't work as SelfOptions when passed to optionize. @AgustinVallejo and I will investigate.

[2022-06-02 18:23] pixelzoom opened #1259 "Remove `@private` from ts-status"
In https://github.com/phetsims/chipper/issues/1224, occurrences of `@private` were removed, and `@private` is not banned via bad-typescript-text.js.   So `@private` is now irrelevant for ts-status, because it is (and will always be) zero.

@marlitas would you like to remove `@private` from ts-status, or would you like me to handle it?

<img width="919" alt="screenshot_1691" src="https://user-image

[2022-06-02 18:24] pixelzoom commented on #1224
`@private` has been enabled in bad-typescript-text.js, so it's no longer relevant for ts-status.  Tracking removal of `@private` from ts-status in https://github.com/phetsims/chipper/issues/1259.

[2022-06-02 18:30] zepumph commented on #1224
There are 141 usages of @returns with no extra doc afterwards, we can work on this next.

[2022-06-02 18:44] samreid commented on #1258
We discussed this at today's dev meeting.  @zepumph recommend we separate this into 3 problems:

* public modifier
* readonly modifier
* Lint rule that requires readonly for private members where possible: https://typescript-eslint.io/rules/prefer-readonly/

[2022-06-02 18:54] samreid commented on #1258
Have you been mindful of public/private?
AV - Forgot it existed, using the default
CM
CK - yes, and i opted to use public explicitly in NP
JB - I generally try to specify public explicitly
JG -
JO - Don’t mind either way, yes mindful of that
KP
LM
LV - yes, I try to use public explicitly
MK- I’m sorry I haven’t been a good participant.
MP
MS: I’m being mindful.
SR: I’m being mindful of public vs p

[2022-06-02 18:58] samreid commented on #1258
Several team members recommended that we should be consistent, even requiring `public|private|protected` on constructors, methods, getters, etc.

[2022-06-02 19:26] samreid commented on #1212
At today's dev meeting, we discussed the problem.  @jonathanolson said he has run into this a number of times.  Next steps are outlined above.  We would also like a heuristic about when you need to specify `in` and/or `out`, and see if we have places in the code where this is supposed to happen at the moment.

[2022-06-02 19:52] pixelzoom opened #1260 "Access to script ... has been blocked by CORS policy"
I'm getting this console error regularly when trying to load unbuilt sims into Chrome 102.0.5005.61 on macOS 12.3.1, running Apache 2.4.51.  The filename is almost always different.  And it occurs with all sims.  Reloading the sim a 2nd or 3rd time works.

In the above example, my URL was http://localhost/~cmalley/GitHub/bending-light/bending-light_en.html?brand=phet&ea&debugger

[2022-06-02 21:51] zepumph commented on #1224
I also was able to add `@param {` as bad text, since we shouldn't be providing type info via jsdoc. There are still two commented out rules:

* `options = merge`
* assert related type checking. I'm not sure if we still want this one. There are 658 errors currently. I'll ask at next dev meeting.

[2022-06-03 15:54] samreid commented on #1258
I added a (horribly inefficient) script that adds accessibility modifiers.

[2022-06-03 16:05] samreid commented on #1258
I used the script in axon to make all missing modifiers private, then I used the type checker to visit each site and make them public where appropriate.

[2022-06-03 16:23] pixelzoom commented on #1258
I'd be interested in a script like this for general use.  For some collection of .ts files, the script would change all fields to `private readonly` and methods to `private` (which should be the default, if a language is really serious about creating a good API) regardless of how you had set them.  Then let `tsc` tell you where it needs to be changed.   Not sure how much effort this would be, but

[2022-06-03 18:22] marlitas commented on #1253
Assignments for `no-explicit-any` chip away.

 - [ ] axon: @samreid - 118 errors in 11 files.
 - [ ] bamboo: @samreid - 31 errors in 24 files.
 - [ ] bending-light: @samreid - 2 errors in 2 files.
 - [ ] center-and-variability: @samreid, @chrisklus - 5 errors in 4 files.
 - [ ] chipper: @jonathanolson - 10 errors in 2 files.
 - [ ] circuit-construction-kit-common: @samreid - 78 errors in 43 files.

[2022-06-03 22:50] marlitas commented on #1259
@pixelzoom I can remove it. Thanks!

[2022-06-03 23:01] zepumph opened #1261 "Maintenance Release: lint hits sherpa/node_modules"
@samreid, @zepumph, and @jonathanolson, have discovered that lint only started ignoing all node_modules dirs in https://github.com/phetsims/chipper/commit/c627f0540e00b15d2dcdb28b484e79ae4d0c602e. So in the CCK AC circa 11/21, we were running an error because I recently added node_modules to sherpa in 4/26/21.

The build server will never npm install in sherpa, but to run MR's successfully locally

[2022-06-03 23:14] marlitas commented on #1259
`@private` removed from ts-status script. Closing.

[2022-06-03 23:14] #1259 closed

[2022-06-06 15:28] samreid opened #1262 "Add a grunt lint --chip-away feature that identifies responsible devs for lint errors"
For https://github.com/phetsims/chipper/issues/1253, @marlitas and I identified there are many remaining lint rules to be enabled, and it would be nice to automatically generate a list of responsible devs.  We created a script to do so, and the sample output is in https://github.com/phetsims/chipper/issues/1253#issuecomment-1146242757

We created this issue since this feature was complex enough th

[2022-06-06 15:31] samreid commented on #1262
Assigning @marlitas to add documentation (mentioned in a TODO) before Thursday.

[2022-06-06 16:15] pixelzoom commented on #1253
The only problems in scenery-phet are in NumberControl, converted by @jonathanolson, and tracked in https://github.com/phetsims/scenery-phet/issues/742.  So I'm going to reassign scenery-phet to him in the above checklist.

[2022-06-06 18:12] pixelzoom opened #1263 "Violations of SelfOptions naming conventions"
Awhile back, we decided to standardize on the name `SelfOptions` for an unexported type that describes options that are specific to the class being defined ("self").     For nested classes, where `SelfOptions` is already used, the self-options for the nested class should be `{{ClassName}}SelfOptions`.

Using the regular expression `type .+SelfOptions =`, these violations are identified:

- [x] Uni

[2022-06-06 18:42] pixelzoom commented on #1263
Violations fixed in the above commits.

Questions related to a lint rule:
* Can we support this via bad-typescript-text.js?
* Can we detect when `{{ClassName}}SelfOptions` occurs for an inner class, or do we need `/* eslint-disable */`?  There are a handful of these so far, e.g. `HandleDragListenerSelfOptions` in BicyclePumpNode.ts.
* Should we do something to avoid needing `/* eslint-disable */`

[2022-06-06 19:05] zepumph commented on #1263
I added bad text as `export type SelfOptions`, but that doesn't cover the main issue of having the primary class call its options `XSelfOptions`. Perhaps now that you have changed this, plus a PSA, it won't be an issue anymore? (wishful thinking much?)

[2022-06-06 19:08] pixelzoom commented on #1263
Not everyone appears to be using the "export where defined" pattern.  And this is not caught by bad-typescript-text.js:

[code]

[2022-06-06 19:51] zepumph commented on #1253
I think it is a false positive. I don't see any typescript files in perennial.

[2022-06-06 22:53] samreid commented on #1238
Using this patch, I was able to `grunt lint-everything`.  It leverages the `--type-info` option.  But we would probably need to put those in the package.json so our IDE can use it, like in https://github.com/phetsims/chipper/issues/1238#issuecomment-1137903533

<details>

[code]

</details>

The initial pass took 1m37.981s and did not crash with memory errors.  Subsequent runs are taking about 0m2

[2022-06-07 16:11] pixelzoom opened #1264 "Incorrect `optionize` in HomeScreenButton?"

[2022-06-07 17:15] pixelzoom commented on #1264
Oh boy.  Here's an example of how `VoicingOptions` is used in 3 different ways.

First, here's the definition of VoicingOptions, which includes NodeOptions:

[code]

Now here are 3 different uses of VoicingOptions

[code]

Questions:

* Should NodeOptions be removed from the definition of InteractiveHighlightingOptions? My feeling is yes. We don't know what Node subclass this trait will be applied

[2022-06-07 20:38] jonathanolson commented on #1264
https://github.com/phetsims/chipper/issues/1264#issuecomment-1148932455 describes the pattern I believe is good to use, yes. I've called it `SuperOptions` instead of `ParentOptions` (since it's technically the supertype). I'm fine with whatever naming

[2022-06-09 17:45] pixelzoom opened #1265 "Remove redundant typescript-eslint rules from package.json"
In various chipper issues, we're investigating typescript-eslint rules for the project  As a way of incrementally enforcing rules, we have been adding them to package.json for specific repos.  When chipper/eslint/.eslintrc has stabilized, redundant rules should be removed from package.json.

On-hold until chipper/eslint/.eslintrc has stabilized.

[2022-06-09 17:48] samreid commented on #1258
Here is the result of `grunt lint-everything --chip-away` for this rule:

 - [ ] bamboo: @samreid 113 errors in 25 files.
 - [ ] bending-light: @samreid 374 errors in 62 files.
 - [ ] build-a-nucleus: @Luisav1, @chrisklus 37 errors in 15 files.
 - [ ] buoyancy: @jonathanolson 4 errors in 4 files.
 - [ ] center-and-variability: @samreid, @chrisklus 155 errors in 42 files.
 - [ ] circuit-constructio

[2022-06-09 17:51] zepumph commented on #1262
This is some really really code stuff. Thanks for doing this. I loved the demo during today's dev meeting. Could you please factor this code out of the lint function directly into its own function?

[2022-06-09 18:37] marlitas commented on #1262
@zepumph I can add that to my list.

[2022-06-09 19:22] pixelzoom commented on #1264
6/9/2022 dev meeting:

* Order does not matter when composing types with `&`.
* PSA delivered to dev team.
* NodeOptions should be removed from InteractiveHighlightingOptions
* I'll review and fix all mixins/traits
* I'll update https://github.com/phetsims/phet-info/blob/master/doc/phet-software-design-patterns.md#options-typescript

[2022-06-09 19:53] samreid commented on #1249
At today's meeting, the team agreed that type checking on the no-op args is not important, so we can proceed with _.noop.

[2022-06-09 20:40] pixelzoom commented on #1258
vegas, sun, and scenery-phet are all checking `explicit-member-accessibility` via their package.json.

[2022-06-09 21:24] marlitas commented on #1262
chipAway refactored into separate file. Check: chipper/js/grunt/chipAway.js

[2022-06-09 21:36] #1180 closed

[2022-06-09 22:35] pixelzoom opened #1266 "Can we check for field names that are duplicated when composing types?"
In https://github.com/phetsims/scenery/issues/1426, I identified some distrubing duplication of options in the `AccessibleValueHandler` stack.  It's dsturbing because `optionize` allowed us to create this mess.  Should `optionize` be checking for duplicate field names?  When would it be acceptable to have duplicate field names?

[2022-06-09 22:43] pixelzoom commented on #1264
`InteractiveHighlighting` is proving to be a problem.  We decidd that we'd like to remove `NodeOptions` here:

[code]

But the constructor calls:

[code]

... so expects `interactiveHighlightingOptions` to be of type `NodeOptions`.

Questions:
* Is the call to `mutate` really needed? If so, document why.
* Could `InteractiveHighlightingOptions` be parameterized with the options type for the Node s

[2022-06-09 23:28] pixelzoom opened #1267 "Lack of accessibility modifiers in mixins/traits"
In mixins/traits, I see comments like this one in NumberSpinner.ts:

[code]

But when I use `private` and `protected`, I’m not seeing any tsc or lint errors.  Was this perhaps a problem in an earlier version of tsc that has been fixed?  Can we now use proper modifiers in mixins/traits?

[2022-06-09 23:29] pixelzoom commented on #1267
Slack#typescript:

[Sam Reid](https://app.slack.com/team/U6DKKJ2FN)
  [35 minutes ago](https://phetsims.slack.com/archives/C029UG5BVU3/p1654815173389359?thread_ts=1654815089.694269&cid=C029UG5BVU3)
I’m seeing the same thing.  I changed

[code]
to be private and the type checker still passed.

[Chris Malley](https://app.slack.com/team/U6EMFARV2)
  [29 minutes ago](https://phetsims.slack.com/archive

[2022-06-09 23:36] pixelzoom commented on #1267
This is really not a good fit for our decision in https://github.com/phetsims/chipper/issues/1258 to require accessibility modifiers. I've had to this nonsense for now, e.g. in AccessibleValueHandler, adding a `public` modifier and then documenting as `/* private */:

[code]

And as I mentioned above:
* Many fields in mixin/traits that should be `private readonly`, and the need to make them public

[2022-06-10 03:59] liam-mulhall commented on #1246
I've successfully built the desktop app since Grunt was updated, so I'm going to close.

[2022-06-10 03:59] #1246 closed

[2022-06-10 14:55] zepumph commented on #1267
How about turning off that rule for the whole file. We are already doing this for `@protected`

[code]

Does this help with bullet one? `readonly _somePrivateMember` and we don't need `public` to be manually added to an actually private field?

This is unfortunate. I couldn't think of another thing to do, so I think we should clean this up, and make underscore name prefix private. We know that som

[2022-06-10 15:05] zepumph commented on #1264
I'm not sure I understand. This trait adds mutator keys just like many other implementations that rely on node. Would you like me to go to every mutate call in types that use mutator keys as document that it has mutator keys, and so it calls mutate?

How about

An options pattern will be different, at least somewhat, for mixins. Just like most other patterns for classes. @jonathanolson and I have

[2022-06-10 16:20] jessegreenberg commented on #1264
I was curious why this wasn't an issue for Paintable and it is because all Nodes composed with it are responsible for calling mutate. I would prefer to use the typecast that @zepumph suggested.

[2022-06-10 16:31] pixelzoom commented on #1264
I investigated the typecast that @zepumph suggested, which in `InteractiveHighlighting` would be:

[code]

This got me most of the way there with being able to apply our options pattern (16 files required changes), and everything was looking nice.   But I ran into this problem in `AccesibileValueHandler`:

[code]

So AccessibleValueHandler is not just propagating NodeOptions to `mutate` via Intera

[2022-06-10 21:55] samreid opened #1268 "Add support for React"
In https://github.com/phetsims/phet-io-wrappers/issues/440 we want to create a function that creates a DOM element dialog for entering username and password.  Following https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/password we wanted to create code like this:

[code]

Which led to code like https://github.com/phetsims/phet-io-wrappers/commit/bae01d791d6e858ed6c974e9cfd80138814cb7

[2022-06-10 21:57] samreid commented on #1268
I notified the team over slack dev-public:

[2022-06-10 22:07] pixelzoom commented on #1267
I agree that not requiring `public` in mixins/traits might be preferrable.  And maybe also use JSdoc annotations in mixins/traits, in lieu of accessibility modifiers.

`readonly _somePrivateMember` isn't going to help with identifying what should be `readonly`. WebStorm only assists with that if a field has the `private` modifier.  I guess you could add `private` to all fields, have WebStorm tell

[2022-06-10 22:37] samreid commented on #1268
I notified slack:

[2022-06-13 16:53] zepumph commented on #1267
Thesis: I think we can have support for private and protected in our mixins.

We are currently running into this error because I create a mixin like so:

`  const VoicingClass = class extends InteractiveHighlighting( Type, optionsArgPosition ) {`

This is an anonymous class, and typescript doesn't let them have private/protected members, explained and discovered with TypeScript issue pointers over

[2022-06-13 21:28] pixelzoom commented on #1267
Excellent, glad we can add accessibility modifiers to mixins.  It makes me feel even better about our decisions in https://github.com/phetsims/chipper/issues/1258.

Here's the full list of mixins/traits.  I've checked off the ones that @zepumph handled above.

@jonathanolson is there any reason why we can't add proper accessibility modifiers to these?

mobius
- [ ] ThreeInstrumentable

scenery
- [

[2022-06-13 21:34] pixelzoom commented on #1264
Arg. Popupable has a problem similar to Voicing -- it relies on (and uses) something from NodeOptions, `tandem` to be specific.  But it does this:

[code]

So it's duplicating the definition of `tandem`, when it should be getting it from NodeOptions. @jonathanolson?

[2022-06-14 00:02] samreid commented on #1267
It may be safest to develop with `incremental: false` while working on this due to problems with the type checker which may be related to mixins, please see https://github.com/microsoft/TypeScript/issues/49527

[2022-06-15 18:07] zepumph commented on #1252
All usages updated and `{}` is now banned. We did find that all usages actually didn't want an empty object, but instead an object that accepted any keys. I wonder if we should rename EmptyObjectType to "FlexibleRecord" or something and have it be `Record<string,any>`. I think we should investigate this a bit more.

[2022-06-15 18:28] zepumph commented on #1252
But if we changed all usages, then I think that options would lose type safety because intersection with an object that can have any value is useless. I am also looking at the end of https://github.com/typescript-eslint/typescript-eslint/issues/2063#issuecomment-675156492:

This is just how we use `SelfOptions = {}` as a placeholder. I recommend that we close this issue, and note that in the futur

[2022-06-16 17:56] chrisklus commented on #1256
From 6/16/22 dev meeting:

JG: Is there a need for modulifying when prototyping? When we wouldn't want to `git add`.
JB: Yes, I do use this case sometimes but have no objection to auto-adding.
CM: We could add an option like `--no-add` to opt out of automatically git adding.
SR: Should this apply to grunt update as well?

Yes, we think grunt update should auto-add too. We also think the no-add opt

[2022-06-16 17:59] pixelzoom commented on #1256
I'll change the title of this issue to reflect what we've decided to do.

[2022-06-16 18:03] pixelzoom commented on #1258
Title of this issue changed to reflect that we decided to require accessibility modifiers, and enforce that via the `explicit-member-accessibility` typescript-eslint rule

[2022-06-16 18:04] pixelzoom commented on #1258
In Slack#typescript on 6/10/2022, @zepumph said:

... and this comment received 5 positive reactions.

[2022-06-16 18:05] samreid commented on #1268
For the review, can you please check the following:

- [ ] CredentialsDialog.tsx
- [ ] Call site usages of CredentialsDialog.tsx
- [ ] The commits to sherpa
- [ ] The commits to chipper

[2022-06-16 18:09] chrisklus commented on #1252
From 6/16/22 dev meeting:

@AgustinVallejo delivered a PSA for devs to use EmptyObjectType for now, and then we will discuss further next week when @zepumph is back for additional possibilities.

[2022-06-16 18:12] chrisklus commented on #1262
From 6/16/22 dev meeting:

When there's time, we would appreciate @zepumph reviewing changes with @marlitas.

[2022-06-16 18:17] chrisklus commented on #1263
From 6/16/22 dev meeting:

We think that cases that needed cleaning up were left behind from before we established this convention. Going forward, we would like to try just addressing any further violations in code review, as a lint rule seems complicated to accurately work. If we see this happening a lot still, we can revisit trying to get a lint rule working. We are ready to close, thanks @pixel

[2022-06-16 18:17] #1263 closed

[2022-06-16 18:38] chrisklus commented on #1258
From 6/16/22 dev meeting:

We checked in on this and @pixelzoom noted that this has been turned on in some common repos, as described in https://github.com/phetsims/chipper/issues/1258#issuecomment-1151600091

[2022-06-16 18:41] chrisklus commented on #1264
From 6/16/22 dev meeting:

@pixelzoom and @zepumph are planning to meet about this. Anyone interested can reach out to them to join.

[2022-06-16 19:00] samreid commented on #1266
Today @pixelzoom asked about a function that combines types, maybe something in this direction?

[code]

[2022-06-16 19:03] chrisklus commented on #1267
From 6/16/22 dev meeting:

We checked in on this issue and it will continue getting worked on.

[2022-06-16 19:08] pixelzoom commented on #1266
I changed the title of this issue, since it's not relevant to `optionize`.

[2022-06-16 19:12] pixelzoom commented on #1260
Reopening.  https://github.com/phetsims/chipper/issues/1260#issuecomment-1157625879 apparently was not the problem, I'm still seeing this.

[2022-06-17 20:44] pixelzoom commented on #1260
Reported in Stackoverflow here:
https://stackoverflow.com/questions/72448642/chome-102-has-been-blocked-by-cors-policy-request-had-a-targe-ip-address-space

That provides a link to Google's document [Private Network Access: introducing preflights](https://developer.chrome.com/blog/private-network-access-preflight/), which starts by saying:

And this started happening right about the time I upgrade

[2022-06-17 22:31] marlitas commented on #1249
@samreid and I enabled the no-empty-function rule, and used _.noop or line comments as needed. Closing.

[2022-06-17 22:31] #1249 closed

[2022-06-17 22:53] pixelzoom commented on #1249
In the above commits, I removed the `no-empty-function` rule wherever it had been added in package.json.

[2022-06-19 11:41] samreid opened #1269 "Should we transition from precommit hooks to prepush hooks? Or can we speed up the precommit hooks?"
Previously, our team had a preference that each commit should pass type checks and be correct and consistent.  However, in https://github.com/phetsims/sun/issues/732, we decided that it is too much work to make sure every single commit is correct and consistent and passes type checking, as long as each push is correct/consistent/passes type checking.  We decided this based on (a) the effort in mak

[2022-06-20 22:25] jessegreenberg commented on #1256
`grunt update` and its subtasks are adding files to git if they are unclean. I found I had to `await` a few tasks that weren't previously using that or else git would lock up with a .git/index.lock file. Over slack a few devs confirmed that chipper can depend on perennial-alias so I used common code from there.

@jonathanolson can you please review this since you are listed as an author of chipper

[2022-06-20 22:57] jessegreenberg commented on #1238
I tried on my machine (Intel(R) Core(TM) i7-6700K CPU @ 4.00GHz   4.00 ):

- Without any caching: real  3m24.003s
- With caching: real    0m6.497s
- After adding a whitespace to LenseModel: real    0m26.893s

[2022-06-20 22:58] samreid commented on #1238
On my Windows laptop Ryzen 7 3.2GHz

First run: 2m40s
Second run: 0m4.8s
Whitespace changes in LensModel: 0m22s

[2022-06-20 23:45] jessegreenberg commented on #1238
Together @samreid and I ran the following test:
- In geometric-optics package.json add parserOptions.project pointing to `./tsconfig.json` and add type-checking eslint rules to package.json eslint overrides.
- Running lint in the sim repo took my machine 11.167 seconds.
- Making changes to a file in WebStorm we saw new lint errors appear as I typed.
- Running lint-all took ~45 seconds.
- Running l

[2022-06-21 06:04] samreid commented on #1238
Brainstorming another idea that may give a speed boost: telling the linter to only lint the changed files.

[2022-06-23 17:47] zepumph commented on #1258
This seems like a great candidate for turning it on for the project, and having individual repos opt out until they are passing. @jessegreenberg will make it happen!

[2022-06-23 17:55] zepumph commented on #1224
Today we decided that we want to turn on the useless assert instanceof/typeof check for all repos but scenery. Here is the current chip-away for it. Basically 2/3rds are in scenery, and javascript files will use this code for long enough that it isn't worth removing these assertions.

 - [ ] axon: @samreid 14 errors in 8 files.
 - [ ] bamboo: @samreid 9 errors in 3 files.
 - [ ] circuit-constructi

[2022-06-23 18:01] zepumph commented on #1252
I'm back this week, but @samreid and @pixelzoom are out, let's hold off on discussing this.

[2022-06-23 18:26] zepumph commented on #1269
Two more CONS:
* 1 if pushing fails in 1/X repos, that could break master until you can push that fix.
* Multi-repo Pushing will just take longer in general, with more space in between each push. This may often cause CTQ to pick up half the changes, and fail (which already occurs with webstorms current push speed). @jessegreenberg noted the idea of making CTQ use a debounce feature to hold on for

[2022-06-23 19:35] zepumph commented on #1224
I felt the same way about kite and dot as I did for scenery, I also made the regex more specific, only testing an exact, single type check. Commit coming soon.

[2022-06-23 19:42] zepumph commented on #1224
Alright, no-simple-type-checking-assertions is now on, and a separate rule in which kite, dot, and scenery opt out. I ended up putting ~10 eslint-disable-lines in place because they seemed good and important.

[2022-06-23 19:49] zepumph commented on #1224
All that is left for this issue is to get `merge` out of our options in typescript.

We are down to less than 70 merge issues:

✖ 69 problems (69 errors, 0 warnings)

 - [ ] axon: @samreid 3 errors in 2 files.
 - [ ] bamboo: @samreid 1 errors in 1 files.
 - [ ] bending-light: @samreid 3 errors in 3 files.
 - [ ] center-and-variability: @samreid, @chrisklus 1 errors in 1 files.
 - [ ] circuit-const

[2022-06-23 20:35] zepumph commented on #1224
I updated the comment above, just 54 conversions left.

[2022-06-23 20:36] zepumph commented on #1224
I assigned the remaining repos to responsible devs

[2022-06-23 22:23] jessegreenberg commented on #1258
I got a few more of the repos that only had a few more left. Commits following this comment will be to turn the rule on by default, remove the opt-in overrides in package.json's, and add opt-out overrides in repos where it is still failing.

[2022-06-23 22:59] jessegreenberg commented on #1253
I gave this a try in https://github.com/phetsims/chipper/issues/1258#issuecomment-116469868. In that issue I added on override to 28 repos that we will still have to remove later. The result seems largely the same because new code in those repos won't be able to leverage the rule either. I don't think the gain is large enough to do it again here.

[2022-06-24 02:26] pixelzoom commented on #1260
Uncle.

Apache has become unusable -- I've been suffering with long load times, and now this "CORS Policy" problem.  And no one seems concerned or interested.

So I'm switching to httpd-server for PhET development, and closing this issue.

[2022-06-24 02:26] #1260 closed

[2022-06-27 22:44] zepumph commented on #1267
Looks like @samreid's bug report in typescript was tagged as fixed. Not sure what release it will get into, but yay!

https://github.com/microsoft/TypeScript/issues/49527

[2022-06-28 19:12] zepumph commented on #1262
`const responsibleDevs = JSON.parse( fs.readFileSync( '../phet-info/sim-info/responsible_dev.json' ) );`

- [ ] I like this a lot, but I think we should be super graceful here. I don't want to add a hard dependency on phet-info, or the responsible_dev.json onto chipper. Let's be flexible for this. Try to get the file, and if you can't, then return some other string, or an empty string.
- [ ] Also

[2022-06-30 05:26] pixelzoom opened #1270 "Name collisions with built-in types makes adding imports painful"
In Slack#typescript, I wrote:

Other developers are experiencing this problem.

@samreid wrote:

@marlitas wrote:

Adding this to developer meeting for discussion.

[2022-06-30 18:02] jessegreenberg commented on #1270
@chrisklus @zepumph suggested a different key command/operation to get it to auto import by typing only part of the type name.

@liam-mulhall also suggested renaming these files to avoid collisions.
@jonathanolson: This would be a big commitment and involve changing a lot of documentation. But it is possible.

[2022-06-30 18:32] jessegreenberg commented on #1243
@zepumph: One fix is to blow away chipper/dist (either manually or with tsc --clean) every build on the build server. This would add a minute or two per build. The way we build and clean may change and so if our process changes we may need to update that here too, creating a maintenance burden. Just deleting chipper/dist would not have this problem, using `tsc --clean` would.

@jonathanolson is co

[2022-06-30 19:02] jessegreenberg commented on #1252
Visited 6/30/22, but we need more devs here for the PSA. We will return in a future meeting.

[2022-07-01 13:56] samreid commented on #1269
Yes, that's true if implemented as a pre-push hook.  But as mentioned in https://github.com/phetsims/chipper/issues/1269#issue-1276034529, this may be better implemented as a single script that runs before any pushes begin.  Then the checks will be run only once and commits + pushes will be very fast.

[2022-07-01 20:04] samreid commented on #1182
Our TypeScript tooling improved significantly this quarter.  All issues mentioned above are closed aside from https://github.com/phetsims/chipper/issues/1167 which I increased priority and will look at separately.

Additionally, we improved the structure of our TypeScript configuration in https://github.com/phetsims/chipper/issues/1245 and made significant improvements using typescript lint.  I th

[2022-07-01 20:04] #1182 closed

[2022-07-01 22:53] chrisklus commented on #1268
@marlitas and I took a look through the above commits and files. As far as we can see, things are looking good. However, we do feel a little out of our comfort zone in regards to using React with Promises, so this case is not what we're used to.

We did notice that some aspects of CredentialsDialog are still using JavaScript patterns and could be done in a more React-like way, but what is there is

[2022-07-05 15:32] samreid commented on #1268
Excellent, thanks for the review!

* I read the page about refs and its unclear how to apply it to this case.  It also seems that maybe a declarative approach may be preferable to refs or `getElementById` but I'm not sure how to implement it.
* Regarding using state instead of removing the element manually, are you suggesting to leave the element in the DOM but make it hidden?  Or is there a state

[2022-07-05 17:10] samreid commented on #1266
I saw a Without type and Xor type that look like they may be related or share building blocks with what we want to do here: https://stackoverflow.com/questions/42123407/does-typescript-support-mutually-exclusive-types

[2022-07-05 17:25] samreid commented on #1270
Maybe open an issue with JetBrains describing the problem and asking how they would solve it?

[2022-07-05 19:05] zepumph opened #1271 "Webpack failed to correctly transpile if statement"
This logic was first written by splitting on if the `simVersion` equaled `Client.SIMULATION_VERSION`, and then nested a check on `Client.IS_BUILT`, but in that case, the built runnable was very wrong in how it split the logic. We should investigate this further.

https://github.com/phetsims/phet-io-wrappers/blob/e027d11c615bb3eda7f3ba93a1cb0b1c7f0c1c71/common/js/Client.ts#L1537-L1547

[2022-07-05 20:12] marlitas commented on #1046
[code]

[2022-07-05 20:45] zepumph commented on #1238
I think it would be helpful to bring this back to dev meeting for updates and next steps. It sounds like there is still quite a time-hit to add these rules, perhaps we need to reevaluate including this in pre-commit hooks, or get rid of pre-commit hooks in exchange of a single pre-push hook.

[2022-07-05 21:19] pixelzoom commented on #1224
In the above commits, I replaced so more occurrences of `merge` in sun.  The remaining cases are more involved.

[2022-07-05 21:28] liam-mulhall commented on #1206
It seems like more JS runtimes are cropping up: https://bun.sh/. Deno might not be the winner despite being worked on by Ryan Dahl. It would probably be a good idea to keep an eye on the various Node alternatives before we pick one.

[2022-07-05 21:36] kathy-phet opened #1272 "Investigate using TypeScript in our build tools and Node code."
Liam also noted this other one: https://bun.sh/

[2022-07-05 21:43] samreid commented on #1206
Duplicate of https://github.com/phetsims/chipper/issues/1272, I'll close this one since the other one is already described in the project board.

[2022-07-05 21:43] samreid commented on #1272
From #1206

[2022-07-05 21:44] samreid commented on #1272
@liam-mulhall said:

[2022-07-05 21:47] pixelzoom commented on #1258
I took care of bamboo in the above commits.

It was confusing to me that there are 13 occurrences of `"@typescript-eslint/explicit-member-accessibility": "off"` in package.json files.   I realize that this may have been an experiment in turning the rule on globally, then disabling it locally.  But I'd like to see that reverted.

[2022-07-06 02:10] samreid opened #1273 "Improve stability and coverage of CT (and for other puppeteer reliance)"
Quarterly goal: Investigate Playwright (prototype, feasibility test, bring back to dev); Address memory bug

[2022-07-06 15:44] samreid commented on #1272
I used a star history chart maker to compare node, deno and bun https://star-history.com/#denoland/deno&nodejs/node&Jarred-Sumner/bun&Date

<img width="742" alt="image" src="https://user-images.githubusercontent.com/679486/177590503-28bf2d22-483b-4b56-af65-3ae2335740f7.png">

[2022-07-07 02:05] samreid commented on #1273
See related issue https://github.com/phetsims/aqua/issues/150

[2022-07-07 04:16] samreid commented on #1273
There was a severe logic bug in https://github.com/phetsims/aqua/issues/150.  I pushed a fix that may help a lot in this area.

[2022-07-07 17:05] samreid commented on #1258
I ran an updated chip-away report for this rule:

 - [ ] build-a-nucleus: @Luisav1, @chrisklus 37 errors in 15 files.
 - [ ] center-and-variability: @samreid, @chrisklus 153 errors in 42 files.
 - [ ] circuit-construction-kit-common: @samreid 612 errors in 111 files.
 - [ ] density-buoyancy-common: @jonathanolson 665 errors in 70 files.
 - [ ] density: @jonathanolson 3 errors in 3 files.
 - [ ] do

[2022-07-07 19:25] samreid commented on #1224
Here's a chip-away report of the remaining parts:

 - [ ] axon: @samreid 3 errors in 2 files.
 - [ ] bending-light: @samreid 3 errors in 3 files.
 - [ ] center-and-variability: @samreid, @chrisklus 1 errors in 1 files.
 - [ ] circuit-construction-kit-common: @samreid 14 errors in 14 files.
 - [ ] density-buoyancy-common: @jonathanolson 1 errors in 1 files.
 - [ ] gravity-and-orbits: @samreid 11 er

[2022-07-07 19:29] pixelzoom commented on #1258
Yes, that's important. Commits above by @jessegreenberg (like https://github.com/phetsims/geometric-optics/commit/c56f9c8d) removed the opt-in. Those should be resorted.

[2022-07-07 20:20] zepumph commented on #1258
I thought we decided to keep this experiement for this rule only, but we won't use this pattern in the future. Instead of toggling this in 30+ repos, let's just work on solving the lint errors!

[2022-07-07 20:29] pixelzoom commented on #1258
I agree, because `explicit-member-accessibility` is relatively easy to fix.  Let's prioritize getting this cleaned up during next week's sprint.

[2022-07-08 20:49] liam-mulhall commented on #998
In https://github.com/phetsims/rosetta/issues/283#issuecomment-1179347287, I wrote up some notes on Yarn that might be helpful here:

# Overview

* Started in 2016 at Facebook as replacement for NPM.
* Goal was to create more secure, stable, and efficient package manager.
* Initially added features NPM didn't have.
* NPM has since implemented some of these features.

## Killer Features of Yarn

*

[2022-07-08 20:50] liam-mulhall commented on #1242
In https://github.com/phetsims/rosetta/issues/283#issuecomment-1179347287, I wrote up some notes on Yarn that might be helpful here:

# Overview

* Started in 2016 at Facebook as replacement for NPM.
* Goal was to create more secure, stable, and efficient package manager.
* Initially added features NPM didn't have.
* NPM has since implemented some of these features.

## Killer Features of Yarn

*

[2022-07-08 23:14] samreid commented on #1238
I added many type checking lint rules for Gravity and Orbits.  CTQ is not so happy though.

[2022-07-08 23:33] samreid commented on #1269
I also wanted to mention that if we move to a push/hooks script, we could have the script ping CTQ when all pushes are complete, thus triggering CTQ to run a test.

Moving to triggered instead of polling could speed things up and reduce false positives.

[2022-07-09 14:50] samreid commented on #1167
This issue is solved by the new typescript tsconfig structure.  It only visits files via imports, and phet-io is never imported.  I tested by cloning a fresh copy of geometric-optics, installing it, and running tsc.  Next steps:

* Remove the band-aid
* Test that type errors in phet-io repo are detected during a phet-io build.

[2022-07-09 14:53] samreid commented on #1167
One clarification on that proceeding commit: the former message was that compilation was complete, but we have not been using TSC for a compilation. We have only been using it for type checking.  So I clarified that message.

[2022-07-09 14:56] samreid commented on #1167
I introduce *.ts errors in phet-io, and saw that `grunt` caught the errors in both `grunt --brands=phet-io` and `grunt --brands=phet`.  Then I deleted the phet-io repo and saw that no type checking errors were caught in either brand.  This behavior all seems reasonable.  Closing.

[2022-07-09 14:56] #1167 closed

[2022-07-09 15:22] samreid commented on #1241
The new monolithic transitive tsconfigs have been working great, closing.

[2022-07-09 15:22] #1241 closed

[2022-07-09 20:12] samreid opened #1274 "branch: tempo"
For https://github.com/phetsims/chipper/issues/1272

[2022-07-10 17:21] samreid commented on #1273
While investigating deno, I observed that puppeteer has a deno port but playwright does not yet have one.  Also, deno would address one of the shortcomings in puppeteer about eliminating the need for `npm update` and caching puppeteer versions.

[2022-07-11 03:03] samreid opened #1275 "Update lint and related projects"
This week we plan to have a TypeScript sprint, which will use lint for checking some of the patterns.  I thought this would be a good opportunity to update our lint dependencies in advance.

Some breaking changes were noted in the change logs, but I tested the main processes and tested breaking a few lint rules and confirmed things seem to be working.  Also, somehow this caught several missing sem

[2022-07-11 03:12] samreid commented on #1275
Completed and I notified the slack dev-public team.  I feel like a spot-check review would be good, and let's wait to see how CT does with these changes.  I'll randomly choose a reviewer:

<img width="386" alt="image" src="https://user-images.githubusercontent.com/679486/178181760-bab16012-757e-4a21-ba8d-9dc6d04a3778.png">

@chrisklus can you please take a look at your convenience?

[2022-07-11 04:47] samreid opened #1276 "Update standard lint rules"
In https://github.com/phetsims/chipper/issues/1275 we updated to a more recent version of ESLint.  A comment in our .eslintrc file says:

[code]

However, since https://eslint.org/docs/rules/ has been rearranged, we are out of sync.  So it would be good to update this.

Afterwards, it would be good to apply the same philosophy (list all rules, even if marked as "off") to the typescript rules.  Hea

[2022-07-11 04:55] samreid commented on #1276
I pushed the revised rules list and proposed fixes for the failing cases.  Assigning repo responsible devs or file authors to take a look at the fixes above.

[2022-07-11 05:59] samreid opened #1277 "Write out all support TypeScript ESLint rules"
After https://github.com/phetsims/chipper/issues/1276, we should follow that same convention for listing all of the existing TypeScript ESLint rules. We can add comments about why our team has enabled or disabled a rule.

I have converted to this form on my working copy but have more adjustments before I'll be ready to commit.  Probably some time Monday.

Heads up to @jessegreenberg who did the in

[2022-07-11 22:27] pixelzoom commented on #1258
Unassigning myself because I have nothing left in the chip-away list, https://github.com/phetsims/chipper/issues/1258#issuecomment-1177942387.

[2022-07-12 04:41] samreid commented on #1238
On my working copy, I wrote a script that visits all package.json files and adds the correct parser options.  Some notes:

* The path has to be `../repo/tsconfig.json` instead of `./tsconfig.json` so it can be run from chipper, perennial or the repo.
* I saw memory leak crashes even with the modular iteration above.  But you can run it repeatedly and since it caches successes it will eventually ge

[2022-07-12 14:12] samreid commented on #1277
Noting that this issue is an extension of https://github.com/phetsims/chipper/issues/1114

[2022-07-12 15:04] samreid commented on #1238
Here is a patch with all of the package.json parserOptions.  @jessegreenberg and I decided to postpone work on that until we have progress on https://github.com/phetsims/chipper/issues/1275#issuecomment-1181870542 and better understand the memory issue.

<details>

[code]

</details>

[2022-07-12 16:32] samreid commented on #1275
According to https://eslint.org/docs/latest/user-guide/configuring/plugins

I believe this is a new change.  But from change logs it looks like this change may have been introduced in 7.0 so I'm not sure why the error was picked up now.  But as @jessegreenberg and I saw, installing `"@typescript-eslint/eslint-plugin": "5.30.6"` in the sim repo still does not correct the problem.

[2022-07-12 17:21] samreid commented on #1275
@jessegreenberg discovered WebStorm 2021 does not handle the relative plugin directory properly, see https://youtrack.jetbrains.com/issue/WEB-54388/Extra-eslint-options-are-not-applied-when-using-Eslint-8.

So devs will need to update to WebStorm 2022.1.1 or higher after pulling (and npm update) these chipper changes.

[2022-07-12 19:43] samreid commented on #1262
Great recommendations @zepumph.  @marlitas and I collaborated on the commits and tested it, and it seems much nicer.  Back to @zepumph to double check the changes.  If all is well, this issue can be closed.

[2022-07-13 19:40] zepumph commented on #1262
In my opinion it would be a better catch case to just create a checklist without responsible devs. Why not still get a report with how many errors are in each repo?

Otherwise everything looks great. Feel free to close.

[2022-07-13 20:33] zepumph opened #1278 "Same file (different paths) deleted then changed"
In the transpiler: There seems to be something that isn't using path.sep and/or forwardSlashify

[code]

[2022-07-13 21:26] samreid opened #1279 "Investigate @typescript-eslint/class-literal-property-style lint rule"
During today's meeting, @zepumph volunteered to investigate `@typescript-eslint/class-literal-property-style` which currently says:

[code]

We saw that you cannot override like so:

[code]

[2022-07-13 23:20] pixelzoom opened #1280 "Investigate @typescript-eslint/consistent-type-definitions and @typescript-eslint/no-type-alias rules-"
Related to our subteam meeting about https://github.com/phetsims/chipper/issues/1277 ...

We discussed 2 rules that deal with interfaces vs type aliases:

* https://typescript-eslint.io/rules/consistent-type-definitions
* https://typescript-eslint.io/rules/no-type-alias

Interfaces are described at https://www.typescriptlang.org/docs/handbook/2/everyday-types.html#interfaces.

Type aliases are des

[2022-07-13 23:20] pixelzoom commented on #1280
Self assigning because this interests me, not because I want to own it.  So others should feel free to investigate.

[2022-07-13 23:38] pixelzoom commented on #1280
See https://www.typescriptlang.org/docs/handbook/2/everyday-types.html#differences-between-type-aliases-and-interfaces

[2022-07-13 23:42] pixelzoom commented on #1280
From https://www.typescriptlang.org/docs/handbook/2/everyday-types.html#differences-between-type-aliases-and-interfaces:

PhET is definitely not preferring `interface` to `type`.

So PhET should probably be making more use of `interface`.

[2022-07-14 01:29] samreid commented on #1280
Effective TypeScript by Vanderkam has a good section on the topic of types vs interfaces.  Page 52 item 13: "Know the differences between type and interface".  My takeaways from that section about the differences:

* types can represent a union, but interfaces cannot, like `type X = Y | Z`
* types are more capable than interfaces--interfaces have limitations and cannot extend certain types.
* type

[2022-07-14 15:02] samreid commented on #1262
Sounds reasonable.  @marlitas can you please take the lead on that part?  Or reassign to me if you don't have time or interest.

[2022-07-14 15:20] chrisklus commented on #1268
This patch is not working, but I wanted to leave these changes here as a placeholder before I lose them - was trying out using refs and events a couple days ago. It may be a good starting point for collaboration.

<details>

[code]

</details>

[2022-07-14 16:08] zepumph commented on #1203
We currently spun up our own lint rule to just enforce on methods, not setters or getters. See https://github.com/phetsims/chipper/blob/5cb8357481c0f19917b3ccc160b1cfac6e63a3cf/eslint/rules/explicit-method-return-type.js#L15. This has been working well for us. In the future, if we want to add getters and setters to the rule, we will. I don't think there is anything else for this issue.

[2022-07-14 16:08] #1203 closed

[2022-07-14 18:12] samreid commented on #1238
In today's meeting, we agreed to turn on the `parserOptions.project` and we will start opting into these rules.

[2022-07-14 18:40] samreid commented on #1267
At today's meeting, @jonathanolson confirmed he will champion this issue.  Unclear how long it will take. @zepumph says it will be a straightforward refactor.

@pixelzoom said he tried to work on this, but couldn't add accessibility modifiers since it was unclear what should be private/public/protected.

@jessegreenberg: Pre-existing underscores may indicate it should be private.
@zepumph: The und

[2022-07-14 19:08] samreid commented on #1280
@marlitas agreed to investigate these concepts, thanks!

[2022-07-14 19:15] pixelzoom commented on #1258
Oops, noticed that I'm also assigned to density-buoyancy-common.

[2022-07-14 19:17] jonathanolson commented on #1267
I hit all of the above mixins - a lot of the layout things need to be scenery-internal. Closing

[2022-07-14 19:17] #1267 closed

[2022-07-14 19:27] pixelzoom opened #1281 "Notes on bringing TS code up to the current standards"
As part of the TS sprint...

@kathy-phet would like me to take a making notes (a prioritized list of things to consider?) when bringing TS code up to the current standards.

[2022-07-14 20:22] jonathanolson commented on #1224
Handled all merges in density-buoyancy-common.

[2022-07-14 20:49] jessegreenberg commented on #1253
wilder done in the above commit, a couple of `IntentionalAny`s were required for Mixable.ts that I wasn't sure about but I checked them with @jonathanolson.

[2022-07-14 21:34] zepumph commented on #1253
I'm down to 8 hard ones in tandem. I'll keep cranking.

[2022-07-14 22:40] marlitas commented on #1262
Done! Sending back to @zepumph for final check as I do not feel confident enough to close this issue by myself. :sweat_smile:

[2022-07-14 23:19] pixelzoom commented on #1258
I spent 1.5 hours fixing up density-buoyancy-common. When I went to push, I hit loads of manual merge conflicts that I could not resolve.  It looks like multiple people were making changes to this repo while I was working.  I pushed my changes to a branch for @jonathanolson to sort out - see https://github.com/phetsims/density-buoyancy-common/issues/75.

[2022-07-14 23:27] pixelzoom commented on #1258
Here's what remains to be addressed, all @jonathanolson:

- [ ] density-buoyancy-common
- [ ] dot
- [ ] kite
- [ ] phet-core
- [ ] scenery

[2022-07-15 18:07] samreid commented on #1258
At today's check-in, @jonathanolson reported progress on these.  @zepumph volunteered for phet-core, thanks!

[2022-07-15 18:10] samreid commented on #1253
Updated chip-away:

 - [ ] chipper: @jonathanolson 14 errors in 1 files.
 - [ ] density-buoyancy-common: @jonathanolson 8 errors in 4 files.
 - [ ] dot: @jonathanolson 2 errors in 1 files.
 - [ ] greenhouse-effect: @jbphet 26 errors in 7 files.
 - [ ] joist: @zepumph 1 errors in 1 files.
 - [ ] kite: @jonathanolson 1 errors in 1 files.
 - [ ] mobius: @jonathanolson 3 errors in 2 files.
 - [ ] my-s

[2022-07-15 18:20] samreid commented on #1224
Updated chip-away result:

Results from chipAway:
 - [ ] joist: @zepumph 1 errors in 1 files. ===> @samreid is working in this area
 - [ ] scenery: @jonathanolson 1 errors in 1 files.  Use `combineOptions`

[2022-07-15 18:36] samreid commented on #1144
We stopped using `tsc -b`, closing.

[2022-07-15 18:37] samreid commented on #1131
We are using babel transpiler, closing.

[2022-07-15 18:37] #1131 closed

[2022-07-15 19:29] zepumph commented on #1230
We discussed this today, but because of this example, we don't want to turn on the rule as it is implemented:

[code]

[2022-07-15 20:12] KatieWoe opened #1282 "CT marked is not a function"
A number of repos in CT are failing with:
[code]
Example:
[code]

[2022-07-15 20:16] zepumph commented on #1282
Looks like @marlitas changed the version in https://github.com/phetsims/chipper/commit/6e09ba8aec16ef681d9c7be95297c97aef8f9465.

@marlitas can you please double check the API for the usage in copySupplementalPhetioFiles and test with `grunt --brands=phet-io` density since it has client guides (rendered using marked)?

https://github.com/phetsims/chipper/blob/22b3962ed4f3f9db6a90d2ebcadb3fade7166d

[2022-07-15 20:35] pixelzoom commented on #1258
This rule makes most of the [Access Modifiers](https://github.com/phetsims/phet-info/blob/master/doc/typescript-conventions.md#access-modifiers irrelevant) irrelevant in PhET's _TypeScript Conventions_ doc.  Should we remove the entire section? Keep part of it?

[2022-07-15 20:42] zepumph commented on #1258
I would remove it! It is out of date anyways

[2022-07-15 20:48] zepumph commented on #1258
After that, feel free to close, I cleaned up all package.jsons that were using this.

[2022-07-15 21:26] pixelzoom commented on #1258
@samreid do you have any feeling about blowing away the entire [Access Modifiers](https://github.com/phetsims/phet-info/blob/master/doc/typescript-conventions.md#access-modifiers) section?  I think that you may have been the author of the final 2 paragraphs.

[2022-07-15 21:32] samreid commented on #1238
In the commit, I enabled `parserOptions.project` and enabled a rule that happened to have 0 failures.  I think this issue is ready to close.  We can evaluate rules as part of https://github.com/phetsims/chipper/issues/1277.  @jessegreenberg what do you think?

[2022-07-15 21:35] samreid commented on #1258
Looks good to be deleted, thanks!

[2022-07-15 21:55] samreid commented on #1228
Let's double check this at an upcoming dev meeting.  If we decide a convention or "developer preference", we can document that in the conventions guide.

[2022-07-15 21:57] samreid commented on #1227
Bringing back to Dev meeting to make sure everyone is aware of the decision above, and to see what remains for this issue.  Should it be a chip-away?

[2022-07-15 21:59] samreid commented on #1213
Branch merged and deleted, closing.

[2022-07-15 21:59] #1213 closed

[2022-07-15 21:59] samreid commented on #1146
We are adding support for TypeScript ESLint in other issues, closing.

[2022-07-15 21:59] #1146 closed

[2022-07-15 22:00] samreid commented on #1132
Everyone is learning TypeScript as we go, and has been approved time for porting code, learning TypeScript and discussing conventions.  I think this issue can be closed.

[2022-07-15 22:00] #1132 closed

[2022-07-15 22:03] samreid commented on #1109
There is a lint rule that can enforce this.

[2022-07-15 22:03] samreid commented on #1105
We no longer use WebStorm for transpiling, closing.

[2022-07-15 22:03] #1105 closed

[2022-07-15 22:04] samreid commented on #1096
We no longer use project references, closing.

[2022-07-15 22:04] #1096 closed

[2022-07-15 22:04] samreid commented on #1088
We no longer use project references, tsconfigs can refer to test code, closing.

[2022-07-15 22:04] #1088 closed

[2022-07-15 22:05] samreid commented on #1087
`grunt update` now generates tsconfig.json, but there are some differences for some repos, such as brand.

[2022-07-15 22:05] samreid commented on #1069
We have converted many common repos to TypeScript, closing.

[2022-07-15 22:05] #1069 closed

[2022-07-15 22:07] samreid commented on #1067
We no longer use project references or `--build`, closing.

[2022-07-15 22:07] #1067 closed

[2022-07-15 22:08] samreid commented on #1065
We enabled a rule that requires visibility annotations.  It is developer preference how to organize the properties.  Closing.

[2022-07-15 22:08] #1065 closed

[2022-07-15 22:09] #1206 closed

[2022-07-15 22:09] samreid commented on #1054
The most promising way forward seems to be Deno, see https://github.com/phetsims/chipper/issues/1272, closing.

[2022-07-15 22:09] #1054 closed

[2022-07-15 22:13] samreid commented on #1053
We now have type declarations automatically generated for our strings, closing.

[2022-07-15 22:13] #1053 closed

[2022-07-15 22:13] samreid commented on #1049
All of the above problems are being addressed in separate issues. Closing.

[2022-07-15 22:13] #1049 closed

[2022-07-15 22:14] samreid commented on #1048
Developers have been developing in TypeScript, and have time for reading/discussing/porting/etc.  Closing.

[2022-07-15 22:14] #1048 closed

[2022-07-15 22:17] samreid commented on #1050
@zepumph do you still see value in this issue?

[2022-07-15 22:23] samreid commented on #1137
This is now prevented by the `(bad-typescript-text)` lint rule, closing.

[2022-07-15 22:23] #1137 closed

[2022-07-15 23:17] pixelzoom commented on #1228
I think it's already documented in the conventions guide, https://github.com/phetsims/phet-info/blob/master/doc/typescript-conventions.md#statics:

[2022-07-15 23:28] pixelzoom commented on #1228
And since it's developer preference... What I typcially do (and have done in programming languages as far back as I can recall) is to put static constants after non-static field declarations, and static methods after non-static method definitions.

For example:

[code]

[2022-07-16 09:50] samreid opened #1283 "Evaluate lint rules consistent-type-imports and consistent-type-exports"
From https://github.com/phetsims/chipper/issues/1277 the comments for the lint rules consistent-type-imports and consistent-type-exports say:

Regarding performance the imports rule says:

and the exports rule says:

So the two parts to investigate for this issue are:

* Can WebStorm automatically import/export using `import type` and `export type`?
* How significant is the performance boost?

If

[2022-07-16 10:30] samreid commented on #1283
I ran a series of type checks under different kinds of changes.  This data section is tab-delimited and can be pasted to sublime => excel.  Each change type is run 3x for averaging.

[code]

After running the 1st column, I autofixed both lint rules.  Running that autofix took 7 minutes and modified 1378 files like so:

[code]

In these tests, master was better for all but 2 of the samples:

<img w

[2022-07-16 11:03] samreid opened #1284 "TypeScript Sprint"
Q3 sprint for TypeScript.  See dev meeting notes for specifications and scope.

[2022-07-18 15:48] samreid commented on #1253
Updated chip away report:

 - [ ] chipper: @jonathanolson 14 errors in 1 files.
 - [ ] greenhouse-effect: @jbphet 26 errors in 7 files.
 - [ ] mobius: @jonathanolson 3 errors in 2 files.
 - [ ] my-solar-system: @jonathanolson 1 errors in 1 files.
 - [ ] phet-core: @jonathanolson 23 errors in 9 files.
 - [ ] phet-io-wrappers: @zepumph 37 errors in 7 files.
 - [ ] ratio-and-proportion: @zepumph 3 er

[2022-07-18 18:18] samreid commented on #1258
In today's meeting, we agreed this issue can be closed when:

* The section mentioned above is deleted

[2022-07-18 19:04] zepumph opened #1285 "optionize3 should only accept a truly empty object"
I noticed during review in https://github.com/phetsims/utterance-queue/issues/85 that optionize3 uses `EmptyObjectType` thinking that is a record with no keys, but I think we can do better (thanks ban-types lint rule).

[2022-07-18 19:05] zepumph commented on #1285
Oops, I missread the type:

https://github.com/phetsims/phet-core/blob/a9baa22cce8a524bfc28bdf0afda4ea367c382d6/js/optionize.ts#L30

It is already doing what I expect. Closing

[2022-07-18 19:05] #1285 closed

[2022-07-18 19:11] zepumph commented on #1224
@pixelzoom or @jbphet, I went for the ButtonModel usages, can you please review my commit https://github.com/phetsims/sun/commit/0d543c76d7256e1cfc3694ff45c1be3fe9716f93

[2022-07-18 19:50] pixelzoom commented on #1228
Yes, closing.

[2022-07-18 19:50] #1228 closed

[2022-07-18 21:59] zepumph commented on #1050
Nah, though it served its purpose.

[2022-07-18 21:59] #1050 closed

[2022-07-18 23:21] samreid commented on #1211
Everything seems good, closing.  Also tagging for https://github.com/phetsims/tasks/issues/1111

[2022-07-18 23:21] #1211 closed

[2022-07-18 23:24] samreid commented on #1109
I enabled the rule https://typescript-eslint.io/rules/consistent-generic-constructors/ and addressed issues.  I'll notify dev-public.

[2022-07-18 23:25] samreid commented on #1109
I posted:

Also tagging for https://github.com/phetsims/tasks/issues/1111 and closing.

[2022-07-18 23:25] #1109 closed

[2022-07-18 23:26] #1129 closed

[2022-07-18 23:57] pixelzoom commented on #1280
Please no. I'm using `interface`.    And I agree with @marlitas' assessment:

[2022-07-19 00:15] pixelzoom commented on #1280
I decided to try replacing `interface` with `type` in geometric-optics, to see what problems I might encounter.  I was surprised to find that `type` supports the `readonly` modifier. And that a class can use the `implements` keyword with a type.

So I feel less strongly about @samreid's proposal to ban `interface`.

[2022-07-19 00:45] pixelzoom commented on #1258
**Access Modifiers** section deleted in the above commit. Closing.

[2022-07-19 00:45] #1258 closed

[2022-07-19 00:51] zepumph commented on #1238
Today I'm noticing that my git hooks are slower by a factor of 3-5. I suspect it is from this change. I would recommend reverting it until we know for sure that a lint rule in this list is worth the great productivity hit I've experienced. That said, during the typescript sprint I am making many more cross-repo commits than usual.

[2022-07-19 01:39] jessegreenberg commented on #1238
Understood. Lets check in tomorrow or at dev meeting with the team. We have options for how to proceed:
1) Disable these rules generally and opt in to them occasionally with a command line option.
2) We may be able to use a setup now that has the rules enabled for WebStorm but disabled for git hooks.
3) Keep looking for a solution that works everywhere. Given the amount of time in this issue alrea

[2022-07-19 12:15] samreid commented on #1280
I also tried using `type` instead of `interface` in files where I am one of the authors.  It seems to be working well.  I did notice one difference that you can `export default interface` but you cannot `export default type = ...`.

[2022-07-19 15:30] zepumph commented on #1253
I also don't see it in my local copy!

[2022-07-19 18:17] pixelzoom commented on #1094
@samreid are we still doing this? Based on the fact that `merge` is in bad-typescript-text rule, my assumption is that we're not using merge in TS code.

[2022-07-19 19:09] pixelzoom commented on #1281
7/19/2022 TS meeting:

We had a discussion about the 4th bullet in https://github.com/phetsims/chipper/issues/1281#issuecomment-1185933099. Summary:

*  Regarding parameter types, I do agree with the advice in https://github.com/phetsims/chipper/issues/1281#issuecomment-1188149802.  Parameter types are informed by the needs of the method/function.  If your method needs the features of `Node`, don'

[2022-07-19 19:25] pixelzoom commented on #1224
https://github.com/phetsims/sun/commit/0d543c76d7256e1cfc3694ff45c1be3fe9716f93 looks good to me.

[2022-07-19 19:29] pixelzoom commented on #1280
I've concluded my investigation.  I'll be preferring `type`.  It's sad that TypeScript managed to make a mess of a basic OOP concept like `interface`.  Unassigning.

[2022-07-19 22:40] zepumph commented on #1238
@jessegreenberg, @samreid and I discussed this in depth this afternoon.

RE: 1. We want these lint rules to work in the IDE, so this won't work.

RE: 2. Not ideal, we as a team most often error on the side of overly cautious, even at the cost of time.

RE: 3. We spent a fair bit of time on this today, investigating the "individual repo" linting strategy with the patch in https://github.com/phetsim

[2022-07-19 22:50] zepumph opened #1286 "linting multiple repos should cache individually"
From https://github.com/phetsims/chipper/issues/1238#issuecomment-1189620004, @jessegreenberg, @samreid and I were seeing large boosts from lint-everything with the patch in https://github.com/phetsims/chipper/issues/1238#issuecomment-1148011221. We would like to move forward on it.

[2022-07-19 23:01] zepumph commented on #1238
Next steps:

* @jessegreenberg will remove an old type-checking-specific eslintrc
* I will commit the new caching strategy for lint in https://github.com/phetsims/chipper/issues/1286
* @samreid will investigate pre-push hooks in https://github.com/phetsims/chipper/issues/1269

@jessegreenberg perhaps we are ready to close this issue when you have cleaned up?

[2022-07-19 23:07] zepumph commented on #1286
An important metric before committing is to check the timing with out caching:

Without cache:
* lint-everything as a monolith: 1:45
* lint-everything linting individual repos: 1:47

With cache:
* lint-everything as a monolith: 4
* lint-everything linting individual repos: 3.7 seconds.

That is amazing! Basically there is no change, but it sets us up to be able to modularize and reuse the cache. I

[2022-07-19 23:37] zepumph commented on #1286
I decided not to change `lint` to use `lintRepos` to preserve the `--patterns` option.

lint-all and lint-everything are updated though. @samreid please review.

[2022-07-19 23:41] zepumph commented on #1224
All that is left is usages of merge in greenhouse.

[2022-07-20 01:42] samreid commented on #1212
We updated to TypeScript 4.7 in https://github.com/phetsims/joist/issues/783#issuecomment-1189710481.  We are still getting the hang of `in` and `out` variance annotations.

[2022-07-20 04:53] samreid commented on #1286
Some notes from initial review:

* Do we want a mode that indicates progress on the console, like printing a dot (with no newline) each time it passes one (or ten) repo(s)?
* The chip-away results are no longer together in one report at the end--they are scattered between different error reports.
* It would seem natural to have one function `lintRepo` that is called by `lintRepos` but it seems we

[2022-07-20 15:26] samreid commented on #1269
Patch with intermediate progress:

<details>

[code]

</details.

[2022-07-20 16:21] pixelzoom opened #1287 "Choose an appropriate prefix for naming type aliases."
There is a curious convention I'm seeing in common-code, using an "I" prefix for type aliases.  I see IEmitter, IModel, and IBrand created recently, and there may be others.

Let's please not do this.  The "I" prefix is a questionable/controverisal convention that's applied to interfaces. Applying it to type aliases is confusing at best.  And if something started out as an `interface` and was conv

[2022-07-20 16:26] pixelzoom commented on #1287
If we want a prefix, how about using "T" prefix in these cases?

[2022-07-20 17:14] pixelzoom commented on #1287
Since I suspect this will require dev meeting discussion, I'll jost down some notes...

The "I" prefix has its roots in Hungarian Notation, a convention of naming variables so that you can tell something about them by their names.  If this is new to you, see https://en.wikipedia.org/wiki/Hungarian_notation

The "I" prefix has historically been applied to `interface` in various programming language

[2022-07-20 17:30] samreid commented on #1277
In https://github.com/phetsims/axon/issues/402 we saw several places where IEmitter specified the default type `IEmitter<[]>` and it would be good to enable the rule `no-unnecessary-type-arguments`.

[2022-07-20 18:07] samreid commented on #1253
Updated chip-away results:

- [ ] greenhouse-effect: @jbphet 26 errors in 7 files.
- [ ] phet-io: @zepumph 2 errors in 2 files.
- [ ] sun: @jbphet 5 errors in 4 files.
- [ ] tandem: @zepumph 7 errors in 3 files.

[2022-07-20 19:42] pixelzoom commented on #1287
At 7/20/2022 TS meeting, @kathy-phet suggested changing to prefix 'A'.   That's also problematic, because:

* 'A' is a lesser-used prefix that is typically applied to abstract class names.
* Names like "AModel" and "AProperty" don't read very well.  "A" reads like an indefinite article.

[2022-07-20 19:49] kathy-phet commented on #1287
Note, suggestion based on A=alias. But sounds like good reasons to not use "A".

[2022-07-20 22:17] zepumph commented on #1252
@pixelzoom, @samreid, @AgustinVallejo, @jonathanolson, and I met today and decided to get rid of as many usages `{}` as possible. We were able to convert many of them to `object`, which seemed to mean the same thing (like in phet-core/types/). And we made a new and special `EmptySelfOptions` to be used specifically for `type SelfOptions = EmptySelfOptions` (or in the optionize call directly).

@Ag

[2022-07-21 13:22] samreid commented on #1278
I'm seeing the backslashes on deleted on my win git bash, but not the immediate forward slash changed.  Also note all of this is happening during watch on pull, none during initial transpilation:

[code]

[2022-07-21 13:41] samreid commented on #1278
I normalized all paths and it seems to be behaving better on my Win git-bash.  I'll test on my Mac next.

[2022-07-21 13:54] pixelzoom commented on #1281
In Slack, @AgustinVallejo asked me about parameters.

Parameters should be typed based on the needs of the implementation, not based on the type of the arguments that happened to be used when the method was first implemented. Here's an example for `sumProperties`, a method that sums a set of Properties whose values are numbers.

[code]

Questions?

[2022-07-21 14:11] samreid commented on #1278
Everything seems to be working as expected on my mac.  @zepumph can you please take this for a test drive?  If it works well, we can tell slack dev-public to pull and restart their transpilers.

[2022-07-21 14:34] samreid commented on #1287
After reading this article https://stackoverflow.com/questions/31876947/confused-about-the-interface-and-class-coding-guidelines-for-typescript I'm more inclined to name the interface for its behavior, like `type Emitter = {...}` and then to give more specific names to the subtypes.  We already have `TinyEmitter` which is good.  For AXON/Emitter, @jonathanolson suggested `FullEmitter`.  Brainstorm

[2022-07-21 15:18] pixelzoom commented on #1287
While I agree with https://github.com/phetsims/chipper/issues/1287#issuecomment-1191562287, I think a better frist step would be to use a different prefix for type aliases.  Then (as time permits) take on the large task of eliminiating the need for a prefix.

Looking through the list in https://github.com/phetsims/chipper/issues/1287#issuecomment-1190501197, the prefixes that will be most difficul

[2022-07-21 15:21] pixelzoom commented on #1287
So... I propose that we use a 'T' prefix for type aliases _where necessary_, strive to avoid using such a prefix in new code, and (longterm) eliminate the need for a prefix where possible by improving/refactoring names.

[2022-07-21 16:13] zepumph commented on #1287
I totally agree, so I'll just re-iterate in a slightly different way. To proceed:
* Rename all "I" prefixes to "T"
* Create an issue to rename the Emitter hierarchy or use https://github.com/phetsims/axon/issues/402.
* Continue to seek out interfaces that could be better renamed
* Try hard to never create a new type that starts with `T`, instead naming it to be the best, prefixless name possible.

[2022-07-21 16:19] zepumph commented on #1278
I'm not seeing the issue, thanks for working on this. Do you want to factor out `Transpiler.forwardSlashify( path.join(` into a `Transpiler.joinPath` so that we don't accidentally have this bug in the future?

[2022-07-21 17:36] zepumph commented on #1252
Also, a PSA at dev meeting to explain the changes seems nice.

[2022-07-21 17:55] jessegreenberg commented on #1238
`typeInfo` was removed from lint.js and the extra file type_info_eslintrc.js has been deleted.

[2022-07-21 18:10] jbphet commented on #1269
Discussed in the 7/21/2022 dev meeting and decided it was too large of a discussion for this TS-focused meeting because changing when we do the hook checks (pre-commit versus pre-push) could be a significant change to our process.  There are concerns with there being broken commits in the code base, since these could mess up bisect operations that grab code at arbitrary points in the past.  There

[2022-07-21 18:13] jessegreenberg commented on #1238
We touched on this in during developer meeting today. There is nothing more to do here. Pre-commit hooks take still take longer. and we discussed https://github.com/phetsims/chipper/issues/1269 as a workflow change to improve productivity. See https://github.com/phetsims/chipper/issues/1269#issuecomment-1191789058, we will continue there.

[2022-07-21 18:13] #1238 closed

[2022-07-21 18:24] zepumph commented on #1227
In https://github.com/phetsims/chipper/issues/1224 we turned on the a line rule that uses a regex to achieve this called no-simple-type-checking-assertions

The regex is: `assert && assert\((( \w+ instanceof \w+ )|( typeof \w+ === '\w+' ))\)`

This purposefully doesn't cover any assertions that might have a simple one `&&` or `||` 'ed with something else. @samreid would you like to revise anything

[2022-07-21 18:50] pixelzoom commented on #1269
A few more thoughts that I expressed at 7/21/2022 dev meeting:

* As the size of a development team increases, safeguards typically increase, because the cause of distruptions increases.  Those safeguards almost always have a cost (time, inconvenience, etc) that is determined to be acceptable because it's smaller than the cost of disruptions.  The proposal to remove pre-commit hooks is a proposal

[2022-07-21 19:24] zepumph commented on #1286
Love it! I reused the code we do that for in generate-phet-io-api.

[2022-07-21 19:29] pixelzoom commented on #1269
Here's a tutorial on rewriting git history (including `amend` and `squash`):
https://www.atlassian.com/git/tutorials/rewriting-history

[2022-07-21 19:59] zepumph commented on #1286
It was helpful for me to factor out shared code here, but actually we don't need `--patterns` anymore (asked on slack), so we can just get away with a single file called 'lintRepos' which takes an array of repos, and everything can be combined. I can move it to perennial-alias afterwards.

[2022-07-21 20:03] pixelzoom commented on #1281
At 7/21/2022 dev meeting, @kathy-phet said she'd like to keep this issue open, so that information herein can be rolled into other documentation as appropriate (conventions, onboarding, etc.). Assigned to @AgustinVallejo to lead that effort.

[2022-07-21 22:16] samreid commented on #1269
@zepumph and I discussed a caching strategy that will streamline the precommit hook process.  We tested a prototype and it is working nicely.  We will commit soon, and after the commit, we want to add a feature that will make it easy to

- [ ] run precommit hooks on all repos with working copy changes.  This will run the unit tests in those repos.
- [ ] also cache the results of unit tests

I'll h

[2022-07-21 23:47] jbphet commented on #1224
The greenhouse-effect usages have now all been addressed, and I've turned the rule on.  I think we can close this!

[2022-07-21 23:47] #1224 closed

[2022-07-22 00:00] zepumph commented on #1286
- [ ] Is it ok if lint returns allResults, or would you still like a boolean?

[2022-07-22 00:04] zepumph commented on #1286
Bad news folks. The caching strategy isn't actually working. There is one hash in a cache file that I see change when alternating between grunt lint for a repo and then for that same repo during `grunt lint-everything`.

![image](https://user-images.githubusercontent.com/6856943/180332117-89a24a09-eee8-4263-be16-c8bad48c750b.png)

I have run out of time for the day, but here is what I tracked down

[2022-07-22 00:10] zepumph commented on #1286
Ahh! I suspect it is because one is run from perennial-alias, and the other from perennial. Let's make both run from the same lint and node_modules copy.

[2022-07-22 00:21] zepumph commented on #1286
Ok. I cracked it, and it is a bit of a bummer. Looks like the eslint cache is very picky. In the config that get's hashed and added to the cache is a basePath:

      "basePath": "C:\\Users\\mjkauzmann\\PHET\\git\\perennial",

This is where you ran eslint from. So `grunt lint` from natural-selection, and the grunt lint-everything from perennial/ will not be a cache hit for NS. That said. grunt lin

[2022-07-22 01:45] zepumph commented on #1286
Ok. By moving all linting to be in perennial-alias, and doing some forwarding wonkyness to make sure we never run from perennial (only perennial-alias), we now have really great caching.

The only place that doesn't preserve the cache is `cd perennial; grunt lint`, or `grunt lint-all`. I didn't think we would care about these cases probably wouldn't want extra code that looks like

https://github.

[2022-07-22 04:02] samreid commented on #1269
Here is my working patch on a new cache layer that was reviewed with @zepumph.  I'm stashing it here, anticipating merge conflicts when I pull other changes from chipper and perennial linting.

<details>

[code]

</details>

[2022-07-22 04:19] samreid commented on #1286
Is the basePath the cwd of the node process that invoked ESLint?  In that case, I'm not sure how moving it to chipper would help.

On a related note, I saw that the precommit hooks use lint like so:

[code]

which seems to be different than the other perennial-aliases committed.

I'm not sure what's best.

[2022-07-22 16:09] zepumph commented on #1286
Sorry I broken the git hooks, looking into it now.

[2022-07-22 16:54] zepumph commented on #1286
Ok, not the pre-commit hook launches a child_process into perennial-alias, if it is available. I was able to see the cache hit between running pre-commit hook in NS, `grunt lint` in NS`, `grunt lint-everything` in perennial`, and `grunt lint-everything` in perennial-alias. Please review the commit.

Here are the changes from the commit:
* Bug fix for format and silent options
* lint to run from th

[2022-07-22 19:44] zepumph commented on #1286
`grunt` was broken because forwarding was depending on the task being in the args from the command line. I fixed that above. @samreid it would be good for you to review that commit too.

[2022-07-22 22:52] samreid commented on #1286
@zepumph and I discussed using process.chdir() in lint to make sure all the caches are the same.  Great idea @zepumph! This will allow us to roll back some of the complexity that was arising for this issue.

We also discovered:
- [ ] precommit hooks should run from perennial-alias so they can be versioned (except if cwd is perennial, then they should run from perennial).  Other repos may want to o

[2022-07-22 23:07] jbphet commented on #1253
I've addressed all the `any` usages in greenhouse-effect and sun.

[2022-07-22 23:40] pixelzoom opened #1288 "Require return type for `function`?"
A .ts file often contains private functions, like this one in Dialog.ts:

[code]

Note that there's no return type specified.  And when I glanced quickly at this and saw `dimension`, I guessed that this returned `Dimension2` -- which is not the case.

Should we require a return type for functions? I think so.

I'm still OK with arrow functions being up to developer discretion.

[2022-07-23 00:21] samreid opened #1289 "Add a cache layer to speed up linting & type checking in precommit hooks, builds, and other processes"
In https://github.com/phetsims/chipper/issues/1269, we reaffirmed that we want high quality checks on each commit, not just on each push. The problem in https://github.com/phetsims/chipper/issues/1269 is that precommit hooks take a long time, but that is because they duplicate a lot of effort.  Running `tsc` for each of 10 repos being committed takes around 4.5*10 seconds on my machine.

To overco

[2022-07-23 00:25] samreid commented on #1269
In our dev meeting, we affirmed that we want to continue with precommit hooks to help ensure high code quality at each commit.  Therefore, @zepumph and I are pursuing a different strategy in https://github.com/phetsims/chipper/issues/1289 to speed up and streamline that process.  We may still want a step to notify CT after a batch of pushes is complete, but that will be worked on in https://github

[2022-07-23 00:25] #1269 closed

[2022-07-23 02:35] pixelzoom commented on #1253
FYI... There were some new `any` usages added to scenery-phet `KeyboadHelpSection` for https://github.com/phetsims/scenery-phet/issues/762, to be addressed by @jessegreenberg.

[2022-07-23 15:37] samreid commented on #1289
I added CacheLayer and an output from the transpiler watch process, but here is a patch of the usage sites in tsc, lint, etc.

<details>

[code]

</details>