[2015-07-24 13:57] samreid commented on #181
I resolved the John Travoltage issue and the Snow Day Math issue (see https://github.com/phetsims/making-tens/issues/25).  @jonathanolson still needs to comment on the Build a Molecule issue but this is tracked in https://github.com/phetsims/build-a-molecule/issues/75 so I'm ready to close this issue.

[2015-07-24 14:27] samreid commented on #156
I'm not planning to work on this until I get to branding, so I'll unassign for now.

[2015-07-24 14:51] samreid commented on #176
I'm going to unassign this until I get to work on the branding issues.

[2015-07-24 14:51] samreid commented on #179
Since this has been converted to JSON and all of the data normalized, this issue is resolved, closing.

[2015-07-24 14:51] #179 closed

[2015-07-24 14:57] samreid opened #185 "Make sure license.json entries match directory contents"
From the following issues:
https://github.com/phetsims/sherpa/issues/35
https://github.com/phetsims/sherpa/issues/38
https://github.com/phetsims/chipper/issues/182

It is desirable to make sure that the entries in the license.json exactly match the directory listing, so that we can be sure there are no orphan entries or library contents.  Now that license.json has been normalized across images/aud

[2015-07-24 14:57] samreid commented on #182
We'll work on this in https://github.com/phetsims/chipper/issues/185 now, closing.

[2015-07-24 14:57] #182 closed

[2015-07-24 15:02] samreid opened #186 "licenseTXTReport.js needs to be revised now that things are JSON"

[2015-07-24 15:20] samreid commented on #185
I added a test for license.json entry orphans:  here is the result:

balancing-act/images/balance-with-supports-icon.png
balancing-act/images/balance-without-supports-icon.png
balloons-and-static-electricity/images/sweater.svg
beaker/images/concentration-meter-probe.png
capacitor-lab-basics/images/probe_3D_black.png
capacitor-lab-basics/images/probe_3D_red.png
color-vision/images/head-no-brain.png

[2015-07-24 15:37] samreid commented on #185
After cleaning up orphan entries, I have this output:

sherpa/lib/jama-1.0.2
sherpa/lib/numeric-quadratic-programming-1.2.6
sherpa/lib/pegjs-0.7.0.js
sherpa/lib/requirejs-2.1.11.js
sherpa/lib/syntaxhighlighter-3.0.83.js
sherpa/lib/easing-equations-r12

These entries do not require a file in sherpa.

[2015-07-24 15:40] samreid commented on #185
The cleanup commits are above.

[2015-07-24 15:43] samreid commented on #185
For images & audio, the build process checks to see if there are any images & audio used by the simulation that don't have an entry in the license.json.

However, there are still 2 tasks we should complete:
1. Are there any sherpa code entries that are missing annotations in license.json?
2. Are there any images/audio that are checked in to a simulation directory but not used?

[2015-07-24 15:44] samreid commented on #185
For (2) above, we may just wish to create a review item that says "check that all images/audio are used in the simulation"

[2015-07-24 15:52] samreid commented on #185
Here is a report of all of the images that do not have an entry in the license.json files.  Perhaps some of these will be used in the future?

build-a-molecule/images/green-left.png
build-a-molecule/images/green-middle.png
build-a-molecule/images/green-right.png
build-a-molecule/images/ico2cur.py
build-a-molecule/images/scissors-closed-up.cur
build-a-molecule/images/scissors-closed-up.png
build-a-

[2015-07-24 20:48] samreid commented on #186
Fixed above, closing.

[2015-07-24 20:48] #186 closed

[2015-07-24 21:15] samreid commented on #174
It was trivial to add caching.  Let' us see if it is worth it.  I'll do 5 runs without caching and 5 runs with caching using `time grunt build-no-lint` for a sim with many images and report the times here.

With caching (lower is better):
real	0m34.470s
real	0m34.215s
real	0m33.625s
real	0m34.252s
real	0m34.372s

Without caching (lower is better):
real	0m33.518s
real	0m33.904s
real	0m33.705s
real

[2015-07-24 21:15] #174 closed

[2015-07-24 21:16] samreid commented on #185
I think at this week's developer meeting we decided on a warning for unused images/audio.

[2015-07-24 21:19] samreid commented on #180
We have started using the same file format and schema, and now the tools that work for 3rd party code also works for 3rd party images/audio for the most part.  Though images/audio are loaded through requirejs so the way the licenses are "gathered up" are a bit different.  Anyways, this may be as far as we can go.

[2015-07-24 21:19] samreid commented on #162
The composite report should be pushed to the sherpa MD file.

[2015-07-24 21:25] samreid commented on #177
(unless it makes simulation launch take a lot longer)

[2015-07-24 21:33] samreid commented on #184
Apparently we can check if --force is set by doing: grunt.option( 'force' )

However, the grunt is not passed to the image/audio/mipmap plugins so I am not sure how to get this information.  Should we add global.grunt or global.gruntForce?  Not sure it is worth it for this.  @jonathanolson what do you recommend?

[2015-07-25 01:51] jonathanolson commented on #184
I was under the impression that calling grunt.log.error (or indicating an error state to Grunt without throwing anything) would cause an abort if running without --force, but would allow the build process to go on if --force is passed.

Can you confirm/clarify, and/or describe why we would need to manually check if the --force option is passed in?

[2015-07-25 02:02] samreid opened #187 "Put the simNameUppercase in the package.json?"
For licensing, I need to obtain the uppercased sim name, such as BALANCING_ACT.  I am currently obtaining this by looking at the prefix of the simTitleStringKey, but it may be better to factor out the upper case name into a separate field.  We could potentially even obviate the need for this simTitleStringKey if we can automatically construct it from the lower+upper case names.

[2015-07-25 02:09] samreid commented on #184
I just tried grunt.log.error and it printed out text in red, but reported `Done, without errors.` afterwards.  Perhaps we should use `grunt.fail.warn`? http://gruntjs.com/api/grunt.fail says

However, in the image plugin, for example, we do not have access to the grunt instance as far as I know.  So how could we use this?

[2015-07-25 02:21] samreid opened #188 "Unify thirdPartyImageAndAudioLicenseInfo and allImageAndAudioLicenseInfo"
global.thirdPartyImageAndAudioLicenseInfo = global.thirdPartyImageAndAudioLicenseInfo || {};
global.allImageAndAudioLicenseInfo = global.allImageAndAudioLicenseInfo || {};

should be brought together into a single var

[2015-07-25 02:26] samreid commented on #172
I added the warnings above and am seeing unused images in balancing-act and balancing-chemical-equations.  We should create a separate issue to iterate over all repos and look for unused things.

[2015-07-25 02:26] #172 closed

[2015-07-25 02:28] samreid opened #189 "Address unused images & audio"
Using #172 we should:
1. grunt-all.sh build-no-lint
2. identify which simulations have unused images
3. remove the unused images or start using them

[2015-07-25 02:55] samreid commented on #188
Fixed above, closing.

[2015-07-25 02:55] #188 closed

[2015-07-25 03:50] samreid commented on #189
Here is a list of unused images and audio files.  Note that for some sims, such as faraday's law, these are merely indicating that the images are loaded in an unconventional way.  For Vegas, it just means the images aren't exercised in the vegas examples:

 BALANCING_ACT/blue-bucket.png

 BALANCING_CHEMICAL_EQUATIONS/Check-Mark-u2713.png
 BALANCING_CHEMICAL_EQUATIONS/Heavy-Ballot-X-u2718.png

 BEA

[2015-07-27 14:22] samreid commented on #177
This should also respect the branding, and have the same behavior as during a build.  Missing or incompatible license information during phet mode=>fail.  During adapted-from-phet mode => ok.

[2015-07-27 14:22] samreid commented on #177
I'm going to unassign this for now and leave it for work during branding.

[2015-07-27 14:52] samreid opened #190 "Standardize images/README.txt"
About half of our repositories contain images/README.txt.  We should decide whether this belongs here or not and standardize the sims.  In my opinion, the small potential benefit to 3rd parties from the existence of these files does not outweigh the "copy-paste" nature of these files, so I'm planning to delete them.  Please feel free to disagree/discuss.

[2015-07-27 15:00] samreid commented on #190
I've removed the images above and will soon create a simula-rasa issue for not propagating the README.txt file.  Closing.

[2015-07-27 15:03] samreid commented on #183
I this this solution seems good for requirejs mode and we can handle other details during #177.  Closing.

[2015-07-27 15:03] #183 closed

[2015-07-27 15:07] samreid commented on #185
Committed: 78faca3b125c5f9e45a684bdcf1c5956ac8d1f52

[2015-07-27 15:11] samreid commented on #189
I changed the title above to indicate that the report is complete and now we should address the issues.  I suspect @samreid can address many of them, or create issues in the appropriate repos.

[2015-07-27 15:16] samreid commented on #189
I removed unused images from balancing-chemical-equations above, @pixelzoom review if you wish.

[2015-07-27 16:18] samreid opened #191 "Unused audio detection fails because file suffix is not provided"
See https://github.com/phetsims/chipper/issues/189
We should find a way to overcome the limitation that the require statement often uses no suffix while the filenames all have suffixes.

[2015-07-27 16:27] samreid commented on #189
I addressed many of the issues above and/or commented on them here: https://github.com/phetsims/chipper/issues/189#issuecomment-124793564 .  For in-development sims, we should just address these warnings during development.  For some published sims, I've created issues and assigned appropriately.

Closing.

[2015-07-27 16:27] #189 closed

[2015-07-27 17:38] samreid commented on #191
Fixed above, closing.

[2015-07-27 17:38] #191 closed

[2015-07-27 17:40] samreid commented on #185
This was solved by adding a warning into the build step.

So all that is left for this issue is

This latter issue should just be done manually since sherpa entries are used in a variety of ways & places.

[2015-07-27 22:35] samreid opened #192 "Give a more specific name to createXML"
The grunt task createXML has too general a name.  The name should indicate the intended usage and possibly also the contents of the XML.  Task names, filenames, etc should be renamed to match.

[2015-07-27 22:43] samreid commented on #185
I manually verified that all sherpa entries are (a) used or needed for a project where they might be used and (b) have an entry in license.json for at least one of their files.  I don't think it's worth the trouble at this point to modify the license.json schema to accommodate multiple files (such as the minified and non-minified jquery or the multiple files for bootstrap, etc.)  Closing.

[2015-07-27 22:43] #185 closed

[2015-07-28 01:45] samreid opened #193 "Should check-for-third-party-orphans be combined with licenseJSONReport?"
The grunt tasks licenseJSONReport and check-for-third-party-orphans provide complementary features and it may be best to combine them into a single report.

[2015-07-28 02:15] samreid commented on #193
I integrated the orphan checks above and this is much cleaner.

[2015-07-28 02:16] #193 closed

[2015-07-28 13:05] samreid opened #194 "Create a separate list for images & audio"
I'm concerned that if we start including videos or other 3rd party resource files into our simulations that they would be annotated in what is currently called the imagesAndAudio.  This would be confusing and awkward--it would be better to choose a name now that indicates "any kind of resource other than code or strings"--since we have determined code and strings would be handled differently.

Ano

[2015-07-28 13:14] samreid commented on #162
I pushed a first draft of sim-specific reports and composite-reports in the above commit.  With TODOs as noted here:

* Make sure we hit all of the repos from active-sims (if one didn't build, it might not have a report file).
* Should we just use active-sims as the list to iterate over?
* Should there be a sim report as well as a non-sim report?
* Add other 3rd party things from sherpa that are u

[2015-07-29 03:10] samreid commented on #162
I've created the report aggregator, here is the documentation:

Creates a composite report of all of the 3rd party images, code, audio, fonts used by PhET Simulations and updates the online version by automatically adding and pushing the changes to GitHub.  The output can be seen at:
https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md

Entries in sherpa/license.json are used for

[2015-07-29 03:11] samreid commented on #162
Finished, closing.

[2015-07-29 03:11] #162 closed

[2015-07-29 03:13] samreid commented on #173
Some AI files contain the art for several graphics.  Perhaps one way to handle this would be to add at attribute in the license.json that indicates where the original artwork is.  Is this worth the effort (compared to a code-review task that has us manually check)?  That is a question for the team.

[2015-07-29 03:23] samreid commented on #194
It actually turned out to be codeAndFonts vs imagesAndAudio just because of the way things are loaded.  I'm not sure it is worth the effort to try to segregate these categories.  Take a look at the report and help me decide: https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md

[2015-07-29 03:34] samreid commented on #178
I've finished the licensing work above.  Quick summaries of what was done:

1. Simulations fail to build if they use images/audio with incomplete/incompatible licensing.  Build a molecule still suffers from this problem https://github.com/phetsims/build-a-molecule/issues/75
2. Added a new grunt task `create-license-json-report`
 * (project-wide) Report on license.json files throughout all working

[2015-07-29 03:48] samreid commented on #178
Some pre-review notes:

* The new code passes jshint
* The new tasks run without errors (aside from https://github.com/phetsims/build-a-molecule/issues/75 )
* The new grunt tasks are documented
* The new grunt tasks have been tested from multiple simulation directories

Additional questions for the reviewer:

Discussion of #177, #184,  #187 and #194.

Does https://github.com/phetsims/chipper/blob/

[2015-08-01 03:56] samreid opened #195 "Require statement names should match"
While I was reviewing Bending Light, I noticed that one of the PhET code style guidelines says:

I wrote a script that uses string parsing to check whether this is the case.  It is neither documented nor generalized but it confirm that Bending Light doesn't suffer from this problem at all.  However, I ran it for our other projects and found this list of mismatches:

var Checkbox = require( 'SUN/Ch

[2015-08-02 17:54] samreid commented on #59
I'm unassigning this, and hoping to get to https://github.com/phetsims/brand/issues/11 after Bending Light review.

[2015-08-03 02:36] samreid commented on #177
Branding time draws nigh.  Reassigning to @samreid.

[2015-08-03 14:18] pixelzoom commented on #175
Reopening to ask a question.  I see that  we now have window.phet.chipper.thirdPartyLicensesImagesAudio. Why can't images and audio be added to window.phet.chipper.thirdPartyLicenses?

[2015-08-03 14:26] pixelzoom commented on #175
Or perhaps a better questions is: Why is it necessary to have separate globals for libs vs audio/images?

Also note a bug in createCompositeThirdPartyReport.js:

Is the global named thirdPartyLicenses or thirdPartyLicensesImagesAudio?

[2015-08-03 14:32] pixelzoom opened #196 "createCompositeThirdPartyReport.js uses console.log"
In https://github.com/phetsims/chipper/issues/125, we decided to use grunt.log for all logging.  That seems to get violated whenever some adds or modifies a grunt task. The latest example is createCompositeThirdPartyReport.js, line 265:

[2015-08-03 14:38] samreid commented on #196
I fixed this occurrence above.  Should we add a lint-ish rule that checks for the existence of the text "console.log" in certain chipper subdirectories?

[2015-08-03 14:39] samreid commented on #196
Sorry @patricialoeblein, assigned to you temporarily accidentally.  Over to you @pixelzoom.

[2015-08-03 14:42] pixelzoom commented on #181
Reopening.

The description of fields in the first comment of this issue says:

If `notes` is options, then why do we have 111 occurrences of `"notes": ""` in images.json files?

If `notes` is optional, then the implementation doesn't reflect that.  Specifically line 149 of createThirdPartyReport.js:

[code]

[2015-08-03 14:44] pixelzoom commented on #181
Where are the fields in license.json documented (other than in the first comment of this issue)?  Should they should be documented in the header comment of createThirdPartyReport.js?

[2015-08-03 14:44] samreid commented on #175
This question is also touched on in https://github.com/phetsims/chipper/issues/194 .  For reports, etc I think it is valuable for us to distinguish the types of certain objects, so that a report can show "code" first, then "images" etc.  So that means either (a) keeping things in separate lists or (b) adding "type" metadata to each entry.

Note from #194 that things are basically "code + fonts" vs

[2015-08-03 14:51] samreid commented on #181
I decided to make "notes" required to simplify the json schema and to encourage people to add notes for new images & audio.

The fields are documented in https://github.com/phetsims/simula-rasa/blob/master/images/README.txt

I chose that location since it is the template that ends up "creating" most of the images directories.  Where do you recommend to put this information?

Here's a copy of the R

[2015-08-03 15:10] pixelzoom commented on #176
Retitling issue, since license.txt is now license.json.

[2015-08-03 15:19] pixelzoom commented on #179
Retitled this issue, since license.txt is now license.json.

[2015-08-03 15:22] pixelzoom commented on #180
Reopening. Why not also unify them in the global that's created and added to the html file?

[2015-08-03 15:25] samreid commented on #180
As I mentioned in https://github.com/phetsims/chipper/issues/175#issuecomment-127265301 we need to distinguish the types.  Do you recommend adding a "type" property to each entry?

[2015-08-03 15:25] samreid commented on #180
Also, I think we should maintain control over the order that resource types get outputted in the HTML (whether using separate lists or type properties).

[2015-08-03 15:26] pixelzoom commented on #187
There is no requirement that simTitleStringKey contain the repo name, it can be anything. The convention of (for example) `beaker.name` is a hold-over from Java sims and there's nothing that requires that for HTML5 sims.

[2015-08-03 15:29] pixelzoom commented on #187
Several sims that don't follow the `repos.name` convention:

friction
ohms-law
resistance-in-a-wire
states-of-matter-basics
wave-on-a-string

[2015-08-03 15:33] pixelzoom commented on #187
Also recommended to call this something other than "simNameUppercase".  It's not the sim's name. It's the symbolic constant for the path to the sim's repository.  And it's not exactly repo name in uppercase, hypens are also converted to underscores.

[2015-08-03 15:34] pixelzoom commented on #187
Looks like it would be safe to convert the "name" field in package.json.  So now I'm questioning whether an additional field is needed.

[2015-08-03 15:35] samreid commented on #187
Thanks for identifying the problem about repo.name.  Perhaps we don't need the SIM_NAME_UPPERCASE here, just a unique identifier for the sim.  Maybe we can use package.json's "name" property?

[2015-08-03 15:37] pixelzoom commented on #187
Seems like this issue should be assigned and addressed promptly, since the implemented assumption of using simTitleStringKey will fail for some sims.

[2015-08-03 15:40] pixelzoom commented on #184
I'm not clear... What is the motivation for wanting grunt to proceed when it encounters a problem?

[2015-08-03 15:44] pixelzoom commented on #190
Reopening.

We're using README.md at the top level of repos.  And reason why images/README.txt shouldn't also be in .md format?

[2015-08-03 15:55] pixelzoom commented on #173
Is this a new requirement, that (in most cases) there is going to be a .ai file for each image file?  If so, then designers need to get on board with that, or it's going to create additional work for developers.  For example, when the PhET brand was being revised, assets were delivered as phet-brand-assets.ai.  I would not appreciate the added task of having to (repeatedly) divide that into multip

[2015-08-03 16:01] pixelzoom commented on #195
I don't see this grunt task in chipper, and you haven't identified it by name.  Where do I find it?

[2015-08-03 16:01] pixelzoom commented on #195
@samreid I don't see this grunt task in chipper, and you haven't identified it by name.  Where do I find it?

[2015-08-03 16:16] pixelzoom opened #197 "use jshint to catch common mistakes"
In https://github.com/phetsims/chipper/issues/196#issuecomment-127263432, @samreid asked:

Assuming that's possible with jshint...

That would be a nice enhancement, but not critical.  We might want to disallow "console.log" everywhere, since (presumably?) a built sim shouldn't be writing to the console.  Might also want to disallow "debugger".  Other things to disallow?

[2015-08-03 16:16] jonathanolson commented on #184
Same motivation that we can use --force to bypass linting.

[2015-08-03 16:16] pixelzoom commented on #196
Looks good.  Issue of catching this automatically moved to https://github.com/phetsims/chipper/issues/197. Closing.

[2015-08-03 16:16] #196 closed

[2015-08-03 16:18] pixelzoom commented on #175
Yes.

Also recommended to move font-related stuff to sherpa/fonts/, with an associated license.json file.

[2015-08-03 16:25] pixelzoom commented on #175
Btw... A "type" field in license.json may not be necessary. It can be inferred from where it lives, perhaps using the subdirectory name. Eg:

sherpa/lib/license.json ->  "lib"
sherpa/fonts/license.json -> "font"
my-sim/images/license.json -> "image"
my-sim/audio/license.json -> "audio"

Then consolidate to one global. Eg:

[code]

[2015-08-03 16:27] pixelzoom commented on #175
Btw... A resource "type" field in license.json may not be necessary. The type can be inferred from where it lives. Eg:

(directory -> type)
sherpa/lib/license.json ->  "lib"
sherpa/fonts/license.json -> "font"
my-sim/images/license.json -> "image"
my-sim/audio/license.json -> "audio"

Then consolidate to one global. Eg:

[code]

[2015-08-03 16:29] pixelzoom commented on #181
Recommended to put it in the grunt task that reads it.  See for example setThirdPartyLicenses.js.

[2015-08-03 16:32] pixelzoom commented on #180
See my responses in https://github.com/phetsims/chipper/issues/175#issuecomment-127297077 and https://github.com/phetsims/chipper/issues/175#issuecomment-127308210

[2015-08-03 16:32] pixelzoom commented on #187
Yes, recommend to use "name" field in package.json.

[2015-08-03 16:34] pixelzoom commented on #184
Bypassing linting can be done via build-no-lint.

I'm concerned that --force will become a lazy way of bypassing lint, possibly bypassing something more important.

[2015-08-03 17:53] samreid commented on #184
I rarely (never?) use --force, though I do use build-no-lint in certain circumstances.  I'm okay to close this issue as "will not fix" but don't have a good sense of how strongly @jonathanolson feels about this or if there are cases where it would be more useful.

[2015-08-03 17:58] samreid commented on #190
I removed projectile-motion/images/README.txt and renamed simula-rasa/images/README.txt => md, see the above commits.  @pixelzoom anything else to do here?

[2015-08-03 18:02] samreid commented on #173
Alternatively, we could add a required "vectorArt" attribute for license.json entries which points to the AI file with the artwork.  Multiple PNGs could point to the same AI file.

[2015-08-03 18:05] samreid commented on #195
I did not commit the new task, it only appears in the issue description above.  I thought it would be best to discuss it before committing it to chipper.  And if committing to chipper it would have to be documented properly and moved to a separate JS file (and other hygiene as appropriate).

[2015-08-03 18:14] jonathanolson commented on #184
I don't feel too strongly, but I do use grunt --force a lot (particularly for helping people who have linting issues). I'll be ok saying "I can't help with X until licensing is fixed".

[2015-08-03 18:20] pixelzoom commented on #184
@jonathanolson Why can't you use build-no-lint in this situation?

[2015-08-03 18:21] pixelzoom commented on #184
Ah, I see... You want something similar to build-no-lint for licensing.

[2015-08-03 18:22] pixelzoom commented on #184
Perhaps we should get rid of build-no-lint and make --force work?

[2015-08-03 18:23] jonathanolson commented on #184
"grunt --force" lints, but ignores any linting issues and continues the build. I'm not usually bugged by the extra time linting.

Others may have opinions on getting rid of no-lint.

[2015-08-03 18:46] #190 closed

[2015-08-03 19:17] samreid commented on #184
I labeled this issue for next developer meeting.

[2015-08-03 19:19] samreid opened #198 "grunt create-license-json-report should iterate over active-repos and focus search on images & audio"
Previous version was looking recursively over everything.

[2015-08-03 19:23] samreid commented on #184
I'd like to keep `build-no-lint'.

[2015-08-03 19:26] samreid commented on #198
Perhaps use active-runnables so we don't hit website repo, etc.

[2015-08-03 19:29] samreid commented on #178
Some skype notes from @pixelzoom:

[8/3/15, 1:23:10 PM] Chris Malley: create-license-json-report apparently doesn't include sherpa/lib/license.json?

[2015-08-03 19:46] pixelzoom opened #199 ""grunt create-composite-third-party-report" fails"
https://github.com/phetsims/chipper/issues/178 says:

Given the simulation-specific reports created by createSimSpecificThirdPartyReport, aggregate them and provide a complete report, indicating which third-party resources are used by which simulations.

This grunt task fails. Sample output:

[code]

[2015-08-03 19:48] pixelzoom commented on #178
"grunt create-composite-third-party-report" fails, see #199.

[2015-08-03 19:49] pixelzoom opened #200 "createSimSpecificThirdPartyReport option not reported by "grunt --help""
#178 says:

This option to the build task is not reported by "grunt --help".  Eg:

[2015-08-03 19:52] pixelzoom commented on #42
chipper/js/Gruntfile.js line 109:

[code]

This has been broken for 2.5 years. Perhaps we should punt on source maps, or at least remove this line?

[2015-08-03 19:56] pixelzoom opened #201 "create-license-json-report violates convention for name of associated .js file"
Noted during review in #178.

In chipper/js/Gruntfile.js:

[code]

When tasks correspond to a single .js file, our convention is for task "some-task" to be implemented in someTask.js.  In this case task "create-license-json-report'" is implemented by licenseJSONReport.js.

Why the break in convention?

[2015-08-03 20:01] pixelzoom opened #202 "task create-license-json-report is poorly named"
Noted during review in #178.

In https://github.com/phetsims/sherpa/issues/54, sherpa/lib/third-party-license.json was renamed to license.json for uniformity.  So perhaps task `create-license-json-report` was appropriately named before that change. But it is now poorly named, since it reports only on license.json for images and audio.

[2015-08-03 20:02] pixelzoom commented on #198
By searching over all directories, it's potentially looking at things that it shouldn't be looking at. And it's potentially missing things that it should be looking at if all repos aren't checked out.

[2015-08-03 20:05] pixelzoom commented on #192
The documentation for "grunt help" is also lacking. It currently says:

Does "specific translations" means that you can specify which locales you want?
If so, how does one do that?

[2015-08-03 20:12] pixelzoom commented on #178
My first inclination is yes, for symmetry with create-composite-third-party-report. But I'm not at all clear on how these reports are intended to be used, when they need to be run, or whether its desirable to fail a build when the licensing is not in order.

[2015-08-03 20:14] pixelzoom commented on #178
Why do we need `create-composite-third-party-report`? Why can't we just have a sim-specific report (e.g. license-report), and periodically run "grunt-all.sh license-report"?  Is aggregation by a build task really worth the effort?

[2015-08-03 20:17] pixelzoom commented on #178
Since "grunt create-composite-third-party-report" currently fails (see #199) I didn't realize that an output file was created.  Where is it created? (This should be indicated in the "grunt help" doc.) Is there an automatic git add/commit/push?

[2015-08-03 20:27] pixelzoom commented on #199
#178 asks:

After looking for third-party-report.json, I discovered that this is probably third-party-report.md, and it's written to sherpa/.  This should be indicated in "grunt --help" output for the task.

So I tried running "grunt create-composite-third-party-report" from the sherpa directory. But that can't be the case, because sherpa has no package.json, and therefore can't run "npm install".

[2015-08-03 20:35] pixelzoom opened #203 "when to check licensing correctness?"
Noted during review in #178.

In afterRequirejsBuild.js, this happens at line 194:

[code]

Why is this done *after* all images and audio are processed? Shouldn't the correctness of licensing be checked *before* any significant work is done?

[2015-08-03 20:43] pixelzoom opened #204 "issues with reportUnusedImagesAndAudio.js"
Noted when reviewing #178.

1. The point at which this task is called seems odd, see #203

2. Why is this separate from createSimSpecificThirdPartyReport?  It seems like it's an important part of that report, and there would be some value to having the entire resource report implemented in 1 task, and registered in Gruntfile.js (as a utility task).

3. The names of the other related tasks begin wi

[2015-08-03 20:50] pixelzoom opened #205 "create-license-json-report task help is incomprehensible"
Noted during review #178.

The last 3 lines of the task help for create-license-json-report are incomprehensible.

[code]

[2015-08-03 20:52] pixelzoom commented on #205
I can guess that `missing-license.json` means that a license.json file is missing in some images/ or audio/ directory.  Perhaps `not-annotated` means that there's a license.json file, but the resource has no entry in it. No idea what `third-party` means.

[2015-08-03 21:02] pixelzoom opened #206 "odd/misleading use of JSLint option"
Noted in review #178.

In createCompositeThirdPartyReport, at line 38:

[code]

The comment here is misleading. This doesn't just allow "process" to pass lint.  It causes *all* object that can be accessed by node.js to pass lint.   If you wanted only "process" to pass lint, then you'd use `/*global process */`.

This is also a non-standard place to put this JSLint option. It's typically placed at

[2015-08-03 21:08] pixelzoom commented on #87
"grunt --help" shows tasks `deploy-dev` and `deploy-production`. Is this done? Assigning to @aaronsamuel137 for comment.

[2015-08-03 21:10] pixelzoom commented on #116
reportUnusedImagesAndAudio.js now has "endsWith" string function.

Renaming this issue to "string utilities needed".

[2015-08-03 21:12] pixelzoom commented on #178
I've created 8 new issues, so perhaps this is a good place to pause this review.  Back to @samreid.

[2015-08-03 22:07] pixelzoom commented on #187
Ah... I misunderstood this.  simTitleStringKey will indeed always contain the symbolic constant for the sim's repo path as the *prefix* to the string key.  For example:

`"simTitleStringKey": "HOOKES_LAW/hookes-law.name",`

This will be the case unless a sim gets its title from some other sim's string file -- which should not be the case. But I have seen this done on more than one occasion, typica

[2015-08-03 22:32] samreid commented on #199
From the JSDoc:

Entries in sherpa/license.json are used for the code report, and this is augmented by information obtained by running *mandatory* simulation-specific reports using:

`grunt-all.sh build-no-lint --createSimSpecificThirdPartyReport`

indicating which third-party code resources are used by which simulations.

(emphasis added)

[2015-08-03 22:35] pixelzoom commented on #199
[8/3/15, 4:32:19 PM] Chris Malley: I have to manually run " grunt-all.sh build-no-lint --createSimSpecificThirdPartyReport" before using this task? That's not at all clear.
[8/3/15, 4:33:13 PM] Sam Reid: Let’s rewrite it to make it clearer.
[8/3/15, 4:33:47 PM] Chris Malley: And how do I know that the sim-specific reports that do exist aren't stale?
[8/3/15, 4:34:14 PM] Chris Malley: The only way

[2015-08-03 22:37] samreid commented on #199
It takes 30+ minutes to generate the sim specific reports.  It would be very painful if we had to wait 30+ minutes each time we wanted to iterate on the output for the composite report.

[2015-08-03 22:46] samreid commented on #200
In https://github.com/phetsims/chipper/issues/178 @pixelzoom said he was inclined to make this a grunt task rather than a build option.  Perhaps we should focus our efforts there instead of documenting this as a grunt option.

[2015-08-03 22:52] samreid commented on #201
Fixed above, and tested with grunt create-license-json-report in hookes-law with no problems noted.  Reassigning to @pixelzoom to see if there's anything else.

[2015-08-03 22:53] samreid commented on #202
Or perhaps create-license-json-report should report on lib and font as well?

[2015-08-03 22:55] samreid commented on #178
As explained above in https://github.com/phetsims/chipper/issues/178#issuecomment-125827443, this task is what generates the final (important) report here:

https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md

[2015-08-03 22:57] samreid commented on #203
Running the require.js build step is the only way to determine which images & audio are actually used by a simulation.

[2015-08-03 23:02] samreid commented on #205
It is documented in the createLicenseJSONReport:

 * missing-license.json: => The resource file has no associated license.json file
 * third-party =========>Known to be from an unapproved source outside of PhET
 * not-annotated ======> There is a license.json file but the asset is not in there

I tried putting that information in the grunt help previously but it didn't seem to fit well in the thin

[2015-08-03 23:13] samreid commented on #206
This directive appears 8 times throughout chipper.

[2015-08-03 23:25] samreid commented on #206
We have many things competing to be the "top" of the source file, including the copyright statement, the jsdoc, use strict and this jslint directive.  I'll move this jslint directive to be directly above the 'use strict' statement in all of our files (and add 'use strict') where I saw it missing.

Can our 'use strict's move underneath the jsdoc?  It might be a good place to standardize.

[2015-08-03 23:26] samreid commented on #206
Will it create problems to move the 'use strict' out of the exports?

[2015-08-03 23:30] samreid commented on #205
Improved docs for create-license-json-report.  I tried adding verbose text again but it is very difficult to parse.  I eventually settled on this:

[code]

Does that solve the problem?

[2015-08-03 23:31] samreid commented on #205
Committed above and reassigned to @pixelzoom for feedback.

[2015-08-03 23:35] aaronsamuel137 commented on #206
Thanks for moving these @samreid.

I like the placement of this below the jsdoc. I don't think it will cause problems to have it out of the exports, and it is useful in files like routes.js (in rosetta) where there are multiple exports that would all require their own 'use strict' otherwise.

[2015-08-03 23:40] samreid commented on #204
This is not a task.  Also, in #203 I described why the task is run then:

Next question was:

Maybe it makes sense to include this with createSimSpecificThirdPartyReport, but we decided we always wanted to report an error when a sim is built that didn't use all of its images & audio, see https://github.com/phetsims/chipper/issues/172

As aforestated, this is not a task.  It is a function.

Images

[2015-08-03 23:42] samreid commented on #202
Well, since simulations can add images and/or audio (and not lib or fonts) perhaps we should just rename this task accordingly.

[2015-08-03 23:47] pixelzoom commented on #199
I realize the time involved. But the time tradeoff means that the report will almost certainly be inaccurate unless you've run grunt-all.sh before aggregating the results.

[2015-08-03 23:47] samreid commented on #202
Renamed above and tested by running `grunt create-image-and-audio-license-report` in hookes-law.  Seemed ok.  Reassigning to @pixelzoom for further discussion.

[2015-08-03 23:52] pixelzoom commented on #203
I'm not question that it needs to be done in the build step. I'm questioning when it's being done in the build step.

[2015-08-03 23:52] #201 closed

[2015-08-03 23:57] samreid commented on #203
It is literally the first thing that happens after all plugins have been resolved.  I'm confused.

[2015-08-04 00:02] samreid opened #207 "Change createSimSpecificThirdPartyReport from an option to a task"
createSimSpecificThirdPartyReport is currently a build option.  Let's make it a task.  See #178 and #200.  This will make it more obvious and more symmetrical with other license report tasks.

I'm currently planning to implement this by setting a global option in the create-sim-specific-third-party-report task, then calling the build task and bailing after the report is created.  If anyone knows a

[2015-08-04 00:03] samreid commented on #200
I created #207 to move this to a task instead of build option, which will obviate this task.  Closing.

[2015-08-04 00:03] #200 closed

[2015-08-04 00:37] samreid commented on #199
Perhaps we can devise a way that will default to running the entire grunt-all.sh, but still allow developers an option to use pre-existing sim-specific reports when necessary.  Perhaps one day when the need to iterate quickly over pre-exsting sim reports is gone (if ever) we can remove the option.

[2015-08-04 01:23] samreid commented on #187
Hmmm.. Simply using the package.json name field will not work here.  What is recorded during the build is the plugin invocation name, such as "BALANCING_ACT/rock.png".  If we want to check for its existence, it will have to be an exact string match.  @pixelzoom do you think it is safe to take package.json's name property, then uppercase it and convert hyphens to underscores to obtain the uppercase

[2015-08-04 01:28] samreid opened #208 "Rename "third-party" to "incompatible-license" in the license compatibility checks"
It is awkward to report `third-party` as an error--we use many licensed third-party resources properly.  Le's rename it to "incompatible-license".

[2015-08-04 02:11] pixelzoom commented on #187
As mentioned in https://github.com/phetsims/chipper/issues/187#issuecomment-127418725, I think it's probably safe to use the prefix of the simTitleStringKey value.

[2015-08-04 03:11] samreid opened #209 "Shorten the chipper task names or get grunt help to use more real estate"
As the chipper task names get longer, the amount of space for --help is shrinking.  We should go through the most offensive chipper task names (currently related to licensing) and trim them down.  Here's a snapshot of grunt --help at the time this issue was created for reference:

[code]

It is often good to use long complete names, but in this case it may be causing worse problems.  Unless we can

[2015-08-04 03:14] pixelzoom commented on #209
Another nit... Notice the blank line between some of the task descriptions. This is due to an extra '\n' at the end of some of the strings.

[2015-08-04 03:28] samreid commented on #209
By the way, the output looks awesome (even on my tiny 11" macbook air screen) if I hack node_modules/grunt/lib/help.js and change
[code]
to
[code]

[code]

I'm aware it doesn't look as good here in the GitHub which is column limited.  Also, I'm not sure it is practical to hack/patch/etc grunt to make this change, and 76 looks pretty hard coded into help.js.

[2015-08-04 03:35] samreid commented on #209
Here are the long ones:

[code]

Maybe we should change create*report to simply report* (like report is a verb) and change `generate` to `create` in the READMEs.

[2015-08-04 03:37] samreid commented on #209
So it would be:
[code]

Note there is already another `report-third-party-licenses` task which does something very different.

[2015-08-04 03:39] samreid commented on #209
I could use some help choosing these names, and don't want to have to change them more than necessary.  Can I get some opinions @pixelzoom @jonathanolson @jbphet @aaronsamuel137 @jessegreenberg ?

[2015-08-04 03:51] samreid commented on #208
Fixed above.  @pixelzoom anything else to do here?

[2015-08-04 03:55] samreid commented on #207
From #209 I am trying to think of a nice short name for this new task.

`create-sim-specific-third-party-report` is much too verbose and will wreak havoc on our columns.

Perhaps the following would be much better:
`report-sim-licenses`

[2015-08-04 04:00] samreid commented on #207
Another possibility which we failed to discuss would be to make the sim-specific license report be *always* created during a build.  Tradeoffs:

1. This increases the number of files produced during our build process, which increases cognitive overhead etc.
2. This would decrease the number of grunt tasks we have to manage and simplify the process for creating sim-specific reports for all sims.

@

[2015-08-04 04:05] samreid commented on #199
What do you recommend as an implementation approach for running grunt-all.sh before running the aggregation task?  Brainstorming some ideas:

1. Entry point is a shell script that invokes `grunt-all.sh` or `grunt-all.sh report-sim-licenses` (depending on the decision in https://github.com/phetsims/chipper/issues/207.  The shell script could be called generate-composite-license-report.sh
2. Entry p

[2015-08-04 04:09] samreid commented on #198
Well, we cannot use active-runnables since that would miss things like joist.

[2015-08-04 04:35] samreid commented on #198
Fixed above.  @pixelzoom can you take a look and let me know if you recommend further work?

[2015-08-04 04:41] samreid commented on #187
Thanks for clarifying.  Since this is already how it is being done, do you recommend further work for this issue?

The relevant code that implements the "use the prefix" strategy is in afterRequirejsBuild.js:

[code]

[2015-08-04 04:49] samreid commented on #181
The primary file that uses it in chipper is getLicenseInfo.js, and there is already a reference to https://github.com/phetsims/simula-rasa/blob/master/images/README.txt in there:

[code]

getLicenseInfo is not a grunt task, but a utility called by createImageAndAudioLicenseReport, and also used by createSimSpecificThirdPartyReport.  I'm not a fan of duplicating this documentation in >1 place, can

[2015-08-04 04:57] samreid commented on #178
Thanks for the review @pixelzoom.  I'll take it from here and let you know when I'm at a good point to discuss it again.

[2015-08-04 05:18] samreid commented on #206
I'll reassign to me to work on as @aaronsamuel137 suggested.

[2015-08-04 05:21] samreid commented on #202
Well, keep in mind that grunt task names are subject to be shortened in https://github.com/phetsims/chipper/issues/209 anyways.

[2015-08-04 15:20] samreid commented on #180
It seems like @pixelzoom's suggestions in #175 are being tracked in #175.  Can we close this issue and continue in #175?

[2015-08-04 15:23] samreid commented on #175
Above, it was proposed that we call it `window.phet.chipper.licenses` but it excludes the license of the HTML file itself and only pertains to included 3rd party materials.  What do you think about calling it `window.phet.chipper.thirdPartyLicenses`?

[2015-08-04 15:25] samreid commented on #178
@pixelzoom I addressed several issues and raised questions in several issues.  The only open "licensing" issues assigned to me are the ones cross-listed with branding, and I'm saving those for a later step.  So I'm ready for your feedback on the chipper & licensing issues assigned to you.

[2015-08-04 15:44] aaronsamuel137 commented on #192
createXML ended up moving inside the build-server code, so it is no longer needed as an independent file or grunt task. I have deleted it.

Assigning to @samreid for review

[2015-08-04 16:13] pixelzoom commented on #175
` window.phet.chipper.thirdPartyLicenses` sounds fine.

[2015-08-04 16:18] pixelzoom commented on #175
For consistency, how about renaming TranslationCreditPanel.java to TranslationCreditsPanel.java?

[2015-08-04 17:04] pixelzoom commented on #209
This is kind of nice: https://www.npmjs.com/package/grunt-available-tasks

Install the package:

`npm install grunt-available-tasks --save-dev`

Add this to grunt.initConfig to get color-coded output:

[code]

Add this to grunt.initConfig if you'd like the output to be in markdown format:

[code]

Run the task:

`grunt availabletasks`

[2015-08-04 17:05] pixelzoom commented on #209
Regardless of the output format... I think it would be good to shorten the task names.

[2015-08-04 17:07] pixelzoom commented on #209
I like the names that @samreid proposed in https://github.com/phetsims/chipper/issues/209#issuecomment-127468584.

[2015-08-04 17:42] aaronsamuel137 commented on #87
deploy-dev:

Deploy-dev works in some cases, though the library used has some strange behavior with regard to setting permissions sometimes, and in general doesn't seem to work with windows. Currently, it works great for me and I use it, though I think most people are still using the shell script. There are a few options here:

The easiest solution is to make ```grunt deploy-dev``` call the comman

[2015-08-04 17:49] #208 closed

[2015-08-04 17:52] pixelzoom commented on #205
By the time I reviewed this, it now looks like:

[code]

And that looks fine to me.

Closing.

[2015-08-04 17:59] pixelzoom commented on #204
Curious about how this is implemented. Are the image and audio plugins compiling a list?

They are *currently* the only file types. Can't imagine a future with video resources? Or some new type of animation file format similar to Flash swf?  Just trying to be forward-looking here and not box us into this being for images and audio only.

[2015-08-04 18:19] pixelzoom commented on #203
OK, I re-read all of the source to figure out how this works, because I'm not getting what I need from the documentation. Doc in getLicenseInfo.js says "This file is used during string and audio plugin resolution in order to accomplish 2 goals". But this has nothing to do with plugin "resolution" (identification, determination... pick your favorite definition of resolution), it has to do with the

[2015-08-04 18:27] pixelzoom commented on #203
Since reportUnusedImagesAndAudio requires global.imageAndAudioLicenseInfo as a prerequisite, it should assert that it exists. This convention is used throughout other tasks/functions that share information via globals.  See for example afterRequirejsBuild.js:

[code]

[2015-08-04 18:32] pixelzoom commented on #203
Assertion for global.imageAndAudioLicenseInfo added.  Assigning to @samreid for verification.  If it looks ok, feel free to close.

[2015-08-04 18:33] pixelzoom commented on #203
I also added doc about global.imageAndAudioLicenseInfo to getLicenseInfo and reportUnusedImagesAndAudio.

[2015-08-04 18:39] pixelzoom opened #210 "missing assertions for global dependencies"
Related to code review #178.

Tasks/functions that rely on the existence of globals should assert that they exist.

The following global dependences were recently introduced into afterRequirejsBuild.js without adding corresponding assertions:

global.imageAndAudioLicenseInfo
global.phet.chipper
global.phet.chipper.getBrand

Assertions should be added to the set that appears after the comment at li

[2015-08-04 18:43] pixelzoom opened #211 "global.imageAndAudioLicenseInfo violates convention"
Noted during code review #178.

By convention, we have been adding all PhET-specific globals to global.phet.  You can verify this convention by searching chipper/js/ for "global." This convention is violated by global.imageAndAudioLicenseInfo.  Please relocate to global.phet.imageAndAudioLicenseInfo.

[2015-08-04 18:46] pixelzoom commented on #210
Note that this should be done after renaming `global.imageAndAudioLicenseInfo`, see https://github.com/phetsims/chipper/issues/211

[2015-08-04 18:50] pixelzoom commented on #202
Name is better. But imo putting "images and audio" in this and other names (e.g., reportUnsedImagesAndAudio.js) is short-sighted.

[2015-08-04 18:54] pixelzoom commented on #202
To be more specific... Names like `createMediaLicenseReport` and `reportUnusedMedia.js` would (most importantly) allow us to more easily incorporate additional media resource types in the future. Secondarily they wouldn't have "JSON" in their names, and wouldn't be confused with the license.json file(s) in sherpa.

[2015-08-04 18:56] pixelzoom commented on #211
I'd also like to see this renamed to global.phet.mediaLicenseInfo

[2015-08-04 19:06] pixelzoom opened #212 "refer to "media" instead of "images and audio" throughout"
Noted during code review #178.

As noted in https://github.com/phetsims/chipper/issues/202#issuecomment-127715640, using variations of "images and audio" (in doc, vars, files, functions,...) is short-sighted. There's no reason why the same approach (and likely implementation) can't be applied to additional media types in the future.  Also, searching for "imagesAndAudio" (plural) and "imageAndAudio

[2015-08-04 19:16] pixelzoom commented on #212
Indeed, it looks like it would be easy to add additional media types in createImagesAndAudioLicenseReport.js by changing this:

[code]

... by simply adding additional calls to `reportForDirectory`, like this:

[code]

[2015-08-04 19:26] pixelzoom commented on #198
Implementation is flawed.  If one of the active-repos is not checked out, this task should fail. As implemented it silently ignores the missing repo and produces an incomplete report.

[2015-08-04 19:29] pixelzoom commented on #198
I added an assertion to verify that the repo exists. If you'd prefer to handle this differently, go for it. The important point is that the task should bail if a required repo is missing.

Assigning to @samreid for review.

[2015-08-04 19:29] pixelzoom commented on #198
Whoopise, stand by, what I checked in has a problem.

[2015-08-04 19:30] pixelzoom commented on #198
OK, fixed.

[2015-08-04 19:54] pixelzoom commented on #187
I agree that this works and should continue to work. But grabbing the symbolic path name from from simTyleStringKey feels a little wrong.  Perhaps we should factor out the symbolic path for the sim?

Here's what package.json (e.g. for balancing-act) might look like. I've used "requirePath" for the name because it's the sim's path as specified in the call to `require.config`.  Use something else if

[2015-08-04 19:56] pixelzoom commented on #187
Note in the above that I've also removed the path name from the value of "simTitleStringKey".

[2015-08-04 20:06] pixelzoom commented on #204
Discussion about "images and audio" naming moved to #212.

Closing.

[2015-08-04 20:06] #204 closed

[2015-08-04 20:07] pixelzoom opened #213 "add assertions for package.json dependencies in build-server.js"
build-server.js depends on the existence of simTitleStringKey in package.json, but contains no check for whether package.json or the required field exists.  If either is missing, this will fail:

[code]

It would be preferrable to catch this with an assertion and a nice message, as is done elsewhere in chipper for package.json dependencies.  Eg, change the above to:

[code]

[2015-08-04 20:08] pixelzoom commented on #213
Note that the format of simTitleStringKey may change, which would affect how this issue is addressed. See https://github.com/phetsims/chipper/issues/187#issuecomment-127735690.

[2015-08-04 20:10] pixelzoom commented on #213
Assigning to @aaronsamuel137 since he has the majority of commits on build-server.js.

[2015-08-04 20:13] pixelzoom commented on #205
Reopening.

Documentation in getLicenseInfo.js is now stale:

`* The classification is one of: missing-license.json, not-annotated, phet or third-party`

[2015-08-04 20:15] pixelzoom commented on #205
Reopening.

Is the documentation in getLicenseInfo.js now incorrect? Or is "classification" something else?

* The classification is one of: missing-license.json, not-annotated, phet or third-party

[2015-08-04 20:16] pixelzoom commented on #205
Reading the source, I guess it's something else. Changing "third-party" to "incompatible-license" in this issue was what confused me.  Re-closing.

[2015-08-04 20:16] #205 closed

[2015-08-04 20:19] pixelzoom commented on #180
Looks like #175 covers this, closing.

[2015-08-04 20:19] #180 closed

[2015-08-04 20:59] aaronsamuel137 commented on #213
One potential issue with using assert here is that we don't really want the whole build server to die if simTitleStringKey isn't found. That's why there is a try-catch here instead. If simTitleStringKey isn't found, then the build will proceed without writing the XML file.

What do you think @pixelzoom?

[2015-08-04 21:11] pixelzoom commented on #213
Bailing on just the problematic sim would be fine.

[2015-08-04 21:54] pixelzoom commented on #181
Problems with relying on documentation in simula-rasa/images/README.md:

(1) The description of license.json pertains to all media types, not just images.

(2) Suppressing the propagation of README.md (https://github.com/phetsims/simula-rasa/issues/5) is additional work.

(3) Until propagation of the REAMDE.md is suppressed, copies of this file will proliferate - effectively duplicating the docume

[2015-08-04 21:55] pixelzoom commented on #187
Assigning to @samreid for feedback on the above proposal of factoring out the path name.

[2015-08-04 22:08] pixelzoom commented on #207
I'm not clear on the requirements.  When do we need detect licensing issues? Immediately? Before production deploy? As part of a nightly "build sanity check" process? How frequently is a composite (all sims) report needed? Who needs to look at the report?

I'm also not clear on the impact to build time. How long does it take to run a sim-specific report?

In the absence of that information... My r

[2015-08-04 22:47] samreid opened #214 "Markdown table output for the build/fuzzer test results?"
We have a very nice fuzzer, linter, build tester, etc. and it crossed my mind that we might want a way to format the results nicely for GitHub issues or file reports.  (Though we could always just copy paste images from the HTML interface).  But I was imagining an issue that shows the results of the build/fuzz for all sims so it is easy for everyone to see what needs to be fixed.

[2015-08-04 22:48] pixelzoom commented on #207
Skype discussion:

[8/4/15, 4:23:07 PM] Sam Reid: Maybe a good rule to run the composite report when a new sim is published?
[8/4/15, 4:23:50 PM] Chris Malley: Yes, add to sim-deploy checklist.  And run it whenever KP or AP request the information.
[8/4/15, 4:24:33 PM] Sam Reid: Can you elaborate on “• Decouple third-party reports from the build task.”  You could mean several things here.
[8/4/15,

[2015-08-04 22:49] pixelzoom commented on #199
4. Something else.

See related Skype discussion in https://github.com/phetsims/chipper/issues/207#issuecomment-127783449.

[2015-08-04 22:50] pixelzoom commented on #178
All issues commented on and a few new ones created. Back to @samreid.

[2015-08-04 22:52] samreid commented on #197
JSHint already fails for debugger statements.  I added a test one into hookes-law-main.js to demonstrate:

And our jshint style file has an entry for `console` as a read-only global.  We could remove that entry if we wish.

More generally, during the Bending Light code review I found that there were several places where it would be good to add jshint rules or augment with additional postprocessing

[2015-08-05 00:37] samreid commented on #203
Thanks, the change sets above look good and I verified grunt and looked at the HTML output for third party licenses and everything still looked ok.  Closing.

[2015-08-05 00:37] #203 closed

[2015-08-05 00:39] samreid commented on #212
Thanks, I was looking for a good term here, but didn't have a good feeling about "resource".  "media" sounds great.

[2015-08-05 00:49] samreid commented on #209
This nit is important enough to me that I'm going to promote it to a new issue, thanks!

[2015-08-05 00:50] samreid opened #215 "Tasks shouldn't end with \n"
From https://github.com/phetsims/chipper/issues/209#issuecomment-127462897 , @pixelzoom said

[2015-08-05 00:54] samreid commented on #209
Likewise I'm going to move the notes about grunt-available-tasks to a separate issue.

[2015-08-05 00:55] samreid opened #216 "investigate grunt-available-tasks"
From #209 @pixelzoom said:

This is kind of nice: https://www.npmjs.com/package/grunt-available-tasks

Install the package:

`npm install grunt-available-tasks --save-dev`

Add this to grunt.initConfig to get color-coded output:

[code]

Add this to grunt.initConfig if you'd like the output to be in markdown format:

[code]

Run the task:

`grunt availabletasks`

[2015-08-05 00:57] samreid commented on #216
Seems like worth investigation, though I'm wondering (a) if this can this be done without disturbing others that haven't installed grunt-available-tasks and (b) how often I would remember to do grunt availabletasks instead of grunt --help.

[2015-08-05 01:00] samreid commented on #192
I skimmed the change sets, the grunt --help output and tested a build and everything seemed good, thanks.  Closing.

[2015-08-05 01:00] #192 closed

[2015-08-05 01:23] samreid commented on #87
I'm inferring that calling the command line scp would (presumably?) work well on windows.  If so, that seems like a nice general approach.  But can you note which library you used and how you selected it?  Are there other 3rd party scp/ssh libraries we should look at first?  Even if so, using command line seems pretty safe.

[2015-08-05 02:27] samreid commented on #178
Thanks, I'll take a look at everything and let you know when I'm ready for you again.

[2015-08-05 03:56] samreid commented on #55
oops wrong repo in the link above, should be https://github.com/phetsims/sherpa/issues/55

[2015-08-05 05:06] samreid commented on #215
Fixed and verified that the grunt output has no breaks between tasks. Closing.

[2015-08-05 05:06] #215 closed

[2015-08-05 05:07] samreid commented on #216
I'm not planning to work on this in the near future but I do want to hear other developers thoughts about this in Thursday's meeting.  I'll mark for developer meeting and unassign.

[2015-08-05 05:23] samreid opened #217 "Can global.phet.chipper.getBrandName be changed to global.phet.chipper.brandName?"
I don't see any reason why global.phet.chipper.getBrandName needs to be a function.  Would it be better as a property?

[2015-08-05 05:40] samreid commented on #156
Fixed above, using the brand identified in global.phet.chipper.getBrandName() and the text from @kathy-phet in #148

This is what the top of an interoperable HTML file looks like now:

[code]

It would be good for @kathy-phet to review the text above and make sure it is accurate and for @pixelzoom to review the code changes.

[2015-08-05 06:40] aaronsamuel137 commented on #213
OK to close this then, or is there still something you have in mind here?

[2015-08-05 06:51] aaronsamuel137 commented on #87
I used scp2 - a library based on a module ssh2. Almost all modules I came across were likewise based on ssh2. I selected this because it seemed like the simplest one that was (supposedly) cross platform.

I also noticed that scp2 uses an outdated version of ssh2, and that some bugs seemed to disappear when I upgraded to ssh2. I created an issue here: https://github.com/spmjs/node-scp2/issues/37. H

[2015-08-05 15:50] pixelzoom commented on #217
I don't see any obvious reason why it's a function, but I didn't create it.  Probably best to look at git history and consult with however added it.

[2015-08-05 15:52] pixelzoom commented on #213
It current just fails.  It would be better to test, print a warning, and bail for the problematic sim.

[2015-08-05 15:54] pixelzoom commented on #87
Having a grunt task that calls deploy-dev.sh seems a little redundant. Might as well just beef up the shell script and skip the grunt task, unless the grunt task is doing something the shell script can't.

Are there alternative scp libraries?

[2015-08-05 15:54] samreid commented on #217
According to git history @samreid created it.  I asked and he said "I don't see any reason why global.phet.chipper.getBrandName needs to be a function."  I'll switch it to a var.

[2015-08-05 15:55] pixelzoom commented on #217
:-)

[2015-08-05 15:59] samreid commented on #217
I’m wondering if you would prefer global.phet.chipper.brandName or global.phet.chipper.brand.

Part of me is wondering if in the future brand would become a strategy pattern (an instance of type Brand), this would mean using brandName for the string.  Or if we think we will always use `brand` as a string, it may be preferable to `brandName`

[2015-08-05 16:00] samreid commented on #87
It would just call bash `scp` not bash `deploy-dev.sh`.

[2015-08-05 16:03] samreid commented on #217
I'm going to go with `brand` for now.  We can change it later if necessary.

[2015-08-05 16:05] pixelzoom commented on #217
Either is fine with me.

[2015-08-05 16:06] samreid commented on #217
`brand` has a nice symmetry with --brand and ?brand, which are both strings, I'll continue with it.

[2015-08-05 16:07] samreid commented on #217
Tested a grunt with hookes-law and --brand=phet, everything seems ok.  I'll commit shortly.  Brace yourselves for commits across all of our sim repos.

[2015-08-05 16:11] aaronsamuel137 commented on #87
And it would also mkdir and create the .htaccess file if necessary. It would just do so with bash commands instead of a library. It would also import the username, dev-server name and path (or default to spot) from build-local.json.

I didn't see many other options out there. The main ones I see are:

1. https://github.com/mscdex/ssh2 - we could create an scp function with the ssh library that scp

[2015-08-05 16:14] samreid commented on #217
I also tested hookes-law requirejs mode with query parameters and didn't see anything amiss.  Closing.

[2015-08-05 16:44] pixelzoom commented on #87
Thanks for the clarification. Sounds like calling bash commands is the way to go.

[2015-08-05 16:52] pixelzoom commented on #217
Reopening.

This is a breaking change and should be announced to the Google Group.  Eg, quantum-bound-states (Emily Randall's project) is now broken.

[2015-08-05 17:02] samreid commented on #217
OK I'll write in on that thread.

[2015-08-05 17:04] samreid commented on #217
Thanks, I posted on this thread: https://groups.google.com/forum/#!topic/developing-interactive-simulations-in-html5/QIuJJLeLqEk

Closing.

[2015-08-05 17:04] #217 closed

[2015-08-05 17:29] samreid opened #218 "Public API for getting the mipmap original image dimensions"
During https://github.com/phetsims/brand/issues/16 I wanted to rescale other logos to be the same height as the PhET logo so they will fit nicely in the navbar.  However, the logo is loaded as a mipmap and hence has no height or width attribute.

@samreid asked:

[code]

@pixelzoom responded:

@samreid said:

@pixelzoom said:

@pixelzoom said:

@samreid said:

@pixelzoom said:

[2015-08-05 17:30] samreid commented on #218
It would be nice to create the scenery.Image with the correct dimensions when it is created, so I'm going to go with mipmap[0].height until we hear from @jonathanolson about whether this is public long term API or needs another approach.

[2015-08-05 17:39] samreid commented on #218
@jonathanolson said:

[2015-08-05 17:39] samreid commented on #218
Sounds good, closing.

[2015-08-05 17:39] #218 closed

[2015-08-05 18:02] jbphet commented on #136
This is an old ticket, but what I said above is still true, namely that I use this script to get back on master after doing a release, working on branches and such.  Is it okay to keep it, or should I be using something else?

[2015-08-05 18:10] pixelzoom commented on #136
Sounds potentially dangerous/confusing, but OK with me if we keep it.  It was problematic when brand required being on a non-master branch, but that's not the case anymore.

Closing.

[2015-08-05 18:10] #136 closed

[2015-08-05 19:52] pixelzoom commented on #156
Implementation looks good.

Is this TODO tracked elsewhere?

afterRequirejsBuild.js, line 208:
`var englishSimTitle = stringMap.en[ titleKey ] + ' ' + pkg.version; //TODO: i18n order`

[2015-08-05 20:16] samreid commented on #156
We will not be internationalizing the text for the HTML headers for the same reason we do not provide translations for our licensing pages.  I'll remove the TODO and close the issue.

[2015-08-05 20:16] samreid commented on #156
Just to be clear: the englishSimTitle var mentioned above only appears in the HTML header text comment.

[2015-08-05 20:18] samreid commented on #156
Fixed above and closing.

[2015-08-05 20:18] #156 closed

[2015-08-05 20:30] samreid commented on #175
I'll move forward with `window.phet.chipper.thirdPartyLicenses` but wanted to note that we decided our Font occurrences are actually more Lib-like, so we won't have a font category.

[2015-08-05 20:35] samreid commented on #175
Note: we are already using `window.phet.chipper.thirdPartyLicenses` but now we will nest lib/images/audio within it.

[2015-08-05 20:37] samreid commented on #175
I think I'll create a separate sub issue for the remainder of the work to make it clear what's happening.

[2015-08-05 20:38] samreid opened #219 "Consolidate third party licenses to one global in the HTML"
See https://github.com/phetsims/chipper/issues/175

It should look like so:

[code]

[2015-08-05 20:38] #175 closed

[2015-08-05 20:40] samreid commented on #177
Note: from #176 this should only get checked if brand==='phet'.

[2015-08-05 20:43] samreid commented on #181
I deleted simula-rasa/images/README.md in https://github.com/phetsims/simula-rasa/issues/5 and moved the documentation to getLicensingInfo.js in e4e9f2eee42ed0d17ef0fd7e88bf7f500a2d11f5

@pixelzoom can you take a look at your convenience?

[2015-08-05 20:45] samreid commented on #198
I tried deleting one of the repos and confirmed that the report bails with an error.  Thanks, closing.

[2015-08-05 20:45] #198 closed

[2015-08-05 20:46] samreid commented on #207
Based on the above discussion, I'm going to close this issue and create a new issue about parsing the HTML to obtain the sim-specific report.

[2015-08-05 20:46] #207 closed

[2015-08-05 20:48] samreid opened #220 "Parse the HTML to obtain the simulation third party licenses"
See https://github.com/phetsims/chipper/issues/207

Instead of a separate process and output file for the sim's 3rd party licenses, we are going to use the same plain js objects as reported in the HTML file.

[2015-08-05 21:04] samreid commented on #202
I think this will get solved in #212, closing.

[2015-08-05 21:04] #202 closed

[2015-08-05 21:05] samreid commented on #199
This will be addressed in https://github.com/phetsims/chipper/issues/220, closing.

[2015-08-05 21:05] #199 closed

[2015-08-05 21:07] samreid opened #221 "Generate a composite 3rd party license report from a list of URLs"
Using https://github.com/phetsims/chipper/issues/220 we should be able to iterate over HTML files to process their 3rd party license information.  Given a list of URLs, create a composite report.

[2015-08-05 21:08] samreid commented on #221
This will be similar to the createCompositeThirdPartyReport.js in intention and part of the implementation, but will work differently.

[2015-08-05 21:23] samreid commented on #176
Fixed above and tested by building build-a-molecule (which has license issues) for default brand and phet brand.  phet brand failed and adapted-from-phet succeeded. Closing.

[2015-08-05 21:23] #176 closed

[2015-08-05 21:25] samreid commented on #177
It actually seems like a lot of work to XHR load the license.json files to check this.  One of the troubles being how to find and download the right license.json file and then waiting for the results before proceeding (or I guess once results obtained, we could print an error then).  Can other developers (a) think of an easy way to do this or (b) ok if we only check this during builds?

[2015-08-05 21:49] samreid commented on #187
This is a rather large change and I'd like to get feedback from at least @jonathanolson.  I'll mark it for discussion at tomorrow's developer meeting.

[2015-08-05 21:49] samreid commented on #187
Unassigning to remove it from my TODO list, even though it will probably go back on my TODO list tomorrow after the developer meeting.

[2015-08-05 21:58] pixelzoom commented on #187
Yes, it is a lot of work. But I think this will fall into the "pay me now, or pay me later" category :)

[2015-08-06 00:19] aaronsamuel137 commented on #213
I've improved the error handling in build server based on your suggestions. Assigning to @pixelzoom for review.

[2015-08-06 03:38] samreid commented on #206
Fixed as described in the commit message above.  @aaronsamuel137 when you have time can you double check and see if there is anything else to do here?

[2015-08-06 03:42] samreid commented on #209
Since we are getting rid of the "create sim specific 3rd party licensing report", that frees us up to use a more concise name for the composite report.  I'm thinking of using `report-third-party`.

[2015-08-06 03:47] samreid commented on #209
Changed as described above, and tested with `grunt report-third-party` and `grunt` in hookes-law.  No anomalies noted.  Next up is `report-media`, standing in for `report-images-audio` thanks to #212.

[2015-08-06 03:57] samreid commented on #209
One more shortened above and tested in the same way.  Next I'm looking at getting rid of the internal-use-only licensing tasks `set-third-party-licenses` and `report-third-party-licenses`.

[2015-08-06 03:58] samreid commented on #209
I deleted them and grunt shows the HTML still looks correct.  I'll commit shortly.

[2015-08-06 04:00] samreid commented on #209
Changing generate=>create just shaves off 2 letters.  Worth it?  Let's find out at tomorrow's developer meeting.

[2015-08-06 15:21] aaronsamuel137 commented on #206
Changes look good to me. Closing.

[2015-08-06 15:21] #206 closed

[2015-08-06 16:43] pixelzoom commented on #213
:+1: Closing.

[2015-08-06 16:43] #213 closed

[2015-08-06 16:53] pixelzoom opened #222 "print a warning for media files that are annotated with "exception" field"
An "exception" field was added to license.json, as described in https://github.com/phetsims/john-travoltage/issues/82#issuecomment-127682789.   One bit that was not implemented and requires discussion:

There is currently no warning. My feeling is that there should be a warning, so that we're aware of the exceptions.

[2015-08-06 16:54] samreid commented on #210
Fixed above.  When we rename imageAndAudioLicenseInfo in #212 we can rename this as well.  I skimmed through the rest of chipper js as well and many of the other occurrences of `global` look like assignments.  One exception is mipmap.js which has:

[code]
where mipmapsToBuild is created in beforeRequirejsBuild.js.  However, in this case, the mipmap.js would immediately fail at the push call, I'm n

[2015-08-06 16:55] pixelzoom commented on #210
:+1: Closing.

[2015-08-06 16:55] #210 closed

[2015-08-06 17:01] pixelzoom commented on #181
:+1: Closing.

I tweak a few things in the license.json doc, @samreid review if you'd like.

[2015-08-06 17:01] #181 closed

[2015-08-06 17:09] samreid commented on #211
I moved imageAndAudioLicenseInfo to global.phet in the above commit.  Renaming it to *media will happen in #212.  @pixelzoom anything else here?

[2015-08-06 17:10] pixelzoom opened #223 "should unused media files result in an error or warning?"
Unused media files currently result in an error.  In reportUnusedImagesAndAudio.js, line 56:

`grunt.log.error( 'Unused resource: ' + key );`

Should this be a warning instead? Ie, `grunt.log.warn`.

[2015-08-06 17:13] samreid commented on #181
The tweaks look good to me.

[2015-08-06 17:16] pixelzoom commented on #211
:+1: Closing.

[2015-08-06 17:16] #211 closed

[2015-08-06 18:17] zepumph commented on #177
Consensus: 8/6 dev meeting. It is ok to have this at build time only.

[2015-08-06 18:17] #177 closed

[2015-08-06 18:22] zepumph commented on #184
Consensus 8/6 dev meeting: Try using exceptions for licenses. Each exception is printed as a warning. Also a warning if there are unused media file.

These are only being checked in the phet brand, so if you build it with the adapted from phet brand, then you wont have these issues.

[2015-08-06 18:23] #184 closed

[2015-08-06 18:24] pixelzoom commented on #223
Consensus at 8/6/15 dev meeting: Warn.

[2015-08-06 18:25] pixelzoom commented on #222
Consensus at 8/6/15 dev meeting: print warning.

[2015-08-06 18:34] pixelzoom commented on #187
We used to have field "requirejsNamespace", but it was deleted because unused.

Consensus 8/6/15 dev meeting:
• use "requirejsNamespace"
• no change to simTitleStringKey, OK to duplicate
• @pixelzoom will self-assign

[2015-08-06 18:40] zepumph commented on #195
Consensus 8/6 dev meeting: try to put this check into the lint phase, and if not make it a second check afterwards. Run it always during a build, like lint.

[2015-08-06 18:42] samreid commented on #195
Also, ok to add this and other code-reviewish things to the standard build, as long as they don't slow down the build.

[2015-08-06 18:45] samreid commented on #209
We decided to go with:

[code]

And delete `generate`, `create`, `make` where possible.

[2015-08-06 18:46] zepumph commented on #216
Consensus 8/6 dev meeting. Not a high priority!!

[2015-08-06 18:47] pixelzoom commented on #216
:+1: Closing.

[2015-08-06 18:47] #216 closed

[2015-08-06 19:19] samreid commented on #178
It seems like we are at a good point to review open issues on an issue-by-issue basis.  @pixelzoom can we close this one?

[2015-08-06 19:19] pixelzoom commented on #223
Changed to `grunt.log.warn`.  Sample output from making-tens:

[code]

[2015-08-06 19:31] pixelzoom commented on #178
Yep. Closing.

[2015-08-06 19:31] #178 closed

[2015-08-06 19:50] samreid commented on #221
It seems like there are several steps here:

1. enumerating the desired URLs
2. downloading the URLs
3. running the report over the local files

Step 1-2 will be difficult to test until after S2015R.  Perhaps we should start with step 3 and go from there.  Let's assume all of the HTML files to be examined are in a single directory, and that there are no other files in the directory.  In the future

[2015-08-06 20:27] samreid commented on #221
Initial work is above.  Next steps:
1. factor out string util
2. add explicit START and END marks for parsing
3. finalize the API so that S2015R redeploys will have consistent and stable API.

[2015-08-06 20:28] samreid commented on #221
Step 4: Re-enable the commit phase once we have a full report.

[2015-08-06 22:13] samreid commented on #219
Marking a S2015R since we need a stable API for this going forwards.

[2015-08-07 00:04] samreid opened #224 "convert getLicenseInfo to getLicenseEntry"
The current pattern for getLicenseInfo is that it returns an object with the following fields:

[code]

And the entry has
[code]

Having separate data types for this is growing confusing.  We should just have the entries, and at the point where the `classification` or `isProblematic` are needed, they should be returned from a function call.

[2015-08-07 00:06] samreid commented on #224
Calling getClassification() or isProblematic() twice won't be too performance-demanding, but if it is, we can cache the values privately.

[2015-08-07 00:25] samreid commented on #224
On the other hand, having getLicenseInfo does centralize this logic nicely...

[2015-08-07 00:29] samreid commented on #224
Another con if we make this change: it will be more difficult to know whether the license.json file is missing or if the file is present and the entry is missing.

[2015-08-07 00:31] samreid commented on #224
Ah yes, I'm remembering another reason I did it this way (the getLicenseInfo way)--this code has to run at build time and requirejs time, and requires exports and define declarations.

[2015-08-07 02:43] samreid commented on #221
We should also change setThirdPartyLicenses from a task to a function and give it a better name.

[2015-08-07 03:18] samreid commented on #221
Status update: My working copy is filled with numerous changes in 15 files across chipper.  I converted getLicenseInfo to getLicenseEntry and I have the output in the form prescribed in https://github.com/phetsims/chipper/issues/219 .  I also added tokens to simplify parsing of the HTML file to create a composite report and that is working well.  I've also taken many steps toward #212, though much

[2015-08-07 12:42] samreid commented on #221
@phetsims/ashrafsharf notified me there is a linting error in the use of eval() so I'll test that lint is fixed now and push changed (even though more work remains to be done).

Still to do:
1. parsing json in reportThirdParty.js
2. handling audio suffixes in audio.js
3. documentation & cleanup

lint + build pass for hookes-law and making-tens and both versions launch (requirejs and nonrequirejs)

[2015-08-07 12:45] samreid commented on #221
Fix pushed above.  Large commit message so I'll copy it here:

[2015-08-07 12:52] samreid opened #225 "Warning: missing preferences file undefined/.phet/build-local.json Use --force to continue."
@phetsims/ashrafsharf reported the following error

[code]

[2015-08-07 12:53] samreid commented on #225
Workaround is to set HOME and make sure you have the file HOME/.phet/build-local.json

[2015-08-07 12:55] samreid commented on #225
I was able to reproduce the problem after doing `unset HOME` in bash.

[2015-08-07 12:57] samreid commented on #225
I'm seeing 2 problems here:

1. The preferences file as well as having a HOME is mandatory?
2. `var PREFERENCES_FILE = process.env.HOME + '/.phet/build-local.json';` is duplicated in several files

[2015-08-07 12:58] samreid commented on #225
--force doesn't work around the problem at hand

[2015-08-07 13:04] AshrafSharf commented on #225
Ok. Setting the HOME env variable and having a empty ({}) build-local.json fixed this problem.

[2015-08-07 13:09] samreid commented on #225
Thanks @AshrafSharf. I also pushed a change above so that neither a HOME directory or build-local.json is required for builds (not sure if other developers or build servers have those).

Reassigned to @pixelzoom. I recommend to:
(a) evaluate at the changes above
(b) factor out an abstraction for BuildLocalPreferences instead of duplicating these four lines in several files:

[code]
(c) the abstrac

[2015-08-07 13:37] samreid commented on #221
Does LicenseEntryClassifier.js need a requirejs implementation?

[2015-08-07 13:38] samreid commented on #221
Add the sim versions in the composite report.

[2015-08-07 13:40] samreid commented on #221
There is a little logic duplicated in image.js/audio.js and mipmap.js

[2015-08-07 13:41] AshrafSharf commented on #225
@samreid Running "after-requirejs-build" task now results in
Fatal error: Cannot read property 'projectURL' of null

[2015-08-07 13:41] samreid commented on #221
I finished reviewing the changes in the big diff and didn't see any other places that require documentation.

[2015-08-07 13:44] samreid opened #226 "Running "after-requirejs-build" task now results in Fatal error: Cannot read property 'projectURL' of null"
@phetsims/ashrafsharf reported

[2015-08-07 13:44] samreid commented on #225
@AshrafSharf that is a separate issue, I'll see you over in #226

[2015-08-07 13:46] samreid commented on #226
Since I do not see the problem, I presume you have changes in your working copy?

The issue seems to be related to the new requirement that each image/audio must have an entry in the associated license.json file.  Have you added any new image/audio files that don't have an entry in the license.json?  I'll look into making a better error message.

[2015-08-07 13:48] samreid commented on #226
By removing a license.json entry for a used image, I was able to reproduce the error.

[2015-08-07 14:00] samreid commented on #226
Above, I am only checking the license entries when using the phet or phet-io brands, and improved the error message.  I tested `grunt --brand=phet` and `grunt` with and without missing license.json entries and all seems well.  @phetsims/ashrafsharf can you test?

[2015-08-07 14:34] AshrafSharf commented on #226
There are 27 images in the project and the licence.json now has all the entries for them. I am still getting this error. The project uses a audio file indirectly through GameAudioPlayer  component from Vibe( but  no direct audio file is imported in MakingTens itself)

[2015-08-07 14:51] pixelzoom commented on #225
Thanks for taking care of this. I copied the build-local.json from deployDev.js, but didn't consider the fact that deployDev requires the file (for authentication) but brand specification should be optional.

[2015-08-07 14:59] samreid commented on #225
I made 3 recommendations in https://github.com/phetsims/chipper/issues/225#issuecomment-128695450 that still need to be completed.  @pixelzoom If you would like I can put them on my TODO list.

[2015-08-07 15:00] samreid commented on #226
Can you help me reproduce the problem?  Make sure you don't have any uncommitted files and let me know exactly what grunt command you are using?  And this is for making-tens, right?

[2015-08-07 15:04] samreid opened #227 "Does LicenseEntryClassifier.js need a requirejs implementation?"
From #221

[2015-08-07 15:04] samreid opened #228 "Add the sim versions in the composite report."
From #221

[2015-08-07 15:04] samreid opened #229 "duplicated code in media plugins"
From #221

[2015-08-07 15:05] samreid commented on #221
I moved the notes above to separate issues.  We can close this issue after testing with >1 HTML file for the build.

[2015-08-07 15:07] samreid commented on #221
I tested with 2 HTML files and it worked out nicely.  I'll move the remaining issues of "download all published HTML files" to a separate issue.

[2015-08-07 15:08] samreid opened #230 "Add a script to download all HTML files"
For #221 we need a way to download all HTML sim files on the website.  After doing that *and* after S2015R sims are all redeployed, we should use it to generate a new report.

[2015-08-07 15:09] samreid commented on #230
Unassigning this since S2015R completion is quite a ways away.

[2015-08-07 15:09] samreid commented on #221
I moved the outstanding issue to #230, closing.

[2015-08-07 15:09] #221 closed

[2015-08-07 15:12] samreid opened #231 "Convert build-no-lint to build --lint=false"
It seems like things would be a bit simpler if --lint=false was moved to an option (instead of a task).  @pixelzoom @jbphet @jonathanolson @aaronsamuel137 @jessegreenberg is that OK with you?  If there is no quick consensus here, we can mark for developer-meeting.

[2015-08-07 15:12] pixelzoom opened #232 "create an abstraction for build options"
... as recommended in https://github.com/phetsims/chipper/issues/225#issuecomment-128695450.

[2015-08-07 15:13] pixelzoom commented on #225
Recommendations sound good, broken out into https://github.com/phetsims/chipper/issues/232.  Currently assigned to me.

@samreid Anything else to do here?

[2015-08-07 15:14] pixelzoom commented on #232
The earliest I can get to this is Monday 8/10.

[2015-08-07 15:15] aaronsamuel137 commented on #231
I'm fine with ```build --lint-false```. If we make this change, it will need to be changed in build-server too, since it currently uses ```grunt build-no-lint```

[2015-08-07 15:15] pixelzoom commented on #231
Sounds like a nice change.

[2015-08-07 15:30] samreid commented on #209
Fixed for generate-published-README above.  Note that this causes a bit of a file difference for the task name vs js file name, but I don't see a good way around that.

The longest names are now:

[code]

[2015-08-07 15:33] samreid opened #233 "Consolidate thumbnail tasks"
In #209 I noticed that we have 3 thumbnail tasks:

[code]

Do we really need all 3 tasks?  Can we simplify things by just generating all of the thumbnails in one task?  Also, based on #209 can we rename the task from generate-thumbnails to simply `thumbnails`?  Or is this problematic because it creates a schism between the task name and the JS filename?

[2015-08-07 15:35] samreid commented on #209
I can't think of a good shortening of the longest name "before-requirejs-build".  @pixelzoom @jbphet @jonathanolson can we leave this as is or still try to shorten things?

[2015-08-07 15:38] AshrafSharf commented on #226
@samreid - Took the latest chipper again, the grunt command finished without any errors. Thanks.

[2015-08-07 15:39] samreid commented on #226
Hooray!  Thanks for checking, I'll close the issue.

[2015-08-07 15:39] #226 closed

[2015-08-07 15:50] samreid commented on #212
I think I got all of the occurrences above, but would appreciate a double-check.

[2015-08-07 15:56] samreid commented on #212
More fixes appear above.

[2015-08-07 15:57] samreid commented on #212
I went through the above list and I think I got everything that was mentioned there.  I also tested grunt on hookes-law and grunt report-media and grunt report-third-party:build and didn't see any issues.

[2015-08-07 15:59] samreid commented on #219
Fixed above and it looks as described in the issue description.  @pixelzoom can you please review at your convenience?

[2015-08-07 16:00] samreid commented on #220
These are being parsed wonderfully in grunt report-third-party. Reassigned to @pixelzoom for review.

[2015-08-07 16:01] aaronsamuel137 opened #234 "add authorization to build server"
build-server.js needs some way of authorizing legitimate requests from phet. I discussed with @jonathanolson creating password in build-local.json and sending it vis HTTPS.

[2015-08-07 16:06] samreid commented on #224
Completed above and things are much simpler now.  Reassigning to @pixelzoom for review & discussion.

[2015-08-07 16:10] samreid commented on #227
Fixed above, @pixelzoom can you make sure this makes sense?

[2015-08-07 16:14] samreid commented on #229
image and mipmap are very similar, but audio is a bit different because it uses a suffix-less name to load files with two suffixes.  @pixelzoom can you review this duplicated code and suggest a way to factor it out, or if you recommend to leave it as is?

Here is the copied code:
**image.js**
[code]

**mipmap.js**
[code]

**audio.js**
[code]

[2015-08-07 16:15] samreid commented on #228
Better yet, let's parse out the entire `<title>` for the human readable name + version.

[2015-08-07 16:15] samreid commented on #228
Even if this changes in the future, it seems like what we should use in the report.

[2015-08-07 17:25] samreid commented on #228
Did the "used by" field get dropped?

[2015-08-07 17:51] samreid commented on #194
I think this was addressed in #212, closing.

[2015-08-07 17:51] #194 closed

[2015-08-07 17:52] samreid commented on #228
This is working well, the sim titles are now reported.  Closing.

[2015-08-07 17:52] #228 closed

[2015-08-07 19:01] samreid commented on #195
Apparently you cannot add your own logic and checks into jshint 2, but this may be coming in jshint 3: http://jshint.com/blog/jshint-3-plans/

It seems like an alternative that provides the "add your own logic" feature is eslint:
https://gist.github.com/jareware/7179093

It seems popular enough that it might be worth investigation:
https://github.com/eslint/eslint

I'll create a separate issue.

[2015-08-07 19:03] samreid opened #235 "Investigate ESLint"
In #195 we determined that JSHint does not provide support new linting rules or tests.  However, it seems like https://github.com/eslint/eslint is becoming very popular and it looks like it has backward support for JSHint rules and the ability to add your own rules.

If we are going to be adding more of our lint style rules like in #195 then we may want to invest in ESLint.  No plans to look into

[2015-08-07 19:09] samreid commented on #195
Notes in eslint suggest this may not be coming in jshint 3.

[2015-08-07 19:10] samreid commented on #195
Even the simplest task of unifying the files tested by jshint and our own custom logic seems daunting.

[2015-08-07 19:48] jbphet commented on #209
I think "before-requirejs-build" is probably short enough (I ran ```grunt --help``` and found the output quite readable), but you could always try pre-requirejs-build and gen-xxx-screenshot if you think shaving a few more characters off would be helpful.

[2015-08-08 02:23] samreid commented on #227
It does need it for builds with brand==phet, as @jbphet discovered.  Fixed above.

[2015-08-08 02:53] samreid commented on #195
I'm fixing the issues above manually.  I tested each fixed sim by launching the non-built version in the browser and looking for issues.  I couldn't get energy-forms-and-changes or gene-expression-basics to launch, so I'm omitting those changes, which ideally will be caught during code review anyways.  Neuron was in a debugger-ish sort of code, so I left it since it will probably be eliminated.  R

[2015-08-08 02:56] samreid commented on #195
In my opinion it would be awkward for us to add lint-ish rules completely separately from our lint checker.  I recommend investigating eslint in #235 and if that works, we can try adding a rule for "Require statement names should match".  Otherwise this may be best left for manual review or running a script like the above in controlled circumstances.

[2015-08-08 02:56] samreid commented on #195
Not planning to work on this further, so unassigning.

[2015-08-08 02:58] samreid commented on #209
I also things are looking good as they are now, closing.

[2015-08-08 02:58] #209 closed

[2015-08-08 03:03] samreid commented on #231
That is enough upvotes for me, let's go for it.  I'll assign it to @samreid to get it done, then over to @aaronsamuel137 to update and test the build server afterwards.

[2015-08-08 03:35] samreid commented on #225
#232 seems like a good place to continue.  Nothing else to see here, move along.

[2015-08-08 03:35] #225 closed

[2015-08-08 04:16] samreid commented on #231
Fixed above.  Here's a log of my test which looks correct:

[code]

[2015-08-08 04:17] samreid commented on #231
@aaronsamuel137 it looks like the change in build-server.js will be straightforward but I didn't know how to deploy the changes, whether I need to stop a process, or anything like that, so can you take care of it and let me know what you had to do, so I could do it next time if necessary?

[2015-08-10 15:40] pixelzoom commented on #232
Perhaps we should also have a BuildOptions abstraction, which handles reading both build-local.json and grunt.option.  This would handle default values, and would ensure that precedence is handled correctly, and in one place.

Eg in beforeRequirejsBuild.js, this:

`global.phet.chipper.brand = grunt.option( 'brand' ) || preferences.brand || 'adapted-from-phet';`

would become:

`global.phet.chipper

[2015-08-10 15:41] samreid opened #236 "Missing or empty entries lead to blank lines in the report"
https://github.com/phetsims/sherpa/issues/57#issuecomment-129497776

@pixelzoom said:

[code]

[2015-08-10 16:03] pixelzoom commented on #227
Questions:

1. Why does the name of this looks like a type?
2. isAcceptable is not used outside of LicenseEntryClassifier. Does it need to be part of the public API?
3. The API is a pair of functions that return the inverse boolean of each other. Why can't this just a `isLicenseOK` function that returns true or false? Seems too complicated.
4. Does this apply only to media licenses? If so, the nam

[2015-08-10 16:20] pixelzoom opened #237 "getLicenseEntry returns null for 2 different cases"
getLicenseEntry return null if the license.json file isn't found, or if the media file doesn't have an entry in the file (see below).  Since `grunt report-media` has a `missing-license.json` problem type, I'm guessing that we need to differentiate between those 2 cases.  How is that done?

[code]

[2015-08-10 16:23] samreid commented on #237
In getting rid of the license info type in #224 we have also removed the ability to distinguish between missing license.json and "license.json exists but the entry is missing".  I considered adding separate return values to distinguish between those issues (such as string literals) but decided the complexity of returning a variety of different types from getLicenseEntry wasn't worth it.   OK with

[2015-08-10 16:23] pixelzoom commented on #224
I updated some doc and variable names.  The one significant issue I see is noted in #237 (getLicenseEntry returns null for 2 different cases).

In Skype, we discussed renaming this to getMediaLicenseEntry, since it's currently only applicable to media licenses.  But @samreid said:

[2015-08-10 16:24] pixelzoom commented on #223
Since this was a trivial change and we had consensus, I'm going to close. If anyone want to review, go for it.

[2015-08-10 16:24] #223 closed

[2015-08-10 16:25] aaronsamuel137 commented on #233
I've consolidated this into one grunt task that generates both thumbnails. Assigning to @samreid for review.

[2015-08-10 16:28] pixelzoom commented on #237
Yes, please change docs in Gruntfile.js and reportMedia.js.  The return value in getLicenseEntry should also describe the cases where it returns null.

[2015-08-10 16:29] samreid commented on #233
I reviewed it but didn't run it.  Looks good.

[2015-08-10 16:29] #233 closed

[2015-08-10 16:30] samreid commented on #232
Yes, that seems reasonable.

[2015-08-10 16:33] aaronsamuel137 commented on #231
I've updated the call to grunt build-no-lint in build-server and restarted the server. I can go over how to restart the server with you at dev meeting sometime or on a call. It's not difficult, but you'll need to be sure you have the correct info in your build-local.json on figaro if it is going to be running under your username.

[2015-08-10 16:35] aaronsamuel137 commented on #234
This has been implemented and deployed. Assigning to @jonathanolson to review during his review of build-server.

[2015-08-10 16:35] pixelzoom commented on #227
The current implementation of LicenseEntryClassifier also makes it difficult to print a warning for media files that have an "exception" annotation without having to check the "exception" field again. Eg, here's what we'd have to do in audio.js:

[code]

[2015-08-10 16:37] aaronsamuel137 commented on #87
These tasks have been updated. I'll wait until they get some testing before closing. I think @jbphet mentioned he would be needing to use both grunt deploy-dev and deploy-production in the near future.

[2015-08-10 16:38] pixelzoom commented on #222
Should this warning be printed when the file is loaded by the media plugin? Or only by `grunt report-media`?

[2015-08-10 16:40] samreid commented on #224
@pixelzoom would it be OK to leave it as is?  Named as getLicenseEntry and able to load a license entry for any file (code/image/audio/etc), though currently only used for media.

[2015-08-10 16:44] pixelzoom commented on #227
Other possible names for this... isCompatibleLicense, isValidLicense

[2015-08-10 16:46] samreid commented on #227
I thought it would have more public "static" style methods.  I think we can change it to a function now.

I don't think so.

Let's just use `isLicenseEntryAcceptable`

Currently only used by media, but I recommend to leave it general for unification of code/media in the future.

What is the difficulty of having to check the exception field again?  I didn't understand the problem.

[2015-08-10 16:46] pixelzoom commented on #224
Fine with me. Anything else here?

[2015-08-10 16:46] samreid commented on #227
To clarify, let's rename the file to isLicenseEntryAcceptable.js as well.

[2015-08-10 16:47] samreid commented on #224
Not that I am aware of. Closing.

[2015-08-10 16:47] #224 closed

[2015-08-10 16:48] samreid commented on #231
I think as long as n>=2 people on our team know how to do it, it is ok.  @pixelzoom do you want to review the implementation of --lint=false?

[2015-08-10 16:53] pixelzoom commented on #227
It seems like the thing deciding whether the license is acceptable should also be responsible for issuing the warning.  Ie, isLicenseEntryAcceptable should note "the license isn't really compatible, but there's an exception annotation, so we'll let it slide. but we will note that with a warning message".  Instead, you're requiring every client who calls isLicenseEntryAcceptable to also decide whet

[2015-08-10 16:55] samreid commented on #237
Fixed above, please review.

[2015-08-10 16:57] samreid commented on #227
Inside isLicenseEntryAcceptable seems like a good place to put this warning.  Please proceed or reassign to me if I should take care of it.

[2015-08-10 16:57] pixelzoom commented on #231
`--lint` option is not described in the help for the `build` task.

[2015-08-10 16:58] pixelzoom commented on #227
Do you want me to rename and reimplement LicenseEntryClassifier.js too?

[2015-08-10 16:59] samreid commented on #227
No preference who does this, feel free to proceed or let me know if I should.

[2015-08-10 16:59] samreid commented on #87
I tested grunt deploy-dev a few times and had a positive experience.

[2015-08-10 17:00] samreid commented on #222
I recommend (a) during a build and (b) during `grunt report-media`.  Not when loaded in dynamic requirejs non-built mode (to match other conventions).

[2015-08-10 17:02] pixelzoom commented on #237
Doc added another reference to "asset" that should be "media", I changed it. Feel free to review.

Closing.

[2015-08-10 17:02] #237 closed

[2015-08-10 17:03] pixelzoom commented on #227
I'll take it on.

[2015-08-10 17:03] samreid commented on #231
Added above, anything else?

[2015-08-10 17:03] samreid commented on #227
Thanks, good luck!

[2015-08-10 17:29] samreid opened #238 "Build should fail when license info is unacceptable and brand = phet or phet-io"
This used to be working but must have been disturbed recently.

[2015-08-10 17:30] samreid commented on #238
Fixed above, closing.

[2015-08-10 17:30] #238 closed

[2015-08-10 17:48] samreid commented on #236
When text or project url is null, it will be replaced with text like "no text" or  "no project url".  I'll commit shortly.

[2015-08-10 17:49] samreid commented on #236
Fixed above, reassigning to @pixelzoom since he originally reported the issue.

[2015-08-10 18:13] pixelzoom opened #239 "improve error messages for unacceptable license entries"
Testing recent changes to media licensing, I noticed that the error message for "unacceptable" licensing are not very friendly.

For example... I changed `projectURL` for the first entry in beers-law-lab/images/license.json to something incompatible with PhET, like this:

[code]

Here's the messy/verbose error message that I get at build time:

[code]

The bit that's important is buried in there:

[2015-08-10 18:13] pixelzoom commented on #239
Note that this problem existed before I start refactoring https://github.com/phetsims/chipper/issues/227.

[2015-08-10 18:22] pixelzoom opened #240 "refactor LicenseEntryClassifier.js as isAcceptableLicenseEntry.js"
... as described in https://github.com/phetsims/chipper/issues/227:

• rename to isAcceptableLicenseEntry.js
• return a function instead of a collection of static functions
• handle the brand test

[2015-08-10 18:25] pixelzoom opened #241 "test for existence of brand directory when phet.chipper.brand is set"
... instead of leaving this to fail at a later point with a not-so-clear error message.

[2015-08-10 18:38] pixelzoom commented on #241
Added assertion after phet.chipper.brand assignment:

[code]

Sample error message:

[code]

Assigning to @samreid for verification.

[2015-08-10 18:41] pixelzoom commented on #222
In https://github.com/phetsims/chipper/issues/227#issuecomment-129524984, we decided to put the warning message in isAcceptableLicenseEntry.js.   The problem with that is that it's called from media plugins, doesn't have access to the grunt instance, so can't do `grunt.log.warn` during a build.  I've temporarily put in `console.log` until we decide what to do here.

[2015-08-10 18:44] pixelzoom commented on #236
If you're going to default `text` to "(no text)" and `projectURL` to "(no project URL)",  then perhaps `notes` should be defaulted to "(no notes)".  They are all required fields, so they should be handled consistently.

[2015-08-10 18:47] pixelzoom commented on #231
Doc tweaked, "linting sub-task" to "lint sub-task", because there is no "linting" subtask.

Closing.

[2015-08-10 18:47] #231 closed

[2015-08-10 18:48] pixelzoom commented on #227
Original work of this issue was completed.  Moved additional refactoring to #240.  Closing.

[2015-08-10 18:48] #227 closed

[2015-08-10 19:04] pixelzoom commented on #212
Did a cursor skim of files in chipper/grunt/js, looks good, thanks for doing this. Closing.

[2015-08-10 19:04] #212 closed

[2015-08-10 19:06] pixelzoom commented on #219
Looks like the global name is actually `window.phet.chipper.thirdPartyLicenseEntries`.  Was the name change intentional?

[2015-08-10 19:13] pixelzoom commented on #219
I built gravity-and-orbits, ran it in Chrome, and inspected the global in the console. Looks good.

The global name is actually window.phet.chipper.thirdPartyLicenseEntries. Was the name change intentional?

[2015-08-10 19:14] pixelzoom commented on #239
Not sure what to do about this. Unassigning and labeling as "developer-meeting".

[2015-08-10 19:14] pixelzoom commented on #240
This is done. Over to @samreid for review.

[2015-08-10 19:21] pixelzoom commented on #220
I built gravity-and-orbits and wanted to generate a 3rd-party report for its HTML file only.  So I tried this:

[code]

Then I tried this:

[code]

What am I doing wrong?

[2015-08-10 19:25] pixelzoom commented on #220
Ah... No output dir perhaps?  Let's try:

[code]

[2015-08-10 19:25] samreid commented on #239
I presumed (but wasn't sure) that this is the usual sort of error printout when an error occurred during r.js build.

[2015-08-10 19:27] pixelzoom commented on #220
Ah, so it's reporting `Task "/Users/cmalley/Downloads/html-files/" not found`, so thinks the args are task names. What are the options for specifying the required arguments that are noted in `grunt --help`.

[2015-08-10 19:42] samreid commented on #219
Yes, I chose "licenseEntries" rather than "licenses" because there is more each entry than just the license.

[2015-08-10 19:47] samreid commented on #220
Required arguments are passed using a colon:
http://gruntjs.com/api/grunt.task

[2015-08-10 19:55] samreid commented on #236
Fixed above, see commit message.

[2015-08-10 20:06] #219 closed

[2015-08-10 20:07] #236 closed

[2015-08-10 20:10] samreid commented on #240
Looks like there is a new problem in loading sims with audio.  Not sure if it was caused by this work or not.  I'll investigate.

[2015-08-10 20:10] samreid commented on #240
[code]

[2015-08-10 20:11] samreid commented on #240
I think I have found the error, a missing !.  Testing and will commit shortly.

[2015-08-10 20:13] samreid commented on #240
Bug was introduced in d1485e9d934139887586bba5c2820239a5c79856

[2015-08-10 20:14] samreid commented on #240
Fixed above.  I didn't see any other issues when I reviewed the changes above.  Closing.

[2015-08-10 20:14] #240 closed

[2015-08-10 20:14] pixelzoom commented on #187
requirejsNamespace has been added to all package.json files, and reportUnusedMedia.js has been modified to use it instead of stripping the prefix off of simTitleStringKey.

Assigning to @jonathanolson for review.

[2015-08-10 20:15] samreid commented on #241
tested with grunt --brand=hello and the change set looks good.  Closing.

[2015-08-10 20:15] #241 closed

[2015-08-10 20:21] pixelzoom commented on #220
`grunt --help` says:

[code]

This indicates 2 required args, the input directory for the .html files, and the output directory for the report (assuming that's what's mean by "the report HTML directory").  I was unable to get the report to appear anywhere other than in my working copy of sherpa.

For example:

[code]

If "the report HTML directory" is only required when the `--copy-from-build` opt

[2015-08-10 20:22] pixelzoom commented on #240
Thanks for catching that.

[2015-08-10 20:23] pixelzoom commented on #222
I don't know how to proceed with this. Unassigning and labeling as "developer-meeting".

[2015-08-10 20:25] pixelzoom commented on #232
Should we have both BuildLocal and BuildOptions (which uses BuildLocal), or handle it all in BuildOptions?

[2015-08-10 20:25] pixelzoom commented on #232
Should we have both BuildLocal and BuildOptions (which uses BuildLocal), or handle it all in BuildOptions?  I'm leaning towards BuildOptions only, unless we need to check BuildLocal independently.

[2015-08-10 20:26] samreid commented on #220
Let me have a try at fixing that documentation.

[2015-08-10 20:31] samreid commented on #220
In writing the documentation, I realized that Windows developers could have trouble passing options to grunt on the command line if the path contains a colon (like C:/mydirectory).  We may need to change this to a "required" "optional" argument to work around this issue.

[2015-08-10 20:34] pixelzoom commented on #220
On bash, I also ran into trouble when trying to use '~' in paths, e.g. ~/Downloads/html-files.  Didn't try '..' or '.' to see if they were resolved properly.

[2015-08-10 20:39] samreid commented on #220
Proposed documentation:

[code]

[2015-08-10 20:40] samreid commented on #220
If the proposed documentation sounds good to @pixelzoom I'll implement it as described.

[2015-08-10 20:40] pixelzoom commented on #232
Recommendations on how to structure this so that it's usable by the build process, build-server, etc?

[2015-08-10 20:42] pixelzoom commented on #229
This bit was encapsulated isAcceptableLicenseEntry by https://github.com/phetsims/chipper/issues/240:

`if ( (phet.chipper.brand === 'phet' || phet.chipper.brand === 'phet-io') && LicenseEntryClassifier.isProblematic( licenseEntry ) ) `

[2015-08-10 20:48] pixelzoom commented on #220
Questions/comments:

(1) No option for where the report is written? What if I have chipper checked out so I can run the report on a set of html files, but don't have sherpa checked out?

(2) Instead of `--copy-from-build`, how about `--active-runnables`?

(3) `--path` seems quite generic. If we're going to go generic (which might be ok), then maybe `--inputPath`, so we can also have `--outputPath`

[2015-08-10 20:51] pixelzoom commented on #220
(5) If I use `--copy-from-build`, does it clean the directory before copying files? Or might I end up with some html files that were hanging around from the last time I used the same directory?

[2015-08-10 21:00] pixelzoom opened #242 "plugins don't identify the problem media file"
If an image file has an unacceptable license entry, image.js and mipmap.js don't identify the file in the error message. All we get is "unacceptable license entry".  For example, here's an example where I inserted an unacceptable entry into acid-base-solutions/images/license.json.  You have to look at ToolsControl to see what images it's loading, and if it's loading >1, you'll have to examine all

[2015-08-10 21:04] pixelzoom commented on #229
@samreid The code is indeed identical for image.js and mipmap.js.  Is there any reason why it needs to differ for audio.js?  Ie, why does audio.js need to build up and error string instead of using the error-per-file approach in the other plugins?

[2015-08-10 21:13] samreid commented on #242
We could add the plugin name (includes repo name and relative path) to the error message.  Do you think this would be sufficient?

[2015-08-10 21:15] samreid commented on #229
Audio plugins typically use the "suffix-less" version, and it automatically finds all of the exact files with the appropriate suffixes.

[2015-08-10 21:21] pixelzoom commented on #242
https://github.com/phetsims/chipper/issues/239 covers improving the overall error messages. Identifying the media file in the error message would be a good first step. audio.js already seems to do that:

`errorString += 'unacceptable license entry for ' + urlList[ i ].url;`

... though I'm not clear on what urlList is, or why there's errorString is a concatenation of licenseEntries, instead of hav

[2015-08-10 21:23] pixelzoom commented on #242
Might as well clean up audio.js too.  If there errorString is indeed needs to be a concatenation for some reason, there is currently no separator between error messages.  So you'll get (for example):

`unaccepable license entry for someURLunaccepable license entry for someURL`

[2015-08-10 21:25] pixelzoom commented on #229
Hmmm... So what goes in audio/license.json? Is the entry suffix-less, to denote a collection of files? Or is there a license entry for each file?

[2015-08-10 21:33] pixelzoom commented on #229
Answered my own question by looking at john-travoltage/audio/license.json.  There is an entry per media file. That seems redundant. But if we're going to do with that, what is the advantage of concatenation error message, rather than having 1 error message per audio file?

[2015-08-10 21:35] pixelzoom commented on #229
And if there are advantages, are they worth the difficulties involved in trying to factor out duplicate code from this section of audio.js, see https://github.com/phetsims/chipper/issues/229.

[2015-08-10 21:47] pixelzoom opened #243 "expand doc for build-server"
The current overview of build-server.js is:

[code]

Recommend expanding this documentation, including:

• What does it build and deploy?
• How is it intended to be run?
• How is it started and stopped?
• (anything else we need to know?)

[2015-08-10 21:57] pixelzoom opened #244 "global.phet.chipper.brand vs phet.chipper.brand?"
In grunt/js/, I see `global.phet.chipper.brand` and `phet.chipper.brand` used interchangeably.  For example, beforeRequirejsBuild.js and afterRequirejsBuild.js use both.  Media plugins use  `phet.chipper.brand`, but use `global.phet.chipper` for other globals.

Should we use `global.phet.chipper.brand` throughout for consistency?

[2015-08-10 21:57] pixelzoom commented on #244
string.js also uses `window.phet.chipper.getQueryParameter` and `phet.chipper.getQueryParameter` interchangeably.

[2015-08-10 21:58] pixelzoom commented on #244
Note that `global.phet` and `window.phet` are 2 different global namespaces.

[2015-08-10 22:04] pixelzoom commented on #230
Do you mean downloading the latest version of each html sim, as identified by `RewriteRule latest` in the sim's .htaccess file?

[2015-08-10 22:08] pixelzoom commented on #173
Or perhaps there should be a license.json file in the assets/ directory? There's currently no information about where the assets came from.

[2015-08-10 22:10] pixelzoom commented on #133
@samreid I think you recently converted several tasks to functions. Is there anything more to do here?

[2015-08-10 22:11] pixelzoom commented on #132
@jonathanolson On May 22 (immediately above), you indicated that you were done with #131 and were waiting to commit.  What is the status?

[2015-08-10 22:13] pixelzoom commented on #22
Since we have deploy-dev and deploy-production tasks implemented, this issue feels old/stale.  @jonathanolson is there anything that needs to be done, or any request that isn't satisfied elsewhere?

[2015-08-10 22:18] pixelzoom commented on #157
I would do this, but it's a pain to run and test.

Delete constant `SAM_PATH` and change:

`String filename = ( args.length > 0 ) ? args[0] : SAM_PATH;`

to:

[code]

[2015-08-10 22:22] jonathanolson commented on #22
Yup, closing.

[2015-08-10 22:22] #22 closed

[2015-08-10 22:25] jonathanolson commented on #132
It'll be a manual merging process to take my changes (made from the SVN version) and put them together (or replace) the git version that I was unaware of. Files in the gists linked.

[2015-08-10 22:28] pixelzoom commented on #242
I took a stab at this. Not crazy about `'..'` in the paths (e.g. `/Users/cmalley/PhET/GitHub/scenery-phet/js/../images/faucet_track.png`), but it's better than having no idea which file caused the error.

[2015-08-10 22:30] pixelzoom commented on #242
Sample error message for the same case as https://github.com/phetsims/chipper/issues/242#issue-100167786:

[code]

[2015-08-10 22:38] pixelzoom opened #245 "media plugins use console.log"
Related to https://github.com/phetsims/chipper/issues/222...

image.js, mipmap.js and string.js are called during the build process, where we want all logging to go through `grunt.log`.  They currently do `console.log`.

[2015-08-10 22:44] pixelzoom opened #246 "suspicious output from "grunt lint-all""
This looks wrong. For chipper, `grunt lint` hits 31 files, while `grunt lint-all` only hits 3.

[code]

Is the "all files" list forgetting to include the repo's files, and including only dependencies?  Is this happening for other repos?

Not sure if this is related to recent lint changes in https://github.com/phetsims/brand/issues/24 or https://github.com/phetsims/chipper/issues/231, but assigning

[2015-08-10 22:50] pixelzoom commented on #246
The files to lint are configured in the main Gruntfile.js, variables `repoFilesToLint` (for `lint` task) a d and `allFilesToLint` (for `lint-all` task).  Printing those variables to the console:

[code]

So allFilesToLint is indeed missing the repo files.

[2015-08-10 22:53] pixelzoom commented on #246
For `grunt lint` in hooks-law, things look OK, `../hookes-law/js/**/*.js` is included in allFilesToLint.

[code]

[2015-08-10 22:59] pixelzoom commented on #246
This problem has been around for a long time, introduced in d08fbdc.  Here's how pkg.phetLibs is set in Gruntfile.js:

[code]

So if the repo doesn't define `phetLibs` (which is optional) in its own package.json, then it won't get the `phetLibs` that are defined in chipper/build-local.json and are supposed to be included for all sims.

[2015-08-10 23:05] pixelzoom commented on #246
Fixed. Here's the lint output for chipper:

[code]

[2015-08-10 23:08] pixelzoom commented on #246
Assigning to @samreid to verify, since he's the other developer who's been most recently working with lint.

[2015-08-11 01:22] samreid commented on #232
I suspect a node module (module.exports=...) would do the trick.

[2015-08-11 01:23] samreid commented on #232
I believe @aaronsamuel137 said the build server also uses build-local.json.

[2015-08-11 01:26] samreid commented on #230
Yes, and I was planning to discuss with @jonathanolson and @aaronsamuel137 to find the best way to enumerate all of the links.

[2015-08-11 01:27] pixelzoom commented on #232
Indeed it does, that's why I asked (in https://github.com/phetsims/chipper/issues/232#issuecomment-129599709) about how to structure this so that it works with the build process and build-server.

[2015-08-11 01:28] samreid commented on #232
I suspect (but am not sure) that you are looking for a more specific answer than "use a node module".  If so, please ask a more specific question.

[2015-08-11 01:41] pixelzoom commented on #230
Brainstorming, from most to least desirable:

• Write a web service that allows the script to ask for this info.

• Scrape the URLs from some page on the website, e.g. - Simulations > By Device > iPad/Table? (http://phet.colorado.edu/en/simulations/category/by-device/ipad-tablet)

• Read the .htaccess files from the serve, assemble the URLs in the script. (Yuck.)

[2015-08-11 01:56] samreid commented on #173
I can't think of any AI files in assets/ that were not created by PhET.  Do you know of any?

[2015-08-11 01:57] samreid commented on #157
I think there's a fair chance we will never need to run this script again.  If we do, perhaps then would be the best time to address deficiencies in the script.

[2015-08-11 01:58] samreid commented on #132
Can the SVN version + your changes supercede the git version?  Is there anything SVN + your changes cannot do?

[2015-08-11 03:36] samreid commented on #133
Here are the remaining tasks I am wondering if we can somehow inline as functions (or some other way of getting them out of the tasks list), or any that we don't need anymore.

[code]

[2015-08-11 03:52] samreid commented on #220
Revised documentation, should address (1) (2) (3) (4) and (5) above.

[code]

In response to (4), I am seeing these simulations without a `<title>` attribute in the html

title not found for /Users/samreid/temp/litmus_en.html
title not found for /Users/samreid/temp/mikes-playground_en.html
title not found for /Users/samreid/temp/ph-scale-basics_en.html
title not found for /Users/samreid/temp/state

[2015-08-11 03:54] samreid opened #247 "Several simulations are missing titles"
I am seeing these simulations without a `<title>` attribute in the html

title not found for /Users/samreid/temp/litmus_en.html
title not found for /Users/samreid/temp/mikes-playground_en.html
title not found for /Users/samreid/temp/ph-scale-basics_en.html
title not found for /Users/samreid/temp/states-of-matter-basics_en.html

We should add them in and republish the report, see #220

[2015-08-11 04:29] samreid commented on #229
Some of the audio files only have one recording, such as empty.mp3, which is part of the complication.

Concatenating the error messages was just a simple way of identifying if *any* of the files had problematic licensing, and reporting the names for all problematic files.

I've factored out the duplicated logic code across the 3 plugins with a require module and an adapter.  Tested with grunt for

[2015-08-11 04:32] samreid commented on #229
Commit is above.  In my test, I also confirmed that the output in the HTML file for 3rd parties looked correct.

[2015-08-11 04:35] samreid commented on #242
This has been factored out in checkAndRegisterLicenseEntry.js.  Also, in #229 I made it so that for audio, only the 1st error is reported (as commented).  In my opinion, this is sufficient to identify the issue to a developer.  @pixelzoom anything else to do here?

[2015-08-11 04:43] jonathanolson commented on #230
If not already around, a comprehensive service for this would be great (rather than the somewhat-lacking project-sorted-simulations.csv).

[2015-08-11 04:44] samreid commented on #244
window.phet.chipper.brand is necessary in initialize-globals.js since it is the code that runs in the simulation.  Other cases are replaced with global.* in the following commit.

[2015-08-11 04:45] samreid commented on #229
I'm sensing an issue when running the requirejs version of a sim (non-built).  Back to me for investigation.

[2015-08-11 04:49] samreid commented on #229
Correction: requirejs mode runs ok, the built version is having this problem:
"../../chipper/js/grunt/checkAndRegisterLicenseEntry missing ../../chipper/js/grunt/../../../chipper/js/grunt/getLicenseEntry"

[2015-08-11 05:27] samreid commented on #229
It seems like requirejs is having trouble requiring files from a file required from a plugin.  I have no idea why.  For now I'll commit a workaround that loads all of the require statements in each plugin, then passes them through to the shared code.  @jonathanolson & I identified this as a working solution and I tested by building and launching forces and motion basics.

[2015-08-11 05:34] samreid commented on #229
Fixed above.  Not really sure how to make progress on this since I don't know why requirejs is having trouble loading these require statements.  Perhaps I'll post the build error here tomorrow and we can go from there.

[2015-08-11 13:39] samreid commented on #229
OK, starting with the code above which loads all plugin dependencies from the plugin itself I made the following changes:

1. change IIFE in checkAndRegisterLicenseEntry.js to a define declaration
2. use require statements in checkAndRegisterLicenseEntry.js

Build completes successfully.  Then running, I see this issue:

[code]

[2015-08-11 13:43] samreid commented on #229
Well, if I load the dependencies in audio, image and mipmap I can still define checkAndRegisterLicense entry in a define block, so I committed that above.  Build and launching build work properly.

[2015-08-11 14:29] samreid commented on #229
Not sure where to go next, can I get some help from @pixelzoom or @jonathanolson?

[2015-08-11 14:32] samreid commented on #229
Tagged as developer-meeting so I can make others aware of this issue and ask for help.

[2015-08-11 14:32] samreid commented on #244
Fixed as described above, @pixelzoom can you review?

[2015-08-11 14:41] samreid commented on #246
The changes above look good and I confirmed the lint vs lint-all behavior at the command line and all seems good.

The changes above define pkg.phetLibs to be at least [] if it wasn't already defined.  Hence I think we should get rid of all the subsequent
[code]

I'll remove them and commit shortly.

[2015-08-11 14:42] samreid commented on #246
Committed above, @pixelzoom please comment and close if everything is good.

[2015-08-11 15:06] pixelzoom commented on #247
Assigning to myself to take a look at ph-scale-basics. Thought I fixed that yesterday.

[2015-08-11 15:09] pixelzoom commented on #173
No. But in Javaland, license.txt identified the team member that created the media file, that info might be useful for assets?  I can also envision a scenario where we get an audio file (or image) from some public domain site, then change the format to meet PhET's needs.

[2015-08-11 15:18] aaronsamuel137 commented on #230
I think writing a web service is a good idea, and probably wouldn't be too difficult. Feel free to assign to me for this part of the issue.

[2015-08-11 15:55] pixelzoom commented on #247
@samreid what html files are you testing with?

When I build ph-scale-basics, I see this `<title>` tag:

`<title><202a>pH Scale: Basics<202c> 1.2.0-dev.1</title>`

202a pushes LTR directional format, 202c pops the directional format.

[2015-08-11 16:00] samreid commented on #247
ph-scale basics is now fixed.  I'll look into the others.

[2015-08-11 16:08] samreid commented on #133
@jonathanolson and @samreid will look into the internal use only tasks after the meeting.

set-preload seems like it can be bundled into the before-requirejs-build step

[2015-08-11 16:10] samreid commented on #133
We decided to get rid of pull-all.

[2015-08-11 16:10] jonathanolson commented on #133
Can probably get rid of internal tasks by using:
[code]
but we'll need to handle it asynchronously. https://github.com/gruntjs/grunt/issues/1184 indicates it might not be possible?

[2015-08-11 16:11] samreid commented on #133
We decided we can get rid of string-report task.

[2015-08-11 16:12] samreid commented on #133
We decided to keep the before and after requirejs step.

[2015-08-11 16:17] pixelzoom commented on #222
Options:

1. Use console.log

2. Assign grunt instance to global.phet.chipper.grunt, use it for logging if it exists.

[2015-08-11 16:20] samreid commented on #222
@jonathanolson said assigning grunt to a global seems good.

@jbphet said assigning grunt to a global sounds good.

[2015-08-11 16:21] pixelzoom commented on #222
+1 for global.

[2015-08-11 16:52] samreid commented on #229
@pixelzoom said he wanted to look into this.

[2015-08-11 17:05] samreid commented on #239
@pixelzoom have you tried passing a string to onload.error()?

[2015-08-11 17:06] samreid commented on #239
Well, the docs do say you must pass in an Error instance.

[2015-08-11 17:07] pixelzoom commented on #239
onload is a requirejs function. For doc on onload.error, search http://requirejs.org/docs/plugins.html. Doesn't looks like there's any way to control what parts of the error are used by onload.error (probably does a toString).

Consensus: OK as is.

[2015-08-11 17:07] #239 closed

[2015-08-11 17:08] pixelzoom commented on #245
Closing. Handling in #222.

[2015-08-11 17:08] #245 closed

[2015-08-11 17:25] samreid commented on #247
The directionality markers cannot be seen in Sublime, IDEA or GitHub rendered markdown.  It seems like it is safe to leave them.

[2015-08-11 17:29] pixelzoom commented on #247
The escapes for directional formatting are added by string.js.

[2015-08-11 17:29] aaronsamuel137 commented on #243
Added documentation, assigning to @pixelzoom for review.

[2015-08-11 17:30] pixelzoom commented on #247
The escapes for directional formatting are added by string.js, line 145:

`parsed[ stringKey ].value = ( isRTL ? '\u202b' : '\u202a' ) + parsed[ stringKey ].value + '\u202c';`

[2015-08-11 17:35] pixelzoom commented on #243
Awesome. Closing.

[2015-08-11 17:35] #243 closed

[2015-08-11 17:36] pixelzoom commented on #246
:+1: Closing.

[2015-08-11 17:37] #246 closed

[2015-08-11 17:37] pixelzoom commented on #244
:+1: Closing.

[2015-08-11 17:37] #244 closed

[2015-08-11 17:38] pixelzoom commented on #242
Nothing else to do, closing.

[2015-08-11 17:38] #242 closed

[2015-08-11 18:34] pixelzoom commented on #229
@samreid I still don't see the value in concatenating the error messages for a group of related audio files. The end result is the same - or should be the same; it's currently not because the error messages are concatenated without any separator.  And it results in this ugly bit of adapter code in audio.js:

[code]

Any reason why we can't just do this in audio.js?:

[code]

[2015-08-11 18:57] pixelzoom commented on #229
Discussed with @samreid via phone.  The adapter is needed because we only want to call onload(null) once per invocation of a plugin.

[2015-08-11 20:18] pixelzoom commented on #229
In checkAndRegisterLicenseEntry, `require` has this value during build and in requirejs mode:

[code]

and this value when the built html file is run:

`function (){return u.apply(t,b.call(arguments,0).concat([e,i]))}`

[2015-08-11 20:22] pixelzoom commented on #229
Hmmm... If I inspect the value of `require` in audio.js in the above cases, it's the same as in checkAndRegisterLicenseEntry.js.  So I'm not sure why checkAndRegisterLicenseEntry.js is having a problem and audio.js isn't.

[2015-08-11 20:29] pixelzoom commented on #229
Scratch that... I wasn't inspecting audio.js, Chrome was apparently caching.

[2015-08-11 20:31] pixelzoom commented on #229
Curious that, at build time, I can't get any console.log output from the media plugins. They are run by the `requirejs:build` task.  Does that task suppress logging, or direct it somewhere else?

[2015-08-11 20:45] pixelzoom commented on #229
Skype:

[8/11/15, 2:37:08 PM] Jonathan Olson: the plugins don't run in built versions, they run while building
[8/11/15, 2:37:51 PM] Jonathan Olson: they do output a small string that will be included that WILL be executed for the module though

[2015-08-11 20:52] pixelzoom commented on #229
I went round and round on this, then tried doing what @samreid reported didn't work in https://github.com/phetsims/chipper/issues/229#issuecomment-129703907.  I don't see that problem - it works fine in requirejs mode, during the build, and in the built html file.    I'm testing with john-travoltage, which has audio, images and mipmaps (from joist).

[2015-08-11 21:05] aaronsamuel137 commented on #232
Rosetta also uses build-local.json. I am available to collaborate on this if needed.

[2015-08-11 21:21] pixelzoom commented on #229
I renamed checkAndRegisterLicenseEntry.js to registerLicenseEntry.js, and absorbed isAcceptableLicenseEntry.js into it as private functions.

[2015-08-11 21:35] pixelzoom commented on #229
Summary:
• checkAndRegisterLicenseEntry.js was renamed to registerLicenseEntry.js
• isAcceptableLicenseEntry.js was absorbed into registerLicenseEntry.js
• Prior to the above changes, I couldn't reproduce the problem that @samreid was having. And it was ultimately moot, since the above changes eliminated the need for `require` statements in registerLicenseEntry.js
• tested with john-travoltage and

[2015-08-11 21:42] pixelzoom opened #248 "move files to js/grunt/?"
Should js/requirejs-plugins/loadFileAsDataURI.js move to js/grunt? It's used by the build process (afterRequirejsBuild.js) and plugins (audio.js, image.js).  Our convention elsewhere (e.g. getLicenseEntry) is to put things used by both in js/grunt/.

[2015-08-11 21:43] pixelzoom commented on #248
Same question for createMipmap.js.  @jonathanolson please weigh in.

[2015-08-11 22:01] pixelzoom opened #249 "should media plugins use grunt.log if it's available?"
global.phet.chipper.grunt was added in https://github.com/phetsims/chipper/issues/222, to address warning message for media files that have an "exception" in their license entry.

There are several other uses of console.log in the media plugins. Should they also use grunt.log, if it's available?

[2015-08-11 22:07] pixelzoom commented on #222
`global.phet.chipper.grunt` has been added.  Initialization of `global` has also been moved to the very top of Gruntfile.js.

I noticed several other uses of console.log in media plugins, will discuss whether those should use grunt.log in https://github.com/phetsims/chipper/issues/249.

Assigning to @samreid for verification.

[2015-08-11 22:12] pixelzoom commented on #220
The description says:

then it says:

Both of these together seems dubious, it says that the report will be written to 2 places.  Is `--outputPath` in fact optional, and sherpa/third-party-licenses.json the default location for the report?

[2015-08-11 22:15] pixelzoom commented on #220
This is documented only for inputPath, and the same is true for outputPath. And I don't think this is necessary/desirable in the description.  I recommend documenting this at the `grunt.option` calls that read the inputPath and outputPath option.

[2015-08-11 23:17] pixelzoom opened #250 "grunt-all.sh is difficult to stop"
grunt-all.sh is currently difficult to stop once you've started it.  Ctrl-C stops the current sim, then it starts the next sim, so you have to hit Ctrl-C a bunch of times.  I'd like to add this, which traps signals and exits:

`trap "exit 1" SIGINT`

I'm not sure how this will affect Windows users.

[2015-08-12 00:26] pixelzoom opened #251 "images reported as unused for common-code demos"
Not sure if we need to do anything about this other than be aware of it.  Though it could cause problems if we want to have an automated sanity check of repos.  Here's an example:

[code]

Two problems here:

(1) These images are probably used in scenery-phet code that's not part of the demo, and
(2) There's currently nothing that verifies whether the images are used in scenery-phet code

And this

[2015-08-12 02:39] samreid commented on #220
I left a dangling reference, will remove it in the next version.  The --outputPath will be a required argument.  Also, it just crossed my mind to rename inputPath=>input and outputPath=>output.

I'll move out the documentation for required argument as you suggested.  We'll have to remember to add that to the docs when it's implementation time.

[code]

[2015-08-12 13:10] samreid commented on #133
I inlined setProload into beforeRequirejsBuild and tested by grunt in hookes law.  Build success, launch success, so I will commit.

[2015-08-12 13:17] samreid commented on #133
Removed pull-all and string-report above.  Tested by grunt hookes-law and testing grunt --help.  All is well.  Closing.

[2015-08-12 13:17] #133 closed

[2015-08-12 13:20] samreid commented on #222
Shouldn't we use grunt.fail.warn instead of grunt.log.warn?  According to the grunt docs http://gruntjs.com/api/grunt.log that is the way to get a "fail with error unless --force is specified" sort of behavior.

[2015-08-12 13:27] samreid commented on #222
Oh sorry, media annotated with exception shouldn't fail the build.

[2015-08-12 13:30] samreid commented on #222
Now that we have access to a grunt, we could use a grunt.fail.warn instead of this line:
[code]

which would fail the build early with a great error message, but the disadvantage would be that it doesn't aggregate all errors (just reports the first one and fails unless --force).

[2015-08-12 13:32] samreid opened #252 "package.json preload is now mandatory?"
To verify #229 I tried building john-travoltage but received this error:

[code]

Did "preload" recently become mandatory?  Tagging @pixelzoom since I know he was in the build tools recently but leaving assigned to me for investigation.

[2015-08-12 13:36] samreid commented on #252
Order dependency introduced in #133.  Fixing shortly.

[2015-08-12 13:38] samreid commented on #252
Fixed above, closing.

[2015-08-12 13:38] #252 closed

[2015-08-12 13:40] samreid commented on #222
@pixelzoom's changes look good.  The last item to discuss in this issue is my previous comment.  @pixelzoom can you take a look and let me know your recommendation? I'm fine with it either way.

[2015-08-12 13:41] samreid commented on #229
Did you have a hypothesis why the node and require definitions were necessary when using the 2-file approach (though agreed it is currently moot)?

[2015-08-12 13:46] samreid commented on #229
I built john-travoltage and inspected the HTML and didn't see any issues.  I looked at the change sets above and it seems good.

The only thing that is tricky in this file for me is I have trouble grokking:
[code]

I tried a few rewritings and couldn't come up with something much better.  Perhaps it would be nice if @pixelzoom could write a line comment explaining a good way to think of this line-

[2015-08-12 13:47] samreid commented on #247
Note: the only text editor we have tried so far that showed the escapes is vi.

[2015-08-12 13:57] samreid commented on #247
Apparently we must load the string through the string plugin in the sim for it to be loaded through the string loader.

[2015-08-12 13:58] samreid commented on #247
The litmus title is loaded via:

[code]

I'll reassign thing to @pixelzoom to decide what to do here after I finish working on the other ones.

[2015-08-12 14:19] samreid commented on #247
I think everything is fixed except for litmus.  I also added a grunt.fail.warn for missing title--this should cause litmus to fail build.  Reassigning to @pixelzoom to decide what to do with litmus.

[2015-08-12 14:39] samreid commented on #248
I suggest that if something is only used by the plugins, then it should be in the plugins directory.  Something used by both plugins and the grunt task should be in the grunt directory.  Reassigning to @jonathanolson to weigh in.

[2015-08-12 15:25] pixelzoom commented on #250
@jbphet volunteered to test on Windows.

[2015-08-12 15:37] pixelzoom commented on #247
Why should litmus build fail? `MOLECULE_POLARITY/molecule-polarity.name` is a valid title string.

[2015-08-12 15:39] pixelzoom commented on #247
Why should litmus build fail? `MOLECULE_POLARITY/molecule-polarity.name` is a valid title string. And there should be nothing in the build process that requires the title to come from LITMUS.

[2015-08-12 15:42] pixelzoom commented on #229
I'm not sure how to make this any clearer. Does the function doc not clarify the definition of "acceptable"?

   * if it is compatible with PhET licensing policies, or if it has an "exception" field explaining why
   * PhET licensing policies can be ignored. For non-PhET brands, all license entries are acceptable.

[2015-08-12 15:42] jbphet commented on #250
Works fine on Windows, closing.

[2015-08-12 15:42] #250 closed

[2015-08-12 15:43] pixelzoom commented on #229
I did not add the node and require definitions. I used your original solution without change and it worked fine.

[2015-08-12 15:45] pixelzoom commented on #222
I have no strong preference for `onload.error` vs `grunt.fail.warn`.

[2015-08-12 15:46] pixelzoom commented on #222
The only thing I will note is that using `onload.error( Error )` provides nice symmetry with `onload(null)`.

[2015-08-12 15:49] pixelzoom commented on #220
Proposed help description looks good. Reminder to document why we're not using grunt arg syntax at the calls to `grunt.option( 'input' )` and `grunt.option( 'output' )`.

[2015-08-12 15:52] pixelzoom commented on #252
Looks like this got introduced when setPreload was moved into beforeRequirejsBuild.  And looks like you discovered and fixed.

[2015-08-12 16:05] samreid commented on #247
The package.json is looking for LITMUS/litmus.name but this string is never loaded through the string plugins and hence is unavailable to the build process internationalization.  One solution would be to change the package.json to refer to the same string that is used in litmus-main.js

[2015-08-12 16:06] samreid commented on #247
It looks like you fixed this 27 minutes ago https://github.com/phetsims/litmus/commit/3087fe2fdbe0dbdcc15c25c0cdd5e8d1449ceaec

Closing.

[2015-08-12 16:06] #247 closed

[2015-08-12 16:19] samreid commented on #229
Hmmm..  I wonder what the problem was.

I know what this line is supposed to do and the documentation is clear.
[code]

But the implementation is difficult for me to read.  I'll have a go at telling you how my brain parses it:

Perhaps the issue is the naming of the method isApplicableBrand--maybe if this was called `brandRequiresLicenseChecks`??

[2015-08-12 16:21] samreid commented on #222
Sounds good, let's leave it as-is.  Closing.

[2015-08-12 16:21] #222 closed

[2015-08-12 16:30] pixelzoom commented on #229
@samreid Does the above change make things clearer?

[2015-08-12 16:35] pixelzoom commented on #232
Should BuildOptions also encapsulate package.json? I'm thinking yes.

So here's the (complete?) list of what BuildOptions would be responsible for reading, then providing an appropriate abstraction:

grunt.option
$HOME/.phet/build-local.json
chipper/build-local.json
package.json

Btw... Instead of hardcoding "adapted-from-phet" as the default brand, I think it would preferable to move it to chippe

[2015-08-12 16:38] pixelzoom commented on #232
Build options would be read in this order:

chipper/build-local.json
RESPOSITORY/package.json
$HOME/.phet/build-local.json
grunt.option

[2015-08-12 16:57] samreid commented on #229
That's nicer, thanks.  And it leads to a good place to document the logic. I'll take another look through and close if everything looks good.

[2015-08-12 17:55] jonathanolson commented on #248
It seems we'd want 'js/requirejs-plugins' to just contain the plugins themselves, 'js/grunt' to just contain code used in the build, and another directory to contain the rest?

[2015-08-12 18:02] pixelzoom commented on #248
js/common/?  What a concept!  +1

[2015-08-12 18:14] pixelzoom commented on #248
Another good reason to move stuff to js/common/ is that BuildOptions (coming in #232) will be used by build-server and grunt.

[2015-08-12 18:14] pixelzoom commented on #232
BuildOptions should live in chipper/js/common/.

[2015-08-12 18:34] samreid commented on #248
+1 for js/common.  I can take a 1st pass at this.

[2015-08-12 19:24] samreid commented on #173
Knowing who created an asset would be valuable in case we need to iterate on it with them.  Right now the only ways to get that information would be from git commit logs or related issues, neither of which seems very reliable.

[2015-08-12 19:25] samreid commented on #230
A web service for this is probably the next step, but won't be of much use until several S2015R deploys have been made.

[2015-08-12 21:33] samreid commented on #220
I added the docs as above, and documented the grunt.option('input') and output are using the optional arg syntax.  I also assert that both paths are provided and upconvert the optional option `active-runnables` to a boolean.  I revised the task to use these args properly and tested with a one-sim report and an `active-runnables` report.  Both looked good and I published the active runnables report

[2015-08-12 21:41] samreid commented on #220
Changes pushed above, @pixelzoom can you take it for a test drive?

[2015-08-12 21:44] samreid commented on #229
All changes in registerLicenseEntry.js look good.  @pixelzoom anything else to do here?

[2015-08-12 22:00] samreid commented on #248
I'm working on this.  Some notes:

1. createMipmap is only used from grunt while mipmapDownscale is used by grunt and plugins
2. The following path needed some extra dots (I'm not sure why but it doesn't work without them)
[code]
3. Testing my working copy changes, I see `Uncaught TypeError: 1 is not a function`--I will need to work on this some more!

[2015-08-12 23:44] pixelzoom commented on #229
@samreid This is a nit, but we agreed to standardize on {Object}, not {object} as you've added in https://github.com/phetsims/chipper/commit/78ff458d354656b101af635698a5a625d511de3f

I also don't get the purpose of the blank lines in isCompatibleLicenseEntry, but I'll roll with it. Are you suggesting that every comment should be preceded by a blank line?

[2015-08-12 23:46] pixelzoom commented on #229
From the example in the PhET Development Overview:

[code]

[2015-08-13 00:22] samreid commented on #229
@pixelzoom said:

From the Style Guide:

Thanks for catching my casing error with Object, I'll fix it shortly.

[2015-08-13 00:23] samreid commented on #229
I see 43 occurrences of `@param {object}` across our repos.  I'll hit all of them once my working copy is clean after work in #248

[2015-08-13 00:28] samreid commented on #248
Hmmm I cannot replicate the TypeError above, perhaps a caching thing?

[2015-08-13 00:36] pixelzoom commented on #229
In this case, I think that's misguided and unnecessary (especially for the else clause).

I'd like to hear from other developers on this one, Which of the following do you prefer?

Version (1):
[code]

Version (2):

[code]

[2015-08-13 01:05] samreid commented on #248
Moved things out of the plugins directory in https://github.com/phetsims/chipper/commit/5b0ffe75152444c6d438424fcd50bda76c1295ce.  Commit message is:

[2015-08-13 01:06] samreid commented on #248
Tested by linting, building and launching hookes-law, which uses several of the plugins.  Also tested build + launch john travoltage, since it exercises the audio plugin.

[2015-08-13 01:12] samreid commented on #248
Moved getLicenseEntry.js to js/common, tested by linting, building, launching hookes-law and `grunt report-media` since it uses getLicenseEntry as well.  No issues noted.  @pixelzoom or @jonathanolson anything else to do here?

[2015-08-13 01:17] samreid commented on #229
OK I've finished #248 and ready to do a big query replace from `@param {object}` to `@param {Object}`.  Brace yourself for several commits.

[2015-08-13 01:22] samreid commented on #229
OK I pushed 43 fixes above for `@param {object}` => `@param {Object}`.  I didn't do any more sophisticated regex or string matching.  I think I'm done here, I'll unassign and we can discuss the above issues at the next developer meeting.

[2015-08-13 01:28] samreid opened #253 "Test-server mini-review"
While I was working on https://github.com/phetsims/tasks/issues/310 I wanted to poke around the test-server to run a test on a subset of sims.  Thought I'd create an issue for any code review, style changes, etc that I note or changes I make.  After I take a look I can reassign to @jonathanolson to review my changes or respond to questions or notes.

[2015-08-13 01:29] samreid commented on #253
With a missing `;` noted above, I'm wondering if this directory is linted???

[2015-08-13 01:33] samreid commented on #253
This code needs more code commenting documentation, in the HTML as well as the JS.  For instance, this method could use some helpful code comments:

[code]

[2015-08-13 02:19] samreid opened #254 "isAcceptableLicenseEntry should handle null entry"
@pixelzoom and @samreid iterated on `isAcceptableLicenseEntry` recently, but during https://github.com/phetsims/tasks/issues/310 I noticed it wasn't handling un-annotated entries well.  I saw this error:

[code]

[2015-08-13 02:23] samreid commented on #254
I implemented a potential fix above, but there are several ways we may want to handle un-annotated entries here.  Can @pixelzoom take a look and see if you recommend something different?

[2015-08-13 16:36] pixelzoom commented on #254
Not wild about adding a 3rd return point from this function. How about:

[code]

[2015-08-13 16:41] samreid commented on #254
OK with me, with docs and my preferred formatting it would look like this:

[code]

Can I get a +1?

[2015-08-13 16:45] pixelzoom commented on #254
+1

[2015-08-13 16:47] samreid commented on #254
Fixed above, anything else to do here @pixelzoom ?

[2015-08-13 16:51] pixelzoom commented on #254
:+1: Closing.

[2015-08-13 16:51] #254 closed

[2015-08-13 17:54] pixelzoom commented on #229
8/13/15 dev meeting consensus:  Easiest to stick with the existing policy, precede every comment with a blank line. Feel free to correct violations where you see them.

[2015-08-13 17:55] #229 closed

[2015-08-13 17:55] pixelzoom commented on #229
All work completed on this issue, so closing.

[2015-08-13 18:00] samreid commented on #235
@ariel-phet suggested to defer to an upcoming meeting for scheduling work on this.

[2015-08-13 18:10] samreid opened #255 "Improvements for test-server"
- [ ] Documentation for how to start the server and tests
- [ ] A legend that shows what the colors and columns mean
- [ ] Linting for the files under chipper/tests
- [ ] Code review for the test code #253
- [ ] Rename the directory to test-server

[2015-08-13 18:14] samreid commented on #249
We are wondering if the console.log for these warnings are redundant.  @pixelzoom will investigate.

[2015-08-13 18:17] samreid commented on #251
@jbphet suggested using these images in the demos.

The main problem is if we automated tests to identify unused images, this could be a false positive.

[2015-08-13 18:18] samreid commented on #251
We may do this someday, but low enough priority that nobody needs to do it now.

[2015-08-13 22:22] pixelzoom opened #256 "check that media file exists before checking its license entry"
Perhaps the media plugins should confirm that the media file exists before bothering to check its license entry?

I was testing something else (#45), and tried to load a bogus image in acid-base-solutions, MagnifierNode line 27:

`var solventImage = require( 'image!ACID_BASE_SOLUTIONS/solventX.png' );`

solventX.png doesn't exist. But the error message that I received at build time is:

[code]

As

[2015-08-13 22:30] pixelzoom commented on #249
The `console.log` calls are indeed redundant in the media plugins.  They're also inconsistent, since audio.js doesn't use them.

Here's an example with image.js and a bogus image file.

With `console.log` in requirejs mode:
[code]

For `grunt build`, the console.log doesn't even show up:

[code]

After removing the `console.log`:

requirejs mode:

[code]
Running "requirejs:build" (requirejs) task

[2015-08-13 22:42] pixelzoom opened #257 "reorder if-else in string.js"
The media plugins (audio.js, image.js, mipmap.js) are ordered like this:

[code]

string.js does the opposite, with expressing `!config.isBuild`:

[code]

Recommend to reorder the if-else in string.js.

Can I get a +1?

[2015-08-13 22:46] samreid commented on #257
+1, isBuild should be first in string.js

[2015-08-13 22:50] pixelzoom opened #258 "missing string key is not detected"
I believe that this problem was introduced when the structure of string.json was changed.  Each entry was changed (for example) from this:

`"hello": "Hello"`

to this:

[code]

When a key doesn't have an entry in strings.json, it's not detected, it just fails. The error in requirejs mode is therefore fairly useless:

`Uncaught TypeError: Cannot read property 'value' of undefined`

The offending c

[2015-08-13 22:55] pixelzoom commented on #257
I'll take care of this immediately after https://github.com/phetsims/chipper/issues/258 is resolved.

[2015-08-13 22:57] pixelzoom commented on #258
The error message at build time is even more useless:

[code]

[2015-08-13 23:02] pixelzoom commented on #258
`'string not found for key: '` is also an obsolete message. Keys map to {Object} entry, not {string}.

[2015-08-13 23:18] pixelzoom opened #259 "use onload.error in string.js?"
In build mode, string.js does this:

[code]

Why is this calling `throw new Error(...)` instead of `onload.error( new Error(...) )`?

[2015-08-13 23:39] pixelzoom opened #260 "use "requirejsNamespace" consistently?"
There are (at least) 3 names in the code for what we've been calling "requirejs namespace" (e.g. ACID_BASE_SOLUTIONS).  The 3 names are `requirejsNamespace`, `requirePrefix` and `prefix`.

package.json uses `requirejsNamespace`, e.g.:

`"requirejsNamespace": "ACID_BASE_SOLUTIONS",`

string.js uses `requirePrefix`:

[code]

afterRequirejsBuild.js reads `requirePrefix`, and gives it yet-another name

[2015-08-13 23:43] pixelzoom commented on #260
Another variation in reportUnusedMedia.js:

` @param {string} simNameUppercase - the upper-case string prefix such as BALANCING_ACT`

[2015-08-13 23:46] pixelzoom commented on #260
I took the liberty of renaming simNameUppercase in reportUnusedMedia, since it's called like this:

`reportUnusedMedia( grunt, pkg.requirejsNamespace );`

[2015-08-13 23:55] pixelzoom opened #261 "what are the requirements for audio files?"
A question about this workaround in reportUnusedMedia.js:

[code]

Does this imply that every audio file exists in both .mp3 and .ogg versions? If so, why?  Is this a requirement of the audio plugin, or just of this report?

Assigning to @samreid since he was the initial author.

[2015-08-13 23:59] pixelzoom opened #262 "iffy way to strip off a suffix"
In reportUnusedMedia.js:

[code]

Hardcoding `-4` is an iffy way to strip off a suffix.  A robust solution would string off everything starting from the last occurrence of `'.'`.

[2015-08-14 00:03] pixelzoom commented on #262
There's also this incorrect error message in reportUnusedMedia.js  when checking audio files:

`72 grunt.log.warn( 'Unused image: ' + key );`

It should read `'Unused audio: '.

[2015-08-14 00:04] pixelzoom commented on #262
Assigned to @samreid to review.

[2015-08-14 00:06] pixelzoom commented on #261
While working on #262, I created a bogus audio file at john-travoltage/audio/bogus.mp3.  When I ran `grunt`, I got this warning:

`>> Unused audio: JOHN_TRAVOLTAGE/bogus

So I'm wondering why the VIBE workaround is needed?

[2015-08-14 00:09] pixelzoom commented on #261
If I have 2 unused images (e.g. `bogus.mp3` and `bogus.ogg`), then I get this:

[code]

So there is a fundamental flaw in how this report is handling audio files.

[2015-08-14 00:17] pixelzoom commented on #249
https://github.com/phetsims/chipper/issues/258 (missing string key is not detected) needs to be fixed before I can investigate the `console.log` statements in string.js.

[2015-08-14 00:17] pixelzoom commented on #258
This is blocking #249.

[2015-08-14 00:18] pixelzoom commented on #258
Skype:
[8/13/15, 6:00:39 PM] Jonathan Olson: I rebuilt that part of the string plugin, and did not test to see what happened with missing strings. I can handle https://github.com/phetsims/chipper/issues/258 if you would like

Assigning to @jonathanolson.

[2015-08-14 00:22] pixelzoom opened #263 "string.js seems overly complex"
string.js has a recursive structure that's difficult to grok. Does it need to be this complicated? Isn't it just reading sim-en_strings.json, then iterating over fields and overwriting with fields from sim-locale_strings.json?

@jonathanolson what do you think?

[2015-08-14 00:23] pixelzoom opened #264 "does anything in the build process need complete string entries?"
Why does anything outside of string.js need to know about the complete entry for a string key? Why doesn't string.js just build a map between key and value, so that we don't have someArray[key].value appearing in other code? (build-server.js excepted.)

@jonathanolson Handled the conversion to the new string.json format, so I'd like to hear his opinion.

[2015-08-14 00:25] pixelzoom commented on #264
To be clearer... When the file format was changed, it seems like the change should have been completed isolated in string.js.

[2015-08-14 00:40] pixelzoom commented on #258
This would resolve the requirejs mode error. string.js line 133:

`var fallback = parsedFallbackStrings[ key ] && parsedFallbackStrings[ key ].value;`

[2015-08-14 00:46] pixelzoom opened #265 "string.js fails with invalid locale"
If you request a bogus locale, e.g.:

`http://localhost/~cmalley/GitHub/acid-base-solutions/acid-base-solutions_en.html?locale=aar`

string.js fails with this error:

`Uncaught TypeError: Cannot read property 'direction' of undefined`

The culprit is string.js, line 114:

[code]

`locale` should be validated after it's read. Ie:

[code]

[2015-08-14 00:48] pixelzoom commented on #265
Perhaps this?

[code]

[2015-08-14 00:50] pixelzoom commented on #265
That does error out in requirejs mode, but it stops in the debugger.

[2015-08-14 00:54] pixelzoom commented on #265
In build mode, string.js fails with a similar error.

[code]

[2015-08-14 01:02] pixelzoom commented on #265
Validation added for build and requirejs mode.  In both cases, the error message is (e.g. ):

`unsupported locale: foo`

Assigning to @jonathanolson to verify.

[2015-08-14 01:52] jonathanolson commented on #265
Looks good to me.

[2015-08-14 01:52] #265 closed

[2015-08-14 02:01] samreid commented on #259
`onload.error(new Error())` seems better, let's do that instead.

[2015-08-14 02:01] samreid commented on #259
Reassign to me if you'd like me to take care of this.

[2015-08-14 02:18] jonathanolson commented on #258
Added assertions to detect the missing string keys, let me know if anything else is needed.

[2015-08-14 02:40] jonathanolson commented on #264
Well it can't be contained to string.js, since afterRequirejsBuild handles the strings for chipper builds.

".value" seems to be in build-server (directly reads the string file), generateREADME (directly reads the string file), afterRequirejsBuild (reads string files for the build), and the string plugin (for obvious reasons).

I wasn't aware that the build-server and generateREADME were dealing d

[2015-08-14 02:41] samreid commented on #262
Yes, this is very nice, thanks!

[2015-08-14 02:41] #262 closed

[2015-08-14 03:56] pixelzoom opened #266 "PhET-specific metadata in package.json"
PhET has been adding custom (i.e. PhET-specific) metadata field to package.json, and that's bothered me a little for some time. Is it safe? Will it come back to bite us?

According to this StackOverflow post, it seems to be a safe practice.
http://stackoverflow.com/questions/10065564/add-custom-metadata-or-config-to-package-json-is-it-valid

The recommendations are to choose a key name:
• not alre

[2015-08-14 03:56] samreid commented on #261
@jbphet did this work on vibe, but if I recall correctly, Firefox required ogg (cannot play *.mp3) and other platforms (iPad?) required *.mp3.  The EMPTY audio file is only needed on iPad, so it didn't need two encodings.

VIBE is the only site that loads the filename with a suffix, so the suffix should not be stripped from the report in that case.  All other cases should load the suffix-less vers

[2015-08-14 03:58] pixelzoom commented on #266
The more I look at the example above, the more I like it. It makes it very clear what is specific to PhET.

[2015-08-14 04:01] pixelzoom commented on #261
+1 for adding suffixes to the warning messages, rather than suppressing one of the messages.

[2015-08-14 12:59] samreid commented on #261
I revised the logic and improved the error messages.  Testing with a new mp3 in hookes law (which has no other audio), I see:

[code]

I think the previous version would have missed this because there was no audio--should be fixed.

Adding an unused audio file to John Travoltage, I see:

[code]

Adding the ogg unused audio file to John Travoltage, I see:
[code]

Grunt & lint on an unmodified hooke

[2015-08-14 13:00] samreid commented on #261
Fixed above, @pixelzoom can you take a look?

[2015-08-14 13:03] samreid commented on #260
Yes, let's use this consistently with `requirejsNamespace`.  Assign to me if you'd like me to take care of it.

[2015-08-14 13:06] samreid commented on #256
Well, since both the license entry and image file must exist, I'm not sure this is too much of a problem.  Are you thinking of using fs.fileExistsSynchronous or something like that in the config.isBuild phase of the plugin.load's function?

[2015-08-14 16:44] samreid opened #267 "we need access to brand in setPreload"
To support https://github.com/phetsims/together/issues/154 we will need to know the brand in setPreload.  It is currently defined in beforeRequirejsBuild.

[2015-08-14 16:56] samreid commented on #267
Fixed above and tested by building hookes-law with grunt and faradays-law with grunt --brand=phet-io.  @pixelzoom can you review?

[2015-08-15 00:16] samreid commented on #266
Nesting phet things under `phet` seems brilliant.  Here, take this: +1

[2015-08-16 17:29] pixelzoom commented on #266
If no one objects, I'll handle this.

[2015-08-17 16:50] pixelzoom commented on #267
Change set looks reasonable. This will eventually move to BuildOptions (see https://github.com/phetsims/chipper/issues/232). Closing.

[2015-08-17 16:50] #267 closed

[2015-08-17 16:57] pixelzoom commented on #258
To test, I removed `acid-base-solutions.name` from acid-base-solutions-strings_en, and ran the sim in requirejs mode.

The error message looks good for a build:

[code]

But the error message for requirejs mode is not acceptable, it doesn't identify the missing key:

`string.js?bust=1439830358108:138 Uncaught TypeError: Cannot read property `

So this is not fixed. Reassigning to @jonathanolson to

[2015-08-17 16:59] pixelzoom commented on #258
So this is still failing as I identified in https://github.com/phetsims/chipper/issues/258#issuecomment-130903091.

[2015-08-17 17:27] pixelzoom commented on #261
[code]

This reports no warning for file `shock.wav`, which has no entry in `license.json`.

Back to @samreid.

[2015-08-17 17:41] pixelzoom commented on #261
I examined audio license entries at the top of reportUnusedMedia.js:

`console.log( 'global.phet.chipper.licenseEntries=' + JSON.stringify( global.phet.chipper.licenseEntries.audio, null, 2 ) )`

Here's what I see:

[code]

[2015-08-17 17:47] samreid commented on #261
I'm halfway through adding that support now.

[2015-08-17 17:49] pixelzoom commented on #261
I examined audio license entries at the top of reportUnusedMedia.js:

`console.log( 'JSON.stringify( global.phet.chipper.licenseEntries.audio, null, 2 ) )`

Here's what I see:

[code]

shock-ouch and shock have multiple entries in license.json, but are coalesced to a single entry here. As far as I can tell, there's no check to make sure the entries in license.json are the same - there should be.

[2015-08-17 18:00] samreid commented on #261
Fixed above, discussed with @pixelzoom over skype.  Ran this test and results were OK https://github.com/phetsims/chipper/issues/261#issuecomment-131896772 and we also tested that 3rd party licenses appear in the HTML as non-coalesced entries.  My next step is to refactor image/audio handling in reportUnusedMedia since they are similar now.

[2015-08-17 18:05] jonathanolson commented on #258
Added extra throws, so it will fail in require.js without assertions.

[2015-08-17 18:10] samreid commented on #261
I refactored image/audio handling together above and tested with unused audio files in John Travoltage.  I also added an unused image and it was reported properly.  @pixelzoom care to review?

[2015-08-17 18:12] pixelzoom commented on #264
As far as I can tell, the build process only uses "value".  So my question is, why doesn't string.js build a map from key -> "value", instead of key -> entry, so that other parts of the build processes didn't have to be modified to know about "value"?

[2015-08-17 18:29] samreid commented on #258
It looks like the above change is causing lint failures:

[code]

Reassigning to @jonathanolson to investigate.

[2015-08-17 18:44] pixelzoom opened #268 "list of media types is duplicated"
The list of media types is now defined in 2 places, introduced by #261.

reportMedia.js line 104:

`var mediaTypes = [ 'images', 'audio' ];`

reportUnusedMedia line 33:

`[ 'images', 'audio' ].forEach( function( mediaType ) {`

[2015-08-17 18:44] pixelzoom commented on #261
Looks good, except for https://github.com/phetsims/chipper/issues/268.

Closing.

[2015-08-17 18:44] #261 closed

[2015-08-17 18:52] pixelzoom commented on #264
Discussed with @jonathanolson and I now understand what's going on here. In build mode, string.js defers the bulk of the work to afterRequirejsBuild.js. Very confusing, not well encapsulated.  But I guess we'll leave this as is for now.

[2015-08-17 18:52] #264 closed

[2015-08-17 18:53] pixelzoom commented on #263
Discussed with @jonathanolson. Recursion is needed because of the async nature of the browser.

Closing.

[2015-08-17 18:53] #263 closed

[2015-08-17 19:02] pixelzoom commented on #256
When the license.json file is missing, this (the current case) is an inappropriate and misleading error message:

`Error: unacceptable license entry for ACID_BASE_SOLUTIONS/solventX.png`

Something like this is what's required:

`Error: missing ACID_BASE_SOLUTIONS/images/license.json`

[2015-08-17 19:08] pixelzoom commented on #258
Apparently fixed by @jonathanolson in https://github.com/phetsims/chipper/commit/ee8272227818378e939d405f6c8cd2e7e39a5330, which didn't reference this issue.

Back to me for test.

[2015-08-17 19:24] pixelzoom commented on #258
Back to @jonathanolson.   You added extra throws for the console.log statements that are unrelated to this issue.  You did not address https://github.com/phetsims/chipper/issues/258#issuecomment-131888795.  Can you please test thoroughly before assigning this back to me?

[2015-08-17 19:28] #257 closed

[2015-08-17 19:41] jbphet opened #269 "grunt deploy-dev locks up on Windows"
The deployment itself seems to work as evidenced by the appearance of the simulation on the dev server, but on my machine (Win7 using GitBash) the grunt task freezes on the ```git push``` step and never recovers.

Screenshot:
![grunt-deploy-dev-issue](https://cloud.githubusercontent.com/assets/3082831/9314343/8ec3cb44-44e5-11e5-88e1-18f31296d426.png)

[2015-08-17 19:42] jbphet commented on #269
I think @aaronsamuel137 was mostly working on this, so I'm assigning to him initially, and he can pass it off as necessary.

[2015-08-17 19:43] pixelzoom commented on #259
Done, closing.

[2015-08-17 19:43] #259 closed

[2015-08-17 19:59] aaronsamuel137 commented on #269
Have you tried this again since last Thursday? I have made some minor changes since then that may help with this, but hard to know for sure since I am not sure why it is happening.

[2015-08-17 20:09] jonathanolson commented on #258
I remove the string from the translation file, and run in require.js mode:

![abs-strings](https://cloud.githubusercontent.com/assets/480878/9314772/426ac1c8-44e8-11e5-9c9b-823970b3ac91.PNG)

And running without assertions still results in the same error message:

Error: Assertion failed: Missing string: acid-base-solutions.name in js/./../acid-base-solutions-strings_en.json?bust=1439841393503

I'

[2015-08-17 21:27] jonathanolson commented on #258
Reassigning to me, apparently by changing the URL to not include assertions and refreshing, Chrome switched back to assertions.

[2015-08-17 21:28] pixelzoom commented on #258
I am on master for all repos, including chipper. When running without assertions enabled in requirejs mode, I am still experiencing the same problem described inhttps://github.com/phetsims/chipper/issues/258#issuecomment-131888795.  I see no commit related to changing the assertion to `throw Error`, and in chipper f2e621707d300593a046e57c1e6a943ff990c6b3 string.js line 164 looks like this:

[code]

[2015-08-17 21:29] jonathanolson commented on #258
Should be fixed now, see https://github.com/phetsims/chipper/issues/258#issuecomment-131967400.

[2015-08-17 21:32] pixelzoom commented on #258
Fix verified, closing.

[2015-08-17 21:32] #258 closed

[2015-08-17 21:33] #260 closed

[2015-08-17 21:34] pixelzoom commented on #249
`console.log` statements were changed to `throw new Error` in #258.  Closing.

[2015-08-17 21:34] #249 closed

[2015-08-17 21:36] pixelzoom commented on #220
:+1: Closing.

[2015-08-17 21:36] #220 closed

[2015-08-17 22:08] pixelzoom commented on #266
The set of PhET-specific fields in package.json is:

licenseKeys
phetLibs
preload
requirejsNamespace
simTitleStringKey

In chipper/js/grunt, search for `"pkg."`.

In chipper/js/build-server, search for `"packageJSON."`.

[2015-08-17 22:59] pixelzoom opened #270 "use 'phet-io' instead of 'together' when naming dev versions?"
In https://github.com/phetsims/together/issues/154, the 'together' entries in build.json were changed to 'phet-io'.  Perhaps we want to do the same for a adhoc naming of development versions?

afterRequirejsBuild.js line 344:

[code]

Questions:
• Should we replace 'dev' with 'phet-io', instead of 'together'? Eg: `1.0.0-together.13` vs `1.0.0-phet-io.13`
• Will the hypen in 'phet-io' present any p

[2015-08-17 23:53] pixelzoom opened #271 "automatically add repo to phetLibs"
Noted while working on #266 (nest PhET-specific metadata under "phet").

PhET-specific metadata in package.json has this boilerplate form:

[code]

The phetLibs entry could be eliminated in most cases by automatically adding the value of the "name" field to phetLibs, at the same time that we add the phetLibs from build.json.  The above would then become:

[code]

This would be encapsulated in Buil

[2015-08-17 23:58] pixelzoom commented on #271
Can I get a +1 or -1 on this?

[2015-08-18 00:17] pixelzoom commented on #255
I need to test a major change to chipper and all package.json.  And (once again) I can't remember how to use test-server.  Can we bump up the priority of this issue?

[2015-08-18 00:22] pixelzoom commented on #255
Added empty README.md in chipper/test-server/, https://github.com/phetsims/chipper/commit/77f8b0b34dd1a2e9abdeb79db742d4d390bdf106.

[2015-08-18 01:25] pixelzoom commented on #255
I fleshed out README.md enough that I can use it.

[2015-08-18 02:10] samreid commented on #271
+1, duplicating the name in the "name" and "phetLib" is awkward and our build tools should know what to do simply from the "name" entry.

[2015-08-18 02:35] samreid commented on #235
ESLint will probably take longer to process than JSHint since it produces an AST for each file.

[2015-08-18 02:55] pixelzoom opened #272 "brand-specific phetLibs in build.json are ignored"
Noted while working on #271.

In chipper/build.json, it's possible to specify phetLibs for that are common to all sims, and that are required by specific brands.  There are currently no phetLibs specified for "together", and that's a good thing - because they'd currently be ignored. This needs to be handled in Gruntfile.js, immediately after the common.phetLibs is added:

`pkg.phet.phetLibs = pkg.

[2015-08-18 02:59] pixelzoom commented on #271
Done. @samreid would you mind reviewing?  Keep in mind that the chunk of code at the top of Gruntfile.js that sets phetLibs will soon be moved to BuildOptions (see #232).

[2015-08-18 02:59] pixelzoom commented on #271
... and I will mention this change in the Google Group post for #266.

[2015-08-18 03:02] pixelzoom commented on #266
Changes pushed.

I attempted to use test-server to verify this before pushing. But test-server kept hanging after about 30 minutes, looked like perhaps an out-of-memory problem in Chrome.  So I bailed and used `grunt-all.sh` to verify that everything built.  Probably a safe test, since these changes involved building.  But apologies if I broke anything.

Google Group announcement coming soon, sinc

[2015-08-18 03:25] pixelzoom commented on #272
Done, @samreid please review.

I tested like by adding `"phetLibs": [ "foo" ]` to build.json under "phet-io".  Then I ran:

[code]

... and verified that "foo" appears in the debug output for preload:

`[D] pkg.phet.phetLibs = ../foobar,assert,axon,babel,beers-law-lab,brand,chipper,concentration,dot,joist,kite,nitroglycerin,phet-core,phetcommon,scenery,scenery-phet,sherpa,sun`

[2015-08-18 03:28] pixelzoom opened #273 "setPreload doesn't verify that phet-io API file exists"
setPreload.js adds the API file for "phet-io" like this, line 51:

`preload.push( '../together/js/api/' + pkg.name + '-api.js' );`

It doesn't both to check that the file actually exists.  So if you happen to do a build with `--brand=phet-io` for a sim that doesn't have an API file (which I did), you get a failure later in the game. It would be nice if that were handled here, with a useful error m

[2015-08-18 03:32] pixelzoom commented on #273
Done. @samreid please review.

To test:

[code]

[2015-08-18 03:55] pixelzoom commented on #266
Google Group post:
https://groups.google.com/forum/#!topic/developing-interactive-simulations-in-html5/NEEtIEIVD0w

[2015-08-18 03:55] pixelzoom commented on #266
@samreid please review, thanks.

[2015-08-18 04:04] pixelzoom opened #274 "why does setPreload.js read sherpa/lib/license.json?"
setPreload.js line 31:

[code]

This appears to be vestigial, unused. @samreid can you confirm?

[2015-08-18 04:05] pixelzoom commented on #274
Looks like this moved to getThirdPartyLicenseEntries.js:

`var THIRD_PARTY_LICENSES_FILENAME = '../sherpa/lib/license.json'; // contains third-party license info`

[2015-08-18 04:08] pixelzoom commented on #274
Vestigial code deleted, @samreid please verify.

[2015-08-18 16:23] samreid commented on #235
I'm interested to investigate this, but don't think I'll have time until after Bending Light is published.

@pixelzoom said this may not be worth the effort at the moment, may be more important if/when we re-engage with 3rd parties.

@samreid suggested investigating this when someone is reviewing a simulation and wishing for better automated support.

[2015-08-18 20:04] pixelzoom commented on #232
Checking in first pass, discussed with @samreid, he suggested a function for each entry that requires some computation, to encapsulate and make dependencies clear via function parameters.

[2015-08-18 20:07] pixelzoom commented on #232
Second pass at buildConfig, integrating @samreid's feedback.  @samreid can we discuss again after you've looked it over?  If you'd like to test, add this to Gruntfile.js:

[code]

Then run `grunt --debug --lint=false`, and the buildConfig will be printed out.

[2015-08-18 20:09] samreid commented on #232
Sure, I'll take a look, hopefully before tomorrow evening.  Can I assign to me?

[2015-08-18 20:10] pixelzoom commented on #232
Yep.

[2015-08-18 20:13] pixelzoom opened #275 "stubModules doesn't include 'mipmap'"
In Gruntfile.js, the configuration object provide to `grunt.initConfig` contains this entry:

` stubModules: [ 'string', 'audio', 'image' ]`

Should `'mipmap'` be in here too?

[2015-08-18 20:13] pixelzoom commented on #275
Skype:
[8/18/15, 2:03:54 PM] Jonathan Olson: Probably, although I don't know the purpose of stubModules. Is it even needed?

[2015-08-18 20:18] pixelzoom commented on #232
I renamed initBuildConfig to getBuildConfig, since it is now returning a value instead of setting a global. Modified test code in Gruntfile.js is:

[code]

[2015-08-18 20:40] pixelzoom commented on #232
@samreid I know that one of your concerns was that there is a lot of stuff in getBuildConfig.js. That's because (a) we have a lot of build options, and (b) they are currently spread out like this:

* Gruntfile.js : read package.json, compute `brand`, compute `phetLibs`, create jshint config, create grunt config
* setPreload.js: compute `preload`
* beforeRequire.js : call setPreload.js, compute `lo

[2015-08-18 20:50] pixelzoom opened #276 "documentation reference for jshint configuration"
Encountered while working on #232.

Gruntfile.js line 171 creates the config object for jshint:

[code]

I've been unable to find documentation showing `repoFiles` and `allFiles`. I'd like to put a URL reference in the code.  Anyone know where I can find this?

[2015-08-18 20:53] pixelzoom opened #277 "documentation references for requirejs configuration"
Noted while working on https://github.com/phetsims/chipper/issues/275 and #232.

Gruntfile.js line 138 defines the configuration object for requirejs:

[code]

I'd like to document the various parts of this with URLs, but haven't been able to find them. Anyone?

[2015-08-18 20:57] pixelzoom commented on #277
And why do we need to do this:

[code]

instead of this?

[code]

[2015-08-18 21:02] samreid commented on #232
Overall this is looking much better, and I made one minor change above.

One of the code review items from https://github.com/phetsims/phet-info/blob/master/code_review_checklist.md states:

are you intending to pass the entire buildConfig to every build function that needs any part of it, or just pass in the relevant bits?

[2015-08-18 21:11] pixelzoom commented on #232
I'm planning to address this in 2 phases.

First phase: Make minimal changes to the existing code base by substituting either `buildConfig` or `buildConfig.someField` for existing things like `pkg` and `pkg.name`.  Most source files currently an interface that looks like `module.exports = function( grunt, pkg, ...)`, so they'll initially get passed the entire buildConfig.  Once that is all working

[2015-08-18 21:19] pixelzoom opened #278 "necessary method of setting requirejs build options?"
In Gruntfile.js...

When specifying requirejs build options, why do we need to do this business with setting `pkg` and using template strings?

[code]

Can't we just do this?

[code]

[2015-08-18 22:17] samreid commented on #275
Here's some docs about stubModules, courtesy of stack overflow: http://stackoverflow.com/questions/10196977/how-can-i-prevent-the-require-js-optimizer-from-including-the-text-plugin-in-opt

[code]

Since @jonathanolson is most familiar with the mipmap plugin, I think it makes sense for him to look into this and see if it is ok to stub during the build.

[2015-08-18 22:20] samreid commented on #276
`repoFiles` and `allFiles` are PhET inventions, used in tasks like:

[code]

The doc for grunt talking to jshint is here: https://github.com/gruntjs/grunt-contrib-jshint

[2015-08-18 22:21] samreid commented on #276
@pixelzoom based on the above comment can we unmark `developer meeting` and assign to you?

[2015-08-18 22:24] samreid commented on #277
Are you looking for https://github.com/jrburke/r.js/blob/master/build/example.build.js ?

[2015-08-18 22:30] pixelzoom commented on #277
I saw that reference.  Guess I must have stopped looking at it when the first option ("almond") was not described.  Looks like the others are there.  Any idea if the `almond: true,` entry is actually doing anything, or is bogus?

[2015-08-18 22:33] samreid commented on #232
Sounds great.  I'm not planning further review at the moment, but can take another look after 1st or 2nd phase as described above.

[2015-08-18 22:34] samreid commented on #278
Yes, I think we can just do that ourselves.  I think we were just unfamiliar with grunt and tried its default string interpolation to begin with.  I'd recommend to try the "can't we just do this" as you described and keep it if it works (I suspect it will).

[2015-08-18 22:36] pixelzoom commented on #276
Added documentation, closing.

[2015-08-18 22:36] #276 closed

[2015-08-18 22:37] samreid commented on #277
I thought we needed to include the almond https://github.com/jrburke/almond as the compiled replacement for require.js.  But looking into hookes-law_en.html (the built one), I see:

[code]

So now I'm not really sure whether we need it.

[2015-08-18 22:39] pixelzoom commented on #232
@samreid Thanks for the feedback and review!

[2015-08-18 22:42] pixelzoom commented on #277
I recall something like that too. But I also recall a lot of confusion and trial-and-error surrounding almond. So this entry is highly suspect. Perhaps @jonathanolson has a clearer recollection?

[2015-08-18 22:51] pixelzoom commented on #278
I made this change and built versions still work just fine.  Since I did exactly what is typed in https://github.com/phetsims/chipper/issues/278#issue-101751416, I'm not going to ask anyone to review it. Closing. If anyone encounters a problem, please reopen.

[2015-08-18 22:51] #278 closed

[2015-08-18 22:53] pixelzoom commented on #42
I finally removed this option from Gruntfile.js.  If/when someone wants to work on this, you'll need to add it back. And by then this may be handled somewhere other than Gruntfile.js, see #232.

[2015-08-18 23:12] pixelzoom opened #279 "vestigial 'phetLocale' code?"
While working on #232... I ran across this in beforeRequirejsBuild.js:

[code]

Is the `--locale` option vestigial? My understanding is that this was replaced by `--locales` and `--localesRepo` (which are also handled in beforeRequirejsBuild.js).

[2015-08-18 23:16] pixelzoom commented on #279
Searching for "phetLocale" in all .js files... I see phetLocale in string.js, in the requirejs mode:

`143 locale = phet.chipper.getQueryParameter( 'locale' ) || config.phetLocale || 'en';`

I believe this is reading phetLocale from config.js (which should also probably be vestigial).  But the bit of code in beforeRequirejsBuild.js appears to be doing nothing.  Can someone confirm my understanding

[2015-08-18 23:18] pixelzoom commented on #279
To summarize:

(1) Can we remove `--locale` support from beforeRequirejsBuild.js? (affects build mode)

(2) Can we remove `phetLocale` support from config.js? (affects requirejs mode)

[2015-08-18 23:25] pixelzoom commented on #268
Perhaps we can investigate moving these to buildConfig after #232 is buttoned up.  Something like `{string[]} buildConfig.mediaTypes`.

[2015-08-18 23:34] pixelzoom commented on #255
This was a prototype that has proven to be useful, so the code is (understandably) not production quality.

Looks like @samreid did a mini-review here: https://github.com/phetsims/chipper/issues/253.

My quick review:
* files have no header comments
* documentation is sparse
* fails lint (I added  `if ( pkg.name === 'chipper' ) { repoFilesToLint.push( '*/test-server/*.js' ) }` to Grunfile.js)

So

[2015-08-18 23:37] pixelzoom commented on #255
For linting... We could add this to Gruntfile.js (or soon getBuildConfig.js):

[code]

But I hate to put repo-specific code in the build code. This problem has come up multiple times. Should we add a `sourceDirectories` field to package.json, and do a deep include of *.js under there?  By default `sourceDirectories` would include '/js/**/*.js'.

[2015-08-18 23:41] pixelzoom opened #280 "bogus doc in beforeRequirejsBuild.js"
beforeRequirejsBuild.js doc says:

[code]

There is no occurrence of `global.phet.strings`, that appears to be done in afterRequirejsBuild.js.

[2015-08-18 23:41] #280 closed

[2015-08-18 23:46] pixelzoom opened #281 "should all globals be attached to global.phet.chipper?"
Most globals in the build process are attached to `global.phet.chipper`. These 3 are currently not:

[code]

I ran into this when inspecting `global`.  Makes it easier to inspect if all global are in the same object.

[2015-08-19 00:00] pixelzoom opened #282 "move responsibility for grunt.options into tasks?"
Question about this (as an example):

[code]

Why not just call `reportThirdParty( grunt )`, and let `reportThirdParty` handle getting and validating the grunt options that it cares about?

Complete list of tasks where this could be done:

[code]

It would simplify Gruntfile.js, and make it clear that these tasks rely on grunt options. It's a tad opposite of "pass the least amount of information p

[2015-08-19 01:38] samreid commented on #255
Moving this logic from chipper to data in the package.json seems like a great move.

[2015-08-19 05:06] jonathanolson commented on #277
I believe almond is the "stub" version of of the require()/define() function provided during runtime to the built version that hooks everything together (instead of shipping the full require.js lib).

I can test and see what happens if we remove it, and work at documenting the rest.

[2015-08-19 05:08] jonathanolson commented on #255
+1

I'll take care of the cleanup here.

[2015-08-19 05:09] jonathanolson commented on #275
Looks like it should probably be stubbed, I'll test it out.

[2015-08-19 14:57] samreid commented on #256
Let's try to gracefully handle the following cases:

1. the image file exists but the license.json does not
2. the image file does not exist
3. the image file exists and the license.json exists but the entry within license.json does not (we may choose to handle this in the same way as (1) for technical reasons

For the first case, I deleted acid-base-solutions/license.json and ran grunt.  I receiv

[2015-08-19 14:59] samreid commented on #256
Note: I am building with brand=adapted-from-phet

[2015-08-19 15:05] samreid commented on #256
Fixed above.  Next case, missing license.json with brand=phet

The output is:

In my opinion, this is acceptable since the license entry (null) is unacceptable.  If it is necessary to provide a different error message, then we would have to introduce another return type or value from getLicenseEntry, which currently returns null if the licenseEntry does not exist within license.json *or* license.j

[2015-08-19 15:15] samreid commented on #266
I'm having trouble spotting the changes in chipper that make this work.  I can't find it annotated in the commits.  I'll look in the source.

[2015-08-19 15:16] samreid commented on #266
Looks like it was committed in e7cbd5ca567bb1909b3e6268b4aa85901af4af5b

[2015-08-19 15:20] samreid commented on #266
This change looks good.  I'm seeing some related issues but I'll create separate issues for them.  Closing.

[2015-08-19 15:20] #266 closed

[2015-08-19 15:24] samreid opened #283 "Declarations for pkg.phet should be improved"
While reviewing #266 I saw code like the following:

[code]

There are two related problems here:
1. The pkg.phet defines required fields such as `requirejsNamespace` and `simTitleStringKey`.  We should not just assign `{}` if pkg. phet is missing, we should throw an assertion if pkg.phet or either of those keys is missing.
2. It could be very confusing to augment/filter pkg.phet.phetLibs.  Why no

[2015-08-19 15:25] samreid commented on #283
Similarly, at the top of Gruntfile.js, we have:

[code]

In my opinion, it should be an error if either of these was defined before Gruntfile.js started.  Why not either simply assign or assert that is the case?

[2015-08-19 15:37] samreid commented on #268
Can I unassign this or reassign to @pixelzoom if this will be done in conjunction with #232?  Though actually I don't think this should be part of the buildConfig, this seems more like it should just be a constant (unless buildConfig has constants in it too?)

[2015-08-19 15:40] samreid commented on #271
Here's the code in chipper that makes this work:

[code]

Looks great to me, and much cleaner for all our package.json.  Closing.

[2015-08-19 15:40] #271 closed

[2015-08-19 15:46] samreid commented on #272
I ran the test as described in https://github.com/phetsims/chipper/issues/272#issuecomment-132057060 and saw the correct output.  The change set looks straightforward and this is good to close.

[2015-08-19 15:46] #272 closed

[2015-08-19 15:47] samreid commented on #273
Change set looks good, thanks.  Closing.

[2015-08-19 15:47] #273 closed

[2015-08-19 15:47] samreid commented on #274
Thanks, that was vestigial.  Closing.

[2015-08-19 15:47] #274 closed

[2015-08-19 16:11] pixelzoom commented on #283
Re phetLibs issue... This is all going away when #232 (buildConfig) is committed, and it's one of the reasons that we created buildConfig.  So ignore it.

Re globals... Proposed change:

[code]

@samreid Does that look acceptable?

[2015-08-19 16:13] pixelzoom commented on #283
Somewhat related to https://github.com/phetsims/chipper/issues/281 (attach all globals to global.het.chipper).

[2015-08-19 16:18] pixelzoom commented on #268
I'll be happy to take care of this.

Re mediaTypes, @samreid said:

All fields in the buildConfig API are constants: `@public (read-only)`.  If you mean, "not computed based on config files or options"... We have things like `fallbackLocale` that fall into that category, but are used throughout build code. It seems like `mediaTypes` falls into that category too.

[2015-08-19 16:33] pixelzoom commented on #268
I see that there are some constants in ThirdPartyConstants.js.  As an alternative, how about if we combine all constants into buildConstants.js (or pick a better name).  To start, it would looks like this:

[code]

[2015-08-19 16:35] pixelzoom commented on #268
Or perhaps the structor of this can be:

module.exports = function() {
   'use strict';
   return {
    FALLBACK_LOCALE: 'en',
    MEDIA_TYPES: [ 'audio', 'images' ],
    START_THIRD_PARTY_LICENSE_ENTRIES: '...',
    END_THIRD_PARTY_LICENSE_ENTRIES: '...'
   }
};

[2015-08-19 16:38] pixelzoom commented on #268
Example of how this would be used in reportUnusedMedia.js:

[code]

[2015-08-19 16:42] pixelzoom commented on #268
Assigning to @samreid for feedback on the above "constants file" proposal.  Feel free to assign back to me when done.

[2015-08-19 16:57] pixelzoom commented on #279
Looks like this is something that should have been deleted in https://github.com/phetsims/chipper/issues/124 (clean up locale-related options to 'build' task). We went from this set of locale options:

[code]

to this:

[code]

`locales` replaced `locale` as a more general way to specify 1 or more locales to build.

So I'm going to remove the code identified as vestigial from beforeRequirejsBuild.

[2015-08-19 17:01] pixelzoom opened #284 "clean up 'en' fallback locale"
The fallback locale 'en' is currently hardcoded in 7 different places. If should be in either buildConfig or a constants file.

[2015-08-19 17:03] pixelzoom commented on #279
Done. Assigned to @samreid to have a look, and see if my detective work makes sense.

[2015-08-19 17:05] pixelzoom commented on #256
Why would the build process continue to check images and output multiple error messages, e.g.:

[code]

When the real problem is:

`Error: missing ACID_BASE_SOLUTIONS/images/license.json`

[2015-08-19 17:06] pixelzoom commented on #256
The license entry can be null for 2 different reasons: there is no license entry in license.json, or license.json is missing.

[2015-08-19 17:08] pixelzoom commented on #256
If there is not license.json, then getLicenseEntry should never be called.

[2015-08-19 17:09] pixelzoom commented on #256
On review... I guess it's OK (but not ideal) to handle this in getLicenseEntry.

[2015-08-19 17:21] pixelzoom commented on #256
I added the error message. Example:

[code]

[2015-08-19 17:23] pixelzoom commented on #256
The change affect build mode only.

[2015-08-19 17:30] pixelzoom commented on #284
Addressing this is dependent on https://github.com/phetsims/chipper/issues/268, where we decide to put constants like FALLBACK_LOCALE.

[2015-08-19 18:09] samreid commented on #283
How about:

[code]

There is no need to check for phet.chipper if we already asserted that phet itself does not exist.

[2015-08-19 18:27] pixelzoom commented on #283
Added global.phet verification.
pheLibs cleanup will be addressed by #232.
Closing.

[2015-08-19 18:27] #283 closed

[2015-08-19 20:26] samreid commented on #256
This is a very nice solution, I am glad you are on the case.  Can I suggest using `grunt.file.exists` rather than `global.fs.exists` in this case?  We probably have other cases that should be unified as well. http://gruntjs.com/api/grunt.file#grunt.file.exists

[2015-08-19 20:29] samreid commented on #268
Constants as depicted in https://github.com/phetsims/chipper/issues/268#issuecomment-132687674 sounds great.  I think the rule would be to factor out constants (i.e. variables that do not depend on grunt options, variables, etc) that appear across >=2 files.  Constants that only are used within a single file should continue to be declared within that file for modularity.

[2015-08-19 20:30] samreid commented on #279
Since I am out of the loop on the internationalization implementation, I think it would make more sense for @jbphet or @jonathanolson to review this part.

[2015-08-19 20:35] pixelzoom commented on #256
(1) What are the advantages of using `grunt.file.exists` vs `global.fs.existsSync?

(2) Is `grunt.file.exists` synchronous? Documentation doesn't say.

(3) The grunt instance is not available in getLicenseEntry, and this code is structured so that the grunt instance is not required. `global.fs` is available because of this code in Gruntfile.js:

[code]

My inclination is to stick with `global.fs`.

[2015-08-19 20:38] pixelzoom commented on #256
And to be consistent, we should probably be adding `fs` to `global.phet.chipper.fs`, as we are doing for the grunt instance (Gruntfile.js line 56):

`global.phet.chipper.grunt = grunt;`

[2015-08-19 20:39] samreid commented on #256
(1) fs.existsSync() will be deprecated, see https://nodejs.org/api/fs.html#fs_fs_existssync_path
(2) since it has no callback, grunt.file.exists is synchronous
(3) the grunt instance is available via `global.phet.chipper.grunt`

[2015-08-19 20:40] pixelzoom commented on #256
Hmmm... Since we have `global.phet.chipper.grunt`, perhaps we could get rid of `global.fs` and use `global.phet.chipper.grunt.file` (including in getLicenseEntry.js).

[2015-08-19 20:41] pixelzoom opened #285 "replace global.fs with global.phet.chipper.grunt.file"
See https://github.com/phetsims/chipper/issues/256#issuecomment-132775385:

(2) since it has no callback, grunt.file.exists is synchronous
(3) the grunt instance is available via global.phet.chipper.grunt

[2015-08-19 20:42] pixelzoom commented on #256
Replacing `grunt.fs` moved to https://github.com/phetsims/chipper/issues/285.

@samreid Anything else to do here?

[2015-08-19 20:43] pixelzoom commented on #268
OK, I'm on it.

[2015-08-19 20:43] pixelzoom commented on #279
Labeled 'high-priority' to get @jbphet's attention.

[2015-08-19 20:50] samreid commented on #256
This seems good, closing.

[2015-08-19 20:50] #256 closed

[2015-08-19 21:13] pixelzoom commented on #268
Constants factored out into buildConstants.js.
MEDIA_TYPE used where identified above.
FALLBACK_LOCALE used in getBuildConfig.js (other places to be addressed in https://github.com/phetsims/chipper/issues/284)

@samreid please review.

[2015-08-19 21:29] pixelzoom opened #286 "directory name for "grunt deploy-dev --test""
`grunt deploy-dev --test` copies to a test directory on spot.  Here's the relevant part of `grunt --help`:

`--test : set to true to disable commit and push, and  SCP to a test directory on spot`

The URL is printed to the console when the task completes, so it's OK that the directory name isn't noted in the help.  But the directory name is `www.colorado.edu/physics/phet/dev/html/ad-tests`. The "a

[2015-08-19 21:37] samreid commented on #268
I skimmed through usages of buildConstants.js and all looks good.  The only thing I wasn't sure about is why the name `buildConstants` is lowercased.

[2015-08-19 21:41] pixelzoom commented on #268
Because I proposed "buildConstants.js (or pick a better name)" and I didn't hear any negative feedback on buildConstants :)

It's already pushed, but I can change it to BuildConstants (global string replace), if you'd prefer.

[2015-08-19 21:44] pixelzoom commented on #268
I also just realized that BuildConstants.js should live in chipper/js/common/, so I can rename at the same time that I move it.

[2015-08-19 21:48] pixelzoom commented on #268
Will move to `chipper/js/common/ChipperConstants.js`.

Skype discussion with @samreid.

[8/19/15, 3:44:58 PM] Chris Malley: BuildConstants.js ok with you?
[8/19/15, 3:45:31 PM] Sam Reid: I’m debating between that and ChipperConstants.js
[8/19/15, 3:45:35 PM] Sam Reid: thoughts?
[8/19/15, 3:45:48 PM] Chris Malley: It's moving to chipper/js/common.
[8/19/15, 3:46:06 PM] Chris Malley: Use in grunt/,

[2015-08-19 21:52] pixelzoom commented on #284
Note that buildConfig.js was moved to chipper/js/common/ChipperConstants.js in #268.

[2015-08-19 22:01] pixelzoom commented on #284
build-server has 3 occurrences of 'en'.

Options:

(1) Leave it as is, since we're unlikely to ever fallback to anything other than English. (But that argument could have been applied to other chipper code too.)

(2) Replace 'en' with ChipperConstants.FALLBACK_LOCALE.  Here's the change set:

[code]
.. and 'english' in `var` names should be changed to 'fallback' (e.g. `englishStringsFile` -> `fall

[2015-08-19 22:04] pixelzoom commented on #285
I'd like a second opinion before embarking on this. @jonathanolson?

[2015-08-19 22:05] pixelzoom commented on #268
`chipper/js/common/ChipperConstants.js` is pushed. Closing.

[2015-08-19 22:05] #268 closed

[2015-08-19 23:34] pixelzoom opened #287 "which task should create the 'build' directory?"
The `clean` task current is responsible for creating an empty `build/` directory. That's a little weird - I would expect `clean` to erase everything related to the build process. Perhaps `build/` should be create by beforeRequirejsBuild.js?

[2015-08-19 23:49] pixelzoom commented on #232
I've integrated buildConfig into chipper/js/grunt/ code.  The media plugins are still relying on `global.phet.chipper.brand`, which is set in Gruntfile.js using buildConfig.brand.  Trying to get buildConfig into the plugins is similar to trying to get the grunt instance into the plugins, so maybe using a global is OK.

[2015-08-19 23:51] aaronsamuel137 commented on #286
Good call. I've updated the test directory name to deploy-dev-tests. Assigning to @pixelzoom for review.

[2015-08-19 23:52] pixelzoom opened #288 "is getCacheBusterArgs vestigial?"
In beforeRequirejsBuild.js:

[code]
I don't see `global.phet.chipper.getCacheBusterArgs` uses anywhere in any repo. Is this vestigial?

[2015-08-19 23:55] pixelzoom commented on #288
In https://github.com/phetsims/chipper/commit/b4930f8af33cff088192fa92d252bf53d3040d0c, I moved this from Gruntfile.js to beforeRequirejsBuild.js (formerly simBeforeRequirejs.js).

[2015-08-19 23:56] pixelzoom commented on #288
Assigning to @jonathanolson for comment.

[2015-08-20 00:00] pixelzoom opened #289 "move initialization of global.phet.mipmapsToBuild to mipmap?"
After #232, beforeRequirejsBuild.js doesn't contain much.  So I'm looking at possibly making it go away.

Regarding this:

[code]

Instead of initializing an empty array here, would it be acceptable for mipmap.js to handle the initialization?
`

[2015-08-20 00:02] aaronsamuel137 commented on #284
The use case in build-server is not so much of a fallback locale, as much as handling the case that english strings are in sim repos and other locales are in babel. Build server looks for the localized (or English) sim name in one of those places so it can tell the website the sim title in every locale.

I'm personally fine with option 1 as far as build server is concerned, but I am not familiar w

[2015-08-20 00:04] pixelzoom opened #290 "remove redundant initialization of global.phet.chipper.licenseEntries"
After #232, beforeRequirejsBuild.js doesn't contain much. So I'm looking at possibly making it go away.

Regarding this:

[code]

This initialization seems unnecessary, since registerLicenseEntry.js (called by the media plugins) does this:

`global.phet.chipper.licenseEntries[ mediaType ] = global.phet.chipper.licenseEntries[ mediaType ] || {};`

OK to remove the initialization in beforeRequirejsB

[2015-08-20 00:05] pixelzoom commented on #290
Whoops. registerLicenseEntry.js isn't initializing `global.phet.chipper.licenseEntries`. We'd need to add this:

`global.phet.chipper.licenseEntries = global.phet.chipper.licenseEntries || {};`

Is that OK?

[2015-08-20 00:06] pixelzoom commented on #284
I'm ok with option (1) too. Let's discuss briefly at developer meeting.

[2015-08-20 00:07] pixelzoom commented on #286
Shall we move the existing `ad-tests` on spot to `deploy-dev-tests`?

[2015-08-20 00:10] pixelzoom opened #291 "delete beforeRequirejsBuild.js?"
After #232, there are 3 lines of non-debug code remaining in beforeRequirejsBuild.js. Depending on the resolution of #288, #289 and #290, we may be able to simply delete this file and associated grunt task.

[2015-08-20 00:14] pixelzoom opened #292 "untangle afterRequirejsBuild.js"
afterRequirejsBuild.js is currently a complicated, long (445 lines) collection of unrelates responsibilities (strings, mipmaps, preloads, sim template,...) all rolled into one source file.  Maintenance would be simplified and readability improved if this were split up into functions - either defined in afterRequirejsBuild.js or in separate files.  As is, it's difficult to grok the subtasks and dep

[2015-08-20 00:16] aaronsamuel137 commented on #286
That's fine with me. I can't move hookes-law because permission denied. Not sure who the owner is. I'm also fine with deleting, since these are just tests, so are not linked to from anywhere.

[2015-08-20 00:17] aaronsamuel137 commented on #286
Once hookes-law is moved or deleted, I will delete the directory, or someone else can feel free to.

[2015-08-20 00:19] pixelzoom commented on #232
We're down to this set of globals:

[code]

Everything else is passed around in buildConfig.

[2015-08-20 00:20] pixelzoom commented on #286
I was the owner of ad-tests/hookes-law/. I delete it and ad-tests/.

Closing.

[2015-08-20 00:20] #286 closed

[2015-08-20 00:47] jonathanolson commented on #288
I'm updating repos after the build change (in progress), but unless something changed, it's used in 94 sim config files, so I wouldn't consider it vestigial.

[2015-08-20 00:49] jonathanolson commented on #289
I'd be fine with mipmap.js handling the initialization if run in build-mode.

[2015-08-20 00:53] jonathanolson commented on #285
An alternative is to do what the Node.js documentation recommends:

[2015-08-20 04:46] samreid commented on #291
Getting rid of beforeRequirejsBuild.js would be very nice.  It is inconvenient to have to have internal methods show up as public tasks in grunt --help.