[2020-07-15 06:09] samreid commented on #876
Removed the disabled rule and corresponding TODO, closing.

[2020-07-15 06:09] #876 closed

[2020-07-16 08:39] muedli commented on #962
@zepumph, I believe I found and removed all remaining usages of `/* eslint-env node */` where the directory in which the usage resided contained a `.eslintrc.js` file or the repo in which the usage resided had a `package.json` such that the `eslintConfig` extended from `node_eslintrc.js`.

[2020-07-16 08:42] muedli commented on #962
I should note that almost all of the usages I found while searching the whole project in IntelliJ were in Gruntfiles, and they didn't either of the criteria you listed for removal.

[2020-07-16 18:50] Denz1994 commented on #963
From Dev Meeting on 07/16/20:

**Discussion:**

The IE dialog will run but so will the sim and possibly run into errors. Getting rid of the transpile option for `IE 11` will cause the sim not to run for IE. The IE dialog should still run as expected because its script is executed first.

@mjkauzmann Transpiling for IE will fail at some point in the future. To prevent having to deal with this in th

[2020-07-16 19:22] Denz1994 commented on #947
From Dev Meeting on 07/16/20:

**Resolution:**
We will wait until Node 14 is released and revisit (ETA October). We will only have to upgrade the Node version on our servers once.

[2020-07-16 19:23] samreid commented on #947
We agreed to unlabel this from developer meeting and add a calendar entry in the dev agenda.

[2020-07-17 17:26] zepumph commented on #963
@chrisklus also mentioned worry that the lack of compiling in xhtml may eventually cause the dialog to not show. It would be good to double check on that. Let me know if I can help.

[2020-07-18 01:01] #776 closed

[2020-07-22 01:39] zepumph commented on #962
This is great, thanks @muedli

Searching for `-env` and excluding `Grunfile.js` files, I see 21 more usages. They mostly feel right to me.

@jonathanolson can you please speak to the reason why some MR files in perennial are declared as supporting both browser and node environments via `/* eslint-env browser, node */`. I see this for `Maintenance.js`, `ReleaseBranch.js`, `Patch.js`, and `ModifiedB

[2020-07-22 19:42] jonathanolson commented on #962
Yes, it may have arisen from certain ES6 features not being allowed in the node.js rules? I'm fine with those declarations being removed, those should for now be node.js files only.

[2020-07-22 20:46] zepumph commented on #962
Sounds good thanks!

[2020-07-22 20:46] #962 closed

[2020-07-23 01:58] pixelzoom opened #965 "API for customizing initial string values"
PhET needs an API for customizing the initial value of strings, overriding what's in the strings file.

There are 2 main needs for changing strings:
(1) Customizing initial strings
(2) Dynamically changing strings while the sim is running.

These needs are very different, with very different costs to support.  (1) is not currently supported by PhET, and I'm willing to bet that it's the majority of

[2020-07-23 17:57] zepumph commented on #965
Related to previous phet-io conversations in phetsims/phet-io#1565 and phetsims/phet-io#1551

[2020-07-23 18:16] zepumph commented on #965
Today during phet-io meeting, we decided that we are going to defer this. There is no desire currently for offering this to non-phet-io clients (save i18n). For PhET-iO we know that there is a bigger conversation to be had here. There is no bandwidth for it right now. We want to build out our product base, and then discuss with clients about their needs, and then come back to this in the future.

[2020-07-23 18:24] pixelzoom commented on #965
@kathy-phet also said that the API for this is most likely _not_ query parameters, because long query parameters are not a good UI for instructional designers. She envisions something more like Rosetta, that is somehow integrated with Studio.

[2020-07-23 19:03] pixelzoom commented on #782
7/23/20 dev meeting:

@jonathanolson says that this is tricky. It's still relevant (gives us some stuff), but we'd be getting less benefit.  We'd need to investigate.

@jbphet if there's nothing that we're wanting now, should we just wait for browser support, and close this issue?

@jonathanolson is fine closing.

[2020-07-23 19:30] pixelzoom commented on #782
Reopening.  There is some commented-out code in WilderModel.js that refers to babel-polyfill.  @zepumph will comment them back in and make sure that they work.

[2020-07-23 21:00] zepumph opened #966 "We can use for...of loops in sim code now?"
A subset of https://github.com/phetsims/tasks/issues/1037, but it looks like our transpilation and target browsers now supports using for...of loops in sim code. I tested in Wilder over in https://github.com/phetsims/chipper/issues/782 and it worked as expected. If we want to do this and can't think of a reason to not pursue it, here are the steps to make it happen:

1. Add a thorough example of i

[2020-07-23 21:01] zepumph commented on #782
I uncommented all of the remaining entries, which were: Symbol.iterator, Set, Map, and For...of loops, and build a version of wilder.

https://phet-dev.colorado.edu/html/wilder/1.0.0-dev.1/phet/wilder_en_phet.html

This fails with an error `ReferenceError: regeneratorRuntime is not defined` on all browsers I tested. After process of elimination, I found it to be because of `Symbol.iterator`. I cou

[2020-07-23 21:01] #782 closed

[2020-07-24 23:31] zepumph commented on #954
I would look at notes from developer meeting discussion over in https://github.com/phetsims/chipper/issues/963 as the next step for this issue.  I am going to write a few more notes over there.

[2020-07-25 00:04] zepumph commented on #963
A few more thoughts:
* Please note that currently the           '> 0.5%', in `transpile.js` still covers IE (with ~1.4% global usage). I'm not sure how we can get around that if we are trying to have a smaller (es6-sized) build-artifact.
* Ideally we would have the IE dialog code run through a separate processs, that isn't the main `transpile` code, so that that file, like everything else in our p

[2020-07-29 21:41] jessegreenberg opened #968 "Update jpeg-js"
Github's Dependabot is recommending an update to jpeg-js in https://github.com/phetsims/chipper/pull/967. Assigning to @jonathanolson since this dependency is related to mipmaps. Is this a reasonable change? What should be tested before upgrading?

[2020-07-29 23:16] pixelzoom commented on #966
In the benchmarks that I could find, `for of` was by the far the slowest iterator.  So I have no problem with using this if it's available, but know when to use it.

[2020-07-30 19:31] mattpen commented on #966
Dev Meeting 7/30, we discussed that transpilation may still be messy and inefficient for for..of loops.  Let's discuss again at dev meeting when we have more time and more developers are available.

[2020-08-05 04:01] samreid commented on #912
We added steps for testing Game Up regularly.  Self-reassigning to continue with modularization.

[2020-08-05 20:31] chrisklus commented on #963
@samreid and I looked into this together and were able to determine the babel platform options that kept the transpile output as es6. Our current options are:

[code]

We were able to bypass that by changing 'IE 11' to 'not IE 11'. We also needed to drop Safari 9:

[code]

The resulting `_en_phet.html` build file for Energy Forms and Changes was 3.45 MB compared with 3.50 MB from the original tran

[2020-08-05 21:54] ariel-phet commented on #963
@chrisklus that is fine, for a long time we had been just checking that sims opened on iOS 9 since we know there were lots of app sales long ago on iPad 2. Natural Selection (even before this transpile question) was going to break on iOS 9 anyhow, and we were fine with that.

You can definitely drop iOS/Safari 9 and I will inform @KatieWoe to remove it from the test matrix.

[2020-08-06 04:02] samreid commented on #966
The first result I found when searching for "for of" vs "forEach" performance was https://stackoverflow.com/questions/50844095/should-one-use-for-of-or-foreach-when-iterating-through-an-array which says:

But one response said:

This issue is pertinent to https://github.com/phetsims/axon/issues/317 which has a `forEach` proposal, but may be less overhead to use `for ... of` (since no need to alloc

[2020-08-06 15:30] chrisklus commented on #963
Safari 9 and IE 11 have been dropped. Built sims are now in ES6. Marking for PSA at dev meeting.

Note: One thing I'm not sure about - looking through some built output, there are clearly classes and arrow functions, but it looks like `var` is replacing `let` and `const` still. This does not go along with the test output that @samreid and I were trying with this babel tool when using the same targ

[2020-08-06 15:41] chrisklus commented on #954
I looked into separately transpiling the IE detection script, but usages of `minify` in buildRunnable.js use the same transpile.js that just lost IE support. This means the transpile targets would need to get moved to an options pattern, and minify.js would need nested options for allowing usage in buildRunnable. It didn't seem worth it to me to change the signature of these core utilities to tran

[2020-08-06 18:39] chrisklus commented on #954
@Denz1994 is going to pair with @chrisklus to address the last two items above.

[2020-08-06 18:46] chrisklus commented on #963
From 8/6/20 dev meeting:

SR: Do wee need to update iOS store listed support?
AP: No, we already did not support iPad 2.

Assigning @KatieWoe just so you're aware - there is some newer code running in built versions for whatever the next dev or RC version that's created.

[2020-08-06 18:55] zepumph commented on #966
Here is a jsperf that could be useful for testing https://jsperf.com/foreach-and-for/9

[2020-08-06 18:58] samreid commented on #966
Mac Chrome

![image](https://user-images.githubusercontent.com/679486/89571187-81e4eb00-d7e4-11ea-9177-2a52d4b9b26f.png)

[2020-08-06 18:59] zepumph commented on #966
Windows chrome:

![image](https://user-images.githubusercontent.com/6856943/89571262-d92e8f80-d7d3-11ea-89e1-ffdf144573f9.png)

[2020-08-06 18:59] brandonLi8 commented on #966
Mac firefox:

![image](https://user-images.githubusercontent.com/42391580/89571321-b35db680-d7e4-11ea-8452-bb650ca7fe8e.png)

[2020-08-06 19:00] zepumph commented on #966
Windows firefox:
![image](https://user-images.githubusercontent.com/6856943/89571362-03804d00-d7d4-11ea-909d-40b3c1be0dfc.png)

[2020-08-06 19:00] chrisklus commented on #966
From 8/6/20 dev meeting:

@samreid: `for .. of` loops are idiomatic JS and in the case that they aren't already well-performing, they likely will be at some point.
@pixelzoom: we should do our homework and not introduce new iterator until we know when and where to use it.
@jonathanolson: these are are great for async/await
@brandonLi8: it's also nice that you can use break/continue, unlike `forEac

[2020-08-06 19:01] samreid commented on #966
iPad 6

![image](https://user-images.githubusercontent.com/679486/89571419-de480a80-d7e4-11ea-8eee-54d1aa0b9260.png)

[2020-08-06 19:01] zepumph commented on #966
Windows edge:

![image](https://user-images.githubusercontent.com/6856943/89571461-2dd20a80-d7d4-11ea-9a88-12df02b84a5d.png)

[2020-08-06 19:01] chrisklus commented on #966
Leaving assigned to @zepumph to remove the lint rule that's currently blocking usage of `for ... of`.

[2020-08-06 19:03] Denz1994 commented on #966
![image](https://user-images.githubusercontent.com/13894380/89571610-f411fb80-d7f5-11ea-9fac-8b5b289dabea.png)

[2020-08-07 01:03] zepumph commented on #966
The lint rule was removed above.

I tested by adding the following code in a sim main js file and linting it, and then running in built and unbuilt modes. It logged as expected.

[code]

From the above jsperf tests, it looks like chrome highly optimized `forEach` loops, but other than that, much is in the noise. The use of different loops should be optimized on a case by case basis when performanc

[2020-08-07 01:06] pixelzoom commented on #966
Reopening.  Do we want to capture the iterator performance information somewhere that it can be generally applied?

[2020-08-07 17:39] chrisklus commented on #954
@Denz1994 and I tested this morning and the IE error page worked as expected on `.html` versions after my recent changes. We also confirmed that the xhtml script crashed before the error page appeared, as @zepumph and I mentioned may happen in https://github.com/phetsims/chipper/issues/963#issuecomment-660240477, as per the reasoning from https://github.com/phetsims/chipper/issues/954#issuecomment

[2020-08-07 18:37] chrisklus commented on #954
@Denz1994 and I just finished testing and the xhtml version is indeed now displaying the error page. Thanks!

@zepumph would you be interested in reviewing this again? It would consist of checking my thoughts from https://github.com/phetsims/chipper/issues/954#issuecomment-670007671, and looking at commits https://github.com/phetsims/chipper/commit/576fff57d1df829906ef2cad21de3cf7b2c24248 and http

[2020-08-07 21:12] zepumph commented on #954
* https://github.com/phetsims/chipper/commit/381be90748be2c7e9e80250f6324572728eb44b8 creates a discrepancy between packageRunnable.js and packageXHTML.js which isn't totally clear as to why it exists. This code split adds a bit of a maintainability cost to the build process. Here are some potential solutions.
  * The least costly option is to describe why there is a specific `initializationScript

[2020-08-07 22:15] mattpen commented on #888
My windows machine currently can't upgrade to the latest version of Edge, removing assignment.

[2020-08-13 00:32] chrisklus opened #969 "Screenshots are not generated in production grunt task"
If I'm not mistaken, the 420x276 px images used for sim previews on the website filter page were chosen as the optimal size for load speed vs clarity. However, these aren't generated as part of the build process like the 128 and 600 are. Instead, it looks like the 420 previews for all sims were generated as a batch on 6/19. When MAL was published, there was a missing image preview on the filter pa

[2020-08-13 18:45] jessegreenberg commented on #954
We reviewed this during dev meeting 8/13/20 and discussed that this no longer needs to block publication. The error HTML appears in IE11 for HTML and XHTML, verified during meeting.

[2020-08-13 19:14] jessegreenberg commented on #964
@zepumph mentioned that it may not be too difficult to rewrite to no longer use grunt. There is one part that may be tricky involving using grunt for "recurse".

Others felt that it would be nice but not really worth the effort. CT catches issues like this quickly and we are ready to resolve from that report.

But @samreid mentioned he would be interested in working on this, though it is behind ot

[2020-08-13 19:14] samreid commented on #964
@zepumph pointed out that we could still use grunt as a dependency, even without loading Gruntfile.js

[2020-08-15 15:33] samreid commented on #964
@zepumph's idea is working great, and only takes <40ms. I'll commit shortly.

[2020-08-15 15:39] samreid commented on #964
I tested by removing a license entry from natural selection, then running

[code]

and saw that it failed out properly.

I also tested adding a fake image to wave interference, and tried committing a change and saw that it failed out.

@ariel-phet can you please assign a reviewer to check those 2 commits and run basic tests to make sure this is operating as expected?

[2020-08-17 16:36] mattpen commented on #888
I was able to install Edge Beta 85.  This problem is not present in this version. Perhaps it is fixed?

[2020-08-17 16:39] mattpen commented on #969
I've added a fix that should now deploy all images requested by the master branch of chipper (not the sim specific branch of chipper) in production deploys.

Meanwhile, I ran `grunt deploy-images` which added the missing images.  https://phet.colorado.edu/sims/html/molecules-and-light/latest/molecules-and-light-420.png is now present, so this shouldn't block publication any more.

[2020-08-17 16:42] jonathanolson commented on #888
I'm seeing warnings about cookies on the website itself (vimeo, google), but I'm not seeing any warnings about cookies when running simulations directly. I'm also seeing our google analytics send out properly from sims.

@KatieWoe can you see if we're getting warnings with sims with the latest Edge version? (Tested with version 84).

[2020-08-17 16:52] KatieWoe commented on #888
I'm not seeing this in the sim now. I am seeing some odd warning in the website and when launching the sim, but I don't know if they are connected.

[2020-08-17 17:02] mattpen commented on #888
@KatieWoe - Can you please provide details for "some odd warning in the website" and then assign me and @jonathanolson ?

[2020-08-17 17:15] KatieWoe commented on #888
Most were tracking prevention warnings. an error showed up and flashed quickly as you click on a link to go to a sim.
`Uncaught syntax [rror: missing ) after argument list`
![warninganderrors](https://user-images.githubusercontent.com/41024075/90424150-e0c72180-e07a-11ea-8b87-a864a045fbb9.gif)

[2020-08-17 17:21] mattpen commented on #888
This doesn't look like it affects sims, removing @jonathanolson's assignment

[2020-08-17 17:39] mattpen commented on #825
4efc612af24454cd62bd6afeef2e5b4babb438b5 - This is the change to deploy images after a production sim is deployed.

[2020-08-17 17:39] #825 closed

[2020-08-17 20:11] muedli opened #970 "Rosetta would like to be able to use fetch for client-side JavaScript"
@jbphet and I ran into a case where we have client-side JS and we'd like to be able to use [fetch](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API). Grunt complains if I try to use fetch. This is related to https://github.com/phetsims/rosetta/issues/238.

[2020-08-18 19:22] ariel-phet commented on #964
Marking as medium priority (since this looks quick to review), but definitely in the "as time allows" category.

[2020-08-19 00:34] samreid commented on #912
This issue has >200 hidden items at its current length, let's create side or sub-issues for the remaining work.

[2020-08-19 00:46] samreid opened #971 "Convert initialize-globals to one or more ES6 modules"
From https://github.com/phetsims/chipper/issues/912, we discussed transforming initialize-globals to one or more ES6 modules.  Or pruning it so that less work is done in that phase.  I'm not sure of the cost/benefit ratio, leaving unassigned for now.

[2020-08-19 00:51] samreid opened #972 "Convert SimVersion to an ES6 module"
In https://github.com/phetsims/chipper/issues/912, we discussed converting SimVersion.js to an ES6 module in #912, however this cannot be done until Node is loading modules since SimVersion is loaded both in node and in the browser.  On hold until we decide to move Node toward modules.

[2020-08-19 00:51] samreid commented on #912
All remaining work indicated in sub-issues.  Closing.

[2020-08-19 00:51] #912 closed

[2020-08-19 17:43] jessegreenberg commented on #969
I recently deployed a maintenance release of molecules-and-light and the screenshots seem to be missing again. @mattpen do you think this is still an issue or am I just encountering caching?

[2020-08-19 18:49] mattpen commented on #969
@jessegreenberg - was this for a production deploy or an RC?

[2020-08-19 20:52] pixelzoom commented on #964
I'm not familiar with this code, but I don't see any obvious problems in the commits.  And I reproduced @samreid's test results in https://github.com/phetsims/chipper/issues/964#issuecomment-674413603.

Closing.

[2020-08-19 20:52] #964 closed

[2020-08-19 22:35] chrisklus commented on #954
@zepumph and I discussed more today and figured out a pattern we both like. We decided on pulling the IE script back into its own file, converting it back to ES6, then transpiling separately when adding it to the initialization script during a build. This required adding an option to transpile.js for supporting IE, but was simpler than what I was talking about in https://github.com/phetsims/chippe

[2020-08-19 23:35] mattpen commented on #969
@jessegreenberg reported a successful deploy of the screenshots in MAL 1.5.4.

[2020-08-20 22:07] zepumph commented on #966
I do not know where is best, what do you think?

The information I took from the above info is:
* Performance of loops is very browser dependent
* Optimization based choosing loop algorithms should be done in contextualized cases where you can see if changes actually make a difference.
* I didn't see an obvious, ordered list from the above data, did you?

[2020-08-20 22:46] zepumph commented on #969
This throws an error for non phet deploys. I just tried with phet-io-test-sim and the build failed for brands=phet-io:

[code]

This is very high priority as we have a phet-io release of SOM supposed to occur tomorrow, 8/21.

@samreid mentioned on slack that perhaps we could just change the `Error` to a `console.log`, but I don't know enough about the code to know if we would run into downstream p

[2020-08-20 23:26] jbphet commented on #969
I'm glad this was found - @zepumph slacked me about it literally minutes before I was going to kick off the SOM 1.2.0 production build.  I guess I'll hold off until I hear from @mattpen.

[2020-08-24 18:52] pixelzoom commented on #966
Point taken that iterator performance varies by browser, so specific performance information isn't valuable.

How about recommendations on how to choose an appropriate `for` iterator?  How do you decide?  I typically start with the classic `for` loop (with exit condition factored out, if it involves a significant computation ) for anything that is even remotely performance  critical.  But I get th

[2020-08-24 23:29] zepumph commented on #954
I need to get to this by the end of today!

[2020-08-25 00:31] zepumph commented on #954
Review:
  * I understand why you put this under `scripts/`, but I don't feel like it belongs there too much. How about instead put it next to load-unbuild-strings.js and initialize-globals.js which are similar scripts.
  * Tested local build and XHTML in IE. The dialog showed up great!

Unblocking and over to @chrisklus for the last file move.

[2020-08-26 18:07] jonathanolson opened #973 "report-media on standalone builds"
If the Scenery download/build instructions are followed from https://github.com/phetsims/scenery/blob/master/doc/index.html, it fails due to report-media now being run with minimal repos being checked out.

This can be resolved by either:

1. Not running report-media on standalone (dot, kite, scenery, etc.) builds OR
2. Having report-media not fail out in situations like this.

Thoughts?

[2020-08-26 18:49] zepumph opened #974 "Not all public query parameters are marked as such"
Over in https://github.com/phetsims/joist/issues/654, I saw that `?locale` and `?colorProfile` are advertised to PhET-iO clients, but they aren't marked as `public:true` in initialize globals.

When I mark them as such, I don't get the out-of-the-box error dialog that I would expect, even though they both already have default values.

Here is the patch:
[code]

This link makes a dialog about incor

[2020-08-26 23:13] chrisklus commented on #974
As I was suspecting when we discussed via slack, the actual validation in context of the sim for `colorProfile` in your test (and I'm guessing `locale` too) doesn't happen in QSM. Both are just marked as type `'string'` in initialize-globals.js, and QSM doesn't do any type validation for strings because it considers all input as a string. It currently does not try to parse string input say, as a n

[2020-08-27 00:10] pixelzoom opened #975 "Browserslist: caniuse-lite is outdated"
I'm seeing a new warning when running `grunt build` locally, "caniuse-lite is outdated":

[code]

There is no change after running `npm update`.

I reported this in Slack, and @zepumph responded:

... so assigning to @chrisklus.

[2020-08-27 03:40] arouinfar commented on #974
I only include the `colorProfile` query parameter in guides for sims that have a projector mode, so it is highly unlikely that a client would try it out in Friction.

[2020-08-27 22:24] zepumph commented on #966
It definitely seems like developer discretion to me. I don't feel like there was anything solid enough from the dev meeting to summarize a consensus like what you just mentioned as your pattern. If you feel strongly about coming to a consensus, perhaps we should host this question to devs for a final time. Feel free to do that if you'd like.

Also would you like to see a pattern like this document

[2020-08-27 22:31] pixelzoom commented on #966
Let's just close this. The next time I encounter some code that is performing poorly because of a bad iterator choice, I'll consider creating a new issue.

[2020-08-27 22:31] #966 closed

[2020-08-28 00:56] pixelzoom opened #976 "Is stringTest=long sufficient?"
https://github.com/phetsims/natural-selection/issues/210 demonstrates a case where the value used by `stringTest=long` was insufficient to produce a layout problem.  It only manifested with `stringTest=xss`.   Consider either making the string longer, or changing the instructions for `xss` testing to also look for layout problems (which might be problematic since `xss` sometimes crashes sims.)

As

[2020-08-28 02:36] pixelzoom commented on #976
False alarm.  `stringTest=long` is sufficient, https://github.com/phetsims/natural-selection/issues/210 has something else going on.  Closing.

[2020-08-28 02:36] #976 closed

[2020-09-02 20:29] zepumph commented on #954
I did the last few bits. Closing

[2020-09-02 20:29] #954 closed

[2020-09-02 23:04] pixelzoom opened #977 "confirm "IO Type" via lint"
Awhile back, we standardized on "IO Type".  Not "IO type" or some other variations.  In https://github.com/phetsims/tandem/commit/527655c166b03727bab904e7d83bf88a23ccfdf2 I fixed several regressions, including a public-facing one that was introduced by `createIOType`.

@zepumph suggested that we add a check for this to the bad-text.js lint rule.

Assigning to @ariel-phet to prioritize and assign.

[2020-09-02 23:08] zepumph commented on #977
commit coming in hot.

[2020-09-02 23:13] zepumph commented on #977
I found 126 lint errors. Fixing them now.

[2020-09-02 23:25] zepumph commented on #977
126 is likely made up, but lint is clear after the above commits. @pixelzoom anything else here?

[2020-09-03 00:15] zepumph commented on #977
There was one more because I was on a branch in phet-io-test-sim.

[2020-09-03 16:40] jessegreenberg opened #978 "grunt modulify changes image .js files unexpectedly"
I recently added an image to scenery-phet and ran `grunt modulify`. I noticed that multiple images were changed after running that command that I would not have expected.

[code]

Here is the full diff, can see slight differences in url fields:
<details>

[code]

</details>

[2020-09-03 16:40] jessegreenberg commented on #978
Over slack @samreid and @zepumph mentioned this could be related to https://github.com/phetsims/chipper/issues/933.

[2020-09-03 16:46] zepumph commented on #978
@jessegreenberg what are the odds that these files were changed and committed without `grunt update` being run?

[2020-09-03 17:29] jessegreenberg commented on #978
Hmm it seems a unlikely but could be possible. Also may explain why some most images were not touched. I am seeing the last commit to /images in scenery-phet on 5/7/20 (about 4 months ago). Commit messages don't seem related to updating image data.

[2020-09-03 18:11] jbphet opened #979 "Parts of published sims are minified that shouldn't be"
In https://github.com/phetsims/website/issues/1123 it was reported that the translation utility isn't working for Natural Selection.  I started investigating and found that the problem was occurring during extraction of the strings information from the live HTML file.  When I examined the live HTML file, I found that the sections containing the license info, dependencies, strings, and possibly oth

[2020-09-03 18:19] jbphet commented on #979
I just checked two recently published sims - states-of-matter and molecules-and-light - and both also exhibit this problem, meaning that they can't be translated.

[2020-09-03 18:26] zepumph commented on #979
Minification of the initialization script was added in (ish) https://github.com/phetsims/chipper/commit/e4162919be457f0e788533b08aefca666203c66c.

We should revert that and do an MR.

[2020-09-03 18:32] zepumph commented on #979
Committed above. @jonathanolson I am planning to do an MR today.

[2020-09-03 20:15] pixelzoom commented on #977
👍🏻 Closing.

[2020-09-03 20:15] #977 closed

[2020-09-03 20:54] jessegreenberg opened #980 "Do we want supportsZoom query parameter to be public?"
As we publish sims with zoom, do we want to give users the ability to turn this off with a query parameter? May determine how we implement enabling of the feature in https://github.com/phetsims/joist/issues/657#issuecomment-686757928. @ariel-phet what do you think about this?

[2020-09-03 21:00] ariel-phet commented on #980
@jessegreenberg - yes, we definitely want to maintain the ability to turn this feature off with a query parameter (some clients may need this ability for certain sims in their platform).

[2020-09-03 21:07] jessegreenberg commented on #980
OK sounds good - are you OK with `?supportsZoom` as the public name?

[2020-09-03 23:28] samreid commented on #978
I'm seeing changes in the same 4 files, perhaps grunt modulify was fixed but not run on every repo?

[2020-09-04 00:38] zepumph commented on #978
I was the last person to update those files for SimLauncher work, so it isn't surprising that nothing changes for me. It is curious though. @jessegreenberg, don't you have a windows?

[2020-09-04 01:00] zepumph commented on #979
MR in progress, but it looks fixed in `view-source:https://phet-dev.colorado.edu/html/molecules-and-light/1.5.5-rc.2/phet/molecules-and-light_en_phet.html` and searching for `strings = `

Things are no longer minified.

[2020-09-04 01:56] ariel-phet commented on #980
Hmm, that might be a good question to bring to up at status or such next week. Designers might have some thoughts on what clients might appreciate as a clear name (I just worry that "Zoom" is now used so much to refer to video sharing software we might need something with some disambiguation)

[2020-09-04 04:34] zepumph commented on #979
Alright here is how far I have gotten today. I wrote down every line of code I made for the MR, and took notes on any issues during:
[code]
after I ran it again it worked:
Maintenance.deployReleaseCandidates()
[code]
maintenance> Maintenance.list()
atomic-interactions 1.2 phet,phet-io (unreleased)
  pushedMessages: https://github.com/phetsims/chipper/issues/979
collision-lab 1.0 phet (unreleased)

[2020-09-08 16:36] zepumph commented on #979
Alright, after https://github.com/phetsims/QA/issues/546 looked good, I went ahead with `Maintenance.deployProduction()`. It worked and published the following sims:

MAL-1.5.5
NS-1.1.1
SOM-1.2.1 (phet-io also)

From here, I still have the above questions for @jonathanolson and @jbphet, which feel like high priority just to finish this issue off and not leave an MR half way complete.

I also want

[2020-09-08 16:39] pixelzoom commented on #979
I don't know how to test translation via the website, so I'm going to unassign myself and request that @jbphet have a look.

[2020-09-08 16:44] jonathanolson commented on #979
Are those branches we should consider deleting? Or just let them be patched for me.

[2020-09-08 16:45] jonathanolson commented on #979
Prototypes aren't set up at all for maintenance, they're a "publish from dev versions from master" if I'm correct. So the process is purely a manual "figure out a new dev release, have QA test it, etc."

[2020-09-08 16:52] zepumph commented on #979
Perhaps the first few were like that, but I believe that NS 1.1 was considered a Prototype, and that is on branches and considered a production release, so maybe this is just something to answer for collision lab. @ariel-phet, do we want this patch to allow translation in the Collision Lab prototype?

[2020-09-08 17:00] jonathanolson commented on #979
Maintenance relies on what the website says are production simulations. https://phet.colorado.edu/services/metadata/1.0/simulations?format=json&summary&type=html&locale=en says natural-selection IS a production sim, and that collision-lab is NOT a production sim.

[2020-09-08 17:05] pixelzoom commented on #979
To clarify... NS is a production sim that was put through a prototype QA process to save co$t.  It has a visible sim page on the PhET website.  A prototype does not have a visible sim page.

[2020-09-08 18:06] zepumph opened #981 "`grunt update` should call `grunt modulify`"
From a simple poll in the dev channel, no one disagreed. @samreid, @jessegreenberg, @jonathanolson, and @pixelzoom agreed that this should be done.

@pixelzoom also mentioned to make sure that the grunt --help doc is updated to support this.

[2020-09-10 16:32] jessegreenberg commented on #980
Discussed 9/10/20 during status meeting:

Team thought it was good to include "pan" in the name. "magnification" was discussed but "panAndZoom" was determined to be a bit more user friendly. And all agreed "zoom" alone was a bit loaded now with widely used video sharing software.

The decided name was ?supportsPanAndZoom.

[2020-09-10 20:34] jbphet commented on #979
I just examined the HTML for the published versions of natural-selection, molecules-and-light, and states-of-matter, and the problem appears to be corrected, i.e. the license info, strings, etc are no longer minified.  I can also see there there have been several successful submissions of translations for natural-selection.  Finally, I checked the commit history in the babel repo and can see that

[2020-09-11 20:19] jessegreenberg commented on #980
Change was made to the query parameter, it is now a boolean `?supportsPanAndZoom`.

[2020-09-11 20:19] #980 closed

[2020-09-12 17:53] samreid commented on #978
I updated scenery-phet and compared the image of the protractor in Bending Light.  They are indistinguishable.

Here is the code that converts the image file to the module, it doesn't depend on 3rd party code:
[code]

It may have changed a little bit on June 17: https://github.com/phetsims/chipper/commit/0e01ac5d75f83ede34e05e4c1ba244c092bb5e21

I also noticed several other mipmaps have changed.

[2020-09-12 17:57] samreid commented on #978
@jessegreenberg can you please pull all, then run `for-each.sh active-repos grunt modulify` and report if anything else changes?

[2020-09-13 15:03] samreid commented on #978
Hang on, I'm seeing other uncommitted changes on my side.  I'll take a closer look before sending over to @jessegreenberg

[2020-09-13 20:03] samreid commented on #978
OK I pushed all of the `grunt modulify` changes, not sure why those didn't go through before.  @jessegreenberg can you please pull all, then run `for-each.sh active-repos grunt modulify` and see if anything changes?

[2020-09-14 16:26] samreid opened #982 "Mipmaps are not outputted in a format compatible with our style formatter"
From https://github.com/phetsims/natural-selection/issues/228

Our code style formatter adds a new line after the import.  We should auto-generate this new line so that reformat doesn't do anything.

[2020-09-14 16:46] samreid commented on #982
Fixed and ready for review.  The commit messages should say `grunt modulify` instead of `grunt update`

[2020-09-14 16:55] pixelzoom commented on #982
I spot-checked a few .js files for mipmaps, ran `grunt modulify` etc. and everything looks as expected.

But this change seems to be be only for mipmaps, and phetsims/natural-selection#228 was related to images.  Should the same change (blank line after imports) be made for images?

[2020-09-14 16:55] pixelzoom commented on #982
It looks like sounds already have a blank line after imports, so no problem there.

[2020-09-14 17:00] samreid commented on #982
Yes, I'll add it for images.

[2020-09-14 17:12] jessegreenberg commented on #978
I just pulled everything, ran `for-each.sh active-repos grunt modulify` and I see no changes on my local copy. Thanks! I think this can be closed then.

[2020-09-14 17:32] samreid commented on #982
OK I added the newline for images as well, ready for review.

[2020-09-14 17:38] pixelzoom commented on #982
Tested with NS, looks good, closing.

[2020-09-14 17:38] #982 closed

[2020-09-15 21:04] zepumph commented on #978
This is unfortunately not complete! When I pull all and then do the same command, I get 55 files modified, here is the patch for the changes:

<details>

[code]
</details>

With all those extra spaces, I wonder if we should promote https://github.com/phetsims/chipper/issues/933 to make sure that this is solved, though I'm not 100% sure that this is the issue.

[2020-09-15 23:33] zepumph commented on #979
@ariel-phet and I discussed and we don't think CL needs to be MR'ed. Closing

[2020-09-15 23:33] #979 closed

[2020-09-16 04:22] samreid commented on #978
I don't think this is caused by #933, because `modulify` already uses `EOL`.  Instead, it seemed like 2 common repos were missed.  I `modulified` them and referenced commits in https://github.com/phetsims/chipper/issues/982.

@zepumph can you please re-test at your convenience?

[2020-09-16 20:41] zepumph commented on #978
Ahhh, I see thanks! I'll retest soon.

[2020-09-17 16:02] jonathanolson opened #983 "Automatic identification of dependencies"
Recently had some subtle "dependent repo wasn't in package.json phetLibs" cases (https://github.com/phetsims/sun/issues/626), and realized that the potential impact of this if it happens again is "translation update could cause the sim to build with master or old SHAs of an unlisted repo, and break PRODUCTION sims".

Due to this, I believe it would be good to investigate using webpack's list of us

[2020-09-22 02:19] ariel-phet commented on #586
This issue is quite stale, improving our workflow/management seems like a much higher priority currently than improving tooling. I believe moving to modules also made a big difference in tool/IDE productivity. Closing

[2020-09-22 02:19] #586 closed

[2020-09-22 20:09] pixelzoom opened #984 "issues with buildRunnable.js"
In buildRunnable.js:

[code]

`instrument` is unused.
`buildLocal` has no `@param` annotation, and is flagged by WebStorm.

[2020-09-22 20:09] mattpen commented on #888
https://docs.microsoft.com/en-us/microsoft-edge/web-platform/tracking-prevention

This newer message looks like a byproduct of a new feature in Edge.  This is probably expected behavior. This doesn't seem to be causing any problems, so I'm going to close this issue.

[2020-09-22 20:09] #888 closed

[2020-09-22 20:13] pixelzoom opened #985 "--instrument is no longer supported"
"Instrumentation" of sims for code coverage was apparently stripped out when PhET switched to ES6 modules. And code-coverage.md (the documentation) no longer exists.

grunt help should be removed from chipper/js/grunt/Gruntfile.js:

[code]

buildRunnable.js does nothing with its `instrument` parameter (see https://github.com/phetsims/chipper/issues/984).  So find and delete all occurrences of `ins

[2020-09-24 05:16] samreid commented on #983
Our current way of specifying dependencies is to add entries to package.json like so:

[code]

This must be a full list of all dependencies (transitive dependencies are not automatically picked up).

It would be nice to move away from this pattern and leverage webpack for this step fully.  However, if we need to cache results or equivalent to make maintenance releases and other procedures faster,

[2020-09-29 16:33] pixelzoom opened #986 "revise 'grunt production' prompt"
I ran:

[code]

One of the prompts is:

[code]

This probably needs to be updated, since requirejs is no longer used.  I'm not sure what the new language should be, and did not investigate where this needs to be changed.

Assigning to @ariel-phet to prioritize and assign.

[2020-09-30 04:55] ariel-phet commented on #986
@samreid I imagine this is a fairly quick change, putting at medium priority since it seems good to update and easy

[2020-09-30 05:02] samreid commented on #986
This was added by @zepumph as part of https://github.com/phetsims/phet-io/issues/1524.  I think it is safe to remove entirely, since it looks like a failure or timeout during generatePhetioAPI fails the build.  Tagging @zepumph in case I'm wrong, but I'm confident enough to commit.

[2020-09-30 05:04] samreid commented on #986
OK I removed the prompt.  @pixelzoom do you have enough context to review?  If not, please assign to @zepumph.

[2020-10-01 16:01] #986 closed

[2020-10-01 19:20] ariel-phet commented on #973
We will go with option 1 since this affects third parties desiring to build scenery, not internal work

[2020-10-01 19:31] zepumph commented on #983
During the dev meeting it wasn't totally clear what more would be need beyond something like this untested patch. It was clear though that @jonathanolson wanted to take time to think through how this may effect our tooling, especially as it pertains to perennial and the batch MR process.

[code]

[2020-10-15 17:55] zepumph opened #989 "Can we commit debuggers under a query parameter?"
From slack discussion with @samreid, it would be nice to have a `?debugger` QP that you can use to get at debuggers throughout the code. Mainly in assert.js, and in qunitStart.

[2020-10-21 22:31] pixelzoom opened #990 "issues to address when Node 14 is in LTS"
When Node 14 is in LTS (scheduled for 10/27/2020), prioritize and assign these issues:

https://github.com/phetsims/chipper/issues/861
https://github.com/phetsims/chipper/issues/949
https://github.com/phetsims/chipper/issues/862
https://github.com/phetsims/chipper/issues/947
https://github.com/phetsims/perennial/issues/179

Added to "Future Reminders" in the PhET Developer Meeting doc, to be revis

[2020-10-21 22:34] pixelzoom commented on #990
Tomorrow is 10/22/2020, labeling for developer meeting to revisit this issue.

[2020-10-22 18:10] mattpen commented on #990
Let's defer discussion until next week after it is in Active LTS status.

[2020-10-26 21:03] zepumph opened #991 "A11y view: assertive alerts should get a different style from polite"
From https://github.com/phetsims/ratio-and-proportion/issues/214#issuecomment-713214134, where we added assertive alerting as an option for Utterances and AriaHerald. If we made the assertive paragraphs specially highlighted, that would help communicate that the screen reader will handle them differently. Tagging @jessegreenberg.

[2020-10-26 21:06] zepumph commented on #991
Furthermore, as discovered in https://github.com/phetsims/ratio-and-proportion/issues/214#issuecomment-716823546, the mutation observer added for aria live elements could be greatly improved.

[2020-10-29 15:49] jessegreenberg commented on #787
This came up again in https://github.com/phetsims/chipper/issues/787 during an RC of ESP. Adding the blocks-publication label.

[2020-10-29 18:02] jbphet commented on #990
The release is now in Active LTS.  We decided that the next step is to have all the developers update to Node 14 this week and run like that for a week and make sure that no major issues are encountered, and if all is good we will proceed to the next step, which is to upgrade it on the servers.

[2020-10-29 18:14] samreid commented on #990
I updated from v12.16.3 to v14.15.0

[2020-10-29 18:27] pixelzoom commented on #990
Yes, I have updated to Node 14:

- [ ] @chrisklus
- [ ] @Denz1994
- [ ] @jbphet
- [ ] @jessegreenberg
- [ ] @jonathanolson
- [ ] @mattpen
- [ ] @pixelzoom
- [ ] @samreid
- [ ] @SaurabhTotey

[2020-10-30 15:40] pixelzoom commented on #787
I'm assuming that this does not block publication of the dev test for Natural Selection, for https://github.com/phetsims/natural-selection/issues/251.  @ariel-phet please correct me asap if that's incorrect.

[2020-10-30 17:21] samreid opened #992 "[mac specific] No Xcode or CLT version detected"
Related to https://github.com/phetsims/chipper/issues/990
After updating to Node 14, then cleaning node_modules and running `npm install`, I see these errors:

[code]

Assigning to @ariel-phet to prioritize and delegate.

[2020-10-30 17:24] zepumph opened #993 "Warning: Accessing non-existent property 'padLevels' of module exports inside circular dependency"
This is showing up on every build we do with grunt since upgrading to Node14. @samreid, @jessegreenberg and I have all encountered it. Tracing the stack, it looks like it is from chipper's Gruntfile -> findDuplicates -> `jscpd`. It seems like everything else is internal to that module. I checked the versions of jscpd available. We are using `"jscpd": "^0.6.18"`, and the current npm version is `3.3

[2020-11-02 15:46] Denz1994 commented on #787
The debugMinifyOptions in `buildRunnable.js` was adjusted to minify and beautify the debug builds as suggested above. Assertions are still included in these builds. I tested a few debug builds in energy-skate-park, energy-skate-park-basics, and fluid-and-pressure-flow. The errors have ceased in the console, as described in https://github.com/phetsims/sherpa/issues/80. Assigning to @jonathanolson f

[2020-11-02 21:50] mattpen commented on #992
@ariel-phet asked me to investigate.  Here were the results on my machine (MacOS 10.14.6):

[code]

I did not see the errors that @samreid described, but this line is concerning:

[code]

It looks like `webpack-dev-server` has a dependency on fsevents 1.  Our current version is 3.10.1, but the current version listed at https://webpack.js.org/configuration/dev-server/ is 5.3.2.  I don't know what t

[2020-11-02 22:50] samreid commented on #787
I compared the build version before and after the changes, it noticed that after the changes, the debug version is missing all of the code comments.

[2020-11-02 23:35] samreid commented on #787
The reverts referenced above are for the gravity-and-orbits-1.2 branch only, see https://github.com/phetsims/gravity-and-orbits/issues/345#issuecomment-720779409

[2020-11-05 13:41] samreid commented on #787
@jessegreenberg and I discussed and @jessegreenberg recommended:

Note that builds containing cb2e957 probably do not have comments in the debug version.

[2020-11-05 19:06] jonathanolson commented on #992
@samreid have you reinstalled xcode dev tools?

[2020-11-05 19:09] ariel-phet commented on #993
Marking as high priority for very quick discussion (and seeing if we have a volunteer!)

[2020-11-06 19:51] samreid commented on #992
Not recently, self assigning to try that in the future.

[2020-11-07 02:15] samreid commented on #861
On Thursday, @zepumph and I volunteered to investigate converting to this pattern in our Node code, partly so that the 2-3 files which are used as preloads and require modules can be simplified as modules.  I'll probably investigate this within the next few days.

[2020-11-07 02:28] samreid commented on #861
I identified a potential roadblock--we invoke chipper code via `grunt` which is defined using `require` statements and `module.exports`.  For example, adding `"type": "module"` to package.json, then in chipper/Gruntfile.js, changing to:

[code]

then running `grunt` from `chipper/` yields this problem:

[code]

Does grunt prevent us from using ES6 modules?

[2020-11-08 04:29] mattpen commented on #990
All production servers are now running node 14.15.0, so work on this issue should be able to proceed.

[2020-11-10 20:00] KatieWoe commented on #787
This still occurs in https://github.com/phetsims/QA/issues/577

[2020-11-10 22:31] jessegreenberg commented on #787
Thanks @KatieWoe - I discussed this issue with @jonathanolson over slack and he reviewed saying that the changes are safe to proceed with for a publication so I am cherry-picking them to the energy-skate-park-1.1 branch of chipper. Also removing the blocks publication label.

[2020-11-10 22:35] jessegreenberg commented on #787
Over slack @jonathanolson said that the changes are safe, but if people are relying on comments in debug files then we should look into restoring them. Adding to developer meeting to see if anyone is relying on comments in the debug build.

[2020-11-12 18:18] jonathanolson commented on #861
What happens when we try converting the top-level Gruntfile.js to use import?

[2020-11-12 19:49] chrisklus commented on #993
From 11/12/20 dev meeting, we decided that findDuplicates does not seem to be used and can be omitted. @samreid volunteered to do so, thanks!

[2020-11-12 20:05] chrisklus commented on #990
From 11/12/20 dev meeting:

We are going to close this issues and reprioritize and assign out the issues from https://github.com/phetsims/chipper/issues/990#issue-726907542. Closing.

[2020-11-12 20:05] #990 closed

[2020-11-12 20:11] chrisklus commented on #861
From 11/12/20 dev meeting:

We like the sound of not needing grunt in the future, but we're not sure if this issue is a good enough reason to get rid of it.

@zepumph volunteered to continue investigation here.

[2020-11-12 20:19] chrisklus commented on #862
From 11/12/20 dev meeting:

We are cool with keeping .js as our file extension. Marking this as on-hold until #861 is complete.

[2020-11-12 21:25] KatieWoe commented on #787
I am not seeing these errors in ESP rc3 anymore.

[2020-11-13 02:11] zepumph commented on #933
I don't think this issue applies anymore. If all that is left is updating modulify, then I think we should close this issue. There is no reason to maintain that file in such a minute way at this time.

[2020-11-13 02:11] #933 closed

[2020-11-15 13:53] samreid commented on #526
In https://github.com/phetsims/chipper/issues/993 we decided to remove this file, closing.

[2020-11-15 13:53] #526 closed

[2020-11-15 13:53] samreid commented on #566
In https://github.com/phetsims/chipper/issues/993 we decided to remove this file, closing.

[2020-11-15 13:53] #566 closed

[2020-11-15 13:57] samreid commented on #993
Removed and tested by running grunt build and grunt update, closing.

[2020-11-15 13:57] #993 closed

[2020-11-15 14:23] samreid commented on #949
I updated to puppeteer ^5.4.1 in my working copy, and tested the following parts:

- [x] precommit hook for unit tests
- [x] generate phet-io-api
- [ ] aqua/fuzzOneSim
- [ ] cheerpj get preloads
- [ ] unitTestBatch
- [ ] pdom comparison
- [ ] puppeteerHelpCT
- [ ] installer builder proxy

[2020-11-15 17:44] samreid commented on #947
We successfully upgraded to qunit 2.10 in May.  The remaining work for this issue is about puppeteer and will be completed in https://github.com/phetsims/chipper/issues/949, closing.

[2020-11-15 17:44] #947 closed

[2020-11-15 17:48] samreid commented on #949
https://github.com/phetsims/chipper/issues/947#issuecomment-634240514 says:

Here is a patch that upgrades puppeteer to 5.4.1.  After applying this patch, you can `npm prune` and `npm update` in chipper, aqua and perennial.

@zepumph when you have time, can you confirm that this new version works OK on your side now that we are using Node 14?

<details>

[code]

</details>

[2020-11-16 18:50] pixelzoom opened #995 "`grunt update` does not `git add` files that it creates"
`grunt update` does not `git add` files that it creates.  For example, if I add `"colorProfile": true,` to package.json and run `grunt update`, it creates `{{REPO}-colors.html`.   But then I have to remember to manually `git add` it (either via command line or IDE).

Assigning to @ariel-phet to prioritize and assign.

[2020-11-16 21:39] zepumph commented on #949
I applied the patch and was able to successfully build GAO for phet-io brand, and I ran `hook-pre-commit.js` from axon via the command line. Everything worked great! I also confirmed by adding an erroring test in axon, and the `hoo-pre-commit.js` failed.

[2020-11-16 21:39] zepumph commented on #949
Was there anything specific that I was supposed to test?

[2020-11-16 21:53] samreid commented on #949
That's perfect, thanks. I'll move forward for next steps.

[2020-11-16 22:52] samreid commented on #949
I updated to puppeteer ^5.4.1 in the commits.  Please npm prune and npm update in aqua, chipper and perennial at your convenience and report any issues in https://github.com/phetsims/chipper/issues/949

[2020-11-16 22:54] samreid commented on #949
I'd like to hear that:

- [ ] pdom comparison
- [ ] puppeteerHelpCT
- [ ] installer builder proxy

Are working satisfactorily before closing this issue.  Marking to touch base at developer meeting.

[2020-11-16 23:09] zepumph commented on #993
There seems to be another usage of the npm library causing this issue. After pull all, I can still get this warning by loading perennial's gruntfile, for example with `grunt print-phet-io-files`.

Running with `--trace-warnings` indicates that our version of `winston` seems to be the issue.  I created https://github.com/phetsims/perennial/issues/201.

[2020-11-17 01:20] jonathanolson commented on #995
It seems like the convention for scripts is to create/modify files without `git add`. This seems beneficial, since I wouldn't expect tooling to do that. This would also apply to things like generating READMEs, simula-rasa copies, updating copyright dates, etc.

If we're not doing it for all cases I'm aware of, is there a specific reason we'd want it here? I'm skeptical that this change would be he

[2020-11-17 01:43] ariel-phet commented on #995
Since there are some differing viewpoints here, it would be good to get a consensus at dev meeting.

[2020-11-17 05:34] jessegreenberg commented on #968
In https://github.com/phetsims/chipper/pull/967, Dependabot said "Looks like jpeg-js is up-to-date now, so this is no longer needed." So this can be closed too.

[2020-11-17 05:34] #968 closed

[2020-11-18 15:09] samreid commented on #992
When I ran a command to install the xcode dev tools, it said I already had them:

[code]

[2020-11-18 16:10] samreid commented on #992
I'm not sure what to investigate next, or how to know if this is even a problem.  Tagging for developer meeting to touch base and decide next steps.

[2020-11-19 20:15] samreid commented on #992
JO: I don't see this problem on Node 14 on Mac.

AP: Let's close this issue, since we don't see any symptoms of it.

CM: I haven't seen anything like this.

MK: There is a newer version of webpack dev server.  I tried it, but it still had the deprecation warning.

[2020-11-19 20:28] samreid commented on #787
@zepumph: It's not important to me that the code comments are in the debug version.
@Denz1994: It's more important that the assertions are not stripped out
@samreid: Preferably the code comments would remain in.
@zepumph: Yes, but it is rare to look at a debug version for context--we try to move to master quickly to reproduce the problem
@chrisklus: I agree
@jonathanolson: But what about problems

[2020-11-19 20:33] jessegreenberg commented on #992
Just pasting the output from my windows 10 machine, node version 14.15.0. No errors, but there are warnings related to "fsevents" and "chokidar".
[code]

[2020-11-19 21:51] zepumph commented on #989
I added `?debugger`. When provided, it will debug on thrown assertion errors and qunit failed tests. @samreid please review.

It looks like `debugger` is stripped out even for the debug build, so this would only be useful during development.

Here is what assert looked like in the debug version of phet brand friction:

![image](https://user-images.githubusercontent.com/6856943/99728447-ebbc9400-2a

[2020-11-19 22:03] zepumph commented on #981
Next I'll run `grunt update` on all sims to make sure things are up to date.

[2020-11-19 22:09] zepumph commented on #804
I don't think this needs any more time. Closing

[2020-11-19 22:09] #804 closed

[2020-11-19 22:34] zepumph commented on #822
I also see `isWrapper` being used in phet-io-wrapper-haptics, but https://github.com/phetsims/phet-io-wrapper-haptics/issues/7 makes me think it is safe to remove still.

[2020-11-19 22:41] zepumph commented on #822
Removed above. Closing

[2020-11-19 22:41] #822 closed

[2020-11-19 22:46] zepumph commented on #981
Updated above. Closing

[2020-11-19 22:46] #981 closed

[2020-11-20 00:34] zepumph commented on #963
@chrisklus can you please recommend how to proceed with this issue?

[2020-11-20 00:58] samreid commented on #992
On second thought, I'd like to understand what dependency is causing this, and to see if updating a dependency resolves it.

[2020-11-20 17:46] samreid commented on #946
The commit revealed problems in these repos:

- [ ] dot
- [ ] kite
- [ ] perennial
- [ ] phet-io
- [ ] scenery
- [ ] tandem

[2020-11-20 17:48] zepumph commented on #946
Arg! I linted locally, but didn't remove my cache, so it didn't show any of these. I'll revert and create a new issue to chip away at these.

[2020-11-20 18:13] zepumph opened #996 "More repos should require linked issues to be in TODOs"
In https://github.com/phetsims/chipper/commit/bf766faa1f8f20fb69665b4898740e35cf054d2e I tried to add this, but I didn't clean up the lint errors first, and it broke CT. So this should be a chip-away issue to make sure that issues are linked with TODOs in common code.

I think that the opt-in list should be build.json['common.phetLibs'].

Right now it is just `joist`.

When I test on all repos in

[2020-11-20 18:18] zepumph commented on #996
There are only 109 when you ignore scenery, so perhaps we should start with those.

[2020-11-20 18:20] zepumph commented on #996
Here are all the common code repos defined by build.json:

- [ ] assert
- [ ] axon
- [ ] babel
- [ ] brand
- [ ] chipper
- [ ] dot
- [ ] joist
- [ ] kite
- [ ] phet-core
- [ ] phetcommon
- [ ] phetmarks
- [ ] query-string-machine
- [ ] scenery
- [ ] scenery-phet
- [ ] sherpa
- [ ] sun
- [ ] tambo
- [ ] tandem
- [ ] twixt
- [ ] utterance-queue

[2020-11-20 18:36] samreid commented on #989
This looks great to me, I tested throwing an assertion in Gravity and Orbits and it worked as expected.  The code changes look good.  I would recommend as a final step, adding `&debugger` to be on by default for phetmarks.

[2020-11-20 18:41] zepumph commented on #996
So all but three of the lint errors were in dot, kite, and scenery. I added everything else to the lint rule. @jonathanolson, I feel like this issue should be prioritized by you. Tagging @ariel-phet to note that there are 400 TODOs in these repos without a linked issue, which is against out current common code TODO standard, but I don't think this is a very high priority myself.

[2020-11-20 18:42] zepumph commented on #946
I created https://github.com/phetsims/chipper/issues/996 to address this in its own issue.

[2020-11-20 21:30] #989 closed

[2020-11-22 13:39] samreid commented on #975
I no longer see this problem in master:

[code]

@pixelzoom does this still occur on your development environment?

[2020-11-22 13:44] samreid commented on #576
`pull-all.sh -p` is working nicely, and can be set up with an alias.  The separate parallel file was deleted in https://github.com/phetsims/perennial/issues/61, closing.

[2020-11-22 13:44] #576 closed

[2020-11-22 14:05] samreid commented on #383
It seems like yarn 2 with a global cache would address this nicely.

[2020-11-22 14:12] samreid opened #997 "npm update on bayes is taking 5+ minutes"
On slack, @jonathanolson pointed out that bayes npm update is taking 5+ minutes.  It is running node 14.15.0.

reproducible by going to `/data/web/htdocs/dev/phettest/perennial` with our admin account, and running `npm update`.

Assigning to @jonathanolson to ask which processes this will impact, and assigning to @ariel-phet to gather further information, and prioritize.

One solution to this prob

[2020-11-22 15:33] pixelzoom commented on #975
Seems to have self-healed. Closing.

[2020-11-22 15:33] #975 closed

[2020-11-22 21:25] samreid commented on #992
I updated everything in package.json to latest, and still saw this problem on `npm install`.  Closing again.

[2020-11-22 21:25] #992 closed

[2020-11-23 12:43] samreid commented on #787
numeric.js has not been maintained since 2012.

[2020-11-23 13:45] samreid commented on #787
I tried putting `output:{comments:'all'}`, but it increased the production minify time from

to

which is too long, in my opinion.  Also, the formatting is not very readable:

![image](https://user-images.githubusercontent.com/679486/99969172-58ca7500-2d57-11eb-8bce-3dfc42f28f46.png)

[2020-11-23 14:08] samreid commented on #787
I manually escaped the closing tags in the comments of numeric-1.2.6.js, and reverted the changes to the minification process.  I noticed this speeds up the builds by about 13 seconds.

Before:

After:

This also fixes the formatting:

![image](https://user-images.githubusercontent.com/679486/99970761-86182280-2d59-11eb-9c14-d795f5f5e825.png)

And there are no HTTP requests when starting the debug

[2020-11-23 16:22] KatieWoe commented on #787
Noting that option b is already (basically) standard for at least one rc in a testing round. I run the debug sim with a fuzz test and the console open for ~10 minutes while testing something else on another device, so that I can catch assertions that might happen.

[2020-11-23 17:42] Denz1994 commented on #949
From dev meeting on 11/23/20:

MK: We can check off pdom comparison.

DB: I'll investigate the usage in the installer builder.

MK: I'll test puppeteerHelpCT.

SR: After updating everything via Webstorm, building seemed okay as a first pass. Maybe we are too conservative with not updating.

[2020-11-24 04:58] samreid commented on #829
Summarizing the current status:

initialize-globals public:
* allowLinks
* homeScreen
* initialScreen
* screens
* supportsPanAndZoom

initialize-globals private:
* showAnswers

[2020-11-24 05:01] samreid commented on #829
In the commit, I also marked memberof things as public:
* sound
* phetioEmitHighFrequencyEvents
* phetioEmitStates
* phetioEmitStatesInterval
* phetioConsoleLog
* phetioStandalone

[2020-11-24 05:04] samreid commented on #829
I marked that `public: true` in the commit.

There are proposals in this issue for combining public/private into visibility, but there is disagreement and it is not clear to be worth the effort.  I'm satisfied with the current status of this issue, but think I should leave it up to commenters whether they would like other steps to be taken before closing (perhaps in a side issue).  @pixelzoom @chr

[2020-11-24 05:08] samreid commented on #935
Our process has changed, now `grunt generate-phet-io-api` creates new files and does not overwrite prior files.  I tested by adding `throw new Error();` to Bunny.js constructor and ran `grunt generate-phet-io-api`.  It didn't disturb any existing files, and didn't create any new broken files.  I think this issue can be closed.

[2020-11-24 05:08] #935 closed

[2020-11-24 15:38] pixelzoom commented on #829
I'm OK with `public`.   That said, I would be very happy if `public` (and `private`, and `protected`) became JavaScript keywords in the future, if JavaScript were to provide language support for visibility.

[2020-11-30 15:25] Denz1994 commented on #949
@samreid Updating puppeteer wouldn't impair the installer builder usage. Reassigning to @samreid.

Just for some context, InstallerBuilderProxy was used as a prototype for server-side rendering of dynamic content on HTML pages. It isn't core to the installer builder's build process.

[2020-11-30 16:18] samreid opened #998 "Investigate Yarn 2"
Inspired by https://github.com/phetsims/chipper/issues/997, I decided to create a dedicated issue about investigating yarn.  As mentioned in that issue:

Let's touch base in developer meeting.

[2020-12-01 19:29] ariel-phet commented on #997
@jonathanolson said over slack this issue would be good to solve. Assigning to him to hopefully look into this week.

[2020-12-01 20:05] mattpen commented on #902
After reviewing usage in yotta's `aggregate.html`, converting the js file to use the json as a source isn't trivial.  I assumed that we could use the node `fs` api to retrieve the file, but yotta needs to fetch this data from a browser.  We can either
    (a) use the github raw api to fetch the file via http request in localeInfo.js (using a library that is compatible with node AND browsers) or

[2020-12-01 20:06] mattpen commented on #902
Bumping priority down as this list isn't likely to change soon, so we can keep using the current solution (maintain 2 nearly identical files) for now.

[2020-12-01 21:38] jonathanolson commented on #997
This is now resolved, the thing that did the trick was `npm cache clean --force`.

[2020-12-01 21:38] #997 closed

[2020-12-03 16:37] Denz1994 commented on #998
Just noting here 12/10/20 1:15 pm MT (mid phet-io meeting), Github Universe is presenting on the 2021 [roadmap for npm](https://githubuniverse.com/github-loves-npm/).

I've been using yarn 1 and npm simultaneously (based on [recommendation](https://www.electron.build/#installation)) in Weddell with no issue, so perhaps we can just integrate Yarn 2 where there are gaps in NPM support.

[2020-12-03 18:06] zepumph commented on #814
I'm not going to get to this anytime soon. unassigning.

[2020-12-03 18:07] zepumph commented on #818
api generation is no longer part of grunt update.

[2020-12-03 18:07] #818 closed

[2020-12-03 18:09] zepumph commented on #942
isWrapper deleted in https://github.com/phetsims/chipper/issues/822

[2020-12-03 18:09] #942 closed

[2020-12-03 18:09] zepumph commented on #903
isWrapper deleted in https://github.com/phetsims/chipper/issues/822

[2020-12-03 18:09] #903 closed

[2020-12-03 18:11] zepumph commented on #949
Anything else here @samreid? I checked my boxes after verifying.

[2020-12-03 18:14] zepumph commented on #978
Ok all looks good. Thanks @samreid.

[2020-12-03 18:14] #978 closed

[2020-12-03 19:34] #871 closed

[2020-12-03 19:46] zepumph commented on #995
We feel good to close this, and not `git add` files from tooling.

[2020-12-03 19:46] #995 closed

[2020-12-05 04:42] samreid commented on #949
Thanks, it seems we are good to go, closing.

[2020-12-05 04:42] #949 closed

[2020-12-08 22:33] samreid commented on #983
I think this could have averted a problem in the waves-intro build, discovered in https://github.com/phetsims/QA/issues/580.  Relabeling for dev meeting to see if we need to change priority, assignee or timeline.

[2020-12-08 22:37] pixelzoom commented on #983
This bit me in fourier-making-waves.  I started using bamboo instead of griddle, but neglected to change package.json. The build process produced an incomplete dependencies.json for 2 dev versions, and would have happily continued doing so if @samreid hadn't pointed out the problem.

[2020-12-09 00:30] zepumph commented on #983
This patch is a half solution in which we just make sure that all used dependencies are in the hard coded lists in package.json, with a loud assertion. Feel free to commit if you are worried of getting bit again The part of ratio and proportion triggers the assertion.

Likely the ideal is the auto detect, this could be improved upon perhaps by passing in the used list of dependencies to getDepende

[2020-12-10 18:57] pixelzoom commented on #983
12/20/2020 dev meeting:

@zepumph suggested a patch in https://github.com/phetsims/chipper/issues/983#issuecomment-702351660.
@jonathanolson wanted to "take time to think through how this may effect our tooling".
This is still where we're at.

@jonathanolson suggested 3 options:
(1) Specify "phetLibs" in package.json and sanity check it.
(2) Delete "phetLibs" in package.json and automatically gene

[2020-12-11 01:48] jonathanolson commented on #983
Added (1) above, does it look good @zepumph? Presumably we'll keep open to handle (3) eventually, and can re-prioritize if it looks good. I tested all runnables.

[2020-12-11 18:27] zepumph commented on #983
Looks really nice, thanks for the assertion. unassigning until we get to automatically calculating dependencies.

[2020-12-15 17:33] zepumph commented on #983
Hmm. This is failing an assertion for me in RaP right now when I try to build locally:

[code]

I'll take a look

[2020-12-15 17:44] zepumph commented on #983
We need a cross-platform way to split the path up. This got things working for me.

[2020-12-15 19:43] jonathanolson commented on #983
Sorry about that! Thanks.

[2020-12-16 00:15] zepumph commented on #829
I feel alright with the current implementation. Anyone feel free to re-open.

[2020-12-16 00:15] #829 closed

[2020-12-17 19:47] zepumph opened #999 "Chipper should assert that non a11y strings aren't in nested string file objects"
From https://github.com/phetsims/energy-skate-park/issues/317, nested strings in json files are not supported for translation. During dev meeting today, it was noted that an assertion during build would help catch this early.

[2020-12-17 19:47] zepumph commented on #999
My guess is that something in getStringMap that is hard coded to allow `a11y` nesting, but nothing else, would be the place to start.

[2020-12-31 10:59] samreid commented on #761
There is much more progress on this topic in https://github.com/phetsims/phet-info/issues/150, closing as duplicate.

[2020-12-31 10:59] #761 closed

[2021-01-01 02:15] samreid opened #1000 "Update to ESLint 7"
As described in https://github.com/phetsims/phet-info/issues/150#issuecomment-753233789

The migration guide is here: https://eslint.org/docs/user-guide/migrating-to-7.0.0

[2021-01-02 05:44] samreid commented on #1000
I noticed weddell is already using eslint 7.

[2021-01-02 18:17] samreid commented on #1000
ESLint 7 has a new default rule that prevents setters from returning a value.  I considered turning the rule off for compatibility, but it seems better to eliminate these returns, so I'll commit that.

[2021-01-03 03:53] samreid commented on #1000
Following the migration guide linked above, I adapted our `grunt lint` to use ESLint 7.  The most significant changes were:

* Use `new ESLint` instead of `CLIEngine`
* `lintFiles` is now async, so I converted the whole function to async
* I added a command line parameter `--fix` which will run the ESLint fixes

I ran the following tests on the new version:

- [x] Create a lint error in fourier an

[2021-01-03 05:00] samreid commented on #1000
While I was working on this, ESLint 7.17.0 was released, with an autofix for formatting ternary operators.  I'm inclined to update to this now so we only need to notify clients and PhET developers to `npm update` once.

[2021-01-03 05:05] samreid commented on #1000
I posted a message in slack and in the google group:

The last step is:

[2021-01-03 05:55] samreid commented on #1000
CT discovered an issue when there are no files to lint (in phet-io-wrapper-classroom-activity), I corrected it in the commit.

[2021-01-03 06:20] samreid commented on #1000
On second thought, it makes sense for me to add a `--files` option before review, so I'll reassign to me until that's done.

[2021-01-03 14:38] samreid opened #1001 "grunt lint should support a patterns options"
As described in https://github.com/phetsims/phet-info/issues/150#issuecomment-753233789, it would be nice to have `grunt lint` support an option that lets you lint a single file.  I'd like to work on this before https://github.com/phetsims/chipper/issues/1000 is reviewed so they can be reviewed together.  I'll frame the API around `patterns` since that is what is supported by the ESLint implementa

[2021-01-03 21:44] samreid commented on #1001
I added support for `--patterns=...`.  I'll request review as part of https://github.com/phetsims/chipper/issues/1000.  On hold until then.

[2021-01-03 21:47] samreid commented on #1000
I added support for `--patterns=...` in https://github.com/phetsims/chipper/issues/1001 and I think that should be included in the review.  Summarizing what should be reviewed:

* lint.js, including its options and async parts and `chipperAPIVersion`
* usages of `lint` including dynamically loaded parts, like in perennial

Questions:
* I noticed that perennial gruntfile has 2 ways of invoking lint

[2021-01-04 11:11] samreid commented on #1001
This is working OK in local testing, and review will be completed as part of https://github.com/phetsims/chipper/issues/1000, closing.

[2021-01-04 11:11] #1001 closed

[2021-01-05 01:53] jonathanolson commented on #902
Option (b) seems fine to me.

[2021-01-05 20:05] ariel-phet commented on #1000
Assigning to @jonathanolson, since we use this tool quite a bit, I am recommending high priority.

[2021-01-06 19:49] jonathanolson commented on #1000
I'm trying to understand the `let failed = true` and other logic in hook-pre-commit.js seems

[code]
could be simplified to:
[code]

Also: preferring for-of loops in async functions, so that it will work nicely if we add awaits INSIDE the loop.

[2021-01-06 20:00] jonathanolson commented on #1000
[code]
I believe can be reduced to:
[code]
or, since we have lodash:
[code]

[2021-01-06 20:03] jonathanolson commented on #1000
The comment here seems incorrect. I presume it's more "no JS code that we WANT to be linted exists here"?

[code]

[2021-01-06 20:04] jonathanolson commented on #1000
Looks good to me! Can you take a look at the potential improvements above?

[2021-01-07 19:00] oliver-phet opened #1002 "Add available query parameters to metadata"
One goal that came out of website quarterly planning was to "Expand database and metadata service to respond to partner-needs: query parameters".

Essentially, adding available query-parameters for the sim (general and sim-specific) to the website metadata available to partners.

How should query parameters be extracted from sims (how to structure the code such that these are together and readable

[2021-01-08 03:58] samreid commented on #1000
The intent was that it would report all failing repos instead of just the first one.

[2021-01-08 18:07] jonathanolson commented on #1000
Sounds good, then the `failed` and `if ( failed )` should be moved out, since it looks like it would process-exit on the first failure immediately.

[2021-01-08 21:06] samreid commented on #1000
Great recommendations, I addressed each above (and improved output formatting), ready for re-review.

[2021-01-08 21:33] jonathanolson commented on #1000
Looks great, thanks!

[2021-01-08 21:33] #1000 closed

[2021-01-21 19:11] zepumph opened #1003 "Add a lint rule prohibiting no dot for jsdoc type doc like `{Array<String>}`"
Likely we could use the bad text "regex" feature to accomplish this.

[2021-01-21 19:14] zepumph commented on #1003
Perhaps something like this, which @jbphet  wrote: `\{.*[a-zA-Z]<[a-zA-Z]`

[2021-01-21 20:22] mattpen commented on #1002
Dev Meeting 1/21

MK: There is already preparatory work in progress for this ____
SR: Should we pick a sub team to work on this?
SR: Can we accomplish this with puppeteer?
MK: That seems like a crutch, there should be a method for reading these directly from files
JB: Do we need to do this just in master, or in release branches as well? If we don't handle this in release branches, there could be p

[2021-01-22 20:15] zepumph opened #1004 "Add "joist" to bad text in multiple common code repos"
From discussion around https://github.com/phetsims/tambo/issues/126#issuecomment-765658077.

This will likely have to wait on a fair number of issues to complete that decouples things first:

https://github.com/phetsims/tambo/issues/126#issuecomment-765658077
https://github.com/phetsims/joist/issues/685
https://github.com/phetsims/joist/issues/686
(insert issues about passing phet.joist.display to

[2021-01-23 03:40] muedli commented on #970
We don't need this anymore.

[2021-01-23 03:40] #970 closed

[2021-01-25 18:32] zepumph commented on #999
This solution works, but it is at load time. I feel like it would be better to have it be on build.

[code]

But then I realized that we already have this assertion in ChipperStringUtils.js, it just was trying to use `global.assert` instead of requiring that module. Bug fixing being committed shortly.

[2021-01-25 18:36] zepumph commented on #999
This will now error on build, but only for strings that are used by the sim. @jessegreenberg can you please test this out by trying to add nested strings, using it in your sim, and then building. I get an error like so when I do this for RAP:

[code]

[2021-01-26 18:45] zepumph commented on #999
There is one assertion now occurring for a MAL string. I'll commit a change, but is this a translated string key that needs some action in rosetta babel? @jessegreenberg please comment on if anything more is needed on the above. Marking high priority in case changing the string key was actually buggy.

[2021-01-26 19:15] jessegreenberg commented on #999
Thanks for adding this! Indeed, that case is just like https://github.com/phetsims/energy-skate-park/issues/317. That string is currently not translatable so we will need to deploy a maintenance release with the commit you made to fix it.

[2021-01-26 20:33] jessegreenberg commented on #999
A maintenance release of Molecules and Light was redeployed in https://github.com/phetsims/molecules-and-light/issues/379 and @KatieWoe helped me verify that the string is now translatable. No longer high priority.

@zepumph I think that shows this is working well, anything else for this issue?

[2021-01-26 21:04] zepumph commented on #999
Oh sounds great. I think all is good to go. Closing

[2021-01-26 21:04] #999 closed

[2021-01-28 17:15] zepumph commented on #945
I think this is probably good to go. Closing, but please reopen @samreid or @jonathanolson if you think there is more here.

[2021-01-28 17:15] #945 closed

[2021-01-28 23:15] zepumph commented on #1002
It seems like https://github.com/phetsims/tasks/issues/1076 was the starting point. From there we may end up going with a manual maintenance instead of using the metadata service. We will need to see over in that issue. Let me know if I can help more here.

[2021-01-29 04:19] samreid commented on #787
Since (b) is basically in place, I think we can close this issue.  Thanks!

[2021-01-29 04:19] #787 closed

[2021-01-29 16:09] samreid commented on #1002
We finished and closed https://github.com/phetsims/tasks/issues/1076.  Leaving assigned to @chrisklus for next steps.

[2021-01-29 17:06] samreid opened #1005 "Use a "." in parametric type JSDOC before the angle bracket"
From Dev meeting Thursday,  Jan 21, 2021

✓JB: PSA - reminder that the type specs should look like {Property.<MyType>} as opposed to {Property<MyType>}.  In other words, don’t forget the period.
priority then.
SR: I can see that it is documented as such in the code review checklist.   But my recollection was that either were acceptable, and it was developer preference.  Maybe we had a consensus an

[2021-01-29 17:12] samreid commented on #1005
I fixed my easy-to-discover cases, and am happy to address more if we get a better regex or lint search, self-unassigning.

[2021-02-01 03:02] samreid opened #1006 ""overridden" should be spelled with 2 "d"s"
During a review in scenery-phet, I saw "overriden" which does not appear to be the correct spelling.  I saw many more examples of this in our codebase.  I'll correct what I can and make a lint rule to prevent the incorrect spelling.

[2021-02-01 03:10] samreid commented on #1006
Fixed and lint-everything is passing with the new lint rule, closing.

[2021-02-01 03:10] #1006 closed

[2021-02-02 02:43] zepumph commented on #963
I'm worried that this is a high priority issue. @chrisklus can you comment on the current state of this issue? Are processes set up so that RC testing is testing this feature on IE11?

[2021-02-02 02:51] zepumph opened #1007 "Improve grunt task timing by requiring inside of tasks"
I want to experiement with the chipper and perennial gruntfiles by moving the require statement inside the task in which they are used. I think this will vastly improve the startup time for grunt, especially on windows. We could start by only doing this with modules only used by a single task (most). @samreid can you think of a reason why this is a bad idea? Here is an example of the type of commi

[2021-02-02 02:59] samreid commented on #1007
In some parts of perennial, there is a precedent where we dynamically require things, such as

[code]

And a few places in the precommit hook.

What if two tasks want to use the same require statement, should that be duplicated? Should we just find out which require statement is "the slow one" and either make it faster or make it the lazily `require`d one?  What if `grunt build` needs all or almos

[2021-02-02 03:10] samreid commented on #1007
Another way to approach this problem: what grunt tasks are you running frequently that should be short but are taking too long because of all the require statements?  Maybe those should just be moved outside of grunt entirely.  Also, I thought I recalled another issue to get rid of grunt entirely but I can't find it at the moment.

[2021-02-02 03:13] zepumph commented on #1007
To me this feels like a numbers game. There are tens of grunt tasks, and no really giant ones (save build). My guess is that each require statement slows things down just a bit. That's a total guess though! Also perhaps requiring `grunt` is a large one, and this issue is a non-starter.

[2021-02-02 03:27] jonathanolson commented on #1007
This was my first thought. If we're running node scripts, each one only requires what it needs, no? That's long-term, but we're not gaining much from grunt besides options-parsing and help-printing.

In the short-term... my immediate response is "if that saves time for a lot of tasks, that sounds worth it, but I'd like to understand the potential future drawbacks better"

[2021-02-02 03:28] samreid commented on #751
We implemented git hooks and they have been working nicely, closing.

[2021-02-02 03:28] #751 closed

[2021-02-02 19:11] zepumph commented on #991
I went with a randomish pink background for assertive alerts. @jessegreenberg can you please review the code?

@Matthew-Moore240 and @terracoda please note this change, pink background means the aria-live alert was `assertive`.

![image](https://user-images.githubusercontent.com/6856943/106650113-fbb12380-653e-11eb-9ab1-afb0f067e4fc.png)

[2021-02-02 19:38] jessegreenberg commented on #991
Change looks good to me! The change assumes `assertive` is in the id of the AriaHerald elements, and I think that is fine. Tested in ratio-and-proportion myself and it is working well.

[2021-02-03 22:55] jbphet commented on #1005
I searched the code base using the regular expression and found quite a few violations (note that in IntelliJ, the case-sensitivity switch should be on for this search for it to work correctly):
[code]

Using this, I identified common violations and did a search and replace.  These were:
- Array<
- Property<
- ObservableArrayDef<
- Map<
- PhetioGroup<
- Function<
- Promise<

I did a few more less

[2021-02-04 01:36] zepumph commented on #1005
I found a couple more with this regex:

`\{\w+<`

I also found that `Function.<` was being used instead of `{function():}` notation that we decided was more descriptive in dev meeting some time ago.

Everything felt comfortable while changing except in GAO. @samreid, can you please review and alter https://github.com/phetsims/gravity-and-orbits/commit/d93d9dc2960fd1d2f4f99583cfcd2d888c11ea24, incl

[2021-02-04 01:36] zepumph commented on #1005
- [ ] I also noticed that the IOTypes don't use a period. @samreid is this still what you prefer for the phet-io type api?

[2021-02-04 04:56] samreid commented on #998
I'm confident I could use Yarn for my local development, the question is whether it poses a significant enough benefit that we would change our toolchains to use it instead, like when `grunt checkout-shas` or `grunt checkout-master` runs `npm prune` and `npm update`--could be easily and safely upgrade that to use yarn?  Or does the expected risk outweigh the expected benefit?

[2021-02-07 03:44] samreid commented on #1005
I don't think the IO types should have a dot, as determined in https://github.com/phetsims/phet-io/issues/1545

[2021-02-07 03:51] samreid commented on #1005
Thanks, I corrected the Gravity and Orbits parts in the commits.  Do we still wish to create an eslint rule for this, as mentioned in the issue description?

[2021-02-11 04:02] zepumph commented on #1005
I tested the above with something simple, like `DerivedProperty<boolean>` as well as nesting like `{Array.<something<else>>}`. It worked with no false positives in the whole project. @jbphet, anything else?

[2021-02-11 19:56] samreid commented on #998
Developer meeting:

@jbphet this hasn't been a problem for me.
@zepumph: Is yarn better than NPM?  Should we use package-lock.json?
@samreid: My primary motivation was about improved speed and convenience, not necessarily about pinning versions or other features.
@pixelzoom: I agree, let's defer
@samreid: This may be much more significant when dealing with maintenance releases, to make things much

[2021-02-11 21:48] jbphet commented on #1005
Nope, should be good.  Closing.

[2021-02-11 21:48] #1005 closed

[2021-02-15 01:45] jonathanolson commented on #998
It looks like it's easy for some of us to switch to yarn, based on the documentation.

I see two benefits:

1. Speed, both for developers (on updates, but also more significantly maintenance releases), and also speeding up things like CT and our build-server.
2. By pinning dependencies, it adds extra reliability so that a new npm package break won't ruin sims production deployments (which is possi

[2021-02-15 20:35] zepumph opened #1008 "phet-io overrides are set on `preloads`"
I found a bug in how the default overrides file is generated in chipper. It still points to `phet.phetio.phetioElementsOverrides` even though it is now `phet.preloads.phetio.phetioElementsOverrides`. There are a couple usages I will remove.

Discovered while working on https://github.com/phetsims/ratio-and-proportion/issues/351

[2021-02-15 20:38] zepumph commented on #1008
@samreid please review.

[2021-02-15 20:56] samreid commented on #998
Avoiding breakage during a translation and speeding up maintenance releases sound really great, even if we have to add fallback logic for detecting if a sim should use npm or yarn.  But on second thought, if we start yarn in master today, it could be a long time until all sims get redeployed with yarn.  Maybe we should investigate whether npm has a local cache strategy.  And to solve the breakabil

[2021-02-15 21:46] zepumph commented on #998
I poked around on the internet while discussing last dev meeting and didn't find anything, though there are some untrustworthy side projects on npm like https://www.npmjs.com/package/offline-npm (it isn't maintained).

Not sure. The majority of the usages of 'npm' on master are `npmUpdate`, `npmCommand`, `execute( 'npm' . . . `, or doc like 'npm update'. Perhaps it wouldn't be too hard to update o

[2021-02-17 01:44] samreid commented on #998
I tried clearing node_modules and running `npm update` vs `yarn` in chipper and found yarn was about 2x as fast.  Yarn still had to build packages and link dependencies, which is why it wasn't instantaneous.

yarn: 15.83 sec
npm update: 28.94 sec

[2021-02-17 02:38] #991 closed

[2021-02-24 18:01] zepumph opened #1009 "Add no-restricted-syntax to general lint rules"
From https://github.com/phetsims/phet-info/issues/150#issuecomment-785257200, this is better in general lint rules than in our formatting ones.

[2021-02-24 18:42] zepumph commented on #1009
There were a few too many usages for me to get this in right now. Part of this issue is to determine if we should prohibit `for . . . in` loops also, there is TODO marked for that.

[code]

[2021-02-24 18:44] zepumph opened #1010 "Move new-cap to general rules from formatting ones"
See https://github.com/phetsims/phet-info/issues/150, where formatting rules were created. This rule seems like it belongs in the general rules though, since it is hard to auto-fix.

[2021-02-24 19:07] samreid commented on #1008
Looks good, thanks!  I didn't see any other occurrences that need to change.  Closing.

[2021-02-24 19:07] #1008 closed

[2021-02-24 19:12] zepumph commented on #1010
@samreid does this seem reasonable to you?

[2021-02-24 19:48] samreid commented on #1010
This issue is so reasonable, it inspired this comment: https://github.com/phetsims/phet-info/issues/150#issuecomment-785322855

I confirmed that new-cap correctly flags problems in the IDE, and that `grunt lint-everything --disable-eslint-cache` didn't show any problems on active-repos.  Closing.

[2021-02-24 19:48] #1010 closed

[2021-02-26 16:10] pixelzoom opened #1011 "'grunt build' is failing for newly-created sim"
This was reported in the Google Group in [this thread](https://groups.google.com/accounts/SetOSID?authuser=0&continue=https%3A%2F%2Fgroups.google.com%2Fd%2Ftopic%2Fdeveloping-interactive-simulations-in-html5%2FcS8WqHpBcBs%3Fpli%3D1%26authuser%3D0&osidt=ALWU2cs1AXPT-Eparnn0HIQwCU8uWTdJpfVzGAob2A_NMGvUgFij0m8mZ2OXBv0S6kKevr7ellx7owGhR8TrV8Zr3hhhg9wRdnf4Sqk0s-zivDaca7AJd2aDOX6H7D1pezNiOS95wZO79n0Xvon

[2021-02-26 16:18] jonathanolson commented on #1011
It looks like we're expecting it to be a git repository! Looking into it.

[2021-02-26 16:23] pixelzoom opened #1012 "Improve unit tests for chipper."
Based on https://github.com/phetsims/chipper/issues/1011 ...

Looking at unit tests for chipper, coverage is inadequate.  All top-level task (those shown in grunt --help) should have a niminimum of 1 test.

Labeled for developer meeting to decide who to assign.

[2021-02-26 16:24] pixelzoom commented on #1012
Units tests are also apparently not run in CT.  They should be.

[2021-02-26 16:46] jonathanolson commented on #1011
I've internally null-ed out non-git repo sha/branches, which would be put in dependencies.json. This should be compatible with what we're doing. Closing (I'll reply to the google group).

[2021-02-26 16:46] #1011 closed

[2021-02-26 22:07] zepumph commented on #814
@samreid and I spent a long time over in #150 going through rules that had to do with formatting. I'm unsure how much more I would work on this. @samreid would you like to close this?

[2021-02-27 15:55] pixelzoom opened #1013 "Inappropriate WARNING messsages for PhET-iO dependencies when building brand=phet"
Related to [this Google Group post](https://groups.google.com/g/developing-interactive-simulations-in-html5/c/cS8WqHpBcBs), a 3rd-party was trying to do a `grunt build --brand=phet` with a sim that was newly-created using `grunt create-sim`.

`grunt build` prints these warnings:

[code]

These warnings are confusing, liable to result in similar queries from 3rd-parties (consuming PhET dev time), a

[2021-02-27 16:09] pixelzoom opened #1014 "Incorrect repo name and unhelpful error messages in 'grunt build' string processing"
Related to [this Google Group post](https://groups.google.com/g/developing-interactive-simulations-in-html5/c/cS8WqHpBcBs),

[code]

Problems:

(1) The repo is named Numerical-Differentiation and the error message says "numerical-differentiation". Something is assuming lowercase repo names, and doing an inappropriate conversion.  I'm not sure if this causes any problems other than an incorrect err

[2021-03-01 19:52] samreid commented on #814
We reviewed this in https://github.com/phetsims/phet-info/issues/150 and https://github.com/phetsims/phet-info/issues/156 and made a lot of progress, particularly regarding formatting.  It still may be valuable to review more broadly the rest of the ESLint rules.  Perhaps I'll add this to my list at low priority.

[2021-03-02 17:06] zepumph opened #1015 "Error on PhET-iO build"
To the best of my knowledge this only happens on phet-io build. The issue is that it doesn't happen consistently, and it doesn't give a good message. My guess is that it has to do with api generation and puppeteer. I will look into its error handling to see if we can get better info about the error.

[code]

[2021-03-04 16:27] jessegreenberg commented on #614
Yes, this is no longer a problem. I see the same alert come through multiple times in the a11y view.

[2021-03-04 16:28] #614 closed

[2021-03-04 21:56] zepumph opened #1017 "prefer "readonly" to false for globals"
From https://github.com/NickCrews/chipper/commit/f69e8fd7097e811a302f71e98b226d4e11adca21. It would be nice to be consistent in any non chipper use of globals too.

[2021-03-04 22:00] zepumph commented on #1017
Thanks for the tip @NickCrews!

[2021-03-04 22:00] #1017 closed

[2021-03-04 23:03] samreid opened #1018 "Chipper and perennial have copies of execute.js, and one is stale"
Assigning the developers with the most commits on those files.  How do you recommend to proceed?

[2021-03-04 23:06] jonathanolson commented on #1018
They are quite different, presumably best to leave separate?

[2021-03-04 23:10] zepumph commented on #1018
Yes but not for any good reason. It just looks like they have grown as they have needed to, but I see no reason, besides the annoyance of this problem, that stderr as an arg to ExecuteError (in perennial but not chipper), or `shell` option (in chipper but not perennial) shouldn't be supported generally.

The only issue I see is winston because it is used by the build server. Perhaps we can still w

[2021-03-04 23:50] jonathanolson commented on #1018
And chipper prefers grunt logging? Could we wrap chipper to use winston? I definitely have a preference for the perennial version in general (with the `shell` option added?)

[2021-03-05 01:46] zepumph commented on #861
PhET-iO wrappers will be handled over in https://github.com/phetsims/phet-io-wrappers/issues/399. Renaming this issue to just handle Node code on the project.

[2021-03-07 17:31] NickCrews commented on #1017
Oh awesome, I was about to go through all the repos and fix this, nice job getting to it!

[2021-03-08 16:38] samreid opened #1019 "Speed up macro API generation"
From https://github.com/phetsims/phet-io/issues/1733#issuecomment-790034059

Right now, we are using `Promise.all` with with lodash chunking, which has the disadvantage that each chunk must completely finish before it goes to the next chunk.  This process took around 1m8.336s on my machine.

* @zepumph indicated the https://caolan.github.io/async/ library may be useful.
* There is also a puppeteer

[2021-03-08 17:33] zepumph commented on #1019
[code]

[2021-03-08 17:42] samreid commented on #1019
If I run with a chunkSize of 1, it takes `1m37.121s` on my machine.  Assuming we have 4 cores available, no overhead, and perfect scheduling, we could potentially reduce this to 97/4 = 25s or so (on my machine).  The other question to consider in how much time to spend optimizing this, in how often it will be run.  Keep in mind https://github.com/phetsims/phet-io/issues/1741 where it was proposed

[2021-03-09 18:59] samreid commented on #1019
Or (for a while), we could run it on a subset of sims (say, the 4 most recent phet-io sims), then we can run it all in one chunk.  This may be fast enough for a precommit hook?

[2021-03-09 20:16] jessegreenberg commented on #798
AriaHerald currently uses PDOMUtils.setTextContent which uses stripEmbeddingMarks so it seems OK for now. Back on hold, feel free to remove assignment if you agree.

[2021-03-10 23:09] samreid commented on #1019
I tested and there is almost no overhead on starting a server (3ms) vs around 3000ms to start up a puppeteer.

[2021-03-11 16:31] samreid commented on #814
Tagging to touch base at developer meeting.  There are some rules that seem like they should be on, such as `array-callback-return`.  If you call `array.map( ()=>{})` but do not return a value in the arrow function, it seems problematic.  The main question for developer meeting is how to proceed on issues like this (identified as TODOs in the eslint files in chipper/eslint/), some options are:

1.

[2021-03-11 16:36] jessegreenberg commented on #896
This is super nice, and looks great! I just went through a11y views and the valuetext is all nicely under each slider. Closing.

[2021-03-11 16:36] #896 closed

[2021-03-11 16:48] jessegreenberg commented on #742
I reviewed comments in this issue and we are almost ready to close this. These improvements have been looking and working great for development in Chrome. I just tried the a11y view in Safari and the scrolling behavior is working well. The a11y view is sometimes shared to people outside of the team to demonstrate features and I think it is totally working well enough for someone who happens to try

[2021-03-11 18:47] pixelzoom commented on #814
You mentioned that there are 79 failing cases for `consistent-return `.   What other rules are proposed for enabling, and what's the total number of failing cases?

[2021-03-11 19:17] samreid commented on #814
[code]

[2021-03-11 19:22] pixelzoom commented on #814
If anyone wants to test-drive the above rules... According to @samreid, they are split across chipper/eslint/.eslintrc.js and chipper/eslint/sim_eslintrc.js

@zepumph recommends that 'object-shorthand' and 'linebreak-style' should be skipped.

[2021-03-11 19:31] pixelzoom commented on #814
@samreid tested with `grunt lint-everything --disable-eslint-cache`.

[2021-03-11 19:33] mattpen commented on #814
Moving forward, @samreid will fix any that are automatically fixable, and possibly anything that looks trivial.

After that is complete, developers can test on their own and address anything as needed, then we'll revisit in dev meeting next week.

[2021-03-11 20:12] samreid commented on #814
I pushed the "no-eval" rule to perennial, and it said it will automatically fix the version in chipper (SimVersion copy).

[2021-03-11 20:17] samreid commented on #814
I decided to fix the chipper version eagerly, and I left a fake comment so daily grunt work can still do a commit, in case that helps?

[2021-03-12 02:39] samreid opened #1020 "Move the ES6 lint rules into the primary file"
During https://github.com/phetsims/chipper/issues/814 I found that many important lint rules are in chipper/eslint/sim_es6_eslintrc.js which are being ignored in many of our repos.  This means for instance, there are many places in our code that are using var where they should be using let/const.

I recommend moving as many of those rules to the primary file as possible.  Pinging @zepumph so he's

[2021-03-12 02:48] zepumph commented on #1020
Yes I agree, we no longer need these to be separate rules.

[2021-03-12 03:13] samreid commented on #1020
Once this is changed, developers will need to point their IDE at the new file:

![image](https://user-images.githubusercontent.com/679486/110886652-3b89ca00-82a6-11eb-90d0-c8a3e0c6dce8.png)

[2021-03-12 03:19] zepumph commented on #1020
Since changing eslint to use the tree stucture, which involved adding eslintConfig to every package.json, it is best to do an automatic search, like so:

![image](https://user-images.githubusercontent.com/6856943/110887173-4ccada80-8296-11eb-961d-3ca3c5abb19a.png)

[2021-03-12 03:21] samreid commented on #1020
Thanks, that is very helpful!

[2021-03-12 03:51] samreid opened #1021 "Remove as many // eslint-disable-line no-var as possible"
From https://github.com/phetsims/chipper/issues/1020, I found many occurrences where `var` hoisting was leveraged.  I marked nontrivial ones with `// eslint-disable-line no-var` so I could turn the rule on everywhere else, but it seems we should change some/most/all of these.

There were 2 main categories:
1. `var` used in switch/case statements (see balancing-act/js/game/view/BalanceGameView.js f

[2021-03-12 04:53] samreid commented on #1020
This change was more invasive than I expected, particularly because there were so many `var` declarations in our code.  I opened https://github.com/phetsims/chipper/issues/1021 to help with that.  Everything is passing local aqua so far.  Developers will need to make sure their IDE is set up like https://github.com/phetsims/chipper/issues/1020#issuecomment-797206498 (maybe most developers already

[2021-03-12 04:56] samreid commented on #1020
I messaged CT:

Also, perhaps this should block publication until at least a spot check and a round of CT have completed.

[2021-03-12 04:56] samreid commented on #814
Another level would be to make those rules warnings for a while, but our tooling might treat warnings the same as it treats errors?

[2021-03-12 14:37] samreid commented on #1018
Should we adopt the same policy as SimVersion, which has the primary copy in perennial and one copied to chipper on a regular basis?

[2021-03-12 18:01] samreid commented on #814
I've completed the auto and easy fixes.  After the commits, here are the remaining failing rules:

<details>
[code]
</details>

[2021-03-12 18:13] zepumph commented on #814
I removed the TODO next to the `indent` rule, as we experimented with it in our format rules, and I do not think it will make the cut. After that there are only 112 errors in RaP when I turn on all rules that look like `'off', // TODO` in the eslintrc file. I'll keep investigating.

[2021-03-12 18:25] zepumph commented on #814
- [ ] I do not think that `sort-imports` will ever work for us. These two rules don't combine well https://www.jetbrains.com/help/webstorm/settings-code-style-javascript.html#ws_js_settings_editor_code_style_imports_tab https://eslint.org/docs/rules/sort-imports. ESlint (and michael) want to sort based on member name (the left side of the import), but Webstorm sorts by module name. I would recomme

[2021-03-12 19:01] pixelzoom commented on #814
Very close to 100% of the auto-fixes made to my sim were for the `prefer-template` rule, which prefers string templates over string concatenation.  I have been using templates where appropriate since that feature because available. So most of the auto-fixes are in code that pre-dated the available of the JS string template feature.  And most are nice improvements, so I think turning this rule on (

[2021-03-12 19:12] samreid commented on #814
Regarding `prefer-template`, I don't feel too strongly, but I agree the vast majority of changes from applying that auto-fix were improvements.  Personally I don't see `solute.tandemName + 'Item'` as a significant improvement over `${solute.tandemName}Item`, but I'm happy to go with whatever the team consensus is.  Or if these cases are rare enough, we could enable the rule and require exceptions

[2021-03-12 20:31] zepumph commented on #814
There are many lint errors on CT because CT doesn't pull aqua. @jonathanolson and I pulled aqua on bayes, and things should clear up now.

[2021-03-12 20:43] samreid commented on #814
Thanks! I pulled aqua on CT earlier but forgot to do it a second time.  I appreciate it.

[2021-03-12 23:46] zepumph commented on #1020
This is awesome. Good work.

[2021-03-12 23:56] samreid commented on #1020
Thanks, closing.

[2021-03-12 23:56] #1020 closed

[2021-03-13 00:03] zepumph commented on #814
I looked over the remaining rules, and here are my votes about them:

Either way:
  * `'array-callback-return'`
  * `'consistent-return'`
  * `'no-labels'` - I've never used them, and never will
  * `'no-return-await'`
  * `'require-unicode-regexp'`, but also kinda don't want, because why? And it isn't easy to batch fix current usages.
  * `strict` - I don't think it matters where, but I also woul

[2021-03-13 00:32] jonathanolson commented on #814
Briefly scanned the proposed rules, everything looked generally good.

[2021-03-16 01:25] jonathanolson commented on #1018
Maybe there should be a directory of code which works like this?

[2021-03-17 01:54] zepumph commented on #1018
Good idea!

[2021-03-17 20:55] zepumph commented on #1019
Today we again discussed and decided that this is not needed right now (especially with the creation of the subset list: phet-io-api-stable), but one day, when there are many more sims, we may decide to optimize this.

[2021-03-17 23:57] zepumph opened #1022 "Puppeteer issues while generating PhET-iO apis"
From https://github.com/phetsims/phet-io/issues/1733. I think it would be good to track this in a different issue.

Today, I was getting many "Navigation failed because browser has disconnected!" errors. I couldn't make it through generating a macro API for all phet-io sims:

[code]

Tagging @samreid. It seems like this only happens on my windows git bash.

[2021-03-18 15:23] jonathanolson commented on #819
This looks great! Should be incredibly helpful for the future too. Thanks

[2021-03-18 15:23] #819 closed

[2021-03-18 16:49] pixelzoom opened #1023 "How to deal with API changes during incremental development"
The error below is showing up in CT for graphing-quadratics, reported in https://github.com/phetsims/graphing-quadratics/issues/150. I'm guessing it's related to phetioCompareAPIs.js.  graphing-quadratics is in the process of being revised, and it is known (and desired) that the API is changing.  So this is not helpful, it's annoying.

What is the process for dealing with this during incremental d

[2021-03-18 16:52] samreid commented on #1023
You can update the reference api via:

[code]

Then review and commit the file.

You can opt out of this testing by removing the sim from perennial/data/phet-io-api-stable

[2021-03-18 17:20] pixelzoom commented on #1023
API files are apparently created in phet-io repo.

[2021-03-18 17:24] pixelzoom commented on #1023
@samreid pointed me to https://github.com/phetsims/phet-io/issues/1733#issuecomment-800643313 for a list of possible workflows.  I would probably end up using "Use case 6", which presumably means run it in Studio or Standalone via phetmarks.  The other use cases are not at all friendly, I'll never remember them.  If we need a command line "compare APIs", then a grunt task like `grunt phet-io-compa

[2021-03-18 18:12] zepumph commented on #1023
We don't want that! We are still working on usability in general, and are using https://github.com/phetsims/phet-io/issues/1733#issuecomment-800643313 to first organize before optimizing on the use cases that are most important, and frequent. This is in part why we have not briefed the team on this process yet, and why you ran into this CT error without any prior knowledge or backup from us.

[2021-03-18 19:38] zepumph commented on #814
Summary of decision and discussion from the above, hidden comments (since there are currently 268 hidden comments)

- [x] `indent` rule should not be turned on, https://github.com/phetsims/chipper/issues/814#issuecomment-797667066
- [x] `sort-imports` does not work well because it sorts differently from webstorm https://github.com/phetsims/chipper/issues/814#issuecomment-797671749
- [ ] `prefer-te

[2021-03-19 16:17] samreid commented on #814
This issue adds a section for each remaining rule, and can be used for threading the conversation.  Please feel free to update this comment with your notes.  I'll add comments from the previous rule.

### array-callback-return - 14 fails

MK: I could go either way on this.

### consistent-return - 77 fails

MK: I could go either way on this.

### default-param-last - 1 fail

MK: I recommend we ado

[2021-03-19 16:17] samreid commented on #814
Here is the output from linting with those rules all turned on:

<details>
[code]
</details>

[2021-03-22 21:16] samreid commented on #1019
Maybe when we investigate this again, puppeteer will have native support for clustering.  Unassigning for now.

[2021-03-23 14:18] terracoda commented on #742
@jessegreenberg, the scrolling in Safari on Mac has never worked for me. I am not sure if I am missing something. When using the A11y View on Chrome or Firefox the left column stays fixed and the right column scrolls. On Safari both columns scroll up.

According to Can I Use website, `position:fixed` is supposed to be supported by Safari.

**I just inspected the CSS, and I see:**
`position: sticky

[2021-03-23 14:23] terracoda commented on #742
I just noticed that the PhET Bookmarks page has a working example of `position:fixed;`, but in that case, the right column is fixed, and the left column scrolls.

[2021-03-23 15:24] jessegreenberg commented on #742
The behavior you described on Safari is expected with the current implementation. Here is a reference to sticky positioning: https://developer.mozilla.org/en-US/docs/Web/CSS/position#sticky_positioning.  But from comments above (https://github.com/phetsims/chipper/issues/742#issuecomment-560211343, https://github.com/phetsims/chipper/issues/742#issuecomment-587812710) it isn't working well on Safa

[2021-03-24 15:30] jonathanolson commented on #1014
Our toolchain makes assumptions about file structure currently, and there is an assumption that repo names are "lower-case letters with dashes". Does it sound acceptable to document that and fail out in `grunt create-sim`?

[2021-03-24 16:30] pixelzoom commented on #1014
If I were a 3rd-party developer, and it was my project that suddenly didn't work with PhET build tools, then my answer to your question would be "no, that's not acceptable".   "Numerical-Differentiation" is not the first example I've come across that doesn't follow this implicit convention.  I've encountered other projects in the Google Group that don't follow that convention.  So build tools are

[2021-03-24 16:35] jonathanolson commented on #1014
I'm fine getting things set up so it can more explicitly be used in other ways.

[2021-03-24 16:41] jonathanolson commented on #1014
`grunt create-sim --repo="A Test Repo" --author=Author --title="Some Test Title"` is failing out with other errors, so it looks like I'll want to patch up create-sim first.

[2021-03-24 22:34] jonathanolson commented on #1014
I've spent a good chunk of time on this, but it seems that `npm install` fails and expects specific naming conventions for package names in https://docs.npmjs.com/cli/v7/configuring-npm/package-json, specifically:

The names of scoped packages can begin with a dot or an underscore. This is not permitted without a scope.
New packages must not have uppercase letters in the name.
The name ends up bei

[2021-03-24 23:04] pixelzoom commented on #1014
No objections. Should be announced in the Google Group "BREAKING CHANGES" thread, https://groups.google.com/g/developing-interactive-simulations-in-html5/c/1Zm4l3sye20.

[2021-03-24 23:52] jonathanolson commented on #1014
Done! Closing.

[2021-03-24 23:52] #1014 closed

[2021-03-25 15:21] jonathanolson commented on #737
The dot/kite/scenery occurrences above should stay as they are (if they need eslint line disables, those should be added). I fixed up the density occurrence.

[2021-03-26 19:13] zepumph commented on #737
There are now 55 usages.

[2021-03-26 19:17] zepumph commented on #737
I found that the current version of eslint didn't parse regex negative lookbehinds. When I updated to `~7.22.0` the issue was fixed. I updated above.

[2021-03-26 19:21] zepumph opened #1024 "Cannot push because of security error"
A vulnerability in jpeg-js seems to be keeping me from pushing chipper. When I go to the above link, they tell me a version to update to. I'll try that out.

[code]

[2021-03-26 19:25] zepumph commented on #1024
I updated the version, ran `npm update`, and then `cd arithmetic && grunt modulify`. There were no working copy changes.

I feel good about the update, and I can now push chipper. @jonathanolson please review.

[2021-03-26 19:29] zepumph commented on #737
Actually, eslint doesn't seem to recognize negative lookbehinds. I'm going to make an issue in their repo.

[2021-03-26 19:49] zepumph commented on #737
Ok. I fixed all the usages (not in dot/kite/scenery) and commented in the lint rule. We can now enforce using `Utils.toFixed` and not gain more usages of Number.toFixed().

Closing.

[2021-03-26 19:49] #737 closed

[2021-03-29 17:19] samreid opened #1025 "Add a simplified grunt command for API comparison"
From https://github.com/phetsims/phet-io/issues/1733 and subsequently https://github.com/phetsims/chipper/issues/1023, I would like to add a grunt command that does the following:

outputs the phet-io api for >=1 repos to the temporary location and runs a comparison between the temporary version and the reference version.  This will replace the commands:

[code]

It should also have a `--delta` op

[2021-03-29 17:21] samreid commented on #1023
I opened https://github.com/phetsims/chipper/issues/1025 for adding a grunt command.  Anything else for this issue?

[2021-03-29 21:30] pixelzoom commented on #1023
👍🏻 closing.

[2021-03-29 21:30] #1023 closed

[2021-03-30 17:39] samreid commented on #1018
I'm not sure of the best directory location or name.  How about:

perennial/js/chipper/ ?

[2021-03-30 21:38] jonathanolson commented on #1024
Sounds good, thanks!

[2021-03-30 21:38] #1024 closed

[2021-03-30 23:41] samreid commented on #1025
Committed and ready for review, this could be part of our work/discussion for Wednesday.

[2021-03-30 23:51] samreid commented on #1022
`https://github.com/alixaxel/chrome-aws-lambda/issues/104` suggested that a newer version of puppeteer may help?  We are currently on `^5.4.1` but the latest is 8.0.0.  It would be good to know if just upgrading the version helps (if there are no breaking changes), can you please test it?

[2021-03-31 06:09] jonathanolson commented on #1013
Presumably `--brand=phet` shouldn't be done by 3rd parties? We would support `--brands=adapted-from-phet`?

@zepumph, should we only print warnings for phet/phet-io brands?

[2021-03-31 13:57] pixelzoom commented on #1013
Actually, I don't know the exact command that the 3rd-party was using.  `grunt ... -brands=phet` was me.

The warning so seem relevant only to brands=phet-io, so ignoring them for that brand seems promising. On the other hand, it makes an assumption that might not hold up in the future -- that all private dependencies are for brand=phet-io.

[2021-03-31 17:33] zepumph commented on #1025
Review:

- [ ] getSimList() doesn't feel like it belongs in `phet-io/`, but I understand if we want to create a new directory outside of `grunt/` to start building up our command line arg tools.

[2021-03-31 18:33] zepumph commented on #1025
Review complete.

[2021-03-31 18:55] zepumph commented on #1025
- [ ] @samreid and I liked thinking of the checked in api in `phet-io/api/` as the `referenceAPI`, and the one comparing to it as the `proposedAPI`, perhaps we could rename in these scripts to adopt that language.

[2021-03-31 20:16] zepumph commented on #1025
- [ ] Should we delete compare-apis.js? @samreid and I think probably not, but we should optimize the grunt task to be the main usage of comparison. Perhaps the compare-apis is just for iterating on the same, generated API script (from temporary/) without needing to regenerate into memory each time.

[2021-04-01 18:42] chrisklus opened #1026 "Enable no-lone-blocks lint rule?"
From discussion in https://github.com/phetsims/chipper/issues/814#issuecomment-802949806.

The dev team discussed if we should allow lone blocks in code:

[code]

Many of the cases we looked at we thought were unnecessary and were being used for visual separation (which could be achieved with other standard ways like line breaks or comments), but we decided it would be nice to get input from @pixe

[2021-04-01 19:02] chrisklus opened #1027 "Enable prefer-template lint rule?"
Discussion continued from https://github.com/phetsims/chipper/issues/814#issuecomment-802949806.

Taken from that comment:

  SR: I don't feel strongly one way or the other about this rule, but my experience has been that I am trained reflexively to use concatenation even when it's sub-optimal.  I was also encouraged that this can be fixed either with `grunt lint --fix` or with the IDE with 2 keys

[2021-04-01 19:32] chrisklus opened #1028 "Enable require-await lint rule?"
Discussion from https://github.com/phetsims/chipper/issues/814#issuecomment-802949806.

@jonathanolson votes no, because async functions that don't use await would fail, and he showed examples of this being a convenient case to allow.

@zepumph's recommendation was to check the usages that exist and figure out the percentage that are wrong and should be fixed vs ones like what @jonathanolson descr

[2021-04-01 19:34] samreid commented on #814
I volunteered to fix as many issues as I can.  For issues I cannot fix, I will create side issues or ask for help, or mark things as eslint-disable.

[2021-04-01 19:38] chrisklus opened #1029 "Enable require-unicode-regexp and fix occurrences"
From https://github.com/phetsims/chipper/issues/814#issuecomment-802949806

The dev team decided this should be enabled, but there are 272 occurrences that need correcting and autofix can't handle all of them.

[2021-04-01 19:50] zepumph commented on #1021
From dev meeting today, we decided that both the above cases of `var` usage is less clear than using `let`/`const`. Let's get rid of all these usages. You can find them by searching for `// eslint-disable-line no-var`.

- [ ] area-builder (1) @jbphet
- [ ] balancing-act (1) @jbphet
- [ ] build-a-molecule (1)  @jonathanolson
- [ ] dot (5) @jonathanolson
- [ ] equality-explorer (10) @pixelzoom
- [ ]

[2021-04-01 20:03] zepumph commented on #1021
Completed my sims.

[2021-04-01 23:44] pixelzoom commented on #1026
👎🏻 Two things:

(1) This rule is yet-another example of "take a tool away because developers don't know how to use it".  I have a real problem with that. See also https://github.com/phetsims/chipper/issues/1027.

(2) I'm not clear about what's motivating this general topic. Why does PhET suddenly feels the need to enabled/examine every lint rule?  I'll be surprised if the benefit to PhET ever appr

[2021-04-01 23:58] pixelzoom commented on #1027
Enter a "new" language feature, which does some things better than an "old" language feature.  Choose the option that will make you a better programmer:

(a) Keep both the old and new features in your toolbox, and learn how to choose the best one for the task.
(b) Ban the old feature, allow only the new feature, even when it's suboptimal.

[2021-04-02 01:07] zepumph commented on #1022
That issue brought me to `https://github.com/alixaxel/chrome-aws-lambda/issues/104#issuecomment-737474698` then I saw that in the general docs (https://www.npmjs.com/package/puppeteer/v/1.11.0-next.1547527073587), that `page.goto` is more often awaited. I feel like that may be similar to the `browser.setContent` cause. I will see if I encounter the error again after this change.

Thoughts?

[2021-04-02 01:48] pixelzoom commented on #1026
As luck would have it, I immediately ran into a real-world example right after adding the above comment.  For https://github.com/phetsims/chipper/issues/1021, the task was to remove this usage of `var` from FaceWithPointsNode.js:

[code]

First attempt was to simply change `var` to `const`.  That fails lint with `153:5  error  Nested block is redundant  no-lone-blocks`:

[code]

This would work:

[2021-04-02 04:13] samreid commented on #1022
That looks like it's worth a try!  How long until we know if that's fixed?  If that doesn't fix it, should we try a new version?

[2021-04-02 22:51] zepumph commented on #1022
Just happened again:

[code]

[2021-04-05 16:21] zepumph commented on #794
The eslint issue ,`https://github.com/eslint/eslint/issues/12545`, has been adopted and closed, as soon as a new version is put out, we can update to that version and use that instead of our own hacked lint rule.

[2021-04-05 17:57] samreid opened #1030 "Enable the array-callback-return lint rule"
From https://github.com/phetsims/chipper/issues/814, we would like to enable the array-callback-return rule.  It seems like many occurrences need to convert `map` to `forEach`, but I'll request a spot check from @zepumph and @jonathanolson where many of the occurrences appear.

Please unassign yourself if everything seems OK.  If there are no more assignees, please close.

[2021-04-05 20:54] zepumph opened #1031 "Support control of accessibility-related features in the same way"
For features like pan/zoom, description, and voicing, we are finding that we want to control these in similar ways. We have a package.json flag that can be overwritten by a queryParameter. There are a variety of ways to handle this currently, but we want to refactor all to use the pattern that pan/zoom does, in which it calls upon the packageJSON value as the default value for the query parameter:

[2021-04-06 01:49] zepumph commented on #1031
Looks like https://github.com/phetsims/rutherford-scattering/commit/1a2c916a7cdbc030173e41cd68d1aa2c9cc702a3 needed to have grunt update called on it.

[2021-04-06 02:03] zepumph commented on #1031
In the above commits, I made some progress. It is easy to do the simple ones, but there will be many more changes for voicing and description. I have completed the move/refactor of `supportsGestureControl` and `supportsPanAndZoom` to be under `features`. This removed `Sim.supportsPanAndZoom`.

Up next:
- [ ] Convert `?supportsDescription` to boolean
- [ ] Convert `?supportsVoicing` to boolean
- [

[2021-04-06 02:03] zepumph commented on #1031
While there are half of the flags buried inside "features", and half out, this should be high priority.

[2021-04-06 16:14] pixelzoom opened #1032 "CT: full api expected"
This is happening for ph-scale and projectile-motion. Unclear whether other sims are affected.

[code]

[2021-04-06 16:46] samreid commented on #1032
May be related to https://github.com/phetsims/chipper/issues/1022

[2021-04-06 21:31] chrisklus commented on #1002
From website meeting 4/6/21: @kathy-phet and @chrisklus need to meet to discuss nexts steps for this issue during Q2

[2021-04-06 21:49] samreid opened #1033 "Enable eslint rule "consistent-return""
From https://github.com/phetsims/chipper/issues/814, we would like to enable the rule "consistent-return".  Here is that discussion and consensus:

There are 77 failures.  I'll work on it in this issue and assign other developers as necessary.

[2021-04-07 02:42] samreid commented on #1025
There is already `grunt generate-phet-io-api` which I think should be sufficient for now.

[2021-04-07 03:23] samreid commented on #1025
A bad commit message sneaked in by manual error, so I referenced it above.

[2021-04-07 16:40] zepumph commented on #1025
Right! I totally forgot about how that functionality changed to output into `phet-io/api`.

[2021-04-09 05:18] kathy-phet commented on #1002
First step for https://github.com/phetsims/joist/issues/576

[2021-04-12 21:04] jbphet commented on #1021
I've replaced all usages of `var` in sims for which I'm the responsible dev, as listed in the checklist above.  I'm unassigning myself.

[2021-04-12 21:52] jonathanolson commented on #1030
Looks great, thanks! (No more assignees)

[2021-04-12 21:52] #1030 closed

[2021-04-13 17:59] pixelzoom opened #1034 "Constraints on repo name should be enforced by grunt tasks."
Over in https://github.com/phetsims/chipper/issues/1014, we bumped into repo name problems, reported by a 3rd party in the Google Group.  Things got complicated, so @jonathanolson made the constraints explicit in https://github.com/phetsims/chipper/issues/1014#issuecomment-806228222.

Apparently those constraints are only explicit in documentation, and build tools are not checking them. And it's t

[2021-04-13 18:17] jonathanolson commented on #1034
This seems potentially over-zealous. I've patched createSim, however the above suggestion might be more likely to break things for 3rd party developers (if things are working). Can you clarify why this would be advantageous and worth the work?

[2021-04-13 18:19] pixelzoom commented on #1034
Why is it overzelaous to thing that the parsing for `--repo` should be handled in one place, instead of duplicated in many places?

[2021-04-13 18:20] pixelzoom commented on #1034
If by "overzealous" you mean "a lot of work to address something that was done poorly in the first place", then I agree.

[2021-04-13 18:22] jonathanolson commented on #1034
Developer creates a repo that might not match the requirements but works with our toolchain currently (maybe... `á-repo`). The patch I made above won't break things for them. The changes you've described WILL break their entire workflow. So I believe putting a roadblock in the "creating things in a bad state" approach is good, but the "break everything and force everyone to retroactively change th

[2021-04-13 18:28] pixelzoom commented on #1034
@jonathanolson said:

If it works, they are probably just lucky.  If a 3rd-party is using PhET build tools, what possible value is there in allowing them to create a repo that doesn't meet the naming requirements for PhET build tools?  The very last step in the chain is `grunt build`, and (as has been demonstrated repeatedly) it WILL NOT work with a repo name that doesn't meet the constraints, and

[2021-04-13 18:57] pixelzoom commented on #1034
Discussed with @jonathanolson.  The benefits of enforcing the repo naming convention would seem to outweigh the potential of breaking things for 3rd partys, especially since `grunt build` doesn't work if the convention isn't followed.  So @jonathanolson is going to add something this `assertIsRepoName( repoName )` and use it where a repository name is provided as input.

[2021-04-13 19:08] jonathanolson commented on #1034
Done, and commented in the Google Group. @pixelzoom feel free to review or close.

[2021-04-13 19:17] pixelzoom commented on #1034
👍🏻 Closing.

[2021-04-13 19:30] zepumph commented on #1031
Right now I'm feeling like waiting until the `preferences` branch is merged into master before working on `supportsVoicing`. I may still make the `?supportsInteractiveDescription` changes before then.

[2021-04-13 20:32] pixelzoom opened #1035 "`npm update` is changing package.json."
`npm update` is consistently changing package.json.

Here's an example for chipper, but I see the same behavior for any repo.

[code]

[2021-04-13 20:52] pixelzoom commented on #1035
@jonathanolson mentioned that @mattpen had a similar problem, reported in https://github.com/npm/cli/issues/3044.

@samreid pointed out that the current versions of Node.js are:

I have no idea why I have npm 7.9.0 with node v14.15.0.

I downloaded and installed LTS 14.16.1 from https://nodejs.org/en/.  Now I have node 14.16.1 and npm 6.14.12.  And the problem seems to have gone away.

I'll self-a

[2021-04-14 01:04] pixelzoom commented on #1035
I didn't encounter any problems while deploying Natural Selection 1.3.0-rc.1.  So closing.

[2021-04-14 01:04] #1035 closed

[2021-04-14 17:08] jessegreenberg opened #1036 "aria-valuetext in the a11y-view does not get hidden correctly"
While working on description in GHE, we noticed that the paragraph displaying `aria-valuetext` is always shown even when the Node with the attribute is hidden. Likely related to #660.

[2021-04-14 19:28] jessegreenberg commented on #1036
Fixed in https://github.com/phetsims/chipper/commit/bc7d41e3a579913b1e321260e27ef6347726f8c8 just by checking for `!element.hidden` before displaying inline attributes. Following commits regenerate a11y views for interactive-description list. @zepumph can you verify this is OK?

[2021-04-15 00:04] zepumph commented on #1036
Looks great. Thanks for taking care of this.

[2021-04-15 02:37] #1036 closed

[2021-04-15 04:33] zepumph commented on #1012
@samreid and I ran into this today when we created `CHIPPER/phetioCompareAPIsTests`. Note that command line qunit is already set up to run everything in `chipper/test`. That seems like the way to handle this.

Likely with qunit as an added dependency to chipper, and a new CT test type that can run an arbitrary command line argument.

[2021-04-15 18:52] samreid commented on #1012
From today's dev meeting:

Aqua already runs builds on CT, so that covers some ground.
JO: Asks about the cost-benefit analysis for adding tests.  Would we `grunt rc` on bumper as part of this?
SR: That sounds like overkill to me.
CM: Maybe we would choose the things not already exercised by CT, that developers use rarely (such as create-sim), and add tests for them.

(x) So we would like to volun

[2021-04-15 19:27] samreid commented on #1026
Today's consensus was that we like using blocks in case statements, but we didn't have time to talk about this pattern:

[code]

Leaving on agenda for next week.

[2021-04-15 20:01] pixelzoom commented on #1026
Re:

[code]

@samreid said that this "offends" some developers, and wants to discuss more.

I think you're offended by something that you don't fully understand.  And I suspect that it comes from a fundamental misunderstanding about what a "block" is, possibly a belief that "block" == "control block".  A control blocks (`if`, `while`, etc.) is a specialization of block, not synonymous with block.

[2021-04-16 01:57] pixelzoom commented on #1026
If we want to talk about offensive layout code, let's have a look at WaveMeterNode.js:

[code]

Trying to see the rendering order here takes some work, and this is a relatively simple example with a small number of Nodes.  I see this kind of code literally everywhere, some of it much worse.  Explain why the above pattern is OK, while this is offensive and worthy of more discussion:

[code]

[2021-04-16 02:28] pixelzoom commented on #1026
Other example of lone blocks from the PhET code base...

migrate.js has 3 lone blocks which look very nice. For example,  in https://github.com/phetsims/chipper/commit/d2c73aeb83ffcafa9d033c9b61e37299f5e45e31, @samreid added a chunk of code with a comment at the top for "short relative imports".  In context, it's difficult to see where this logical chunk of code ends.  In https://github.com/phetsi

[2021-04-16 02:39] pixelzoom commented on #1026
Here are the current lone blocks in the PhET code base:

[code]

[2021-04-16 03:40] samreid commented on #1026
In https://github.com/phetsims/chipper/issues/814 I said:

I can see that you think it's effective in the right contexts, I'm glad we got your feedback before making a decision.  In the same issue @zepumph said:

Finally, the developer consensus in the top comment of this file was:

Since then, and based our our discussion, I'd like to revise and clarify my position.  Generally, I think our projec

[2021-04-16 16:25] samreid commented on #494
On my working copy, I added this package.json in the root of my checkouts:

[code]

Then I ran `npm install` there. And voila, my sim directories build without needing their own grunt!

[2021-04-16 16:26] samreid commented on #383
In https://github.com/phetsims/chipper/issues/494 I described a strategy that makes it possible to continue without checking `npm install` or `node_modules` in every sim repo.

[2021-04-16 17:17] pixelzoom commented on #1026
Would you be less confused by if lone blocks were converted to entirely-unnecessary functions, like this example in BeersLawScreenView?

[code]

[2021-04-16 17:18] samreid commented on #1026
That suffers from the same problem.

[2021-04-16 17:21] pixelzoom commented on #1026
The "same probem" being what?  It doesn't fail no-lone-blocks.

[2021-04-16 17:33] pixelzoom commented on #1026
Here's another good example, used throughout graphing lines.  This makes it very obvious that there's a block of things that need to be done while the guard flag is `true`.

[code]

I've made my opinion known.  And I've added eslint-disable comments to the sim-specific code that I'm responsible for.   I'm bowing out of this discussion and will leave it to the team to decide what to do with the rem

[2021-04-16 17:39] samreid commented on #1026
From https://github.com/phetsims/chipper/issues/1026#issuecomment-820883959 I said:

It doesn't matter whether the indenting is from an IIFE or a temporary function or a lone block--since these strategies are much less conventional in our project, I have been trained to see that next level of indenting as part of a control block or link callback, etc.  I'm sure I could find numerous counterexample

[2021-04-16 17:44] pixelzoom commented on #1026
I fully understand that you have an incorrect understanding of blocks and block syntax.  I wouldn't call that "training", I'd call that "anti-training".   What I don't understand is why other developers shouldn't use something because you don't recognize it.

I'll also point out that in this entire discussion, you have not identified a single lone block that is actually problematic and does not me

[2021-04-16 21:40] samreid commented on #1012
I think I'll repurpose this issue for running chipper/perennial tests on CT, and I'll create a side issue for testing create-sim specifically.

[2021-04-16 21:44] samreid opened #1037 "Determine which parts of chipper/perennial should have unit tests"
Similar to https://github.com/phetsims/chipper/issues/1012 and https://github.com/phetsims/perennial/issues/225, we would like to identify which other parts of chipper/perennial should have unit tests.  Assigning for dev meeting to determine assignee, priority, timeline.

[2021-04-19 15:34] samreid commented on #1026
I recommend testing that hypothesis--the results may surprise you.

I use indentation as a context cue to understand what's happening in the code.  At the risk of being overdramatic, here are some heuristics:

No indentation: entry-point code, nothing interesting happening contextually
One Level: perhaps a class declaration or top level function
Two Levels: within a class, this probably means we a

[2021-04-19 15:44] pixelzoom commented on #1026
There is no such statement in the prior dev meeting notes at https://github.com/phetsims/chipper/issues/1026#issuecomment-820677930.  Those who expressed an opinion said the exact opposite:

We were ready to close this, and left it open at @samreid's request, for more discusion.

[2021-04-19 15:50] pixelzoom commented on #1026
Your heuristics do not account for the fact that block !== control block.

You are repeatedly trying to make a "redundancy" case, which is subjetive, and based on your feeling that we shouldn't use lone blocks because they don't match your understanding of (and heuristics for) blocks.

So one more time...  Please point out a block that violates this definitiion in any objective way -- e.g. not log

[2021-04-19 16:01] pixelzoom commented on #1026
It wasn't a hypothesis, I encountered it in the referenced example. But I must've been doing something else wrong.  In any case (no pun intended :) there are 3 lone blocks used of case statements in SingularValueDecomposition.js, and I see zero value in removing them.

[2021-04-19 21:02] samreid commented on #1026
I discussed this with @pixelzoom over slack, and we agreed that `ChallengeFactory1.js` is a good use of redundant lone blocks.  Since our production code has a legitimately good use for this language feature, I would like to change my vote to disable the rule.  It seems unlikely that someone would overuse or misuse this feature--if that happens in the future, we can revisit.  But for cases like:

[2021-04-19 23:36] zepumph opened #1038 "Convert `?supportsVoicing` to boolean and convert to sun on package flag under `features`"
See https://github.com/phetsims/chipper/issues/1031 for backstory. Generally this will make features to this sim be controlled in a more consistent way.

I wanted to hold off on this until `preferences` branches are merged to master. That will be easier I think.

So generally, let's say on hold until https://github.com/phetsims/joist/issues/694 is closed.

[2021-04-19 23:42] zepumph commented on #1031
Above I did 4 things with interactive description control:
* Converted the query parameter to a boolean
* renamed to `supportsInteractiveDescription`
* Refactored the query parameter so that its default value could be taken from the package flag
* moved the package flag to nest under `features`

I also created https://github.com/phetsims/chipper/issues/1038 to work on `supportsVoicing`. In general

[2021-04-21 20:59] pixelzoom commented on #1034
Reopening.

There's some thing wrong here. When this task is forwarded to perennial, a perfectly legal repo name is not recognized.  Example:

[code]

If I `cd perennial` this works fine.  Which makes no sense, since the above says "Forwarding task to perennial".

[2021-04-21 21:04] jonathanolson commented on #1034
Copy-pasted this:

![image](https://user-images.githubusercontent.com/480878/115620615-9efa1500-a2b2-11eb-8986-831dd163cb3e.png)

And:

[code]

[2021-04-21 21:05] jonathanolson commented on #1034
Ahhh! It's probably because the `--repo` flag is specified while IN the repo? Checking.

[2021-04-21 21:05] zepumph commented on #1032
Done in https://github.com/phetsims/chipper/commit/31729b606c7099e3b7bd33f8a1160bd273068fc8

[2021-04-21 21:06] jonathanolson commented on #1034
When grunt.option is run and `--repo` is specified twice, it returns `[ 'natural-selection', 'natural-selection' ]`. Because it's an array, it fails validation.

[2021-04-21 21:07] jonathanolson commented on #1034
Is it acceptable to avoid `--repo` while running from a non-perennial repo? Otherwise we'll have to scan all the possible ways the repo could be specified in command-line options, validate AND remove.

[2021-04-21 21:16] pixelzoom commented on #1034
I wouldn't call that "acceptable" programming, but I can live with it -- if the error message makes it possible to figure out what's going on.   At the very least, print the bad repo in the message, so we can see that it's `[ 'natural-selection', 'natural-selection' ]`.

[2021-04-21 21:18] pixelzoom commented on #1034
I.e., something like:

[2021-04-21 21:28] jonathanolson commented on #1034
Actually, I realized I can use the same grunt logic in the chipper side to check, I'll add the check.

[2021-04-22 18:45] pixelzoom commented on #1027
4/22/21 dev meeting:

Vote was 4 to remove rule, 2 to keep, 2 abstained.

@samreid will remove it.

[2021-04-22 18:49] pixelzoom commented on #1026
4/22/21 dev meeting vote:

6 to delete rule, 0 to keep rule, 2 to abstain

@samreid will delete the rule.

[2021-04-23 15:45] samreid commented on #1026
I commented that we plan to leave the rule off, and I removed the corresponding disable directives, closing.

[2021-04-23 15:45] #1026 closed

[2021-04-23 15:52] samreid commented on #1027
I disabled the prefer-template rule and removed the now-redundant override in yotta.  Closing.

[2021-04-23 15:52] #1027 closed

[2021-04-26 18:27] jbphet commented on #1031
I'm generally okay with the idea of `supportsSound` and `supportsEnhancedSound` being moved to the `features` section in `package.json`, and with there being query parameters to override the values in `package.json`, but there are some things that will need to be addressed as part of the effort:
- You'll need to figure out how you want to handle illegal configurations, such as having `supportsSoun

[2021-04-26 19:39] samreid opened #1039 "branch: typescript"
For https://github.com/phetsims/tasks/issues/987

[2021-04-28 21:47] zepumph opened #1040 "phetioCompareAPIs to use phetioDesigned more fully"
From https://github.com/phetsims/phet-io/issues/1761, we are going all in on phetioDesigned. This will be our primary development tool for tracking API changes. As a result, we need to expand its functionality to track all parts of the API. @samreid and I came up with this list:

* [x]  A way to check that no new features (tandems) were added under a phetioDesigned: true subtree.
* [ ]  That pheti

[2021-04-28 21:58] zepumph commented on #1032
I can't even build phet-io-test-sim right now. The good news is that. . . this means I have a reproduceable case!

It works fine from `grunt generate-phet-io-api`, but not from build. Looks like the only difference is the `fromBuiltVersion` option.

I am able to toggle that to true in the grunt task and reproduce the problem when it loads a stale copy of the built sim. I wonder what the minified p

[2021-04-28 22:09] samreid commented on #1032
A great discovery!

[2021-04-28 22:30] zepumph commented on #1032
Now that I understand the problem better, I'm realizing that the puppeteer callbacks in generatePhetioMacroAPI are a total mess. There are many possible code paths that will yield in this promise being rejected multiple times, or possible also rejected and resolved:

[code]

Side note, I wonder if this only happens in built mode because the larger file size times out something in node while it loa

[2021-04-28 22:46] zepumph commented on #1032
The error is spawning from page.goto, perhaps https://github.com/puppeteer/puppeteer/issues/4275 will help.

[2021-04-28 23:05] zepumph opened #1041 "Update to puppeteer v9.0.0"
When I did this locally, it solved https://github.com/phetsims/chipper/issues/1032, so I think we should go all in. Presumably we would want to do the same for perennial as well.

[2021-04-28 23:05] zepumph commented on #1032
When I updated to puppeteer v9, I no longer get these navigation errors. In addition to making sure we can't double reject, I think we should do that over in https://github.com/phetsims/chipper/issues/1041

[2021-04-29 00:13] zepumph commented on #1032
It seems the primary error was two fold:

1. when you call `await page.close()`, which we did right before we resolved with the API, it triggers a `pageerror` which we are catching and using to reject.
2. Not positive about this one, but I think the `try` around `page.goto()` was catching errors coming from the sim, that were also handled by the page.on callbacks.

The solution is the above commit

[2021-04-29 00:13] #1041 closed

[2021-04-29 00:13] zepumph commented on #1041
This wasn't actually needed for https://github.com/phetsims/chipper/issues/1032, so let's hold off until it is needed.

[2021-04-29 00:14] zepumph commented on #1032
I have now made >10 builds without encountering this issue. Wahoo!

[2021-04-29 19:39] jessegreenberg commented on #1012
4/29/21

Today we discussed that it would be nice to have a general way to run tests tests. We should create another issue related to security and running commands. @jonathanolson will create that issue and create a general way to create tests for scripts for usage in issues like the ones listed above.

For shell vs grunt vs node tasks - there is a general consensus that creating a node task for t

[2021-04-30 21:31] zepumph commented on #1032
I have not encountered the error since these changes. With perhaps another 10 builds or so.

[2021-04-30 22:02] zepumph opened #1042 "create convenience Voicing query parameters parameters"
After discussing with @jessegreenberg, it may help to have the following things for developing voicing features:

- [x] `?voicingInitiallyEnabled`, default to false, as the design specifies.
- [ ] ~`?debugVoicing`, which pulls out some of the hidden preferences controls into a spot that is easier and faster to access. One thought is a floating Node on top of the screenView, another is adding it in

[2021-05-06 00:37] zepumph commented on #1025
Looks great. Closing; please reopen if there is anything more here.

[2021-05-06 00:41] #1025 closed

[2021-05-07 22:12] zepumph commented on #1040
After the above commit, I tested that this was working as expected in two ways:

1. Apply this patch:

[code]

And I got these errors:

[code]

----------------------------

Then  I applied this patch:

[code]

And got these errors
[code]

This feels like a nice improvement!

[2021-05-07 22:43] zepumph commented on #1040
I've been working on adding unit tests and changing how phetioCompareAPIs is used. I'll pick back up later

<details>

[code]

[2021-05-09 02:20] jonathanolson commented on #1032
Had a failure with a maintenance release build, is this related? Does that mean I'll need to maintenance release sims without the fix?

[code]

[2021-05-10 16:36] jonathanolson commented on #1032
I'm getting this also in molecule-polarity 1.1, going to plan to patch this up first before other things.

[2021-05-10 16:51] jonathanolson commented on #1032
I'm looking to see where the potential race condition was added. It looks like the file's moved a bit, for reference it's had these names/locations (which might need to be maintenanced):

- chipper/js/phet-io/generatePhetioMacroAPI.js
- chipper/js/phet-io/generateMacroAPI.js
- chipper/js/phet-io/generatePhetioAPI.js
- chipper/js/grunt/phet-io/generatePhetioAPI.js
- chipper/js/grunt/phet-io/generat

[2021-05-11 00:52] zepumph commented on #1040
The above largely handles this. It adds unit testing for breaking changes against element metadata. It also worked on the options work flow within how comparing designed/breaking changes is passed through options. This was audited for all usages of phetioCompareAPIs.js (diff wrapper, running the sim, and from grunt task).

A couple of things for cleanup:

- [ ] I ended up creating a couple of wonk

[2021-05-11 15:51] samreid commented on #814
Here is my list of remaining rules to enable:

consistent-return
default-param-last
no-async-promise-executor
no-constructor-return
no-labels
no-return-await
no-sequences
no-throw-literal
no-unmodified-loop-condition
prefer-promise-reject-errors
prefer-rest-params
prefer-spread
require-atomic-updates
require-unicode-regexp https://github.com/phetsims/chipper/issues/1029
strict

[2021-05-11 21:55] zepumph commented on #1032
In https://github.com/phetsims/chipper/commit/c30502c26d3a6f30c9fe7dbcdfad9ae2ecf9edfc @jonathanolson and I did a co-review of the above commit. After the MR we are doing currently, I think this is ready to close.

[2021-05-11 21:56] samreid commented on #1032
Thanks!

[2021-05-12 00:18] jonathanolson commented on #1032
Should be patched up, unassigning until QA verification.

[2021-05-12 17:34] zepumph opened #1043 "[lint] todo-should-have-issue.js doesn't apply to phet-io repos"
I noticed while making https://github.com/phetsims/phet-io/issues/1772 that the lint rule only looks at phet brand phetLibs, and doesn't concat with phet-io common code. Should be an easy fix, but I'm unsure how many errors it will cause to add.

[2021-05-12 17:43] zepumph commented on #1043
There was only one TODO that needed an issue in phet-io repos. How Fun! Closing. Tagging @samreid because he was on the call when I did this work.

[2021-05-12 17:43] #1043 closed

[2021-05-13 19:14] jbphet commented on #1037
In today's developer meeting we collectively learned that perennial _does_ in fact have QUnit set up.  @jonathanolson said he would take this issue on and, once the unit testing is working on CT (see #1012), he will take a pass through chipper and perennial and add some additional tests, and we will go from there.

[2021-05-13 19:14] zepumph commented on #1037
@jonathanolson can you please review the pattern used in CHIPPER to run unit tests from the js/ repo. I created https://github.com/phetsims/chipper/blob/3c2b5ec5aac15ebfc6bf264abb586b9da881158e/test/generalTests.js.

Can you please take a look at that pattern, and adapt it as desired, and then use it in perennial too so that it is straight forward to create tests in the js/ dir?

[2021-05-14 21:33] jbphet commented on #1021
I fixed the ones that were in my repos, listed in https://github.com/phetsims/chipper/issues/1021#issuecomment-830069352.  Two were cases that had been fixed but the comment wasn't removed, the other had just been missed I guess.

@samreid - I think we're done here, but thought I'd run it by you to double check.  Are we good to close?

[2021-05-18 20:14] liam-mulhall commented on #1032
From Slack:

Closing.

[2021-05-18 20:14] #1032 closed

[2021-05-19 15:42] zepumph opened #1050 "List of places to convert to TypeScript"
From https://github.com/phetsims/tasks/issues/987, if we end up going with TypeScript, @samreid and I though that it may be nice to have a list of places on the project that could be improved upon.

* UtteranceQueue's constructor parameter should implement an `Announcer` interface.
* `Property` and `Emitter` should be an interface. (for example instead of instanceof checks like https://github.com/

[2021-06-04 03:48] samreid opened #1044 "Update to Webpack 5"
https://github.com/phetsims/tasks/issues/987 revealed that we are using Webpack 4, which was released in 2018.  Webpack 5 came out in October 2020, and it would be good to stay current on this.  There is a migration guide here:
https://webpack.js.org/migrate/5/.  I'll take a look.  If it goes well, I could publish a new version for testing in https://github.com/phetsims/QA/issues/654

[2021-06-04 04:30] samreid commented on #1044
This patch is working well, but I don't want to commit it until I can verify it on Windows:

<details>

[code]

</details>

[2021-06-04 04:58] samreid commented on #1044
I tested the patch on Windows 10, from git bash and from the Webstorm built-in terminal, and it worked well in both places.  I uncommented the console.log in the path generation and it looked as expected (with back slashes, as in the previous version).  There may be other ways Windows users use the terminal, but for now, this seems safe to commit.

[2021-06-04 13:47] samreid commented on #1044
Committed.  Erring on the side of caution, it would be nice to do the following steps before closing:

- [ ] quick code review
- [ ] windows developer do a test build

[2021-06-04 16:51] samreid commented on #1044
I also saw this warning on a fresh npm install:

[code]

[2021-06-10 17:53] jonathanolson commented on #1044
Reviewed the migration guide, the patch, and tested on Windows. It looks like we're handling everything (and well).

[2021-06-10 18:53] samreid commented on #1044
Thanks, I made one more change and notified slack:

Closing.

[2021-06-11 22:24] samreid opened #1045 "How to import *.ts file from *.js file?"
In https://github.com/phetsims/tasks/issues/987#issuecomment-858893342 I mentioned problems in importing TypeScript files from JavaScript.  @jonathanolson mentioned we would like to use TypeScript in central common-code files early on.  I mentioned one approach to address that problem (Option 1), but I think it warrants elaboration and discussion:

Options:
1. Make every file *.ts, marking things

[2021-06-13 16:43] samreid commented on #1021
Looks great, thanks everyone! Closing.

[2021-06-13 16:43] #1021 closed

[2021-06-14 19:40] samreid opened #1046 "Migrate to Typescript"
In https://github.com/phetsims/tasks/issues/987 we investigated TypeScript and determined it will significantly improve our project. This is an epic "quarterly-goal" issue which we can use for planning migration. This migration will be reminiscent of when we migrated from requirejs to es6 modules--similar scope, impact on build tools, learning curve, etc. Here are the main checkpoints:

Q3 (July 1

[2021-06-14 19:44] samreid opened #1047 "Typescript Tooling"
From the TypeScript investigation in https://github.com/phetsims/tasks/issues/987, we developed some basic tooling for building TypeScript.  For a full migration #1046, we will need:

### Additional Tooling
- [ ] Test existing tooling on Windows
- [ ] Add a `grunt tsc` step after pull on CT/phettest, for runnable repos
- [ ] Run type checker as a precommit hook
- [ ] How do you know when the code

[2021-06-14 19:53] samreid opened #1048 "Typescript Training/Education"
Part of migration to TypeScript for https://github.com/phetsims/chipper/issues/1046 will involve training our team in how to use TypeScript.

Personally, I have found it useful to do the following:
* Reading the TypesScript Handbook (PDF linked at the bottom of https://www.typescriptlang.org/docs/handbook/intro.html )
* Reading "Effective Typescript" by Dan Vanderkam
* Reading the article and watc

[2021-06-14 19:56] samreid opened #1049 "Identification of TypeScript patterns & conventions"
Part of our migration to TypeScript #1046 will involve discovery and identification of patterns & conventions for how we wish to use TypeScript.  Here is an initial list, which is expected to grow as we learn more:

* How should we implement Enumerations? Should we use string literals or enum?  See https://thisthat.dev/literal-union-type-vs-string-enums/. enum would be fine if we have a lint rule

[2021-06-16 01:36] samreid opened #1051 "Grunt update is fighting with daily-grunt-work"
Running `grunt update` gives copyright timestamps (single year) that are incompatible with daily-grunt-work (date range).  Running `grunt update` and `daily-grunt-work` whenever there is a change would yield an infinite loop.  Detected during https://github.com/phetsims/chipper/issues/1047

[2021-06-16 01:57] samreid commented on #1051
@jonathanolson can you please review the chipper commit at your convenience?

[2021-06-16 02:58] samreid commented on #1045
As a test, I converted Property.js to Property.ts and everything worked OK except for Webstorm navigation from files that import Property.js.  Maybe the best path forward for this issue is to create a minimal reproducible case and submit as a bug report to Webstorm.

[2021-06-16 03:45] samreid opened #1052 "Improve modularity of common code repos"
Discovered in https://github.com/phetsims/chipper/issues/1047, it is currently not possible to use typescript project references `composite: true` on our common code repos.  For instance, the brand repo depends on the phet-core repo via this import:

[code]

Likewise phet-core has a dependency on tandem like so:
[code]

Tandem imports from axon:
[code]

Tandem imports from dot, dot imports from ta

[2021-06-16 15:16] samreid commented on #1051
I slacked @jessegreenberg

[2021-06-16 15:55] samreid commented on #1051
@jessegreenberg and I checked and saw that daily-grunt-work seems reasonable, and @jonathanolson checked that CT is acting reasonable.

[2021-06-16 23:02] samreid opened #1053 "What is the optimal way to load strings using Typescript?"
If we move to Typescript, is there a better way to render/load the strings than we do now?  See https://github.com/phetsims/chipper/issues/1047

Brainstorming some ideas:
* Use top-level await combined with dynamic import of json files?
* Make the english strings file a TS class, and have other languages override it?
* Leave it pretty much as it is?

I'm not too familiar with the string plugin, so

[2021-06-17 01:03] jonathanolson commented on #1051
Changes look good (after the await fix).

[2021-06-17 13:44] samreid commented on #1051
Thanks, closing.

[2021-06-17 13:44] #1051 closed

[2021-06-17 14:52] samreid opened #1054 "Migrate chipper build tools to TypeScript"
From https://github.com/phetsims/chipper/issues/1047, we would like to investigate migrating the chipper build tools to TypeScript.

[2021-06-17 18:48] samreid commented on #1054
This is working well after the commits.  I mentioned to the dev team today that the main friction is that I was getting stack traces of the compiled code.  @jonathanolson affirmed that it would be nice to use TypeScript in the chipper build side of our stack, but likewise it would be nice to get stack traces to report on the source lines, not the compiled lines.

[2021-06-17 19:51] samreid commented on #1054
Putting this line at the top of the file worked well. Also, it allowed us to use `grunt` right out of the box (no need to run with node options or anything).

[code]

I couldn't get this working:

[code]

I couldn't get this working:
[code]

But maybe if we had a lint rule that every file had `require('source-map-support').install();`, that would be least disruptive to our build chain, because the

[2021-06-20 18:20] samreid opened #1055 "Set up modular tsconfig projects"
From https://github.com/phetsims/chipper/issues/1047 and related to https://github.com/phetsims/chipper/issues/1052.  For modularity and faster builds, we should set up `composite: true` for tsconfig project references.  Due to complications in https://github.com/phetsims/chipper/issues/1052, this will not be straightforward, since our dependencies are not well-layered.  Until we have good progres

[2021-06-20 18:49] samreid commented on #1055
Putting the tsconfig files in separate subdirectories is working well, I have projects set up through scenery.  Scenery incremental builds (a change in Node API) are an order of magnitude faster than the "all common code in one project" approach.

[2021-06-21 14:12] samreid commented on #1055
I created tsconfig projects for all runnables and their dependencies, and it seems to be working well.  Compile times are significantly improved over the monolithic approach.  Here are some remaining clean-up steps:

Common code test files aren't yet in any compilation unit (since tests pull in downstream dependencies)
shred shouldn't pull from build an atom strings
fractions-common needs vegas (n

[2021-06-26 22:48] samreid opened #1056 "Webpack usedModules is reporting package.json as a dependency"
Discovered in https://github.com/phetsims/studio/issues/234, for unknown reasons I have been getting this error:

[code]

The problem is caused by this code:

[code]

For some reason, some of my webpacks have been reporting "package.json" as a dependency (with no directory).  I tried many things in order to unify my webpacks, including:
* getting rid of package-lock.json
* rm -rf node_modules
* ge

[2021-06-26 23:00] samreid commented on #1056
I added support for directory-less usedModule entries.  I tested and it seems OK.  But I only tested from running `grunt` in the sim repos.  Is there a way to do builds from another directory, like perennial forwarding?  How does the build server build?  @jonathanolson can you help with that part?

[2021-06-29 17:47] samreid commented on #1033
I enabled the rule.  There were 25+ cases where I think the responsible developer will need to take a look and address it, I've marked those cases with `// eslint-disable-line consistent-return`.  There are cases in these repos:
- [ ] perennial @mattpen @jonathanolson
- [ ] phet-io-wrappers @zepumph
- [ ] rosetta @jbphet
- [ ] scenery @jonathanolson
- [ ] studio @zepumph
- [ ] weddell @jbphet

The

[2021-06-29 18:02] samreid opened #1057 "Chipper precommit hooks take much too long (20+ seconds)"
Committing in chipper has recently become a drag because the precommit hooks take 20+ seconds to complete.  What caused this? Can it be reduced?

[2021-06-29 18:06] samreid opened #1058 "Get rid of // eslint-disable-line no-async-promise-executor"
We have several `// eslint-disable-line no-async-promise-executor` that should be evaluated and hopefully removed.  @jonathanolson can you please take a look?

[2021-06-29 20:57] samreid opened #1382 "Enable lint rule `require-atomic-updates`"
From https://github.com/phetsims/chipper/issues/814#issuecomment-838724968 we agreed to enable the lint rule "require-atomic-updates", but there are 6 offenses at the moment, currently all in rosetta.  They should be fixed or have the lint rule disabled for each occurrence, and the rule in chipper should be turned on.  @jbphet can you please take a look?

[2021-06-29 21:08] samreid commented on #814
All rules recommended by the team have been enabled or moved to side issues, closing.

[2021-06-29 21:08] #814 closed

[2021-06-29 21:28] samreid commented on #1057
Oops, it was linting code in a dist/ subdirectory.  Closing.

[2021-06-29 21:28] #1057 closed

[2021-06-30 15:48] jbphet commented on #1033
I've added @liam-mulhall and assigned him to the portions for rosetta.

@samreid - I'm not seeing any occurrences of `eslint-disable-line consistent-return` in the code for weddell.  There are plenty of other disabled lines, but I'm not seeing this particular one.  Am I missing something?

[2021-06-30 15:50] samreid commented on #1033
Please check https://github.com/phetsims/weddell/blob/b53dc1ad89025d45e4dfb6f3591f950e0e48a687/js/utils/notarize.js#L22-L27, is it possible weddell is excluded from your search?

[2021-06-30 16:09] jonathanolson commented on #1033
I've handled scenery. I'm not familiar with the perennial cases, I'll defer to @mattpen and @zepumph.

[2021-06-30 16:18] zepumph commented on #1033
I'll take a look and do all I can.

[2021-06-30 17:53] jonathanolson commented on #1056
We currently ONLY run builds from the repo's directory, so that seems safe for now. This includes perennial/build-server/etc. Thoughts on whether this is good for now?

[2021-06-30 18:02] samreid commented on #1056
Thanks, this seems ready to close.

[2021-06-30 18:02] #1056 closed

[2021-06-30 18:09] zepumph commented on #1033
It'd be good to have @mattpen double check my usages of `Promise.resolve()` in perennial.

[2021-06-30 19:01] mattpen commented on #1033
@zepumph - What you wrote should work, but I thought we should be using this pattern now:

[code]

This should be equivalent to the following and it should pass the lint rule.

[code]

[2021-07-01 21:48] samreid opened #1059 "Older shas do not lint ignore chipper/dist"
Chipper has an eslint ignore directive for chipper/dist in master.  However, when doing an RC build, if chipper/dist exists, it will be linted.  This means we may need to do something like:

* rm -rf chipper/dist before doing a legacy build
* patch eslint ignore chipper/dist into legacy branches
* find another place to put the output

[2021-07-01 21:57] zepumph commented on #1040
I don't think this anymore. I'll just leave it as is for now.

[2021-07-01 22:11] zepumph commented on #1040
thi

[2021-07-01 22:16] zepumph commented on #1040
Looks like all that is left here is to support designed IOType, I'll create a different issue for that.

[2021-07-01 22:18] zepumph commented on #1040
See https://github.com/phetsims/phet-io/issues/1795. Closing

[2021-07-01 22:18] #1040 closed

[2021-07-02 15:11] zepumph commented on #1028
I poked through again, and found that I am in agreement with @jonathanolson. We definitely have a pattern that doesn't rely on await, and I don't think we need to change this. I.E:

https://github.com/phetsims/chipper/blob/b4f9348651551c65dbb38900cc59e7e2ecbac5a0/js/grunt/Gruntfile.js#L115-L121

Closing

[2021-07-02 15:11] #1028 closed

[2021-07-02 15:22] zepumph commented on #1009
I found that the errors were that we, as a project, use for...of and for...in loops. I don't think these should be limited or omitted as a tool. I'll message the dev channel to let anyone else chime in if they strongly feel like we should be limiting them. The other portions of this rule were duplicated with other rules (no-label and no-with). Closing

[2021-07-02 15:22] #1009 closed

[2021-07-02 16:43] zepumph commented on #1003
We actually already had a lint rule for this, but in bad-sim-text, so I promoted it, and updated to fix some problems. See #1005. Closing

[2021-07-02 16:43] #1003 closed

[2021-07-02 16:59] zepumph commented on #1042
Add voicingInitiallyEnabled above.

[2021-07-02 17:28] zepumph commented on #1031
I feel like sound is always just a subset of enhanced sound, and that is also how Joist feels currently:

https://github.com/phetsims/joist/blob/6c5612088a367ee312dc231ee076afee4f3d9d12/js/Sim.js#L502-L507

I think being graceful, and allowing all possible parameters without error is the nicest and safest. Isn't this already technically an issue currently if you were to add `?supportsEnhancedSound

[2021-07-02 17:47] zepumph commented on #1031
I converted supportsEnhancedSound to a boolean, and nested it under package.json's "features" object. I tested it with all possible combinations in GFL, and it looked go, so I committed above. Next will be `?supportsSound`.

[2021-07-02 18:47] zepumph commented on #1031
I added support for supportsSound above.

I see that this query parameter controls a booleanProperty passed as an enabledControlProperty to the sound manager. Thus this too is a graceful output, not changed by this issues work (since it behaves the same as it did prior to the change), and is working as expected.

I'm ready to close this, issue, and to keep query parameters graceful like they have

[2021-07-02 20:07] jessegreenberg commented on #1031
Over slack @jbphet noticed that the sound disappeared from the navigation bar and we thought it was probably related to this change. It looks like some references to `packageJSON.phet.supportsSound` were not updated so the Sim thinks that sound is not supported.

I also noticed a few places where `supportsSound` was not moved under "features" in package.json, in area-builder, arithmetic, faradays-

[2021-07-02 20:34] samreid commented on #1045
I reported this to WebStorm and it is fixed in the latest EAP https://youtrack.jetbrains.com/issue/WEB-51357.  It already works fine in Sublime.  This issue can be closed.

[2021-07-02 20:34] #1045 closed

[2021-07-02 21:06] jessegreenberg commented on #1031
Hmm, I see https://github.com/phetsims/arithmetic/commit/bd47db88297990f40bb3458af2c02710cc475d4c for arithemtic and https://github.com/phetsims/area-builder/commit/91ff00eef86047fd86e6443351bdcb749668d5c1 for area-builder. But in the above commits I moved supportsSound under features in gravity-force-lab-basics and faradays-law

Then I updated the usages of packageJSON related to supportsSound. @

[2021-07-02 21:30] jbphet commented on #1033
I fixed the issue in weddell by explicitly returning `null` instead of just using an empty `return` statement.  This resolves the eslint issue and seems unlikely to cause any problems with notarizing, since it can't be done on non-Mac platforms anyway.

[2021-07-02 22:48] jessegreenberg commented on #1042
Sorry I haven't gotten to this yet. But I reverted this for the moment because phet.chipper.queryParameters can't be used in scenery (where webSpeaker lives) and its causing an error on CT for some scenery docs/tests. I don't have time at the moment to investigate where it should go in scenery.

[2021-07-03 05:01] samreid commented on #946
Here's an updated patch that can be run to show a list of the TODOs:

<details>

[code]

</details>

Here is the current list of all open and closed issues mentioned in our TODOs.  We would need a strategy like mentioned above to see which are open vs closed.  I'm burying it in backticks so it doesn't create an entry in the issues:

<details>

[code]

</details>

[2021-07-03 05:07] samreid commented on #946
I manually identified the closed issues:

[code]

[2021-07-03 21:45] samreid commented on #946
I visited all the links from the prior comment and either removed the TODO, adjusted the TODO or reopened the issue, as appropriate.  It seems those 23 TODOs accrued since November 2020, so that is roughly 3 a month.  So it seems we will still benefit from a process/task/reminder that will help us with these.

[2021-07-05 21:07] samreid commented on #1056
I have to cherry-pick this into gravity and orbits so I can do a build.  May also need to do that for natural selection too.

[2021-07-06 13:22] zepumph commented on #1031
Sorry! It looks like commits weren't pushed even when I inspected the webstorm dialog. Thanks for taking the quick lead for the fix. I pushed my commits from last week above. Note that you don't need packageJSON from Sim.js because that info in now held by the query parameter.

[2021-07-06 13:30] zepumph commented on #1031
Ready for real review now, over to @jbphet.

[2021-07-06 15:23] samreid commented on #1018
I recommend to have the destination directory in chipper be named using a similar pattern.  Perhaps the copy will be from `perennial/js/chipper/` to `chipper/js/perennial/`

[2021-07-06 17:10] samreid commented on #1018
On second thought, those names seem too awkward.  It sounds like perennial/js/chipper code is intended primarily for chipper, which is not the case. Perhaps we should create a better name to unify these.  A unique name (not used widely in our project) to mean "used in both perennial and chipper".  Perhaps "biannual" or "dual".  Or maybe perennial would have dual-source and chipper would have dual-

[2021-07-06 17:25] samreid commented on #1018
I moved SimVersion to dual/ and ran `grunt update` on all active repos.  I tested the following things:

Launching an unbuilt simulation
Building a simulation, launching it

I could not test a chains rc release with working copy changes, so I'll commit next.  This is going to span many repos since a preload path changed.

[2021-07-06 17:43] samreid commented on #1018
All changes pushed, and I confirmed a chains phet-io/phet RC completed successfully.  Next this issue should move execute.js to dual/

[2021-07-06 18:23] zepumph commented on #1042
@jessegreenberg had a good idea to just look at this parameter in Sim.js, and toggle webSpeaker as needed there. I'll do that.

[2021-07-06 18:32] zepumph commented on #1042
Does that seem better to you?

[2021-07-06 18:37] zepumph commented on #1042
And I added to phetmarks.

[2021-07-08 22:28] jessegreenberg opened #1060 "New lint rule to inform variable names for imported images and audio"
From https://github.com/phetsims/circuit-construction-kit-common/issues/702, and https://github.com/phetsims/circuit-construction-kit-common/issues/702#issuecomment-872475640.

We would like a lint rule that enforces that all variables for imported images end in "Image" and all variables for imported sounds end it "Sound".

I am envisioning a single lint rule for this. Using https://astexplorer.ne

[2021-07-09 16:22] samreid commented on #1018
Putting this issue on hold until we discuss disadvantages of this approach and alternatives as part of https://github.com/phetsims/phet-io/issues/1733#issuecomment-877301298.

[2021-07-09 21:53] jessegreenberg commented on #1060
In the above commits I implemented this lint rule. But then realized that a lot of Image Node variables use the "Image" suffix as well, and renaming the import variable caused a name collision. So in order to use this convention for the import they will need to be renamed to have a suffix like "ImageNode". That could be fine, but that would also mean updating tandem names for instrumented images.

[2021-07-12 16:14] zepumph commented on #1018
I think that execute is a much more tolerable file to copy to chipper than the suite of phet-io api generation files. Furthermore I think that there are a selection of functions (mostly utility/tools) like `withServer` over in https://github.com/phetsims/perennial/issues/175 that I can't see another way to support using in chipper and perennial.

[2021-07-13 02:18] samreid commented on #1018
@zepumph do you want a `git add` command to run automatically, or should it be manual for now?

[2021-07-13 03:51] samreid commented on #1018
OK I moved execute to dual/ and tested a few functions in perennial and chipper.  I don't feel like I have tested everything, but I don't know how to do that.  I think the next step is a code review.  Other improvements will be on their way as part of https://github.com/phetsims/perennial/issues/231.

@zepumph or @jonathanolson can you please review?

[2021-07-13 14:12] zepumph commented on #1018
Looking really nice. There is a new issue in which update-copyright-dates isn't run in perennial (since it is a chipper task). So daily grunt work is going to fight itself every night. Want to move that script to perennial?

[2021-07-13 15:20] samreid commented on #1018
I'm not opposed to updating the copyright dates in perennial, but it seems this proposal entails moving the following files to perennial/dual/.

* updateCopyrightDate.js
* updateCopyrightDates.js
* updateCopyrightDatesForGeneratedFile.js
* getCopyrightLine.js

Does the daily grunt work fighting itself mean:
(a) bad copyright dates in perennial/dual
(b) file gets copied to chipper/dual with bad cop

[2021-07-13 15:30] zepumph commented on #1018
And I think we all should!

It is fighting because first in the daily grunt work task, copyright dates are updated, which means that chipper/dual/ files get updated to appropriate copyright dates, but perennial files don't. Then later in the task perennial files get copied and replace the new copyright dates in chipper/dual/. Thus, every day there will be a useless commit on files in chipper/dual.

[2021-07-13 15:31] zepumph commented on #1018
My general preference is to go all in on `dual/`, and when we hate reevaluate. Right now I feel strongly like we have been tip toeing around really annoying problems for 5 years and, as a result, I at least code workarounds instead of using the factored out, well written code that we should be using from perennial. This may mean copying quite a bit over into perennial/dual/

[2021-07-13 15:37] samreid commented on #1018
That sounds reasonable to me, and I think we should move updateCopyrightDates et. al. over to perennial.  But my main hesitation on dual/ is that deep down I don't really understand why perennial is not versioned like the rest of our repos.  Perhaps we can discuss that a bit more for my understanding, then create a side issue assigned to me for updateCopyrightDates?

[2021-07-13 16:11] zepumph commented on #1018
Seems best for a quite refresher at dev meeting, and to PSA about this new pattern.

[2021-07-13 16:13] samreid commented on #1018
Also, let's have a PSA to exclude chipper/dual.

[2021-07-13 16:56] zepumph commented on #1018
Automatic is best to me.

[2021-07-13 17:37] jonathanolson commented on #1018
In https://github.com/phetsims/perennial/commit/896bf3e6b95e7d59ff2ed34f433ec3e5b7d97734, it looks like a grunt dependency was added to execute? Will this work nicely when not running at all from grunt? We need it to not print out any lines, and was hoping to not be adding grunt dependencies to things if we someday want to remove grunt.

[2021-07-13 17:39] jonathanolson commented on #1018
That is its purpose, to always be on master (thus the name).

[2021-07-13 17:43] samreid commented on #1018
Yes, but what problems would it cause for a sim to check out a specific SHA of perennial as part of a build?  If the only problem is that we are running code from perennial, so we don't want to check out code from it while it is running, then could that be solved by the following new proposal?

* Check out perennial to two directories: `git clone perennial perennial-master` and `git clone perennia

[2021-07-13 17:50] jonathanolson commented on #1018
That sounds possible, mainly like taking dual/ to a new level? It breaks some assumptions that some of our code uses, however, so it would require some changes.

[2021-07-13 18:12] samreid commented on #1018
It's also not clear what would go wrong if you are running a perennial/master task and it checks out an older version of perennial in place.  If you want to run another task from perennial/master, you just check out master again, right?  Or do we have processes that require the shas on disk while starting up another perennial process?

[2021-07-13 18:49] zepumph commented on #1018
Wouldn't dividing perennial into two repos suffer from the exact same problem we currently have, because when you checked out an older version of the sim, you would be stuck having master perennial and an older version of `dual` (the repo), and thus an older version of `execute` to be run on master perennial.

[2021-07-13 19:14] samreid commented on #1018
Chipper would depend on perennial-versioned, not perennial-master.  But I'd also like to discuss why we need 2 perennials, based on the remarks in https://github.com/phetsims/chipper/issues/1018#issuecomment-879297017. Let's hypothesize that (a) `require` files are loaded into memory on startup rather than dynamically, and (b) there are no dynamically required or invoked parts.  Then you can kick

[2021-07-14 04:08] jonathanolson commented on #1018
It doesn't sound like a good practice to be changing checkouts while things are running. Perennial should have the ability to run new scripts inside itself.

Having to program things so that you can't depend on the files in your repo changing out from underneath while running sounds like a lot of complexity.

[2021-07-14 13:44] zepumph commented on #1018
Yes, but perennial-master would depend on perennial-versioned, so @jonathanolson's worry about files changing out from under perennial still apply. If perennial-master ever wants to use `execute`, it could check out old shas, which means old `execute`, and perennial-master won't necessarily work with old `execute`.

[2021-07-14 18:31] jonathanolson commented on #1018
I'm not understanding this... wouldn't perennial-master just use its own `execute`? Perennial's "master" (i.e. perennial) should not depend on its copy (i.e. perennial-versioned).

[2021-07-14 18:34] zepumph commented on #1018
Yes sorry I didn't at first understand the proposal. This seems very clear to me now.

I like this best so far!

[2021-07-14 23:56] samreid commented on #1018
One more idea (shortcut?) to simplify this proposal and make it easy to start using it.  We would leave "perennial" as it is now, so that nothing about its current usage needs to change. Then we give a new name to the versioned checkout. "perennial-versioned" or something catchy.   Is "annual" the botanical opposite of perennial?

[2021-07-14 23:57] jonathanolson commented on #1018
That sounds best to me, for this path.

[2021-07-15 20:06] samreid commented on #1018
We mentioned this to the dev-meeting team today, then met further as a dev-team subgroup: @zepumph @jonathanolson and myself.  We considered many aspects and agreed the proposal is a significant improvement over the status quo, and I volunteered to implement the initial draft.

This will mean the following structure changes:
* changing clone commands to clone a second copy of perennial
* adding th

[2021-07-15 20:14] samreid commented on #1018
Questions as I get started:
* How can we make sure chipper doesn't import any files from perennial?  Lint rule?

[2021-07-15 23:25] samreid commented on #1018
- [ ] Notify dev team
- [ ] Notify Google group
- [ ] Clean up dual/ files
- [ ] Test with chains

[2021-07-15 23:55] samreid commented on #1018
I'm struggling to get `npm update` running on annual.  it's missing winston, the build server says:

[code]

[2021-07-16 00:23] samreid commented on #1018
I tried many things but could not get past the missing winston problem.  It would probably have worked to remove winston  from execute, but that's perhaps not a desirable long term solution (unless we have perennial occurrences pass in winston as an option, and have a perennialExecute wrapper).  I'll need to wait for assistance from @zepumph @mattpen or @jonathanolson.  For now I reverted the comm

[2021-07-16 15:19] samreid commented on #1018
Another option would be to create a new repo that perennial and chipper depend on, which has no node_modules.  At the moment, this would contain SimVersion and execute.

[2021-07-16 15:43] zepumph commented on #1018
This would not work though right, because that new repo could be on an old version while perennial is on master and trying to use something only found on master of the new repo.

@samreid, I believe you would have needed to restart the build server since you changed a script that the server would use (and likely that was kept in memory of the process on phet-server. Did you restart build-server la

[2021-07-16 15:49] samreid commented on #1018
Thanks, I was not aware the build server needed to be restarted.  I had trouble with permissions though, even trying to journalctl following the instructions and using the listed credentials, so I may need help restarting build server as well.

To make it work, say the new repo is called "perennial-core", then it would be cloned twice, once as "perennial-core" and once as "perennial-core-versioned

[2021-07-16 15:56] zepumph commented on #1018
It seems like the primary benefit of that would be that it would be clear what files in perennial were allowed to be used by chipper. Right now I wasn't aware that we were putting any such restrictions on what chipper could use, though there are some obvious ones that shouldn't be (like high level MR, build-server, and deployment tasks). I feel like factoring half of perennial out to another repo

[2021-07-16 18:16] jbphet commented on #1031
The idea and general approach seems great, as do most of the code changes.  Two comments:

1. The key name `features` seems awfully generic to me.  Can we be a bit more specific?  Are this accessibility features?  Optional features?  Add ons?
2. I tested the sound-oriented query parameters, since that's what I'm most familiar with.  I noticed that using the parameters `&supportsSound=false&support

[2021-07-19 12:27] zepumph commented on #1031
@jbphet and @jessegreenberg, how about `simFeatures`?

@jessegreenberg, is this something that is going to be handled by https://github.com/phetsims/joist/issues/724?

[2021-07-19 15:02] zepumph commented on #1031
renamed to simFeatures above (and below). @jbphet, anything else here in your opinion? Feel free to close.

[2021-07-19 17:21] samreid commented on #1018
@mattpen and I discussed this today, and set an appointment for next week to collaborate on making and testing these changes again.

[2021-07-19 21:17] samreid opened #1061 "Centralize the color HTML file"
From https://github.com/phetsims/scenery-phet/issues/515, we would like to centralize the color HTML editor file, so it doesn't need to be copy/pasted to every simulation.  It seems it does not currently exist in built versions, so perhaps we don't need to support that.  I bounced this idea of @pixelzoom at a meeting earlier today and he said it sounded reasonable.  Also, we would eventually like

[2021-07-19 21:33] samreid commented on #1061
Summary of changes:

* Removed colorProfile: true from package.json
* All runnables now show "color editor" in phetmarks
* `grunt update` no longer creates a color.html file
* phetmarks links to a central file and launches it with ?sim=...

@pixelzoom can you please review or recommend a reviewer?  Please focus on the changes in chipper and phetmarks.  A question for the reviewer, I wasn't sure wh

[2021-07-19 21:36] zepumph commented on #1042
voicingInitiallyEnabled has been working nicely. While working on friction I have realized how nice it would be to consistently load with the following preferences enabled (for debugging and generally development).

[code]
1. The quick and dirty, create a query parameter called `?debugVoicing` that toggles these settings, similar to my idea in the first checkbox, except right now I don't care abou

[2021-07-19 23:00] pixelzoom commented on #1061
The behavior looks nice.

Those would be https://github.com/phetsims/phetmarks/commit/22d23c75a7f43bb83bed372605f8648703df2d38 and https://github.com/phetsims/chipper/commit/377fb43ef3ac5295f96827893fa274efddb63eb4.   I don't see anything out of place here, but I wasn't very familiar with how ColorProfile was handled here previously.

How about somewhere in phetmarks? Does it need to be runnable f

[2021-07-20 00:10] samreid commented on #1061
A note to myself or whoever resumes work on this issue, we should attempt to move file history via perennial/bin/copy-history-to-different-repo.sh

[2021-07-21 12:01] zepumph commented on #1042
- [ ] Another idea I was thinking was a mode where voicing text would appear in a box on the screen. This would be helpful to me while developing (a) so that I wouldn't always have to have sound on to work, and (b) to ensure proper punctuation and formatting.  Maybe that would be called `?voicingOnScreen`, `?voicingDialog`, or `?voicingDisplayText`.

[2021-07-22 17:50] jessegreenberg opened #1062 "Document or automate modifying package.json when deploying a sub set of supported brands"
It was recently discussed in a dev meeting that when creating a new release branch for a sim that supports multiple brands, but only publishing a sub set of those brands, that you need to modify package.json to remove the brands that are not included in the release.

For example, if supportedBrands is
[code]

And you run `grunt rc --brands=phet`, you still need to manually remove the "phet-io" (an

[2021-07-22 18:04] jessegreenberg commented on #1062
Over slack there were some comments:

[code]

[2021-07-22 19:53] jessegreenberg commented on #1062
More comments from slack:
[code]

[2021-07-23 17:47] zepumph commented on #1042
- [ ] Increase the max voice rate also

[2021-07-23 18:34] zepumph commented on #1042
- [ ] Create preferencesStorage that can register any property to support localStorage preferences. (new issue)

[2021-07-23 20:13] zepumph opened #1063 "query parameter to console log voicing responses"
From https://github.com/phetsims/chipper/issues/1042#issuecomment-884135105, @jessegreenberg and I want a query parameter that prints to the console any voicing response. Let's call it `?printVoicingResponses`

[2021-07-23 20:17] zepumph commented on #1063
This will be very helpful for me! Now we will more easily be able to see how responses interrupt each other.

From a bit of friction book moving:
[code]

[2021-07-23 20:26] zepumph commented on #1063
I also swapped the API for the emitters. In theory I like that the string is the first arg, since that really is all the the emitter is saying. It matches the signature of Property.link, where you have access to the Property in a later arg but don't need to rely on it to get the value of what was just changed. In practice, I changed a fair bit of usages that only needed the Utterance, not the text

[2021-07-23 20:32] zepumph commented on #1042
Everything has been moved to separate issues for implementation. Thanks @jessegreenberg!

[2021-07-23 20:32] #1042 closed

[2021-07-23 20:33] zepumph commented on #1063
Please note that https://github.com/phetsims/scenery/blob/a6761061545cc92d27da8c36af7c76615c234523/js/accessibility/voicing/ReadingBlock.js#L317 was deleted because I couldn't see any usages.

[2021-07-27 15:48] samreid commented on #1045
Confirmed fixed in WebStorm 2021.2

[2021-07-27 19:10] jbphet commented on #1031
Looks good, closing.

[2021-07-27 19:10] #1031 closed

[2021-07-28 03:29] samreid commented on #1061
I moved the file from chipper/templates/sim-development-colors.html to phetmarks/color-editor.html.  It is working nicely locally.  @pixelzoom want to spot check or test anything?  Can this issue be closed?

[2021-07-28 04:44] samreid opened #1064 "Chipper can use annual for generate-phet-io-api annual/data/phet-io-api-stable"
We refused to add a dependency from chipper to perennial to pick up perennial/data/phet-io-api-stable, but soon we hope to have annual, so that won't be a problem.  We could add an option like `--all`.  On hold until we have annual as part of https://github.com/phetsims/chipper/issues/1018

[2021-07-28 05:58] samreid commented on #1018
I'm seeing more places that should be using annual/.  For instance, phetmarks, skiffle, rosetta.  phet-info, binder and aqua I'm not sure whether they are "always master" or versioned.  @jonathanolson can you comment on whether aqua should import files from perennial or aqua?

[2021-07-28 06:41] samreid commented on #1062
Summarizing the last few comments from the proposal in slack: when on a release branch, brands would be taken from package.json and not supported as a command line --brands argument (would that error out if provided or just if different than package.json brands?).  Running a build on a release branch, it would print the brands mentioned in package.json and prompt [Y/n] to continue.

[2021-07-28 12:20] zepumph commented on #1018
phetmarks should depend on annual, that will be really nice. rosetta is not versioned, binder should stay on master, and I think aqua should also stay on master and use perennial. phet-info seems totally fine to stay on master. I have no ideal what skiffle is.

[2021-07-28 14:08] pixelzoom commented on #1061
👍🏻 Closing.

[2021-07-28 14:08] #1061 closed

[2021-07-29 17:55] samreid commented on #1046
Notes from today's discussion:

JB: Some hesitation about--how long will the migration take?

MK: TS has interfaces.  We have spent a lot of time dealing with that and working around it.  We can get good fixes to many annoying problems with interfaces.  That's just one thing.  I'm really excited.

CK: I'm very excited.  I think it will be a big time saver, and will reduce bug searching time dramat

[2021-07-29 18:25] samreid commented on #1046
Notes from discussion about moving forward:

CM: I don't think I would go back and convert old sims to typescript.

MK: Should we split into 2 processes where old sims skip compilation, and only sims that have TS dependency use the new process?

CM: We should use the uniform process for doing this.

KP: People are excited about it, and can take it up at different times.  So we can ready the toolin

[2021-07-31 02:55] samreid commented on #1054
In https://github.com/phetsims/chipper/issues/1046#issuecomment-889364162 we decided to adopt TypeScript incrementally, starting with sim-specific code.  Therefore, it makes sense to leave chipper itself as JavaScript for the first iteration.  The prior work in this issue served as a proof of concept to make sure we aren't painted into corner, but I'll revert it from the typescript branch for our

[2021-07-31 16:59] samreid opened #1065 "Typescript convention: omit "public" modifier, and generally cluster attributes by public, then private"
The default visibility for typescript fields is public, and when asking WebStorm to convert a private to public member, it does so by removing the "private" modifier, not by switching to public. Still, things look a little less columnar if some things are marked with visibility and some are not.  Here is an example from GravityAndOrbitsModel:

[code]

[code]

I'm not sure which I like more, so I'd

[2021-07-31 23:05] samreid commented on #1018
I added a note to work on this Friday Aug 6, unassigning until then.

[2021-07-31 23:06] samreid commented on #1018
After we have annual, we can work on:
https://github.com/phetsims/phetmarks/issues/54
https://github.com/phetsims/chipper/issues/1064

[2021-07-31 23:07] samreid commented on #1064
Unassigning until phetsims/chipper#1018 is complete.

[2021-08-05 17:05] samreid commented on #1018
Working with @mattpen, we reverted the revert commits and tested chains rc and production, and a new RC of chains so it would pick up fresh chipper SHAs.  Everything checked out OK.  We coordinated with @zepumph to make sure we got a good merge on daily-grunt-work.sh.  No problems noted so far.  I'll notify slack and the google group, and let's keep alert for problems related to this change.

[2021-08-05 17:18] arouinfar opened #1066 "Should colorProfile query parameter be public?"
During discussion of https://github.com/phetsims/joist/issues/734, I noticed that `colorProfile` is not listed as public in [initialize-globals.js](https://github.com/phetsims/chipper/blob/master/js/initialize-globals.js). However, this query parameter has been disseminated to the public in Teacher Tips and PhET-iO client guides. It appears to be working fine in published sims, for example: https:

[2021-08-05 17:19] samreid commented on #1066
It seems straightforward to mark it as public, still I will mark this for dev meeting to touch base and confirm that plan.

[2021-08-05 17:24] pixelzoom commented on #1018
These changes definitely warrant an announcement on the Google Group. Is that on the TODO list?

[2021-08-05 17:27] pixelzoom commented on #1018
- [ ] All of the sim README.md files need to be updated to include cloning of annual.

- [ ] PhET Development overview example needs to be updated to include cloning of annual.

[2021-08-05 18:47] zepumph commented on #1018
Don't forget about the TODOs in https://github.com/phetsims/chipper/issues/1018#issuecomment-893648510

[2021-08-05 18:50] chrisklus commented on #1018
From 8/5/21 dev meeting:

Since perennial and annual should be kept in sync, we would like to investigate a post-push hook to pull annual if it's on the same branch as perennial.

MK: post-push hooks don't exist. We will keep thinking about it. pre-push vocal reminder to pull annual?

SR: Glad we made devs aware, hopefully someone will come up with an idea for the best workflow when encountering t

[2021-08-05 19:10] chrisklus commented on #1018
We changed our mind to `perennial-alias`

[2021-08-05 19:24] zepumph commented on #1018
- [ ] Don't forget that we likely don't need `winston` in chipper anymore.

[2021-08-05 19:31] chrisklus commented on #1066
We confirmed that this would be straightforward (it is type `string`, and uses `validValues`, so it is definitely validatable.

Whoever marks it as public should remember to update the query parameter spreadsheet.

@pixelzoom recommends omitting the spreadsheet of public query parameters and using tooling to dump the public ones used in the phet codebase.

[2021-08-05 21:44] samreid commented on #1018
@pixelzoom recommendations from https://github.com/phetsims/chipper/issues/1018#issuecomment-893648510 got buried by commits, so I'll copy them here:

Loose ends:

- [ ] Make an annoucement about these breaking changes in the Google Group.
- [ ] README.md files need to be regenerated to include `git clone https://github.com/phetsims/perennial.git`
- [ ] [PhET Development Overview](https://github.c

[2021-08-05 22:00] samreid commented on #1018
@pixelzoom recommendations from https://github.com/phetsims/chipper/issues/1018#issuecomment-893648510 got buried by commits, so I'll copy them here:

Loose ends:

- [ ] Make an annoucement about these breaking changes in the Google Group.
- [ ] README.md files need to be regenerated to include `git clone https://github.com/phetsims/perennial.git`
- [ ] [PhET Development Overview](https://github.c

[2021-08-06 14:11] pixelzoom commented on #1066
Tracking in https://github.com/phetsims/query-string-machine/issues/46.  In the meantime, please DO add `colorProfile` to the spreadsheet.

[2021-08-06 16:00] mattpen commented on #1018
@samreid - there was a build failure last night due to the perennial-alias repo.  This was during an `ar` translation of build-an-atom 1.6.16.

`Aug 05 23:35:48 phet-server.int.colorado.edu build-server[11555]: `

[code]

Should we check out eb080df17e7d77102f410d5d036a23e12c48172e and restart the build server?

[2021-08-06 17:44] samreid opened #1067 "tsc --build can pass even when there is a problem introduced by a dependency"
Follow these steps:

(1) in GravityAndOrbitsScene.ts, add a line like:

[code]

(2) run tsc -b in gravity-and-orbits, it should fail
(3) Then in PhetioObject.js, comment out `this.tandem=DEFAULTS.tandem`
(4) run tsc -b in gravity and orbits, it should succeed since tandem now has `any` type.
(5) restore PhetioObject.js
(6) run tsc -b in gravity and orbits, it should fail like it did in step (2) si

[2021-08-06 17:53] samreid commented on #1067
For now, perhaps we should use `--clean` for builds, since it is important to catch all the errors.  The code output is the same, but it can be important to error out if there is a type error.  But maybe we would catch it in the IDE in advance, but it seems flaky for the builds to not catch this.  Also, if we run `--clean` all the time, it will significantly hamper our workflow.

[2021-08-06 18:14] samreid opened #1068 "Scenery build standalone doesn't show changes"
We tried converting SCENERY/Node to *.ts and adding a console.log, but after running `grunt` in scenery and running hello-world, we aren't seeing the console.log.

[2021-08-06 18:22] samreid commented on #1068
We had a bad tsconfig file, this was not a problem, closing.

[2021-08-06 18:22] #1068 closed

[2021-08-06 20:14] samreid opened #1069 "Approve migration of common code repos to TypeScript"
https://github.com/phetsims/chipper/issues/1046#issuecomment-889364162 says:

However, today @jonathanolson and I agreed that we would like to move AXON/Property to TypeScript very early on, so we can add generics.  Even basic generic support such as:

<details>

[code]

</details>

would be very helpful.  We don't want to write sim-specific code that uses `Property` only to have to come back late

[2021-08-06 20:17] samreid opened #1070 "Add tsconfig files to the appropriate repos"
For the feasibility prototype, tsconfig files have been aggregated in chipper.  However, it is more appropriate to put the tsconfig files in the corresponding repos.  I have avoided doing this until now since I didn't want to introduce any overhead or burden on JavaScript development.  But @jonathanolson and I discussed it today, and think we can go ahead and do this.  The only burden that we are

[2021-08-06 20:36] samreid commented on #1069
Chris Malley  2:21 PM
Understood.  Just keep in mind the impact on 3rd parties.  The moment that we add TypeScript to common code, we’ll be throwing a giant curveball at anyone who is writing PhET sims. Should they be given some notice?
2:21
If it were me and you switched to TypeScript with no warning, I’ll be upset.

Sam Reid  2:22 PM
I guess we should message the Google Group?
2:23
Also, we shou

[2021-08-06 20:40] samreid opened #1071 "Merge typescript branches to master"
One of the next steps for TypeScript migration will be to merge the typescript branches to master (currently chipper, perennial, studio, gravity-and-orbits).  This will enable TypeScript in the build stack.  However, we cannot do this until the other issues in https://github.com/phetsims/chipper/milestone/1 are, and density needs to have RC SHAs.

[2021-08-06 20:48] samreid commented on #1070
In Slack, I said:

@pixelzoom said:

I replied:

@pixelzoom said:

[2021-08-06 20:49] samreid opened #1072 "CT needs a `grunt tsc -b` all step when pulling"
CT needs a `grunt tsc -b` all step when pulling

[2021-08-06 20:49] samreid opened #1073 "phettest should run output-js"
phettest needs a `grunt tsc -b` all step when pulling

[2021-08-06 20:52] samreid opened #1074 "Download types from lodash"
We would like to get the lodash d.ts file so it can understand lodash typing.  Currently we have an `any` stub in phet-types.d.ts.

[2021-08-06 20:55] samreid commented on #1053
Maybe we can create a TypeScript type that means: an object that can have any keys, but the values are all `string`.

[2021-08-06 20:59] samreid commented on #1018
@mattpen can you speculate as to why /data/share/phet/phet-repos/perennial-alias/ is missing winston?  Would manually running `npm install` in that directory help?

[2021-08-06 22:53] mattpen commented on #1018
I ran `sudo -u phet-admin npm i` in `/data/share/phet/phet-repos/perennial-alias`, then submitted an arabic translation of chains.  The build worked without error.

[2021-08-07 11:42] zepumph commented on #1018
But the real issue is to find where In the build server process we need to add a call to npm update perennial-alias. Until the  this is just a bandaid until another dependency is added for files used by chipper in -alias. That is the root issue here.

[2021-08-07 16:32] zepumph commented on #1018
- [ ] We need to reupdate the clone commands, see https://github.com/phetsims/chipper/blob/d9391a46ecd9174c6556af6e3125774266df85b9/js/grunt/generateREADME.js#L30-L36 for outdated usages of "annual"

[2021-08-07 16:33] zepumph commented on #1018
Oh shoot! I deleted the above command because I thought I had pulled fully in chipper, but I had not. Nevermind.

[2021-08-10 16:41] samreid opened #1075 "Add a typescript flag"
I said in slack:

@jonathanolson replied:

I want to note this is contrary to a comment in https://github.com/phetsims/chipper/issues/1046#issuecomment-889364162, but seems good as a temporary solution to avoid branch merging complications, which we have already faced.